span.dashBoardMenuItem.active {
    color: @primary-color;
    font-family: 'sunbirdboldfont';
 }

.adminCanvasPadding { 
    padding:20px;
}

.adminCanvasBorder {
    background-color:@white;
    border: 1px solid @card-box-shadowColor ;
    border-radius: 5px;
}

.chart-slider {
	position: relative;
	float: right;
    top: 40px;
}

.ui.card.adminDashboardCard {
	width:330px;
}
