span.dashBoardMenuItem.active {
    color: @primary-color !important;
    font-family: 'sunbirdboldfont' !important;
 }

.dashBoard-dropdownPadding {
     padding-right: 8px !important;
 }

.adminCanvasPadding {
    padding:20px !important;
}

.adminCanvasBorder {
    background-color:@white;
    border: 1px solid #D4D4D5 ;
    border-radius: 5px;
}

.chart-slider {
	position: relative;
	float: right;
    top: 40px;
}

.adminDashboardCard {
	width:330px !important;
}
