.batchCardDropDown {
	float: right;
    font-size: 13px !important;
    padding-right: 12px;
}

.batchCardAlign{
	padding-top: 20px;
}

.headerBatchCard {
	font-weight: 700;
    font-size: 1.18em;
    padding-left: 12px;
 }

.ui.attached.batchCard.button {
    background: @white !important;
    margin: 0 !important;
    width: 100% !important;
}

.batchcardListContent
{
	margin-left: 30px;
	float: left;
	background: @tertiary-color;
	max-height: 250px;
	overflow-y: auto;
	border-top: none !important;
	margin-right: 5px !important;
}


#batchcardList::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: @tertiary-color;
}

#batchcardList::-webkit-scrollbar
{
	width: 6px;
	background-color: @tertiary-color;
}

#batchcardList::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: @custom-scroll-thumb;
}

.batchHeader-logo{
	top: 14% !important;
    height: auto;
    width: 57px !important;
    position: absolute !important;
}

.batch-des label{
	color: @primary-textColor;
	//font-family: "Open Sans";	
	font-size: 13px;	
	font-weight: bold;	 
	line-height: 14px;
}

.des-content{
	color: @primary-textColor;	
	font-family: "Open Sans";	
	font-size: 13px;	
	line-height: 18px;
	padding-top: 12px;
}
.batch-date label{
	color: @primary-textColor;	
	//font-family: "Open Sans";	
	font-size: 13px;	
	font-weight: bold;	
	line-height: 14px;

}
#createBatchModal.ui.modal .createbatchdropdown.ui.selection.dropdown {
	padding-bottom: 2px !important;
    padding-top: 0 !important;
}
#createBatchModal.ui.modal .createbatchdropdown.ui.multiple.search.dropdown>input.search {
	margin: 0 !important;
    
}
#createBatchModal .date-calendar{
	left:-10px !important;
}
#createBatchModal .date-select{
	padding: 1em 0 1em 2em !important;
}

#updateBatchModal.ui.modal .createbatchdropdown.ui.selection.dropdown {
	padding-bottom: 2px !important;
    padding-top: 0 !important;
}
#updateBatchModal.ui.modal .createbatchdropdown.ui.multiple.search.dropdown>input.search {
	margin: 0 !important;
    
}
#updateBatchModal .date-calendar{
	left:-10px !important;
}
#updateBatchModal .date-select{
	padding: 1em 0 1em 2em !important;
}

.batch-list-items .item .ui.avatar.image{
	width: 4em;
    height: 4em;
}
.member label{
	color: @secondary-color;	
	font-size: 13px;	
	font-weight: bold;	
	line-height: 14px;
}

.batchDetailsChips {
    padding: 5px 10px !important;
}

.batchSelectedDetails.ui.list>.item{
	color: @primary-textColor;
}

.selectedBatchMeta.meta{
	color: rgba(0,0,0,.7) !important;
    font-size: 0.89em !important;
    line-height: 2;
}

.selectedBatchContent{
	color: rgba(0, 0, 0, 0.7) !important;
}