.table-headerDashboard {
  color: @primary-color;
  font-family: 'sunbirdboldfont';
}
.dashboard-label{
	font-family: 'sunbirdboldfont';
	font-size: 1.4rem ;
}

.CloseButtonFont{
	font-size: 1.5rem !important;
}

.text-font{
	font-size: small !important;
}
.ui.courseDashBoardTable.table tr td {
	border-top: 0px !important;
}

.corse-graph-navigation-btn{
	position: absolute;
	right:1.6em;
	top:1.6em;
}

.course-graph-holder{
	display: inline;
}

.courseProgressBoardPadding {
    margin-top: -20px !important;
}

.cousreDashboardAlignIcon {
    margin-left:-30px !important;
}