.dash-heading-border {
    border-bottom: 1px dashed @dark-grey;
    overflow: auto;
}

.block-border-bottom {
    border-bottom: 1px solid #ddd;
    padding: 0px 0px 10px 0px;
}

.currentcourse-block-desc {
    line-height: 22px;
    padding-top: 10px;
    padding-left: 20px;
}

.course-intro-big {
    margin-top: 0px;
    line-height: 1;
    display: block;
    padding-bottom: 5px;
}

.course-intro-big span,
.course-intro-small span {
    font-family: 'FrutigerNeueW01-Regular';
    font-size: 1.25em;
}

.course-intro-small {
    font-size: 0.9325em;
    cursor: pointer;
    color: #428bca;
}

.dashboardBadgeText,
.dashboardBadgeText span {
    text-align: center !important;
    margin-top: 20px;
    font-size: 64px;
    margin-bottom: 15px;
    font-family: 'Frutiger Neue W01 UltLt';
    display: block;
    width: 100%;
}

.dynamic-section-card {
    .slider {
        .card {
            position: relative !important;
            background-color: transparent!important;
            box-shadow: none;
            .image {
                img {
                    padding: 0 !important;
                    height: 150px;
                }
                .header {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.2);
                    color: #fff;
                    width: 100%;
                    margin: 0;
                    padding: -30px !important;
                    max-height: 70px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    text-align: center;
                }
            }
            .content {
                background-color: transparent!important;
            }
            .extra {
                border-top: transparent !important;
                .card-rating {
                    .active {
                        color: @blue !important;
                        text-shadow: none !important;
                        padding-top: 0!important;
                    }
                }
            }
        }
    }
}
