.dash-heading-border {
    border-bottom: 1px dashed @primary-textColor;
    overflow: auto;
}


.currentcourse-block-desc {
    line-height: 22px;
    padding-top: 10px;
    padding-left: 20px;
}

.dashboardBadgeText,
.dashboardBadgeText span {
    text-align: center !important;
    margin-top: 20px;
    font-size: 64px;
    margin-bottom: 15px;
    font-family: 'Frutiger Neue W01 UltLt';
    display: block;
    width: 100%;
}

.dynamic-section-card {
    .slider {
        .card {
            position: relative !important;
            background-color: transparent!important;
            box-shadow: none;
            .image {
                img {
                    padding: 0 !important;
                    height: 150px;
                }
                .header {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.2);
                    color: @white;
                    width: 100%;
                    margin: 0;
                    max-height: 70px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    text-align: center;
                }
            }
            .content {
                background-color: transparent!important;
            }
            .extra {
                border-top: transparent !important;
                .card-rating {
                    .active {
                        color: @primary-color !important;
                        text-shadow: none !important;
                        padding-top: 0!important;
                    }
                }
            }
        }
    }
}
