.down-arrow-accordion {
    float: right !important;
    font-size: large !important;
}

ul {
  list-style: none;
}

ul{
	li {
	   margin-bottom:29px;
	   position:relative;
	}
}


ul li span.text {
  margin-right: 43%;
}

/* fancytree-container border remove */
ul.fancytree-container {  
   border: none !important;
        li {
            padding-bottom: 0.8em;
        }
}
.fancytree-lastsib {
    ul{
        li {            
            padding-bottom: 0.8em !important;
        }
    }
}
.fancytree-treefocus{
     outline:none !important;   
}
.title-padding-left {	
	padding-left:8%;
}

ul.courseStr {
   -webkit-padding-start: 0px !important;
}

li.subStr {
  height: 2em;
  padding-top: 1%;
  text-align: center;
  position: relative;
}

li.subStr::before{
  content: '';
  position: absolute;
  top: -3.0em;
  left: -0.1em;
  width: .1em;
  height: 4em;
  background: @card-box-shadowColor;
  z-index: 1;
}
li.subStr::after{
  content: '';
  position: absolute;
  top: 0.9em;
  left: -0.1em;
  width: 3em;
  height: .1em;
  background: @card-box-shadowColor;

}
ul.subList-padding {
   padding-top: 7% !important;
   padding-left: 8% !important;
}

.courseStructureHeader {   
  background-color: @white !important;
  border-bottom: 2px solid rgba(34,36,38,.15) !important;
}
.courseStructureHeaderText{
  padding-top: 2% !important;
	font-size:16px;
	font-weight: bold;
}

.marginTop {
    margin:0 !important;
}
.ui.styled.accordion.title {
    margin: 0;
    padding:2%;
    font-size: 1em;
    padding: .75em 1em;
    color: rgba(0, 0, 0, 0.95);
    /* font-weight: 900; */
    border-top: 1px solid rgba(34,36,38,.15);
    -webkit-transition: background .1s ease,color .1s ease;
    transition: background .1s ease,color .1s ease;
    font-size: 20px;
}
.text-align-center{
  text-align: center !important;
}

.courseHeaderButton {
    padding: 5% !important;
} 

/* margin removed for progress bar*/

.progressBar-margin {
    margin: 0px !important;
}

span.fancytree-title {
  margin: 0px 0px 10px 0px;
}
.noselect {
 -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome and Opera */
           cursor: default !important;
           border:none !important;
           background-color: none !important;
}