.createAnnHeaderDesc {
  font-size: small;
  color: @secondary-textColor;
}

.createAnnStepsIndicator {
  margin-left: 75px;
  background-color: @tertiary-color;
  margin-bottom: auto;
  padding: 10px 20px;
}

.createAnnFormScroller {
  max-height: 400px;
  overflow-y: auto;
  height: 327px
}

.createAnnAttchementHolder {
  overflow-x: hidden;
  max-height: 330px;
  overflow-y: auto;
}

.createAnnErrorMsg {
  border-color: red;
  color: red;
  margin-top: 5px;
}

.createAnnErrorDiv {
  border-color: red ;
  color: red;
}

.announcementHeadingSection {
  font-family: 'sunbirdboldfont';
  font-size: smaller;
}

.ui.modal .announcementForm input.ng-invalid {
  border-color: red !important;
}

.ui.modal .dropdown-margin-left .ui.dropdown>.text {
  margin-left: -1em !important;
}

.dropdown-margin-left {
  margin-left: 1px !important;
}

.createAnnSelectedRecepient {
  font-size: small;
}

.createAnnBackBtnWidth {
  width: 15%;
}

.createAnnBlueClass {
  color: @primary-color;
}

.createAnnMargin5 {
  margin: 5px;
}

.createAnnMargin4 {
  margin: 4px;
}

.createAnnGrayShade {
  color: @secondary-textColor;
}

.line-height-20 {
  line-height: 20px;
}
.annRecipientsSearchIcon{
  margin-left: -10px !important;
}

.btn-width-34 {
  width: 34%;
}
.announcementSteps{
  margin-left: -5px;
}
.margin-left-17{
  margin-left: 17px;
}

