.ui.selection.dropdown {
  height:2.385629em !important;
  min-height:initial !important;
  min-width:13em !important;
}
#contents-data-form {
  border-radius:0;
  height:calc(9.6px) !important;
  border:none;
  padding-left:0 !important;
  overflow-y:auto;
  input, textarea {
    background:none;
    border:none;
    border-bottom:1px solid @file-uploaderColor;
    box-shadow:none;
    border-radius:0;
    padding-left:0 !important;
  }
  input:focus {
    border-bottom:1px solid @primary-color;
  }
  textarea:focus {
    border-bottom:1px solid @primary-color;
  }
}
.form-fields-except-image {
  width:calc(-20px) !important;
  .field {
    margin-bottom:20px !important;
    input {
      padding:0.339054em 1.07692308em !important;
      font-size:12px !important;
      font-family:Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    }
    textarea {
      font-family:Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    }
  }
}
.ui.form .field > label {
  font-family:Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
  font-size:.92857143em !important;
  font-weight:bold !important;
  text-transform:none !important;
  margin:0 0 .28571429rem 0 !important;
  color:rgba(0,0,0,0.82) !important;
}
.ui.form .ng-invalid {
  border-color:red !important;
}
.book-image-container {
  height:100px;
  width:100px;
  border:0.2px solid rgba(192,192,192,0.39);
  position:relative;
  i {
    position:absolute !important;
    top:0 !important;
    bottom:0 !important;
    left:0 !important;
    right:0 !important;
    margin:auto !important;
  }
  img {
    height:100%;
    width:100%;
    position:relative;
    display:inline-block;
  }
}
.book-image-container:hover {
  cursor:pointer;
  i {
    color:black;
  }
}
.book-image-field {
  width:116px !important;
  min-width:116px !important;
  max-width:116px !important;
}
.metadata-form-container {
  margin-top:0;
  border-radius:0;
  height:100% !important;
}
.metacontent-wrapper {
  height:100%;
}
#contents-data-form::-webkit-scrollbar {
  width:0 !important;
}
.header-segment {
  box-shadow:none !important;
  margin-bottom:0 !important;
  border-radius:0 !important;
  border-right:none !important;
  height:90.4px !important;
  border:none !important;
  padding-left:0 !important;
  padding-top:0 !important;
  .ui.breadcrumb {
    background:@tertiary-color;
    padding:1rem;
    width:100%;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif !important;
    > .active.section {
      color:@secondary-textColor;
      font-weight:initial;
    }
  }
  h3 {
    color:rgba(0,0,0,0.7) !important;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif !important;
    left:0;
  }
}
.header-bottom-segment {
  position:absolute !important;
  bottom:0 !important;
  margin:0 !important;
}
.inline-block {
  display:inline-block !important;
}
.header-buttons-container {
  float:right;
  width:50%;
  height:38%;
  padding-right:0;
  right:20px;
  .ui.button {
    min-height:initial !important;
    height:100% !important;
  }
}
.button-overrides {
  font-family:Helvetica !important;
  padding:0.85em 1.5em !important;
  text-transform:none !important;
  border-radius:.25rem !important;
}
.right-float {
  position:relative;
  float:right;
}
#save-button {
  margin-right:0;
}
#update-button {
  margin-right:0;
}
#add-lesson-button:hover {
  background:@primary-color !important;
  color:@white !important;
}