.flagheader{
	color: @primary-textColor !important;
    font-family: "Open Sans" !important;
    font-size: 22px !important;
    font-weight: bold !important;
}

.flag-description{
	padding-left: 1em !important;
    color: @secondary-color !important;
    font-family: "Open Sans" !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
}
.flag-form{
	color: @secondary-color !important;
    font-family: "Open Sans" !important;
    font-size: 10px !important;
    font-weight: bold !important;
    line-height: 14px !important;
}