.homeCard.ui.card {
    max-width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100% !important;
    min-height: 0;
    background: @white;
    padding: 14px 16px 16px 16px;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 @card-box-shadowColor, 0 0 0 1px @card-box-shadowColor;
    -webkit-transition: box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease;
}
.homeHeaderPadding {
    padding: 14px 16px 16px 16px;
}

 .ui.styled.accordion .removeline.title {
    margin: 0;
    padding: 0px 0px 0px 0px !important;
    color: rgba(0,0,0,.4);
    font-weight: 700;
    border-top: none !important;
    -webkit-transition: background .1s ease,color .1s ease;
    transition: background .1s ease,color .1s ease;
}
.accordian-HomeLeft-text {
    font-size: 14px !important;
    color: black !important;
    padding-left: 77% !important;
}
.accordian-homeIcon {
    color: black !important;
}

.ui.styled.accordion .active.title .angle.down.icon {
    background: 0 0;
    color: rgba(0,0,0,.95);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.homePage {
    .slick-slider {
        margin-bottom: 0px !important;
    }
}
.todolabel.ui.label {
    margin-left:0.5em;
}

.homefeedcard.ui.segment{
   padding: 16px 16px 16px 16px; 
}

.homefeeddescription p{
    opacity: 0.67; 
    color: @primary-textColor;
}

.connanswer{
    color: @secondary-color;
    font-family: "Open Sans";
    font-size: 10px;
    line-height: 14px;
}

.sunblogin {
    color: @primary-textColor;
    z-index:11;
}

.ui[class*="right ribbon"].label:after {
    left: auto;
    right: 0;
    border-style: solid;
    border-width: 0em 0em 0 0 !important;
    border-color: transparent;
    border-top-color: inherit;
}
.community-overlay{
    position: absolute;
    top: 4%;
    font-size: 6em;
    left: 25%;
    display: block;    
}
.community-background{
    opacity: 0.3;
    background:gray;
}