.opacity-cardContent {
   opacity: 0.2;
}
    
.card-Content-HeadingFont {
    padding: 0em 0em 1em 1em;
}
.landing-image {
    border-radius: 0.65em;
}

.landing-text {
    padding-top:3em;
}

.landing-text p {
    margin:0;
    font-size: 14px;
}

.landing-grid {
    background-color: @white;
    padding: 50px;
    border-bottom: 1px solid rgba(206, 197, 197, 0.79);
    box-shadow: 0 1px 3px rgba(0,0,0,.075)
}
.image-grid {
    margin: 40px 0 40px 0;
}
.feature-header {
    padding:10px;
}
.announcementCard-header {
   padding: 0;
}
.ui.segment {
    position: relative;
    background: @white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    margin: 1rem 0;
    padding: 20px 20px;
    border-radius: 4px;
    border: 1px solid @segment-border;
}
.annannouncement-description{
   margin-top:11px;
}
.homeCard.ui.card>.content{
    padding:0;
}
.homeCard.ui.card>.content>.header+.description{
     margin-top:11px;
}


