.text-cencapitalize{
   text-transform: capitalize;
}

.popular-section{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
 /* box-shadow: 0 8px 6px -8px @tertiary-color;*/
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.3em;
  
}
.popular-section > .card-section-header{
      font-weight: bold;
}
.mycourses-padding.ui.grid>.column:not(.row){
  padding-top:0;
  margin-bottom:1em;
}