.addnotes i.circular.icon {
    padding: .6em .6em!important;
    position: absolute;
    margin-top: 4px;
}

.circleicon i.link.icon {
    position: absolute;
    margin-top: 6px;
}

.notesearch .ui.input input {
    width: 340px;
}

.notelistscroll {
    height: 600px;
    overflow-y: scroll;
    cursor: pointer;
    border-top: 0;
}

.notelistrightscroll{
    max-height: 600px;
    overflow-y: auto;
    cursor: pointer;
    border-top: 0; 
}

.notelistborder {
    border: 2px solid @notes-listview !important;   
    padding: 10px!important;
}

.ui.items>.item>.content.contentnotelist:hover{
    background-color: @notes-listview;
    box-shadow: 0px 2px 3px @notes-listview;
}
.noteellipsis {
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notedecheader {
    font-weight: 600;
    word-wrap: break-word;
}

.noteListSegment.ui.segment{
    padding: 14px 0px;
    background: @white;
} 

.notedec p{
    word-break: break-all;
}
.contributionsListScroll{
    max-height: 300px;
    overflow-y: auto;
}

.wmd-input {
    height: 150px !important;
}