.profilesettings {
  text-align: right;
}

.profilesttingheader.ui.header {
  color: @secondary-color;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 17px
}

.profileheader.ui.items>.item>.content>.header:not(.ui) {
  font-size: 1.6em;
}

.profileheader.ui.items>.item .meta:last-child {
  color: @secondary-color;
}


/* user avatar on hover effects in profile edit page*/

.userAvtarWrap {
  position: relative;
  max-height: 150px !important;
  max-width: 150px !important;
}

.img-description-layer {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: @white !important;
  visibility: hidden !important;
  opacity: 0.1 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 2em !important;
  border-radius: 50% !important;
  background: rgba(34, 36, 38, .1);
}

.userAvtarWrap:hover .img-description-layer {
  visibility: visible !important;
  opacity: 1 !important;
}

.breadCrumbsBackground{
  background-color:@white;
}
/*profile image header css*/

.header-image-profile {
  height: 100px !important;
  width: 100px !important;
}

/*profile header text css*/

.profile-header-text {
  
   @media only screen and (max-width: 1024px) { 
      padding-left:40px !important;
    }
}

.profile-headerLabelCard {
    margin-left: 0px !important;
    margin-top: 5px !important;
}

