.profilesegmentmargin.ui.segment:first-child {
  margin-top: 20px;
}

.profileitems.ui.items>.item a.header,
.profileitems.ui.items>.item a.header:hover {
  font-family: "Open Sans";
  font-size: 1em!important;
  font-weight: 600!important;       
  line-height: 20px!important;
  color: @secondary-textColor!important;
}

.profileitems.ui.items>.item>.content>a.header,
.profileitems.ui.items>.item>.content>a.header:hover {
  font-family: "Open Sans";
  font-size: 1em!important;
  font-weight: 600!important;
  line-height: 20px!important;
  color: @secondary-textColor!important;
}

.profileitems.ui.items>.item .description {
  color: @secondary-textColor !important;
  font-family: "Open Sans";
  font-size: 0.89em!important;
  line-height: 17px!important;
  margin-top: 0!important;
}

.profileitems .item .metadata .date {
  color: @secondary-textColor !important;
  font-family: "Open Sans";
  font-size: 0.89em!important;
  line-height: 14px!important;
}

.addeditprofile {
  float: right;
  margin: 0 0 0 1em;
}

.profileitems.ui.relaxed.items:not(.horizontal)>.item:not(:last-child) {
  padding: 12px 0 12px 0;
}

.profileitems.ui.relaxed.items:not(.horizontal)>.item:not(:first-child) {
  padding: 12px 0 12px 0;
}

.workspacebutton.ui.card {
  width: inherit;
}

.workspacebutton.ui.card:first-child {
  /*margin-top: 20px;*/
}

.profileitems .ui.avatar.image {
  width: 3em;
  height: 3em;
  border-radius: 0;
}

.profileitems.ui.items>.item .avatar img,
.ui.items>.item img.avatar {
  width: 3em;
  height: 3em;
  border-radius: 0!important;
}

.iniformationcontent {
  color:@secondary-textColor;
}

.formdivider {
  border-bottom: 1px dashed @secondary-color;
  padding-bottom: 10px;
}

.profileitems.ui.items>.item>.image+.content {
  padding-left: 1em!important;
}

.profileViewSubHeader {
  color: @secondary-textColor !important;
  font-size: 1.2em;
}

.profileViewProgress {
  color: @secondary-textColor !important;
  font-size: 1em;
}

.searchListInfo {
  border-bottom: 1px solid rgba(34, 36, 38, .15) !important;
}

.badgesItem.ui.items>.item>.image+.content {
  padding-left: 0.8em !important;
}

.badgesItem.ui.items>.item>.image+.content p{
  font-size: 1.05em!important;
  line-height: 16px!important;
  color: @secondary-textColor !important;
}

.profile-des .item .right.floated.content {
  width: 50% !important;
  text-align: right !important;
  word-break: normal !important;
}
.profile-des .item .right.floated.content span{
  word-break: normal !important
}
.profileUpdateAddDetails{
    font-size: 1em !important;
}

.ui.basic.label {
    border: 1px solid @secondary-color !important;
}

.ui.basic.label:hover {
    border-color: @primary-color !important;
}

.ui.bottom.attached.tabular.menu.userSkillMore {
  justify-content: center;
  height: 0.3em;
  min-height: 1.28571429em;
  margin-top: -0.1em;
}

.userSkillMoreIcon {
  margin-right:-0.4em !important;
}

.ProfilePagePermissionBtn {
    border-radius: 3px !important;
    font-size: 1.1em !important;
    height: 1.5em !important;
    padding: 3px !important;
    margin-left: 10px !important;
}

.ProfilePermissionBtnTop {
    top: 17px !important;  
}

.ui.addSkillsMarginCursor.multiple.dropdown>.label {
   margin: 0.2285714rem .28571429rem .14285714rem 0 !important;
}

.addSkillMoreBtn {
  padding: 10px 10px 14px 15px !important;
}





  
