.resource-padding.ui.grid>.column:not(.row){
  padding-top:0;
  margin-bottom:1em;
}

/*share content modal ui*/

.ui.modal .ui.input.shareContent input {
	border: 1px solid @form-element-border;
	padding:1em 0em 1em 1em;
}

.ui.top.center.popup.contentSharing {
	color: @white;
}

.ui.popup.contentSharing {
    background: @primary-color;
}

.ui.top.popup.contentSharing:before {
    background: @primary-color;
}
