.userSearchImage>img {
	min-height:80px !important;
}
.userSearchButton {	
	margin-top: -5px !important;
}

.userSearchCardHover {
	padding: 10px !important;
}

.ui.items>.userSearchCardHover.item:hover {
	-webkit-box-shadow: 1px 6px 15px 2px rgba(0,0,0,0.15);
	moz-box-shadow: 1px 6px 15px 2px rgba(0,0,0,0.15);
    -o-box-shadow: 1px 6px 15px 2px rgba(0,0,0,0.15);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 100;
    transform: scale(1.07);
    -webkit-transform: scale(1.02);
    background-color: @white;
    border-radius: 5px;
}

.ui.divided.items>.userSearchCardHover.item:first-child {
    padding-top: 10px !important;
}

.ui.divided.items>.userSearchCardHover.item:last-child {   
    padding-bottom: 10px !important;
}

.trashIconAlign {
	margin: -0.2em -0.2em 0em 0em;
}


.selectOrgRoles {
    padding: 20px 11px 10px 10px !important;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}


.orgRolesListView {
    margin: 0 10px 20px 0;
}

.badgeIconAlignment  {
    height: 20px !important;
    width: 20px !important;
    padding-top: 3px;
    margin-right: 15px;
}
