.ui.ordered.list .list>.item:before, ol.ui.list ol li:before {
    margin-left: -2.5em !important;
}

@media only screen and (max-width: 1290px) and (min-width: 992px)  {
    .modals.dimmer .ui.tree-picker.scrolling.modal {
      top: -580px !important;
      position: relative !important;
      margin: 0 0 0 -350px !important;
  }
}

@media only screen and (min-width: 1300px) {
  .modals.dimmer .ui.tree-picker.scrolling.modal {
       top: 60px !important;
      position: relative !important;
      margin: 0 0 0 -373px !important;
  }
}


 @media only screen and (max-width: 1290px) and (min-width: 992px)  {
    .modals.dimmer .ui.modal.updateRoleModel {
      top: 60px !important;
      position: relative !important;
      margin: 0 0 0 -400px !important;
  }
}

@media only screen and (min-width: 1300px) {
  .modals.dimmer .ui.modal.updateRoleModel {
       margin-top: -300px !important;
      position: relative !important;
  }
}