.accordian-left-bottomMargin {
    margin-bottom: 16px !important;
}

.accordian-left-text {
    padding: 2% !important;
    font-size: 16px !important;
    color: black !important;
    font-family: 'sunbirdregularfont' !important;
}

.toc-left-nav-btn-content {
    text-align: left;
    >h4 {
        margin-bottom: 2px;
    }
}

.toc-right-nav-btn-content {
    text-align: right;
    >h4 {
        margin-bottom: 2px;
    }
}

.toc-note {
    font-size: 15px !important;
    margin: 0px !important;
}

.toc-note-content {
    margin-top: 46px !important;
}

.tocbutton {
    white-space: nowrap;
}

.videosegment.ui.segment {
    position: relative;
    background: @secondary-color !important;
    box-shadow: 0 0 0;
    margin: 1rem 0;
    padding: 0;
    border-radius: 0;
    border: 0;
}

.tocplayer.ui.grid {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 6px -8px @tertiary-color;
    padding-top: 0;
    margin-bottom: 1em;
    padding-bottom: 20px;
}

.courseupdate {
    color: @secondary-textColor;
    line-height: 1.6;
    font-size: 1em;
    padding-left:12px;
}

.courseupdate b {
    font-weight: 400;
}

.container-with-button {
    width: 100% !important;
    padding-right: 0px !important;
}

.toc-list {
    list-style: none !important;
    cursor: pointer;
    margin-left: 5px;
}
.fancytree-plain span.fancytree-node span.fancytree-title {
    padding-top: 4px;
    padding-bottom: 4px;
}
.fancytree-plain span.fancytree-node span.fancytree-title .padded i.icon{
      margin: 0px 0.3em 0.24em 0!important;
}
.fancytree-plain span.fancytree-node:hover span.fancytree-title {
    padding-top: 4px;
    padding-bottom: 4px;
}
.fancytree-plain span.fancytree-node:hover span.fancytree-title .padded i.icon{
      margin: 0px 0.3em 0.24em 0!important;
}
span.fancytree-node {
    display: inherit;
    width: 98%!important;
   
}
ul.fancytree-container li {
    padding-bottom: 0.8em;
}

.rightSideSectionCards .content .header a{
    color: @primary-color !important;
    font-size:0.9em !important;
}

.tocNavigationRow {
    top: -25px;
}

.takenoteicon{
    font-size: 2em !important;
    margin: 0 auto 0.8rem !important;
}

.curriculum-content{
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contentdetail{
    color:@secondary-textColor;
    font-size: 13px;
}

.contentMetaDetail{
    color:@secondary-textColor;
    font-size: 13px;
    width:50%;
}

.cardtakenote {
    font-family: 'sunbirdregularfont' !important;
    font-size: 1em;
    color: @primary-color;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    font-family: 'sunbirdregularfont' !important;
    font-size:1em;
    text-decoration: underline;
    
}

.cardtakenote img{
    width: 40px;
    height: 50px;
}

.cardtakenote span{
    display: block;
    padding-top: 8px;
}
.tocCourseStructureImg{
    padding-right: 10px;
    margin-bottom: -4px;
}