.workspaceicon.ui.header>.icon {
  padding-top: 0;
  float: left;
}
.workspaceicon.ui.header:first-child {
  margin-top: 21px;
}
.publicmenusection.ui.vertical.menu {
  padding: 15px 0 0 4px;
}
.publicmenusection.ui.secondary.vertical.menu>.item {
  color: @secondary-textColor;
  text-transform: uppercase;
   font-family: 'sunbirdboldfont';
}
.publicmenusection.ui.secondary.menu .active.item {
  background: linear-gradient(270deg, rgba(218, 218, 218, 0) 0%, @white 100%);
  border-radius: 0;
  color: rgba(0, 0, 0, .95);
  text-transform: uppercase;
  font-family: 'sunbirdboldfont';

}
.publicmenusection.ui.secondary.menu a.item:hover {
  background: linear-gradient(270deg, rgba(218, 218, 218, 0) 0%, @white 100%);
  border-radius: 0;
  color: rgba(0, 0, 0, .95);
}
.workspacesegment {
  margin-top: 0px;
}
.workspacecontent {
  line-height: 45px;
}

.workspacetitle.title {
  color: @primary-textColor;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
.workspaceinstuction {
  text-align: center;
  color: @secondary-textColor;
  font-size: 12px;
}
.dropfile {
  text-align: center;
  color: @secondary-textColor;
  font-size: 12px;
}
.workspacedownload.ui.segment {
  box-sizing: border-box;
  border: 2px solid @secondary-color;
  border-radius: 4px;
  border-style: dashed;
  text-align: center;
}
.uploadicon i.icon {
  font-size: 3em;
  color: @secondary-color;
}
.uploadicon p {
  color: @secondary-textColor;;
  font-family: "Open Sans";
  font-size: 13px;
}
.uploador p {
  color: @secondary-textColor;
  font-family: "Open Sans";
  font-size: 10px;
}
.fileupload.ui.primary.basic.button {
  margin-top: 20px;
}
.filedivider.ui.divider {
  margin: 40px;
}
.iwt {
  display: block;
}
.textcontent {
  display: inline-block;
  margin: 5px 5px 5px -3px;
  white-space: nowrap;
  @media only screen and (max-width: 1200px) {
    white-space: pre-line;
  }
}
.textcontent i.icon {
  font-size: 3.5em;
}
.my-text {
  font-size: 1.063em;
  font-family: 'sunbirdregularfont';
  color: @primary-textColor;
  vertical-align: middle;
}
.my-icon {
  vertical-align: middle;
}
.backtoprofile {
  float: right;
  font-size: 1.1em;
} 
.workspacecontentProfile {
  line-height: 22px;
}
.workspacecontentProfile.ui.card {
  box-shadow: 0 1px 0px 0 @card-box-shadowColor, 0 0 0 1px @card-box-shadowColor;
}
.WorkSpaceTextContent {
  display: inline-block;
  margin: 16px;
  white-space: nowrap;
  @media only screen and (max-width: 1200px) {
    white-space: pre-line;
  }
}
.WorkSpaceTextContent i.icon {
  font-size: 2em;
  padding-right: 10px;
}
.WorkSpaceTextContent .my-text {
  font-size: 1.3em;
  font-family: 'sunbirdboldfont';
}

.selectuploadfile .ui.button {
  margin: 32px 0 0 0;
}
/*trashIcon in address css*/

i.trash.outline.icon.trashIcon-fontSize {
  font-size: 1.5em !important;
}
.youtubeupload.ui.form .inline.fields .field>label {
  text-align: center;
  color: @secondary-color;
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
  font-family: "Open Sans";
}
.orinstuction {
  text-align: center;
  color: @secondary-textColor;
  font-size: 12px;
  padding-top: 40px;
}


/*draft content pagination positioning */

.paginationAlignment {
  padding-right: 6.3em !important;
}


.ui.fluid.bottom.right.popup.upForReviewPopUp {
    top: 25px !important;
    right: 0px !important;
    left: auto;
    bottom: auto;
    width: 850px !important;

   @media only screen and (max-width: 1200px) {
      top: 25px !important;
      right: 0px !important; 
      width: 600px !important;   
   }
  @media only screen and (max-width: 1300px) {
      top: 25px !important;
      right: 0px !important;
      width: 750px !important;   
   }

}

.ui.fluid.bottom.right.popup.upForReviewPopUp:before {
    right: 14em;
}
   