<!-- <sui-modal [isClosable]="true" #unenrollBatch (dismissed)="redirect()">
    <div class="header">{{resourceService.frmelmnts.lbl.unenrollMsg}}</div>
    <div class="actions">
        <button class="ui primary  button announcement-button" (click)="unenrollBatch.deny();">{{resourceService.frmelmnts.btn.cancel}}</button>
        <button class="ui primary basic button announcement-button" [disabled]="disableSubmitBtn" id="unenrollFromCourse" (click)="unenrollFromCourse()">{{resourceService.frmelmnts.btn.unenroll}}</button>
    </div>
 </sui-modal> -->

 

<sui-modal [isClosable]="true" class="sb-modal sb-warning" [mustScroll]="true" [transitionDuration]="0" [size]="'small'" appBodyScroll #unenrollBatch (dismissed)="redirect()">
    <div class="sb-modal-header">{{resourceService.frmelmnts.lbl.unenrollMsg}}</div>
    <div class="scrolling content sb-modal-content">
 
        <p>{{resourceService.frmelmnts.lbl.unenrollMsg}}</p>

  </div>
  <div class="sb-modal-actions">
      <button class="sb-btn sb-btn-normal sb-btn-tertiary" [disabled]="disableSubmitBtn" id="unenrollFromCourse" (click)="unenrollFromCourse()">{{resourceService.frmelmnts.btn.unenroll}}</button>
 <button class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="unenrollBatch.deny();">{{resourceService.frmelmnts.btn.cancel}}</button>
     </div>
 </sui-modal>