<ng-container *ngIf="!isLayoutAvailable()">
  <div class="item py-8 pr-8 computer only">
    <ng-container *ngFor="let contentType of contentTypes">
      <a *ngIf="contentType.isEnabled" (click)="showContentType(contentType)" [appOnlineOnly]="contentType?.isOnlineOnly"
         [ngClass]="{'active': selectedContentType === contentType.contentType}"
         class="item {{'item--' + getIcon(contentType)}}">
        {{getTitle(contentType)}}
      </a>
    </ng-container>
  </div>
  <div class="item mobile only">
    <ng-container *ngFor="let contentType of contentTypes">
      <div class="profile__actions">
        <ul class="profile__actions__list pl-0">
          <li *ngIf="contentType.isEnabled" (click)="showContentType(contentType);closeSideMenu.emit()" [appOnlineOnly]="contentType?.isOnlineOnly"
              [ngClass]="{'active': selectedContentType === contentType.contentType}"
              class="list-item {{'item--' + getIcon(contentType)}}">
            {{getTitle(contentType)}}
          </li>
        </ul>
      </div>
    </ng-container>
  </div>

</ng-container>

<ng-container *ngIf="isLayoutAvailable()">
  <div class="sb-linkmenu m-0 d-flex flex-ai-center">
    <ng-container *ngFor="let contentType of contentTypes">
      <a *ngIf="contentType.isEnabled" (click)="showContentType(contentType)" [appOnlineOnly]="contentType?.isOnlineOnly"
         [ngClass]="{'active': selectedContentType === contentType.contentType}"
         class="item {{'item--' + getIcon(contentType)}}">
        <span [ngClass]="'sb-icon sb-icon--sm mr-8 sb-icon__'+ getIcon(contentType)"></span>
        {{getTitle(contentType)}}
      </a>
    </ng-container>
  </div>

</ng-container>

