@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

/* new styles */

.sb-icon {
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  mask-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  background: var(--primary-color);
  &--xxs {
    width: var(--icon-svg-xxs);
    height: var(--icon-svg-xxs);
  }

  &--xs {
    width: var(--icon-svg-xs);
    height: var(--icon-svg-xs);
  }

  &--sm {
    width: var(--icon-svg-sm);
    height: var(--icon-svg-sm);
  }

  &--md {
    width: var(--icon-svg-md);
    height: var(--icon-svg-md);
  }

  &--lg {
    width: var(--icon-svg-lg);
    height: var(--icon-svg-lg);
  }

  &--xl {
    width: var(--icon-svg-xl);
    height: var(--icon-svg-xl);
  }

  &__textbooks {
    -webkit-mask-image: url(/assets/images/mask-image/textbooks.svg);
    mask-image: url(/assets/images/mask-image/textbooks.svg);
  }

  &__courses {
    -webkit-mask-image: url(/assets/images/mask-image/courses.svg);
    mask-image: url(/assets/images/mask-image/courses.svg);
  }

  &__quizzes {
    -webkit-mask-image: url(/assets/images/mask-image/quizzes.svg);
    mask-image: url(/assets/images/mask-image/quizzes.svg);
  }

  &__tests {
    -webkit-mask-image: url(/assets/images/mask-image/observation.svg);
    mask-image: url(/assets/images/mask-image/observation.svg);
  }

  &__stories {
    -webkit-mask-image: url(/assets/images/mask-image/stories.svg);
    mask-image: url(/assets/images/mask-image/stories.svg);
  }

  &__poems {
    -webkit-mask-image: url(/assets/images/mask-image/poems.svg);
    mask-image: url(/assets/images/mask-image/poems.svg);
  }

  &__tv {
    -webkit-mask-image: url(/assets/images/mask-image/tv.svg);
    mask-image: url(/assets/images/mask-image/tv.svg);
  }

  &__podcasts {
    -webkit-mask-image: url(/assets/images/mask-image/podcasts.svg);
    mask-image: url(/assets/images/mask-image/podcasts.svg);
  }

  &__all {
    -webkit-mask-image: url(/assets/images/mask-image/all.svg);
    mask-image: url(/assets/images/mask-image/all.svg);
  }
  &__myDownloads   {
    -webkit-mask-image: url(/assets/images/mask-image/download.svg);
    mask-image: url(/assets/images/mask-image/download.svg);
  }
  &__home   {
    -webkit-mask-image: url(/assets/images/mask-image/home.svg);
    mask-image: url(/assets/images/mask-image/home.svg);
  }
  &__explore {
    -webkit-mask-image: url(/assets/images/mask-image/explore.svg);
    mask-image: url(/assets/images/mask-image/explore.svg);
  }
  &__questionSet {
    -webkit-mask-image: url(/assets/images/mask-image/question_set.svg);
    mask-image: url(/assets/images/mask-image/question_set.svg);
  }
}