@import "variables";
@import "mixins/mixins";

/* new styles */
.sb-linkmenu {
  overflow: auto;
  padding: 8px 0;

  .item {
    background: var(--white);
    padding: 8px 16px;
    border-radius: 6px;
    box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.1);
    font-size: 12px;
    font-weight: bold;
    margin-right: 24px;
    height: 48px;
    transition: all ease .3s;
    display: flex;
    align-items: center;

    &.active, &:hover {
      color: var(--white);

      .sb-icon {
        background-color: var(--white);
      }
    }

    &:hover {
      text-decoration: none;
    }

    &--textbook {
      color: #E7800B;

      &:hover, &.item.active, .sb-icon__textbook {
        background-color: #E7800B;
      }
    }

    &--course {
      color: #0531FF;

      &:hover, &.item.active, .sb-icon__course {
        background-color: #0531FF;
      }
    }

    &--test {
      color: #E02020;

      &:hover, &.item.active, .sb-icon__test {
        background-color: #E02020;
      }
    }

    &--quiz {
      color: #0C989B;

      &:hover, &.item.active, .sb-icon__quiz {
        background-color: #0C989B;
      }
    }

    &--story {
      color: #0531FF;

      &:hover, &.item.active, .sb-icon__story {
        background-color: #0531FF;
      }
    }

    &--poem {
      color: #B620E0;

      &:hover, &.item.active, .sb-icon__poem {
        background-color: #B620E0;
      }
    }

    &--tv {
      color: #E02020;

      &:hover, &.item.active, .sb-icon__tv {
        background-color: #E02020;
      }
    }

    &--all {
      color: #B620E0;

      &:hover, &.item.active, .sb-icon__all {
        background-color: #B620E0;
      }
    }
  }
}

.sb-icon {
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  mask-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;

  &--xxs {
    width: var(--icon-svg-xxs);
    height: var(--icon-svg-xxs);
  }

  &--xs {
    width: var(--icon-svg-xs);
    height: var(--icon-svg-xs);
  }

  &--sm {
    width: var(--icon-svg-sm);
    height: var(--icon-svg-sm);
  }

  &--md {
    width: var(--icon-svg-md);
    height: var(--icon-svg-md);
  }

  &--lg {
    width: var(--icon-svg-lg);
    height: var(--icon-svg-lg);
  }

  &--xl {
    width: var(--icon-svg-xl);
    height: var(--icon-svg-xl);
  }

  &__textbook {
    -webkit-mask-image: url(../../../../../assets/images/mask-image/textbook.svg);
    mask-image: url(../../../../../assets/images/mask-image/textbook.svg);
  }

  &__course {
    -webkit-mask-image: url(../../../../../assets/images/mask-image/courses.svg);
    mask-image: url(../../../../../assets/images/mask-image/courses.svg);
  }

  &__quiz {
    -webkit-mask-image: url(../../../../../assets/images/mask-image/quiz.svg);
    mask-image: url(../../../../../assets/images/mask-image/quiz.svg);
  }

  &__test {
    -webkit-mask-image: url(../../../../../assets/images/mask-image/test.svg);
    mask-image: url(../../../../../assets/images/mask-image/test.svg);
  }

  &__story {
    -webkit-mask-image: url(../../../../../assets/images/mask-image/stories.svg);
    mask-image: url(../../../../../assets/images/mask-image/stories.svg);
  }

  &__poem {
    -webkit-mask-image: url(../../../../../assets/images/mask-image/poem.svg);
    mask-image: url(../../../../../assets/images/mask-image/poem.svg);
  }

  &__tv {
    -webkit-mask-image: url(../../../../../assets/images/mask-image/tv.svg);
    mask-image: url(../../../../../assets/images/mask-image/tv.svg);
  }

  &__podcasts {
    -webkit-mask-image: url(../../../../../assets/images/mask-image/podcasts.svg);
    mask-image: url(../../../../../assets/images/mask-image/podcasts.svg);
  }
}
