<ng-container *ngIf="!isLayoutAvailable()">
  <div class="item py-8 pr-8 computer only">
    <ng-container *ngFor="let contentType of contentTypes">
      <a *ngIf="contentType.isEnabled && contentType?.isOnlineOnly" tabindex="0" (click)="showContentType(contentType)" appOnlineOnly
         [ngClass]="{'active': selectedContentType === contentType.contentType}"
         class="item {{'item--' + getIcon(contentType)}}">
        {{getTitle(contentType)}}
      </a>
      <a *ngIf="contentType.isEnabled && !contentType?.isOnlineOnly && isDesktopApp" tabindex="0" (click)="showContentType(contentType)"
         [ngClass]="{'active': selectedContentType === contentType.contentType}"
         class="item {{'item--' + getIcon(contentType)}}">
        {{getTitle(contentType)}}
      </a>
    </ng-container>
  </div>
  <div class="item mobile only">
    <ng-container *ngFor="let contentType of contentTypes">
      <div class="profile__actions">
        <ul class="profile__actions__list pl-0">
          <li *ngIf="contentType.isEnabled && contentType?.isOnlineOnly" tabindex="0" (click)="showContentType(contentType);closeSideMenu.emit()" appOnlineOnly
              [ngClass]="{'active': selectedContentType === contentType.contentType}"
              class="list-item {{'item--' + getIcon(contentType)}}">
            {{getTitle(contentType)}}
          </li>
          <li *ngIf="contentType.isEnabled && !contentType?.isOnlineOnly && isDesktopApp" tabindex="0" (click)="showContentType(contentType);closeSideMenu.emit()"
              [ngClass]="{'active': selectedContentType === contentType.contentType}"
              class="list-item {{'item--' + getIcon(contentType)}}">
            {{getTitle(contentType)}}
          </li>
        </ul>
      </div>
    </ng-container>
  </div>

</ng-container>

<ng-container *ngIf="isLayoutAvailable() && !showBackButton">
  <div class="sb-linkmenu m-0 d-flex flex-ai-center">
    <ng-container *ngFor="let contentType of contentTypes">
      <a *ngIf="contentType.isEnabled && contentType?.isOnlineOnly" tabindex="0" (click)="showContentType(contentType)" (keyup.enter)="showContentType(contentType)" appOnlineOnly
         [ngClass]="{'active': selectedContentType === contentType.contentType}"
         class="item {{'item--' + getIcon(contentType)}}">
        <span [ngClass]="'sb-icon sb-icon--sm mr-8 sb-icon__'+ getIcon(contentType)"></span>
        {{getTitle(contentType)}}
      </a>
      <a *ngIf="contentType.isEnabled && !contentType?.isOnlineOnly && isDesktopApp" tabindex="0" (keyup.enter)="showContentType(contentType)" (click)="showContentType(contentType)"
        [ngClass]="{'active': selectedContentType === contentType.contentType}"
        class="item {{'item--' + getIcon(contentType)}}">
        <span [ngClass]="'sb-icon sb-icon--sm mr-8 sb-icon__'+ getIcon(contentType)"></span>
        {{getTitle(contentType)}}
      </a>
    </ng-container>
  </div>

</ng-container>

<div *ngIf="isLayoutAvailable() && showBackButton">
  <div class="">
    <div class="ui container d-flex flex-ai-center">
      <button (click)="goBack()"
        class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn sb-btn-round" type="button"><i
          class="icon-svg icon-svg--xxs icon-back mr-4"><svg class="icon icon-svg--primary">
            <use xlink:href="assets/images/sprite.svg#arrow-long-left"></use>
          </svg></i><span>{{resourceService?.frmelmnts?.btn?.back}}</span> </button>
      <div class="d-flex flex-dc ml-16">
        <h4 class="mb-4 text-capitalize">{{showingResult}}</h4>
        <div class="fsmall"></div>
      </div>
    </div>
  </div>
</div>

