@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
@use "../main-header/main-header.component.scss" as *;

:host ::ng-deep {
  .sb-linkmenu {
    .item {
      html[dir="rtl"] & {
      margin-left: calculateRem(12px);
      margin-right: inherit;
      }
    }
}
}
.item a.item.active, .item a.item:hover {
  outline: none;
  color: var(--sb-linkmenu-active-text) !important;
}
.item a.item.active {
  font-weight: bold;
}
/* new styles */

.sb-linkmenu {
  // overflow: auto;
  // padding: 0 0 calculateRem(8px) 0;
  .item {
    background: var(--sb-linkmenu-bg);
    padding: calculateRem(8px) calculateRem(16px);
    border-radius: calculateRem(6px);
    box-shadow: var(--sbt-box-shadow-6px);
    font-size: calculateRem(12px);
    font-weight: bold;
    margin-right: calculateRem(12px);
    height: calculateRem(48px);
    transition: all ease .3s;
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    color: var(--sb-linkmenu-text);
    @include respond-above(md){
      flex: 0 0 10%;
    }
    &.active,
    &:hover {
      color: var(--sb-linkmenu-text-hover);
      text-decoration: none;
      background-color: var(--primary-color);
      .sb-icon {
        background-color: var(--sb-linkmenu-text-hover);
      }
    }
/*
    &--textbooks {
      color: var(--sbt-textbooks-text);
      &:hover,
      &.item.active,
      .sb-icon__textbooks {
        background-color: var(--sbt-textbooks-bg);
      }
    }
    &--courses {
      color: var(--sbt-courses-text);
      &:hover,
      &.item.active,
      .sb-icon__courses {
        background-color: var(--sbt-courses-bg);
      }
    }
    &--tests {
      color: var(--sbt-tests-text);
      &:hover,
      &.item.active,
      .sb-icon__tests {
        background-color: var(--sbt-tests-bg);
      }
    }
    &--quizzes {
      color: var(--sbt-quizzes-text);
      &:hover,
      &.item.active,
      .sb-icon__quizzes {
        background-color: var(--sbt-quizzes-bg);
      }
    }
    &--stories {
      color: var(--sbt-stories-text);
      &:hover,
      &.item.active,
      .sb-icon__stories {
        background-color: var(--sbt-stories-bg);
      }
    }
    &--poems {
      color: var(--sbt-poems-text);
      &:hover,
      &.item.active,
      .sb-icon__poems {
        background-color: var(--sbt-poems-bg);
      }
    }
    &--tv {
      color: var(--sbt-tv-text);
      &:hover,
      &.item.active,
      .sb-icon__tv {
        background-color: var(--sbt-tv-bg);
      }
    }
    &--all {
      color: var(--sbt-all-text);
      &:hover,
      &.item.active,
      .sb-icon__all {
        background-color: var(--sbt-all-bg);
      }
    }
    */
  }
}

.sb-icon {
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  mask-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  background: var(--primary-color);
  &--xxs {
    width: var(--icon-svg-xxs);
    height: var(--icon-svg-xxs);
  }

  &--xs {
    width: var(--icon-svg-xs);
    height: var(--icon-svg-xs);
  }

  &--sm {
    width: var(--icon-svg-sm);
    height: var(--icon-svg-sm);
  }

  &--md {
    width: var(--icon-svg-md);
    height: var(--icon-svg-md);
  }

  &--lg {
    width: var(--icon-svg-lg);
    height: var(--icon-svg-lg);
  }

  &--xl {
    width: var(--icon-svg-xl);
    height: var(--icon-svg-xl);
  }

  &__textbooks {
    -webkit-mask-image: url(/assets/images/mask-image/textbooks.svg) !important;
    // mask-image: url(/assets/images/mask-image/textbooks.svg);
  }

  &__courses {
    -webkit-mask-image: url(/assets/images/mask-image/courses.svg) !important;
    // mask-image: url(/assets/images/mask-image/courses.svg);
  }

  &__quizzes {
    -webkit-mask-image: url(/assets/images/mask-image/quizzes.svg) !important;
    // mask-image: url(/assets/images/mask-image/quizzes.svg);
  }

  &__tests {
    -webkit-mask-image: url(/assets/images/mask-image/observation.svg) !important;
    // mask-image: url(/assets/images/mask-image/observation.svg);
  }

  &__stories {
    -webkit-mask-image: url(/assets/images/mask-image/stories.svg) !important;
    // mask-image: url(/assets/images/mask-image/stories.svg);
  }

  &__poems {
    -webkit-mask-image: url(/assets/images/mask-image/poems.svg) !important;
    // mask-image: url(/assets/images/mask-image/poems.svg);
  }

  &__tv {
    -webkit-mask-image: url(/assets/images/mask-image/tv.svg) !important;
    // mask-image: url(/assets/images/mask-image/tv.svg);
  }

  &__podcasts {
    -webkit-mask-image: url(/assets/images/mask-image/podcasts.svg) !important;
    // mask-image: url(/assets/images/mask-image/podcasts.svg);
  }

  &__all {
    -webkit-mask-image: url(/assets/images/mask-image/all.svg) !important;
    // mask-image: url(/assets/images/mask-image/all.svg);
  }
  &__myDownloads   {
    -webkit-mask-image: url(/assets/images/mask-image/download.svg) !important;
    // mask-image: url(/assets/images/mask-image/download.svg);
  }
  &__home   {
    -webkit-mask-image: url(/assets/images/mask-image/home.svg) !important;
    // mask-image: url(/assets/images/mask-image/home.svg);
  }
  &__explore {
    -webkit-mask-image: url(/assets/images/mask-image/explore.svg) !important;
    // mask-image: url(/assets/images/mask-image/explore.svg);
  }
  &__questionSet {
    -webkit-mask-image: url(/assets/images/mask-image/question_set.svg) !important;
    // mask-image: url(/assets/images/mask-image/question_set.svg);
  }
}
html[layout=joy] .help-page .help-page__header {
  border-radius: 1.5rem 1.5rem 0 0 !important;
   width: 100%;
  background: var(--sbt-page-header-bg) !important;
 }
