<sui-modal *ngIf="showSelectImageModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
  [size]="'large'" class="sb-modal sb-imagemodal" appBodyScroll (dismissed)="closeModel()" #modal>
  <div class="d-flex flex-ai-center sb-modal-header">
    <img src="assets/images/image.svg" width="24px" height="20px" class="mr-8">
    {{resourceService.frmelmnts?.lbl?.selectImage}}
  </div>
  <div class="sb-modal-content">
    <div class="image-tabs px-8">
      <input class="image-input" id="tab1" type="radio" name="tabs" checked>
      <label for="tab1" class="image-label">{{resourceService.frmelmnts?.lbl?.myImages}}</label>

      <input class="image-input" id="tab2" type="radio" name="tabs">
      <label for="tab2" class="image-label">{{resourceService.frmelmnts?.lbl?.allImages}}</label>

      <section id="content1">
        <div class="twelve wide column">
          <div class="sb-search-box mb-16">
            <div class="input-div relative">
              <input class="sb-search-input" [(ngModel)]="imageName" (keyup.enter)="searchImage()" type="text"
                placeholder="Search Image..." />
              <i class="close icon"></i>
              <i class="search icon"></i>
            </div>
          </div>
          <div class="ui grid m-0">
            <div class="three wide column p-8" *ngFor="let image of imagesList">
              <div class="ui card text-center common-contribution-card active">
                <div class="content">
                  <img [src]="image?.artifactUrl" (click)="selectLogo(image)" rel="placeholder">
                </div>
                <div *ngIf="image?.versionKey === selectedLogo?.versionKey" class="selected-mark"><img
                    src="assets/images/checkbox-icon.svg" width="24px" height="24px"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="content2">
        <div class="twelve wide column">
          <div class="sb-search-box mb-16">
            <div class="input-div relative">
              <input class="sb-search-input" type="text" placeholder="Search Image..." />
              <i class="close icon"></i>
              <i class="search icon"></i>
            </div>
          </div>
          <div class="ui grid m-0">
            <div class="three wide column p-8">
              <div class="ui card text-center common-contribution-card">
                <div class="content">
                  <img src="assets/images/book.png" rel="placeholder">
                </div>
              </div>
            </div>
            <div class="three wide column p-8">
              <div class="ui card text-center common-contribution-card">
                <div class="content">
                  <img src="assets/images/book.png" rel="placeholder">
                </div>
              </div>
            </div>
            <div class="three wide column p-8">
              <div class="ui card text-center common-contribution-card">
                <div class="content">
                  <img src="" rel="placeholder">
                </div>
              </div>
            </div>
            <div class="three wide column p-8">
              <div class="ui card text-center common-contribution-card">
                <div class="content">
                  <img src="assets/images/book.png" rel="placeholder">
                </div>
              </div>
            </div>
            <div class="three wide column p-8">
              <div class="ui card text-center common-contribution-card">
                <div class="content">
                  <img src="assets/images/book.png" rel="placeholder">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="sb-modal-actions d-flex flex-jc-space-between flex-ai-center">
    <div class="d-flex flex-ai-center relative">
      <button class="sb-btn sb-btn-normal sb-btn-error mr-4" (click)="closeModel()">
        {{resourceService?.frmelmnts?.btn?.cancel}}
      </button>
      <div class="or-toggle">
        <span>{{resourceService.frmelmnts?.lbl?.or}}</span></div>
      <button class="sb-btn sb-btn-normal sb-btn-primary" [disabled]="!selectedLogo"
        [ngClass]="{'sb-btn-disabled' : !selectedLogo}" (click)="selectAndUseLogo()">
        {{resourceService?.frmelmnts?.lbl?.Select}}
      </button>
    </div>
    <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="browseImages()">
      {{resourceService.frmelmnts?.lbl?.uploadAndUse}}
    </button>
  </div>
</sui-modal>

<!--  upload modal -->
<sui-modal *ngIf="showUploadUserModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'large'"
  class="sb-modal sb-uploadmodal" appBodyScroll (dismissed)="closeModel()" #modal>
  <div class="d-flex flex-ai-center sb-modal-header">
    <img src="assets/images/upload.svg" width="24px" height="20px" class="mr-8">
    {{resourceService.frmelmnts?.lbl?.uploadAndUse}}
  </div>
  <div class="sb-modal-content px-24 sb-bg-color-white">
    <div class="twelve wide column">
      <div class='ui stackable grid mt-0'>
        <div class="six wide column">
          <label>{{resourceService?.frmelmnts?.lbl?.chooseImageNote}}</label>
          <div class="choose-img-box"><input (change)="fileChange($event)" class="sb-btn-upload upload-btn fnormal" name="file" type="file"></div>
          <div class="ui info message">
            <ol class="ui list">
              <li class="fsmall">{{resourceService?.frmelmnts?.lbl?.chooseImageType}} {{imageDimensions[logoType.type]?.type}}</li>
              <li class="fsmall">{{resourceService?.frmelmnts?.lbl?.chooseImageSize}}</li>
              <li class="fsmall">{{resourceService?.frmelmnts?.lbl?.chooseImagedimensions}} {{imageDimensions[logoType.type]?.dimensions}}</li>
            </ol>
          </div>
          <div>
            <label>{{resourceService?.frmelmnts?.lbl?.copyrights}}<span class="asterik">*</span></label>
            <p class="fsmall">{{resourceService?.frmelmnts?.lbl?.uploadlicense}}</p>
          </div>
        </div>
        <div class="six wide column pl-0">
          <div [formGroup]="uploadForm" class="border-line">
            <div class="ui info message p-16">
              <div class="d-flex">
                <img src="assets/images/information-icon.svg" width="24px" height="22px" class="mr-8">
                <div class="fsmall" class="drop-img-text fsmall"> {{resourceService?.frmelmnts?.lbl?.imageDrapAndDrop}}
                </div>
              </div>
            </div>

            <div class="sb-field mb-16">
              <label>{{resourceService?.frmelmnts?.lbl?.assetCaption}} <span class="asterik">*</span></label>
              <div class="sb-field">
                <input formControlName="assetCaption" class="sb-form-control is-valid" placeholder="Enter asset caption">
              </div>
            </div>
            <div class="sb-field">
              <label>{{resourceService?.frmelmnts?.lbl?.creator}}</label>
              <div class="sb-field">
                <input formControlName="creator" class="sb-form-control is-valid" placeholder="Enter Name">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="sb-modal-actions d-flex flex-jc-space-between flex-ai-center">
    <div class="d-flex flex-ai-center relative">
      <button class="sb-btn sb-btn-normal sb-btn-error mr-4" (click)="back()">
        {{resourceService?.frmelmnts?.btn?.cancel}}
      </button>
      <div class="or-toggle">
        <span>{{resourceService.frmelmnts?.lbl?.or}}</span></div>
      <button class="sb-btn sb-btn-normal sb-btn-primary"
      [ngClass]="{'sb-btn-disabled': (!uploadForm.valid || !fileObj)}" [disabled]="(!uploadForm.valid || !fileObj)" (click)="upload()">
      {{resourceService.frmelmnts?.lbl?.uploadAndUse}}
      </button>
    </div>
    <button class="sb-btn sb-btn-normal sb-btn-gray" (click)="back()">
      {{resourceService?.frmelmnts?.btn?.back }}
    </button>
  </div>
</sui-modal>