@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.common-contribution-card-container {
  flex-basis: 25%;
}

.common-contribution-card {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: calculateRem(148px);
  min-height: 0;
  padding: 0;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  transition: box-shadow .1s ease,transform .1s ease;
}

.selected-mark {
  position: absolute;
  right: calculateRem(8px);
  top: calculateRem(8px);
}
