<!DOCTYPE html>
<html lang="en" ng-app="adminDashboard">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>SunBird</title>
    <script type="text/javascript" src="https://fast.fonts.net/jsapi/6bb78b32-9b12-4a14-9179-8de98470e4b1.js"></script>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css" type="text/css">
    <link rel="stylesheet" href="/css/custom.css" type="text/css">
    <link rel="stylesheet" href="/css/app.css" type="text/css">
    <link rel="stylesheet" href="/css/dashboard.css" type="text/css">
    <link rel="stylesheet" href="/css/ilimi.css" type="text/css">

    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-style.css">
    <link rel="stylesheet" href="/css/MetroJs.lt.css" type="text/css" />
    <link rel="stylesheet" href="/css/rs-carousel-min.css" type="text/css" media="all" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .input-group-addon {
            font-size: 15px;
            text-align: right;
            width: 210px;
        }
        .input-group-addon i {
            font-size: 20px;
        }

        .input-group {
            padding-bottom: 10px;
        }
        .author > small > p {
            padding: 0px;
        }
    </style>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/angular-ui-router.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>
<body id="module-body" ng-controller="DashboardCtrl" ng-cloak class="ng-cloak">
    <header class="nav-down">
        <% include ./includes/header %>
    </header>
    <section class="mid-container-full" ng-cloak>
        <div class="mid-container" style="min-height: 450px">
            <div class="col-sm-1 NavContentz leftbarshadow">
            </div>
            <div class="middleContainer">
                <div class="mid-area scrollstyle" ng-cloak>
                    <div class="mid_content" ng-show="contentLoaded">
                        <div class="col-md-12" ng-hide="showCourse || showCourseSettings">
                            <div><% include ./admin/dashboardAllCourses.html %></div>
                        </div>
                        <div class="col-md-12" ng-show="showCourse">
                            <div><% include ./admin/dashboardViewCourse.html %></div>
                        </div>
                        <div class="col-md-12" ng-show="showCourseSettings">
                            <div><% include ./admin/dashboardCourseSettings.html %></div>
                        </div>
                    </div>
                    <% include ./includes/footer %>
                </div>
            </div>
            <div class="RightSideBar">
                <div class="sidebarContainerz">
                </div>
            </div>
        </div>
    </section>
</body>
<script src="/js/controllers/adminDashboardController.js"></script>
<script src="/js/controllers/coachDashboardController.js"></script>
<script src="/js/controllers/loginController.js"></script>
<script src="/js/angular-radial.js"></script>
<script src="/js/angular-file-upload.min.js"></script>
<script src="/js/angular-readable-time.min.js"></script>

<script src="/js/custom.js"></script>
<script src="/js/student-custom.js"></script>
<script src="/js/MetroJs.lt.min.js"></script>
<script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/js/jquery.rs.carousel.js"></script>
<!-- <script src="/js/custom.js"></script> -->
<script src="/js/angular-sanitize.min.js"></script>
<script src="/js/bootstrap-filestyle.min.js"></script>
<script src="/js/jquery.numeric.min.js"></script>

<script>

$(document).ready(function() {
    setTimeout(function() {
        $('.number').numeric();
        $('.number').focusout(function() {
            if(this.value > 10 || this.value < 0) {
                this.value = 0;
            } else {
                this.value = parseInt(this.value);
            }
        });
    },1000);
});

function navigateTo(path, param) {
    document.location.href = path + encodeURIComponent(param);
}

function windowHeight1() {
    var windowH = $(window).outerHeight();
    var headerH = $("header").outerHeight();
    var footerH = $("footer").outerHeight();
    $(".RightSideBar").height(windowH - headerH);
    $(".mid-area").height(windowH - headerH);
    $(".customHeight").height(windowH - headerH);
    $(".NavLeftContainer:first-child ul").height(windowH - headerH);
    //$(".video-container iframe,.video-container").height(windowH - 350 );

}

setTimeout(function() {
    windowHeight1();
}, 500);

</script>

</html>
