<!DOCTYPE html>
<html lang="en">

	<% include includes/header %>
	
	<h1>Index Page</h1>
	
	<% include includes/footer %>
	<script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  
</html>