<div class="ui grid">
    <div class="twelve wide column">
        <div ng-init="allUploadedContent.getAllUploadedContent();contentModelSetBackLink();">
            <div ng-if="!allUploadedContent.loader.showLoader">
                <div class="ui three stackable cards" ng-if="allUploadedContent.allUploadedContentData.length > 0">
                    <div class="card" ng-repeat="item in allUploadedContent.allUploadedContentData track by $index" ng-init="$last && allUploadedContent.initTocPopup()" in-view="allUploadedContent.lineInView($index, $inview, item, 'AllUploads')" in-view-options="{ throttle: 1000 }">
                        <div class="image imageInCardsResponsive " ng-click="allUploadedContent.openContentEditor(item)">
                            <div class="ui fluid image mouse-pointer">
                                <span class="ui black right ribbon label">{{item.contentType}}</span>
                                <img ng-src=" {{item.appIcon ? item.appIcon : '/common/images/default.png'}} ">
                            </div>
                            <div class="cardImageText center aligned mouse-pointer">
                                <span class="sliderCardHeading text-cencapitalize ">
                                    {{ item.name | limitTo: 15 }}&nbsp;
                                    <i class="ellipsis horizontal icon link cardTitleEllipse" ng-show="item.name.length>= 15"
                                    data-content="{{item.name}}" data-position="top center">
                                    </i>
                                </span>
                            </div>
                        </div>
                        <div class="sliderCards content">
                            <div class="sliderCardDesc">
                                {{ item.description | limitTo: 45 }}&nbsp;<i ng-show="item.description.length >= 45" class="ui ellipsis horizontal icon popup-button link"></i>
                            </div>
                        </div>
                        <div class="extra content">
                            <a href="javascript:void(0);" ng-click="allUploadedContent.openRemoveContentModel(item.identifier)"><i class="trash large icon float-ContentRight"></i></a>
                        </div>
                    </div>
                </div>
                <div ng-if="allUploadedContent.error.showError">
                    <error-message data="{{allUploadedContent.error}}" visibility="allUploadedContent.error.showError"></error-message>
                </div>
            </div>
            <div ng-if="allUploadedContent.loader.showLoader">
                <app-loader data="{{allUploadedContent.loader}}"></app-loader>
            </div>
        </div>
    </div>
</div>

<div ng-if="allUploadedContent.showRemoveContentModel">
    <div class="ui mini modal" id="removeContentModel">
        <div class="header">
            {{$root.frmelmnts.lbl.deletecontent}}
        </div>
        <div class="content">
            <div class="description">
                {{$root.frmelmnts.lbl.deleteconfirm}}
            </div>
        </div>
        <div class="actions">
            <div class="ui negative button" ng-click="allUploadedContent.hideRemoveContentModel()">{{$root.frmelmnts.btn.tcno}}</div>
            <div class="ui primary button " ng-click="allUploadedContent.deleteContent(allUploadedContent.removeContentId)">{{$root.frmelmnts.btn.tcyes}}</div>
        </div>
    </div>
</div>

<div class="ui grid">
    <div class="two wide column"></div>
    <div class="ten wide column paginationAlignment">
        <div class="padding-bottom-15" ng-if="!allUploadedContent.loader.showLoader && allUploadedContent.totalCount > allUploadedContent.pageLimit">
            <div ng-init="pegination = allUploadedContent" ng-include=" 'views/common/pagination.html' "></div>
        </div>
    </div>
</div>
