<div ng-init="course.initializeModal()">
    <div class="ui modal" id="createCourseModal" ng-if="course.showCreateCourseModal">
        <div class=" ui segment margin-top-10" ng-show="!course.loader.showLoader">
            <div class=" margin-bottom-15">
                <div class="ui grid">
                    <div class="eleven wide column">
                        <span class="ui header">
                            {{$root.frmelmnts.lbl.createCourse}}
                        </span>
                    </div>
                    <div class="one wide column actions">
                        <h5 class="ui basic icon circular button deny" ng-click="course.hideCreateCourseModal();">
                            <i class="ui remove icon"></i>
                        </h5>
                    </div>
                </div>
            </div>
            <div ng-include="'views/workSpace/ContentCreationTemplate.html'">
            </div>
            <h4 class="text-align-center margin-top-10">
                    {{$root.frmelmnts.lbl.coursefilllater}}
            </h4>
            <div>
                <label>
                    <p class="text-align-center margin-bottom-20">
                        {{$root.frmelmnts.lbl.agreeandproceedtext}}
                    </p>
                </label>
            </div>
        </div>
        <div class=" ui segment margin-top-10" ng-if="course.loader.showLoader">
            <app-loader data="{{course.loader}}"></app-loader>
        </div>
    </div>
</div>