<div ng-init="collection.initializeModal()">
    <div class="ui modal" id="createCollectionModel" ng-if="collection.showCreateCollectionModel">
        <div class=" ui segment margin-top-10" ng-show="!collection.loader.showLoader">
            <div class=" margin-bottom-15">
                <div class="ui grid">
                    <div class="eleven wide column">
                        <span class="ui header">
                            {{$root.frmelmnts.lbl.createcollection}}
                        </span>
                    </div>
                    <div class="one wide column actions">
                        <h5 class="ui basic icon circular button deny" ng-click="collection.hideCreateCollectionModel();">
                            <i class="ui remove icon"></i>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="content">
                <form class="ui form" ng-init="collection.data = {}">
                    <div class="field">
                        <label>
                            {{$root.frmelmnts.lbl.name}}
                        </label>
                        <div class="field">
                            <input type="text" name="title" placeholder={{$root.frmelmnts.lbl.name}} ng-model="collection.data.name">
                        </div>
                    </div>
                    <div class="field">
                        <div class="field">
                            <label>{{$root.frmelmnts.lbl.description}}</label>
                            <div class="field">
                                <input name="description" name="title" placeholder={{$root.frmelmnts.lbl.description}} ng-model="collection.data.description">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="actions margin-top-10">
                <p class="text-align-center padding-top-20">
                    <button class="ui primary text-align-center icon button" ng-click="collection.saveMetaData(collection.data)" ng-disabled="collection.loader.showLoader">
                        {{$root.frmelmnts.btn.startcreating}}
                    </button>
                </p>
                <div>
                    <label>
                        <p class="text-align-center">
                            {{$root.frmelmnts.lbl.agreeandproceedtext}}
                        </p>
                    </label>
                </div>
            </div>
        </div>
        <div class=" ui segment margin-top-10" ng-if="collection.loader.showLoader">
            <app-loader data="{{collection.loader}}"></app-loader>
        </div>
    </div>
</div>