<div class="ui grid">
    <div class="twelve wide column ">
        <div ng-init="reviewContent.getReviewContent()">
            <div ng-if="!reviewContent.loader.showLoader">
                <div class="ui three stackable cards" ng-if="reviewContent.reviewContentData.length > 0">
                    <div class="link card mouse-pointer" ng-repeat="item in reviewContent.reviewContentData track by $index" ng-click="reviewContent.openContentPlayer(item)" ng-init="$last && reviewContent.initTocPopup()" in-view="reviewContent.lineInView($index, $inview, item, 'ReviewSubmissions')" in-view-options="{ throttle: 1000 }">
                        <div class="image imageInCardsResponsive">
                            <div class="ui fluid image">
                                <a class="ui black right ribbon label">{{item.contentType}}</a>
                                <img ng-src=" {{item.appIcon ? item.appIcon : '/common/images/default.png'}} ">
                            </div>
                            <div class="cardImageText center aligned ">
                                <span class="sliderCardHeading text-cencapitalize">
                                    {{ item.name | limitTo: 15 }}&nbsp;
                                    <i class="ellipsis horizontal icon link cardTitleEllipse" ng-show="item.name.length>= 15"
                                        data-content="{{item.name}}" data-position="top center">
                                    </i>
                                </span>
                            </div>
                        </div>
                        <div class="sliderCards content">
                            <span class="sliderCardSubDesc">
                                <span>
                                    {{ item.description | limitTo: 70 }}&nbsp;<i ng-show="item.description.length >= 70" class="ellipsis horizontal icon popup-button link" data-content="{{item.description}}" data-variation="wide"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div ng-if="reviewContent.error.showError">
                    <error-message data="{{reviewContent.error}}" visibility="reviewContent.error.showError"></error-message>
                </div>
            </div>
            <div class="twelve wide column" ng-if="reviewContent.loader.showLoader">
                <app-loader data="{{reviewContent.loader}}"></app-loader>
            </div>
        </div>
    </div>
</div>

<div class="ui grid">
    <div class="two wide column"></div>
    <div class="ten wide column paginationAlignment">
        <div class="padding-bottom-15" ng-if="!reviewContent.loader.showLoader && reviewContent.totalCount > reviewContent.pageLimit">
            <div ng-init="pegination = reviewContent" ng-include=" 'views/common/pagination.html' "></div>
        </div>
    </div>
</div>