.btn-div .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
    width: 100%;
    font-size: 12px;
   }
   .btn-div .button .icon {
    line-height: normal;
    font-size: 20px;
    margin-right: 8px !important;
    opacity: 1 !important;
    padding-left: 3px;
   }
   .play-btn{
       height: 32px;
       line-height: 32px;
       font-size: 14px;
       .sb-btn{
           font-weight: 700;
           text-transform: uppercase;
       }
   }

.disable{
    cursor: not-allowed !important;
    pointer-events: none !important;
 }

 .disable-card{
    cursor: not-allowed !important;
 }