@import "variables";
@import "./mixins/mixins";

.btn-div .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border-bottom-right-radius: calculateRem(4px);
    border-bottom-left-radius: calculateRem(4px);
    outline: none;
    width: 100%;
    font-size: 0.75rem;
   }
   .btn-div .button .icon {
    line-height: normal;
    font-size: 1.25rem;
    margin-right: calculateRem(8px) !important;
    opacity: 1 !important;
    padding-left: calculateRem(3px);
   }
   .play-btn{
       height: calculateRem(32px);
       line-height: calculateRem(32px);
       font-size: 0.875rem;
      
       .sb-btn{
           font-weight: 700;
           text-transform: uppercase;
           line-height: inherit;
            width: 100%;
           .caret{
            height: calculateRem(16px);
            width: calculateRem(16px);
            background: var(--white);
            color: var(--secondary-100);
            border-radius: 50%;
            font-size: 0.875rem;
            margin-right: calculateRem(8px);
            padding-left: calculateRem(2px);
            line-height: calculateRem(16px);
           }
       }
   }

.disable{
    cursor: auto !important;
    pointer-events: none !important;
    color:$gray-200 !important;
 }

 .disable-card{
    cursor: auto !important;
 }