@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
.appPopup-logo {
  width: calculateRem(65px);
  height: calculateRem(65px);
  border: 0.0625rem solid var(--color-gray);
  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
  }
}