@import "variables";

.appPopup-header {
  font-weight: 500 !important;
  font-size: 1rem !important;
  display: flex !important;
  align-content: flex-start;
}
.appPopup-header .small{
  font-size: 0.7857rem;
  line-height: 1.3;
}
.appPopup-computer .appPopup-header {
  font-size: 1rem !important;
}
.appPopup-computer .appPopup-header .small {
  font-size: 0.8571rem !important;
}
.appPopup-logo{
  width: 65px;
  height: 65px;
  float: left;
}
.appPopup-cover .ui .actions {
  background: transparent !important;
  justify-content: center!important;
  display: flex;
}
.appPopup-mobile .modal .header{
  padding-right: 1rem!important;
}
.appPopup-mobile .ui.button {
  font-weight: 600;
  width: 135px;
  height: 38px;
  line-height: 38px;
  margin-left: 0.25em !important;
}
.appPopup-computer .ui.button {
  font-weight: 600;
  min-width: 170px;
}
.text-lightGray{
  color: #979797 !important;
}
.bg-white {
  background-color: #fff !important;
}
.bg-lightGray {
  background-color: #fafafa !important;
}
.bg-blue{
  background-color: $primary-color;
}
.box-shadow-1{
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.54) !important;
}
.border-1 {
  border-bottom: 1px solid #eee;
}
.ui.basic.button,
.ui.basic.buttons .button {
  background-color: #fff !important;
}
.ui.positive.button,
.ui.positive.buttons .button {
  background-color: $secondary-color;
}
.ui.positive.button:hover,
.ui.positive.buttons .button:hover {
  opacity: 0.9;
}
.ui.basic.positive.button,
.ui.basic.positive.buttons .button {
  border-color: $secondary-color !important;
  color: $secondary-color !important;
}
.ui.basic.positive.button:hover,
.ui.basic.positive.buttons .button:hover {
  opacity: 0.9;
}
.img-cover {
  border: 1px solid #bbb;
  border-radius: 2px;
  background-color: #fafafa;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.img-cover img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
