<div class="ui stackable grid re-issue-content">
  <div class="twelve wide column">
    <div class="sb-bg-color-white px-16">
      <div class="ui grid">
        <div class="seven wide column">
          <div class="reissue-title text-left font-weight-bold"> Re-issue Certificates </div>
          <div class="sb-field certificate-id-content">
            <label class="d-inline-flex flex-ai-center flex-jc-space-between w-100 user-id-label" for="id">
              <span>Enter Diksha Id</span></label>
            <div class="d-flex">
              <div class="user-id-input">
                <input class="sb-form-control font-weight-bold" name="id" placeholder="Enter user ID" type="id">
                <small class="message sb-color-error font-weight-bold mt-8"></small></div>
              <button class="sb-btn sb-btn-normal sb-btn-outline-primary ml-16" type="button">Search</button>
            </div>
          </div>
        </div>
        <div class="five wide column">
          <div class="fsmall certificate-id-info">
            <div> What is Diksha Id ? </div>
            <div class="py-8">Use the following instructions to guide members to identify
              their unique DIKSHA ID.</div>
            <div class="pt-8">
              <div>Step 1 : Click Profile tab</div>
              <div class="py-8">Step 2 : See the DIKSHA ID here</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="twelve wide column mt-24">
    <div class="sb-bg-color-white px-16 py-24">
      <div class="d-flex re-issue-list-content">
          <div class="re-issue-list-content__labels pt-0 px-16 pb-16">
            <div class="ui stackable grid mt-0">
              <div class="three wide column">
                <div class="re-issue-label">Batch Name</div>
              </div>
              <div class="three wide column">
                <div class="re-issue-label">User Name</div>
              </div>
              <div class="two wide column">
                <div class="re-issue-label">User District</div>
              </div>
              <div class="two wide column">
                <div class="re-issue-label">Course Progress</div>
              </div>
              <div class="two wide column">
                <div class="re-issue-label"></div>
              </div>
            </div>
          </div>

          <div class="sb-bg-color-white pt-0 px-16 pb-16">
            <div class="ui stackable grid mt-0">
              <div class="three wide column">
                <div class="re-issue-status">Cbse batchID 2376590 </div>
              </div>
              <div class="three wide column">
                <div class="re-issue-status">Kunwar Singh Gahawar</div>
              </div>
              <div class="two wide column">
                <div class="re-issue-status">Bangalore</div>
              </div>
              <div class="two wide column">
                <div class="re-issue-status">Completed</div>
              </div>
              <div class="two wide column">
                <div class="re-issue-status"><a href="#preview" class="font-weight-bold">Re-issue Certificate</a></div>
              </div>
            </div>  
            <div class="ui stackable grid mt-0">
              <div class="three wide column">
                <div class="re-issue-status">Cbse batchID 2376590 </div>
              </div>
              <div class="three wide column">
                <div class="re-issue-status">Kunwar Singh Gahawar</div>
              </div>
              <div class="two wide column">
                <div class="re-issue-status">Bangalore</div>
              </div>
              <div class="two wide column">
                <div class="re-issue-status">Completed</div>
              </div>
              <div class="two wide column">
                <div class="re-issue-status"><a href="#preview" class="font-weight-bold">Re-issue Certificate</a></div>
              </div>
            </div>   
          </div>
        </div>
      </div>
    </div>
 
  <div class="d-flex flex-dc w-100">
    <div class="records-count-label pl-16">Showing 2 of 2 records</div>
  </div>
</div>
