@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.re-issue-content {
  margin-top: calculateRem(36px);
  @include respond-below(sm) {
    margin-top: 0px;
  }
  .reissue-title {
    color: var(--primary-color);
    font-size: calculateRem(24px);
  }
  .certificate-id-info {
    color: var(--gray-800) !important;
  }
  .certificate-id-content {
    margin-top: calculateRem(32px);
    margin-bottom: calculateRem(8px);

    .user-id-label{
        font-weight:normal;
        font-size: calculateRem(14px);
        color:var(--gray-800);
    }

    .user-id-input {
      width: 100%;
    }
  }
  .re-issue-label{
    color: var(--gray-400);
    font-weight: bold;
    font-size: calculateRem(14px);
  }
  .re-issue-status{
    font-size: calculateRem(14px);
    overflow: hidden; 
    text-overflow: ellipsis; 
    -webkit-line-clamp: 2; 
    display: -webkit-box;
    word-break: break-all;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
   a{
     text-decoration:underline;
   }
  }
  .re-issue-list-content{
    border:calculateRem(0.5px) solid var(--gray-100);
    border-radius:calculateRem(1px);
    flex-direction: column;
    @include respond-below(sm){
      flex-direction: row;
    }
    &__labels{
      background: var(--primary-100);
    }
    &__data{
      padding:calculateRem(16px) 0;
    }
  }
  .records-count-label{
    color:var(--gray-300);
    font-size: calculateRem(14px);
  }
  
  .issue-status {
    font-size: calculateRem(14px);
    word-break: break-all;
  }
}

