<div ng-show="!model.selectedList && !model.selectedGroup">
    <div class="editContent">
        <div class="headerAsk comGroupHead">
            <h2>COMMUNITIES <i class="badge groupbadge">{{model.lists.length || 0}}</i>
                <a href="javascript:void(0);" style="padding-top: 0px; position: relative; top: 8px; left: 10px;" class="tool-tip" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add Group"><i class="writeBlackOne fa groupFloder" id="groupFolder" onclick="openPostArea(this, 'groupFloder');"></i></a>
            </h2>
        </div>
        <div class="textEditor AskQEdit" id="il-Txt-Editor" style="display:none;">
            <div class="alert alert-danger" ng-show="model.errors.length != 0">
                Error creating a group. Following are the failed validations
                <ul style="padding-left: 25px;list-style:disc outside none">
                    <li ng-repeat="error in model.errors">{{error}}</li>
                </ul>
            </div>
            <div class="form-group col-md-12 noPad">
              <input type="text" class="form-control" ng-model="model.newList.name" placeholder="Add group name">
            </div>
            <div class="form-group col-md-12 noPad">
            <textarea class="textarea form-control" placeholder="Write the group description ..." style="width: 100%; min-height: 100px;" id="listDescription"></textarea>
            </div>
            <div class="save_text">
                <div class="save_btn">
                    <button class="btn btn-default" ng-click="clearList()">Clear</button>&nbsp;&nbsp;
                    <button class="btn btn-primary" ng-click="createList()">Create</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="alert alert-success marginTop10" ng-if="model.showDeleteGroupAlert">
            <button type="button" class="close" data-dismiss="alert" ng-click="model.showDeleteGroupAlert = false">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{model.deletedGroup}} is successfully deleted</strong>
        </div>
        <div>
            <div class="col-md-3" ng-repeat="list in model.lists">
                <a class="popoverData popovergrp tool-tip" data-trigger="hover" data-placement="top" title="{{list.displayName}}<span><br>{{list.members.totalItems}} students in this group</span>" href="javascript:void(0)" ng-click="selectList(list)">
                    <div class="group-add-round">
                        <div class="groupcontentnumber">
                            <span class="group_number">{{list.members.totalItems}}</span>
                        </div>
                    </div>
                    <div class="groupName">{{(list.context.groupName || list.displayName) | limitTo : 16}}<span ng-if="(list.context.groupName || list.displayName) > 16">...</span></div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div ng-show="model.selectedList">
    <div class="headerAsk comGroupHead">
        <h2>{{model.selectedList.displayName | characters:20 :false}}<i class="badge groupbadge">{{model.selectedList.members.totalItems}}</i> 

        <a href="javascript:void(0)" style="margin-left: 10px" onclick="$('#learnerSearchDiv').slideToggle('slow')" ng-click="showLearnerSearch(true);" ng-show="model.selectedList.context.listType == 'user'">
            <i class="glyph16 icon icon-plus" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add Memnbers"></i>                                
        </a>

        <a href="javascript:void(0)" style="margin-left: 10px" ng-click="confirmDeleteGroup()" ng-show="model.selectedList.context.listType == 'user'">
            <i class="glyph16 icon icon-close" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete group"></i>                                
        </a>

        </h2>
        <a href="javascript:void(0);" ng-click="backToList();" class="marginTop10 commonBackToList pull-right" style="margin: 21px 7px 0 0"><i class="fa fa-chevron-left"></i> Back to Groups</a>
    </div>
    <div class="col-md-12 noPad padTop padBottom borderBottom">
        <span ng-bind-html="renderHtml(model.selectedList.content)"></span>
    </div>
    <div class="addGroupContainer col-md-12 noPad" ng-hide="model.showLearnerSearch">
        <div class="col-md-12 noPad padTop padBottom {{$index == (model.listMembers.length-1) ? '' : 'borderBottom'}}" ng-repeat="member in model.listMembers">
            <img ng-src="{{member.image ? member.image.url:'/img/default.png'}}" class="img-rounded media-object pull-left" width="32" height="32">
            <span ng-community-user user-id="member.preferredUsername" user-name="member.displayName" css-class="'pull-left marginLeft10 marginTop10 groupMemberName'" context="'Community Groups'"></span>
            <a href="javascript:void(0)" style="margin-left: 10px; top: 10px; position: relative" ng-click="removeMemberFromList(member.preferredUsername)" ng-show="model.selectedList.context.listType == 'user'">
                <i class="glyph12 icon icon-delete-round" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Remove from group"></i>                                
            </a>
        </div>
        <div class="alert alert-info col-md-12 marginTop10" ng-if="model.listMembers.length == 0">
            No learners found in this group.
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="addGroupContainer col-md-12 noPad padTop padBottom" id="learnerSearchDiv" style="display: none">
        <div class="col-md-12 noPad" style="border-bottom: 1px dashed #ddd">
            <div class="col-md-6 form-group" ng-repeat="field in model.searchConfig.searchFields">
                <label>{{field.label}}</label>
                <div ng-switch on="field.type">
                    <input class="form-control" ng-model="model.searchLearners.filters[field.name]" ng-switch-when="text"/>
                    <input type="text" class="form-control" ng-model="model.searchLearners.filters[field.name]" datepicker-popup="dd/MM/yyyy" is-open="datepicker.opened" ng-click="open($event, 'from')" ng-keydown="disableKeyDown($event)" ng-keypress="disableKeyDown($event)" datepicker-options="datepicker.dateOptions" ng-switch-when="date"/>
                    <select ng-model="model.searchLearners.filters[field.name]" ng-options="item.name for item in field.values" class="selectBox singleSelect" style="width: 100%;" ng-switch-when="select">
                        <option></option>
                    </select>
                    <select ng-model="model.searchLearners.filters[field.name]" ng-options="item.name for item in field.values" class="selectBox" style="width: 100%;" multiple="true" ng-switch-when="multiselect"></select>
                </div>
            </div>
        </div>

        <div class="col-md-12 noPad padTop">
            <div class="form-group col-sm-8">
                <label>Lesson/Lecture</label>
                <select ng-model="model.searchLearners.lecture" ng-options="lecture.label for lecture in allLectures" id="lectureSelect" style="width: 100%;">
                    <option></option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label>Completed?</label>
                <select class="selectBox" style="width: 100%;" ng-model="model.searchLearners.complete">
                    <option value="true">Completed</option>
                    <option value="false">Not Completed</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 noPad">
            <div class="form-group col-sm-8">
                <label>Event</label>
                <select ng-model="model.searchLearners.event" ng-options="item.name for item in model.searchConfig.events" class="selectBox" style="width: 100%;">
                    <option></option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label>Attended?</label>
                <select class="selectBox" style="width: 100%;" ng-model="model.searchLearners.eventValue">
                    <option value="true">Attended</option>
                    <option value="false">Not Attended</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 noPad">
            <div class="form-group col-sm-8">
                <label>Learning Activity</label>
                <select ng-model="model.searchLearners.la" ng-options="item.name for item in model.searchConfig.learningActivites" class="selectBox" style="width: 100%;">
                    <option></option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label style="display: block;">Score Range</label>
                <input type="text" class="form-control pull-left" style="width: 45%" ng-model="model.searchLearners.laMinScore"/>
                <span class="text-center pull-left" style="width: 10%; padding-top: 5px">to</span>
                <input type="text" class="form-control pull-right" style="width: 45%" ng-model="model.searchLearners.laMaxScore"/>
            </div>
        </div>
        <div class="col-md-12 marginTop10 padBottom borderBottom">
            <button class="btn btn-default pull-left" ng-click="showLearnerSearch(false);" onclick="$('#learnerSearchDiv').slideToggle('slow')">Cancel</button>
            <button class="btn btn-primary pull-right" style="margin-left: 5px;" ng-click="searchLearners($event);" data-loading-text="Searching..." id="commSearchButton">Search</button>
            <button class="btn btn-default pull-right" ng-click="clearSearch();">Clear</button>
        </div>
        <div class="col-md-12 noPad padTop">
            <div class="col-md-12 padTop padBottom {{$index == (model.learnersList.length-1) ? '' : 'borderBottom'}}" ng-repeat="member in model.learnersList">
                <img ng-src="{{member.image ? member.image:'/img/default.png'}}" class="img-rounded media-object pull-left" width="32" height="32">
                <div class="pull-left">
                    <div ng-community-user user-id="member.ResourceURI" user-name="(member.name || member.ResourceURI)" css-class="'pull-left marginLeft10'" context="'Community Groups'"></div>
                    <span ng-if="member.degree || member.stream || member.college" class="full-width user-prof-span ng-scope ng-binding pull-left marginLeft10">{{member.degree}}, {{member.stream}}, {{member.college}}</span>
                </div>
                <a href="javascript:void(0)" class="pull-right" ng-show="addedToGroup(member.ResourceURI)" ng-click="removeMemberFromList(member.ResourceURI)">Remove from {{model.selectedList.displayName}}</a>
                <a href="javascript:void(0)" class="pull-right" ng-show="!addedToGroup(member.ResourceURI)" ng-click="addMemberToList(member.ResourceURI)">Add to {{model.selectedList.displayName}}</a>
            </div>
            <a href="javascript:void(0)" class="col-md-12 text-center show-more" ng-if="model.showMore" ng-click="showMoreLearners()">
                <span ng-if="!model.showMoreLoading">Show More</span>
                <span ng-if="model.showMoreLoading">Loading <img src="/img/loading.gif"/></span>
            </a>
            <div class="alert alert-info col-md-12 marginTop10" ng-if="!model.learnersList || model.learnersList.length == 0">
                No learners found for the matching search criteria.
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteGroupConfModal">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content" style="width: 650px; margin-top: 30%">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                Are you sure you want to delete the group <strong>{{model.selectedList.displayName}}</strong>?
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-primary" ng-click="deleteGroup()">Okay</button>
            </div>
        </div>
    </div>
</div>