<div class="tutorMsg">
    <div ng-community-user user-id="activity.actor.preferredUsername" user-name="activity.actor.displayName" context="'Wall'" css-class="'il-Link-clr ac-contents'" class="display-inline"></div>,
    <span>Notification</span>
    <span ng-if="$parent.model.loggedUserId == activity.actor.preferredUsername"> to <span ng-repeat="to in activity.to">&nbsp;{{to.displayName}}{{$index != (activity.to.length - 1) ? ',' : ''}}</span></span>
    <span class="timeDur" data-livestamp="{{activity.published}}"></span>
</div>
<h5><p class="ac-links il-Link-clr">{{activity.object.displayName}}</p></h5>
<p class="ac-contents">
    <div ng-bind-html="renderHtml(activity.object.content)"></div>
</p>
