<div class="ui clearing divider">
</div>
<div *ngIf="metaData" class="ui stackable grid">
  <div *ngIf="metaData.author" class="three wide column">
    <div class="ui list">
      <div class="item">
        <div class="content">
          <div class="header">{{resourceService?.frmelmnts?.lbl?.author}}</div>
          <div class="description padding-top-1rem">{{metaData.author}}</div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="metaData.medium" class="three wide column">
    <div class="ui list">
      <div class="item">
        <div class="content">
          <div class="header">{{resourceService?.frmelmnts?.lbl?.medium}}</div>
          <div class="description padding-top-1rem">{{metaData.medium}}</div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="metaData.gradeLevel" class="three wide column">
    <div class="ui list">  
      <div class="item">
          <div class="content">
            <div class="header">{{resourceService?.frmelmnts?.lbl?.class}}</div>
            <div class="description padding-top-1rem">
              <span class="inline-block-content" *ngFor="let gradeLevel of metaData.gradeLevel; let isLast=last;">
                {{gradeLevel}}<span *ngIf="!isLast">,&nbsp;</span> 
              </span>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div *ngIf="metaData.subject" class="three wide column">
    <div class="ui list">
      <div class="item">
        <div class="content">
          <div class="header">{{resourceService?.frmelmnts?.lbl?.subject}}</div>
          <div class="description padding-top-1rem">{{metaData.subject}}</div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="metaData.lastUpdatedOn" class="three wide column">
    <div class="ui list">
      <div class="item">
        <div class="content">
          <div class="header">{{resourceService?.frmelmnts?.lbl?.lastupdate}}</div>
          <div class="description padding-top-1rem">{{metaData.lastUpdatedOn | dateFormat: 'MMMM Do YYYY'}}</div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="metaData.createdOn" class="three wide column">
    <div class="ui list">
      <div class="item">
        <div class="content">
          <div class="header">{{resourceService?.frmelmnts?.lbl?.createdon}}</div>
          <div class="description padding-top-1rem">{{metaData.createdOn | dateFormat: 'MMMM Do YYYY'}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="three wide column">
    <div class="ui list">
      <div class="item">
        <div class="content">
          <div class="header">{{resourceService?.frmelmnts?.lbl?.ownership}}</div>
          <div ng-if="metaData.owner" class="description padding-top-1rem">
            <div>{{metaData.owner}}</div>
            <div><a (click)="showContentCreditsPopup()" title="{{resourceService?.frmelmnts?.lbl?.contentCredits}}">{{resourceService?.frmelmnts?.lbl?.contentCredits}}</a></div>
          </div>                                
        </div>
      </div>
    </div>
  </div>
  <app-content-credits [contentData]="metaData" *ngIf="showContentCreditsModal" (close)="showContentCreditsModal = false">
  </app-content-credits>
</div>