.batch-list{
    &__wrap{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        padding:20px 0;
    }
    &__item {
        flex:0 1 calc(48% - 10px);
        margin: 15px;
    }
}