<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>sunbird</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/ico" href="./images/favicon.ico">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/thirdparty/semantic/styles/semantic.min.css">
    <link rel="stylesheet" href="/thirdparty/bower_components/video.js/dist/video-js.min.css">
    <link rel="stylesheet" href="/thirdparty/bower_components/angular-pagedown/angular-pagedown.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
    <link rel="stylesheet" href="/thirdparty/bower_components/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/thirdparty/bower_components/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="/thirdparty/bower_components/jquery.fancytree/dist/skin-win8/ui.fancytree.css">

    <link rel="stylesheet" href="/thirdparty/bower_components/file-upload/fine-uploader/fine-uploader-new.css">

    <link rel="stylesheet" href="/thirdparty/semantic-tree-picker/semantic-ui-tree-picker.css">

    <base href="/">
    <link rel="stylesheet" href="/thirdparty/bower_components/semantic-ui-calendar/dist/calendar.min.css" />
</head>

<body ng-app="playerApp" ng-controller="AppCtrl">
    <input type="hidden" id="userId" value="<%=userId%>" />
    <div ng-include="'views/common/topHeader.html'"></div>
    <div class="ui top attached fluid container">
        <div class="ui padded grid">
            <div class="row">
                <div class="twelve wide column">
                    <main>
                        <div ui-view="mainView"></div>
                    </main>
                </div>
            </div>
        </div>
    </div>

    <!-- libs -->
    <script src="/thirdparty/libs/eventbus.min.js"></script>
    <script src="/thirdparty/bower_components/jquery/dist/jquery.js"></script>
    <script src="/thirdparty/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/thirdparty/bower_components/angular/angular.js"></script>
    <script src="/thirdparty/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/thirdparty/bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/thirdparty/bower_components/semantic-ui-calendar/dist/calendar.min.js"></script>


    <script src="/thirdparty/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/thirdparty/bower_components/angular-ui-router/release/stateEvents.min.js"></script>
    <script src="/thirdparty/semantic/semantic.min.js"></script>
    <script src="/thirdparty/bower_components/video.js/dist/video.js"></script>
    <script src="/thirdparty/bower_components/videojs-youtube/dist/Youtube.js"></script>
    <script src="/thirdparty/bower_components/ngstorage/ngStorage.js"></script>
    <script src="/thirdparty/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="/thirdparty/bower_components/angular-pagedown/angular-pagedown.min.js"></script>
    <script src="/thirdparty/bower_components/pagedown/Markdown.Converter.js"></script>
    <script src="/thirdparty/bower_components/pagedown/Markdown.Sanitizer.js"></script>
    <script src="/thirdparty/bower_components/pagedown/Markdown.Extra.js"></script>
    <script src="/thirdparty/bower_components/pagedown/Markdown.Editor.js"></script>
    <script src="/thirdparty/bower_components/slick-carousel/slick/slick.js"></script>
    <script src="/thirdparty/bower_components/pdfjs-dist/build/pdf.js"></script>
    <script src="/thirdparty/bower_components/angular-pdf-viewer/dist/angular-pdf-viewer.min.js"></script>
    <script src="/thirdparty/bower_components/angular-sanitize/angular-sanitize.js"></script>

    <script src="/thirdparty/bower_components/jquery.fancytree/dist/jquery.fancytree.min.js"></script>
    <script src="/thirdparty/bower_components/lodash/lodash.js"></script>
    <script src="/thirdparty/bower_components/file-upload/fine-uploader/fine-uploader.js"></script>

    <script src="/thirdparty/jquery.fancytree/dist/jquery.fancytree.min.js"></script>
    <script src="/thirdparty/semantic-tree-picker/semantic-ui-tree-picker.js"></script>

    <!-- endbower -->

    <!-- endbuild -->
    <script src="scripts/playerAppConfig.js"></script>

    <!-- managers -->
    <script src="/scripts/managers/eventManager.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/routes/appRoute.js"></script>
    <!--factories-->
    <script src="scripts/factories/sessionFactory.js"></script>
    <!--services-->
    <script src="scripts/services/httpService.js"></script>
    <script src="scripts/services/httpServiceJava.js"></script>
    <script src="scripts/services/javaService.js"></script>
    <script src="scripts/services/contentService.js"></script>
    <script src="scripts/services/authService.js"></script>
    <script src="scripts/services/noteService.js"></script>
    <script src="scripts/services/courseService.js"></script>
    <script src="scripts/services/learnService.js"></script>
    <script src="scripts/services/userService.js"></script>
    <script src="scripts/services/pageSectionService.js"></script>
    <script src="scripts/services/searchService.js"></script>
    <script src="scripts/services/profileService.js"></script>
    <script src="scripts/services/permissionsService.js"></script>
    <!--controller-->
    <script src="scripts/controllers/searchCourseController.js"></script>
    <script src="scripts/controllers/searchResourcesController.js"></script>
    <script src="scripts/controllers/searchQueryController.js"></script>
    <script src="scripts/controllers/authController.js"></script>
    <script src="scripts/controllers/sideMenuController.js"></script>
    <script src="scripts/controllers/createContentController.js"></script>
    <script src="scripts/controllers/userContentController.js"></script>
    <script src="scripts/controllers/appController.js"></script>
    <script src="scripts/controllers/note/noteListController.js"></script>
    <script src="scripts/controllers/userCourseController.js"></script>
    <script src="scripts/controllers/courseScheduleController.js"></script>
    <script src="scripts/controllers/learnController.js"></script>
    <script src="scripts/controllers/resourceController.js"></script>
    <script src="scripts/controllers/communityController.js"></script>
    <script src="scripts/controllers/homeController.js"></script>
    <script src="scripts/controllers/profileController.js"></script>
    <script src="scripts/controllers/contentPlayer.js"></script>
    <script src="scripts/controllers/note/noteCardController.js"></script>
    <script src="scripts/controllers/contentPlayerController.js"></script>
    <script src="scripts/controllers/createSlideShowController.js"></script>
    <script src="scripts/controllers/workspace/draftContentController.js"></script>
    <script src="scripts/controllers/workspace/reviewContentController.js"></script>
    <script src="scripts/controllers/workspace/publishedContentController.js"></script>
    <script src="scripts/controllers/workspace/allUploadedContentController.js"></script>
    <script src="scripts/controllers/workspace/contentCreationController.js"></script>
    <script src="scripts/controllers/contentEditorController.js"></script>

    <script src="scripts/controllers/pageSectionController.js"></script>
    <!--filter-->
    <script src="scripts/filters/dateFilter.js"></script>

    <script src="scripts/filters/noteListFilter.js"></script>
    <!--directive-->
    <script src="scripts/directives/applyScript.js"></script>
    <script src="scripts/directives/appLoader.js"></script>
    <script src="scripts/directives/errorMessage.js"></script>
    <script src="scripts/directives/fileRead.js"></script>
    <script src="scripts/directives/contentPlayer.js"></script>
    <script src="scripts/directives/angular-translate.js"></script>
    <script src="scripts/directives/noteCardDirective.js"></script>
    <script src="scripts/directives/courseDiscussions.js"></script>
    <script src="scripts/directives/slickDirective.js"></script>
    <script src="scripts/directives/addNoteDirective.js"></script>
    <script src="scripts/directives/permissionsDirective.js"></script>
    <script src="scripts/directives/pageSectionDirective.js"></script>
    <script src="scripts/directives/fileUpload.js"></script>
    <!--routes-->
</body>

</html>
