@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
.course-card-width {
  width: calculateRem(280px) !important;
}
.sb-section-preference {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:var(--sb-profile-bg-c-4);
  color: var(--sb-section-preference);
  padding: calculateRem(32px);
  border-radius: calculateRem(24px);
  position: relative;
  overflow: hidden;
  margin-top:calculateRem(32px);
  @include respond-below(sm) {
    flex-wrap: wrap;
  }
    .preference {
      position: relative;
      z-index: 1;
      flex: 1;
      .header {
        font-size: calculateRem(16px);
        font-weight: 500;
      }

      .value {
        font-weight: 500;
      }
      .preference-icon{
        position: relative;
        bottom: calculateRem(2px);
        img{
          width: calculateRem(14px);
        }
      }
      p, span {
        font-size:calculateRem(12px);
      }
      p {
        margin-bottom: 0;
      }
      .title {
        font-weight: bold;
        margin-right: calculateRem(32px);
        html[dir="rtl"] & {
          margin-left: calculateRem(32px);
        }
        @include respond-below(sm){
         margin-right:0px;
        }
      }
    }
    svg {
      position: absolute;
      right: calculateRem(32px);
      left: inherit;
      top: inherit;
      bottom: calculateRem(-16px);
      opacity: 0.55;
      width: 180px;
      height: auto;
      transform: rotate(-90deg);
      z-index: 0;
      display: block !important;
    }
}
.featured-text {
  font-weight: 500;
}
.home-container {
  padding:0;
}
:host {
  .banner-image {
    // overflow: hidden;
    cursor: pointer;
    // width: 16rem;
    @include respond-below(sm) {
    }
  }
}
::ng-deep {
  .banner-carousel {
    padding: 0 5%;
    .slick-dots {
      bottom: inherit;
      left: 0;
    }
    &.slick-dotted.slick-slider {
      margin-bottom: calculateRem(48px);
    }
    .slick-dots li button:before {
      opacity: 1;
      background: var(--slick-dots-color);
      content: "";
      border-radius: 50%;
      width: calculateRem(12px);
      height: calculateRem(12px);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .slick-dots li.slick-active button:before {
      background: var(--slick-dots-active-color);
    }
    .slick-track {
      margin: auto;
    }
  }
  .explore-text {
    color: var(--primary-color);
    font-size: calculateRem(20px);
    font-weight: bold;
    padding: calculateRem(24px) calculateRem(32px);
    z-index: 1;
  }
}

::ng-deep {
  .web-item {
    width:16rem !important;
    box-shadow: var(--sbt-box-shadow-6px);
  }
}