@import "variables";
@import "mixins/mixins";

.course-card-width {
  width: calculateRem(280px) !important;
}
.sb-section-preference {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:var(--sbt-body-bg);
  padding: calculateRem(32px);
  border-radius: calculateRem(24px);
  position: relative;
  overflow: hidden;
  margin-top:calculateRem(32px);

  @include respond-below(sm) {
    flex-wrap: wrap;
  }
    .preference {
      position: relative;
      z-index: 1;
      .header {
        font-size: calculateRem(16px);
      }
      p, span {
        font-size:calculateRem(12px);
      }
      p {
        margin-bottom: 0;
      }
      .title {
        font-weight: bold;
      }
    }
    .change-preference {
      position: relative;
      z-index: 1;
      @include respond-below(sm) {
        padding-top: calculateRem(8px);
      }
    }
    svg {
      position: absolute;
      right: calculateRem(32px);
      left: inherit;
      top: inherit;
      bottom: calculateRem(-16px);
      opacity: 0.55;
      width: 180px;
      height: auto;
      transform: rotate(-90deg);
      z-index: 0;
      display: block !important;
    }
}
.section-hr {
  border: calculateRem(0.5px) solid var(--rc-dad9cb);
}
.no-background {
  background: none;
}

.home-container {
  padding:0;
  // border-radius:2.5rem;
}

:host {

  .sb--card.sb--card--theme2 {
    border-radius: calculateRem(16px);
    box-shadow: var(--sbt-box-shadow-6px);
    overflow:hidden;
    padding:1rem;
    height: 220px;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    margin: calculateRem(10px) calculateRem(6px) calculateRem(10px) calculateRem(18px);
  }

  .sb--scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 0.5em;
  }
  .explore-text{
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 18px 10px;
    width: 54%;
  }
}
