@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.sb-section-preference {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calculateRem(24px);
  border-radius: calculateRem(24px);
  position: relative;
  overflow: hidden;
  @include respond-below(sm) {
    flex-wrap: wrap;
  }
    .preference {
      position: relative;
      z-index: 1;
      .header {
        font-size: calculateRem(16px);
      }
      .preference-icon{
        position: relative;
        bottom: calculateRem(2px);
        img{
          width: calculateRem(14px);
        }
      }
      p, span {
        font-size:calculateRem(12px);
      }
      p {
        margin-bottom: 0;
      }
      .title {
        font-weight: bold;
        margin-right: calculateRem(32px);
        html[dir="rtl"] & {
          margin-left: calculateRem(32px);
        }
        @include respond-below(sm){
         margin-right:0px;
        }
      }
    }
    svg {
      position: absolute;
      right: calculateRem(32px);
      left: inherit;
      top: inherit;
      bottom: calculateRem(-16px);
      opacity: 0.55;
      width: 180px;
      height: auto;
      transform: rotate(-90deg);
      z-index: 0;
      display: block !important;
    }
}
.home-container {
  padding:0;
}
:host {
  .banner-image {
    // overflow: hidden;
    cursor: pointer;
    // width: 16rem;
    @include respond-below(sm) {
    }
  }
}

/* desktop */
::ng-deep {
  .sb-desktop-filter-section {
    .sbt-filter {
      @include respond-above(md) {
        margin-top: 0 !important;
      }
    }
  }
  //desktop
  .sb-desktop-filter-section .status-container__title {
    max-width: 100% !important;
  }
  .sb-desktop-library-card .mat-card .card-hover {
    top: initial;
    height: 5rem;
    opacity: 1;
  }
}