<app-landing-section [textToDisplay]="pageTitleSrc" [svgToDisplay]="svgToDisplay"
  [layoutConfiguration]="layoutConfiguration"></app-landing-section>
<div [ngClass]="layoutConfiguration ? 'sbt-fluid-content-bg':''">
  <div class="sb-g" [ngClass]="layoutConfiguration ? 'sb-g sbt-container sbt-page-content' : 'sb-g'"
    [appTelemetryImpression]="telemetryImpression">
    <div [ngClass]="FIRST_PANEL_LAYOUT">
        <div *ngIf="layoutConfiguration">
          <div *ngIf="isDesktopApp">
            <app-network-status></app-network-status>
            <app-load-offline-content></app-load-offline-content>
          </div>
        </div>
      <div [ngClass]="isDesktopApp ? 'sb-desktop-filter-section' : ''">
        <app-search-filter [layoutConfiguration]="layoutConfiguration" [isOpen]='true' *ngIf="initFilter"
          (filterChange)="getFilters($event)" [pageData]="pageData" [pageId]="isUserLoggedIn() ? 'resource-page' : 'explore-page'" [defaultFilters]="defaultFilters">
        </app-search-filter>
      </div>
    </div>
    <div [ngClass]="SECOND_PANEL_LAYOUT" *ngIf="subscription$ | async">
      <div [appTelemetryImpression]="telemetryImpression"
        [ngClass]="layoutConfiguration ? 'sbt-page-content-area' : 'ui container mt-24'">

        <div *ngIf="false" [ngClass]="{'relative9': isUserLoggedIn()}">
          <div class="sb-bg-color-white py-16 mb-24">
            <h4 class="sb-categories-title text-left">{{resourceService?.frmelmnts?.lbl?.courses}}</h4>
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
              <div ngxSlickItem *ngFor="let content of cardData;let index=index" class="mr-16 course-card-width">
                <sb-course-curiculum-card ngClass="{'sb--card--seperator': !isUserLoggedIn()}" [index]="index" [cardData]="content"
                  (cardClick)="navigateToCourses($event)"></sb-course-curiculum-card>
              </div>
            </ngx-slick>
          </div>
        </div>
        <div class="sb-library-cards relative9">
          <div *ngIf="!layoutConfiguration">
            <h4 class="sb-categories-title text-left mt-16" *ngIf="apiContentList.length">
              {{resourceService?.frmelmnts?.lbl?.textbooks}}</h4>
          </div>
          <div *ngFor="let section of pageSections; let last = last" [ngClass]="{'last mb-0':last}">
            <sb-library-cards-grid *ngIf="!isDesktopApp" [layoutConfig]="layoutConfiguration" [type]="'infinite_card_grid'"
              [title]="section.name" [contentList]="section.contents | sortBy:'name':'asc'" [maxCardCount]="3"
              (viewMoreClick)="viewAll(section)" (cardClick)="playContent($event, section.name)">
            </sb-library-cards-grid>
            <div class="sb-desktop-library-card">
              <sb-library-cards-grid *ngIf="isDesktopApp" [layoutConfig]="layoutConfiguration" [type]="'infinite_card_grid_with_hover'" 
              [title]="section?.name" [contentList]="section.contents | sortBy:'name':'asc'" [maxCardCount]="3" 
              (hoverActionClick)="hoverActionClicked($event)" (viewMoreClick)="viewAll(section)">
              </sb-library-cards-grid>
            </div>
            
          </div>
          <div *ngIf="showLoader">
            <sb-library-cards-grid [layoutConfig]="layoutConfiguration" *ngFor="let i of numberOfSections"
              [type]="'infinite_card_grid'" [isLoading]="true" [maxCardCount]="!isUserLoggedIn() ? 4: 3"></sb-library-cards-grid>
          </div>
          <div *ngIf="apiContentList.length === 0 && !showLoader">
            <app-no-result-found (exploreMoreContent)="navigateToExploreContent()" [filters]="selectedFilters"
              [title]="noResultMessage?.title" [subTitle]="noResultMessage?.subTitle"
              [buttonText]="noResultMessage?.buttonText"
              [showExploreContentButton]="noResultMessage?.showExploreContentButton"
              [telemetryInteractEdataObject]="exploreMoreButtonEdata"></app-no-result-found>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-offline-banner *ngIf="!isUserLoggedIn()" [slug]="userService.slug"></app-offline-banner>
 <!-- Show Modal if content has any YouTube data-->
 <sui-modal *ngIf="showModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'normal'"
 class="sb-modal" appBodyScroll (dismissed)="showModal = !showModal;" #modal>
 <div class="sb-modal-header">
   {{resourceService.frmelmnts?.btn?.download}}
 </div>
 <div class="sb-modal-content">
   <p>{{resourceService?.messages?.stmsg?.m0137 }}</p>
 </div>
 <div class="sb-modal-actions">
   <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="callDownload(); showModal = !showModal; logTelemetry(contentData, 'confirm-download-content');">
     {{resourceService.frmelmnts?.btn?.yes}}
   </button>
   <button class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="showModal = !showModal; logTelemetry(contentData, 'cancel-download-content');">
     {{resourceService.frmelmnts?.btn?.cancel}}
   </button>
 </div>
</sui-modal>