/*
 * Noto Sans Tamil (Tamil) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: 400;
  src: url(./NotoSansTamil-Regular.eot);
  src: url(./NotoSansTamil-Regular.eot?#iefix) format('embedded-opentype'),
       url(./NotoSansTamil-Regular.woff2) format('woff2'),
       url(./NotoSansTamil-Regular.woff) format('woff'),
       url(./NotoSansTamil-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: 700;
  src: url(./NotoSansTamil-Bold.eot);
  src: url(./NotoSansTamil-Bold.eot?#iefix) format('embedded-opentype'),
       url(./NotoSansTamil-Bold.woff2) format('woff2'),
       url(./NotoSansTamil-Bold.woff) format('woff'),
       url(./NotoSansTamil-Bold.ttf) format('truetype');
}
