@use "@project-sunbird/sb-styles/assets/mixins/mixins"as *;
@use 'pages/content-header'as *;
@use 'pages/reports'as *;

.sb-graph-section {
  position: relative;
  z-index: 1;
  margin: calculateRem(15px) !important;
  padding: calculateRem(24px);
  margin-top: calculateRem(24px);
  background-color: var(--sb-card-bg);
  color: var(--sb-text);
  border-radius: calculateRem(4px);
}

.graph-section {
  background-color: var(--sb-card-bg);
  color: var(--sb-text);
}

.report-description {
  margin-left: 4rem !important;
}

.sb-graph-section.global-filter {
  background-color: var(--sbt-compt-bg) !important;
}

.graph-section {
  background-color: var(--sbt-compt-bg) !important;
  border-radius: 0px 0px 0px 0px !important;
  margin-top: 0px !important;
  padding-top: calculateRem(5px) !important;
}

.ui.selection.dropdown {
  color: var(--ui-dropdown-selection-icon) !important;
}

.sb-field ::ng-deep {
  .ui.selection.dropdown {
    color: var(--gray-800) !important;
    font-size: calculateRem(15px) !important;
    min-height: calculateRem(40px) !important;
    border-radius: calculateRem(24px) !important;
    border: calculateRem(1px) var(--rc-dddddd) solid !important;
    background-color: var(--white);
  }
}

.report-title {
  font-size: calculateRem(22px);
  color: var(--sb-prominent-filter-title);
  line-height: calculateRem(24px);
  font-weight: 500;
}

.reports-content-header {
  border-radius: calculateRem(24px) !important;
  background: var(--sbt-body-bg) !important;
}

.ui.dropdown.selection {
  ::ng-deep {
    .dropdown.icon {
      color: var(--primary-color) !important;
    }
  }
}

.sb-field .ui.selection.dropdown {
  ::ng-deep {
    .text {
      color: var(--white) !important;
      padding: 0 calculateRem(5px);
    }
  }
}

.chart-container {
  display: block;
  max-height: calculateRem(400px);
  max-width: calculateRem(400px);
  margin: 0 auto;
}

.bar-chart-container {
  display: block;
  max-width: calculateRem(900px);
  max-height: calculateRem(450px);
  margin: 0 auto;
}

.thumbnail-card {
  height: calculateRem(98px);
  margin-top: calculateRem(5px);
  display: inline;
  justify-content: space-around;
  align-items: center;
}

.card-align {
  margin-top: calculateRem(10px);
}

.filter-modal-button {
  margin-top: calculateRem(20px);
}

.sb-filter {
  &__container {
    width: 100%;
    height: 100vh;
    min-height: calculateRem(400px);
    background-color: var(--sbt-body-bg) !important;
    padding: calculateRem(24px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow-y: auto;

    @include respond-above(sm) {
      border-radius: calculateRem(8px);
      max-width: calculateRem(1008px);
      height: auto;
    }
  }

  &__header {
    width: 100%;
    text-align: center;
    max-width: calculateRem(328px);
  }

  &__content {
    width: calculateRem(648px);
    max-width: 100%;
    margin-bottom: auto;
  }

  &__footer {
    margin-top: calculateRem(16px);
    width: 100%;
    text-align: center;

    @include respond-above(sm) {
      max-width: 80%;
    }
  }
}

::ng-deep {
  .sb-filter-modal {
    @include respond-below(sm) {
      .ui.modal {
        width: 95%;
        margin: 0 0 0 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
      }

      .ui.modal.scroll {
        position: fixed !important;
        margin-top: o !important;
        margin-bottom: 0px !important;
        top: 0;
        width: 100%;
        left: 0px;
        right: 0px;
        margin: 0 !important;
      }
    }
  }
}

.sb-filter__content {
  ::ng-deep {
    .sb-prominent-filter-field {
      width: 50%;
    }
  }
}

.filter-modal {
  float: right;
  margin-bottom: calculateRem(12px);
}

input[type="checkbox"] {
  background: var(--sb-card-bg);
  border: var(--gray-100);
}

.questions {
  color: var(--sb-prominent-filter-title);
  font-weight: 500;
}

.ui.checkbox input.hidden+label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 500;
}

.card-images {
  width: calculateRem(90px);
  height: calculateRem(90px);
  margin-right: calculateRem(5px);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: calculateRem(100px);
  z-index: 3;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.column-btn {
  margin-top: calculateRem(15px);
  float: right;
  margin-right: calculateRem(5px);
}

.double-btn:after {
  content: "";
  display: table;
  clear: both;
}

.modalDimention {
  min-width: 60vw;
}
