<div class="footerClass container-full pull-left col-md-12 text-center">
    <div class="footerAbs">
        <div class="copyright-cont pull-left col-md-12 text-center">
            <div>
                <a href="/">Home</a>
                <span class="divider">&nbsp;</span>
                <a href="//www.niit.com">NIIT Limited</a>
                <span class="divider">&nbsp;</span>
                <a href="/people">People</a>
                <span class="divider">&nbsp;</span>
                <a href="/FAQ">FAQ</a>
            </div>
            <div class="text-center">
                &copy; 2016-17 NIIT Limited. All rights reserved.
            </div>
        </div>
    </div>
</div>