<div class="footer-container footerClass">
    <div class="container">
        <div class="row text-center">
                <div class="col-md-6">
                    <div>
                        <ul class="ul-style  ul-line-height">
                            <li>
                                <h3>More</h3>
                            </li>
                            <li><a href="/privacypolicy">Privacy</a>
                            </li>
                            <li><a href="/termsofuse">Terms & Conditions</a>
                            </li>
                            <li><a href="javascript:void(0)">Disclaimer</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 il-contact-details">
                    <div class="il-red-border">
                    <ul class="ul-style">
                        <li>
                            <h3>Contact Us</h3>
                        </li>
                        <li><span>SunBird</span>
                        </li>
                        <li class="il-address"><span class="il-display">Quorum, No. 85, 7th Cross 4th Block</span>
                            <span>Koramangala Bangalore - 560034, Karnataka, INDIA</span>
                        </li>
                    </ul>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="copyright-cont">
        <div class="pull-left">
            powered by SunBird
        </div>
    </div>
</div>
