<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="images/favicon.png">
	<title>SunBird</title>
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css">

	<link rel="stylesheet" href="/css/common.css" type="text/css">
	<link rel="stylesheet" href="/css/student.css" type="text/css">

	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/custom.css" type="text/css">
	<link rel="stylesheet" href="/css/video-js.css" type="text/css">
	<link rel="stylesheet" href="/css/MetroJs.lt.css" type="text/css"/>
	<link rel="stylesheet" href="/css/rs-carousel-min.css" type="text/css" media="all" />
</head>
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
	<div class="row" style="color:#fff;">
	 
	  <div class="col-md-5 pull-left text-center">
	  	<a href="/private/player/dashboard"><img src="/img/logo.png" class="navbar-brand pull-left"></a>
		<div class="padTop pull-center">
		  <div class="input-group">
			<input type="text" class="form-control" placeholder="Search Courses">
			<span class="input-group-btn">
			<button class="btn btn-default" type="button"><i class="icon-search"></i></button>
			</span> 
		   </div>
		</div>
	  </div>
	  <div class="col-md-7 pull-right">
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
		  <ul class="nav navbar-nav navbar-right ul-style">
			<li class="dropdown"> 
				<a href="#" style="padding: 0px; margin-top: 6px;" class="dropdown-toggle" data-toggle="dropdown">
					<img src="/img/feroz.jpg" class="tutor_pic">
					 Feroz <b class="caret"></b>
				</a>
				<ul class="dropdown-menu ul-style">
					<li><a href="#">Profile</a></li>
					<li><a href="#">Settings</a></li>
					<li class="divider"></li>
					<li><a href="">Logout</a></li>
				</ul>
			</li>
		  </ul>
		</nav>
	  </div>
	</div>
  </div>
</header>
<style>
ul {
	list-style: none;
}
</style>
<script src="/js/jquery.min.js"></script> 
<script src="/js/angular.min.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/controllers/dashboardController.js"></script>

<script src="/js/custom.js"></script> 
<script src="/js/student-custom.js"></script> 


