<div class="sidebarContainerz">
<div class="right-search-container" ui-view="sidebarSearch">
</div>
<div class="RightsideContainer scrollstyle" ng-controller="SidebarController">
	<div class="il-rt-container recentContent marginBottom20">
		<div class="il-rt-header pad0">
			<h3>my courses</h3>
		</div>
		<div class="il-rt-notn">
			<ul>
				<li>
					<span>{{courseTitle}}</span>
				</li>
				<li ng-repeat="headerCourse in headerCourses" ng-hide="courseTitle == headerCourse.name">
					<a href="javascript:void(0)" ng-click="showCoursePage(headerCourse.nodeId)">{{headerCourse.name}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="il-rt-container notesContent marginBottom20" ng-show="upcomingEvents.length > 0">
		<div class="il-sc-header il-dd-header pad0">
			<h3>Upcoming Events</h3>
		</div>
		<div class="il-rt-notn">
			<ul>
				<li ng-repeat="upcomingEvent in upcomingEvents | limitTo: 3">
					<a href="javascript:void(0)" ng-click="playLecture(upcomingEvent.objectId)" ng-if="upcomingEvent.name">{{upcomingEvent.name}}</a>
					<a href="javascript:void(0)" ng-click="playLecture(upcomingEvent.objectId)" ng-if="!upcomingEvent.name">Event {{$index + 1}}</a>
					<span>{{ upcomingEvent.startDate | date:"MMM d, y h:mm a"}} <span style="display: inline; padding-left: 2px;" ng-if="upcomingEvent.duration">({{ upcomingEvent.duration | readableTime}})</span></span>
				</li>
			</ul>
		</div>
	</div>
	<div class="il-rt-container notificationContent marginBottom20" ng-show="recentNotifications.length > 0">
		<div class="il-sc-header il-dd-header pad0">
			<h3>notifications</h3>
		</div>
		<div class="il-rt-notn">
			<ul>
				<li ng-repeat="notification in recentNotifications">
					<div ng-switch on="notification.notificationType">
						<div ng-switch-when="courseWall">
							<a href="#courseWall">{{notification.object.displayName}}</a>
							<span style="display: inline;">by</span>
							<span style="display: inline; padding-left: 4px;">{{notification.actor.displayName}}</span>
						</div>
						<div ng-switch-when="companyWall">
							<a href="#companyWall">{{notification.object.displayName}}</a>
							<span style="display: inline;">by</span>
							<span style="display: inline; padding-left: 4px;">{{notification.actor.displayName}}</span>
						</div>
						<div ng-switch-default>
							<a ng-if="!notification.context.objectId" href="#wall">{{notification.object.displayName}}</a>
							<a href="javascript:void(0)" ng-if="notification.context.objectId" ng-click="goToObject(notification.object.objectType, notification.context, notification.actor.preferredUsername)">{{notification.object.displayName}}</a>
							<span style="display: inline;">by</span>
							<a href="javascript:void(0)" style="display: inline; margin-left: 4px;" ng-click="userProfile(undefined, notification.actor.preferredUsername)">{{notification.actor.displayName}}</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="il-rt-container notesContent" ng-if="courseSummary">
		<div class="il-sc-header il-dd-header noPad">
			<h3>Course Summary</h3>
		</div>
		<div class="il-rt-notn">
			<ul>
				<li>
					<span ng-if="courseSummary.courseSummmary.length > 0" ng-repeat="summary in courseSummary.courseSummmary">{{summary.total}} {{summary.name}}</span>
					<span ng-if="courseSummary.students">{{courseSummary.students}} Students</span>
				<li>
			</ul>
		</div>
	</div>
	<div class="il-rt-container recentContent" ng-if="leaderboard && leaderboard.courseId">
        <div class="il-sc-header il-dd-header noPad">
            <h3>Top Students</h3>
        </div>
        <div class="il-rt-notn" ng-show="!leaderboard.students || leaderboard.students.length <= 0">
            <ul><li>
                <span style="display: inline;">No Students in the LeaderBoard</span>
            </li></ul>
        </div>
        <div class="il-rt-notn" ng-show="leaderboard.students.length > 0">
            <ul>
                <li ng-repeat="std in leaderboard.students | limitTo: 5">
                    <img ng-src="{{std.image}}" alt="" class="sideBarImage">
                    <div ng-community-user user-id='std.studentId' user-name='std.name' context="''"></div>
                    <span ng-if="std.college" class="moveTop5 topStudentDetails">{{std.college}}</span>
                </li>
                <li class="marginBottom25 pad0 moveTop10">
                    <a href="javascript:void(0)" ng-click="showLeaderboard()" class="pull-right">See All >></a>
                </li>
            </ul>
        </div>
        <div class="il-sc-header il-dd-header noPad" ng-show="leaderboard.colleges && leaderboard.colleges.length > 0">
            <h3>Top Colleges</h3>
        </div>
        <div class="il-rt-notn" ng-show="leaderboard.colleges && leaderboard.colleges.length > 0">
            <ul>
                <li ng-repeat="college in leaderboard.colleges | limitTo: 5" ng-if="college.name">
                    <span style="display: inline;">{{college.name}}</span>
                </li>
                <li class="marginBottom25 pad0 moveTop10">
                    <a href="javascript:void(0)" ng-click="showTopColleges()" class="pull-right">See All >></a>
                </li>
            </ul>
        </div>
        <div class="il-sc-header il-dd-header noPad" ng-show="leaderboard.streams && leaderboard.streams.length > 0">
            <h3>Top Streams</h3>
        </div>
        <div class="il-rt-notn" ng-show="leaderboard.streams && leaderboard.streams.length > 0">
            <ul>
                <li ng-repeat="stream in leaderboard.streams | limitTo: 5" ng-if="stream.name">
                    <span style="display: inline;">{{stream.name}}</span>
                </li>
                <li class="marginBottom25 pad0 moveTop10">
                    <a href="javascript:void(0)" ng-click="showTopStreams()" class="pull-right">See All >></a>
                </li>
            </ul>
        </div>
    </div>
	<div class="il-rt-container notesContent" ng-if="courseSummary.faculties && courseSummary.faculties.length > 0">
		<div class="il-rt-header">
			<h3>Faculty</h3>
		</div>
		<div class="il-rt-notn">
			<ul style="margin-bottom:5px;" ng-repeat="faculty in courseSummary.faculties">
				<li>
					<img ng-if="faculty.image" ng-src="{{faculty.image}}" alt="" class="sideBarImage">
					<img ng-if="!faculty.image" src="/img/default_user.png" alt="" class="sideBarImage">
					<a href="javascript:void(0)" ng-click="userProfile(undefined, faculty.identifier)" ng-if="faculty.name">{{faculty.name}}</a>
				</li>
				<li>
					<span ng-if="faculty.description">{{faculty.description | characters:50 :true}}</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="il-rt-container notesContent" ng-if="courseSummary.Coach">
		<div class="il-rt-header">
			<h3>Coach</h3>
		</div>
		<div class="il-rt-notn">
			<ul>
				<li>
					<img ng-src="{{courseSummary.Coach.image}}" alt="" class="sideBarImage">
					<a href="javascript:void(0)" ng-click="userProfile(undefined, courseSummary.Coach.identifier)" ng-if="courseSummary.Coach.name">{{courseSummary.Coach.name}}</a>
				</li>
				<li>
					<span ng-if="courseSummary.Coach.description">{{courseSummary.Coach.description | characters:50 :true}}</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="il-rt-container recentContent marginBottom20" ng-show="recentDiscussions.length > 0">
		<div class="il-sc-header il-dd-header pad0">
			<h3>recent discussions</h3>
		</div>
		<div class="il-rt-notn">
			<ul>
				<li ng-repeat="discussion in recentDiscussions">
					<a href="#/courseqa/{{discussion.interactionId}}">{{discussion.title}}</a>
					<div class="metadata">
					<span style="display: inline;">by </span>
					<a style="display: inline" href="javascript:void(0);" class="display-inline" ng-click="userProfile(undefined, discussion.from)">{{discussion.userName}}</a><span style="display: inline;">, </span><span style="display: inline" data-livestamp="{{discussion.createdDate/1000}}"></span>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="il-rt-container recentContent marginBottom20" ng-show="recentNotes.length > 0">
		<div class="il-sc-header il-ct-header pad0">
			<h3>notes</h3>
		</div>
		<div class="il-rt-notn">
			<ul>
				<li ng-repeat="note in recentNotes | limitTo: 3">
					<a href="#" ng-click="notesDetailView(note.identifier)">{{note.title}}</a>
					<div class="metadata">
					<span data-livestamp="{{note.updatedOn}}"></span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>