@import "variables";
@import "mixins/mixins";

.sb-graph-section{
    border: calculateRem(1px) solid #ddd;
    padding: calculateRem(24px);
    margin-top: calculateRem(24px);
    background: var(--white);
    box-shadow: 0 calculateRem(2px) calculateRem(7px) 0 rgba(0,0,0,.16);
    border-radius: calculateRem(4px);
}
.sb-btn-normal i::after {
    content: "\f019";
    font-size: calculateRem(13px);
    color: var(--white);
}
.no-bg {
    background:none;
}

.dashboard-body-scroll{
    display: flex;
    align-items: flex-start;
}

.sb-sidebar-menu{
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 0;
}

.hawkeye-label {
    line-height: normal;
    border-radius: 32px;
    vertical-align: middle;
}

.sb-btn-normal i::after {
    content: "" !important;
    font-size: 0.8125rem;
    color: var(--white);
}

::ng-deep{
    .sb-hawkeye-modal.sb-modal {
        .ui.modal{
            margin: 0 auto 0 !important;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}