@use "@project-sunbird/sb-styles/assets/mixins/mixins"as *;
@use 'pages/content-header'as *;
@use 'pages/reports'as *;

.sb-graph-section {
  background: var(--sb-graph-section-bg);
}

.report-description {
  margin-right: calculateRem(0px) !important;
}

.sb-graph-section.global-filter {
  background-color: var(--sbt-compt-bg) !important;
}

.select-filter-label {
  padding-left: calculateRem(20px);
  font-size: calculateRem(17px);
}

.sbt-report-btns-panel-new {
  border-radius: 0px !important;
  background: var(--sbt-body-bg) !important;
}

.label-success {
  color: var(--success-color);
  padding-left: calculateRem(10px);
  padding-right: calculateRem(10px);
  font-size: calculateRem(14px);
  font-weight: 300;
}

.sb-label-primary-100 {
  background: none !important;
  font-size: calculateRem(14px) !important;

}

.label-warning {
  color: var(--accessibility-red);
  padding-left: calculateRem(10px);
  padding-right: calculateRem(10px);
  font-size: calculateRem(14px);
  font-weight: 300;
}

.sbt-container {
  .reports-container {
    padding-top: calculateRem(16px);
  }

  .reports-content-header {
    border-radius: calculateRem(24px) !important;
  }
}

.reports-content-header {
  background: var(--primary-0);
  box-shadow: var(--sbt-box-shadow-3px);
}

.table-view {
  background: var(--sbt-body-bg) !important;
}

.reset-filter {
  padding-left: calculateRem(20px) !important;
  padding-right: calculateRem(20px) !important;
}

::ng-deep {
  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
  .mat-checkbox-layout .mat-checkbox-label {
    white-space: normal !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
  .mat-checkbox-inner-container {
    top: 0.25rem !important;
    margin: inherit !important;
    margin-right: 0.5rem !important;
  }
}

.files-block {
  background: var(--sbt-body-bg) !important;
  margin: 0px !important;
  border-radius: 0px 0px calculateRem(24px) calculateRem(24px) !important;
  box-shadow: none;
  border-top: calculateRem(1px) solid var(--gray-100);
}
