<div class="ui container mt-24" [appTelemetryStart]="telemetryCourseStart" [appTelemetryEnd]="telemetryCourseEndEvent">
  <div class="ui stackable grid">

    <!--Content Section-->
    <div class="twelve wide column" [appTelemetryImpression]="telemetryContentImpression" id="app-player-collection-renderer" *ngIf="showPlayer && playerContent">

      <!--Content Title-->
      <div class="sb-pageSection">
        <div class="sb-pageSection-header">
          <h1 class="sb-pageSection-title m-0 mr-8">
            {{playerContent.name}}
          </h1>
          <div class="ml-auto d-flex flex-ai-center">
            <div *ngIf="isOffline" class="mr-16">
                <app-content-download [contentData]="playerContent" [collectionId]="collectionId"></app-content-download>
            </div>
            <button class="sb-btn sb-btn-xs sb-btn-error" type="button" (click)="closeContentPlayer()"
              appTelemetryInteract [telemetryInteractCdata]="telemetryCdata"
              [telemetryInteractObject]="playerTelemetryInteractObject"
              [telemetryInteractEdata]="closePlayerInteractEdata">
              {{resourceService.frmelmnts.btn.close}}
              <i class="ui remove icon"></i>
            </button>
          </div>
        </div>
      </div>
      <!--/Content Title-->

      <!--Content Player-->
      <app-player class="content-player" [playerOption] ="playerOption" [playerConfig]="playerConfig | async"></app-player>
      <!--/Content Player-->

      <!--Content Navigation-->
      <div class="ui twelve column grid mt-24">
        <div class="one wide tablet only one wide computer only column"></div>
        <div class="six wide mobile only six wide tablet only three wide computer only column">
          <button 
            class="ui blue button left floated fluid tocbutton toc-left-nav-btn-content" 
            (click)="navigateToContent(prevPlaylistItem)"
            [disabled]="prevPlaylistItem === undefined">
            <span class="header">{{resourceService.frmelmnts.btn.previous}}</span>
            <br>
            <span class="font-white description text-ellipsis">{{prevPlaylistItem?.title || resourceService.messages.stmsg.m0120}}</span>
          </button>
        </div>
        <div class="four wide tablet only four wide computer only column"></div>
        <div class="six wide mobile only six wide tablet only three wide computer only column pr-0">
          <button 
            class="ui blue button right floated fluid toc-right-nav-btn-content"
            (click)="navigateToContent(nextPlaylistItem)"
            [disabled]="nextPlaylistItem === undefined"
            >
            <span class="header">{{resourceService.frmelmnts.btn.next}}</span>
            <br>
            <span class="font-white description text-ellipsis">{{nextPlaylistItem?.title || resourceService.messages.stmsg.m0120}}</span>
          </button>
        </div>
      </div>
      <!--/Content Navigation-->
    </div>
    <!--/Content Section-->

    <!--Loader if collection data not ready-->
    <div class="twelve wide column" *ngIf="loader" >
      <app-loader [data]="loaderMessage"></app-loader>
    </div>
    <!--/Loader if collection data not ready-->

    <!--Collections-->
    <div class="twelve wide column" *ngIf="!loader" [appTelemetryImpression]="telemetryImpression">

      <!--Collection Title-->
      <div class="sb-pageSection">
        <div class="sb-pageSection-header">
          <h1 class="sb-pageSection-title m-0 mr-5">
            {{collectionTitle}}
          </h1>
          <div class="ml-auto d-flex flex-ai-center">
            <div *ngIf="isOffline" class="mr-16">
                <app-content-download [contentData]="collectionData"></app-content-download>
                </div>
            <button class="sb-btn sb-btn-xs sb-btn-error " type="button" (click)="closeCollectionPlayer()"
              appTelemetryInteract [telemetryInteractCdata]="telemetryCdata"
              [telemetryInteractObject]="playerTelemetryInteractObject"
              [telemetryInteractEdata]="closeCollectionPlayerInteractEdata">
              {{resourceService.frmelmnts.btn.close}}
              <i class="ui remove icon"></i>
            </button>
          </div>

        </div>
      </div>
      <!--/Collection Title-->

      <!--Badges-->
      <app-content-badge [data]="badgeData" ></app-content-badge>
      <!--Badges-->
      
      <!--Collection Tree-->
      <app-collection-tree 
        *ngIf="collectionTreeNodes.data && collectionTreeNodes.data.children && collectionTreeNodes.data.children.length >0 ; else dataCommingSoon" 
        (contentSelect)="OnPlayContent($event)" 
        [nodes]="collectionTreeNodes" 
        [options]="collectionTreeOptions"
      >
      </app-collection-tree>
      <!--/Collection Tree-->

      <!--Content Coming soon-->
      <ng-template #dataCommingSoon>
        <app-comming-soon [contentOrgId]="collectionTreeNodes.data.channel"></app-comming-soon>
      </ng-template>
      <!--/Content Coming soon-->
    </div>
    <!--/Collections-->

    <!--Collection metadata-->
    <div class="twelve wide column" *ngIf="!showPlayer">
      <app-collection-player-metadata [metaData]="collectionData"></app-collection-player-metadata>
    </div>
    <!--/Collection metadata-->

  </div>
</div>
