@import"variables";
@import 'mixins/mixins';

.section-header {
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    &__title {
    font-family: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    height: 1.5rem;
    color: var(--primary-color);
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.625rem;
    display: flex;
    align-items: center;
    .badge {
        display: inline-block;
        background: #d4d3d3;
        color: var(--gray-800);
        text-align: center;
        padding: 0 .75rem;
        border-radius: .25rem;
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 1rem;
        font-weight: 400;
        margin-left:8px;
        html[dir="rtl"] & {
            margin-right:8px;
            margin-left: inherit;
        }
    }
    }  
}

.dropdown-menu-content {
    position: absolute;
    border-radius: calculateRem(2px);
    background-color: var(--white);
    box-shadow: 0 calculateRem(3px) calculateRem(5px) calculateRem(4px) rgba(0,0,0,0.05);
    padding: calculateRem(16px);
    z-index: 1;
    text-align: left;
    right: calculateRem(10px);
    top: calculateRem(10px);
    .list{
      display: flex;
      align-items: center;
      cursor: pointer;
      &:first-child{
        margin-bottom: calculateRem(8px);
        &:hover{
          span{
            color:var(--primary-color);
          }
        }
      }
      &:hover{
        span{
          color: var(--red-400);
        }
      }
      span{
        font-size: calculateRem(14px);
        padding-left: calculateRem(8px);
      }
    }
  }