@import "variables";
@import 'mixins/mixins';
@import 'pages/sign_in_up';

.orange-border {
    border-color: #A30010 !important;
}
.blue.text {
    color: var(--primary-color);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}  
.cursor-pointerText {
    cursor: text;
    pointer-events: none !important;
}