<div class="ui container">
    <div class="content-grid m-0 mt-24">
        <div class="twelve wide column" *ngIf="contentList?.length">
            <div class="masonry-grid dynamic-section-card">
                <div class="masonry-item card-width" *ngFor="let content of contentList;let i = index;">
                    <sb-library-card [content]="content" [type]="'desktop_textbook'"
                        [cardImg]="content?.cardImg || 'assets/images/book.png'" [hover-template]="hoverTemplate">
                        <ng-template #hoverTemplate let-hoverData="hoverData" let-content="content">
                            <sb-card-hover class="card-hover" [content]="content" [hoverData]="hoverData"
                                (hoverActionClick)="hoverActionClicked($event)">
                            </sb-card-hover>
                        </ng-template>
                    </sb-library-card>
                </div>
            </div>
        </div>
    </div>
</div>


<sui-dimmer class="page offline content" [isDimmed]="showExportLoader" [isClickable]="false">
    <div class="ui active centered inline loader"></div>
    <h6 class="mt-8"> {{resourceService.frmelmnts?.lbl?.exportingContent | interpolate:'{contentName}':contentName}}
    </h6>
</sui-dimmer>

<sui-dimmer class="page offline content" [isDimmed]="showDownloadLoader" [isClickable]="false">
    <div class="ui active centered inline loader"></div>
    <h6 class="mt-8"> {{resourceService.frmelmnts?.lbl?.downloadingContent | interpolate:'{contentName}':contentName}}
    </h6>
</sui-dimmer>