:host {
  .page {
    background: rgba(0, 0, 0, 0.6);

    h6 {
      color: #F3F7FA;
      font-weight: normal;
    }
  }
  .card-width {
    width: 292px;
  }
}

.ui.dimmer .ui.loader:before {
  border-color: rgba(255,255,255,0.01);
}
.ui.dimmer .ui.loader:after {
  border-color: var(--primary-200) transparent transparent;
}
