@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

>>>.ui.dropdown:not(.button)>.default.text {
    display: none;
     }
     
     .ui.inline.dropdown.search-dropdown {
        margin-left: calculateRem(5px);
        box-sizing: border-box;
        }
    
    .popup-content{
        width: calculateRem(850px) !important;
    }

 
