mat-card{
  margin-bottom: 10px;
  box-shadow: 10px 10px 10px grey;
  text-overflow: ellipsis;
  border-radius: 2%;
  border-color: gray;
  font-size: 15px;
}

mat-expansion-panel{
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 100px 10px 5px rgb(218, 215, 215);
  border-radius: 3%;
}

mat-card:hover{
 background-color: rgb(204, 200, 200);
 box-shadow: 5px 5px 5px grey;
}


mat-card-header{
  overflow-wrap: break-word;
  padding: 0% 0%;
  text-overflow: ellipsis;
  position: relative;
}
mat-checkbox{
  color: green;
}


.expansion{
  margin-bottom: 15px;
}

mat-panel-title {
  font-size: 18px;
  font-weight: bold;
}
