<!-- <sui-accordion *ngFor="let child of rootChildrens"  class="ui styled accordion margin-top-10  width-100">
  <sui-accordion-panel (click)="!child.folder && onNodeClick(child)" [(isOpen)]="child.togglePanelIcon" [isDisabled]="!child.folder">
    <div title class="accordian-left-text">
      <i *ngIf="child.folder" class="fa fa-2x vertical-align-middle" [class.fa-folder-open-o]="child.togglePanelIcon" [class.fa-folder-o]="!child.togglePanelIcon"></i>
      <i *ngIf="!child.folder" [ngClass]="child.icon"></i>&nbsp;&nbsp;&nbsp;<span>{{child.title}}</span>
      <i *ngIf="child.folder" class="icon right-float padding-top-5" [class.plus]="!child.togglePanelIcon" [class.minus]="child.togglePanelIcon"></i>
    </div>
    <div *ngIf="child.folder" content>
      <app-fancy-tree (itemSelect)="onItemSelect($event)" [nodes]="child.children" [options]="{ showConnectors: true }"></app-fancy-tree>
    </div>
  </sui-accordion-panel>
</sui-accordion> -->

<div *ngFor="let child of nodeRoot.children">
  <mat-accordion>
    <mat-expansion-panel *ngIf="child.children.length > 0" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span [ngClass]="child.icon"></span> {{child.title}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-collection-tree *ngIf="child.children.length > 0" [nodeRoot]="child"></app-collection-tree>
    </mat-expansion-panel>

    <mat-card *ngIf="child.children.length == 0" (click)="onItemSelect(child)" tabindex="0" style="margin-bottom: 4px">
      <mat-checkbox style="margin-right:3px"></mat-checkbox> <span [ngClass]="child.icon"> </span> {{child.title}}
    </mat-card>

  </mat-accordion>
</div>