<div ng-if="noteList.courseId">
    <div ng-controller="courseScheduleCtrl as toc" ng-include="'views/course/courseHeader.html'" ng-init="toc.init()"></div>
</div>
<div class="ui grid">
    <div class="one wide column"></div>
    <div class="ten wide column">
        <div class="ui segments">
            <div class="ui segment margin-auto padding-left-right-0 padding-top-bottom-0 " ng-init="noteList.getAllNotes()">
                <div class="ui grid margin-top-0 margin-left-right-0 margin-bottom-0 height-100" id="notesList">
                    <div class="twelve wide column">
                        <div class="addnotes ui container container-with-button padding-left-right-0">
                            <span class="ui header">{{$root.frmelmnts.lbl.mynotes}}</span>
                            <i class=" circular icon margin-left-right-10 link" ng-class="!noteList.add.showCreateNote ? 'plus' : 'remove'" ng-click="noteList.add.showCreateNote = !noteList.add.showCreateNote; $root.generateInteractEvent('note',noteCard.courseId,'viewAllCourseNote','1.0','create-note','note-create')"></i>
                            <div class="notesearch right-floated">
                                <div class="ui icon input">
                                    <input type="text" ng-model="noteList.searchData.text" placeholder={{$root.frmelmnts.intxt.t0001}} title={{$root.frmelmnts.lbl.search}} />
                                    <i class="circular search link icon"></i>
                                </div>
                                <h5 class="ui right floated basic icon circular button" ng-click="noteList.closeNoteList()">
                                    <i class="ui remove icon"></i>
                                </h5>
                            </div>
                        </div>
                        <div class="twelve wide column padding-top-20" ng-if="noteList.add.showCreateNote">
                            <div ng-include="'views/note/createNote.html'"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="noteListSegment ui secondary segment" ng-if="noteList.notesList.length > 0">
                <div class="twelve wide column">
                    <div class="ui grid">
                        <div class="four wide column padding-topBottomNone">
                            <div class="notelistscroll">
                                <div class="profileitems ui relaxed divided items ">
                                    <div class="item padding-topBottomNone notelistfocus" ng-repeat="note in noteList.notesList| orderBy : '-updatedDate' | noteListFilter:noteList.searchData.text">
                                        <div class="content padding-all-10 contentnotelist" id="notelistcontent{{$index}}" ng-class="{'notelistborder': $index === noteList.selectedIndex || $index === 0 }" ng-click="noteList.showNoteList(note, $index)">
                                            <a class="header ">{{ note.title | limitTo: 20 }}</a>
                                            <i ng-show="note.title.length > 15" class="ellipsis horizontal icon popup-button" data-content="{{note.titles}}" data-variation="wide"></i>
                                            <div class="description margin-top-0" ng-init="noteData = note.note.length > 20 ? note.note.substring(-1,20) : note.note">

                                                <pagedown-viewer content="noteData"></pagedown-viewer>
                                                <i ng-show="noteData.length > 15" class="ellipsis horizontal icon popup-button" data-content="{{note.titles}}" data-variation="wide"></i>
                                            </div>
                                            <div class="meta ">
                                                <span class="note-card-timeStamp">{{note.lastUpdatedOn| dateFilterXTimeAgo}}</span>
                                            </div>
                                        </div>
                                        <div ng-if="($index < noteCard.quantityOfNotes - 1) && noteCard.notesList.length > 1" class="ui clearing divider"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" eight wide column padding-topBottomNone" ng-if="!noteList.update.showUpdateNote">
                            <div class="ui items ">
                                <div class="content notelistrightscroll padding-top-10">
                                    <div class="ui row margin-right-15">
                                        <div class="right-floated padding-top-10">
                                            <i class="large edit icon cursor-pointer" title={{$root.frmelmnts.lbl.edit}} ng-click="noteList.update.showUpdateNote = !noteList.update.showUpdateNote; noteList.updateNoteData(noteList.selectedNoteData); $root.generateInteractEvent('note',noteList.courseId,'viewAllCourseNote','1.0','edit-note','note-edit')"></i>
                                            <i class="right-floated large trash outline icon cursor-pointer" title={{$root.frmelmnts.lbl.delete}} ng-click="noteList.openRemoveNoteModel(noteList.selectedNoteData.id); $root.generateInteractEvent('note',noteList.courseId,'viewAllCourseNote','1.0','delete-note','note-delete')"></i>
                                        </div>

                                        <span class="ui small header notedecheader mouse-pointer"> {{ noteList.selectedNoteData.title}}
                                        </span>
                                        <div class="description padding-top-10">
                                            <pagedown-viewer content="noteList.selectedNoteData.note" class="notedec"></pagedown-viewer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="eight wide column padding-right-28" ng-if="noteList.update.showUpdateNote">
                            <div ng-include="'views/note/updateNote.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="noteList.searchApi.loader.showLoader">
            <app-loader data="{{noteList.searchApi.loader}}"></app-loader>
        </div>
        <div ng-if="noteList.notesList.length === 0">
            <div class="ui huge positive message">
                <p>{{noteList.messages.SEARCH.NO_RESULT}}</p>
            </div>
        </div>
    </div>
    <div class="one wide column"></div>
</div>

<div ng-show="noteList.showRemoveNoteModel">
    <div class="ui mini modal" id="removeNoteModal">
        <div class="header">
            {{$root.frmelmnts.lbl.deletenote}}
        </div>
        <div class="content">
            <div class="description">
                {{$root.frmelmnts.prmpt.deletenote}}
            </div>
        </div>
        <div class="actions">
            <div class="ui negative button" ng-click="noteList.hideRemoveNoteModel">{{$root.frmelmnts.btn.no}}</div>
            <div class="ui primary button " ng-click="noteList.removeNote(noteList.removeNoteId)">{{$root.frmelmnts.btn.yes}}</div>
        </div>
    </div>
</div>
<div ng-if="noteList.showAddImageModal">
    <div class="ui modal" id="showAddImageModal">
        <div class=" ui segment margin-top-10">
            <div class=" margin-bottom-15">
                <div class="ui grid">
                    <div class="eleven wide column">
                        <span class="ui header">{{$root.frmelmnts.lbl.insertimage}}</span>
                    </div>
                </div>
            </div>
            <div class="content">
                <div>
                    <p>{{$root.frmelmnts.Lnk.imglnkmsg}}</p>
                </div>
                <div class="ui fluid icon input">
                    <input type="text" placeholder="Title" name="title" ng-model="noteList.imageLink" />
                </div>
            </div>
            <div class="actions">
                <button class="ui primary right floated button margin-bottom-15 margin-top-10 " type="submit" tabindex="3" ng-click="noteList.closeAddImageModal()">{{$root.frmelmnts.btn.ok}}</button>
                <button class="ui secondary right floated button margin-bottom-15 margin-top-10" type="submit" ng-click="noteList.closeAddImageModal(true)">{{$root.frmelmnts.btn.cancel}}</button>
            </div>
        </div>
    </div>
</div>