<span ng-if="noteCard.showModalInLectureView" class="ui center aligned icon tiny header toc-note">
    <span class="ui cardtakenote cursor-pointer" ng-click="noteCard.showAddNoteModal(); $root.generateInteractEvent('note',noteCard.courseId,'addNote','1.0','add-note','note-add')">
        <img ng-src="/common/images/takenote.png">
        <span>{{$root.frmelmnts.lbl.takenote}}</span>
</span>
</span>
<span ng-if="noteCard.showModalInCourseView">
    <span ng-click="noteCard.showAddNoteModal(); $root.generateInteractEvent('note',noteCard.courseId,'addNote','1.0','add-note','note-add')" class="cursor-pointer">
        <i class="circular icon margin-right-10 plus"></i>&nbsp;{{$root.frmelmnts.lbl.addnote}}
    </span>
</span>
<div ng-if="noteCard.showCreateNote">
    <div class="ui coupled modal" id="addNoteModal">
        <div class="header" ng-if="!noteCard.createApi.loader.showLoader">
            <div class="ui grid">
                <div class="eleven wide column">
                    <span class="ui header">{{$root.frmelmnts.pgttl.takeanote}}</span>
                </div>
                <div class="one wide column actions">
                    <h5 class="ui basic icon circular button deny" ng-click="$root.generateInteractEvent('note',noteCard.courseId,'closeNote','1.0','close-note','note-close')">
                        <i class="ui remove icon"></i>
                    </h5>
                </div>
            </div>
        </div>
        <div class="scrolling content" ng-if="!noteCard.createApi.loader.showLoader">
            <div class="ui fluid icon input">
                <input type="text" placeholder={{$root.frmelmnts.lbl.title}} name="title" ng-model="noteCard.add.title" />
            </div>
            <div class="editor">
                <pagedown-editor content="noteCard.add.note" show-preview="false" insert-image="noteCard.insertImage()" placeholder={{$root.frmelmnts.lbl.description}}></pagedown-editor>
            </div>
        </div>
        <div class="actions" ng-if="!noteCard.createApi.loader.showLoader">
            <button class="ui primary right floated button margin-bottom-15 margin-top-10 " type="submit" ng-class="noteCard.denyModalClass" ng-disabled="!noteCard.add.title || !noteCard.add.note" tabindex="3" ng-click="noteCard.createNote(noteCard.add); $root.generateInteractEvent('note',noteCard.courseId,'createNote','1.0','add-note','note-create')">{{$root.frmelmnts.btn.save}}</button>
            <button class="ui secondary right floated button margin-bottom-15 margin-top-10" type="submit" ng-click="noteCard.clearAddNoteData(); $root.generateInteractEvent('note',noteCard.courseId,'clearAddNote','1.0','clearadd-note','note-clear')" tabindex="4" >{{$root.frmelmnts.btn.clear}}</button>
        </div>
        <div class=" ui segment margin-top-10" ng-if="noteCard.createApi.loader.showLoader">
            <app-loader data="{{noteCard.createApi.loader}}"></app-loader>
        </div>
    </div>
    <div ng-if="noteCard.showAddImageModal">
        <div class="ui coupled modal" id="showAddImageModal">
            <div class=" ui segment margin-top-10">
                <div class=" margin-bottom-15">
                    <div class="ui grid">
                        <div class="eleven wide column">
                            <span class="ui header">{{$root.frmelmnts.lbl.insertimage}}</span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div>
                        <p>{{$root.frmelmnts.Lnk.imglnkmsg}}</p>
                    </div>
                    <div class="ui fluid icon input">
                        <input type="text" placeholder="Title" name="title" ng-model="noteCard.imageLink" />
                    </div>
                </div>
                <div class="actions">
                    <button class="ui primary right floated button margin-bottom-15 margin-top-10 " type="submit" tabindex="3" ng-click="noteCard.closeAddImageModal()">{{$root.frmelmnts.btn.ok}}</button>
                    <button class="ui secondary right floated button margin-bottom-15 margin-top-10" type="submit" ng-click="noteCard.closeAddImageModal(true)">{{$root.frmelmnts.btn.cancel}}</button>
                </div>
            </div>
        </div>
    </div>
</div>