@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.certificate-content {
  height: 100%;
}

.cert-img-sb-card {
  width: 100%;
  height: auto;
  background-color: var(--white);
  border: calculateRem(2px) solid var(--gray-200);
  border-radius: .25rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: calculateRem(16px);
  transition: all 0.3s ease-out;

  &:last-child {
    margin-bottom: 0;
  }

  &.active {
    .selected-mark {
      position: absolute;
      right: calculateRem(4px);
      top: 0;
      display: block;
    }
  }

  &.active,
  &:hover {
    border: calculateRem(2px) solid var(--primary-color);
  }

  &__content {
    padding: 0.5rem;
    overflow: hidden;
    position: relative;

    .selected-mark {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.select-template-content {
  background: var(--white);
  height: 100%;
}

.cert-select-card {
  width: 100%;
  border-radius: 0.5rem;
  cursor: pointer;

  &__content {
    height: 100%;
    background: var(--white);

    &__description {
      width: 100%;
      text-align: center;
      border-style: dashed;
      border-color: var(--gray-100);

      .title {
        font-size: 1.125rem;
        color: var(--gray-100);
      }
    }
  }
}

.cert-select-image {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    border: calculateRem(1px) solid;
    margin-bottom: calculateRem(16px);
  }
}

.cert-view-image {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    border: calculateRem(1px) solid;
  }
}

.asterik {
  color: var(--red-400);
}

.preview-title {
  font-size: calculateRem(20px);
}

.state-labels {
  color: var(--gray-800);
}

.list-border {
  border-bottom: calculateRem(1px) solid var(--gray-200);
}

.sb-browse-btn {
  position: relative;
  overflow: hidden;
  margin-top: calculateRem(3px);
  cursor: pointer;
  border-radius: calculateRem(24px);
  border: calculateRem(2px) solid var(--primary-300);
  color: var(--primary-300);
  font-weight: bold;
  background: var(--primary-100);
}
.svgContainer {
  width: 100%;
  height: 100%;
}
