@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.sb-modal{
  .disable-color{
    color: var(--gray-400);
    opacity: 0.5;
  }
  .sb-radio-title{
    padding-left: 1.5rem;
    padding-right: 0;
  }

  .sb-label-table .sb-live-error{
    height: 0.5rem;
    width: 0.5rem;
    display: inline-block;
    border-radius: 50%;
    background: var(--tertiary-100);
  }
}
