// Variables
//
//Contains color variables used through out the website .
//
//.@websiteBody-color  - Defines the color of background in the website.
//
// Style guide: Base.Variables



@white: #FFFFFF;
@blue: #007AFF;
@light-blue:#0076FE;
@border-color: #E6E7E8;
@blue-dark: #006cff; 
@websiteBody-color: #fdfdfd;
@dark-grey: #333333;
@light-grey: #7c7b7b;
@lighter-grey: #979797;
@light-skyblue:#007AFF; 
@dashBoardAcitve:#0076FE;
@dashBoardLinkText:#007AFF;
@dashBoardCardText:#232425;

