@use "@project-sunbird/sb-styles/assets/mixins/mixins"as *;

.cert-img-sb-card {
  width: 6.375rem;
  margin-bottom: calculateRem(16px);
  border-radius: .25rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-top: .1875rem;
  transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
  transition-delay: .1s;

  &.active {
    transform: scale(1.03, 1.03);

    .selected-mark {
      position: absolute;
      right: calculateRem(4px);
      top: 0;
      display: block;
    }
  }

  &:hover {
    transform: scale(1.03, 1.03);
  }

  &__content {
    height: 5.375rem;
    padding: 0.5rem;
    overflow: hidden;
    position: relative;

    .selected-mark {
      position: absolute;
      top: calculateRem(4px);
      right: calculateRem(4px);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.cert-select-card {
  width: 100%;
  border-radius: 0.5rem;
  cursor: pointer;

  &__content {
    height: 100%;

    &__description {
      width: 100%;
      min-height: calculateRem(418px);
      text-align: center;
      border-style: dashed;
      border-color: var(--gray-100);
    }
  }
}
