

<!-- New Certificate layout -->

<!-- Remove the top old HTML and uncomment the below HTML -->

<div [ngClass]="layoutConfiguration ? 'sbt-inside-page-container py-16' : ''">

  <div class="sb-bg-color-white py-8 relative9 cc-player__content-header cc-player__border-fix">
    <div class="ui container">
      <div class="d-flex flex-ai-center flex-jc-space-between">
        <button (click)="back()" tabindex="0"
          class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn mr-auto" id="goBack"
          type="button">
          <i class="icon-svg icon-svg--xxs icon-back mr-4">
            <svg class="icon icon-svg--primary">
              <use xlink:href="assets/images/sprite.svg#arrow-long-left"></use>
            </svg></i>
          {{resourceService?.frmelmnts?.btn?.back}}
        </button>
      </div>
    </div>
  </div>

  <div class="certificate-container relative9">
    <div class="ui container">
      <div class='sb-g mt-16'>
        <div class="sb-g-col-xs-12 sb-g-col-md-3 sb-g-col-lg-3 sb-g-col-xxxl-12">
          <div class="certificate-content">
            <label class="fmedium my-8">{{resourceService?.frmelmnts?.cert?.lbl?.layout}}</label>
            <div class="mt-16">
              <div *ngFor="let certificate of defaultCertificates" class="cert-img-sb-card"
                [ngClass]="selectedCertificate?.identifier === certificate?.identifier ? 'active' : ''">
                <div class="cert-img-sb-card__content d-flex flex-ai-center flex-jc-center" alt="certificate template">
                  <img (click)="chooseCertificate(certificate)" tabindex="0" [src]="certificate?.artifactUrl"
                    alt="certificate template" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="sb-g-col-xs-12 sb-g-col-md-9 sb-g-col-lg-9 sb-g-col-xxxl-12">
          <div>
            <div class="d-flex flex-ai-center">
              <i class="icon-svg icon-svg--md icon-back mr-16">
                <svg class="icon icon-svg--primary">
                  <use xlink:href="assets/images/sprite.svg#question_on_play"></use>
                </svg></i>
              <label class="preview-title mb-0 mr-auto">Edit certificate template </label>
              <button type="button" tabindex="0" class="sb-btn sb-btn-normal sb-btn-outline-primary">Cancel
              </button>
              <button type="button" (click)="previewCertificate()" tabindex="0"
                class="sb-btn sb-btn-normal sb-btn-primary ml-16">Save & Preview
              </button>
            </div>

            <div class="cert-select-card my-16">
              <div class="d-flex flex-ai-center flex-dc cert-select-card__content">
                <div class="d-flex flex-ai-center flex-jc-center cert-select-card__content__description">
                  <svg-editor [svgContent]="logoHtml"></svg-editor>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>