@import "mixins/mixins";
@import 'variables';

:host ::ng-deep {
  html[layout='joy'] {
    .sb-btn-normal {
      height: 2rem;
    }

    .sb-btn {
      box-shadow: none;
      /* border: 0px; */
    }
  }
}

.cert-select-image {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    border: calculateRem(1px) solid;
    margin-bottom: calculateRem(16px);
  }
}

.cert-view-image {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    border: calculateRem(1px) solid;
  }
}

.state-labels {
  color: var(--gray-200);
}

.list-border {
  border-bottom: calculateRem(1px) solid var(--gray-200);
}

.sb-bulk-upload-btn {
  position: relative;
  overflow: hidden;
  margin-top: calculateRem(3px);
  cursor: pointer;

  .sb-btn-upload {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    height: 100%;
    cursor: pointer;
  }
}


.active {
  border: calculateRem(1px) solid var(--secondary-color);
}
