@import "mixins/mixins";
@import 'variables';

.certificate-content{
    height: 100%;
    background: var(--white);
  }

.cert-img-sb-card {
    width: 6.375rem;
    background-color: var(--white);
    border: .0625rem solid var(--rc-dedede);
    border-radius: .25rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-top: .1875rem;
    transition: box-shadow .3s ease-out,transform .3s ease-out,opacity .2s ease-out;
    transition-delay: .1s;
    flex: none;
    &.active {
      border: 2px solid var(--primary-300);
      transform: scale(1.03, 1.03);
      .selected-mark{
        position: absolute;
        right:calculateRem(4px);
        top:0;
        display: block;
      }
    }
      &:hover{
        border: 2px solid var(--primary-300);
        transform: scale(1.03, 1.03);
    }
	&__content {
    height: 5.375rem;
    padding: 0.5rem;
    overflow: hidden;
    position: relative;
    .selected-mark{
      display: none;
    }
	img{
	width:100%;
	height:100%;
  }
 }
}

.select-template-content{
  background: var(--white);
  height:100%;
}

.cert-select-card{
    width: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
    &__content{
      height: 100%;
      background: var(--white);
     &__description{
      width: 100%;
      min-height: 360px;
      height: auto;
      text-align: center;
      border-style: dashed;
      border-color: var(--gray-100);
      embed {
        background:var(--white);
        width: 100%;
        height:100%;
      }
      .title{
        font-size: 1.125rem;
        color: var(--gray-100);
      }
     }
    }
 }

.cert-select-image {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    border: calculateRem(1px) solid;
    margin-bottom: calculateRem(16px);
  }
}

.cert-view-image {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    border: calculateRem(1px) solid;
  }
}

.asterik{
  color: var(--red-400);
} 

.preview-title{
font-size: calculateRem(20px);
}

.state-labels {
  color: var(--gray-800);
}

.list-border {
  border-bottom: calculateRem(1px) solid var(--gray-200);
}

.sb-browse-btn {
  position: relative;
  overflow: hidden;
  margin-top: calculateRem(3px);
  cursor: pointer;
  border-radius: 24px;
  border: 2px solid var(--primary-300);
  color: var(--primary-300);
  font-weight: bold;
  background:var(--primary-100);
}


.cert-img-sb-card__content embed {
  background: var(--white);
  width: 100%;
  height: 100%;
}

.cert-flex-container {
  width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    flex-direction: row;
    gap:16px;
}