<div class="mat-inside-page-container mat-app-background2">
  <!-- Header section-->

  <div class="p-16 d-flex flex-ai-center br-24 mat-app-background">
    <button type="button" mat-mini-fab color="accent" class="button-rounded" (click)="back()" tabindex="0" id="goBack"
      attr.aria-label="{{resourceService?.frmelmnts?.btn?.back}}">
      <mat-icon fontIcon="arrow_back"></mat-icon>
    </button>

  </div>

  <!-- / Header section-->

  <!-- Create template form-->

  <div class="sb-g mt-24">
    <div class="sb-g-col-xs-12 sb-g-col-md-6 sb-g-col-lg-6 sb-g-col-xxxl-6">
      <div class="mat-app-background br-24 p-24">
        <label class="mat-body-1 font-weight-bold mb-24">{{resourceService?.frmelmnts?.cert?.lbl?.languageSupportNote}}</label>
        <form [formGroup]="createTemplateForm">

         
            <mat-form-field color="accent" class="w-100" appearance="fill">
              <mat-label>{{resourceService?.frmelmnts?.cert?.lbl?.certtitle}}</mat-label>
              <input matInput formControlName="certificateTitle" id="certificateTitle-input"
                [ngClass]="(createTemplateForm.controls.certificateTitle.touched && createTemplateForm.controls.certificateTitle.invalid) ? 'is-invalid' : 'is-valid'">
                <mat-hint>
                  {{resourceService?.frmelmnts?.cert?.inlntxt?.certtitle}}
                </mat-hint>
              </mat-form-field>
              <br>
    
          <!-- <label>{{resourceService?.frmelmnts?.cert?.lbl?.certtitle}}<span class="asterik">*</span></label>
            <label for="certificateTitle-input"
              class="hide">{{resourceService?.frmelmnts?.cert?.prmpt?.certtitle}}</label>
            <input formControlName="certificateTitle" id="certificateTitle-input"
              [ngClass]="(createTemplateForm.controls.certificateTitle.touched && createTemplateForm.controls.certificateTitle.invalid) ? 'is-invalid' : 'is-valid'"
              class="sb-form-control" [placeholder]="resourceService?.frmelmnts?.cert?.prmpt?.certtitle">
          <small class="pl-4 fsmall">
            {{resourceService?.frmelmnts?.cert?.inlntxt?.certtitle}}
          </small> -->

          <div class="mat-body-1 font-weight-bold my-24">{{resourceService?.frmelmnts?.cert?.lbl?.statedet}}</div>

          
            <mat-form-field color="accent" class="w-100" appearance="fill">
              <mat-label>{{resourceService?.frmelmnts?.lbl?.name}}</mat-label>
              <input matInput formControlName="stateName" id="stateName-input"
                [ngClass]="(createTemplateForm.controls.stateName.touched && createTemplateForm.controls.stateName.invalid) ? 'is-invalid' : 'is-valid'">
                <mat-hint>{{resourceService?.frmelmnts?.cert?.inlntxt?.statedet}}</mat-hint>
            </mat-form-field>
            <!-- <label for="state" class="state-labels">{{resourceService?.frmelmnts?.lbl?.name}}<span class="asterik">*</span></label>
            <label for="stateName-input" class="hide">{{resourceService?.frmelmnts?.cert?.prmttxt?.statedet}}</label>
            <input formControlName="stateName" id="stateName-input" class="sb-form-control"
              [ngClass]="(createTemplateForm.controls.stateName.touched && createTemplateForm.controls.stateName.invalid) ? 'is-invalid' : 'is-valid'"
              [placeholder]="resourceService?.frmelmnts?.cert?.prmttxt?.statedet">
            <small class="pl-4 fsmall">{{resourceService?.frmelmnts?.cert?.inlntxt?.statedet}}</small> -->
          

          <div class="sb-g mt-32">
            <div class="sb-g-col-xs-12 sb-g-col-md-6 sb-g-col-lg-6 sb-g-col-xxxl-8">
              <div class="d-flex flex-dc">
                <label class="font-weight-normal">{{resourceService?.frmelmnts?.cert?.lbl?.statelogo}} <span
                    class="asterik">*</span></label>
                <button (click)="openSateLogos({type: 'LOGO', index: 0,  key:'LOGO1'})" tabindex="0" mat-raised-button
                  class="button-rounded w-100 color-accent">
                  {{resourceService?.frmelmnts?.cert?.btn?.browse}}
                </button>
                <mat-hint *ngIf="!(images?.LOGO1?.name)" class="py-4 mat-caption lineHeight-normal"
                  [innerHTML]="sanitizeHTML(resourceService?.frmelmnts?.cert?.intxt?.imgdimensions)"></mat-hint>
                <mat-hint *ngIf="(images?.LOGO1?.name)" class="py-4 mat-caption lineHeight-normal">{{images?.LOGO1?.name}} <span
                    class="pl-8">
                    <img (click)="removeImage('LOGO1')" tabindex="0" src="assets/images/close.svg"
                      width="12px"></span></mat-hint>
              </div>
            </div>
            <div class="sb-g-col-xs-12 sb-g-col-md-6 sb-g-col-lg-6 sb-g-col-xxxl-8">
              <div class="d-flex flex-dc">
                <label class="font-weight-normal">{{resourceService?.frmelmnts?.cert?.lbl?.statelogo2}}</label>
                <button (click)="openSateLogos({type: 'LOGO', index: 1,  key:'LOGO2'})" tabindex="0" mat-raised-button
                  class="button-rounded w-100 color-accent">
                  {{resourceService?.frmelmnts?.cert?.btn?.browse}}
                </button>
                <mat-hint *ngIf="!(images?.LOGO2?.name)" class="py-4 mat-caption lineHeight-normal"
                  [innerHTML]="sanitizeHTML(resourceService?.frmelmnts?.cert?.intxt?.imgdimensions)"></mat-hint>
                <mat-hint *ngIf="(images?.LOGO2?.name)" class="py-4 mat-caption lineHeight-normal">{{images?.LOGO2?.name}}<span
                    class="pl-8">
                    <img (click)="removeImage('LOGO2')" tabindex="0" src="assets/images/close.svg"
                      width="12px"></span></mat-hint>
              </div>
            </div>
          </div>
          <div class="mat-body-1 font-weight-bold my-24">{{resourceService?.frmelmnts?.cert?.lbl?.signatory}}</div>
          <div class='sb-g'>
            <div class="sb-g-col-xs-12 sb-g-col-md-6 sb-g-col-lg-6 sb-g-col-xxxl-8">
              <div class="d-flex flex-dc">
                <label class="font-weight-normal">{{resourceService?.frmelmnts?.cert?.lbl?.sign}}<span
                    class="asterik">*</span></label>
                <button (click)="openSignLogos({type: 'SIGN', index: 0,  key:'SIGN1'})" tabindex="0" mat-raised-button
                  class="button-rounded w-100 color-accent">
                  {{resourceService?.frmelmnts?.cert?.btn?.browse}}
                </button>
                <mat-hint *ngIf="!(images?.SIGN1?.name)"
                  class="py-4 mat-caption lineHeight-normal">{{resourceService?.frmelmnts?.cert?.inlntxt?.signspec}}</mat-hint>
                <mat-hint *ngIf="(images?.SIGN1?.name)" class="py-4 mat-caption lineHeight-normal">{{images?.SIGN1?.name}}<span
                    class="pl-8">
                    <img (click)="removeImage('SIGN1')" tabindex="0" src="assets/images/close.svg"
                      width="12px"></span></mat-hint>
                
              </div>
            </div>
            <div class="sb-g-col-xs-12 sb-g-col-md-6 sb-g-col-lg-6 sb-g-col-xxxl-8">
              <div class="d-flex flex-dc">
                <label class="font-weight-normal">{{resourceService?.frmelmnts?.cert?.lbl?.sign2}}</label>
                <button (click)="openSignLogos({type: 'SIGN', index: 1,  key:'SIGN2'})" tabindex="0" mat-raised-button
                  class="button-rounded w-100 color-accent">
                  {{resourceService?.frmelmnts?.cert?.btn?.browse}}
                </button>
                <mat-hint *ngIf="!(images?.SIGN2?.name)"
                  class="py-4 mat-caption lineHeight-normal">{{resourceService?.frmelmnts?.cert?.inlntxt?.signspec}}</mat-hint>
                <mat-hint *ngIf="(images?.SIGN2?.name)" class="py-4 mat-caption lineHeight-normal">{{images?.SIGN2?.name}}<span
                    class="pl-8">
                    <img (click)="removeImage('SIGN2')" tabindex="0" src="assets/images/close.svg"
                      width="12px"></span></mat-hint>
              </div>
              
            </div>
          </div>
          <div class="sb-g mt-16">
            <div class="sb-g-col-xs-12 sb-g-col-md-6 sb-g-col-lg-6 sb-g-col-xxxl-8">
              <div class="d-flex flex-dc mb-0">
                <mat-form-field color="accent" appearance="fill">
                  <mat-label>{{resourceService?.frmelmnts?.cert?.lbl?.signdesig}}</mat-label>
                  <input matInput formControlName="authoritySignature_0" id="authoritySignature_0-input"
                    [ngClass]="(createTemplateForm.controls.authoritySignature_0.touched && createTemplateForm.controls.authoritySignature_0.invalid) ? 'is-invalid' : 'is-valid'">
                    <mat-hint class="mat-caption lineHeight-normal">
                      {{resourceService?.frmelmnts?.cert?.inlntxt?.signdet}}
                    </mat-hint>
                </mat-form-field>

                <!-- <label class="mb-16">{{resourceService?.frmelmnts?.cert?.lbl?.signdesig}}<span class="asterik">*</span></label>
                <label for="authoritySignature_0-input" class="hide">{{resourceService?.frmelmnts?.cert?.lbl?.designation}}</label>
                <input formControlName="authoritySignature_0" class="sb-form-control" id="authoritySignature_0-input"
                  [ngClass]="(createTemplateForm.controls.authoritySignature_0.touched && createTemplateForm.controls.authoritySignature_0.invalid) ? 'is-invalid' : 'is-valid'"
                  [placeholder]="resourceService?.frmelmnts?.cert?.lbl?.designation">
                <small class="pl-4 fsmall">
                  {{resourceService?.frmelmnts?.cert?.inlntxt?.signdet}}
                </small> -->
              </div>
            </div>
            <div class="sb-g-col-xs-12 sb-g-col-md-6 sb-g-col-lg-6 sb-g-col-xxxl-8">
              <div class="d-flex flex-dc">
                <mat-form-field color="accent" appearance="fill">
                  <mat-label>{{resourceService?.frmelmnts?.cert?.lbl?.signdesig2}}</mat-label>
                  <input matInput formControlName="authoritySignature_1" id="authoritySignature_1-input"
                    [ngClass]="(createTemplateForm.controls.authoritySignature_1.touched && createTemplateForm.controls.authoritySignature_1.invalid) ? 'is-invalid' : 'is-valid'">
                    <mat-hint class="mat-caption lineHeight-normal">
                      {{resourceService?.frmelmnts?.cert?.inlntxt?.signdet}}
                    </mat-hint>
                </mat-form-field>
              </div>
              <!-- <label class="mb-16">{{resourceService?.frmelmnts?.cert?.lbl?.signdesig2}}</label>
                <div class="sb-field mb-0">
                  <label for="authoritySignature_1-input"
                    class="hide">{{resourceService?.frmelmnts?.cert?.lbl?.designation}}</label>
                  <input formControlName="authoritySignature_1" id="authoritySignature_1-input"
                    [ngClass]="(createTemplateForm.controls.authoritySignature_1.touched && createTemplateForm.controls.authoritySignature_1.invalid) ? 'is-invalid' : 'is-valid'"
                    class="sb-form-control" [placeholder]="resourceService?.frmelmnts?.cert?.lbl?.designation">
                </div>
                <small class="pl-4 fsmall">
                  {{resourceService?.frmelmnts?.cert?.inlntxt?.signdet}}
                </small> -->

            </div>
          </div>
          <br>
          <div class="mt-24 w-100">
            <mat-checkbox class="mr-8 cursor-pointer certificate-checkbox checkbox-font-normal mat-caption" formControlName="allowPermission"
              value="true" type="checkbox" id="check2"
              name="selected">{{resourceService?.frmelmnts?.cert?.intxt?.confrmtion}}</mat-checkbox>
          </div>
          <!-- <div class='ui stackable grid mt-0'>
            <div class="twelve wide column">
              <div class="sb-checkbox sb-checkbox-secondary pt-24">
                <input formControlName="allowPermission" value="true" type="checkbox" id="check2" name="selected">
                <label for="check2"
                  class="text-left fsmall">{{resourceService?.frmelmnts?.cert?.intxt?.confrmtion}}</label>
              </div>
            </div>
          </div> -->
        </form>

      </div>
    </div>

    <!-- Side panel of cert-templates -->
    <div class="sb-g-col-xs-12 sb-g-col-md-6 sb-g-col-lg-6 sb-g-col-xxxl-10">
      <div class="mat-app-background br-24 p-24">
        <div class="d-flex flex-jc-space-between flex-ai-center">
          <label class="mat-title mb-0 font-weight-bold">{{resourceService?.frmelmnts?.cert?.lbl?.certprew}}</label>
          <button type="button" (click)="previewCertificate()" tabindex="0" mat-raised-button
            class="button-rounded color-accent">
            {{resourceService?.frmelmnts?.cert?.btn?.refresh}}
          </button>
        </div>
        <div class="d-flex flex-ai-center mat-bg-white my-24">
          <div class="d-flex flex-ai-center flex-jc-center cert-select-card__content__description">
            <img [src]="getImagePath()" class="w-100" alt="Certificate template">
          </div>
        </div>


        <div>
          <label>{{resourceService?.frmelmnts?.cert?.lbl?.layout}}</label>
          <div class="d-flex flex-w-wrap flex-ai-center flex-jc-center">
            <div *ngFor="let certificate of defaultCertificates" class="cert-img-sb-card mat-bg-white mr-16">
              <div class="cert-img-sb-card__content" alt="certificate template">
                <img (click)="chooseCertificate(certificate)" tabindex="0" [src]="certificate?.artifactUrl"
                  alt="certificate template" />
                <div *ngIf="selectedCertificate?.identifier === certificate?.identifier" class="selected-mark"><img
                    src="assets/images/checkbox-icon.svg" alt="selected mark"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="d-flex flex-ai-center flex-jc-flex-end mat-bg-white p-16 br-24 mt-24">
    <button (click)="createCertTemplate()" tabindex="0" mat-raised-button color="accent"
      class="button-rounded">{{resourceService?.frmelmnts?.cert?.btn?.saveAsTemplate}}</button>
  </div>

</div>
<browse-image-popup (assetData)="assetData($event)" (close)="close()" [showUploadUserModal]="showUploadUserModal"
  [showSelectImageModal]="showSelectImageModal" [logoType]="logoType"></browse-image-popup>


<!-- <browse-image-popup (assetData)="assetData($event)" (close)="close()" [showUploadUserModal]="showUploadUserModal"
  [showSelectImageModal]="showSelectImageModal" [logoType]="logoType"></browse-image-popup> -->