<div class="ui container mt-30">
  <div class="ui grid">
    <div class="ui active inverted dimmer" *ngIf="showCopyLoader">
      <div class="ui text centered inline loader mt-40">
        {{resourceService.frmelmnts.lbl.copycontent}}
      </div>
    </div>
    <div class="row" *ngIf="showPlayer">
      <div class="twelve wide column">
        <div class="ui grid" id="app-player-collection-renderer">
          <div class="twelve wide column">
            <h1 class="ui header small HomeAccordianHeading m-responsive-cp left floated header">
              {{contentTitle}}
            </h1>
            <h5 appTelemetryInteract [telemetryInteractEdata]="closeContentIntractEdata" [telemetryInteractObject]="objectContentInteract"
              class="ui right floated basic icon circular button mouse-pointer" (click)="closeContentPlayer()">
              <i class="ui remove icon"></i>
            </h5>
          </div>
          <div class="twelve wide column">
            <app-player class="content-player" [playerConfig]="playerConfig | async"></app-player>
          </div>
        </div>
      <div class="ui row pt-0">
        <div class="ui twelve column grid pr-0">
          <div class="one wide tablet only one wide computer only column"></div>
          <div class="six wide mobile only three wide tablet only three wide computer only column">
            <button class="ui blue button left floated fluid tocbutton toc-left-nav-btn-content" (click)="navigateToContent(prevPlaylistItem)"
              [disabled]="prevPlaylistItem === undefined">
              <span class="header">{{resourceService.frmelmnts.btn.previous}}</span>
              <br />
              <span class="font-white description text-ellipsis" title="{{prevPlaylistItem?.title || resourceService.messages.stmsg.m0120}}">{{prevPlaylistItem?.title || resourceService.messages.stmsg.m0120}}</span>
            </button>
          </div>
          <div class="four wide tablet only four wide computer only column"></div>
          <div class="six wide mobile only three wide tablet only three wide computer only column pr-0">
            <button class="ui blue button right floated fluid toc-right-nav-btn-content" (click)="navigateToContent(nextPlaylistItem)"
              [disabled]="nextPlaylistItem === undefined">
              <span class="header">{{resourceService.frmelmnts.btn.next}}</span>
              <br />
              <span class="font-white description text-ellipsis" title="{{nextPlaylistItem?.title || resourceService.messages.stmsg.m0120}}">{{nextPlaylistItem?.title || resourceService.messages.stmsg.m0120}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="triggerContentImpression" [appTelemetryImpression]="telemetryContentImpression"></div>
  </div>
  <div *ngIf="loader" class="row">
    <div class="twelve wide centered column">
      <app-loader [data]="loaderMessage"></app-loader>
    </div>
  </div>
  <div class="row" *ngIf="!loader" [appTelemetryImpression]="telemetryImpression">
    <div class="twelve wide column">
      <span class="ui HomeAccordianHeading m-responsive-cp left floated header">{{collectionTitle}}</span>
      <h5 appTelemetryInteract [telemetryInteractEdata]="closeIntractEdata" [telemetryInteractObject]="objectInteract" class="ui right floated basic icon circular button  mouse-pointer"
        (click)="closeCollectionPlayer()">
        <i class="ui remove icon"></i>
      </h5>
    </div>
  </div>
  <div class="row pb-0" *ngIf="!loader">
    <div *ngIf="collectionStatus !== 'Unlisted'" class="twelve wide column">
      <div class="ui grid">
        <div class="twelve wide column">
          <div class="player-badge-alignment">
            <sui-rating [ngClass]="{'collection-player-header-divider': badgeData}" class="courseHeader-rating ui star rating  pt-5"
              [isReadonly]="true" [maximum]="5"></sui-rating>
            <app-content-badge [data]="badgeData" class="ml-20 m-responsive-cp-badge-ml"></app-content-badge>
            <span class="ml-auto">
              <!-- Temporarily disable flagging-->
              <!-- <a routerLink="flag" class="pr-10 blue-text-color-sunbird">
                <i class="ui large blue flag outline icon"></i>
                {{resourceService?.frmelmnts?.lbl?.report}}
              </a> -->
              <a href="javascript:void(0)" (click)="onShareLink();sharelinkModal=true;" class="pr-10 blue-text-color-sunbird">
                <i class="cursor-pointer large blue share alternate icon"></i>
                {{resourceService?.frmelmnts?.lbl?.share}}
              </a>
              <span *ngIf="permissionService.permissionAvailable && collectionTreeNodes.data.contentType !== 'TextBook'" appPermission
                [permission]="['CONTENT_CREATOR', 'CONTENT_REVIEWER']" (click)="copyContent(collectionTreeNodes.data)" class="ui mouse-pointer content-font ml-10 blue-text-color-sunbird ">
                <i class="ui large blue clone outline icon "></i>
                {{resourceService?.frmelmnts?.lbl?.copy}}
              </span>
              <span *ngIf="permissionService.permissionAvailable && collectionTreeNodes.data.contentType === 'TextBook'" appPermission
                [permission]="['BOOK_CREATOR']" (click)="copyContent(collectionTreeNodes.data)" class="ui mouse-pointer content-font ml-10 blue-text-color-sunbird ">
                <i class="ui large blue clone outline icon blue-text-color-sunbird "></i>
                {{resourceService?.frmelmnts?.lbl?.copy}}
              </span>
            </span>
          </div>
        </div>
        <div class="three wide column">
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-0">
    <div class="twelve wide column">
      <app-assign-badges-content *ngIf="contentType === 'TextBook'" [data]="badgeData"></app-assign-badges-content>
    </div>
  </div>
  <div class="row" *ngIf="!loader">
    <div class="twelve wide column">
      <app-collection-tree *ngIf="collectionTreeNodes.data && collectionTreeNodes.data.children && collectionTreeNodes.data.children.length >0 ; else dataCommingSoon" (contentSelect)="OnPlayContent($event)" [nodes]="collectionTreeNodes" [options]="collectionTreeOptions">        
      </app-collection-tree>
      <ng-template #dataCommingSoon>
        <div class="placeholder mt-40">
            <img src="{{'assets/images/datacomingsoon.png' | cdnprefixurl }}"/>
            <h5 class="header placeholder-heading mb-5">{{resourceService?.messages?.stmsg?.m0121}}</h5>
            <p class="placeholder-content">{{resourceService?.messages?.stmsg?.m0122}}</p>
        </div> 
    </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="twelve wide column">
      <app-collection-player-metadata *ngIf=!showPlayer [metaData]="collectionData"></app-collection-player-metadata>
    </div>
  </div>
</div>
</div>
<app-share-link [shareLink]="shareLink" [telemetryShareData]="telemetryShareData" *ngIf="sharelinkModal" (close)="sharelinkModal = false">
</app-share-link>
<router-outlet></router-outlet>