.border-bottom {
    border-bottom: 1px solid @border-color !important;
}
.margin-bottom {
    margin-bottom: 2px !important;
}
.no-border {
    box-shadow: none !important;
    border: none !important;
}
