.border-bottom {
    border-bottom: 1px solid @border-color !important;
}
.margin-bottom {
    margin-bottom: 2px !important;
}
.no-border {
    box-shadow: none !important;
    border: none !important;
}

.ui.secondary.pointing.menu .active.item{
    border-color:@blue !important;
}
.ui.secondary.pointing.menu{
    background:@white !important;
}
.modal{
    .ui.segment{
        box-shadow:none !important;
        border:none!important;

    }}

.content-player-container{
    position: relative;
    top:0;
    left: 0;
    height: 100%;
    width:100%;
    background-color: #fff;
    z-index: 111111 !important;
}
.content-player-body{
    padding:1%;
}
.content-player{
    position: relative;
    height:99%;
    width:99%;
}
.content-player iframe{
    min-height:500px;
    
}
.player-video{
    width:100% !important;
    height:100% !important;
    position: relative;

}
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}



}

.cursor-pointer{
    cursor:pointer;
}
.pdf-viewer{
    padding: 1%;
    position: relative;
    background-color: #fff;
}
.pdf-viewer-toolbar{

}


.padding-10 {
    padding: 10px 10px;
}
.padding-bottom-15 {
    padding-bottom: 15px !important;
}
.padding-20 {
    padding: 10px !important;
}
.verticalLine {
    border-left: thin solid #ddd;
}

.mouse-pointer {
    cursor: pointer;
}
.margin-auto {
    margin: auto !important;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-15 {
    margin-top: 15px !important;
}
.margin-bottom-15 {
    margin-bottom: 15px !important;
}
.margin-top-10 {
    margin-top: 10px !important;
}
.header-user-container {
    float: right !important;
}
.header-user-icon {
    margin-right: 0px !important;
}
.course-item {
    cursor: initial !important;
    margin-left: 10px !important;
}
.course-item-meta {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    .meta {
        font-size: 14px;
    }
}
.create-course-form {
    margin: 35px !important;
}
.height-150 {
    height: 150px;
}
.sample-show-hide {
    transition: all linear 1.0s;
}
.sample-show-hide.ng-hide {
    opacity: 0;
}
.right-float {
    float: right;
}
.margin-right-0 {
    margin-right: 0px !important;
}

.margin-top-0 {
    margin-top: 0px !important;
}
.display-inline {
    padding-top: 0px !important;
    display: inline;
}
.margin-left-right-10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.margin-left-0 {
    margin-left: 0px;
}
.padding-right-0 {
    padding-right: 0px !important;
}
.padding-left-right-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.margin-left-right-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.margin-top-bottom-10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.padding-top-bottom-0 {
    padding-top : 0px !important;
    padding-bottom: 0px !important;
}
.padding-top-0 {
    padding-top : 0px !important;
}

.container-with-button {
    width: 100% !important;
    padding-right: 0px !important;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}
.image-width-height {
    width: 100px !important;
    height: 50px !important;
}
.button-icon {
    padding-left: 5px !important;
    margin: 4px 4px 4px -3px !important;
}

.editor textarea { 
    background-color: white;
}


.margin-top--5 {
    margin-top: -0.3124em !important;
}

.font-size-small {
    font-size: small !important;
}

.pdf-editor {
    float: left !important;
    overflow:scroll !important;
    height: 600px !important;
}

.pdf-toolbar-padding {

    padding: 5px 5px 5px 20px !important;
}

.width-25p {
    width: 25% !important;
}

.content-player-header {
    padding: 5px 5px 5px 5px !important;
    font-size: 0.75em !important;
    border: gray !important;
}

.font-size-175em {
    font-size: 1.75em !important;
}