.border-bottom {
    border-bottom: 1px solid @border-color !important;
}
.margin-bottom {
    margin-bottom: 2px !important;
}
.no-border {
    box-shadow: none !important;
    border: none !important;
}
.content-player-container{
    position: relative;
    top:0;
    left: 0;
    height: 100%;
    width:100%;
    background-color: #fff;
    z-index: 111111 !important;
}
.content-player-body{
    padding:1%;
}
.player-video{
   width:90%;
   height:auto;
   position: relative;
   
}
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    
    
}

.cursor-pointer{
    cursor:pointer;
}