.filtersearch.ui.selection.dropdown {
    min-width: 100%;
}
.dropdown-content{
    text-align:right;
    white-space: nowrap;
 }
.filter-text{
    text-align: left;
    vertical-align: middle;
    line-height: 2.1;
    white-space: nowrap;
}
.filter-button{
    white-space: nowrap;
}

.searchfilterinput.ui.search .prompt {
    border-radius: 0;
}
.searchinput{
	width:600px;
	@media only screen and (max-width: 1400px) { 
	  width:500px;
	}
	@media only screen and (max-width: 1097px) { 
	  width:405px;
	}
}

.searchicon.ui.icon.input input {
    padding-right: 6px!important; 
    
}
.searchicon.ui.icon.input i{
    cursor: pointer;
}