/*sunbird light font*/
@font-face {
    font-family: 'sunbirdlightfont';
    src:url('../fonts/Roboto-Light.ttf') format('truetype'),
}

/*sunbird Regular font*/
@font-face {
    font-family: 'sunbirdregularfont';
    src:url('../fonts/Roboto-Regular.ttf') format('truetype');
}

/*sunbird Medium font*/
@font-face {
    font-family: 'sunbirdmediumfont';
    src:url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/*sunbird Bold font*/
@font-face {
    font-family: 'sunbirdboldfont';
    src:url('../fonts/Roboto-Bold.ttf') format('truetype');
}

/*cards fonts*/

.cardsHeading {
    font-family: 'sunbirdboldfont' !important;
    font-size:19px;
}

.cardsSubHeading {
    font-family: 'sunbirdregularfont' !important;
    font-size:15px;
}

.cardsDescription {
    font-family: 'sunbirdregularfont' !important;
    font-size: 14px;
    font-weight:400;
    line-height: 1.4;
    color: black !important;
}

/* font used for view all and read more*/

.cardsKnowMore {
    font-family: 'sunbirdboldfont' !important;
    font-size:14px !important;
}

/* cards used in slider fonts*/

.sliderCardHeading {
    font-family: 'sunbirdboldfont' !important;
    font-size: 16px !important;
}
.sliderCardDesc {
    font-family: 'sunbirdregularfont' !important;
    font-size: 13px !important;
    color: #8b8b8c !important;
}
.sliderCardSubDesc {
    font-family: 'sunbirdregularfont' !important;
    font-size: 11px !important;
    color: grey !important;
}


/* segment card fonts*/

.segmentCardHeading {
    font-family: 'sunbirdboldfont' !important;
    font-size: 18px !important;
}
.segmentAvatarDesc {
    font-family: 'sunbirdregularfont' !important;
    font-size: 14px !important;
    color: rgba(0,0,0,.85) !important;
}
.segmentAvatarSubDesc {
    font-family: 'sunbirdregularfont' !important;
    font-size: 12px !important;
    color: #7c7b7b !important;
}

.segmentCardSubDesc {
    font-family: 'sunbirdregularfont' !important;
    font-size: 14px !important;
}

/*course structure page fonts*/

.courseStructureHeading {
    font-family: 'sunbirdboldfont' !important;
    font-size: 18px !important;
}

.courseStructureDesc {
	font-family: 'sunbirdregularfont' !important;
    font-size: 15px !important;	
}


/*course structure accordian fonts*/

.courseAccordianHeading {
    font-family: 'sunbirdboldfont' !important;
    font-size: 16px !important;
}

.courseAccordianDesc {
    font-family: 'sunbirdregularfont' !important;
    font-size: 15px !important;
}

.courseAccordianSubDesc {
    font-family: 'sunbirdboldfont' !important;
    font-size: 12px !important;
}

.segmentCardHeading {
    font-family: 'sunbirdboldfont' !important;
    font-size: 20px !important;
}


