
.header-container {
	margin-left: 1px !important;
	border-bottom: 5px solid @blue !important;
}
.header-user-icon {
	margin-right: 0px !important;
}
.content-card-meta {
	background: rgba(0, 0, 0, 0.5) !important;
	color: @white !important;
	padding: 5px !important;
}
.login-form{
	.inline {
		input{
			width:80% !important;
		}
	}
}
.ui.menu {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin:0 0 !important;  
  margin-right:0px;
  margin-bottom:1rem;
  margin-left:0px;
  font-family:HelveticaNeueLTStd-Lt, Helvetica, Arial, sans-serif;
  background:#ffffff -webkit-linear-gradient(rgba(255,255,255,0.05),rgba(0,0,0,0.05));
  background:#ffffff linear-gradient(rgba(255,255,255,0.05),rgba(0,0,0,0.05));
  font-weight:400;
  border:1px solid rgba(0,0,0,0.13);
  box-shadow:0 1px 2px 0 rgba(0,0,0,0.13);
  border-radius:.2307em;
  min-height:3em;
  justify-content: center !important;
}

.margin-right-8{
	margin-right:8% !important;
}
.margin-left-small{
	margin-left:3% !important;
}
.margin-left-52{
	margin-left:58% !important;
}

.padding-top-1rem{
   padding-top: 1rem;
}
.padding-top-2rem{
   padding-top: 2rem;
}
.padding-top-header-large-icons{
   padding-top: 1.5rem;
}
.padding-top-circular-human-icon{
   padding-top: 0.4rem;
}
.font-size-header-icon {
    font-size: 2em !important;
}
.loginForm{
	padding-bottom:40px; 
}

.ui.modal{
.actions{
    background: @white !important;
    border: none;
    padding: 1rem 1rem 0 0 !important;
}
}

.alarm-icon-header {
    padding-top: 1.5rem !important;   
    margin: auto !important;
}
.header-search-filters-divider{
    margin-top: 0px !important;
    border-color: transparent;
    border-width: 0px !important;
}
.header-filter-container{
  background-color: #ffffff;
}
