@white: #FFFFFF;
@blue:#0099CC;
@border-color:#E6E7E8;
@import 'common';
@import 'header';
@import 'card';

body {
    position: relative !important;
    margin: 0 !important;
    min-height: 100% !important;
    min-width: 100% !important;
    font-family: "Helvetica Neue", Arial, sans-serif;
}
html {
    height: 100% !important;
    box-sizing: border-box !important;
}
.footer1 { 
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;  
}
.sidebar {
    position: fixed !important;
}
.margin-right-10 {
    margin-right:10px !important;
}
.margin-right-8rem {
    margin-right:8rem !important;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: rgb(122, 122, 126); 
    border: none;
    outline: none;
    background: rgb(128, 128, 133) !important;
}


.slider {
    width: 850px;
    margin: 0 auto;
}

img {
    width: 100px;
    height: 100px;
    padding: 5px;
}

.login-modal-text-align {
    text-align: center;
    align-self: center;
}
.login-modal-title {
    color: #333 !important;
    font-size: 24px !important;
    font-family: "FrutigerSerifLTW01-Medi 722257" !important;
} 
.login-modal-label-title {
    color: #333 !important;
    font-size: 18px !important;
    font-family: "FrutigerSerifLTW01-Medi 722257" !important;
} 








