@white: #FFFFFF;
@blue:#0099CC;
@border-color:#E6E7E8;
@blue-dark:#006cff; 
@import 'reUseable';
@import 'common';
@import 'header';
@import 'card';
@import 'footer';
@import 'normalize';
@import 'slickerSearch';
@import 'courseStructure';
@import 'learn';
@import 'toc';
@import 'home';
@import 'landingPage';

body {
    position: relative !important;
    margin: 0 !important;
    min-height: 100% !important;
    min-width: 100% !important;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

html {
    height: 100% !important;
    box-sizing: border-box !important;
}
.sidebar {
    position: fixed !important;
}

.login-modal-text-align {
    text-align: center;
    align-self: center;
}
.login-modal-title {
    color: #333 !important;
    font-size: 24px !important;
    font-family: "FrutigerSerifLTW01-Medi 722257" !important;
} 
.login-modal-label-title {
    color: #333 !important;
    font-size: 18px !important;
    font-family: "FrutigerSerifLTW01-Medi 722257" !important;
} 

.pusher-fix-height{
    height: 1200px !important;
}
.pusher {
  width: calc(100% - 10%);
}

.logged-in-user {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    display: inline-block !important;
    vertical-align: middle !important;
}

.courseHeader-rating {
   .active{
        color: @blue  !important;
        text-shadow: none  !important;
   }    
}


/*slick slider margin bottom removed*/

.slick-slider {
    margin-bottom: 0px !important;
}









