.header-container{
  margin-left: 1px !important;
  border-bottom: 5px solid #0099CC !important;
}
.toc-tree-container{
    border-right: 1px solid #DDD;
    margin-top: 15px;
    padding: 10px 50px 50px 50px !important;
}
.toc-tree-header{
  margin-left: -15px !important;
}
.course-browser-container{
    margin: 10px !important;
}
.course-cards{
    margin-top: 10px !important;
}
.header-border {
    border-bottom: 2px solid #ddd !important;
}
.padding-10 {
    padding: 10px 10px 21px 20px !important;
}
.padding-20 {
    padding: 10px !important;
}
.verticalLine {
  border-left: thin solid #ddd;
}
.angular-ui-tree-nodes .angular-ui-tree-nodes{
  margin-left: 25px !important;
}
.mouse-pointer {
    cursor: pointer;
}
.margin-auto {
    margin: auto;
}
.margin-top-20 {
    margin-top: 20px;
}
.header-user-container{
  float: right !important;
}
.header-user-icon {
  margin-right: 0px !important;
}
.course-item{
  cursor: initial !important;
  margin-left: 10px !important;
}
.course-item-meta{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.course-item-meta .meta{
  font-size: 14px;
}
.create-course-form{
  margin: 35px !important;
}
.content-card-meta{
  background: rgba(0, 0, 0, 0.5) !important;
  color: #FFFFFF !important;
  padding:5px !important;
}
.link{
  cursor: pointer !important;
}