<div class="ui padded grid">
  <div class="one wide column"></div>
  <div class="eight wide column"></div>
  <div class="two wide column">
    <div class="ui padding-top-none padding-bottom-15">
      <a class="ui cursor-pointer" *ngIf='permissionService.permissionAvailable' appPermission [permission]='admin' routerLink="/bulkUpload/uploadOrg">
        {{resourceService?.frmelmnts?.instn?.t0015}}
      </a>
    </div>
    <div class="ui padding-top-none padding-bottom-15">
      <a class="ui cursor-pointer" *ngIf='permissionService.permissionAvailable' appPermission [permission]='admin' routerLink="/bulkUpload/uploadUser">
        {{resourceService?.frmelmnts?.instn?.t0016}}
      </a>
    </div>
    <div class="ui padding-top-none padding-bottom-15">
      <a class="ui cursor-pointer" *ngIf='permissionService.permissionAvailable' appPermission [permission]='admin' routerLink="/bulkUpload/checkStatus">
        {{resourceService?.frmelmnts?.lbl?.chkuploadsts}}
      </a>
    </div>
  </div>
  <div class="one wide column"></div>
</div>
<router-outlet></router-outlet>