@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
@use 'pages/page-center-view' as *;
@use 'pages/custom-carousel.scss' as *;

  /* can be remove, comes from CC */
  .close {
    width:calculateRem(32px);
    height:calculateRem(32px);
    border-radius:50%;
    position:absolute;
    right:calculateRem(8px);
    top:calculateRem(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
  }

  h4 {
    color: var(--gray-800);
    font-size: calculateRem(20px);
    font-weight: bold;
    letter-spacing: 0;
    line-height: calculateRem(28px);
  }

  p {
    color: var(--gray-800);
    font-size: calculateRem(14px) !important;
    letter-spacing: 0;
    font-size: calculateRem(22px);
  }

::ng-deep {
  .modal-custom-carousel.slick-slider {
    .slick-list {
      height: inherit !important;
    }
  } 
}

.item-help .column-2 {
  @include respond-below(sm) {
    margin-top:calculateRem(24px);
  }
}