@import './mixins/mixins';
@import './pages/page-center-view.scss';
/* welcome screen */
 .sb-group-welcome-page-container {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100vh;
    z-index:999;
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgba(0,0,0,0.75);
    .sb-group-container {
      position:relative;
      display:flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      max-width:calculateRem(480px);
      width:calc(100% - 48px);
      height:calc(100vh - 100px);
      @include respond-above(sm){
        max-height:calculateRem(490px);
      }
      text-align:center;
      background: var(--white);
      padding: calculateRem(32px) calculateRem(48px) calculateRem(24px) calculateRem(48px);
      border-radius:calculateRem(8px);
 
    }
  }


  /* can be remove, comes from CC */
  .close {
    width:calculateRem(32px);
    height:calculateRem(32px);
    border-radius:50%;
    position:absolute;
    right:calculateRem(8px);
    top:calculateRem(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    i.icon-close {
      svg {

      }
    }
    &:hover {
    
    }
  }
  .sb-group-container__title {
    color: var(--gray-800);
    font-size: calculateRem(20px);
    font-weight: bold;
    letter-spacing: 0;
    line-height: calculateRem(28px);
    text-align: center;
  }
  .sb-group-container__img {
    width:calculateRem(220px);
  }
  .sb-group-container__description {
    color: var(--gray-800);
  font-size: calculateRem(14px);
  line-height: calculateRem(22px);
  }