<div class="ui link cards">
    <div class="sliderCards ui card margin-right-20 margin-top-15">
        <div class="image imageInCardsResponsive">
            <a class="ui black right ribbon label ng-binding" ng-if="item.resourceType">{{item.resourceType}}</a>
            <a class="ui black right ribbon label ng-binding" ng-if = "!item.resourceType">{{item.contentType}}</a>
            <div ng-if="item.leafNodesCount && item.progress > 0" class="ui tiny progress course-progress progressBar-margin orange" data-value="{{item.progress}}" data-total="{{item.leafNodesCount}}">
                <div class="bar"></div>
            </div>
            <img ng-src=" {{item.appIcon ? item.appIcon : '/common/images/default.png'}} ">
            <div class="cardImageText center aligned ">
                <span class="sliderCardHeading text-cencapitalize">{{item.name||item.courseName}}</span>
            </div>
        </div>
        <div class="sliderCards content">
            <div class="sliderCardDesc fixedRatingCard">
                {{ item.description | limitTo: 55 }}&nbsp;<i ng-show="item.description.length >= 55" class="ellipsis horizontal icon popup-button link" data-content="{{item.description}}" data-variation="wide"></i>
            </div>
            <button ng-show="$root.enrolledCourseIds[item.identifier]" class="ui blue basic right floated button padding-top-10">{{$root.frmelmnts.btn.resume}}</button>
            <div apply-script class="courseHeader-rating ui  star rating padding-top-10" data-rating="{{item.me_averageRating |number:0}}" data-max-rating="5"></div>
        </div>
    </div>
</div>