<div class="ui grid" ng-if="message && errorClass=='no-results'">
    <div class="one wide column"></div>
    <div class="ten wide column">
        <div class="ui two column centered grid noResultContainer">
            <div class="noresult column">
                <img ng-src="/common/images/erroricon.png">
                <div class="noResultText"><span>{{message}}</span></div>
                <div ng-if="messageText" class="noResultSearchText"><span>{{messageText}}</span></div>
            </div>
        </div>
    </div>
    <div class="one wide column"></div>
</div>
<div class="ui huge {{errorClass}} message" ng-if="message && errorClass!='no-results'">
    <i ng-if="isClose" class="close icon" ng-click="closeErrorMessage()"></i>
    <span>{{message}}</span>
</div>