<div class="ui link cards">
    <div class="sliderCards profilUpdateCards ui link card margin-right-20 margin-top-15 link">
        <div class="profileUpdateCardPadding">
            <div class="item">
                <div class="c100 light small blue margin-right-20" ng-class="'p'+item.value">
                    <div class="profpic">
                        <img class="ui circular floated image" ng-src="{{ avatar || '/common/images/user_logo.png'}}" />
                    </div>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <div class="padding-top-10 padding-left-10 content">
                    <div class="profileUpdateCardHeading"> {{item.title}}</div>
                    <div class="padding-top-5 profileUpdateCardSubDesc">{{item.description}}</div>
                </div>
            </div>
        </div>
        <div class="sliderCards content CardcontentTopPadding">
            <button class="ui blue basic right floated button margin-top-10">{{$root.labels.Courses.update}}</button>
            <div class="padding-top-10 sliderCardDesc"><span class="description profileUpdateCardSubDesc">Your profile is {{item.value}}% <br> complete</span></div>
        </div>
    </div>
</div>