<div class="ui cards">
    <div class="sliderCards profilUpdateCards ui link card margin-right-20 margin-top-15 margin-left-10 link">
                <div class="course-progress ui tiny progress  progressBar-margin orange" data-value="{{item.value}}" data-total="100">
            <div class="bar"></div>
        </div>
        <div class="profileUpdateCardPadding" ng-click="homeCtrl.generateInteractEvent('home', $root.userId, 'user', '1.0', 'home', 'home')">
            <div class="item">
                <div class="profileCard-circular-image light small blue margin-right-20">
                    <div class="profpic">
                        <img class="ui circular floated image" ng-src="{{ avatar || '/common/images/user_logo.png'}}" />
                    </div>
                </div>
                <div class="padding-top-20 padding-left-10 content profileUpdateCardContentHeight">
                    <div class="profileUpdateCardHeading"> {{item.title}}</div>
                    <div ng-repeat="field in item.missingFields | limitTo:1" ng-init="field = $root.frmelmnts.lbl[field] || field" class="padding-top-5 profileUpdateCardSubDesc">{{$first ? 'Add ' + field + ( item.missingFields.length > 1 ? '' : ''  ) :  field + ($last ? ' now' : '') }}</div>
                </div>
            </div>
        </div>
        <div class="sliderCards content CardcontentTopPadding">
            <button class="ui blue basic right floated button margin-top-10" ng-click="homeCtrl.generateInteractEvent('home', $root.userId,'user', '1.0', 'home', 'home')">{{$root.frmelmnts.btn.update}}</button>
            <div class="padding-top-10 sliderCardDesc"><span class="description profileUpdateCardSubDesc">Your profile is {{item.value}}% <br> complete</span></div>
        </div>
    </div>
</div>