<table class="ui upForReviewTable table">
  <thead>
    <tr>
      <th>CONTENT</th>
      <th>AUTHOR</th>
      <th>STATUS</th>
    </tr>
  </thead>
  <tbody>
    <tr class="UpForReviewListHover">
      <td >
        <h4 class="ui image header">
          <img src="https://www.w3schools.com/w3images/fjords.jpg" class="ui tiny image UpReviewTinyImage">
          <div class="content ">
				 <div class="UpReviewHeader"> Name of the polygon</div>
            <div class="UpReviewSubHeader">Lesson
          	</div>
        		</div>
      	</h4>      	
      </td>
      <td>  
			<h4 class="ui image header">			
				<div class="content">
					 <div class="UpReviewHeader"> Glen Wagner</div>
					<div class="UpReviewSubHeader">Pending since: yesterday
				 	</div>
       		 </div>
			</h4>			
       </td>
      <td  class="UpForReviewStatusOrange">IN REVIEW</td>
    </tr>
    <tr class="UpForReviewListHover">
      <td>
        <h4 class="ui image header">
          <img src="https://www.w3schools.com/w3images/fjords.jpg" class="ui tiny image UpReviewTinyImage">
          <div class="content">
          				 <div class="UpReviewHeader"> Name of the polygon</div>
            <div class="UpReviewSubHeader">Lesson
          	</div>
        		</div>
      	</h4>      	
      </td>
      <td>  
			<h4 class="ui image header">			
				<div class="content">
														 <div class="UpReviewHeader"> Glen Wagner</div>
					<div class="UpReviewSubHeader">Pending since: yesterday
				 	</div>
       		 </div>
			</h4>			
       </td>
      <td class="UpForReviewStatusGreen">PENDING</td>
    </tr>
  </tbody>
</table>