<div class="profileCard mr-30 mt-15 ">
    <div class="header">
        <div class="image">
            <img src="{{ profile.image || '/assets/images/user_logo.png' | cdnprefixurl }}"/>
        </div>
        <div class="meta">
            <div>{{resourceService.messages?.stmsg?.m0060}}</div>
            <div *ngFor="let field of profile.missingFields | slice:0:2 ;  let first = first; let last = last" 
                [ngClass]="{ first: first, last: last }"
                class="pt-5">
                    {{first ? 'Add ' + field + ( profile.missingFields.length > 1 ? '' : '' ) : field + (last ? ' now' : '') }}
            </div>
        </div>
    </div>
    <div class="extra">
        <button class="ui blue basic right floated button">{{resourceService.frmelmnts?.btn?.update}}</button>
        <span class="description">Your profile is <span>{{profile.value}}</span>% complete</span>
    </div>
    <sui-progress class="ui progress" [value]="profile.value" [maximum]="100"></sui-progress>
</div>