<div apply-script class="ui styled accordion">
    <div class="title title-padding-left">
      	Module 1 : Scientific Notations 
      	<i class="angle down icon down-arrow-accordion"></i>
    </div>
    <div class="content">
		<ul class="courseStr">
		    <li>
				<span>
					<i class="large video play outline icon"></i>
				</span>
				<span class="text">Writing numbers in scientific notation</span>
				<div class="verticalLine"></div>
			</li>
			<li>
				<span>
					<i class="large video play outline icon"></i>
				</span>
				<span class="text">M athametical operations</span>
				 <ul class="subList-padding">
		              <li class="subStr"><span class="text">Легко устанавливается на сайт</span></li>
		              <li class="subStr"><span class="text">Легко устанавливается на сайт</span></li>
		              <li class="subStr"><span class="text">Легко устанавливается на сайт</span></li>          
                </ul>
				<div class="verticalLine"></div>

			</li>
		    <li>
				<span>
					<i class="large video play outline icon"></i>
				</span>
				<span class="text">Легко устанавливается на сайт</span>
				<div class="verticalLine"></div>
			</li>
			<li>
				<span>
					<i class="large video play outline icon"></i>
				</span>
				<span class="text">Легко устанавливается на сайт</span>
			</li>

		</ul>
    </div>
</div>
