<div [appTelemetryImpression]="telemetryImpression" class=" ui grid">
  <div class="one wide column"></div>
  <div class="ten wide column">
      <app-data-driven-filter (dataDrivenFilter)="getFilters($event)" [pageId]="'home-page'" 
          [accordionDefaultOpen]=false [isShowFilterLabel]=true *ngIf="filterType" [filterEnv]="filterType"></app-data-driven-filter>
    <div class=" ui clearing segment content-player-header search-content-header" *ngIf="!showLoader && !noResult">
      <div class="ui left floated header  ">
        <p class="serch-allresult">Showing results
          <span class="lower-case" *ngIf="this.queryParams.key">
            for {{this.queryParams.key}}
          </span>
          in "all"
        </p>
      </div>
      <h5 appTelemetryInteract [telemetryInteractEdata]="closeIntractEdata" class="ui right floated basic icon circular button " [routerLink]="['/home']">
        <i class="ui remove icon "></i>
      </h5>
    </div>
    <div in-view-container (inview)="inview($event)" [throttle]="[1000]" [trigger]="searchList" *ngIf="!showLoader && !noResult" class="ui stackable four column grid dynamic-section-card ">
      <div in-view-item [id]="i" [data]="content" class="column py-5 pl-10" *ngFor="let content of searchList;let i = index;">
        <app-card appTelemetryInteract [telemetryInteractEdata]="cardIntractEdata" 
        [telemetryInteractObject]="{id:content.metaData.identifier,type:content.metaData.contentType||'content',ver:'1.0'}"
        [data]="content" (clickEvent)="playContent($event)" ></app-card>
      </div>
    </div>
    <div *ngIf="noResult && !showLoader">
      <app-no-result [data]="noResultMessage"></app-no-result>
    </div>
    <div class="ui grid">
      <div class="two wide column"></div>
      <div class="ten wide column pt-0">
        <div class="pb-10" *ngIf="searchList && totalCount > config.appConfig.SEARCH.PAGE_LIMIT && !showLoader && !noResult">
          <div class="ui pagination menu mt-10 right-floated pt-0" *ngIf="pager.pages.length">
            <a [ngClass]="{disabled:pager.currentPage===1 }" class="item " (click)="navigateToPage(1) ">First</a>
            <a [ngClass]="{disabled:pager.currentPage===1 }" class="item " (click)="navigateToPage(pager.currentPage - 1)">Previous</a>
            <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}" (click)="navigateToPage(page)" class="item">{{page}}</a>
            <a [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" (click)="navigateToPage(pager.currentPage + 1)" class="item">Next</a>
            <a [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" (click)="navigateToPage(pager.totalPages)" class="item ">Last</a>
          </div>
        </div>
      </div>
    </div>
    <div class="twelve wide column" *ngIf="showLoader">
      <app-loader [data]='loaderMessage'></app-loader>
    </div>
  </div>
  <div class="one wide column"></div>
</div>