.range-value {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: rgb(2, 116, 253);
  text-align: center;
  background: rgb(233, 232, 217);
  margin-bottom: 17px;
}
