
<app-back-button></app-back-button>

<div class="ui container">
<div class="sb-g mt-24">
  <div class="sb-g-col-xs-12 sb-g-col-md-9 sb-g-col-lg-9 sb-bg-color-white p-24">
    <div class="title mb-16 font-weight-bold">
      Add Member
    </div>
    <div class="sb-field">
      <label for="id" class="d-flex flex-ai-center flex-jc-space-between"><span>SUNBIRD ID</span><span class="font-weight-normal">What is SUNBIRD ID? <i class="icon circle info cursor-pointer sb-color-primary"></i></span></label>
      <div class="d-flex flex-ai-flex-start flex-jc-space-between">
      <div class="w-100 pr-8">
        <div class="relative"><input type="id" name="id" class="sb-form-control is-invalid" placeholder="Enter user ID">
        <i class="icon close icon-input-close"></i>
      </div>
        <small class="message sb-color-error font-weight-bold">Invalid user ID</small>
      </div>
      <button type="button" class="sb-btn sb-btn-normal sb-btn-disabled">
        Verify
      </button>
    </div>
    </div>
    
    <!-- Add to group button content -->
    <div class="fs-1 my-4">Before clicking on 'Add to group', check that the SUNBIRD ID matches the member's name</div>
    <div class="flex-ai-jc-center flex-jc-space-between flex-dr add-member-content p-24">
      <div class="add-member-text text-center">
        Membername from CC
      </div>
      <button type="button" class="sb-btn sb-btn-primary sb-btn-normal sb-btn-normal">
        <img src="./assets/images/ic_person_add.svg" width="16px" class="mr-4"> Add to group
      </button>
    </div>

  </div>
  <div class="sb-g-col-xs-12 sb-g-col-md-3 sb-g-col-lg-3">
    <app-group-members></app-group-members>
  </div>
  </div>
</div>





