@import "variables";
@import "mixins/mixins";

.title{
    color:var(--gray-800);
}

.sb-field{
    .message{
        font-size: calculateRem(10px);
    }
}

.add-member-content{
    width: 100%;
    height:100%;
    background: var(--rc-bgE5EDF5);
    .add-member-text{
      max-height: 132px;
      .oval{
        height: calculateRem(36px);
        width: calculateRem(36px);
        justify-content: center;
        align-items: center;
        display: inline-flex;
        border-radius: 50%;
        border: calculateRem(6px) solid var(--white);
        background-color: var(--white);
        box-shadow: 0 0 calculateRem(6px) 0 rgba(0, 0, 0, 0.1);
    }
    }
}