@import "mixins/mixins";

.title{
    color:var(--gray-800);
}
.icon-input-close {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    width: calculateRem(24px);
    height: calculateRem(24px);
    html[dir="rtl"] & {
        left:8px;
        right:inherit;
    }
}
.sb-field{
    .message{
        font-size: calculateRem(10px);
    }
}

.add-member-content{
    width: 100%;
    background: var(--rc-E5EDF5);
    .add-member-text{
      
      .oval{
        height: calculateRem(36px);
        width: calculateRem(36px);
        justify-content: center;
        align-items: center;
        display: inline-flex;
        border-radius: 50%;
        border: calculateRem(6px) solid var(--white);
        background-color: var(--white);
        box-shadow: 0 0 calculateRem(6px) 0 rgba(var(--black), 0.1);
    }
    }
}
.verify-btn{
    margin-top: calculateRem(6px);
}