@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.recaptcha {
	z-index: 99;
    position: fixed;
}

.sb-members-column {
	@include respond-below(sm) {
		margin-top: calculateRem(16px);
	}
}