<div class="sb-pageSection" *ngIf="section && section.contents && section.contents.length">
    <!--Header-->
    <div *ngIf="section.name" class="sb-pageSection-header">
        <!--Section Title-->
        <h4 class="sb-pageSection-title sb-pageSection-sentenceCase m-0 mr-16"><span class="mr-8">{{sectionName}}</span>
            <!--Count-->
            <span class="sb-pageSection-count sb-label sb-label-xs sb-label-error">{{section.count}}</span>
            <!--/Count-->
        </h4>
        <!--/Section Title-->
        <!--View all button-->
        <button class="sb-btn sb-btn-normal sb-btn-outline-secondary sb-btn-white ml-auto" type="button"
            *ngIf="section?.contents?.length >= 10" (click)="navigateToViewAll(section)" tabindex="0"
            appTelemetryInteract
            [telemetryInteractEdata]="{id:'viewall-button' , type:'click' ,pageid:pageid , extra : {section: section.name}}">
            {{ resourceService?.frmelmnts?.lnk?.viewall}}
        </button>
        <!--/View all button-->
    </div>
    <!--/Header-->

    <!--Content-->
    <div *ngIf="refresh" class="sb-pageSection-content pt-8">
        <app-slick *ngIf="contentList?.length > 0" [loadStatus]="'done'">
            <ng-container>
                <div *ngFor="let content of contentList; let i=index" class="mr-16 cardSlick">
                    <!--Batch Card-->
                    <app-batch-card appTelemetryInteract [telemetryInteractEdata]="cardInteractEdata"
                        [telemetryInteractObject]="{id:content.metaData.identifier}"
                        *ngIf="cardType && cardType === 'batch' else contentcard" [batch]="content"
                        (clickEvent)="playContent($event)">
                    </app-batch-card>
                    <!--/Batch Card-->
                    <!--Course & Resourse Card-->
                    <ng-template #contentcard>
                        <ng-container *ngIf="!layoutConfiguration">
                            <app-card appContentDirection appTelemetryInteract
                                [telemetryInteractEdata]="cardInteractEdata"
                                [telemetryInteractCdata]="telemetryInteractCdata"
                                [telemetryInteractObject]="{id:content.metaData.identifier || content.metaData.courseId,type:content.metaData.contentType || 'Course',ver:content.metaData.pkgVersion ? content.metaData.pkgVersion.toString():'1.0', rollup: getObjectRollup(content)}"
                                (clickEvent)="playContent($event)" [hideProgress]="hideProgress" [data]="content"
                                class="d-block" [class.last-card]="mr-0">
                            </app-card>
                        </ng-container>
                        <ng-container *ngIf="layoutConfiguration">
                            <sb-library-card [indexToDisplay]="i" [layoutConfig]="layoutConfiguration"
                                appTelemetryInteract [telemetryInteractEdata]="cardInteractEdata"
                                [telemetryInteractCdata]="telemetryInteractCdata"
                                [telemetryInteractObject]="{id:content.identifier,type:content.contentType || 'content',ver:content.pkgVersion ? content.pkgVersion.toString():'1.0'}"
                                (cardClick)="playContent($event)" (enterKey)="playContent($event)" [content]="content"
                                [cardImg]="content?.image || 'assets/images/book.png'"
                                [categoryKeys]="categoryKeys"></sb-library-card>
                        </ng-container>
                    </ng-template>
                    <!--/Course & Resourse Card-->
                </div>
            </ng-container>
        </app-slick>
    </div>
    <!--/Content-->
    <!--Page Section Divider-->
    <!--<hr class="sb-pageSection-footer" *ngIf="cardType !== 'batch'" />-->
    <!--/Page Section Divider-->
</div>