@import "variables";
@import "mixins/mixins";
@import "pages/course-player";

.course-list_title {
  color: var(--gray-800);
  font-size: calculateRem(14px);
  font-weight: bold;
  line-height: calculateRem(24px);
}

// content header bar
.content-header {
  &__img {
    overflow: hidden;
    img {
      width: calculateRem(48px);
    }
  }
  &__title {
    color: var(--primary-color);
    font-size: calculateRem(18px);
    font-weight: bold;
  }
  &__info {
    color: var(--gray-800);
    font-size: calculateRem(14px);
  }
}

.course-list-progress {
  padding: calculateRem(16px);
  &__title {
    color: var(--gray-800);
    font-size: calculateRem(12px);
  }
  &__status {
    color: var(--primary-color);
    font-size: calculateRem(14px);
    font-weight: bold;
  }
  &__barholder {
    margin: 0px;
    height: calculateRem(8px);
  }
  &__info {
    color: var(--gray-800);
    font-size: calculateRem(12px);
  }
}

:host ::ng-deep {
  .ui.progress .bar {
    height: calculateRem(8px) !important;
    background-color: var(--secondary-200) !important;
  }
}

.header-shadow {
  min-height: calculateRem(80px);
  background-color: var(--rc-FAFAFA);
  box-shadow: 0 calculateRem(10px) calculateRem(10px) calculateRem(-10px) rgba(var(--rc-rgba-black), 0.25);
  z-index: 99;
}
.chapter-box {
  border: 0.03125rem solid var(--primary-300);
  padding: calculateRem(16px);
  border-radius: calculateRem(2px);
}








.sb-course-details {
  .certified-course__certificate {
    background-color: #E5EDF5;
  }
}

:host::ng-deep {
  .batch-details {
    &__dropdown {
      .selection {
        &.ui.dropdown {
          color: var(--primary-color);
          &:not(.button) > .default.text {
            padding: 6px 0;
            color: var(--primary-color);
          }
        }
        &.ui.selection.dropdown > .dropdown.icon, .ui.selection.dropdown > .search.icon {
          font-size: 16px;
          padding: 8px;
        }
      }
    }
  }

  .sbaccordion__panel-header__title {
    display: flex !important;
    align-items: center;
  }
}
:host::ng-deep {
  .certified-course__progress {
    .ui.progress .bar {
      height: 8px !important;
      background: var(--secondary-color);
    }
  }
}

@include respond-below(sm) {
  .certified-course__btn {
    margin-top: 8px;
  }
}
