<!-- Accordion and batch card section start -->
<div *ngIf="!loader" [appTelemetryStart]="telemetryCourseStart" [appTelemetryEnd]="telemetryCourseEndEvent">
  <div class="ui container relative9" [appTelemetryImpression]="telemetryCourseImpression">
    <div class="sb-course-details sb-g sb-g--gap24 py-16 text-left cc-player">
      <div class="sb-course-details__training sb-g-col-xs-12 sb-g-col-md-9 sb-g-col-lg-9 sb-g-col-xxxl-12">
        {{ generaliseLabelService?.frmelmnts?.lbl?.LastUpdatedOn }}
        <!-- Course details for mobile view -->
        <!-- <div class="sb-bg-color-white p-8 mb-16 mobile only"
          *ngIf="enrolledBatchInfo?.cert_templates; else noMobileCertificate">
          <div class="certified-course__certificate d-inline-flex flex-ai-center py-8 px-16 width-100">
            <img src="assets/images/certificate-icon.png" alt="Certificate">
            <span
              class="fnormal sb-color-primary ml-16 font-weight-bold">{{generaliseLabelService?.frmelmnts?.lbl?.courseContainCertificate}}</span>
          </div>
        </div>

        <ng-template #noMobileCertificate>
          <div class="sb-bg-color-white p-8 mb-16 mobile only">
            <div class="certified-course__certificate d-inline-flex flex-ai-center py-8 px-16 width-100">
              <img src="assets/images/certificate-icon.png" alt="Certificate">
              <span
                class="fnormal sb-color-primary ml-16 font-weight-bold">{{generaliseLabelService?.frmelmnts?.lbl?.courseDontContainCertificate}}</span>
            </div>
          </div>
        </ng-template> -->

        <div *ngIf="isEnrolledCourseUpdated" class="mobile only">
          <div class="sb-no-course-found my-16 d-flex flex-ai-center">
            <div><img src="assets/images/alert.svg" alt="alert-image" width="20px" height="20px"></div>
            <div class="ml-8">{{ generaliseLabelService?.frmelmnts?.lbl?.courseLastUpdatedOn }} {{
              courseHierarchy?.lastUpdatedOn | date:'dd/MM/yyyy' }}</div>
          </div>
        </div>

        <div class="sb-bg-color-white p-8 mb-16 mobile only sbt-certified-course"
          *ngIf="enrolledCourse && !enrolledBatchInfo?.cert_templates">
          <div class="certified-course__certificate d-inline-flex flex-ai-center py-8 px-16 width-100">
            <img src="assets/images/certificate-icon.png" alt="Certificate">
            <span
              class="fnormal sb-color-primary ml-16 font-weight-bold">{{generaliseLabelService?.frmelmnts?.lbl?.courseDontContainCertificate}}</span>
          </div>
        </div>

        <!-- Course details displayed on top when course is not enrolled -->
        <app-course-details [courseHierarchy]="courseHierarchy" *ngIf="!enrolledCourse"></app-course-details>

        <div class="training-modules my-16">
          <div class="training-modules__title d-flex flex-ai-center mb-16">
            <h4 class="sb-pageSection-title sb-pageSection-title-light">
              {{resourceService?.frmelmnts?.lbl?.coursestructure}}</h4>
            <button *ngIf="!isExpandedAll"
              class="sb-btn sb-btn-normal sb-btn-outline-primary ml-auto d-flex flex-ai-center" tabindex="0"
              (click)="isExpandedAll = true; logTelemetry('expand-all', courseHierarchy);"><img
                src="assets/images/plus.png" class="mr-8" alt=""
                width="12px">{{resourceService?.frmelmnts?.lbl?.expandAll}}</button>
            <button *ngIf="isExpandedAll"
              class="sb-btn sb-btn-normal sb-btn-outline-primary ml-auto d-flex flex-ai-center" tabindex="0"
              (click)="isExpandedAll = false; logTelemetry('collapse-all', courseHierarchy);"><img
                src="assets/images/collapse.png" class="mr-8" alt=""
                width="12px">{{resourceService?.frmelmnts?.lbl?.collapseAll}}</button>
          </div>
          


          <div *ngFor="let item of courseHierarchy?.children; let index = index">
            <sb-accordion [multi]="false">
              <sb-accordion-item [expanded]="isExpanded(index)" (collapsedChange)="collapsedChange($event, index)"
                [collapsed]="item?.collapsed">
                <sb-accordion-header class="sb-bg-color-gray-0" (click)="isModuleExpanded = true;" tabindex="0">
                  <i class="icon-svg icon-svg--sm icon-tick mr-8" role="img" aria-label="tick-icon"
                    *ngIf="enrolledCourse && item?.consumedContent === item?.contentCount">
                    <svg class="icon">
                      <use xlink:href="./assets/images/sprite.svg#circle-with-check-symbol"></use>
                    </svg>
                  </i>
                  <div class="progress-circle progress-circle--sm mr-8" [attr.data-percentage]="item?.progress"
                    *ngIf="enrolledCourse && item?.consumedContent > 0 && item?.consumedContent !== item?.contentCount">
                    <svg class="progress-circle__svg" viewport="0 0 2000 2000">
                      <circle class="progress-circle__stroke" r="50%" cx="50%" cy="50%"></circle>
                      <circle class="progress-circle__stroke" r="50%" cx="50%" cy="50%"></circle>
                    </svg>
                  </div>
                  {{item?.name}}
                </sb-accordion-header>
                <sb-accordion-body>
                  <div class="chapter-box">
                    <div *ngIf="item;else noContent">
                      <div
                        *ngIf="item?.mimeType !== 'application/vnd.ekstep.content-collection' && !item?.children?.length">
                        <div class="child-content-padding">
                          <sb-toc-card [content]="item" (tocCardClick)="navigateToContent($event, item, 'toc-card')"
                            [type]="cardType" [contentStatus]="contentStatus" [maxAttempts]="item?.maxAttempts"
                            [scoreLabel]="'Best Score'" [disabled]="'disabled-toc-card'">
                          </sb-toc-card>
                        </div>
                      </div>
                      <div *ngIf="item?.children?.length">
                        <div *ngFor="let child of item?.children">
                          <!-- toc card for Non Self Assess content -->
                          <!-- <sb-toc-child-item
                            *ngIf="child?.contentType !== 'SelfAssess' && child?.mimeType !== 'application/vnd.sunbird.questionset'"
                            [childData]="child" class="sb-toc-child-item"
                            (tocCardClick)="(child.hasOwnProperty('showContent') ? child.showContent : true) && navigateToContent($event, item, 'child-item')"
                            [ngClass]="{ 'disabled-toc-card': child.showContent === false}"
                            [contentStatus]="contentStatus" [type]="cardType">
                          </sb-toc-child-item> -->
                          <!-- toc card for Self Assess content with Label for Best Score -->
                          <sb-toc-child-item
                            *ngIf="(child?.contentType === 'SelfAssess' || child?.primaryCategory === 'Practise Assess') || child?.mimeType === 'application/vnd.sunbird.questionset'"
                            [childData]="child" class="sb-toc-child-item"
                            (tocCardClick)="(child.hasOwnProperty('showContent') ? child.showContent : true) && navigateToContent($event, item, 'child-item')"
                            [contentStatus]="contentStatus" [type]="cardType" [maxAttempts]="child?.maxAttempts"
                            [ngClass]="{ 'disabled-toc-card': child.showContent === false}"
                            [scoreLabel]="'Best Score'" [disabled]="'disabled-toc-card'">
                          </sb-toc-child-item>
                        </div>
                      </div>
                    </div>
                    <ng-template #noContent>
                      <div class="heading">{{noContentMessage}}</div>
                    </ng-template>

                  </div>
                </sb-accordion-body>
              </sb-accordion-item>
            </sb-accordion>
          </div>

                    <!-- Introductory Material -->

        <div *ngIf="introductoryMaterialArray && introductoryMaterialArray.length > 0" class="mb-16">
          <sb-accordion [multi]="false">
            <sb-accordion-item [expanded]="true"> 
              <sb-accordion-header class="sb-bg-color-gray-0" tabindex="0">
                {{ resourceService?.frmelmnts?.lbl?.introductoryMaterial || 'Support Material' }}
              </sb-accordion-header>
              <sb-accordion-body>
                <div class="chapter-box">
                  <div *ngFor="let introItem of detailedIntroductoryMaterialArray; let i = index">
                    <div class="child-content-padding">
                      <div *ngIf="introItem;else noContent">
                      <!-- <sb-toc-child-item
                            *ngIf="introItem?.contentType !== 'SelfAssess' && introItem?.mimeType !== 'application/vnd.sunbird.questionset'"
                            [childData]="introItem" class="sb-toc-child-item"
                            (tocCardClick)="handleIntroItemClick($event, introItem)"
                            [contentStatus]="contentStatus" [type]="cardType" >
                      </sb-toc-child-item> -->
                       <sb-toc-child-item
                            *ngIf="introItem?.contentType !== 'SelfAssess' && introItem?.mimeType !== 'application/vnd.sunbird.questionset'"
                            [childData]="introItem" class="sb-toc-child-item"
                             (tocCardClick)="navigateToContent($event, introItem, 'child-item', true)"
                            [contentStatus]="contentStatus" [type]="cardType" >
                      </sb-toc-child-item>
                      
                      </div>
                    </div>
                  </div>
                </div>
              </sb-accordion-body>
            </sb-accordion-item>
          </sb-accordion>
        </div>

          <!-- End of Introductory Material -->
        </div>

        <!-- Course details displayed on bottom when course is enrolled -->
        <app-course-details [courseHierarchy]="courseHierarchy" *ngIf="enrolledCourse"></app-course-details>

      </div>
      <div class="sb-course-details__info sb-g-col-xs-12 sb-g-col-md-3 sb-g-col-lg-3 sb-g-col-xxxl-4">

        <!-- <div class="sb-bg-color-white p-8 mb-16 computer only" *ngIf="enrolledBatchInfo?.cert_templates; else noCertificate">
          <div class="certified-course__certificate d-inline-flex flex-ai-center py-8 px-16 width-100">
            <img src="assets/images/certificate-icon.png" alt="Certificate">
            <span
              class="fnormal sb-color-primary ml-16 font-weight-bold">{{generaliseLabelService?.frmelmnts?.lbl?.courseContainCertificate}}</span>
          </div>
        </div>

        <ng-template #noCertificate>
          <div class="sb-bg-color-white p-8 mb-16 computer only">
            <div class="certified-course__certificate d-inline-flex flex-ai-center py-8 px-16 width-100">
              <img src="assets/images/certificate-icon.png" alt="Certificate">
              <span
                class="fnormal sb-color-primary ml-16 font-weight-bold">{{generaliseLabelService?.frmelmnts?.lbl?.courseDontContainCertificate}}</span>
            </div>
          </div>
        </ng-template> -->

        <div *ngIf="isEnrolledCourseUpdated" class="computer only">
          <div class="sb-no-course-found my-16 d-flex flex-ai-center">
            <div><img src="assets/images/alert.svg" alt="alert-image" width="20px" height="20px"></div>
            <div class="ml-8">{{ generaliseLabelService?.frmelmnts?.lbl?.courseLastUpdatedOn }} {{
              courseHierarchy?.lastUpdatedOn | date:'dd/MM/yyyy' }}</div>
          </div>
        </div>

        <div class="sb-bg-color-white p-8 mb-16 computer only  sbt-certified-course"
          *ngIf="enrolledCourse && certificateDescription && !certificateDescription?.isCertificate">
          <div class="certified-course__certificate d-inline-flex flex-ai-center py-8 px-16 width-100">
            <img src="assets/images/certificate-icon.png" alt="Certificate">
            <span
              class="fnormal sb-color-primary ml-16 font-weight-bold">{{generaliseLabelService?.frmelmnts?.lbl?.courseDontContainCertificate}}</span>
          </div>
        </div>

        <div class="sb-bg-color-white p-8 mb-16 computer only"
          *ngIf="enrolledCourse && certificateDescription && certificateDescription?.description">
          <div class="certified-course__certificate d-inline-flex flex-ai-center p-8 width-100">
            <img src="assets/images/certificate-icon.png" alt="Certificate">
            <span
              class="fnormal sb-color-primary ml-16 font-weight-bold">{{generaliseLabelService?.frmelmnts?.lbl?.courseContainCertificate}}</span>
          </div>
          <p class="fsmall px-4 pt-8"> {{certificateDescription?.description}} </p>
        </div>

        <!-- 2. Course Progress bar -->
        <div class="sb-bg-color-white certified-course__progress p-16 mb-16"
          *ngIf="enrolledCourse && !addToGroup && !courseMentor">
          <div class="fsmall relative9 relative">
            <div class="kabab-menu pull-right" *ngIf="progressToDisplay === 100 && showForceSync && isConnected"
              (click)="dropdownMenu();"></div>
            <div class="kabab-menu-dropdown-content" [hidden]="dropdownContent">
              <div class="d-flex flex-ai-center list p-8 w-100" (click)="forceSync()">
                {{resourceService?.frmelmnts?.lbl?.forceSync}}</div>
            </div>
          </div>
          <div class="fsmall">{{resourceService?.frmelmnts?.lbl?.courseProgress}}</div>
          <div class="sb-color-primary fnormal font-weight-bold mt-8">{{progressToDisplay}}%
            <span>{{resourceService?.frmelmnts?.lbl?.completed}}</span></div>
          <mat-progress-bar mode="determinate" [value]="progressToDisplay" class="mb-0 mr-0 mt-8 tiny"></mat-progress-bar>
        </div>

        <!-- Certificate of Completion -->
        <mat-accordion class="sb-mat-accordion mb-16" *ngIf="isCertificateReadyForDownload">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="sb-mat-accordion__title">
                {{resourceService?.frmelmnts?.lbl?.certificateOfCompletion}}
              </mat-panel-title>

            </mat-expansion-panel-header>
            <button class="sb-btn sb-btn-outline-primary sb-btn-normal" (click)="downloadCertificate()">
              {{resourceService?.frmelmnts?.lbl?.downloadCertificate}}
            </button>
            
          </mat-expansion-panel>
        </mat-accordion>

        <!-- 3. Join batch, leave batch and show batch popup-->
        <app-batch-details *ngIf="courseStatus !== 'Unlisted'" [courseId]="courseId" [batchId]="batchId"
          [enrolledCourse]="enrolledCourse" [enrolledBatchInfo]="enrolledBatchInfo" [courseHierarchy]="courseHierarchy"
          [courseProgressData]="courseProgressData" (allBatchDetails)="getAllBatchDetails($event)"></app-batch-details>

        <!-- Consent to share PII  -->
        <!-- <div class="mb-16" *ngIf="showDataSettingSection && isConnected">
          <app-global-consent-pii [collection]="courseHierarchy" [isglobalConsent]="false" [type]="courseConsent"
            [consentConfig]="consentConfig"></app-global-consent-pii>
        </div> -->

        <!-- Credits & License information -->
        <div class="course-player--metadata text-left">
          <app-course-info [courseHierarchy]="courseHierarchy"></app-course-info>
        </div>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title tabindex="0" title class="sb-mat-accordion__title d-flex flex-ai-center flex-jc-space-between"
              [attr.aria-expanded]="isOpen"
              aria-controls="expiryDate">
              <span>{{resourceService?.frmelmnts?.lbl?.expiryDate}}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div content class="sb-mat-accordion__content" role="region" id="expiryDate" aria-labelledby="expiryDate">
            <div class="pb-24" *ngIf="expiryDate">
              <div class="content-metadeta__text fnormal sb-color-gray-400">
                {{expiryDate === 'NA' ? 'NA' : (expiryDate | dateFormat)}}
              </div>
            </div>
          </div>
        </mat-expansion-panel>

      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<app-modal-wrapper [config]="{disableClose: false, size: 'small'}" *ngIf="showJoinTrainingModal"
  (dismiss)="showJoinTrainingModal = false; logTelemetry('join-training-popup-close')">
  <ng-template sbModalContent let-data>
    <div class="sb-modal">
      <div class="transition ui dimmer page modals active visible">
        <div class="ui modal transition active visible small">
          <button aria-label="close dialog" mat-dialog-close class="mat-close-btn">
            <span>&times;</span>
          </button>
          <!--Header-->
          <div class="sb-modal-header">
            {{generaliseLabelService?.frmelmnts?.btn?.enroll}}
          </div>
          <!--/Header-->
          <!--Content-->
          <div class="sb-modal-content">
            <div class="ui center aligned segment">
              <p>{{batchMessage}}</p>
            </div>
          </div>
          <!--/Content-->
        </div>
      </div>
    </div>
  </ng-template>
</app-modal-wrapper>



<app-confirmation-popup *ngIf="showConfirmationPopup" [popupMode]="popupMode" [batchId]="createdBatchId"
  (close)="onPopupClose($event)"></app-confirmation-popup>

<!-- new UI -->
<div class="sb-bg-color-gray-0 textbook-container hide">
  <div class="ui container">
    <div class="textbook py-16 d-flex flex-ai-center">
      <div class="textbook__details d-flex flex-ai-center">
        <img src="./assets/images/book.png" class="textbook__bookimg" alt="">
        <div class="ml-8 textbook__heading">
          <h5 class="textbook__title sb-color-primary font-weight-bold mb-0" tabindex="0">TN X SCIENCE EM ALL ONE MARKS
            COLLECTIONS</h5>
          <div class="textbook__rating">
            <sui-rating class="star mini" [ngModel]="4" [maximum]="5"></sui-rating>
          </div>
        </div>
      </div>
      <button class="sb-btn sb-btn-secondary sb-btn-normal ml-auto textbook__addbtn">Add to Group</button>
    </div>
  </div>
</div>
<app-course-completion *ngIf="showCourseCompleteMessage" [certificateDescription]="certificateDescription"
  (close)="onCourseCompleteClose()"></app-course-completion>
<!-- Start - Modal for Assessment attempts -->
  <app-modal-wrapper *ngIf="showLastAttemptsModal" [config]="{disableClose: false, size: 'small'}" #modal>
    <ng-template sbModalContent>
      <div class="sb-modal">
        <div class="transition ui dimmer page modals active visible">
          <div class="ui modal transition active visible small">
            <div class="sb-modal-content sb-join-modal-content">
              <div class="sb-h4 px-0 py-20">
                {{resourceService?.frmelmnts?.lbl?.selfAssessLastAttempt}}
              </div>
            </div>
            <div class="sb-modal-actions">
              <button class="sb-btn sb-btn-normal sb-btn-primary" tabindex="0"
                (click)="showLastAttemptsModal = false; _navigateToContent();">
                {{resourceService.frmelmnts?.btn?.ok}}
              </button>
              <button class="sb-btn sb-btn-normal sb-btn-outline-primary" tabindex="0"
                (click)="showLastAttemptsModal = false;">
                {{resourceService.frmelmnts?.btn?.cancel}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </app-modal-wrapper>
<!-- End - Modal for Assessment attempts -->
