
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <app-collection-tree *ngIf="collectionTreeNodes" (contentSelect)="navigateToContent($event)" [nodes]="collectionTreeNodes" [options]="collectionTreeOptions"
        [contentStatus]="contentStatus"></app-collection-tree>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <a> <i mat-button (click)="drawer.toggle()" id="icon" class="material-icons">
            view_list
            </i></a>
        <!-- <span>{{enableContentPlayer}} {{loader}}</span>  -->
      <div *ngIf="enableContentPlayer && !loader" id="player">￼
        <div class="ui stackable grid">
            <div class="twelve wide column">
                <div class="ui grid">
                    <div class="row">
                        <div class="twelve wide column">
                            <div class="ui grid" id="app-player-collection-renderer">
                                <!-- <div class="twelve wide column">
                                    <span class="ui HomeAccordianHeading left floated header">{{contentTitle}}</span>

                                </div> -->
                            </div>
                            <div class="ui warning message click-notify-xurl" *ngIf="showExtContentMsg">
                                <div class="column twelve wide">
                                    <p>{{resourceService.messages.imsg.m0036}}</p>
                                </div>
                            </div>
                            <div class="ui grid">
                                <div class="twelve wide column" [appTelemetryImpression]="telemetryContentImpression">
                                    <app-player (playerOnDestroyEvent)="playerOnDestroy($event)" (contentProgressEvent)="contentProgressEvent($event)" class="content-player"
                                        [playerConfig]="playerConfig"></app-player>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui row padding-top-none">
                        <div class="ui twelve column grid padding-right-none">
                            <div class="five wide mobile only three wide tablet only three wide computer only column">
                                <button id="previous" class="ui blue button left floated fluid tocbutton toc-left-nav-btn-content" (click)="navigateToContent(prevPlaylistItem)"
                                    [disabled]="prevPlaylistItem === undefined">
                                    <span class="header">{{resourceService.frmelmnts.btn.previous}}</span>
                                    <br />
                                    <span class="font-white description text-ellipsis" title="{{prevPlaylistItem?.title || noContentToPlay}}">{{prevPlaylistItem?.title || noContentToPlay}}</span>
                                </button>
                            </div>
                            <div class="two wide tablet only two wide computer only column"></div>
                            <div class="two wide column center aligned" ng-if="toc.showNoteInLecture">
                                <h2 class="ui center aligned icon tiny header toc-note">
                                    <a class="ui take-note-card cursor-pointer" (click)="showNoteEditor=!showNoteEditor">
                                        <app-popup-editor *ngIf="showNoteEditor" [mode]="'create'" [ids]="{contentId:contentId, courseId:courseId}" (exitModal)="showNoteEditor=false"
                                            (createEventEmitter)="createEventEmitter($event)"></app-popup-editor>
                                        <img src="{{'assets/images/takenote.png' |  cdnprefixurl}}">
                                        <span>{{resourceService?.frmelmnts?.lbl?.takenote}}</span>
                                    </a>
                                </h2>
                            </div>
                            <div class="two wide tablet only two wide computer only column"></div>
                            <div class="five wide mobile only three wide tablet only three wide computer only column padding-right-none">
                                <button id="previous" class="ui blue button right floated fluid toc-right-nav-btn-content" (click)="navigateToContent(nextPlaylistItem)"
                                    [disabled]="nextPlaylistItem === undefined">
                                    <span class="header">{{resourceService.frmelmnts.btn.next}}</span>
                                    <br />
                                    <span class="font-white description text-ellipsis" title="{{nextPlaylistItem?.title || noContentToPlay}}">{{nextPlaylistItem?.title || noContentToPlay}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui section divider"></div>
        <div class="two wide column"></div>
        <div class="ui grid">
            <div class="row">
                <div class="eight wide column">
                    <!-- <course-discussions></course-discussions> -->
                </div>
                <div class="four wide column toc-note-content">
                    <app-note-card [ids]="{contentId:contentId, courseId:courseId}" [createNoteData]="createNoteData"></app-note-card>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loader">
        <app-loader [data]="loaderMessage"></app-loader>
    </div>
    <div *ngIf="showError">
        <!-- <error-message data="{{toc.error}}" visibility="toc.error.showError"></error-message> -->
    </div>
    <div class="one wide column"></div>

    </div>
    
  
  </mat-drawer-container>

<!-- 
<div class="ui stackable grid margin-top-20" [appTelemetryStart]="telemetryCourseStart" [appTelemetryEnd]="telemetryCourseEndEvent">
    <div class="one wide column"></div>
    <div class="ten wide column">
        <div *ngIf="!enableContentPlayer && !loader">
            <div class="content" [appTelemetryImpression]="telemetryCourseImpression">
                <div class="ui stackable grid">
                    <div class="row">
                        <div class='nine wide column'> -->
                            <!-- <div class="ui header">
                                <span class="content courseStructureHeading">
                                    {{resourceService.frmelmnts.lbl.aboutthecourse}}
                                </span>
                                <div *ngIf="courseHierarchy.description" class="margin-top-10">
                                    <p *ngIf="!readMore" class="courseStructureDesc"> {{ courseHierarchy.description | slice:0:200 }}&nbsp;
                                        <span class="ui cardsKnowMore mouse-pointer" *ngIf="courseHierarchy.description && courseHierarchy.description.length > 200 && readMore === false"
                                            (click)="readMore = !readMore;">{{resourceService.frmelmnts.lbl.readmore}}</span>
                                    </p>
                                    <p *ngIf="readMore" class="courseStructureDesc"> {{ courseHierarchy.description}}&nbsp;
                                        <span class="ui cardsKnowMore mouse-pointer" (click)="readMore = false;">{{resourceService.frmelmnts.lbl.readless}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="ui header">
                                <b class="content courseStructureHeading">
                                    {{resourceService.frmelmnts.lbl.coursestructure}}
                                </b>
                            </div> -->
                           
                            <!-- <ng-template #dataCommingSoon>
                                <div class="placeholder margin-top-40" *ngIf="!collectionTreeNodes.data">
                                    <img src="{{'assets/images/datacomingsoon.png' | cdnprefixurl }}"/>
                                    <h5 class="header placeholder-heading mb-5">{{resourceService?.messages?.stmsg?.m0121}}</h5>
                                    <p class="placeholder-content">{{resourceService?.messages?.stmsg?.m0122}}</p>
                                </div> 
                            </ng-template>
                            <div class="ui fitted divider margin-bottom-20 margin-top-30"></div> -->
                        <!-- </div> -->
                        <!-- <div class='three wide column'>
                            <app-batch-details *ngIf="courseStatus !== 'Unlisted'" [courseId]="courseId" [batchId]="batchId" [enrolledCourse]="enrolledCourse"
                                [courseHierarchy]="courseHierarchy" [courseProgressData]="courseProgressData"></app-batch-details>
                            <div *ngIf="enrolledCourse" class="margin-bottom-15 margin-top-15">
                                <div>
                                    <br>
                                    <span (click)="showNoteEditor=!showNoteEditor" class="cursor-pointer">
                                        <i class="circular icon margin-right-10 plus"></i>&nbsp;{{resourceService.frmelmnts.lbl.addnote}}
                                        <app-popup-editor *ngIf="showNoteEditor" [mode]="'create'" [ids]="{contentId:contentId, courseId:courseId}" (exitModal)="showNoteEditor=false"
                                            (createEventEmitter)="createEventEmitter($event)"></app-popup-editor>
                                    </span>
                                    <br>
                                    <br>
                                    <app-note-card [ids]="{contentId:contentId, courseId:courseId}" [createNoteData]="createNoteData"></app-note-card>
                                </div>
                            </div>
                            <br>
                            <app-carriculum-card *ngIf="curriculum && curriculum.length > 0" [curriculum]="curriculum"></app-carriculum-card>
                            <br>
                            <div class="courseupdate">
                                <b>{{resourceService.frmelmnts.lbl.coursecreatedon}}: {{courseHierarchy.createdOn | dateFormat}}</b>
                                <br>
                                <b>{{resourceService.frmelmnts.lbl.updatedon}}: {{courseHierarchy.lastUpdatedOn | dateFormat}}</b>
                                <br>
                                <b *ngIf="courseHierarchy.creator">{{resourceService.frmelmnts.lbl.courseCreatedBy}}: {{courseHierarchy.creator}}</b>
                                <br>
                               
                                <br>
                            </div>
                        </div> -->
                    <!-- </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<router-outlet></router-outlet>