<!-- Loader -->
<app-loader *ngIf="showLoader"></app-loader>
<!-- /Loader-->
<!-- Back Button -->
<mat-toolbar color="primary" class="toolbar-pageback course-consumption-header-component">
    <!-- /* Back button */ -->
   <div class="d-flex flex-ai-center w-below-sm-100 w-above-sm-60">
      <button type="button" mat-mini-fab color="accent"
      class="button-rounded" tabindex="0" (click)="goBack()"
      attr.aria-label="{{resourceService?.frmelmnts?.btn?.back}}">
      <mat-icon aria-hidden="false" aria-label="Back icon" fontIcon="arrow_back"></mat-icon>
    </button>
    <!-- Textbook image -->
    <div class="toolbar-pageback__img">
      <img src="{{courseHierarchy?.appIcon || 'assets/images/book.png'}}" alt="umage of course book">
    </div>
    <div class="toolbar-pageback__heading">
      <h1 class="mat-title sb__ellipsis" tabindex="0" role="heading" aria-level="2">{{courseHierarchy?.name}}</h1>
      <!-- Textbook Rating with share icon -->
      <div class="toolbar-pageback__metadata d-flex flex-ai-center">
        <sui-rating *ngIf="courseStatus !== 'Unlisted'" class="star mini mr-8" [isReadonly]="true"
          [ngModel]="courseHierarchy.me_averageRating || 0" [maximum]="5"></sui-rating>

        <button mat-button tabindex="0" (click)="onShareLink();sharelinkModal=true;">
          <mat-icon aria-hidden="false" attr.aria-label="{{resourceService?.frmelmnts?.lbl?.share}}" fontIcon="share"></mat-icon>
          {{resourceService?.frmelmnts?.lbl?.share}}
        </button>

        <button mat-button class="ml-8"
          *ngIf="!showCopyLoader && !isDesktopApp && permissionService?.permissionAvailable && courseStatus !== 'Unlisted'"
          appPermission appTelemetryInteract [telemetryInteractObject]="courseInteractObject"
          [telemetryInteractEdata]="{id:'copyContent' , type: 'click' , pageid:'course-consumption'}"
          [permission]="['CONTENT_CREATOR', 'CONTENT_REVIEWER']" tabindex="0"
          (click)="copyContent(courseHierarchy)" title="{{resourceService?.frmelmnts?.lbl?.copy}}">
          <mat-icon aria-hidden="false" attr.aria-label="{{resourceService?.frmelmnts?.lbl?.copy}}" fontIcon="content_copy"></mat-icon>
          {{resourceService?.frmelmnts?.lbl?.copy}}
        </button>

        <button disabled mat-raised-button class="button-rounded mr-8" *ngIf="showCopyLoader"><span class="d-flex flex-ai-center"><mat-spinner class="mr-8" color="accent" [diameter]="24"></mat-spinner> {{resourceService.frmelmnts.lbl.copycontent}}</span></button>

        <!-- Discussion Forum -->
        <app-access-discussion *ngIf="isConnected && fetchForumIdReq" [fetchForumIdReq]="fetchForumIdReq"
          (routerData)="assignForumData($event)"> </app-access-discussion>
      </div>
    </div>
</div>

    <div class="toolbar-pageback__actions">
      <div class="toolbar-pageback__batch-flagged">
        <!-- Info displaying if course is flagged -->
        <div class="toolbar-pageback__msg mat-caption"
          *ngIf="!enrolledBatchInfo && isValidEnrollmentEndDate(enrollmentEndDate)">
          <span *ngIf="!isEnrollmentAllowed(enrollmentEndDate)">{{resourceService?.messages?.stmsg?.m0136}}
            {{enrollmentEndDate | dateFormat}}</span>
          <span class="mat-warn" *ngIf="isEnrollmentAllowed(enrollmentEndDate)">{{resourceService?.messages?.emsg?.m008 |
            interpolate:'{endDate}':enrollmentEndDate}}</span>
        </div>
        <div *ngIf="batchEndDate && showBatchCounter" class="toolbar-pageback__batch-counter">
          <span class="mat-body-1">{{resourceService?.frmelmnts?.lbl?.BatchExpiringIn}}:&nbsp;</span>
          <h6 class="mat-caption mb-0 font-weight-bold">{{batchRemaningTime}}</h6>
        </div>

        <h6 class="mat-caption mb-0" *ngIf="courseHierarchy.status === 'Flagged'">
          {{resourceService?.messages?.imsg?.m0001}}</h6>

        <!-- Info displaying if batch has expired -->
        <h6 class="mat-caption mb-0" *ngIf="enrolledCourse && getBatchStatus() && batchEndDate">
          {{resourceService?.frmelmnts?.lbl?.expiredBatchWarning | interpolate:'{EndDate}':batchEndDate}}</h6>

      </div>
      <div class="certified-course" [ngClass]="{'d-flex': isDesktopApp}">
        <div class="certified-course__btn" *ngIf="showAddGroup">
          <button mat-raised-button color="success" class="button-rounded ml-auto" appAddToGroup
            [identifier]="courseHierarchy?.identifier" [pageId]="courseHierarchy?.primaryCategory.toLowerCase()">
            {{resourceService?.frmelmnts?.lbl?.AddtoGroup}}</button>
        </div>

        <div *ngIf="isDesktopApp && enrolledCourse && !viewDashboard" class="d-flex py-8">
          <button type="button" mat-stroked-button color="accent" class="button-rounded mr-8"
            *ngIf="isConnected && (checkStatus('DOWNLOADED')) && showUpdate" tabindex="0"
            (click)="updateCollection(courseHierarchy)">{{resourceService?.frmelmnts?.btn?.update}}</button>
          <button type="button" mat-stroked-button color="accent" class="button-rounded mr-8"
            *ngIf="checkStatus('DOWNLOADED')" [disabled]="disableDelete" tabindex="0"
            (click)="logTelemetry('confirm-delete-collection'); showDeleteModal = !showDeleteModal;">{{resourceService?.frmelmnts?.btn?.delete}}</button>
          <button type="button" mat-stroked-button color="accent" class="button-rounded mr-8"
            *ngIf="checkStatus('DOWNLOADED')" tabindex="0"
            (click)="exportCollection(courseHierarchy)">{{resourceService?.frmelmnts?.lbl?.saveToPenDrive}}</button>
          <button type="button" mat-stroked-button color="accent" class="button-rounded mr-8"
            *ngIf="checkStatus('DOWNLOAD')" appOnlineOnly tabindex="0"
            (click)="isYoutubeContentPresent(courseHierarchy)">{{resourceService?.frmelmnts?.btn?.download}}</button>
          <button type="button" mat-stroked-button color="accent" class="button-rounded mr-8"
            *ngIf="checkStatus('DOWNLOADING')">{{resourceService?.frmelmnts?.lbl?.downloading}}</button>
          <button type="button" mat-stroked-button color="accent" class="button-rounded mr-8"
            *ngIf="checkStatus('PAUSED')">{{resourceService.frmelmnts?.lbl?.downloadingPaused}}</button>
        </div>
        <!-- join course, start learning, continue learning, view dashboard buttons -->
        <div *ngIf="!showAddGroup && isTrackable">
          <div class="certified-course__btn py-8" *ngIf="!enrolledCourse && !viewDashboard">
            <button mat-raised-button [color]="!(courseConsumptionService.enableCourseEntrollment | async) || isEnrollmentAllowed(enrollmentEndDate) ? '' : 'success'"
              [disabled]="!(courseConsumptionService.enableCourseEntrollment | async) || isEnrollmentAllowed(enrollmentEndDate)"
              class="button-rounded" tabindex="0"
              (click)="showJoinModal(true); this.logTelemetry(courseHierarchy?.primaryCategory.toLowerCase() === 'course' ? 'join-course' : 'join', courseHierarchy)">{{resourceService?.frmelmnts?.btn?.enroll}}</button>
          </div>

          <div class="certified-course__btn py-8" *ngIf="enrolledCourse && progress===0 && !viewDashboard">
            <button mat-raised-button [color]="showResumeCourse ? '' : 'success'" class="button-rounded ml-auto"
              [disabled]="showResumeCourse" tabindex="0"
              (click)="resumeCourse(true); this.logTelemetry('course-start', courseHierarchy)">{{resourceService?.frmelmnts?.lbl?.startLearning}}</button>
          </div>

          <div class="certified-course__btn py-8" *ngIf="enrolledCourse && progress>0 && !viewDashboard">
            <button mat-raised-button [color]="showResumeCourse ? '' : 'success'" class="button-rounded ml-8"
              [disabled]="showResumeCourse" tabindex="0"
              (click)="resumeCourse(true); this.logTelemetry('course-resume', courseHierarchy)">
              <mat-icon>play_circle</mat-icon>
             {{resourceService?.frmelmnts?.btn?.continueLearning}}</button>
          </div>

          <div class="ml-auto text-right"
            *ngIf="!enrolledCourse && viewDashboard && !router.url.includes('/dashboard')">
            <button appTelemetryInteract [telemetryInteractObject]="courseInteractObject"
              [telemetryInteractEdata]="{id:'viewCourseDashboard' , type: 'click' , pageid:'course-consumption'}" mat-raised-button color="success"
              class="button-rounded" tabindex="0" (click)="showDashboard()">
              {{resourceService?.frmelmnts?.btn?.viewCourseStatsDashboard}}
            </button>
          </div>

          <div class="ml-auto text-right"
            *ngIf="!isDesktopApp && permissionService?.permissionAvailable && !enrolledCourse && viewDashboard && router.url.includes('/dashboard')"
            appPermission [permission]="dashboardPermission">
            <button appTelemetryInteract [telemetryInteractObject]="courseInteractObject"
              [telemetryInteractEdata]="{id:'close-course-dashboard' , type: 'click' , pageid:'course-consumption'}" mat-raised-button color="warn"
              class="button-rounded" tabindex="0" (click)="closeDashboard()">
              {{resourceService?.frmelmnts?.btn?.closedb}}
            </button>
          </div>
        </div>
        <!--Activity Dashboard-->
        <div *ngIf="isGroupAdmin">
          <button mat-raised-button color="success"
            class="button-rounded ml-8 disabled"
            appActivityDashboard [hierarchyData]="courseHierarchy">
            <mat-icon>bar_chart</mat-icon>
            {{resourceService?.frmelmnts?.btn?.activityDashboard}}</button>
        </div>
      </div>
    </div>
</mat-toolbar>

<app-certificate-name-update-popup *ngIf="showProfileUpdatePopup" [profileInfo]="profileInfo"
  (close)="showProfileUpdatePopup = false"></app-certificate-name-update-popup>

<app-modal-wrapper *ngIf="sharelinkModal" [config]="{disableClose: false, panelClass: 'material-modal'}"
  (dismiss)="closeSharePopup('close-share-link-popup')">
  <ng-template sbModalContent>
    <app-share-link [shareLink]="shareLink" [telemetryShareData]="telemetryShareData">
    </app-share-link>
  </ng-template>
</app-modal-wrapper>

<div *ngIf="isDesktopApp">
  <app-modal-wrapper *ngIf="showModal" [config]="{disableClose: true, width: '30rem', size: 'normal'}" (dismiss)="showModal = !showModal;"
    #modal>
    <ng-template sbModalContent>
      <div mat-dialog-title class="mb-0">
        <h4 class="color-accent font-weight-bold mb-0">{{resourceService.frmelmnts?.btn?.download}}</h4>
        <button mat-mini-fab color="warn" class="ml-auto" aria-label="close dialog"
          mat-dialog-close><mat-icon>close</mat-icon></button>
      </div>
  
      <mat-dialog-content>
        <p class="mat-body-2">{{resourceService?.messages?.stmsg?.m0137}}</p>
      </mat-dialog-content>
  
      <mat-dialog-actions align="end">
        <button mat-raised-button class="button-rounded" tabindex="0"
          (click)="logTelemetry('cancel-download-collection'); showModal = !showModal;">
          {{resourceService.frmelmnts?.btn?.cancel}}
        </button>
        <button mat-raised-button color="accent" class="button-rounded mr-8" tabindex="0"
          (click)="downloadCollection(courseHierarchy); showModal = !showModal;">
          {{resourceService.frmelmnts?.btn?.download}}
        </button>
      </mat-dialog-actions>
  
    </ng-template>
  </app-modal-wrapper>
  
  <app-modal-wrapper *ngIf="showDeleteModal" [config]="{disableClose: true, width: '30rem', size: 'normal'}"
    (dismiss)="showDeleteModal = !showDeleteModal;" #modal>
    <ng-template sbModalContent>
      <div mat-dialog-title class="mb-0">
        <h4 class="color-accent font-weight-bold mb-0">{{resourceService?.frmelmnts?.lbl?.delete}}</h4>
        <button mat-mini-fab color="warn" class="ml-auto" aria-label="close dialog"
          mat-dialog-close><mat-icon>close</mat-icon></button>
      </div>
  
      <mat-dialog-content>
        <p class="mat-body-2">{{resourceService?.frmelmnts?.lbl?.desktop?.deleteCourse | interpolate:'{name}': courseHierarchy?.name}}
        </p>
      </mat-dialog-content>
  
      <mat-dialog-actions align="end">
        <button mat-raised-button class="button-rounded" tabindex="0"
          (click)="logTelemetry('cancel-delete-collection'); showDeleteModal = !showDeleteModal;">
          {{resourceService.frmelmnts?.btn?.cancel}}
        </button>
        <button mat-raised-button color="accent" class="button-rounded mr-8" tabindex="0"
          (click)="deleteCollection(courseHierarchy); showDeleteModal = !showDeleteModal;">
          {{resourceService?.frmelmnts?.lbl?.delete}}
        </button>
      </mat-dialog-actions>
  
    </ng-template>
  </app-modal-wrapper>
</div>