@import "./mixins/mixins";

::ng-deep {
    .ui.tiny.progress .bar{
        min-width: 0
    }
    .ui.progress.status.expired .bar {
        background-color: var(--rc-bdbdbd) !important;
    }
    .ui.progress .bar{
        height: calculateRem(6px) !important; 
    }
} 
