@import "./mixins/mixins";

::ng-deep {
    .ui.tiny.progress .bar {
        min-width: 0
    }

    .ui.progress.status.expired .bar {
        background-color: var(--rc-bdbdbd) !important;
    }

    .ui.progress .bar {
        height: calculateRem(6px) !important;
    }
}

.back-btn-container {
    z-index: 1;

    .modulebtn-divider {
        width: 1px;
        height: 24px;
        background: #999;
        display: inline-block;
        margin: 0 8px;
    }
}

.certified-course {
    justify-self: end;
    align-self: center;
}

.textbook {
    &-container {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
        position: relative;
        background-color: #fafafa;
    }

    &__details {
        flex: 1;
        min-width: 0;
    }

    &__bookimg {
        width: calculateRem(48px);
        height: calculateRem(48px);
        img {
            width: 100%;
        }
    }

    &__heading {
        min-width: 0;

        .textbook__title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__addbtn {
        white-space: nowrap;
    }
}

@include respond-below(sm) {
    .certified-course {
        justify-self: start;
    }

    .certified-course__btn {
        margin-top: calculateRem(8px);
    }
}