<div class="courseStructureHeader sb-bg-white">
  <!-- <div class="ui active inverted dimmer" *ngIf="showCopyLoader">
    <div class="ui text centered inline loader mt-40">{{resourceService.frmelmnts.lbl.copycontent}}</div>
  </div> -->
  <div class="ui container sb-bg-white">
    <div class="ui padded grid">
      <div class="row">
        <div class="twelve wide column px-0">
          <div class="d-flex flex-jc-space-between flex-ai-end flex-w-wrap">
            <div class="sb-pageSection">
              <div class="sb-pageSection-header sb-pageSection-header-compact">
                <h1 class="sb-pageSection-title">{{courseHierarchy?.name}}</h1>
              </div>
              <div class="sb-pageSection-content d-flex flex-ai-center flex-w-wrap">
                <sui-rating *ngIf="courseStatus !== 'Unlisted'" class="ui star rating mr-16" [isReadonly]="true"
                  [ngModel]="courseHierarchy.me_averageRating || 0" [maximum]="5"></sui-rating>
                <a (click)="onShareLink();sharelinkModal=true;"
                  class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn mr-16">
                  <i class="blue share alternate icon"></i>
                  {{resourceService?.frmelmnts?.lbl?.share}}
                </a>
                <span *ngIf="permissionService.permissionAvailable && courseStatus !== 'Unlisted'" appPermission
                  appTelemetryInteract [telemetryInteractObject]="courseInteractObject"
                  [telemetryInteractEdata]="{id:'copyContent' , type: 'click' , pageid:'course-consumption'}"
                  [permission]="['CONTENT_CREATOR', 'CONTENT_REVIEWER']" (click)="copyContent(courseHierarchy)"
                  class="d-inline-block" title="{{resourceService?.frmelmnts?.lbl?.copy}}">
                  <a class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn">
                    <i class="blue clone outline icon"></i>
                    {{resourceService?.frmelmnts?.lbl?.copy}}
                  </a>
                </span>
                <h6 class="ui small negative message" *ngIf="courseHierarchy.status === 'Flagged'">
                  {{resourceService?.messages?.imsg?.m0001}}</h6>
              </div>
            </div>
            <div class="ml-auto text-right mt-8">
              <button appTelemetryInteract [telemetryInteractObject]="courseInteractObject"
                [telemetryInteractEdata]="{id:'viewCourseDashboard' , type: 'click' , pageid:'course-consumption'}"
                class="sb-btn sb-btn-secondary sb-btn-normal" (click)="showDashboard()"
                *ngIf="permissionService?.permissionAvailable && !enrolledCourse" appPermission
                [permission]="dashboardPermission">
                {{resourceService?.frmelmnts?.btn?.viewCourseStatsDashboard}}
              </button>
              <!-- <button class="sb-btn sb-btn-normal sb-btn-tertiary">
                    Close Course Dashboard
                </button> -->
              <div *ngIf="enrolledCourse">
                <p class="mb-8">
                  {{resourceService?.messages?.stmsg?.m0108}} {{ progress }}%
                </p>
                <button appTelemetryInteract [telemetryInteractEdata]="resumeIntractEdata"
                  [telemetryInteractObject]="courseInteractObject" class="sb-btn sb-btn-primary sb-btn-normal"
                  [disabled]="showResumeCourse" (click)="resumeCourse(true)">
                  {{resourceService?.frmelmnts?.btn?.resumecourse}}
                  <i class="caret right icon"></i>
                </button>
              </div>
            </div>
            <!-- course ended Error message starts -->
            <!-- <h6 class="ui small negative message mt-0 mb-15 ml-15" *ngIf="courseEndedErrorMessage">{{resourceService?.messages?.imsg?.m0043}}</h6> -->
            <!-- course ended Error message ends -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="enrolledCourse" class="sb-bg-white">
  <div class="ui active inverted dimmer" *ngIf="showCopyLoader">
    <div class="ui text centered inline loader mt-40">{{resourceService.frmelmnts.lbl.copycontent}}</div>
  </div>
  <div class="ui container">
    <div class="ui stackable padded grid" *ngIf="getBatchStatus() && batchEndDate">
      <div class="twelve wide column p-0 py-16">
        <div class="ui info message compact">
          <div class="header">
            {{resourceService?.frmelmnts?.lbl?.expiredBatchWarning | interpolate:'{EndDate}':batchEndDate}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="twelve wide column p-0">
    <sui-progress class="ui tiny progress blue status" [ngClass]="{'expired':getBatchStatus()}" [value]="progress"
      [maximum]="100"></sui-progress>
  </div>
</div>
<app-share-link [shareLink]="shareLink" [telemetryShareData]="telemetryShareData" *ngIf="sharelinkModal"
  (close)="closeSharePopup('close-share-link-popup')">
</app-share-link>








<!-- Back Button Previous Module & Next Module button -->
<div class="sb-bg-color-white relative position back-btn-container">
  <div class="ui container">
    <div class="py-8 d-flex flex-ai-center">
      <!-- /* Back button */ -->
      <button type="button" class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn mr-auto">
        <i class="icon-svg icon-svg--xxs icon-back mr-4"><svg class="icon icon-svg--primary">
            <use xlink:href="assets/images/sprite.svg#arrow-long-left"></use>
          </svg></i>
        {{resourceService?.frmelmnts?.btn?.back}}
      </button>
      <!-- Back button -->
      <div class="d-flex flex-ai-center">
        <!-- Previous module button -->
        <button class="sb-btn sb-btn-link sb-btn-link-primary sb-btn-normal sb-left-icon-btn">
          <i class="chevron left icon mr-4"></i>Prev Module
        </button>
        <!-- Previous Module button -->
        <div class="modulebtn-divider"></div>
        <!-- Next Module button -->
        <button class="sb-btn sb-btn-link sb-btn-link-primary sb-btn-normal sb-right-icon-btn">
          Next Module<i class="chevron right icon ml-4"></i>
        </button>
        <!-- Next Module button -->
      </div>
    </div>
  </div>
</div>
<!-- Textbook details with continue playing and join course button -->
<div class="textbook-container">
  <div class="ui container">
    <div class="textbook py-16 sb-g">
      <div class="sb-g-col-xs-12 sb-g-col-md-9 sb-g-col-lg-9">
        <!-- Textbook details -->
        <div class="textbook__details d-flex flex-ai-center">
          <!-- Textbook image -->
          <div class="textbook__bookimg">
            <img src="{{courseHierarchy?.appIcon}}" alt="textbook">
          </div>
          <div class="ml-8 textbook__heading">
            <!-- Textbook title -->
            <h5 class="textbook__title sb-color-primary font-weight-bold mb-0">{{courseHierarchy?.name}}
            </h5>
            <!-- Textbook Rating with share icon -->
            <div class="textbook__rating mt-4">

              <sui-rating *ngIf="courseStatus !== 'Unlisted'" class="star mini" [isReadonly]="true"
                [ngModel]="courseHierarchy.me_averageRating || 0" [maximum]="5"></sui-rating>


              <button (click)="onShareLink();sharelinkModal=true;"
                class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn ml-8">
                <i class="blue share alternate icon"></i>
                {{resourceService?.frmelmnts?.lbl?.share}}
              </button>

              <button class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn ml-8"
                *ngIf="permissionService.permissionAvailable && courseStatus !== 'Unlisted'" appPermission
                appTelemetryInteract [telemetryInteractObject]="courseInteractObject"
                [telemetryInteractEdata]="{id:'copyContent' , type: 'click' , pageid:'course-consumption'}"
                [permission]="['CONTENT_CREATOR', 'CONTENT_REVIEWER']" (click)="copyContent(courseHierarchy)"
                title="{{resourceService?.frmelmnts?.lbl?.copy}}">
                <i class="blue clone outline icon"></i>
                {{resourceService?.frmelmnts?.lbl?.copy}}
              </button>
              <h6 class="ui small negative message" *ngIf="courseHierarchy.status === 'Flagged'">
                {{resourceService?.messages?.imsg?.m0001}}</h6>

            </div>


            <div class="ml-auto text-right mt-8">
              <button appTelemetryInteract [telemetryInteractObject]="courseInteractObject"
                [telemetryInteractEdata]="{id:'viewCourseDashboard' , type: 'click' , pageid:'course-consumption'}"
                class="sb-btn sb-btn-secondary sb-btn-normal" (click)="showDashboard()"
                *ngIf="permissionService?.permissionAvailable && !enrolledCourse" appPermission
                [permission]="dashboardPermission">
                {{resourceService?.frmelmnts?.btn?.viewCourseStatsDashboard}}
              </button>
              <!-- <div *ngIf="enrolledCourse">
                <p class="mb-8">
                  {{resourceService?.messages?.stmsg?.m0108}} {{ progress }}%
                </p>
                <button appTelemetryInteract [telemetryInteractEdata]="resumeIntractEdata"
                  [telemetryInteractObject]="courseInteractObject" class="sb-btn sb-btn-primary sb-btn-normal"
                  [disabled]="showResumeCourse" (click)="resumeCourse(true)">
                  {{resourceService?.frmelmnts?.btn?.resumecourse}}
                  <i class="caret right icon"></i>
                </button>
              </div> -->
            </div>


          </div>
        </div>
      </div>
      <!-- Module Progress bar with join course and continue learning button -->
      <div class="sb-g-col-xs-12 sb-g-col-md-3 sb-g-col-lg-3 certified-course" style="align-self: center;">
        <!-- Module Progress bar -->
        <div class="certified-course__progress" *ngIf="enableProgress">
          <div class="fsmall">Module Progress</div>
          <div class="sb-color-primary fnormal font-weight-bold mt-4">8/9 Completed</div>
          <sui-progress [value]="8" [maximum]="9" class="mb-0 mr-0 mt-8 tiny"></sui-progress>
        </div>
        <!-- join course & continue learning buttons -->

        <div class="certified-course__btn" *ngIf="!enrolledCourse && !courseMentor">
          <button class="sb-btn sb-btn-secondary sb-btn-normal ml-auto textbook__addbtn"
            (click)="showJoinModal(true);">Join Course</button>
          <!-- <button class="sb-btn sb-btn-secondary sb-btn-normal textbook__addbtn ml-8 sb-left-icon-btn"
            (click)="showSmallModal = !showSmallModal"><i class="icon-svg icon-svg--xxs icon-share mr-8"><svg
                class="icon icon-svg--white">
                <use xlink:href="./assets/images/libdemo/sprite.svg#play"></use>
              </svg></i>Continue Learning</button> -->
        </div>
      </div>
    </div>
  </div>
</div>