<div class="ui">
    <div class="ui active inverted dimmer" *ngIf="showCopyLoader">
        <div class="ui text centered inline loader margin-top-40">{{resourceService.frmelmnts.lbl.copycontent}}</div>
    </div>
    <div class="ui grid margin-top-4rem courseStructureHeader">
        <!-- <div class="one wide column"></div>
        <div class="ten wide column padding-top-none">
            <div class="ui stackable grid">
                <div class="nine wide column padding-top-none">
                    <div class="courseStructureHeaderText courseStructureSectionHeading">{{courseHierarchy.name}}</div>
                    <br>
                    <sui-rating *ngIf="courseStatus !== 'Unlisted'" class="courseHeader-rating ui star rating course-header-divider" [isReadonly]="true"
                        [ngModel]="courseHierarchy.me_averageRating || 0" [maximum]="5"></sui-rating>&nbsp;&nbsp;
                    <a (click)="onShareLink();sharelinkModal=true;">
                        <i class="cursor-pointer large blue share alternate icon"></i>
                    </a>
                    <span *ngIf="permissionService.permissionAvailable && courseStatus !== 'Unlisted'" appPermission [permission]="['CONTENT_CREATOR', 'CONTENT_REVIEWER']"
                        (click)="copyContent(courseHierarchy)" class="ui mouse-pointer content-font margin-left-10 ng-isolate-scope"
                        title="Copy content">
                        <i class="ui large blue clone outline icon"></i>
                    </span>
                    <h6 class="ui small negative message" *ngIf="courseHierarchy.status === 'Flagged'">{{resourceService?.messages?.imsg?.m0001}}</h6>
                </div> -->
                <!-- <div class="three wide column">
                    <div *ngIf="enrolledCourse" class="margin-top-Negative30">
                        <span>
                            <p class="text-align-center m-responsive-cp-header">{{resourceService?.messages?.stmsg?.m0108}} {{ progress }}%</p>
                        </span>
                        <button appTelemetryInteract [telemetryInteractEdata]="resumeIntractEdata" [telemetryInteractObject]="courseInteractObject"
                            class="fluid blue right floated  ui button courseHeaderButton margin-top-0" [disabled]="showResumeCourse"
                            (click)="resumeCourse(true)">
                            {{resourceService?.frmelmnts?.btn?.resumecourse}}
                            <i class="caret right icon"></i>
                        </button>
                    </div> -->
                    <!-- <div *ngIf="permissionService.permissionAvailable && !enrolledCourse" appPermission [permission]="dashboardPermission">
                        <button class="blue right floated ui button courseHeaderButton margin-top-10" (click)="showDashboard()">{{resourceService?.frmelmnts?.btn?.viewcoursestats}}</button>
                    </div> -->
                <!-- </div>
            </div>
        </div> -->
        <!-- <div class="one wide column "></div>
    </div> -->
</div>
<div class="ui grid progress-bar-margin" *ngIf="enrolledCourse">
    <div class="twelve wide column padding-none ">
        <sui-progress class="ui tiny progress orange" [value]="progress" [maximum]="100"></sui-progress>
    </div>
</div>
<app-share-link [shareLink]="shareLink" [telemetryShareData]="telemetryShareData" *ngIf="sharelinkModal" (close)="sharelinkModal = false">
</app-share-link>
