@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;


.back-btn-container {
  z-index: 1;
}

.certified-course {
  display: flex;
  justify-self: end;
  align-self: center;
}

.textbook {
  &-container {
    z-index: 2;
    box-shadow: 0 0.125rem 0.4375rem 0 rgba(0, 0, 0, .16);
    position: relative;
    background-color: var(--gray-0);
  }

  &__details {
    flex: 1;
    min-width: 0;
  }

  &__bookimg {
    width: calculateRem(48px);
    height: calculateRem(48px);

    img {
      width: calculateRem(48px);
      height: calculateRem(48px);
    }
  }

  &__heading {
    min-width: 0;

    .textbook__title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__addbtn {
    white-space: nowrap;
  }
}

@include respond-below(sm) {
  .certified-course {
    justify-self: start;
  }
}


// profile certificate modal styles
.profile-section-content{
  margin: 0 calculateRem(48px);
  @include respond-below(sm) {
    margin: 0;
  }
  .profile-info{
    span{
      &:first-child{
        font-size: calculateRem(12px);
      }
      color: var(--gray);
      font-size: calculateRem(20px);
    }
  }
  .profile-info-para{
    font-size: calculateRem(14px);
  }
}

.sb-activity-dashboard-btn {
  box-shadow: none;
  color: var(--white) !important;
  font-size: calculateRem(12px);
  padding-bottom: calculateRem(28px);
}
