<div *ngIf="showFooter">
  <footer class="text-white new-layout-footer">
    <div class="container">
      <div class="sb-g sbt-top-footer-container">
        <div class="sb-g-col-md-2 text-center">
          <span><a href="#" class="text-white" title="Learn">Learn</a></span>
        </div>
        <div class="sb-g-col-md-2 text-center">
          <span><a href="#" class="text-white" title="Connections">Connections</a></span>
        </div>
        <div class="sb-g-col-md-2 text-center">
          <span><a href="#" class="text-white" title="Discussion">Discussion</a></span>
        </div>
        <div class="sb-g-col-md-2 text-center">
          <span><a href="#" class="text-white" title="Jobs">Jobs</a></span>
        </div>
        <div class="sb-g-col-md-2 text-center">
          <span><a href="#" class="text-white" title="Competencies">Competencies</a></span>
        </div>
        <div class="sb-g-col-md-2 text-center">
          <span><a href="#" class="text-white" title="Events">Events</a></span>
        </div>
      </div>

      <div class="sb-g sbt-bottom-footer-container text-white">
        <div class="text-left sb-g-col-xs-6 sb-g-col-md-3 ">
          <span>COMPASS</span>
        </div>
        <div class="text-right sb-g-col-xs-6 sb-g-col-md-9 ">
          <span>&copy; 2022 Copyright [Company Name]</span>
        </div>
      </div>
    </div>
  </footer>
</div>

<extension-point *appDesktopOnly [name]="'content-manager'"></extension-point>