@import "variables";
@import "./mixins/mixins";
@import "layout/footer";

:host ::ng-deep{
  .new-layout-footer{
    .sbt-footer-container {
      height: calculateRem(296px);
      width: 100%;
      padding: 0% 5%;
    }
    .sbt-page-content-area {
      border-radius: 0rem 0 0 0;
    }
    .sbt-container{
      width: 90%;
      padding: 0;
      margin: 0 auto;
      padding-top: calculateRem(60px);
      border-radius: calculateRem(40px) calculateRem(40px) 0 0;
      background-color: var(--white);
      box-shadow: calculateRem(5px) calculateRem(5px) calculateRem(2px) 0 var(--sbt-box-shadow-black);
      left:5%;
      position:absolute;
      top:calculateRem(24px);
      bottom: 0;
      z-index:9;
      @include respond-below(sm){
        bottom: auto;
      }
      .sbt-skyline-path{
        position: absolute;
        top: 57%;
        overflow: hidden;
        width: 100%;
        img{
          html[dir="rtl"] & {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
          }
          @include respond-below(sm){
            display: none;
          }
        }
      }
      .sbt-footer-shade{
        position: absolute;
        bottom: 0;
        left: calculateRem(40px);
        html[dir="rtl"] & {
          left: auto;
          right: calculateRem(40px);
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
        }
        @include respond-below(sm){
          display: none;
        }
      }
      .footerMenu {
        .help-center{
          margin-bottom: calculateRem(24px);
          @include respond-below(sm) {
            margin-bottom: calculateRem(16px);
          }
          a{
            color: #0531FF;
            font-size: calculateRem(14px);
            font-weight: bold;
          }
        }
        .contact-info{
          @include respond-below(sm) {
            margin-bottom: calculateRem(16px);
          }
          a{
            color: #6236FF;
            font-size: calculateRem(14px);
          }
          .contact-info-title{
            color: #6236FF;
            font-weight: bold;
            font-size: calculateRem(14px);
            margin-bottom: calculateRem(8px);
            @include respond-below(sm){
              margin-bottom: calculateRem(4px);
            }
          }
        }
      }
      .footer-terms-info{
        a{
          color: var(--green);
          font-size: calculateRem(14px);
          font-weight: bold
        }
        color: var(--green);
        font-size: calculateRem(14px);
        font-weight: bold
      }
      .sbt-footer-download-app{
        justify-content: flex-end;
        @include respond-below(sm){
          justify-content: center;
        }
        .sbt-footer-bg{
          padding-top: calculateRem(30px);
          .sbt-footer-bg-img{
            height: calculateRem(200px);
            width: calculateRem(380px);
            @include respond-below (sm){
              height: calculateRem(180px);
              width: calculateRem(320px);
            }
          }
          .sbt-footer-title{
            font-size: calculateRem(16px) !important;
            color: var(--gray-800);
            padding: 0 calculateRem(24px);
            position: absolute;
            width: calculateRem(130px);
            bottom: calculateRem(95px);
            left: 0;
            right: 0;
            margin: 0 auto;
            @include respond-below (sm){
              bottom: calculateRem(80px);
            }
          }
          .playStore-img{
            width: calculateRem(164px);
            position: absolute;
            bottom: calculateRem(30px);
            left: 0;
            right: 0;
            margin: 0 auto;
            @include respond-below(sm){
              width: calculateRem(144px);
              position: absolute;
              bottom: calculateRem(20px);
            }
          }
        }
      }
      .ui.grid.stackable{
        @include respond-below(md){
          padding: 0 calculateRem(32px) !important;
        }
      }
      .ui.stackable.grid>.wide.column{
        @include respond-below(md){
          padding: 0 !important;
        }
      }
    }   
  }
}
