<div class="ui grid padding-topBottom-10 courseStructureHeader">
    <div class="one wide column"></div>
    <div class=" ten wide column">
        <div class="ui grid">
            <div class="eight wide column">
                <div class="profileheader ui link items">
                    <div class="ui grid">
                        <div class="two wide column padding-top-none">
                            <div ng-include="'views/profile/editProfile/userAvtar.html'"></div>
                        </div>
                        <div class="ten wide column profile-header-text padding-top-none">
                            <div class="content padding-top-10">
                                <div class="sectionHeading header">{{profileCtrl.user.firstName}} &nbsp;{{::profileCtrl.user.lastName}}</div>
                                <div class="meta profileViewSubHeader padding-bottom-10">
                                    <span ng-if="profileCtrl.currentJobLocation">{{profileCtrl.currentJobLocation.orgName}},</span>
                                    <span  ng-if="profileCtrl.currentAddressLocation">{{profileCtrl.currentAddressLocation.city}}</span>
                                </div>
                                <div class="meta">
                                    <div class="ui label">Username: {{profileCtrl.user.userName}}                                    
                                    </div>
                                    <div class="ui label">
                                        <i class="mail outline icon"></i> {{profileCtrl.user.email}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profilesettings four wide column">
               <!-- <bulk-upload></bulk-upload> -->
            </div>
        </div>
    </div>
    <div class="one wide column"></div>
</div>
