<div class="twelve wide column">
    <div class="ui raised segment " ng-if="profileCtrl.loader.showLoader">
        <app-loader data="{{profileCtrl.loader}}"></app-loader>
    </div>
    <div class="ui raised segment " ng-if="profileCtrl.error.showError">
        <error-message data="{{profileCtrl.error}}" visibility="profileCtrl.error.showError"></error-message>
    </div>
</div>
<div class="ui grid">
    <div class="eight wide column">
        <div class="ui grid">
            <div class="twelve wide column" ng-include=" 'views/profile/profileView/userExperience.html' ">
            </div>
            <div class="twelve wide column" ng-include=" 'views/profile/profileView/userAddress.html' ">
            </div>
            <div class="twelve wide column" ng-include=" 'views/profile/profileView/userEducation.html' ">
            </div>
            <div class="twelve wide column " ng-include=" 'views/profile/profileView/userBasicInfo.html' ">
            </div>
        </div>
    </div>
    <div class=" four wide column margin-top-20">
        <div class="ui grid ">
            <div class="twelve wide column" sb-permissions permission-only="CONTENT_CREATOR,CONTENT_CREATION,CONTENT_REVIEWER,CONTENT_REVIEW">
                <div class="workspacebutton workspacecontentProfile ui link card " ui-sref="WorkSpace ">
                    <div class="content ">
                        <div class="WorkSpaceTextContent ">
                            <i class='my-icon database icon '></i>
                            <span class="my-text ">View your workspace</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="twelve wide column ">
                <div class="ui raised segment ">
                    <div class="header announcementCard-header ">
                        <span class="header cardsHeading " translate="experiance ">Member of</span>
                    </div>
                    <div class="profileitems ui relaxed divided items ">
                        <div class="item ">
                            <div class="ui avatar image ">
                                <img src="/images/school.png ">
                            </div>
                            <div class="content ">
                                <a class="header ">Maharashtra Teachers Association</a>
                                <div class="meta ">
                                    <span class="cinema ">(250 Members)</span>
                                </div>
                            </div>
                        </div>
                        <div class="item ">
                            <div class="ui avatar image ">
                                <img src="/images/school.png ">
                            </div>
                            <div class="content ">
                                <a class="header ">Maharashtra Chemistry Teachers Only</a>
                                <div class="meta ">
                                    <span class="cinema ">(250 Members)</span>
                                </div>
                            </div>
                        </div>
                        <div class="item ">
                            <div class="ui avatar image ">
                                <img src="/images/school.png ">
                            </div>
                            <div class="content ">
                                <a class="header ">Maharashtra Chemistry Teachers Only</a>
                                <div class="meta ">
                                    <span class="cinema ">(250 Members)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="twelve wide column ">
                <div class="ui raised segment ">
                    <div class="header announcementCard-header ">
                        <span class="header cardsHeading " translate="experiance ">File uploads</span>
                        <a class="addeditprofile " translate="edit ">15 files</a>
                    </div>
                    <div class="profileitems ui relaxed divided items ">
                        <div class="item ">
                            <img class="ui avatar image " src="/images/mp4.png ">
                            <div class="content ">
                                <a class=" header ">Filename.mp4</a>
                                <div class="metadata ">
                                    <span class="date ">4 June'17</span>
                                </div>
                            </div>
                        </div>
                        <div class="item ">
                            <img class="ui avatar image " src="/images/pdf.png ">
                            <div class="content ">
                                <a class=" header ">Filename.pdf</a>
                                <div class="metadata ">
                                    <span class="date ">4 June'17</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="twelve wide column ">
                <div class="ui raised segment ">
                    <div class="header announcementCard-header ">
                        <span class="header cardsHeading " translate="experiance ">Member of</span>
                    </div>
                    <div class="profileitems ui relaxed divided items ">
                        <div class="item ">
                            <div class="ui avatar image ">
                                <img src="/images/school.png ">
                            </div>
                            <div class="content ">
                                <a class="header ">Organic Chemistry for Std VII</a>
                                <div class="meta ">
                                    <span class="cinema "><div class="courseHeader-rating ui mini star rating " data-rating="3 "></div>(2,345)</span>
                                </div>
                            </div>
                        </div>
                        <div class="item ">
                            <div class="ui avatar image ">
                                <img src="/images/school.png ">
                            </div>
                            <div class="content ">
                                <a class="header ">Organic Chemistry for Std VII</a>
                                <div class="meta ">
                                    <span class="cinema "><div class="courseHeader-rating ui mini star rating " data-rating="3 "></div>(2,345)</span>
                                </div>
                            </div>
                        </div>
                        <div class="item ">
                            <div class="ui avatar image ">
                                <img src="/images/school.png ">
                            </div>
                            <div class="content ">
                                <a class="header ">Organic Chemistry for Std VII</a>
                                <div class="meta ">
                                    <span class="cinema "><div class="courseHeader-rating ui mini star rating " data-rating="3 "></div>(2,345)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>