<div  class="ui">
    <div class="ui grid courseStructureHeader">
        <div class="one wide column"></div>
        <div class="ten wide column">
            <div class="ui grid">
                <div class="eight wide column">
                  <div class="ui link items">
                  <div class="item">
					    <div class="ui tiny circular image">
					      <img src="../images/user_logo.png">
					    </div>
					    <div class="content">
					      <div class="header">Stevie Feliciano</div>
					      <div class="meta">
					        <span class="cinema">Union Square 14</span>
					      </div>
					      <div class="description">
					        <p>
					        	Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					        </p>
					      </div>
					    </div>
                  </div>
                  </div> 
                </div>
                <div class="four wide column" ng-if="toc.courseType === 'ENROLLED_COURSE'">
                    
                </div>
                <div class="four wide column" ng-if="toc.courseType === 'OTHER_COURSE'">
                    
                </div>
            </div>
        </div>
        <div class="one wide column"></div>
    </div>
</div>
<div class="ui grid">
    <div class="one wide column"></div>
    <div class="ten wide column">
    	
    	<div class="ui grid">
    		<div class="three wide column">
    			<div ng-include="'views/profile/profileSidebar.html'"></div>
			</div>
			<div class="workspacesegment nine wide column">
				<div ng-include="'views/profile/profileStartCreate.html'"></div>
			</div>
		</div>
	</div>
	<div class="one wide column"></div>
</div>