@import 'mixins/mixins';

.warning-ecar-list {
    width: 100%;
    line-height: normal;
    border-top: 1px solid #ddd;
    font-size:calculateRem(14px);
}
.sb-modal-content .warning-ecar-list:last-of-type{
    border-bottom: 1px solid #ddd;
}
.import-content{
    color:var(--tertiary-100); 
}
.custom-height {
    max-height:320px;
    overflow-y: auto;
    width: 100%;
} 