<sui-modal  [mustScroll]="false" [isClosable]="true" [transitionDuration]="0" [size]="'small'"
  class="sb-modal sb-warning sb-modal-center" appBodyScroll (dismissed)="closeModal()" #modal>
  <div class="sb-modal-header">
    {{resourceService?.frmelmnts?.lbl?.desktop?.storageSpaceRunningOutHeader}}
  </div>

  <div class="sb-modal-content flex-dc">
    <p class="text-center fmedium import-content">
      {{resourceService?.frmelmnts?.lbl?.desktop?.failedListLabel}}
    </p>
    <div class="custom-height">
    <div class="p-8 warning-ecar-list" *ngFor="let items of failedList">
      {{items['name']}}
    </div>
  </div>
  </div>

  <div class="sb-modal-actions">
    <button class="sb-btn sb-btn-normal sb-btn-outline-warning" (click)="closeModal()">
      {{resourceService?.frmelmnts?.btn?.ok}}
    </button>
  </div>
</sui-modal> 