@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.sb-add-activity-content-cards{
 @include respond-above(md){
     grid-template-columns: repeat(4,1fr);
 }
}
.sb-add-activity-content-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(252.98px, 1fr));
    grid-gap: 1rem;
}