<div [ngClass]="layoutConfiguration ? 'sbt-center-container sbt-back-header sbt-mygroups-details relative9':''" >
  <div class="ui container" *ngIf="showLoader">
    <app-loader></app-loader>
  </div>
  <div *ngIf="!showLoader">
    <app-back-button></app-back-button>
    <div class="content-header">
      <div class="ui container py-16">
        <div class="d-flex flex-ai-center flex-jc-space-between flex-w-wrap">
          <div class="flex-basis-1 mr-32">
            <div class="content-header__title font-weight-bold sb__ellipsis sb__ellipsis--one d-flex">
              <div>{{groupName}}</div>
            </div>
            <div class="d-flex flex-ai-center content-header__info">
              <div>{{resourceService?.frmelmnts?.lbl?.groupCreatedBy | interpolate:'{name}': groupCreator}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="ui container">
      <div class="sb-card-grid sb-add-activity-content-cards my-24">
        <div class="add-activity-content" *ngFor="let activity of supportedActivityList; let i = index;">
          <sb-course-curiculum-card  [title]="activity?.title" (click)="onCardClick(activity)" [isActivityTypeCard]="true" [cardData]="activity" [index]="i"></sb-course-curiculum-card>
        </div>
      </div>
    </div>
  </div>
</div>
