<!--Online/Offline-->
<div class="mat-app-background br-24 p-8 mr-16 my-16">
    <div *ngIf="isConnected" class="d-flex flex-ai-center flex-jc-center mat-body-2"><mat-icon class="mr-8 color-success">wifi</mat-icon> {{resourceService?.messages?.stmsg?.desktop?.onlineStatus}}</div>
    <div *ngIf="!isConnected" class="d-flex flex-ai-center flex-jc-center mat-body-2"><mat-icon class="mr-8 color-warn">wifi_off</mat-icon> {{resourceService?.frmelmnts?.lbl?.offline}}</div>
</div>
<!--/Online/Offline-->