<!--Online/Offline-->
<div>
  <div class="status-container p-8 mr-16 mb-16" *ngIf="isConnected">
    <div class="d-flex flex-ai-center flex-jc-center">
      <div class="status-container__icon mr-8">
        <img height="37px" src="assets/images/Online.svg" width="24px">
      </div>
      <div class="fnormal status-container__title">{{resourceService?.messages?.stmsg?.desktop?.onlineStatus}}
      </div>
    </div>
  </div>

  <div class="status-container p-8 mr-16 mb-16" *ngIf="!isConnected">
    <div class="d-flex flex-ai-center flex-jc-center">
      <div class="status-container__icon mr-8">
        <img height="37px" src="assets/images/Offline.svg" width="24px">
      </div>
      <div class="fnormal status-container__title">{{resourceService?.frmelmnts?.lbl?.offline}}</div>
    </div>
  </div>
</div>

<!--/Online/Offline-->
