@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

:host::ng-deep {
  .listallreports-section {
    .dataTables_wrapper .dataTables_filter input {
      outline: 0;
    }
  }
}


.table-bottom {
  border: 0.0625rem solid var(--gray-100);
}

select.search-entity {
  width: calculateRem(120px);
  border: calculateRem(1px) solid var(--gray-200);
  color: var(--gray-800);
  border-radius: calculateRem(3px);
  padding: calculateRem(4px);
  font-size: 0.8125rem;
  margin-bottom: calculateRem(5px);
  font-weight: bold;
  text-transform: capitalize;
}


.header-section {
  width: calculateRem(70px);
  text-align: center;
}

.date-section {
  width: calculateRem(180px);
  text-align: center;
}

label {
  float: left;
}

.iconSize{
  font-size: calculateRem(18px);
}