:host ::ng-deep .ck-editor__editable {
  /* min-height: 300px; */
}
.editorWrapper{
  border: 0px solid white;
}
.editorWrapper.hasError {
  border: 0px solid red;
}
.characterCount{
  text-align: right;
  /* background-color: #f2f2f2;
  border: 1px solid #c4c4c4; */
  border-top: 0;
  padding-right: 7px;
  font-size: 11px;
  font-weight: bold;
  margin-top: -15px;
  position: relative
}
.custom-image img {
  border: 1px dotted;
  padding: 7px;
  margin: 6px;
  cursor: pointer;
}

.resource-image {
  height: 180px !important;
}

.asset_container {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 300px !important;
  max-height: 300px !important;
  padding: 5px;
}

.insert-image-btn {
  position: absolute;
  z-index: 1;
  left: 400px;
  background-color: transparent;
  padding: 15px !important;
}

.insert-image-btn>.icon {
  opacity: 1;
}

.insert-image-btn:active {
  background-color: transparent;
}
