<app-modal-wrapper [config]="{disableClose: true, size: 'normal'}" (dismiss)="redirect()"
  [appTelemetryImpression]="telemetryImpression" #modal>
  <ng-template sbModalContent>
    <div class="sb-modal">
      <div class="transition ui dimmer page modals active visible">
        <div class="ui modal transition active visible normal">
          <!--Header-->
          <div class="sb-modal-header" *ngIf="userDetails" role="heading" aria-level="2">
            {{resourceService.frmelmnts?.lbl?.setRole | translate}} {{userDetails.firstName}}
            {{userDetails.lastName}}
          </div>
          <!--/Header-->

          <!--Content-->
          <div class="sb-modal-content" *ngIf="showMainLoader">
            <div class="ui grid">
              <div class="twelve wide column">
                <app-loader></app-loader>
              </div>
            </div>
          </div>
          <div class="sb-modal-content o-y-visible" *ngIf="!showMainLoader">
            <div class="ui grid">
              <div class="ten wide column mb-30">
                <span class="ui header">{{resourceService.frmelmnts?.lbl?.editUserDetails | translate}}</span>
              </div>
            </div>
            <form class="ui form" [formGroup]="userDetailsForm" *ngIf="userDetails">
              <div class="field">
                <label>{{resourceService.frmelmnts?.lbl?.role | translate}}</label>
              </div>
              <div class="field">
                <mat-form-field appearance="fill" class="sb-mat__dropdown w-100 mb-16">
                  <mat-select [isSearchable]="false" class="selection"
                  (selectedOptionsChange)="enableSubmitBtn = true;" formControlName="role" [options]="allRoles"
                  labelField="roleName" valueField="role" name="role"
                  placeholder="{{resourceService?.frmelmnts?.btn?.selrole | translate}}" multiple #allroles>
                    <mat-option *ngFor="let role of allroles.filteredOptions" [value]="role">{{role}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </form>
          </div>
          <!--/Content-->

          <!--Actions-->
          <div class="sb-modal-actions">
            <button [disabled]="!enableSubmitBtn" appTelemetryInteract
              [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="submitInteractEdata"
              (click)="onSubmitForm()" tabindex="0" class="sb-btn sb-btn-normal sb-btn-primary">
              {{resourceService.frmelmnts?.btn?.save | translate}}
            </button>
          </div>
          <!--/Actions-->
        </div>
      </div>
    </div>
  </ng-template>
</app-modal-wrapper>