<!--notes start-->
<div class="ui grid margin-top-10">
    <div class="row">
        <div class="three wide column "></div>
        <div class="six wide column center aligned" ng-if="showModalInLectureView"  ng-show="!(contentData.status === 'Unlisted' || contentData.status === 'Processing')">
            <div class="ui grid">
                <div class="row">
                    <div class="four wide column "></div>
                    <div class="four wide column ">
                        <h2 class="ui centered aligned icon tiny header toc-note">
                            <add-note shownoteinlecture="true" contentid="contentData.identifier" visibility="showModalInLectureView"></add-note>
                        </h2>
                    </div>
                </div>
                <div class="four wide column "></div>
            </div>
        </div>
    </div>

</div>
</div>
<div class="three wide column "></div>
<div class="twelve wide column ">
    <div class="ui divider"></div>
</div>
</div>
<!--notes End-->
    <div class="ui grid">
        <div class="eight wide column">
            <div class="twelve wide column">
                <div class="ui raised segment">
                    <div ng-if="contentData.description" class="margin-bottom-20">
                        <div class="header announcementCard-header margin-bottom-10">
                            <span class="header cardsHeading ng-binding"> {{$root.frmelmnts.lbl.description}} </span>
                        </div>
                        <div class="description" ng-init="contentPlayerCtrl.readMore = false">                                   
                            <div  ng-if="!contentPlayerCtrl.readMore" >
                                <span class="overflow-word-wrap">{{contentData.description | limitTo: 150 }}&nbsp;</span>
                                <span class="ui cardsKnowMore mouse-pointer" ng-if="contentData.description.length > 150 && contentPlayerCtrl.readMore === false" ng-click="contentPlayerCtrl.readMore = !contentPlayerCtrl.readMore;">{{$root.frmelmnts.lbl.readmore}} </span>
                            </div>
                            <div class="overflow-word-wrap" ng-if="contentPlayerCtrl.readMore"> {{contentData.description}}&nbsp;
                                <span class="ui cardsKnowMore mouse-pointer" ng-click="contentPlayerCtrl.readMore = false;">{{$root.frmelmnts.lbl.readless}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="header announcementCard-header">
                        <span class="header cardsHeading ng-binding">{{$root.frmelmnts.lbl.contentinformation}}</span>
                    </div>
                    <div class="ui middle aligned list margin-top-0">

                        <div class="item padding-top-10 padding-bottom-5" ng-if="contentData.creator">
                            <div class= "ui grid">
                                <div class="three wide column">
                                  <div class="content content-detail">
                                    <div class="ui ">{{$root.frmelmnts.lbl.author}}</div>
                                  </div>
                                </div>
                                <div class="nine wide column">
                                  <div class="content">
                                    {{contentData.creator}}
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="item padding-top-10 padding-bottom-5" ng-if="contentData.language">
                            <div class= "ui grid">
                                <div class="three wide column">
                                  <div class="content content-detail">
                                    <div class="ui ">{{$root.frmelmnts.lbl.medium}}</div>
                                  </div>
                                </div>
                                <div class="nine wide column">
                                  <div class="content">
                                    {{contentData.language}}
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="item padding-top-10 padding-bottom-5" ng-if="contentData.gradeLevel">
                            <div class= "ui grid">
                                <div class="three wide column">
                                  <div class="content content-detail">
                                    <div class="ui">{{$root.frmelmnts.lbl.class}}</div>
                                  </div>
                                </div>
                                <div class="nine wide column">
                                  <div class="content">
                                    {{contentData.gradeLevel}}
                                  </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="item padding-top-10 padding-bottom-5" ng-if="contentData.subject">
                            <div class= "ui grid">
                                <div class="three wide column">
                                  <div class="content content-detail">
                                    <div class="ui">{{$root.frmelmnts.lbl.subject}}</div>
                                  </div>
                                </div>
                                <div class="nine wide column">
                                  <div class="content">
                                    {{contentData.subject}
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="item padding-top-10 padding-bottom-5" ng-if="contentData.createdOn">
                            <div class= "ui grid">
                                <div class="three wide column">
                                  <div class="content content-detail">
                                    <div class="ui">{{$root.frmelmnts.lbl.createdon}}</div>
                                  </div>
                                </div>
                                <div class="nine wide column">
                                  <div class="content">
                                    {{contentData.createdOn| dateFilterWithMDY}}
                                  </div>
                                </div>
                            </div>

                        </div>
                        <div class="item padding-top-10 padding-bottom-5" ng-if="contentData.lastUpdatedOn">
                            <div class= "ui grid">
                                <div class="three wide column">
                                  <div class="content content-detail">
                                    <div class="ui">{{$root.frmelmnts.lbl.lastupdate}}</div>
                                  </div>
                                </div>
                                <div class="nine wide column">
                                  <div class="content">
                                    {{contentData.lastUpdatedOn| dateFilterWithMDY}}
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="item padding-top-10 padding-bottom-5" ng-if="contentData.concepts.length > 0">
                            <div class= "ui grid">
                                <div class="three wide column">
                                  <div class="content content-detail">
                                    <div class="ui">{{$root.frmelmnts.lbl.concept}}</div>
                                  </div>
                                </div>
                                <div class="nine wide column">
                                  <div class="content overflow-word-wrap">
                                   {{getConceptsNames(contentData.concepts)}}
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="twelve wide column margin-top-20" ng-show="!(contentData.status === 'Unlisted' || contentData.status === 'Processing')">
                <course-discussions showaskquestion="false"></course-discussions>
            </div>
        </div>
        <div class="four wide column">
            <note-card shownotecard="true" contentid="contentData.identifier"></note-card>
        </div>
    </div>

<!-- <div class="ui grid margin-top-15">
    <div class="row">
        <div class="three wide column">
            <div class="ui list">
                <div class="item">
                    <div class="content">
                        <div class="header">{{$root.frmelmnts.lbl.author}}</div>
                        <div class="description padding-top-1rem">{{contentData.author}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui list">
                <div class="item">
                    <div class="content">
                        <div class="header">{{$root.frmelmnts.lbl.medium}}</div>
                        <div class="description padding-top-1rem">{{contentData.language.toString()}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui list">
                <div class="item">
                    <div class="content">
                        <div class="header">{{$root.frmelmnts.lbl.class}}</div>
                        <div class="description padding-top-1rem">{{contentData.gradeLevel.toString()}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui list">
                <div class="item">
                    <div class="content">
                        <div class="header">{{$root.frmelmnts.lbl.subject}}</div>
                        <div class="description padding-top-1rem">{{contentData.subject}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="three wide column">
            <div class="ui list">
                <div class="item">
                    <div class="content">
                        <div class="header">{{$root.frmelmnts.lbl.lastupdate}}</div>
                        <div class="description padding-top-1rem">{{contentData.lastUpdatedOn| dateFilterWithMDY}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui list">
                <div class="item">
                    <div class="content">
                        <div class="header">{{$root.frmelmnts.lbl.createdon}}</div>
                        <div class="description padding-top-1rem">{{contentData.createdOn| dateFilterWithMDY}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column" ng-if="$root.concepts && contentData.concepts">
            <div class="ui list">
                <div class="item">
                    <div class="content">
                        <div class="header">{{$root.frmelmnts.lbl.concept}}</div>
                        <div class="description padding-top-1rem">{{getConceptsNames(contentData.concepts)}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div> -->
<!-- <div class="ui clearing divider"></div> -->
<!-- <div class="ui grid">
  <div class="row">
  </div>
</div> -->