/nbproject/private/
/node_modules
/dist
/.tmp
/.sass-cache
/bower_components
/app/thirdparty/
/coverage
/npm-debug.log
nbproject/
/semantic
/app/content-plugins/
/app/tenant/
/test
/app/public/scripts/publicErrorMessages.js
/app/public/scripts/publicLabels.js
/app/private/scripts/privateErrorMessages.js
/app/private/scripts/playerAppConfig.js
/app/private/scripts/privateLabels.js
/app/private/managers/
