/src/node_modules
/src/dist
/.tmp
/.sass-cache
/src/app/thirdparty/bower_components
/src/coverage
/npm-debug.log
.coverrun
/src/mochawesome-report
/src/app/migration/src/node_modules
/src/app/dist
/src/app/client/src/documentation/
/src/app/client/src/coverage
/src/app/client/src/thirdparty
src/app/dist/thirdparty/editors/
src/app/app_dist
/extensible-framework
**/dist
**/node_modules
/src/app/client/coverage
/src/app/client/documentation
