/src/node_modules
/src/dist
/.tmp
/.sass-cache
/src/app/thirdparty/bower_components
/src/coverage
/npm-debug.log
.coverrun
/src/mochawesome-report
/src/app/migration/src/node_modules
/src/app/migration/dist
/src/app/migration/src/documentation
/src/app/migration/src/coverage
/extensible-framework/node_modules
/extensible-framework/plugins/**/node_modules
