/nbproject/private/
/node_modules
/dist
/.tmp
/.sass-cache
/bower_components
/semantic
semantic.json
/app/thirdparty/semantic
/app/thirdparty/bower_components
/app/scripts/playerAppConfig.js
/coverage
/npm-debug.log
nbproject/