language: node_js
node_js:
    - "8"

before_script:
    - npm install -g @angular/cli
    - cd src/app/client/
    - npm install
    - ng build --prod
    - ng lint
script:
    - ng test --watch=false

