language: node_js
node_js:
    - "8.9"

before_script:
    - npm install -g @angular/cli
    - cd src/app/client/
    - npm install
    - ng lint
    - ng build --prod
    - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then cd ./../; fi'
    - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then  npm install; fi'
script:
    - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then  npm run test-with-coverage; fi'
    - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then npm run test-coverage; fi'