@Library('deploy-conf') _
node() {
    try {
        String ANSI_GREEN = "\u001B[32m"
        String ANSI_NORMAL = "\u001B[0m"
        String ANSI_BOLD = "\u001B[1m"
        String ANSI_RED = "\u001B[31m"
        String ANSI_YELLOW = "\u001B[33m"
        ansiColor('xterm') {
            stage('Checkout') {
                cleanWs()
                checkout scm
                commit_hash = sh(script: 'git rev-parse --short HEAD', returnStdout: true).trim()
                artifact_version = sh(script: "echo " + params.github_release_tag.split('/')[-1] + "_" + commit_hash + "_" + env.BUILD_NUMBER, returnStdout: true).trim()
                echo "artifact_version: "+ artifact_version
            }
        }
        stage('Build') {
            sh """
            cd src/desktop/
            echo "logging_here_______begin"
            which git
            which python
            echo "logging_here________end"
            docker run -d --name offline_build -w /offline node:18.19.0-slim sleep infinity
            docker cp .. offline_build:/offline/
            docker exec offline_build bash -x /offline/src/desktop/build.sh
            docker cp offline_build:/offline/src/desktop/app_dist.tar.gz ../../
            docker rm offline_build --force
            """
        }

        stage('Archive artifacts'){
            sh """
                        mkdir -p offline_desktop_artifacts
                        cp app_dist.tar.gz offline_desktop_artifacts
                        zip -j offline_desktop_artifacts.zip:${artifact_version} offline_desktop_artifacts/*
                    """
            archiveArtifacts artifacts: "offline_desktop_artifacts.zip:${artifact_version}", fingerprint: true, onlyIfSuccessful: true
            sh """echo {\\"artifact_name\\" : \\"offline_desktop_artifacts.zip\\", \\"artifact_version\\" : \\"${artifact_version}\\", \\"node_name\\" : \\"${env.NODE_NAME}\\"} > metadata.json"""
            archiveArtifacts artifacts: 'metadata.json', onlyIfSuccessful: true
            currentBuild.result = "SUCCESS"
            currentBuild.description = "Artifact: ${artifact_version}, Public: ${params.github_release_tag}"
        }
    }
    catch (err) {
        sh """
           docker rm offline_build --force
           """
        currentBuild.result = "FAILURE"
        throw err
    }
    finally {
        slack_notify(currentBuild.result)
        email_notify()
    }
}
