<div class="sb-group-page-container explore-ftu-popup-component">
  <div class="sb-group-container sb-group-container--sm mat-app-background p-16">
    <div class="d-flex w-100">
      <h4 class="color-accent font-weight-bold mb-0 mat-title">{{ resourceService?.frmelmnts?.lbl?.groupWelcomeTitle }}</h4>
      <button mat-mini-fab color="warn" class="ml-auto" aria-label="Close Welcome Popup"
      (click)="userVisited();addTelemetry('close-ftu')"><mat-icon>close</mat-icon></button>
    </div>
    <!-- content comes from CC -->
    <img src="./assets/images/groups.png" class="sb-group-container__img" role="presentation" alt="" />
    <p class="sb-group-container__description mat-body-1">{{ resourceService.frmelmnts.lbl.groupWelcomeMsg }}</p>
    <button mat-raised-button color="accent" type="button" tabindex="0" (click)="userVisited();addTelemetry('ftu-get-started')">{{ resourceService.frmelmnts.lbl.getStarted }} <mat-icon>arrow_right_alt</mat-icon></button>
        <!-- content comes from CC -->

  </div>
</div>