<div class="sb-group-page-container">
  <div class="sb-group-container sb-group-container--sm sb-bg-color-white">
    <a class="close" (click)="userVisited();addTelemetry('close-ftu')"><i class="icon-svg icon-svg--xs icon-close"><svg class="icon icon-svg--primary">
      <use xlink:href="./assets/images/sprite.svg#close"></use>
    </svg></i></a>

    <!-- content comes from CC -->
    <h4 class="sb-group-container__title">{{ resourceService?.frmelmnts?.lbl?.groupWelcomeTitle }}</h4>
    <img src="./assets/images/groups.png" class="sb-group-container__img" />
    <p class="sb-group-container__description">{{ resourceService.frmelmnts.lbl.groupWelcomeMsg }}</p>
    <button type="button" class="sb-btn sb-btn-sm sb-btn-primary text-uppercase w-100" (click)="userVisited();addTelemetry('ftu-get-started')">{{ resourceService.frmelmnts.lbl.getStarted }}<span
      class='arrow-icon pull-right'><i class="icon-svg icon-svg--xxs icon-back">
        <svg class="icon icon-svg--white">
          <use xlink:href="./assets/images/sprite.svg#arrow-long-right"></use>
        </svg></i></span></button>
        <!-- content comes from CC -->

  </div>
</div>