<div class="content-metadeta sb-bg-color-white mt-8">
  <div class="mx-16 py-16 content-metadeta__content">
    <div class="content-metadeta__title fsmall font-weight-bold">
      {{resourceService?.frmelmnts?.lbl?.content?.DESCRIPTION}}</div>
    <p class="content-metadeta__text fsmall pt-8">
      {{contentData?.description}}
    </p>
  </div>

  <sui-accordion class="styled fluid sb-accordion">
    <sui-accordion-panel>
      <div title class="sb-accordion-title fsmall">
        {{resourceService?.frmelmnts?.lbl?.content?.ContentInformation}}
        <i class="chevron down icon ml-8"></i>
      </div>
      <div content class="sb-accordion-content sb-bg-color-white pt-0 pb-8">
        <div class="py-8">
          <div class="content-metadeta__title  fxsmall mb-8">{{resourceService?.frmelmnts?.lbl?.content?.BOARD}}</div>
          <div class="content-metadeta__text  fsmall"> {{contentData?.board}} </div>
        </div>

        <div class="py-8">
          <div class="content-metadeta__title  fxsmall mb-8">{{resourceService?.frmelmnts?.lbl?.content?.MEDIUM}}</div>
          <div class="content-metadeta__text  fsmall"> {{contentData?.medium}}</div>
        </div>

        <div class="py-8">
          <div class="content-metadeta__title  fxsmall mb-8">{{resourceService?.frmelmnts?.lbl?.content?.CLASS}}</div>
          <div class="content-metadeta__text  fsmall">
            <span *ngFor="let class of contentData?.gradeLevel ; last as isLast">{{class}} <span *ngIf="!isLast">,
              </span></span>
          </div>
        </div>

        <div class="py-8">
          <div class="content-metadeta__title  fxsmall mb-8">{{resourceService?.frmelmnts?.lbl?.content?.SUBJECT}}</div>
          <div class="content-metadeta__text  fsmall">{{contentData?.subject}}</div>
        </div>

        <div class="py-8">
          <div class="content-metadeta__title fxsmall mb-8">{{resourceService?.frmelmnts?.lbl?.content?.LicenseTerms}}
          </div>
          <div class="content-metadeta__text fsmall">
            {{contentData?.license}}
          </div>
        </div>

        <div class="py-8">
          <div class="content-metadeta__title  fxsmall mb-8">{{resourceService?.frmelmnts?.lbl?.content?.COPYRIGHT}}
          </div>
          <div class="content-metadeta__text  fsmall">{{contentData?.copyright}}</div>
        </div>

        <div class="py-8">
          <div class="content-metadeta__title  fxsmall mb-8">
            {{resourceService?.frmelmnts?.lbl?.content?.CreatedOnBy | interpolate:'{instance}': instance}}
          </div>
          <div class="content-metadeta__text  fxsmall">{{contentData?.creator}}</div>
        </div>

        <div class="py-8">
          <div class="content-metadeta__title  fxsmall mb-8">{{resourceService?.frmelmnts?.lbl?.content?.AUTHOR}}</div>
          <div class="content-metadeta__text  fsmall">{{contentData?.author}}</div>
        </div>

        <div class="py-8">
          <div class="content-metadeta__title  fxsmall mb-8">{{resourceService?.frmelmnts?.lbl?.content?.CREATEDON}}
          </div>
          <div class="content-metadeta__text  fsmall">{{contentData?.createdOn | dateFormat: 'MMMM Do YYYY'}}</div>
        </div>
        <div class="py-8">
          <div class="content-metadeta__title  fxsmall mb-8">{{resourceService?.frmelmnts?.lbl?.content?.LASTUPDATEDON}}
          </div>
          <div class="content-metadeta__text  fsmall">{{contentData?.lastUpdatedOn | dateFormat: 'MMMM Do YYYY'}}</div>
        </div>

        <div class="py-8">
          <div class="content-metadeta__title  fxsmall mb-8">{{resourceService?.frmelmnts?.lbl?.content?.KEYWORDS}}
          </div>
          <div class="content-metadeta__text  fsmall"> <span
              *ngFor="let keyword of contentData?.keywords ; last as isLast">
              {{keyword}} <span *ngIf="!isLast">, </span></span>
          </div>
        </div>

        <div class="py-8">
          <div class="content-metadeta__title  fxsmall mb-8">{{resourceService?.frmelmnts?.lbl?.content?.RESOURCETYPE}}
          </div>
          <div class="content-metadeta__text  fsmall">{{contentData?.resourceType}}</div>
        </div>

      </div>
    </sui-accordion-panel>
  </sui-accordion>

</div>