input[type="file"] {
  display: none;
}

.area {
  position: relative;
  a {
    display: inline;
  }
  i {
    font-size: 40px;
  }
}

.remove-image {
  display: none;
  position: absolute;
  top: -10px;
  right: 2px;
  border-radius: 10em;
  padding: 2px 6px 3px;
  text-decoration: none;
  font: 620 9px/12px sans-serif;
  background: #555;
  border: 3px solid #fff;
  color: #fff !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 2px 4px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.remove-image:hover {
  background: #e54e4e;
  padding: 3px 7px 5px;
  top: -11px;
  right: 2px;
}
.remove-image:active {
  background: #e54e4e;
  top: -10px;
  right: 2px;
}

.bs-1 {
  background-color: grey;
}
