.workspaceicon.ui.header>.icon {
    padding-top: 0;
    float: left;
}

.workspaceicon.ui.header:first-child {
    margin-top: 20px;
}

.publicmenusection.ui.vertical.menu {
    padding: 15px 0 0 4px;
}

.publicmenusection.ui.secondary.vertical.menu>.item {
    color: #979797;
}

.publicmenusection.ui.secondary.menu .active.item {
    background: linear-gradient(270deg, rgba(218, 218, 218, 0) 0%, #F1F1F1 100%);
    border-radius: 0!important;
    color: rgba(0, 0, 0, .95)
}

.publicmenusection.ui.secondary.menu a.item:hover {
    background: linear-gradient(270deg, rgba(218, 218, 218, 0) 0%, #F1F1F1 100%);
    border-radius: 0!important;
    color: rgba(0, 0, 0, .95);
}

.workspacesegment {
    margin-top: 73px;
}

.workspacecontent {
    text-align: center;
    color: #333333;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.workspacecontent.ui.card{
    box-shadow: 0 1px 3px 0 #000000, 0 0 0 1px #171718;
}

.workspacetitle.title {
    color: #333333;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.profilesettings {
    text-align: right;
}

.profilesttingheader.ui.header {
    color: #979797;
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 17px
}

.profileheader.ui.items>.item>.content>.header:not(.ui) {
    font-size: 1.6em;
}

.profileheader.ui.items>.item .meta:last-child {
    color: #979797;
}

.profileheaderpadding.ui.grid>.column:not(.row) {
    padding: 20px 0 20px 0;
}

.workspaceinstuction {
    text-align: center;
    color: #979797;
    font-size: 12px;
}

.workspacedownload.ui.segment {
    box-sizing: border-box;
    border: 2px solid #979797;
    border-radius: 4px;
    border-style: dashed;
    text-align: center;
}

.uploadicon i.icon {
    font-size: 3em;
    color: #979797;
}

.uploadicon p {
    color: #979797;
    font-family: "Open Sans";
    font-size: 13px;
}

.uploador p {
    color: #979797;
    font-family: "Open Sans";
    font-size: 10px;
}

.fileupload.ui.primary.basic.button{
    margin-top:20px;
}

.filedivider.ui.divider{
    margin:40px;
}
.iwt{
    display:block;
}
.textcontent {
    display: inline-block;
    margin: 8px;
    padding: 0px;
    font-size: 1em;
    white-space: nowrap;
    @media only screen and (max-width: 1200px) { 
      white-space: pre-line;
    }

}
.textcontent i.icon{
    font-size: 2em;
}

.my-text {
   font-size: 1.2em;
}

.my-icon {
    vertical-align: middle;
}
// Tree Picker

.ui.tree-picker.modal .search{
    display:none;
}
.ui.tree-picker.modal .header .menu{
     display:none;
}

/* user avatar on hover effects in profile edit page*/

.userAvtarWrap {
    position: relative;
    height: 150px;
    width: 150px;
}

.img-description-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: @white;
    visibility: hidden;
    opacity: 0.1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em !important;
    border-radius: 50%;
    background: rgba(34,36,38,.1);
}

.userAvtarWrap:hover .img-description-layer {
    visibility: visible;
    opacity: 1;
}
