.userSearchImage>img {
	min-height:80px !important;
}
.userSearchButton {	
	margin-top: -5px !important;
}

.userSearchCardHover {
	padding: 10px !important;
}

.ui.items>.userSearchCardHover.item:hover {
	-webkit-box-shadow: 1px 6px 15px 2px rgba(0,0,0,0.15);
	moz-box-shadow: 1px 6px 15px 2px rgba(0,0,0,0.15);
    -o-box-shadow: 1px 6px 15px 2px rgba(0,0,0,0.15);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 100;
    transform: scale(1.07);
    -webkit-transform: scale(1.02);
    background-color: #ffffff;
    border-radius: 5px;

}

.ui.divided.items>.userSearchCardHover.item:first-child {
    padding-top: 10px !important;
}

.ui.divided.items>.userSearchCardHover.item:last-child {   
    padding-bottom: 10px !important;
}