<div [appTelemetryImpression]="telemetryImpression" class=" ui grid">
  <div class="one wide column"></div>
  <div class="ten wide column">
    <div class="ui grid margin-bottom-0">
      <div class="twelve wide column">
        <app-prominent-filter [pageId]="'explore-page'" *ngIf="filterType" [filterEnv]="filterType"  [ignoreQuery]="['key', 'language']" 
       [accordionDefaultOpen]=true [isShowFilterLabel]=true [showSearchedParam]=true [isShowFilterLabel]=true [hashTagId]="hashTagId" (prominentFilter)="getFilters($event)"></app-prominent-filter>
      </div>
    </div>
    <div *ngFor="let section of caraouselData">
      <app-page-section (visits)="prepareVisits($event)" (playEvent)="playContent($event)" [section]="section" (viewAll)="viewAll($event)"></app-page-section>
    </div>
    <div class="twelve wide column" *ngIf="showLoader">
      <app-loader [data]='loaderMessage'></app-loader>
    </div>
    <div *ngIf="noResult && !showLoader">
      <app-no-result [data]="noResultMessage"></app-no-result>
    </div>
  </div>
  <div class="one wide column">
  </div>
</div>
