<div [appTelemetryImpression]="telemetryImpression">
  <app-prominent-filter [pageId]="'explore-page'" *ngIf="initFilters" [filterEnv]="filterType" [ignoreQuery]="['key']"
    [accordionDefaultOpen]=true [isShowFilterLabel]=true [showSearchedParam]=true [isShowFilterLabel]=true
    [hashTagId]="hashTagId" (prominentFilter)="getFilters($event)"></app-prominent-filter>
  <div class="ui container mt-20">
    <div class="ui grid">
      <div class="twelve wide column" *ngFor="let section of pageSections;let last = last"
        [ngClass]="{'last mb-30':last}">
        <app-page-section (visits)="prepareVisits($event)" (playEvent)="playContent($event)" [section]="section"
          (viewAll)="viewAll($event)"></app-page-section>
      </div>
      <div class="twelve wide column" *ngIf="showLoader">
        <app-loader [data]='loaderMessage'></app-loader>
      </div>
      <div class="twelve wide column" *ngIf="carouselMasterData.length === 0 && !showLoader">
        <app-no-result [data]="noResultMessage"></app-no-result>
      </div>
    </div>
  </div>
</div>
<sui-modal [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'small'" class="sb-modal"
  appBodyScroll (dismissed)="showLoginModal = false" #modal *ngIf="showLoginModal">

  <!--Header-->
  <div class="sb-modal-header">
    {{resourceService?.frmelmnts?.lbl?.signinenrollTitle}}
  </div>
  <!--/Header-->
  <!--Content-->
  <div class="sb-modal-content">
    <div class="ui center aligned segment">
      <p>{{resourceService?.frmelmnts?.lbl?.signinenrollTitle}}</p>
    </div>
  </div>
  <!--/Content-->

  <!--Actions-->
  <div class="sb-modal-actions">
    <a href={{baseUrl}} class="sb-btn sb-btn-normal sb-btn-primary">
      {{resourceService.frmelmnts?.btn?.signin}}
    </a>
  </div>
  <!--/Actions-->
</sui-modal>