<div class="ui container mt-30" [appTelemetryStart]="telemetryCourseStart" [appTelemetryEnd]="telemetryCourseEndEvent">
  <div class="content-grid">
    <div class="ui active inverted dimmer" *ngIf="showCopyLoader">
      <div class="ui text centered inline loader mt-40">
        {{resourceService.frmelmnts.lbl.copycontent}}
      </div>
    </div>
    <div class="row" *ngIf="showPlayer">
      <div class="twelve wide column">
        <div id="app-player-collection-renderer">
          <div class="sb-pageSection">
              <div class="sb-pageSection-header">
                <h4 class="sb-pageSection-title m-0 mr-8">{{contentTitle}}</h4>
                <button class="sb-btn sb-btn-normal sb-btn-error ml-auto sb-cls-btn" type="button"  (click)="closeContentPlayer()" appTelemetryInteract [telemetryInteractEdata]="closeContentIntractEdata" [telemetryInteractObject]="objectContentInteract" [telemetryInteractCdata]="telemetryCdata">
                    {{resourceService?.frmelmnts?.btn?.close}} <i class="close icon"></i></button>
              </div>
          </div>
          <div class="twelve wide column">
            <app-player class="content-player" [playerOption] ="playerOption"   [playerConfig]="playerConfig | async"></app-player>
          </div>
        </div>
      <div class="ui row pt-0 my-20">
        <div class="ui twelve column grid pr-0">
          <div class="one wide tablet only one wide computer only column"></div>
          <div class="six wide mobile only three wide tablet only three wide computer only column">
            <button class="ui blue button left floated fluid tocbutton toc-left-nav-btn-content" (click)="navigateToContent(prevPlaylistItem)"
              [disabled]="prevPlaylistItem === undefined">
              <span class="header">{{resourceService.frmelmnts.btn.previous}}</span>
              <br />
              <span class="font-white description text-ellipsis" title="{{prevPlaylistItem?.title || resourceService.messages.stmsg.m0120}}">{{prevPlaylistItem?.title || resourceService.messages.stmsg.m0120}}</span>
            </button>
          </div>
          <div class="four wide tablet only four wide computer only column"></div>
          <div class="six wide mobile only three wide tablet only three wide computer only column pr-0">
            <button class="ui blue button right floated fluid toc-right-nav-btn-content" (click)="navigateToContent(nextPlaylistItem)"
              [disabled]="nextPlaylistItem === undefined">
              <span class="header">{{resourceService.frmelmnts.btn.next}}</span>
              <br />
              <span class="font-white description text-ellipsis" title="{{nextPlaylistItem?.title || resourceService.messages.stmsg.m0120}}">{{nextPlaylistItem?.title || resourceService.messages.stmsg.m0120}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="triggerContentImpression" [appTelemetryImpression]="telemetryContentImpression"></div>
  </div>
  <div *ngIf="loader" class="row">
    <div class="twelve wide centered column">
      <app-loader [data]="loaderMessage"></app-loader>
    </div>
  </div>
  <div class="sb-pageSection"  *ngIf="!loader" [appTelemetryImpression]="telemetryImpression">
      <div  class="sb-pageSection-header sb-pageSection-header-compact">
        <h4 class="sb-pageSection-title m-0 mr-5">{{collectionTitle}}</h4>
        <button appTelemetryInteract [telemetryInteractEdata]="closeIntractEdata" [telemetryInteractObject]="objectInteract" [telemetryInteractCdata]="telemetryCdata" class="sb-btn sb-btn-normal sb-btn-error ml-auto sb-cls-btn" type="button" (click)="closeCollectionPlayer()">{{resourceService?.frmelmnts?.btn?.close}} <i class="close icon"></i></button>
      </div>
      <div  class="sb-pageSection-content d-flex flex-ai-center" *ngIf="collectionStatus !== 'Unlisted'">
        <sui-rating class="ui star rating mr-16" [isReadonly]="true" [maximum]="5"></sui-rating>
        <a href="javascript:void(0)" (click)="onShareLink();sharelinkModal=true;" class="cursor-pointer btn-bg d-inline-block font-weight-bold p-8 mr-16">
          <i class="blue share alternate icon"></i>
          {{resourceService?.frmelmnts?.lbl?.share}}
        </a>
        <a href="javascript:void(0)" *ngIf="permissionService.permissionAvailable && collectionTreeNodes.data.contentType !== 'TextBook'" appPermission
          [permission]="['CONTENT_CREATOR', 'CONTENT_REVIEWER']" (click)="copyContent(collectionTreeNodes.data)" class="cursor-pointer btn-bg d-inline-block font-weight-bold p-8 mr-16">
          <i class="blue clone outline icon"></i>
          {{resourceService?.frmelmnts?.lbl?.copy}}
        </a>
        <a href="javascript:void(0)" *ngIf="permissionService.permissionAvailable && collectionTreeNodes.data.contentType === 'TextBook'" appPermission
          [permission]="['BOOK_CREATOR']" (click)="copyContent(collectionTreeNodes.data)" class="cursor-pointer btn-bg d-inline-block font-weight-bold p-8 mr-16">
          <i class="blue clone outline icon"></i>
          {{resourceService?.frmelmnts?.lbl?.copy}}
        </a>
        <!-- Print Button for printable contents-->
        <span class="d-inline-block" *ngIf="selectedContent?.model?.itemSetPreviewUrl">
          <a appTelemetryInteract [telemetryInteractObject]="objectInteract" [telemetryInteractEdata]= "printPdfInteractEdata" class="cursor-pointer btn-bg p-8 d-flex font-weight-bold sb-color-primary" (click)="printPdf(selectedContent.model.itemSetPreviewUrl)">
              <img src="assets/images/print.svg" width="16" /> <span>&nbsp;&nbsp;{{resourceService.frmelmnts.btn.print}}</span>
          </a>
        </span>
        <!-- /Print Button for printable contents-->
        <app-content-badge [data]="badgeData" class="ml-20 m-responsive-cp-badge-ml"></app-content-badge>
        <!-- Temporarily disable flagging-->
          <!-- <a routerLink="flag" class="pr-10 blue-text-color-sunbird">
            <i class="ui large blue flag outline icon"></i>
            {{resourceService?.frmelmnts?.lbl?.report}}
        </a> -->
      </div>
      <div class="ui divider"></div>
  </div>
  <div class="row pt-0">
    <div class="twelve wide column">
      <app-assign-badges-content *ngIf="contentType === 'TextBook'" [data]="badgeData"></app-assign-badges-content>
    </div>
  </div>
  <div class="row" *ngIf="!loader">
    <div class="twelve wide column">
      <app-collection-tree *ngIf="collectionTreeNodes.data && collectionTreeNodes.data.children && collectionTreeNodes.data.children.length >0 ; else dataCommingSoon" (contentSelect)="OnPlayContent($event)" [nodes]="collectionTreeNodes" [options]="collectionTreeOptions">        
      </app-collection-tree>
      <ng-template #dataCommingSoon>
        <app-comming-soon [contentOrgId]="collectionTreeNodes.data.channel"></app-comming-soon>
    </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="twelve wide column">
      <app-collection-player-metadata *ngIf=!showPlayer [metaData]="collectionData"></app-collection-player-metadata>
    </div>
  </div>
</div>
</div>
<app-share-link [shareLink]="shareLink" [telemetryShareData]="telemetryShareData" *ngIf="sharelinkModal" (close)="sharelinkModal = false">
</app-share-link>
<router-outlet></router-outlet>