
<app-question-creation-header *ngIf="questionMetaData && !showPreview" [questionMetaData]="questionMetaData" [role]="role" [resourceStatus]="sessionContext.resourceStatus"></app-question-creation-header>

<app-question-preview *ngIf="showPreview" [sessionContext]="sessionContext">
</app-question-preview>

<div *ngIf='showForm' [appTelemetryImpression]="telemetryImpression">
  <form  class="ui form mcq-vertical mt-8 licence-form" [formGroup]="questionMetaForm">
    
    <!-- Question Editor Section HTML -->
    <div class="ckeditor-tool width-100" *ngIf="!isReadOnlyMode && !showPreview">
      <label *ngIf="showFormError && [undefined, ''].includes(mcqForm.question)" class="sb-label sb-label-table sb-label-error-0">Fill Question</label>
      <div class="ckeditor-tool__question mb-24" [class.error-question-content]="showFormError && [undefined, ''].includes(mcqForm.question)">
        <div class="sb-field mcq-title mb-16">
          <label class="px-16 py-8 fs-0-92 mb-0 ckeditor-tool__label width-100">Question</label>
          <div class="ckeditor-tool-container">
            <app-ckeditor-tool (editorDataOutput)="mcqForm.question = $event.body; getMedia($event.mediaobj);onFormValueChange(true);"
              [editorConfig]="editorConfig" [editorDataInput]="mcqForm.question" (videoDataOutput)="videoDataOutput($event)" [videoShow]="videoShow"></app-ckeditor-tool>
          </div>
        </div>
      </div>

      <div class="mcq-options">
        <div class="sb-mcq-options-answer width-100">
          <div class="d-flex flex-ai-center ckeditor-tool__answer my-16">
            <label class="fs-0-92 mb-0">Answers</label>
            <label *ngIf="showFormError && !mcqForm.answer" class="ui basic red error label pt-1">Select one correct
              answer</label>

            <!-- add button to be integrated -->
            <button 
              *ngIf='mcqForm.options.length < 4' 
              class="sb-btn sb-btn-outline-primary sb-btn-normal sb-left-icon-btn ml-auto"
              (click)="mcqForm.addOptions()"><i class="plus icon"></i>ADD</button>

          </div>

          <div *ngFor="let option of mcqForm.options; let i=index">
            <label *ngIf="showFormError && (option.body === undefined || option.body === '')" class="sb-label sb-label-table sb-label-error-0 pt-1">Fill this option</label>
            <div class="mcq-option ckeditor-tool__option mb-8" [class.error-question-content]="showFormError && (option.body === undefined || option.body === '')">
              <div class="sb-field mb-0">
                <label class="px-16 py-8 mb-0 ckeditor-tool__label fs-0-92 width-100">Option {{i + 1}} </label>
                <div class="ckeditor-tool-container">
                  <app-ckeditor-tool (hasError)="handleEditorError($event)"
                    (editorDataOutput)="option.body = $event.body; option.length = $event.length; getMedia($event.mediaobj);onFormValueChange(true);"
                    [editorConfig]="editorConfig" [editorDataInput]="option.body"
                    [setCharacterLimit]="setCharacterLimit" [setImageLimit]="setImageLimit"></app-ckeditor-tool>
                  <div class="mcq-checkbox-answer">
                    <!-- Checkbox needs to be integrated -->
                    <div class="sb-checkbox sb-checkbox-primary mr-auto" [class.selected]="mcqForm.answer === i.toString()">
                      <input type="radio" name="example" value={{i}} 
                            [(ngModel)]="mcqForm.answer" [ngModelOptions]="{standalone: true}" [checked]="mcqForm.answer === i.toString()">
                      <label for="check1">Mark as right answer</label>
                    </div>
  
                    <button [disabled]="mcqForm.options.length < 3" (click)="mcqForm.deleteOption(i)"
                      class="sb-btn sb-btn-xs sb-btn-link sb-btn-link-error sb-left-icon-btn"><i
                        class="trash alternate outline icon"></i>Delete</button>
                  </div>
                </div>
                <label *ngIf="showFormError && option.length > 160" class="ui basic red error label pt-1">please reduce
                  the
                  size</label>
              </div>
            </div>
          </div>

          

        </div>

        <!-- Add Solution(Optional) HTML sturcture -->
        <div class="my-16 ckeditor-tool__solution width-100">
            <div class="d-flex flex-ai-center ckeditor-tool__solution__header px-16 py-8">
                <label class="fs-0-92 mb-0 ckeditor-tool__label">Solution (Optional) <a
                    href="javascript:void(0)" title="title comes here"><img width="16" alt="" class="ml-4"
                        src="assets/images/Info.svg"></a></label>
                <div class="ui dropdown sb-btn sb-btn-outline-primary sb-btn-normal sb-right-icon-btn sb-btn-radius ml-auto"
              suiDropdown autoClose="itemClick" *ngIf="showSolutionDropDown">
              <div class="text">Choose type</div>
              <i class="dropdown icon mx-8"></i>
              <div class="menu" suiDropdownMenu>
                <div class="item" (click)="selectSolutionType('Text+Image')">Text+Image</div>
                <div class="item" (click)="selectSolutionType('video')">Video</div>
              </div>
            </div>
            </div>
            <div class="solution_html" *ngIf="selectedSolutionType == 'html'">
                <div class="ckeditor-tool-container">
                    <app-ckeditor-tool (editorDataOutput)="solutionValue = $event.body; getMedia($event.mediaobj);onFormValueChange(true);"
              [editorConfig]="editorConfig" [editorDataInput]="solutionValue"></app-ckeditor-tool>
                    <div class="mcq-checkbox-answer">
                        <button class="sb-btn sb-btn-xs sb-btn-link sb-btn-link-error sb-left-icon-btn ml-auto" (click)="deleteSolution()"><i
                        class="trash alternate outline icon"></i>Delete</button>
                    </div>
                </div>
            </div>
            <div class="solution_video" *ngIf="selectedSolutionType == 'video' && showSolution">
                <div class="ckeditor-tool__solution__body">
                    <div class="solution-media p-16 d-flex flex-ai-center">
                        <div class="solution-media__video relative position">
                            <div class="overlay-image"  [ngStyle]="videoThumbnail ?  {'background' : 'url(' + videoThumbnail + ')' }  : {'background': 'rgba(0,0,0,0.3)'}"><i class="play circle icon"></i></div>
                        </div>
                        <div class="solution-media__desc ml-16">
                            {{videoSolutionName}}
                        </div>
                    </div>
                    <div class="mcq-checkbox-answer">
                    <button class="sb-btn sb-btn-xs sb-btn-link sb-btn-link-error sb-left-icon-btn ml-auto" (click)="deleteSolution()"><i
                        class="trash alternate outline icon"></i>Delete</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    
    <!-- Question Preview Section HTML -->
    <div class="ui container" *ngIf="isReadOnlyMode && !showPreview">
      <div class="ui stackable grid m-0 sb-bg-color-white">
        <div class="row">
          <div class="twelve wide column p-0">
            <div class="ckeditor-tool width-100">
              <div class="ckeditor-tool__question">
                <label class="px-16 py-8 fs-0-92 mb-0 ckeditor-tool__label width-100">Question</label>
                <div class="ckeditor-tool__solution__body">
                  <p class="fs-0-785 p-16" id="wirisDisplay" [innerHTML]="mcqForm.question | sanitizeHtml"></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-0 p-0">
          <div class="twelve wide column p-0">
              <div class="d-flex flex-ai-center ckeditor-tool__answer my-16">
                  <label class="fs-0-92 mb-0">Answers</label>
                </div>
          </div>
        </div>

        <div class="row mb-0 p-0" *ngFor="let option of mcqForm.options; let i=index">
          <div class="twelve wide column p-0">
            <div class="ckeditor-tool width-100">
              <div class="ckeditor-tool__question mb-24">
                <label class="px-16 py-8 fs-0-92 mb-0 ckeditor-tool__label width-100">Option {{ i+1 }}</label>
                <div class="ckeditor-tool__solution__body">
                  <p class="fs-0-785 p-16" [innerHTML]="option.body  | sanitizeHtml"></p>
                  <div class="mcq-checkbox-answer" *ngIf="mcqForm.answer === i.toString()">
                    <div class="sb-checkbox sb-checkbox-primary mr-auto selected">
                      <input type="checkbox" id="check1" name="example" disabled checked>
                      <label for="check1">Correct answer</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row" *ngIf="solutionValue">
            <div class="twelve wide column p-0">
                <div class="ckeditor-tool width-100">
                    <div class="ckeditor-tool__question mb-24">
                        <label class="px-16 py-8 fs-0-92 mb-0 ckeditor-tool__label width-100">Solution</label>
                        <div class="ckeditor-tool__solution__body" *ngIf="selectedSolutionType == 'html'">
                            <p class="fs-0-785 p-16" [innerHTML]="solutionValue | sanitizeHtml"></p>
                        </div>
                        <div class="ckeditor-tool__solution__body" *ngIf="selectedSolutionType == 'video'">
                            <div class="solution-media p-16 d-flex flex-ai-center">
                                <div class="solution-media__video relative position">
                                <div class="overlay-image" [ngStyle]="videoThumbnail ?  {'background' : 'url(' + videoThumbnail + ')' }  : {'background': 'rgba(0,0,0,0.3)'}"><i class="play circle icon"></i></div>
                                </div>
                                <div class="solution-media__desc ml-16">
                                {{videoSolutionName}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

    </div>

    <!-- Learning Outcome learning level author license Editor HTML -->
    <div class='licence-form__content mt-15'>
      <div class="ui stackable grid licence-form__content__fields">
          <div class="row">
            <div *ngFor = "let field of allFormFields; let i = index " class="sb-field six wide column mb-16">
              <div class="six wide column mb-16" *ngIf="field.inputType === 'select'" class="width-100">
                <div>
                  <label class="font-weight-bold fsmall">{{field.label}}:</label><span class="sb-color-red pl-4 pr-4" *ngIf="field.required">*</span>
                  <sui-select *ngIf="!disableFormField" formControlName="{{field.code}}" class="selection" [isDisabled]="disableFormField" placeholder="{{field.placeholder}}"
                  appTelemetryInteract 
                  [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('select-' + field.code, 'click', 'content-uploader')"
                  [telemetryInteractObject]="telemetryEventsInput.telemetryInteractObject"
                  [telemetryInteractCdata]="telemetryEventsInput.telemetryInteractCdata"
                  [telemetryInteractPdata]="telemetryEventsInput.telemetryInteractPdata"
                  >
                    <sui-select-option *ngFor="let option of selectOutcomeOption[field.code]" [value]="option"
                    appTelemetryInteract 
                      [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('selectoption-' + option, 'click', 'content-uploader')"
                      [telemetryInteractObject]="telemetryEventsInput.telemetryInteractObject"
                      [telemetryInteractCdata]="telemetryEventsInput.telemetryInteractCdata"
                      [telemetryInteractPdata]="telemetryEventsInput.telemetryInteractPdata"
                    >
                    </sui-select-option>
                  </sui-select>
                  <div *ngIf="disableFormField"><span class="sb-color-gray-200 fs-0-785">{{questionMetaData.data[field.code]}}</span></div>
                  <label class="sb-color-error mb-0 font-weight-normal" *ngIf="((questionMetaForm.get(field.code).touched) && (questionMetaForm.get(field.code).errors?.required))">* This field is mandatory</label>
                </div>
              </div>
    
              <div class="six wide column mb-16" *ngIf="field.inputType === 'multiselect'" class="width-100">
                  <div>
                      <label class="font-weight-bold fsmall">{{field.label}}:</label><span class="sb-color-red pl-4 pr-4" *ngIf="field.required">*</span>
                      <sui-multi-select *ngIf="!disableFormField" formControlName="{{field.code}}" class="selection" [isDisabled]="disableFormField" placeholder="{{field.placeholder}}"
                      appTelemetryInteract 
                      [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('multiselect-' + field.code, 'click', 'content-uploader')"
                      [telemetryInteractObject]="telemetryEventsInput.telemetryInteractObject"
                      [telemetryInteractCdata]="telemetryEventsInput.telemetryInteractCdata"
                      [telemetryInteractPdata]="telemetryEventsInput.telemetryInteractPdata"
                      >
                        <sui-select-option *ngFor="let option of selectOutcomeOption[field.code]" [value]="option"
                        appTelemetryInteract 
                          [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('selectoption-' + option, 'click', 'content-uploader')"
                          [telemetryInteractObject]="telemetryEventsInput.telemetryInteractObject"
                          [telemetryInteractCdata]="telemetryEventsInput.telemetryInteractCdata"
                          [telemetryInteractPdata]="telemetryEventsInput.telemetryInteractPdata"
                        >
                        </sui-select-option>
                      </sui-multi-select>
                      <div *ngIf="disableFormField"><span class="sb-color-gray-200 fs-0-785">{{questionMetaData.data[field.code]}}</span></div>
                      <label class="sb-color-error mb-0 font-weight-normal" *ngIf="((questionMetaForm.get(field.code).touched) && (questionMetaForm.get(field.code).errors?.required))">* This field is mandatory</label>
                  </div>
              </div>
    
              <div class="six wide column mb-16" *ngIf="field.inputType === 'text'" class="width-100">
                <div>
                  <label class="font-weight-bold fsmall">{{field.label}}:</label><span class="sb-color-red pl-4 pr-4" *ngIf="field.required">*</span>
                    <input *ngIf="!disableFormField" formControlName="{{field.code}}" type="{{field.inputType}}" name="{{field.code}}" class="sb-form-control" placeholder="{{field.placeholder}}"
                    appTelemetryInteract 
                      [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('input-' + field.code, 'click', 'content-uploader')"
                      [telemetryInteractObject]="telemetryEventsInput.telemetryInteractObject"
                      [telemetryInteractCdata]="telemetryEventsInput.telemetryInteractCdata"
                      [telemetryInteractPdata]="telemetryEventsInput.telemetryInteractPdata"
                    >
                    <div *ngIf="disableFormField"><span class="sb-color-gray-200 fs-0-785">{{questionMetaData.data[field.code]}}</span></div>
                  <label class="sb-color-error mb-0 font-weight-normal" *ngIf="((questionMetaForm.get(field.code).touched) && (questionMetaForm.get(field.code).errors?.required))">* This field is mandatory</label>
                  
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class='practical-sb-buttons'>
        <button id="requestChanges" *ngIf="role.currentRole === 'REVIEWER' && sessionContext.resourceStatus === 'Review'" class="sb-btn sb-btn-error sb-btn-normal mr-8" (click)="showRequestChangesPopup = true"
        appTelemetryInteract 
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('reject-question', 'click', 'mcq-creation')"
        [telemetryInteractObject]="telemetryEventsInput.telemetryInteractObject"
        [telemetryInteractCdata]="telemetryEventsInput.telemetryInteractCdata"
        [telemetryInteractPdata]="telemetryEventsInput.telemetryInteractPdata"
        >
            {{  rejectComment === '' ? 'Request Changes' : 'Edit Comments' }}
        </button>
    </div>

    <p class="paragraph fs-0-785 pt-15 mt-0">
        <strong>Disclaimer:</strong> By creating content on {{componentConfiguration.config.tenantName || 'SunbirdEd'}}, you consent to publish it under the Creative Commons License Framework. For details, refer
        <a href="https://creativecommons.org/licenses/" target="_blank" class="links">https://creativecommons.org/licenses</a>. Please choose the applicable creative commons license you wish to apply to your content.
    </p>   
  </form>
</div>

<sui-modal *ngIf="showRequestChangesPopup" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
  [size]="'normal'" class="sb-modal" appBodyScroll #modal (dismissed)="closeRequestChangeModal()">
  <div class="sb-modal-header">
      Add Review Comments
  </div>
  <form #reuestChangeForm="ngForm" class="ui form">
  <div class="sb-modal-content">
      <div class="sb-field-group">
          <label>Enter your comments</label>
          <div class="sb-field relative">
            <textarea type="text" class="wmd-input width-100 sb-form-control" id="wmd-input" [(ngModel)]="rejectComment" placeholder="Add comment" name="rejectComment" required></textarea>
            <span class="characters-left">{{ commentCharLimit - rejectComment.length }} Characters left</span>
          </div>
          <div>
            <label class="ui basic red error label pt-1 mt-5 width-100" *ngIf="rejectComment.length > commentCharLimit">Comments should be maximum {{commentCharLimit}} characters.</label>
            <label class="ui basic red error label pt-1 mt-5 width-100" *ngIf="reuestChangeForm.form.controls.rejectComment?.touched && !reuestChangeForm.form.valid">Fill comments </label>
          </div>
      </div>
  </div>
  <div class="sb-modal-actions">
    <button id="submitReview" type="submit" class="sb-btn sb-btn-normal" [disabled]="rejectComment.length > commentCharLimit" [ngClass]="{'sb-btn-primary': reuestChangeForm.form.valid, 'sb-btn-disabled': !reuestChangeForm.form.valid || rejectComment.length > commentCharLimit}"   (click)="requestChanges()"> Submit Review </button>
  </div>
</form>
</sui-modal>

<app-mcq-template-selection *ngIf='showTemplatePopup' style="z-index: 1000"
  (templateSelection)="handleTemplateSelection($event)">
</app-mcq-template-selection>
