<div *ngIf="metaData" class="ui divider mt-24"> </div>

<div *ngIf="metaData" class="collection-player-metadata sb-meta-data-container sb-meta-data-column d-flex flex-w-wrap mt-24">

  <dl class="sb-meta-data" *ngIf="metaData.author">
    <dt>{{resourceService?.frmelmnts?.lbl?.author}}</dt>
    <dd>{{metaData.author}}</dd>
  </dl>

  <dl class="sb-meta-data" *ngIf="metaData?.[frameworkCategoriesList[1]]">
    <dt>{{resourceService?.frmelmnts?.lbl[frameworkCategoriesList[1]] | transposeTerms: resourceService?.frmelmnts?.lbl[frameworkCategoriesList[1]] : resourceService?.selectedLang}}</dt>
    <dd>{{metaData?.[frameworkCategoriesList[1]]}}</dd>
  </dl>

  <dl class="sb-meta-data" *ngIf="metaData?.[frameworkCategoriesList[2]]">
      <dt>{{resourceService?.frmelmnts?.lbl[frameworkCategoriesList[2]] | transposeTerms: resourceService?.frmelmnts?.lbl[frameworkCategoriesList[2]] : resourceService?.selectedLang}}</dt>
    <dd>
      <span class="d-inline-block" *ngFor="let gradeLevel of metaData?.[frameworkCategoriesList[2]]; let isLast=last;">
        {{gradeLevel}}<span *ngIf="!isLast">,&nbsp;</span> 
      </span>
    </dd>
  </dl>

  <dl class="sb-meta-data" *ngIf="metaData?.[frameworkCategoriesList[3]]">
    <dt>{{resourceService?.frmelmnts?.lbl[frameworkCategoriesList[3]] | transposeTerms: resourceService?.frmelmnts?.lbl[frameworkCategoriesList[3]] : resourceService?.selectedLang}}</dt>
    <dd>{{metaData?.[frameworkCategoriesList[3]]}}</dd>
  </dl>

  <dl class="sb-meta-data" *ngIf="metaData.lastUpdatedOn">
    <dt>{{resourceService?.frmelmnts?.lbl?.lastupdate}}</dt>
    <dd>{{metaData.lastUpdatedOn | dateFormat: 'MMMM Do YYYY'}}</dd>
  </dl>

  <dl class="sb-meta-data" *ngIf="metaData.createdOn">
    <dt>{{resourceService?.frmelmnts?.lbl?.createdon}}</dt>
    <dd>{{metaData.createdOn | dateFormat: 'MMMM Do YYYY'}}</dd>
  </dl>

  <dl class="sb-meta-data">
      <dt>{{resourceService.frmelmnts?.lbl?.createdInstanceName  | interpolate:'{instance}': instance}}</dt>
      <dd *ngIf="metaData.creator">{{metaData.creator}}</dd>
  </dl>
  <dl class="sb-meta-data">
      <dt>{{resourceService.frmelmnts.lbl?.licenseTerms}}</dt>
      <dd *ngIf="metaData && !(metaData.licenseDetails && metaData.licenseDetails['name']) && metaData.license">{{metaData.license}}&#x200E;</dd>
      <dd *ngIf="metaData && metaData.licenseDetails && metaData.licenseDetails['name']">{{metaData.licenseDetails['name']}} {{metaData.licenseDetails['description']}}&#x200E; <br /><a href="{{metaData.licenseDetails['url']}}" target="_blank">{{metaData.licenseDetails['url']}}</a></dd>
  </dl>
  <dl class="sb-meta-data" *ngIf="metaData.orgDetails && metaData.orgDetails.orgName">
      <dt>{{resourceService.frmelmnts.lbl?.publishedOnInstanceName | interpolate:'{instance}': instance}}</dt>
      <dd>
          <span class="d-inline-block mr-20">{{metaData?.organisation?.join(', ')}}</span> &nbsp;
          <a ng-if="metaData.orgDetails?.email" href="mailto:{{metaData.orgDetails?.email}}?subject={{metaData.name}}">{{metaData.orgDetails?.email}}</a>
      </dd>
  </dl>
  <dl class="sb-meta-data">
      <dt>{{resourceService.frmelmnts?.lbl?.contentCredits}}</dt>
      <dd appTelemetryInteract [telemetryInteractObject]="getTelemetryInteractObject()" [telemetryInteractEdata]= "getTelemetryInteractEdata({id: 'view-credits'})">
          <a tabindex="0" (click)="showContentCreditsPopup()" title="{{resourceService.frmelmnts.lbl.contentCredits}}" class="cursor-pointer text-underline">{{resourceService.frmelmnts?.lbl?.view}}</a>
      </dd>
  </dl>
</div>

<div *ngIf="metaData && metaData.originData" class="ui divider my-24"></div>

<h4 *ngIf="metaData && metaData.originData" class="sb-section-title mb-16 d-block">{{resourceService.frmelmnts?.lbl?.contentcopiedtitle}}</h4>
<div *ngIf="metaData && metaData.originData" class="sb-meta-data-container sb-meta-data-column d-flex flex-w-wrap">
  <dl class="sb-meta-data" *ngIf="metaData.originData.name">
      <dt>{{resourceService.frmelmnts?.lbl?.contenttype}}</dt>
      <dd>{{metaData.originData.name}}</dd>
  </dl>
  <dl class="sb-meta-data" *ngIf="metaData.originData.author">
      <dt>{{resourceService.frmelmnts.lbl?.originalAuthor}}</dt>
      <dd *ngIf="metaData.creator">{{metaData.originData.author}}</dd>
  </dl>
  <dl class="sb-meta-data" *ngIf="metaData.originData.license">
      <dt>{{resourceService.frmelmnts.lbl?.licenseTerms}}</dt>
      <dd *ngIf="metaData.creator">{{metaData.originData.license}}&#x200E;</dd>
  </dl>
  <dl class="sb-meta-data" *ngIf="metaData.originData.organisation">
      <dt>{{resourceService.frmelmnts.lbl?.publishedOnInstanceName | interpolate:'{instance}': instance}}</dt>
      <dd>
          <span class="d-inline-block mr-20">{{metaData.originData.organisation.join(', ')}}</span> &nbsp;
          <a ng-if="metaData.orgDetails?.email" href="mailto:{{metaData.orgDetails?.email}}?subject={{metaData.name}}">{{metaData.originData.orgDetails?.email}}</a>
      </dd>
  </dl>
</div>

<app-content-credits [contentData]="metaData" *ngIf="showContentCreditsModal" (close)="showContentCreditsModal = false">
</app-content-credits>