<div class="sb-table-container">
    <table class="ui celled table selectable sb-table-striped sb-data-table mt-10" cellspacing="0">
        <thead class="sb-data-table-header sb-table-header sb-table-thead-gray" style="font-size: 18px;"> 
            <tr>
                <th>Sl No</th>
                <th><div  class="cursor-pointer" (click)="setOrder('createdon')">
                    Created On
                    <span class="sb-color-primary" [hidden]="reverse" style="float:right">
                      <i class="sort down icon fs-1" ></i>
                    </span>
                    <span class="sb-color-primary" [hidden]="!reverse" style="float:right">
                      <i class="sort up icon fs-1" ></i>
                    </span>
                  </div></th>
                <th><div  class="cursor-pointer" (click)="setOrder('status')">
                    Status
                    <span class="sb-color-primary" [hidden]="reverse" style="float:right">
                      <i class="sort down icon fs-1" ></i>
                    </span>
                    <span class="sb-color-primary" [hidden]="!reverse" style="float:right">
                      <i class="sort up icon fs-1" ></i>
                    </span>
                  </div></th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody class="sb-data-table-body">
            <tr *ngFor="let tableData of data; index as i">
                <td data-label="">
                    <div class="sb-media-body">
                        <h6 class="media-heading">{{i+1}}</h6>
                    </div>
                </td>
                <td data-label="">
                    {{tableData.createdon}}
                </td>
                <td data-label="Age" *ngIf="tableData.status === 0">Failed</td>
                <td data-label="Age" *ngIf="tableData.status === 1">In-progress</td>
                <td data-label="Age" *ngIf="tableData.status === 2">Completed</td>
                <td style="cursor: pointer;" data-label="Job" *ngIf="tableData.storagedetails !== ''">
                    <button
                        class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn sb-certificate-trained-flex-space"
                        (click)="downloadCert(tableData.storagedetails)">
                        <i class="download icon"></i>Download Zip</button></td>
                <td style="cursor: pointer;" data-label="Job" *ngIf="tableData.storagedetails === ''">
                    -- </td>
            </tr>
        </tbody>
    </table>
</div>