<!-- welcome screen -->
  <app-explore-ftu-popup></app-explore-ftu-popup>

<!-- login screen -->
<div class="d-flex flex-dc flex-jc-center text-center flex-ai-center mt-48 create-group-container">
  <div><img src="./assets/images/mygroups.svg" width="100%"></div>
  <div class="mt-8 fs-1">{{ resourceService?.frmelmnts?.lbl?.loginToCreateGroup }}</div>
  <button class="sb-btn sb-btn-primary sb-btn-normal mt-16 mb-8 w-50" type="button"  (click)="redirectTologin()">{{ resourceService.frmelmnts.btn.login }}</button>
</div>
