@import './mixins/mixins';
@import './pages/page-center-view';

.sbt-welcome-theme-container {
  background: var(--primary-color);
  background-position: center;
  background-size: cover;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: calculateRem(24px);
  &.sb-group-container--md {
    width: 100%;
    height: calculateRem(584px);
    padding:0px;
    // margin: 0px calculateRem(16px);
    @include respond-below(xs) {
      height: calc(100vh - 10%);
      margin: 0px calculateRem(0px);
    }
  }

  h4.sb-group-container__title,
  p.sb-group-container__description {
    color: var(--white);
    line-height: normal;
  }

  h4.sb-group-container__title {
    font-size: calculateRem(20px);
    text-align: left;
  }

  p.sb-group-container__description {
    font-size: calculateRem(14px);
    line-height: calculateRem(22px);

    @include respond-below(sm) {
      &.w-75 {
        max-width: 100%;
    width: 100%;
      }
    }
  }
  .joy-modal-footer {
    background: #F2F4F6;
    padding:calculateRem(0px) calculateRem(24px) calculateRem(24px);
    @include respond-below(xs) {
      padding:calculateRem(0px) calculateRem(16px) calculateRem(16px);
    }
    width: 100%;
    p {
      color:var(--gray-800);
    }
  }
  .close {
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: var(--sbt-box-shadow-3px);
    width: calculateRem(24px);
    height: calculateRem(24px);
    top: calculateRem(16px);
    right: calculateRem(16px);
  }
}
