<div class="sb-group-page-container" *ngIf="isShown">
  <div class="sb-group-container sb-group-container--md sbt-welcome-theme-container">
    <a class="close" (click)="closePopup()"><i class="icon-svg icon-svg--xs icon-close">
      <svg class="icon icon-svg--white">
        <use xlink:href="./assets/images/sprite.svg#close"></use>
      </svg>
    </i></a>
    <!-- below content comes from CC -->
    <div class="text-left">
      <h4
        class="sb-group-container__title">{{resourceService.frmelmnts?.lbl?.newLookAndFeel | interpolate:'{instance}': instance}}</h4>
      <p class="sb-group-container__description mt-16 w-75">{{resourceService.frmelmnts?.lbl?.joyThemeText}}.</p>
    </div>
    <div class="text-left">
      <button class="sb-btn sb-btn-tertiary sb-btn-normal" appTelemetryInteract [telemetryInteractEdata]="joyThemeIntractEdata"
              (click)="switchToNewLayout()"> {{resourceService.frmelmnts?.lbl?.switchToJoyLayout}}
      </button>
      <p
        class="sb-group-container__description mt-16 fnormal">{{resourceService.frmelmnts?.lbl?.goBackToClassicTheme | interpolate:'{instance}': instance }}</p>

      <button class="sb-btn sb-btn-normal" appTelemetryInteract [telemetryInteractEdata]="oldThemeIntractEdata"
              (click)="closePopup()">{{resourceService?.frmelmnts?.lbl?.noThankYou}}!
      </button>

    </div>
  </div>
</div>
