version: 2.1
jobs:
  build:
    docker:
      - image: cimg/node:22.0
    working_directory: ~/project/
    steps:
      - checkout
      - run:
          name: Install npm modules
          command: npm i --unsafe-perm

      - run:
          name: Run test cases
          command: npm run test
      - run:
          name: install sonar scanner
          command: sudo npm install -g sonarqube-scanner
      - run:
         name: run sonar scanner
         command: sonar-scanner    

workflows:
  version: 2.1
  build_and_test:
    jobs:
      - build
