<form class="ui form loginForm " name="loginForm">
    <h4 class="ui dividing header">Login to your account!</h4>
    <div class="  field">
        <label for='Username'>LOGIN ID</label>
        <input type="text" id="Username" placeholder="Username or Email" ng-model="auth.userName" required>
    </div>
    <div class=" field">
        <label for="Password">PASSWORD</label>
        <input type="password" id="Password" name="Password" placeholder="Password" ng-model="auth.password" required>
    </div>
    <!--<p align="right"><a>Forgot your password?</a></p>-->
    <button class="ui right floated button blue" type=" submit " ng-click="auth.login() " ng-disabled="loginForm.$invalid ">Submit</button>
</form>


<!--<div ng-if="error.showError " id="showError ">
    <help-message data="error "></help-message>
</div>-->
<div ng-if="auth.error.isError">
    <error-message data={{auth.error}}></error-message>
</div>