$mat-joy-accent: (
  50 : #e1eaf3,
  100 : #b3cae2,
  200 : #81a7ce,
  300 : #4e84ba,
  400 : #2869ac,
  500 : #024f9d,
  600 : #024895,
  700 : #013f8b,
  800 : #013681,
  900 : #01266f,
  A100 : #9eb6ff,
  A200 : #6b90ff,
  A400 : #386aff,
  A700 : #1f57ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  ));
$mat-joy: (
    50 : #fffaea,
  100 : #fff4cc,
  200 : #ffecaa,
  300 : #ffe487,
  400 : #ffdf6e,
  500 : #ffd954,
  600 : #ffd54d,
  700 : #ffcf43,
  800 : #ffca3a,
  900 : #ffc029,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff2d6,
  A700 : #ffeabd,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

// Global color palettes
// $app-primary: mat-palette($mat-joy);
// $app-accent: mat-palette($mat-joy-accent); //, 500, A200, A100, A400
// $app-warn: mat-palette($mat-red);