<div class="mat-bg-white br-24 mr-16 p-24 mb-24" *ngIf="showMinimumRAMWarning || showCpuLoadWarning ">

  <div class="mat-body-2 text-left d-flex flex-ai-center" *ngIf="showMinimumRAMWarning" aria-label="low memory">
    <mat-icon color="warn" class="mr-8">warning</mat-icon> {{resourceService?.frmelmnts?.lbl?.desktop?.lowMemory}}</div>
  <div class="mat-body-2 text-left d-flex flex-ai-center" *ngIf="showCpuLoadWarning" aria-label="Cpu load warning">
    <mat-icon color="warn" class="mr-8">warning</mat-icon> {{resourceService?.frmelmnts?.lbl?.maxCpuLoadWaring}}</div>

</div>