<mat-accordion>
  <mat-expansion-panel class="mat-app-background">
    <mat-expansion-panel-header>
      <mat-panel-title tabindex="0" title class="mat-subheading-1 mb-0">
        {{resourceService?.frmelmnts?.lbl?.desktop?.creditsAndLicenceInfo}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div role="region" id="creditsAndLicenceInfo" aria-labelledby="creditsAndLicenceInfo" class="text-left">
      <div tabindex="0">
        <h4 *ngIf="content?.author" class="mat-small font-weight-bold mb-0">{{resourceService?.frmelmnts?.lbl?.author}}</h4>
        <p class="mat-body-1">{{content?.author}}</p>
      </div>

     <div tabindex="0">
      <h4 *ngIf="content?.createdOn" class="mat-small font-weight-bold mb-0">{{resourceService?.frmelmnts?.lbl?.createdon}}</h4>
      <p class="mat-body-1">{{content?.createdOn | dateFormat}}</p>
     </div>

      <div tabindex="0">
        <h4 *ngIf="content?.lastUpdatedOn" class="mat-small font-weight-bold mb-0">{{resourceService?.frmelmnts?.lbl?.updatedon}}</h4>
      <p class="mat-body-1">{{content?.lastUpdatedOn | dateFormat}}</p>
      </div>

      <div tabindex="0">
        <h4 *ngIf="attributions" class="mat-small font-weight-bold mb-0">{{resourceService?.frmelmnts?.lbl?.attributions}}
        </h4>
        <p class="mat-body-1">{{attributions}}</p>
      </div>

      <div tabindex="0">
        <h4 *ngIf="content?.license" class="mat-small font-weight-bold mb-0">{{resourceService?.frmelmnts?.lbl?.licenseTerms}}</h4>
      <p class="mat-body-1">{{content.license}}</p>
      </div>

      <div tabindex="0">
        <p *ngIf="content?.licenseDetails?.name" class="mat-body-1">
          {{content.licenseDetails['name']}} {{content.licenseDetails['description']}}&#x200E; <br />
          <span *ngIf="content.licenseDetails['url']">
            <a class="color-accent license" href="{{content.licenseDetails['url']}}" target="_blank">{{content.licenseDetails['url']}}</a>
          </span>
        </p>
      </div>

      <div tabindex="0">
        <h4 *ngIf="content?.copyright" class="mat-small font-weight-bold mb-0">{{resourceService?.frmelmnts?.lbl?.copyRight}}</h4>
      <p class="mat-body-1">{{content?.copyright}}<span
          *ngIf="content?.copyrightYear">,&nbsp;{{content?.copyrightYear}}</span></p>
      </div>

      <div *ngIf="content.originData" tabindex="0">
        <p class="mat-body-1">{{resourceService?.frmelmnts?.lbl?.contentcopiedtitle}} </p>

        <div *ngIf="content.originData.name" tabindex="0">
          <h4 class="mat-small font-weight-bold mb-0">{{resourceService?.frmelmnts?.lbl?.desktop.content}}</h4>
          <p class="mat-body-1">{{content?.originData?.name}}</p>
        </div>

        <div *ngIf="content.originData.author" tabindex="0">
          <h4 class="mat-small font-weight-bold mb-0">{{resourceService?.frmelmnts?.lbl?.desktop.authorOfSourceContent}}</h4>
          <p class="mat-body-1">{{content.originData.author}}</p>
        </div>

        <div *ngIf="content.originData.license" tabindex="0">
          <h4 class="mat-small font-weight-bold mb-0">{{resourceService?.frmelmnts?.lbl?.licenseTerms}}</h4>
          <p class="mat-body-1">{{content.originData.license}}</p>
        </div>

        <div *ngIf="content.originData.organisation" tabindex="0">
          <h4 class="mat-small font-weight-bold mb-0"
            [innerHTML]="resourceService.frmelmnts.lbl?.publishedOnInstanceName | interpolate:'{instance}': instance">
          </h4>
          <p class="mat-body-1">{{content.originData.organisation.join(', ')}}</p>
          <a class="color-accent" *ngIf="content.orgDetails?.email"
            href="mailto:{{content.orgDetails?.email}}?subject={{content.name}}">{{content.orgDetails?.email}}</a>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>