.serch-allresult{
  color:rgb(113, 113, 113); 
}

.search-content-header{
  background: transparent; 
  box-shadow: none;
}

#search-suggestions{
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    height: 200px;
    overflow-y:auto;
    z-index: 10;
    position: absolute;
    background: white;
    text-align: left;
    width: 600px;
    .result{
        .content{
            .title{
                font-size: 13px;
                padding: 2px;
                color:rgb(113, 113, 113);
                cursor: pointer;
                &:hover {
                    color: black;
                }
            }
        }
    }

    @media only screen and (max-width: 1400px) { 
      width:500px;
    }
    @media only screen and (max-width: 1097px) { 
      width:405px;
    }
}

.searchPaginationAlign {
    margin-left: 7%;

    @media only screen and (min-width : 1600px) {
        margin-left: 5%;
    }

    @media only screen and (min-width : 1700px) {
        margin-left: 6%;
    }

    @media only screen and (min-width : 1824px) {
        margin-left: 2%;
    }

}