<div ng-if="noteList.courseId">
    <div ng-controller="courseScheduleCtrl as toc" ng-include="'views/course/courseHeader.html'"></div>
</div>
<div class="ui grid">
    <div class="one wide column"></div>
    <div class="ten wide column">
    <div class="ui segments">
        <div class="ui segment margin-auto padding-left-right-0 padding-top-bottom-0 " ng-init="noteList.ngInit()">
            <div class="ui grid margin-top-0 margin-left-right-0 margin-bottom-0 height-100" id="notesList">
                <div class="twelve wide column">
                    <div class="addnotes ui container container-with-button padding-left-right-0">
                        <span class="ui header">{{$root.labels.Notes.myNotes}}</span>
                        <i class=" circular icon margin-left-right-10 link" ng-class="!noteList.add.showCreateNote ? 'plus' : 'remove'" ng-click="noteList.add.showCreateNote = !noteList.add.showCreateNote;"></i>
                        <div class="notesearch" style="float:right">
                            <div class="ui icon input">
                                <input type="text" ng-model="noteList.searchData.text" placeholder={{$root.labels.Notes.searchForNotesOrTitle}} title={{$root.labels.Notes.search}} />
                                <i class="circular search link icon"></i>
                            </div>
                            <h5 class="ui right floated basic icon circular button" ng-click="noteList.closeNoteList()">
                            <i class="ui remove icon"></i>
                        </h5>
                        </div>
                    </div>
                    <div class="twelve wide column padding-top-20" ng-if="noteList.add.showCreateNote">
                        <div ng-include="'views/note/createNote.html'"></div>
                    </div>
                </div>
                 
            </div>
        </div>
         <div class="noteListSegment ui secondary segment" ng-if="noteList.notesList.length>0">
            <div class="twelve wide column" >
                    <div class="ui grid">
                        <div class="four wide column padding-topBottomNone">
                            <div class="notelistscroll">
                                <div class="profileitems ui relaxed divided items ">
                                    <div class="item padding-topBottomNone notelistfocus"  ng-repeat="note in noteList.notesList| orderBy : '-lastUpdatedOn' | noteListFilter:noteList.searchData.text">
                                        <div class="content padding-all-10 contentnotelist" id="notelistcontent{{$index}}" ng-class="{'notelistborder': $index === noteList.selectedIndex || $index === 0 }" ng-click="noteList.showNoteList(note, $index)">
                                            <a class="header ">{{ note.title | limitTo: 20 }}</a>
                                            <div class="description margin-top-0" ng-init="noteData = note.note.length > 20 ? note.note.substring(-1,20) : note.note">
                                        
                                                <pagedown-viewer content="noteData"></pagedown-viewer>
                                            </div>
                                            <div class="meta ">
                                                <span class="note-card-timeStamp">{{note.lastUpdatedOn| dateFilterXTimeAgo}}</span>
                                            </div>
                                        </div>
                                        <div ng-if="($index < noteCard.quantityOfNotes - 1) && noteCard.notesList.length > 1" class="ui clearing divider"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" eight wide column " ng-if="!noteList.update.showUpdateNote">
                            <div class="ui items">
                                <div class="content notelistscroll">
                                    <div class="ui row margin-right-15">
                                        <div class="right-floated padding-top-10">
                                        <i class="large edit icon cursor-pointer" title={{$root.labels.Notes.edit}}
                                           ng-click="noteList.update.showUpdateNote = !noteList.update.showUpdateNote; noteList.updateNoteData(noteList.selectedNoteData);"></i>
                                        <i class="right-floated large trash outline icon cursor-pointer" title={{$root.labels.Notes.delete}}
                                           ng-click="noteList.removeNote(noteList.selectedNoteData.identifier);"></i>
                                          </div> 

                                        <span class="ui small header notedecheader mouse-pointer"> {{ noteList.selectedNoteData.title}}
                                        </span>
                                        <div class="description padding-top-10">
                                            <pagedown-viewer content="noteList.selectedNoteData.note"></pagedown-viewer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="eight wide column" ng-if="noteList.update.showUpdateNote" style="    padding-right: 28px;">
                            <div ng-include="'views/note/updateNote.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="noteList.searchApi.loader.showLoader">
            <app-loader data="{{noteList.searchApi.loader}}"></app-loader>
        </div>
        <div ng-if="noteList.searchApi.error.showError && noteList.notesList.length === 0">
            <error-message data="{{noteList.searchApi.error}}" visibility="noteList.searchApi.error.showError"></error-message>
        </div>
    </div>
    <div class="one wide column"></div>
</div>
