<div ng-show="!noteList.updateApi.loader.showLoader && !noteList.updateApi.error.showError" class="margin-auto margin-top-10" ng-if="!noteList.updateApi.loader.showLoader && !noteList.updateApi.error.showError">
    <div class=" margin-bottom-15">
        <!-- <span class="ui header">{{noteList.update.metaData.title}}</span> -->
        <span class="ui right floated basic icon circular button " ng-click="noteList.update.showUpdateNote = !noteList.update.showUpdateNote"><i class="ui remove icon"></i>
        </span>
    </div>
    <div class="ui fluid icon input" id="search-input-container">
        <input type="text" placeholder={{$root.labels.Notes.title}} name="title" ng-model="noteList.update.metaData.title" />
    </div>
    <div class="editor">
        <pagedown-editor content="noteList.update.metaData.note" show-preview="false" placeholder={{$root.labels.Notes.description}}
                         insert-image="noteList.insertImage()"></pagedown-editor>

    </div>
    <button class="ui primary right floated button margin-top-10" type="submit" ng-click="noteList.updateNote(noteList.update.metaData)"
            ng-disabled="!noteList.update.metaData.title || !noteList.update.metaData.note" tabindex="4">{{$root.labels.Notes.update}}</button>
</div>
<div ng-if="noteList.updateApi.loader.showLoader">
    <app-loader data="{{noteList.updateApi.loader}}"></app-loader>
</div>
<div ng-if="noteList.updateApi.error.showError">
    <error-message data="{{noteList.updateApi.error}}" visibility="noteList.updateApi.error.showError"></error-message>
</div>
