<app-modal-wrapper [config]="{disableClose: false, size: 'small'}" (dismiss)="closeModal()" #modal>
    <ng-template sbModalContent>
        <div>
            <div mat-dialog-title class="flex-jc-center">
                    <h4> {{editData?.title}} </h4>
                    <p *ngIf="editData?.subTitle">{{editData?.subTitle}}</p>
            </div>
            <mat-dialog-content *ngIf="editData">
                <div>
                    <input type="text" [(ngModel)]="updatedValue" class="edit-sub-input">
                </div>
            </mat-dialog-content>
            <mat-dialog-actions class="mb-0 flex-jc-center">
                <div class="sb-onboard__footer d-flex">
                    <button type="button" class=" ui sb-btn sb-btn-sm sb-btn-white flex-basis-1" type="submit"
                        (click)="closeModal()">
                        {{editData?.leftBtnText}}
                    </button>
                    <div class="w-10"></div>
                    <button type="button" class="ui sb-btn sb-btn-sm sb-btn-primary flex-basis-1" type="submit"
                        (click)="submit()" [disabled]="!updatedValue" [ngClass]="{'sb-btn-disabled' : !updatedValue}">
                        {{editData?.rightBtnText}}
                    </button>
                </div>
            </mat-dialog-actions>
        </div>
    </ng-template>
</app-modal-wrapper>