.edit-sub-modal{
    .header{
        padding:15px;
        background: var(--sb-modal-content-bg);
        color: var(--sb-linkmenu-text);
    }
    .edit-sub-input,input.edit-sub-input:focus-visible {
        width: 100%;
        height: 2rem;
        padding: 10px;
        border: 0!important;
        background: transparent;
        border-bottom: 2px solid var(--primary-color) !important;
        color: var(--body-color);
    }
      .footer{
        display: flex;
        border: none;
        background: var(--sb-modal-content-bg);
    } 
}
.ui.small.modal{
    width:40% !important;
}
