<div class="ui container">
<div class="ui grid">
  <div class="twelve wide column">
    <div class="ui grid mt-20">
      <div class="five wide column float-ContentLeft" *ngIf="myCoursesList && myCoursesList.length === 1">
        <span class="dashBoardSectionHeading">
          <i class="large bar chart icon"></i>
        </span>
        <span class="dashBoardSectionHeading">{{courseName}}</span>
      </div>
      <div class="one wide column" *ngIf="myCoursesList && myCoursesList.length > 1">
        <span class="dashBoardSectionHeading">
          <i class="large bar chart icon pt-5"></i>
        </span>
      </div>
      <div class="four wide column float-ContentLeft course-dropdown" *ngIf="myCoursesList && myCoursesList.length > 1">
        <mat-form-field appearance="fill" class="sb-mat__dropdown w-100 mb-16">
          <mat-label>Select Course</mat-label>
          <mat-select [(ngModel)]="selectedCourse" (ngModelChange)="onAfterCourseChange($event)" [options]="myCoursesList" class="selection"
          labelField="name" [isSearchable]="true" #select>
            <mat-option class="mat-dropdown__options" role="option" [ngClass]="{'active': course.identifier === identifier }"
            *ngFor="let course of select.filteredOptions" [value]="course" appTelemetryInteract [telemetryInteractObject]="{ id: course.identifier, type: 'Course', ver: '1.0' }"
            [telemetryInteractEdata]="{id:'courseDropdown',type:'click',pageid:'course-creator-dashboard'}"
            attr.aria-label="{{course}}">{{course}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- Filters -->
    <div class="ui grid mt-10 pl-5" *ngIf="showDashboard">
      <div class="six wide column" *ngIf="myCoursesList && myCoursesList.length > 0">
        <div class="ui text menu float-ContentLeft pt-10">
          <span class="dashBoardMenuItem cursor-pointer active" (click)="onAfterFilterChange('7d')" tabindex="0" [ngClass]="{'active': timePeriod === '7d' }"
            appTelemetryInteract [telemetryInteractObject]="interactObject" [telemetryInteractEdata]="{id:'7d',type:'click',pageid:'course-creator-dashboard'}">
            {{resourceService?.frmelmnts?.lbl?.dashboardsevendaysfilter}}
          </span>&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="dashBoardMenuItem cursor-pointer" (click)="onAfterFilterChange('14d')" tabindex="0" [ngClass]="{'active': timePeriod === '14d' }"
            appTelemetryInteract [telemetryInteractObject]="interactObject" [telemetryInteractEdata]="{id:'14d',type:'click',pageid:'course-creator-dashboard'}">
            {{resourceService?.frmelmnts?.lbl?.dashboardfourteendaysfilter}}
          </span>&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="dashBoardMenuItem cursor-pointer" (click)="onAfterFilterChange('5w')" tabindex="0" [ngClass]="{'active': timePeriod === '5w' }"
            appTelemetryInteract [telemetryInteractObject]="interactObject" [telemetryInteractEdata]="{id:'5w',type:'click',pageid:'course-creator-dashboard'}">
            {{resourceService?.frmelmnts?.lbl?.dashboardfiveweeksfilter}}
          </span>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>
      <div class="two wide column"></div>
    </div>
    <!-- Loader -->
    <div class="twelve wide column mt-20" *ngIf="showLoader">
      <app-loader></app-loader>
    </div>
    <!-- Select course div -->
    <div class="ui warning message tweleve wide column" *ngIf="myCoursesList && myCoursesList.length > 1 && !showLoader" [ngStyle]="{'display': showDashboard ? 'none' : '' }">
      <div class="header" [appTelemetryImpression]="telemetryImpression">{{generaliseLabelService?.frmelmnts?.lbl?.dashboardnocourseselected}}</div>
      {{generaliseLabelService?.frmelmnts?.lbl?.dashboardnocourseselecteddesc}}
    </div>
    <!-- Empty course -->
    <div *ngIf="!showLoader" class="mt-20">
      <div class="ui info message" *ngIf="myCoursesList && myCoursesList.length === 0">
        <div class="header" [appTelemetryImpression]="telemetryImpression">{{resourceService?.frmelmnts?.instn?.t0061}}</div>
        <ul class="list">
          <li>{{generaliseLabelService?.frmelmnts?.instn?.t0063}}</li>
        </ul>
      </div>
    </div>
    <!-- Actual dashboard data -->
    <div class="consumption-data-holder" *ngIf="showDashboard && myCoursesList && myCoursesList.length > 0" [ngStyle]="{'display':showLoader ? 'none' : '' }">
      <div class="ui four cards">
        <div class="card" *ngFor="let block of blockData">
          <div class="content center aligned">
            <div class="meta dashBoardCardText">{{block.name}}</div>
            <h2 class="description dashboardCardSubText">{{block.value}}</h2>
          </div>
        </div>
      </div>
      <div class="ui one column grid mt-20" *ngIf="graphData && graphData.length > 0">
        <div class="column">
          <div class="regular slider pt-30 course-graph-holder">
            <div *ngFor="let block of graphData;let graphIndex = index;">
              <div [hidden]="showGraph === graphIndex">
                <div class="ui segment">
                  <canvas baseChart width="300" height="110" [datasets]="block.yaxesData" [labels]="block.xaxesData" [options]="block.chartOptions"
                    [colors]="block.chartColors" [legend]="chartLegend" [chartType]="chartType">
                  </canvas>
                </div>
              </div>
            </div>
            <div class="corse-graph-navigation-btn">
              <button class="ui primary basic compact icon button" (click)="graphNavigation('previous')" tabindex="0" [ngClass]="{'disabled': showGraph <= 0 }"
                appTelemetryInteract [telemetryInteractObject]="interactObject" [telemetryInteractEdata]="{id:'previous',type:'click',pageid:'course-creator-dashboard'}">
                <i class="left arrow icon"></i>
              </button>
              <button class="ui primary basic compact icon button" (click)="graphNavigation('next')" tabindex="0" [ngClass]="{'disabled': showGraph >= graphData.length - 1 }"
                appTelemetryInteract [telemetryInteractObject]="interactObject" [telemetryInteractEdata]="{id:'next',type:'click',pageid:'course-creator-dashboard'}">
                <i class="right arrow icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>