<div ng-controller="ContentCtrl as content">

    <p>Showing all the result of "{{searchKeyword? searchKeyword:'All'}}" in"Courses"</p>
    <div class="ui stackable four column grid dynamic-section-card">
        <div class="column" ng-repeat="item in searchResult.content track by $index" ng-init="$last && loadRating()">

            <div class="slider link" ng-include="'views/common/card.html'" ng-click="contentPlayer.contentData = item; contentPlayer.isContentPlayerEnabled = true;"></div>
        </div>
    </div>
</div>