.announcementBlueText {
    color: @primary-color;
}

.announcementRedText {
    color: @ann-redcolor-text;
}

.ui.segment.announcementCardLeftBorder {
    border-radius: 10px;
    border-left-color: @primary-color;
    border-left-width: 11px;
}

.announcement-description {
    font-family: 'sunbirdregularfont';
    font-size: 1em;
}

.annOrgName {
    font-family: 'sunbirdregularfont';
    font-size: 1em;
    color: @secondary-textColor;
}

.annCreatedDate {
    font-family: 'sunbirdregularfont';
    font-size: 1em;
    color: @secondary-textColor;
}

.annUrlLinks {
    font-family: 'sunbirdregularfont';
    font-size: 0.9em;
    color: @primary-color;
}

.annAttachment {
    font-family: 'sunbirdregularfont';
    font-size: 0.9em;
    color: @primary-color;
}

.annSmallText {
    font-size: 0.8em;
}

.announcementHomeCard-header {
    padding: 0;
    font-family: 'sunbirdboldfont';
    font-size: 1.25em;
    padding-top: 5px;
}

.annLinksAttachmentsMore {
    font-family: 'sunbirdregularfont';
    font-size: 1em;
    color: @secondary-textColor;
}

.showingAllSentAnn {
    color: @primary-textColor;
    font-family: 'sunbirdregularfont';
    font-size: 15px;
    line-height: 19px;
}

.announcementTableHeading {
    color: @secondary-textColor;
    font-family: 'sunbirdregularfont';
    font-size: 15px;
    line-height: 19px;
}

.tableListNameAnn {
    color: @primary-textColor;
    font-family: 'sunbirdregularfont';
    font-size: 14px;
    line-height: 19px;
}

.announcementDataText {
    color: @primary-textColor;
    font-family: 'sunbirdregularfont';
    font-size: 15px;
    line-height: 19px;
}

ui.primary.basic.button.announcementButton {
    border: 1px solid @primary-color;
    border-radius: 4px;
}

.announcementButtonText {
    color: @primary-color;
    font-family: 'sunbirdboldfont';
    font-size: 1em;
    line-height: 17px;
}

.announcementSeeAllBtn {
    padding: 8px;
}

.annMediumText {
    font-size: 1em;
    font-weight: 600;
    font-family: sunbirdmediumfont;
}

.linkify.icon.opacity04 {
    opacity: 0.4;
}

.annSmallText {
    font-size: 0.8em;
}

.ui.segment.annGridPadding {
    padding: 0.9em;
}

.gray-full-width {
    background-color: @tertiary-color;
    padding: 15px 20px;
    margin: 10px -20px;
}

.ui.items>.item.box {
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34, 36, 38, .15);
}

.announcementSentOnDate {
    margin-bottom: -25px;
}

.width-100 {
    width: 100%;
}

.modals.dimmer .ui.modal.announcementDetailsModal {
    margin-top: -260px !important;
}

.annDetailsFormScroller {
  max-height: 80vh;
  overflow-y: auto;
}

.btn-width-26 {
    width: 26%;
}

i.file.pdf.announcementAttachmentsIcon{
    width: 44px;
    height: 44px;
    margin-top: 10px;
    padding-top: 3px;
    padding-left: 4px;
    margin-top: 10px;
}

.attachmentPlacementBgr{
  background-color: rgba(86, 61, 124, .1);
}

.announcementSeeAllLink{
    font-family: 'sunbirdboldfont' ;
    font-size: 1.2em ;
    padding-top: 15px ;
}

.ui.grey.label.annType{
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: @annLabelColor !important;
    border-color: @annLabelColor !important;
}

.ui.items>.item>.content p.annAttaFilesize {
    margin-left: 10px;
    margin-top: -5px;
    font-family: 'sunbirdregularfont';
    font-size: 1em ;
    color: @secondary-textColor;
}

.ui.items>.item>.content p.annAttaFilename {
    font-family: 'sunbirdregularfont';
    font-size: 1.2em ;
    margin-bottom: 0px;
    margin-left: 10px;    
}