.announcementBlueText {
    color: @primary-color;
}

.announcementRedText {
    color: @ann-redcolor-text;
}

.announcementCardLeftBorder {
    border-radius: 10px !important;
    border-left-color: @primary-color !important;
    border-left-width: 11px !important;
}

.announcement-description {
    font-family: 'sunbirdregularfont';
    font-size: 1em;
}

.annOrgName {
    font-family: 'sunbirdregularfont' !important;
    font-size: 1em !important;
    color: @secondary-textColor !important;
}

.annCreatedDate {
    font-family: 'sunbirdregularfont' !important;
    font-size: 1em !important;
    color: @secondary-textColor !important;
}

.annUrlLinks {
    font-family: 'sunbirdregularfont' !important;
    font-size: 0.9em !important;
    color: @primary-color !important;
}

.annAttachment {
    font-family: 'sunbirdregularfont' !important;
    font-size: 0.9em !important;
    color: @primary-color !important;
}

.annSmallText {
    font-size: 0.8em !important;
}

.annType {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.announcementHomeCard-header {
    padding: 0 !important;
    font-family: 'sunbirdboldfont' !important;
    font-size: 1.25em !important;
    padding-top: 5px !important;
}

.annLinksAttachmentsMore {
    font-family: 'sunbirdregularfont' !important;
    font-size: 1em !important;
    color: @secondary-textColor !important;
}

.annAttaFilesize {
    font-family: 'sunbirdregularfont' !important;
    font-size: 1em !important;
    color: @secondary-textColor !important;
}

.annAttaFilename {
    font-family: 'sunbirdregularfont' !important;
    font-size: 1.2em !important;
}

.showingAllSentAnn {
    color: @primary-textColor;
    font-family: 'sunbirdregularfont' !important;
    font-size: 15px;
    line-height: 19px;
}

.annSectionHeading {
    font-family: 'sunbirdboldfont' !important;
    font-size: 1.4em !important;
}

.announcementTableHeading {
    color: #9b9b9b !important;
    font-family: 'sunbirdregularfont' !important;
    font-size: 15px !important;
    line-height: 19px !important;
}

.tableListNameAnn {
    color: @primary-textColor;
    font-family: 'sunbirdregularfont' !important;
    font-size: 14px;
    line-height: 19px;
}

.announcementDataText {
    color: @primary-textColor;
    font-family: 'sunbirdregularfont' !important;
    font-size: 15px;
    line-height: 19px;
}

.announcementButton {
    border: 1px solid @primary-color !important;
    border-radius: 4px !important;
}

.announcementButtonText {
    color: @primary-color !important;
    font-family: 'sunbirdboldfont' !important;
    font-size: 1em !important;
    line-height: 17px;
}

.announcementSeeAllBtn {
    padding: 8px;
}

.annMarginBottom {
    margin-bottom: -1.2em !important;
}

.annAttText {
    color: @primary-textColor !important;
    padding: -7px !important;
    font-size: 0.9em !important;
}

.annMediumText {
    font-size: 1em !important;
    font-weight: 600 !important;
    font-family: sunbirdmediumfont !important;
}

.opacity04 {
    opacity: 0.4 !important;
}

.annSmallText {
    font-size: 0.8em !important;
}

.annGridPadding {
    padding: 0.9em !important;
}

.gray-full-width {
    background-color: @tertiary-color;
    padding: 15px 20px;
    margin: 10px -20px;
}

.box {
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    margin: 1rem 0;
    padding: 1em 1em !important;
    border-radius: .28571429rem !important;
    border: 1px solid rgba(34, 36, 38, .15) !important;
}

.ui.modal .ui.input input.gray-background {
    background-color: @tertiary-color !important;
    box-shadow: 1 1px 2px 0 rgba(34, 36, 38, .15) !important;
    border: 1px solid @tertiary-color!important;
    border-radius: 0!important;
    padding: 10px !important;
}

.announcementSentOnDate {
    margin-bottom: -25px !important;
}

.width-100 {
    width: 100%;
}

.announcementDetailsModal {
    margin-top: -260px !important;
}

.annDetailsFormScroller {
  max-height: 80vh;
  overflow-y: auto;
}

.btn-width-26 {
    width: 26% !important;
}

.ui.dropdown .menu>.item.AnnDetailsModalDropDwn{
    padding: 3px 5px 1px 5px!important;
}

.annAttaFileSize{
    margin-left: 10px !important;
    margin-top: -5px !important;
}

.annAttaFileName{
    margin-bottom: 0px !important;
    margin-left: 10px !important;
}
.announcementAttachmentsIcon{
    width: 44px!important;
    height: 44px!important;
    margin-top: 10px!important;
    padding-top: 3px!important;
    padding-left: 4px!important;
    margin-top: 10px!important;
}
.attachmentPlacementBgr{
  background-color: rgba(86, 61, 124, .1);
}
.announcementSeeAllLink{
    font-family: 'sunbirdboldfont' !important;
    font-size: 1.2em !important;
    padding-top: 15px !important;
}
.ui.grey.label.annType{
    background-color: @annLabelColor !important;
    border-color: @annLabelColor !important;
}