// ContentPlayer
//
// content-player css changes.
//
//content-player - Align the palyer and adjust the width of content player.
//
// Style guide: Modules.ContentPlayer


.content-input {
    display: none;
}

.content-player-body {
    padding: 0;
}

.content-player {
    position: relative;
    width: 99.8%;
    z-index: 11;
}

.ui.segment.content-player-header {
    padding: 5px 5px 5px 5px;
    border: gray;
}

.contentViewerIframeShadow {
    width: 100%;
    border: 0px;
}

.contentMetaSection {
    top: -40px;
    z-index: 10;
}

