// Error Messages
//
// Css for error messages used in the ErrorPage.html.
//
// Style guide: Modules.ErrorMessages


.centered.grid.noResultContainer {
	margin-top: 12%;
}


// NoResultImg
//
//.noresult.column img - Css for width and height of result not found image, it is added to the div tag as class.
//
// Style guide: Modules.ErrorMessages.NoResultImg

.noresult.column img {
	width: 9em;
    height: 9em;
    display: block;
    margin: auto;
}

// NoResultText
//
//.noresult.column img - Css for padding, font and color of the text used to dispaly no result found text it is added to div tag as class.
//
// Style guide: Modules.ErrorMessages.NoResultText

.noResultText {
	text-align: center;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: @secondary-textColor;
}

.noResultSearchText {
	text-align: center;
    padding-top: 5px;
    font-size: 16px;
    /* font-weight: 600; */
    color: @secondary-textColor;
}