
// Flag 
//
// Onclick flag icon pop up modal in Course description
//
// Style guide: Modules.FlagModal



.flagheader {
    color: @primary-textColor !important;
    font-size: 22px !important;
    font-weight: bold !important;
}

// FlagDescription
//
//.Flag-Description - Description for what went wrong feedback from user, it is added as class to span tag.
//
// Style guide: Modules.FlagModal.FlagDescription

.flag-description {    
    color: @secondary-color !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
}

// FlagForm
//
//.flag-form - class will be added to label tag in contentFlagModal.html.
//
// Style guide: Modules.FlagModal.FlagForm

.flag-form {
    color: @secondary-color !important;
    font-size: 12px !important;
    font-weight: bold !important;
    line-height: 14px !important;
    padding-top: 20px !important;
}

.radiomargin {
    margin: 1em 0 !important; 
}