
// Flag 
//
// Onclick flag icon pop up modal in Course description
//
// Style guide: Modules.FlagModal


// FlagDescription
//
//.Flag-Description - Description for what went wrong feedback from user, it is added as class to span tag.
//
// Style guide: Modules.FlagModal.FlagDescription

.ui.modal .ui.tiny.header.flag-description {    
    color: @tertiary-textColor;
    font-size: 1em;
    font-family: 'sunbirdregularfont';
}

// FlagForm
//
//.flag-form - class will be added to label tag in contentFlagModal.html.
//
// Style guide: Modules.FlagModal.FlagForm



.ui.form .field>label.flag-form, .ui.form .grouped.fields>label {
    color: @tertiary-textColor;
    font-size: 0.9em;
    padding-top:20px;
    font-family: 'sunbirdmediumfont';
}

.ui.form .grouped.fields .field.radiomargin {
    margin: 1em 0; 
}