// Header
//
// Override the value of header in semantic ui.
//
// Style guide: Modules.Header


// Ui Menu
//
// .ui.menu - override css values of menu insemantic ui, it is added to the div tag as a class.
//
// Style guide: Modules.Header.UiMenu

.ui.menu {    
    font-family: 'sunbirdregularfont';  
    color:@primary-textColor; 
}

// circularIconPadding
//
// padding-top-circular-human-icon - padding added to circular human icon in header. it is added to the div tag as a class.
//
// Style guide: Modules.Header.HumanIconPadding

.padding-top-circular-human-icon {
    padding-top: 0.9rem;
    z-index:88;
}

.alarm-icon-header {
    padding-top: 1.5rem;
}

.ui.divider.header-search-filters-divider {
    margin-top: 0px;
    border-color: transparent;
    border-width: 0px;
}

.header-filter-container {
    background-color: @white;
}

// .ui.circular.image.logged-in-user
//
// logged-in-user - added width, height, margin to user icon. it is added to the div tag as a class.
//
// Style guide: Modules.Header.loggedInUserIcon

/*loged in user icon*/

.ui.circular.image.logged-in-user {
    width: 30px;
    height: 30px;
    margin-top: 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.beforelogin.ui.secondary.pointing.menu{
    border-bottom: 0;
}
.header-user-container {
    float: right;
}

.padding-top-header-large-icons {
    padding-top: 1.5rem;
}

.padding-top-1rem {
    padding-top:1rem;     
}

.ui.secondary.pointing.menu .active.item{
    border-color:@primary-color;
    color:@primary-textColor;
    font-family: 'sunbirdmediumfont';
}

.ui.secondary.pointing.menu {
    background: @secondary-color;
    margin: 0rem;
    justify-content: center;
}

.breadcrumppadding.ui.breadcrumb, .breadcrumppadding.ui.breadcrumb:last-child, .breadcrumppadding.ui.breadcrumb:first-child{
    margin-left:10px;
    line-height:1.5;
}

.ui.breadcrumb .divider {
    color: @primary-color;
}

.ui.dropdown .menu>.item.headerDropdownProfile {
    cursor:text;
    background: none;
    font-weight: bold;
}

.searchfilterinput .ng-empty+.icon.search,
.searchfilterinput .ng-empty+.icon.search:hover{
	cursor:auto !important;
	opacity:0.3 !important;
	pointer-events: none;
}
