//Logo
//
// Before login and after login logo used in the website.
//
//.header-logo - After login css for logo.
//.header-logoBeforeLogin -Before login css for logo.
//
// Style guide: Modules.Logo


//Header-logo
//
//.header-logo - After login css for logo in header.html, it is added as a class to img tag.
//
// Style guide: Modules.Logo.Header-logo

.header-logo {
    display: block;
    max-width: 200px;
    max-height: 80px;
    width: auto;
    height: auto;
    top: 14%;
    left: 10%;
    position: absolute;
}


//Header-logoBeforeLogin 
//
//.header-logoBeforeLogin -Before login css for logo, it is added as a class to img tag.
//
// Style guide: Modules.Logo.logoBeforeLogin

.header-logoBeforeLogin {
    display: block;
    max-width: 70px;
    max-height: 70px;
    width: auto;
    height: auto;
    left: 10%;
}