/*semantic ui modal form field changes*/


// OverRideModal
//
// Popup modal form input and dropdown css changes
//
// Style guide: Modules.OverRideModal


// UiFormInput
//
// Popup modal form input and dropdown css changes
//
//.ui.modal .ui.form input - Adding border-bottom, padding, border-radius to the form input element inside input tag.
//
// Style guide: Modules.OverRideModal.UiFormInput


.ui.form input[type=text], .ui.form input[type=text]:focus, .ui.form input[type=email], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=url], .ui.form input:not([type]) {
    border: 0;
    border-bottom: 1px solid @form-element-border;
    border-radius: 0 !important;
    padding: 0.8em 0 0.8em 1em;
    font-family: Roboto, sans-serif;
}


// UiSelectionDropdown
//
// Popup modal form input and dropdown css changes
//
//.ui.modal .ui.selection.dropdown - Adding border-bottom, border-radius to select tag of form in modal.
//
// Style guide: Modules.OverRideModal.UiSelectionDropdown

.ui.selection.dropdown {
    border: 0;
    border-bottom: 1px solid @form-element-border;
    border-radius: 0;    
}

.ui.dropdown.genderSelectionDropDown {
    border: 0;
    border-bottom: 1px solid @form-element-border;
    border-radius: 0;  
    
}

.ui.modal.ui.dropdown>.text {
    margin-left: -1.1em ;
}

.ui.modal.ui.multiple.dropdown>.text {
    margin:0 ; 
    line-height: 0 ; 
}


// UiFormFieldLabel
//
// Popup modal form input and dropdown css changes
//
//.ui.modal .ui.form input - Adding color and font label of form elements.
//
// Style guide: Modules.OverRideModal.UiFormFieldLabel

.field>label {
    color: @secondary-color;
    font-weight: bold;
    line-height: 14px;
}

.inline.fields>label {
    color:@secondary-color;
}

.ui.modal .ui.radio.checkbox .box, .ui.radio.checkbox label {
    color:@primary-textColor;
}

.ui.modal .ui.header {
    font-size:1.5em;
}

/*it is a quick fix to make modal content scrollable need to updated with semantic libray*/

.ui.modal .scrolling.content {
    max-height: calc(70vh); 
    overflow: auto;
}

/*concept selector pop up */

.ui.tree-picker.modal .header .menu {
    margin-top: -12px ;
}

/*removing border and box-shadow for popup modal in workspace*/

.modal {
    .ui.segment {
        box-shadow:none ;
        border:none;
    }
}

.dropDownLockIcon {
    z-index: 10 ;
    margin-right: 10px ;
    font-size: 1.3em ;
}

.ui.form input:not([type]):focus {
    border-color:@form-element-border;
}

