// Profile pic
//
// profileImageSizeText change in profile page..
//
//.profileImageSizeText - changing color, font-size of text below profile image and it is added to div tag in 
// profile header page.
//
// Style guide: Modules.ProfilePic

.profileImageSizeText {
  font-size:10px;
  color:@black; 
  margin-top:-10px; 
}