
// Slider
//
// Overriding css changes in slicker slider and is used in Home, Courses, Library page.
//
// Style guide: Modules.Slider



// SlickPrevNextButton
//
// .slick-prev, .slick-next - Change the shape of slider button using border-radius, change shadow of button using box-shadow .
//
// Style guide: Modules.Slider.SlickPrevNextButton

.slick-prev {
  left: -15px;  
}

.slick-prev, .slick-next {
    right: -10px;
    top: 40% !important;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    position: absolute;
    font-size: 24px;
    z-index: 3;
    transition: .3s;
    height: 40px;
    width: 40px;
    padding: 10px 10px;
    border-radius: 50%;
    background: @white;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.3);
    opacity: 1;
    line-height: 0;
    display: block;
    margin-top: -10px;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
}


// SlickPrevButton
// 
//.slick-prev:before - Override previous button icon in slick slider, You can change the icon by repalcing the content url to your desired image url.
//
// Style guide: Modules.Slider.slickPreviousButton

.slick-prev:before {
    left: -20px;
    content: url(/common/images/Backword.png);
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: 1;
    color: @primary-color;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}


// SlickNextButton
//
//.slick-next:before - Override next button icon in slick slider, You can change the icon by repalcing the content url to your desired image url.
//
// Style guide: Modules.Slider.SlickNextButton

.slick-next:before {
    content: url(/common/images/Forward.png);
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: 1 ;
    color: @primary-color;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}

.slider {
    width: 100%;
    margin: 0 auto;
}

/*slick slider margin bottom removed*/
.slick-slider {
    margin-bottom: 0px;
}

/*align the cards in left in slicker slider*/
.slick-track {    
    margin-left: initial;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
     background: @white;
}
