.UpReviewTableHeader {
	font-size:1em;
	font-family: 'sunbirdmediumfont';
}
.UpReviewSubHeader {
	font-size:0.7em;
	opacity:0.7;
	font-family: 'sunbirdregularfont';
}
.UpReviewHeader {
	font-size:1em;
	font-family: 'sunbirdregularfont';
}
.ui.tiny.image.UpReviewTinyImage {	
	height:40px;
	width:40px;
	max-height:40px;
	max-width:40px;
}

.UpForReviewListHover:hover{
	background-color:@tertiary-color;
}

.UpForReviewStatusOrange {
	color: @statusOrange;
	font-size:1.1em;
	font-family: 'sunbirdregularfont';
}
.UpForReviewStatusGreen {
	color: @statusGreen;
	font-size:1.1em;
	font-family: 'sunbirdregularfont';
}

.ui.upForReviewTable.table {
	border:none;
}

h5.ui.header {
	font-size: 1rem;
}

.searchicon.ui.icon.input input.upForReviewSearchBox {
	width: 450px;
	background: @secondary-color;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid rgba(51, 51, 51, 0.33);
}






