@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

::ng-deep {
    .ui.accordion .active.title .chevron.down.icon {
        margin-top:calculateRem(6px);
    }
    .ui.accordion .title .chevron.down.icon {
      margin-top:calculateRem(-6px);
    }
  }