@import "mixins/mixins";

.sb-modal-profile-details {
    input[type="checkbox"] {
        width: calculateRem(16px);
        height: calculateRem(16px);
        position: relative;
        top: calculateRem(2px);
    }
    .profile-field-value{
        word-break: break-all;
    }
}

@media only screen and (max-width:768px) {
    .ui.stackable.grid>.wide.column{
        padding: 0 !important;
    }
}