@import "mixins/mixins";

.sb-modal-profile-details {
    input[type="checkbox"] {
        width: calculateRem(16px);
        height: calculateRem(16px);
        position: relative;
        top: calculateRem(2px);
    }
}