@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.state-selection {
  &__section {
    padding-bottom: calculateRem(8px);

    &:not(:first-child) {
      margin-top: calculateRem(8px);
    }

    .header {
      color: var(--primary-color);
      padding: 0px calculateRem(8px);
    }

    .item {
      padding: calculateRem(4px) calculateRem(8px);
      display: block;
      cursor: pointer;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:hover,
      &.active {
        background-color: var(--primary-100);
        width: 100% !important;
        padding-right: calculateRem(24px);
      }
    }
  }
}
