.sb-offline-updates{
    background: #fff;
  }
  .sb-offline-updates-content{
  }
  .sb-offline-updates-content-logo{
    .logo{
      height: 100px;
    }
  }
  .sb-offline-updates-content-title{
    font-size: 18px;
  }
  .sb-offline-updates-content-para{
    font-size: 12px;
    color:#666666;
    line-height: 18px;
  }
  .sb-offline-label{
    font-size: 16px;
  }
  .sb-offline-updates-modal{
      .sb-modal-header{
        background-color: #fff !important;
      }
  }

  