<app-modal-wrapper [config]="{disableClose: false, size: 'large', panelClass: ['overflow-visible', 'material-modal']}" (dismiss)="modal.deny()" #modal>
  <ng-template sbModalContent>
    <div class="signup-background">
      <div class="fullpage-background-image">
        <div class="container-wrapper">
          <div class="text-center">
            <img alt="{{tenantName}}" src="{{logo}}" class="sb-certificatePage-logo" />
            <div class="font-weight-bold mat-title my-24">
              {{resourceService.frmelmnts?.lbl?.mergeAccount}}</div>
            <div *ngIf="mergeType === 'manual'">
              <p *ngIf="isMergeSuccess" class="color-success font-weight-bold py-8">
                {{resourceService.messages?.imsg?.m0065}}. {{resourceService.messages?.imsg?.m0066}}
              </p>
              <p *ngIf="!isMergeSuccess && error_type !== 'account_not_found'" class="color-warn font-weight-bold py-8">
                {{resourceService.messages?.imsg?.m0067}}
              </p>
              <p *ngIf="!isMergeSuccess && error_type === 'account_not_found'" class="color-warn font-weight-bold py-8">
                {{resourceService.messages?.imsg?.m0087}}
              </p>
            </div>
            <div *ngIf="mergeType === 'auto'">
              <p *ngIf="isMergeSuccess" class="color-success font-weight-bold py-8">
                {{resourceService.messages?.imsg?.m0081}}
              </p>
              <p *ngIf="!isMergeSuccess" class="color-warn font-weight-bold py-8">
                {{resourceService.messages?.imsg?.m0080}}
              </p>
            </div>
          </div>
          <div class="d-flex flex-jc-center mt-40">
            <button mat-raised-button color="accent" class="button-rounded" tabindex="0" (click)="closeModal()">
              {{resourceService.frmelmnts?.btn?.ok}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</app-modal-wrapper>