@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

::ng-deep {
    .ui.tiny.progress .bar {
        min-width: 0
    }

}

.back-btn-container {
    z-index: 1;

    .modulebtn-divider {
        width: calculateRem(1px);
        height: calculateRem(24px);
        background: var(--gray-200);
        display: inline-block;
        margin: 0 calculateRem(8px);
    }
}

.certified-course {
    justify-self: end;
    align-self: center;
}

.textbook {
    &-container {
        box-shadow: 0 0 calculateRem(10px) 0 rgba(0, 0, 0, 0.25);
        position: relative;
        background-color: var(--gray-0);
    }

    &__details {
        flex: 1;
        min-width: 0;
    }

    &__bookimg {
        width: calculateRem(48px);
        height: calculateRem(48px);
        img {
            width: calculateRem(48px);
            height: calculateRem(48px);
        }
    }

    &__heading {
        min-width: 0;

        .textbook__title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__addbtn {
        white-space: nowrap;
    }
}

@include respond-below(sm) {
    .certified-course {
        justify-self: start;
    }

    .certified-course__btn {
        margin-top: calculateRem(8px);
    }
}
