<div class="ui container mt-24" *ngIf="!showLoader && !showError">
    <div class="twelve wide column">
        <div class="sb-pageSection">
            <div class="sb-pageSection-header sb-pageSection-header-compact">
                <h1 class="sb-pageSection-title">{{courseHierarchy.name}}</h1>
            </div>
            <div class="sb-pageSection-content d-flex flex-ai-center">
                <sui-rating 
                    class="ui star rating mr-16" 
                    [isReadonly]="true" 
                    [ngModel]="courseHierarchy.me_averageRating || 0" [maximum]="5"
                ></sui-rating>
                <a (click)="onShareLink()" class="cursor-pointer btn-bg p-8 d-inline-block font-weight-bold">
                    <i class="blue share alternate icon"></i>
                    {{resourceService?.frmelmnts?.lbl?.share}}
                </a>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
</div>
<router-outlet *ngIf="!showLoader && !showError"></router-outlet>
<div *ngIf="showLoader" class="ui container">
    <div class="ui grid">
        <div class="twelve wide column">
            <app-loader></app-loader>
        </div>
    </div>
</div>
<app-share-link [shareLink]="shareLink" [telemetryShareData]="telemetryShareData" *ngIf="sharelinkModal" (close)="sharelinkModal = false">
</app-share-link>