<div ng-controller="courseScheduleCtrl as toc" ng-init="toc.loadData()">
    <div ng-include="'views/course/courseHeader.html'"></div>

    <div class="ui grid">
        <div class="one wide column"></div>
        <div class="ten wide column">
            <div ng-if="toc.courseHierachy">
                <div id="course-toc-list" ng-show="!contentPlayer.isContentPlayerEnabled && !toc.showAllNoteList">
                    <div class="content">
                        <div class='ui grid'>
                            <div class="row">
                                <div class='eight wide column'>
                                    <div class="ui header">
                                        <span class="content courseStructureHeading">
                                            About the course
                                        </span>
                                        <div class="margin-top-10 " ng-init="toc.readMore = false">
                                            <p ng-if="!toc.readMore" class="courseStructureDesc"> {{ toc.courseHierachy.description | limitTo: 200 }}&nbsp;
                                                <span class="ui cardsKnowMore mouse-pointer" ng-if="toc.courseHierachy.description.length > 200 && toc.readMore === false" ng-click="toc.readMore = !toc.readMore;">Read More ...</span>
                                            </p>
                                            <p ng-if="toc.readMore" class="courseStructureDesc"> {{ toc.courseHierachy.description}}&nbsp;
                                                <span class="ui cardsKnowMore mouse-pointer" ng-click="toc.readMore = false;">Read Less ...</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="ui header">
                                        <b class="content courseStructureHeading">
                                            Course Structure
                                        </b>
                                    </div>
                                    <div id="course-toc{{$index}}" class="ui styled accordion margin-top-10 accordian-left-bottomMargin width-100" ng-repeat="item in  toc.courseHierachy.children track by $index" ng-click="toc.expandMe($event, item)">
                                        <div class="courseAccordianHeading title title-padding-left accordian-left-text" name="{{item.identifier}}">
                                            <i ng-if="item.mimeType == 'application/vnd.ekstep.content-collection'" ng-class="[toc.contentStatusList[item.identifier],toc.getContentIcon(item.mimeType)]"></i>
                      <img ng-if="item.mimeType != 'application/vnd.ekstep.content-collection'" ng-src="{{toc.getContentIcon(item.mimeType)}}" class="tocCourseStructureImg">  {{item.name}}
                                            <i ng-if='item.children && item.children.length > 0' class="plus icon down-arrow-accordion"></i>
                                        </div>
                                        <div ng-if='item.children && item.children.length > 0' class="content">
                                            <div id="FT_{{$index}}" class="fancy-tree-container" ng-init="toc.constructTree($index, item.children)"></div>
                                        </div>
                                    </div>
                                    <div class="ui fitted divider margin-bottom-20 margin-top-30"></div>
                                    <course-discussions showaskquestion="true"></course-discussions>
                                </div>
                                <div class='four wide column'>
                                    <div>
                                        <div ng-include=" '../common/views/course/carriculumCard.html'"></div>
                                    </div><br>

                                    <!--                                    <div ng-include=" 'views/course/facultyCard.html'" class="margin-bottom-15"></div>-->

                                    <div class="courseupdate">
                                        <b>Course created on: {{toc.courseHierachy.createdOn | dateFilterWithMDY}}</b><br>
                                        <b>Updated on: {{toc.courseHierachy.lastUpdatedOn | dateFilterWithMDY}}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="toc.loader.showLoader">
                <app-loader data="{{toc.loader}}"></app-loader>
            </div>
            <div class="one wide column"></div>
        </div>
    </div>
</div>