<sui-modal [mustScroll]="true" [isClosable]="false" [transitionDuration]="0" [size]="'small'" class="sb-modal"
  appBodyScroll #modal>
  <i class="close icon" aria-hidden="true" (click)="closeModal()"></i>
  <div class="course-complete sb-bg-white p-32">
    <div class="course-complete-content">
      <div class="mr-24"><img src="./assets/images/badge-complete.svg" width="79px" height="69px" alt=""></div>
      <div class="course-complete-data font-weight-bold">
        <div class="title mb-8">{{resourceService?.frmelmnts?.lbl?.congratulations}}!</div>
        <p>{{resourceService?.frmelmnts?.lbl?.courseSuccessMessage}}</p>
      </div>
    </div>
    <div class="course-complete-para mt-32" *ngIf="certificateDescription === ''; else withCertificate">
      <span>{{resourceService?.frmelmnts?.lbl?.courseWithoutCertificateNote }}</span>
    </div>
  </div>

  <ng-template #withCertificate>
    <p class="fsmall mb-0 pt-16 pb-8">{{certificateDescription}}</p>
    <p class="fsmall mb-0">{{resourceService?.frmelmnts?.lbl?.courseSuccessNotificationMessage}}</p>
  </ng-template>
</sui-modal>