@import "variables";
@import "mixins/mixins";

.course-complete-content {
  display: flex;
  align-items: center;
  .course-complete-data {
    color: var(--green);
    font-size: calculateRem(14px);
    .title {
      font-size: calculateRem(24px);
    }
  }
}
.course-complete-para {
  color: var(--gray);
  font-size: calculateRem(12px);
}

.sb-modal .ui.modal > .close {
  color: black;
}
