@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.course-complete-content {
  display: flex;
  align-items: center;
  .course-complete-data {
    font-size: calculateRem(14px);
    .title {
      font-size: calculateRem(24px);
    }
  }
}
.course-complete-para {
  font-size: calculateRem(12px);
}