<app-data-driven-filter [enrichFilters]="facetsList" (dataDrivenFilter)="getFilters($event)" [pageId]="'library-search'" [ignoreQuery]="['key']" *ngIf="initFilters" [filterEnv]="filterType" [accordionDefaultOpen]=false [isShowFilterLabel]=true></app-data-driven-filter>

<div class="ui container">
    <div class="content-grid mt-24">
       <div class="sb-pageSection">
            <div  class="sb-pageSection-header" *ngIf="!showLoader && this.queryParams.key">
                <h4 class="sb-pageSection-title m-0 mr-5" [innerHTML] = "resourceService.frmelmnts?.lbl?.showingResultsFor |
                    interpolate:'{searchString}':this.queryParams.key"></h4>
                        <!-- <span class="sb-pageSection-count sb-label sb-label-xs sb-label-warning ml-8">25</span> -->
                <button appTelemetryInteract [telemetryInteractEdata]="closeIntractEdata"  class="sb-btn sb-btn-normal sb-btn-error ml-auto sb-cls-btn" type="button" [routerLink]="['/resources']">
                    {{resourceService?.frmelmnts?.btn?.close}} <i class="close icon"></i></button>
            </div>
        </div>

        <div class="twelve wide column">
            <div  [appTelemetryImpression]="telemetryImpression" in-view-container (inview)="inView($event)"  *ngIf="!showLoader && contentList.length" class="masonry-grid dynamic-section-card ">
                <div in-view-item [id]="i" [data]="content" class="masonry-item" *ngFor="let content of contentList;let i = index;">
                    <app-card appContentDirection appTelemetryInteract [telemetryInteractEdata]="cardIntractEdata" 
                    [telemetryInteractObject]="{id:content.metaData.identifier,type:content.metaData.contentType || 'Content',ver:'1.0'}"
                    (clickEvent)="playContent($event)" [data]="content"></app-card>
                </div>
            </div>
        </div>
        <div class="twelve wide column" [appTelemetryImpression]="telemetryImpression" *ngIf="contentList.length === 0 && !showLoader">
            <app-no-result [data]="noResultMessage"></app-no-result>
        </div>
        <div class="twelve wide column right aligned">
            <div class="sb-pagination-container flex-jc-flex-end">
                <div class="sb-pagination" *ngIf="paginationDetails.totalItems > configService.appConfig.SEARCH.PAGE_LIMIT && !showLoader">
                    <div class="menu" *ngIf="paginationDetails.pages.length">
                            <a [ngClass]="{disabled:paginationDetails.currentPage===1 }" class="sb-item " (click)="navigateToPage(1) ">&laquo;</a>
                            <a [ngClass]="{disabled:paginationDetails.currentPage===1 }" class="sb-item " (click)="navigateToPage(paginationDetails.currentPage - 1)">&lt;</a>
                            <a *ngFor="let page of paginationDetails.pages" [ngClass]="{active:paginationDetails.currentPage===page}" (click)="navigateToPage(page)" class="sb-item">{{page}}</a>
                            <a [ngClass]="{disabled:paginationDetails.currentPage=== paginationDetails.totalPages}" (click)="navigateToPage(paginationDetails.currentPage + 1)" class="sb-item">&gt;</a>
                            <a [ngClass]="{disabled:paginationDetails.currentPage=== paginationDetails.totalPages}" (click)="navigateToPage(paginationDetails.totalPages)" class="sb-item ">&raquo;</a>

                    </div>
                </div>
            </div>
        </div>


        <div class="twelve wide column" *ngIf="showLoader">
            <app-loader [data]='loaderMessage'></app-loader>
        </div>
    </div>
</div>