// Fonts 
//
//Contains fonts used through out the website.
//
//.@font-face - Change just url to your specified font family, to change the fonts used through out the website.
//
// Style guide: Base.Fonts


/*sunbird light font*/
@font-face {
    font-family: 'sunbirdlightfont';
    src:url('../fonts/OpenSans-Light.ttf') format('truetype');
}

/*sunbird Regular font*/
@font-face {
    font-family: 'sunbirdregularfont';
    src:url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

/*sunbird Medium font*/
@font-face {
    font-family: 'sunbirdmediumfont';
    src:url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
}

/*sunbird Bold font*/
@font-face {
    font-family: 'sunbirdboldfont';
    src:url('../fonts/OpenSans-Bold.ttf') format('truetype');
}


/*cards fonts*/

.cardsHeading {
    font-family: 'sunbirdboldfont';
    font-size:1.25em;
}

.cardsSubHeading {
    font-family: 'sunbirdregularfont';
    font-size:1.125em;
    color:@primary-color;
}

.cardsDescription {
    font-family: 'sunbirdregularfont';
    font-size: 1.0625em;
    font-weight:400;
    line-height: 1.4;
    color: black;
}

/* font used for view all and read more*/

.cardsKnowMore {
    font-family: 'sunbirdboldfont';
    font-size:1em;
     color:@primary-color;
}



/* cards used in slider fonts*/ 

.sliderCardHeading {
    font-family: 'sunbirdboldfont';
    font-size: 1.1875em;
    float:left;
    padding-left:10px;
}
.sliderCardDesc {
    font-family: 'sunbirdregularfont';
    font-size: 1em;
    color: @secondary-textColor;
    overflow-wrap: break-word;
}
.sliderCardSubDesc {
    font-family: 'sunbirdregularfont';
    font-size: 0.875em;
    color: grey;
}


/* segment card fonts*/

.segmentCardHeading {
    font-family: 'sunbirdboldfont';
    font-size: 1.313em;
}
.segmentAvatarDesc {
    font-family: 'sunbirdregularfont';
    font-size: 1.0625em;
    color: rgba(0,0,0,.85);
}
.segmentAvatarSubDesc {
    font-family: 'sunbirdregularfont';
    font-size: 0.9375em;
    color: @secondary-textColor;
}

.segmentCardSubDesc {
    font-family: 'sunbirdregularfont';
    font-size: 1.0625em;
}

/*course structure page fonts*/

.courseStructureSectionHeading {
    font-family: 'sunbirdboldfont';
    font-size: 1.67em;
}

.courseStructureHeading {
    font-family: 'sunbirdboldfont';
    font-size: 0.85em;
}

.courseStructureDesc {
	font-family: 'sunbirdregularfont';
    font-size: 0.7em;	
}


/*course structure accordian fonts*/

.courseAccordianHeading {
    font-family: 'sunbirdboldfont';
    font-size: 1.1875em;
}

.courseAccordianDesc {
    font-family: 'sunbirdregularfont';
    font-size:  1.125em;
}

.courseAccordianSubDesc {
    font-family: 'sunbirdboldfont';
    font-size: 0.9375em;
}

.segmentCardHeading {
    font-family: 'sunbirdboldfont';
    font-size: 1.438em;
}


/*home page fonts*/

.ui.header.HomeAccordianHeading {
    font-family: 'sunbirdboldfont';
    font-size: 1.375em;
}

/*section heading fonts*/

.sectionHeading {
    font-family: 'sunbirdboldfont';
    font-size: 1.375em;
}

/*show filter fonts*/
  
.ShowFilterTitle {
    font-family: 'sunbirdboldfont';
    font-size: 0.9375em;
}

.ShowFilterSubTitle {
    font-family: 'sunbirdregularfont';
    font-size: 0.9375em;
    color: @secondary-textColor;
}

/*note card font*/

.note-card-timeStamp {
    font-family: 'sunbirdregularfont';
    font-size: 0.625em;
}

/* breadcrumb font*/

.ui.breadcrumb a.breadcrumb-fontColor {    
    color: @primary-color;
    font-family: 'sunbirdboldfont';   
    font-size: 0.9375em;
    line-height:17px;
 }
 .ui.breadcrumb .active.section {
    color: @primary-color;
    font-family: 'sunbirdboldfont';   
    font-size: 0.9375em;
    line-height:17px;
 }


.medium-font-text {
    font-size: medium;
}


/* dashboard fonts*/

.dashBoardSectionHeading {
    font-family: 'sunbirdboldfont';
    font-size: 1.4em;
}

.dashBoardMenuItem {
    font-family: 'sunbirdregularfont';
    font-size: 0.9375em;
    color: @primary-color;
}

.ui.cards>.card .meta.dashBoardCardText {
    font-family: 'sunbirdregularfont';
    font-size: 1.1em;
    color: @secondary-textColor;
}

.ui.cards>.card>.content>.description.dashboardCardSubText {
    font-family: 'sunbirdregularfont';
    font-size: 1.6em;
    color: @primary-textColor;
}

/*note card font*/

.batch-card-desc {
    font-family: 'sunbirdregularfont';
    font-size: 0.8em;
}

/*terms and condition fonts*/

.termsConSubHeading {
    color: @primary-textColor;
    font-size: 14px;
    font-style: italic;
    font-family: 'sunbirdmediumfont';
} 

.termsConDescrption {
    color: @primary-textColor; 
    font-family: "Open Sans";   
    font-size: 14px;
    font-family: 'sunbirdregularfont';
} 

.termsConAccept {
    opacity: 0.67; 
    color: @primary-textColor; 
    font-size: 13px;
    font-family: 'sunbirdregularfont';
} 
