// Variables
//
//Contains color variables used through out the website .
//
//.@websiteBody-color  - Defines the color of background in the website.
//
// Style guide: Base.Variables


@primary-color: #007AFF;
@secondary-color:#fdfdfd;
@white: #ffffff;
@black: #000000;
@tertiary-color: #F5F5F5;
@file-uploaderColor: #cccccc;
@card-box-shadowColor: #d4d4d5;
@annLabelColor :#9a9a9a;
@statusOrange: #ffb300;
@statusGreen: #47cf73;
@notes-listview: #d9d9d9;
@form-element-border:#333333;
@filter-placeholderTxt:#cdcccc;
@segment-border:#d8dee2;


@primary-textColor: #333333;
@secondary-textColor: #7c7b7b;
@tertiary-textColor: #979797;
@ann-redcolor-text: #fc002e;
@dashBoardCardText: #232425;
@custom-scroll-thumb:#D8D8D8;
