@import "variables";
@import "mixins/mixins";

.ui.cards>.card.workspace-card {
    width: calculateRem(240px);
}

.ui.image {
    height: calculateRem(150px);
    overflow:hidden;
}
.batch-content {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--white);
    width: 100%;
    margin: 0;
    padding: calculateRem(10px) calculateRem(16px);
    height: calculateRem(40px);
    
}
.batch-content-description {
    text-transform: capitalize;
    text-align: left;
    font-weight: bold;
    font-size: 1em;
}
.batch-content-meta {
    color: #7c7b7b;
    .batch-course-name {
        font-weight: $font-weight-bold;
        color: var(--gray-400);
    }
}

.slick-slider .slick-list{
    padding-bottom: calculateRem(2px);
}
.batch-card-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    float: left;
    
}

.bcard-bg-image {
    background-color: #BCBEC0;
    height: 100%;
}
.link.cards{
    width: 18.25rem;
    border-radius: .25rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.w-162 {
    width: calculateRem(162px);
}
.w-200 {
    width: calculateRem(200px);
}
.w-300 {
    width: calculateRem(300px);
}