@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.ui.image {
    height: calculateRem(150px);
    overflow:hidden;
}
.batch-content {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(var(--rc-rgba-black), 0.2);
    color: var(--white);
    width: 100%;
    margin: 0;
    padding: calculateRem(10px) calculateRem(16px);
    height: calculateRem(40px);
}
.batch-content-description {
    text-transform: capitalize;
    text-align: left;
    font-weight: bold;
    font-size: 1em;
}
.batch-content-meta {
    color: var(--rc-7c7b7b);
    .batch-course-name {
        font-weight: 700;
        color: var(--gray-400);
    }
}


.batch-card-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    float: left;
    
}

.bcard-bg-image {
    background-color: var(--gray-100);
    height: 100%;
}
.link.cards{
    width: 18.25rem;
    border-radius: .25rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.w-162 {
    width: calculateRem(162px);
}
.w-200 {
    width: calculateRem(200px);
}
