@import "variables";

.ui.cards>.card.workspace-card {
    width: 240px;
}

.ui.image {
    height: 150px;
    overflow:hidden;
}
.batch-content {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    width: 100%;
    margin: 0;
    padding: 10px 16px;
    height: 40px;
    
}
.batch-content-description {
    text-transform: capitalize;
    text-align: left;
    font-weight: bold;
    font-size: 1em;
}
.batch-content-meta {
    color: #7c7b7b;
    .batch-course-name {
        font-weight: $font-weight-bold;
        color: #666666;
    }
}

.slick-slider .slick-list{
    padding-bottom:2px;
}
.batch-card-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    float: left;
    
}

.bcard-bg-image {
    background-color: #BCBEC0;
    height: 100%;
}
.w-162 {
    width: 162px;
}
.w-200 {
    width: 200px;
}