.credits-section {
  padding: 16px;
  .title {
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
  }
  .description {
    color: #333333;
    font-size: 14px;
    line-height: 19px;
  }
  .sub-section {
    color: #024f9d;
    font-size: 14px;
    line-height: 19px;
  }
}
