@import 'variables';
@import 'mixins/mixins';

::ng-deep{
  .sb-toc-credits {
    .sbaccordion__panel {
      box-shadow: none;
    }
    .sbaccordion__panel-header {
      background:var(--gray-0);
    }
    .sbaccordion__panel-content{
      background:none;
    }
    .sbaccordion__panel-content{
      overflow: inherit;
      max-height: 100%;
      border-top: 0px;
    }
  }
}

.credits-section {
  padding: calculateRem(16px);
  .title {
    color: var(--gray-400);
    font-size: calculateRem(12px);
    font-weight: bold;
    line-height: calculateRem(20px);
    word-wrap: break-word; 
  }
  .description {
    color: var(--gray-800);
    font-size: calculateRem(14px);
    line-height: calculateRem(22px);
    word-wrap: break-word; 
  }
  .sub-section {
    color: var(--primary-color);
    font-size: calculateRem(14px);
    line-height: calculateRem(22px);
    word-wrap: break-word;
    margin-bottom: calculateRem(16px);
    font-weight: normal;
  }
}

