<div class="sb-modal">
  <div class="popup">
    <div class="popup-header" *ngIf="modal.context.data.content.title">
      <b>{{ modal.context.data.content.title }}</b>
      <div class="alignRight" *ngIf="modal.context.data.isClosed==true" (click)="navigatePrevious(modal.context.data)"><i class="close medium icon"></i></div>
    </div>
    <div *ngIf="modal.context.data.content.body.type == 'checkbox'" class="popup-body-checkbox">
      <input type="checkbox" id="myCheck" [(ngModel)]="isChecked" />
      <label for="myCheck" [innerHtml]="modal.context.data.content.body.data"></label><br />
    </div>
    <div *ngIf="modal.context.data.content.body.type == 'text'">
      <div class="popup-body" *ngIf="modal.context.data.content.body.data">
        {{ modal.context.data.content.body.data }}
      </div>
    </div>

    <div class={{modal.context.data.footer.className}}>
      <div *ngFor="let btn of modal.context.data.footer.buttons">
        <button
          [ngClass]="{'sb-btn sb-btn-normal sb-btn-primary':true,'sb-btn-disabled':isChecked == false && btn.type =='accept' && modal.context.data.content.body.type == 'checkbox'}"
          [disabled]="!isChecked && modal.context.data.content.body.type == 'checkbox' && btn.type=='accept'"
          (click)="getMethod(btn)" autofocus>
          {{ btn.buttonText }}
        </button>
      </div>
    </div>
  </div>
</div>