@import "mixins/mixins";

.popup {
  border-radius: none !important;
  background: var(--sb-modal-content-bg);
  color: var(--sb-text);
  padding: 1rem;
}
.popup-header {
  color: var(--sb-text);
  span {
    justify-content: flex-start;
    font-size: 1em;
    font-weight: bold;
  }
}

.alignRight {
  float: right;
  color: #e82520;
  i.icon {
    margin: 0;
  }
}

.popup-body {
  color: var(--sb-text);
  font-size: 0.875rem;
  padding: 1rem 0 1.5rem;
}

.popup-body-checkbox {
  display: flex;
  gap: 10px;
  padding: 20px 15px;

  input {
    margin-top: 2px;
    margin-right: 10px;
  }

  label {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3em;
    color: var(--sb-text);
    text-align: justify;
  }
}

.single-btn {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}

.double-btn {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px;

  button {
    margin-right: 15px;
  }
}

.double-btn-circle {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  padding: 10px 10px;
  button {
    margin-right: 14px;
    border-radius: 50%;
    height: 55px;
    width: 50px;
  }
}
