@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.popup {
  border-radius: none !important;
  background: var(--sb-modal-content-bg);
  color: var(--sb-text);
  padding: calculateRem(16px);
}
.popup-header {
  color: var(--sb-text);
  span {
    justify-content: flex-start;
    font-size: calculateRem(16px);
    font-weight: bold;
  }
}

.alignRight {
  float: right;
  color: var(--red-400);
  i.icon {
    margin: 0;
  }
}

.popup-body {
  color: var(--sb-text);
  font-size: calculateRem(14px);
  padding: calculateRem(16px) 0 calculateRem(24px);
}

.popup-body-checkbox {
  display: flex;
  gap: calculateRem(10px);
  padding: calculateRem(20px) calculateRem(15px);

  input {
    margin-top: calculateRem(2px);
    margin-right: calculateRem(10px);
  }

  label {
    font-size: calculateRem(14px);
    font-weight: 500;
    line-height: 1.3em;
    color: var(--sb-text);
    text-align: justify;
  }
}

.single-btn {
  display: flex;
  justify-content: center;
  padding: calculateRem(10px) calculateRem(10px);
}

.double-btn {
  display: flex;
  justify-content: flex-end;
  padding: calculateRem(10px) calculateRem(10px);

  button {
    margin-right: calculateRem(15px);
  }
}

.double-btn-circle {
  display: flex;
  justify-content: flex-end;
  font-size: calculateRem(14px);
  padding: calculateRem(10px) calculateRem(10px);
  button {
    margin-right: calculateRem(14px);
    border-radius: 50%;
    height: calculateRem(55px);
    width: calculateRem(50px);
  }
}
.close.inside.icon{
  font-size: 0.875rem;
  padding: 0 !important;
  margin: 0 !important;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: 0px;
  position: absolute;
  top: 0;
  right: 0;
  }
