<div class="navbar navbar-static-top bs-docs-nav percept_header" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse percept_links" role="navigation">
            <ul class="nav navbar-nav" ng-show="!page.editor()">
                <li class="active">
                    <a href="javascript:void(0);">Home</a>
                </li>
                <li>
                    <div class="link_separator">|</div>
                </li>
                <li>
                    <a href="javascript:void(0);">My Course</a>
                </li>
            </ul>
            <ul class="nav navbar-nav" ng-show="page.editor()">
                <li>
                    <a href="javascript:void(0);" class="percept_image"><img class="img-responsive" src="/img/perceptron-logo.png" style="height: 25px" /></a>
                </li>
            </ul>
            <div class="page_title">
                {{page.courseTitle()}}
            </div>

            <ul class="nav navbar-nav navbar-right percept_links">
                <li class="user_link">
                    <div class="btn-group">
                          <a href="javascript:void(0);" class="user_link dropdown-toggle" data-toggle="dropdown">
                            <span class="username">Santhosh</span><span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="glyphicon glyphicon-cog"></i>Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="glyphicon glyphicon-search"></i>Help</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="glyphicon glyphicon-off"></i>Logout</a></li>
                          </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
