<sui-modal [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'normal'" class="sb-modal"
  #onboardingModal>
<div class="sb-onboard">
  <div class="sb-onboard__container">
    <div class="sb-onboard__header">
      <img [src]="tenantInfo?.logo" class="brand-logo" alt="logo" />
      <h1>{{resourceService?.frmelmnts?.lbl?.welcomeToInstance | interpolate:'{instance}': tenantInfo?.titleName}}</h1>
    </div>
    <div class="sb-onboard__content">
      <p class="subtitle">{{resourceService?.messages?.imsg?.m0075}}</p>
      <div class="schooling-location" *ngIf="deviceProfile" [appTelemetryImpression]="telemetryImpression">
        <sb-form *ngIf="sbFormLocationSelectionDelegate.locationFormConfig && sbFormLocationSelectionDelegate.locationFormConfig.length"
                 [config]="sbFormLocationSelectionDelegate.locationFormConfig"
                 (initialize)="sbFormLocationSelectionDelegate.onFormInitialize($event)"
                 (valueChanges)="sbFormLocationSelectionDelegate.onFormValueChange($event)"
                 (dataLoadStatus)="sbFormLocationSelectionDelegate.onDataLoadStatusChange($event)">
        </sb-form>
      </div>
    </div>

    <div class="sb-onboard__footer">
      <button type="button" class="sb-btn sb-btn-sm sb-btn-primary text-uppercase w-100" type="submit"
              [class.sb-btn-disabled]="sbFormLocationSelectionDelegate.formGroup?.dirty && sbFormLocationSelectionDelegate.formGroup?.invalid"
              [disabled]="sbFormLocationSelectionDelegate.formGroup?.dirty && sbFormLocationSelectionDelegate.formGroup?.invalid"
              (click)="updateUserLocation()">{{resourceService?.frmelmnts?.btn?.submit}}
        <span class='arrow-icon'>
          <em class="icon-svg icon-svg--xxs icon-back">
            <svg class="icon icon-svg--white">
              <use xlink:href="assets/images/sprite.svg#arrow-long-right"></use>
            </svg>
          </em>
        </span>
      </button>
    </div>
  </div>
</div>
</sui-modal>
