<div class="col-md-12 padTop" ng-if="enabled">
    <h4>Your {{metadata.interactionType == 'TutorQA' ? 'Reply' : 'Answer'}}</h4>
</div>
<div class="col-md-12" ng-if="enabled">
	<div class="uploadBtnContainer pull-right hide" file-model ng-model="interactionPost"></div>
    <textarea ng-il-pagedown ng-model="comment"></textarea>
    <!-- Preview uploaded files -->
        <div class="uploadFilePreview" ng-show="filePreview">
          <ul>
            <li ng-repeat="preview in attachments">
                <span ng-click="deleteFile($event)" class="cursorPointer" customAttr="{{preview.path}}"><i class="glyphicon glyphicon-trash"></i></span>
                <span><a href="{{preview.url}}" target="_blank">{{preview.displayName}}</a></span>
            </li>
          </ul>
        </div>
        <!-- Preview uploaded files -->
    <div class="pull-right padTop-30px padBottom-30px">
        <button class="btn btn-primary btn-sm" ng-click="answerInteraction(interaction, comment)">Post your {{metadata.interactionType == 'TutorQA' ? 'Reply' : 'Answer'}}</button>
    </div>
</div>