<span class="int-block int-icon" ng-if="enabled" ng-click="upVote(post)">
	<i class="fa fa-thumbs-o-up"></i>
</span>
<span class="int-block int-icon int-icon-grey" ng-if="disabled">
	<i class="fa fa-thumbs-up"></i>
</span>
<span class="int-block int-vote" ng-if="!hidden">{{(post.summaries.rateCount)? post.summaries.rateCount : '0 '}}</span>
<span class="int-block int-icon" ng-if="enabled" style="margin-left: 0px !important;" ng-click="downVote(post)">
	<i class="fa fa-thumbs-o-down"></i>
</span>
<span class="int-block int-icon int-icon-grey" style="margin-left: 0px !important;" ng-if="disabled">
	<i class="fa fa-thumbs-down"></i>
</span>