<div>
    <section id="lobPlayerSection">
        <span class="ask-qus-block pull-right">
                    <a style="padding-right:5px;" ng-click="askQuestion();" href="javascript:void(0)">Ask Question</a>|
                    <a ng-click="interactionsView();slideLeftMenu('qa');" href="javascript:void(0)">{{currentObject.summaries ? currentObject.summaries.qaCount : 0}} Question(s)</a>
        </span>
        <aside id="glanceDiv" class="il-aside" ng-show="showAtAGlance">
            <aside class="il-dt-atglance clearfix">
                <ul class="ul-style">
                    <li ng-class="{true : 'col-md-12', false: 'col-md-6'}[$last && $even ]" class="text-center il-dt-right" ng-repeat="count in currentObject.elements_count">
                        <h3>{{count.total}}</h3>
                        <p class="metadata_text">{{count.elementLabel}}</p>
                    </li>
                    <li class="col-md-12 text-center il-dt-right" ng-show="currentObject.learningTime">
                        <h3 class="atglance-time" ng-bind-html="renderHtml(currentObject.learningTime)"></h3>
                        <p class="metadata_text">Learning Time</p>
                    </li>
                    <li ng-class="{'col-md-6': currentObject.addedbyme_count.total > 0, 'col-md-12': currentObject.addedbyme_count.total <=0 }" class="text-center il-dt-right" ng-show="addlMaterialCnt">
                        <h3>{{addlMaterialCnt}}</h3>
                        <p class="metadata_text">Addl. Content</p>
                    </li>
                    <li ng-class="{'col-md-6': addlMaterialCnt > 0, 'col-md-12': addlMaterialCnt <=0 }" class="text-center il-dt-right" ng-show="currentObject.addedbyme_count.total > 0">
                        <h3>{{currentObject.addedbyme_count.total}}</h3>
                        <p class="metadata_text">Added by Me</p>
                    </li>
                </ul>
            </aside>
            <div>
                <img src="/img/box-shadow.png" class="il-imgBoxshadow" alt="box-shadow" />
            </div>
        </aside>
        <div class="il-introContent">
            <h3><span>{{course.name}}</span></h3>
            <h1>{{currentObject.name}}</h1>
            <div class="il-profile-cont">
                <div class="row drilling_display">
                    <div class="col-md-4 il-data-container" ng-show="currentObject.faculty">
                        <div class="il-contact-data">
                            <div class="pull-left il-contact-pic col-md-3 noPad">
                                <img class="small_pic" ng-src="{{currentObject.faculty.image}}" alt="User" />
                            </div>
                            <div class="pull-left il-contact-info col-md-9 noPad padLeft5">
                                <span class="il-display metadata_text">Lead faculty</span>
                                <a ui-sref="cbInstructor({lobId:'', instructorId:currentObject.faculty.identifier})" class="person_name">{{currentObject.faculty.name}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 il-data-container" ng-show="currentObject.tutors" ng-repeat="tutor in currentObject.tutors">
                        <div class="il-contact-data">
                            <div class="pull-left il-contact-pic col-md-3 noPad">
                                <img class="small_pic" ng-src="{{tutor.image}}" alt="User" />
                            </div>
                            <div class="pull-left il-contact-info col-md-9 noPad padLeft5">
                                <span class="il-display metadata_text">Tutor</span>
                                <a ui-sref="cbInstructor({lobId:'', instructorId:tutor.identifier})" class="person_name">{{tutor.name}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 il-data-container" ng-show="currentObject.owner">
                        <div class="il-contact-data">
                            <div class="pull-left il-icon-owned col-md-2 noPad">
                                <img src="/img/icon-owned.png" alt="User" />
                            </div>
                            <div class="pull-left il-contact-info col-md-10 noPad padLeft5">
                                <span class="il-display metadata_text">Source</span>
                                <span class="person_name">{{currentObject.owner}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <p id="lobDescription" class="common_content inlineDisplay">
                <span ng-bind-html="renderHtml(currentObject.description)"></span>
            </p>
        </div>
    </section>
    <!-- <div class="gadgetDiv rotateNote">
        <a href="javascript: void(0)" ng-click="showNotesPopup()"><i class="glyphicon glyphicon-plus-sign"></i> <span>Notes</span></a>
    </div>  -->
    <div class="action-icon-div-ct">
        <div class="content">
            <div class="pull-right"><a href="javascript:void(0);" class="pop-close-btn"><img class="btn_cross" src="/img/btn_cross.png"></a></div>
            <div id="sliderContentDiv"></div>
        </div>
    </div>
    <div class="col-md-12 noPad" ng-if="currentObject.lobType != 'course'">
        <div class="il-lesson-container">
            <div ng-show="currentObject.modules.length > 0">
                <h2>Modules</h2>
                <hr>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default no-top-border" ng-repeat="child in currentObject.modules">
                        <div ng-include="'child_list_template.html'"></div>
                    </div>
                </div>
            </div>
            <div ng-show="currentObject.lessons.length > 0">
                <h2>Lessons</h2>
                <hr>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default no-top-border" ng-repeat="child in currentObject.lessons" ng-init="lessonCollapsed=true">
                        <div ng-include="'child_list_template.html'"></div>
                    </div>
                </div>
            </div>
            <div ng-show="currentObject.binders.length > 0">
                <h2>Study Material</h2>
                <hr>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default no-top-border" ng-repeat="child in currentObject.binders" ng-init="lessonCollapsed=true">
                        <div ng-include="'child_list_template.html'"></div>
                    </div>
                </div>
            </div>
            <div ng-show="currentObject.lectures.length > 0">
                <h2 ng-if="currentObject.lobType != 'binder'">Lectures</h2>
                <h2 ng-if="currentObject.lobType == 'binder'">Supplementary Material</h2>
                <hr>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default no-top-border" ng-repeat="child in currentObject.lectures">
                        <div ng-include="'child_list_template.html'"></div>
                    </div>
                </div>
            </div>
            <div ng-show="currentObject.classrooms.length > 0">
                <h2>Coaching Sessions</h2>
                <hr>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default no-top-border" ng-repeat="child in currentObject.classrooms">
                        <div ng-include="'child_list_template.html'"></div>
                    </div>
                </div>
            </div>
            <div ng-show="currentObject.exercises.length > 0">
                <h2>Exercises</h2>
                <hr>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default no-top-border" ng-repeat="child in currentObject.exercises">
                        <div ng-include="'child_list_template.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 noPad" ng-if="relatedMaterial == true">
        <div class="il-rel-container">
            <h2>Additional Material</h2>

            <div class="row" ng-show="currentObject.addedbyme.length > 0">
                <div class="col-md-12">
                    <div class="il-sc-container">
                        <div class="il-sc-header" ng-class="{'il-dd-header': category.title.toLowerCase()=='drilldown', 'il-ch-header': category.title.toLowerCase()=='tutorials' || category.title.toLowerCase()=='101', 'il-ex-header': category.title.toLowerCase()=='explore'}">
                            <a href="javascript:void(0)"><h2 tooltip-placement="right" tooltip =""><i class="fa fa-bookmark fa-fw" style="font-size:27px; color:#000;"></i>Added By Me</h2></a>
                        </div>

                        <div class="il-rf-accordion" id="accordion">
                            <div class="" ng-repeat="child in currentObject.addedbyme">
                                <div ng-include="'added_by_me_template.html'"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="row" ng-repeat="category in currentObject.categories">
                <div class="col-md-12">
                    <div class="il-sc-container">
                        <div class="il-sc-header" ng-class="{'il-dd-header': category.title.toLowerCase()=='drilldown', 'il-ch-header': category.title.toLowerCase()=='tutorials' || category.title.toLowerCase()=='101', 'il-ex-header': category.title.toLowerCase()=='explore'}">
                            <a href="javascript:void(0)"><h2 tooltip-placement="right" tooltip ="{{category.description}}"><i class="il-rf-icon il-fileIcon"></i>{{category.title}}</h2></a>
                        </div>
                        <a class="collapse-link {{categoryCollapsed ? '' : 'collapsed'}}" ng-show="category.content && category.content.length > 2" ng-click="categoryCollapsed=!categoryCollapsed" >
                            <i class="il-collapse" ></i>
                        </a>
                         <div class="il-rf-accordion" >
                            <accordion ng-repeat="content in getCategoryContent(category.content,0,1)">
                                <accordion-group is-open="isOpen" ng-init="isOpen=true">
                                    <div ng-include="'/player/additionalMaterialTemplate.html'"></div>
                                </accordion-group>
                            </accordion>
                        </div>

                        <div class="il-rf-accordion" collapse="!categoryCollapsed" style="margin-top:-15px;">
                            <accordion ng-repeat="content in getCategoryContent(category.content,2,category.content.length-1)">
                                <accordion-group is-open="isOpen" ng-init="isOpen=true">
                                    <div ng-include="'/player/additionalMaterialTemplate.html'"></div>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
