@import "variables";
@import 'mixins/mixins';

.qq-uploader.qq-uploader-selector.custom-qq-uploader {
  background: inherit;
  border-color: none;
  border: none;
  max-height: inherit;
  min-height: inherit;
  overflow-y: inherit;
  width: calculateRem(688px);
  height: calculateRem(240px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.qq-upload-list.custom-qq-upload-list li {
  background: transparent;
}

.qq-upload-file.custom-qq-upload-file {
  font-size: 1.1em;
  font-weight: bold;
}

.upload-file-section {
  display: flex;
  height: calculateRem(240px);
  width: 100%;
  max-width: calculateRem(800px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--rc-F5F9FC);
  border: calculateRem(1px) dashed var(--primary-200);
}

.upload-file-description p {
  color: var(--gray-200);
}

.upload-file-description ul {
  margin: 0;
  list-style: disc;
}

.upload-file-description ul li {
  margin-bottom: calculateRem(8px);
  font-size: $font-size-sm;
}

.upload-file-description ul li a {
  cursor: pointer;
  font-size: $font-size-sm;
}

.licence-form {

  &__content {
    height: auto;
    border-radius: calculateRem(4px);


    &__fields {
      padding: calculateRem(16px) 0px;

      .sb-field {
        width: 50%;
        margin-top: 0px;
      }

      .space-btn-field {
        margin-left: calculateRem(16px);
      }
    }
  }

  .paragraph {
    color: var(--rc-9F9F9F);
    padding: calculateRem(24px) 0 calculateRem(32px) 0;

    .link {
      color: var(--primary-400);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.practical-header {
  height: calculateRem(98px);
  background: var(--primary-0) !important;

  &__title {
    max-width: calculateRem(680px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__content {
    .practical-sb-buttons {
      .sb-btn-file {
        border-top: calculateRem(1px) solid var(--primary-200);
        /* #7AB4EE;*/
        border-bottom: calculateRem(1px) solid var(--primary-200);
        /* #7AB4EE;*/
        border-left: calculateRem(1px) solid var(--rc-dddddd);
        border-right: calculateRem(1px) solid var(--rc-dddddd);
        background: var(--rc-E0F1FD);
        color: var(--primary-400);
      }

      .sb-btn-submit {
        background: var(--primary-200);
        /*#07BC81 */
        opacity: 50%;
        color: var(--white);
      }
    }
  }
}

.sb-field-group.textbook-edit {
  width: 100%;
  max-width: calculateRem(756px);

  textarea {
    height: calculateRem(64px);
    resize: none;
  }

  .characters-left {
    position: absolute;
    bottom: calculateRem(4px);
    right: calculateRem(8px);
    color: var(--gray-400);
    font-size: $font-size-xs;
  }
}

.sb-field sui-multi-select.ui.selection.dropdown {
  background: var(--white);
}

.warning-message {
  color: var(--red);
  font-size: calculateRem(11px);
  font-weight: normal;
}

.middle-section-set {
  max-width: calculateRem(854px);
  width: 100%;
  margin: 0 auto;

  .msg-box {
    margin: calculateRem(32px) auto;

    &__content {
      border: calculateRem(1px) dotted var(--primary-400);

      &__label {
        color: var(--rc-00BD7F);
        padding-bottom: calculateRem(6px);
      }

      &__error-msg {
        color: var(--red);
        padding-bottom: calculateRem(6px);
      }

      &__blank-box {
        height: 100%;
        width: 100%;
        border: calculateRem(1px) dotted var(--primary-200);
        background: var(--rc-F5F9FC);
        border-radius: calculateRem(4px);
      }
    }
  }
}

::ng-deep {
  .uploading-files {
    margin: calculateRem(24px) auto;

    .process-icon {
      width: calculateRem(48px);
      height: calculateRem(48px);
      margin-bottom: calculateRem(20px);
    }

    .ui.progress {
      margin: calculateRem(12px) calculateRem(24px) calculateRem(28px) calculateRem(24px) !important;
      width: 60%;
    }

    .ui.progress .bar {
      background: var(--tertiary-100);
      height: calculateRem(8px) !important;
    }
  }
}
