<div ng-init="announcementInboxData.renderAnnouncementList(2)" ng-controller="announcementInboxListController as announcementInboxData">
  <div class="ui grid ng-scope">
    <div class="nine wide column" ng-if="announcementInboxData.showDataDiv">
      <div class="ui">
        <div class="text dashBoardSectionHeading padding-top-10  margin-bottom-10">{{$root.frmelmnts.lbl.anncmntinboxannmsg}}</div>
      </div>
    </div>
    <div class="three wide column" ng-if="announcementInboxData.showDataDiv">
      <a class="ui right floated announcementSeeAllLink float-ContentRight" ui-sref="announcementInbox">{{$root.frmelmnts.lbl.anncmntinboxseeall}}</a>
    </div>
    <div class="twelve wide column" ng-if="announcementInboxData.showLoader">
      <app-loader></app-loader>
    </div>
    <!--<div class="twelve wide column" ng-if="!announcementInboxData.showLoader" ng-hide="announcementInboxData.showDataDiv">
      <div class="ui warning message">
        <div class="header">{{$root.frmelmnts.lbl.anncmntnotfound}}</div>
        {{$root.frmelmnts.lbl.anncmntinboxmsg}}
      </div>
    </div>-->
  </div>
  <div class=" margin-bottom-10" ng-include="'views/announcement/announcementInboxListCard.html'" ng-if="announcementInboxData.showDataDiv"></div>
</div>
<!-- Mock data -->
<div class="ui grid">
  <div class="row">
    <div class="tweleve wide column">
      <h6 class="ui horizontal divider header">
    <span>Your news feed</span>
    </h6>
    </div>
  </div>
</div>
<div class="ui segment blur-content">
  <h4>What is the size of earth ?</h4>
  <div class="description">
    <div class="ui list">
      <div class="item">
        <img class="ui avatar image" ng-src="/common/images/user_logo.png">
        <div class="content">
          <div class="header">Phanil Bhushan</div>
          <div class="description">Chemistry coach</div>
        </div>
      </div>
    </div>
    <p> I will write after this. this is second paragraph it can lead to long paragraph</p>
    <img ng-src="/common/images/earthImage.jpg">
  </div>
</div>
<div class="ui segment blur-content">
  <h4>What is the size of earth ?</h4>
  <div class="description">
    <div class="ui list">
      <div class="item">
        <img class="ui avatar image" ng-src="/common/images/user_logo.png">
        <div class="content">
          <div class="header">Phanil Bhushan</div>
          <div class="description">Chemistry coach</div>
        </div>
      </div>
    </div>
    <p> I will write after this. this is second paragraph it can lead to long paragraph</p>
  </div>
</div>