<div id="contentPlayer" ng-init="init()" class="padding-top-30">
    <div class='videosegment ui segment' ng-if="visibility" id="player-auto-scroll">

        <div class='content-player-body'>
            <div class="videosegment  ui clearing segment" ng-if="isHeader || isClose">
                <div class="ten wide column">
                    <span class="ui HomeAccordianHeading left floated header" ng-if="isHeader">
                        {{contentData.name}}
                    </span>
                </div>
                <div class="two wide column" ng-if="isClose">
                    <h5 class="ui right floated basic icon circular button margin-auto mouse-pointer" ng-click="close()">
                        <i class="ui remove icon"></i>
                    </h5>
                </div>
            </div>
            <div class="ui stackable twelve column grid">
                <div class="twelve wide column">
                    <div class="content-player" ng-if="showIFrameContent">
                        <iframe id="contentViewerIframe" class="contentViewerIframeShadow" height='100%' width='100%'></iframe>
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="ui grid">
                        <div class="eight wide column">
                            <div class="twelve wide column">
                                <div class="ui raised segment">
                                    <div ng-if="contentData.description" class="margin-bottom-20">
                                        <div class="header announcementCard-header margin-bottom-10">
                                            <span class="header cardsHeading ng-binding"> {{$root.frmelmnts.lbl.description}} </span>
                                        </div>
                                        <div class="description" ng-init="contentPlayerCtrl.readMore = false">
                                            <div ng-if="!contentPlayerCtrl.readMore">
                                                <span class="overflow-word-wrap">{{contentData.description | limitTo: 150 }}&nbsp;</span>
                                                <span class="ui cardsKnowMore mouse-pointer" ng-if="contentData.description.length > 150 && contentPlayerCtrl.readMore === false"
                                                    ng-click="contentPlayerCtrl.readMore = !contentPlayerCtrl.readMore;">{{$root.frmelmnts.lbl.readmore}} </span>
                                            </div>
                                            <div class="overflow-word-wrap" ng-if="contentPlayerCtrl.readMore"> {{contentData.description}}&nbsp;
                                                <span class="ui cardsKnowMore mouse-pointer" ng-click="contentPlayerCtrl.readMore = false;">{{$root.frmelmnts.lbl.readless}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="header announcementCard-header">
                                        <span class="header cardsHeading ng-binding">{{$root.frmelmnts.lbl.contentinformation}}</span>
                                    </div>
                                    <div class="ui middle aligned list margin-top-0">

                                        <div class="item padding-top-10 padding-bottom-5" ng-if="contentData.creator">
                                            <div class="ui grid">
                                                <div class="three wide column">
                                                    <div class="content content-detail">
                                                        <div class="ui ">{{$root.frmelmnts.lbl.author}}</div>
                                                    </div>
                                                </div>
                                                <div class="nine wide column">
                                                    <div class="content">
                                                        {{contentData.creator}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item padding-top-10 padding-bottom-5" ng-if="contentData.language">
                                            <div class="ui grid">
                                                <div class="three wide column">
                                                    <div class="content content-detail">
                                                        <div class="ui ">{{$root.frmelmnts.lbl.medium}}</div>
                                                    </div>
                                                </div>
                                                <div class="nine wide column">
                                                    <div class="content">
                                                        {{contentData.language}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item padding-top-10 padding-bottom-5" ng-if="contentData.gradeLevel">
                                            <div class="ui grid">
                                                <div class="three wide column">
                                                    <div class="content content-detail">
                                                        <div class="ui">{{$root.frmelmnts.lbl.class}}</div>
                                                    </div>
                                                </div>
                                                <div class="nine wide column">
                                                    <div class="content">
                                                        {{contentData.gradeLevel}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item padding-top-10 padding-bottom-5" ng-if="contentData.subject">
                                            <div class="ui grid">
                                                <div class="three wide column">
                                                    <div class="content content-detail">
                                                        <div class="ui">{{$root.frmelmnts.lbl.subject}}</div>
                                                    </div>
                                                </div>
                                                <div class="nine wide column">
                                                    <div class="content">
                                                        {{contentData.subject}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item padding-top-10 padding-bottom-5" ng-if="contentData.createdOn">
                                            <div class="ui grid">
                                                <div class="three wide column">
                                                    <div class="content content-detail">
                                                        <div class="ui">{{$root.frmelmnts.lbl.createdon}}</div>
                                                    </div>
                                                </div>
                                                <div class="nine wide column">
                                                    <div class="content">
                                                        {{contentData.createdOn| dateFilterWithMDY}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="item padding-top-10 padding-bottom-5" ng-if="contentData.lastUpdatedOn">
                                            <div class="ui grid">
                                                <div class="three wide column">
                                                    <div class="content content-detail">
                                                        <div class="ui">{{$root.frmelmnts.lbl.lastupdate}}</div>
                                                    </div>
                                                </div>
                                                <div class="nine wide column">
                                                    <div class="content">
                                                        {{contentData.lastUpdatedOn| dateFilterWithMDY}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item padding-top-10 padding-bottom-5" ng-if="contentData.concepts.length > 0">
                                            <div class= "ui grid">
                                                <div class="three wide column">
                                                  <div class="content content-detail">
                                                    <div class="ui">{{$root.frmelmnts.lbl.concept}}</div>
                                                  </div>
                                                </div>
                                                <div class="nine wide column">
                                                  <div class="content overflow-word-wrap">
                                                   {{getConceptsNames(contentData.concepts)}}
                                                  </div>
                                                </div>
                                            </div>
                                         </div>
                                    </div>
                                </div>
                            </div>
                            <div class="twelve wide column margin-top-20" ng-show="!(contentData.status === 'Unlisted' || contentData.status === 'Processing')">
                                <course-discussions showaskquestion="false"></course-discussions>
                            </div>
                        </div>
                        <div class="four wide column">
                            <note-card shownotecard="true" contentid="contentData.identifier"></note-card>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="errorObject.showError">
                <div class="ui active dimmer inverted">
                    <div class="content">
                        <div class="center" ng-if="!errorObject.showMetaLoader">
                            <h2 class="ui header {{errorObject.messageClass}}">
                                {{errorObject.message}}
                            </h2>
                            <span ng-if="errorObject.showTryAgainButton">
                                <button class="ui button" ng-click="init()">{{$root.frmelmnts.lbl.tryagain}}</button>
                            </span>
                            <span ng-if="errorObject.showCloseButton">
                                <button class="ui red button" ng-click="close()">{{$root.frmelmnts.lbl.close}}</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>