<app-modal-wrapper [config]="{disableClose: true, size: 'normal', width: '45rem'}" (dismiss)="closeModal()" #modal>
  <ng-template sbModalContent>
    <div mat-dialog-title class="mb-0">
      <h2 class="mb-0" tabindex="0" *ngIf="!showFormInViewMode">{{resourceService?.frmelmnts?.cert?.lbl?.certPreview }}
      </h2>
      <button mat-mini-fab color="warn" mat-dialog-close aria-label="close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <div class="cert-preview-img"><img [src]="certTemplateURL(template?.artifactUrl)"></div>
    </div>

    <mat-dialog-actions align="end">
      <button mat-raised-button class="button-rounded mr-8" tabindex="0" (click)="closeModal()">
        {{resourceService?.frmelmnts?.btn?.close}}
      </button>
      <button mat-raised-button color="accent" class="button-rounded" tabindex="0" (click)="closeModal('select')">
        {{resourceService?.frmelmnts?.cert?.lbl?.selectTemplate}}
      </button>
    </mat-dialog-actions>

  </ng-template>
</app-modal-wrapper>