<sui-modal [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'large'"
  class="sb-modal sb-cert-preview-modal" appBodyScroll (dismissed)="closeModal()" #modal>
  <div class="sb-modal-header">
    Certificate Preview
  </div>
  <div class="sb-modal-content">
    <div class="cert-preview-img"><img [src]="template?.value"></div>
  </div>
  <div class="sb-modal-actions">
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="closeModal('select')">
      Select template
    </button>
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="closeModal()">
      Close
    </button>
  </div>
</sui-modal>