<sui-modal
    [mustScroll]="true" 
    [isClosable]="false"
    [transitionDuration]="0"
    [size]="'normal'"
    class="sb-modal"
    appBodyScroll
    (dismissed)="redirect()" 
    #modal 
    *ngIf="showModal"
    >

    <i class="icon close" (click)="modal.deny('denied')" tabindex="0"></i>
    
    <!--Header-->
    <div class="sb-modal-header">
        {{resourceService.frmelmnts.btn.checkListPublish}}
    </div>
    <!--/Header-->

    <!--Content-->
    <div class="sb-modal-content">
        <div *ngIf="publishCheckListData">
            <div class="ui small header">
                <h4>{{publishCheckListData.title}}</h4>
            </div>
            <div class="ui three column grid">
                <div class="column" *ngFor="let list of publishCheckListData.contents">
                    <h5 class="ui tiny header">{{list.name}}</h5>
                    <div class="ui list" *ngFor="let item of list.checkList;">
                        <div class="item">
                            <div class="ui checkbox checklist">
                                <input type="checkbox" #inputFields class="listItem" tabindex="0" (click)="createCheckedArray(item)">
                                <label>{{item}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="showDefaultConfig">
            <h5 class="ui small header">{{checkListData.publish.title}}</h5>
        </div>
        <div *ngIf="showloader">
            <app-loader></app-loader>
        </div>
    </div>
    <!--/Content-->

    <!--Actions-->
    <div class="sb-modal-actions">
        <button 
            class="sb-btn sb-btn-normal sb-btn-primary" 
            type="button" 
            tabindex="0" (click)="submitPublishChanges()"
        >
            {{resourceService?.frmelmnts?.btn?.checklistPublish}}
        </button>
        <button 
            class="sb-btn sb-btn-normal sb-btn-outline-primary mr-8" 
            type="button" 
            tabindex="0" (click)="redirect();modal.deny();"
        >
            {{resourceService?.frmelmnts?.btn?.checklistCancel}}
        </button>
    </div>
    <!--/Actions-->
</sui-modal>