<div class="mat-body-1 font-weight-bold" *ngIf="showLabel()">
  {{resourceService?.frmelmnts?.lbl?.appliedFilters}}
</div>
<div *ngIf="showLabel()" class="d-flex flex-ai-center mb-24 flex-w-wrap">
  <ng-container *ngFor="let facet of facets | sortBy:'index':'asc'">
    <div class="d-flex flex-ai-center pr-8 mt-8" *ngIf="selectedFilters[facet.name] && selectedFilters[facet.name].length > 0">
      <label class="m-0">{{facet.label}} :&nbsp;</label>
      <ng-container *ngFor="let item of selectedFilters[facet.name]">
        <mat-chip-list aria-label="filter selection" class="mr-8">
          <mat-chip *ngIf="item && item.length > 0">{{item}} 
            <button matChipRemove>
              <mat-icon tabindex="0" (click)="removeFilterSelection({type: facet.name, value: item})">cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>
      </ng-container>
    </div>
  </ng-container>
</div>
