@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.sbt-applied-filters-title{
    height: calculateRem(14px);
    font-size: calculateRem(11px);
    font-weight: bold;
}
.ui.label{ 
  height: calculateRem(24px);
  border-radius: calculateRem(4px);
  box-shadow: var(--sbt-box-shadow-3px);
  line-height: calculateRem(24px);
  &.sbt-label-purple{
    background: var(--sbt-theme-purple-selectbox-lbg);
  }
  &.sbt-label-green{
    background: var(--sbt-theme-green-selectbox-lbg);
  }
  &.sbt-label-blue{
    background: var(--sbt-theme-blue-selectbox-lbg);
  }
  &.sbt-label-light-blue{
    background: var(--sbt-theme-light-blue-selectbox-lbg);
  }
}
 