@import 'variables';
@import 'mixins/mixins';

.practical-appbar {
  background: var(--primary-400);
  height: calculateRem(48px);

  &__content {
    height: 100%;

    .back-label {
      color: var(--white);
    }
  }

  &__item {
    color: rgba(var(--rc-rgba-black), 0.5);
    height: 100%;
    padding: calculateRem(16px) calculateRem(24px);
    font-size: calculateRem(14px);
    color: var(--white) !important;

    &.active,
    &:hover {
      background: var(--rc-042D55);
    }

    &:hover {
      cursor: pointer;
    }
  }
}
