<div class="mat-inside-page-container mat-app-background2 view-all-component">
    <div class="sb-g" [appTelemetryImpression]="telemetryImpression">
        <div [ngClass]="FIRST_PANEL_LAYOUT" style="display: none;">
            <app-global-search-filter [queryParamsToOmit]="facetsList" [layoutConfiguration]="layoutConfiguration"
                [facets]="facets" [isOpen]='true' *ngIf="initFilters" (filterChange)="getFilters($event)">
            </app-global-search-filter>
        </div>
        <div [ngClass]="SECOND_PANEL_LAYOUT" [appTelemetryImpression]="telemetryImpression">
            <div class="d-flex flex-ai-center flex-jc-space-between" *ngIf="!showLoader">
                    <h4 class="mat-title m-0 mr-5">{{get(resourceService, sectionName) ||
                        sectionName}} <span *ngIf="totalCount"
                        class="bgcolor-warn p-2 br-4 mat-subheading-2">{{totalCount}}</span></h4>
                    <button mat-raised-button color="warn" class="button-rounded" appTelemetryInteract [telemetryInteractEdata]="closeIntractEdata"
                        type="button" (click)="handleCloseButton()" tabindex="0">{{resourceService?.frmelmnts?.btn?.close}} <mat-icon>close</mat-icon></button>
                </div>
            <div class="mt-16" *ngIf="!showLoader && !noResult">
                <div class="sb-grid">
                    <div class="" *ngFor="let content of searchList;let i = index;">
                        <!-- <ng-container *ngIf="!layoutConfiguration">
                            <app-card appContentDirection appTelemetryInteract
                                [telemetryInteractEdata]="cardIntractEdata"
                                [telemetryInteractObject]="{id:content.metaData.identifier,type:content.metaData.contentType || 'Content',ver:content.metaData.pkgVersion ? content.metaData.pkgVersion.toString():'1.0'}"
                                (clickEvent)="playContent($event)" [data]="content"></app-card>
                        </ng-container> -->
                        <ng-container>
                            <sb-library-card [indexToDisplay]="i" [layoutConfig]="layoutConfiguration"
                                appTelemetryInteract [telemetryInteractEdata]="cardIntractEdata"
                                [telemetryInteractObject]="{id:content.metaData.identifier,type:content.metaData.contentType || 'Content',ver:content.metaData.pkgVersion ? content.metaData.pkgVersion.toString():'1.0'}"
                                (cardClick)="playContent($event, content)" (enterKey)="playContent($event, content)"
                                [content]="content"
                                [cardImg]="content?.image || 'assets/images/book.png'"></sb-library-card>
                        </ng-container>

                    </div>
                </div>
            </div>
            <div class="mt-16" *ngIf="noResult && !showLoader">
                <app-no-result [data]="noResultMessage"></app-no-result>
            </div>
            <div class="mt-16" *ngIf="showLoader">
                <app-loader [data]='loaderMessage'></app-loader>
            </div>
            <div class="ml-auto py-0 mt-16" *ngIf="searchList && totalCount > configService.appConfig.SEARCH.PAGE_LIMIT && !showLoader && !noResult">
                <div class="sb-pagination-container flex-jc-flex-end" *ngIf="pager && pager.pages.length">
                    <div class="sb-pagination my-0">
                        <a role="button" title="{{resourceService?.frmelmnts?.lbl?.first}}"
                            attr.aria-label="{{resourceService?.frmelmnts?.lbl?.first}}"
                            [ngClass]="{disabled:pager.currentPage===1 }" class="sb-item " tabindex="0"
                            (click)="navigateToPage(1) ">&laquo;</a>
                        <a role="button" title="{{resourceService?.frmelmnts?.lbl?.previous}}"
                            attr.aria-label="{{resourceService?.frmelmnts?.lbl?.previous}}"
                            [ngClass]="{disabled:pager.currentPage===1 }" class="sb-item " tabindex="0"
                            (click)="navigateToPage(pager.currentPage - 1)">&lt;</a>
                        <a role="button" aria-current="page" attr.aria-label="{{page}}"
                            *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}" tabindex="0"
                            (click)="navigateToPage(page)" class="sb-item">{{page}}</a>
                        <a role="button" title="{{resourceService?.frmelmnts?.lbl?.next}}"
                            attr.aria-label="{{resourceService?.frmelmnts?.lbl?.next}}"
                            [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" tabindex="0"
                            (click)="navigateToPage(pager.currentPage + 1)" class="sb-item">&gt;</a>
                        <a role="button" title="{{resourceService?.frmelmnts?.lbl?.last}}"
                            attr.aria-label="{{resourceService?.frmelmnts?.lbl?.last}}"
                            [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" tabindex="0"
                            (click)="navigateToPage(pager.totalPages)" class="sb-item">&raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-batch-info *ngIf="showBatchInfo" [enrolledBatchInfo]="selectedCourseBatches" (modelClose)="showBatchInfo = false">
</app-batch-info>