.ui.message {
    border-radius: opx !important;
    box-shadow: none !important;
    background: #fff !important;
}
.header {
    font-weight: 300;

}
.sb-last-update-status {
    width:30%;
    float:right;

}
.item {
    width: 65%;
}