@import "mixins/mixins";

:host::ng-deep {

    .help-page {

        &__content {
            margin-top: calculateRem(24px);
            .panel {
                .panel-heading, .panel-interact, .panel-info {
                    background: var(--white);
                }
                .panel-info {
                    max-width: 100%;
                    padding: calculateRem(16px);
                }
            }
        }

        &__visit-helpcenter {
            background-color: var(--white);
            .visit-helpcenter__text {
                @include respond-below(sm) {
                    flex-basis: 50%;
                }
            }
        }
    }

    .extraTemplate {
        @include respond-below(sm) {
            flex-wrap: wrap;
            .visit-helpcenter__text, .visit-helpcenter__btn {
                flex-basis: 100%;
            }
            .visit-helpcenter__btn {
                margin-top: 16px;
            }
        }
    }
}