<div class="bg-image" [appTelemetryImpression]="telemetryImpressionData">
    <div class="loginform">
        <div class="loginform__content">

            <div class="loginform__content__header">
                <img src="assets/images/SUNBIRD.svg" alt="SUNBIRD">
            </div>

            <!-- Slides -->
            <div class="d-flex">
                <div class="swiper-slide " *ngIf="slides[activeSlide] =='slide-1'">
                    <app-onboarding-location (selectedLocation)="getLocationData($event)" [userLocationData]="saveUserLocation.asObservable()"></app-onboarding-location>
                </div>
            </div>

            <div class="bullets-container">
                <!-- <div class="circle active update completed" *ngFor="let slide of slides;let i =index;" (click)="showNextContent(i)" ></div> -->
                <div class="circle active"></div>
                <div class="circle update" [ngClass]="{'completed': disableContinueBtn}"></div>
                <!-- <div class="circle complete"></div> -->
            </div>
            <button type="button" [disabled]="disableContinueBtn" class="sb-btn sb-btn-primary sb-btn-sm" (click)="saveUserData()" appTelemetryInteract [telemetryInteractEdata]="telemetryInteractEdata" [telemetryInteractContext]="{env:'onboarding'}">
                {{continueLabel}}
            <span class='arrow-icon'><i class="arrow right icon"></i></span></button>
        </div>

    </div>
</div>