<sui-modal [mustScroll]="false" [isClosable]="true" [transitionDuration]="0" [size]="'large'"
  class="sb-modal sb-modal-video-gallery" appBodyScroll (dismissed)="closeModal();" #modal>
  <div *ngIf="slideData">
    <div class="sb-modal-header">
      {{activeVideoObject.name}}
    </div>
    <div class="sb-modal-content p-0 d-flex flex-dc">
      <div class="responsive">
        <video id="video" autoplay width="560" height="349" controls class="sb-offline-video-player"
          src="{{activeVideoObject.url}}">
        </video>
      </div>
      <div class="sb-pageSection sb-offline-video-player-container">
        <div class="sb-pageSection-content px-8">
          <ngx-slick class="carousel" [config]="slideConfig">
            <div ngxSlickItem class="mr-8" *ngFor="let video of slideData">
              <div class="sb-card sb-offline-video-list" [ngClass]="{active:activeVideoObject.id === video.id }"
                (click)="changeVideoAttributes(video)" appTelemetryInteract [telemetryInteractEdata]="selectVideoInteractEdata">
                <div class="sb-card-body">
                  <div class="sb-card-metas">
                    <div class="sb-card-image relative position mr-8">
                      <img class="thumbnail" src="{{video.thumbnail}}">
                    </div>
                    <div class="sb-card-meta course" title="{{video.name}}">
                      {{video.name}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ngx-slick>
        </div>
      </div>
    </div>
  </div>
</sui-modal>