@media (min-width: 992px) {
    .footer .sideline {
      border-left: 1px solid #888;
      min-height: 80px;
    height: fit-content; } }

.footer {
    background: #505050;
    height: fit-content
}