@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.ui.image {
  height: calculateRem(150px);
  overflow: hidden;
}

.card-component-description {
  color: var(--rc-7c7b7b);
  font-size: 1em;
  height: 2.8em;
  max-height: 2.8em;
  overflow: hidden;
  overflow-wrap: break-word;
}

.ui.cards>.card.workspace-card {
  width: calculateRem(240px);
}

.ui.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -.875em -.5em -.875em 0;
}

.ui.cards>.card {
  margin: .875em .5em .875em 0.1em;
}

.ui.circular.label.card-badges-image {
  left: calculateRem(10px);
  position: absolute;
  top: calculateRem(9px);
}

.ui.card:hover {
  box-shadow: 0 calculateRem(1px) calculateRem(3px) 0 var(--gray-100), 0 0 0 calculateRem(1px) var(--gray-100);
}

.disable {
  visibility: hidden;
}

.sliderCardHeading {
  font-weight: bold;
  font-size: 1.1875em;
  float: left;
  padding-left: calculateRem(10px);
}

.courseHeader-rating.ui.star.rating .active.icon {
  background: 0 0 !important;
  color: var(--primary-color) !important;
  text-shadow: none !important;
}

.cardImageText {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(var(--rc-rgba-black), 0.2);
  color: var(--white);
  width: 100%;
  margin: 0;
  max-height: calculateRem(70px);
  padding-top: calculateRem(10px);
  padding-bottom: calculateRem(10px);
  text-align: center;
}
