<div class="ui link popular-section" *ngIf="section.contents && section.contents.length > 0">
    <h4 class="ui header card-section-header sectionHeading">{{section.name}}
        <span class="ui red circular inline label">{{section.contents.length}}</span>
    </h4>
    <div>
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let content of section.contents" class="slide">    
                <app-content-card [content]="content"></app-content-card>
            </div>
        </ngx-slick>
    </div>
</div>