.sbCard,
.profileCard {
    .ui.progress,
    &.blue{
        border-radius: 0 0 4px 4px;
        background-color: $progressbar-color;
        margin: 0;
        .bar{
            background: $progressbar-gradient;
            border-radius: 0 4px 4px 4px;
            height: 4px;
            min-width: 0;
            .progress{
                display:none;
            }
        }
        .label{
            display:none;
        }
        &.success{
            .bar{
                background: $progressbar-gradient-success !important;
            }
        }
    }
}