.ui.primary-header.logo img{
    position: absolute;
    height: 56px;
    max-height:56px;
    top: 15px;
}
.notification-icon {
    width: 20px !important;
    height: 24px;
}                           
.ui.text.primary-nav.menu .item {
    font-size: 14px;
    color: #666666;  
}
.ui.text.primary-nav.menu .item:hover {
    color: $primary-color;  
    background: #fff;
}
.ui.text.primary-nav.menu .item.border-right {
    border-right: 0.5px solid;
    border-color: $header-seperator;
    padding-right: 13px;
}
@media only screen and (max-width: 767px) {
    .ui.primary-header.logo img{
      position: absolute;
      height: 56px;
      max-height: 56px;
      top: 5px;
      left: 10px;
    } 
    .height-170 {
      height:170px !important;
    } 
     .header-fix {
      height: 100px !important;
    }
}
.ui.large.secondary.menu {
    display:flex;
}
.ui.text.primary-nav.menu .item.active{
    color: $link-color;
    font-weight: bold;
}
.ui.menu.fixed{
    max-width: 100vw;
}

.mc-nonuser,
.mc-user {
  padding-top: 160px !important;
}

@media screen and (min-width: 1100px) {
  .mc-nonuser,
  .mc-user {
    padding-top: 80px !important;
  }
}