.ui.menu.fixed{
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  margin-bottom: -1px;
}
.primary-header {
  justify-content: space-between;
  align-items: center !important;

  @media screen and (max-width: 768px) {
    padding: 5px;
  }
  
  .logo img {
    height: 56px;
    max-height:56px;
  }
}    
                   
.ui.text.primary-nav.menu {
  .item {
    font-size: 14px;
    color: #666666;

    &:hover {
      color: $link-color;  
      background: #fff;
      color: $primary-color;
    }
    &.active{
      color: $link-color;
      font-weight: bold;
    }
  }
}

.ui.visible.right.sidebar ~ .fixed,
.ui.visible.right.sidebar ~ .pusher {
  transform: translate3d(0, 0, 0) !important;
  height: 100vh;
}
.ui.visible.uncover.sidebar {
  z-index: 4;
  border: 0;
}

@media screen and (max-width: 768px){
  app-page-section .twelve.wide.column {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
}