.ui.primary-header .logo img{
    height: 56px;
    max-height:56px;
}                         
.ui.text.primary-nav.menu .item {
    font-size: 14px;
    color: #666666;  
}
.ui.text.primary-nav.menu .item:hover {
    color: $primary-color;  
    background: #fff;
}
.ui.text.primary-nav.menu .item.border-right {
    border-right: 0.5px solid;
    border-color: $header-seperator;
    padding-right: 13px;
}

.ui.text.primary-nav.menu .item.active{
    color: $link-color;
    font-weight: bold;
}

.ui.visible.right.sidebar ~ .fixed,
.ui.visible.right.sidebar ~ .pusher{
    transform: translate3d(0, 0, 0) !important;
}
.ui.visible.uncover.sidebar{
    z-index: 4;
}
.mc-nonuser,
.mc-user {
  padding-top: 160px !important;
}

@media screen and (min-width: 1100px) {
  .mc-nonuser,
  .mc-user {
    padding-top: 107px !important;
  }
}