.ui.progress {
  .bar {
    background: $progressbar-gradient;
    height: 4px !important;
    min-width: 0;

    .progress {
      display: none;
    }
  }
}

.ui.progress.blue .bar {
  background-color: $progressbar-gradient !important;
}

.ui.progress.success .bar {
  background-color: $progressbar-gradient-success !important;
}

.ui.progress .label {
  display: none;
}
