<div class="center aligned twelve column row padding-top-2rem headerBackground">
    <div class="one wide column"></div>
    <div class="two wide column">
        <a ui-sref="Home">
            <img class="image centered header-logo" ng-src="{{orgLogo || '/common/images/sunbird_logo.png'}} ">
        </a>
    </div>
    <div class="six wide column padding-top-1rem">
        <search type="searchKey"></search>
    </div>
    <div class="one wide column">
        <div class="content dropdown-content alarm-icon-header">
<!--            <select ng-model="$root.language">
                <option value="en">English</option>
                <option value="te">Telugu</option>
                <option value="ta">Tamil</option>
            </select>-->
        </div>
    </div>
    <div class="one wide column">
        <i class="float-ContentLeft alarm-icon-header alarm icon large alaramIconColor"></i>
        <div class="ui floating dropdown right top pointing
             header-user-container padding-top-circular-human-icon" id="dropdown-menu-list-header">
            <img ng-src="{{ avatar || '/common/images/user_logo.png'}}" class="ui circular image logged-in-user" />
            <div class="menu">
                <div class="item headerDropdownProfile" ng-if="firstName">{{firstName}}&nbsp;{{lastName}}</div>
                <div ng-if="firstName" class="ui divider"></div>
                <a class="item" href="#" ui-sref-active="active" ui-sref="Profile" ng-click="$root.generateInteractEvent('profile','','user','1.0','profile','profile-read')">{{$root.frmelmnts.lnk.profile}}</a>
                <a class="item" href="#" ui-sref-active="active" ui-sref="orgDashboard" ng-if="initializePermissionDirective && organisationIds[0]" sb-permissions permission-only="ORG_ADMIN,SYSTEM_ADMINISTRATION" ng-click="$root.generateInteractEvent('profile','','dashboard','1.0','admin-dashboard','profile-organization-dashboard')">{{$root.frmelmnts.lnk.dashboard}}</a>
                <a class="item" href="#" ui-sref-active="active" ui-sref="announcementOutbox" ng-if="initializePermissionDirective" sb-permissions permission-only="ANNOUNCEMENT_SENDER" ng-click="$root.generateInteractEvent('announcement','','announcement','1.0','announcement','announcement-read')">{{$root.frmelmnts.lnk.announcement}}</a>
                <a class="item" href="#" ui-sref-active="active" ui-sref="WorkSpace" ng-if="initializePermissionDirective" sb-permissions permission-only="CONTENT_CREATOR,CONTENT_CREATION,CONTENT_REVIEWER,CONTENT_REVIEW,FLAG_REVIEWER,COURSE_MENTOR" ng-click="$root.generateInteractEvent('workspace','','workspace','1.0','workspace','workspace-read')">{{$root.frmelmnts.lnk.workSpace}}</a>
                <a class="item" ng-class="myActivityMenuActive" href="#" sb-permissions permission-only="CONTENT_CREATOR" ng-if="initializePermissionDirective" ui-sref="MyActivity" ng-click="$root.generateInteractEvent('user-management','','myactivity','1.0','profile-course-creator-dashboard','myactivity')">{{$root.frmelmnts.lnk.myactivity}}</a>
                <a class="item" href="#" sb-permissions permission-only="SYSTEM_ADMINISTRATION" ui-sref="Setup">Setup</a>
                <a class="item" ng-click="logout();">{{$root.frmelmnts.lnk.logout}}</a>
            </div>
        </div>
    </div>
    <div class="one wide column"></div>
</div>
