<a class="item"  ui-sref="Home" href="home"  ng-class="homeActive" ng-click="$root.generateInteractEvent('home', 'home', 'home', 'home')">
    {{$root.frmelmnts.tab.home}}
    </a>
<a class="item" ui-sref="Courses" href="learn" ng-class="courseActive" ng-click="$root.generateInteractEvent('course', 'course', 'course', 'course')">
    {{$root.frmelmnts.tab.courses}}
    </a>
<a class="item" ui-sref="Resources" href="resources" ng-class="resourcesActive" ng-click="$root.generateInteractEvent('library', 'library', 'library', 'library')">
      {{$root.frmelmnts.tab.resources}}
    </a>
<a class="item" href="#" ui-sref-active="active" ui-sref="Community" ng-click="$root.generateInteractEvent('groups', 'groups', 'groups', 'groups')">
      {{$root.frmelmnts.tab.community}}
    </a>
<a class="item" href="#" ui-sref="Profile" ng-class="profileActive" ng-click="$root.generateInteractEvent('profile', 'profile', 'profile', 'user')">
      {{$root.frmelmnts.tab.profile}}
    </a>