<a class="item"  ui-sref="Home" href="home"  ng-class="homeActive">
    {{$root.frmelmnts.tab.home}}
    </a>
<a class="item" ui-sref="Courses" href="learn" ng-class="courseActive">
    {{$root.frmelmnts.tab.courses}}
    </a>
<a class="item" ui-sref="Resources" href="resources" ng-class="resourcesActive">
      {{$root.frmelmnts.tab.resources}}
    </a>
<a class="item" href="#" ui-sref-active="active" ui-sref="Community">
      {{$root.frmelmnts.tab.community}}
    </a>
<a class="item" href="#" ui-sref="Profile" ng-class="profileActive">
      {{$root.frmelmnts.tab.profile}}
    </a>