<div apply-script class="ui accordion" id='content-search-filter-accordion'>
    <div class="ui twelve column grid">
        <div class="ten wide column">
            <div class="twelve wide column title">
                <div class="ui grid">
                    <div class="ten wide column">
                        <i class="icon filter"></i> <span class="ShowFilterTitle">Show Filters</span>
                        <i class="dropdown icon"></i>
                    </div>
                </div>
            </div>
            <div class="twelve wide column content">
                <div class="filtercolmntext ui grid">
                    <div class="one wide column filter-text">
                        <span class="ShowFilterSubTitle">Filter by:</span>
                    </div>
                    <div class="two wide column">
                        <select name="language" class="filtersearch ui selection resource-search-filter dropdown" multiple="" id="multi-select" ng-value="option.value" ng-options=" language for language in search.languages" ng-model="search.selectedLanguage">
                                        <option value="">Languages</option>
                                    </select>
                    </div>
                    <div class="two wide column">
                        <select name="Lesson Type" class="filtersearch ui selection resource-search-filter dropdown" multiple="" id="multi-select" ng-value="option.value" ng-options=" contentType for contentType in search.contentTypes" ng-model="search.selectedContentType">
                                        <option value="">Types</option>
                                    </select>
                    </div>
                    <div class="two wide column">
                        <select name="Subject" class="filtersearch ui selection resource-search-filter dropdown" multiple="" id="multi-select" ng-value="option.value" ng-options=" subject for subject in search.subjects" ng-model="search.selectedSubject">
                                        <option value="">Subjects</option>
                                    </select>
                    </div>
                    <div class="two wide column">
                        <select name="Board" class="filtersearch ui selection resource-search-filter dropdown" multiple="" id="multi-select" ng-value="option.value" ng-options="board for board in search.boards" ng-model="search.selectedBoard">
                                        <option value="">Boards</option>
                                    </select>
                    </div>
                    <div class="three wide column filter-button">
                        <button class="searchfilterbutton ui blue tiny  button" ng-click="search.applyFilter()" >APPLY</button>
                        <button class="searchfilterbutton ui primary tiny basic button" ng-click="search.resetFilter()" >RESET</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="two wide column">
            <div class="field">
                <div class="content dropdown-content">
                    <span class="ShowFilterSubTitle"> Sort by:&nbsp;</span>
                    <div apply-script class="ui inline dropdown search-dropdown" id="multi-select-sort">
                        <div class="text"></div>
                        <i class="dropdown icon"></i>
                        <select ng-options="sortingOption as sortingOption.name for sortingOption in search.sortingOptions " ng-model="search.sortByOption" ng-change="search.applySorting()">
                             <option value=""></option>
                        </select>
                       
                    </div>
                    <i class="link" ng-class="{'sort content ascending icon':(search.sortIcon===true),'sort content descending icon':(search.sortIcon===false)}" ng-click="search.sortIcon=!search.sortIcon;search.applySorting()"></i>
                </div>
            </div>
        </div>
    </div>

</div>