@import 'variables';
@import "./mixins/mixins";

  .btn-group {
    text-align: right;
    margin-bottom: calculateRem(8px);
  }
  .btn-group button:first-child {
    border-right: none;
    border-radius: 0;
  }
  .btn-group button:last-child {
    border-left: none;
    border-radius: 0;
    margin-right: 0;
  }
  .btn-group button.active {
    background: var(--primary-color);
    color: var(--white);
  }

  .custom-image img {
    border: calculateRem(1px) dotted;
    padding:calculateRem(7px);
    margin: calculateRem(6px);
    cursor: pointer;
  }

  .resource-image {
    height: calculateRem(180px) !important;
  }

  .asset_container {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: calculateRem(300px) !important;
    max-height: calculateRem(300px) !important;
    padding: calculateRem(5px);
  }

  .insert-image-btn {
    position: absolute;
    z-index: 1;
    left: calculateRem(363px);
    background-color: transparent;
    padding: calculateRem(14px) !important;
  }

  .insert-image-btn>.icon {
    opacity: 1;
  }

  .insert-image-btn:active {
    background-color: transparent;
  }

  .submit-btn {
    margin-left: auto;
    padding-right: calculateRem(16px);
    margin-bottom: calculateRem(16px);
  }