  .btn-group {
    text-align: right;
    margin-bottom: 8px;
  }
  .btn-group button:first-child {
    border-right: none;
    border-radius: 0;
  }
  .btn-group button:last-child {
    border-left: none;
    border-radius: 0;
    margin-right: 0;
  }
  .btn-group button.active {
    background: #024a93;
    color: #ffffff;
  }

  .custom-image img {
    border: 1px dotted;
    padding: 7px;
    margin: 6px;
    cursor: pointer;
  }

  .resource-image {
    height: 180px !important;
  }

  .asset_container {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 300px !important;
    max-height: 300px !important;
    padding: 5px;
  }

  .insert-image-btn {
    position: absolute;
    z-index: 1;
    left: 363px;
    background-color: transparent;
    padding: 13px !important;
  }

  .insert-image-btn>.icon {
    opacity: 1;
  }

  .insert-image-btn:active {
    background-color: transparent;
  }

  .submit-btn {
    margin-left: auto;
    padding-right: 16px;
    margin-bottom: 16px;
  }