@import 'variables';
@import 'mixins/mixins';

.btn-group {
    text-align: right;
    margin-bottom: calculateRem(8px);
}

.btn-group button:first-child {
    border-right: none;
    border-radius: 0;
}

.btn-group button:last-child {
    border-left: none;
    border-radius: 0;
    margin-right: 0;
}

.btn-group button.active {
    background: var(--primary-color);
    color: var(--white);
}

.custom-image img {
    border: calculateRem(1px) dotted;
    padding: calculateRem(7px);
    margin: calculateRem(6px);
    cursor: pointer;
}

.asset_container {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: calculateRem(300px) !important;
    max-height: calculateRem(300px) !important;
    padding: calculateRem(5px);
}

.mcq-primary-box {
    width: 100%;
    border: calculateRem(1px) solid $primary-200;
    border-radius: calculateRem(4px);
    .box-label {
        background-color: var(--rc-F3F8FF);
        color: $primary-color;
        padding: calculateRem(8px) calculateRem(16px);
        border-top-left-radius: calculateRem(4px);
        border-top-right-radius: calculateRem(4px);
        &.with-border {
            border-bottom: calculateRem(1px) solid $primary-200;
        }
    }
}

.ckeditor-tool {
    &__question,
    &__option,
    &__solution {
        border: calculateRem(1px) solid var(--rc-80A7CE);
        border-radius: calculateRem(4px);
    }
    &__label {
        background-color: var(--rc-F3F8FF);
        border-top-left-radius: calculateRem(4px);
        border-top-right-radius: calculateRem(4px);
        color: var(--primary-color) !important;
        font-size: calculateRem(14px);
    }
    &__solution {
        &__header {
            background-color: var(--rc-F3F8FF);
            border-radius: calculateRem(4px);
            label {
                border-bottom-left-radius: calculateRem(4px);
                border-bottom-right-radius: calculateRem(4px);
            }
        }
        &__body {}
    }
}

.solution-media {
    &__video {
        width: calculateRem(166px);
        height: calculateRem(96px);
        .overlay-image {
            width: 100%;
            height: 100%;
            background: rgba(var(--rc-rgba-black), 0.3);
            position: absolute;
            left: 0;
            right: 0;
            cursor: pointer;
            z-index: 1;
        }
        .overlay-image .play.icon {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            color: rgba(var(--rc-rgba-white), 0.6);
            font-size: $base-block-space*4;
            cursor: pointer;
            height: auto;
        }
    }
    &__desc {
        font-size: calculateRem(12px);
        font-weight: bold;
        color: var(--gray-800);
        max-width: calculateRem(180px);
    }
}

:host ::ng-deep {
    .licence-form__content__fields {
        .sb-field {
            .ui.selection.dropdown {
                border-radius: 0.1875rem;
                font-size: 0.75rem;
                width: 100%;
                min-height: 2rem;
                padding: 0.25rem 0.5rem;
                border-color: var(--gray-200);
            }
            input.sb-form-control {
                background-color: var(--white);
                background-clip: padding-box;
                border: 0.0625rem solid var(--gray-200);
                border-radius: 0.1875rem;
                color: var(--gray-800);
                display: block;
                font-size: 0.8125rem;
                line-height: 1.3125rem;
                max-width: 100%;
                padding: 0.25rem 0.5rem;
                position: relative;
                width: 100%;
                min-height: calculateRem(29px);
            }
            a {
                cursor: pointer;
            }
            p {
                color: var(--rc-9F9F9F);
            }
        }
    }
}

.error-question-content {
    border: calculateRem(1px) solid var(--red-400) !important;
    .sb-field.mcq-title {
        .ckeditor-tool__label {
            background: var(--red-0);
            color: var(--red-400) !important;
            font-size: calculateRem(12px);
        }
    }
}

.licence-form {
    &__content {
        height: auto;
        border-radius: calculateRem(4px);
        padding: 0 0;
        margin: calculateRem(24px) 0 0 0;
        &__fields {
            //margin: 0px 0px;
            .sb-field {
                width: 100%;
                margin-bottom: 0px;
            }
        }
    }
    .paragraph {
        color: var(--gray-200);
        padding: calculateRem(16px) 0px;
        line-height: normal;
        strong {
            color: var(--black);
        }
    }
}

.links {
    &:hover {
        text-decoration: underline;
    }
}

.mcq-checkbox-answer {
    background: var(--gray-0);
    padding: calculateRem(8px) calculateRem(16px);
    display: flex;
    // border: 1px solid #c4c4c4;
    border-top: none;
    border-bottom-left-radius: calculateRem(4px);
    border-bottom-right-radius: calculateRem(4px);
    label {
        font-weight: 700;
        padding-right: calculateRem(8px);
        font-size: calculateRem(14px);
    }
}