.ui.styled.accordion .accordion .content,
.ui.styled.accordion .content {
    padding: 0;
}
.ui.styled.accordion .active.title,
.ui.styled.accordion .accordion .active.title {
    padding: ($base-block-space * 2);
    color: $primary-400;
}
.ui.styled.accordion .accordion .title,
.ui.styled.accordion .title {
    padding: ($base-block-space * 2);
    color: $gray-800;
}
.ui.accordion .active.title .chevron.down.icon {
    transform: rotate(180deg);
}
.ui.accordion .active.title .chevron.up.icon {
    transform: rotate(180deg);
}
.ui.styled.accordion.sb-single-pannel-accordion {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: $base-block-space*4;
    max-width: $base-block-space*60;
}
.ui.styled.accordion.sb-single-pannel-accordion.sb-single-pannel-accordion-fixed {
    position: fixed;
    right: $base-block-space*4;
    margin-right: 0;
}
.ui.styled.accordion.sb-single-pannel-accordion .title,
.ui.styled.accordion.sb-single-pannel-accordion .accordion .active.title {
    padding:0;
}
// .ui.styled.accordion.sb-single-pannel-accordion .content {
//     overflow-y: auto;
//     max-height: 560px;
// }
.sb-single-pannel-accordion .ui.progress{
    margin-right: ($base-block-space * 4);
    margin-bottom: 0;
}
.ui.styled.sb-accordion.accordion,
.ui.styled.sb-accordion.accordion .accordion {
    box-shadow: none;
}
.help-section-title {
    font-size: 16px;
    color: $gray-800;
}
.sb-help-section-subheading {
    color: $gray-800;
    font-size: 12px;
    font-weight: bold;
}
.sb-help-section-extra {
    color: $gray-800;
    font-size: 12px;
}
.sb-help-section-heading {
    font-size: 14px;
    color: $gray-800;
}
.sb-accordion-content {
    background-color: $primary-0;
    padding: ($base-block-space * 2);
}
.sb-accordion-text {
  color: $gray-800;
  font-size: 14px;
}
.sb-accordion-footer {
    padding: ($base-block-space * 3);
    font-size: 12px;
}
.ui.styled.accordion.sb-single-pannel-accordion {
    border-radius: 4px 4px 0 0;
    box-shadow: 0 -4px 5px 0 rgba(0,0,0,0.25);
  }
.sb-download-manager-panel {
    z-index: 999;
}
  .sb-single-pannel-accordion-heading {
    background: $secondary-color;
    padding: ($base-block-space * 2);
    color: $white-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px 4px 0px 0px;
    span {
        font-size: $font-size-base;
    }
  }  
  .sb-single-pannel-accordion-list-item {
    font-size: 14px;
    padding: ($base-block-space) ($base-block-space * 2) ($base-block-space) ($base-block-space * 2);
    background: $white-color;
    display: flex;
    flex-wrap: wrap;
    min-height: ($base-block-space * 10);
    border-bottom: $sb-download-manager-border;
    i.icon {
        // font-size: $base-block-space*2;
        width: auto;
        &.error-icon {
            color:$danger-color;
        }
        &.success-icon {
            color:$success-color;
        }
        &.waiting-icon {
            color: $orange;
        }
        &.info-icon {
            color: $blue;
        }
    }
    
    .download-text {
        font-size: $font-size-base;
        max-width: $sb-download-text-max-width;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
.error-text {
    font-size: 14px;
    color: $danger-color;
    text-align:right; 
}
.success-text {
    font-size: 14px;
    color: $success-color;;
    text-align: right;
}
.waiting-text {
    font-size: 14px;
    color: $tertiary-400;
    text-align:right; 
}
.info-text {
    font-size: 12px;
    text-align: left;
}
.ui.styled.accordion.sb-single-pannel-accordion .title,
    .ui.styled.accordion.sb-single-pannel-accordion .accordion .active.title {
        padding:0;
    }
    .ui.styled.accordion.sb-single-pannel-accordion .content {
        overflow-y: auto;
        max-height: calc(100vh - 200px);
        overflow-x: hidden;
    }
    .sb-single-pannel-accordion .ui.progress {
        margin-right: ($base-block-space * 4);
        margin-bottom: 0;
    }
    .sb-single-pannel-accordion-list-item  .ui.progress {
        height: $base-block-space;
        border-radius: $base-block-space;
        width: 100%;
        border: 1px solid $white-color;
        background: $secondary-0;
    }
    .sb-single-pannel-accordion-list-item  .ui.progress {
        &.error {
            background-color: $orange;
            .bar {
                background: $orange;
            }
        }
        .bar {
            height: ($base-block-space - 1) !important;
            border-radius: $base-block-space/2;
            background: $green;
        }
    }
