/* accordion styles */
$sb-content-manager-border: 0.0625rem solid $gray-100;
$sb-download-text-max-width: 18em;

.ui.styled.accordion .accordion .content,
.ui.styled.accordion .content {
  padding: 0;
}
.ui.styled.accordion .active.title,
.ui.styled.accordion .accordion .active.title {
  padding: calculateRem(16px);
  color: $primary-400;
}
.ui.styled.accordion .accordion .title,
.ui.styled.accordion .title {
  padding: calculateRem(16px);
  color: $gray-800;
}
.ui.accordion .active.title .chevron.down.icon {
  transform: rotate(180deg);
}
.ui.accordion .active.title .chevron.up.icon {
  transform: rotate(180deg);
}
.ui.styled.accordion.sb-single-pannel-accordion {
  bottom: 0;
  width: 100%;
  margin-left: auto;
  max-width: $base-block-space * 60;
  margin-right: calculateRem(32px);
  z-index:999;
  position: fixed;
  right: calculateRem(32px);
}
.ui.styled.accordion.sb-single-pannel-accordion .title,
.ui.styled.accordion.sb-single-pannel-accordion .accordion .active.title {
  padding: 0;
}
.sb-single-pannel-accordion .ui.progress {
  margin-right: calculateRem(32px);
  margin-bottom: 0;
}
.ui.styled.sb-accordion.accordion,
.ui.styled.sb-accordion.accordion .accordion {
  box-shadow: none;
}
.help-section-title {
  font-size: calculateRem(16px);
  color: $gray-800;
}
.sb-help-section-subheading {
  color: $gray-800;
  font-size: calculateRem(12px);
  font-weight: bold;
}
.sb-help-section-extra {
  color: $gray-800;
  font-size: calculateRem(12px);
}
.sb-help-section-heading {
  font-size: calculateRem(14px);
  color: $gray-800;
}
.sb-accordion-content {
  background-color: $primary-0;
  padding: calculateRem(16px);
  border-radius: calculateRem(2px);
}
.sb-accordion-text {
  color: $gray-800;
  font-size: calculateRem(14px);
}
.sb-accordion-footer {
  padding: calculateRem(24px);
  font-size: calculateRem(12px);
}
.ui.styled.accordion.sb-single-pannel-accordion {
  border-radius: calculateRem(4px) calculateRem(4px) 0 0;
  box-shadow: 0 calculateRem(-4px) calculateRem(5px) 0 rgba(var(--rc-rgba-black), 0.25);
}
.sb-download-manager-panel {
  z-index: 999;
}
.sb-single-pannel-accordion-heading {
  background: var(--gray-800);
  padding: calculateRem(16px);
  color: $white-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: calculateRem(4px) calculateRem(4px) 0px 0px;
  span {
    font-size: $font-size-base;
  }
}
.sb-single-pannel-accordion-list-item {
  font-size: calculateRem(14px);
  padding: calculateRem(16px);
  background: var(--sbt-filter-bar-bg);
  display: flex;
  min-height: calculateRem(80px);
  border-bottom: $sb-content-manager-border;
  align-items: center;
  &.download-complete {
    background: var(--gray-0);
  }
  .sb-color-success {
    color: var(--secondary-color);
  }
  .info-text {
    font-size: calculateRem(12px);
    margin-bottom: calculateRem(4px);
    width: auto;
    display: inline-block;
    color: var(--gray-400);
    margin-bottom: calculateRem(8px);
  }
  i.icon {
    width: auto;
    &.error-icon {
      color: $danger-color;
    }
    &.success-icon {
      color: var(--secondary-color);
      height: calculateRem(60px);
    }
    &.waiting-icon {
      color: $orange;
    }
    &.info-icon {
      color: $blue;
    }
  }
  .download-text {
    font-size: $font-size-base;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 0;
    margin-bottom: calculateRem(4px);
    max-width: calculateRem(400px);
  }
  .download-image {
    width: calculateRem(32px);
    height: calculateRem(32px);
    margin-right: calculateRem(8px);
  }
  .download-details-container {
    width: 100%;
  }
}
.error-text {
  font-size: calculateRem(14px);
  color: $danger-color;
  text-align: right;
}
.success-text {
  font-size: calculateRem(14px);
  color: $success-color;
  text-align: right;
}
.waiting-text {
  font-size: calculateRem(14px);
  color: $tertiary-400;
  text-align: right;
}
.info-text {
  width: calculateRem(110px);
  font-size: calculateRem(12px);
  text-align: left;
}
.ui.styled.accordion.sb-single-pannel-accordion .title,
.ui.styled.accordion.sb-single-pannel-accordion .accordion .active.title {
  padding: 0;
}
.ui.styled.accordion.sb-single-pannel-accordion .content {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  overflow-x: hidden;
}
.sb-single-pannel-accordion .ui.progress {
  margin-right: calculateRem(32px);
  margin-bottom: 0;
}
.sb-single-pannel-accordion-list-item .ui.progress {
  height: calculateRem(8px);
  border-radius: calculateRem(8px);
  width: 100%;
  border: calculateRem(1px) solid $white-color;
  background: $secondary-0;
  margin-right: inherit;
}
.sb-single-pannel-accordion-list-item .ui.progress {
  &.error {
    background-color: $orange;
    .bar {
      background: $orange;
    }
  }
  .bar {
    height: calculateRem(7px) !important;
    border-radius: calculateRem(4px);
    background: $green;
  }
}

/* accordion style ends */