@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
.sb-bulk-upload {
    .bulk-upload-title {
      font-size: var(--h5-font-size);
      font-weight: 600;
    }
  
    .bulk-content-upload-info {
      p {
        font-size: var(--font-size-sm);
        color: var(--gray-400);
      }
    }
    .sb-bulk-upload-details-report-info {
      border-bottom: calculateRem(1px) solid var(--rc-dddddd);
  
      .sb-bulk-upload-file {
        flex-basis: 70%;
  
        .sb-bulk-upload-content-title {
          font-size: var(--font-size-sm);
          color: var(--gray-400);
        }
  
        .sb-upload-file {
          height: calculateRem(56px);
          width:  calculateRem(56px);
          background: var(--gray-400);
          margin-top: auto;
          margin-bottom: auto;
        }
      }
  
      .sb-bulk-upload-status {
        flex-basis: 15%;
      }
  
      .sb-bulk-upload-details-report {
        flex-basis: 15%;
      }
    }
    .sb-btn {
        text-transform: initial;
    }
    input {
        position: absolute;
        font-size: calculateRem(50px);
        opacity: 0;
        right: 0;
        top: 0;
      }
  }
  
  .sb-modal {
    .sb-bulk-upload-btn{
        position: relative;
        overflow: hidden;
        cursor: pointer;
          .sb-btn-upload{
            position: absolute;
            opacity: 0;
            left: 0;
            top: 0;
            width: 100%;
            margin: 0;
            height: 100%;
            cursor: pointer;
          }
      }
    .sb-bulk-upload-file {
      .sb-upload-file {
          height: calculateRem(56px);
          width:  calculateRem(56px);
          background: var(--gray-400);
          margin-top: auto;
          margin-bottom: auto;
      }
  
      .sb-bulk-upload-content-title {
        font-size: var(--font-size-sm);
        color: var(--gray-400);
      }
    }
  
    .sb-bulk-upload-error-info {
      .ui.basic.error {
        background: var(--white);
        color: var(--red-100) !important;
        font-size: var(--font-size-base);
        font-weight: bold;
        border: none !important;
  
        .sb-bulk-upload-extra-label {
          font-size: var(--font-size-sm);
          font-weight: normal;
        }
      }
  
      .sb-bulk-upload-error-list {
        max-height: calculateRem(140px);
        overflow-y: auto;
  
        .sb-bulk-upload-error-list-item {
          font-size: var(--font-size-sm);
          color: var(--gray-400);
          line-height: calculateRem(20px);
          margin-bottom: calculateRem(4px);
          padding-bottom: calculateRem(4px);
          border-bottom: calculateRem(1px) solid var(--rc-dddddd);
          &:last-child {
            margin: 0;
          }
        }
      }
    }
    .sb-bulk-upload-options {
      color: var(--gray-400);
    }
  }
  