@import "../mixins/mixins";

/* buttons sytle guide */
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
// anchor button style
a.sb-btn {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
// base button styles
.sb-btn {
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  outline: 0;
  display: inline-block;
  border: 1px solid;
  color: $white-color;
  cursor: pointer;
  min-width: ($base-block-space * 8);
  @include border-radius(3px);
  position: relative;
  line-height: 1.15;
  text: {
    transform: capitalize;
    decoration: none;
  }
  &:hover {
    opacity: 1;
  }
  &-disabled,
  &-disabled:hover,
  &:disabled,
  &:disabled:hover {
    background-color: $gray-100;
    color: $gray-200;
    border: 1px solid $gray-100;
    cursor: default;
  }
  & + .sb-btn {
    //margin:0 $base-block-space 0 0;
  }
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 3px;
    background: $primary-600;
    opacity: 0;
    border-radius: 50%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
  }
  &.flat {
    border-radius: 0;
  }
  // button sizes
  &-xs,
  &-normal,
  &-sm,
  &-md,
  &-full {
    padding: ($base-block-space * 1) ($base-block-space * 2);
  }
  &-xs {
    height: ($base-block-space * 3);
    padding: ($base-block-space * 0) ($base-block-space * 1);
    font-size: $font-size-sm;
  }
  //primary button style
  &-normal {
    height: ($base-block-space * 4);
    font-size: $font-size-sm;
  }
  &-sm {
    height: ($base-block-space * 5);
    font-size: $font-size-normal;
  }
  &-md {
    height: ($base-block-space * 6);
    font-size: $font-size-md;
  }
  &-lg {
    height: ($base-block-space * 7);
    padding: ($base-block-space * 2) ($base-block-space * 3);
    font-size: $font-size-lg;
  }
  &-full {
    width: 100%;
  }

  // default colored btns
  &-primary,
  &-info,
  &-secondary,
  &-success,
  &-tertiary,
  &-error {
    &:hover,
    &:active,
    &.active {
      color: $white;
      border: 1px solid transparent;
    }
  }
  &-white {
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 4px 0 rgba(0, 0, 0, 0.2);
    border: 0px solid #ddd;
  }
  &-primary,
  &-info {
    @include btn-theme($primary-color);
    &:hover,
    &:active,
    &.active {
      background: $primary-800;
    }
  }
  &-secondary,
  &-success {
    @include btn-theme($secondary-200);
    &:hover,
    &:active,
    &.active {
      background: $secondary-400;
    }
  }
  &-tertiary,
  &-warning {
    @include btn-theme($tertiary-100);
    &:hover,
    &:active,
    &.active {
      background: $tertiary-400;
    }
  }
  &-success {
    @include btn-theme($success-color);
    &:hover,
    &:active,
    &.active {
      background: $secondary-400;
    }
  }
  &-info {
    @include btn-theme($info-color);
    &:hover,
    &:active,
    &.active {
      background: $primary-800;
    }
  }
  &-warning {
    @include btn-theme($warning-color);
    &:hover,
    &:active,
    &.active {
      background: $tertiary-400;
    }
  }
  &-error {
    @include btn-theme($danger-color);
    &:hover,
    &:active,
    &.active {
      background: $red-400;
    }
  }
  &-gray {
    @include btn-theme($gray-200);
    &:hover,
    &:active,
    &.active {
      background: $gray-400;
    }
  }

  // default outline colored btns
  &-outline-primary,
  &-outline-info {
    @include btn-theme-bgwhite($primary-color);
    &:hover,
    &:active,
    &.active {
      background: $primary-100;
      color: $primary-800;
      border-color: $primary-800;
    }
  }
  &-outline-secondary,
  &-outline-success {
    @include btn-theme-bgwhite($secondary-200);
    color: $secondary-100;
    border-color: $secondary-100;
    &:hover,
    &:active,
    &.active {
      background: $secondary-0;
      color: $secondary-400;
      border-color: $secondary-400;
    }
  }
  &-outline-tertiary,
  &-outline-warning {
    @include btn-theme-bgwhite($tertiary-color);
    color: $tertiary-100;
    border-color: $tertiary-100;
    &:hover,
    &:active,
    &.active {
      background: $tertiary-0;
      color: $tertiary-400;
      border-color: $tertiary-400;
    }
  }
  &-outline-error {
    @include btn-theme-bgwhite($red-400);
    color: $red-100;
    border-color: $red-100;
    &:hover,
    &:active,
    &.active {
      background: $red-0;
      color: $red-400;
      border-color: $red-400;
    }
  }
  &-outline-gray {
    @include btn-theme-bgwhite($gray-800);
    color: $gray-300;
    border-color: $gray-300;
    &:hover,
    &:active,
    &.active {
      background: $gray-0;
      color: $gray-800;
      border-color: $gray-800;
    }
  }
  &-outline-white {
    @include btn-theme-bgwhite($white);
    color: $primary-800;
    border-color: $white;
    &:hover,
    &:active,
    &.active {
      background: $gray-0;
      color: $primary-800;
      border-color: $white;
    }
  }

  // button links colored
  &-link-primary,
  &-link-info,
  &-link-secondary,
  &-link-success,
  &-link-tertiary,
  &-link-warning,
  &-link-error,
  &-link-gray {
    background: none;
    border: 0px;
  }
  &-link-primary,
  &-link-info {
    @include btn-theme-links($primary-color);
    &:hover,
    &:active,
    &.active {
      background: $primary-100;
    }
  }
  &-link-secondary,
  &-link-success {
    @include btn-theme-links($secondary-200);
    &:hover,
    &:active,
    &.active {
      background: $secondary-0;
    }
  }
  &-link-tertiary,
  &-link-warning {
    @include btn-theme-links($tertiary-color);
    &:hover,
    &:active,
    &.active {
      background: $tertiary-0;
      border: 0px;
    }
  }
  &-link-error {
    @include btn-theme-links($red-400);
    &:hover,
    &:active,
    &.active {
      background: $red-0;
    }
  }
  &-link-gray {
    @include btn-theme-links($gray-800);
    &:hover,
    &:active,
    &.active {
      background: $gray-0;
    }
  }

  // button link
  &-link {
    background: none;
    border: 0;
    &:hover {
      // font-weight: $font-weight-bold;
    }
  }
  //dashed buttons
  &-dashed {
    border-style: dashed;
    border-width: 1px;
  }
  &-dashed-primary,
  &-dashed-info {
    background-color: $sb-btn-dashed-background-color;
    border-color: $primary-400;
    color: $sb-btn-dashed-color;
    &:hover,
    &:active,
    &.active {
      background-color: $primary-0;
    }
  }
  // disabled button
  &-disabled,
  &-primary[disabled],
  &-secondary[disabled],
  &-tertiary[disabled],
  &-info[disabled],
  &-success[disabled],
  &-warning[disabled],
  &-error[disabled] {
    background-color: $gray-100;
    border: 1px solid $gray-100;
    color: $gray-200;
    cursor: default;
  }
  &-outline-disabled,
  &-outline-primary[disabled],
  &-outline-secondary[disabled],
  &-outline-tertiary[disabled],
  &-outline-info[disabled],
  &-outline-success[disabled],
  &-outline-warning[disabled],
  &-outline-error[disabled],
  &-outline-gray[disabled] {
    background-color: $white;
    border: 1px solid $gray-100;
    color: $gray-100;
    cursor: default;
    font-weight: normal;
  }
  //download button animation
  &-download {
    transition: all 1.2s ease-in-out;
    i::after {
      content: "\f019";
      font-size: 13px;
      color: #fff;
    }
    &:hover {
      animation: pulse 0.2s 2 both;
    }
    &.loading {
      i {
        animation: loading 2s infinite linear;
        &::after {
          content: "\f1ce";
        }
      }
    }
    &.success {
      i::after {
        content: "\f00c";
        color: transparent;
        animation: change-icon 1s 0.6s linear both;
      }
    }
  }
  //Button icons with title - Square
  &-square {
    &.sb-btn {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      font-size: $font-size-sm;
      padding: $base-block-space;
      i.icon {
        margin: 0 0 0 0;
      }
      span {
        margin: $base-block-space 0 0 0;
      }
    }
    &.sb-btn-sm {
      height: $base-block-space * 6;
      width: $base-block-space * 6;
      font-size: $font-size-xs;
      i.icon {
        font-size: 18px;
      }
    }
    &.sb-btn-normal {
      height: $base-block-space * 8;
      width: $base-block-space * 8;
      i.icon {
        font-size: 18px;
      }
    }

    &.sb-btn-lg {
      height: 128px;
      width: 128px;
      font-size: $font-size-base;
      i.icon {
        font-size: $font-size-lg;
      }
    }

    &.sb-btn-xs {
      padding: 4px;
      height: $base-block-space * 4;
      min-width: $base-block-space * 4;
      font-size: $font-size-xs;
      i.icon {
        font-size: $font-size-xs;
      }
      span {
        margin: 4px 0 0 0;
      }
    }
  }
}

// Buttons with icon
*[dir="ltr"] {
  .sb-right-icon-btn {
    padding: ($base-block-space * 1) ($base-block-space * 1)
      ($base-block-space * 1) ($base-block-space * 2);
    i.icon {
      margin-left: $base-block-space;
      margin-right: 0;
    }
  }
  .sb-left-icon-btn {
    padding: ($base-block-space * 1) ($base-block-space * 2)
      ($base-block-space * 1) ($base-block-space * 1);
    i.icon {
      margin-right: $base-block-space;
    }
  }
}
*[dir="rtl"] {
  .sb-right-icon-btn {
    padding: ($base-block-space * 1) ($base-block-space * 1)
      ($base-block-space * 1) ($base-block-space * 2);
    i.icon {
      margin-left: 0;
      margin-right: $base-block-space;
    }
  }
  .sb-left-icon-btn {
    padding: ($base-block-space * 1) ($base-block-space * 2)
      ($base-block-space * 1) ($base-block-space * 1);
    i.icon {
      margin-left: $base-block-space;
    }
  }
}
.sb-left-icon-btn.sb-btn-xs {
  padding: ($base-block-space * 0) ($base-block-space * 1)
    ($base-block-space * 0) ($base-block-space * 1);
}

//Buttons toggle
.ui.toggle.checkbox.sb-toggle {
  min-height: ($base-block-space * 3);
  position: relative;
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: 0;
  vertical-align: baseline;
  font-style: normal;
  min-height: ($base-block-space * 2);
  font-size: 1rem;
  min-width: ($base-block-space * 2);
  input {
    width: ($base-block-space * 8);
    height: ($base-block-space * 3);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    outline: 0;
    z-index: 3;
    &:focus:checked ~ label:before,
    &:focus:checked ~ .box:before,
    &:checked ~ .box:before,
    &:checked ~ label:before {
      background-color: #024f9d !important;
    }
  }
  label {
    min-height: ($base-block-space * 2);
    padding-left: ($base-block-space * 9);
    color: rgba(0, 0, 0, 0.87);
    position: relative;
    display: block;
    outline: 0;
    font-size: 1rem;
    &:before {
      display: block;
      position: absolute;
      content: "";
      z-index: 1;
      transform: none;
      border: none;
      top: 1px;
      left: 0;
      background: rgba(0, 0, 0, 0.05);
      box-shadow: none;
      width: ($base-block-space * 8);
      height: ($base-block-space * 3);
      border-radius: 500rem;
      @include btn-theme($primary-color);
      transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease,
        box-shadow 0.1s ease, -webkit-transform 0.1s ease;
    }
    &:after {
      background: #fff linear-gradient(transparent, rgba(0, 0, 0, 0.05));
      position: absolute;
      content: "" !important;
      opacity: 1;
      z-index: 2;
      border: none;
      width: (($base-block-space * 3) - 4);
      height: (($base-block-space * 3) - 4);
      top: 3px;
      left: 0;
      border-radius: 500rem;
      -webkit-transition: background 0.3s ease, left 0.3s ease;
      transition: background 0.3s ease, left 0.3s ease;
    }
  }
  input ~ label:after {
    left: 0.1rem;
    box-shadow: none;
  }
  input:checked ~ label:after {
    left: (($base-block-space * 5) + 1);
    box-shadow: none;
  }
}
// button groups
.btn-group {
  border: $sb-btn-group-border-width solid $sb-btn-group-border-color;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-direction: row;
  font-size: 0;
  vertical-align: baseline;
  .sb-btn {
    background: $sb-btn-group-btn-background;
    border-left: $sb-btn-group-border-width solid $sb-btn-group-border-color;
    flex: 1 0 auto;
    margin: 0;
    border-radius: 0;
    margin: 0;
    border: 0;
    color: $sb-btn-group-btn-color;
    min-width: ($base-block-space * 5);
    &:first-child {
      border-left: none;
      margin-left: 0;
    }
    &:active,
    &.active {
      background-color: $sb-btn-group-btn-active-background-color;
      color: $sb-btn-group-btn-color;
    }
    .icon {
      margin: 0;
      vertical-align: top;
    }
  }
}

.sb-btn-loading-spinner {
  padding: ($base-block-space * 1) ($base-block-space * 2)
    ($base-block-space * 1) ($base-block-space * 1);
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.sb-loading-spinner {
  width: 1rem;
  height: 1rem;
  margin-right: 8px;
  border-width: 0.2em;
  display: inline-block;
  vertical-align: text-bottom;
  border: 0.15em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.sb-btn-loading:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -0.64285714em 0 0 -0.64285714em;
  width: 1.28571429em;
  height: 1.28571429em;
  border-radius: 500rem;
  border: 0.2em solid rgba(0, 0, 0, 0.15);
}

.sb-btn-loading:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -0.64285714em 0 0 -0.64285714em;
  width: 1.28571429em;
  height: 1.28571429em;
  -webkit-animation: button-spin 0.6s linear;
  animation: button-spin 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 0.2em;
  -webkit-box-shadow: 0 0 0 1px transparent;
  box-shadow: 0 0 0 1px transparent;
}
/*Create ripple effec*/
.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}
.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}

//download button animation
.sb-btn-download {
  transition: all 1.2s ease-in-out;
  i::after {
    content: "\f019";
    font-size: 13px;
    color: #fff;
  }
  &:hover {
    animation: pulse 0.2s 2 both;
  }
  &.loading {
    i {
      animation: loading 2s infinite linear;
      &::after {
        content: "\f1ce";
      }
    }
  }
  &.success {
    i::after {
      content: "\f00c";
      color: transparent;
      animation: change-icon 1s 0.6s linear both;
    }
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes change-icon {
  0% {
    color: transparent;
  }
  100% {
    color: #fff;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

*[lang="hi"] .sb-btn-xs {
  line-height: 2.2;
}

*[lang="hi"] .sb-btn-normal {
  line-height: 1.5;
}
