@import "../mixins/mixins";

/* buttons sytle guide */
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
// anchor button style
a.sb-btn {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
// base button styles
.sb-btn {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  outline: 0;
  display: inline-block;
  border: 1px solid;
  color: $white-color;
  cursor: pointer;
  min-width: ($base-block-space * 8);
  @include border-radius(3px);
  position: relative;
  text: {
    transform: capitalize;
    decoration: none;
  }
  &:hover {
    opacity: 1;
  }
  &.disabled,
  &.disabled:hover,
  &:disabled,
  &:disabled:hover {
    background-color: $gray-100;
    color: $gray-200;
    border: 1px solid $gray-100;
    cursor: default;
  }
  & + .sb-btn {
    //margin:0 $base-block-space 0 0;
  }
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 3px;
    background: $primary-600;
    opacity: 0;
    border-radius: 50%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
  }

  //   @keyframes ripple {
  //     0% {
  //       transform: scale(0, 0);
  //       opacity: 1;
  //     }
  //     100% {
  //       opacity: 0;
  //       transform: scale(50, 50);
  //     }
  //   }
  //   &:focus:not(:active)::after {
  //     animation: ripple 1s ease-in-out;
  //   }
}

// button sizes
.sb-btn-xs,
.sb-btn-normal,
.sb-btn-sm,
.sb-btn-md {
  padding: ($base-block-space * 1) ($base-block-space * 2);
}
.sb-btn-xs {
  height: ($base-block-space * 3);
  padding: ($base-block-space * 0) ($base-block-space * 1);
  font-size: $font-size-sm;
}
//primary button style
.sb-btn-normal {
  height: ($base-block-space * 4);
  font-size: $font-size-sm;
}
.sb-btn-sm {
  height: ($base-block-space * 5);
  font-size: $font-size-normal;
}
.sb-btn-md {
  height: ($base-block-space * 6);
  font-size: $font-size-md;
}
.sb-btn-lg {
  height: ($base-block-space * 7);
  padding: ($base-block-space * 2) ($base-block-space * 3);
  font-size: $font-size-lg;
}

// default outline colored btns
// status outline buttons

.sb-btn-outline-primary,
.sb-btn-outline-info {
  @include btn-theme-bgwhite($primary-color);
  border-color: $primary-color;
  &:hover,
  &:active {
    background: $primary-100;
    color: $primary-800;
    border-color: $primary-800;
  }
}
.sb-btn-outline-secondary,
.sb-btn-outline-success {
  @include btn-theme-bgwhite($secondary-200);
  color: $secondary-100;
  border-color: $secondary-100;
  &:hover,
  &:active {
    background: $secondary-0;
    color: $secondary-400;
    border-color: $secondary-400;
  }
}
.sb-btn-outline-tertiary,
.sb-btn-outline-warning {
  @include btn-theme-bgwhite($tertiary-color);
  color: $tertiary-100;
  border-color: $tertiary-100;
  &:hover,
  &:active {
    background: $tertiary-0;
    color: $tertiary-400;
    border-color: $tertiary-400;
  }
}
.sb-btn-outline-error {
  @include btn-theme-bgwhite($red-400);
  color: $red-100;
  border-color: $red-100;
  &:hover,
  &:active {
    background: $red-0;
    color: $red-400;
    border-color: $red-400;
  }
}
.sb-btn-outline-gray {
  @include btn-theme-bgwhite($gray-800);
  color: $gray-300;
  border-color: $gray-300;
  &:hover,
  &:active {
    background: $gray-0;
    color: $gray-800;
    border-color: $gray-800;
  }
}
.sb-btn-outline-white {
  @include btn-theme-bgwhite($white-color);
  color: $primary-800;
  border-color: $white-color;
  &:hover,
  &:active {
    background: $gray-0;
    color: $primary-800;
    border-color: $white-color;
  }
}
// default colored btns
.sb-btn-primary,
.sb-btn-info,
.sb-btn-secondary,
.sb-btn-success,
.sb-btn-tertiary,
.sb-btn-error {
  &:hover,
  &:active {
    color: $white-color;
    border: 1px solid transparent;
  }
}

.sb-btn-primary,
.sb-btn-info {
  @include btn-theme($primary-color);
  &:hover,
  &:active {
    background: $primary-800;
  }
}
.sb-btn-secondary,
.sb-btn-success {
  @include btn-theme($secondary-200);
  &:hover,
  &:active {
    background: $secondary-400;
  }
}
.sb-btn-tertiary,
.sb-btn-warning {
  @include btn-theme($tertiary-100);
  &:hover,
  &:active {
    background: $tertiary-400;
  }
}
.sb-btn-success {
  @include btn-theme($success-color);
  &:hover,
  &:active {
    background: $secondary-400;
  }
}
.sb-btn-info {
  @include btn-theme($info-color);
  &:hover,
  &:active {
    background: $primary-800;
  }
}
.sb-btn-warning {
  @include btn-theme($warning-color);
  &:hover,
  &:active {
    background: $tertiary-400;
  }
}
.sb-btn-error {
  @include btn-theme($danger-color);
  &:hover,
  &:active {
    background: $red-400;
  }
}
.sb-btn-gray {
  @include btn-theme($gray-200);
  &:hover,
  &:active {
    background: $gray-400;
  }
}

// button links colored
.sb-btn-link-primary,.sb-btn-link-info,.sb-btn-link-secondary,.sb-btn-link-success,.sb-btn-link-tertiary,
.sb-btn-link-warning,.sb-btn-link-error,.sb-btn-link-gray{
    background:none;
    border: 0px;
}
.sb-btn-link-primary,
.sb-btn-link-info {
  @include btn-theme-links($primary-color);
  &:hover,
  &:active {
    background: $primary-100;
  }
}
.sb-btn-link-secondary,
.sb-btn-link-success {
  @include btn-theme-links($secondary-200);
  &:hover,
  &:active {
    background: $secondary-0;
  }
}
.sb-btn-link-tertiary,
.sb-btn-link-warning {
  @include btn-theme-links($tertiary-color);
  &:hover,
  &:active {
    background: $tertiary-0;
    border:0px;
  }
}
// status outline buttons
.sb-btn-link-error {
  @include btn-theme-links($red-400);
  &:hover,
  &:active {
    background: $red-0;
  }
}
.sb-btn-link-gray {
  @include btn-theme-links($gray-800);
  &:hover,
  &:active {
    background: $gray-0;
  }
}

// button link
.sb-btn-link {
  background: none;
  border: 0;
  &:hover {
    font-weight: $font-weight-bold;
  }
}

.sb-btn-loading-spinner {
  padding: ($base-block-space * 1) ($base-block-space * 2)
    ($base-block-space * 1) ($base-block-space * 1);
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 1rem;
  height: 1rem;
  margin-right: 8px;
  border-width: 0.2em;
  display: inline-block;
  vertical-align: text-bottom;
  border: 0.15em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.sb-btn-loading:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -0.64285714em 0 0 -0.64285714em;
  width: 1.28571429em;
  height: 1.28571429em;
  border-radius: 500rem;
  border: 0.2em solid rgba(0, 0, 0, 0.15);
}

.sb-btn-loading:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -0.64285714em 0 0 -0.64285714em;
  width: 1.28571429em;
  height: 1.28571429em;
  -webkit-animation: button-spin 0.6s linear;
  animation: button-spin 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 0.2em;
  -webkit-box-shadow: 0 0 0 1px transparent;
  box-shadow: 0 0 0 1px transparent;
}

// Buttons with icon

*[dir="ltr"] {
  .sb-right-icon-btn {
    padding: ($base-block-space * 1) ($base-block-space * 1)
      ($base-block-space * 1) ($base-block-space * 2);
    i.icon {
      margin-left: $base-block-space;
      margin-right: 0;
    }
  }
  .sb-left-icon-btn {
    padding: ($base-block-space * 1) ($base-block-space * 2)
      ($base-block-space * 1) ($base-block-space * 1);
    i.icon {
      margin-right: $base-block-space;
    }
  }
}
*[dir="rtl"] {
  .sb-right-icon-btn {
    padding: ($base-block-space * 1) ($base-block-space * 1)
      ($base-block-space * 1) ($base-block-space * 2);
    i.icon {
      margin-left: 0;
      margin-right: $base-block-space;
    }
  }
  .sb-left-icon-btn {
    padding: ($base-block-space * 1) ($base-block-space * 2)
      ($base-block-space * 1) ($base-block-space * 1);
    i.icon {
      margin-left: $base-block-space;
    }
  }
}
.sb-left-icon-btn.sb-btn-xs {
  padding: ($base-block-space * 0) ($base-block-space * 1)
    ($base-block-space * 0) ($base-block-space * 1);
}

//Buttons toggle

.ui.toggle.checkbox.sb-toggle {
  min-height: ($base-block-space * 3);
  position: relative;
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: 0;
  vertical-align: baseline;
  font-style: normal;
  min-height: ($base-block-space * 2);
  font-size: 1rem;
  min-width: ($base-block-space * 2);
  input {
    width: ($base-block-space * 8);
    height: ($base-block-space * 3);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    outline: 0;
    z-index: 3;
    &:focus:checked ~ label:before,
    &:focus:checked ~ .box:before,
    &:checked ~ .box:before,
    &:checked ~ label:before {
      background-color: #024f9d !important;
    }
  }
  label {
    min-height: ($base-block-space * 2);
    padding-left: ($base-block-space * 9);
    color: rgba(0, 0, 0, 0.87);
    position: relative;
    display: block;
    outline: 0;
    font-size: 1rem;
    &:before {
      display: block;
      position: absolute;
      content: "";
      z-index: 1;
      transform: none;
      border: none;
      top: 1px;
      left: 0;
      background: rgba(0, 0, 0, 0.05);
      box-shadow: none;
      width: ($base-block-space * 8);
      height: ($base-block-space * 3);
      border-radius: 500rem;
      @include btn-theme($primary-color);
      transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease,
        box-shadow 0.1s ease, -webkit-transform 0.1s ease;
    }
    &:after {
      background: #fff linear-gradient(transparent, rgba(0, 0, 0, 0.05));
      position: absolute;
      content: "" !important;
      opacity: 1;
      z-index: 2;
      border: none;
      width: (($base-block-space * 3) - 4);
      height: (($base-block-space * 3) - 4);
      top: 3px;
      left: 0;
      border-radius: 500rem;
      -webkit-transition: background 0.3s ease, left 0.3s ease;
      transition: background 0.3s ease, left 0.3s ease;
    }
  }
  input ~ label:after {
    left: 0.1rem;
    box-shadow: none;
  }
  input:checked ~ label:after {
    left: (($base-block-space * 5) + 1);
    box-shadow: none;
  }
}

// button groups

.btn-group {
  border: $sb-btn-group-border-width solid $sb-btn-group-border-color;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-direction: row;
  font-size: 0;
  vertical-align: baseline;
  .sb-btn {
    background: $sb-btn-group-btn-background;
    border-left: $sb-btn-group-border-width solid $sb-btn-group-border-color;
    flex: 1 0 auto;
    margin: 0;
    border-radius: 0;
    margin: 0;
    border: 0;
    color: $sb-btn-group-btn-color;
    min-width: ($base-block-space * 5);
    &:first-child {
      border-left: none;
      margin-left: 0;
    }
    &:active,
    &.active {
      background-color: $sb-btn-group-btn-active-background-color;
      color: $sb-btn-group-btn-color;
    }
    .icon {
      margin: 0;
      vertical-align: top;
    }
  }
}

//dashed buttons
.sb-btn-dashed {
  border-style: dashed;
  border-width: 1px;
}
.sb-btn-dashed-primary,
.sb-btn-dashed-info {
  background-color: $sb-btn-dashed-background-color;
  border-color: $primary-400;
  color: $sb-btn-dashed-color;
  &:hover,
  &:active {
    background-color: $primary-0;
  }
}
// disabled button
.sb-btn-disabled,
.sb-btn-primary[disabled],
.sb-btn-secondary[disabled],
.sb-btn-tertiary[disabled],
.sb-btn-info[disabled],
.sb-btn-success[disabled],
.sb-btn-warning[disabled],
.sb-btn-error[disabled] {
  background-color: $gray-100;
  border: 1px solid $gray-100;
  color: $gray-200;
  cursor: default;
}
.sb-btn-outline-disabled,
.sb-btn-outline-primary[disabled],
.sb-btn-outline-secondary[disabled],
.sb-btn-outline-tertiary[disabled],
.sb-btn-outline-info[disabled],
.sb-btn-outline-success[disabled],
.sb-btn-outline-warning[disabled],
.sb-btn-outline-error[disabled],
.sb-btn-outline-gray[disabled] {
  background-color: $white-color;
  border: 1px solid $gray-100;
  color: $gray-100;
  cursor: default;
  font-weight: normal;
}

/*Create ripple effec*/

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}

//download button animation

.sb-btn-download {
  transition: all 1.2s ease-in-out;
  i::after {
    content: "\f019";
    font-size: 13px;
    color: #fff;
  }
  &:hover {
    animation: pulse 0.2s 2 both;
  }
  &.loading {
    i {
      animation: loading 2s infinite linear;
      &::after {
        content: "\f1ce";
      }
    }
  }
  &.success {
    i::after {
      content: "\f00c";
      color: transparent;
      animation: change-icon 1s 0.6s linear both;
    }
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes change-icon {
  0% {
    color: transparent;
  }
  100% {
    color: #fff;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

*[lang="hi"] .sb-btn-xs {
  line-height: 2.2;
}

*[lang="hi"] .sb-btn-normal {
  line-height: 1.5;
}