.sb-certificatePage-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background: $sb-certificatePage-bg-color;
  z-index: 999;

  .sb-certificatePage {
    width: 100%;
    min-height: $sb-certificatePage-min-height;
    margin: $sb-certificatePage-margin;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;

    @include respond-above(xs) {
      max-width: $sb-certificatePage-max-width;
    }

    .sb-certificatePage-form,
    .sb-certificatePage-header {
      padding: $sb-certificatePage-padding;
    }
  
    .sb-certificatePage-logo {
      height: $sb-certificatePage-logo-height;
    }
  
    .sb-certificatePage-desc {
      background-color: $sb-certificatePage-desc-background;
      padding: $sb-certificatePage-desc-padding;
      margin: $sb-certificatePage-desc-margin-mobile;
      z-index: 2;
      @include respond-above(xs) {
        margin: $sb-certificatePage-desc-margin-desktop;
      }
  
      .sb-certificatePage-desc-img {
        max-width: $sb-certificatePage-desc-img-width;
        margin: 0 auto;
      }
    }
  
    .sb-certificatePage-label {
      font-weight: normal;
      font-size: $sb-certificatePage-label-font-size;
      line-height: $sb-certificatePage-label-line-height;
      &.label-error {
        display:none;
      }
    }
  
    .sb-certificatePage-field {
      display: flex;
      justify-content: space-between;
      width: $sb-certificatePage-field-width;
      margin: $sb-certificatePage-field-margin;
  
      .sb-certificatePage-input {
        height: $sb-certificatePage-input-height;
        width: $sb-certificatePage-input-width;
        max-width: $sb-certificatePage-input-width;
        overflow: hidden;
        letter-spacing: $sb-certificatePage-input-letter-spacing;
        padding: $sb-certificatePage-input-padding;
        border: 0;
        background-color: transparent;
        background-image: $sb-certificatePage-input-background;
        background-position: bottom;
        background-size: $sb-certificatePage-input-background-size;
        background-repeat: repeat-x;
        background-position-x: 0;
        text-align: left;
        font-weight: bold;
        font-size: $sb-certificatePage-input-font-size;
        color: $sb-certificatePage-input-color;
        text-transform: uppercase;
        &:focus {
          outline: none;
        }
        &::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: $sb-certificatePage-input-placeholder-color;
          opacity: 1; /* Firefox */
        }
    
        &:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: $sb-certificatePage-input-placeholder-color;
        }
    
        &::-ms-input-placeholder {
          /* Microsoft Edge */
          color: $sb-certificatePage-input-placeholder-color;
        }
      }
    }
  
    .sb-certificatePage-holder-details {
      padding: $sb-certificatePage-holder-details-padding;
      .sb-certificatePage-holder-desc {
        font-size: $sb-certificatePage-holder-desc-font-size;
        line-height: $sb-certificatePage-holder-desc-line-height;
        color: $sb-certificatePage-holder-desc-color;
        margin: $sb-certificatePage-holder-margin;
        &.sb-certificatePage-holder-desc-primary {
          color: $sb-certificatePage-holder-desc-primary-color;
          margin: 0;
        }
      }
      .sb-certificatePage-holder-name {
        font-size: $sb-certificatePage-holder-name-font-size;
        line-height: $sb-certificatePage-holder-name-line-height;
        font-weight: bold;
        color: $sb-certificatePage-holder-name-color;
        text-align: center;
        margin: $sb-certificatePage-holder-name-margin;
      }
    }
    .sb-certificatePage-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $sb-certificatePage-overlay-background;
      z-index: 2;
      display: none;
    }
    .sb-certificatePage-loader {
      display: none;
      .sb-certificatePage-loader-img {
        height: $sb-certificatePage-loader-img-height;
        width: $sb-certificatePage-loader-img-width;
      }
    }
    &.loading {
      .sb-certificatePage-overlay {
        display: block;
      }
      .sb-certificatePage-desc-img {
        display: none;
      }
      .sb-certificatePage-loader {
        display: block;
        z-index: 4;
        position: relative;
        color: $sb-certificatePage-holder-desc-primary-color;
        font-weight: bold;
      }
    }
    .error {
      .sb-certificatePage-label {
        display: none;
        &.label-error {
          display: block;
        }
      }
    }
  }
}
