@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
@use "@project-sunbird/sb-styles/assets/flexbox" as *;
.list-heading {
  padding: calculateRem(16px);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: calculateRem(1px) solid var(--gray-100);
  @include respond-below(sm) {
    position: relative;
    padding-right: calculateRem(8px);
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: center;
    font-size: calculateRem(16px);
    padding-right: calculateRem(16px);
  }
  label {
    font-size: calculateRem(24px);
  }
}

.list-items {
  padding: calculateRem(16px);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: calculateRem(0.5px) solid var(--gray-100);
  @include respond-above(md){
    justify-content: space-between;
  }
  @media (max-width: 1023px){
    flex-direction: column;
  }
  &__item {
    text-align: center;
    color: var(--sb-list-items);
    flex: 1 1 0;
    margin: 0 0.5rem;
    @media (max-width: 1023px) {
      text-align: center !important;
      margin: calculateRem(4px) 0px !important;
    }
    &:last-child {
      text-align: right;
      html[dir="rtl"] & {
        text-align: left;
      }
    }
  }

  label {
    font-size: calculateRem(14px);
    font-weight: normal;

    @include respond-below(md) {
      margin-bottom: calculateRem(20px) !important;
      font-size: var(--font-size-base);
    }
  }
  .list-date {
    text-transform: uppercase;
    font-size: var(--font-size-base);
    color: var(--sb-list-data);
  }
  .list-items__bar {
    @extend .flex-ai-jc-center;
    .bar {
      height: calculateRem(2px);
      width: calculateRem(16px);
      background: var(--gray-200);
    }
   
  }
}

