
@use "@project-sunbird/sb-styles/assets/varSass" as *;
@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
// Filters
$sb-prominent-filter-background-color: var(--white);
$sb-prominent-filter-padding: 1rem 1rem;
$sb-prominent-filter-header-font-weight: bold;
$sb-prominent-filter-header-margin: 0.5rem 0
  1rem 0;
$sb-prominent-filter-header-color: var(--primary-color);
$sb-prominent-filter-field-width-below-sm: 50%;
$sb-prominent-filter-field-width-above-sm: 33.3333%;
$sb-prominent-filter-field-width-above-md: 25%;
$sb-prominent-filter-field-width-above-lg: 20%;
$sb-prominent-filter-field-bottom-spacing: 1rem;
$sb-prominent-filter-field-side-spacing: 1rem;
$sb-prominent-filter-field-label-font-size: calculateRem(14px);
$sb-prominent-filter-field-label-font-weight: normal;
$sb-prominent-filter-field-label-color: var(--gray-800);
$sb-prominent-filter-field-label-margin: 0 0 0.5rem 0;
$sb-prominent-filter-field-font-size: calculateRem(12px);
$sb-prominent-filter-field-color: var(--gray-800);
$sb-prominent-filter-field-border: calculateRem(1px) solid var(--gray-200);
$sb-prominent-filter-field-border-radius: calculateRem(3px);
$sb-prominent-filter-field-height: calculateRem(32px);
$sb-prominent-filter-field-width: 100%;
$sb-prominent-filter-field-input-padding: calculateRem(8px);
$sb-prominent-filter-dropdown-font-size: calculateRem(12px);
$sb-prominent-filter-dropdown-header-font-weight: 500;
$sb-prominent-filter-dropdown-item-active-color: var(--primary-color);
$sb-prominent-filter-dropdown-item-active-font-weight: 700;

.sb-prominent-filter {
  background: var(--sb-prominent-filter-bg);
  padding: calculateRem(8px) 0px 0px 0px;

  .sb-prominent-filter-header {
    font-weight: $sb-prominent-filter-header-font-weight;
    margin: $sb-prominent-filter-header-margin;
  }

  .sb-prominent-filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .sb-prominent-filter-field {
      margin: 0 0 $sb-prominent-filter-field-bottom-spacing 0;
      padding: 0 $sb-prominent-filter-field-side-spacing 0 0;
      width: $sb-prominent-filter-field-width-above-lg;

      &:last-child {
        margin-top: auto;
        margin-left: auto;
        text-align: right;
        padding-right: 0;
      }

      label {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: $sb-prominent-filter-field-label-margin;
        font-weight: $sb-prominent-filter-field-label-font-weight;
        font-size: $sb-prominent-filter-field-label-font-size;
        color: $sb-prominent-filter-field-label-color;
      }

      .topic-picker-selector {
        font-size: $sb-prominent-filter-field-font-size;
        color: $sb-prominent-filter-field-color;
        border: $sb-prominent-filter-field-border;
        border-radius: $sb-prominent-filter-field-border-radius;
        width: $sb-prominent-filter-field-width;
        height: $sb-prominent-filter-field-height;
        padding: $sb-prominent-filter-field-input-padding;
      }

      .ui.selection.dropdown {
        min-width: $sb-prominent-filter-field-width;
        width: $sb-prominent-filter-field-width;
        height: $sb-prominent-filter-field-height;
        font-size: $sb-prominent-filter-field-font-size;
        border-radius: $sb-prominent-filter-field-border-radius;
        padding: 0;
        display: flex;
        color: var(--sb-dropdown-menu-text);
        border: calculateRem(1px) solid var(--gray-200);
        background: transparent;
        &:hover{
          border-color: var(--sb-multiple-dropdown-border-hover);
        }
        .divider{
          margin: 0;
        }
        .item {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: $sb-prominent-filter-field-width;
          padding: $sb-prominent-filter-dropdown-font-size;
          color: var(--sb-dropdown-menu-item);
          font-size: $sb-prominent-filter-field-font-size;

          &.header {
            margin: 0;
            font-weight: $sb-prominent-filter-dropdown-header-font-weight;
          }

          &.active {
            color: $sb-prominent-filter-dropdown-item-active-color;
            font-weight: $sb-prominent-filter-dropdown-item-active-font-weight;
          }
          &:hover{
            background: var(--primary-250);
            color: var(--sb-filter-selected-dropdown-hover);
          }
          i.icon.square.outline{
            height: 1rem;
            width:  1rem;
            border: calculateRem(1px) solid var(--primary-300);
            border-radius: calculateRem(5px);
            &::before{
              content: "\f14a";
              visibility: hidden;
            }
            &.check{
              background: $blue;
              border: none;
              color: $sb-prominent-filter-background-color;
              &::before{
                content: "\2713";
                line-height: 1rem;
                visibility: visible;
              }
            }
          }
        }

        .text {
          text-transform: lowercase;
          text-overflow: ellipsis;
          overflow: hidden;
          color:var(--sb-prominent-filter-field-color);
          margin: 0;
          padding: $sb-prominent-filter-field-input-padding;
          font-size: $sb-prominent-filter-field-font-size;
          line-height: 1.21428571em;
          white-space: nowrap;
          &::first-letter {
            text-transform: uppercase;
          }
        }
      }

    }
  }
}
.sb-prominent-filter.sb-bg-color-gray-0 .sb-prominent-filter-container .sb-prominent-filter-field .ui.selection.dropdown{
    background: var(--white);
    border: calculateRem(0.5px) solid var(--gray-200);
}

// responsive

@include respond-above(lg) {
  .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field {
    width: $sb-prominent-filter-field-width-above-lg;

    &:nth-child(5n+5) {
      padding-right: 0;
    }
  }

  *[dir="rtl"] {
    .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field{
      &:nth-child(5n+5) {
        padding-right: $sb-prominent-filter-field-side-spacing;
      }
      &:nth-child(5n+1) {
        padding-right: 0;
      }
      &:last-child {
        padding-right: $sb-prominent-filter-field-side-spacing;
        margin-right: auto;
        margin-left: 0;
        text-align: left;
      }
    }
  }
}

@include respond-between(md, lg) {
  .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field {
    width: $sb-prominent-filter-field-width-above-md;

    &:nth-child(4n+4) {
      padding-right: 0;
    }
  }

  *[dir="rtl"] {
    .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field {
      &:nth-child(4n+4) {
        padding-right: $sb-prominent-filter-field-side-spacing;
      }
      &:nth-child(4n+1) {
        padding-right: 0;
      }
      &:last-child {
        padding-right: $sb-prominent-filter-field-side-spacing;
        margin-right: auto;
        margin-left: 0;
        text-align: left;
      }
    }
  }
}

@include respond-between(sm, md) {
  .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field {
    width: $sb-prominent-filter-field-width-above-sm;

    &:nth-child(3n+3) {
      padding-right: 0;
    }
  }

  *[dir="rtl"] {
    .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field {
      &:nth-child(3n+3) {
        padding-right: $sb-prominent-filter-field-side-spacing;
      }
      &:nth-child(3n+1) {
        padding-right: 0;
      }
      &:last-child {
        padding-right: $sb-prominent-filter-field-side-spacing;
        margin-right: auto;
        margin-left: 0;
        text-align: left;
      }
    }
  }
}

@include respond-below(sm) {
  .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field {
    width: $sb-prominent-filter-field-width-below-sm;

    &:nth-child(2n+2) {
      padding-right: 0;
    }
  }

  *[dir="rtl"] {
    .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field {
      &:nth-child(2n+2) {
        padding-right: $sb-prominent-filter-field-side-spacing;
      }
      &:nth-child(2n+1) {
        padding-right: 0;
      }
      &:last-child {
        padding-right: $sb-prominent-filter-field-side-spacing;
        margin-right: auto;
        margin-left: 0;
        text-align: left;
      }
    }
  }
}

.ui.selection.dropdown.sbt-dropdown-tick,
.sb-prominent-filter-field .ui.selection.dropdown.sbt-dropdown-tick {
  .menu {
    >div >.item, >.item{
      &.active::after {
        content: '';
        display: inline-block;
        transform: rotate(45deg);
        height: calculateRem(12px);
        width: calculateRem(6px);
        position: absolute;
        right: calculateRem(16px);
        border-bottom: calculateRem(2px) solid var(--black);
        border-right: calculateRem(2px) solid var(--black);
        html[dir="rtl"] & {
          left: calculateRem(24px);
          right: inherit;
        }
      }
    }
  }
}