#shepherdModalOverlayContainer {
    background-color: transparent;
}

.shepherd-element .shepherd-content .shepherd-text {
    color: $white;
    text-align: left;
    padding: 0px;
}


.shepherd-element .shepherd-content {
    background-color: $gray-800;
    padding: 16px;
    // max-width:454px;
    //width:454px;
}

.tippy-popper.shepherd-popper[x-placement^=top] .tippy-arrow {
    border-top-color: $gray-800;
}

.tippy-popper.shepherd-popper[x-placement^=bottom] .tippy-arrow {
    border-bottom-color: $gray-800;
}

.shepherd-element .shepherd-content footer .shepherd-buttons li .shepherd-button {
    &.sb-btn-outline-gray {
        border: 0 solid $gray-100;
    }
}

#shepherdModalMask:target,
#shepherdModalOverlayContainer,
#shepherdModalOverlayContainer:nth-child(2) {
    fill: $primary-400;
}

.shepherd-element.shepherd-has-title .shepherd-content header {
    background: none;
    height: $base-block-space * 3;
    width: auto;
    color: $white;
    padding: 0;
    margin-bottom: $base-block-space * 2;
}

.shepherd-element.shepherd-has-title .shepherd-content header h3 {
    font-size: calculateRem(18px);
    color: $white;
    font-weight: bold;
    line-height: $base-block-space * 3;
}

.shepherd-element .shepherd-content footer {
    padding: 0;
}

.shepherd-element .shepherd-content .shepherd-text p:last-child {
    margin-bottom: $base-block-space * 2;
}

.tippy-popper.shepherd-popper .tippy-arrow {
    border: $base-block-space solid transparent;
}


.shepherd-element .shepherd-content footer .shepherd-buttons li .shepherd-button {
    @extend .sb-btn-secondary;
    &:hover {
    border: 0px solid transparent;
    }
}
.shepherd-element .shepherd-content footer .shepherd-buttons li .shepherd-button.back-button {
    @extend .sb-btn-outline-gray;
}
.shepherd-element .shepherd-content footer .shepherd-buttons li .shepherd-button.skip-button {
    @extend .sb-btn-link-tertiary;
}


