// label


// base label styles
.sb-label {
    display: inline-block;
    border: calculateRem(1px) solid;
    color: var(--white);
    line-height: inherit;
    @include border-radius(3px);
    text: {
        transform: capitalize;
        decoration: none;
    }
}
// label sizes
.sb-label-xs, 
.sb-label-normal, 
.sb-label-sm,
.sb-label-md {
    padding: calculateRem(8px) calculateRem(16px);
}
.sb-label-xs {
    height: calculateRem(24px);
    padding: calculateRem(4px) calculateRem(4px);
    font-size: var(--font-size-sm);
}
//primary label style
.sb-label-normal {
    height: calculateRem(32px);
    font-size: var(--font-size-sm);
}
.sb-label-sm {
    height: calculateRem(40px);
    font-size: var(--font-size-base);
}
.sb-label-md {
    height: calculateRem(48px);
    font-size: var(--h5-font-size);
}
.sb-label-lg {
  height: calculateRem(56px);
  padding: calculateRem(24px);
  font-size: var(--h4-font-size);
}
.sb-label-table {
    padding: calculateRem(4px) calculateRem(8px);
    font-size: var(--font-size-sm);
    min-width: calculateRem(48px);
    text-align: center;
    .sb-live {
        height: calculateRem(8px);
        width:calculateRem(8px);
        background: var(--secondary-200);
        display: inline-block;
        border-radius: 50%;
        margin-right: calculateRem(4px);
    }
}
// default outline colored labels
.sb-label-outline-primary {
    @include label-theme-bgwhite(var(--primary-color));
} 
.sb-label-outline-secondary {
    @include label-theme-bgwhite(var(--secondary-200));
} 
.sb-label-outline-tertiary {
    @include label-theme-bgwhite(var(--tertiary-color));
}
// status outline labels
.sb-label-outline-info {
    @include label-theme-bgwhite(var(--primary-color));
} 
.sb-label-outline-success {
    @include label-theme-bgwhite(var(--secondary-200));
} 
.sb-label-outline-warning {
    @include label-theme-bgwhite(var(--tertiary-color));
}   
.sb-label-outline-error {
    @include label-theme-bgwhite(var(--red));
} 
.sb-label-outline-gray {
    @include label-theme-bgwhite(var(--gray-800));
} 
// default colored labels
.sb-label-primary,
.sb-label-info {
    @include label-theme(var(--primary-color));
}
.sb-label-primary-100,
.sb-label-info-100 {
    @include label-theme(var(--primary-100));
    color: var(--primary-color);
} 
.sb-label-text-primary-100,
.sb-label-text-info-100 {
    color: var(--primary-color);
} 
.sb-label-secondary,
.sb-label-success {
    @include label-theme(var(--secondary-200));
}
.sb-label-secondary-0,
.sb-label-success-0 {
    @include label-theme(var(--secondary-0));
    color: var(--secondary-200);
}
.sb-label-text-secondary-200,
.sb-label-text-success-200 {
    color: var(--secondary-200);
}
.sb-label-tertiary,
.sb-label-warning {
    @include label-theme(var(--tertiary-color));
}
.sb-label-tertiary-0,
.sb-label-warning-0 {
    @include label-theme(var(--tertiary-0));
    color: var(--tertiary-color);
}
.sb-label-text-tertiary-0,
.sb-label-text-warning-0 {
    color: var(--tertiary-color);
}
.sb-label-success {
    @include label-theme(var(--secondary-200));
} 
.sb-label-info {
    @include label-theme(var(--primary-400));
}
.sb-label-warning {
    @include label-theme(var(--tertiary-400));
} 
.sb-label-error {
    @include label-theme(var(--red));
}
.sb-label-error-0 {
    @include label-theme(var(--red-0));
    color: var(--red)-400;
}
.sb-label-gray-0 {
    @include label-theme(var(--gray-0));
    color: var(--gray-400);
}
.sb-label-text-gray-0 {
    color: var(--gray-400);
}
//qr code result label
.sb-result-label,
.sb-pageSection-count{
    background: var(--tertiary-color);
    padding: calculateRem(4px) calculateRem(8px);
    border-radius: calculateRem(4px);
    font-size:calculateRem(16px);
    border: none;
    height: auto;
}
.badge {
    display: inline-block;
    background: var(--sbt-badge-bg);
    color: var(--sbt-badge-text);
    text-align: center;
    padding: 0 .75rem;
    border-radius: .25rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
}
.sb-section-title {
    font-size: var(--h5-font-size);
    font-weight: 600;
    line-height: calculateRem(24px);
    color: var(--gray-800);
    margin-bottom: 0px;
}
.sb-section-title {
    font-size: var(--h5-font-size);
    font-weight: 600;
    line-height: calculateRem(24px);
    color: var(--gray-800);
    margin-bottom: 0px;
}
.sb-filter-label {
    display: inline-block;
    >div.d-inline-flex {
        align-items: center;
        margin-bottom: calculateRem(8px);
    }
    .sb-label-name {
        font-size: var(--font-size-sm);
        padding-right: calculateRem(4px);
    }
    .sb-label-value {
        background-color: var(--primary-200);
        padding: calculateRem(4px) calculateRem(8px);
        color: var(--white);
        display: inline-block;
        font-size: var(--font-size-sm);
        text-transform: capitalize;
        margin-right: calculateRem(8px);
        cursor: pointer;
        border-radius: calculateRem(2px);
    }
}
//network status label offline
.sb-label-status {
   width: calculateRem(130px);
   position: relative;
   padding: calculateRem(5px);
   height: calculateRem(16px);
   display:flex;
   align-items:center;
   justify-content:center;
   font-size: calculateRem(14px);
   z-index: 2;
    &:before {
        content: "";
        position: absolute;
        border: calculateRem(1px) solid teal; 
        top: -11%;
        bottom: -11%;
        left: -2%;
        right: -3%;
        z-index: -1;
        -webkit-transform: perspective(60px) rotateX(-40deg);
        transform: perspective(200px) rotateX(-40deg);
        border-bottom-left-radius: calculateRem(10px);
        border-bottom-right-radius: calculateRem(10px);
    }
    &.sb-label-status-success:before {
        border-color: var(--secondary-0);
        background-color: var(--secondary-0);
    }
    &.sb-label-status-error:before {
        border-color: var(--tertiary-0); 
        background-color: var(--tertiary-0);
    }
    .sb-label-status-indicator {
        height: calculateRem(8px);
        width: calculateRem(8px);
        display: inline-block;
        border-radius: 50%;
        margin-right: calculateRem(4px);
        &.sb-label-status-indicator-error {
            background: var(--tertiary-color);
        }
        &.sb-label-status-indicator-success {
            background: var(--secondary-color);
        }
    }
 }
.sb-label-status-error {
    color: var(--tertiary-color);  
}
.sb-label-status-success {
    color: var(--secondary-color);
  }

// cbse
.sb-status-label {
  width: 8px;
  height: 8px;
  display: inline-block;
  &.sb-shape-circle {
    border-radius: 100%;
  }
  &.sb-bg-warning {
    background: var(--tertiary-100);
  }
  &.sb-bg-success {
    background: var(--secondary-color);
  }
  &.sb-bg-error {
    background: var(--red);
  }
  &.sb-bg-primary {
    background: var(--primary-color);
  }
}
