.sb-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:after {
    content: '';
    width: calculateRem(32px);
    height: calculateRem(32px);
    border-radius: 50%;
    border: calculateRem(2px) solid;
    border-color: var(--teal) var(--teal) transparent;
    animation: loader 0.5s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.dimmer {
    width: 100%;
    height: 100%;
    background: rgba(var(--rc-rgba-black), 0.8);
    z-index: 9999;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes move-dot {
  0% {
    -webkit-transform: translateY(-50%) translateX(0) scale(1);
            transform: translateY(-50%) translateX(0) scale(1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    25% {
      -webkit-transform: translateY(-50%) translateX(3.75vmin) scale(1.3);
              transform: translateY(-50%) translateX(3.75vmin) scale(1.3);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    50% {
      -webkit-transform: translateY(-50%) translateX(7.5vmin) scale(1);
              transform: translateY(-50%) translateX(7.5vmin) scale(1);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    75% {
      -webkit-transform: translateY(-50%) translateX(3.75vmin) scale(0.5);
              transform: translateY(-50%) translateX(3.75vmin) scale(0.5);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(-50%) translateX(0) scale(1);
              transform: translateY(-50%) translateX(0) scale(1);
    }
  }
@keyframes move-dot {
  0% {
    -webkit-transform: translateY(-50%) translateX(0) scale(1);
            transform: translateY(-50%) translateX(0) scale(1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    25% {
      -webkit-transform: translateY(-50%) translateX(3.75vmin) scale(1.3);
              transform: translateY(-50%) translateX(3.75vmin) scale(1.3);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    50% {
      -webkit-transform: translateY(-50%) translateX(7.5vmin) scale(1);
              transform: translateY(-50%) translateX(7.5vmin) scale(1);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    75% {
      -webkit-transform: translateY(-50%) translateX(3.75vmin) scale(0.5);
              transform: translateY(-50%) translateX(3.75vmin) scale(0.5);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(-50%) translateX(0) scale(1);
              transform: translateY(-50%) translateX(0) scale(1);
    }
  }
@-webkit-keyframes update-z-index {
  0% {
    z-index: 1;
    }
    49% {
      z-index: 1;
    }
    50% {
      z-index: -1;
    }
    100% {
      z-index: -1;
    }
  }
  @keyframes update-z-index {
    0% {
      z-index: 1;
    }
    49% {
      z-index: 1;
    }
    50% {
      z-index: -1;
    }
    100% {
      z-index: -1;
    }
  }
