@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.sb-sidebar-menu {
  h5 {
    font-weight: var(--font-weight-bold);
    padding: calculateRem(16px) 0;
  }
  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      padding: calculateRem(12px) calculateRem(16px);
      font-size: var(--font-size-sm);
      color: var(--gray-800);
      cursor: pointer;
      &.active {
        background: var(--sb-sidebar-menu-bg-active);
        border-left: calculateRem(2px) solid var(--primary-color);
        color: var(--sb-sidebar-menu-text);
        font-weight: var(--font-weight-bold);
      }
      &:hover {
        background: var(--sb-sidebar-menu-bg);
        color: var(--sb-sidebar-menu-text);
      }
    }
  }
}
.sb-sideview-tab-container {
  padding: calculateRem(24px) calculateRem(24px);
  background: var(--sb-sidebar-menu-bg-active);
  min-height: calc(100vh - 288px);
}

.sb-dotmenu {
  width: calculateRem(4px);
  height: calculateRem(4px);
  border-radius: 50%;
  background-color: var(--gray-200);
  box-shadow: 0px calculateRem(-6px) 0px var(--gray-200), 0px calculateRem(6px) 0px var(--gray-200);
  display: inline-block;
  cursor: pointer;
}

.sb-tabset-menu {
    background: var(--gray-0);
    width: 100%;
    min-height: calculateRem(40px);
    display: flex;

    .sb-item {
        font-size: var(--font-size-base);
        color: var(--gray-800);
        padding: calculateRem(16px) calculateRem(24px);
        cursor: pointer;

        &.active {
            color: var(--primary-color);
            border-bottom: calculateRem(2px) solid var(--primary-color);
        }
    }
}