@import "./buttons";

/* modal styles */
.sb-modal {
  .ui.modal {
    @include margin(3.5rem auto 0 auto);
    @include position(null, 0 0 null 0); //bourbon
    @include size(100%, auto); //bourbon
    background: none;

    .sb-modal-header {
      background-color: var(--primary-400);
      color: var(--white);
      font-weight: 700;
      font-size: calculateRem(16px);
      padding: calculateRem(8px) calculateRem(16px);
      border-bottom: 0 solid var(--gray-100); //@include size(auto,($base-block-space * 5)); //bourbon
      min-height: calculateRem(40px);
      line-height: calculateRem(24px);
    }

    .sb-modal-content {
      min-height: 100px;
      padding: calculateRem(16px);
      
      overflow-y: auto;
      background: var(--white);
    }

    &>.close {
      color: var(--white);
      font-size: calculateRem(14px);
      @include padding(0 0); //bourbon
      @include margin(0 0);
      @include size(($base-block-space * 5), ($base-block-space * 5)); //bourbon
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      outline: 0px;
      @include position(absolute, 0 0 null null); //bourbon
    }

    .sb-modal-actions {
      padding: calculateRem(8px) calculateRem(16px);
      background: var(--white);
      border-top: calculateRem(1px) solid var(--gray-100);
      min-height: calculateRem(56px);
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      .sb-btn+.sb-btn {
        @include margin(0 0.5rem 0 0);
      }
    }

    .small {
      color: var(--gray-400);
    }

    &.small {
      max-width: calculateRem(480px);
    }

    &.normal {
      max-width: calculateRem(720px);

      .sb-modal-content {
        max-height: calculateRem(380px);

        &.o-y-visible {
          max-height: inherit;
        }
      }
    }

    &.large {
      max-width: calculateRem(900px);

      .sb-modal-content {
        height: calc(100vh - 200px);
      }
    }

    &.sb-modal-fullscreen {
      @include position(fixed, 0 0 0 0); //bourbon
      width: 100%;
      @include margin(0 auto);
      overflow-y: auto;
      overflow-x: hidden;

      .sb-modal-header {
        height: calculateRem(56px);
        width: auto;
        border-radius: 0;
        display: flex;
        justify-content: space-between;
      }

      .sb-modal-content {
        height: calc(100vh - 120px);
      }

      .close {
        position: relative;
      }
    }

    &.fullscreen {
      width: 100% !important;
      margin: 0px !important;
      left: 0px !important;

      .sb-modal-content {
        min-height: calc(100vh - 96px);
      }
    }
  }

  // sb modal confirmation/alert styles
  &-center {
    .sb-modal-header {
      text-align: center;
    }

    .sb-modal-content {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .sb-modal-actions {
      @extend .sb-modal-content;
      border-top: 0px !important;
      padding-bottom: calculateRem(24px) !important;
    }
  }

  &.sb-warning .ui.modal {
    .sb-modal-header {
      background-color: var(--tertiary-100);
    }

    .sb-modal-actions {
      .sb-btn:nth-child(1) {
        @extend .sb-btn-warning;
      }

      .sb-btn {
        @extend .sb-btn-outline-warning;
      }
    }
  }

  &.sb-success .ui.modal {
    .sb-modal-header {
      background-color: var(--secondary-200);
    }

    .sb-modal-actions {
      .sb-btn:nth-child(1) {
        @extend .sb-btn-success;
      }

      .sb-btn {
        @extend .sb-btn-outline-success;
      }
    }
  }

  &.sb-error .ui.modal {
    .sb-modal-header {
      background-color: var(--red-400);
    }

    .sb-modal-actions {
      .sb-btn:nth-child(1) {
        @extend .sb-btn-error;
      }

      .sb-btn {
        @extend .sb-btn-outline-error;
      }
    }
  }
}

[dir="rtl"] .sb-modal {
  .ui.modal {
    &>.close {
      right: auto !important;
      left: 0;
    }

    .sb-modal-actions {
      .sb-btn+.sb-btn {
        @include margin(0 0 0 0.5rem);
      }
    }
  }
}

@include respond-below(sm) {
  .sb-modal {
    .ui.modal {
      position: absolute;
      width: 95%;
      margin: 0 auto !important;
      top: 50%;
      transform: translate(0, -50%);
      height: inherit;

      &>.close {
        top: 0 !important;
        right: 0 !important;

      }

      &>.sb-modal-actions {
        padding: calculateRem(8px) calculateRem(16px); // recheck this style
      }
    }

    .ui.modal .scrolling.content {
      max-height: calc(100vh - 10rem);
      overflow: auto;
    }

    .ui.page.dimmer {
      display: flex !important;
      align-items: center;
      justify-content: center;
    }
  }
}

// sb modal white
.sb-modal-white {
  .ui.modal>.close {
    top: 0rem;
    right: 0;
    color: var(--primary-400);
  }
}

// workspace modal spacing issue
.sb-workspace-modal {
  .twelve.wide.column {
    padding: 0;
  }

  .six.wide.column:nth-child(even) {
    padding: 0;
    padding-right: calculateRem(8px);
  }

  .six.wide.column:nth-child(odd) {
    padding: 0;
    padding-left: calculateRem(8px);
  }
}

//merge account modal bullet list
.sb-merge-account-modal {
  ul {
    list-style-type: disc;
  }
}

.ui.error.message.bulkupload-error {
  max-height: calculateRem(200px);
  overflow: auto;

  .errorDiv {
    opacity: 0.00001;

    .errorTextArea {
      height: calculateRem(8px);
    }
  }
}

.sb-batch-update-modal {
  .checkbox-img {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    display: inline;
    width: 2rem;
    height: 2rem;
    background-color: var(--rc-009D53);
    -webkit-mask-image: url(assets/images/checkbox-icon.svg);
    mask-image: url(assets/images/checkbox-icon.svg);
    -webkit-mask-size: contain;
    -webkit-mask-position: 50% 50%;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
  }
}

//preview modal
.sb-cert-preview-modal {
  .sb-modal-content {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto !important;
    max-height: 100% !important;

    .cert-preview-img {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
      }
    }
  }
}
