@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.sb-pagination-container {
    display: flex;
    .sb-pagination {
        display: flex;
        align-items: center;
        margin: calculateRem(8px) 0px;
        font-weight: 400;
        font-size: calculateRem(14px);
        border-radius: calculateRem(4px);
        background-color: var(--sb-pagination-bg);
    
        &.mini {
            font-size:calculateRem(12px);
            .sb-item {
                padding: calculateRem(12px);
            }
        }
    
        &.large {
            font-size: calculateRem(16px);
            .sb-item {
                padding: calculateRem(20px);
            }
        }
    
        .sb-item {
            padding: calculateRem(8px) calculateRem(16px);
            line-height: calculateRem(14px);
            color: var(--sb-pagination-item);
            cursor: pointer;
            background: var(--sb-pagination-item-bg);
            border: calculateRem(1px) solid var(--rc-e2e3e5);
            border-right: none;
            display: inline-block;
            &:hover {
                border: calculateRem(0.5px) solid var(--primary-300);
                text-decoration: none !important;
            }
            &:first-child {
                border-radius: calculateRem(4px) 0 0 calculateRem(4px);
            }
            &:last-child {
                border: calculateRem(1px) solid var(--rc-e2e3e5);
                border-radius: 0 calculateRem(4px) calculateRem(4px) 0;
                &:hover{
                    border: calculateRem(0.5px) solid var(--primary-300);
                }
            }

            &.disabled {
                pointer-events: none;
                cursor: not-allowed;
                opacity: 0.3;
            }
        }
        .sb-item.active{
            border: calculateRem(0.5px) solid var(--primary-300);
            background: var(--primary-250);
            color: var(--sb-pagination-item-active);
        }
        .no-border {
            border: none;
            border-left: calculateRem(1px) solid var(--rc-e2e3e5);
        }
    }
}

[dir="rtl"] {
    .sb-pagination-container .sb-pagination {
        .sb-item:last-child {
            border-radius: calculateRem(4px) 0 0 calculateRem(4px);
        }
        .sb-item:first-child {
            border-radius: 0 calculateRem(4px) calculateRem(4px) 0;
        }
    }
    
}
