@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.sb-pageSection {
  .sb-pageSection-header {
    display: flex;
    align-items: center;
    margin : calculateRem(16px) 0 calculateRem(16px) 0;
    &.sb-pageSection-header-compact{
     margin: 0 0 calculateRem(8px) 0 ;
    }
  }
  .sb-pageSection-title {
    font-size: calculateRem(16px);
    display: inline;
    font-weight: 500;
    line-height: normal;
    &.sb-pageSection-sentenceCase {
      text-transform: lowercase;
      &::first-letter {
          text-transform: uppercase;
      }
    }
  }
  .sb-pageSection-footer {
    color: var(--gray-0);
  }
  .sb-cls-btn{
    padding: calculateRem(8px);
    i.icon{
      margin-right: 0 !important;
    }
  }
}
.last .sb-pageSection-footer {
  display: none !important;
}
.content-grid{
  .sb-pageSection{
    margin: 0;
    .sb-pageSection-title{
      text-transform: none; 
    }
  }
}