// tooltip Component
$tooltip-bg: $gray;
$tooltip-color: $gray-0;
$tooltip-content-color: $gray-200;
$tooltip-content-font-size: $font-size-sm;
$tooltip-header-font-size: $font-size-sm;

.ui {
    &.popup {
      background: $tooltip-bg;
      border: calculateRem(1px) solid $tooltip-bg;
      padding: $base-block-space;
  
      .content {
        font-size: $tooltip-content-font-size;
        color: $tooltip-color; 
        line-height: normal;
      }
  
      .header {
        font-size: $tooltip-header-font-size;
        color:$tooltip-content-color;
      }
  
      .arrow {
        background: $tooltip-bg;
        border: calculateRem(1px) solid $tooltip-bg;
        box-shadow: calculateRem(1px) calculateRem(1px) 0 0 $tooltip-bg !important;
        display: none;
      }
    }
  }
  

  tooltip {
    color: var(--white) !important;
    background-color: var(--black) !important;
  }
