// Radio buttons
$sb-radio-btn-border: 1px; //width of the border
$sb-radio-btn-border-radius: 100%;
$sb-radio-btn-disabled-opacity: 0.5;
$sb-radio-btn-border-color: $primary-300;
$sb-radio-btn-border-disabled-color: $gray-100;
$sb-radio-btn-label-color: $gray-200;
$sb-radio-btn-backgroud-before-checked: $white-color;
$sb-radio-btn-backgroud-after-checked: $primary-300;

// Checkbox
$sb-checkbox-primary-background: $primary-color;
$sb-checkbox-secondary-background: $secondary-100;
$sb-checkbox-warning-background: $tertiary-100;
$sb-checkbox-error-background: $red-100;
$sb-radio-btn-primary-border: $primary-color;
$sb-radio-btn-secondary-border: $secondary-100;
$sb-radio-btn-warning-border: $tertiary-100;
$sb-radio-btn-error-border: $red-100;
$sb-checkbox-border-width: 1px;
$sb-checkbox-background-color: $secondary-100;
$sb-checkbox-label-font-size: 0.8571rem;
$sb-checkbox-border-radius: 4px;
$sb-checkbox-after-checked-color: $white-color;
$sb-checkbox-before-checked-background-color: $white-color;

.sb-radio-btn {
    input[type="radio"] {
      &:checked, &:not(:checked) {
        position: absolute;
        left: calculateRem(-9999px);
      }
      &[disabled="disabled"] + label{
        opacity: $sb-radio-btn-disabled-opacity;
        cursor: not-allowed;
      }
      &[disabled="disabled"]:checked + label:before, &[disabled="disabled"]:not(:checked) + label:before {
        border: $sb-radio-btn-border solid $sb-radio-btn-border-disabled-color;
        opacity: $sb-radio-btn-disabled-opacity;
      }
      &:checked + label, &:not(:checked) + label {
        position: relative;
        padding-left: ($base-block-space * 3);
        cursor: pointer;
        line-height: calculateRem(20px);
        display: inline-block;
        color: $sb-radio-btn-label-color;
      }
      &:checked + label:before, &:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: calculateRem(1px);
        width: ($base-block-space * 2);
        height: ($base-block-space * 2);
        border: $sb-radio-btn-border solid $sb-radio-btn-border-color;
        border-radius: $sb-radio-btn-border-radius;
        background: $sb-radio-btn-backgroud-before-checked;
      }
      &:checked + label:after {
        content: '';
        width: ($base-block-space * 1);
        height: ($base-block-space * 1);
        background: $sb-radio-btn-backgroud-after-checked;
        position: absolute;
        top: calculateRem(5px);
        left: calculateRem(4px);
        border-radius: $sb-radio-btn-border-radius;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
      &:not(:checked) + label:after {
        content: '';
        width: ($base-block-space * 1);;
        height: ($base-block-space * 1);;
        background: $sb-radio-btn-backgroud-after-checked;
        position: absolute;
        top: calculateRem(4px);
        left: calculateRem(4px);
        border-radius: $sb-radio-btn-border-radius;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      &:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
 }
 .sb-account-recover-page{
  .sb-radio-btn-checkbox.sb-radio-btn-primary label:before {
    border: calculateRem(1px) solid $blue !important;
  }
  .sb-radio-btn-checkbox.sb-radio-btn-primary input:checked ~ label:after {
    background-color: $blue !important;
  }
 }
 