@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
.sb-account-recover-page {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100%;

  @include respond-above(xs) {
    max-width: calculateRem(320px);
    min-height: calculateRem(540px);
  }
  .sb-account-recoverpage-logo {
    height: calculateRem(56px);
  }
  .sb-account-recoverpage-header{
    .sb-account-recoverpage-header-text {
      font-size: calculateRem(18px);
      font-weight: bold;
    }
  }
}
.sb-account-recover-page-section {
  .sb-form-control{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: calculateRem(30px);
    &::placeholder {
      color: var(--gray-200);
      opacity: 1; 
    }
  }
  .sb-field-group {
    .sb-account-recoverpage-label {
      font-size: var(--font-size-base);
      font-weight: normal;
    }
  }
  .sb-field-verified{
    color: var(--secondary-color);
    position: absolute;
    top: calculateRem(32px);
    right: calculateRem(8px);
    display: block;
    font-size: var(--font-size-base);
  }
  .sb-account-recover-page-radio{
    .sb-account-recover-page-radio-label{
      font-size: var(--font-size-base);
      line-height:calculateRem(24px);
    }
  }
  .sb-account-recover-page-otp-text{
    font-size: var(--font-size-base);
    line-height: calculateRem(24px);
    color: var(--gray-200);
    span{
      color: var(--black);
    }
  }
  .sb-account-recover-page-info-msg{
    font-size: var(--font-size-base);
    line-height: calculateRem(24px);
    color: var(--black);
  }
  .sb-account-recover-page-otp-success-msg{
    color: var(--secondary-200);
    font-size: var(--font-size-base);
  }
  
}
