
.sb-account-recover-page {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100%;

  @include respond-above(xs) {
    max-width: 320px;
    min-height: 560px;
  }

  .sb-account-recoverpage-logo {
    height: 56px;
  }
  .sb-form-control{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 30px;
  }
  .sb-account-recoverpage-header-text {
    font-size: 18px;
    font-weight: bold;
  }

  .sb-field-group {
    .sb-account-recoverpage-label {
      font-size: $font-size-normal;
      font-weight: normal;
    }
  }
  .sb-field-verified{
    color: $green;
    position: absolute;
    top: ($base-block-space * 4);
    right: $base-block-space;
    display: block;
    font-size: $font-size-normal;
  }
}
