.sb-account-recover-page {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100%;

  @include respond-above(xs) {
    max-width: 320px;
    min-height: 540px;
  }
  .sb-account-recoverpage-logo {
    height: 56px;
  }
  .sb-account-recoverpage-header{
    margin-top: calculateRem(24px);
    .sb-account-recoverpage-header-text {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
.sb-account-recover-page-section {
  .sb-form-control{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: calculateRem(30px);
    &::placeholder {
      color: $gray-200;
      opacity: 1; 
    }
  }
  .sb-field-group {
    .sb-account-recoverpage-label {
      font-size: $font-size-normal;
      font-weight: normal;
    }
  }
  .sb-field-verified{
    color: $green;
    position: absolute;
    top: calculateRem(32px);
    right: calculateRem(8px);
    display: block;
    font-size: $font-size-normal;
  }
  .sb-account-recover-page-radio{
    .sb-account-recover-page-radio-label{
      font-size: $font-size-normal;
      line-height:calculateRem(24px);
    }
  }
  .sb-account-recover-page-otp-text{
    font-size: $font-size-normal;
    line-height: calculateRem(24px);
    color: $gray-200;
    span{
      color: $black;
    }
  }
  .sb-account-recover-page-info-msg{
    font-size: $font-size-normal;
    line-height: calculateRem(24px);
    color: $black;
  }
  .sb-account-recover-page-otp-success-msg{
    color: $secondary-200;
    font-size: $font-size-normal;
  }
  
}
