/* Search Component */
.sb-search-box {
  display: flex;
  align-items: center;
  border-radius: calculateRem(12px);
  max-width: 100%;
  width:100%;
  padding: 0 !important;
  @include respond-above(sm) {
    &.large {
      max-width: calculateRem(492px);
    }
    &.medium {
      max-width: calculateRem(392px);
    }
    &.small {
      max-width: calculateRem(282px);
    }
  }
  &:focus-within {
    box-shadow: 0px 0px calculateRem(2px) calculateRem(1px) var(--sbt-search-border-color);
    border-radius: calculateRem(12px);
  }
  &.no-btn {
    .input-div {
      width: 100%;
    }
    .sb-search-input {
      border-radius: calculateRem(12px) !important;
      border: 0;
      padding-right: calculateRem(8px);
    }
    .sb-btn {
        display: none;
    }
 }
  &.disabled {
      opacity: 0.3;
      cursor: pointer;
      button, input, .icon {
          pointer-events: none;
      }
     &:focus-within {
         box-shadow: 0px 0px calculateRem(2px) calculateRem(1px) var(--sbt-search-border-color);
      }
  }
  .input-div {
    flex: 2 1 auto;
  }
  .sb-search-input {
    width: 100%;
    font-size: $font-size-sm;
    min-height: calculateRem(32px);
    outline: 0;
    border: calculateRem(1px) solid var(--sbt-search-border-color);
    padding: calculateRem(4px) calculateRem(4px) calculateRem(4px) calculateRem(32px);
    border-radius: calculateRem(12px) 0 0 calculateRem(12px);
    line-height: normal;
    background: var(--sbt-search-input-bg);
    color: $gray-200;
  }
  .sb-btn {
    background: var(--sbt-search-btn-bg);
    border: calculateRem(1px) solid var(--sbt-search-border-color);
    min-width: auto;
    white-space: nowrap;
    border-left: none;
    border-radius: 0 calculateRem(12px) calculateRem(12px) 0;
    color: var(--sbt-search-btn-color);
    font-size: $font-size-sm;
    font-weight: bold;
    margin: 0 !important;
  }
  .icon {
    position: absolute;
    margin: 0;
    height: calculateRem(16px);
    width: calculateRem(16px);
    line-height: normal;
    &.search {
      top: calculateRem(8px);
      left: calculateRem(8px);
      color: var(--gray-200);
    }
    &.close {
      top: calculateRem(8px);
      right: calculateRem(8px);
      cursor: pointer;
      background: var(--sbt-search-close-btn-bg);
      color: var(--white);
      border-radius: 50%;
      font-size: $font-size-sm;
      padding: calculateRem(1.5px) 0 0 calculateRem(1px);
    }
  }
  .sb-loader {
    position: absolute;
    top: calculateRem(8px);
    right: calculateRem(32px);
    left: unset;
    transform: none;
    width: calculateRem(16px);
    height: calculateRem(16px);
    &:after {
      top: unset;
      left: unset;
      transform: none;
      width: calculateRem(16px);
      height: calculateRem(16px);
    }
  }
}
[dir="rtl"] {
  .sb-search-box {
    .sb-search-input {
       border-radius: 0 calculateRem(12px) calculateRem(12px) 0;
      // border-left: calculateRem(0.5px) solid var(--sbt-search-border-color);
      padding:  calculateRem(4px) calculateRem(32px) calculateRem(4px) calculateRem(4px);
    }
    .sb-btn {
      border-radius: calculateRem(12px) 0 0 calculateRem(12px);
      border-left: calculateRem(1px) solid var(--sbt-search-border-color);
      border-right: none;
    }
    .icon {  
      &.search {
        right: calculateRem(8px);
      }
      &.close {
        top: calculateRem(8px);
        left: calculateRem(8px);
        right: unset;
      }
    }
    .sb-loader {
      left: calculateRem(32px);
      right: unset;
    }
  }
}
input:-internal-autofill-previewed, 
input:-internal-autofill-selected, 
textarea:-internal-autofill-previewed, 
textarea:-internal-autofill-selected, 
select:-internal-autofill-previewed, 
select:-internal-autofill-selected {
  background-color: var(--white) !important;
}