.ui.selection.dropdown:focus,
.ui.multiple.dropdown:focus,
.ui.selection.dropdown:focus .menu {
    border-color: #96C8DA;
}

.ui.selection.active.dropdown:hover {
    border-color: $sb-dropdown-border-hover;
}

.ui.multiple.dropdown {
    border-color: $sb-dropdown-border-color;
}

.ui.selection.dropdown .menu>.item.active,
.prominent-filter .ui.selection.dropdown .menu>.item.active {
    color: $sb-dropdown-active-item;
}

.multi-select-dropdown i.icon {
    font-size: $sb-multi-select-dropdown-icon-font-size;
}

.ui.selection.dropdown {
    border-radius: $sb-dropdown-border-radius;
    min-height: $sb-selection-dropdown-min-height;
    padding: $sb-selection-dropdown-padding;
    //line-height: $sb-selection-line-height;
    font-size: 12px;
}

.ui.multiple.dropdown .label {
    font-size: $sb-dropdown-label-font-size;
    font-size:$sb-multiple-dropdown-label-font-size;
    margin: 0 ($base-block-space/4) ($base-block-space/2) ($base-block-space/4);
}

.ui.selection.dropdown>.dropdown.icon,
.ui.selection.dropdown>.search.icon {
    margin: -.8571429em;
}

.ui.multiple.dropdown>.text {
    margin: $sb-multiple-dropdown-text-margin;
    font-size: $sb-multiple-dropdown-text-font-size;
}

.ui.selection.dropdown .menu {
   // min-width: calc(100% + 1px);
    width: calc(100%);
}

.ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
    color: #333;
}

.ui.dropdown .menu>.item {
    font-size:0.86rem;
}

.ui.selection.dropdown.state-selection .menu > .item.active {
    color: #024f9d;
    background-color: #E5EDF5;
}