
// Dropdown
$sb-dropdown-border-hover: $primary-300;
$sb-dropdown-border-radius: 3px;
$sb-dropdown-border: $input-border-width solid $sb-dropdown-border-color;
$sb-dropdown-active-item: #333;
$sb-selection-dropdown-min-height: ($base-block-space * 4);
$sb-selection-dropdown-padding: ($base-block-space/2) ($base-block-space/1);
$sb-multiple-dropdown-label-font-size: $font-size-sm;
$sb-multiple-dropdown-text-margin: 0.23238095em 0 0.23238095em 0.64285714em;
$sb-multiple-dropdown-text-font-size: $font-size-sm;


.ui.selection.dropdown {
  border-radius: $sb-dropdown-border-radius;
  min-height: $sb-selection-dropdown-min-height;
  padding: $sb-selection-dropdown-padding;
  font-size: calculateRem(12px);

  &:focus ,.menu {
    border-color: #96C8DA;
    width: calc(100%);
  }
}

.ui.selection.active.dropdown:hover {
  border-color: $sb-dropdown-border-hover;
}

.ui.selection.dropdown .menu>.item.active,
.prominent-filter .ui.selection.dropdown .menu>.item.active {
  color: $sb-dropdown-active-item;
}

.ui.default.dropdown:not(.button)>.text,
.ui.dropdown:not(.button)>.default.text {
  color: var(--gray-800);
}

.ui.multiple.dropdown {
  border-color: $sb-dropdown-border-color;

  &.label {
    font-size: $sb-multiple-dropdown-label-font-size;
    margin: 0 ($base-block-space/4) ($base-block-space/2) ($base-block-space/4);
  }

  &:focus {
    border-color: #96C8DA;
  }

  &>.text {
    margin: $sb-multiple-dropdown-text-margin;
    font-size: $sb-multiple-dropdown-text-font-size;
  }
}

.sb-field {
  .ui.sb-form-control.dropdown>.dropdown.icon {
    float: right;
  }
}

.sb-form {
  .ui.selection.dropdown.fields-dropdown {
    min-height: 2rem !important;

    &:focus {
      border: calculateRem(1px) solid #0076FE;
      color: #0076FE !important;
    }

    &:focus~label {
      border: 0px;
      color: #0076FE;
      font-weight: normal;
    }

    option {
      background: var(--white);
      color: var(--black);
    }
  }
}
