
@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
.ui.secondary.pointing.menu {
  &.sb-tabs__header {
    height: calculateRem(56px);

    .item {
      margin: 0 0 0px;
    }

    .active.item,
    .item:hover {
      color: var(--primary-400);
    }
  }

  .active.item {
    border-color: var(--primary--600);
    color: var(--primary--600);

    &:hover {
      border-color: var(--primary-600);
      color: var(--primary--600);
    }
  }

  &.pointing-tab {
    border: calculateRem(1px) solid var(--rc-e2e3e5); //TODO design team need to add this in color scheme
    border-radius: calculateRem(4px);
    box-shadow: 0 calculateRem(1px) calculateRem(2px) 0 rgba(var(--rc-rgba-black), 0.15);
    min-height: 2.285714em;

    .item {
      border-right: calculateRem(1px) solid var(--rc-e2e3e5);

      &:last-child {
        border-right: 0;

      }
    }

    .active.item {
      border: 0;
      margin: 0;
      background-color: var(--primary-100);

      &:after {
        content: '';
        position: absolute;
        display: block;
        top: 100%;
        left: 50%;
        right: 0;
        width: 0;
        height: 0;
        border-top: solid calculateRem(8px) var(--primary-100);
        border-right: solid calculateRem(8px) transparent;
      }

      &:hover {
        border: 0;
        margin: 0;
        background-color: var(--primary-100);
      }
    }
  }
}

.ui.tabular.menu .active.item {
  color: var(--primary--600);
}
