@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
.sb-table-responsive {
  overflow-x: auto;
  width: 100%;
}

.sb-table-container {

  margin-top: calculateRem(16px);
  margin-bottom: calculateRem(16px);

  .sb-table-search-header {
    width: 100%;
    height: calculateRem(64px);
    display: flex;
    align-items: center;
    position: relative;

    &.search-header-withbg {
      background: var(--gray-0);
      border: calculateRem(1px) solid var(--gray-100);
      border-bottom: none;
      border-radius: calculateRem(4px) calculateRem(4px) 0 0;
    }

    .download-file {
      font-size: calculateRem(12px);
      color: var(--blue);
      cursor: pointer;
    }
  }

  .sb-table-dropdown {
    display: flex;
    align-items: center;

    &.ui.dropdown {
      .icon {
        color: var(--primary-color);
        font-size: calculateRem(12px);
      }

      .menu {
        top: 150%;

        >.item {
          font-size: calculateRem(12px);
          min-width: calculateRem(148px);
        }
      }
    }
  }
}

.sb-table {
  width: 100%;
  background: var(--gray-0);
  border: calculateRem(1px) solid var(--gray-100);
  box-shadow: none;
  border-radius: calculateRem(4px) calculateRem(4px) 0 0;
  text-align: left;
  color: var(--gray);
  border-collapse: separate;
  border-spacing: 0;

  /* Table Fixed */
  &-fixed {
    table-layout: fixed;

    tbody td {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: calculateRem(240px);
    }

    .sb-media {
      .media-heading {
        max-width: calculateRem(136px);
      }
    }
  }

  /* Table on hover */
  &-hover {
    tbody tr:hover {
      background: var(--secondary-0);
      color: rgba(var(--rc-rgba-gray), 0.95);
      cursor: pointer;
    }
  }

  /* Table striped */
  .sb-table-striped tbody tr:nth-child(2n) {
    background-color: var(--primary-0);
  }

  /* Table sortable */
  &-sortable {
    th.sb-sort-icon {
      cursor: pointer;
    }

    .sb-sort-icon.ascending::before,
    .sb-sort-icon.descending::after {
      border: calculateRem(4px) solid transparent;
      content: "";
      height: 0;
      right: calculateRem(16px);
      top: 50%;
      position: absolute;
      width: 0;
      border-bottom-color: var(--primary-color);
      cursor: pointer;
    }

    tr th::before,
    .sb-sort-icon.ascending::before {
      margin-top: calculateRem(-8px);
    }

    tr th::after,
    .sb-sort-icon.descending::after {
      margin-top: calculateRem(2px);
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
    }
  }

  /* Table heading variations */
  thead th {
    font-size: calculateRem(12px);
    color: var(--gray);
    padding: calculateRem(8px) calculateRem(16px);
    background-color: var(--gray-0);
    position: relative;
    height: calculateRem(40px);
    border-bottom: calculateRem(1px) solid var(--gray-100);
  }

  /* Heading with background for course-dashboard */
  &.sb-table-course-dashboard {
    thead th {
      font-size: calculateRem(14px);
      padding: calculateRem(16px);
      background-color: var(--gray-0);
    }
  }

  /* large heading */
  &.sb-table-lg {
    thead th {
      padding: calculateRem(16px) calculateRem(24px);
      min-height: calculateRem(56px);
    }

    tbody td {
      height: calculateRem(64px);
      padding: calculateRem(16px) calculateRem(24px);
    }
  }

  /* Table body variations */
  tbody {
    td {
      font-size: calculateRem(14px);
      padding: calculateRem(16px);
      color: var(--gray);
      height: calculateRem(56px);
      border-bottom: calculateRem(1px) solid var(--gray-100);
    }

    tr:last-child {
      td {
        border-bottom: none;
      }
    }

    /* Table row active, success, warning, danger classes */
    .sb-table {

      &-active,
      &-success,
      &-warning,
      &-danger {
        font-weight: var(--font-weight-bold);
      }

      &-active {
        background: var(--primary-0);

        .sb-media .media-heading {
          font-weight: var(--font-weight-bold);
        }
      }

      &-success {
        background: var(--secondary-0);
      }

      &-warning {
        background: var(--tertiary-0);
      }

      &-danger {
        background: var(--red-0);
      }
    }
  }

  /* Table Media Object inside td */

  .sb-media {
    display: flex;
    align-items: flex-start;

    .sb-media-object {
      width: calculateRem(32px);
      height: calculateRem(32px);
      background: var(--gray-0);
      margin-top: auto;
      margin-bottom: auto;
      margin-right: calculateRem(16px);
    }

    .media-heading {
      margin: 0 auto;
      font-weight: var(--font-weight-normal);
      max-width: calculateRem(224px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0px;
    }

    .media-description {
      font-size: calculateRem(12px);
      color: var(--gray-200);
      margin-bottom: 0;
    }
  }

}

[class*="sb-table-singleline"] {
  white-space: nowrap;
}

.sb-course-progress-status {
  width:100%;
  border-radius:calculateRem(8px) calculateRem(8px) 0 0;
  min-height: calculateRem(40px);
  border: calculateRem(1px) solid var(--gray-100);
  border-bottom:none;
  justify-content: space-between;
  @include respond-below(sm){
    width:auto;
  }

  .sb-course-progress-status-label{
    background: var(--primary-100);
    width: 100%;
    border-radius:calculateRem(8px) calculateRem(8px) 0 0;
    justify-content: space-between;
    display: flex;
    padding: calculateRem(8px) calculateRem(16px);
  }

  .sb-course-progress-status-result{
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: calculateRem(8px) calculateRem(16px);
    border-bottom: 0.0625rem solid var(--gray-100);
  }

  .sb-course-progress-name {
    min-width: calculateRem(140px);
    font-size: calculateRem(12px);
  }
}

table.dataTable {
  thead th {
    background-color: var(--white);
    border-bottom: calculateRem(1px) solid var(--gray-100);
  }
  &.no-footer {
    border-bottom: none;
  }
}

.dataTables_wrapper .dataTables_paginate {
  margin-top: calculateRem(8px);
}