.ui.primary{
    background-color: #005da2 !important;
}
.ui.white {
    background-color: #fff !important;
}
.ui.lightestGray{
    background-color: #fafafa !important;
}
.ui.lightGray{
    background-color: #F3F6FA !important;
}
