.data-driven-filter,
.prominent-filter {

  padding: 16px 0 0 0 !important;

  .prominent-filter-heading {
    font-weight: bold;
    font-size: 16px;
  }

  .filter-title {
    color: $primary-color;
  }

  .field {
    width: 100%;
    max-width: 100%;

    label {
      font-size: 13px;
    }
  }

  .ui.selection.dropdown {
    width: 100%;
    max-width: 100%;
    min-width: 100%;

    .dropdown.icon {
      padding: 10px 7px;
    }

    .menu>.item {
      padding: 9px 7px !important;
      color: #4a4a4a !important;
      font-size: 13px !important;
      line-height: 1.4;

      &.active {
        color: $primary-color !important;
        font-weight: bold;
      }
    }
  }

  .ui.multiple.dropdown {
    font-size: 13px;
    color: #4a4a4a;
    height: ($base-block-space * 4) + 1;
    border-radius: ($base-block-space - 5);

    .text {
      text-transform: lowercase;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 1.5;
      margin: 5px;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    &.active.visible {
      background: #fff;
    }
  }

  .ui.button {
    font-size: 14px;
    text-transform: lowercase;
    padding: 9.5px 15px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .topic-picker-selector {
    font-size: 13px !important;
    color: #4a4a4a !important;
    border-color: #e4e4e4 !important;
  }

  .ui.dropdown .menu>.header {
    font-weight: 500 !important;
    margin: 7px 0 7px 5px !important;

    .blue-text-color-sunbird {
      font-weight: 600;
    }
  }
}

.prominent-filter .topic-picker-selector {
  border: 1px solid #e4e4e4 !important;
  border-radius: 5px !important;
}

@media screen and (max-width: 768px) {
  .ui.grid>.wide.column.mobile-p-0 {
    padding: 0 !important;
  }
}

.computer-only {
  display: none !important;

  @media screen and (min-width: 992px) {
    display: block !important;
  }
}

.popup-content .data-driven-filter,
.workspacesegment {
  @media screen and (min-width: 992px) {
    .ten.wide.computer {
      width: 75% !important;
    }

    .two.wide.computer {
      width: 25% !important;
    }

    .three.wide.computer {
      width: 33.33% !important;
    }
  }
}

.searchicon.ui.icon.input input.upForReviewSearchBox {
  border-radius: 0;
}

.sb-prominent-filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  .sb-prominent-filter-field {
    margin: 0;
    margin-bottom: $base-block-space*2;
    padding-right: $base-block-space*2;
    width: 20%;

    &:last-child {
      margin-top: auto;
      margin-left: auto;
      text-align: right;
      padding-right: 0;
    }

    label {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      color: $gray-800;
      font-weight: normal;
    }
  }
}

*[dir="rtl"] {

  .data-driven-filter .ui.selection.dropdown .dropdown.icon,
  .prominent-filter .ui.selection.dropdown .dropdown.icon {
    padding: 4px 0px;
  }
}


// responsive   

@include respond-above(lg) {
  .sb-prominent-filter-container .sb-prominent-filter-field {
    width: 20%;

    &:nth-child(5n+5) {
      padding-right: 0;
    }
  }

  *[dir="rtl"] {
    .sb-prominent-filter-container .sb-prominent-filter-field:nth-child(5n+5) {
      padding-right: 16px;
    }

    .sb-prominent-filter-container .sb-prominent-filter-field:nth-child(5n+1) {
      padding-right: 0;
    }

    .sb-prominent-filter-container .sb-prominent-filter-field:last-child {
      padding-right: 16px;
      margin-right: auto;
      margin-left:0px;
      text-align: left;
    }
  }
}

@include respond-between(md, lg) {
  .sb-prominent-filter-container .sb-prominent-filter-field {
    width: 25%;

    &:nth-child(4n+4) {
      padding-right: 0;
    }
  }

  *[dir="rtl"] {
    .sb-prominent-filter-container .sb-prominent-filter-field {
      &:nth-child(4n+4) {
        padding-right: 16px;
      }
    }

    .sb-prominent-filter-container .sb-prominent-filter-field:nth-child(4n+1) {
      padding-right: 0;
    }

    .sb-prominent-filter-container .sb-prominent-filter-field:last-child {
      padding-right: 16px;
      margin-right: auto;
      margin-left: 0;
      text-align: left;
    }
  }

}


@include respond-between(sm, md) {
  .sb-prominent-filter-container .sb-prominent-filter-field {
    width: 33.3333%;

    &:nth-child(3n+3) {
      padding-right: 0;
    }
  }

  *[dir="rtl"] {
    .sb-prominent-filter-container .sb-prominent-filter-field {
      &:nth-child(3n+3) {
        padding-right: 16px;
      }
    }

    .sb-prominent-filter-container .sb-prominent-filter-field:nth-child(3n+1) {
      padding-right: 0;
    }

    .sb-prominent-filter-container .sb-prominent-filter-field:last-child {
      padding-right: 16px;
      margin-right: auto;
      margin-left: 0;
      text-align: left;
    }
  }


}


@include respond-below(sm) {
  .prominent-filter {
    padding: 0 !important;
  }
  .sb-prominent-filter-container .sb-prominent-filter-field {
    width: 50%;

    &:nth-child(2n+2) {
      padding-right: 0;
    }
  }

  *[dir="rtl"] {
    .sb-prominent-filter-container .sb-prominent-filter-field {
      &:nth-child(2n+2) {
        padding-right: 16px;
      }
    }

    .sb-prominent-filter-container .sb-prominent-filter-field:nth-child(2n+1) {
      padding-right: 0;
    }

    .sb-prominent-filter-container .sb-prominent-filter-field:last-child {
      padding-right: 16px;
      margin-right: auto;
      margin-left: 0;
      text-align: left;
    }
  }
}
