.ui.visible.sidebar {
  &.right {
    &~.fixed,
    &~.pusher {
      transform: translate3d(0, 0, 0) !important;
      height: 100vh;
    }
  }
  &.uncover {
    z-index: 4;
    border: 0;
  }
}
.language-selector {
  .ui.dropdown {
    border: 1px solid #cae4f7;
    color: #cae4f7;
    border-radius: 4px;
  }
}