$sunbird-font-family: 'sans-serif';
$sunbird-font-color: #333 !important;
$sunbird-primary-color: #005da2 !important;
$sunbird-primary-gradient: linear-gradient(to left, #2971a5, #0d9276) !important;
$sunbird-body-background: #F2F6FA !important;
$sunbird-white:#ffffff !important;
$sunbird-gray-lightest:#fafafa !important;
$sunbird-gray-light: #F3F6FA !important;