<div class="ui" ng-if="toc.courseHierachy">
    <div class="ui grid margin-top-4rem courseStructureHeader">
        <div class="one wide column"></div>
        <div class="ten wide column padding-top-none">
            <div class="ui grid">
                <div class="eight wide column padding-top-none">
                    <div class="courseStructureHeaderText courseStructureSectionHeading">{{toc.courseHierachy.name}}</div> <br>
                    <h6 class="ui small negative message" ng-if="toc.courseHierachy.status === 'Flagged'">{{$root.errorMessages.Courses.TOC.Flagged_COURSE}}</h6>
                </div>
                <div class="four wide column margin-top-Negative30" ng-if="toc.courseType === 'ENROLLED_COURSE'">
                     <span ng-if="toc.courseTotal"><p class="text-align-right">Your Progress {{(toc.courseProgress * 100 / toc.courseTotal)| number: 0 || 0}}%</p></span>
                     <div class="ui selection dropdown" id="dropdownId" ng-init="toc.initDropdownValues()" style="margin-left: 151px">
                         <input type="hidden" name="gender">
                         <i class="dropdown icon"></i>
                         <div class="default text">Select value</div>
                         <div class="menu">
                            <div class="item" data-value="1" ng-click="toc.resumeCourse()">Resume course</div>
                            <div class="item" data-value="0" ng-click="toc.showCourseDashboard = 'true'">View course stats</div>
                         </div>
                    </div>
                </div>
                <!-- <div class="four wide column padding-top-none" ng-if="toc.courseType === 'OTHER_COURSE'">
                    <div class="ui dropdown fluid blue right floated  ui button courseHeaderButton margin-top-0" id="enrollToCourse" ng-init="toc.setEnrollDropdown()">
                        <span class="text">ENROLL TO COURSE</span>
                        <i class="dropdown icon"></i>
                    </div>
                </div> -->
            </div>
        </div>
      </div>
    </div>
    <div class="one wide column"></div>
  </div>
</div>
<div class="ui grid margin-bottom-20">
  <div class="row">
    <div class="twelve wide column padding-none">
      <div ng-if="toc.courseTotal && toc.courseProgress > 0">
        <div id="tocProgress" class="ui tiny progress course-progress orange">
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </div>
</div>
