<div  class="ui" ng-if="toc.courseHierachy">
    <div class="ui grid courseStructureHeader">
        <div class="one wide column"></div>
        <div class="ten wide column">
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="courseStructureHeaderText sectionHeading"><h2>{{toc.courseHierachy.name}} </h2></div> <br>
                    <span> 1,870 Learners</span> | <div apply-script class="courseHeader-rating ui mini star rating" data-rating="3"></div>
                </div>
                <div class="four wide column" ng-if="toc.courseType === 'ENROLLED_COURSE'">
                    <div ng-if="toc.courseProgress"><p class="text-align-center">Your Progress {{(toc.courseProgress * 100 / toc.courseTotal)| number: 0 || 0}}%</p></div>
                    <button class="fluid blue right floated  ui button courseHeaderButton" ng-click="toc.resumeCourse()">
                        RESUME COURSE  <i class="caret right icon"></i>
                    </button>
                </div>
                <div class="four wide column" ng-if="toc.courseType === 'OTHER_COURSE'">
                    <button ng-if="!toc.loader.enrollLoader" class="fluid blue right floated  ui button courseHeaderButton" ng-click="toc.enrollUserToCourse(toc.tocId)"> ENROLL TO COURSE</button>
                    <div ng-if="toc.loader.enrollLoader">
                        <app-loader data="{{toc.loader}}"></app-loader>
                    </div>
                    <div ng-if="toc.error.showEnrollError">
                        <error-message data="{{toc.error}}" visibility="toc.error.showEnrollError"></error-message>
                    </div>
                </div>
            </div>
        </div>
        <div class="one wide column"></div>
    </div>
</div>
<div class="ui grid margin-bottom-20">
    <div class="row">
        <div class="twelve wide column padding-none">
            <div ng-init="loadProgress()" ng-if="toc.courseProgress">
                <div  class="ui tiny progress course-progress" data-total="{{toc.courseTotal}}" data-value="{{toc.courseProgress}}" ng-class="{orange:(toc.courseTotal - toc.courseProgress) <= (toc.courseTotal / 2),red:(toc.courseTotal - toc.courseProgress) > (toc.courseTotal / 2)}">
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

