<div *ngIf="contentData" class="ui segment">
    <div class="header announcementCard-header">
        <span class="header cardsHeading ng-binding">{{resourceService.frmelmnts.lbl.contentinformation}}</span>
    </div>
    <div class="ui middle aligned list margin-top-0">
        <div class="item padding-top-10 padding-bottom-5" *ngIf="contentData.creator">
            <div class="right floated content contentMetaDetail">
                <div class="ui ">{{contentData.creator}}</div>
            </div>
            <div class="content">
                {{resourceService.frmelmnts.lbl.author}}
            </div>
        </div>
        <div class="item padding-top-10 padding-bottom-5" *ngIf="contentData.language">
            <div class="right floated content contentMetaDetail">
                <div class="ui ">{{contentData.language.toString()}}</div>
            </div>
            <div class="content">
                {{resourceService.frmelmnts.lbl.medium}}
            </div>
        </div>
        <div class="item padding-top-10 padding-bottom-5" *ngIf="contentData.gradeLevel">
            <div class="right floated content contentMetaDetail">
                <div class="ui ">{{contentData.gradeLevel.toString()}}</div>
            </div>
            <div class="content ">
                {{resourceService.frmelmnts.lbl.class}}
            </div>
        </div>
        <div class="item padding-top-10 padding-bottom-5" *ngIf="contentData.subject">
            <div class="right floated content contentMetaDetail">
                <div class="ui ">{{contentData.subject}}</div>
            </div>
            <div class="content">
                {{resourceService.frmelmnts.lbl.subject}}
            </div>
        </div>
        <div class="item padding-top-10 padding-bottom-5" *ngIf="contentData.createdOn">
            <div class="right floated content contentMetaDetail">
                <div class="ui ">{{contentData.createdOn | dateFormat }}</div>
            </div>
            <div class="content">
                {{resourceService.frmelmnts.lbl.createdon}}
            </div>
        </div>
        <div class="item padding-top-10 padding-bottom-5" *ngIf="contentData.lastUpdatedOn">
            <div class="right floated content contentMetaDetail">
                <div class="ui ">{{contentData.lastUpdatedOn | dateFormat}}</div>
            </div>
            <div class="content">
                {{resourceService.frmelmnts.lbl.lastupdate}}
            </div>
        </div>
        <div class="item padding-top-10 padding-bottom-5" *ngIf="contentData.concepts.length > 0">
            <div class="right floated content contentMetaDetail">
                <div class="ui">{{getConceptsNames(contentData.concepts)}}</div>
            </div>
            <div class="content">
                {{resourceService.frmelmnts.lbl.concept}}
            </div>
        </div>
    </div>
</div>