<div class="ui grid">
    <div class="center aligned twelve column row padding-top-2rem headerBackground">
        <div class="one wide column"></div>
        <div class="two wide column">
            <a routerLink ="home">
                <img [class.header-logoBeforeLogin]="!userService.userid" [class.header-logo]="userService.userid" class="image centered" alt={{tenantName}} src="{{logo}} ">
            </a>
        </div>
        <div class="six wide column padding-top-1rem" *ngIf="userService.userid">
            <app-search></app-search>
        </div>
        <div class="one wide column">
        </div>
        <div class="one wide column" *ngIf="userService.userid; else showLoginBtn">
            <i class="float-ContentLeft alarm-icon-header alarm icon large alaramIconColor"></i>
            <div suiDropdown [(isOpen)]="isOpen" class="ui floating dropdown right top pointing
             header-user-container padding-top-circular-human-icon" id="dropdown-menu-list-header">
                <img src="{{ userProfile?.avatar || '/assets/common/images/user_logo.png'}}" class="ui circular image logged-in-user" />
                <div class="menu" suiDropdownMenu>
                    <div *ngIf='userProfile' class="item headerDropdownProfile">{{userProfile?.firstName}}&nbsp;{{userProfile?.lastName}}</div>
                    <div *ngIf='userProfile' class="ui divider"></div>

                <a class="item" routerLink="profile" >{{resourceService.frmelmnts?.lnk?.profile}}</a>
                <a class="item" *ngIf='permissionService.permissionAvailable' appPermission [permission]= 'adminDashboard' routerLink="orgDashboard">{{resourceService.frmelmnts?.lnk?.dashboard}}</a>
                <a class="item" *ngIf='permissionService.permissionAvailable' appPermission [permission]= 'announcementRole' routerLink="announcement/outbox/1" >{{resourceService.frmelmnts?.lnk?.announcement}}</a>
                <a class="item" *ngIf='permissionService.permissionAvailable' appPermission [permission]= 'workSpaceRole' routerLink="workspace/content" >{{resourceService.frmelmnts?.lnk?.workSpace}}</a>
                <a class="item" *ngIf='permissionService.permissionAvailable' appPermission [permission]= 'myActivityRole' routerLink="myActivity" >{{resourceService.frmelmnts?.lnk?.myactivity}}</a>
                <a class="item" *ngIf='permissionService.permissionAvailable' appPermission [permission]= 'orgSetupRole' routerLink="orgType" >{{resourceService.frmelmnts?.lbl?.orgtypes}}</a>
                <a class="item" href="/logoff">{{resourceService.frmelmnts?.lnk?.logout}}</a>

                </div>
            </div>
        </div>
        <ng-template #showLoginBtn>
            <div class="right floated one wide column tablet computer only">
                <div class="beforelogin ui secondary pointing menu padding-top-1rem">
                    <button class="ui item">{{resourceService.frmelmnts?.btn?.signup}}</button>
                    <a href="/home" class="sunblogin">
                        <button class="ui item">{{resourceService.frmelmnts?.btn?.login}}</button>
                    </a>
                </div>
            </div>
        </ng-template>
        <div class="one wide column"></div>
    </div>
</div>
<app-main-menu></app-main-menu>