.ui.secondary.pointing.menu .ui.item.text-upper-case {
    text-transform: uppercase;
} 

.anon-consumption-sec-menu {
    border-bottom: 2px solid rgba(34,36,38,.15);   
}
.anon-consumption-drpdwn .text{
    color:#007aff;
}

.anon-consumption-drpdwn .dropdown.icon {
    color:#007aff;
}

.left-float {
    float: left;
}