<div *ngIf="showQrmodal">
  <app-qr-code-modal (closeQrModal)="showQrmodal = false"></app-qr-code-modal>
</div>
<div *ngIf="showAccountMergemodal">
  <app-account-merge-modal (closeAccountMergeModal)="showAccountMergemodal = false"></app-account-merge-modal>
</div>
<div [ngClass]="{'player-fullscreen-header': isFullScreenView}">
  <!--Header section-->
  <header class="mat-page-container">
    <div class="sb-g flex-ai-center">
      <div class="sb-g-col-xs-12 sb-g-col-md-3 sb-g-col-lg-3 sb-g-col-xxxl-4 sbt-header-logo">
        <a class="logo sbt-logo" tabindex="0" title="{{tenantInfo.titleName}}" role="link"
          aria-label="Navigate to Homepage">
          <img (click)="navigateToHome()" class="cursor-pointer" alt={{tenantInfo.titleName}} src="{{tenantInfo.logo}}">
        </a>
        <div class="d-flex flex-ai-center flex-jc-space-between profile-avtar ml-auto">
          <!-- Notification dropdown -->
          <app-in-app-notification class="cursor-pointer" tabindex="0" *ngIf="userService?.loggedIn"
            [layoutConfiguration]="layoutConfiguration">
          </app-in-app-notification>
          <!--Avtar Dropdown-->
          <div class="cursor-pointer ml-8" tabindex="0" name="Guest" *ngIf='!userProfile && !guestUser'
            (click)="toggleSideMenu(true)"><img src="./assets/images/profile-icon.svg" alt="Guest User" width="48">
          </div>
          <sb-avatar tabindex="0" class="cursor-pointer ml-8" *ngIf='!userProfile && guestUser'
            (click)="toggleSideMenu(true)" class="avtarDesktopStyle" [config]=avatarConfig initialsSize="2"
            [initial]="guestUser?.formatedName[0] || 'G'" [title]="guestUser?.formatedName || 'Guest'">
          </sb-avatar>
          <sb-avatar tabindex="0" class="cursor-pointer ml-8" *ngIf='userProfile' (click)="toggleSideMenu(true)"
            [config]=avatarConfig initialsSize="2" [initial]="userProfile?.firstName[0]"
            [title]="userProfile?.firstName">
          </sb-avatar>
          <!--/Avtar Dropdown-->
        </div>
      </div>
      <div class="sb-g-col-xs-12 sb-g-col-md-4 sb-g-col-lg-5 sb-g-col-xxxl-8 flex-jc-center relative">
        <app-search class="w-100"></app-search>
      </div>
      <div class="sb-g-col-xs-12 sb-g-col-md-5 sb-g-col-lg-4 sb-g-col-xxxl-4">
        <div class="d-flex flex-ai-center flex-jc-flex-end">
          <!-- language dropdown -->
          <app-language-dropdown [languageRange]='languages'
            *ngIf=" isLanguageDropdown && languages && showLanguageDropdown()"></app-language-dropdown>
          <!-- Notification dropdown  -->
          <app-in-app-notification tabindex="0" *ngIf="userService?.loggedIn"
            class="ml-16 d-none d-sm-block"></app-in-app-notification>
          <!--Avtar Dropdown-->
          <div class="cursor-pointer ml-8 d-none d-sm-block" aria-haspopup="true" aria-controls="overlaySidebarID"
            aria-label="Guest User" tabindex="0" name="Guest" *ngIf='!userProfile && !guestUser'
            (click)="toggleSideMenu(true)"><img src="./assets/images/profile-icon.svg" alt="Guest User"></div>
          <sb-avatar class="cursor-pointer ml-8 d-none d-sm-block" aria-haspopup="true" aria-controls="overlaySidebarID"
            *ngIf='!userProfile && guestUser' tabindex="0" (click)="toggleSideMenu(true)" [config]=avatarConfig
            initialsSize="2" [initial]="guestUser?.formatedName[0] || 'G'"
            [attr.aria-label]="'Welcome ' + (guestUser?.formatedName || 'Guest') + ', ' + 'Click here to continue to your profile'"
            [attr.title]="'Welcome ' + (guestUser?.formatedName || 'Guest') + ', ' + 'Click here to continue to your profile'">
          </sb-avatar>
          <sb-avatar class="cursor-pointer ml-8 d-none d-sm-block" aria-haspopup="true" aria-controls="overlaySidebarID"
            *ngIf='userProfile' tabindex="0" (click)="toggleSideMenu(true)" [config]=avatarConfig initialsSize="2"
            [initial]="userProfile?.firstName[0]"
            title="'Welcome ' + userProfile?.firstName + ', ' + 'Click here to continue to your profile'"
            [attr.title]="userProfile?.firstName">
          </sb-avatar>
          <!--/Avtar Dropdown-->
        </div>
      </div>
    </div>
  </header>
  <nav title="menu-bar" *ngIf="showMainMenuBar">
    <app-main-menu [layoutConfiguration]="layoutConfiguration" [showBackButton]="showBackButton"></app-main-menu>
    <mat-toolbar color="primary" class="toolbar-pageback" *ngIf="showBackButton">
      <button mat-mini-fab color="accent" (click)="backButton.goBack()"
        attr.aria-label=“{{resourceService?.frmelmnts?.btn?.back}}” tabindex="0">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div class="MetaColumn">
        <h3 class="mat-title mb-4" tabindex="0" role="heading" aria-level="2">{{showingResult}}</h3>
        <p class="mat-caption mb-0">{{showingDescription}}</p>
      </div>
    </mat-toolbar>
  </nav>
</div>

<div class="overlay-sidebar" *ngIf="showSideMenu">
  <div class="overlay-sidebar__menu" tabindex="0" role="dialog" id="overlaySidebarID" aria-labelledby="dialog1_label"
    aria-modal="true" aria-label="open sidebar navigation">
    <div class="profile__info">

      <button class="sidebar_close" mat-mini-fab color="warn" mat-dialog-close (click)="toggleSideMenu(false)"
        aria-label="Close sidebar navigation" title="Close sidebar">
        <mat-icon>close</mat-icon>
      </button>

      <div *ngIf="userService.loggedIn">
        <sb-member-card [config]=cardConfig [initial]="userProfile?.firstName[0]" tabindex="0"
          [title]="userProfile?.firstName" [isMenu]="false">
        </sb-member-card>
        <div class="my-12 mat-caption">
          {{resourceService.frmelmnts?.lbl?.useInstanceAs | interpolate:'{instance}': instance}}
        </div>

        <div appOnlineOnly (click)="toggleSideMenu(false);navigate('/profile/create-managed-user')" role="button"
          tabindex="0" class="add-user mb-16" *ngIf="totalUsersCount <1">
          <div class="add-user__icon">
            <img src="assets/images/user-circle.svg" alt="Add user">
          </div>
          <div class="add-user__label fnormal sb-color-secondary">
            {{resourceService.frmelmnts?.lbl?.addUser}}
          </div>
        </div>

        <div appOnlineOnly class="d-flex flex-w-wrap">
          <sb-member-list tabindex="0" [layoutConfig]=memberCardConfig [memberList]="userListToShow" [isMenu]="false"
            (cardClick)="switchUser($event)">
          </sb-member-list>
          <div class="more-user ml-16 mt-8" *ngIf="totalUsersCount >2" role="button" tabindex="0"
            attr.aria-label="More Users" (click)="toggleSideMenu(false);navigate('/profile/choose-managed-user')">
            <div class="more-user__btn"><img src="/assets/images/more.svg" alt="More"></div>
            <div class="more-user__label"> {{resourceService.frmelmnts?.lbl?.more}}
              ({{totalUsersCount - userListToShow.length}})
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="userService?.loggedIn">
      <div appOnlineOnly class="add-user add-user--horizontal" tabindex="0" aria-label="Add User" role="button"
        *ngIf="totalUsersCount >=1" (click)="toggleSideMenu(false);navigate('/profile/create-managed-user')">
        <div class="add-user__icon">
          <img src="assets/images/user-circle.svg" alt="Add user">
        </div>
        <div class="add-user__label fnormal sb-color-secondary">
          {{resourceService.frmelmnts?.lbl?.addAnotherUser}}
        </div>
      </div>
      <mat-nav-list class="pt-0">
        <!-- <div mat-subheader>Profile</div> -->
        <mat-divider></mat-divider>
        <mat-list-item tabindex="0" role="navigation" (click)="toggleSideMenu(false)" routerLink="profile">
          <mat-icon mat-list-icon>person</mat-icon>
          <div mat-line>{{resourceService.frmelmnts?.lnk?.profile}}</div>
          <!-- <div mat-line>subline</div> -->
        </mat-list-item>

        <mat-list-item role="navigation" *ngIf="userType=='administrator' || showReportMenu" tabindex="0"
          [routerLink]="['/solution/solution-listing']" (click)="toggleSideMenu(false);">
          <mat-icon mat-list-icon>summarize</mat-icon>
          <div mat-line>{{resourceService.frmelmnts?.lnk?.report}}</div>
          <!-- <div mat-line>subline</div> -->
        </mat-list-item>

        <mat-list-item tabindex="0" role="navigation" *ngIf='!isDesktopApp && permissionService.permissionAvailable'
          appPermission [permission]='adminDashboard' (click)="toggleSideMenu(false)"
          [routerLink]="reportsListVersion === 'v2' ? 'dashBoard/reports': 'dashBoard/organization' ">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <div mat-line>{{resourceService.frmelmnts?.lnk?.dashboard}}</div>
          <!-- <div mat-line>subline</div> -->
        </mat-list-item>

        <mat-list-item role="navigation" tabindex="0" *ngIf='!isDesktopApp && permissionService.permissionAvailable' appPermission
          [permission]='programDashboardRole' (click)="toggleSideMenu(false)" routerLink="program">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <div mat-line>{{resourceService.frmelmnts?.lnk?.dashboard}}</div>
          <!-- <div mat-line>subline</div> -->
        </mat-list-item>

        <mat-list-item tabindex="0" tabindex="0" role="navigation" (click)="toggleSideMenu(false)"
          *ngIf='!isDesktopApp && permissionService.permissionAvailable' appPermission [permission]='orgSetupRole'
          routerLink="org/orgType">
          <mat-icon mat-list-icon>corporate_fare</mat-icon>
          <div mat-line>{{resourceService.frmelmnts?.lbl?.orgtypes}}</div>
          <!-- <div mat-line>subline</div> -->
        </mat-list-item>

        <mat-list-item tabindex="0" role="navigation" *ngIf='!isValidCustodianOrgUser && !isDesktopApp'
          (click)="toggleSideMenu(false);showAccountMergemodal = true;">
          <mat-icon mat-list-icon>merge</mat-icon>
          <div mat-line>{{resourceService.frmelmnts?.lbl?.mergeAccount}}</div>
          <!-- <div mat-line>subline</div> -->
        </mat-list-item>

        <mat-list-item tabindex="0" role="navigation" (click)="toggleSideMenu(false)"
          *ngIf='!isDesktopApp && permissionService.permissionAvailable' appPermission [permission]='orgAdminRole'
          routerLink="manage">
          <mat-icon mat-list-icon>manage_accounts</mat-icon>
          <div mat-line>{{resourceService.frmelmnts?.lbl?.manage}}</div>
          <!-- <div mat-line>subline</div> -->
        </mat-list-item>

        <mat-list-item tabindex="0" (click)="toggleSideMenu(false)" role="navigation"
          *ngIf='!isDesktopApp && permissionService.permissionAvailable' appPermission [permission]='orgAdminRole'
          routerLink="uci-admin">
          <mat-icon mat-list-icon>stadia_controller</mat-icon>
          <div mat-line>{{resourceService.frmelmnts?.lbl?.communicationConsole}}</div>
          <!-- <div mat-line>subline</div> -->
        </mat-list-item>

        <mat-list-item role="navigation" appOnlineOnly (click)="toggleSideMenu(false)"
          [class.active]="router.isActive(routerLinks?.groups,false)" tabindex="0"
          *ngIf="!router.isActive('', true) && !isDesktopApp" [routerLink]="[navigateToGroups()]" appTelemetryInteract
          [telemetryInteractEdata]="myGroupIntractEData">
          <mat-icon mat-list-icon>group_add</mat-icon>
          <div mat-line>{{resourceService?.frmelmnts?.tab?.mygroups}} <span class="group__type mx-8">New</span></div>
          <!-- <div mat-line>subline</div> -->
        </mat-list-item>

        <mat-list-item role="navigation" [class.active]="router.isActive('/workspace',false)" appTelemetryInteract
          [telemetryInteractEdata]="workspaceMenuIntractEdata" (click)="toggleSideMenu(false)"
          *ngIf='!isDesktopApp && isLayoutAvailable() && permissionService.permissionAvailable' appPermission
          [permission]='workSpaceRole' [routerLink]="[navigateToWorkspace()]" tabindex="0">
          <mat-icon mat-list-icon>workspaces</mat-icon>
          <div mat-line>{{resourceService?.frmelmnts?.tab?.workspace}}</div>
          <!-- <div mat-line>subline</div> -->
        </mat-list-item>

        <mat-list-item role="navigation" tabindex="0" appTelemetryInteract
          [telemetryInteractEdata]="helpMenuIntractEdata" (click)="toggleSideMenu(false);navigate('/faq')">
          <mat-icon mat-list-icon>help</mat-icon>
          <div mat-line>{{resourceService?.frmelmnts?.tab?.help}}</div>
          <!-- <div mat-line>subline</div> -->
        </mat-list-item>

        <mat-list-item *ngIf="showSwitchTheme" class="hide" role="navigation" tabindex="0"
          (click)="toggleSideMenu(false);switchLayout()">
          <mat-icon mat-list-icon>toggle_on</mat-icon>
          <div mat-line><span *ngIf="layoutConfiguration">{{resourceService?.frmelmnts?.lbl?.switchToOldLayout}}</span>
            <span *ngIf="!layoutConfiguration">{{resourceService?.frmelmnts?.lbl?.switchToJoyLayout}}</span>
          </div>
          <!-- <div mat-line>subline</div> -->
        </mat-list-item>

        <mat-list-item role="navigation" tabindex="0" (click)="toggleSideMenu(false);" routerLink="/desktop/telemetry"
          *appDesktopOnly>
          <mat-icon mat-list-icon>sync</mat-icon>
          <div mat-line>{{resourceService?.frmelmnts?.lbl?.desktop?.syncTelemetry}}</div>
          <!-- <div mat-line>subline</div> -->
        </mat-list-item>

        <mat-list-item role="navigation" class="hide" tabindex="0" (click)="toggleSideMenu(false);">
          <mat-icon mat-list-icon>accessibility</mat-icon>
          <div mat-line>{{resourceService?.frmelmnts?.lbl?.accessible}}</div>
          <!-- <div mat-line>subline</div> -->
        </mat-list-item>

        <mat-list-item appOnlineOnly class="list-item" role="navigation" tabindex="0" appTelemetryInteract
          [telemetryInteractEdata]="getLogoutInteractEdata()" (click)="toggleSideMenu(false);logout()">
          <mat-icon mat-list-icon>logout</mat-icon>
          <div mat-line>{{resourceService.frmelmnts?.lnk?.logout}}</div>
          <!-- <div mat-line>subline</div> -->
        </mat-list-item>

        <mat-list-item *appDesktopOnly class="list-item" role="navigation" tabindex="0" (click)="toggleSideMenu(false);"
          appTelemetryInteract [telemetryInteractEdata]="aboutUsEdata" routerLink="/desktop/about-us">
          <mat-icon mat-list-icon>info</mat-icon>
          <div mat-line>{{resourceService?.frmelmnts?.lbl?.desktop?.about_us | interpolate:'{instance}': instance}}
          </div>
          <!-- <div mat-line>subline</div> -->
        </mat-list-item>

      </mat-nav-list>
    </div>
    <ng-container>
      <div *ngIf="!userService.loggedIn">
        <sb-member-card [config]=cardConfig tabindex="0" [initial]="guestUser?.formatedName[0] || 'G'"
          [title]="guestUser?.formatedName || 'Guest'">
        </sb-member-card>
        <mat-nav-list class="pt-0">
          <!-- <div mat-subheader>Profile</div> -->
          <mat-divider></mat-divider>
          <mat-list-item role="navigation" tabindex="0" (click)="toggleSideMenu(false)" routerLink="guest-profile">
            <mat-icon mat-list-icon>person</mat-icon>
            <div mat-line>{{resourceService.frmelmnts?.lnk?.profile}}</div>
            <!-- <div mat-line>subline</div> -->
          </mat-list-item>

          <mat-list-item appOnlineOnly role="navigation" tabindex="0" (click)="toggleSideMenu(false)"
            [class.active]="router.isActive(routerLinks?.explore,false)"
            *ngIf="!router.isActive('', true) && !isDesktopApp" [routerLink]="[navigateToGroups()]" appTelemetryInteract
            [telemetryInteractEdata]="myGroupIntractEData">
            <mat-icon mat-list-icon>group_add</mat-icon>
            <div mat-line>{{resourceService?.frmelmnts?.tab?.mygroups}} <span class="group__type mx-8">New</span></div>
            <!-- <div mat-line>subline</div> -->
          </mat-list-item>

          <mat-list-item *ngIf="showSwitchTheme" class="hide" tabindex="0" role="navigation"
            (click)="toggleSideMenu(false);switchLayout()">
            <mat-icon mat-list-icon>toggle_on</mat-icon>
            <div mat-line><span
                *ngIf="layoutConfiguration">{{resourceService?.frmelmnts?.lbl?.switchToOldLayout}}</span>
              <span *ngIf="!layoutConfiguration">{{resourceService?.frmelmnts?.lbl?.switchToJoyLayout}}</span>
            </div>
            <!-- <div mat-line>subline</div> -->
          </mat-list-item>

          <mat-list-item tabindex="0" role="navigation" (click)="toggleSideMenu(false);" routerLink="/desktop/telemetry"
            *appDesktopOnly>
            <mat-icon mat-list-icon>sync</mat-icon>
            <div mat-line>{{resourceService?.frmelmnts?.lbl?.desktop?.syncTelemetry}}</div>
            <!-- <div mat-line>subline</div> -->
          </mat-list-item>

          <mat-list-item tabindex="0" role="navigation" appTelemetryInteract
            [telemetryInteractEdata]="helpMenuIntractEdata" (click)="toggleSideMenu(false);navigate('/faq')">
            <mat-icon mat-list-icon>help</mat-icon>
            <div mat-line>{{resourceService?.frmelmnts?.tab?.help}}</div>
            <!-- <div mat-line>subline</div> -->
          </mat-list-item>
          <mat-list-item *ngIf="!isDesktopApp" tabindex="0" role="navigation" class="hide"
            (click)="toggleSideMenu(false)">
            <mat-icon mat-list-icon>accessibility</mat-icon>
            <div mat-line>{{resourceService?.frmelmnts?.lbl?.accessible}}</div>
            <!-- <div mat-line>subline</div> -->
          </mat-list-item>

          <mat-list-item *ngIf="isDesktopApp" tabindex="0" role="navigation" (click)="toggleSideMenu(false)"
            appOnlineOnly>
            <mat-icon mat-list-icon>accessibility</mat-icon>
            <div mat-line>{{resourceService?.frmelmnts?.lbl?.accessible}}</div>
            <!-- <div mat-line>subline</div> -->
          </mat-list-item>

          <mat-list-item *ngIf="!isDesktopApp" tabindex="0" role="navigation"
            (click)="toggleSideMenu(false);clearFiltersCache()" appTelemetryInteract
            [telemetryInteractEdata]="signInIntractEdata">
            <a appOnlineOnly href={{hrefPath}} class="d-flex flex-ai-center">
              <mat-icon mat-list-icon>login</mat-icon>
              <div mat-line class="ml-16">{{resourceService.frmelmnts?.btn?.login}}</div>
            </a>
          </mat-list-item>
          <mat-list-item tabindex="0" role="navigation" (click)="toggleSideMenu(false)" appTelemetryInteract
            [telemetryInteractEdata]="signInIntractEdata" *appDesktopOnly appOnlineOnly>
            <a appOnlineOnly (click)="doLogin()" class="d-flex flex-ai-center">
              <mat-icon mat-list-icon>login</mat-icon>
              <div mat-line class="ml-16">{{resourceService.frmelmnts?.btn?.login}}</div>
            </a>
          </mat-list-item>
          <mat-list-item *appDesktopOnly role="navigation" tabindex="0" (click)="toggleSideMenu(false);"
            appTelemetryInteract [telemetryInteractEdata]="aboutUsEdata" routerLink="/desktop/about-us">
            <mat-icon mat-list-icon>info</mat-icon>
            <div mat-line>{{resourceService?.frmelmnts?.lbl?.desktop?.about_us | interpolate:'{instance}': instance}}
            </div>
            <!-- <div mat-line>subline</div> -->
          </mat-list-item>
        </mat-nav-list>
      </div>
    </ng-container>
  </div>
</div>

<app-load-offline-content [hideLoadButton]="true" (close)="showLoadContentModal=false" *ngIf="showLoadContentModal">
</app-load-offline-content>