@import "variables";

.ui.menu.fixed{
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  z-index: 999;
  border:0;
  border-bottom: .5px solid #ddd !important;
  margin-bottom: -1px;

  .logo img {
    height: 56px;
    max-height:56px;
  }
}

.searchbox {
  width: 100%; 

  @media only screen and (min-width: 1100px) {
    width: calc(100% - 284px);
    max-width: 490px;
    margin: 0 auto 0 15px;
  }

  .ui.icon.button {
    background: #edf4f9;
    padding: 4px 7px;
  }

  .searchbox-inner {
    height: 30px;
    border: 1px solid #60d4eb;
    opacity: 1;
    border-radius: 5px;
  }
}

*[dir="rtl"] .searchbox {
  @media only screen and (min-width: 768px) {
    margin: 0 15px 0 auto;
  }
}

.qr-code-btn {
  background: #fff !important;
  color: $primary-color !important;
  font-size: 0.86rem;
  border-radius: 3px;
  font-weight: bold;
  border: 1px solid #CAE4F7;
  box-shadow: none;
  height: 30px;
  padding: 8px 15px;
  .qrcode {
    color: $link-color !important;
    font-size: 1.3em;
  }
}

.search-qrcode-divider {
  opacity: 0.4;
  border-right: 2px solid #fff;
}