@import "variables";
@import 'mixins/mixins';

.question-status a {
    text-decoration: underline;
}
.question-header .message {
    font-size: calculateRem(11px);
}
.review-modal-list {
    .list {
        padding-left: calculateRem(16px);
        margin: 0;
        li {
            font-size: $font-size-sm;
            line-height: calculateRem(18px);
        }
    }
}
