.btn-group {
    text-align: right;
  }
.btn-group button:first-child {
    border-right: none;
    border-radius: 0;
}
.btn-group button:last-child {
    border-left: none;
    border-radius: 0;
    margin-right: 0;
}
.btn-group button.active {
    background: #024a93;
    color: #ffffff;
}
