<sui-modal [isClosable]="false" (dismissed)="modal.deny(); closeModal();" [isInverted]="true" #modal>
<div class="content qr-code-modal-content">
  <div class="twelve wide column ">
    <div class="ui grid">
      <div class="twelve wide column"><i class="close large icon right-float" (click)="modal.deny();"></i></div>
    </div>
    <div class="ui container stackable two column grid">
      <div class="column center aligned text-container">
        <h1 class="qr-code-modal-header padding-top-10"> {{resourceService.frmelmnts?.lbl?.exploreContentOn  | interpolate:'{instance}':resourceService.instance.charAt(0).toUpperCase() + resourceService.instance.slice(1)}}
          <div class="qr-code-modal-sub-header padding-top-10">
            {{resourceService.frmelmnts?.lbl?.startExploringContent}}
          </div>
        </h1>
        <div class="ui fluid icon input dial-section-input margin-top-30">
          <input name="search" #dialCodeVal placeholder="{{resourceService.frmelmnts?.lbl?.enterDialCode}}" title="Search" type="text" ng-reflect-name="search" class="ng-untouched ng-pristine ng-valid">
          <i class="search icon"></i>
        </div>
        <div class="ui primary button qr-code-modal-btn" (click)="onSubmit(dialCodeVal.value)">{{resourceService.frmelmnts?.btn?.submit}}</div>
      </div>
      <div class="column right floated right aligned">
        <div class="ui basic segment">
          <div class="ui large image">
            <img src="{{'assets/images/Dialcode.png' | cdnprefixurl}}">
          </div>
          <div class="qr-code-modal-meta">
            <p>{{resourceService.frmelmnts?.lbl?.dialCodeDescription}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</sui-modal>
