<app-modal-wrapper [config]="{disableClose: false, size: 'normal'}" (dismiss)="modal.deny();closeModal();" #modal>
  <ng-template sbModalContent>
    <div mat-dialog-title>
      <h2>{{resourceService.frmelmnts?.lbl?.exploreContentOn | interpolate:'{instance}': instance}}</h2>
        <span class="example-spacer"></span>
  <button mat-mini-fab color="warn" mat-dialog-close aria-label="close dialog">
    <mat-icon>close</mat-icon>
  </button>
    </div>
    <div mat-dialog-content class="d-flex flex-ai-center">
        <img class="w-50" src="{{'assets/images/Dialcode.png' | cdnprefixurl}}" alt="Dial code image">
        <mat-form-field appearance="fill" color="accent" class="ml-16 w-100">
          <mat-icon matPrefix >search</mat-icon>
          <mat-label>{{resourceService.frmelmnts?.lbl?.startExploringContent}}</mat-label>
          <input autofocus matInput name="search" #dialCodeVal placeholder="{{resourceService.frmelmnts?.lbl?.enterDialCode}}" title="{{resourceService.frmelmnts?.lbl?.enterDialCode}}">
        </mat-form-field>
      </div>
      <mat-dialog-actions align="end">
        <button mat-raised-button color="accent" class="button-rounded" appTelemetryInteract
        [telemetryInteractEdata]="setsubmitDialCodeInteractEdata(dialCodeVal.value)" tabindex="0"
        (click)="onSubmit(dialCodeVal.value)" tabindex="0" autofocus>
        {{resourceService.frmelmnts?.btn?.submit}}
      </button>
        </mat-dialog-actions>
  </ng-template>
</app-modal-wrapper>