@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.information-icon{
    position: relative;
    top: calculateRem(8px);
  }

  .administrator-text {
    font-style: italic;
  }


  .administrator-text {
    font-style: italic;
    color:var(--gray-200);
  }
  .download-section-text{
    font-size: calculateRem(14px);
    color: var(--gray-800);
  }
  ::ng-deep {
    html[layout=joy] .sb-btn-normal {
      height: 2rem;
      box-shadow: none;
   }
  }