<div class="rightSideSectionCards ui card sb-course-batch-card" *ngIf="curriculum?.length">
  <div class="header p-16 fnormal">{{resourceService?.frmelmnts?.lbl?.curriculum}}</div>
  <div class="content">
    <div class="description">
      <div class="ui list">
        <div class="item" *ngFor="let data of curriculum">
          <div class="content curriculum-content">
            <i [className]="data?.class" aria-hidden="true"></i>
            <span> {{data?.count}}&nbsp;{{data?.label}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>