@import 'variables';
@import 'mixins/mixins';
.help-video {
    &__player {
  
      &__title,
      &__tools {
        display: flex;
      }
  
      &__title {
        align-items: center;
        height: 64px;
  
        h6 {
          font-weight: bold;
          color: #024f9d;
          margin: 0 auto 0 0;
          font-size: 16px;
        }
      }
  
      &__tools {
        cursor: pointer;
        padding: 8px 16px;
      }
  
    }
  }
  
  //aspect ratio
  .aspectratio {
    position: relative;
    height: 0;
    width: 100%;
  
    &[data-ratio="16:9"] {
      padding-top: 56.25%;
    }
  
    [data-ratio="4:3"] {
      padding-top: 75%;
    }
  
    &>* {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  
      video {
        width: 100%;
        height: 100%;
      }
    }
  }
  
  
// Icons
.icons-withtext {

    &__cloud-download,
    &__share-alternate {
  
      font-size: $font-size-xs;
      color: var(--gray-400);
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      padding: 8px;
      width: 64px;
      height: 64px;
      &:hover{
        background: var(--primary-200);
      }
      i.icon {
        font-size: 24px;
        color: #024f9d;
        height: 24px;
        margin: 0 0 4px 0;
        flex-basis: 100%;
  
      }
    }
  
  }
  
  // sb card css
  .sbcard {
    width: 100%;
    border-radius: 0px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid $gray-0;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.12);
    contain: content;
    @include respond-above(sm) {
      border-radius: 2px;
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.16);
      border-bottom: 0px solid $gray-0;
    }
    &__main-area {
      display: flex;
      flex-direction: row;
      align-items: center;
      // padding: $base-block-space;
      height: $base-block-space * 11;
      // border-bottom: 1px solid var(--gray-0);
    }
    &__img {
      height: 72px;
      width: 72px;
      overflow: hidden;
      /* margin-right: 8px; */
      flex: 0 0 72px;
      padding: 8px;
  
      .img-container {
        display: flex;
        align-items: center;
        background-color: $gray-100;
        height: $base-block-space * 9;
        width: $base-block-space * 9;
  
        img {
          width: 100%;
          backdrop-filter: brightness(93%) opacity(85%) blur(3px) contrast(110%);
        }
      }
    }
    &__title {
      color: $gray-800;
      font-size: $font-size-normal;
      margin: 0px;
      line-height: normal;
      line-height: 20px;
      word-break: break-word;
    }
    &__meta1 {
      color: $gray-300;
      font-size: $font-size-sm;
      display: inline-flex;
      align-items: center;
      line-height: 20px;
    }
    &--recently-viewed {
      .sbcard__img {
        width: 88px;
        height: 88px;
        flex: 0 0 88px;
  
        .img-container {
          display: flex;
          align-items: center;
          background-color: $gray-100;
          margin: -8px;
          height: $base-block-space * 11;
          width: $base-block-space * 11;
        }
      }
      .sbcard__info {
        padding: 8px;
      }
    }
    &:last-child{
      margin-bottom:0px !important;
    }
  }