@import "variables";
@import "mixins/mixins";
@import "components/video";

// .content-video {
//   &__player {
//     &__details,
//     &__tools {
//       display: flex;
//     }
//     &__details {
//       align-items: center;
//       height: 64px;
//       padding: 8px;
//     }
//     &__title {
//       font-weight: bold;
//       color: var(--primary-400);
//       font-size: $font-size-md;
//     }
//   }
//   &__content {
//     padding-right: 8px;
//     margin-right: -8px;
//     padding-bottom: 8px;
//   }
// }


// sb card css
.sbcard {
  width: 100%;
  border-radius: 0px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid $gray-0;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.12);
  contain: content;
  &.active {
    background: var(--primary-100);
  }
  @include respond-above(sm) {
    border-radius: 2px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.16);
    border-bottom: 0px solid $gray-0;
  }
  &__main-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    // padding: $base-block-space;
    height: $base-block-space * 11;
    // border-bottom: 1px solid var(--gray-0);
  }
  &__img {
    height: 72px;
    width: 72px;
    overflow: hidden;
    /* margin-right: 8px; */
    flex: 0 0 72px;
    padding: 8px;

    .img-container {
      display: flex;
      align-items: center;
      background-color: $gray-100;
      height: $base-block-space * 9;
      width: $base-block-space * 9;

      img {
        width: 100%;
        backdrop-filter: brightness(93%) opacity(85%) blur(3px) contrast(110%);
      }
    }
  }
  &__title {
    color: $gray-800;
    font-size: $font-size-normal;
    margin: 0px;
    line-height: normal;
    line-height: 20px;
    word-break: break-word;
  }
  &__meta1 {
    color: $gray-300;
    font-size: $font-size-sm;
    display: inline-flex;
    align-items: center;
    line-height: 20px;
  }
  &--recently-viewed {
    .sbcard__img {
      width: 88px;
      height: 88px;
      flex: 0 0 88px;

      .img-container {
        display: flex;
        align-items: center;
        background-color: $gray-100;
        margin: -8px;
        height: $base-block-space * 11;
        width: $base-block-space * 11;
      }
    }
    .sbcard__info {
      padding: 8px;
    }
  }
  &:last-child {
    margin-bottom: 0px !important;
  }
  &:hover h4.sbcard__title {
    color: var(--primary-400);
  }
}
