
 <sui-modal [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'normal'"
class="sb-modal" appBodyScroll  #modal (dismissed)="closeModal()">
<div class="sb-modal-header font-weight-normal">{{resourceService?.frmelmnts?.lbl?.loadContentFrom}}</div>
<div class="sb-modal-content">
    <div class="p-8">
      <div class="sb-radio-btn-checkbox sb-radio-btn-secondary pb-20" [ngClass]="{'disable-color': !isConnected}">
        <div class="d-flex">
          <input type="radio" id="online" name="example" [disabled]="!isConnected" [checked]="isConnected"  (change)="onChange('browse')">
          <label for="online" [ngClass]="{'font-weight-bold': !addImportFontWeight}" id="browse">{{resourceService?.frmelmnts?.lbl?.library}}</label>
          <div class="sb-label-status sb-label-status-error" *ngIf="!isConnected">
              <span class="sb-label-status-indicator sb-label-status-indicator-error"></span>{{resourceService?.frmelmnts?.lbl?.offline}}
            </div>
          <div class="sb-label-status sb-label-status-success" *ngIf="isConnected">
              <span class="sb-label-status-indicator sb-label-status-indicator-success"></span>{{resourceService?.frmelmnts?.lbl?.online}}
            </div>
        </div>
        <div class="fs-0-92">{{resourceService?.messages?.stmsg?.m0031 | interpolate:'{instance}': instance}}</div>
      </div>
      <div class="sb-radio-btn-checkbox sb-radio-btn-secondary">
        <div class="d-flex">
          <input type="radio" id="offline" name="example2" [checked]="!isConnected"  (change)="onChange('import')">
          <label class="font-weight-bold" id="" for="offline" [ngClass]="{'font-weight-bold': addImportFontWeight}">{{resourceService?.frmelmnts?.lbl?.drive}}</label>
        </div>
        <div class="fs-0-92">{{resourceService?.messages?.stmsg?.m0036 | interpolate:'{instance}': instance}}</div>
      </div>
    </div>
  </div>
  <div class="sb-modal-actions">
      <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="handleModalData()">{{resourceService?.frmelmnts?.lbl?.continue}}</button>
      <button type="button" class="sb-btn sb-btn-outline-primary sb-btn-normal" (click)="closeModal()">{{resourceService?.frmelmnts?.btn?.cancel}}</button>
    </div>
  </sui-modal>
