@import "variables";
@import "mixins/mixins";

.sb-modal{
  .disable-color{
    color: var(--gray-400);
    opacity: 0.5;
  }

  .sb-label-status:before {
    transform: none !important;
    border-radius: 10px !important;
  }
}


