.disable-color {
  color: var(--gray-400);
  opacity: 0.5;
}

.show-mode {
  border-radius: 1.5rem;
  height: 1.125rem;
  font-size: 0.625rem;
  padding: 0px 8px;

  &__offline-circle {
    width: 6px;
    height: 6px;
    border: 1px solid var(--orange);
    border-radius: 50%;
    background: var(--orange);
    position: relative;
    top: 2px;
    margin-right: 4px;
  }

  &__online-circle {
    width: 6px;
    height: 6px;
    border: 1px solid var(--green);
    border-radius: 50%;
    background: var(--green);
    position: relative;
    top: 2px;
    margin-right: 4px;
  }
}
