<div class="ui fixed relative main menu bs-0 d-block">
  <div class="ui container sb-header-ui-container">
    <div class="ui grid padded width-100">
      <div class="six wide column p-0">
        <a class="d-flex logo" role="banner" tabindex="0" title="SUNBIRD">
          <img class="cursor-pointer" alt="SUNBIRD" src="assets/images/sunbird_logo.png"></a>
      </div>
      <div class="six wide column p-0 d-flex flex-jc-flex-end flex-ai-center">

        <div class="ui text menu m-0 d-flex flex-jc-center flex-ai-center ">

          <a class="item py-8 pl-0 pr-24" routerLink="/contribute"> Libray
          </a>
          <a class="item py-8 pl-0 pr-24" tabindex="0">
            Trainings
          </a>
          <a class="item py-8 pl-0 pr-24" tabindex="0"> My Groups
            <span class="group__type ml-16">New</span>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui container">
  <div class="twelve wide column p-0">
    <!-- login-content -->
    <div *ngIf="hideLoginContainer" class="flex-dc d-flex flex-jc-center p-24 login-to-create-group-container">
     <div class="my-48 p-16 d-flex flex-jc-center flex-as-center status-container__content">
       <div class="d-flex flex-dc flex-jc-center text-center flex-ai-center">
         <div><img src="../../../../../assets/images/noun_School.svg" width="91px" height="162px"></div>
         <div class="mt-8 fs-1"> You have to log in to create groups</div>
         <button class="sb-btn sb-btn-primary sb-btn-normal sb-btn-md mt-16 mb-8 w-50" type="button"
           (click)="login()">
           Login</button>
       </div>
     </div>
   </div>
   <!-- create-group-content -->
<div class="flex-dc d-flex flex-ai-center flex-jc-center my-48 p-24 create-group-container"
*ngIf="noGroupContent">
<div><img src="../../../../../assets/images/noun_School.svg" width="91px" height="162px"></div>
<div class="mt-8 fs-1 text-center">
 Currently, you do not have any Groups Click on create group to create groups, choose admin and much more
 (Group discription here)</div>
<button class="sb-btn sb-btn-primary sb-btn-normal sb-btn-md mt-16 mb-8" type="button"
 (click)="showBoardSelectnModal = !showBoardSelectnModal">Create group</button>
</div>
</div>
  <div class="ui stackable grid m-0">
    <div class="nine wide column p-0 ">
      <!-- card-content left-side -->
      <div [hidden]="groupCardContent" class="my-groups-container">
        <div class="sb-pageSection">
          <div class="sb-pageSection-header pt-24">
            <h4 class="sb-pageSection-title m-0 mr-5">Members</h4>
            <span class="sb-pageSection-count sb-label sb-label-xs sb-label-error">25</span>
          </div>
        </div>
        <div class="sbgrid sbgrid--grid-carousel">
          <div class="sbcard sbcard--resource sbcard--course" *ngFor="let sbcard of sbcards">
            <div class="sbcard__main_area">
              <div class="sbcard__img"><img src="../../../../../assets/images/noun_School.svg" alt="" title="" /></div>
              <div class="sbcard__info">
                <h4 class="sbcard__title sb__ellipsis sb__ellipsis--two">{{sbcard.title}}</h4>
                <div class="sbcard__meta1"><span>{{sbcard.subject}}</span><span
                    class="dot-divider"></span><span>{{sbcard.class}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="three wide column p-0 pl-16">
      <div class="sb-sticky-right-panel" *ngIf="CreateGroupRightPanel">
        <div class="info-container flex-dc d-flex flex-jc-center p-24 sb-bg-color-white">
          <div class="d-flex flex-dc flex-jc-center text-center flex-ai-center">
            <div class="info-container__icon">
              <img height="37px" src="../../../../../assets/images/noun_School.svg" width="37px">
            </div>
            <div class="mt-8 text-center info-container__para">Currently, you do not have any Groups Click on create
              group to create groups, choose admin and much more ( Group discription here )</div>
          </div>
          <button class="sb-btn sb-btn-primary sb-btn-md mt-16 mb-8 w-100" type="button"
            (click)="showBoardSelectnModal = !showBoardSelectnModal">Create group</button>
        </div>
      </div>
    </div>
  </div>
</div>

<sui-modal *ngIf="showBoardSelectnModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
  [size]="'normal'" class="sb-modal" appBodyScroll (dismissed)="showBoardSelectnModal = !showBoardSelectnModal" #modal>
  <div class="sb-modal-header">Create Group</div>
  <div class="sb-modal-content o-y-visible">
    <div class="create-group-title pb-16">Enter the following information</div>
    <form class="sb-form">
      <label>Group Name</label>
      <div class="sb-field">
        <input class="sb-form-control" type="text" placeholder="Enter Group Name">
      </div>
      <div class="sb-field">
        <label>Board:</label>
        <sui-select class="selection" name="state" labelField="name" placeholder="Select State">
          <sui-select-option *ngFor="let state of states" [value]="state"></sui-select-option>
        </sui-select>
      </div>
      <div class="sb-fielgroup">
        <label>Medium:</label>
        <div class="sb-field">
          <sui-select class="selection" name="medium" labelField="name" placeholder="Select Medium">
            <sui-select-option *ngFor="let language of medium" [value]="language"></sui-select-option>
          </sui-select>
        </div>
      </div>
      <div class="sb-fielgroup">
        <label>Class:</label>
        <div class="sb-field">
          <sui-multi-select class="selection" name="class" labelField="name" placeholder="Select Class">
            <sui-select-option *ngFor="let class of classes" [value]="class"></sui-select-option>
          </sui-multi-select>
        </div>
      </div>
      <div class="sb-fielgroup">
        <label>Subject:</label>
        <div class="sb-field">
          <sui-select class="selection" name="subject" labelField="name" placeholder="Select Subject">
            <sui-select-option *ngFor="let subject of subjects" [value]="subject"></sui-select-option>
          </sui-select>
        </div>
      </div>
    </form>
  </div>
  <div class="sb-modal-actions">
    <button type="submit" class="sb-btn sb-btn-normal sb-btn-primary" (click)="onCreateGroup()">
      Submit
    </button>
  </div>
</sui-modal>
