<div class="ui container">
  <!-- group cards screen with sticky create-group button screen in right side same as desktop -->
  <div class="ui stackable grid m-0">
    <div class="nine wide column p-0 ">
      <div class="my-groups-container">

        <!-- to view the  no result found,  uncomment the below component -->
        <!-- <app-no-group-result></app-no-group-result> -->

        <!-- add create-group screen -->
        <div class="flex-dc d-flex flex-ai-center flex-jc-center my-48 p-24 create-group-container">
          <div class="my-16">Place holder images</div>
          <div class="d-flex flex-as-center"><img src="./assets/images/profileimages.png"></div>
          <div class="my-24 fs-1 text-center">
            Currently, you do not have any Groups Click on create group to create groups, choose admin and much more
            (Group discription here)</div>
          <button class="sb-btn sb-btn-primary sb-btn-md flex-ai-jc-center mb-8" type="button"
            (click)="showGroupCreateForm = !showGroupCreateForm">
            <i class="icon-svg icon-svg--md icon-addMembers mr-4">
              <svg class="icon icon-svg--white">
                <use xlink:href="./assets/images/libdemo/sprite.svg#AddMembers"></use>
              </svg></i> Create Group</button>
        </div>

        <!--  grouplist from CC-->

        <!-- sb-pageSection, sb-grid section demo purpose  grouplist -->
        <div class="section-header mt-24 mb-16">
          <div class="section-header__title">
            <i class="icon-svg icon-svg--sm mr-4"><svg class="icon"><use xlink:href="assets/common-consumption/images/sprite.svg#book"></use></svg></i> My Groups<span class="badge">25</span>
          </div>
        </div>
        <div class="sbgrid">
          <div class="sbcard sbcard--resource sbcard--course" *ngFor="let sbcard of sbcards">
            <div class="sbcard__main_area">
              <div class="sbcard__img"><img src="./assets/images/noun_School.svg" alt="" title="" /></div>
              <div class="sbcard__info">
                <h4 class="sbcard__title sb__ellipsis sb__ellipsis--two">{{sbcard.title}}</h4>
                <div class="sbcard__meta1"><span>{{sbcard.subject}}</span><span
                    class="dot-divider"></span><span>{{sbcard.class}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="three wide column p-0 pl-16">
      <!-- add create-group screen once the group is created the below can be shown on the right side for the feature group creation-->
      <div class="sb-sticky-right-panel">
        <div class="info-container flex-dc d-flex flex-jc-center p-24 sb-bg-color-white">
          <div class="d-flex flex-dc flex-jc-center text-center flex-ai-center">
            <div class="info-container__icon">
              <img height="37px" src="./assets/images/noun_School.svg" width="37px">
            </div>
            <div class="mt-8 text-center info-container__para">Currently, you do not have any Groups Click on create
              group to create groups, choose admin and much more ( Group discription here )</div>
          </div>
          <button class="sb-btn sb-btn-primary sb-btn-md mt-16 mb-8 w-100 flex-ai-jc-center" type="button"
            (click)="showGroupCreateForm = !showGroupCreateForm"><i
              class="icon-svg icon-svg--md icon-addMembers mr-4">
              <svg class="icon icon-svg--white">
                <use xlink:href="./assets/images/libdemo/sprite.svg#AddMembers"></use>
              </svg>
            </i> Create group</button>
        </div>
      </div>
    </div>
  </div>

</div>

<app-group-form *ngIf="showGroupCreateForm" ></app-group-form>