<div class="il-gadget-header">
    <h4>Q&amp;A</h4>
</div>
<!-- Interactions List View - Start -->
<div class="il-gadget-body interactions" ng-show="showInteractionsList">
    <div class="col-md-12 borderBottom">
        <button ng-click="showAddQuestion = true" class="btn col-md-7 btn-primary">Ask Question</button>
        <div class="form-group col-md-5">
            <div class="col-sm-12 noPad">
                <select ng-model="searchQuery" ng-change="searchQuery.trigger()" class="form-control" ng-options="query.name for query in interactionQueries">
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-12 padTop" ng-show="showAddQuestion">
        <input type="text" placeholder="Add question title here..." class="form-control" ng-model="interactionTitle" />
        <br/>
        <!-- <text-angular ta-toolbar="[['h2','h3','h4','p','bold','italics','underline','ul','ol','insertLink']]" ng-model="interactionPost" ta-toolbar-button-class="btn btn-default btn-sm" placeholder="Add your qestion here"></text-angular> -->
        <textarea ng-il-pagedown ng-model="interactionPost"></textarea>
        <div class="pull-right padTop">
            <button class="btn btn-primary btn-sm" ng-click="saveInteraction()">Post Question</button>
            <button class="btn btn-default btn-sm marginLeft5" ng-click="showAddQuestion = false; interactionPost = ''">Cancel</button>
        </div>
    </div>
    <div class="col-md-12 int-list-container" ng-hide="showAddQuestion">
        <div class="int-question" ng-click="selectInteraction(interaction)" ng-repeat="interaction in interactions" style="cursor:pointer">
            <div class="col-md-1 int-list-votes">
                <span class="int-block int-vote">{{(interaction.summaries.rating)? interaction.summaries.rating : '0 '}}</span>
                <span class="int-block">votes</span>
                <span class="int-block int-answered" ng-show="interaction.contextMetadata.markAsAnswered"><i class="fa fa-check"></i>
                </span>
            </div>
            <div class="col-md-11 int-list-body">
                <div class="col-md-12 noPad int-ques">
                    <span>{{interaction.title}}</span>
                </div>
                <div class="col-md-12 noPad int-tags" ng-show="interaction.tags">
                    <span class="label label-default" ng-repeat="tag in tags">{{tag.label}}</span>
                </div>
                <div class="col-md-12 noPad int-metadata">
                    <div class="col-md-6 noPad int-summaries">
                        {{(interaction.summaries.commentsCount)? interaction.summaries.commentsCount : '0 '}} Answers &nbsp;&nbsp; {{(interaction.summaries.viewCount)? interaction.summaries.viewCount : '0 '}} Views &nbsp;&nbsp; {{(interaction.summaries.followCount)? interaction.summaries.followCount : '0 '}} <i class="fa fa-star-o"></i>
                    </div>
                    <div class="col-md-6 int-user">
                        <span>- {{interaction.systemMetadata.userName}} &nbsp;
                            <span data-livestamp="{{interaction.systemMetadata.createdDate/1000}}"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Interactions List View - End -->

<!-- Selected Interaction View - Start -->
<div class="il-gadget-body" ng-hide="showInteractionsList" ng-if="selectedInteraction">
    <% include viewInteraction.html %>
</div>
<!-- Selected Interaction View - End -->