<sui-modal *ngIf="!showAnnouncementForm" [isClosable]="false" [mustScroll]="true" [size]="'large'" [hidden]="(modalName === 'success' || modalName === 'cancel')"
  (dismissed)="redirectToOutbox()" #createModal>
  <i class="close icon" (click)="modalName = 'cancel'"></i>
  <div class="ui segment margin-top-10" [appTelemetryStart]="telemetryStart" [appTelemetryImpression]="telemetryImpression">
    <div class="margin-bottom-15">
      <div class="ui stackable grid">
        <div class="ten wide column">
            <!-- Step 1 -->
            <span *ngIf="stepNumber === 1">
              <span class="text announcement-heading-section">{{ identifier ? resource?.frmelmnts?.lbl?.anncmntttlresend : resource?.frmelmnts?.lbl?.createnewanncmnt }}</span>
              <br/>
              <br/>
              <span class="create-ann-header-desc">{{ identifier ? resource?.frmelmnts?.lbl?.resendanncmntdesc : resource?.frmelmnts?.lbl?.createnewanncmntdesc}}</span>
              <span class="create-ann-header-desc">{{resource?.frmelmnts?.instn?.t0054}}</span>
            </span>
            <!-- Step 2 -->
            <span *ngIf="stepNumber === 2">
              <span class="text announcement-heading-section">{{resource?.frmelmnts?.lbl?.selectrecipient}}</span>
              <br/>
              <br/>
              <span class="create-ann-header-desc">{{ identifier ? resource?.frmelmnts?.lbl?.editrecipientdesc : resource?.frmelmnts?.lbl?.selectrecipientdesc}}</span>
            </span>
            <!-- Step 3 -->
            <span *ngIf="stepNumber === 3">
              <span class="text announcement-heading-section">{{identifier ? resource?.frmelmnts?.lbl?.selectrecipient: resource?.frmelmnts?.lbl?.confirmrecipient}}</span>
              <br/>
              <br/>
              <span class="create-ann-header-desc">{{identifier ? resource?.frmelmnts?.lbl?.editrecipientdesc : resource?.frmelmnts?.lbl?.confirmrecipientdesc}}</span>
            </span>
            <!-- Step 4 -->
            <span *ngIf="stepNumber === 4">
              <span class="text announcement-heading-section">{{resource?.frmelmnts?.lbl?.previewanncmnt}}</span>
              <br/>
              <br/>
              <span class="create-ann-header-desc">{{resource?.frmelmnts?.lbl?.previewanncmntdesc}}</span>
            </span>
        </div>
        <div class="two wide column">
          <div class="ui label text-align-center ann-step-notifier right-float">
              <span class="detail margin-left-0">{{resource?.frmelmnts?.lbl?.anncmntstep}}</span>
              <br/>
              <span class="detail margin-left-0 margin-top-10">{{stepNumber}} / 4</span>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="" [ngStyle]="{'display': (stepNumber === 1 && !showResendLoader) ? 'block' : 'none'}">
        <div class="ui stackable grid">
          <div class="eight wide column">
            <form class="ui form announcementForm" [formGroup]="announcementForm">
              <div class="create-ann-form-scroller">
                <div class="padding-right-25">
                  <div class="field required padding-top-5">
                    <label>{{resource?.frmelmnts?.lbl?.anncmnttitle}}</label>
                    <input formControlName="title" placeholder="{{resource?.frmelmnts?.instn?.t0057}}">
                    <div class="ui pointing red basic label below " *ngIf="announcementForm.controls['title'].errors && announcementForm.controls['title'].errors.required && !announcementForm.controls['title'].pristine">
                      {{resource?.messages?.stmsg?.m0105}}
                    </div>
                    <div class="ui pointing red basic label below" *ngIf="announcementForm.controls['title'].errors && announcementForm.controls['title'].errors.maxlength && !announcementForm.controls['title'].pristine">
                      {{resource?.messages?.stmsg?.m0106}}
                    </div>
                    <section *ngIf="announcementForm.value.title.length" class="float-ContentRight">{{announcementForm.value.title.length}} / 100</section>
                  </div>
                  <div class="field required">
                    <label>{{resource?.frmelmnts?.lbl?.anncmntfrom}}</label>
                    <div class="field">
                      <input formControlName="from" placeholder="{{resource?.frmelmnts?.lbl?.anncmntfromDesc}}">
                      <div class="ui pointing red basic label below" *ngIf="announcementForm.controls['from'].errors && announcementForm.controls['from'].errors.required && !announcementForm.controls['from'].pristine">
                        {{resource?.messages?.stmsg?.m0107}}
                      </div>
                      <div class="ui pointing red basic label below" *ngIf="announcementForm.controls['from'].errors && announcementForm.controls['from'].errors.maxlength && !announcementForm.controls['from'].pristine">
                        {{resource?.messages?.stmsg?.m0117}}
                      </div>
                      <section *ngIf="announcementForm.value.from.length" class="float-ContentRight">{{announcementForm.value.from.length}} / 200</section>
                    </div>
                  </div>
                  <!-- Type -->
                  <div class="field required">
                    <label>{{resource?.frmelmnts?.lbl?.anncmnttype}}</label>
                    <sui-select class="selection" formControlName="type" [placeholder]="'Select announcement type'">
                      <sui-select-option *ngFor="let type of announcementTypes" [value]="type"></sui-select-option>
                    </sui-select>
                    <div class="ui pointing red basic label below" *ngIf="announcementForm.controls['type'].errors && announcementForm.controls['type'].errors.required && !announcementForm.controls['type'].pristine">
                      Type is required
                    </div>
                  </div>
                  <!-- Description -->
                  <div class="field">
                    <label>{{resource?.frmelmnts?.lbl?.anncmntdesc}}</label>
                    <div class="field">
                      <input formControlName="description" placeholder="{{resource?.frmelmnts?.instn?.t0052}}">
                      <div class="ui pointing red basic label below" *ngIf="announcementForm.controls['description'].errors && announcementForm.controls['description'].errors.maxlength && !announcementForm.controls['description'].pristine">
                        {{resource?.messages?.stmsg?.m0109}}
                      </div>
                      <section *ngIf="announcementForm.value.description.length" class="float-ContentRight">{{announcementForm.value.description.length}} / 1200</section>
                    </div>
                  </div>
                  <!-- Links -->
                  <div class="field form-group">
                    <label>{{resource?.frmelmnts?.lbl?.anncmntlink}}</label>
                    <div formArrayName="links">
                      <div class="field" *ngFor="let item of announcementForm.get('links')['controls']; let i = index;">
                        <div [formGroupName]="i" class="ui action input">
                          <input formControlName="url" placeholder="{{resource?.frmelmnts?.instn?.t0053}}">
                          <i class="trash icon blue-text-color-sunbird margin-top-10 cursor-pointer" (click)="removeLink(i)"></i>
                        </div>
                        <div class="ui pointing red basic label below" *ngIf="announcementForm.controls['links'].controls[i].status === 'INVALID'">
                          {{resource?.messages?.stmsg?.m0101}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <span (click)="addNewLink('')">
                      <i class="plus icon blue-text-color-sunbird cursor-pointer"></i>
                      <span *ngIf="announcementForm.get('links')['controls'].length === 0">
                        <span class="cursor-pointer blue-text-color-sunbird">{{resource?.frmelmnts?.lbl?.anncmntaddlink}}</span>
                        <span>{{resource?.frmelmnts?.lbl?.anncmntaddlinkdesc}}</span>
                      </span>
                      <span *ngIf="announcementForm.get('links')['controls'].length > 0">
                        <span class="cursor-pointer blue-text-color-sunbird">{{resource?.frmelmnts?.lbl?.anncmntaddmorelink}}</span>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- File uploader -->
          <div class="four wide column">
            <div class="field">
              <label>{{resource?.frmelmnts?.lbl?.anncmntuploadfile}}</label>
              <div>
                <app-file-uploader></app-file-uploader>
                <div id="fine-uploader-manual-trigger"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui form announcementForm">
        <div class="ui segment items-area padding-top-none padding-right-none padding-left-none" *ngIf="showResendLoader">
          <app-loader></app-loader>
        </div>
        <!-- GEO explorer -->
        <div *ngIf="stepNumber === 2">
          <app-geo-explorer [geoConfig]="config.appConfig.ANNOUNCEMENT.GEOCONFIG" [populateSelectedItem]="recipientsList"></app-geo-explorer>
        </div>
        <!-- Preview announcement -->
        <div *ngIf="stepNumber === 3" class="ui list ui grid">
          <div class="eight wide column create-ann-form-scroller">
            <div class="ui message padding-10" *ngFor="let item of recipientsList">
              <i appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="removeRecipientInteractEdata" class="close icon" (click)="removeRecipient(item)" ></i>
              <span class="create-ann-Selected-secepient">{{item.location}}</span>
            </div>
          </div>
        </div>
        <!-- Preview announcement -->
        <div *ngIf="stepNumber === 4" class="ui grid margin-right-none">
          <div class="box width-100 eight wide column create-ann-form-scroller">
            <app-details [announcementDetails]="announcementDetails"></app-details>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <button appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="backBtnInteractEdata" class="ui primary basic button float-ContentLeft" *ngIf="stepNumber !== 1" (click)="navigateToWizardNumber((+stepNumber - 1))" >
      <span class="announcement-button-text">{{resource?.frmelmnts?.btn?.back}}</span>
    </button>
    <div appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="confirmAnnouncementInteractEdata" class="ui primary button" *ngIf="stepNumber === 2" (click)="confirmRecipients()" >{{resource?.frmelmnts?.btn?.anncmntconfirmrecipients}}</div>
    <div appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="previewInteractEdata" class="ui primary button" *ngIf="stepNumber === 3" (click)="navigateToPreviewPage()" >{{resource?.frmelmnts?.btn?.anncmntpreview}}</div>
    <button appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="sendAnnouncementInteractEdata" type="button" class="ui primary button" *ngIf="stepNumber === 4" (click)="saveAnnouncement();formErrorFlag = true" 
      [disabled]="formErrorFlag">{{resource?.frmelmnts?.btn?.anncmntsendanncmnt}}</button>
    <button appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="selectInteractEdata" type="button" [disabled]="announcementForm.invalid || formErrorFlag" *ngIf="stepNumber === 1" class="ui primary button"
      (click)="navigateToWizardNumber(2)" >
      {{ identifier ? resource?.frmelmnts?.btn?.anncmnteditrecipients : resource?.frmelmnts?.btn?.anncmntselectrecipients}}
    </button>
  </div>
</sui-modal>
<!-- Success modal-->
<sui-modal *ngIf="modalName === 'success'" [size]="'small'" [isClosable]="true" (dismissed)="redirectToOutbox()" #successModal>
  <i class="close icon"></i>
  <div class=" ui segment margin-top-10">
    <div class="content">
      <div class="ui grid">
        <div class="ui centered grid">
          <div class="row">
            <i class="checkmark icon big circular createAnnGrayShade"></i>
          </div>
          <div class="row">
            <span class="dashBoardSectionHeading">{{resource?.frmelmnts?.lbl?.anncmntsentsuccess}}</span>
          </div>
          <div class="">
            <span class="createAnnGrayShade line-height-20">{{resource?.frmelmnts?.lbl?.anncmntsentdesc}}</span>
          </div>
        </div>
        <br/>
        <div class="row ui two column centered grid margin-top-20 actions">
          <button appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="announcementSentInteractEdata" class="ui primary basic button announcement-button btn-width-34 approve" (click)="successModal.deny(); redirectToOutbox();">
            <span class="announcement-button-text">{{resource?.frmelmnts?.btn?.anncmntgotit}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</sui-modal>
<!-- Cancel modal -->
<sui-modal [isClosable]="false" [size]="'small'" [hidden]="(modalName === 'create' || modalName === 'success' || modalName === 'close')"
  #cancelModal>
  <div class=" ui segment margin-top-10">
    <div class="content">
      <div class="ui grid">
        <div class="ui centered grid">
          <div class="row">
            <div class="ui basic icon circular button cursor-pointer">
              <i class="ui huge help outline icon"></i>
            </div>
          </div>
          <div class="row">
            <span class="dashBoardSectionHeading">{{resource?.frmelmnts?.lbl?.anncmntcancel}}</span>
          </div>
          <div class="">
            <span class="createAnnGrayShade line-height-20">{{resource?.frmelmnts?.lbl?.anncmntcanceldesc}}</span>
          </div>
        </div>
        <br/>
        <div class="row ui two column centered grid margin-top-20 actions">
          <div appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="stopCreatingYesInteractEdata" class="ui primary basic button announcement-button btn-width-34"  (click)="cancelModal.deny();redirectToOutbox();" [appTelemetryEnd]= "telemetryEnd" >{{resource?.frmelmnts?.btn?.yes}}</div>
          <div appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="stopCreatingNoInteractEdata" class="ui primary button announcement-button btn-width-34" (click)="modalName = 'create';"  >{{resource?.frmelmnts?.btn?.no}}</div>
        </div>
      </div>
    </div>
  </div>
</sui-modal>


