<app-landing-section [textToDisplay]="" [layoutConfiguration]="{}" [noTitle]="true"></app-landing-section>
<!--profile Content Header -->
<mat-toolbar color="primary" class="toolbar-pageback">
  <button mat-mini-fab color="accent" (click)="goBack()" attr.aria-label="{{resourceService?.frmelmnts?.btn?.back}}" tabindex="0">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="toolbar-pageback__heading">
    <h3 class="mat-title mb-0" tabindex="0" role="heading" aria-level="2">{{resourceService.frmelmnts?.lnk?.profile}}</h3>
  </div>
</mat-toolbar>

<div class="mat-inside-page-container mat-app-background2 guest-profile-component" [appTelemetryImpression]="telemetryImpression">
  <section class="d-flex flex-ai-center flex-dc">
    <div class="mb-8 d-flex flex-jc-center relative avatar-container" aria-label="Profile">
      <sb-avatar class="my-avatar"  [config]=avatarConfig initialsSize="1"
        [initial]="guestUser?.formatedName[0]" [indexOfMember]="2" [title]="">
      </sb-avatar>
    </div>
    <div class="mat-display-1 font-weight-bold m-0">{{guestUser?.formatedName | titlecase}} </div>
  </section>
  <section class="d-flex flex-ai-center flex-dc my-24 content-preference">
    <h3 class="mat-h1 font-weight-bold">
      {{resourceService?.frmelemnts?.lbl?.profiledetails}}</h3>
    <div class="mat-app-background w-100 br-32 py-24 text-center">
      <div *ngIf="userRole" class="mb-8 content-preference__details">
        <div class="mat-subheading-1 m-0 text-center">{{resourceService?.frmelmnts?.lbl?.role}} :</div>
        <div class="mat-subheading-1 m-0 ml-5 font-weight-bold text-center">
          {{userRole | titlecase}}</div>
      </div>
      <div *ngIf="guestUser?.subrole" class="mb-8 content-preference__details">
        <div class="mat-subheading-1 m-0 text-center">{{resourceService?.frmelmnts?.lbl?.subRole}} :</div>
        <div class="mat-subheading-1 m-0 ml-5 font-weight-bold text-center">
          {{guestUser?.subrole}}</div>
      </div>

      <div *ngIf="guestUser?.school" class="mb-8 content-preference__details">
        <div class="mat-subheading-1 m-0 text-center">{{resourceService?.frmelmnts?.lbl?.school}} :</div>
        <div class="mat-subheading-1 m-0 ml-5 font-weight-bold text-center">
          {{guestUser?.school}} </div>
      </div>
      <div *ngIf="guestUser?.cluster" class="mb-8 content-preference__details">
        <div class="mat-subheading-1 m-0 text-center">{{resourceService?.frmelmnts?.lbl?.cluster}} :</div>
        <div class="mat-subheading-1 m-0 ml-5 font-weight-bold text-center">
          {{guestUser?.cluster}} </div>
      </div>
      <div *ngIf="guestUser?.block" class="mb-8 content-preference__details">
        <div class="mat-subheading-1 m-0 text-center">{{resourceService?.frmelmnts?.lbl?.block}} :</div>
        <div class="mat-subheading-1 m-0 ml-5 font-weight-bold text-center">
          {{guestUser?.block}}</div>
      </div>
      <div *ngIf="deviceProfile?.userDeclaredLocation?.district"
        class="mb-8 content-preference__details">
        <div class="mat-subheading-1 m-0 text-center">{{resourceService?.frmelmnts?.lbl?.district}} :</div>
        <div class="mat-subheading-1 m-0 ml-5 font-weight-bold text-center">
          {{deviceProfile?.userDeclaredLocation?.district}} </div>
      </div>
      <div *ngIf="deviceProfile?.userDeclaredLocation?.state"
        class="mb-8 content-preference__details">
        <div class="mat-subheading-1 m-0 text-center">{{resourceService?.frmelmnts?.lbl?.state}} :</div>
        <div class="mat-subheading-1 m-0 ml-5 font-weight-bold text-center">
          {{deviceProfile?.userDeclaredLocation?.state}}</div>
      </div>
      <button mat-raised-button color="accent" class="button-rounded mt-8" appTelemetryInteract appOnlineOnly [telemetryInteractEdata]="editProfileInteractEdata"
      aria-label="" tabindex="0"
      (click)="showEditUserDetailsPopup=true">{{resourceService?.frmelmnts?.lbl?.edit}}</button>
    </div>
  </section>

  <section class="mat-app-background w-100 br-32 py-24 text-center">
    <!-- User info computer view starts-->
    <div class="d-flex flex-jc-center flex-ai-center flex-dc">
      <div class="max-w-400 computer only">
        <div class="mb-8 d-flex flex-jc-center">
          <span class="mat-subheading-1 m-0 white-space-nowrap">{{resourceService?.frmelmnts?.lbl?.boards | transposeTerms: 'frmelmnts.lbl.boards' : resourceService?.selectedLang}} :</span>
          <span class="mat-subheading-1 m-0 font-weight-bold pl-4">{{convertToString(guestUser?.framework?.board)}}</span>
        </div>
        <div class="mb-8 d-flex flex-jc-center">
          <span class="mat-subheading-1 m-0 white-space-nowrap">{{resourceService?.frmelmnts?.lbl?.medium | transposeTerms: 'frmelmnts.lbl.medium' : resourceService?.selectedLang}} :</span>
          <span class="mat-subheading-1 m-0 font-weight-bold pl-4">{{convertToString(guestUser?.framework?.medium)}}</span>
        </div>
        <div class="mb-8 d-flex flex-jc-center">
          <span class="mat-subheading-1 m-0 white-space-nowrap">{{resourceService?.frmelmnts?.lbl?.classes | transposeTerms: 'frmelmnts.lbl.classes': resourceService?.selectedLang}} :</span>
          <span class="mat-subheading-1 m-0 font-weight-bold pl-4">{{convertToString(guestUser?.framework?.gradeLevel)}}</span>
        </div>
        <div class="d-flex flex-jc-center" *ngIf="guestUser?.framework?.subject?.length">
          <span class="mat-subheading-1 m-0 white-space-nowrap">{{resourceService?.frmelmnts?.lbl?.subjects | transposeTerms: 'frmelmnts.lbl.subjects': resourceService?.selectedLang}} :</span>
          <span class="mat-subheading-1 m-0 font-weight-bold pl-4">{{convertToString(guestUser?.framework?.subject)}}</span>
        </div>
        <button mat-raised-button color="accent" class="button-rounded mt-8" appTelemetryInteract
        appOnlineOnly [telemetryInteractEdata]="editProfileInteractEdata"
        tabindex="0" (click)="showEdit = !showEdit">{{resourceService?.frmelmnts?.lbl?.edit}}</button>
      </div>
    </div>
    <!-- User info computer view ends-->

    <!-- User info mobile view starts-->
    <div class="max-w-300 mobile only m-auto">
      <div class="mb-8 d-flex flex-ai-center flex-dc">
        <span class="mat-subheading-1 m-0 white-space-nowrap">{{resourceService?.frmelmnts?.lbl?.boards | transposeTerms: 'frmelmnts.lbl.boards' : resourceService?.selectedLang}}:</span>
        <span class="mat-subheading-1 m-0 font-weight-bold text-center">{{convertToString(guestUser?.framework?.board)}}</span>
      </div>
      <div class="mb-8 d-flex flex-ai-center flex-dc">
        <span class="mat-subheading-1 m-0 white-space-nowrap">{{resourceService?.frmelmnts?.lbl?.medium | transposeTerms: 'frmelmnts.lbl.medium' : resourceService?.selectedLang}} :</span>
        <span class="mat-subheading-1 m-0 font-weight-bold text-center">{{convertToString(guestUser?.framework?.medium)}}</span>
      </div>
      <div class="mb-8 d-flex flex-ai-center flex-dc">
        <span class="mat-subheading-1 m-0 white-space-nowrap">{{resourceService?.frmelmnts?.lbl?.classes | transposeTerms: 'frmelmnts.lbl.classes': resourceService?.selectedLang}} :</span>
        <span class="mat-subheading-1 m-0 font-weight-bold text-center">{{convertToString(guestUser?.framework?.gradeLevel)}}</span>
      </div>
      <div class="mb-8 d-flex flex-ai-center flex-dc">
        <span class="mat-subheading-1 m-0 white-space-nowrap">{{resourceService?.frmelmnts?.lbl?.subjects | transposeTerms: 'frmelmnts.lbl.subjects': resourceService?.selectedLang}} :</span>
        <span class="mat-subheading-1 m-0 font-weight-bold text-center">{{convertToString(guestUser?.framework?.subject)}}</span>
      </div>
      <div class="d-flex flex-ai-center flex-jc-center" appTelemetryInteract
        [telemetryInteractEdata]="editFrameworkInteractEData" tabindex="0" (click)="showEdit = !showEdit">
        <button mat-raised-button color="accent" class="button-rounded mt-8" appOnlineOnly 
        attr.aria-label="{{resourceService?.frmelmnts?.lbl?.edit}} {{resourceService?.frmelmnts?.lbl?.boards}},{{resourceService?.frmelmnts?.lbl?.medium}},{{resourceService?.frmelmnts?.lbl?.classes}},{{resourceService?.frmelmnts?.lbl?.subjects}}">
        {{resourceService?.frmelmnts?.lbl?.edit}}</button>
      </div>
    </div>
    <!-- User info mobile view ends-->
  </section>
</div>

<app-modal-wrapper *ngIf="showEdit" [config]="{disableClose: false, panelClass: ['overflow-visible', 'material-modal']}">
  <ng-template sbModalContent let-data>
    <app-popup [dialogProps]="data" [formInput]="guestUser?.framework" [showCloseIcon]="true"
      [buttonLabel]="resourceService?.frmelmnts?.btn?.submit" [isGuestUser]="true" (submit)="updateProfile($event)" (close)="showEdit = !showEdit">
    </app-popup>
  </ng-template>
</app-modal-wrapper>

<app-location-selection (close)="closeEditDetailsPopup()" *ngIf="showEditUserDetailsPopup">
  <div slot="popup-sub-header">
    <p class="mat-subheading-2 mb-0 font-w-bold">{{resourceService?.frmelmnts?.lbl?.editPersonalDetails}}&lrm;</p>
  </div>
</app-location-selection>