@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
@use 'pages/content-header' as *;
.avatar-container {
  width: calculateRem(98px);
  height: calculateRem(98px);
  margin: 0 auto;
}
/* width */
.max-w-300 {
  max-width: calculateRem(300px) !important;
}

.max-w-400 {
  max-width: calculateRem(400px) !important;
}
.content-preference {
  &__details {
    &:first-child{
      margin-top: 0;
    }
    text-align: center;
    display: flex;
    justify-content: center;
  }
  @include respond-below(sm) {
    &__details {
      flex-direction: column;
      margin-top: 1rem;
    }
  }
}
