@use "~@project-sunbird/sb-styles/assets/mixins/mixins" as *;
@use 'pages/content-header' as *;
.avatar-container {
  width: calculateRem(98px);
  height: calculateRem(98px);
  margin: 0 auto;
}
.profile-user-label {
  font-size: calculateRem(32px);
}
.font-w-bold {
  font-weight: bold !important;
}
/* profile page color palate */
.profile-bg-c-3 {
  background: var(--sbt-page-header-bg) !important;
}

.profile-bg-c-4 {
  background: var(--sb-profile-bg-c-4) !important;
  color:var(--black)
}

/* width */
.max-w-300 {
  max-width: calculateRem(300px) !important;
}

.max-w-400 {
  max-width: calculateRem(400px) !important;
}

.content-preference {
  @include respond-below(md) {
    padding: 0 2%;
    &__info {
      background: var(--sb-profile-bg-c-4);
      padding: calculateRem(16px) 0;
      border-radius: calculateRem(24px);
      width: 100%;
      color: var(--black);
    }
  }
}
::ng-deep {
  .avatar-container {
    .my-avatar .sb-members-list-item--medium .sb-member__img {
      width: 6rem;
      height: 6rem;
      font-size: 4.125rem
    }

     .my-avatar.verified .sb-members-list-item .sb-member__img {
      border: 1px solid var(--secondary-color);

    }

    .my-avatar img.avatar-tickmark {
      width: 2rem;
      height: 2rem;
      position: absolute;
      right: 0%;
      z-index: 9;
      top: 0.5rem;

    }
    .sb-members-list-item .sb-member .sb-member__name {
      display: none
    }

     .my-avatar .sb-members-list-item .sb-member__img {
      box-shadow: var(--sbt-box-shadow-6px);
    }

    .sb-members-list-item .sb-member {
      padding: 0px
    }

  }

}