<div class="ui card">
    <div class="content">
        <div class="header">Curriculam</div>
        <div class="description">
            <div class="ui list">
                <div class="item">
                    <div class="right floated content">
                        3.5h
                    </div>
                    <i class="marker icon"></i>
                    <div class="content">
                        50 Assignments
                    </div>
                </div>
                <div class="item">
                    <div class="right floated content">
                        2h
                    </div>
                    <i class="mail icon"></i>
                    <div class="content">
                        5 Videos
                    </div>
                </div>
            </div>      
        </div>
    </div>
</div>