<div ng-controller="courseScheduleCtrl as toc">

    <div id="course-toc-list" ng-show="!contentPlayer.isContentPlayerEnabled && toc.courseHierachy && !toc.showDimmer" ng-init="toc.playList = []">
        <div class="padded dash-heading-border">
            <h4 class="header">{{toc.courseHierachy.name}}</h4></div>
        <ol class="ui list page-sidebar-menu">
            <li value="" ng-repeat="item in  toc.courseHierachy.children track by $index" class="toc-list">
                <div name="{{item.identifier}}" ng-init="toc.checkAndAddToPlaylist(item)"  ng-click="toc.expandMe($event, item)" ng-class="toc.getContentClass(item.mimeType)">
                    <div class="column">
                        <h5 class="header toc-content-header">{{item.name}}</h5></div>
                    <div class="right aligned column"><i ng-if="toc.getContentIcon(item.mimeType) != undefined" ng-class="toc.getContentIcon(item.mimeType)"></i><span class="meta">{{ (toc.getAllChildrenCount($index) > 0)?toc.getAllChildrenCount($index):'&nbsp;&nbsp;&nbsp;'}}</span></div>
                </div>
                <ol ng-if="item.children && item.children.length > 0" class="toc-list-sub-menu">
                    <li value="" ng-repeat="item in item.children" class="toc-list">
                        <div name="{{item.identifier}}"   ng-init="toc.checkAndAddToPlaylist(item)" ng-click="toc.expandMe($event, item)" ng-class="toc.getContentClass(item.mimeType)">
                            <div class="column">
                                <div class="header toc-content-child-header">{{item.name}}</div>
                            </div>
                            <div class="right aligned column"><i ng-if="toc.getContentIcon(item.mimeType) != undefined" ng-class="toc.getContentIcon(item.mimeType)"></i></div>
                        </div>
                        <div ng-switch on="item.children.length > 0">
                            <div ng-switch-when="true">
                                <div ng-init="subItems = item.children;" ng-include="'views/course/tocList.html'"></div>
                            </div>
                        </div>
                    </li>
                </ol>
            </li>
        </ol>
    </div>
    <div ng-show="contentPlayer.isContentPlayerEnabled">
        <div class="ui grid">
            <div class="one wide middle aligned column">
                <button class="ui basic icon big button" ng-click="toc.playPlaylistContent(toc.prevPlaylistItem, 'prev')" ng-disabled="(toc.prevPlaylistItem < 0)"><i class="ui big chevron left icon"></i></button>
            </div>
            <div class="ten wide column" align="center">
                <content-player visibility="contentPlayer.isContentPlayerEnabled" body="contentPlayer.contentData" isshowmetaview="false" isheader="true" isclose="true" height="700" width="1000"></content-player>
            </div>
            <div class="one wide middle aligned column">
                <button class="ui basic icon big button" ng-click="toc.playPlaylistContent(toc.nextPlaylistItem, 'next')" ng-disabled="(toc.nextPlaylistItem < 0)"><i class="ui big chevron right icon"></i></button>
            </div>
        </div>
        <div class="ui left aligned padded grid">
            <div class="top padded column">
                <h5>Description</h5>
                <hr />
                <div class="padded content description">
                    {{contentPlayer.contentData.description}}
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 30px !important;" class="ui dimmer inverted" ng-class="toc.showDimmer ? 'active':''">
        <div class="content">
            <span ng-if="toc.showMetaLoader">
                <div class="ui text loader">
                    <div class="ui mini header" ng-if="toc.message">{{toc.message}}</div>
                </div>
            </span>
            <div class="center">
                <h2 class="ui header {{toc.messageClass}}" ng-if="!toc.showMetaLoader">
                    {{toc.message}}
                </h2>
            </div>
        </div>
    </div>
</div>

