<!-- Loader -->
<div class="sbt-page-gap">
  <div class="twelve wide column mt-20" *ngIf="showLoader">
    <app-loader [data]="loaderMessage"></app-loader>
  </div>
  
  <div class="ui grid my-0" *ngIf="!showLoader">
    <div class="twelve wide column" [appTelemetryImpression]="telemetryImpression">
      <div class="ui stackable three column grid" [throttle]="[1000]" [trigger]="reviewContent">
        <div  *ngFor="let content of reviewContent;let i = index;" [id]="i" [data]="content" class="column py-5 pl-10">
          <app-card-creation [data]="content" (clickEvent)="contentClick($event)"></app-card-creation>
        </div>
      </div>
      <div *ngIf="noResult">
        <app-no-result [data]="noResultMessage"></app-no-result>
      </div>
    </div>
  </div>
  
  <div class="ui grid">
    <div class="two wide column"></div>
    <div class="ten wide column pt-0 uzindex">
      <div class="pb-10" *ngIf="reviewContent && totalCount> config.appConfig.WORKSPACE.PAGE_LIMIT && !showLoader && !showError">
        <div class="ui pagination menu mt-10 right-floated pt-0 " *ngIf="pager.pages.length">
          <a [ngClass]="{disabled:pager.currentPage===1 }" class="item " tabindex="0" (click)="navigateToPage(1) ">{{resourceService?.frmelmnts?.lbl?.first || 'First'}}</a>
          <a [ngClass]="{disabled:pager.currentPage===1 }" class="item " tabindex="0" (click)="navigateToPage(pager.currentPage - 1)">{{resourceService?.frmelmnts?.lbl?.previous || 'Previous'}}</a>
          <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}" tabindex="0" (click)="navigateToPage(page)" class="item">{{page}}</a>
          <a [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" tabindex="0" (click)="navigateToPage(pager.currentPage + 1)" class="item">{{resourceService?.frmelmnts?.lbl?.next || 'Next'}}</a>
          <a [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" tabindex="0" (click)="navigateToPage(pager.totalPages)" class="item ">{{resourceService?.frmelmnts?.lbl?.last || 'Last'}}</a>
        </div>
      </div>
    </div>
  </div>
</div>