<app-modal-wrapper *ngIf="showContentRatingModal" [config]="{disableClose: true, width: '30rem', panelClass: 'material-modal'}" (dismiss)="dismissModal()">
  <ng-template sbModalContent>
  <!--Header-->
   <div mat-dialog-title class="d-flex flex-ai-center">
    <h2 class="mb-0" role="heading" aria-level="2" appTelemetryShare [TelemetryShareEdata]="telemetryShare">
      {{resourceService?.frmelmnts?.lbl?.enjoyedContent}}
    </h2>
    <span class="example-spacer"></span>
    <button mat-mini-fab color="warn" mat-dialog-close aria-label="close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <!--/Header-->
     <!--Content-->
    <mat-dialog-content>
      <div class="field mb-16">
        <sui-rating (valueChange)="ratingChange($event)" tabindex="0" [maximum]="5"
          class="sb-rating ui huge star rating"></sui-rating>
        <div class="mat-body-1 mt-8"> {{startext}}</div>
      </div>
      <div class="sb-content-rating-container pt-16" *ngIf="enableSubmitBtn">
        <div class="pb-16 mat-body-1">
          {{feedbackObj[contentRating]['question']}}
        </div>
        <div class="rating-checkbox d-flex flex-dc">
          <mat-checkbox *ngFor="let feedback of feedbackObj[contentRating]['options']" 
              id="{{feedback['value']}}" [(ngModel)]="feedback.checked" tabindex="0"
              (click)="changeOptions(feedback)" >
              <span class="mat-small m-0" role="img" title="{{feedback['value']}}">
                {{feedback['value']}}
              </span>
          </mat-checkbox>
          <form *ngIf="showTextarea">
            <mat-form-field appearance="fill" class="w-100">
              <textarea matInput rows="5" maxlength="1000" [(ngModel)]="feedbackText"></textarea>
            </mat-form-field>
          </form>
        </div>
      </div>
    </mat-dialog-content>
    <!--/Content-->
    <!--Actions-->
    <mat-dialog-actions align="end">
      <button mat-raised-button color="accent" class="button-rounded" type="button" 
       (click)="submit()" tabindex="0" [disabled]="!enableSubmitBtn">
       {{resourceService?.frmelmnts.btn.submit}}
      </button>
    </mat-dialog-actions>
    <!--/Actions-->
  </ng-template>
</app-modal-wrapper>