@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

::ng-deep {

  .sb-rating.ui.star.rating {
    .icon {
      margin-right: calculateRem(4px);
    }

    .active.icon,
    .icon.selected {
      color: var(--primary-300) !important;
      text-shadow: none !important;
    }
  }
}

.sb-content-rating-container {
  width: 100%;
  border-top: calculateRem(1px) solid var(--gray-100);
}


