<app-modal-wrapper *ngIf="showContentRatingModal" [config]="{disableClose: false, size: 'normal'}"
  (dismiss)="dismissModal()" #modal>
  <ng-template sbModalContent>
    <div class="sb-modal">
      <div class="transition ui dimmer page modals active visible">
        <div class="ui modal transition active visible normal">
          <!--Header-->
          <div [attr.dir]="direction">
            <i class="content-rating-close icon" role="img" aria-label="close" tabindex="0" (click)="modal.deny()"></i>
          </div>
          <div class="sb-modal-header">
            {{resourceService?.frmelmnts?.lbl?.enjoyedContent}}
          </div>
          <!--/Header-->

          <!--Content-->
          <div class="sb-modal-content p-0">
            <div class="field px-16 py-24">
              <sui-rating (valueChange)="ratingChange($event)" tabindex="0" [maximum]="5"
                class="sb-rating ui huge star rating"></sui-rating>
              <div class="fs-0-92 mt-8"> {{startext}}</div>
            </div>
            <div class="sb-content-rating-container px-16 py-24" *ngIf="enableSubmitBtn">
              <div class="sb-content-rating">

                <div class="rating-header pb-24 fs-0-92">
                  {{feedbackObj[contentRating]['question']}}
                </div>
                <div class="rating-checkbox">
                  <!-- <div class="sb-checkbox sb-checkbox-primary"  *ngFor="let feedback of feedbackObj[contentRating]['options']">
            <input type="checkbox" role="checkbox" [(ngModel)]="feedback.checked" (click)="changeOptions(feedback)">
            <label [class.options-content-checked]="feedback.checked">{{feedback['value']}}</label>
          </div> -->
                  <div class="sb-checkbox sb-checkbox-primary sb-checkbox-rightaligned"
                    *ngFor="let feedback of feedbackObj[contentRating]['options']">
                    <input type="checkbox" id="{{feedback['value']}}" [(ngModel)]="feedback.checked" tabindex="0"
                      (click)="changeOptions(feedback)">
                    <label for="{{feedback['value']}}" class="fsmall mb-16" role="img"
                      title="{{feedback['value']}}">{{feedback['value']}}</label>
                  </div>
                  <div *ngIf="showTextarea">
                    <textarea rows="5" maxlength="1000" class="sb-form-control" [(ngModel)]="feedbackText"></textarea>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!--/Content-->

          <!--Actions-->
          <div class="sb-modal-actions">
            <button (click)="submit()" tabindex="0" class="sb-btn sb-btn-normal sb-btn-primary"
              [disabled]="!enableSubmitBtn" [ngClass]="{'sb-btn-disabled': !enableSubmitBtn}">
              {{resourceService?.frmelmnts.btn.submit}}
            </button>
          </div>
          <!--/Actions-->

        </div>
      </div>
    </div>
  </ng-template>
</app-modal-wrapper>