<sui-modal 
  [mustScroll]="true" 
  [isClosable]="false" 
 [transitionDuration]="0"
 [size]="'normal'" 
 class="sb-modal"
appBodyScroll 
(dismissed)="dismissModal()" 
#modal  *ngIf="showContentRatingModal"
>
  <!--Header-->
  <i class="close icon" (click)="modal.deny()"></i>
  <div class="sb-modal-header">
    {{resourceService?.frmelmnts?.lbl?.enjoyedContent}}
  </div>
  <!--/Header-->

  <!--Content-->
  <div class="sb-modal-content d-flex flex-ai-center">
    <div class="field">
      <sui-rating (valueChange)="ratingChange($event)" [maximum]="5"  class="sb-rating ui huge star rating"></sui-rating>
      <div class="fs-1 my-10"> {{resourceService?.frmelmnts?.lbl?.helpUsRatingContent}}</div>
    </div>
  </div>
  <!--/Content-->

  <!--Actions-->
  <div class="sb-modal-actions">
    <button [disabled]="!enableSubmitBtn" (click)="submit()"class="sb-btn sb-btn-normal sb-btn-primary">
      {{resourceService?.frmelmnts.btn.submit}}
    </button>
  </div>
  <!--/Actions-->

</sui-modal>