@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

::ng-deep {
  .sb-rating.ui.star.rating {
    .icon {
      margin-right: calculateRem(4px);
    }

    .active.icon,
    .icon.selected {
      color: var(--primary-300) !important;
      text-shadow: none !important;
    }
  }
}

.sb-content-rating-container {
  width: 100%;
  border-top: calculateRem(1px) solid var(--gray-100);

  .sb-content-rating {
    width: 100%;
  }
}

@include respond-below(sm) {
  .sb-modal-content {

    .field,
    .rating-header {
      text-align: center;
    }
  }

  .sb-modal-actions {
    justify-content: center;
  }
}

// Rating Modal
@include respond-below(sm) {
  .sb-rating-modal {
    &.sb-modal {
      .ui.modal.normal {
        width: 100% !important;
        height: 100% !important;
        max-width: 100% !important;

        .sb-modal-content {
          min-height: calc(100% - 96px);
          max-height: 100%;
        }
      }
    }
  }
}

.mat-dialog-container[dir="ltr"] .sb-modal,
.sb-modal[dir="ltr"] {
  direction: ltr;
}

.mat-dialog-container[dir="rtl"] .sb-modal,
.sb-modal[dir="rtl"] {
  direction: rtl;
}

.content-rating-close {
  position: absolute !important;
  color: var(--white);
  font-size: 0.875rem;
  padding: 0;
  margin: 0 1rem 0 1rem !important;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: 0px;
  border-radius: 50%;
  box-shadow: var(--sbt-box-shadow-3px);
  background-color: var(--white);
  opacity: 1;
  top: 0.75rem !important;
  z-index: 1;

  &::before {
    content: "✕" !important;
    font-size: 1.125rem !important;
    color: var(--red) !important;
  }
}