@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

::ng-deep {

  .sb-rating.ui.star.rating {
    .icon {
      margin-right: calculateRem(4px);
    }

    .active.icon,
    .icon.selected {
      color: var(--primary-300) !important;
      text-shadow: none !important;
    }
  }
}

.sb-content-rating-container {
  width: 100%;
  border-top: calculateRem(1px) solid var(--gray-100);

  .sb-content-rating {
    max-width: calculateRem(360px);
    width: 100%;
  }
}

@include respond-below(sm) {
  .sb-modal-content {

    .field,
    .rating-header {
      text-align: center;
    }
  }

  .sb-modal-actions {
    justify-content: center;
  }
}

// Rating Modal
@include respond-below(sm) {
  .sb-rating-modal {
    &.sb-modal {
      .ui.modal.normal {
        width: 100% !important;
        height: 100% !important;
        max-width: 100% !important;

        .sb-modal-content {
          min-height: calc(100% - 96px);
          max-height: 100%;
        }
      }
    }
  }
}
