<div class="ui secondary pointing menu">
    <div class="left menu ">
        <a href="/">
            <img class="ui tiny circular image" src="/images/sunbird_logo.png">
        </a>
    </div>
    <a class="item " href="#" translate="home">
Home
  </a>
    <a class="item " href="#" translate="courses">
    Courses
  </a>
    <a class="item" href="#" translate="resources">
    Resources
</a>
    <a class="item" href="#" translate="community">
    Community
</a>
    <a class="item" href="#" translate="profile">
    Profile
</a>
    <div class="right menu">
        <a class="ui item" ng-if="!isLoggedIn" href="/private/index" translate="login" translate-default="LOGIN">LOGIN</a>
    </div>
</div>
