<form class="ui form ">
    <div class="ui dividing header margin-top-15 "></div>
    <div class="two fields">
        <div class=" field">
            <label>Education Degree</label>
            <input type="text" name="" ng-model="profileCtrl.newEducation.degree">
        </div>
        <div class="  field">
            <label>Year of passing</label>
            <input type="text" name="" ng-model="profileCtrl.newEducation.yearOfPassing">
        </div>
    </div>
    <div class="two fields">
        <div class=" field">
            <label>Percentage</label>
            <input type="text" name="" ng-model="profileCtrl.newEducation.percentage">
        </div>
        <div class="  field">
            <label>Grade</label>
            <input type="text" name="" ng-model="profileCtrl.newEducation.grade">
        </div>
    </div>
    <div class="two fields">
        <div class=" field">
            <label>Name of Institution</label>
            <input type="text" name="" ng-model="profileCtrl.newEducation.name">
        </div>
        <div class="  field">
            <label>Board/University</label>
            <input type="text" name="" ng-model="profileCtrl.newEducation.boardOrUniversity">
        </div>
    </div>
    <div class="ui button " ng-click="profileCtrl.addEducation(profileCtrl.newEducation) ;">Save education</div>

</form>