<form class="ui form ">
    <div class="ui dividing header margin-top-15 "></div>
    <div class="two fields">
        <div class=" field">
            <label>Position</label>
            <input type="text" name="" ng-model="profileCtrl.experience.role">
        </div>
        <div class="  field">
            <label>Organization</label>
            <input type="text" name="" ng-model="profileCtrl.experience.name">
        </div>
    </div>
    <div class=" field">
        <label>Job Description</label>
        <input type="text" name="" ng-model="profileCtrl.experience.description">
    </div>
    <div apply-script class="two fields">
        <div class="field">
            <label>Start date</label>
            <div class="ui calendar" id="rangestartAdd">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" ng-model="experience.startDate">
                </div>
            </div>
        </div>
        <div class="field">
            <label>End date</label>
            <div class="ui calendar" id="rangeendAdd">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" ng-model="experience.endDate">
                </div>
            </div>
        </div>
    </div>
</form>