<form class="ui form formdivider addressEditForm">
    <div apply-script class="inline fields">
        <label for="address">Address Type</label>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="radio" value='Permanent' ng-checked="address.addType==='permanent'" ng-model="address.addType">
                <label>Permanent</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="radio" value='Current' ng-checked="address.addType==='current'" ng-model="address.addType">
                <label>Current</label>
            </div>
        </div>
    </div>


    <div class="two fields">
        <div class=" field">
            <label>Address Line 1</label>
            <input type="text" name="addLine1" ng-model="address.addressLine1">
        </div>
        <div class="  field">
            <label>Address Line 2</label>
            <input type="text" name="" ng-model="address.addressLine2">
        </div>
    </div>
    <div class="two fields">
        <div class=" field">
            <label>City</label>
            <input type="text" name="city" ng-model="address.city">
        </div>
        <div class="  field">
            <label>State</label>
            <input type="text" name="" ng-model="address.state">
        </div>
    </div>
    <div class="two fields">
        <div class=" field">
            <label>Country</label>
            <input type="text" name="" ng-model="address.country">
        </div>
        <div class="  field">
            <label>Pin Code</label>
            <input type="text" name="pinCode" ng-model="address.zipcode">
        </div>
    </div>
    <div class="ui error message">
    </div>
</form>