<form class="ui form basicInfoForm">
    <div class="ui dividing header margin-top-15 "></div>
    <div class="  field">
        <div class=" two fields">
            <div class=" required field">
                <label>{{$root.labels.PROFILE.BASIC_PROFILE.name}}</label>
                <input type="text" name="firstName" placeholder="First Name" ng-model="profileCtrl.basicProfile.firstName">
            </div>
            <div class="field">
                <label>&nbsp;  </label>
                <input type="text" name="" placeholder="Last Name" ng-model="profileCtrl.basicProfile.lastName">
            </div>
        </div>
    </div>

    <div class="two fields">
        <div class="required field">
            <label>{{$root.labels.PROFILE.BASIC_PROFILE.phone}}</label>
            <input type="text" name="phone" ng-model="profileCtrl.basicProfile.phone">
        </div>
        <div class=" required field">
            <label>{{$root.labels.PROFILE.BASIC_PROFILE.email}}</label>
            <input type="email" name="email" ng-model="profileCtrl.basicProfile.email">
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>{{$root.labels.PROFILE.BASIC_PROFILE.gender}}</label>
            <select class="ui fluid dropdown">
                        <option value="">{{$root.labels.PROFILE.BASIC_PROFILE.female}}</option>
                        <option value="">{{$root.labels.PROFILE.BASIC_PROFILE.male}}</option>
                     </select>
        </div>
        <div class="field" ng-init=" profileCtrl.setDropdownValue()">
            <label>{{$root.labels.PROFILE.BASIC_PROFILE.language}}</label>
            <select name="language" id=languageSelect class="ui fluid dropdown" multiple="" ng-value="option.value" ng-options=" language for language in ::profileCtrl.languages" ng-model="profileCtrl.basicProfile.language">
                                        <option value="" translate="languages">Languages</option>
                                    </select>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>{{$root.labels.PROFILE.BASIC_PROFILE.aadhar}}</label>
            <input type="text" name="" ng-model="profileCtrl.basicProfile.aadhaarNo">
        </div>
        <div class="field" apply-script>
            <label>{{$root.labels.PROFILE.BASIC_PROFILE.dob}} </label>
            <div ng-init="profileCtrl.setDob();" class="ui calendar" id="editDob">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date" ng-model="profileCtrl.basicProfile.dob">
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <label>{{$root.labels.PROFILE.BASIC_PROFILE.subjects}}</label>
        <div class="field" ng-init=" profileCtrl.setSubject()">
            <select id="setSubjects" class="ui fluid dropdown " multiple="" ng-model="profileCtrl.basicProfile.subject" ng-value="option.value" ng-options=" subject for subject in ::profileCtrl.subjects">
                                           </select>
        </div>
    </div>
    <div class="field">
        <label>{{$root.labels.PROFILE.BASIC_PROFILE.summary}}</label>
        <div class="field">
            <textarea ng-model="profileCtrl.profileSummary"></textarea>
        </div>

    </div>
    <div class="ui error message">
    </div>
    <div class="ui button margin-top-15" ng-click="profileCtrl.EditBasicProfile();">{{$root.labels.PROFILE.BUTTON.save}} </div>

</form>