<div class="userAvtarWrap field link ui small circular image header-image-profile" ng-init="profileCtrl.iconImage=false">
    <img src="{{profileCtrl.user.avatar || 'images/user_logo.png'}}" ng-click="profileCtrl.openImageBrowser();">
    <div class="img-description-layer">
        <i class="edit icon" ng-click="profileCtrl.openImageBrowser();"></i>
    </div>
    <input type="file" accept="image/x-png,image/gif,image/jpeg" class="content-input" id="iconImageInput" onchange="angular.element(this).scope().profileCtrl.updateIcon(this.files);" required="" />
</div>