@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

ul {
  list-style-type: none;
  padding:0px;margin:0px;
}
li {
  display: grid;
  grid-template-columns: calculateRem(20px) auto;
  justify-content: start;
  align-items: center;
  margin-bottom:1rem
}
li::before {
  content: ">";
  font-size: calculateRem(12px);
  color: var(--gray-200);
  font-weight:bold;
}

::ng-deep {
    .sb-modal .ui.modal .sb-join-modal-content.sb-modal-content {
      min-height: auto;
    }
  }