<div class="rightSideSectionCards ui card">
    <div class="header batchCardAlign">
        <span class="header headerBatchCard">{{resourceService?.frmelmnts?.lbl?.batches}}</span>
        <a class="opacity-1 ml-auto">
            <sui-select (selectedOptionChange)="getAllBatchDetails()" class="batchCardDropDown" [(ngModel)]="batchStatus" [options]="statusOptions"
                valueField="value" labelField="name" #batchStatusSelect>
                <sui-select-option *ngFor="let option of batchStatusSelect.filteredOptions" [value]="option">
                </sui-select-option>
            </sui-select>
        </a>
    </div>
    <div class="content batchcardListContent" id="batchcardList">
        <div class="description annannouncement-description">
            <div *ngIf="showBatchList" class="ui divided list">
                <div class="item pt-10" *ngFor="let batch of batchList">
                    <i class="calendar outline icon"></i>
                    <div class="content pb-15 width-100">
                        <button class="ui right floated tiny blue basic button enrollBtn" appTelemetryInteract [telemetryInteractEdata]="enrollBatchIntractEdata"
                            [telemetryInteractObject]="{id:batch.identifier,type:'CourseBatch',ver:'1',rollup:{l1:courseId}}" (click)="enrollBatch()">{{resourceService.frmelmnts.btn.enroll}}</button>
                        <span class="header pb-5"> {{batch.startDate | dateFormat}} - </span>
                        <span *ngIf="batch.endDate" class="header pb-5"> {{batch.endDate | dateFormat}} </span>
                    </div>
                </div>
                <div *ngIf="batchList.length <= 0">
                    <div class="ui success message">
                        <div class="header">{{resourceService.messages.stmsg.m0081}}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="showError">
                <div class="ui success message">
                    <div class="header">{{resourceService.messages.stmsg.m0081}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<sui-modal 
    [mustScroll]="true" 
    [isClosable]="true"
    [transitionDuration]="0"
    [size]="'small'"
    class="sb-modal"
    appBodyScroll
    (dismissed)="closeLoginModal()" 
    #modal 
    *ngIf="showLoginModal">

    <!--Header-->
    <div class="sb-modal-header">
        {{resourceService?.frmelmnts?.lbl?.signinenrollTitle}}
    </div>
    <!--/Header-->
    <!--Content-->
    <div class="sb-modal-content">
        <div class="ui center aligned segment">
            <p>{{resourceService?.frmelmnts?.lbl?.signinenrollTitle}}</p>
        </div>
    </div>
    <!--/Content-->

    <!--Actions-->
    <div class="sb-modal-actions">
        <a  appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="signInInteractEdata"  (click)="setTelemetryData()" href={{baseUrl}} class="sb-btn sb-btn-normal sb-btn-primary">
            {{resourceService.frmelmnts?.btn?.signin}}
        </a> 
    </div>
    <!--/Actions-->
</sui-modal>