<div class="content">
  <div class="batch-content-area">
      <div class="batch-sbcard">
       <div class="d-flex flex-ai-center flex-jc-center flex-dc p-16 batch-sbcard-content" >
          <div class="batch-card-title">Total Batches</div>
          <div class="batch-card-number">24</div>
        </div>
      </div>
      <div class="batch-sbcard">
        <div class="d-flex flex-ai-center flex-jc-center flex-dc p-16 batch-sbcard-content" >
           <div class="batch-card-title">Total Enrollments</div>
           <div class="batch-card-number">36</div>
         </div>
       </div>
       <div class="batch-sbcard">
        <div class="d-flex flex-ai-center flex-jc-center flex-dc p-16 batch-sbcard-content" >
           <div class="batch-card-title">Total Completions</div>
           <div class="batch-card-number">24</div>
         </div>
       </div>
  </div>
</div> 