@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

div.content {
  height: 100%;
  position: relative;
  z-index: 1;
  margin-top: calculateRem(36px);

  @include respond-below(sm) {
    margin-left: 0px;
    margin-top: 0px;
  }

  .batch-details {
    .img-text {
      color: var(--gray-200);
    }
  }

  //cards css
  .batch-content-area {
    display: grid;
    grid-template-areas:
      "smallcard largecard"
      "smallcard2 largecard";
    grid-gap: calculateRem(16px);
    grid-template-columns: calculateRem(392px) 1fr;

    @include respond-below(sm) {
      grid-template-columns: 1fr 2fr;
    }

    .batch-sbcard {
      width: 100%;
      border-radius: calculateRem(2px);
      background-color: var(--white);
      box-shadow: none;
      cursor: pointer;
      border: calculateRem(2px) solid var(--white);
      box-shadow: 0 0.125rem 0.4375rem 0 rgba(var(--rc-rgba-black), .16);

      &:nth-child(1) {
        grid-area: smallcard;
      }

      &:nth-child(2) {
        grid-area: largecard;
      }

      &:nth-child(3) {
        grid-area: smallcard2;
      }

      .batch-sbcard-content {
        height: 100%;

        .batch-card-title {
          font-size: calculateRem(14px);
          color: var(--gray-100);
        }

        .batch-card-number {
          font-size: calculateRem(36px);
          font-weight: bold;
        }

        .batch-card-total-number {
          font-size: calculateRem(72px);
          font-weight: bold;
        }
      }
    }
  }
}

::ng-deep {
  .course-dashboard-select {
    width: calculateRem(300px);
  }

  .ui.selection.dropdown {
    line-height: 1em;
  }

  .ui.search.dropdown.course-dashboard-select>.text {
    margin: calculateRem(6px) calculateRem(16px) calculateRem(6px) calculateRem(6px);
  }
}
