  <div class="loginform__content">
    <div class="loginform__content__header">
      <img src="assets/images/SUNBIRD.svg" alt="SUNBIRD">
    </div>
    <!-- Slides -->
    <div class="d-flex">
      <div class="swiper-slide">

        <div class="swiper-slide__para pt-8">{{resourceService?.frmelmnts?.instn?.t0067}} </div>

        <div class="d-flex flex-dc fields-selection">
          <div class="sb-field" *ngIf="boardOption">
            <label class="d-flex fields-selection__label"
              for="board">{{resourceService?.frmelmnts?.lbl?.boards}}</label>
            <sui-select placeholder="{{resourceService?.messages?.stmsg?.m0126}}" class="selection" id="board" [(ngModel)]="selectedBoard"
              (ngModelChange)="onBoardChange(selectedBoard)" labelField="name" [isSearchable]="true" [(ngModel)]="selectedBoard">
              <sui-select-option *ngFor="let option of boardOption" [value]="option">
              </sui-select-option>
            </sui-select>
          </div>

          <div class="sb-field" *ngIf="showMedium">
            <label class="d-flex fields-selection__label"
              for="medium">{{resourceService?.frmelmnts?.lbl?.medium}}</label>
            <sui-multi-select [isSearchable]="true" placeholder="{{resourceService?.messages?.stmsg?.m0127}}" class="selection" id="medium" labelField="name" (ngModelChange)="onMediumChange($event)"
              [(ngModel)]="selectedMedium" #multiSelect>
              <sui-select-option *ngFor="let option of mediumOption" [value]="option">
              </sui-select-option>
            </sui-multi-select>
          </div>

          <div class="sb-field" *ngIf="showClass">
            <label class="d-flex fields-selection__label" for="class">{{resourceService?.frmelmnts?.lbl?.class}}</label>
            <sui-multi-select [isSearchable]="true" placeholder="{{resourceService?.messages?.stmsg?.m0128}}" class="selection" id="class" labelField="name" (ngModelChange)="onClassChange($event)"
              [(ngModel)]="selectedClass" #multiSelect>
              <sui-select-option *ngFor="let option of classOption" [value]="option">
              </sui-select-option>
            </sui-multi-select>
          </div>
        </div>
      </div>
    </div>

    <div class="bullets-container">
      <div class="circle update"></div>
      <div class="circle active"></div>
    </div>
    <button (click)="saveUserData()" type="button" [disabled]="disableContinueBtn"
      class="sb-btn sb-btn-primary sb-btn-sm" appTelemetryInteract [telemetryInteractEdata]="telemetryInteractEdata"
      [telemetryInteractContext]="{env:'onboarding'}">
      {{resourceService?.frmelmnts?.btn?.submit}}
      <span class='arrow-icon'></span></button>
  </div>
