.header-container {
    margin-left: 1px !important;
    border-bottom: 5px solid @blue !important;
}

.header-user-icon {
    margin-right: 0px !important;
}

.content-card-meta { 
    background: rgba(0, 0, 0, 0.5) !important;
    color: @white !important;
    padding: 5px !important;
}

.login-form {
    .inline {
        input {
            width: 80% !important;
        }
    }
}

.ui.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 !important;
    margin-right: 0px;
    margin-bottom: 1rem;
    margin-left: 0px;
    font-family: HelveticaNeueLTStd-Lt, Helvetica, Arial, sans-serif;
    background: @white -webkit-linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
    background: @white linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.13);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    border-radius: .2307em;
    min-height: 3em;
    justify-content: center !important;
}

.padding-top-circular-human-icon {
    padding-top: 0.9rem !important;
}

.loginForm {
    padding-bottom: 40px;
}

.alarm-icon-header {
    padding-top: 1.5rem !important;
    margin: auto !important;
}

.header-search-filters-divider {
    margin-top: 0px !important;
    border-color: transparent;
    border-width: 0px !important;
}

.header-filter-container {
    background-color: @white;
}

/*loged in user icon*/

.logged-in-user {
    width: 30px !important;
    height: 30px !important;
    margin-top: 2px !important;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    display: inline-block !important;
    vertical-align: middle !important;
}

/*login form */

.login-modal-text-align {
    text-align: center;
    align-self: center;
}

.login-modal-title {
    color: @dark-grey !important;
    font-size: 1.5625em !important;
    font-family: "FrutigerSerifLTW01-Medi 722257" !important;
} 

.login-modal-label-title {
    color: @dark-grey !important;
    font-size: 1.25em !important;
    font-family: "FrutigerSerifLTW01-Medi 722257" !important;
} 

.beforelogin.ui.secondary.pointing.menu{
        border-bottom: 0;
}
.header-user-container {
    float: right !important;
}

/*close button css in sign in page */
.signInPopUp{    
    background: @white !important;
    border: none;
    padding: 1rem 1rem 0 0 !important;  
}

.padding-top-header-large-icons {
    padding-top: 1.5rem;
}

.padding-top-1rem {
    padding-top:1rem !important;     
}

