#trigger-upload {
    color: white !important;
    background-color: #00ABC7 !important;
    font-size: 14px !important;
    padding: 7px 20px !important;
    background-image: none !important;
  }
  
  #fine-uploader-manual-trigger .qq-upload-button {
    margin-right: 15px !important;
  }
  
  #fine-uploader-manual-trigger .buttons {
    width: 36% !important;
  }
  
  #fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
    width: 60% !important;
  }
  // #qq-template-manual-trigger div:
  .qq-upload-button{
    width: 162px !important;
  }
  #qq-template-manual-trigger{
    margin-top: 5vh !important;
  }
  .qq-upload-list li.qq-upload-success{
        background-color: #EBF6E0; 
        color: #424242;
        border-bottom: none !important;
        border-top: none !important;
        padding: 12px !important;
  }
  .qq-uploader{
    min-height: 70vh !important;
  }
  .qq-upload-file-selector .qq-upload-file{
    font-size: 15px !important;
  
  }
  .qq-upload-button{
    background : #024f9d;
    border: 1px solid #024f9d;
  }
    
  .qq-upload-list {
    overflow-y: unset;
  }