/* css3 variable & sass variables */
:root {
  font-size: 16px;
  --font-stack-en: "Noto Sans", "Noto Sans Devanagari", "Noto Sans Tamil",
    "Noto Sans Bengali", "Noto Sans Malayalam", "Noto Sans Gurmukhi",
    "Noto Sans Gujarati", "Noto Sans Telugu", "Noto Sans Kannada",
    "Noto Sans Oriya", "Noto Nastaliq Urdu", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  --font-stack-hi: "Noto Sans Devanagari", "Noto Sans", "Noto Sans Tamil",
    "Noto Sans Bengali", "Noto Sans Malayalam", "Noto Sans Gurmukhi",
    "Noto Sans Gujarati", "Noto Sans Telugu", "Noto Sans Kannada",
    "Noto Sans Oriya", "Noto Nastaliq Urdu", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  --font-stack-ur: "Noto Sans", "Noto Nastaliq Urdu", "Noto Sans Devanagari",
    "Noto Sans Tamil", "Noto Sans Bengali", "Noto Sans Malayalam",
    "Noto Sans Gurmukhi", "Noto Sans Gujarati", "Noto Sans Telugu",
    "Noto Sans Kannada", "Noto Sans Oriya", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;

  // base colors
  --blue: #024f9d;
  --green: #008840;
  --orange: #e55a28;
  --red: #ff4558;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --yellow: #ffc107;
  --teal: #20c997;
  --cyan: #17a2b8;
  --black: #000000;
  --white: #ffffff;

  // gray colors shades
  --gray-hs: 0, 0%;
  --gray: hsl(var(--gray-hs), 20%);
  --gray-0: hsl(var(--gray-hs), 95%); // place holder active bg #F2F2F2
  --gray-100: hsl(var(--gray-hs), 80%); // disable btn bg, icon color #CCCCCC
  --gray-200: hsl(var(--gray-hs), 60%); // disable text, place holder text #999999
  --gray-300: hsl(var(--gray-hs), 59%); // sub heading 2 #969696
  --gray-400: hsl(var(--gray-hs), 40%); // sub heading #666666
  --gray-800: var(--gray); // text color #333333

  // basetheme
  --primary-color: #024f9d;
  --secondary-color: #008840;
  --tertiary-color: #e55a28;

  // primary colors
  --primary-0: #f3f7fa; // bg
  --primary-100: #edf4f9; // default button bg
  --primary-200: #80a7ce; // divider
  --primary-250: #d3e7f4; //pagination bg color
  --primary-300: #7ab4ee; // outline, focus fields
  --primary-400: var(--primary-color); // button bg, heading, table titles, links, toggles
  --primary-600: #005391; // on press
  --primary-800: #002e50; // hover

  // secondary colors
  --secondary-0: #e1ffdf; // toast bg, label
  --secondary-100: #00c786; // button bg bg, toast
  --secondary-200: #07bc81; // button bg
  --secondary-400: var(--secondary-color); // hover

  // tertiary colors
  --tertiary-0: #feedd7; // toast bg, label
  --tertiary-100: #ffa11d; // buttong bg, toast
  --tertiary-400: var(--tertiary-color); // icon, label, notification bg

  // red colors
  --red-0: #fbccd1; // toast bg
  --red-100: #ff6979; // buttong bg, toast
  --red-400: var(--red); // icon color, lable, notification

  // status colors
  --info-color: var(--blue);
  --success-color: var(--green);
  --warning-color: var(--orange);
  --danger-color: var(--red);

  // element based variables
  --body-background-color: var(--primary-0);
  --default-text-color: var(--gray-800);
  --bg-body: var(--primary-0);
  --body-color: var(--gray-800);

  // alpha
  --alpha0: 0;
  --alpha25: 0.25;
  --alpha50: 0.5;
  --alpha75: 0.75;

  // fonts
  --font-default-size: 0.875rem;
  --font-size-base: var(--font-default-size); // 14px Assumes the browser default, typically `16px`
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-base: var(--font-weight-normal);
  --line-height-base: calc(var(--font-size-base) * 1.61803398875);
  --h1-font-size: 2rem; // 32px
  --h2-font-size: 1.75rem; // 28px
  --h3-font-size: 1.5rem; // 24px
  --h4-font-size: 1.2rem; // 20px
  --h5-font-size: 1rem; // 16px
  --h6-font-size: var(--font-size-base); // 14px
  --font-size-lg: var(--h4-font-size); //20px
  --font-size-md: var(--h5-font-size); // 16px
  --font-size-normal: var(--font-size-base); // 14px
  --font-size-sm: 0.75rem; // 12px
  --font-size-xs: 0.625rem; // 10px
  --p-font-size: var(--font-size-base); //14px

  // base variables
  --base-font-size: 0.875rem;
  --base-block-space: 0.5rem; //8px,
  --icon-svg-xxs: 0.75rem;
  --icon-svg-xs: calc(var(--base-block-space) * 2);
  --icon-svg-sm: calc(var(--base-block-space) * 3);
  --icon-svg-md: calc(var(--base-block-space) * 4);
  --icon-svg-lg: calc(var(--base-block-space) * 5);
  --icon-svg-xl: calc(var(--base-block-space) * 6);

  //random colors and backgrounds
  --rc-96C8DA: #96C8DA;
  --rc-0076FE: #0076FE;
  --rc-E5EDF5: #E5EDF5;
  --rc-7c7b7b: #7c7b7b;
  --rc-f5f5f5: #f5f5f5;
  --rc-fdfdfd: #fdfdfd;
  --rc-dedede: #dedede;
  --rc-F5F9FC: #F5F9FC;
  --rc-c4c4c4: #c4c4c4;
  --rc-d8d8d8: #d8d8d8;
  --rc-e9e5e5: #e9e5e5;
  --rc-dddddd: #dddddd;
  --rc-7b86f4: #7b86f4;
  --rc-d0d0d0: #d0d0d0;
  --rc-5c8db7: #5c8db7;
  --rc-91aecc: #91aecc;
  --rc-f9f9f9: #f9f9f9;
  --rc-d4d3d3: #d4d3d3;
  --rc-FAFAFA: #FAFAFA;
  --rc-866A6A: #866a6a;
  --rc-979797: #979797;
  --rc-e0e1e2: #e0e1e2;
  --rc-00BD7F: #00BD7F;
  --rc-9F9F9F: #9F9F9F;
  --rc-F3F8FF: #F3F8FF;
  --rc-80A7CE: #80A7CE;
  --rc-9b9b9b: #9b9b9b;
  --rc-2ca58d: #2ca58d;
  --rc-007AFF: #007AFF;
  --rc-bdbdbd: #bdbdbd;
  --rc-cecece: #cecece;
  --rc-2972a4: #2972a4;
  --rc-E0F1FD: #E0F1FD;
  --rc-C8D6EA: #C8D6EA;
  --rc-e2e3e5: #e2e3e5;
  --rc-BCBEC0: #BCBEC0;
  --rc-d4d4d5: #d4d4d5;
  --rc-d4d8da: #d4d8da;
  --rc-bfe1cf: #bfe1cf;
  --rc-289fd9: #289fd9;
  --rc-e68900: #e68900;
  --rc-2f4272: #2f4272;
  --rc-e0e0e0: #e0e0e0;
  --rc-2361ff: #2361ff;
  --rc-c2c2c2: #c2c2c2;
  --rc-e5e5e5: #e5e5e5;
  --rc-ffb300: #ffb300;
  --rc-d8dee2: #d8dee2;
  --rc-252525: #252525;
  --rc-fcf2d6: #fcf2d6;
  --rc-add8e6: #add8e6;
  --rc-afd9e7: #afd9e7;
  --rc-D9E4F2: #D9E4F2;
  --rc-88B7E6: #88B7E6;
  --rc-4a4a4a: #4a4a4a;
  --rc-fff6f6: #fff6f6;
  --rc-f7f7f7: #f7f7f7;
  --rc-66c7f4: #66c7f4;
  --rc-1B4785: #1B4785;
  --rc-a9a9a9: #a9a9a9;
  --rc-eeeeee: #eeeeee;
  --rc-1b1c1d: #1b1c1d;
  --rc-dededf: #dededf;
  --rc-aaaaaa: #aaaaaa;
  --rc-042D55: #042D55;
  --rc-eeeeee: #eeeeee;
  --rc-bbbbbb: #bbbbbb;
  --rc-009D53: #009D53;
  --rc-E0EFFF: #E0EFFF;
  --rc-196DAB: #196DAB;
  --rc-c2c2c2: #c2c2c2;
  --rc-e5e5e5: #e5e5e5;
  --rc-c3c3c3: #c3c3c3;
  --rc-00abc7:#00abc7;
  --rc-FCE6E6:#FCE6E6;
  --rc-DECACA:#DECACA;
  --rc-424242:#424242;
  --rc-F5D7D7:#F5D7D7;
  --rc-F7FFF5:#F7FFF5;
  --rc-D3DED1:#D3DED1;
  --rc-EBF6E0:#EBF6E0;
  --rc-F6F6F6:#F6F6F6;
  --rc-33B6CC:#33B6CC;
  --rc-2dadc2:#2dadc2;
  --rc-0fbad6:#0fbad6;
  --rc-f7ffec:#f7ffec;
  --rc-d2ddc7:#d2ddc7;
  --rc-ffe1e1:#ffe1e1;
  --rc-e6c8c8:#e6c8c8;
  --rc-f56b56:#f56b56;
  --rc-dc523d:#dc523d;
  --rc-e65c47:#e65c47;
  --rc-565c70:#565c70;
  --rc-6D7278:#6D7278;
  --rc-rgba-black: 0, 0, 0; // var(--black)
  --rc-rgba-white: 255, 255, 255; // var(--white)
  --rc-rgba-gray: 51, 51, 51; // var(--gray-300)
  --rc-rgba-primary: 2, 79, 157; // var(--primary-color)
  --rc-rgba-primary-300: 41, 114, 164; //var(--primary-300)
  --rc-rgba-gray-300: 34, 36, 38; //var(--gray-100)
  --rc-rgba-866a6a: 134, 106, 106;
  --rc-rgba-d0d0d0: 208, 208, 208;
  --rc-rgba-7b86f4: 123, 134, 244;
  --rc-rgba-C8D6EA: 200, 214, 234;
}

// Variables
$font-stack-en: var(--font-stack-en);
$font-stack-hi: var(--font-stack-hi);
$font-stack-ur: var(--font-stack-ur);

// Base Colors
$blue: var(--primary-color);
$green: var(--secondary-color);
$orange: var(--tertiary-color);
$red: var(--red);
$black: var(--black);
$white: var(--white);
$indigo: var(--indigo);
$purple: var(--purple);
$pink: var(--pink);
$yellow: var(--yellow);
$teal: var(--teal);
$cyan: var(--cyan);
$gray: var(--gray);

// brand Colors
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$tertiary-color: var(--tertiary-color);
// Neutral Colors
$white-color: var(--white);
// gray colors shades
$gray-0: var(--gray-0); // place holder active bg #F2F2F2
$gray-100: var(--gray-100); // disable btn bg, icon color #CCCCCC
$gray-200: var(--gray-200); // disable text, place holder text #999999
$gray-300: var(--gray-300); // sub heading 2 #969696
$gray-400: var(--gray-400); // sub heading #666666
$gray-800: var(--gray-800); // text color #333333

// primary colors shades
$primary-0: var(--primary-0); // bg
$primary-100: var(--primary-100); // default button bg
$primary-200: var(--primary-200); // divider
$primary-250: var(--primary-250); //pagination bg color
$primary-300: var(--primary-300); // outline, focus fields
$primary-400: var(--primary-400); // button bg, heading, table titles, links, toggles
$primary-600: var(--primary-600); // on press
$primary-800: var(--primary-800); // hover

// secondary colors shades
$secondary-0: var(--secondary-0); // toast bg, label
$secondary-100: var(--secondary-100); // buttong bg, toast
$secondary-200: var(--secondary-200); // button bg
$secondary-400: var(--secondary-400); // hover

// tertiary colors shades
$tertiary-0: var(--tertiary-0); // toast bg, label
$tertiary-100: var(--tertiary-100); // buttong bg, toast
$tertiary-400: var(--tertiary-400); // icon, label, notification bg

// red colors shades
$red-0: var(--red-0); // toast bg
$red-100: var(--red-100); // buttong bg, toast
$red-400: var(--red-400); // icon color, lable, notification

// input border width
$input-border-width: 0.0625rem;

// Status Colors
$info-color: var(--primary-400);
$success-color: var(--secondary-200);
$warning-color: var(--tertiary-400);
$danger-color: var(--red-100);
$body-background-color: var(--primary-0);
$default-text-color: var(--gray-800);
$bg-body: var(--primary-0);
$body-color: var(--gray-800);

/* Fonts */
$font-default-size: var(--font-default-size);
$font-size-base: var(--font-size-base); // 14px Assumes the browser default, typically `16px`
$font-weight-light: var(--font-weight-light);
$font-weight-normal: var(--font-weight-normal);
$font-weight-bold: var(--font-weight-bold);
$font-weight-base: var(--font-weight-normal);
$line-height-base: calc(var(--font-size-base) * 1.61803398875);
$h1-font-size: var(--h1-font-size); // 32px
$h2-font-size: var(--h2-font-size); // 28px
$h3-font-size: var(--h3-font-size); // 24px
$h4-font-size: var(--h4-font-size); // 20px
$h5-font-size: var(--h5-font-size); // 16px
$h6-font-size: var(--font-size-base); // 14px
$font-size-lg: var(--h4-font-size); //20px
$font-size-md: var(--h5-font-size); // 16px
$font-size-normal: var(--font-size-base); // 14px
$font-size-sm: var(--font-size-sm); // 12px
$font-size-xs: var(--font-size-xs); // 10px
$p-font-size: var(--font-size-base); //14px

// spaces
$base-block-space: 0.5rem;
