// Variables
$font-stack-en: 'Noto Sans',
'Noto Sans Devanagari',
'Noto Sans Tamil',
'Noto Sans Bengali',
'Noto Sans Malayalam',
'Noto Sans Gurmukhi',
'Noto Sans Gujarati',
'Noto Sans Telugu',
'Noto Sans Kannada',
'Noto Sans Oriya',
'Noto Nastaliq Urdu',
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
'Helvetica Neue',
sans-serif;
$font-stack-hi: 'Noto Sans Devanagari',
'Noto Sans',
'Noto Sans Tamil',
'Noto Sans Bengali',
'Noto Sans Malayalam',
'Noto Sans Gurmukhi',
'Noto Sans Gujarati',
'Noto Sans Telugu',
'Noto Sans Kannada',
'Noto Sans Oriya',
'Noto Nastaliq Urdu',
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
'Helvetica Neue',
sans-serif;
$font-stack-ur: 'Noto Sans',
'Noto Nastaliq Urdu',
'Noto Sans Devanagari',
'Noto Sans Tamil',
'Noto Sans Bengali',
'Noto Sans Malayalam',
'Noto Sans Gurmukhi',
'Noto Sans Gujarati',
'Noto Sans Telugu',
'Noto Sans Kannada',
'Noto Sans Oriya',
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
'Helvetica Neue',
sans-serif;
// Base Colors
$blue: #024f9d;
$green: #008840;
$orange: #e55a28;
$red: #ff4558;
$white: #ffffff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$yellow: #ffc107;
$teal: #20c997;
$cyan: #17a2b8;
$gray: #333333;
// brand Colors
$primary-color: $blue;
$secondary-color: $green;
$tertiary-color: $orange;
// Nuetral Colors
$white-color: $white;
// gray colors shades 
$gray-0: lighten($gray, 75%); // place holder active bg #F2F2F2
$gray-100: lighten($gray, 60%); // disable btn bg, icon color #CCCCCC
$gray-200: lighten($gray, 40%); // disable text, place holder text #999999
$gray-300: lighten($gray, 39%); // sub heading 2 #969696
$gray-400: lighten($gray, 20%); // sub heading #666666
$gray-800: $gray; // text color #333333
/*
// primary colors shades 
$primary-0:   lighten($primary-color,65%); // bg
$primary-100: lighten($primary-color,15%); // default button bg
$primary-200: lighten($primary-color,10%); // divider
$primary-300: lighten($primary-color,5%);  // outline, focus fields
$primary-400: $primary-color; // button bg, heading, table titles, links, toggles 
$primary-600: darken($primary-color,15%);  // on press
$primary-800: darken($primary-color,30%);  // hover
*/

$primary-0: #F3F7FA; // bg
$primary-100: #EDF4F9; // default button bg
$primary-200: #80A7CE; // divider
$primary-300: #7AB4EE; // outline, focus fields
$primary-400: $primary-color; // button bg, heading, table titles, links, toggles 
$primary-600: #005391; // on press
$primary-800: #002E50; // hover
/*
// secondary colors shades
$secondary-0:   lighten($secondary-color,50%);  // toast bg
$secondary-100: lighten($secondary-color,15%);   // buttong bg, toast
$secondary-200: lighten($secondary-color,10%);   // button hover
$secondary-400: $secondary-color;               // icon
*/

$secondary-0: #E1FFDF; // toast bg
$secondary-100: #00C786; // buttong bg, toast
$secondary-200: #07BC81; // button bg
$secondary-400: $secondary-color; // hover
/*
// tertiary colors shades
$tertiary-0:   lighten($tertiary-color,50%); // toast bg
$tertiary-100: lighten($tertiary-color,15%); // buttong bg, toast
$tertiary-400: $tertiary-color; // icon, label, notification bg
*/

$tertiary-0: #FEEDD7; // toast bg
$tertiary-100: #FFA11D; // buttong bg, toast
$tertiary-400: $tertiary-color; // icon, label, notification bg
/*
// red colors shades
$red-0:   lighten($red,50%); // toast bg
$red-100: lighten($red,15%); // buttong bg, toast
$red-400: $red; // icon color, lable, notification bg
*/

$red-0: #FBCCD1; // toast bg
$red-100: #FF6979; // buttong bg, toast
$red-400: #E55A28; // icon color, lable, notification bg

// Status Colors
$info-color: $primary-400;
$success-color: $secondary-200;
$warning-color: $tertiary-100;
$danger-color: $red-100;
// Settings for the `<body>` element.
$bg-body: $primary-0;
$body-color: $gray-800;
$theme-colors: () !default;
$theme-colors: map-merge(( "primary": $primary-color, "secondary": $secondary-color, "tertiary": $tertiary-color, "success": $success-color, "info": $info-color, "warning": $warning-color, "danger": $danger-color, "light": $gray-100, "dark": $gray), $theme-colors);
// Style anchor elements.
$link-color: theme-color("primary");
$link-decoration: none;
//$link-hover-color:        darken($link-color, 15%);
$link-hover-decoration: underline;
// Fonts
// $font-default-size: 14px;
$font-size-base: 14px; // Assumes the browser default, typically `16px`
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;
$line-height-base: ($font-size-base + 8);
$h1-font-size: $font-size-base * 2.286; // 32px
$h2-font-size: $font-size-base * 2; // 28px
$h3-font-size: $font-size-base * 1.714; // 24px
$h4-font-size: $font-size-base * 1.429; // 20px
$h5-font-size: $font-size-base * 1.143; // 16px
$h6-font-size: $font-size-base * 1; // 14px
$font-size-lg: ($h4-font-size); //20px
$font-size-md: ($h5-font-size); // 16px
$font-size-normal: ($font-size-base * 1); // 14px
$font-size-sm: ($font-size-base * 0.8571); // 12px
$font-size-xs: ($font-size-base * 0.7143); // 10px
$p-font-size: $font-size-normal;
// spaces
$base-block-space: 8px;
$block-padding-y-x: ($base-block-space * 1) ($base-block-space * 2); // any block default spacing 16px
$block-padding-xy: ($base-block-space * 2); // top right bottom left spacing
$block-padding-x: ($base-block-space * 2) ($base-block-space * 2); // left right spacing
$block-padding-y: ($base-block-space * 1) ($base-block-space * 1); // top bottom spacing
$block-margin-xl-minus: -($base-block-space * 2); // minus margin 16px left
$block-margin-xr-minus: -($base-block-space * 2); // minus margin 16px right
$block-margin-xr-minus: -($base-block-space * 2) -($base-block-space * 2); // minus margin 16px left & right
// width heights
$base-btn-xs-height: ($base-block-space * 3);
$base-btn-normal-height: ($base-block-space * 4);
$base-btn-sm-height: ($base-block-space * 5);
$base-btn-md-height: ($base-block-space * 6);
$base-btn-lg-height: ($base-block-space * 7);
$base-btn-fluid: 100%;
// modal component
$sb-modal-header-bg: $primary-400;
$sb-modal-header-color: $white-color;
$sb-modal-header-padding:($base-block-space * 1) ($base-block-space * 2);
$sb-modal-header-height:($base-block-space * 5);
$sb-modal-fs-header-height:($base-block-space * 7);
$sb-modal-header-line-height: ($h5-font-size + 8);
$sb-modal-content-padding: $block-padding-xy;
$sb-modal-actions-bg: $white-color;
$sb-modal-actions-padding:($base-block-space * 1) ($base-block-space * 2);
$sb-modal-actions-height:($base-block-space * 7);
$sb-modal-header-bg-success: $secondary-200;
$sb-modal-header-bg-warning: $tertiary-400;
$sb-modal-header-bg-error: $red-400;
$sb-modal-header-fsize: $h5-font-size;
$sb-modal-small-width:480px;
$sb-modal-normal-width:720px;
$sb-modal-large-width:900px;
//button component

// Search Component
$sb-search-btn-bg: $primary-100;
$sb-search-btn-font-size: $font-size-sm;
$sb-search-box-shadow-color: $primary-300;
$sb-search-input-font-size: $font-size-sm;
$sb-search-border-color: $primary-300;
$sb-search-close-btn-bg: $blue;
$sb-search-close-btn-color: $white;
// page section component
$sb-page-section-font-size: $h5-font-size;
$sb-page-section-header-content-space: 0 0 ($base-block-space * 3) 0;
$sb-page-sections-between-space: 0 0 ($base-block-space * 5) 0;
$sb-page-sections-divider-color: $gray-0 !important;

// card component
$sb-card-width: 292px;
$sb-card-height: 208px;
$sb-card-hover-movement: 2px;
$sb-card-body-height: 204px;
$sb-card-progressbar-height: 4px;
$sb-card-padding: ($base-block-space * 2) ($base-block-space * 2) ($base-block-space) ($base-block-space * 2);
$sb-card-border-radius: ($base-block-space / 2);
$sb-card-border: 0.5px solid #dedede;
$sb-card-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.16);
$sb-card-bg-color: $white-color;
$sb-card-image-height: 92px;
$sb-card-image-width: 70px;
$sb-card-image-border-radius: 2px;
$sb-card-image-border: 0.5px solid $gray-100;
$sb-card-image-bg-color: $gray-0;
$sb-card-label-font-size: ($font-size-sm - 1);
$sb-card-label-color: $primary-color;
$sb-card-label-border: 1px solid $primary-color;
$sb-card-label-border-radius: 2px;
$sb-card-label-padding: ($base-block-space / 2) ($base-block-space);
$sb-card-label-height: 24px;
$sb-card-badge-height: 30px;
$sb-card-badge-width: 30px;
$sb-card-meta-width: 172px;
$sb-card-meta-color: $gray-400;
$sb-card-meta-font-size: $font-size-sm;
$sb-card-meta-line-height: 17px;
$sb-card-title-color: $primary-color;
$sb-card-title-font-size: $h6-font-size;
$sb-card-title-line-height: ($sb-card-title-font-size * 1.25);
$sb-card-title-height: ($sb-card-title-line-height * 2);
$sb-card-title-font-weight: $font-weight-bold;
$sb-card-title-spacing: ($base-block-space * 2) 0 ($base-block-space * 1) 0;
$sb-card-meta-org-font-size: $h6-font-size;
$sb-card-progressbar-border-radius: 0 4px 4px 4px;
//Tamil
$sb-card-label-font-size-ta: 9px;
$sb-card-meta-font-size-ta: 10px;
$sb-card-title-font-size-ta: $font-size-sm;
$sb-card-meta-org-font-size-ta: $font-size-sm;
//Urdu
$sb-card-label-font-size-ur: 9px;
$sb-card-meta-font-size-ur: 10px;
$sb-card-title-font-size-ur: $font-size-sm;
$sb-card-meta-org-font-size-ur: $font-size-sm;

// tooltip Component
$tooltip-bg: $gray;
$tooltip-color: $white;
$tooltip-content-color: $gray-200;
$tooltip-content-font-size: $font-size-sm;
$tooltip-header-font-size: $font-size-normal;

// Topic Picker
$sb-treePicker-selectionTab-width: 424px;
$sb-treePicker-selectedTab-width: calc(100% - 424px);
$sb-treePicker-selectionTab-padding: ($base-block-space * 2);
$sb-treePicker-selectedTab-padding: ($base-block-space * 2);
$sb-treePicker-searchbox-max-width: 392px;
$sb-treePicker-searchbox-tree-space: 0 0 (2*$base-block-space) 0;
$sb-treePicker-searchbox-width: 100%;
$sb-treePicker-searchbox-border: 0.5px solid $primary-300;
$sb-treePicker-searchbox-iconColor-search: #aaa;
$sb-treePicker-selected-color: $secondary-100;
$sb-treePicker-tabs-divider-border-color: $gray-100;
$sb-treePicker-tabs-divider-border-mobile: 0 0 1px 0;
$sb-treePicker-tabs-divider-border-desktop: 0 1px 0 0;
$sb-treePicker-tabs-divider-border-desktop-rtl: 0 0 0 1px;
$sb-treePicker-nodes-between-spacing: 0 0 $base-block-space 0;
$sb-treePicker-nodes-icon-title-spacing: 0 $base-block-space 0 0;
$sb-treePicker-nodes-icon-title-spacing-rtl: 0 0 0 $base-block-space;
$sb-treePicker-checked-nodes-icon-title-spacing: 0 10px 0 0;
$sb-treePicker-checked-nodes-icon-title-spacing-rtl: 0 0 0 10px;
$sb-treePicker-nodes-icons-font-size: 10px;
$sb-treePicker-nodes-icons-line-height: 11px;
$sb-treePicker-nodes-icons-border-radius: 4px;
$sb-treePicker-nodes-icons-border: 1px solid $primary-200;
$sb-treePicker-nodes-icons-padding: 2px;
$sb-treePicker-nodes-icons-height: ($base-block-space * 2);
$sb-treePicker-nodes-icons-width: ($base-block-space * 2);
$sb-treePicker-nodes-icons-color: $primary-200;
$sb-treePicker-not-selected-node-icons-size: ($base-block-space * 2);
$sb-treePicker-nodes-name-color: $gray-400;
$sb-treePicker-opened-node-name-color: $gray-800;
$sb-treePicker-node-min-height: ($base-block-space * 2);
$sb-treePicker-nodes-childlist-border: 1px dotted $gray-100;
$sb-treePicker-nodes-childlist-padding: 0 $base-block-space;
$sb-treePicker-nodes-childlist-margin: $base-block-space;
$sb-treePicker-nodes-disabled-opacity: 0.3;
$sb-treePicker-search-query-highlight-color: $yellow;

// To clean
$text-lightDark: $gray-400;
$text-gray: $gray-100;
$signup-btn-bg-not-active-color: $gray-200;
$signup-thankyou-text-color: $gray-400;
$form-input-border-color: $gray-300;
$menuitem-color: $gray-800;
$dull-color: $gray-100;
$qr-btn:  $gray-100;
$signup-btn-bg-active-color: $secondary-400;
$form-input-border-active-color: $primary-400;

$primary-border: 0.5px solid #dedede;
$primary-background: $gray-100;
