// global styles

*{
  transition: all 300ms ease-in-out
  }
html, body {
  height:100%;
  font-size:$font-size-base;
}
  body {
      background:$bg-body;
      position: relative;
font-family: $font-stack-en;
letter-spacing: 0.2px;
height: auto;
  }

*[lang="en"] body {
  font-family: $font-stack-en;
}

*[lang="hi"] body {
  font-family: $font-stack-hi;
}

*[lang="ur"] body {
  font-family: $font-stack-ur;
}
*[lang="ur"] {
  font-size: ($font-size-base * .525);
}

button,
input,
textarea,
optgroup,
select,
h1,
h2,
h3,
h4,
h5,
.ui.header,
.ui.text.container,
.ui.input input,
.ui.list .list>.item .header,
.ui.list>.item .header,
.ui.steps .step .title,
.ui.ordered.steps .step:before,
.ui.ordered.steps .step.completed:before,
.ui.message .header,
.ui.sortable.table thead th:after,
.ui.card>.content>.header,
.ui.cards>.card>.content>.header,
.ui.items>.item>.content>.header,
.ui.statistic>.value,
.ui.statistics .statistic>.value,
.ui.statistic>.label,
.ui.statistics .statistic>.label,
.ui.accordion .title:not(.ui),
.ui.checkbox label,
.ui.modal>.header,
.ui.popup>.header,
.ui.search>.results .result .title,
.ui.search>.results>.message .header,
.ui.button,
.ui.form input:not([type]),
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=email],
.ui.form input[type=file],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=search],
.ui.form input[type=tel],
.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url],
.ui.menu,
.ui.dropdown,
.ui.category.search> .results .category> .name {
  font-family: inherit;
}

.ui.tiny.header .icon {
  line-height: 1;
  font-size: 0.75em;
}

.ui.pagination.menu {
  flex-wrap: wrap;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.35);
}

.ui.modal>.close {
  opacity: 1;
}

.ui.dimmer:not(.inverted)::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 1);
}