html,
body {
  height: 100%;
  font-size: $font-size-base;
}

body {
  background: $body-background-color !important;
  position: relative;
  font-family: $font-stack-en;
  letter-spacing: 0.2px;
  height: auto;
  color: $default-text-color;
  padding-bottom: 400px;
  min-height: 100vh;
  &.pushable {
    background: $body-background-color !important;
    &>.pusher {
      background: transparent !important;
      padding-bottom: 400px !important;
      &.dimmed {
        height: 100vh;
      }
    }
  }
}
@include respond-above(sm) {
  body {
    padding-bottom: 170px;
    .pusher {
      padding-bottom: 170px !important;
    }
  }
}

*[lang="en"] body {
  font-family: $font-stack-en;
}

*[lang="hi"] body {
  font-family: $font-stack-hi;
}

*[lang="ur"] body {
  font-family: $font-stack-ur;
}


.publicmenusection.ui.secondary.menu .active.item {
  color: $primary-color;
  text-transform: capitalize;
}
.publicmenusection.ui.secondary.vertical.menu > .item {
  text-transform: capitalize;
}

.sb-placeholder{
  justify-content: center !important;
}
[dir="rtl"] {
  .sb-explore-qr-container{
    .dial-section-column {
      border-right:0px solid rgba(51, 51, 51,0.1) !important;
      border-left:1px solid rgba(51, 51, 51,0.1);
    }
  }
}

[dir="ltr"] {
  .sb-explore-qr-container{
    .dial-section-column {
      border-left:0px solid rgba(51, 51, 51,0.1);
      border-right:1px solid rgba(51, 51, 51,0.1);
    }
  }
}
