@import "./variables";
@import "./mixins/mixins";

html,
body {
  height: 100%;
}

body {
  background: var(--rc-E5EDF5) !important;
  position: relative;
  font-family: $font-stack-en !important;
  letter-spacing: 0.2px;
  height: auto;
  color: var(--gray-800);
  min-height: 100vh;
  text-rendering: optimizeLegibility;

  &.pushable {
    background: var(--rc-E5EDF5) !important;

    &>.pusher {
      background: transparent !important;

      &.dimmed {
        height: 100vh;
      }
    }
  }
}

@include respond-above(sm) {
  body {
    .sb-mid-container-min-height {
      min-height: calc(100vh - 288px);
      margin-bottom: -($base-block-space * 4) !important;
    }
  }
}

@include respond-below(sm) {
  .download-mobile-app .download-mobile-app-logo {
    min-height: 116px;
  }
}

*[lang="en"] body {
  font-family: $font-stack-en !important;
}

*[lang="hi"] body {
  font-family: $font-stack-hi !important;
}

*[lang="ur"] body {
  font-family: $font-stack-ur !important;
}

.publicmenusection.ui.secondary.menu .active.item {
  color: var(--primary-color);
  text-transform: capitalize;
}

.publicmenusection.ui.secondary.vertical.menu>.item {
  text-transform: capitalize;
}


[dir="rtl"] {
  .sb-explore-qr-container {
    .dial-section-column {
      border-right: 0px solid rgba(var(--rc-rgba-gray), 0.1) !important;
      border-left: calculateRem(1px) solid rgba(var(--rc-rgba-gray), 0.1);
    }
  }

  @include respond-above(sm) {
    .download-mobile-app .download-mobile-app-logo {
      min-height: calculateRem(168px);
    }
  }
}

[dir="ltr"] {
  .sb-explore-qr-container {
    .dial-section-column {
      border-left: 0px solid rgba(var(--rc-rgba-gray), 0.1);
      border-right: calculateRem(1px) solid rgba(var(--rc-rgba-gray), 0.1);
    }
  }
}

.description.annannouncement-description {
  .sb-label-status-error {
    color: $sb-label-status-error-color;
    font-size: calculateRem(11px);
  }

  .sb-label-12size {
    font-size: calculateRem(11px);
  }
}

// don't delete this
.iziModal-isAttached {
  body {
    overflow: hidden;
  }
}

.sb-prominent-filter {
  .accordion {
    .content {
      padding: 0.5em 0 0 0;
    }
  }
}

// calender styles
.ui.calendar .ui.celled.table tr td,
.ui.calendar .ui.celled.table tr th {
  cursor: pointer;
}

.ui.calendar .ui.table tr td.disabled,
.ui.calendar .ui.table tr.disabled td,
.ui.calendar .ui.table tr.disabled:hover,
.ui.calendar .ui.table tr:hover td.disabled {
  cursor: default;
}

.ui.info.message {
  background-color: var(--primary-0) !important;
}

.ui.info.message .header {
  color: var(--primary-color) !important;
}

.ui.ordered.list .list,
ol.ui.list ol {
  margin-left: 2em !important;
}

.ui.info.message {
  color: black !important;
}

.cursor-default {
  cursor: default !important;
}

.o-y-hidden {
  overflow: hidden;
}

.ui.selection.dropdown:focus,
.ui.selection.dropdown:focus~label {
  border: 1px solid var(--primary-300);
}

/* language selector */
.ui.dropdown .menu {
  right: 0;
  width: auto;
  left: inherit;
}

.ui.dropdown .menu>.item {
  padding: 1em 1.5em !important;
  font-size: 0.86rem;
}


.licenseTag {
  word-break: break-all;
  font-weight: normal !important;
  color: var(--rc-7c7b7b) !important;
}

//workspace font fix
.ui {
  &.menu {
    font-size: calculateRem(14px);
  }

  &.popup {
    font-size: calculateRem(12px);
  }
}

app-workspace {
  font-size: calculateRem(14px);
}

// ckeditor tool solution image overlap

.ckeditor-tool__solution__body {
  figure.image {
    img {
      max-width: 100%;
    }
  }
}

// common consumption cards for library
.sb-library-cards {
  .ui.grid {
    padding: 1rem 0;

    sb-library-cards-grid {
      .header {
        margin: 0 0 1rem;
      }

      .cards-container .item {
        margin: 0 0 1.5rem 0;
      }
    }
  }
}


.sb-modal-addsummary {
  .ck.ck-editor__editable_inline {
    min-height: calc(100vh - 271px);
  }
}

.b-0 {
  @include border(border, 0px, var(--gray-400));
}

.bl-0 {
  border-left: none;
}

.br-0 {
  border-right: none;
}

.br-4 {
  border-radius: 4px;
}

.bs-0 {
  box-shadow: none !important;
}

.bs-2 {
  box-shadow: 0 0 20px 0 rgba(var(--rc-rgba-black), 0.29) !important;
}

.toc-box-shadow {
  box-shadow: 0 0 0.625rem 0 rgba(var(--rc-rgba-black), 0.25) !important;
}

// Footer fix 

.footer-fix {
  padding-bottom: calculateRem(160px);

  @include respond-above(sm) {
    padding-bottom: calculateRem(60px);
  }
}

//iframe css
.responsive-media {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: 100%;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    transform: translateY(-50%);
  }
}

.fields-selection label {
  line-height: normal;
}

