html,
body {
  height: 100%;
  font-size: $font-size-base;
}

body {
  background: $body-background-color !important;
  position: relative;
  font-family: $font-stack-en;
  letter-spacing: 0.2px;
  height: auto;
  color: $default-text-color;
  padding-bottom: 400px;
  min-height: 100vh;
  &.pushable {
    background: $body-background-color !important;
    &>.pusher {
      background: transparent !important;
      padding-bottom: 400px !important;
      &.dimmed {
        height: 100vh;
      }
    }
  }
}
@include respond-above(sm) {
  body {
    padding-bottom: 240px;
    .pusher {
      padding-bottom: 240px !important;
    }
  }
}

*[lang="en"] body {
  font-family: $font-stack-en;
}

*[lang="hi"] body {
  font-family: $font-stack-hi;
}

*[lang="ur"] body {
  font-family: $font-stack-ur;
}


.publicmenusection.ui.secondary.menu .active.item {
  color: $primary-color;
  text-transform: capitalize;
}
.publicmenusection.ui.secondary.vertical.menu > .item {
  text-transform: capitalize;
}

.sb-placeholder{
  justify-content: center !important;
}
[dir="rtl"] {
  .sb-explore-qr-container{
    .dial-section-column {
      border-right:0px solid rgba(51, 51, 51,0.1) !important;
      border-left:1px solid rgba(51, 51, 51,0.1);
    }
  }
}

[dir="ltr"] {
  .sb-explore-qr-container{
    .dial-section-column {
      border-left:0px solid rgba(51, 51, 51,0.1);
      border-right:1px solid rgba(51, 51, 51,0.1);
    }
  }
}
// don't delete this 
.iziModal-isAttached{
  body{
    overflow: hidden;
  }
}

.sb-banner {
  padding: $sb-banner-padding;
  border-radius:4px;
  background-color: $sb-banner-background-color;
  box-shadow: $sb-banner-box-shadow;
  &.sb-fix-bottom {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0 auto;
    z-index: 999;
    border-radius: $sb-banner-border-radius;
  }
}
.sb-banner-content {
  display: flex;
  align-items: center;
}
.sb-banner-heading {
  color: $sb-banner-heading-color;
  font-weight: bold;
  font-size: $sb-banner-heading-font-size;
}
.sb-banner-content-left {
  display: flex;
}
[dir="ltr"] {  
  .sb-banner-close-icon.close.icon {
    width: $sb-banner-close-icon-width;
    margin-left: $sb-banner-close-icon-margin-left;
    font-size: $sb-banner-close-icon-font-size;
  }
  .sb-banner-content-left {
    margin-left:auto;
  }
}
[dir="rtl"] {
  .sb-banner-close-icon.close.icon {
    width: $sb-banner-close-icon-width;
    margin-right: $sb-banner-close-icon-margin-right;
    font-size: $sb-banner-close-icon-font-size;
  }
  .sb-banner-content-left {
    margin-right:auto;
  }
}

//This is for offline Desktop app tour-travel

#shepherdModalOverlayContainer {
  background-color: $white;
}

  .shepherd-element .shepherd-content .shepherd-text {
  color: $white;
  text-align: left;
  padding: 0px;
}


  .shepherd-element .shepherd-content {
  background-color: $gray-800;
  padding: 16px;
  // max-width:454px;width:454px;
}

  .tippy-popper.shepherd-popper[x-placement^=top] .tippy-arrow {
  border-top-color: $gray-800;
}

  .tippy-popper.shepherd-popper[x-placement^=bottom] .tippy-arrow {
  border-bottom-color: $gray-800;
}

  .shepherd-element .shepherd-content footer .shepherd-buttons li .shepherd-button {
  &.sb-btn-outline-gray {
      border: 0px solid $gray-100;
  }
}

  #shepherdModalMask:target,
#shepherdModalOverlayContainer,
#shepherdModalOverlayContainer:nth-child(2) {
  fill: $primary-400;
}

  .shepherd-element.shepherd-has-title .shepherd-content header {
  background: none;
  height: $base-block-space * 3;
  width: auto;
  color: $white;
  padding: 0px;
  margin-bottom: $base-block-space * 2;
}

  .shepherd-element.shepherd-has-title .shepherd-content header h3 {
  font-size: $font-size-md + 2;
  color: $white;
  font-weight: bold;
  line-height: $base-block-space * 3;
  text-align: left;
}

  .shepherd-element .shepherd-content footer {
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .shepherd-element .shepherd-content .shepherd-text p:last-child {
  margin-bottom: $base-block-space * 2;
}

  .tippy-popper.shepherd-popper .tippy-arrow {
  border: $base-block-space solid transparent;
}

.shepherd-buttons {
  .sb-btn {
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  li {
    margin:0;
    margin-left: 10px;
  }
}


.shepherd-element .shepherd-content footer .shepherd-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.tippy-tooltip .shepherd-has-title-theme {
  padding: 0;
}