/* Load fonts first*/
@import "./fonts/notosans/notosans.css";
@import "./fonts/notosans-bengali/notosansbengali.css";
@import "./fonts/notosans-malayalam/notosansmalayalam.css";
@import "./fonts/notosans-gurmukhi/notosansgurmukhi.css";
@import "./fonts/notosans-devanagari/notosansdevanagari.css";
@import "./fonts/notosans-gujarati/notosansgujarati.css";
@import "./fonts/notosans-telugu/notosanstelugu.css";
@import "./fonts/notosans-tamil/notosanstamil.css";
@import "./fonts/notosans-kannada/notosanskannada.css";
@import "./fonts/notosans-oriya/notosansoriya.css";
@import "./fonts/noto-nastaliqurdu/notonastaliqurdu.css";

@import "./variables";
@import "./semantic/semantic-rtl";
@import "./components/slick";
@import "./components/slick-theme";
@import "./components/fine-uploader-new";
@import "./components/fine-uploader-gallery";
@import "./components/iziToast";
@import "./components/semantic-ui-tree-picker";
@import "./components/semantic-ui-topic-picker";
@import "./components/ui.fancytree";
@import "./components/angular2select-default.theme";
@import "./components/filters";
@import "./components/progress-bar";
@import "./legacy";
@import "./reusables/reusables";
@import "./components/cards";
@import "./components/header";
@import "./components/footer";
@import "./global";

// base structure
@import "./base/base";
@import "./component/component";
@import "./helpers/helpers";
@import "./layout/layout";
@import "./pages/pages";
@import "./vendors/vendors";