@import '../../../node_modules/sb-theme/themes/theme.scss';
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 100ms !important;
  transition-delay: 0 !important;
}

.container2 {
  background: rgba(0, 0, 0, 0.95);
  overflow: hidden;
  position: fixed;
  bottom: 24px;
  left: 0px;
  z-index: 99999;
  border-radius: 0px;
  right: 0px;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;

  @include respond-above(sm) {
    border-radius: 32px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

    li {
      color: #AAAAAA;
      display: block;
      position: relative;
      float: left;
      // width: 100%;
      height: 100px;
      border-bottom: 1px solid #333;
      margin-bottom: 0px;
      white-space: nowrap;
      height: auto;

      input[type=radio] {
        position: absolute;
        visibility: hidden;
      }

      label {
        display: block;
        position: relative;
        font-weight: 300;
        font-size: 1em;
        padding: 12px 12px 12px 40px;
        margin-bottom: 0px;
        z-index: 9;
        cursor: pointer;
        -webkit-transition: all 0.25s linear;
      }

      &:hover label {
        color: #FFFFFF;
      }

      .check {
        display: block;
        position: absolute;
        border: 5px solid #AAAAAA;
        border-radius: 100%;
        height: 25px;
        width: 25px;
        top: 12px;
        left: 8px;
        z-index: 5;
        transition: border .25s linear;
        -webkit-transition: border .25s linear;

        &::before {
          display: block;
          position: absolute;
          content: '';
          border-radius: 100%;
          height: 9px;
          width: 9px;
          top: 3px;
          left: 3px;
          margin: auto;
          transition: background 0.25s linear;
          -webkit-transition: background 0.25s linear;
        }
      }

      &:hover .check {
        border: 5px solid #FFFFFF;
      }
    }
  }

  input.checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
  }

  .label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  input.checkbox:checked+label {
    background: var(--color-headings);
  }

  input.checkbox:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 45px;
  }

}

input[type=radio]:checked~.check {
  border-color: var(--primary-color);
}

input[type=radio]:checked~.check::before {
  background: var(--primary-color);
}

input[value=Brown]:checked~.check,
input[value=Bluegray]:checked~.check,
input[value=Green]:checked~.check {
  border-color: var(--primary-color);
}

input[value]:checked~.check::before {
  background: var(--primary-color);
}

input[value]:checked~label {
  color: var(--primary-color);
}


html[data-theme='Default'] {
  // --sbt-text-gray-color: var(--gray-800);
  // --sbt-text-white-color: var(--gray-800);
  // --sbt-category-header-color: var(--gray-800);
  // --sbt-section-header-color: var(--primary-color);
  // --sbt-primary-border:var(--primary-color); // % with percentage value
  // --sbt-gray-border: var(--gray-800); // % with percentage value
  --primary-theme:var(--primary-color);
  --sbt-body-bg: #E5EDF5;
  --sbt-header-bg:var(--primary-300); //var(--primary-300);
  --sbt-menu-bg: var(--sbt-header-bg);
  --sbt-page-header-bg: var(--sbt-menu-bg);
  --sbt-body-bg2: #f0f7ff;
  --sbt-box-shadow-black: rgba(0, 0, 0, 0.1);
  --sbt-box-shadow-6px: 0.375rem 0.375rem 0.125rem 0 var(--sbt-box-shadow-black);
  --sbt-box-shadow-3px: 0.1875rem 0.1875rem 0.125rem 0 var(--sbt-box-shadow-black);
  --sbt-box-shadow: rgba(128, 167, 206, 1);
  --sbt-theme-purple-selectbox:#6841B3;
  --sbt-theme-green-selectbox:#008840;
  --sbt-theme-blue-selectbox:#0531FF;
  --sbt-theme-light-blue-selectbox:#108DE1;
  --sbt-theme-purple-selectbox-lbg:#F2EEFF;
  --sbt-theme-green-selectbox-lbg:#E0F5EA;
  --sbt-theme-blue-selectbox-lbg:#E5EDF5;
  --sbt-theme-light-blue-selectbox-lbg:#E9F5FF;
  --sbt-pill-hs: 212, 100%;
  --sbt-pill-bg: hsl(var(--sbt-pill-hs), 90%);
  --sbt-pill-bg-active: hsl(var(--sbt-pill-hs), 50%); // #0076FE
  --sbt-compt-bg: #E9E8D9;
  --sbt-bradius: 0.125rem;
  --sbt-bradius-8: calc(var(--sbt-bradius) * 4);
  --sbt-bradius-16: calc(var(--sbt-bradius) * 8);	
  --sbt-bradius-24: calc(var(--sbt-bradius) * 12);
  --sbt-bradius-32: calc(var(--sbt-bradius) * 16);

  --sbt-textbooks: #0091FF;
  --sbt-courses: #0531FF;
  --sbt-quizzes: #0C989B;
  --sbt-tests: #E02020;
  --sbt-stories: #008840;
  --sbt-poems: #B620E0;
  --sbt-tv: #E7800B;
  --sbt-podcasts: #7B4EFF;
  --sbt-all: #4DBD09;
  --sbt-textbooks-text: var(--sbt-textbooks);
  --sbt-textbooks-bg: var(--sbt-textbooks);
  --sbt-courses-text: var(--sbt-courses);
  --sbt-courses-bg: var(--sbt-courses);
  --sbt-quizzes-text: var(--sbt-quizzes);
  --sbt-quizzes-bg: var(--sbt-quizzes);
  --sbt-tests-text: var(--sbt-tests);
  --sbt-tests-bg: var(--sbt-tests);
  --sbt-stories-text: var(--sbt-stories);
  --sbt-stories-bg: var(--sbt-stories);
  --sbt-poems-text: var(--sbt-poems);
  --sbt-poems-bg: var(--sbt-poems);
  --sbt-tv-text: var(--sbt-tv);
  --sbt-tv-bg: var(--sbt-tv);
  --sbt-podcasts-text: var(--sbt-podcasts);
  --sbt-podcasts-bg: var(--sbt-podcasts);
  --sbt-all-text: var(--sbt-all);
  --sbt-all-bg: var(--sbt-all);
}

html[data-theme='Green'] {
  --primary-hs: 148, 100%;
  --primary-color: hsl(var(--primary-hs), 27%); // #008a40;
  //--primary-300: adjust-color(hsl(148, 100%, 27%), $lightness: 50%);
  --primary-300: #74B48B;
  --primary-200: #AFCAB1;
  --primary-100:  #d5e9d7;
  --primary-0:  #f0faf1;
  --primary-800: #0b8242;
  --sbt-body-bg: #e9f1ea;
  --sbt-header-bg: var(--primary-300);
  --sbt-menu-bg: var(--sbt-header-bg);
  --sbt-page-header-bg: var(--sbt-menu-bg);
  --sbt-body-bg2: #F2F4F6;
  --sbt-box-shadow-black: rgba(0, 0, 0, 0.1);
  --sbt-box-shadow-6px: 0.375rem 0.375rem 0.125rem 0 var(--sbt-box-shadow-black);
  --sbt-box-shadow-3px: 0.1875rem 0.1875rem 0.125rem 0 var(--sbt-box-shadow-black);
  --sbt-box-shadow: rgb(212, 165, 111, 1);
  --sbt-theme-purple-selectbox:#6841B3;
  --sbt-theme-green-selectbox:#008840;
  --sbt-theme-blue-selectbox:#0531FF;
  --sbt-theme-light-blue-selectbox:#108DE1;
  --sbt-theme-purple-selectbox-lbg:#F2EEFF;
  --sbt-theme-green-selectbox-lbg:#E0F5EA;
  --sbt-theme-blue-selectbox-lbg:#E5EDF5;
  --sbt-theme-light-blue-selectbox-lbg:#E9F5FF;
  --sbt-pill-hs: 253, 100%;
  --sbt-pill-bg: hsl(var(--sbt-pill-hs), 90%);
  --sbt-pill-bg-active: hsl(var(--sbt-pill-hs), 61%); // #6338ff
  --sbt-compt-bg: #F2F4F6;
  --sbt-bradius: 0.125rem;
  --sbt-bradius-8: calc(var(--sbt-bradius) * 4);
  --sbt-bradius-16: calc(var(--sbt-bradius) * 8);	
  --sbt-bradius-24: calc(var(--sbt-bradius) * 12);
  --sbt-bradius-32: calc(var(--sbt-bradius) * 16);

  --sbt-textbooks: #0091FF;
  --sbt-courses: #0531FF;
  --sbt-quizzes: #0C989B;
  --sbt-tests: #E02020;
  --sbt-stories: #008840;
  --sbt-poems: #B620E0;
  --sbt-tv: #E7800B;
  --sbt-podcasts: #7B4EFF;
  --sbt-all: #4DBD09;
  --sbt-textbooks-text: var(--sbt-textbooks);
  --sbt-textbooks-bg: var(--sbt-textbooks);
  --sbt-courses-text: var(--sbt-courses);
  --sbt-courses-bg: var(--sbt-courses);
  --sbt-quizzes-text: var(--sbt-quizzes);
  --sbt-quizzes-bg: var(--sbt-quizzes);
  --sbt-tests-text: var(--sbt-tests);
  --sbt-tests-bg: var(--sbt-tests);
  --sbt-stories-text: var(--sbt-stories);
  --sbt-stories-bg: var(--sbt-stories);
  --sbt-poems-text: var(--sbt-poems);
  --sbt-poems-bg: var(--sbt-poems);
  --sbt-tv-text: var(--sbt-tv);
  --sbt-tv-bg: var(--sbt-tv);
  --sbt-podcasts-text: var(--sbt-podcasts);
  --sbt-podcasts-bg: var(--sbt-podcasts);
  --sbt-all-text: var(--sbt-all);
  --sbt-all-bg: var(--sbt-all);
  --rc-E0EFFF:#d5e9d7;
  --rc-007AFF:var(--primary-300);
}

html[data-theme='Orange'] {
  --primary-hs: 32, 91%;
  --primary-color: hsl(var(--primary-hs), 47%); // #E7800B;
  --primary-300: hsl(var(--primary-hs), 67%); // #FFB561;
  --primary-200:#D4A56F;
  --primary-100:#ffe081;
  --sbt-body-bg:#EAE1D7;
  --sbt-header-bg:var(--primary-300);
  --sbt-menu-bg:var(--sbt-header-bg);
  --sbt-page-header-bg:var(--sbt-menu-bg);
  --sbt-body-bg2:#F9F0E6;
  --sbt-box-shadow-black:rgba(0, 0, 0, 0.1);
  --sbt-box-shadow:rgb(212, 165, 111, 1);
  --sbt-theme-purple-selectbox:#6841B3;
  --sbt-theme-green-selectbox:#008840;
  --sbt-theme-blue-selectbox:#0531FF;
  --sbt-theme-light-blue-selectbox:#108DE1;
  --sbt-theme-purple-selectbox-lbg:#F2EEFF;
  --sbt-theme-green-selectbox-lbg:#E0F5EA;
  --sbt-theme-blue-selectbox-lbg:#E5EDF5;
  --sbt-theme-light-blue-selectbox-lbg:#E9F5FF;
  --sbt-pill-hs:253, 100%;
  --sbt-pill-bg:hsl(var(--sbt-pill-hs), 90%);
  --sbt-pill-bg-active:hsl(var(--sbt-pill-hs), 61%); // #6338ff
}

html[data-theme='Default'][layout='joy'] {
  --primary-hs: 206, 100%;
  --primary-color:#024F9D;
  --primary-300: #74B9EB;
  --primary-200: #AFCCE1;
  --primary-800: hsl(var(--primary-hs), 40%);
  --primary-100:#f1f1e7;
  --primary-300:#ececde;
}

html[data-theme='Default'] {
  .navBlock .pdf-nav-unit {
    color: var(--white) !important;
  }
}
html[layout='joy'] {
  --primary-theme: #FFD954;
  --sbt-header-bg:var(--primary-theme);
  --sbt-body-bg: #F2F2EA;
  --sbt-body-bg2: #E9E8D9;
  --sbt-primary-bg: var(--primary-theme);
  --sbt-border-chapter: #E4E8EE;
  .navBlock .pdf-nav-unit {
    color: var(--gray-800) !important;
  }
  .sbt-fluid-header-bg {
    display: block;
  }
  .sbt-center-container {
    width: calc(100% - 4%);
    margin:0 auto;
  }
  .kabab-menu-dropdown-content {
    border-radius: var(--sbt-bradius-16);
    .list{
     &:hover, &:active {
      border-radius: var(--sbt-bradius-16);
     } 
    }
  }
  /* new button style */
  .sb-btn {
    box-shadow: var(--sbt-box-shadow-6px);
    border:0px;
  }
  .sb-btn-normal {
    border-radius: var(--sbt-bradius-24);
    height: calculateRem(40px);
    padding: calculateRem(8px) calculateRem(24px);
  }
  .sb-btn-sm {
    border-radius: var(--sbt-bradius-24);
  }
  .sb-btn-xs {
    border-radius: var(--sbt-bradius-24);
  }
  .sb-btn-square:hover{
    border-radius: var(--sbt-bradius-8);
  }
  .sb-btn-round {
    background: var(--white) !important;
    border-radius: 50% !important;
    box-shadow: var(--sbt-box-shadow-6px) !important;
    min-width: auto !important;
    padding: calculateRem(16px) !important;
    height: auto !important;
    width: auto !important;
    span {
      display: none;
    }
    .icon-svg--xxs {
      width: calculateRem(16px);
      height: calculateRem(16px);
    }
  }
  .sb-btn-link-primary {
    border-radius: 0px;
    box-shadow: none;
    padding: calculateRem(8px) calculateRem(16px);
    &:hover {
      border-radius: calculateRem(16px);
    }
  }
  .sb-btn-square.sb-btn-sm {
    box-shadow: none;
  }
  .ui.dropdown.selection.sb-form-control .menu{
    border-radius: 0 0 var(--sbt-bradius-16) var(--sbt-bradius-16);
  }
  .sb-pageSection-content .slick-slider .slick-track {
    padding-bottom: calculateRem(8px);
  }
  .sbt-dialcode-inputsearch {
    border-radius: var(--sbt-bradius-16);
    box-shadow: var(--sbt-box-shadow-6px);
  }
  .sb-search-box .sb-search-input {
    height:40px;
    border-radius: var(--sbt-bradius-16) 0px 0px var(--sbt-bradius-16);
  }
  .sb-search-box .icon.search {
    top: 0.75rem;
  }
  .sb-btn.sb-btn-normal.sbt-dialcode-btn {
    border-radius: 0px var(--sbt-bradius-16) var(--sbt-bradius-16) 0px;
    box-shadow: none;
  }
  // modal styles
  .sb-modal {
    .ui.modal {
      box-shadow: var(--sbt-box-shadow-6px);
      border-radius: var(--sbt-bradius-24);
      background-color: var(--sbt-compt-bg);

      .sb-modal-header {
        background-color: var(--sbt-compt-bg);
        color: var(--black);
        border-radius: var(--sbt-bradius-24) var(--sbt-bradius-24) 0 0;
        padding: calculateRem(24px) calculateRem(24px) calculateRem(8px) calculateRem(24px);
      }

      .sb-modal-content {
        min-height: 100px;
        padding: calculateRem(16px) calculateRem(24px);
        overflow-y: auto;
        background: var(--sbt-compt-bg);
      }

      .sb-modal-actions {
        padding: calculateRem(8px) calculateRem(24px) calculateRem(24px);
        background: var(--sbt-compt-bg);
        border-top: calculateRem(0px) solid var(--gray-100);
        border-radius: 0 0 var(--sbt-bradius-24) var(--sbt-bradius-24);
      }

      &>.close {
        // right: auto !important;
        // left: calculateRem(12px);
        height: calculateRem(24px);
        width: calculateRem(24px);
        border-radius: 50%;
        box-shadow: var(--sbt-box-shadow-3px);
        right: calculateRem(12px) !important;
        top: calculateRem(12px) !important;
        background-color: var(--white);
        &::before{
          content: "";
          background: url(assets/images/close.png) no-repeat !important;
          height: calculateRem(22px);
          width: calculateRem(22px);
        }
        
      }
    }
  }
  .ui.modal>:last-child{
    border-bottom-left-radius: var(--sbt-bradius-24);
    border-bottom-right-radius: var(--sbt-bradius-24);
  }
  .ui.modal>.icon:first-child+*, .ui.modal>:first-child:not(.icon) {
    border-top-left-radius: var(--sbt-bradius-24);
    border-top-right-radius: var(--sbt-bradius-24);
  }
  .ui.grid.sb-form.m-0.sb-workspace-modal.p-16 {
    padding:0px !important;
  }
  // form fields
  .sb-form-control {
    border-radius: var(--sbt-bradius-16) !important;
    padding-left: calculateRem(16px);
  }
  .sb-field .ui.selection.dropdown, sui-multi-select.ui.selection.dropdown{
    border-radius: var(--sbt-bradius-24) !important;
    padding-left: calculateRem(16px);
  }
  sui-multi-select.ui.selection.dropdown {
    background: var(--white);
  }
  .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field .ui.selection.dropdown {
    background: var(--white);
    font-size: calculateRem(12px);
    width: 100%;
    min-height: calculateRem(32px);
    padding: calculateRem(4px) calculateRem(8px);
    border-color: var(--gray-200);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .text {
      padding: 0;
    }
  }
  .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field .ui.selection.dropdown
  .ui.active.selection.dropdown, .ui.selection.active.dropdown .menu, .ui.dropdown.selection, .ui.dropdown.selection .menu {
    border-radius: var(--sbt-bradius-24) !important;
  }
  .ui.dropdown.selection .menu {
    margin-top:calculateRem(4px);
  }
  .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field .topic-picker-selector {
    background: var(--white) !important;
    border-radius: var(--sbt-bradius-24);
  }
  .sbt-user-profile .sb-prominent-filter {
    background: var(--sbt-compt-bg);
    border-radius: calculateRem(24px);
    padding: calculateRem(16px);
    margin-top:calculateRem(16px);
  }
  .sbt-user-profile .ui.grid .ui.segment {
    background: var(--sbt-compt-bg);
    border-radius: var(--sbt-bradius-24);
  }
  .ui.pagination.menu {
    border-radius: var(--sbt-bradius-24);
    overflow: hidden;
  }
  // .sb-pagination-container .sb-pagination {

  // }
  //end

  // Groups
  .sb-back-btn-panel, .sbt-back-header .content-header,.sbt-activity-search .sb-prominent-filter, .sbt-add-member .sb-bg-color-white, .sbt-mygroups-details .sb-bg-color-white, .sbt-groups-login .content-header, .sbt-dial-code .sb-bg-color-white {
    background: var(--sbt-compt-bg) !important;
  }
  .sb-back-btn-panel {
    border-radius: var(--sbt-bradius-24) !important;
    padding:0px 16px;
    margin-top: 16px;
  }
  .sbt-activity-search .sb-prominent-filter {
    border-radius: var(--sbt-bradius-24) !important;
    margin-top:4px;
  }
  .sbt-activity-search .sb-search-box.large {
    border-radius: var(--sbt-bradius-24);
    overflow: hidden;
    box-shadow: var(--sbt-box-shadow-6px);
  }
  .sbt-add-member .sb-bg-color-white, .sbt-mygroups-details .sb-g .sb-bg-color-white {
    border-radius: var(--sbt-bradius-24) !important;
  }
  // back panel with header combination
  .sbt-back-header .sb-back-btn-panel {
    border-radius: var(--sbt-bradius-24) calculateRem(24px) 0px 0px !important;
  }
  .sbt-back-header .content-header {
    border-radius: 0px 0px calculateRem(24px) calculateRem(24px) !important;
    padding:0px 16px;
    position: relative;
    z-index: 3;
  }
  .sb-search-box {
    border-radius: var(--sbt-bradius-24);
    overflow: hidden;
  }
  .sbt-groups-login .content-header {
    border-radius: var(--sbt-bradius-24);
    margin-top:calculateRem(24px);
    padding:0px calculateRem(16px);
  }
  .sb-members-list-item:hover,.sb-members-list-item.active {
    border-radius: calculateRem(8px);
  }
  // public content player
  .ui.container,
  .ui.grid.container {
    width: 100% !important;
    margin: 0px !important;
  }

  .cc-player__btn-back {
    width: calc(100% - 4%);
    margin: calculateRem(16px) 2% 0px 2%;
    padding: 0 calculateRem(16px);
    border-radius: var(--sbt-bradius-24) var(--sbt-bradius-24) 0px 0px;
    background: var(--sbt-compt-bg) !important;
  }

  .help-page {
    width: calc(100% - 4%);
    margin: 24px auto 0 auto;
    .help-page__header {
      border-radius: calculateRem(24px) !important;
      width: 100%;
      background: var(--sbt-compt-bg) !important;
    }
  

    &__visit-helpcenter, &__content {
      max-width: calculateRem(1280px);
      width: 100%;
      margin: 0 auto;
    }

    &__content {
  
      .panel {
        overflow: hidden;
        &:first-of-type {
          border-radius: 24px 24px 0 0 !important;
        }
        &:last-of-type {
          border-radius: 0 0 24px 24px !important;
        }
        .panel-heading {
          background: var(--sbt-compt-bg);
  
          .panel-title {
            font-size: var(--font-size-normal);
          }

          .panel-title-blue {
            color: inherit;
            font-weight: bold;
          }
  
          .icon-svg {
            .icon-svg--primary {
              fill: var(--gray-800);
            }
          }
        }
        .panel-collapse {
          background: var(--white);
          .panel-interact {
            .yes-clicked {
             min-width: calculateRem(220px);
            }
          }
          .panel-info {
            .submit-button {
              border-radius: calculateRem(24px);
              cursor: pointer;
            }
          }
        }
      }
    }

    &__visit-helpcenter {
      background: var(--sbt-compt-bg);
      border-radius: calculateRem(24px);
    }
  }


  .cc-player__content-header, .help-page__header {
    width: calc(100% - 4%);
    margin: 0 auto;
    border-radius: 0px 0px var(--sbt-bradius-24) var(--sbt-bradius-24);
    padding: calculateRem(16px);
    margin-bottom: calculateRem(24px);
    box-shadow: none;
    background: var(--sbt-compt-bg);
    padding-top:0px;
  }
  .cc-player__content-header .ui.container.py-16 {
    padding:0px 0px 0px 0px !important;
  }
  .cc-player__content-header .ui.container .cc-player {
    width:100%;
  }
  .header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sb-single-resource {
    .content-video__player {
      box-shadow: var(--sbt-box-shadow-6px);
      margin-bottom: calculateRem(16px);
      border-radius: var(--sbt-bradius-24);
      background: var(--sbt-compt-bg);
      overflow: hidden;
    }
  }
  .content-video__player, .sbt-shadow-radius {
    box-shadow: var(--sbt-box-shadow-6px)!important;
    border-radius: var(--sbt-bradius-24);
  }
  .sbt-shadow-radius {
    overflow: hidden;
  }
  .contentViewerIframeShadow {
    border-radius: var(--sbt-bradius-24) var(--sbt-bradius-24) 0px 0px;
    &.player-fullscreen{
      border-radius: initial;
    }
  }

  .content-video__player__details {
    border-radius: 0 0 var(--sbt-bradius-24) var(--sbt-bradius-24);
    background: var(--sbt-compt-bg) !important;
  }

  .sb-accordion-content,
  .ui.styled.sb-accordion.accordion,
  .ui.styled.accordion .title {
    border-radius: var(--sbt-bradius-24);
  }

  .ui.styled.accordion .title {
    background: var(--sbt-compt-bg);
  }

  .ui.styled.accordion .active.title {
    border-radius: var(--sbt-bradius-24) var(--sbt-bradius-24) 0px 0px;
  }

  .sb-accordion-content.sb-bg-color-white {
    background: var(--sbt-compt-bg) !important;
    padding: calculateRem(24px) calculateRem(24px) !important;
  }

  .course-consumption-container {
    width: calc(100% - 4%) !important;
    margin: 1rem 2% 0px 2%;
    position: relative;
    z-index: 9;
  }

  .course-consumption-container .sb-course-details__training .training-info .training-relevant {
    background: var(--sbt-compt-bg) !important;
    border-radius: var(--sbt-bradius-24);
    padding: calculateRem(24px);
  }

  .course-consumption-container .training-modules .course-consumption-modules-container {
    background: var(--sbt-compt-bg) !important;
    border-radius: var(--sbt-bradius-24);
    // padding: 24px 24px 1px 24px;
  }

  .sbaccordion {
    box-shadow: none !important;
    border-radius: var(--sbt-bradius-24);
  }

  .accordion-item-header-expanded .sbaccordion__panel-header {
    border-radius: var(--sbt-bradius-24) var(--sbt-bradius-24) 0px 0px;
  }

  .sbaccordion__panel-content {
    border-bottom-left-radius: var(--sbt-bradius-24);
    border-bottom-right-radius: var(--sbt-bradius-24);
    border: 0px;
    background: var(--sbt-compt-bg);
    max-height: 100%;
    padding: calculateRem(4px) calculateRem(16px) calculateRem(16px) calculateRem(16px);
  }
  .sbchapter {
    border-bottom: 0px;
    padding: 0 0 0rem;
    margin-bottom: 0rem;
  }
  .sbchapter__item {
    border-radius: var(--sbt-bradius-32);
    padding: calculateRem(8px) calculateRem(16px);
    min-height: calculateRem(48px);
    margin-bottom: calculateRem(16px);
    border: calculateRem(1px) solid var(--sbt-border-chapter);
    box-shadow: none;
    .course-content {
      border-radius: var(--sbt-bradius-32);
      padding-left: calculateRem(24px);
      border: 1px solid var(--sbt-body-bg);
      box-shadow: none;
      margin-bottom: calculateRem(16px);
    }
  }

  .sbchapter__item--active, .sbchapter__item--active:hover, .sbchapter__item:hover {
    border: calculateRem(1px) solid var(--primary-300);
  }

  .sbchapter__title {
    margin-bottom: calculateRem(16px) !important;
    font-size: calculateRem(14px);
  }

  .sbchapter__item__title {
    color: var(--gray-800);
  }

  .sbchapter__item--active .sbchapter__item__title {
    font-weight: normal !important;
  }

  .accordion-item-header-expanded .sbaccordion__panel-header {
    border: 0px;
  }
  .sbaccordion__panel-header {
    border: 0px;
    border-radius: var(--sbt-bradius-24);
  }
  .ui.styled.accordion .accordion .content,
  .ui.styled.accordion .content {
    background: var(--sbt-compt-bg) !important;
    border-radius: 0px 0px var(--sbt-bradius-24) var(--sbt-bradius-24);
  }

  .sbaccordion__panel-header .icon-svg, .help-page__content .panel-heading .icon-svg {
    background: var(--white);
    box-shadow: var(--sbt-box-shadow-3px);
    border-radius: 50%;
  }

  .sbaccordion__panel-header .icon-svg--xs, .help-page__content .panel-heading .icon-svg {
    width: calculateRem(24px);
    height: calculateRem(24px);
    padding: calculateRem(1px) calculateRem(4px) calculateRem(4px) calculateRem(4px);
  }
  .ui.container .cc-player{
    width: calc(100% - 4%);
    margin: 0 auto;
  }
  .content-metadeta {
    border-radius: var(--sbt-bradius-24);
    background: var(--sbt-compt-bg) !important;
  }
  .content-metadeta__content {
    border-bottom: 0px;
    margin: calculateRem(24px) 0px;
  }
  .toc-box-shadow {
    box-shadow:none !important;
    // .sb-slider-pills-container .sb-pills-container {
    //   padding: calculateRem(16px) 0 !important;
    // }
  }
  .training-relevant, .sbt-certified-course, .sb-no-course-found {
    background: var(--sbt-compt-bg) !important;
    border-radius: var(--sbt-bradius-24);
    padding: calculateRem(16px);
  }
  .certified-course__progress {
    border-radius: var(--sbt-bradius-24);
    background: var(--sbt-compt-bg) !important;
  }
  .relative9 {
   @include respond-above(md) {
    position: relative;
    z-index: 2;
   }
  }
  .right-flower-position-adjust-container {
    position: relative;
    z-index: 8;
  }

  .certified-course__progress {
    background: var(--sbt-compt-bg) !important;
    border-radius: var(--sbt-bradius-24);
    padding: calculateRem(24px) !important;
    .fsmall {
      font-size: var(--font-size-md) !important;
      font-weight: bold;
    }
  }

  .sbaccordion {
    &__panel-header {
      border-top-left-radius: var(--sbt-bradius-24);
      border-top-right-radius: var(--sbt-bradius-24);
      background: var(--sbt-compt-bg);
      border: none;
      padding: calculateRem(16px);
      height: calculateRem(48px);
    }
  }

  .sb-toc-credits .sb-bg-color-gray-0 .sbaccordion__panel-header {
    height: calculateRem(56px) !important;
  }

  sb-accordion-header[aria-expanded="false"] {
    .sbaccordion__panel-header {
      border-bottom-left-radius: var(--sbt-bradius-24);
      border-bottom-right-radius: var(--sbt-bradius-24);
    }
  }
  .sb-toc-child-item {
    background: var(--white);
  }
  .side-toc-content.chapter-box {
    background-color: var(--sbt-compt-bg);
  }
  .sb-toc-child-item, .side-toc-content.chapter-box {
    box-shadow: var(--sbt-box-shadow-6px);
    padding: calculateRem(16px);
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: calculateRem(16px);
    border-radius: var(--sbt-bradius-24);
    .toc-child-item, .child-content-padding {
        padding: calculateRem(16px) calculateRem(8px);
        background: var(--white);
        border-radius: calculateRem(24px);
        box-shadow: var(--sbt-box-shadow-6px);
        margin-bottom: calculateRem(16px);
      }
  }
  // Assesment Player

  .back-btn-container, .textbook-container {
    background: var(--sbt-compt-bg) !important;
  }

  .back-btn-container, .textbook-container {
    padding: 0 calculateRem(16px);
  }

  .back-btn-container {
    margin: calculateRem(16px) 2% 0px 2%;
    border-radius: var(--sbt-bradius-24) var(--sbt-bradius-24) 0px 0px;
  }

  .textbook-container {
    border-radius: 0px 0px var(--sbt-bradius-24) var(--sbt-bradius-24);
    margin: 0 2% calculateRem(24px) 2%;
  }

//   .cc-player__list .main-side-toc-content, .sb-toc-credits {
//     .sbaccordion {
//       box-shadow: var(--sbt-box-shadow-6px) !important;
//     }
//   }

  .cc-player__list {
    border-radius: var(--sbt-bradius-24);
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none;
    // padding: calculateRem(16px) !important;

    .sb-grade-pills-container {
        padding: calculateRem(24px) calculateRem(16px) !important;
        border-radius: calculateRem(24px);
    }

    .main-side-toc-content {
      box-shadow: none !important;
      max-height: 100%;
      overflow-y: inherit;

      .sbaccordion {
        .sbaccordion__panel-header, .sbaccordion__panel-content {
          background: var(--sbt-compt-bg) !important;
        }
        .sbchapter {
          background: var(--white);
          padding: calculateRem(16px) calculateRem(8px);
          border-radius: calculateRem(24px);
          box-shadow: var(--sbt-box-shadow-6px) !important;
          margin-bottom: calculateRem(16px);
        }

      }

    }
  
    .main-side-toc-content, .sb-toc-credits {
      margin-top: calculateRem(16px);
    }

    .sb-toc-credits {
        .sbaccordion__panel-header, .sbaccordion__panel-content {
          background: var(--sbt-compt-bg) !important;
        }
      }

    .sb-toc-credits .credits-section {
      padding: 0;
      word-break: break-word;
    }
    .sb-slider-pills-container .sb-grade-pills-container {
      background: var(--sbt-compt-bg) !important;
    }
   
    h5 {
      padding: 0 calculateRem(16px) calculateRem(16px) 0 !important;
    }
  }
  
  .sb-course-details .sbt-certified-course {
    .certified-course__certificate {
      background-color: inherit;
    }
  }

  .sb-no-course-found {
    border: none;
  }

  .sbt-home-search-component .sb-grid .sb-card {
    width:auto;
  }

  .popup-content {
    width: calculateRem(896px) !important;
  }

  app-batch-card .link.cards {
    width: 100%;
  }

  .cc-player__border-fix {
    border-top-left-radius: calculateRem(24px);
    border-top-right-radius: calculateRem(24px);
    padding-top:calculateRem(16px);
    margin-top:calculateRem(16px);
  }

  .sb-pageSection-content .slick-slider .slick-track .slick-slide .sb--card {
    width: calculateRem(320px);
  }
  
  app-usage-reports .sb-workspace-bg .sb-sidebar-menu {
    position: inherit !important;
  }

  .sbt-page-gap{
    padding-top: calculateRem(0px);
  }
  .sbt-dropdown-profile-area, app-language-dropdown, .sbt-dropdown-language {
    @include respond-below(sm) {
      width: 100%;
      margin-bottom: calculateRem(8px);
    }
  }
  .ui.styled.accordion, .ui.styled.accordion .accordion {
    background:var(--sbt-compt-bg);
  }
  .header .title {
    font-weight: normal !important;
    color: var(--gray-800) !important;
  }
  .sb-slider-pills-container .sb-pills-container .pill {
    white-space: normal !important;
  }
  .sb-pageSection-header {
    margin: 8px 0 0px 0;
  }
  .sb-content__bar {
    background: none;
  }
  .sb-rating.ui.star.rating .active.icon, .sb-rating.ui.star.rating .icon.selected {
    color: var(--primary-color) !important;
  }
  app-view-all .sbt-filter {
    margin-top: calculateRem(-32px);
  }
  .reports-back-btn{
    width: 100%;
    margin: 1rem 0 0 0;
  }
  .reports-content-header{
    padding: 1rem;
    width: 100%;
    margin: 0;
  }
  .sb-new-theme-accordion {
    &.ui.styled.accordion .title{
      padding:calculateRem(24px) !important;
    }
   .sb-accordion-title{
     font-size:calculateRem(16px) !important;
   }
   .sb-accordion-content{
     padding-top:0 !important;
   }
  }
  .sb-update-data-settings{
    .sb-radio-btn-checkbox label:after {
      left:calculateRem(3px);
      top: calculateRem(3px);
      height: calculateRem(10px);
      width: calculateRem(10px);
   }
  }
  .sb-modal .sb-bulk-upload-btn{
    line-height: 1.5rem;
  }
  .sb-sideview-tab-container .report__header .sb-last-update-status {
    margin-right: calculateRem(16px);
  }
  .sb-graph-section{
    border-radius: var(--sbt-bradius-24) !important;
  }
  .sbt-report-tabs-panel{
    border-radius: var(--sbt-bradius-24) var(--sbt-bradius-24) 0px 0px !important;
  }
  .sbt-report-btns-panel{
    border-radius: 0 0 var(--sbt-bradius-24) var(--sbt-bradius-24) !important;
  }
  #report-summary{
    app-report-summary{
      .ui.message{
        border-radius: var(--sbt-bradius-24);
      }
    }
  }
}

.data-labels{
  color:var(--gray-400);
  .sbt-class-bar .sb-slider-pills-container .sb-pills-container {
    padding: 0 0 0 0 !important;
  }
}

html[layout='joy'][dir='rtl'] {
  .sb-modal .ui.modal .close{
    left: calculateRem(12px) !important;
    right: auto;
  }
}

html[layout='joy'] {
    .certificate-bg {
      background: #F2F2EA !important;
      border-radius: calculateRem(24px) !important;
    }
  .sb-browse-btn{
    height: 2.1rem;
    border: 2px solid #7ab4ee;
    color: #7ab4ee;
    font-weight: bold;
    background: #edf4f9;
    }
  }

  html[layout='joy'] .sb-btn-nolayer {
    height: 2.0rem !important;
    box-shadow: none;
}
html[layout='joy'] {
  .sb-desktop-content-manager{
    .sb-single-pannel-accordion-heading{
      border-radius: var(--sbt-bradius-24) var(--sbt-bradius-24) 0 0;
      background-color: #5630DC;
    }
  }
  .ui.styled.accordion.sb-single-pannel-accordion.sb-desktop-content-manager{
    box-shadow: none;
    background: none;
    border-radius: var(--sbt-bradius-24) var(--sbt-bradius-24) 0 0;
    background-color: var(--white);
    box-shadow: calculateRem(5px) calculateRem(5px) calculateRem(2px) 0 rgba(0,0,0,0.1) !important;
  }
  .sb-desktop-content-manager.ui.styled.accordion .accordion{
    box-shadow: calculateRem(5px) calculateRem(5px) calculateRem(2px) 0 rgba(0,0,0,0.1);
    border-radius: var(--sbt-bradius-24) var(--sbt-bradius-24) 0 0;
  }
  .sb-desktop-content-manager.ui.styled.accordion .content{
    border-radius: 0;
  }
  .sb-desktop-library-card .sb--card .card-hover{
    top: initial;
    height: 5rem;
    opacity: 1;
  }
  .about-page {
    width: calc(100% - 4%);
    margin: 0 auto;
  }
}