html[layout='joy'] {
  --sbt-body-bg: #F3F3E5;
  --sbt-body-bg2: #E9E8D9;
  --sbt-compt-bg:var(--sbt-body-bg);
  --sbt-container-w:calc(100% - 8%);
}
.sbt-container {
  padding: 0 4%;
}
.sbt-header-tool-bar {
    background: none !important;
}
.sbt-header-menu-bar {
    @include respond-above(sm) {
        height:calculateRem(88px) !important;
    }
}
.sbt-header-menu-extension {
    padding: calculateRem(16px) calculateRem(16px) calculateRem(16px) calculateRem(32px);
    border-radius: calculateRem(40px) calculateRem(40px) 0px 0px;
  }
  .sbt-header-menu {
    @include respond-above(sm) {
      position: relative !important;
      left: inherit !important;
      right: inherit !important;
      top: inherit !important;
      transform: inherit !important;
    }
  }
.sbt-filter { 
    @include respond-above(md) {
        margin-top: calculateRem(-32px) !important;
      }
}
.sbt-filter-switcher {
    background-color: var(--primary-color) !important;
    color: var(--white) !important;
}
.sbt-header.sbt-fluid-header-bg {
  background: none !important;
}
.sbt-fluid-header-bg {
  display: none;
  background: none;

  @include respond-above(sm) {
    background: linear-gradient(to right, var(--sbt-body-bg) 0%, var(--sbt-body-bg) 35%, var(--sbt-body-bg2) 60%, var(--sbt-body-bg2) 84%, var(--sbt-body-bg2) 100%) !important;

    html[dir="rtl"] & {
      background: linear-gradient(to left, var(--sbt-body-bg) 0%, var(--sbt-body-bg) 35%, var(--sbt-header-bg) 60%, var(--sbt-header-bg) 84%, var(--sbt-header-bg) 100%) !important;
    }
  }
}

app-landing-section div.sbt-fluid-header-bg {
  border-top-right-radius: calculateRem(40px);
}

  .sbt-page-header {
    height: calculateRem(118px);
    overflow: inherit;
    gap:0px;
  }
  .sbt-theme-bg {
    background: var(--sbt-page-header-bg);
  }

  .sbt-page-header-content {
    height: unset;
    padding-bottom: unset;
    h1 {
        @include respond-above(sm) {
            font-size: calculateRem(24px) !important;
          }
      }
  }
  .sbt-page-content {
    .second_panel_layout {
      margin-top:calculateRem(-116px);
    }
  }

  img.sbt-page-header-img {
    position: absolute;
    top: calculateRem(-76px);
    right: calculateRem(64px);
    z-index: 2;
  
    html[dir="rtl"] & {
      left: calculateRem(64px);
    }
  }


html[layout='joy'] {
  // .ui.container, .ui.grid.container {
  //   background: var(--sbt-body-bg2);
  //   border-radius: 2.5rem 2.5rem 0px 0px;
  //   padding-top: 32px;
  // }
  .ui.container.sb-toc-view-container, .content-header.cc-player__content-header ~ .ui.container {
    background: var(--sbt-body-bg2);
    border-radius: 2.5rem 0px 0px 0px;
    padding-top: 32px;
  }

  .cc-player__btn-back > .ui.container, .cc-player__btn-back > .ui.grid.container, .cc-player__content-header > .ui.container, .cc-player__content-header > .ui.grid.container, .help-page__header > .ui.container, .help-page__header > .ui.grid.container {
    background: var(--sbt-theme-bg) !important;
  }

  .cc-player__content-header {
    min-height: auto;
    & > .ui.container {
      padding: 16px;
    }
  }
  .cc-player__btn-back > .ui.container {
    border-radius: 2.5rem 2.5rem 0px 0px;
  }
  .cc-player__content-header > .ui.container {
    border-radius: 0px 0px 0px 0px;
  }

  .cc-player__btn-back,.cc-player__content-header, .help-page__header {
    margin: 0 auto !important;
    padding: 0 0rem !important;
  }
  .content-header__content {
    padding: 0px 1.5rem 1.5rem 1.5rem !important;
  }
}

.sb-bg-color-white.back-btn-container.cc-player__btn-back {
  & > .ui.container {
    padding-top: 0px;
  }
}
.textbook-container.cc-player__content-header {
  & > .ui.container {
    border-radius: 0rem 0rem 0px 0px;
    padding-top:0px;
    .textbook.py-16.sb-g.cc-player {
      padding:1rem 1rem;
    }
  }
}



.new-layout-footer {
  padding-top: calculateRem(0px);
  background: var(--sbt-body-bg); //var(--sbt-body-bg2);
}

.sbt-theme-right-flower,.sbt-theme-bg-img {
  z-index: 1;
}

