<div class="ui card margin-bottom-15" ng-controller="NoteCtrl" ng-init="ngInit(); initializeUIComponent()" ng-if="showNoteCard">
    <div class="content">
        <div class="header">
            <span>My Notebook</span>
            <a class="ui right floated font-dark-blue" ui-sref="note">View All</a>
        </div>
        <div class="description">
            <div class="ui list"  ng-repeat="note in notesList| orderBy : '-lastUpdatedOn'  | limitTo: quantityOfNotes  track by $index">
                <div class="item">
                    <div class="content">
                        <span class="ui tiny header font-size-small">
                            <span class="font-dark-blue mouse-pointer " ng-click="update.showUpdateNote = !update.showUpdateNote; update.metaData = {};update.metaData = note; showUpdateNoteModal()"> {{ note.title | limitTo: 15 }}&nbsp;
                                <i ng-show="note.title.length > 15" class="ellipsis horizontal icon popup-button" data-content="{{note.note}}"
                                   data-variation="wide"></i> 

                            </span>
                            <span class="ui time right floated">{{note.lastUpdatedOn| dateFilterXTimeAgo}}</span>
                        </span>
                        <div class="description">
                            <span> {{ note.note | limitTo: 70 }}&nbsp;
                                <i ng-show="note.note.length > 70" class="ellipsis horizontal icon popup-button" data-content="{{note.note}}"
                                   data-variation="wide"></i> 
                            </span>
                        </div>
                    </div>
                    <div ng-if="showAddNoteButton || $index < quantityOfNotes-1 " class="ui clearing divider"></div>
                </div>
            </div>
            <div class="ui top attached button font-dark-blue" tabindex="0" ng-if="showAddNoteButton"
                 ng-click="add.showCreateNote = !add.showCreateNote;  showAddNoteModal()">
                ADD A NOTE
            </div>
        </div>
    </div>

    <div ng-if="add.showCreateNote">
        <div class="ui modal create">
            <div class=" ui segment margin-top-10">
                <div class=" margin-bottom-15">
                    <span class="ui header">Take a note</span>
                    <h5 class="ui right floated basic icon circular button" ng-click="add.showCreateNote = !add.showCreateNote; closeAddNoteModal()">
                        <i class="ui remove icon"></i>
                    </h5>
                </div>
                <div class="ui fluid icon input">
                    <input type="text" placeholder="Title" name="title" ng-model="metaData.title" />
                </div>
                <div class="editor">
                    <pagedown-editor content="metaData.note" show-preview="false"></pagedown-editor>
                </div>
                <button class="ui primary right floated button margin-bottom-15 margin-top-10" type="submit" ng-click="createNote(metaData)" ng-disabled="!metaData.title || !metaData.note" tabindex="4">Save</button>
                <button class="ui secondary right floated button margin-bottom-15 margin-top-10" type="submit" ng-click="metaData.title = ''; metaData.note = '';">Clear</button>
            </div>
        </div>
    </div>

    <div ng-if="update.showUpdateNote">
        <div class="ui modal update">
            <div class=" ui segment margin-top-10">
                <div class=" margin-bottom-15">
                    <span class="ui header">{{update.metaData.title}}</span>
                    <!--<span  class="ui right floated secondary button" ng-click="update.showUpdateNote = false; closeUpdateNoteModal()">Close-->
                    <h5 class="ui right floated basic icon circular button" ng-click="update.showUpdateNote = false; closeUpdateNoteModal()">
                        <i class="ui remove icon"></i>
                    </h5>
                </div>
                <div class="ui fluid icon input">
                    <input type="text" placeholder="Title" name="title" ng-model="update.metaData.title" />
                </div>
                <div class="editor">
                    <pagedown-editor content="update.metaData.note" show-preview="false"></pagedown-editor>
                </div>
                <button class="ui primary right floated button margin-bottom-15 margin-top-10" type="submit" ng-click="updateNote(update.metaData)" 
                        ng-disabled="!update.metaData.title || !update.metaData.note" tabindex="4">Update</button>
            </div>
        </div>

    </div>
</div>