@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field:last-child {
  margin-left: 0;
  margin-top: 0;
  text-align: left;
  padding: 0px;
  padding-right: calculateRem(16px);
}

.sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field {
  margin-bottom: calculateRem(24px);
}

.sb-filter-label {
  border-bottom: 0px;
  width: 100%;
  .sb-label-value {
    border-radius: calculateRem(24px);
    padding: calculateRem(8px) !important;
    background-color: var(---rc-e9e8d9) !important;
    box-shadow: calculateRem(4px) calculateRem(4px) calculateRem(3px) 0 var(--gray-100) !important;
    margin-bottom: calculateRem(4px);
    margin-right: calculateRem(4px);
   
  }
  .sb-label-name {
    font-size: calculateRem(16px);
  }
}

.sb-prominent-filter {
 background: var(---rc-e9e8d9) !important; 
}

.errorMessage{
  color:var(--ck-color-base-error);
  margin-top: 0.625rem;
}

::ng-deep{
  .modals.dimmer .ui.scrolling.modal {
    margin: 3.5rem auto auto !important;
  }
}
.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
.select-container{
  margin-top:calculateRem(10px);
}
