<form [formGroup]="filtersFormGroup" class="sb-form" [ngClass]="{'hide': hideElements}"
  *ngIf="showFilters && !hideElements">
  <div content>
    <div>
      <div class="sb-prominent-filter-container pb-0 d-flex flex-w-wrap flex-ai-center reports-form-fields">
        <div class="sb-prominent-filter-field mr-8" *ngFor="let filter of filters">
          <label>{{filter.displayName}}</label>
          <div *ngIf="filter.controlType === 'multi-select'">
            <app-material-auto-complete name="mat-ms-auto" [dynamicplaceholder]="filter.displayName" [dropdownList]="filter.options"
              [selectedFilters]="getSelectedData(filter.reference)"
              (selectionChanged)="autoCompleteChange($event,filter.reference)" [dependency]="filter.dependency" [checkFilters]="selectedFilters" display-key="name" (errorOutput)="showErrorMessage($event)">
            </app-material-auto-complete>

          </div>
          <div *ngIf="filter.controlType === 'select'">

            <input matInput type="text" [(ngModel)]="filterQuery" (keyup.enter)="chooseOption()"
              placeholder="Select {{filter.displayName | lowercase}}" aria-label="Number" matInput [formControlName]="filter.reference"
              [matAutocomplete]="auto2">
            <mat-autocomplete #auto2="matAutocomplete" class="test-class">
              <mat-option *ngFor="let option of getFilters(filter.options)" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>


          </div>
          <div *ngIf="filter.controlType === 'date'">
            <input appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject"
              [telemetryInteractEdata]="setTelemetryInteractEdata('date-filter')"
              [telemetryInteractCdata]="telemetryCdata" #datePickerForFilters class="sb-form-control" type="text"
              placeholder="Select {{filter.displayName | lowercase}}" ngxDaterangepickerMd [showCustomRangeLabel]="true"
              [locale]="datePickerConfig" [alwaysShowCalendars]="true" [ranges]="ranges" [linkedCalendars]="true"
              [minDate]="pickerMinDate" [maxDate]="pickerMaxDate" (change)="getDateRange($event,filter.reference)" />
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div *ngIf="errorMessage" class="errorMessage">*{{errorMessage}}</div>
<div class="sb-filter-label pt-16 pb-8" *ngIf="selectedFilters && filterType=='report-filter'">
  <div *ngFor="let key of loadash.keys(selectedFilters)" class="d-inline-flex flex-w-wrap pr-10">

    <span *ngIf="checkFilterReferance(key)">
      <span class="sb-label-name mb-4">{{key}}:</span>
      <span class="date-range-label" *ngIf="selectedFilters[key]?.length>0">
        {{selectedFilters[key][0]}} - {{selectedFilters[key][selectedFilters[key].length-1]}}
      </span>
    </span>
    <span *ngIf="!checkFilterReferance(key)">
      <span class="sb-label-name mb-4">{{key}}:</span><span class="sb-label-value"
        *ngFor="let val of getFiltersValues(selectedFilters[key])">{{val}}
      </span>
    </span>
  </div>
</div>