@import "mixins/mixins";
@import "pages/sign_in_up";
.fullpage {
  ::ng-deep {
    .ui.fullscreen.modal > .close {
      opacity: 0;
      pointer-events: none;
    }
  }
}
.sb-merged-account-body-header{	
  font-size: calculateRem(18px);	
}
.sb-list-items{
   text-align: left;
    list-style-type: initial;
    padding-left: calculateRem(16px);
    line-height: normal;
}