@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
@use "pages/sign_in_up" as *;
.sb-list-items{
   text-align: left;
    list-style-type: initial;
    padding-left: calculateRem(16px);
    line-height: normal;
}

.signup-background.signup-background--sso {
    position: fixed;
    z-index: 9999;
}