<div class="signup-background signup-background--sso">
  <div class="fullpage-background-image">
    <div class="container-wrapper">
    <div class="sb-merged-account-content text-center">
      <img alt="{{tenantName}}" src="{{logo}}" class="sb-certificatePage-logo"/>
      <div class="title text-center my-24">
        {{resourceService.frmelmnts?.lbl?.mergeAccount}}</div>
    </div>
    <div class="text-left">
      <p
        class="py-8 m-0">{{resourceService.messages?.imsg?.m0070 | interpolate:'{instance}': instance | interpolate:'{identifierValue}':identifierValue }}:
      </p>
      <ul class="m-0 sb-list-items">
          <li class="mb-8">
            {{resourceService.messages?.imsg?.m0063}}
          </li>
          <li class="mb-8">
            {{resourceService.messages?.imsg?.m0064}}
          </li>
        </ul>
        <p class="">{{resourceService.messages?.imsg?.m0062}} {{resourceService.messages?.imsg?.m0141 | interpolate:'{instance}': instance}}</p>
    </div>
    <div class="d-flex mt-40">
      <button class="sb-btn sb-btn-outline-primary sb-btn-md width-100 mr-8 mb-auto"
              appTelemetryInteract [telemetryInteractCdata]="telemetryCdata"
              [telemetryInteractEdata]="{id: 'sso-create-user', type: 'click', pageid: 'user-migrate'}"
               tabindex="0" (click)="createNewUser()">{{resourceService.frmelmnts?.btn?.createNew}}
      </button>
      <button class="sb-btn sb-btn-primary sb-btn-md width-100 ml-8 mb-auto"
              appTelemetryInteract [telemetryInteractCdata]="telemetryCdata"
              [telemetryInteractEdata]="{id: 'sso-user-migrate', type: 'click', pageid: 'user-migrate'}"
              tabindex="0" (click)="migrateUser()">{{resourceService.frmelmnts?.btn?.merge}}
      </button>
    </div>
  </div>
  </div>
</div>