<div class="mat-dpdn-autocomplete-container">
    <div class="select-container">
        <mat-form-field class="select-container-form-field">
            <input matInput (click)="DisplayDropdown()" readonly name="selectedDpdwnInput"
            [value]="_selectedDpdwnInput ? _selectedDpdwnInput : ''" />
        </mat-form-field>
    </div>
    <div class="dropdown-list-container" *ngIf="displayDropdown">
            <input 
              matInput
              #autocompleteInput
              placeholder="Search" 
              autofocus
            />
        <ul>
            <li *ngFor="let listItem of dropdownList | autocomplete: {filterKey: autocompleteInput.value}">
                <mat-checkbox [checked]="isChecked(listItem)" 
                (change)="DropdownValueSelected(listItem)">{{ listItem }}</mat-checkbox>
            </li>
        </ul>
    </div>
</div> 