@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.sb-autocomp-dropdown {
  position: relative;
  width: 100%;
  min-width: calculateRem(280px);

  &__list {
    position: absolute;
    top: 100%;
    background: var(--sb-dropdown-menu-bg);
    border-radius: calculateRem(4px);
    z-index: 1;
    width: 100%;
    max-height: calculateRem(280px);
    overflow: auto;
    box-shadow: 0 calculateRem(2px) calculateRem(3px) 0 rgb(34 36 38 / 15%);

    ::ng-deep {
      ul {
        padding-left: calculateRem(16px);

        li {
          margin-bottom: calculateRem(8px);
        }
      }

      .mat-input-element.mat-form-field-autofill-control {
        padding: calculateRem(8px) calculateRem(24px);
        margin-top: calculateRem(8px);
        border-radius: calculateRem(24px);
      }

      .mat-checkbox-checkmark-path {
        stroke: var(--sb-dropdown-menu-bg) !important;
      }
    }
  }

  ::ng-deep {
    .mat-form-field {
      width: 100%;
      height: calculateRem(32px);
      padding: 0 calculateRem(20px);
      border: calculateRem(1px) solid var(--gray-100);
      background: var(--sb-dropdown-menu-bg);
      border-radius: calculateRem(4px);

      &.mat-form-field-appearance-legacy {
        .mat-form-field-wrapper {
          padding-bottom: 0;
        }

        .mat-form-field-wrapper,
        .mat-form-field-flex {
          height: 100%;
        }

        .mat-form-field-flex {
          align-items: center;
        }

        .mat-form-field-underline {
          height: 0;
        }

        .mat-form-field-infix {
          padding: 0;
          width: 100%;
          border: none;
        }
      }

    }

    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: var(--primary-color);
    }
  }
}

::ng-deep {
  html[layout="joy"] .sb-autocomp-dropdown .mat-form-field, .sb-autocomp-dropdown__list {
    border-radius: calculateRem(24px);
  }
  html[data-mode="darkmode"] .sb-mat__checkbox.sb-mat__checkbox--primary .mat-checkbox-frame {
    border-color: var(--gray-100);
  }
  .sb-autocomp-dropdown__list {
    top: 0px !important;
  }
  .sb-autocomp-dropdown__list ul {
    list-style: none !important
  }
  .sb-autocomp-dropdown .mat-form-field {
    height: 2.5rem !important;
  }
}

