@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.sb-autocomp-dropdown {
  position: relative;
  width: 100%;
  min-width: calculateRem(280px);

  &__list {
    position: absolute;
    top: 0;
    background: var(--sb-dropdown-menu-bg);
    border-radius: calculateRem(4px);
    z-index: 1;
    width: 100%;
    max-height: calculateRem(280px);
    overflow: auto;
    box-shadow: 0 calculateRem(2px) calculateRem(3px) 0 rgb(34 36 38 / 15%);

    ::ng-deep {
      ul {
        padding-left: calculateRem(16px);

        li {
          margin-bottom: calculateRem(8px);
        }
      }

      .mat-mdc-input-element.mat-form-field-autofill-control {
        padding: calculateRem(8px) calculateRem(24px);
        margin-top: calculateRem(8px);
        border-radius: calculateRem(24px);
      }
      /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
      .mat-checkbox-checkmark-path {
        stroke: var(--sb-dropdown-menu-bg) !important;
      }
    }
  }

  ::ng-deep {
    .mat-mdc-form-field {
      width: 100%;
      height: 3rem;
      padding: 0 1.25rem;
      border: .0625rem solid var(--gray-100);
      border-radius: .25rem;
      border-radius: 0;
      border: none;
      padding: 0;
      margin: 0;

      &.mat-form-field-appearance-legacy {
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        .mat-form-field-wrapper {
          padding-bottom: 0;
        }
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        .mat-form-field-wrapper,
        .mat-form-field-flex {
          height: 100%;
        }
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        .mat-form-field-flex {
          align-items: center;
        }
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        .mat-form-field-underline {
          height: 0;
        }
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        .mat-form-field-infix {
          padding: 0;
          width: 100%;
          border: none;
        }
      }

    }
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: var(--primary-color);
    }
  }
}

::ng-deep {
  html[data-mode="darkmode"] .sb-mat__checkbox.sb-mat__checkbox--primary .mat-checkbox-frame {
    border-color: var(--gray-100);
  }
  .sb-autocomp-dropdown__list {
    .cdk-text-field-autofill-monitored:not(:-webkit-autofill){
      border-radius: 1.5rem;
      border: .0625rem solid var(--gray-100);
      width: 100%;
      padding: 0.5rem 1.5rem;
      margin-top: 0.5rem;
    }
  }
  .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control{
    padding: 0;
    margin: 0;
  }
  .sb-autocomp-dropdown__list ul {
    list-style: none !important
  }
}

