@import './../assets/styles/themes.scss';
@import "./../assets/styles/themes.scss-universal.scss";

.header-block {
  display: none;
}


/* theme */
::ng-deep {
  .mat-menu-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

.example-spacer {
  flex: 1 1 auto;
}

}
.theme-check {
	color: #333;
	font-size: 1.5rem;
}
.theme-selector-is-dark {
	font-weight: bold;
	font-size: 1.2em;
}
