<div class="loginform__content" [appTelemetryImpression]="telemetryImpression">
    <div class="loginform__content__header">
        <img src="assets/images/{{tenantInfo.logo}}" alt={{tenantInfo.titleName}}>
    </div>
    <!-- Slides -->
    <div class="d-flex">
        <div class="swiper-slide">
            <label
                class="swiper-slide__title p-0 m-0 sb-color-primary">{{resourceService?.messages?.imsg?.m0075}}</label>
            <div class="swiper-slide__para pt-8">{{resourceService?.messages?.imsg?.m0074}} </div>
            <div class="d-flex flex-dc fields-selection">
                <div class="sb-field">
                    <label class="d-flex"> {{resourceService?.frmelmnts?.lbl?.selectState}} :</label>
                    <select class="ui dropdown selection" (change)="onOptionChanges('state')" [(ngModel)]="selectedState">
                        <option [ngValue]="undefined" hidden selected>{{resourceService?.frmelmnts?.lbl?.selectState}}</option>
                        <option [ngValue]="state"  *ngFor="let state of stateList"> {{state?.name}}</option>
                      </select>
                </div>
                <div class="sb-field" *ngIf="districtList.length">
                    <label class="d-flex"> {{resourceService?.frmelmnts?.lbl?.profile?.selectDistrict}} : </label>
                    <select class="ui dropdown selection" (change)="onOptionChanges('district')" [(ngModel)]="selectedDistrict">
                        <option [ngValue]="undefined" hidden selected>{{resourceService?.frmelmnts?.lbl?.profile?.selectDistrict}}</option>
                        <option [ngValue]="district" *ngFor="let district of districtList"> {{district?.name}}</option>
                      </select>
                </div>
            </div>
        </div>
    </div>

    <div class="bullets-container">
        <div class="circle active"></div>
        <div class="circle update"></div>
    </div>
    <button type="button" [disabled]="disableContinueBtn" class="sb-btn sb-btn-primary sb-btn-sm"
        (click)="handleSubmitButton()">
        {{continueLabel}}
        <span class='arrow-icon'><i class="arrow right icon"></i></span></button>
</div>