
 @import "variables";
 @import 'mixins/mixins';
@import 'components/onboarding';

.ui.search.selection.dropdown>input.search {
    line-height: 1.21428571em;
    padding: .67857143em 2.1em .67857143em 1em;
    padding-left: 8px;
}