@import "mixins/mixins";

.w-300 {
  width: calculateRem(300px);
}

.download-file-container {
  background-color: var(--gray-100);
  height: calculateRem(48px);
}

a {
  &.download-file {
    text-decoration: underline;
  }
}

.course-participants-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.course-completed:last-child {
  flex: unset;
}

.download-report.sb-btn.sb-btn-link:disabled {
  background-color: transparent;
  border: none;
  color: var(--gray-200);
}

.info-outline-img {
  background-image: url(/assets/images/info-outline.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: calculateRem(14px);
  height: calculateRem(14px);
}

.sb-btn-link {
  font-size: calculateRem(16px);
}

::ng-deep {
  .ui.selection.dropdown {
    line-height: 1em;
  }

  .ui.search.dropdown.course-dashboard-select>.text {
    margin: calculateRem(6px) calculateRem(16px) calculateRem(6px) calculateRem(6px);
    // width: 136px;
    // text-overflow: ellipsis;
    // overflow: hidden;
    // white-space: nowrap;
  }

}

@include respond-below(lg) {
  .course-completed:last-child {
    margin-top: calculateRem(8px);
  }
}

@include respond-below(sm) {
  .course-participants-label {
    width: 100%;
    margin-bottom: calculateRem(8px);
  }

  .course-participants-label {
    &:nth-child(3) {
      padding-left: 0 !important;
    }

    &:nth-child(5) {
      padding-left: 0 !important;
      width: 100%;
      margin-bottom: 0;
    }
  }

  [dir=rtl] {
    .course-participants-label {
      &:nth-child(3) {
        padding-right: 0 !important;
      }

      &:nth-child(5) {
        padding-right: 0 !important;
      }
    }
  }
}

.table-headerDashboard {
  color: var(--primary-color);
  font-weight: bold;
}

.CloseButtonFont {
  font-size: 1.5rem !important;
}

.progress-content {
  margin-top: calculateRem(36px);

  @include respond-below(sm) {
    margin-top: 0px;
  }
}

.progress-report-content {
  @include respond-below(sm) {
    flex-direction: column;
  }

  .report-buttons {
    justify-content: flex-end;
    width: 100%;
    margin-top: calculateRem(32px);
  }
}

@media screen and (max-width: 850px) {
  .report-buttons {
    flex-direction: column;
    margin-top: calculateRem(8px);
  }
}
