<sui-modal  class="sb-modal sb-success"
(dismissed)="modal.deny(); showDownloadModal = false;" #modal *ngIf="showDownloadModal">
  <!-- Download report popup-->
  <div class="header">
    <div class="ui grid">
      <div class="eleven wide column">
        <span class="ui header">{{resourceService?.frmelmnts?.instn?.t0060}}</span>
      </div>
    </div>
  </div>
  <!--/Header-->
  <!--Content-->
  <div class="sb-modal-content">
    <p class="meta">{{resourceService?.messages?.stmsg?.m0132}}</p>
  </div>
  <!--/Content-->
</sui-modal>


<!-- Updated code as per new design for semantic datatable-->
<div class="ui container">
  <div class=" ui grid">
    <div class="twelve wide column">
      <div>
        <div class="ui divider"></div>
        <div id="dashoardFiltersHolder" *ngIf="batchlist && batchlist.length > 0">
          <div class="d-flex flex-jc-space-between flex-ai-center" [appTelemetryImpression]="telemetryImpression">
            <div class="d-flex w-300">
              <sui-select class="selection fluid bordered" placeholder="Select batch to see dashboard" [(ngModel)]="selectedOption"
                [options]="batchlist" labelField="name" valueField="id" [isSearchable]="true" #select>
                <sui-select-option *ngFor="let course of select.filteredOptions" [value]="course" (click)="setBatchId(course.id);"
                  appTelemetryInteract [telemetryInteractObject]="interactObject" [telemetryInteractEdata]="{id:'batchSelection',type:'click',pageid:'course-progress-dashboard'}" [telemetryInteractCdata]="[{ 'type': 'batch', 'id': course.id}]">
                </sui-select-option>
              </sui-select>

            </div>
            <div class="d-flex">
              <a class="ui item basic icon circular float-ContentRight" data-tooltip="Close  Dashboard"
                appTelemetryInteract [telemetryInteractObject]="interactObject" [telemetryInteractEdata]="{id:'closeDashboard',type:'click',pageid:'course-progress-dashboard'}">
                <i (click)='redirect()' class="ui remove icon CloseButtonFont"></i>
              </a>
            </div>
          </div>
          <div class="d-flex my-20" *ngIf="dashboarData">
            <span class="course-start-dt black-divider pr-15">
              <b *ngIf="dashboarData.startDate">
                {{resourceService?.frmelmnts?.lbl?.batchstartdate}}&nbsp;:
              </b>
              &nbsp;&nbsp;{{dashboarData.startDate | dateFormat :'DD/MM/YYYY' }}
            </span>

            <span  class="course-end-dt black-divider px-15">
              <b>{{resourceService?.frmelmnts?.lbl?.batchenddate}}&nbsp;:
              </b>
            &nbsp;&nbsp;<span  *ngIf="dashboarData.endDate" >{{dashboarData.endDate | dateFormat :'DD/MM/YYYY'}}</span>
              <span  *ngIf="!dashboarData.endDate" >-</span>
            </span>

            <span *ngIf="dashboarData.count" class="course-participants black-divider px-15">
              <b>{{resourceService?.frmelmnts?.lbl?.participants}}&nbsp;:
              </b>  &nbsp;&nbsp; {{dashboarData.count}}
            </span>
            <span *ngIf="dashboarData.completedCount!==null" class="course-completed pl-15">
              <b>{{resourceService?.frmelmnts?.lbl?.completedCourse}}&nbsp;:
              </b>
              &nbsp;&nbsp;{{dashboarData.completedCount}}
            </span>
            
            <span class="course-completed ml-auto" *ngIf="dashboarData.reportUpdatedOn && dashboarData.reportUpdatedOn!==null">
              <span class="font-italic">{{resourceService?.frmelmnts?.lbl?.reportUpdatedOn}}</span>&nbsp;:&nbsp;{{dashboarData.reportUpdatedOn | dateFormat :'DD/MM/YYYY'}}
            </span>
          </div>
        </div>
        <div class="sb-toaster sb-toast-info sb-mw-100 sb-toast-sm-padding" *ngIf="dashboarData &&  dashboarData.count>10000" >
          <div class="sb-toast-body">
            <div class="sb-toast-texts">
              <div class="sb-toast-message">{{resourceService?.frmelmnts?.instn?.t0085}}</div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-jc-space-between flex-ai-center download-file-container mt-15 mb-0 mx-0" *ngIf="dashboarData">
          <div class="d-flex">
            <div class="four wide column pl-30">
              <div class="ui category search float-ContentRight">
                <div class="ui icon input">
                  <input (keyup)="keyup(searchText)" class="search-course-data" type="text" title="Search" class="" [(ngModel)]="searchText"
                    placeholder="{{resourceService?.frmelmnts?.lbl?.searchUserName}} " autocomplete="off" />
                  <i class="search icon"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <a href="javascript:void(0);" class="ui download-file right floated text-decoration-underline pr-30"
              (click)="downloadReport();" *ngIf="showDownloadLink" appTelemetryInteract [telemetryInteractObject]="interactObject"
              [telemetryInteractEdata]="{id:'download',type:'click',pageid:'course-progress-dashboard'}">
              {{resourceService?.frmelmnts?.instn?.t0065}}</a>
          </div>
        </div>
        <div class="sb-data-table-container" *ngIf="batchlist && batchlist.length > 0 && queryParams.batchIdentifier && !showLoader && !showWarningDiv">
          <table id="CourseStatsTable" class="ui celled table selectable sb-data-table mt-10" cellspacing="0">
            <thead class="sb-data-table-header">
              <tr>
                <th>
                  <div class="cursor-pointer" (click)="setOrder('username')"
                    appTelemetryInteract [telemetryInteractObject]="interactObject" [telemetryInteractEdata]="{id:'sortByUsername',type:'click',pageid:'course-progress-dashboard'}"  [telemetryInteractCdata]="telemetryCdata">
                    {{resourceService?.frmelmnts?.lbl?.dashboardsortbyusername}}
                    <span class="primary-color" [hidden]="reverse" style="float:right">
                      <i class="sort down icon fs-1" ></i>
                    </span>
                    <span class="primary-color" [hidden]="!reverse" style="float:right">
                      <i class="sort up icon fs-1" ></i>
                    </span>
                  </div>
                </th>
                <th>
                  <div  class="cursor-pointer" (click)="setOrder('orgName')"
                    appTelemetryInteract [telemetryInteractObject]="interactObject" [telemetryInteractEdata]="{id:'sortByOrganization',type:'click',pageid:'course-progress-dashboard'}"  [telemetryInteractCdata]="telemetryCdata">
                    {{resourceService?.frmelmnts?.lbl?.orgname}}
                    <span class="primary-color" [hidden]="reverse" style="float:right">
                      <i class="sort down icon fs-1" ></i>
                    </span>
                    <span class="primary-color" [hidden]="!reverse" style="float:right">
                      <i class="sort up icon fs-1" ></i>
                    </span>
                  </div>
                </th>
                <th>
                  <div  class="cursor-pointer">
                    {{resourceService?.frmelmnts?.lbl?.mobileNumber}}
                  </div>
                </th>
                <th>
                  <div  class="cursor-pointer" (click)="setOrder('enrolledOn')"
                    appTelemetryInteract [telemetryInteractObject]="interactObject" [telemetryInteractEdata]="{id:'sortByEnrolledOn',type:'click',pageid:'course-progress-dashboard'}"  [telemetryInteractCdata]="telemetryCdata">
                    {{resourceService?.frmelmnts?.lbl?.dashboardsortbyenrolledon}}
                    <span class="primary-color" [hidden]="reverse" style="float:right">
                      <i class="sort down icon fs-1" ></i>
                    </span>
                    <span class="primary-color" [hidden]="!reverse" style="float:right">
                      <i class="sort up icon fs-1" ></i>
                    </span>
                  </div>
                </th>
                <th class="table-headerDashboard">
                  <div class="cursor-pointer" (click)="setOrder('progress')"
                    appTelemetryInteract [telemetryInteractObject]="interactObject" [telemetryInteractEdata]="{id:'sortByStatus',type:'click',pageid:'course-progress-dashboard'}"  [telemetryInteractCdata]="telemetryCdata">
                    {{resourceService?.frmelmnts?.lbl?.dashboardsortbystatus}}
                    <span class="primary-color" [hidden]="reverse" style="float:right">
                      <i class="sort down icon fs-1" ></i>
                    </span>
                    <span  class="primary-color" [hidden]="!reverse" style="float:right">
                      <i class="sort up icon fs-1" ></i>
                    </span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="sb-data-table-body">
              <tr *ngFor="let student of dashboarData.data">
                <td><span suiPopup popupText="{{student.username}}" *ngIf="student.username">{{student.username}}
                  </span>
                  <span *ngIf="!student.username">-</span>
                </td>
                <td>{{student.orgName}}</td>
                <td><span *ngIf="student.maskedPhone">{{student.maskedPhone}} </span>
                  <span *ngIf="!student.maskedPhone">-</span>
                </td>
                <td>{{student.enrolledOn | dateFormat :'DD/MM/YYYY'}}</td>

                <td *ngIf="student.progress === 100">{{resourceService?.frmelmnts?.lbl?.completed}}</td>
                <td class="ui  header text-font" *ngIf="(student.progress !== 100 && student.progress > 90)">{{student.progress}}%</td>
                <td class="ui  header text-font" *ngIf="(student.progress !== 100 && student.progress > 30)">{{student.progress}}%</td>
                <td class="ui  header text-font" *ngIf="(student.progress !== 100 && student.progress < 30 && student.progress!==null)">{{student.progress}}%</td>
                <td class="ui  header text-font" *ngIf="!student.progress">-</td>
              </tr>
              <tr *ngIf="dashboarData && dashboarData.data.length === 0">
                <td id="noRecordsFound">{{resourceService?.frmelmnts?.lbl?.noMatchingRecordFound}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex flex-ai-center flex-jc-space-between mt-10">
          <div   *ngIf="dashboarData && dashboarData.data.length >0 && !showLoader " >showing  {{pager.startIndex+1}} - {{pager.endIndex+1}} of {{dashboarData.data.count}}  users</div>
          <div class="pb-10" *ngIf="dashboarData && dashboarData.data.length >0 && totalCount > config.appConfig.DASHBOARD.PAGE_LIMIT && !showLoader ">
            <div class="ui pagination menu mt-10 right-floated pt-0 mini" *ngIf="pager.pages.length ">
             <a [ngClass]="{disabled:pager.currentPage===1 }" class="item " (click)="navigateToPage(pager.currentPage - 1)">Previous</a>
              <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}" (click)="navigateToPage(page)"
                class="item">{{page}}</a>
              <a [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" (click)="navigateToPage(pager.currentPage + 1)"
                class="item">Next</a>
            </div>
          </div>
        </div>
        <div class="tweleve wide column" *ngIf="showLoader">
          <app-loader></app-loader>
        </div>
        <div class="ui warning message tweleve wide column" *ngIf="batchlist && batchlist.length > 1 && showWarningDiv && !showLoader">
          <div class="header">{{resourceService?.frmelmnts?.lbl?.dashboardnobatchselected}}</div>
          {{resourceService?.frmelmnts?.lbl?.dashboardnobatchselecteddesc}}
        </div>
        <div class="ui grid" *ngIf="showNoBatch">
          <div class="twelve wide column" [appTelemetryImpression]="telemetryImpression">
            <a (click)='redirect()' class="ui item basic icon circular float-ContentRight" data-tooltip="Close  Dashboard"
              appTelemetryInteract [telemetryInteractObject]="interactObject" [telemetryInteractEdata]="{id:'closeDashboard',type:'click',pageid:'course-progress-dashboard'}"  [telemetryInteractCdata]="telemetryCdata">
              <i class="ui remove icon CloseButtonFont"></i>
            </a>
          </div>
          <div class="twelve wide column">
            <div class="ui info message">
              <div class="header">{{resourceService?.frmelmnts?.instn?.t0061}}</div>
              <ul class="list">
                <li>{{resourceService?.frmelmnts?.instn?.t0062}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- This is the updated code for semantic datatable -->
