@import 'variables';
@import "./mixins/mixins";
// .ui {
//   &.selection.bordered.dropdown {
//     border: 1px solid rgba(34, 36, 38, 0.15);
//     border-radius: 5px;
//   }
//   &.icon.input {
//     width: 300px;
//     height: 30px;
//   }

// }

// .ui.selection.dropdown {
//   font-size: 16px;
//   font-weight: 700;
//   padding: 8px 32px;
//   min-height: 32px;
// }

.w-300 {
  width: 300px;
}

.w-300 {
  ::ng-deep {
    
    // .ui.search.selection.dropdown>input.search {
    //   padding: 8px 32px;
    // }
    // .ui.selection.dropdown>.dropdown.icon {
    //   padding: 8px;
    // }
    // .ui.selection.dropdown .menu>.item {
    //   padding: 8px 32px !important;
    // }
  }
}
.download-file-container {
  background-color: $gray-100;
  height: 48px;
}

a {
  &.download-file {
    text-decoration: underline;
  }
}

.course-participants-label {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-completed:last-child{
  flex: unset;
}

::ng-deep {

  .ui.search.dropdown.course-dashboard-select>.text {
    margin: 6px 16px 6px 6px;
    // width: 136px;
    // text-overflow: ellipsis;
    // overflow: hidden;
    // white-space: nowrap;
  }

}
@include respond-below(lg){
  .course-completed:last-child{
    margin-top:8px;
  }
}
@include respond-below(sm){
  .black-divider {
    border: 0px solid #d4d8da!important;
  }
  .course-participants-label {
    width: 100%;
    margin-bottom: 8px;
  }
  .course-participants-label{
    &:nth-child(3) {
      padding-left: 0 !important;
    }
    &:nth-child(5){
      padding-left: 0 !important;
      width: 100%;
      margin-bottom: 0;
    }
  }
  [dir=rtl] {
    .course-participants-label{
      &:nth-child(3) {
        padding-right: 0 !important;
      }
      &:nth-child(5){
        padding-right: 0 !important;
      }
    }
  }
}


