<div class="ui segment">
	<div class="ui form">
		<div class="two fields">
		    <div class="inline field">
			    <label>Provider</label>
			    <input type="text" placeholder="Provider">
		    </div>
		     <div class="inline field">
			    <label>Data1</label>
			    <input type="text" placeholder="Full Name">
		    </div>
		</div>
		<div class="ui horizontal divider">
    		Or
 		</div>
 		<div class="one field">
		    <div class="inline field text-align-center">
			    <label>OrgId</label>
			    <input type="text" placeholder="OrgId">
		    </div>
		</div>
	    <div class="ui grid">
	      	<div class="six wide column">
	      	</div>
	        <div class="three wide column">
	      	</div>
	        <div class="three wide column">
	        	<button class="ui primary right floated button">Upload CSV</button>
	      	</div>
    	</div>
	</div>
</div>
