<div class="ui grid margin-bottom-10 margin-top-10">
  <div class="ten wide column">
  </div>
  <div class="two wide column actions">
    <div class="ui right floated primary button">
      Download
    </div>
  </div>
</div>
<div class="ui divided items">
  <div class="userSearchCardHover item">
    <div class="ui tiny image userSearchImage">
      <img src="https://s3fs.paintnite.com/img/uploaded/2014/02/thumb/locations52f53743804b49.39202203.png" ">
    </div>
    <div class="content ">
      <a class="header ">User Name</a>
      <a class="float-ContentRight trashIconAlign "><i class="trash outline icon trashIcon-fontSize "></i>
      </a>
      <div class="meta ">
        <span class="cinema ">Union Square 14</span>
      </div>
      <div class="description ">
        <p></p>
      </div>
      <div class="extra ">
        <div class="ui label ">Organization</div>
        <div class="ui label ">77727272DR</div>
        <div class="ui label ">user@example.com</div>
        <div class="ui label ">827221717177</div>
      </div>
    </div>
  </div>
  <div class="userSearchCardHover item ">
    <div class="ui tiny image userSearchImage ">
      <img src="https://s3fs.paintnite.com/img/uploaded/2014/02/thumb/locations52f53743804b49.39202203.png ">
    </div>
    <div class="content ">
      <a class="header ">User Name</a>
      <a class="float-ContentRight trashIconAlign "><i class="trash outline icon trashIcon-fontSize "></i></a>
      <div class="meta ">
        <span class="cinema ">Organization1</span>
      </div>
      <div class="description ">
        <p></p>
      </div>
      <div class="extra ">
        <div class="ui right floated primary button userSearchButton ">
          Change Role
        </div>
        <div class="ui label ">77727272DR</div>
        <div class="ui label ">user@example.com</div>
        <div class="ui label ">827221717177</div>
      </div>
    </div>
  </div>
</div>
