.review-comments-box {
    height: 343px;	
    width: 290px;	
    border-radius: 4px;	
    background-color: #FFFFFF;	
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
.comment-input-box {
    height: 48px;
    width: 274px;
    border-radius: 4px;
}
