@import "variables";

.review-comments-box {
    height: 409.869px;		
}
.ui.dimmer{
    z-index: inherit;
}
.ui.comments.scrolling{
    height:100%;
    max-height: 260px;
    overflow-y: auto;
}
.reply-box{
    height: 60px !important;
    max-height: 60px !important;
    min-height: 10px !important;
    resize: none !important;
    padding-right: 2.67142857em !important;
    border: 1px solid #9B9B9B !important;
    border-radius: 4px !important;
}
.icon.sb-icon-send:before {
    font-size: 18px;
    width: 1.671429em;
}
.sb-icon-comment:before {
    font-size: 72px;
    width: 72px;
    color: $view-all-button;
}
.icon.sb-icon-reviewer:before {
    font-size: 30px;
    color: #8BA9CC;
}
textarea:focus+i.icon.sb-icon-send:before {
    color:#2185D0;
}
.ui.form textarea:focus {
    border-color:#2185D0 !important;
}
.comment:after {
    content: ""; 
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.review-comments-loader {
    position: relative;
}