<div class="review-comments-box">
  <div class="ui small comments" *ngIf="contentData && reviewDetails" >
    <div class="comment" *ngFor="let rDetails of reviewDetails.comments;">
      <a class="avatar">
        <img src="{{rDetails.userImage || 'assets/images/user-profile.png' | cdnprefixurl}}">
      </a>
      <div class="content">
          <a class="author">{{rDetails.userName}}</a>
          <div class="ui left floated metadata">
            <span class="date" innerHTML="{{rDetails.createdOn | date: 'MMM d'}}"></span>
          </div>
          <div class="text">
            {{rDetails.message}}
          </div>
      </div>
    </div>
  </div>
  <div class="margin-left-10">
    <div class="text">
      {{resourceService.frmelmnts.intxt.t0016}}
      <span class="right floated" *ngIf="comments.value">{{comments.value.trim().length}} / 150</span>
    </div>
  </div>
  <div class="margin-left-10">
    <div class=" ui icon input">
      <input type="text" maxlength="150" autocomplete="off" class="form-control"[formControl]="comments" >
      <i (click)="addReviewComments()" class="angle double right icon link" aria-hidden="true"></i>
    </div>
  </div>
</div>