@import "variables";

.review-comments-box {
    max-height: calc(100% - 4px);
    position: absolute;
    top: 15px;
    bottom: 18px;
    left: 15px;
    right: 15px;	
}
.ui.dimmer{
    z-index: inherit;
}
.ui.comments.scrolling{
    height:calc(100% - 115px);
    max-height: calc(100% - 115px);
    overflow-y: auto;
}
.reply-box{
    height: 60px !important;
    max-height: 60px !important;
    min-height: 10px !important;
    resize: none !important;
    padding-right: 2.67142857em !important;
    border: 1px solid #9B9B9B !important;
    border-radius: 4px !important;
}
.icon.sb-icon-send:before {
    font-size: 18px;
    width: 1.671429em;
}
.sb-icon-comment:before {
    font-size: 72px;
    width: 72px;
    color: $view-all-button;
}
.icon.sb-icon-reviewer:before {
    font-size: 30px;
    color: $primary-color;
}
textarea:focus+i.icon.sb-icon-send:before {
    color: $primary-color;
}
.ui.form textarea:focus {
    border-color:$primary-color !important;
}
.comment:after {
    content: ""; 
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.review-comments-loader {
    position: relative;
}
.placeholder{
    height:100%;
}
