@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.review-comments-box {
    max-height: calc(100% - calculateRem(4px));
    position: absolute;
    top: calculateRem(15px);
    bottom: calculateRem(18px);
    left: calculateRem(15px);
    right: calculateRem(15px);	
}
.ui.dimmer{
    z-index: inherit;
}
.ui.comments.scrolling{
    height:calc(100% - calculateRem(115px));
    max-height: calc(100% - calculateRem(115px));
    overflow-y: auto;
}
.reply-box{
    height: calculateRem(60px) !important;
    max-height: calculateRem(60px) !important;
    min-height: calculateRem(10px) !important;
    resize: none !important;
    padding-right: 2.67142857em !important;
    border: calculateRem(1px) solid var(--gray-300) !important;
    border-radius: calculateRem(4px) !important;
}
.icon.sb-icon-send:before {
    font-size: calculateRem(18px);
    width: 1.671429em;
}
.sb-icon-comment:before {
    font-size: calculateRem(72px);
    width: calculateRem(72px);
    color: var(--secondary-color);
}
.icon.sb-icon-reviewer:before {
    font-size: calculateRem(30px);
    color: var(--primary-color);
}
textarea:focus+i.icon.sb-icon-send:before {
    color: var(--primary-color);
}
.ui.form textarea:focus {
    border-color:var(--primary-color) !important;
}
.comment:after {
    content: ""; 
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.review-comments-loader {
    position: relative;
}
.placeholder{
    height:100%;
}
