<div class="review-comments-box br-4 bs-1 p-8">
  <div class="ui small comments scrolling" *ngIf="contentData && reviewDetails && reviewDetails.comments.length > 0" >
    <div class="comment" *ngFor="let rDetails of reviewDetails.comments;">
      <span class="avatar">
        <img *ngIf="rDetails.userInfo.logo" src="{{rDetails.userInfo.logo | cdnprefixurl}}">
        <i *ngIf="!rDetails.userInfo.logo" class="icon sb-icon-reviewer" aria-hidden="true"></i>
      </span>
      <div class="content pr-8">
          <div class="d-flex jc-space-around">
            <span class="text-blue">{{rDetails.userInfo.name}}</span>
            <span class="date ui metadata">{{rDetails.createdOn | date: 'MMM d'}}</span>
          </div>
          <div class="text">
            {{rDetails.body}}
          </div>
      </div>
    </div>
  </div>
  <div *ngIf="!reviewDetails.comments.length > 0" class="CommentsNotFound">
    <i class="icon icon-comment"></i>
  </div>
  <div class="ui form p-8">
    <div class="content metadata mb-5 d-flex jc-space-around">
      <span>{{resourceService.frmelmnts.intxt.t0016}}</span>
      <span *ngIf="comments.value">{{comments.value.trim().length}} / 150</span>
    </div>
    <div class="ui icon input width-100">
      <textarea maxlength="150" autocomplete="off" class="width-100 br-4 reply-box form-control"[formControl]="comments"></textarea>
      <i (click)="addReviewComments()" class="mr-5 right sb-icon-send icon link" aria-hidden="true" tabindex="0"></i>
    </div>
  </div>
</div>