<div class="ui mt-30 container">
  <div class="ui placeholder segment">
    <p>SELECT TEXTBOOK</p>
    <div class="mt-30">
      <sui-select class="selection" labelField="name" valueField="code" [(ngModel)]="selectedOptions.gradeLevel"
        #select>
        <sui-select-option *ngFor="let option of filtersDetails.gradeLevel" [value]="option">
        </sui-select-option>
      </sui-select>
    </div>
    <div class="mt-30">
      <sui-select class="selection" labelField="name" valueField="code" [(ngModel)]="selectedOptions.subject" #select>
        <sui-select-option *ngFor="let option of filtersDetails.subject" [value]="option">
        </sui-select-option>
      </sui-select>
    </div>
    <div class="mt-30">
      <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="emitSelectedTextbook()">Search Textbook</button>
    </div>
  </div>
</div>