@import "variables";
@import "mixins/mixins";


.sb-header-filter-bar {
  box-shadow: 0 calculateRem(2px) calculateRem(8px) 0 rgba(var(--rc-rgba-black), 0.2);
  position: relative;
}

.state-medium-container {
  position: relative;
  z-index: 999;
  height: calculateRem(64px);

  &__dropdown {
    padding: calculateRem(16px) 0;
    z-index: 1;
  }

  &__separator {
    height: calculateRem(24px);
    width: calculateRem(1px);
    background-color: var(--gray-200);
    margin: 0px calculateRem(16px) 0px calculateRem(16px);

    @include respond-below(sm) {
      margin: 0px calculateRem(8px) 0px calculateRem(8px);
    }
  }

  &__medium {
    overflow-x: auto;
    overflow-y: hidden;
    height: calculateRem(64px);

    @include respond-below(xs) {
      flex: 0 0 50%;
    }
  }
}

.sb-class-bar {}

// state dropdown css
.ui.selection.dropdown .menu>.item {
  font-size: calculateRem(12px);
  padding: 1em 1em !important;
}

.ui.selection.dropdown.state-medium {
  color: var(--primary-400);
  display: flex;
  align-items: center;
  border: none;
  background: none;
  min-width: calculateRem(100px);
  margin: 0;

  .medium-selection {
    min-width: calculateRem(120px);
  }

  &:hover {
    background: var(--rc-E5EDF5);
  }
}

.ui.selection.dropdown.state-selection {
  color: var(--primary-400);
  font-weight: bold;
  display: flex;
  align-items: center;
  min-width: calculateRem(208px);

  @include respond-below(sm) {
    min-width: 10rem;
  }

  border-radius: calculateRem(2px);
  border: calculateRem(0.5px) solid var(--primary-400);

  &.active {
    background: var(--rc-E5EDF5) !important;
    color: var(--primary-400) !important;
    border-color: var(--primary-400);
    box-shadow: none;
  }

  &:hover {
    color: var(--primary-400) !important;
    box-sizing: border-box;
    border-radius: calculateRem(2px);
    background-color: var(--rc-E5EDF5);
    box-shadow: none;
  }

}

.ui.selection.dropdown .menu {
  max-height: 20em;
}

.ui.default.dropdown:not(.button)>.text,
.ui.dropdown:not(.button)>.default.text {
  color: var(--red-400);
}

:host ::ng-deep .dropdown:not(.button)>.default.text {
  color: var(--primary-400) !important;
}

:host ::ng-deep .sb-slider-pills-container .sb-pills-container {
  padding: 0.5rem 0 !important;
}


/* new theme css */

.sbt-header-filter-bar {
  background:var(--white);
  box-shadow: calculateRem(6px) calculateRem(6px) calculateRem(2px) 0 var(--sbt-box-shadow-black);
  position: relative;
  border-radius: calculateRem(24px);
  // overflow: hidden;
  min-width: calculateRem(232px);
  padding: calculateRem(32px) calculateRem(0px) calculateRem(32px) calculateRem(24px);
  position: sticky;
  top: calculateRem(188px);
  margin-top:calculateRem(-72px);
  z-index: 2;

  .sbt-filter-scrollable {
    max-height: calc(100vh - 388px);
    height: auto;
      overflow-y: auto;
      padding-right: calculateRem(24px);
  }
  .state-medium-container {
    position: relative;
    z-index: 999;
    &__dropdown {
      z-index: 1;
    }
    &__separator {
      height: calculateRem(24px);
      width: calculateRem(1px);
      background-color: var(--gray-200);
      margin:0px calculateRem(16px) 0px calculateRem(16px);
      @include respond-below(sm){
        margin:0px calculateRem(8px) 0px calculateRem(8px);
      }
    }
    &__medium {
      overflow-x: auto;
      overflow-y: hidden;
      height:calculateRem(64px);
      @include respond-below(xs){
        flex:0 0 50%;
      }
    }
  }

  .sbt-filter-switcher {
    width: calculateRem(40px);
    height: calculateRem(40px);
    background-color: var(--primary-color);
    box-shadow: calculateRem(3px) calculateRem(3px) calculateRem(2px) 0 var(--sbt-box-shadow-black);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calculateRem(-20px);
    border-radius: 100%;
    color: var(--white);
    position: absolute;
    left: calculateRem(24px);
    top: 0px;
    i {
      margin-top: calculateRem(-10px);
      margin-left: calculateRem(3px);
      font-size:calculateRem(20px);
    }
  }

}
:host::ng-deep {
  .sbt-class-bar {
    .sb-slider-pills-container {
      overflow-x: inherit !important;
      .sb-grade-pills-container {
        background: inherit !important;
      }
      .sb-pills-container {
        display: flex !important;
        flex-wrap: wrap;
        justify-content:flex-start;
        margin:0px calculateRem(-8px) 0px 0;
        html[dir="rtl"] & {
          margin:0px 0 0px calculateRem(-8px) !important;
        }
        .pill {
          padding: calculateRem(8px) calculateRem(16px) !important;
          color: var(--sbt-pill-bg-active) !important;
          margin: 0 calculateRem(8px) calculateRem(8px) 0 !important;
          background-color: var(--sbt-pill-bg) !important;
          font-size: 12px !important;
          flex: 1;
          display: unset !important;
          html[dir="rtl"] & {
            margin: 0 0 calculateRem(8px) calculateRem(8px) !important;
          }
          &.active, &:hover {
            color: var(--white) !important;
            background-color: var(--sbt-pill-bg-active)!important;
            box-shadow:calculateRem(3px) calculateRem(3px) calculateRem(2px) 0 var(--sbt-box-shadow-black) !important;
          }
        }
      }
    }
  }
}


// state dropdown css
.ui.selection.dropdown .menu > .item {
  font-size: calculateRem(12px);
  padding: 1em 1em !important;
}
.ui.selection.dropdown.state-medium {
  color: var(--primary-400);
  display: flex;
  align-items: center;
  border: none;
  background: none;
  min-width: calculateRem(100px);
  margin: 0;
  .medium-selection {
    min-width: calculateRem(120px);
  }
  &:hover {
    background: var(--rc-E5EDF5);
  }
}
.ui.selection.dropdown.state-selection {
  color: var(--primary-400);
  font-weight: bold;
  display: flex;
  align-items: center;
  min-width: calculateRem(208px);
  @include respond-below(sm){
    min-width: 10rem;
  }
  border-radius: calculateRem(2px);
  border: calculateRem(0.5px) solid var(--primary-400);
  &.active {
    background: var(--rc-E5EDF5) !important;
    color: var(--primary-400) !important;
    border-color: var(--primary-400);
    box-shadow: none;
  }
  &:hover {
    color: var(--primary-400) !important;
    box-sizing: border-box;
    border-radius: calculateRem(2px);
    background-color: var(--rc-E5EDF5);
    box-shadow: none;
  }
}
.ui.selection.dropdown .menu {
  max-height: 20em;
}
.ui.default.dropdown:not(.button) > .text,
.ui.dropdown:not(.button) > .default.text {
  color: var(--red-400);
}
:host ::ng-deep .dropdown:not(.button) > .default.text {
  color: var(--primary-400) !important;
}






