$bg-body: #fdfdfd;
$font-stack: 'Noto Sans', sans-serif;
$primary-color: #196d7f;
$primary-gradient: linear-gradient(to left, #2971a5, #0d9276);
$primary-border: 0.5px solid #dedede;
$secondary-color: #333;
$link-color: #196d7f;
$label-color: #196d7f;
$text-dark: #333;
$text-lightDark: #666;
$text-gray: #999;
$progressbar-color: #d4e4e1;
$progressbar-gradient: linear-gradient(to left, #2971a5, #0d9276);
$course-progress:#bdbdbd;
$profile-avatar-color: #9017FF;