//$bg-body: rgba(243, 247, 250, 0.5019607843137255);
$bg-body: #fdfdfd;
$font-stack: 'Noto Sans', sans-serif;
$font-stack-ur: 'Noto Nastaliq Urdu','Noto Sans', sans-serif;
$font-stack-ta: 'Noto Sans Tamil','Noto Sans', sans-serif;
$font-stack-kn: 'Noto Sans Kannada','Noto Sans', sans-serif;
$font-stack-te: 'Noto Sans Telugu','Noto Sans', sans-serif;
$primary-color: #024F9D;
$primary-gradient: linear-gradient(to left, #2971a5, #0d9276);
$primary-border: 0.5px solid rgba(216, 216, 216, 0.5);
$primary-background: rgba(216, 216, 216, 0.5);
$secondary-color: #333;
$link-color: #024f9d;
$label-color: #e76026;
$card-label-color: #024f9d;
$card-label-border-color: rgba(2, 79, 157, 0.5);
$text-dark: #333;
$text-lightDark: #666;
$text-gray: #999;
$progressbar-color: #b7d8f1;
$progressbar-gradient: #024f9d;
$progressbar-gradient-success: #008840;
$install-app-button: #33b17b;
$view-all-button: #33b17b;
$comment-icon-bg: #33b17b;
$success-color: #008840;
$primary-blue:#007aff;
$course-progress:#bdbdbd;
$carousal-nav-button-color: #e76026;
$red-text: #e76026;
$header-seperator: rgba(2, 79, 157, 0.65);
$header-bottom-border: #ddd;
$signup-btn-bg-active-color:#2ca58d;
$signup-btn-bg-not-active-color:#9b9b9b;
$signup-button-text-color:#fff;
$signup-thankyou-text-color:#4a4a4a;
$signup-border-error-color:#e76026;
$white-bg-color:#fff;
$form-input-border-color:#979797;
$form-input-border-active-color:#4a90e2;
