$bg-body: rgba(243, 247, 250, 0.5019607843137255);
$font-stack: 'Noto Sans', sans-serif;
$font-stack-ur: 'Noto Nastaliq Urdu', sans-serif;
$font-stack-ta: 'Noto Sans Tamil', sans-serif;
$font-stack-kn: 'Noto Sans Kannada', sans-serif;
$font-stack-te: 'Noto Sans Telugu', sans-serif;
$primary-color: #024F9D;
$primary-gradient: linear-gradient(to left, #2971a5, #0d9276);
$primary-border: 0.5px solid rgba(216, 216, 216, 0.5);
$primary-background: rgba(216, 216, 216, 0.5);
$secondary-color: #333;
$link-color: #024F9D;
$label-color: #E76026;
$card-label-color: #024F9D;
$card-label-border-color: rgba(2, 79, 157, 0.5);
$text-dark: #333;
$text-lightDark: #666;
$text-gray: #999;
$progressbar-color: #B7D8F1;
$progressbar-gradient: #024F9D;
$progressbar-gradient-success: #008840;
$view-all-button: #33B17B;
$primary-blue:#007AFF;
$course-progress:#bdbdbd;
$carousal-nav-button-color: #E76026;
$header-seperator: rgba(2, 79, 157, 0.65);
$header-bottom-border: #ddd;