$bg-body: #fdfdfd;
$font-stack: 'Noto Sans', sans-serif;
$font-stack-ur: 'Noto Nastaliq Urdu', sans-serif;
$font-stack-ta: 'Noto Sans Tamil', sans-serif;
$font-stack-kn: 'Noto Sans Kannada', sans-serif;
$font-stack-te: 'Noto Sans Telugu', sans-serif;
$primary-color: #196d7f;
$primary-gradient: linear-gradient(to left, #2971a5, #0d9276);
$primary-border: 0.5px solid #dedede;
$secondary-color: #333;
$link-color: #196d7f;
$label-color: #196d7f;
$text-dark: #333;
$text-lightDark: #666;
$text-gray: #999;
$progressbar-color: #d4e4e1;
$progressbar-gradient: linear-gradient(to left, #2971a5, #0d9276);
$primary-blue:#007AFF;
$course-progress:#bdbdbd;
[lang="en"],
[lang="hi"]{
	font-family: $font-stack;
}
[lang="ur"]{
	font-family: $font-stack-ur;
}
[lang="ta"]{
	font-family: $font-stack-ta;
}
[lang="kn"]{
	font-family: $font-stack-kn;
}
[lang="te"]{
	font-family: $font-stack-te;
} 