@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/earlyaccess/notonastaliqurdu.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstamil.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskannada.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstelugu.css);
[lang="en"],
[lang="hi"]{
	font-family: 'Noto Sans';
}
[lang="ur"]{
	font-family: 'Noto Nastaliq Urdu';
}
[lang="ta"]{
	font-family: 'Noto Sans Tamil';
}
[lang="kn"]{
	font-family: 'Noto Sans Kannada';
}
[lang="te"]{
	font-family: 'Noto Sans Telugu';
}