$bg-body: #F2F6FA;
$font-stack: 'Noto Sans', sans-serif;
$primary-color: #333;
$secondary-color: #333;
$link-color: #196d7f;
$label-color: #196d7f;
$primary-gradient: linear-gradient(to left, #2971a5, #0d9276);