@import "variables";
@import 'mixins/mixins';

.signup-form {
    position: relative;

    .default-img {
        position: absolute;
    }

    &--phone {        
        .default-img {
            left: calculateRem(8px);
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &--password {
        .default-img {
            top: calculateRem(4px);
            right: calculateRem(8px);
        }
    }

    .sb-form-control {
        &.phone {
            padding-left: calculateRem(40px);
        }
    }

    // .sb-form-control::placeholder {
    //     padding-left: 24px;
    // }
}