<div *ngIf="showSignUpForm && !showUpdateSignUpForm" [appTelemetryStart]="telemetryStart" class="signup-form-content">
  <form class="" [formGroup]="signUpForm" autocomplete="off" id="signUpForm">
    <div class="required mb-20 text-center">
      <label tabindex="0" id="phoneOrEmail" class="mb-0 fmedium">{{resourceService?.frmelmnts?.lbl?.phoneOrEmail}} <span *ngIf="isMinor">{{resourceService.frmelmnts?.lbl?.parentOrGuardian}}</span><span class="sb-color-red">*</span>
      </label>
      <label tabindex="0" class="fsmall mb-0 font-weight-normal">{{resourceService?.frmelmnts?.lbl?.otpSentMsg}}</label>
    </div>

    <div class="d-flex flex-ai-center mb-8" role="radiogroup">
      <div class="field">
        <div class="sb-radio-btn-checkbox sb-radio-btn-primary" role="radio" tabindex="0" (click)="showContact='phone';showUniqueError=null">
          <input class="sb-form-control" type="radio" checked="checked" value="phone" formControlName="contactType"
            role="phone" id="phoneNumber" aria-labelledby="phoneNumberLbl">
          <label for="phoneNumber" id="phoneNumberLbl"
            class="pl-20">{{resourceService.frmelmnts.lbl.phoneNumber}}</label>
        </div>
      </div>
      <div class="field">
        <div class="sb-radio-btn-checkbox sb-radio-btn-primary" role="radio" tabindex="0" (click)="showContact='email';showUniqueError=null">
          <input class="sb-form-control" type="radio" formControlName="contactType" value="email" role="email"
            id="email" aria-labelledby="emailLbl">
          <label for="email" id="emailLbl" class="pl-20 text-capitalize">{{resourceService.frmelmnts.lbl.email}}</label>
        </div>
      </div>
    </div>

    
    <div class="field mb-16" *ngIf="showContact === 'email'">
      <div class="signup-form signup-form--email">
        <input tabindex="0" class="sb-form-control" id="withemail" type="email"
          [ngClass]="{'orange-border': signUpForm.controls.email.touched && signUpForm.controls['email'].errors}"
          formControlName="email" name="email" placeholder="{{resourceService.frmelmnts.lbl.email}}"
          (blur)="getReCaptchaToken('email')">
      </div>
      <label tabindex="0" aria-describedby="withemail" class="sb-color-red font-weight-normal fsmall mb-0"
        *ngIf="signUpForm.controls.email.touched && signUpForm.controls['email'].errors">{{resourceService.frmelmnts.lbl.validEmail}}</label>
    <label class="sb-color-red font-weight-normal fsmall mb-0"
    *ngIf="showUniqueError && signUpForm.controls.email.touched">{{showUniqueError}}</label>
    </div>

    <div>
      <div class="field w-100 mb-16" *ngIf="showContact === 'phone'">
        <div class="signup-form signup-form--phone">
          <input id="signup-form-phone" id="withphone" tabindex="0" class="sb-form-control phone"
            [ngClass]="{'orange-border': signUpForm.controls.phone.touched && signUpForm.controls['phone'].errors}"
            formControlName="phone" type="number" name="phone" aria-required="true"
            placeholder="{{resourceService.frmelmnts.lbl.tenDigitPhone}}" (blur)="getReCaptchaToken('phone')">
          <div class="default-img fsmall">+91-</div>
        </div>
        <label class="sb-color-red font-weight-normal fsmall mb-0" *ngIf="showUniqueError && signUpForm.controls.phone.touched">{{showUniqueError}}</label>
      </div>

      <div class="required mb-16">
        <label class="font-weight-normal">{{resourceService.frmelmnts.lbl.password}}<span
            class="sb-color-red">*</span></label>
        <div class="signup-form signup-form--password">
          <input id="signup-form-password" tabindex="0" class="sb-form-control"
            [ngClass]="{'orange-border': signUpForm.controls.password.touched && signUpForm.controls['password'].errors}"
            [type]="showPassword ? 'text' : 'password'" formControlName="password" name="password" aria-required="true"
            placeholder="{{resourceService.frmelmnts.lbl.EnterPassword}}">
          <div class="default-img" role="button" [attr.aria-pressed]="showPassword == true ? true : false"
            (click)="displayPassword()"><img class="showhideimage"
              src="{{ showPassword ? 'assets/images/password-hidden.svg' : 'assets/images/password-visibile.svg'}}"
              role="button" alt="show hide password" tabindex="0"></div>
        </div>
        <label tabindex="0" aria-describedby="signup-form-password" class="font-weight-normal sb-color-red mb-0 mt-4"
          *ngIf="(signUpForm.controls.password.touched && signUpForm.controls['password'].errors)"
          [ngClass]="{'error': ((signUpForm.controls.password.touched && signUpForm.controls['password'].errors))}">{{passwordError}}</label>
      </div>
    </div>

    <div class="required mb-16">
      <label class="font-weight-normal">{{resourceService.frmelmnts.lbl.confirmPassword}}<span
          class="sb-color-red">*</span></label>
     <input  aria-required="true" id="signup-form-confirmPassword" tabindex="0" class="sb-form-control"
        [ngClass]="{'orange-border': signUpForm.controls.confirmPassword.touched && signUpForm.controls['confirmPassword'].errors}"
        formControlName="confirmPassword" type="password" name="confirmPassword"
        placeholder="{{resourceService.frmelmnts.lbl.reEnterPassword}}">
      <label aria-describedby="signup-form-confirmPassword" class="font-weight-normal sb-color-red mb-0"
        *ngIf="signUpForm.controls.confirmPassword.touched && signUpForm.controls['confirmPassword'].errors">{{resourceService.frmelmnts.lbl.errorConfirmPassword}}</label>
    </div>
    <re-captcha *ngIf="isP1CaptchaEnabled === 'true'" tabindex='-1' #captchaRef="reCaptcha"
      (resolved)="$event && resolved($event) && captchaRef.reset()" siteKey="{{googleCaptchaSiteKey}}" size="invisible">
    </re-captcha>
  </form>
  <button [attr.aria-disabled]="disableSubmitBtn" [disabled]="disableSubmitBtn" type="submit" appTelemetryInteract
    [telemetryInteractEdata]="submitInteractEdata" [telemetryInteractCdata]="telemetryCdata"
    [ngClass]="{'sb-btn-disabled':disableSubmitBtn, 'sb-btn-primary':!disableSubmitBtn}"
    class="sb-btn sb-btn-normal width-100 mt-8 text-uppercase" tabindex="0"
    (click)="submitSignupForm()"><span>{{resourceService.frmelmnts.lbl.continue}}</span><span
    class='arrow-icon pl-8'><i class="icon-svg icon-svg--xxs icon-back">
      <svg class="icon icon-svg--white">
        <use xlink:href="./assets/images/sprite.svg#arrow-long-right"></use>
      </svg></i></span></button>
  <a tabindex="0" role="button" aria-label="re captcha" (click)="captchaRef.reset()" id="resetGoogleCaptcha"></a>
</div>

<!-- Gmail user registration workflow with only phone / email fields -->
<div *ngIf="showSignUpForm && showUpdateSignUpForm" [appTelemetryStart]="telemetryStart" class="signup-form-content">
  <form class="" [formGroup]="updateSignUpForm" autocomplete="off" id="updateSignUpForm">

    <div class="required mb-20 text-center">
      <label tabindex="0" id="phoneOrEmail" class="mb-0 fmedium">{{resourceService?.frmelmnts?.lbl?.phoneOrEmail}} <span *ngIf="isMinor">{{resourceService.frmelmnts?.lbl?.parentOrGuardian}}</span><span class="sb-color-red">*</span>
      </label>
      <label tabindex="0" class="fsmall mb-0 font-weight-normal">{{resourceService?.frmelmnts?.lbl?.otpSentMsg}}</label>
    </div>

    <div class="d-flex flex-ai-center mb-8" role="radiogroup">
      <div class="field">
        <div class="sb-radio-btn-checkbox sb-radio-btn-primary" role="radio" tabindex="0" (click)="showContact='phone';showUniqueError=null;resetInput()">
          <input class="sb-form-control" type="radio" checked="checked" value="phone" formControlName="contactType"
            role="phone" id="phoneNumber" aria-labelledby="phoneNumberLbl">
          <label for="phoneNumber" id="phoneNumberLbl"
            class="pl-20">{{resourceService.frmelmnts.lbl.phoneNumber}}</label>
        </div>
      </div>
      <div class="field">
        <div class="sb-radio-btn-checkbox sb-radio-btn-primary" role="radio" tabindex="0" (click)="showContact='email';showUniqueError=null;resetInput()">
          <input class="sb-form-control" type="radio" formControlName="contactType" value="email" role="email"
            id="email" aria-labelledby="emailLbl">
          <label for="email" id="emailLbl" class="pl-20 text-capitalize">{{resourceService.frmelmnts.lbl.email}}</label>
        </div>
      </div>
    </div>

    <div class="field mb-16" *ngIf="showContact === 'email'">
      <div class="signup-form signup-form--email">
        <input tabindex="0" class="sb-form-control" id="withemail" type="email"
          [ngClass]="{'orange-border': updateSignUpForm.controls.email.touched && updateSignUpForm.controls['email'].errors}"
          formControlName="email" name="email" placeholder="{{resourceService.frmelmnts.lbl.email}}"
          (blur)="getReCaptchaToken('email')">
      </div>
      <label tabindex="0" aria-describedby="withemail" class="sb-color-red font-weight-normal fsmall mb-0"
        *ngIf="updateSignUpForm.controls.email.touched && updateSignUpForm.controls['email'].errors">{{resourceService.frmelmnts.lbl.validEmail}}</label>
    <label class="sb-color-red font-weight-normal fsmall mb-0"
    *ngIf="showUniqueError && updateSignUpForm.controls.email.touched">{{showUniqueError}}</label>
    </div>

    <div>
      <div class="field w-100 mb-16" *ngIf="showContact === 'phone'">
        <div class="signup-form signup-form--phone">
          <input id="signup-form-phone" id="withphone" tabindex="0" class="sb-form-control phone"
            [ngClass]="{'orange-border': updateSignUpForm.controls.phone.touched && updateSignUpForm.controls['phone'].errors}"
            formControlName="phone" type="number" name="phone" aria-required="true"
            placeholder="{{resourceService.frmelmnts.lbl.tenDigitPhone}}" (blur)="getReCaptchaToken('phone')">
          <div class="default-img fsmall">+91-</div>
        </div>
        <label class="sb-color-red font-weight-normal fsmall mb-0" *ngIf="showUniqueError && updateSignUpForm.controls.phone.touched">{{showUniqueError}}</label>
      </div>
    </div>

    <!-- Google invisible recaptcha -->
    <re-captcha *ngIf="isP1CaptchaEnabled === 'true'" tabindex='-1' #captchaRef="reCaptcha"
      (resolved)="$event && resolved($event) && captchaRef.reset()" siteKey="{{googleCaptchaSiteKey}}" size="invisible">
    </re-captcha>
  </form>
  <button [attr.aria-disabled]="disableSubmitBtn" [disabled]="disableSubmitBtn" type="submit" appTelemetryInteract
    [telemetryInteractEdata]="submitInteractEdata" [telemetryInteractCdata]="telemetryCdata"
    [ngClass]="{'sb-btn-disabled':disableSubmitBtn, 'sb-btn-primary':!disableSubmitBtn}"
    class="sb-btn sb-btn-normal width-100 mt-8 text-uppercase" tabindex="0"
    (click)="submitSignupForm()"><span>{{resourceService.frmelmnts.lbl.continue}}</span><span
    class='arrow-icon pl-8'><i class="icon-svg icon-svg--xxs icon-back">
      <svg class="icon icon-svg--white">
        <use xlink:href="./assets/images/sprite.svg#arrow-long-right"></use>
      </svg></i></span></button>
  <a tabindex="0" role="button" aria-label="re captcha" (click)="captchaRef.reset()" id="resetGoogleCaptcha"></a>
</div>
