<div *ngIf="showSignUpForm" [appTelemetryStart]="telemetryStart">
<form class="ui form borderd On" [formGroup]="signUpForm" autocomplete="off" id="signUpForm">
   <div tabindex="0" class="required field mb-16"
         *ngIf="!(signUpForm.controls.phone.touched && signUpForm.controls['phone'].errors) && !(signUpForm.controls.email.touched && signUpForm.controls['email'].errors) && !showUniqueError">
      <label id="phoneOrEmail" class="pt-0 font-weight-bold">
        {{resourceService.frmelmnts.lbl.phoneOrEmail}}
        <span *ngIf="isMinor">{{resourceService.frmelmnts?.lbl?.parentOrGuardian}}</span><span class="sb-color-red"></span>
      </label>
    </div>
    <label class="ui basic blue error label pt-0" *ngIf="signUpForm.controls.phone.touched && signUpForm.controls['phone'].errors">{{resourceService.frmelmnts.lbl.validPhone}}</label>
    <label class="ui basic blue error label pt-0" *ngIf="signUpForm.controls.email.touched && signUpForm.controls['email'].errors">{{resourceService.frmelmnts.lbl.validEmail}}</label>
    <label class="ui basic blue error label pt-0" *ngIf="showUniqueError && !(signUpForm.controls.phone.touched && signUpForm.controls['phone'].errors) && !(signUpForm.controls.email.touched && signUpForm.controls['email'].errors)">{{showUniqueError}}</label>
    <div class="inline fields mt-10 mb-10" role="radiogroup">
      <div class="field">
        <div class="ui radio checkbox" role="radio" tabindex="0" (click)="showContact='phone'">
          <input class="sb-form-control" type="radio" checked="checked" value="phone" formControlName="contactType" role="phone" id="phoneNumber" aria-labelledby="phoneNumberLbl">
          <label for="phoneNumber"  id="phoneNumberLbl" class="pl-20">{{resourceService.frmelmnts.lbl.phoneNumber}}</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox" role="radio" tabindex="0" (click)="showContact='email'">
          <input class="sb-form-control" type="radio" formControlName="contactType" value="email" role="email" id="email" aria-labelledby="emailLbl">
          <label for="email" id="emailLbl"  class="pl-20 text-capitalize">{{resourceService.frmelmnts.lbl.email}}</label>
        </div>
      </div>
    </div>
    <div class="required field">
      <label class="mb-10 font-weight-bold">{{resourceService.frmelmnts.lbl.OTPmsgforuser}}</label>
    </div>
    <div class="field" *ngIf="showContact === 'email'">
      <input tabindex="0" class="sb-form-control" type="email" [ngClass]="{'orange-border': signUpForm.controls.email.touched && signUpForm.controls['email'].errors}"
        formControlName="email" name="email" placeholder="{{resourceService.frmelmnts.lbl.email}}" (blur)="getReCaptchaToken('email')">
    </div>
    <div class="field" *ngIf="showContact === 'phone'">
      <div class="ui left icon input">
        <label for="signup-form-phone" class="hide">{{resourceService.frmelmnts.lbl.tenDigitPhone}}</label>
        <input id="signup-form-phone" tabindex="0" class="sb-form-control" [ngClass]="{'orange-border': signUpForm.controls.phone.touched && signUpForm.controls['phone'].errors}" formControlName="phone"
          type="number" name="phone" placeholder="{{resourceService.frmelmnts.lbl.tenDigitPhone}}" (blur)="getReCaptchaToken('phone')">
        <i class="mt-16 icon">+91-</i>
      </div>
    </div>
    <div class="required field mb-16">
      <label class="mb-10 font-weight-bold">{{resourceService.frmelmnts.lbl.password}}<span class="sb-color-red"></span></label>
      <div class="ui icon input">
        <label for="signup-form-password" class="hide">{{resourceService.frmelmnts.lbl.EnterPassword}}</label>
        <input id="signup-form-password" tabindex="0" class="sb-form-control" [ngClass]="{'orange-border': signUpForm.controls.password.touched && signUpForm.controls['password'].errors}" [type]="showPassword ? 'text' : 'password'"
          formControlName="password" name="password" placeholder="{{resourceService.frmelmnts.lbl.EnterPassword}}">
        <!-- <i class="icon large sb-icon-preview link opacity-1" (click)="displayPassword()"></i> -->
        <span role="button" [attr.aria-pressed]="showPassword == true ? true : false" (click)="displayPassword()"><img class="ml-8 mt-16 password-showhideimage" src="{{ showPassword ? 'assets/images/password-hidden.svg' : 'assets/images/password-visibile.svg'}}" role="button" alt="show hide password" tabindex="0"></span>
      </div>
      <label class="ui basic label pt-8 p-0 m-0 infotext line-height-1-3" [ngClass]="{'error': ((signUpForm.controls.password.touched && signUpForm.controls['password'].errors))}">{{passwordError}}</label>
    </div>
    <label class="ui basic blue error label pt-0" *ngIf="signUpForm.controls.confirmPassword.touched && signUpForm.controls['confirmPassword'].errors">{{resourceService.frmelmnts.lbl.errorConfirmPassword}}</label>
    <div class="required field mb-16">
      <label class="mb-10 font-weight-bold" *ngIf="!(signUpForm.controls.confirmPassword.touched && signUpForm.controls['confirmPassword'].errors)">{{resourceService.frmelmnts.lbl.confirmPassword}}<span class="sb-color-red"></span></label>
      <label for="signup-form-confirmPassword" class="hide">{{resourceService.frmelmnts.lbl.reEnterPassword}}</label>
      <input id="signup-form-confirmPassword" tabindex="0" class="sb-form-control" [ngClass]="{'orange-border': signUpForm.controls.confirmPassword.touched && signUpForm.controls['confirmPassword'].errors}"
        formControlName="confirmPassword" type="password" name="confirmPassword" placeholder="{{resourceService.frmelmnts.lbl.reEnterPassword}}">
    </div>
    <div class="sb-requirement-field mb-8 font-weight-bold">
      {{resourceService.frmelmnts.lbl.fieldsmarked}}<span class="sb-error">*</span>{{resourceService.frmelmnts.lbl.mandatory  }}
  </div>
    <!-- Google invisible recaptcha -->
    <re-captcha *ngIf="isP1CaptchaEnabled === 'true'" tabindex='-1' #captchaRef="reCaptcha" (resolved)="$event && resolved($event) && captchaRef.reset()" siteKey="{{googleCaptchaSiteKey}}" size="invisible"></re-captcha>
  </form>
  <button [attr.aria-disabled]="disableSubmitBtn" [disabled]="disableSubmitBtn" type="submit" appTelemetryInteract [telemetryInteractEdata]="submitInteractEdata"  [telemetryInteractCdata]="telemetryCdata" 
  [ngClass]="{'sb-btn-disabled':disableSubmitBtn, 'sb-btn-primary':!disableSubmitBtn}" class="sb-btn sb-btn-normal width-100 mt-10" 
    tabindex="0" (click)="submitSignupForm()">{{resourceService.frmelmnts.lbl.signUp}}</button>
    <a tabindex="0" role="button" aria-label="re captcha" (click)="captchaRef.reset()" id="resetGoogleCaptcha"></a>
  </div>

