@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.signup-form {
    position: relative;

    .default-img {
        position: absolute;
    }

    &--phone {        
        .default-img {
            left: calculateRem(8px);
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &--password {
        .default-img {
            top: calculateRem(8px);
            right: calculateRem(12px);
        }
    }

    .sb-form-control {
        &.phone {
            padding-left: calculateRem(40px);
        }
    }
}