<div class="ui modal" id="assignBadge" ng-init="admin.disableAsignButton=false">
    <div class="header">
        <div class="ui grid">
            <div class="eleven wide column">
                <span class="ui header">{{$root.frmelmnts.lbl.assgnbdge}}</span>
            </div>
            <div class="one wide column actions">
                <h5 class="ui basic icon circular button deny">
                    <i class="ui remove icon"></i>
                </h5>
            </div>
        </div>
    </div>
    <div class="content">
        <p>{{$root.frmelmnts.lbl.confirmassign}} {{admin.badges[0].name}}?</p>
     </div>
    <div class="actions">
        <div class="ui primary approve button"  ng-disabled="admin.disableAsignButton" type="submit" 
                ng-click="admin.assignBadge(admin.badges[0],admin.userIdentifier);admin.disableAsignButton=true;">
             {{$root.frmelmnts.btn.yes}}
            </div>
   <div class="ui negative cancel button">{{$root.frmelmnts.btn.no}}</div>
            </div>
</div>
