@import "variables";
@import './mixins/mixins';

.content-header {
  background: var(--rc-FAFAFA);
  min-height: 0.875rem;

  &__img {
    overflow: hidden;
    width: calculateRem(48px);
    height: calculateRem(48px);

    img {
      height: 100%;
    }
  }
}

.content-header__title {
  color: var(--primary-400);
  font-size: 1.125rem;
}

.content-header__info {
  color: var(--gray-800);
}

.sbgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(291.98px, 1fr));
  grid-gap: 1rem;
  grid-row-gap: 1.5rem;
}
