.bg-contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.bg-primary {
  background-color: $primary-color;
}
.bg-white {
  background: $white;
}
.bg-transparent{
  background: transparent !important;
}