.b-0{
    @include border(border,0px,$gray-400);
}
.bl-0{
    border-left: none;
}
.br-0{
    border-right: none;
}
.br-4{
    border-radius: 4px;
}
.bt-0{
    border-top: none;
}
.bb-0{
    border-bottom: none;
}
.b-1 {
    @include border(border,1px,$gray-400);
}
.b-2 {
    @include border(border,2px,$gray-400);
}
.b-4 {
    @include border(border,4px,$gray-400);
}
.b-8 {
    @include border(border,8px,$gray-400);
}
