.bs-0 {
    box-shadow: none !important;
}
.bs-1{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.29) !important;
    &:hover{
        box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.29) !important;
    }
}
.bs-2{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.29) !important;
}