.sb-color-primary {
    color: $primary-color;
}
.sb-color-success {
    color: $secondary-200;
}
.sb-color-error {
    color: $red;
}
.sb-color-warning {
    color: $warning-color;
}
.sb-color-info {
    color: $info-color;
}
.sb-text-gray-800 {
    color: $gray-800; 
}