.sb-color-primary {
    color: $primary-color;
}
.sb-color-success {
    color: $secondary-200;
}
.sb-color-error {
    color: $red;
}
.sb-color-warning {
    color: $warning-color;
}
.sb-color-info {
    color: $info-color;
}


//to clean
.color-3, .sb-text-gray-800 {
    color: $gray-800; 
}
.color-4 {
    color: #979797;
}
.color-5 {
    color: #9017FF;
}
.text-gray{
    color: #9F9F9F !important;
}
.text-blue{
    color: #0079FF;
}
.primary-color {
    color: $primary-color !important;
}
