$pValues: 0, 4, 8, 12, 16, 20, 24, 32, 40, 48, 52, 56, 60, 64, 68, 72, 76, 80,
  84, 88, 96, 192;
@each $value in $pValues {
  $basePvalue: 0.0625 * $value + rem;
  /* padding in all direction */
  .p-#{$value} {
    @include padding($basePvalue);
  }
  /* padding in top direction */
  .pt-#{$value} {
    @include padding($basePvalue null null null);
  }
  /* padding in bottom direction */
  .pb-#{$value} {
    @include padding(null null $basePvalue null);
  }
  /* padding in top and bottom direction */
  .py-#{$value} {
    @include padding($basePvalue null $basePvalue null);
  }
  /* padding in left and right direction */
  .px-#{$value} {
    @include padding(null $basePvalue null $basePvalue);
  }
  /* padding in left direction */
  .pl-#{$value} {
    @include padding(null null null $basePvalue);
    html[dir="rtl"] & {
      @include padding(null $basePvalue null null);
      padding-left: 0 !important;
    }
  }
  /* padding in right direction */
  .pr-#{$value} {
    @include padding(null $basePvalue null null);
    html[dir="rtl"] & {
      @include padding(null null null $basePvalue);
      padding-right: 0 !important;
    }
  }
}

/* Negative paddings */
@media screen and (min-width: 768px) {
  .px--20 {
    padding: 0 calculateRem(-20px);
  }
}