.relative {
  position: relative !important;
}
.absolute {
  position: absolute !important;
}

.right-0 {
  right: 0 !important;
  html[dir="rtl"] & {
    left: 0 !important;
  }
}
.left-0 {
  left: 0 !important;
  html[dir="rtl"] & {
    right: 0 !important;
  }
}

.top-50 {
  top: 50% !important;
  transform: translateY(-50%);
}

.bottom-0 {
  bottom: 0 !important;
}
.bottom-5 {
  bottom: 5px !important;
}

.sb-sticky-bottom,
.sb-sticky-top {
  position: sticky;
  z-index: 999999;
}
.sb-sticky-bottom {
  bottom: 0;
}
.sb-sticky-top {
  top: 0;
}
.zindex-1 {
  z-index: 1;
}
.zindex-2 {
  z-index: 2;
}
