/* sizing styles */

$width: "100" 100%,
"90" 90%,
"80" 80%,
"75" 75%,
"70" 70%,
"60" 60%,
"50" 50%,
"40" 40%,
"30" 30%,
"25" 25%,
"20" 20%,
"15" 15%,
"10" 10%,
"5" 5%,
"auto" auto;

@each $var in $width {
  .w-#{nth($var, 1)} {
    width: nth($var, 2);
    max-width: nth($var, 2);
  }
}

.h-100 {
  height: 100%;
  max-height: 100%;
}

.height-auto {
  height: auto !important;
}

.sb-mw-100 {
  max-width: 100% !important;
}

.min-height-auto {
  min-height: auto !important;
}
.min-w-auto {
  min-width: auto !important;
}
.max-w-auto {
  max-width: auto !important;
}
/* sizing styles ends */

/* rotate classes */
.rotate-90{
  transform: rotate(-90deg);
}
.rotate90{
  transform: rotate(90deg);
}
.rotate180{
  transform: rotate(180deg);
}
.rotate-180{
  transform: rotate(-180deg);
}
.rotate-45{
  transform: rotate(-45deg);
}
.rotate45{
  transform: rotate(45deg);
}