$width: "100" 100%,
"90" 90%,
"80" 80%,
"75" 75%,
"70" 70%,
"60" 60%,
"50" 50%,
"40" 40%,
"30" 30%,
"25" 25%,
"20" 20%,
"auto" auto;

@each $var in $width {
  .w-#{nth($var, 1)} {
    width: nth($var, 2);
    max-width: nth($var, 2);
  }
}

.h-100 {
  height: 100%;
  max-height: 100%;
}

.height-auto {
  height: auto !important;
}

.sb-mw-100 {
  max-width: 100% !important;
}

.min-height-auto {
  min-height: auto !important;
}
