a {
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-lowercase {
  text-transform: uppercase !important;
}
.text-center {
  text-align: center !important;
}
.ellipsis{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.break-word {
  word-break: break-word;
}
.white-space-nowrap {
  white-space: nowrap !important;
}
.font-weight-bold {
  font-weight: bold !important;;
}
.font-weight-normal {
  font-weight: normal !important;;
}
.font-italic {
  font-style: italic;
}
.cursor-text {
  cursor: text !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.va-bottom {
  vertical-align: bottom !important;
}
.va-middle {
  vertical-align: middle;
}
a {
  color: $primary-color;

  &:hover {
    opacity:0.8;
    color: $primary-color;
  }
}

*[dir="ltr"] {
  .text-right {
    text-align: right;
  }
  .text-left {
    text-align: left;
  }
}

*[dir="rtl"] {
  .text-right {
    text-align: left;
  }
  .text-left {
    text-align: right;
  }
}