/* typography styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
.sb-h1 {
  font-size: $h1-font-size; //32px
  line-height: ($h1-font-size * 1.61803398875);
}
h2,
.sb-h2 {
  font-size: $h2-font-size; //28px
  line-height: ($h2-font-size * 1.61803398875);
}
h3,
.sb-h3 {
  font-size: $h3-font-size; //24px
  line-height: ($h3-font-size * 1.61803398875);
}
h4,
.sb-h4 {
  font-size: $h4-font-size; //20px
  line-height: ($h4-font-size * 1.61803398875); //* 1.42857
}
h5,
.sb-h5 {
  font-size: $h5-font-size; //16px
  line-height: ($h5-font-size * 1.61803398875);
}
h6,
.sb-h6 {
  font-size: $h6-font-size; //14px
  line-height: ($h6-font-size * 1.61803398875);
}
p,
.sb-para {
  font-size: $p-font-size; //14px
  line-height: ($p-font-size * 1.61803398875); //* 1.618
}
.fmedium {
  font-size: $font-size-md !important; //16px
}
.fnormal {
  font-size: $font-size-normal; // 14px
}
.fsmall {
  font-size: $font-size-sm !important; //12px
}
.fxsmall {
  font-size: $font-size-xs !important; //10px
}

.fs-0-785 {
  font-size: 0.785rem !important;
}
.fs-0-92 {
  font-size: 0.9286rem !important;
}
.fs-1 {
  font-size: 1rem !important;
}
.fs-1-143 {
  font-size: 1.143rem !important;
}
.fs-1-16 {
  font-size: 1.16rem !important;
}
.fs-1-286 {
  font-size: 1.286rem !important;
}
.fs-1-3 {
  font-size: 1.3rem !important;
}
.fs-1-429 {
  font-size: 1.429rem !important;
}
.fs-1-5 {
  font-size: 1.5rem !important;
}
.fs-1-7 {
  font-size: 1.7rem !important;
}
.fs-2 {
  font-size: 2rem !important;
}
.fs-2-5 {
  font-size: 2.5rem !important;
}
.fs-2-57 {
  font-size: 2.571rem !important;
}
.fs-3 {
  font-size: 3rem !important;
}
.fs-3-5 {
  font-size: 3.5rem !important;
}

.font-weight-bold {
  font-weight: bold !important;
}
.font-weight-normal {
  font-weight: normal !important;
}
.font-italic {
  font-style: italic;
}

a {
  color: $primary-color;
  &:hover {
    color: $primary-color;
  }
  &:focus {
    outline: 0;
  }
}

.text-capitalize {
  text-transform: capitalize !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-lowercase {
  text-transform: lowercase !important;
}
.text-sentencecase {
  text-transform: lowercase !important;
  &::first-letter {
    text-transform: uppercase !important;
  }
}
.text-inherit {
  text-transform: inherit !important;
}

.break-word {
  word-break: break-word;
}
.white-space-nowrap {
  white-space: nowrap !important;
}

.cursor-text {
  cursor: text !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.va-bottom {
  vertical-align: bottom !important;
}
.va-middle {
  vertical-align: middle;
}
.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
  html[dir="rtl"] & {
    text-align: left !important;
  }
}

.text-left {
  text-align: left !important;
  html[dir="rtl"] & {
    text-align: right !important;
  }
}

.sb-section-title,
.sb-pageSection-title {
  font-size: $h5-font-size;
  display: inline;
  font-weight: 600;
  &.sb-pageSection-sentenceCase {
    text-transform: lowercase;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &.sb-pageSection-title-light {
    color: $gray-400;
  }
}

.sb__ellipsis {
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  &--two {
    -webkit-line-clamp: 2;
  }
  &--three {
    -webkit-line-clamp: 3;
  }
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
