@import "variables";

.ui.popup::after {
   background-color: $primary-color !important;
   background: $primary-color !important
}::ng-deep .share-link-popup + sui-popup>.ui.popup {
   background-color: $primary-color;
 }
 ::ng-deep .share-link-popup + sui-popup>.ui.popup .content {
   color:#fff;
 }
 ::ng-deep .share-link-popup + sui-popup>.ui.popup sui-popup-arrow .dynamic.arrow {
   background-color: $primary-color;
 }