<span *ngIf="contentShare.icon !== 'linkify' 
" class="ui mouse-pointer content-font" title="Share" (click)="initializeModal(copyLinkButton)">
    <i class="large blue share alternate icon"></i>&nbsp;
</span>
<span *ngIf="contentShare.icon === 'linkify' 
" class="ui mouse-pointer content-font" title="View Link" (click)="initializeModal(copyLinkButton)">
    <i class="linkify large icon float-ContentLeft limitedPublishingLinkIcon"></i>&nbsp;
</span>
<div *ngIf="sharelinkModal">
<sui-modal [isClosable]="false" #contentShareModal >

  <div class="header">
    <div class="ui grid">
      <div class="eleven wide column">
        <span class="ui header">{{resourceService?.frmelmnts?.lbl?.share}}</span>
      </div>
      <div class="one wide column actions">
        <h5 class="ui basic icon circular button deny" (click)="contentShareModal.deny();popDeny(popup);sharelinkModal=false ">
          <i class="ui remove icon"></i>
        </h5>
      </div>
    </div>
  </div>
  <div class="content">
    <p class="meta">{{resourceService?.frmelmnts?.lbl?.sharelink}}</p>
    <div class="ui action input shareContent width-100" id="buttonPopUp">
      <input type="text" id="copyLinkData"   name="title" readonly [(ngModel)]="ShareLink" />
      <button   class="ui basic primary button" (click)="copyLink(popup)" #copyLinkButton>
        COPY LINK
      </button>
    </div>
    <div id ="popups" suiPopup [popupPlacement]="position" popupText="Link copied to clipboard" popupTrigger="manual" #popup="suiPopup">
    </div>
  </div>
</sui-modal>
</div>