@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

::ng-deep {
  .notification-panel {
      position: fixed !important;
      right: 7rem;
      top: 8.5rem;
      @include respond-below(md){
        top: 13.5rem;
      }
      @include respond-below(sm){
        right: 5rem;
        top: 8.5rem;
      }
      @include respond-below(xs){
        right: inherit;
        top: inherit;
        position: static !important;
      }
      .close-notifications {
        position: absolute;
        right: 1rem;
        top: 1rem;
        z-index: 99;
      }
  }
  .pink-bluegrey .mat-card {
    background: #2d2d2d;
  }
}