 <div class="twelve wide column padding-top-none ">
    <a class="ui cursor-pointer " sb-permissions permission-only="SYSTEM_ADMINISTRATION" ng-click="admin.orgBulkUpload()">
        Upload Organizations
        </a>
  </div>
  <div class="twelve wide column padding-top-none ">
    <a class="ui  cursor-pointer" sb-permissions permission-only="SYSTEM_ADMINISTRATION,ORG_ADMIN" ng-click="admin.userBulkUpload()">
            Upload Users
        </a>
  </div>
  <div class="twelve wide column padding-top-none ">
    <a class="ui cursor-pointer " sb-permissions permission-only="SYSTEM_ADMINISTRATION,ORG_ADMIN" ng-click=" admin.statusBulkUpload()">
          Check Status
        </a>
  </div>
