<app-landing-section [textToDisplay]="pageTitleSrc" [svgToDisplay]="svgToDisplay"
  [layoutConfiguration]="layoutConfiguration"></app-landing-section>
<div class="mat-inside-page-container mat-app-background2 questionnaire-component">
  <div class="sb-g">
    <div [ngClass]="FIRST_PANEL_LAYOUT">
      <div class="sticky-block p-10" *ngIf="
          assessmentInfo?.solution?.criteriaLevelReport &&
          assessmentInfo?.solution?.isRubricDriven
        ">
        <h5 class="pl-10">{{ resourceService.frmelmnts?.lbl?.sectionName }}</h5>
        <div class="mat-app-background p-16 br-24 sections pl-10">
          <div *ngFor="let section of sections;let sectionIndex=index" class="section-list">
            <a class="item item--tests" [ngClass]="{'selected': sectionIndex===selectedSectionIndex}" tabindex="0"
              (click)="scrollToContent(section.code);selectedSectionIndex=sectionIndex">
              {{ section.name }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="SECOND_PANEL_LAYOUT">
      <div class="mat-app-background p-16">
        <button mat-mini-fab color="accent" tabindex="0" (click)="goBack()"
        attr.aria-label=“{{resourceService?.frmelmnts?.btn?.back}}”>
        <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="relative position">
        <div class="overlay" *ngIf="evidence?.isSubmitted"></div>
        <div *ngFor="let section of sections" [id]="section.code"
          [ngClass]="{ 'evidence-completed': evidence?.isSubmitted }">
          <div *ngIf="
              assessmentInfo?.solution?.criteriaLevelReport &&
              assessmentInfo?.solution?.isRubricDriven
            " class="mat-app-background p-16 br-24 my-16">
            <h4 class="color-accent">{{ section.name }}</h4>
          </div>
          <div class="mat-app-background p-16 br-24 my-16">
            <form [formGroup]="questionnaireForm" class="adjust">
              <sl-input [questions]="section.questions" [questionnaireForm]="questionnaireForm"></sl-input>
            </form>
          </div>
        </div>
      </div>

      <div [ngClass]="{
          'd-flex flex-jc-space-evenly': true,
          'evidence-completed': evidence?.isSubmitted
        }" class="sticky-footer" *ngIf="!evidence?.isSubmitted">
        <button mat-raised-button color="accent" class="button-rounded" type="button" tabindex="0" (click)="onSubmit('save')">
          {{ resourceService?.frmelmnts?.btn?.save | translate }}
        </button>
        <button mat-raised-button color="accent" class="button-rounded" type="button" [disabled]="!questionnaireForm?.valid" tabindex="0" (click)="onSubmit()">
          {{ resourceService?.frmelmnts?.btn?.submit | translate }}
        </button>
      </div>
    </div>
  </div>
</div>