@import "../../../../../node_modules/@project-sunbird/sb-styles/assets/mixins/mixins";
@import "../../../../../node_modules/@project-sunbird/sb-styles/assets/mixins/custom-mixins";

.sections {
  width: 80%;
  @media only screen and (min-width: 976px) {
    height: 60vh;
    overflow: auto;
  }
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  z-index: 2;
  background-color: var(--sb-card-bg);
  padding: 15px 0;
  border-radius: 5px;
  margin: 15px 0;
}

.section-list {
  margin-bottom: 20px;
  z-index: 9;
  position: relative;
}

.evidence-completed {
  pointer-events: none;

  button {
    pointer-events: none;
  }
}

::ng-deep {
  .question-card.sb--card {
    border-radius: 28px;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;

    .sb-checkbox label,
    .sb-radio-btn-checkbox label {
      color: var(--body-color);
      font-weight: normal;
    }

    input:focus,
    input:focus ~ label {
      color: var(--body-color);
    }

    #range {
      background-color: var(--sb-card-bg);
    }

    .student-card {
      background-color: var(--sb-card-bg);
    }
    .question-date-input,
    input:active.question-date-input,
    input:focus.question-date-input {
      background: var(--cc-sbcard-data1-bg);
      color: var(--sb-prominent-filter-title);
    }
  }

  .question-card.sb--card:last-child {
    margin-bottom: 20px;
  }
  .question-card.sb--card,
  .sb-radio-btn-checkbox {
    width: 100%;
    background-color: var(--sb-card-bg);
    color: var(--primary-color);
  }
  label {
    color: var(--body-color);
  }
  .valid-response {
    color: var(--green);
  }
}

.remarks {
  margin-top: 15px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 5;
}

.adjust {
  margin: 15px 5px;
}
.sticky-block {
  position: sticky;
  top: 33%;
  z-index: 9;

  a {
    color: var(--gray-800);
    font-weight: 600;
    cursor: pointer;
  }
  a.selected {
    color: var(--primary-color);
  }
}
