@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

::ng-deep{
    .sb-filter-g__item {
        align-self: flex-start;
    }
    .selected-item {
        margin-bottom: calculateRem(5px);
        white-space: nowrap;
    }
    .dataTable{
        margin: 0px !important;
    }
    .dropdown-btn {
        border: none !important;
    }
    .multiselect-dropdown .dropdown-btn {
        padding: calculateRem(7px) calculateRem(18px) !important;
        border: none !important;
    }
    .sb-filter-g__item {
        border-radius: calculateRem(24px);
        min-width: calculateRem(250px)!important;
        min-height: calculateRem(40px)!important;
        font-size: calculateRem(15px)!important;
        padding: 0px;
        margin-right: calculateRem(18px);
        border: calculateRem(1px) solid var(--gray-200);
    }
    .dropdown-list {
       border: none !important;
    }
    li.multiselect-item-checkbox {
        margin: calculateRem(10px);
    }
    .dataTables_wrapper .dataTables_filter input {
        background-color: var(--white) !important;
        border: calculateRem(1px) solid var(--gray-200) !important;
    }
    
    .dropdown-multiselect__caret {
        height: calculateRem(40px) !important;
       
    }

    .dataTables_wrapper {
        padding-top: calculateRem(30px);
        border-top: calculateRem(1px) solid var(--gray-200);
        padding: calculateRem(20px);
    }
    table.dataTable {
        width: 100% !important;
    }
    .export-btn {
        color: var(--white) !important;
        background-color: var(--primary-400);
    }
    .sb-btn-normal {
        font-weight: 500 !important;
        font-size: calculateRem(15px) !important;
    }
    table.dataTable.no-footer {
        overflow-x: auto;
        width: 100% !important;
        display: block;
    }
    table.dataTable th, table.dataTable td {
        min-width: calculateRem(131px) !important;
   
    }   
    .sb-filter-g {
        grid-template-columns :repeat(auto-fill,minmax(300px,1fr)) !important;
        margin-left: calculateRem(20px);
        margin-right: calculateRem(20px);
        margin-bottom: calculateRem(25px) !important;
        gap: 0px !important;
    }
    .dataTables_wrapper .dataTables_filter input {
        border-radius: calculateRem(24px) !important;
    }
    table.dataTable th, table.dataTable td {
        text-align: center !important;
    }

    sb-dashlet.dashlet-table app-filter .sb-form{
        margin-left: 1rem !important;
        margin-bottom: 1rem !important;
    }

  
}
.filter-label {
    font-size: calculateRem(24px);
    color: var(--primary-400);
}
