@import "variables";
@import "mixins/mixins";

::ng-deep{
    .sb-filter-g__item {
        align-self: flex-start;
    }
    .selected-item {
        margin-bottom: 5px;
        white-space: nowrap;
    }
    .dataTable{
        margin: 0px !important;
    }
    .dropdown-btn {
        border: none !important;
    }
    .multiselect-dropdown .dropdown-btn {
        padding: 7px 18px !important;
        border: none !important;
    }
    .sb-filter-g__item {
        border-radius: 24px;
        min-width: 250px!important;
        min-height: 40px!important;
        font-size: 15px!important;
        padding: 0px;
        margin-right: 18px;
        border: 1px solid #ccc;
    }
    .dropdown-list {
       border: none !important;
    }
    li.multiselect-item-checkbox {
        margin: 10px;
    }
    .dataTables_wrapper .dataTables_filter input {
        background-color: #fff !important;
        border: 1px solid var(--gray-200) !important;
    }
    
    .dropdown-multiselect__caret {
        height: 40px !important;
       
    }
    .dropdown-multiselect__caret::before {
        border-color: var(--ui-dropdown-selection-icon) transparent !important;
        border-width: 4px 5px 0 !important;
    }
    .dataTables_wrapper {
        padding-top: 30px;
        border-top: 1px solid #ccc;
        padding: 20px;
    }
    table.dataTable {
        width: 100% !important;
    }
    .export-btn {
        color: #fff !important;
        background-color: var(--primary-400);
    }
    .sb-btn-normal {
        font-weight: 500 !important;
        font-size: 15px !important;
    }
    table.dataTable.no-footer {
        overflow-x: auto;
        width: 100% !important;
        display: block;
    }
    table.dataTable th, table.dataTable td {
        min-width: 131px !important;
   
    }   
    .sb-filter-g {
        grid-template-columns :repeat(auto-fill,minmax(300px,1fr)) !important;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 25px !important;
        gap: 0px !important;
    }
    .dataTables_wrapper .dataTables_filter input {
        border-radius: 24px !important;
    }
    table.dataTable th, table.dataTable td {
        text-align: center !important;
    }

  
}
.filter-label {
    font-size: 24px;
    color: #024f9d;
}
