@use "@project-sunbird/sb-styles/assets/mixins/mixins"as *;

//aspect ratio
.aspectratio {
  position: relative;
  height: 0;
  width: 100%;

  &[data-ratio="16:9"] {
    padding-top: 56.25%;
  }

  [data-ratio="4:3"] {
    padding-top: 75%;
  }

  &>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    video,
    iframe {
      width: 100%;
      height: 100% !important;
    }
  }

  &.player-fullscreen {
    width: 100%;
    height: calc(100vh - 3.125rem) !important;
    position: fixed;
    top: calculateRem(50px);
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
  }

  &.player-fullscreen iframe,
  &.player-fullscreen video {
    width: 100%;
    height: calc(100vh - 3.125rem) !important;
  }
}
