
@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
// new signup changes
.signup-background {
  background: url('/assets/images/bg.svg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  position: relative;
  height:100vh;
  display: flex;
    align-items: center;
    left: 0;
    top: 0;

  .title {
    color: var(--gray-800);
    font-size: calculateRem(18px);
    font-weight: bold;
    letter-spacing: 0;
    line-height: calculateRem(26px);
    text-align: center;
  }
}
.fullpage-background-image {
  max-width: calculateRem(1008px);
  width: 100%;
  padding: calculateRem(40px);
  box-shadow: 0 calculateRem(2px) calculateRem(16px) 0 rgba(var(--rc-rgba-black), 0.2);
  border-radius: calculateRem(8px);
  min-height: calculateRem(600px);
  background: var(--primary-100);
  margin: 0 auto ;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include respond-below(sm) {
    box-shadow: none;
    border: 0;
    border-radius: 0;
    height: 100%;
    padding: calculateRem(24px);
    overflow-y: auto;
  }
}
.container-wrapper {
    max-width: calculateRem(280px);
    margin: 0 auto;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    @include respond-below(sm){
      min-height: auto;
    }
}