@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

/* user create and choose user page UI styles */

.user-profile-box {
  margin: calculateRem(32px) auto;
  max-width: calculateRem(480px);
  width: calc(100% - 2rem);
  border-radius: calculateRem(8px);
  background-color: var(--user-profile-box);

  &__title {
    font-weight: bold;
    font-size: calculateRem(16px);
  }

  &__actions {
    border-top: calculateRem(1px) solid var(--color-primary-50);
  }

  .field-focus {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  // .orange-border {
  //   border-color: var(--color-warn-300) !important;
  // }

  // .orange.text {
  //   color: var(--color-warn-300);
  // }

  .member-list-container {
    max-height: calculateRem(320px);
    overflow-y: auto;
  }
}
