/* user create and choose user page UI styles */

.user-profile-box {
  margin: 32px auto;
  max-width: 480px;
  width: calc(100% - 32px);
  background: var(--white);
  border-radius: 8px;

  &__title {
    font-weight: bold;
    color: var(--primary-color);
    font-size: calculateRem(16px);
  }

  &__actions {
    border-top: 1px solid #ddd;
    padding: 16px 0px 0px 0px;
    display: flex;
    flex-direction: row-reverse;
  }
  .ui.stackable.grid>.wide.column {
    padding:0rem!important;
  }
}
