@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

    .datatable-content{
      .note-text {
        color: var(--gray-200);
      }
      .request-report-label,.download-section-text{
        font-size: calculateRem(14px);
        color: var(--gray-800);
      }
    
      .sb-table-course-dashboard {
        border:calculateRem(0.5px) solid var(--gray-100);
        cursor: pointer;
        & thead th {
          font-size: 0.875rem;
          padding: 1rem;
          background-color: var(--primary-100);
      }
      &.sb-table-striped tbody tr:nth-child(n) {
        background-color: var(--white);
      }
        &.sb-table-striped tbody tr:nth-child(2n) {
          background-color: var(--gray-100);
        }
        &.sb-table-sortable {
          th.sb-sort-icon {
            cursor: pointer;
          }
      
          .sb-sort-icon.ascending::before,
          .sb-sort-icon.descending::after {
            border: calculateRem(4px) solid transparent;
            content: "";
            height: 0;
            right: calculateRem(8px);
            top: 50%;
            position: absolute;
            width: 0;
            border-bottom-color: var(--primary-color);
            cursor: pointer;
          }
      
          .sb-sort-icon.ascending::before {
            margin-top: calculateRem(-8px);
          }
      
          .sb-sort-icon.descending::after {
            margin-top: calculateRem(2px);
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
          }
        }
        .success-label {
          padding: calculateRem(4px) calculateRem(8px);
          border-radius: calculateRem(12px);
          font-size: calculateRem(10px);
          color: var(--white);
          background: var(--secondary-100);
          text-align: center;
        }
    
        .failed-label {
          padding: calculateRem(4px) calculateRem(8px);
          border-radius: calculateRem(12px);
          font-size: calculateRem(10px);
          color: var(--white);
          background: var(--red-100);
          text-align: center;
        }
    
        .inprocess-label {
          padding: calculateRem(4px) calculateRem(8px);
          border-radius: calculateRem(12px);
          font-size: calculateRem(10px);
          color: var(--white);
          background: var(--tertiary-100);
          text-align: center;
        }
      }
      .request-download-text{
        width: 100%;
        text-align: center;
        border:calculateRem(0.5px) solid var(--gray-100);
        border-top: 0px;
        color:var(--gray-200);
      }
    }


.filterTable{
  z-index: 9999;
}

::ng-deep {
.ngx-datatable .datatable-header .datatable-header-cell .sort-btn{
    cursor: pointer !important;
    position: absolute !important;
    top: 0 !important;
    bottom: calculateRem(24px) !important;
    right: calculateRem(10px) !important;
    left: 0 !important;
    padding-top: calculateRem(19px) !important;
    text-align: right !important;
}

.ngx-datatable.scroll-vertical .datatable-body{
  height: calculateRem(200px) !important;
}

.ngx-datatable.material .datatable-header .datatable-header-cell{
  background-color: transparent !important;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  .success-label{
    padding: calculateRem(4px) calculateRem(8px) !important;
  border-radius: calculateRem(12px) !important;
  font-size: calculateRem(10px) !important;
  color: var(--secondary-100) !important;
  border: calculateRem(1px) solid var(--secondary-100) !important;
  text-align: center !important;
}
.inprocess-label {
padding: calculateRem(4px) calculateRem(8px) !important;
border-radius: calculateRem(12px) !important;
font-size: calculateRem(10px) !important;
color: var(--tertiary-100) !important;
border: calculateRem(1px) solid var(--tertiary-100) !important;
text-align: center !important;
}
.failed-label {
  padding: calculateRem(4px) calculateRem(8px) !important;
  border-radius: calculateRem(12px) !important;
  font-size: calculateRem(10px) !important;
  color: var(--red-100)  !important;
  border: calculateRem(1px) solid var(--red-100) !important;
  text-align: center !important;
}
.completed-label  {
  padding: calculateRem(4px) calculateRem(8px) !important;
  border-radius: calculateRem(12px) !important;
  font-size: calculateRem(10px) !important;
  color: var(--gray-100)  !important;
  border: calculateRem(1px) solid var(--gray-100) !important;
  text-align: center !important;
}
}
}

.download-report{
  position: relative;
  bottom: calculateRem(10px);
  padding-bottom: calculateRem(12px);
}