<div class="datatable-content">
    <div  *ngIf="downloadCSV" class="d-flex flex-ai-center flex-jc-flex-end pb-24">
      <img src="assets/images/question.svg" width="16px" height="16px">
      <span class="mx-8 cursor-pointer" (click)="downloadCSVFile()">Download as CSV</span>
      <img src="assets/images/download-icon.svg">
    </div>
  <div class="sb-table-responsive-div">
    <ngx-datatable #table class="material striped" [columnMode]="'force'" [rows]="tableData" [headerHeight]="50"
      [footerHeight]="50" [messages]="tableMessage" [rowHeight]="'auto'" [reorderable]="false" [limit]="5">
      <ngx-datatable-column *ngFor="let col of columns" [name]="col.name" [sortable]="col.isSortable"
        [draggable]="false" [resizeable]="false" [prop]="col.prop" [width]="100">
        <ng-template ngx-datatable-header-template>
          <div class="sb-field-group">
            <label class="pl-8 mb-8">{{col.name}}</label>
            <div class="sb-field filterTable" *ngIf="isColumnsSearchable">
              <input class="sb-form-control" [(ngModel)]="filterModel[col.prop]"
                (input)="keyUp.next({value:$event.target.value,key:col.prop})" type="text"
                [placeholder]="col.placeholder">
            </div>
          </div>
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span *ngIf="col.prop !== 'downloadUrls'"
                [ngClass]="{'success-label' : (col.prop === 'status' && value === 'SUCCESS'),'completed-label' : (col.prop === 'status' && value === 'PROCESSING'),'inprocess-label' : (col.prop === 'status' && value === 'SUBMITTED'),'failed-label' : (col.prop === 'status' && value === 'FAILED')}"
                (click)="downloadUrl(col.prop , row)">
            {{ value | sbDataTable : col.type}}
          </span>
          <span *ngIf="col.prop === 'downloadUrls' && value" (click)="downloadUrl(col.prop , row)">
            <a [href]="value[0]" download>{{resourceService?.frmelmnts?.lbl?.clickHere}}</a>
          </span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
