@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

    .datatable-content{
      .note-text {
        color: var(--color-gray);
      }
    }


.filterTable{
  z-index: 9999;
}

::ng-deep {
.ngx-datatable .datatable-header .datatable-header-cell .sort-btn{
    cursor: pointer !important;
    position: absolute !important;
    top: 0 !important;
    bottom: calculateRem(24px) !important;
    right: calculateRem(10px) !important;
    left: 0 !important;
    padding-top: calculateRem(19px) !important;
    text-align: right !important;
}

.ngx-datatable.scroll-vertical .datatable-body{
  height: calculateRem(200px) !important;
}

.ngx-datatable.material .datatable-header .datatable-header-cell{
  background-color: transparent !important;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  .success-label{
    padding: calculateRem(4px) calculateRem(8px) !important;
  border-radius: calculateRem(12px) !important;
  font-size: calculateRem(10px) !important;
  color: var( --color-success) !important;
  border: calculateRem(1px) solid var( --color-success) !important;
  text-align: center !important;
}
.inprocess-label {
padding: calculateRem(4px) calculateRem(8px) !important;
border-radius: calculateRem(12px) !important;
font-size: calculateRem(10px) !important;
color: var(--color-warn-400) !important;
border: calculateRem(1px) solid var(--color-warn-400) !important;
text-align: center !important;
}
.failed-label {
  padding: calculateRem(4px) calculateRem(8px) !important;
  border-radius: calculateRem(12px) !important;
  font-size: calculateRem(10px) !important;
  color: var(--color-warn)  !important;
  border: calculateRem(1px) solid var(--color-warn) !important;
  text-align: center !important;
}
.completed-label  {
  padding: calculateRem(4px) calculateRem(8px) !important;
  border-radius: calculateRem(12px) !important;
  font-size: calculateRem(10px) !important;
  color: var(--color-gray)  !important;
  border: calculateRem(1px) solid var(--color-gray) !important;
  text-align: center !important;
}
}
}

.download-report{
  position: relative;
  bottom: calculateRem(10px);
  padding-bottom: calculateRem(12px);
}