@import "mixins/mixins";

:host::ng-deep {
  .sbt-header-menu-bar {
    height: 5.5rem;
    background: none;
    padding: 0px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 24px 24px 0 0;
    padding: 1rem 1rem 1rem 1rem;
    overflow: hidden;
    overflow-x: auto;
    position: relative;

    @include respond-below(sm) {
      overflow-x: auto;
      padding: 1rem 0.5rem 1rem 1rem;
    }

  }

  .sb-btn-round {
    background: var(--white);
    border-radius: 50% !important;
    box-shadow: var(--sbt-box-shadow-6px) !important;
    min-width: auto !important;
    padding: 1rem !important;
    height: auto !important;
    width: auto !important;
  }

  .add-adminrole {
    &__header {
      font-size: calculateRem(20px);
    }

    &__content {
      background: var(--white);
      box-shadow: 6px 6px 2px 0 rgb(0 0 0 / 10%);
      border-radius: calculateRem(12px);
    }
  }

  .user-details,
  .user-info,
  .user-img,
  .user-workexp__header {
    display: flex;
    align-items: center;
  }

  .user-details {
    padding: calculateRem(24px);
    border-bottom: 1px solid #D7D7D7;

    .user-img {
      height: calculateRem(48px);
      width: calculateRem(48px);
      background-color: #FDEAFF;
      justify-content: center;
      border-radius: 50%;
      font-weight: bold;
      font-size: calculateRem(24px);
    }

    .user-name {
      font-size: calculateRem(20px);
    }

    .user-info {
      font-size: calculateRem(14px);
      color: #666;
    }

    .dot-separator {
      width: calculateRem(6px);
      height: calculateRem(6px);
      background: #666;
      margin: 0 calculateRem(8px);
      border-radius: 50%;
    }
  }

  .user-workexp-container {
    padding: calculateRem(16px);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 400px;

    .user-workexp-card {
      flex-basis: 25%;
      padding: 0 calculateRem(8px);

      @include respond-below(sm) {
        flex-basis: 100%;
        padding: calculateRem(8px);
      }
    }

    .user-workexp {
      border: 1px solid #D7D7D7;
      border-radius: 16px;
      height: calculateRem(120px);
      padding: calculateRem(16px);
      font-size: calculateRem(14px);
      cursor: pointer;
      transition: all ease 0.3s;

      &:hover {
        transform: scale(1.02);
      }

      &__name {
        font-size: calculateRem(14px);
        font-weight: bold;
      }
    }
  }

  .sb-search-box .icon.search {
    right: 1.5rem;
    left: inherit;
  }

  .sb-search-box .sb-search-input {
    width: 100%;
    font-size: 0.875rem;
  }

  .no-result-container {
    width: 100%;
    height: 100%;
    min-height: calculateRem(600px);
    margin: 0 auto;

    .no-result-text {
      color: #333;
    }
  }

  @media only screen and (max-width: 767px) {
    .ui.stackable.grid>.wide.column {
      padding: 0 !important;
    }
  }
}