@import "variables";
@import 'mixins/mixins';

.questionTab.button {
    border-bottom: calculateRem(1px) solid var(--rc-cecece);
}

.questionsMenu {
    overflow-y: auto;
    max-height: calculateRem(500px);
}

.emptyList {
    border: none;
}

i.icon {
    &.trash {
      color: var(--red-100);
    }
    &.expand {
      color: var(--primary-color);
    }
  }

.question-list {
    &__item {
        border-bottom: calculateRem(1px) solid rgba(var(--rc-rgba-primary), 0.09);
        label {
            font-weight: normal;
            font-size: calculateRem(12px);
        }
        &.active,
        &:hover {
            background: var(--rc-F3F8FF);
        }
        &.active {
            label {
                font-weight: 700;
                color: var(--primary-color);
            }
        }
    }
}

.ckeditor-container {
    border-left: calculateRem(1px) solid rgba(var(--rc-rgba-primary), 0.09);
}

.practical-header {
    height: calculateRem(98px);
    background: rgba(var(--rc-rgba-primary-300), 0.09);
    &__title {
        max-width: calculateRem(680px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__content {
        .practical-sb-buttons {
            .sb-btn-file {
                border-top: calculateRem(1px) solid var(--primary-200);
                border-bottom: calculateRem(1px) solid var(--primary-200);
                border-left: calculateRem(1px) solid var(--rc-dddddd);
                border-right: calculateRem(1px) solid var(--rc-dddddd);
                background: var(--rc-E0F1FD);
                color: var(--primary-400);
            }
            .sb-btn-submit {
                background: var(--primary-200);
                opacity: 50%;
                color: var(--white);
            }
        }
    }
    .practice-set {
        &__status {
            a {
                text-decoration: underline;
            }
        }
    }
}

.sb-field-group.textbook-edit {
    width: 100%;
    max-width: calculateRem(756px);
    textarea {
        height: calculateRem(56px);
        resize: none;
    }
    .characters-left {
        position: absolute;
        bottom: calculateRem(8px);
        right: calculateRem(8px);
        color: var(--gray-400);
        font-size: $font-size-xs;
    }
}

.review-modal-list {
    .list {
        padding-left: calculateRem(16px);
        margin: 0;
        li {
            font-size: $font-size-sm;
            line-height: calculateRem(18px);
        }
    }
}

.trash.icon {
    font-size: calculateRem(14px);
    height: auto;
}

.sb-btn-radius{
    border-radius:2rem;
    box-shadow: 0 calculateRem(4px) calculateRem(4px) 0 var(--rc-C8D6EA);
}

.ckeditor-tool{
    &__answer{
      border-bottom: calculateRem(0.5px) solid var(--rc-e2e3e5);
 }
}
  .questionTab.segment {
    label {
      font-size: calculateRem(12px);
      font-weight: normal;
    }
    &:hover, &.active {
      background-color: var(--primary-100);
      color: var(--primary-100);
      label {
        font-weight: 700;
      }
    }
  }