<!-- Untitled Practice Set Section with text field -->
<div class="d-flex sb-bg-color-gray-0 practical-header">
  <div class="d-flex flex-ai-center practical-header__content ui container">
    <div class="mr-auto" *ngIf="!showTextArea">
      <div class="practice-set__label">
        <span class="font-weight-bold fs-1-143">{{resourceName}}</span>
        <a class="cursor-pointer fs-0-785 ml-8" 
          (click)="showResourceTitleEditor()" 
          *ngIf="role.currentRole === 'CONTRIBUTOR' && resourceStatus === 'Draft' || resourceStatus === 'Rejected'"
        >Edit</a>
      </div>
      <div class="mt-8 practice-set__status">
        <span class="sb-label sb-label-table sb-label-success-0"
        [ngClass]="{ 'sb-label-success-0': resourceStatus == 'Live', 'sb-label-warning-0': resourceStatus == 'Draft',  'sb-label-error-0': resourceStatus == 'Rejected',  'sb-label-gray-100': resourceStatus == 'Review' }">{{ resourceStatus }}</span>
        <span class="cursor-pointer fs-0-785 ml-8" 
          (click)="showReview()" 
          *ngIf="resourceStatus === 'Rejected'"><i class="comment alternate outline icon sb-color-primary"></i><a>View Comments</a></span>
      </div>
    </div>
    <div class="sb-field-group textbook-edit mr-auto" *ngIf="showTextArea">
      <div class="sb-field relative">
        <textarea rows="4" name="resourceName" class="sb-form-control fs-1" #resourceTtlTextarea placeholder="Type here..." [(ngModel)]='resourceName' (keydown)="onResourceNameChange($event)" (blur)="onResourceNameBlur()">{{resourceName}}</textarea>
        <span class="characters-left">{{resourceTitleLimit - resourceName.length}} Characters left</span>
        <span class="sb-error-text" *ngIf="resourceName.length > resourceTitleLimit">Title should be maximum 100 characters.</span>
        <span class="sb-error-text" *ngIf="!resourceName.length">Title required.</span>
      </div>
    </div>
    <div class='practical-sb-buttons'>
      <button class="sb-btn sb-btn-primary sb-btn-normal ripple mr-8" 
        (click)="questionCreationChild.buttonTypeHandler()"
        *ngIf="resourceStatus === 'Draft' || resourceStatus === 'Rejected' "
        >Save</button>
      <button class="sb-btn sb-btn-outline-primary sb-btn-normal ripple mr-8">Preview</button>
      <button class="sb-btn sb-btn-secondary sb-btn-normal ripple" 
        (click)="showTextArea=!showTextArea"
        *ngIf="resourceStatus === 'Draft' || resourceStatus === 'Rejected' "
        >Submit</button>
    </div>
  </div>
</div> 

<div class="ui container">
  <div *ngIf="sessionContext?.questionType" class="ui twelve column grid m-0">
    <div class="three wide column p-0">

      <div class="d-flex flex-ai-center" *ngIf="role.currentRole === 'PUBLISHER'">
        <div class="sb-checkbox sb-checkbox-primary">
          <input type="checkbox" [(ngModel)]="selectedAll" appTelemetryInteract
            [telemetryInteractEdata]="{id:'select_all_questions',type:'click',pageid:'questionlist'}"
            (change)="selectAll();">
          <label for="check1">Select All</label>
        </div>
      </div>

      <!-- Question list Section -->

      <div class="d-flex flex-ai-center ckeditor-tool__answer my-16 mx-8">
        <label class="fs-1 mb-0">Question(s)</label>

        <!-- add button to be integrated -->
        <button  class="sb-btn sb-btn-outline-primary sb-btn-normal sb-left-icon-btn sb-btn-radius ml-auto"
        *ngIf="role.currentRole === 'CONTRIBUTOR' && (resourceStatus === 'Draft' || resourceStatus === 'Rejected')"
        [disabled]="questionMetaData && questionMetaData.mode === 'create'" (click)="createNewQuestion()"
        appTelemetryInteract
        [telemetryInteractEdata]="{id:'create_btn',type:'click',pageid:'questionlist',extra:{type:'reference',category:sessionContext.questionType.toUpperCase(),topic:sessionContext.topic}}">
        <i class="plus icon"></i>ADD</button>

      </div>

      <!-- <div class="d-flex width-100 flex-jc-center mt-24">
        <button *ngIf="role.currentRole === 'CONTRIBUTOR' && (resourceStatus === 'Draft' || resourceStatus === 'Rejected')"
          [disabled]="questionMetaData && questionMetaData.mode === 'create'" (click)="createNewQuestion()"
          appTelemetryInteract
          [telemetryInteractEdata]="{id:'create_btn',type:'click',pageid:'questionlist',extra:{type:'reference',category:sessionContext.questionType.toUpperCase(),topic:sessionContext.topic}}"
          class="sb-btn sb-btn-primary sb-btn-normal sb-left-icon-btn"><i class="add icon"></i>Add new Question</button>
      </div> -->

      <div class="question-list">
        <div class="question-list__item active d-flex flex-ai-center p-16 cursor-pointer"
          [class.active]="selectedQuestionId === question.identifier"
          (click)="handleQuestionTabChange(question.identifier)" *ngFor="let question of questionList; let i = index"
          appTelemetryInteract
          [telemetryInteractEdata]="{id:'question_tab',type:'click',pageid:'questionlist',extra:{type:'reference',identifier:question.identifier}}">
          <label class="mb-0 mr-auto" for="check1"> Question {{i + 1}}</label>
          <i class="info circle sb-color-warning fs-1 icon" *ngIf="question.status === 'Reject'"></i>
          <i class="trash alternate outline icon ml-24" *ngIf="role.currentRole === 'CONTRIBUTOR' && (resourceStatus === 'Draft' || resourceStatus === 'Rejected')"></i>
          <!-- <img src="../../../../../assets/images/move.svg" *ngIf="role.currentRole === 'CONTRIBUTOR' && (resourceStatus === 'Draft' || resourceStatus === 'Rejected')" class="ml-8" width="20px" height="16px"> -->
        </div>
      </div>

    </div>

    <div class="nine wide column bg-white pl-40 p-0 ckeditor-container">
      <div *ngIf="!questionList.length && questionMetaData?.mode !== 'create' && role.currentRole === 'CONTRIBUTOR'"
        class="ui segment">No Question - Click
        Create</div>
      <div *ngIf="!questionList.length && role.currentRole === 'REVIEWER'" class="ui segment">No Questions for Review
      </div>
      <div *ngIf="(questionList.length || questionMetaData?.mode === 'create')&& refresh">
        <div *ngIf="sessionContext.questionType === 'mcq'" class="ui segment">
          <div [hidden]="showLoader">
            <app-mcq-creation [sessionContext]="sessionContext" [questionMetaData]="questionMetaData"
              [questionSelectionStatus]="questionSelectionStatus" [role]="role"
              (questionStatus)="questionStatusHandler($event)"
              (questionQueueStatus)="questionQueueStatusHandler($event)">
            </app-mcq-creation>
          </div>
        </div>
        <div *ngIf="sessionContext.questionType !== 'mcq'" class="ui segment">
          <div [hidden]="showLoader">
            <app-question-creation #questionCreationChild [sessionContext]="sessionContext" [questionMetaData]="questionMetaData"
              [questionSelectionStatus]="questionSelectionStatus" [role]="role"
              (questionStatus)="questionStatusHandler($event)"
              (questionQueueStatus)="questionQueueStatusHandler($event)">
            </app-question-creation>
          </div>
        </div>
      </div>
      <app-loader *ngIf='showLoader'></app-loader>
    </div>
  </div>

</div>

<sui-modal *ngIf="showSuccessModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'small'"
  class="sb-modal" appBodyScroll (dismissed)="showSuccessModal = !showSuccessModal; dismissPublishModal();" #modal>
  <div class="sb-modal-header">
    Practice Set Successfully Published
  </div>
  <div class="sb-modal-content">
    <p>Name : {{resourceName}} </p>
    <p>Board : {{sessionContext.board}} </p>
    <p>Medium : {{sessionContext.medium}} </p>
    <p>Class : {{sessionContext.gradeLevel}} </p>
    <p>Subject : {{sessionContext.subject}} </p>
    <p>ResourceID : {{publishedResourceId}} </p>
    Preview Link : <a target="_blank" href="https://diksha.gov.in/play/content/{{publishedResourceId}}">Click here</a>
  </div>

  <div class="sb-modal-actions">
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary"
      (click)="showSuccessModal = !showSuccessModal; dismissPublishModal();">
      Close
    </button>
  </div>
</sui-modal>

<sui-modal *ngIf="showDelectContentModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
  [size]="'normal'" class="sb-modal sb-error sb-modal-center" appBodyScroll
  (dismissed)="showDelectContentModal = !showDelectContentModal" #modal>
  <div class="sb-modal-header text-left">
      Delete Content
  </div>
  <div class="sb-modal-content">
      <p>Lorem Ipsum is simply dummy text of the 
          printingand typesetting industry.</p> 
  </div>
  <div class="sb-modal-actions">
    <button type="button" class="sb-btn sb-btn-normal"> Delete </button>
  </div>
</sui-modal>

<sui-modal *ngIf="showPublishModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
[size]="'normal'" class="sb-modal" appBodyScroll
(dismissed)="showPublishModal = !showPublishModal" #modal>
  <div class="sb-modal-header text-left">
      Publish (Content Type)
  </div>
  <div class="sb-modal-content">
    <div class="sb-publish-content">
      <div class="sb-publish-content-title"> Click Publish to:</div>
      <p class="py-8">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled 
      </p>
    </div>
  </div>
  <div class="sb-modal-actions">
    <button type="button" class="sb-btn sb-btn-normal sb-btn-primary"> Publish </button>
  </div>
</sui-modal>

<sui-modal *ngIf="showReviewModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
  [size]="'normal'" class="sb-modal" appBodyScroll
  (dismissed)="showReviewModal = !showReviewModal" #modal>
  <div class="sb-modal-header">
      Review Comments
  </div>
  <div class="sb-modal-content">
      <div class="sb-publish-content">
        <div class="review-modal-list">
          <ol class="list">
            <li class="pb-8">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </li>
            <li class="pb-8">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </li>
            <li class="pb-8">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </li>
          </ol>
      </div>
      </div>
  </div>
  <div class="sb-modal-actions">
    <button type="button" class="sb-btn sb-btn-normal sb-btn-primary"> Continue </button>
  </div>
</sui-modal>

<sui-modal *ngIf="showAddReviewModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
  [size]="'normal'" class="sb-modal" appBodyScroll
  (dismissed)="showAddReviewModal = !showAddReviewModal" #modal>
  <div class="sb-modal-header">
      Add Review
  </div>
  <div class="sb-modal-content">
      
      <div class="sb-field-group">
          <label>Enter your comments</label>
              <div class="sb-field relative">
              <textarea rows="4" name="moretext" class="sb-form-control" placeholder="Type here..."></textarea>
              <span class="characters-left">1000 Characters left</span>
              </div>
      </div>
          
  </div>
  <div class="sb-modal-actions">
    <button type="submit" class="sb-btn sb-btn-normal sb-btn-primary"> Submit Review </button>
  </div>
</sui-modal>
