@import "variables";
@import "mixins/mixins";
@import "components/video";

:host {
  .header-shadow {
    min-height: calculateRem(80px);
    background-color: var(--rc-FAFAFA);
    box-shadow: 0 calculateRem(10px) calculateRem(10px) calculateRem(-10px) rgba(var(--rc-rgba-black), 0.25);
    z-index: 99;
    position: relative;
  }
  .chapter-box {
    // border: 0.03125rem solid var(--primary-300);
    padding: 0 calculateRem(16px);
    background: var(--gray-0);
    border: none;
  }
  .side-toc-content {
    max-height: 100vh;
    overflow-y: auto;
  }

  //sbchapter css
  .sbchapter {
    border-bottom: calculateRem(1px) solid var(--rc-dddddd);
    padding: calculateRem(16px) calculateRem(16px) calculateRem(8px);
    h4 {
      font-size: $font-size-xs;
      line-height: calculateRem(18px);
      color: var(--gray-800);
      margin-bottom: calculateRem(8px);
    }
    &__item {
      background: var(--white);
      border: calculateRem(1px) solid var(--rc-dddddd);
      box-shadow: 0 calculateRem(3px) calculateRem(4px) 0 rgba(var(--rc-rgba-primary), 0.1);
      border: calculateRem(0.5px) solid rgba(var(--rc-rgba-primary-300), 0.5);
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: calculateRem(8px);
      padding: calculateRem(8px);
      cursor: pointer;
      min-height: calculateRem(56px);
      h4 {
        font-size: $font-size-sm;
        line-height: calculateRem(20px);
        color: var(--primary-400);
        margin: 0px;
        padding: 0px;
      }
      .sbchapter__img {
        width: calculateRem(40px);
        height: calculateRem(40px);
        flex: 0 0 calculateRem(40px);
        img {
          width: 100%;
        }
      }
      &:last-child {
        margin-bottom: 0px;
      }
      &:hover {
        background: var(--gray-0);
      }
      &--active {
        background: var(--primary-100);
      }
    }
  }
}

::ng-deep{
  .toc-content{
      width: 100%;
      height: 100%;  
      app-credits-and-licence{
          sb-accordion{
              .sbaccordion__panel{
                  box-shadow: none;
              }
          }
      }
  }
}

.header-block {
  display: none;
}

.back-btn-container {
  z-index: 1;

  .modulebtn-divider {
      width: 1px;
      height: 24px;
      background: var(--gray-200);
      display: inline-block;
      margin: 0 8px;
  }
}


.textbook {
  &-container {
      box-shadow: 0 0 calculateRem(10px) 0 rgba(var(--black), 0.25);
      position: relative;
      background-color: var(--rc-FAFAFA);
  }

  &__details {
      flex: 1;
      min-width: 0;
  }

  &__bookimg {
    width: calculateRem(48px);
    height: calculateRem(48px);
    img {
        width: calculateRem(48px);
        height: calculateRem(48px);
    }
  }

  &__heading {
      min-width: 0;

      .textbook__title {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
      }
  }

  &__addbtn {
      white-space: nowrap;
  }
}

:host::ng-deep {
  .certified-course__progress {
    .ui.progress .bar {
      height: calculateRem(8px) !important;
      background: var(--secondary-color);
    }
  }
}

.cc-player__list {
  background-color: var(--gray-0);
  padding: 0 calculateRem(16px);
  box-shadow: 0 calculateRem(3px) calculateRem(4px) 0 rgba(var(--rc-rgba-primary), 0.1);
}

.certified-course {
  align-self: center;;
}