@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
@use "components/video" as *;

:host {
  .header-shadow {
    min-height: calculateRem(80px);
    background-color: var(--gray-0);
    box-shadow: 0 calculateRem(10px) calculateRem(10px) calculateRem(-10px) rgba(var(--rc-rgba-black), 0.25);
    z-index: 99;
    position: relative;
  }
  .chapter-box {
    border-bottom: .0625rem solid var(--gray-100);
    padding: 0 calculateRem(16px);
    &:last-child{
      border-bottom: 0px solid var(--gray-100);
    }
  }
  .side-toc-content {
    max-height: calc(100vh - 20rem);
    overflow-y: auto;
    padding-bottom: calculateRem(24px);
  }

  //sbchapter css
  .sbchapter {
    border-bottom: calculateRem(1px) solid var(--rc-dddddd);
    padding: calculateRem(16px) calculateRem(16px) calculateRem(8px);
    h4 {
      font-size: var(--font-size-xs);
      line-height: calculateRem(18px);
      color: var(--gray-800);
      margin-bottom: calculateRem(8px);
    }
    &__item {
      background: var(--white);
      border: calculateRem(1px) solid var(--rc-dddddd);
      box-shadow: 0 calculateRem(3px) calculateRem(4px) 0 rgba(var(--rc-rgba-primary), 0.1);
      border: calculateRem(0.5px) solid rgba(var(--rc-rgba-primary-300), 0.5);
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: calculateRem(8px);
      padding: calculateRem(8px);
      cursor: pointer;
      min-height: calculateRem(56px);
      h4 {
        font-size: var(--font-size-sm);
        line-height: calculateRem(20px);
        color: var(--primary-400);
        margin: 0px;
        padding: 0px;
      }
      .sbchapter__img {
        width: calculateRem(40px);
        height: calculateRem(40px);
        flex: 0 0 calculateRem(40px);
        img {
          width: 100%;
        }
      }
      &:last-child {
        margin-bottom: 0px;
      }
      &:hover {
        background: var(--gray-0);
      }
      &--active {
        background: var(--primary-100);
      }
    }
  }
}

::ng-deep{
  .toc-content{
      width: 100%;
      height: 100%;  
      app-credits-and-licence{
          sb-accordion{
              .sbaccordion__panel{
                  box-shadow: none;
              }
          }
      }
  }
}

.header-block {
  display: none;
}

.back-btn-container {
  z-index: 1;
}


.textbook {
  &-container {
      box-shadow: 0 0 calculateRem(10px) 0 rgba(var(--black), 0.25);
      position: relative;
      background-color: var(--gray-0);
  }

  &__details {
      flex: 1;
      min-width: 0;
  }

  &__bookimg {
    width: calculateRem(48px);
    height: calculateRem(48px);
    img {
        width: calculateRem(48px);
        height: calculateRem(48px);
    }
  }

  &__heading {
      min-width: 0;

      .textbook__title {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
      }
  }

  &__addbtn {
      white-space: nowrap;
  }
}

:host::ng-deep {
  .certified-course__progress {
    .ui.progress .bar {
      height: calculateRem(8px) !important;
      background: var(--secondary-color);
    }
  }
  .sbchapter__item__score {
    display: none !important;
  }
}

.cc-player__list {
  background-color: var(--gray-0);
  padding: 0 calculateRem(16px);
  box-shadow: 0 calculateRem(3px) calculateRem(4px) 0 rgba(var(--rc-rgba-primary), 0.1);
}

.certified-course {
  align-self: center;;
}

@include respond-below(sm) {
  .certified-course__progress {
    margin-top: calculateRem(8px);
  }
}

.module-complete-content {
  background-color: var(--rc-bfe1cf);
  .complete-content-image {
    width: calculateRem(64px);
    img {
      max-width: 100%;
    }
  }
}

.custom-chip{
  font-weight: 500;
  background-color: #FFD954;
  color: black;
  margin-bottom: 0.75rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding-left: 0.5rem;
}