@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
@use "components/video" as *;


:host::ng-deep {
  .sbchapter__item__score {
    display: none !important;
  }
}

.certified-course {
  align-self: center;
}

@include respond-below(sm) {
  .certified-course__progress {
    margin-top: calculateRem(8px);
  }
}

.module-complete-content {
  background-color: var(--rc-bfe1cf);
  .complete-content-image {
    width: calculateRem(64px);
    img {
      max-width: 100%;
    }
  }
}


.list-container {
  padding: 1rem 0.5rem;
    border-radius: 1.5rem;
    box-shadow: 0.1875rem 0.1875rem 0.125rem #0003;
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
}