@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

::ng-deep {
  p.subtitle {
    // color: var(--gray-800);
    font-size: calculateRem(18px);
    font-weight: bold;
    letter-spacing: 0;
    line-height: calculateRem(26px);
    text-align: center;
  }
  .header-text{
    color: var(--color-accent-500);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 2rem;
    text-align: center;
    margin: 0.5rem 0;
    margin-bottom: 0;
}
}

::ng-deep {
  .sb-onbrd-modal {
    @include respond-below(sm) {
      .ui.modal {
        width: 95%;
        margin: 0 0 0 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
      }

      .ui.modal.scroll {
        position: fixed !important;
        margin-top: o !important;
        margin-bottom: 0px !important;
        top: 0;
        width: 100%;
        left: 0px;
        right: 0px;
        margin: 0 !important;
      }
    }
  }
}
