<div class="mat-inside-page-container mat-app-background2 explore-content-component">
  <div class="sb-g">
    <div [ngClass]="FIRST_PANEL_LAYOUT">
      <ng-container *ngIf="isDesktopApp">
        <app-network-status></app-network-status>
        <app-load-offline-content></app-load-offline-content>
        <app-system-warning></app-system-warning>
      </ng-container>
      <div [ngClass]="isDesktopApp ? 'sb-desktop-filter-section' : ''">
        <ng-container>
          <app-global-search-filter [layoutConfiguration]="layoutConfiguration" [facets]="facets" [isOpen]='true'
            *ngIf="initFilters && allTabData" (filterChange)="getFilters($event)">
          </app-global-search-filter>
        </ng-container>
      </div>
    </div>
    <div [ngClass]="SECOND_PANEL_LAYOUT" class="w-100 relative9">
      <div class="d-flex flex-ai-center my-16" *ngIf="!showLoader && totalCount > 0 && !showBackButton">
        <h4 class="mat-title m-0 mr-5" [innerHTML]="resourceService.frmelmnts?.lbl?.showingResultsFor |
interpolate:'{searchString}':this.queryParams.key !=null?this.queryParams.key:searchAll "> <span
            class="sb-pageSection-count sb-label sb-label-xs color-warn">{{totalCount}}</span></h4>
        <button mat-raised-button color="warn" class="button-rounded ml-auto"
          [telemetryInteractEdata]="closeIntractEdata" *ngIf="showBackButton" type="button" tabindex="0"
          (click)="goback()">
          {{resourceService?.frmelmnts?.btn?.close | translate}}
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div [appTelemetryImpression]="telemetryImpression" *ngIf="!showLoader && contentList.length">
        <app-global-search-selected-filter [facets]="facets" [selectedFilters]="selectedFilters"
          *ngIf="initFilters && facets && layoutConfiguration"
          (filterChange)="getFilters($event)"></app-global-search-selected-filter>
        <ng-container>
          <!-- <ng-container *ngFor="let data of contentList;let i = index;"> -->
          <div class="sb-grid mb-16">
            <div *ngFor="let content of contentList;let i = index;" [id]="i" [data]="content" class="sb-grid--item"
              [ngClass]="{'last mb-0':last}">
              <sb-library-card *ngIf="!isDesktopApp;else desktopCard" [indexToDisplay]="i"
                [layoutConfig]="layoutConfiguration" appTelemetryInteract [telemetryInteractEdata]="cardIntractEdata"
                [telemetryInteractObject]="{id:content.identifier,type:content.contentType || 'content',ver:content.pkgVersion ? content.pkgVersion.toString():'1.0'}"
                (cardClick)="playContent($event)" (enterKey)="playContent($event)" [content]="content"
                [cardImg]="content?.appIcon || 'assets/images/book.png'">
              </sb-library-card>
              <ng-template #desktopCard>
                <div class="sb-desktop-library-card relative9">
                  <sb-library-card [indexToDisplay]="i" [layoutConfig]="layoutConfiguration" appTelemetryInteract
                    [telemetryInteractEdata]="cardIntractEdata"
                    [telemetryInteractObject]="{id:content.identifier,type:content.contentType || 'content',ver:content.pkgVersion ? content.pkgVersion.toString():'1.0'}"
                    [hover-template]="hoverTemplate" [content]="content"
                    [cardImg]="content?.appIcon || 'assets/images/book.png'">
                    <ng-template #hoverTemplate let-hoverData="hoverData" let-content="content">
                      <sb-card-hover class="card-hover" [content]="content" [hoverData]="hoverData"
                        (hoverActionClick)="hoverActionClicked($event)">
                      </sb-card-hover>
                    </ng-template>
                  </sb-library-card>
                </div>
              </ng-template>
            </div>
          </div>
          <!-- </ng-container> -->
        </ng-container>
      </div>
      <div [appTelemetryImpression]="telemetryImpression" *ngIf="contentList.length === 0 && !showLoader">
        <app-no-result-found [title]="noResultMessage?.title" [subTitle]="noResultMessage?.subTitle"
          [buttonText]="noResultMessage?.buttonText"
          [showExploreContentButton]="noResultMessage?.showExploreContentButton"></app-no-result-found>
      </div>
      <div class="sb-grid" *ngIf="showLoader">
        <div [id]="i" [data]="content" class="sb-grid--item" *ngFor="let i of numberOfSections">
          <sb-library-card [layoutConfig]="layoutConfiguration" [isLoading]="true"></sb-library-card>
        </div>
      </div>
      <div *ngIf="paginationDetails.totalItems > configService.appConfig.SEARCH.PAGE_LIMIT && !showLoader">
        <div class="sb-pagination-container flex-jc-flex-end mt-16" *ngIf="paginationDetails.pages.length">
          <div class="sb-pagination my-0">
            <a role="button" title="{{resourceService?.frmelmnts?.lbl?.first}}"
              attr.aria-label="{{resourceService?.frmelmnts?.lbl?.first}}"
              [ngClass]="{disabled:paginationDetails.currentPage===1 }" class="sb-item " tabindex="0"
              (click)="navigateToPage(1) ">&laquo;</a>
            <a role="button" title="{{resourceService?.frmelmnts?.lbl?.previous}}"
              attr.aria-label="{{resourceService?.frmelmnts?.lbl?.previous}}"
              [ngClass]="{disabled:paginationDetails.currentPage===1 }" class="sb-item " tabindex="0"
              (click)="navigateToPage(paginationDetails.currentPage - 1)">&lt;</a>
            <a role=“button” aria-current=“page” title="{{page}}" attr.aria-label="{{page}}"
              *ngFor="let page of paginationDetails.pages" [ngClass]="{active:paginationDetails.currentPage===page}"
              tabindex="0" (click)="navigateToPage(page)" class="sb-item">{{page}}</a>
            <a role="button" title="{{resourceService?.frmelmnts?.lbl?.next}}"
              attr.aria-label="{{resourceService?.frmelmnts?.lbl?.next}}"
              [ngClass]="{disabled:paginationDetails.currentPage=== paginationDetails.totalPages}" tabindex="0"
              (click)="navigateToPage(paginationDetails.currentPage + 1)" class="sb-item">&gt;</a>
            <a role="button" title="{{resourceService?.frmelmnts?.lbl?.last}}"
              attr.aria-label="{{resourceService?.frmelmnts?.lbl?.last}}"
              [ngClass]="{disabled:paginationDetails.currentPage=== paginationDetails.totalPages}" tabindex="0"
              (click)="navigateToPage(paginationDetails.totalPages)" class="sb-item ">&raquo;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Show Modal if content has any YouTube data-->
<app-modal-wrapper *ngIf="showModal" [config]="{disableClose: false, width: '45rem', panelClass: 'material-modal'}"
  (dismiss)="showModal = !showModal;showModal = !showModal;" #modal>
  <ng-template sbModalContent>
    <div mat-dialog-title class="flex-jc-center flex-dc mb-0">
      <button mat-mini-fab color="warn" class="ml-auto" aria-label="close dialog"
        mat-dialog-close><mat-icon>close</mat-icon></button>
      <p class="mat-subheading-2 mb-0">{{resourceService.frmelmnts?.btn?.download}}</p>
    </div>
    <mat-dialog-content>
      <p>{{resourceService?.messages?.stmsg?.m0137 }}</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-stroked-button class="br-32" tabindex="0"
        (click)="showModal = !showModal; logTelemetry(contentData, 'cancel-download-content');">
        {{resourceService.frmelmnts?.btn?.cancel}}
      </button>
      <button mat-raised-button color="accent" class="button-rounded" tabindex="0"
        (click)="callDownload(); showModal = !showModal; logTelemetry(contentData, 'confirm-download-content');">
        {{resourceService.frmelmnts?.btn?.yes}}
      </button>
    </mat-dialog-actions>
  </ng-template>
</app-modal-wrapper>