*{
	padding:0;
}
.playerDefaultElem {
	min-height: 500px;
	border: 1px solid #ccc;
	overflow: auto;
}

.bg-blue{background-color:#F4F2EF !important}

.header-title{
	color: #888;
	height: 50px;
}

.customQuizFooter{
	position: static;
}
.customQuizFooter a, .customQuizFooter button{
	color: #888;
}
.footerNav{
	height: 50px;
}
.footerNav > div{
	margin: 10px 0px;
}
/*Timer*/
.countdowntime{
	margin-top: 8px;
}
.countdowntime span{
	font-family: 'bebas_neue_bold';
	font-size: 1.7em;
}
.icon-time{
	font-size: 1.3em;
}
/*Timer*/
/*alert messages*/
.assessment-messgeges-Container{
	margin-top: 10px;
}
.assessment-messgeges{
	padding: 5px;
}

.alert-skip{
	background:#FDF2B8 !important;
	border:1px solid #FEEE9D !important;
	color:#A58C12 !important;
}

.alert-error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

/*alert messages*/

/*Nav buttons*/
.finishNav,.visited > button,.visited > a {
	display : none;
} 

.assessment-player-navigation button{
	/*border: 0px solid #DADADA !important;
	color: #888 !important;
	text-shadow: none !important;
	font-size: 19px !important;
	font-weight: normal !important;*/
	margin-right: 5px !important;
	position: relative;
	top: -2px;
	/*background: none;*/
}

.assessment-player-navigation a{
	position: relative;
	top: 5px;
	right: 25px;
}

.assessment-player-navigation button:hover{
	color: #000 !important;
}

.unVisited,.visited{
	float: right;
}
/*Nav buttons*/

/*Go to question*/
#question-navigation-list{
	display: none;	
}

.skippedQindex{
	background: #F7B4B4;
	padding: 0 4px;
}

.question-navigation{
	list-style: none;
	float: left;
	padding: 0px 5px;	
	margin: 3px;
}

#question-navigation-list-container{
	overflow: auto;
}

#qtiPlayerContainer .popover-content{
	width: 300px;
}

/*Widget specific*/
li.choiceInteraction {
	float: left;
	display: inline;
	padding: 2px;
}
#choiceWGInteractionMess{font-style: italic;font-size: 13px;color: #666666;}

.choiceWGInteraction{
	margin: 10px 0 0 25px;
	padding-bottom: 15px;
}

#choiceWGInteractionItem{
	margin : 0 !important;
}

#choiceWGInteractionItem  > li{	
	padding : 10px;
}

#choiceWGRT{
	height : 200px;
	width : 200px;
	float: left;
}

#choiceWGRT img{
	max-height : 100%;
	max-width : 100%;
}

.formElementHolder{
	height:24px;
	width:24px;
	display: inline-block;
	position:relative;
	top:7px;
	left:-10px;
	background:url('../images/form_elements/sprite.png') no-repeat;}

.radioOn{	
	background-position:-3px -212px;
}

.radioOff{
	background-position:-3px -123px;
}

.checkBoxOff{	
	background-position:-3px -3px;
}

.checkBoxOn{	
	background-position:-3px -92px;
}

.choiceWGQuestionContainer{
	padding : 0;
	font-family: 'Frutiger Serif LT W01';
	font-size: 1.5em;
}

.choicePanel{
	margin: 7px 0;
	font-family: Frutiger Serif LT W01;
	font-size: 1.1em;
}

/*.choiceWGInteraction :nth-child(even){
  background-color: #dcdcdc;
}
.choiceWGInteraction :nth-child(odd){
  background-color: #aaaaaa;
}*/

.choiceWGPromtContainer{
	margin-left: 15px;
	color: #888;
	font-family: 'Frutiger Serif LT W01';
}
/*Widget specific*/



/*landing page css starts*/

.assessment-attempt-container{
    border-top: 1px solid #ddd;
    height: 300px;
    margin-bottom: 50px;
}
.assessment-previous-attempts{
    height: 100%;
    border-left: 1px solid #ddd;
}
.assessment-play{
    padding-top: 10%;
}
.assessment-previous-attempts-duration{
    color: #777;
    font-size: 12px;
    margin-left: 2%;
}
.attempt-list-text{
    font-size: 16px;
}
.assessment-score{
    font-size: 15px;
}
.assessment-table-container{
    overflow: auto;
    height: 270px;
}
/*landing page css ends*/

/*feedback page css starts*/

.assessment-feedback-container{
 min-height : 400px;
 display : none;
 font-family: 'Frutiger Serif LT W01';
}

.assessment-feedback-container .status-parent-container{
 background: #F4F2EF;
 padding: 10px 20px;
}

.assessment-feedback-container .status-parent-container > div{
 margin: 0 0 7px 0;
}

.assessment-feedback-container .responses{
 padding: 30px;
}

.assessment-feedback-container .commonWGClass{
 margin: 15px 0 0 0;
 border-bottom: 1px solid #ccc;
}

#assessment-feedback-container .choiceWGPromtContainer{
	display: none;
} 

#assessment-feedback-container{
	/*pointer-events:none;*/
}
#wrong-answer-text-container{
	color: red;
	font-weight: bold;
	float: left;
	width: 48px;
	height: 48px;
	left: -10px;
	top: 5px;
	/*display: none;*/
}
#correct-answer-text-container{
	color: green;
	font-weight: bold;
	width: 50px;
	float: left;
	left: -10px;
	top: -5px;
}
.correct-choice{
	background: url('../images/result/correct.png') no-repeat;
	position: relative;
	top: 2px;
	left: -15px;	
}

.commonCorrectIcon {
	width: 16px;
	height: 16px;
	display: inline-block;
}

.assessment-feedback-container .choiceWGInteraction{
	margin: 10px 0 0 60px !important;
}
.starttime-label, .endtime-label{
	font-size: 15px;
}
.starttime-container{
	margin-right: 40px;
}
#ideBtn:hover {
	background-color:#3276b1 !important;
	border-color:#285e8e !important;
	color:#fff !important;
}
.navButton_new:hover{
	background-color:#3276b1 !important;
	border-color:#285e8e !important;
	color:#fff !important;
	/*margin-bottom:15%;*/
}

.summaryPanel{
	pointer-events: none;
}

table.smryFeedback {table-layout:fixed;width:100%;background-color:#ddd;margin:1px;border:1px solid #888;font-size:13px !important;}
table.smryFeedback td {overflow:hidden;border:none;padding:5px;vertical-align:bottom;}
table.smryFeedback thead tr th {border:none;font-weight:bold;color:white;text-align:center;}
table.smryFeedback thead tr th:nth-of-type(1) {width:30%;border:none;}
table.smryFeedback tbody tr td:nth-of-type(1) {width:30%;border:none;}
table.smryFeedback tbody tr:nth-child(odd)  td  { background-color:#dae5f4; }
table.smryFeedback tbody tr:nth-child(even)  td  { background-color:#b8d1f3; }
table.smryFeedback tbody tr td:nth-child(odd) input  {width:100%;text-align:center;}
table.smryFeedback tbody tr td:nth-child(even) input  {width:100%;text-align:center;}
table.smryFeedback thead tr th:nth-child(odd) { background-color:#0099cc }
table.smryFeedback thead tr th:nth-child(even) { background-color: #0099cc;}

.scoreDiv{
	margin-top:10px;
	text-align:center;
	font-size:13px;
	font-weight:bold;
}

.scoreDiv span{
	padding:5px;
}

.scoreDiv input{
	width:100px;
	height:30px;
	text-align:center;
}
/*feedback page css ends*/

.marginTop8 {
	margin-top: 8px;
}

.span12 {
	width: 100% !important;
}