<sui-modal [isClosable]="false" #contentCreditsModal class="share-link-popup">
  <div class="header">
    <div class="ui grid">
      <div class="eleven wide column">
        <span class="ui header">{{resourceService?.frmelmnts?.lbl?.credits}}</span>
      </div>
      <div class="one wide column actions">
        <i class="close icon" (click)="closeModal(contentCreditsModal)"></i>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="ui list">
      <div class="item">
        <div class="header">{{resourceService?.frmelmnts?.lbl?.creators}}</div>
        <div class="padding-top-10">{{contentCreditsData.creators}}</div>
      </div>
      <div class="item" *ngIf="contentCreditsData.contributors">
        <div class="header padding-top-10">{{resourceService?.frmelmnts?.lbl?.contributors}}</div>
        <div class="padding-top-10">{{contentCreditsData.contributors}}</div>
      </div>
    </div>
  </div>
  <div class="actions margin-top-20"></div>
</sui-modal>
