<sui-modal 
    [isClosable]="true"
    [size]="'normal'"
    [transitionDuration]="0"
    (dismissed)="goToCreate();" 
    [mustScroll]="true" 
    #modal
    [appTelemetryImpression]="telemetryImpression">

    <!--Header-->
    <div class="header sb-modal-header">
        {{resourceService?.frmelmnts?.lbl[creationFormLable]}}
    </div>
    <!--/Header-->

    <!--Content-->
    <div class="content sb-modal-content" *ngIf="formFieldProperties && categoryMasterList">
        <app-content-creation-default-template 
            #formData 
            [formFieldProperties]="formFieldProperties" 
            [categoryMasterList]="categoryMasterList">
        </app-content-creation-default-template>
    </div>
    <!--/Content-->

    <!--Actions-->
    <div class="actions sb-modal-actions">
        <button class="ui primary button" (click)="createContent();modal.deny()">
            {{resourceService?.frmelmnts?.btn?.startcreating}}
        </button>
    </div>
    <!--/Actions-->
</sui-modal>