<div class="mycourses-padding ui grid">
    <div class="one wide column"></div>
    <div class="ten wide column popular-section" ng-if="!learn.enrollCourseApi.loader.showLoader && !learn.enrollCourseApi.error.showError && learn.enrolledCourses">
        <div ng-if="learn.enrolledCourses.length > 0">
            <h4 class="ui header sectionHeading"><span>My Courses</span><span class="ui red circular inline label ">{{learn.enrolledCourses.length}}</span></h4>

            <div class="regular slider  courses-slider" ng-if="learn.enrolledCourses.length > 0">
                <div ng-repeat="item in learn.enrolledCourses track by $index" in-view="learn.lineInView($index, $inview, item, 'My Courses', $index)" in-view-options="{ throttle: 1000 }" ng-init="$last&&$root.loadProgress()" ng-click="learn.openCourseView(item, 'ENROLLED_COURSE')" add-slick id="{{$index + '_' + item.identifier}}">
                    <div ng-include=" 'views/common/resumeCard.html'"></div>
                </div>
            </div>

            <content-player visibility="contentPlayer.isContentPlayerEnabled" body="contentPlayer.contentData" isshowmetaview="true" isheader="true" isclose="true" height="10" width="100" ispercentage="true"></content-player>
        </div>
    </div>
    <div class="ten wide column" ng-if="learn.enrollCourseApi.loader.showLoader">
        <app-loader data="{{learn.enrollCourseApi.loader}}"></app-loader>
    </div>
    <div class="ten wide column" ng-if="learn.enrollCourseApi.error.showError">
        <error-message data="{{learn.enrollCourseApi.error}}" visibility="learn.enrollCourseApi.error.showError"></error-message>
    </div>
    <div class="one wide column"></div>
</div>
<br><br>