@use 'sass:map';
@use 'sass:meta';
@use '@angular/material' as mat;

.button-rounded {

  &.mat-button,
  &.mat-raised-button,
  &.mat-flat-button {
    border-radius: 3rem;
    // box-shadow: var(--sbt-box-shadow-6px);
  }
}

%mat-success {
  $success: mat.define-palette(mat.$green-palette);
  background-color: mat.get-color-from-palette($success, 500);
  color: mat.get-color-from-palette($success, 500-contrast);
}

.mat-flat-button.mat-success,
.mat-raised-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  @extend %mat-success;
}

/* density styles */
// .density-0 {
//   @include mat.button-density(-0);
// }
// .density-1 {
//   @include mat.button-density(-1);
// }
// .density-2 {
//   @include mat.button-density(-2);
// }
// .density-3 {
//   @include mat.button-density(-3);
// }

//  .density-1 {
//   // @include mat.toolbar-theme-density(-1);
//    @include mat.form-field-density(-1);
//    @include mat.button-density(-1);
//  }
//  .density-2 {
//   // @include mat.toolbar-theme.density(-2);
//    @include mat.form-field-density(-2);
//    @include mat.button-density(-2);
//  }
//  .density-3 {
//   // @include mat.toolbar-theme-density(-3);
//   @include mat.form-field-density(-3);
//   @include mat.button-density(-3);
//  }
