@use '@angular/material' as mat;
@use 'sass:map';

.sb-secondary-btn {
 $secondary-btn-primary: mat.define-palette(mat.$green-palette);
 $secondary-btn-accent: mat.define-palette(mat.$green-palette);
 $secondary-btn-theme: mat.define-dark-theme((
   color: (primary: $secondary-btn-primary, accent: $secondary-btn-accent),
 ));
// it will fetch only color related styles different from "mat.button-theme"
 @include mat.button-color($secondary-btn-theme);
}