@use "~@angular/material" as mat;
@use 'sass:map';


@mixin theme-mat-card($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);

    // for customize the theme for the component it self..
  // $primary: mat.define-palette(mat.$cyan-palette);
  // $accent: mat.define-palette(mat.$cyan-palette, 500);

  .mat-card-title{
    color: mat-color($primary);
  }
  .cardSlick .mat-card{
    width: 20rem;
  }
  .mat-card{
    background-color: mat-color($primary, 50);
  }
  .mat-card .mat-chip-list-wrapper{
    display: initial;
    margin: 0;
  }
  .mat-card-header-text{
    overflow: hidden;
  }
  .mat-card-header .mat-card-title {
    font-size: 1rem;
  }
  .mat-card-subtitle,
  .mat-card-content {
    font-size: 0.875rem;
  }
}


 