@use "@angular/material" as mat;
@use 'sass:map';
@use './palette'as *;

@mixin theme-mat-card($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');
  $warn: map.get($color-config, 'warn');
  $background: map.get($color-config, 'background');

  // for customize the theme for the component it self..
  // $primary: mat.define-palette(mat.$cyan-palette);
  // $accent: mat.define-palette(mat.$cyan-palette, 500);

  $color-accent: mat.get-color-from-palette($accent);
  $color-accent-100: mat.get-color-from-palette($accent, 100);
  --cc-mat-card-title:#{$color-accent};
  --cc-mat-card-svg-flower:#{$color-accent};
  --cc-mat-card-selected-border:#{$color-accent};
  --cc-mat-card-selected-bg:#{$color-accent-100};

  .mat-card-title {
    color: mat.get-color-from-palette($accent);
  }
  // .mat-card-avatar{
  //   background-color: var(--cc-mat-card-img-container-bg);
  // }
  .mat-card-svg-tail{
    .svg-tail__rc{
      stroke: var(--cc-mat-card-svg-flower);
    }
  }

  .mat-card .mat-chip-list-wrapper {
    justify-content: flex-start;
    margin: 0;
  }
  .cardSlick .mat-card {
    width: 20rem;
  }
  .mat-card-header-text {
    overflow: hidden;
  }
  // .sb__ellipsis {
  //   -webkit-box-orient: vertical;
  //   display: -webkit-box !important;
  //   -webkit-line-clamp: 1;
  //   overflow: hidden !important;
  //   text-overflow: ellipsis;
  //   word-break: break-word !important;
  // }
  // .sb__ellipsis--two {
  //   -webkit-line-clamp: 2 !important;
  // }

  .mat-card.member-card:hover {
    background-color: mat.get-color-from-palette($accent, 500) !important;
    color: mat.get-color-from-palette($accent, 500-contrast);
  }
}
