@use "@angular/material" as mat;
@use 'sass:map';
@use './palette'as *;

@mixin theme-mat-card($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');
  $warn: map.get($color-config, 'warn');
  $background: map.get($color-config, 'background');

  // for customize the theme for the component it self..
  // $primary: mat.define-palette(mat.$cyan-palette);
  // $accent: mat.define-palette(mat.$cyan-palette, 500);

  $color-accent: mat.get-color-from-palette($accent);
  $color-accent-100: mat.get-color-from-palette($accent, 100);
  --cc-mat-card-title:#{$color-accent};
  --cc-mat-card-svg-flower:#{$color-accent};
  --cc-mat-card-selected-border:#{$color-accent};
  --cc-mat-card-selected-bg:#{$color-accent-100};

  .mat-card .mat-chip-list-wrapper {
    justify-content: flex-start;
    margin: 0;
  }
  .cardSlick .mat-card {
    width: 20rem;
  }
  .mat-card-header-text {
    overflow: hidden;
  }
  // .sb__ellipsis {
  //   -webkit-box-orient: vertical;
  //   display: -webkit-box !important;
  //   -webkit-line-clamp: 1;
  //   overflow: hidden !important;
  //   text-overflow: ellipsis;
  //   word-break: break-word !important;
  // }
  // .sb__ellipsis--two {
  //   -webkit-line-clamp: 2 !important;
  // }

  //themes 
  .deeppurple-amber .mat-card.mat-card-v2.selected .mat-card-header{
    background-color: var(--cc-mat-card-selected-bg);
  }
  .deeppurple-amber .mat-card.mat-card-v2 .mat-card-header{
    background-color: mat.get-color-from-palette($background, background);
  }
  .pink-bluegrey .mat-card-header .mat-card-title{
    color: mat.get-color-from-palette($background, background) !important;
  }
  .mat-card.member-card:hover {
    background-color: mat.get-color-from-palette($accent, 500) !important;
    color: mat.get-color-from-palette($accent, 500-contrast);
  }
}

//themes styles
.deeppurple-amber {
  $mat-card-palette: mat.define-palette(mat.$deep-purple-palette);
  .mat-card.mat-card-v2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    box-shadow: var(--sbt-box-shadow-6px) !important;
    padding: 0;
    .mat-card-header {
      border-radius: 1rem 1rem 0 0;
      order: 2;
      z-index: 2;
      padding-top: 2rem;
      display: block;
      margin-top: 3rem;
      .mat-card-avatar {
        height: 4rem;
        width: 4rem;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        top: 0.75rem;
        z-index: 1;
        left: 1rem;
        border: 0.1875rem solid var(--white);
      }
    }
    .mat-card-banner img {
      position: absolute;
      top: -2.25rem;
      left: 0;
      max-width: 100%;
      z-index: 1;
      order: 1;
      width: 100% !important;
      margin: 0;
    }
    .mat-card-content {
      padding: 0 1rem;
      margin-top: 0.25rem;
      margin-bottom: 0.5rem !important;
      order: 3;
      &>:first-child {
        min-height: 3.5rem;
      }
    }
    .mat-card__type {
      top: 1rem;
      right: 0.5em;
      ::ng-deep html[dir="rtl"] & {
        left: 0.5em;
        right: unset;
      }
      border-radius: 1.5rem;
      z-index: 2;
      bottom: unset !important;
      &::before {
        content: none !important;
      }
    }
    .mat-card-svg-tail {
      display: none;
    }
  }
}

.indigo-pink {
  $mat-card-palette: mat.define-palette(mat.$indigo-palette);
  .mat-card.mat-card-v2 {
    display: flex;
    border-radius: 1rem;
    box-shadow: 0.375rem 0.375rem 0.125rem 0 var(--sbt-box-shadow-black) !important;
    padding: 0rem;
    height: 100%;
    min-height: 12rem;
    .mat-card-header {
      width: 40%;
      margin-bottom: 0 !important;
      .mat-card-avatar {
        height: 100%;
        width: 100%;
        border-radius: 1rem 0 0 1rem;
      }
      .mat-card-header-text {
        position: absolute;
        left: 40%;
        width: 60%;
        padding: 1rem;
        margin: 0;
        top: 0;
      }
    }
    .mat-card-content {
      width: 60%;
      padding: 3.75rem 1rem 1rem 1rem;
      margin: 0;
      .text-left {
        position: absolute;
        bottom: 0.5rem;
      }
    }
    .mat-card__type {
      margin: 0 !important;
      border-radius: 0 0.5rem 0.5rem 0;
      top: 1rem;
      left: 0;
      ::ng-deep html[dir="rtl"] & {
        right: 0;
        left: unset;
      }
      text-align: center;
      bottom: unset !important;
      &::before {
        content: none !important;
      }
    }
    .mat-card-banner img,
    .mat-card-svg-tail {
      display: none;
    }
  }

  //banner card
  .mat-card.mat-banner-card{
    min-height: auto;
    .mat-card-content{
      padding: 0;
      width: 100%;
    }
  }
}

.pink-bluegrey {
  $mat-card-palette: mat.define-palette(mat.$deep-purple-palette);
  .mat-card.mat-card-v2 {
    .mat-card-banner img,
    .mat-card-svg-tail {
      display: none;
    }
    .mat-card-avatar {
      border-radius: 0;
      overflow: hidden;
      border: 0;
      height: 4rem;
      width: 4rem;
    }
    .mat-card-header-text {
      margin-top: 0.5rem;
    }
    .mat-card__type {
      right: 0;
      bottom: 1rem;
      ::ng-deep html[dir="rtl"] & {
        left: 0;
        right: unset;
      }
      &::before {
        transform: rotatey(0) !important;
        content: "";
        left: -0.625rem !important;
      }
    }
  }
  .mat-card.mat-banner-card{
    .mat-card-content>:first-child {
      margin: 0;
    }
  }
}

.purple-green,
.deeppurple-amber {
  // $mat-card-palette: mat.define-palette(mat.$indigo-palette);
}

.joy {
  $mat-card-palette: mat.define-palette($sb-mat-joy-primary);

 .mat-card.mat-card-v2{
    cursor: pointer;
    position: relative;
    border-radius: 1.5rem;
    box-shadow: var(--sbt-box-shadow-6px) !important;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0;
    flex-direction: column;
    .mat-card-header {
      display: block;
      z-index: 2;
      order: 2;
      width: 100%;
      justify-content: space-between;
      padding: 0 1rem;
      margin-bottom: 0 !important;
      .mat-card-avatar {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        position: absolute;
        top: 3rem;
        right: 2rem;
        border: 0.1875rem solid var(--cc-mat-card-avatar-border);
        z-index: 1;
        img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
        }
        html[dir='rtl'] & {
          right: auto;
          left: 2rem;
        }
      }
      .mat-card-header-text{
        margin: 0;
        width: 100%;
      }
      .mat-card-title{
        width: 70%;
      }
    }
    .mat-card-banner{
      height: 4.5rem;
      border-radius: 1rem;
      overflow: hidden;
      margin: 1rem;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0;
      }
    }
    .mat-card-content {
      order: 3;
      margin: 0 !important;
    }
    .mat-card-info{
      padding: 0 1rem 1rem;
    }
    .mat-card-chips-list{
      padding: 0 1rem;
    }
    .mat-card__type {
      top: 2.625rem;
      left: 0;
      margin: 0 !important;
      html[dir='rtl'] & {
        right: 0;
        left: unset;
      }
      &::before {
        left: auto !important;
        html[dir='rtl'] & {
          left: -0.5rem !important;
          transform: rotatex(180deg);
          right: unset;
        }
      }
    }
    &.selected{
      border-radius: 1.5rem;
    }
    &.recently-viewed{
      .mat-card-header .mat-card-avatar{
        height: 5.5rem;
        width: 5.5rem;
        right: 2.5rem;
      }
    }
    &:hover{
      transform: translate(0);
      box-shadow: 0 0.125rem 0.4375rem 0 rgba(var(--rc-rgba-black),.16) !important;
    }
  }
}

.green-grey {
  .mat-card.mat-card-v2 {
    .mat-card-header {
      flex-direction: column;
      align-items: center;
    }
    .mat-card-banner img,
    .mat-card-svg-tail {
      display: none;
    }
    .mat-card-avatar {
      border-radius: 50%;
      overflow: hidden;
      border: 0;
      height: 4rem;
      width: 4rem;
    }
    .mat-card-header-text {
      text-align: center;
      margin-top: 0.5rem;
    }
    .mat-card__type {
      right: 0;
      ::ng-deep html[dir="rtl"] & {
        left: 0;
        right: unset;
      }
      &::before {
        transform: rotatey(0) !important;
        content: "";
        left: -0.625rem !important;
      }
    }
  }
  .mat-card.mat-banner-card{
    .mat-card-content>:first-child {
      margin: 0;
    }
  }
}
