@use "@angular/material" as mat;
@use "sass:map";

@mixin mat-tab-group($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');
  $warn: map.get($color-config, 'warn');
  $background: map.get($color-config, 'background');


    .mat-tab-body {
        background: var(--sbt-body-bg);
    }
    
}