@use "@angular/material"as mat;
@use "sass:map";
@use './palette'as *;

@mixin mat-expansion-panel($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');
  $warn: map.get($color-config, 'warn');
  $background: map.get($color-config, 'background');
  $foreground: map.get($color-config, 'foreground');

  .mat-accordion .mat-expansion-panel {
    // background: var(--sbt-body-bg2);
    margin-bottom: 1rem;
    box-shadow: 0.375rem 0.375rem 0.125rem 0 rgb(0 0 0 / 10%);
    .mat-expansion-panel-header-title {
      font-weight: bold;
    }
  }
  .mat-accordion .mat-expansion-panel, .mat-accordion .mat-expansion-panel:not(.mat-expanded), .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing), .mat-accordion .mat-expansion-panel:first-of-type, .mat-accordion .mat-expansion-panel:last-of-type {
    border-radius: 1.5rem;
  }
  .mat-accordion .mat-expansion-panel:first-of-type {
    // border-top-right-radius: 1.5rem;
    // border-top-left-radius: 1.5rem;
  }
  .mat-accordion .mat-expansion-panel:last-of-type {
    // border-bottom-right-radius: 1.5rem;
    // border-bottom-left-radius: 1.5rem;
    margin-bottom: 0;
  }

  /* For now overidding mb-0 to mb-16 for batch details */
  .mat-accordion>.mat-expansion-panel-spacing:last-child {
    margin-bottom: 1rem;
  }
  .mat-help-page{
    .mat-slide-toggle{
      width: 100%;
      .mat-slide-toggle-label{
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }
  }
}

// Expansion panel theme