@use "~@angular/material" as mat;
@use 'sass:map';
@use './palette' as *;

@mixin theme-mat-card($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);

    // for customize the theme for the component it self..
  // $primary: mat.define-palette(mat.$cyan-palette);
  // $accent: mat.define-palette(mat.$cyan-palette, 500);

  .mat-card-title{
    // color: mat-color($accent);
    line-height: normal;
  } 
  .cardSlick .mat-card{
    width: 20rem;
  }
  .mat-card{
    background-color: mat-color($primary, 50);
  }
  .mat-card .mat-chip-list-wrapper{
    display: initial;
    margin: 0;
  }
  .mat-card-header-text{
    overflow: hidden;
  }
  // .mat-card-header .mat-card-title {
  //   font-size: 1rem;
  // }
  // .mat-card-subtitle,
  // .mat-card-content {
  //   font-size: 0.875rem;
  // }


.sb__ellipsis {
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    overflow: hidden !important;
    text-overflow: ellipsis;
    word-break: break-word !important;
}
.sb__ellipsis--two {
  -webkit-line-clamp: 2 !important;
}

}

// $mat-card-palette: mat.define-palette($sb-mat-joy-primary);
  // background: mat.get-color-from-palette($mat-card-palette, 300) !important;
  //   color: mat.get-color-from-palette($mat-card-palette, 300-contrast) !important;
.indigo-pink{
  $mat-card-palette: mat.define-palette(mat.$indigo-palette);
  .mat-card{
    display: flex;
    // background: mat.get-color-from-palette($mat-card-palette, 300) !important;
    // color: mat.get-color-from-palette($mat-card-palette, 300-contrast) !important;
    border-radius: 1rem;
    height: 12rem;
    box-shadow: 0.375rem 0.375rem 0.125rem 0 var(--sbt-box-shadow-black) !important;
    padding:0rem;
    height: 15rem;
    .mat-card-header {
      width: 40%;
      .mat-card-title {
        height: 3rem;
      }
      .mat-card-avatar{
        height: 100%;
        width: 100%;
        background-image: url('https://img-b.udemycdn.com/course/480x270/3227583_5e75_6.jpg');
        background-size: cover;
        background-position: top center;
        border-radius: 1rem 0 0 1rem;
        img{
           display: none;
        }
      }
      .mat-card-header-text{
        position: absolute;
        left: 40%;
        width: 60%;
        padding: 1rem;
        margin: 0;
      }
    }
    .mat-card-content{
      width: 60%;
      padding: 5.75rem 1rem 1rem 1rem;
      margin: 0;
      .text-left{
        position: absolute;
        bottom: 0.5rem;
        font-size: 0.75rem;
        margin-right: 1rem;
      }
    }
    .mat-card__type{
    //  background-color: mat.get-color-from-palette($mat-card-palette, '300') !important;
      margin: 0 !important;
      border-radius: 0 0.5rem 0.5rem 0;
      position: absolute;
      top: 1rem;
      left: 0;
      text-align: center;
      font-size: 0.6875rem;
      max-width: 7.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &::before{
        content: none !important;
      }
    }
    .mat-chip{
      min-height: 1.25rem;
      font-size: 0.75rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 7.5rem;
    }
    .mat-chip.mat-standard-chip {
      &:nth-child(1){
        background: var(--cc-sbcard-data1-bg);
        color: var(--cc-sbcard-data1-bg-active);
      }
      &:nth-child(2){
        background: var(--cc-sbcard-data2-bg);
        color: var(--cc-sbcard-data2-bg-active);
      }
    }
    .mat-card-banner-img, .sb--card-svg-tail{
      display: none;
    }
  }
}

.deeppurple-amber {
  $mat-card-palette: mat.define-palette(mat.$deep-purple-palette);
  .mat-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    box-shadow: var(--sbt-box-shadow-6px) !important;
    background: #fff !important;
    padding: 0;
    .mat-card-header {
      border-radius: 1rem 1rem 0 0;
      order: 2;
      z-index: 2;
      padding-top: 2rem;
      background: #fff;
      display: block;
      margin-top: 1rem;
      .mat-card-avatar {
        display: flex;
        align-items: center;
        height: 4rem;
        width: 4rem;
        justify-content: center;
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        top: 0.75rem;
        z-index: 1;
        left: 1rem;
        border: 0.1875rem solid var(--white);
        img {
          max-width: 100%;
        }
      }
      .mat-card-title {
        display: block;
        font-weight: bold;
        min-height: 2.5rem;
      }
      .mat-card-subtitle {
        font-size: 0.75rem;
        margin: 0.25rem 0;
        display: flex;
      }
    }
    .mat-card-banner-img {
      position: absolute;
      top: -2.25rem;
      left: 0;
      max-width: 100%;
      z-index: 1;
      height: 7.25rem;
      order: 1;
      width: 100% !important;
      margin: 0;
    }
    .mat-card-content {
      display: block;
      padding: 0 1rem;
      margin-top: 0.25rem;
      order: 3;
      &>:first-child{
            min-height: 3.5rem;
      }
    }
    .mat-card__type {
      position: absolute;
      top: 1rem;
      right: 0.5em;
      font-size: 0.625rem;
      background: var(--black);
      color: var(--white);
      border-radius: 1.5rem;
      z-index: 2;
      &::before{
        content: none !important;
      }
    }
    .mat-chip{
      min-height: 1.25rem;
      font-size: 0.75rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 7.5rem;
    }
    .mat-chip.mat-standard-chip {
      &:nth-child(1){
        background: var(--cc-sbcard-data1-bg);
        color: var(--cc-sbcard-data1-bg-active);
      }
      &:nth-child(2){
        background: var(--cc-sbcard-data2-bg);
        color: var(--cc-sbcard-data2-bg-active);
      }
    }
  .sb--card-svg-tail{
    display: none;
  }
}
}

.pink-bluegrey {
  $mat-card-palette: mat.define-palette(mat.$deep-purple-palette);
  .mat-card {
    .mat-card-content{
      padding-top: 0.5rem;
      margin: 0;
    }
    .mb-32{
      margin: 0 !important;
    }
    .mat-card-banner-img, .sb--card-svg-tail{
      display: none;
    }
    .mat-card-avatar{
      border-radius: 0;
      overflow: hidden;
      border: 0;
      height: 4rem;
      width: 4rem;
    }
    .mat-card-content>:first-child {
      margin: 1rem 0;
    }
    .mat-card-header-text{
      margin-top: 0.5rem;
    }
    .mat-card-subtitle{
      margin-bottom: 0.25rem;
    }
    .mat-standard-chip{
      border-radius: 0;
      min-height: 1.5rem;
      padding: 0.3125rem 0.625rem;
    }
    .mat-chip{
      min-height: 1.25rem;
      font-size: 0.75rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 7.5rem;
    }
    .mat-card__type {
      right: 0;
      bottom: 1rem;
      &::before{
        transform: rotatey(0) !important;
        content: "";
        left: -0.625rem !important;
      }
    }
  }


}

.purple-green, .deeppurple-amber {
  // $mat-card-palette: mat.define-palette(mat.$indigo-palette);
}

.joy {
  $mat-card-palette: mat.define-palette($sb-mat-joy-primary);
  // background: mat.get-color-from-palette($mat-card-palette, 300) !important;
  //   color: mat.get-color-from-palette($mat-card-palette, 300-contrast) !important;
  mat-card {
    width: 100%;
    background-color: white;
    display: flex;
    height: 100%;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    margin-top: 0;
    border: 0px;
    contain: content;
    border-radius: 1.5rem;
    box-shadow: var(--sbt-box-shadow-6px);
    overflow: hidden;
    padding: 1rem 1rem 0.75rem 1rem;
    display: flex;
    flex-direction: column;
  
    mat-card-header {
      z-index: 2;
      order: 2;
      margin-top: 0.5rem;
  
      div[mat-card-avatar] {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.875rem;
        height: 3.875rem;
        border-radius: 50%;
        position: absolute;
        top: 3rem;
        right: 1.5rem;
        overflow: hidden;
        border: 0.1875rem solid white;
        z-index: 1;
  
        img {
          max-width: 100%;
        }
      }
    }
  
    .mat-card-header-text {
      margin: 0;
      display: flex;
      flex-direction: column;
      margin: 0;
      mat-card-title {
        margin-bottom: 0.5rem;
        height: 3.5rem;
        // width: 70%;
      }
      
      mat-card-subtitle {
        font-size: 0.75rem;
        margin: 0;
      }
    }
  
    img[mat-card-image].mat-card-banner-img {
      top: 0;
      left: 0;
      max-width: 100%;
      width: 100%;
      border-radius: 1rem;
      margin: 0;
      height: 4.5rem;
      object-fit: cover;
      box-sizing: border-box;
      order: 1;
      margin-top: -2rem;
      margin-bottom: 1rem;
    }
  
    mat-card-content {
      margin: 0.5rem 0 0 0;
      font-size: 0.75rem;
      order: 3;
  
      div.text-left {
        margin-top: 0.5rem;
      }
    }
  
    .mat-chip {
      font-size: 0.75rem;
      font-weight: 500;
      padding: 0.125rem 0.5rem;
      min-height: auto;
      height: auto;
    }
  
    .mat-card__type {
      position: absolute;
      height: 1.25rem;
      font-size: 0.6875rem;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      top: 2.5rem;
      left: 0;
      background: black;
      color: white;
      justify-content: center;
      padding: 0 0.5rem;
      margin: 0 0 0 0rem !important;
  
      &::before {
        border-color: black black black transparent;
        position: absolute;
        right: -0.5rem;
        transform: rotateY(-180deg);
        content: "";
        width: 0;
        height: 0;
        border-width: 0.625rem 0.3125rem;
        border-style: solid;
        left: auto !important;
      }
    }
  }
}

.green-grey {
  .mat-card {
    .mat-card-header{
      flex-direction: column;
      align-items: center;
    }
    .mat-card-content>:first-child  {
      margin: 1rem 0;
    }
    .mat-card-banner-img, .sb--card-svg-tail{
      display: none;
    }
    .mat-card-avatar{
      border-radius: 50%;
      overflow: hidden;
      border: 0;
      height: 4rem;
      width: 4rem;
    }
    .mat-card-header-text{
      text-align: center;
      margin-top: 0.5rem;
    }
    .mat-card-subtitle{
      margin-bottom: 0.25rem;
    }
    .mat-standard-chip{
      border-radius: 0;
      min-height: 1.5rem;
      padding: 0.3125rem 0.625rem;
    }
    .mat-chip{
      min-height: 1.25rem;
      font-size: 0.75rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 7.5rem;
    }
    .mat-chip.mat-standard-chip {
      &:nth-child(1){
        background: var(--cc-sbcard-data1-bg);
        color: var(--cc-sbcard-data1-bg-active);
      }
      &:nth-child(2){
        background: var(--cc-sbcard-data2-bg);
        color: var(--cc-sbcard-data2-bg-active);
      }
    }
    .mat-card__type {
      right: 0;
      &::before{
        transform: rotatey(0) !important;
        content: "";
        left: -0.625rem !important;
      }
    }
  }
}