@use "sass:map";
@use "@angular/material" as mat;
@use './fonts' as * ;

// Define your custom color value for "50"
$custom-red-palette-50: red;

// Overwrite the "50" value in the $red-palette map
$indigo-palette: (
  500: $custom-red-palette-50,
  // ... (keep the rest of the shades as needed)
);

$sbmat-lemongreen: (
    50 : #f9fbe7,
    100 : #f0f5c4,
    200 : #e6ee9c,
    300 : #dce774,
    400 : #d5e157,
    500 : #cddc39,
    600 : #c8d833,
    700 : #c1d32c,
    800 : #bace24,
    900 : #aec517,
    A100 : #fefff7,
    A200 : #f7ffc4,
    A400 : #f0ff91,
    A700 : #ecff78,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$sbmat-aqua: (
  50 : #e2f4f3,
  100 : #b6e3e1,
  200 : #86d1cd,
  300 : #56bfb8,
  400 : #31b1a9,
  500 : #0da39a,
  600 : #0b9b92,
  700 : #099188,
  800 : #07887e,
  900 : #03776c,
  A100 : #a5fff5,
  A200 : #72fff0,
  A400 : #3fffeb,
  A700 : #25ffe8,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$sbmat-purple: (
  50 : #e8eaf6,
    100 : #c5cbe9,
    200 : #9fa8da,
    300 : #7985cb,
    400 : #5c6bc0,
    500 : #3f51b5,
    600 : #394aae,
    700 : #3140a5,
    800 : #29379d,
    900 : #1b278d,
    A100 : #c6cbff,
    A200 : #939dff,
    A400 : #606eff,
    A700 : #4757ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$sb-mat-joy-accent: (
  50: #e1eaf3,
  100: #b3cae2,
  200: #81a7ce,
  300: #4e84ba,
  400: #2869ac,
  500: #024f9d,
  600: #024895,
  700: #013f8b,
  800: #013681,
  900: #01266f,
  A100: #9eb6ff,
  A200: #6b90ff,
  A400: #386aff,
  A700: #1f57ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
$sb-mat-joy-primary: (
  50:  #e9e8d9, // #fffaea, 
  100: #f3f3e5, // #fff4cc,
  200: #ffecaa, 
  300: #ffe487,
  400: #ffdf6e,
  500: #ffd954,
  600: #ffd54d,
  700: #ffcf43,
  800: #ffca3a,
  900: #ffc029,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fff2d6,
  A700: #ffeabd,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
// Global color palettes
// $app-primary: mat.palette($mat-joy);
// $app-accent: mat.palette($mat-joy-accent); //, 500, A200, A100, A400
// $app-warn: mat.palette($mat-red);

$sb-mat-grey: (
  50: #e7e7e7,
  100: #c2c2c2,
  200: #999999,
  300: #707070,
  400: #525252,
  500: #333333,
  600: #2e2e2e,
  700: #272727,
  800: #202020,
  900: #141414,
  A100: #ef6e6e,
  A200: #ea4040,
  A400: #f60000,
  A700: #dd0000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$sb-mat-green: (
  50: #edf5ea,
  100: #d2e5ca,
  200: #b5d4a7,
  300: #97c284,
  400: #80b569,
  500: #6aa84f,
  600: #62a048,
  700: #57973f,
  800: #4d8d36,
  900: #3c7d26,
  A100: #cdffbe,
  A200: #a6ff8b,
  A400: #7fff58,
  A700: #6cff3f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);



/* custom mixins ends here */
/**
* Define your custom themes in this map. 
* The `key` of each member is the name of CSS class for that theme. 
* To better understanding the schema of the map, see `@each` loop below and especially pay attention to 
* `map-has-key()` functions.
*/

$app-themes: (
  // deeppurple-amber: (
  //   primary-base: mat.$deep-purple-palette,
  //   accent-base: mat.$amber-palette,
  //   success: mat.$green-palette,
  //   is-dark: false,
  //   foreground: mat.$light-theme-foreground-palette,
  //   background: mat.$light-theme-background-palette,
  //   typography:
  //     mat.define-typography-config(
  //       $font-family: "Arimo",
  //     ),
  // ),
  // indigo-pink: (
  //   primary-base: mat.$indigo-palette,
  //   accent-base: mat.$pink-palette,
  //   success: mat.$green-palette,
  //   is-dark: false,
  //   foreground: mat.$light-theme-foreground-palette,
  //   background: mat.$light-theme-background-palette,
  //   typography:
  //     mat.define-typography-config(
  //       $font-family: "Cabin",

  //     ),
  // ),
  pink-bluegrey: (
    primary-base: mat.$pink-palette,
    accent-base: $sbmat-lemongreen,
    success: mat.$red-palette,
    is-dark: true,
    foreground: mat.$dark-theme-foreground-palette,
    background: mat.$dark-theme-background-palette,
    typography:
      mat.define-typography-config(
        $font-family: "Poppins",
      ),
  ),
  // purple-green: (
  //   primary-base: mat.$purple-palette,
  //   accent-base: mat.$green-palette,
  //   success: mat.$green-palette,
  //   is-dark: true,
  //   foreground: mat.$dark-theme-foreground-palette,
  //   background: mat.$dark-theme-background-palette,
  //   typography:
  //     mat.define-typography-config(
  //       $font-family: "Quicksand",
  //     ),
  // ),
  joy: (
    primary-base: $sb-mat-joy-primary,
    accent-base: $sb-mat-joy-accent,
    success: mat.$green-palette,
    is-dark: false,
    foreground: mat.$light-theme-foreground-palette,
    background: mat.$light-theme-background-palette,
    typography:
      mat.define-typography-config(
        $font-family: var(--font-stack-en),
      ),
  ),
  aquapurple: (
    primary-base: $sbmat-aqua,
    accent-base: $sbmat-purple,
    success: mat.$green-palette,
    is-dark: false,
    foreground: mat.$light-theme-foreground-palette,
    background: mat.$light-theme-background-palette,
    typography:
      mat.define-typography-config(
        $font-family: var(--font-stack-en),
      ),
  ),  
  // aquagun: (
  //   primary-base: $sbmat-gunmetal,
  //   accent-base: $sbmat-aqua,
  //   success: mat.$green-palette,
  //   is-dark: true,
  //   foreground: mat.$dark-theme-foreground-palette,
  //   background: mat.$dark-theme-background-palette,
  //   typography:
  //     mat.define-typography-config(
  //       $font-family: var(--font-stack-en),
  //     ),
  // ),
  // green-grey: (
  //   primary-base: $sb-mat-green,
  //   accent-base: mat.$orange-palette,
  //   success: mat.$green-palette,
  //   is-dark: true,
  //   foreground: mat.$dark-theme-foreground-palette,
  //   background: mat.$dark-theme-background-palette,
  //   typography:
  //     mat.define-typography-config(
  //       $font-family: "Roboto Slab",
  //     ),
  // ),
);