@use "@angular/material" as mat;
@use "sass:map";
@forward "./palette";
@forward './buttons';
@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

@mixin global-search($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');
  $warn: map.get($color-config, 'warn');
  $background: map.get($color-config, 'background');
  $foreground: map.get($color-config, 'foreground');

  .sb-mat-form-search {
    .mat-form-field-flex {
    // @include respond-between(md,lg) {
    //   width: auto;
    // }
    @include respond-below(md) {
      width: 100%;
    }
  }
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        &:hover {
          // border: 0.0625rem solid var(--color-accent);
        }
        .mat-input-element {
          // width: calc(100% - 5rem);
        }
      }
    }

    &__button {
      $btn-primary: mat.define-palette(mat.$gray-palette);
      background-color: mat.get-color-from-palette($btn-primary, 900);
      color: mat.get-color-from-palette($btn-primary, 900-contrast);
      position: relative;
      top: -0.5rem;
    }
    .mat-icon, .mat-form-field-label {
      color:initial;
      .pink-bluegrey & {
        color:inherit;
      }
    }
    .mat-form-field-label-wrapper {}
  }

}