@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.mat-page-container {
    margin: 0 auto;
    width: 90%;
    @include respond-below(sm) {
        width: 95%;
    }
}
.mat-inside-page-container {
    padding: 2rem 5% 2rem 3%;
    margin: 0 0 0 2%;
    border-radius: 2rem 0 0 2rem;
    @include respond-below(sm) {
        margin-top: -1.5rem;
        width: 100%;
        margin-left: 0;
    }
}
.mat-app-background2 {
    background: var(--sbt-body-bg2);
}


.example-spacer{
    flex: 1 1 auto;
}

.list-style-dotted {
    list-style: disc;
}