@use "@angular/material" as mat;
@use "sass:map";
@use "./palette" as *;

@mixin toolbar-menu($theme) {

     // Get the color config from the theme.
     $color-config: mat.get-color-config($theme);
     // Get the primary color palette from the color-config.
     $primary: map.get($color-config, 'primary');
     $accent: map.get($color-config, 'accent');
     $warn: map.get($color-config, 'warn');
     $background: map.get($color-config, 'background');

     // $minimum-height: 5rem !default;
     // $height-desktop: 5rem !default;
     // $height-mobile: 5rem !default;

     .mat-toolbar.toolbar-menu {
          // background: theming.get-color-from-palette($background, app-bar);
          // color: theming.get-color-from-palette($foreground, text);
          border-radius: 1.5rem 1.5rem 0 0;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
     }

}