/*get dial code page responsive css*/
.ui.footer.segment {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 989898;
}
.bars.icon.tablet.sunbird-hamburger-menu {
    cursor: pointer;
    position: absolute;
    margin: 0;
    padding-top: 0.5em;
    opacity: .7;
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
}
.get-page-background {
  background: linear-gradient(-90deg, #5C8DB7, #91AECC);
  height: 100vh;
}
.dailcode-page-background {
  background: #f9f9f9;
  height: 100vh;
}
.bars.icon.mobile.sunbird-hamburger-menu {
    cursor: pointer;
    position: absolute;
    margin: 0;
    padding-top: 1.5em; 
}
.dial-section-header {
  margin-top: 3em;
}
.dail-section-meta {
  color: white;
}
.ui.header.dial-section-header-text {
  color:#fff;
}
.ui.header .sub.header.dial-section-subheader-text {
  color: #fff;
  font-size: 1rem;
}
.dial-section-input {
  margin-top: 10em;
}
.mobile-popup-dimmer {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: -999px;
  z-index: 9998;
  transition: 0.75s ease;
  .mobile-app-popup {
    display: none;
    position: fixed;
    bottom: -999px;
    z-index: 9999;
    left: 0;
    right: 0;
    transition: 0.75s ease;
    .download-diksha {
      border-radius: 20px 20px 0 0;
      position: absolute;
      bottom: -20px;
      padding: 32px 12px 0 12px;
      background: #333333;
      box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.2);
      max-width: 250px;
      right: 0;
      left: 0;
      margin: 0 auto;
      transition: .75s ease-in-out;
      img {
        width: 120px;
       }
       .diksha-logo {
        background: white;
        color: black;
        border-radius: 8px 8px 0 0;
       }
       .diksha-logo {
        p {
          font-size: 12px;
          line-height: 16px;
         }
         label {
          font-size: 12px;
         }
       }
       label {
        font-weight: bold;
       }
       .close-mobile-div {
        position: absolute;
        top: -10px;
        right: -10px;
        height: 30px;
        width: 30px;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 50%;
        color: black;
        border: 2px solid black;
        padding: 0;
        margin: 0;
        outline: 0;
       }
       .close-mobile-div:hover, .download-diksha .close-mobile-div:focus {
        background: white;
       }
       .close {
        line-height: normal;
        margin: 0 0 2px 0 !important;
       }
       .mobile-circles {
        position: absolute;
        top: 10px;
        display: flex;
        align-items: center;
        margin: 0 40px;
       }
       .mobile-circles .border-round {
        background: #464646;
        border: none;
       }
       
       .mobile-circles .border-r50 {
        border-radius: 50%;
       }
       
       .mobile-circles  .big-box {
        height: 14px;
        width: 14px;
       }
       
       .mobile-circles  .oval-box {
        height: 6px;
        width: 76px;
        border-radius: 3px;
        margin-left: 10px;
       }
       
       .mobile-circles .small-box {
        height: 8px;
        width: 8px;
        margin-left: 10px; 
       }
     }
   }
 }

.bottom-0 {
  bottom: 0;
}
@media screen and  (min-width: 240px) and (max-width: 768px) {
  .dial-section-input {
    margin-top: 2em;
  }
}
@media screen and  (min-width: 320px) and (max-width: 768px) {
  .ui.header.dial-section-header-text {
    padding-top: 4em !important;
  }
}
.dial-code-section-bg {
  background: #fff;
}
@media only screen and (max-width: 767px) {
  .ui.container.public-responvive-container {    
    margin-right: 0 !important; 
  } 
}
@media only screen and (min-width: 768px) {
  .closeBtn-dial-code {
    float:right;
  }
}
@media screen and  (min-width: 320px) and (max-width: 768px) {
  .ui.small.header.popUp-dial-code-header {
    font-size: 1.2em;
  }
}
.menu-public-header{
  border-top: 2px solid rgba(0,0,0,.13);
}
@media screen and  (min-width: 240px) and (max-width: 767px) {
  .mobile-popup-dimmer {
    display: block;
    .mobile-app-popup {
      display: block;
      .download-diksha {
        display: block;
        bottom: 0;
        margin: 0 auto;
        right: 0;
        left: 0;
        box-shadow: 0 0 20px 10px rgba(0,0,0,.2);
        height: 145px;
        .close-mobile-div {
          display: flex;
        }
        .diksha-logo{
          height: 115px;
          overflow: hidden;
        }
      }
    }
  }
}