@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

/*get dial code page responsive css*/
.mobile-popup-dimmer {
  background: rgba(var(--rc-rgba-black), 0.5);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: -999px;
  z-index: 9998;
  transition: 0.75s ease;
  .mobile-app-popup {
    display: none;
    position: fixed;
    bottom: -999px;
    z-index: 9999;
    left: 0;
    right: 0;
    transition: 0.75s ease;
    .download-mobile-app {
      border-radius: calculateRem(20px) calculateRem(20px) 0 0;
      position: absolute;
      bottom: 0 !important;
      padding: calculateRem(32px) calculateRem(12px) 0 calculateRem(12px);
      background: var(--gray-800);
      box-shadow: 0 calculateRem(20px) calculateRem(20px) calculateRem(10px) rgba(var(--rc-rgba-black), 0.2);
      max-width: calculateRem(250px);
      right: 0;
      left: 0;
      margin: 0 auto;
      transition: 0.75s ease-in-out;
      .mobile-app-popup-close {
        position: absolute;
        top: calculateRem(-15px);
        right: calculateRem(15px);
        width: calculateRem(25px);
        height: calculateRem(25px);
        background: var(--white);
        margin: 0;
        border-radius: calculateRem(25px);
        z-index: 9999;
        text-align: center;
        cursor: pointer;
        .icon {
          margin: 0 !important;
          color: var(--gray-400);
        }
      }
      img {
        width: calculateRem(120px);
      }
      .download-mobile-app-logo {
        background: var(--white);
        color: var(--black);
        border-radius: calculateRem(8px) calculateRem(8px) 0 0;
        p {
          font-size: calculateRem(12px);
          line-height: calculateRem(16px);
        }
        label {
          font-size: calculateRem(12px);
        }
      }
      label {
        font-weight: bold;
      }
      .close {
        line-height: normal;
        margin: 0 0 calculateRem(2px) 0 !important;
      }
      .mobile-circles {
        position: absolute;
        top: calculateRem(10px);
        display: flex;
        align-items: center;
        margin: 0 calculateRem(20px);
      }
      .mobile-circles .border-round {
        background: var(--gray-400);
        border: none;
      }

      .mobile-circles .border-r50 {
        border-radius: 50%;
      }

      .mobile-circles .big-box {
        height: calculateRem(14px);
        width: calculateRem(14px);
      }

      .mobile-circles .oval-box {
        height: calculateRem(6px);
        width: calculateRem(76px);
        border-radius: calculateRem(3px);
        margin-left: calculateRem(10px);
      }

      .mobile-circles .small-box {
        height: calculateRem(8px);
        width: calculateRem(8px);
      }
    }
  }
}

.bottom-0 {
  bottom: 0;
}
.dial-code-section-result {
  align-items: center !important;
  .header {
    display: inline-flex;
    align-items: center;
  }
  .header-label {
    font-size: calculateRem(12px);
  }
}

@media screen and (min-width: 240px) and (max-width: 767px) {
  .mobile-popup-dimmer {
    display: block;
    .mobile-app-popup {
      display: block;
      .download-mobile-app {
        display: block;
        bottom: 0;
        margin: 0 auto;
        right: 0;
        left: 0;
        box-shadow: 0 0 calculateRem(20px) calculateRem(10px) rgba(var(--rc-rgba-black), 0.2);
        height: calculateRem(185px);
        p {
          display: block !important;
        }
        .close-mobile-div {
          display: flex;
        }
        .download-mobile-app-logo {
          height: calculateRem(160px);
          overflow: hidden;
        }
      }
    }
  }
}
.sb-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(252px, 1fr));
  grid-gap: 1rem;
  grid-row-gap: 1.5rem;
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  margin:1rem 0 0 0;
  padding: 0px 0;
  align-items: center;

  .title {
    font-family: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    height: calculateRem(24px);
    color: var(--primary-color);
    font-size: calculateRem(18px);
    font-weight: bold;
    text-transform: capitalize;
    line-height: calculateRem(26px);
    display: flex;
    align-items: center;

    .badge {
      display: inline-block;
      background: var(--sbt-badge-bg);
      color: var(--gray-800);
      text-align: center;
      padding: calculateRem(0px) calculateRem(12px);
      border-radius: calculateRem(4px);
      height: calculateRem(24px);
      line-height: calculateRem(24px);
      font-size: calculateRem(16px);
      font-weight: normal;
      margin-left: calculateRem(8px);
    }
  }
}
.sb-placeholder {
  justify-content: center !important;
}
