<div class="ui container" [appTelemetryImpression]="telemetryImpression">
  <div class="content-grid py-24">
    <div class="row">
    </div>
    <div class="row" *ngIf="showLoader">
      <div class="twelve wide column">
        <app-loader [data]='loaderMessage'></app-loader>
      </div>
    </div>
    <div class="dial-code-section-result">
      <div class="sb-pageSection" *ngIf="!showLoader && searchResults.length > 0">
        <div class="sb-pageSection-header">
          <h4 class="sb-pageSection-title m-0 mr-5">{{resourceService.frmelmnts?.lbl?.dialCode}} -</h4>
          <span class="sb-pageSection-count sb-label sb-label-xs sb-label-error mr-5">{{dialCode}}</span>
          <span class="header-label">{{resourceService.frmelmnts?.lbl?.linkedContents}}
            ({{searchResults.length}})</span>
          <button *ngIf="!isOffline" appTelemetryInteract [telemetryInteractEdata]="closeIntractEdata"
            [telemetryInteractCdata]="telemetryCdata"
            class="sb-btn sb-btn-normal sb-btn-error ml-auto sb-cls-btn computer only" type="button" (click)="handleCloseButton()">
            {{resourceService?.frmelmnts?.btn?.close}}
            <i class="close icon"></i></button>
        </div>
      </div>
      <div *ngIf="!isOffline && showSelectChapter && !showLoader && searchResults.length > 0" class="d-flex flex-ai-center mb-24">
        <button appTelemetryInteract [telemetryInteractEdata]="selectChapterInteractEdata" [telemetryInteractCdata]="selectChapterTelemetryCdata"
        (click)="redirectToDetailsPage(dialContentId)" class="sb-btn sb-btn-normal sb-btn-primary sb-right-icon-btn" type="button">{{resourceService.frmelmnts?.lbl?.selectChapter}}<i class="icon chevron circle right"></i></button>
          <div class="ml-8 fmedium">{{resourceService.frmelmnts?.lbl?.fromTheTextBook}}<span class="fmedium font-weight-bold">"{{chapterName}}"</span></div>
      </div>
    </div>
    <div class="row" [appTelemetryImpression]="dialResultImpression">
      <div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
        (scrolled)="onScrollDown()">
        <div *ngIf="!showLoader && itemsToDisplay.length" in-view-container (inview)="inview($event)"
          [throttle]="[1000]" [trigger]="itemsToDisplay" class="masonry-grid dynamic-section-card">
          <div in-view-item [id]="i" [data]="content" class="masonry-item"
            *ngFor="let content of itemsToDisplay;let i = index;">

            <app-card *ngIf="!isOffline && content.contentType.toLowerCase() === 'course'" appContentDirection (clickEvent)="playCourse($event)" [dialCode]="dialCode" [data]="content"></app-card>

            <app-dial-code-card *ngIf="!isOffline && content.contentType.toLowerCase() !== 'course'" appContentDirection [dialCode]="dialCode" [data]="content" (clickEvent)="getEvent($event)"  [singleContentRedirect]="singleContentRedirect"></app-dial-code-card>

            <app-offline-dial-code-card *ngIf="isOffline" appContentDirection [dialCode]="dialCode" [data]="content" (clickEvent)="getEvent($event)"></app-offline-dial-code-card>

          </div>
        </div>
      </div>
      <div class="row sb-placeholder">
          <div *ngIf="!showLoader && !searchResults.length">
            <app-comming-soon></app-comming-soon>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="mobile-popup-dimmer" (click)="closeMobileAppPopup()" [ngClass]="{'bottom-0': showMobilePopup}">
  <div class="mobile-app-popup" [ngClass]="{'bottom-0': showMobilePopup}">
    <div class="download-diksha" (click)="redirectToDikshaApp()">
      <div class="diksha-logo p-15">
        <div class="mobile-circles">
          <div class="big-box border-round border-r50"></div>
          <div class="oval-box border-round ml-24"></div>
          <div class="small-box border-round border-r50 ml-16 mr-8"></div>
          <div class="small-box border-round border-r50"></div>
        </div>
        <label class="d-block text-center">{{resourceService?.frmelmnts?.lbl?.downloadDikshaForMobile | interpolate:'{instance}': instance}}</label>
        <a id='app-download-mobile' class="d-block pb-10 text-center app-download">
          <img class="playStore-img" src="assets/images/google_playstore.png"
            alt="{{resourceService?.frmelmnts?.lbl?.dikshaForMobile | interpolate:'{instance}':instance}}"
            title="{{resourceService?.frmelmnts?.lbl?.dikshaForMobile | interpolate:'{instance}':instance}}">
        </a>
        <p class="d-block text-center pt-8">{{resourceService.frmelmnts?.lbl?.getUnlimitedAccess}}
        </p>
      </div>
    </div>
  </div>
</div>

<app-batch-info *ngIf="showBatchInfo" [enrolledBatchInfo]="selectedCourseBatches" (modelClose)="showBatchInfo = false"></app-batch-info>

<sui-dimmer *ngIf="isOffline" class="page offline content" [isDimmed]="showExportLoader" [isClickable]="false">
  <div class="ui active centered inline loader"></div>
  <h2 class="mt-8"> {{resourceService.frmelmnts?.lbl?.exportingContent | interpolate:'{contentName}':contentName}}
  </h2>
</sui-dimmer>
<sui-dimmer *ngIf="isOffline" class="page offline content" [isDimmed]="showDownloadLoader" [isClickable]="false">
  <div class="ui active centered inline loader"></div>
  <h2 class="mt-8"> {{resourceService.frmelmnts?.lbl?.downloadingContent | interpolate:'{contentName}':contentName}}
  </h2>
</sui-dimmer>
