<sui-modal [isClosable]="true" (dismissed)="close()" #modal>
  <div class="header">Bulk upload content</div>
  <div class="content">

    <!-- select file -->
    <div>
      <input type="file" accept=".csv">
    </div>

    <!-- validation errors -->

    Error 1 <br>

    Error 2


    <!-- radio buttons -->

    <div class="ui form">
      <div class="grouped fields">
        <div class="field">
          <sui-radio-button name="example" value="">Publish</sui-radio-button>
        </div>
        <div class="field">
          <sui-radio-button name="example" value="">Publish and Link to textbook</sui-radio-button>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <button class="ui green button" (click)="modal.approve('done')" autofocus>Start Upload</button>
  </div>
</sui-modal>