<div class="homeCard ui card">
    <div class="content">
        <div class="header ann-header">
            <span class="header cardsHeading">Announcements</span>
            <a class="ui right floated font-dark-blue card-view">View All</a>
        </div>
        <div class="description ann-description">
            <div class="ui list">
                <div class="item">
                    <div class="content">
                      <a class="header text-decoration-underline cardsSubHeading">Exam Date Announced </a><br>
                      <div class="description cardsDescription">An excellent polish restaurant, quick delivery and hearty, filling meals.</div>
                    </div>
                </div><br>              
                <div class="item">
                    <div class="content">
                      <a class="header text-decoration-underline exam-date-ann">Exam Date Announced </a><br>
                      <div class="description exam-ann-description">An excellent polish restaurant, quick delivery and hearty, filling meals.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>