<div apply-script class="ui grid" ng-controller="AuthCtrl as auth" ng-include="'views/header/header.html'">
</div>
<div class="ui secondary pointing menu" ng-include="'views/header/mainMenu.html'">
</div>
<div ng-if="(isLearnPage || isResourcesPage || isTocPage || isNotePage || isPlayerPage || isSearchPage)" ng-controller="SearchQueryCtrl as search" class="header-filter-container" ng-include="'views/header/filter.html'">
</div>
<div class="ui margin-bottom-15" ng-if="breadCrumbsData">
    <div class="ui grid">
        <div class="one wide column"></div>
        <div class="ten wide column">
            <div class="ui padded breadcrumb">
                <span ng-repeat="item in breadCrumbsData">
                    <a ng-click="openLink(item.link)" ng-if="!$last" class="section">{{item.name}}</a>
                    <i ng-if="!$last" class="right chevron icon divider"></i>
                    <span ng-if="$last" class="active section">{{item.name}}</span>
                </span>
            </div>
        </div>
        <div class="one wide column"></div>
    </div>
</div>