.footer {
	position:relative;
	z-index:1;
	font-size: 14px;
	//display: none;


	.footer__top {
		width: 100%;
		padding: 50px 0px 30px 0px;
		background: #505050;

		a {
			color: #f5f5f5;
			font-weight: 500;
		}

		ul {
			margin: 0px;
			list-style: none;
			padding: 0 0 0 20px;

			li {
				margin: 5px 0px 0px 0px;
				list-style: none;
				font-weight: 100;
				font-size: 1.1em;
			}
			@media (max-width: 992px) {
				margin-bottom: 30px;
				font-size: 1.2em;
			}
		}

		.footer__title {
			color: #FFF;
			font-size: 1.1em;
			font-weight: bold;
			@media (max-width: 992px) {
				font-size: 1.2em;
			}
		}
		.sideline{
			@media (min-width: 992px){
				border-left:1px solid #888;
				min-height:80px;
			}
		}
	}

	.footer__bottom {
		width: 100%;
		background: #222;
		padding: 20px 0px;
		color: #DDD;
		font-weight: 100;

		.footer__social-media {
			display: inline-block;
			width: 32px;
			height: 32px;
			border: 2px solid rgba(255, 255, 255, 0.3);
			color: #FFF;
			border-radius: 16px;
			text-align: center;
			font-size: 19px;
			line-height: 28px;
			margin: 0px 4px 0px 4px;
			opacity: 0.6;
			padding-top: 1px;
		}
		.footer__social-media:hover {
			opacity: 1;
			border: 2px solid rgba(255, 255, 255, 0.5);
		}

		.footer__copyright {
			display: inline-block;
			height: 32px;
			line-height: 32px;
		}
	}
}
.power_cover{
	color:#b5b5b5;
	font-size: 1.1em;
	}
	.platform{
		border:2px solid #b5b5b5;
		padding:7px;
		display:inline-block;
		font-size:1.6em;
		line-height: 1;
		margin:0 0 10px 0;
}
.footer .footer__top a.social-icon{display:inline-block; margin:5px; color:#b5b5b5;font-size: 16px;}
iframe#freshwidget-embedded-form .copyright{display:none !important;}
@media screen and (min-width:992px){
.page-footer{display:none;}
}
