
img {
	max-width: 100%;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
}

img.plugin:hover {
  border-color: rgba(28,173,206,0.3);
  -moz-box-shadow: 0 0 0 3px rgba(28,173,206,0.3);
  -webkit-box-shadow: 0 0 0 3px rgba(28,173,206,0.3);
  box-shadow: 0 0 0 3px rgba(28,173,206,0.3);
  transition-duration: 200ms;
}

img.left {
	float: left;
	margin: 15px 15px 15px 0px;
}
img.right {
	float: right;
	margin: 15px;
}
img.center {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
img.nofloat, {
	margin-top: 30px;
	margin-bottom: 30px;
}
