.createAnnHeaderDesc{
	font-size:small;
	color: #979797
}
.createAnnStepsIndicator{
	margin-left: 75px;
	background-color: #f2f2f2;
	margin-bottom: auto;
	padding: 10px  20px;
}
.createAnnFormScroller{
	max-height: 400px;
	overflow-y: auto;
	height: 327px
}
.createAnnAttchementHolder{
	overflow-x: hidden;
	max-height: 330px;
	overflow-y: auto;
}
.createAnnErrorDiv {
  border-color: red !important;
  color: red;
}
.ui.modal .ui.form input.ng-invalid {
  border-color: red !important;
}
.createAnnColorGray{
	color:#f2f2f2
}
.createAnnBlueClass{
	color:#007AFF
}