.accordian-left-bottomMargin {
	margin-bottom: 16px !important;
}

.accordian-left-text {
	padding: 2% !important;
    font-size: 16px !important;
    color: black !important;	
}
.toc-left-nav-btn-content{
    text-align: left;
  
    >h4{
        margin-bottom: 2px;
    }
}

.toc-right-nav-btn-content{
    text-align: right;
    >h4{
        margin-bottom: 2px;
    }
}
.toc-note{
    font-size: 10px !important;
    margin: 15px !important;
}
.toc-note-content{
    margin-top: 46px !important;
}

.tocbutton{
    white-space: nowrap;
}

.videosegment.ui.segment {
  position: relative;
  background: #fff;
  box-shadow: 0 0 0;
  margin: 1rem 0;
  padding: 0;
  border-radius: 0;
  border: 0;
}

.tocplayer.ui.grid{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 6px -8px #d9d4d4;
    padding-top: 0;
    margin-bottom: 1em;
    padding-bottom: 20px;
}

.courseupdate{
  color: #a5a5ad;
  line-height: 1.6;
  padding-left: 15px;
  font-size: 1.1em;
}
.courseupdate b{
  font-weight: 400;
}

.verticalLine {
    border-left: thin solid #ddd;
}

.container-with-button {
    width: 100% !important;
    padding-right: 0px !important;
}

.toc-list {
    list-style: none !important;
    cursor:pointer;
    margin-left:5px;
}




