<sui-modal
  [mustScroll]="true" 
  [isClosable]="true"
  [transitionDuration]="0"
  [size]="'normal'"
  class="sb-modal"
  appBodyScroll
  (dismissed)="routerNavigationService.navigateToParentUrl(activatedRoute.snapshot);" 
  #modal
>
  <!--Header-->
  <div class="sb-modal-header">
    {{announcementDetails.type}}
  </div>
  <!--/Header-->

  <!--Content-->
  <div 
    class="sb-modal-content" 
    [appTelemetryImpression]="telemetryImpression"
  >
      <div class="ui tweleve wide column mb-20" *ngIf="showLoader">
          <app-loader></app-loader>
        </div>
    <app-details [announcementDetails]="announcementDetails"></app-details>
  </div>
  <!--/Content-->
  <!--Actions-->
  <div class="sb-modal-actions flex-dr">
    {{resourceService?.frmelmnts?.lbl?.anncmntdtlssenton}} {{announcementDetails.createdDate | dateFormat}}
  </div>
  <!--/Actions-->
</sui-modal>