<sui-modal 
    [mustScroll]="true" 
    [isClosable]="false"
    [transitionDuration]="0"
    [size]="'normal'"
    class="sb-modal"
    appBodyScroll
    (dismissed)="redirect()" 
    #modal 
    *ngIf="showModal"
    >

    <i class="icon close" (click)="modal.deny('denied')" tabindex="0"></i>
    <!--Header-->
    <div class="sb-modal-header">
        {{resourceService.frmelmnts.btn.checkListRequestChanges}}
    </div>
    <!--/Header-->
    <!--Content-->
    <div class="sb-modal-content">
        <div *ngIf="rejectCheckListData">
            <!-- <div class="ui small header">
                <h4>{{rejectCheckListData.title}}</h4>
            </div> -->
            <!-- <div class="ui three column grid">
                <div class="column" *ngFor="let list of rejectCheckListData.contents">
                    <h5 class="ui tiny header">{{list.name}}</h5>
                    <div class="ui list" *ngFor="let item of list.checkList">
                        <div class="item">
                            <div class="ui checkbox checklist">
                                <input type="checkbox" class="listItem" tabindex="0" (click)="createCheckedArray(item)">
                                <label>{{item}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <h5>
                <div class="ui checkbox checklist" *ngIf="rejectCheckListData.otherReason">
                    <input type="checkbox" class="listItem" tabindex="0" (click)="createCheckedArray('Others')">
                    <label>{{rejectCheckListData.otherReason}}</label>
                </div>
            </h5>
            <h5 class="ui small header" *ngIf="!showDefaultConfig">{{resourceService.frmelmnts.btn.checkListComment}}</h5>
            <div class="ui form mt-10" *ngIf="!showDefaultConfig">
                <div class="field">
                    <textarea rows="3" [(ngModel)]="comment" (keyup)="validateModal()"></textarea>
                </div>
            </div>
        </div>
        <div *ngIf="showDefaultConfig">
            <h5 *ngIf="showDefaultConfig && !rejectCheckListData" class="ui small header ">  {{checkListData.reject.comments}}</h5>
            <div class="ui form mt-10">
                <div class="field">
                    <textarea rows="3" [(ngModel)]="comment" (keyup)="validateModal()"></textarea>
                </div>
            </div>
        </div>
        <div *ngIf="showloader">
            <app-loader></app-loader>
        </div>
    </div>
    <!--/Content-->

    <!--Actions-->
    <div class="sb-modal-actions">
        <button 
            class="sb-btn sb-btn-normal sb-btn-primary" 
            [ngClass]="{'sb-btn-disabled': isDisabled}"
            type="button" 
            [disabled]="isDisabled" 
            tabindex="0" 
            (click)="!isDisabled && submitRequestChanges()"
        >
            {{resourceService.frmelmnts.btn.checkListRequestChanges}}
        </button>
        <button 
            class="sb-btn sb-btn-normal sb-btn-outline-primary mr-8" 
            type="button" 
            tabindex="0" (click)="redirect();modal.deny();"
        >
            {{resourceService.frmelmnts.btn.checklistCancel}}
        </button>
    </div>
    <!--/Actions-->

</sui-modal>