@import "variables";
@import 'mixins/mixins';

.sb-table .sb-table-body td {
    padding: calculateRem(16px) calculateRem(24px);
    text-align: center;
    &:first-child {
        text-align: left;
    }
    height: calculateRem(12px);
}

.topicSection{
    border-right: calculateRem(1px) solid #dedede;
}
   
 .selectionField{
    float: right;
    margin-bottom: calculateRem(10px);
    margin-top: calculateRem(15px);
    margin-right: calculateRem(13px);
}    


.sb-card .sb-card-body{
    height: auto;
    cursor: not-allowed;
}

th{
    text-align: center;
}