<div class="ui grid">
  <div class="one wide column"></div>
  <div class="ten wide column">
    <div class="row" *ngIf="showLoader">
      <app-loader [data]="loaderMessage"></app-loader>
    </div>

    <div class="row margin-top-10" *ngIf="!showLoader && contentData">

      <div class="videosegment  ui clearing segment">
        <div class="ten wide column">
          <span class="ui HomeAccordianHeading left floated header">
            {{contentData.name}}
          </span>
        </div>
        <div class="two wide column">
          <h5 class="ui right floated basic icon circular button margin-auto mouse-pointer" (click)="close()">
            <i class="ui remove icon" (click)="close()"></i>
          </h5>
        </div>
      </div>

      <div class="ui grid">
        <div [ngClass]="showCommentBoxClass">
          <app-player class="content-player" [playerConfig]="playerConfig" (sceneChangeEvent)="handleSceneChangeEvent($event)"></app-player>
        </div>
        <div class="four wide column" *ngIf="contentData.mimeType === 'application/vnd.ekstep.ecml-archive'">
          <app-review-comments [contentData]="contentData" [playerLoaded]="playerLoaded" [stageId]="stageId" (reviewCommentEvent)="handleReviewCommentEvent($event)"></app-review-comments>
        </div>
      </div>
    </div>

    <div class="row margin-top-10" *ngIf="!showLoader">
      <div class="margin-top--5 videosegment ui clearing segment">
        <div *ngIf="permissionService.permissionAvailable && contentData && 
          (contentData.status === 'Review' || contentData.status === 'FlagReview') && userId !== contentData.createdBy"
          appPermission [permission]="['CONTENT_REVIEWER', 'CONTENT_REVIEW','BOOK_REVIEWER','FLAG_REVIEWER']">
          <button (click)="checkComments()" class="ui right floated primary button mouse-pointer">
            {{resourceService?.frmelmnts?.btn?.publish}}
          </button>
          <button [routerLink]="['requestchanges']" class="ui right floated primary button mouse-pointer">
            {{resourceService?.frmelmnts?.btn?.requestChanges}}
          </button>
        </div>
      </div>
    </div>
    <div class="ui grid" *ngIf="!showLoader && contentData">
      <div class="eight wide column">
        <app-content-player-metadata [contentData]="contentData"></app-content-player-metadata>
      </div>
      <div class="four wide column">
      </div>
    </div>

    <div *ngIf="showError">
      <div class="ui active dimmer inverted">
        <div class="content">
          <div class="center">
            <h2 class="ui header red">
              {{errorMessage}}
            </h2>
            <span>
              <button class="ui button" (click)="tryAgain()">{{resourceService.frmelmnts.btn.tryagain}}</button>
            </span>
            <span>
              <button class="ui red button" (click)="close()">{{resourceService.frmelmnts.btn.close}}</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cancel modal -->
<sui-modal [isClosable]="false" [size]="'small'" [hidden]="!showPublishWarningModal"
  #publishWarningModal>
  <div class=" ui segment margin-top-10">
    <div class="content">
      <div class="ui grid">
        <div class="ui centered grid">
          <div class="row">
            <div class="ui basic icon circular button cursor-pointer">
              <i class="ui huge help outline icon"></i>
            </div>
          </div>
          <div class="row">
            <span class="dashBoardSectionHeading">{{resourceService?.frmelmnts?.lbl?.publhwarng}}</span>
          </div>
        </div>
        <br/>
        <div class="row ui two column centered grid margin-top-20 actions">
          <div class="ui primary basic button announcement-button btn-width-34"  (click)="showPublishWarningModal = false; goToPublish();" [appTelemetryEnd]= "telemetryEnd" >{{resourceService?.frmelmnts?.btn?.yes}}</div>
          <div class="ui primary button announcement-button btn-width-34" (click)="showPublishWarningModal = false"  >{{resourceService?.frmelmnts?.btn?.no}}</div>
        </div>
      </div>
    </div>
  </div>
</sui-modal>
<router-outlet></router-outlet>
