<div id="signupModal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        {{labels.Headers.signUp}}
    </div>
    <div class="content">
        <form ng-init="newUser.formInit();" id="signUpForm" class="ui form" ng-if="!newUser.loader.showLoader && !newUser.error.showError ">
            <div class="  field">
                <div class=" two fields">
                    <div class="required field ">
                        <label>{{labels.SignUp.userName}}</label>
                        <input type="text" autocomplete="false" name="userName" placeholder="eg:user.name , min 5 character required" ng-model="newUser.userName">
                    </div>
                    <div class="required field">
                        <label>{{labels.SignUp.password}}</label>
                        <input type="password" autocomplete="false" name="password" placeholder="Password" ng-model="newUser.password">
                    </div>
                </div>
            </div>
            <div class="  field">
                <div class=" two fields">
                    <div class=" required field">
                        <label>{{labels.SignUp.name}}</label>
                        <input type="text" autocomplete="false" name="firstName" placeholder="First Name" ng-model="newUser.firstName">
                    </div>
                    <div class="field">
                        <label>&nbsp; </label>
                        <input type="text" autocomplete="false" name="" placeholder="Last Name" ng-model="newUser.lastName">
                    </div>
                </div>
            </div>
            <div class="two fields">
                <div class="required field">
                    <label>{{labels.SignUp.phoneNumber}}</label>
                    <input type="text" name="phone" autocomplete="false" placeholder="eg:+91XXXXXXXXXX or XXXXXXXXXX" ng-model="newUser.phone">
                </div>
                <div class=" required field">
                    <label>{{labels.SignUp.email}}</label>
                    <input type="text" name="email" autocomplete="false" placeholder="User@example.com" ng-model="newUser.email">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>{{labels.SignUp.gender}}</label>
                    <select class="ui fluid dropdown" ng-model="newUser.gender">
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                    </select>
                </div>
                <div class="field">
                    <label>{{labels.SignUp.dob}}</label>
                    <div class="ui calendar" id="dobCalendar">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" placeholder="Date" ng-model="newUser.dob">
                        </div>
                    </div>
                </div>
            </div>
            <div class=" required field" ng-init="newUser.formInit() ">
                <label>{{labels.SignUp.language}}</label>
                <select name="language" ng-selected="true" placeholder="Languages" class="ui fluid dropdown signupMultiple" multiple="" ng-value="option.value" ng-options=" language for language in newUser.languages" ng-model="newUser.language">
                        <option value="" translate="languages">Languages</option>
                    </select>
            </div>

            <div class="ui error message">
            </div>
            <div class="actions">
                <div class="ui primary button" ng-click="newUser.submitForm()" ;>{{labels.Button.signUp}}</div>
            </div>
        </form>
        <div ng-if="newUser.loader.showLoader">
            <app-loader data="{{newUser.loader}}"></app-loader>
        </div>
        <div ng-if="newUser.error.showError">
            <error-message data="{{newUser.error}}" visibility="newUser.error.showError"></error-message>
        </div>
    </div>

</div>