@import 'variables';
@import "mixins/mixins";


.sb-mobileDevice {
    .sb-mobileDevice-screen {
      height: calvulteRem(202.5px);
      width: calculateRem(360px);
      border: calculateRem(10px) solid var(--black);
      border-radius: calculateRem(15px);
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      .sb-mobileDevice-sensors {
        position: absolute;
        z-index: 9;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
        left: 0;
        background: var(--black);
        padding: calculateRem(10px) calculateRem(5px) calculateRem(10px) 0;
        border-top-right-radius: calculateRem(25px);
        border-bottom-right-radius: calculateRem(25px);
        .sb-mobileDevice-sensor {
          width: calculateRem(8px);
          height: calculateRem(8px);
          background: var(--rc-252525);
          border-radius: 50%;
        }
        .sb-mobileDevice-speaker {
          width: calculateRem(5px);
          height: calculateRem(74px);
          background: var(--rc-252525);
          border-radius: calculateRem(10px);
          margin: calculateRem(10px) 0 calculateRem(10px) calculateRem(1px);
        }
      }
      .sb-mobileDevice-videoScreen {
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: calculateRem(5px);
        border: none;
      }
      @media only screen and (min-width: 540px) {
        height: calculateRem(340px);
        width: calculateRem(680px);
      }
      @media only screen and (min-width: 769px) {
        height: calculateRem(400px);
        max-width: calculateRem(800px);
      }
    }
  }

  .player-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url(../../../../../assets/images/featured-content.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    cursor: pointer;
    border-radius: calculateRem(5px);
  }

  ::ng-deep {
    .certificate-area-player {
      .contentViewerIframeShadow {
        height:100% !important;
      }
    }
  }
 