@import "variables";
@import "mixins/mixins";

.profile-telemetry-title {
    font-size: calculateRem(16px);
    font-weight: bold;
    border-bottom: calculateRem(1px) solid var(--primary-color);
    color: var(--primary-color);
  }
  .profile-telemetry-subtitle{
    font-size: 14px;
    color: var(--primary-color);
  }

.share-tele-btn{
    margin:0px;
  }
  
  @media only screen and (min-width : 416px) {
    .share-tele-btn{
        margin:0px calculateRem(24px);
      }
  }
  
  .sb-radio-btn input[type="radio"]:checked + label,
  .sb-radio-btn input[type="radio"]:not(:checked) + label {
    color: var(--primary-color);
    font-weight: normal;
}