<!--telementary part-->
<div class="ui container" [appTelemetryImpression]="telemetryImpression">
  <div class="my-16">
    <div class="sb-bg-color-white py-16">
      <div class="d-flex profile-telemetry-title sb-bg-color-white px-16 pb-8">{{resourceService?.frmelmnts?.lbl?.desktop?.telemetry}}</div>
      <!-- <div class="d-flex flex-jc-space-between p-16">
          <a class="profile-telemetry-subtitle cursor-pointer">Automatically sync telemetry</a>
          <a class="cursor-pointer">Clear Telemetry</a>
        </div>
        <div class="d-flex flex-dc flex-w-wrap">
          <div class="d-flex sb-radio-btn-checkbox sb-radio-btn-primary px-16 pb-8">
            <input type="radio" id="alwaysOn" name="radio-group">
            <label for="alwaysOn">Always on</label>
          </div>
          <div class="d-flex sb-radio-btn-checkbox sb-radio-btn-primary px-16 pb-8">
            <input type="radio" id="off" name="radio-group">
            <label for="off">Off</label>
          </div>
          </div> -->
      <div class="d-flex flex-w-wrap px-16">
        <!-- <div>
            <button type="button" class="sb-btn sb-btn-primary sb-btn-normal my-8">Sync Telemetry (500KB)&lrm;</button>
            <dl class="my-0">
              <dt class="multiline-list-key">Last synced:</dt>
              <dd class="multiline-list-value">19 February 2019 at 6:40 PM</dd>
            </dl>
          </div> -->
        <div class="share-tele-btn m-0 mt-16">
          <button type="button" class="sb-btn sb-btn-secondary sb-btn-normal
            my-8" (click)="exportTelemetry()"
            [disabled]="disableExport" *ngIf="telemetryInfo?.totalSize">
            {{resourceService?.frmelmnts?.btn?.desktop?.shareTelemetry}}
            {{telemetryInfo?.totalSize | filesize}}
          </button>
         <div class="profile-telemetry-subtitle" *ngIf="!telemetryInfo?.totalSize">{{resourceService?.messages?.imsg?.desktop?.m001}}</div>
          <button type="button" class="sb-btn sb-btn-secondary sb-btn-normal
            my-8" (click)="exportTelemetry()"
            [disabled]="disableExport" *ngIf="!telemetryInfo?.totalSize">
            {{resourceService?.frmelmnts?.btn?.desktop?.shareTelemetry}}
            {{telemetryInfo?.totalSize}}
          </button>
          <dl class="my-0" *ngIf="telemetryInfo?.lastExportedOn">
            <dt class="multiline-list-key">{{resourceService?.frmelmnts?.lbl?.desktop?.lastShared}}</dt>
            <dd class="multiline-list-value"> {{telemetryInfo?.lastExportedOn |
              date: 'd MMMM y'}} at {{telemetryInfo?.lastExportedOn | date:
              'h:mm a'}}
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <!-- <ul class="sb-bordered-list my-16">
      <li class="sb-bordered-list-item m-0">
        <div class="d-flex flex-ai-center flex-jc-space-between flex-w-wrap">
          <div class="sb-bordered-list-item-title">Files imported (03)&lrm;
            <span class="sb-bordered-list-item-title-extra ml-16">Total size: 75KB</span></div>
          <button class="d-flex sb-btn sb-btn-outline-primary sb-btn-normal sb-btn-load">
            <span class="mr-8"><img src="assets/images/plus-icon.svg" width="12px" height="12px"></span>
            import new file</button>
        </div>
      </li>
      <li class="sb-bordered-list-item m-0">
        <div class="d-flex flex-ai-center">
          <div class="sb-bordered-list-item-heading">File_1.gsa</div>
          <div class="sb-bordered-list-item-subheading ml-16">19 February 2019 at 6:40 PM, 25KB</div>
        </div>
      </li>
      <li class="sb-bordered-list-item m-0">
        <div class="d-flex flex-ai-center">
          <div class="sb-bordered-list-item-heading">File_2.gsa</div>
          <div class="sb-bordered-list-item-subheading ml-16">19 February 2019 at 6:40 PM, 25KB</div>
        </div>
      </li>
    </ul> -->
</div>