<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Welcome to SunBird</title>
    </head>
	<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
		Hi <%= displayName %>,
		<br/><br/>
		Welcome to SunBird - the most exciting online learning platform in the world. We’re happy to have you onboard! Start learning and stay ahead of the constantly changing technology curve - take charge of your own destiny today.
		<br/><br/>
		Here are the things you can do now:
		<br/><br/>
		<ol>
		<li>Explore our courses -We have already signed you up for our flagship courses. Explore them and start learning. The courses page has a list of upcoming courses and we will send you updates as they are launched.<br/></li>
		<li>Interact and be part of an exciting community - Join our Facebook page and follow us on Twitter to learn about popular courses, upcoming courses, participate in events and codathons and more. Interact with fellow learners on SunBird's forums, and follow others as they learn along with you.<br/></li>
		<li>Get prepared for class - Fill out your profile so other students can learn more about you, coaches can get to know you better and offer you study tips and advice and SunBird's recommendation engine can offer you content specifically targeted at you.</li>
		</ol>
		<br/><br/>
		We are in Beta, your feedback is critical for us to better the experience we offer all our learners. Do write in.
		<br/><br/>
		Cheers,<br/>
		SunBird Team
	</body>
</html>