@import "variables";
@import 'mixins/mixins';

.sb-table .sb-table-body td {
  padding: calulateRem(16px) calulateRem(24px);
  text-align: center;
  &:first-child {
      text-align: left;
  }
}

.panel-container {
  margin-bottom: calculateRem(10px);
  background: var(--white);
}
//Chapterlist Accordion Section
.chapter-lists {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;


  &--item {
    border-bottom: calculateRem(1px) solid var(--gray-100);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 0;
    font-size: 0.75rem;
    position: relative;

    &:last-child {
      border-bottom: 0px;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--primary-0);
    }
  }

  .item-name {
    padding: calulateRem(24px) calulateRem(16px) calulateRem(24px) calulateRem(40px);
    flex: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .item-status {
    flex: 1;
  }

  .item-dropdown {
    right: calculateRem(16px);
    height: calculateRem(40px);
    width: calculateRem(40px);
    .sb-dotted-dropdown {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.ui.sb-dotted-dropdown {
  .menu {
      right: 0;
      left: auto; 
      min-width: calculateRem(148px);
      &>.item{
          font-size:0.75rem;
          &:hover {
              color:var(--primary-400);
          }
      }
  }
}

[dir="rtl"] {
  .chapter-lists {
    .item-name {
      padding: calulateRem(40px) calulateRem(24px) calulateRem(16px) calulateRem(24px);
    }
  }
}

//Common contribution card section
.common-contribution-card {
  box-sizing: border-box;
  border: calculateRem(0.5px) solid rgba(123, 134, 244, 0.39);
  border-radius: calulateRem(4px);
  background-color: var(--white);
  box-shadow: none;

  .content {
    img {
      width: calculateRem(64px);
      height: calculateRem(64px);
    }

    .content-title {
      font-size: 0.75rem;
      color: var(--gray);
      vertical-align: middle;
      line-height: calulateRem(16px);
    }

    .icon {
      display: none;
      height: calulateRem(18px);
      position: absolute;
      right: calulateRem(8px);
      top: calulateRem(8px);
      margin: 0;
      width: calulateRem(18px);
      font-size: calulateRem(18px);
      color: var(--secondary-200);
    }

    &:hover {
      .icon {
        display: block;
      }
    }
  }

  &:hover {
    cursor: pointer;
    z-index: 5;
    background: var(--white);
    transform: translateY(-3px);
    box-shadow: 0 calculateRem(2px) calculateRem(8px) 0 rgba(123, 134, 244, 0.31);
    border: calculateRem(0.5px) solid rgba(208, 208, 208, 0.48);
  }
}

.ui.error.reject {
  background-color: #F5F9FC;
  color: var(--gray);
  border: calculateRem(1px) dashed var(--primary-200);
  box-shadow: none !important;

  li {
    font-size: 0.75rem;
    line-height: calulateRem(20px);
  }
}

//Meta Data
.sb-meta-data-container.sb-meta-data-column .sb-meta-data {
  padding-right: calulateRem(24px);
  flex-basis: auto;
  margin: 0;

  &:last-child {
    padding-right: 0;
  }

  dt {
    font-size: calulateRem(24px);
    color: var(--gray-800);
    margin-bottom: calulateRem(8px);
  }

  &.active {

    dt,
    dd {
      color: var(--secondary-200);
    }
  }

  dd {
    font-size: 0.75rem;
  }
}

.sb-btn-radius {
  border-radius: 2rem;
  box-shadow: 0 calculateRem(4px) calculateRem(4px) 0 #C8D6EA;
}
