@import "variables";

.sb-table .sb-table-body td {
  padding: $base-block-space*2 $base-block-space*3;
  text-align: center;
  &:first-child {
      text-align: left;
  }
}

.panel-container {
  margin-bottom: 10px;
  background: $white-color;
}


.sb-table .sb-table-header.heading-large tr th {
  text-align: center;
}


  // ::ng-deep {
  //     .ui.styled.accordion.sb-accordion .active.title {
  //         i.icon {
  //             transform: rotate(180deg);
  //             -webkit-transform: rotate(180deg);
  //         }
  //     }

  // }



//Chapterlist Accordion Section
.chapter-lists {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;


  &--item {
    border-bottom: 1px solid $gray-100;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 0;
    font-size: $font-size-sm;
    position: relative;

    &:last-child {
      border-bottom: 0px;
    }

    &:hover {
      cursor: pointer;
      background-color: $primary-0;
    }
  }

  .item-name {
    padding: $base-block-space*3 $base-block-space*2 $base-block-space*3 $base-block-space*5;
    flex: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .item-status {
    flex: 1;
  }

  .item-dropdown {
    right: 16px;
    height: 40px;
    width: 40px;
    .sb-dotted-dropdown {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

[dir="rtl"] {
  .chapter-lists {
    .item-name {
      padding: $base-block-space*5 $base-block-space*3 $base-block-space*2 $base-block-space*3;
    }
  }
}

.template-items {
  .selected-icon {
    display: none;
  }

  &.active {
    border: 3px solid $primary-color;

    .selected-icon {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $white-color;
      border-radius: 50%;
      height: 18px;
      width: 18px;

      i.icon {
        color: $primary-color;
        font-size: $base-block-space*3;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

      }
    }
  }
}

.sb-cbse-homepage-container {
  .chapter-dotted-menu {
    padding-bottom: 6px;
  }

  i.circle.icon {
    height: auto;
  }

}

// Chapterlist Modal
.sb-chapterlist-modal {

  .chapter-lists--item {
    padding: 0;
    .sb-radio-btn-checkbox {
      label {
        padding: $base-block-space*2 $base-block-space*2 $base-block-space*2 $base-block-space*5;
      }
    }
  }

}


//Common contribution card section
.common-contribution-card {
  box-sizing: border-box;
  border: 0.5px solid rgba(123, 134, 244, 0.39);
  border-radius: ($base-block-space / 2);
  background-color: var(--white);
  box-shadow: none;

  .content {
    img {
      width: 64px;
      height: 64px;
    }

    .content-title {
      font-size: $font-size-sm;
      color: var(--gray);
      vertical-align: middle;
      line-height: ($base-block-space * 2);
    }

    .icon {
      display: none;
      height: ($base-block-space * 2) + 2;
      position: absolute;
      right: $base-block-space;
      top: $base-block-space;
      margin: 0;
      width: ($base-block-space * 2) + 2;
      font-size: ($base-block-space * 2) + 2;
      color: $secondary-200;
    }

    &:hover {
      .icon {
        display: block;
      }
    }
  }

  &:hover {
    cursor: pointer;
    z-index: 5;
    background: var(--white);
    transform: translateY(-3px);
    box-shadow: 0 2px 8px 0 rgba(123, 134, 244, 0.31);
    border: 0.5px solid rgba(208, 208, 208, 0.48);
  }
}

.ui.error.reject {
  background-color: #F5F9FC;
  color: var(--gray);
  border: 1px dashed $primary-200;
  box-shadow: none !important;

  li {
    font-size: $font-size-sm;
    line-height: ($base-block-space * 2) + 4;
  }
}

//Meta Data
.sb-meta-data-container.sb-meta-data-column .sb-meta-data {
  padding-right: $base-block-space*3;
  flex-basis: auto;
  margin: 0;

  &:last-child {
    padding-right: 0;
  }

  dt {
    font-size: $base-block-space*3;
    color: $gray-800;
    margin-bottom: $base-block-space;
  }

  &.active {

    dt,
    dd {
      color: #07BC81;
    }
  }

  dd {
    font-size: $font-size-sm;
  }
}

.sb-btn-radius {
  border-radius: 2rem;
  box-shadow: 0 4px 4px 0 #C8D6EA;
}
