.sb-table .sb-table-body td {
  padding: 16px 24px;
  text-align: center;
  &:first-child {
      text-align: left;
  }
}

.sb-table .sb-table-header.heading-large tr th {
  text-align: center;
}


  ::ng-deep {
      .ui.styled.accordion.sb-accordion .active.title {
          i.icon {
              transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
          }
      }

  }


  .chapter-list-details {
      display: block;
      width: 100%;
      height: auto;
      padding: 0;
      .list-item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 8px 16px;
        border-radius: 0;
        border-left: 3px solid #7ab4ee;
        border-bottom: 1px solid #ccc;
        &:hover {
          cursor: pointer;
          background-color: #f3f7fa;
        }
        .item-name {
          margin-right: auto;
        }
      }
      .chapter-dotted-menu {
        padding-bottom: 6px;
      }
    }
    .template-items {
      .selected-icon {
        display: none;
      }
      &.active {
        border: 3px solid #024f9d;
        .selected-icon {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: white;
          border-radius: 50%;
          height: 18px;
          width: 18px;
          i.icon {
            color: #024f9d;
            font-size: 24px;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
    i.circle.icon {
      height: auto;
    }
    .sb-chapterlist-modal {
      .sb-card {
        min-width: 164px;
        width: auto;
        .sb-card-image {
          width: 72px;
          height: auto;
          border: none;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .questionsMenu {
        width: 100%;
        margin: 0 auto;
        overflow-y: unset;
        max-height: unset;
      }
      .questionTab {
        margin: 0 0 0 24px;
        margin-left: 24px;
        border-left: 3px solid #4f759b;
        border-radius: 0;
      }
    }
