@import "variables";
@import 'mixins/mixins';

// Mobile Device
$sb-mobileDevice-width-mobile: 360px;
$sb-mobileDevice-height-mobile: 202.5px;
$sb-mobileDevice-width-tablet: 680px;
$sb-mobileDevice-height-tablet: 340px;
$sb-mobileDevice-width-desktop: 800px;
$sb-mobileDevice-height-desktop: 400px;
$sb-mobileDevice-border: 10px solid $black;
$sb-mobileDevice-border-radius: 15px;
$sb-mobileDevice-sensors-background: $black;
$sb-mobileDevice-sensors-padding: 10px 5px 10px 0;
$sb-mobileDevice-sensors-border-radius: 25px;
$sb-mobileDevice-sensor-background: #252525;
$sb-mobileDevice-sensor-size: 8px;
$sb-mobileDevice-speaker-height: 74px;
$sb-mobileDevice-speaker-width: 5px;
$sb-mobileDevice-speaker-border-radius: 10px;
$sb-mobileDevice-speaker-padding: 10px 0 10px 1px;
$sb-mobileDevice-videoScreen-border-radius: 5px;

.sb-question-dsp-container {
    height: 100%;
    padding-top: calculateRem(24px);
    .sb-editor-image {
        margin: 0 auto;
    }
    .sb-editor-image {
        height: calculateRem(392px);
        max-width: calculateRem(800px);
        border: calculateRem(10px) solid var(--black);
        border-radius: calculateRem(15px);
        margin: 0 auto;
        position: relative;
    }
    .phone-sensors {
        position: absolute;
        z-index: 999;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
        left: 0px;
        background: var(--black);
        padding: calculateRem(10px) calculateRem(5px) calculateRem(10px) 0;
        border-top-right-radius: calculateRem(25px);
        border-bottom-right-radius: calculateRem(25px);
    }
    .phone-sensors .sensor {
        width: calculateRem(8px);
        height: calculateRem(8px);
        background: $sb-mobileDevice-sensor-background;
        border-radius: 50%;
    }
    .phone-sensors .speaker {
        width: calculateRem(5px);
        height: calculateRem(74px);
        background: $sb-mobileDevice-sensor-background;
        border-radius: calculateRem(10px);
        margin: calculateRem(10px) 0 calculateRem(10px) calculateRem(1px);
    }
    .phone-sensors .sensor {
        width: calculateRem(8px);
        height: calculateRem(8px);
        background: $sb-mobileDevice-sensor-background;
        border-radius: 50%;
    }
    .sb-question-dsp-body {
        max-width: calculateRem(800px);
        max-height: calculateRem(392px);
        margin: 0 auto;
        overflow: hidden;
        border-radius: calculateRem(4px);
        .question-bg {
            background-image: linear-gradient(-90deg, lightblue, white);
        }
        .answer-bg {
            background-image: linear-gradient(-90deg, #fcf2d6, white);
        }
        .question-menu {
            .hambergur-menu-container {
                max-width: calculateRem(24px);
                display: inline-block;
                cursor: pointer;
            }
            .hambergur-menu {
                width: calculateRem(24px);
                height: calculateRem(3px);
                margin: calculateRem(4px) 0;
                background-color: var( --gray-800);
            }
        }
    }
    .sb-question-header {
        display: block;
        padding: calculateRem(8px) calculateRem(16px);
        text-align: right;
        .sb-mark {
            font-size: calculateRem(12px);
            padding-right: calculateRem(8px);
            color: var(--primary-color);
        }
    }
    .sb-question-content {
        width: 100%;
        min-height: calculateRem(72px);
        max-height: calc(370px - 87px);
        overflow-y: auto;
        .page-section {
            min-height: calc(370px - 86px);
            padding: calculateRem(24px);
            &:first-child {
                padding-top: 0;
            }
        }
        .sb-question-content-card {
            background: var(--white);
            border-radius: calculateRem(8px);
            min-height: calculateRem(72px);
            font-weight: inherit;
            font-size: calculateRem(14px);
            line-height: calculateRem(20px);
            box-shadow: calculateRem(2px) calculateRem(5px) calculateRem(7px) 0 rgba(var(--rc-rgba-black), 0.2);
            border: calculateRem(0.5px) solid var(--gray-0);
            padding: calculateRem(16px);
            overflow: auto;
        }
        .sb-question-content-card p svg {
            display: inline-block;
            vertical-align: middle;
        }
        .sb-question {
            margin-right: auto;
            font-size: calculateRem(12px);
            color: var(--primary-color);
            margin-bottom: calculateRem(16px);
        }
        .sb-star-icon {
            background: var(--tertiary-color);
            width: calculateRem(16px);
            height: calculateRem(16px);
            border-radius: 50%;
            margin-left: calculateRem(8px);
            text-align: center;
            display: inline-block;
            i.icon {
                color: var(--white);
                font-size: calculateRem(10px);
                margin: 0;
            }
        }
        .sb-answer {
            font-size: calculateRem(12px);
            color: var(--gray-800);
        }
    }
}

.sb-question-dsp-container {
     ::ng-deep {
        .mcq-horizontal,
        .mcq-vertical,
        .mcq-grid {
            display: flex;
            flex-wrap: wrap;
            max-width: calculateRem(1440px);
            margin: 0 auto;
            align-items: stretch;
            position: relative;
            border-radius: calculateRem(8px);
        }
        .mcq-submit-btn {
            margin-left: auto;
            padding-right: calculateRem(16px);
            margin-bottom: calculateRem(16px);
        }
        .mcq-vertical .mcq-title,
        .mcq-horizontal .mcq-title,
        .mcq-grid .mcq-title {
            position: absolute;
            top: 0;
            z-index: 1;
            width: 100%;
        }
        .mcq-horizontal .mcq-title,
        .mcq-vertical .mcq-title,
        .mcq-grid .mcq-title {
            flex-basis: 100%;
            padding: calculateRem(8px) calculateRem(24px);
            background: var(--white);
            font-weight: 700;
            max-height: calculateRem(76px);
            overflow: hidden;
            z-index: 999;
        }
        .mcq-horizontal .mcq-options,
        .mcq-vertical .mcq-options,
        .mcq-grid .mcq-options {
            flex-basis: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: calculateRem(24px);
            padding-top: calculateRem(85px);
            max-height: calc(436px - 64px);
            overflow-y: auto;
            min-height: calc(436px - 64px);
            background-image: linear-gradient(-90deg, lightblue, white);
        }
        .mcq-vertical .mcq-title,
        .mcq-horizontal .mcq-title {
            &.expand {
                max-height: 70%;
                overflow-y: auto;
                height: 70%;
            }
        }
        .mcq-horizontal .mcq-options .mcq-option,
        .mcq-vertical .mcq-options .mcq-option,
        .mcq-grid .mcq-options .mcq-option {
            margin-bottom: calculateRem(16px);
            height: auto;
            box-shadow: calculateRem(2px) calculateRem(5px) calculateRem(7px) 0 rgba(var(--rc-rgba-black), 0.2);
            background: var(--white);
            border-radius: calculateRem(8px);
            line-height: calculateRem(20px);
            padding: calculateRem(8px);
            p {
                font-size: calculateRem(12px);
            }
        }
        .mcq-horizontal.mcq-split .mcq-title,
        .mcq-vertical.mcq-split .mcq-title,
        .mcq-grid.mcq-split .mcq-title {
            flex-basis: 30%;
            background: none;
            position: initial;
            max-height: calc(420px - 48px);
            overflow-y: auto;
            padding: calculateRem(16px) calculateRem(8px) calculateRem(16px) calculateRem(24px);
        }
        .mcq-vertical i.chevron,
        .mcq-horizontal i.chevron,
        .mcq-grid i.chevron {
            position: absolute;
            top: calculateRem(48px);
            right: calculateRem(4px);
            z-index: 999;
            cursor: pointer;
            background: var(--rc-024a93);
            color: var(--white);
            width: calculateRem(20px);
            height: calculateRem(20px);
            border-radius: 50%;
        }
        .mcq-vertical i.chevron.icon-active,
        .mcq-horizontal i.chevron.icon-active,
        .mcq-grid i.chevron.icon-active {
            top: unset;
            transform: rotate(-180deg);
            bottom: calc(100% - 68%);
        }
        .mcq-vertical .mcq-title p svg,
        .mcq-horizontal .mcq-title p svg,
        .mcq-grid .mcq-title p svg {
            display: inline-block;
            vertical-align: middle;
        }
        .mcq-split i.chevron {
            display: none !important;
        }
        .mcq-horizontal.mcq-split .mcq-options,
        .mcq-vertical.mcq-split .mcq-options,
        .mcq-grid.mcq-split .mcq-options {
            flex-basis: 70%;
            padding-top: calculateRem(16px);
        }
        .mcq-horizontal .mcq-options p svg,
        .mcq-vertical .mcq-options p svg,
        .mcq-grid .mcq-options p svg {
            display: inline-block;
            vertical-align: middle;
        }
        .mcq-horizontal .mcq-options .mcq-option {
            width: 20%;
        }
        .mcq-vertical .mcq-options .mcq-option {
            width: 100%;
        }
        .mcq-grid .mcq-options .mcq-option {
            width: 45%;
        }
        // .mcq-vertical .mcq-options .mcq-option, .mcq-horizontal .mcq-options .mcq-option, .mcq-grid .mcq-options .mcq-option {
        //   max-height: 80%;
        //   overflow-y: auto;
        // }
        .mcq-checkbox-answer {
            background: var(--gray-0);
            padding: calculateRem(16px);
            display: flex;
            border: calculateRem(1px) solid var(--rc-c4c4c4);
            border-top: none;
            label {
                font-weight: 700;
                padding-right: calculateRem(8px);
                font-size: calculateRem(14px);
            }
        }
    }
}
