.mcq-horizontal,
.mcq-vertical,
.mcq-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;

  .mcq-title {
    flex-basis: 100%;
    padding: 16px;
  }

  .mcq-options {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .mcq-option {
      height: 100px;
      background: blue;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  &.mcq-split {
    .mcq-title {
      flex-basis: 30%;
    }

    .mcq-options {
      flex-basis: 70%;
    }
  }
}

.mcq-horizontal {
  .mcq-options {
    .mcq-option {
      width: 20%
    }
  }
}

.mcq-vertical {
  .mcq-options {
    .mcq-option {
      width: 100%
    }
  }
}

.mcq-grid {
  .mcq-options {
    .mcq-option {
      width: 45%
    }
  }
}

  .image-style-align-left {

  margin: 0;
  max-width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
}

  .image-style-align-left img {
  max-width: 50% !important;
}

  .image-style-align-right {

  margin: 0;
  max-width: 100%;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: right;
}

  .image-style-align-right img {
  max-width: 50% !important;
}
