@import "variables";
@import "mixins/mixins";
@import "components/buttons";
:host ::ng-deep {
  .panel-interact,
  .panel-heading {
    background: var(--white);
  }
  // .panel-interact[_ngcontent-c12] > button[_ngcontent-c12] {
  //   // @extend .sb-btn-outline-primary;
  //   // @extend .sb-btn-normal;
  // }
  // .panel-interact[_ngcontent-c12] .yesBtn[_ngcontent-c12] {
  //   @extend .sb-btn-outline-secondary;
  //   @extend .sb-btn-normal;
  // }

.faq-ul-list { 
  margin:8px 32px;
  padding:0px;
  list-style-type:initial;
}

.faq-ul-list li {
  margin:0px 0px 4px 0px;
  padding:0px;
}
}
