<div class="ui raised segment " ng-init="profileCtrl.basicProfileForm=false">
    <div class="header announcementCard-header ">
        <span class="header cardsHeading "> {{$root.frmelmnts.lbl.addlInfo}}</span>
        <a class="addeditprofile cursor-pointer" ng-if="!profileCtrl.basicProfileForm" ng-click="profileCtrl.basicProfileForm=true; profileCtrl.generateInteractEvent('editBasicInfo')">{{$root.frmelmnts.btn.edit}}</a>
        <a class="addeditprofile cursor-pointer" ng-if="profileCtrl.basicProfileForm" ng-click="profileCtrl.basicProfileForm=false;profileCtrl.user=profileCtrl.getProfileObject(profileCtrl.basicProfile);profileCtrl.generateInteractEvent('closeBasicInfo')">{{$root.frmelmnts.btn.close}}</a>

    </div>
    <div class="profileitems profile-des ui relaxed aligned list " ng-if="!profileCtrl.basicProfileForm && profileCtrl.basicProfile">

        <div class="item ">
            <div class="right floated content ">
                <span>{{profileCtrl.basicProfile.email}}</span>
            </div>
            <div class="iniformationcontent content ">
                {{$root.frmelmnts.lbl.email}}
            </div>
        </div>
        <div class="item ">
            <div class="right floated content ">
                <span>{{profileCtrl.basicProfile.phone}}</span>
            </div>
            <div class="iniformationcontent content ">
                {{$root.frmelmnts.lbl.phone}}
            </div>
        </div>
        <div class="item ">
            <div class="right floated content capitalizeTextInfo">
                <span>{{profileCtrl.basicProfile.gender}}</span>
            </div>
            <div class="iniformationcontent content ">
                {{$root.frmelmnts.lbl.gender}}
            </div>
        </div>
        <div class="item ">
            <div class="right floated content ">
                <span>{{profileCtrl.basicProfile.dob | date : "dd/MM/y"}}</span>
            </div>
            <div class="iniformationcontent content ">
                {{$root.frmelmnts.lbl.birthdate}}
            </div>
        </div>
        <div class="item ">
            <div class="right floated content ">
                <span>
                    <span ng-repeat="lan in profileCtrl.basicProfile.language | orderBy:'toString()'">{{lan}}
                            <span ng-show="!$last">, </span>
                    </span>
                </span>
            </div>
            <div class="iniformationcontent content ">
                {{$root.frmelmnts.lbl.language}}
            </div>
        </div>
        <div class="item ">
            <div class="right floated content ">
                <span ng-repeat="sub in profileCtrl.basicProfile.subject | orderBy:'toString()'">{{sub}}
                        <span ng-show="!$last">, </span>
                </span>

            </div>
            <div class="iniformationcontent content ">
                {{$root.frmelmnts.lbl.subjects}}
            </div>
        </div>
        <div class="item ">
            <div class="right floated content ">
                <span><span ng-repeat="grade in profileCtrl.basicProfile.grade">{{grade}}<span ng-show="!$last">, </span></span>
                </span>
            </div>
            <div class="iniformationcontent content ">
                {{$root.frmelmnts.lbl.grades}}
            </div>
        </div>
        <div class="item ">
            <div class="right floated content ">
                <span>{{profileCtrl.basicProfile.location}}</span>

            </div>
            <div class="iniformationcontent content ">
                {{$root.frmelmnts.lbl.currentlocation}}
            </div>
        </div>
        <div class="item ">
                <div class="right floated content ">
            <a ng-if="profileCtrl.basicProfile.socialMedia.fb.url"
            href="{{profileCtrl.basicProfile.socialMedia.fb.url}}"
            target="_blank"><i class="large facebook f icon"></i></a>
            <a ng-if="profileCtrl.basicProfile.socialMedia.twitter.url"
            href="{{profileCtrl.basicProfile.socialMedia.twitter.url}}"target="_blank">
            <i class="large twitter icon"></i></a>
            <a ng-if="profileCtrl.basicProfile.socialMedia.in.url"
            href="{{profileCtrl.basicProfile.socialMedia.in.url}}" target="_blank">
            <i class="large linkedin icon"></i></a>
            <a ng-if="profileCtrl.basicProfile.socialMedia.blog.url"
            href="{{profileCtrl.basicProfile.socialMedia.blog.url}}" target="_blank">
            <i class="large book icon"></i>
        </a>

        </div>
        <div class="iniformationcontent content ">
            {{$root.frmelmnts.lbl.socialmedia}}
        </div>
        </div>

    </div>
    <div class="ui" ng-if="profileCtrl.basicProfileForm" ng-include=" 'views/profile/editProfile/basicInformtion.html' "></div>
</div>
