<div class="ui stackable grid">
  <div class="twelve wide column">
    <div class="ui grid">
      <div class="row">
        <div [appTelemetryImpression]="telemetryImpression" class="twelve wide column">
          <div id="app-player-collection-renderer" *ngIf="showPlayer" class="row">
            <div class="twelve wide column">
              <div class="ui grid">
                <div class="one wide column"></div>
                <div class="ten wide column">
                  <span class="ui HomeAccordianHeading m-responsive-cp left floated header">{{contentTitle}}</span>
                  <h5 class="ui right floated basic icon circular button margin-auto mouse-pointer" (click)="closeContentPlayer()">
                    <i class="ui remove icon"></i>
                  </h5>
                </div>
                <div class="one wide column"></div>
              </div>
              <div class="ui grid">
                <div class="one wide column"></div>
                <div class="ten wide column">
                  <app-player class="content-player" [playerConfig]="playerConfig | async"></app-player>
                </div>
                <div class="one wide column"></div>
              </div>
              <div class="ui row padding-top-none">
                <div class="ui twelve column grid padding-right-none">
                  <div class="one wide tablet only one wide computer only column"></div>
                  <div class="six wide mobile only three wide tablet only three wide computer only column">
                    <button class="ui blue button left floated fluid tocbutton toc-left-nav-btn-content" (click)="navigateToContent(prevPlaylistItem)"
                      [disabled]="prevPlaylistItem === undefined">
                      <span class="header">{{resourceService.frmelmnts.btn.previous}}</span>
                      <br />
                      <span class="font-white description text-ellipsis" title="{{prevPlaylistItem?.title || resourceService.messages.stmsg.m0120}}">{{prevPlaylistItem?.title || resourceService.messages.stmsg.m0120}}</span>
                    </button>
                  </div>
                  <div class="four wide tablet only four wide computer only column"></div>
                  <div class="six wide mobile only three wide tablet only three wide computer only column padding-right-none">
                    <button class="ui blue button right floated fluid toc-right-nav-btn-content" (click)="navigateToContent(nextPlaylistItem)"
                      [disabled]="nextPlaylistItem === undefined">
                      <span class="header">{{resourceService.frmelmnts.btn.next}}</span>
                      <br />
                      <span class="font-white description text-ellipsis" title="{{nextPlaylistItem?.title || resourceService.messages.stmsg.m0120}}">{{nextPlaylistItem?.title || resourceService.messages.stmsg.m0120}}</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loader" class="row">
    <div class="ten wide centered column">
      <app-loader [data]="loaderMessage"></app-loader>
    </div>
  </div>
  <div class="row" *ngIf="!loader">
    <div class="one wide column"></div>
    <div class="ten wide column">
      <span class="ui HomeAccordianHeading m-responsive-cp left floated header">{{collectionTitle}}</span>
      <h5 appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="closeCollectionPlayerInteractEdata"
        class="ui right floated basic icon circular button margin-auto mouse-pointer" (click)="closeCollectionPlayer()">
        <i class="ui remove icon"></i>
      </h5>
    </div>
    <div class="one wide column"></div>
    <div class="one wide column"></div>
    <div class="one wide column"></div>
  </div>
  <div class="row padding-top-none" *ngIf="!loader">
    <div class="one wide column"></div>
    <div  class="ten wide column">
      <div class="player-badge-alignment">
        <app-content-badge [data]="badgeData" ></app-content-badge>
      </div>
    </div>
    <div class="one wide column"></div>
  </div>
  <div class="row">
    <div class="one wide column"></div>
    <div class="ten wide column">
      <app-collection-tree (contentSelect)="OnPlayContent($event)" [nodes]="collectionTreeNodes" [options]="collectionTreeOptions"></app-collection-tree>
    </div>
    <div class="one wide column"></div>
  </div>
  <div class="row">
    <div class="one wide column"></div>
    <div class="ten wide column">
      <app-collection-player-metadata *ngIf=!showPlayer [metaData]="collectionData"></app-collection-player-metadata>
    </div>
    <div class="one wide column"></div>
  </div>
</div>
<app-public-footer *ngIf="showFooter"></app-public-footer>