<div class="sb-prominent-filter sb-explore-filter-container" *ngIf="showFilters">
  <sui-accordion [closeOthers]="false">
    <sui-accordion-panel [isOpen]="accordionDefaultOpen" [isDisabled]="true">

      <!--Toggle Header-->
      <div *ngIf="isShowFilterLabel" title class="sb-data-driven-filter-header" appTelemetryInteract [telemetryInteractEdata]="filterInteractEdata" [telemetryInteractCdata]="telemetryCdata" (click)="accordionDefaultOpen = !accordionDefaultOpen">
        <i class="icon filter"></i>
        {{resourceService.frmelmnts?.lbl?.filters}}
        <i class="dropdown icon"></i>
      </div>
      <!--/Toggle Header-->

      <!--Toggle Content-->
      <div content>

        <!--Selected Filters list-->
        <div *ngIf="filtersDetails && formInputData && showSearchedParam" class="twelve wide column pb-16 content">
          <div *ngFor="let field of filtersDetails">
            <span class="padded chip mt-5 mr-10" *ngIf='formInputData[field.code] && formInputData[field.code].length > 0'>

              {{field.label}}:

              <span *ngFor="let item of formInputData[field.code]">
                <a class="ui label mt-5 mr-5" *ngIf='!item?.name && field.code !== "channel"'>
                  {{item}}
                  <i class="delete icon" (click)="removeFilterSelection(field.code,item)"></i>
                </a>
                <a class="ui label mt-5 mr-5" *ngIf='item?.name && field.code !== "channel"'>
                  {{item.name}}
                  <i class="delete icon" (click)="removeFilterSelection(field.code,item)"></i>
                </a>
              </span>

              <span *ngFor="let item of channelInputLabel">
                <a class="ui label mt-5 mr-5" *ngIf='item?.name && field.code === "channel"'>
                  {{item.name}}
                  <i class="delete icon" (click)="removeFilterSelection(field.code,item.identifier)"></i>
                </a>
              </span>

            </span>
          </div>
        </div>
        <!--/Selected Filters list-->

        <!--Filters-->
        <div class="twelve wide column pt-0" *ngIf="refresh && filtersDetails">
  
                <div class="sb-prominent-filter-container">
                  <div *ngFor="let field of filtersDetails" class="sb-prominent-filter-field">
                    <div *ngIf="(field.inputType==='select' || field.inputType === 'multi-select') && field.code !== 'channel'">
                      <sui-multi-select (ngModelChange)="setFilterInteractData()" id={{field.code}} name={{field.code}}
                        defaultSelectionText={{field.label}} zeroSelectionText= {{resourceService.frmelmnts.lbl.Select}} class="ui selection multiselect-square-border dropdown multiple" [(ngModel)]="formInputData[field.code]" [options]="options" [hasLabels]="false" #multiSelect>
                          <sui-select-option *ngFor="let option of field.range" [value]="option.name"></sui-select-option>
                      </sui-multi-select>
                    </div>
                    <div *ngIf="field.code === 'channel'">
                      <sui-multi-select (ngModelChange)="modelChange($event);setFilterInteractData()" id={{field.code}} name={{field.code}}
                        defaultSelectionText={{field.name}} zeroSelectionText= {{resourceService.frmelmnts.lbl.Select}} class="ui selection multiselect-square-border dropdown multiple" [(ngModel)]="formInputData[field.code]" [options]="options" [hasLabels]="false" labelField="name" valueField="identifier" #multiSelect>
                          <sui-select-option *ngFor="let option of field.range" [value]="option"></sui-select-option>
                      </sui-multi-select>
                    </div>
                    <div *ngIf="field.code==='topic'">
                      <app-topic-picker [selectedTopics]="formInputData[field.code]" [formTopic]="field" (topicChange)="handleTopicChange($event);setFilterInteractData()"></app-topic-picker>
                    </div>
                  </div>
                  
                  <div class="sb-prominent-filter-field">
                    <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="applyFilters()" appTelemetryInteract [telemetryInteractEdata]="applyFilterInteractEdata">
                      {{resourceService.frmelmnts?.btn?.apply}}
                    </button>
                    <button appTelemetryInteract [telemetryInteractEdata]="resetFilterInteractEdata"
                      class="sb-btn sb-btn-normal sb-btn-outline-primary ml-10 mr-0" (click)="resetFilters()">
                      {{resourceService.frmelmnts?.btn?.reset}}
                    </button>
                  </div>
                </div>
 
        </div>
        <!--Filters-->

      </div>
      <!--/Toggle Content-->

    </sui-accordion-panel>
  </sui-accordion>
</div>