<!-- Mobile browser player-->
<div *ngIf="isMobileOrTab && !showNewPlayer" >
    <div data-ratio="16:9" class="player-thumbnail" appTelemetryInteract [telemetryInteractObject]="telemetryObject" [telemetryInteractEdata]="loadPlayerInteractEdata"
    [ngStyle]="{'background': 'url(' + playerOverlayImage + ') center/cover no-repeat '}" *ngIf="showPlayIcon" id="contentPlayer" tabindex="0" (click)="enablePlayer(false)">
    <img class="play-icon" src="assets/images/play_circle.svg">
  </div>
  <div id="playerFullscreen" *ngIf="!showPlayIcon" > 
    <!-- <img appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="closeButtonInteractEdata" (click)="closeFullscreen()" class="close-button" src="assets/images/close-Black.svg" alt=""> -->
    <iframe #contentIframe id="contentPlayer" title="Content Player" aria-label="Content Player" class="mcqViewerIframeShadow" name="contentPlayer"></iframe>
  </div>
</div>
<!-- Portal player-->
<div class="h-100" *ngIf="!isMobileOrTab && !showNewPlayer && !isContentDeleted">
    <iframe #contentIframe id="contentPlayer" 
        title="Content Player" 
        aria-label="Content Player" 
        class="mcqViewerIframeShadow" 
        [ngClass]="{'mcq-player-fullscreen': isFullScreenView}"
        [attr.dir]="getDocumentDir()"
        name="contentPlayer">
    </iframe>
</div>
<div *ngIf="!isMobileOrTab && showNewPlayer && !isContentDeleted" class="w-100 h-100">
        <div class="mcqViewerIframeShadow" [ngClass]="{'player-fullscreen content-full-video': isFullScreenView}">
        <sunbird-pdf-player *ngIf="playerType === 'pdf-player'" [playerConfig]="playerConfig"
          (playerEvent)="eventHandler($event)" (telemetryEvent)="generateContentReadEvent($event, true)">
        </sunbird-pdf-player>

        <sunbird-video-player *ngIf="playerType === 'video-player'" [playerConfig]="playerConfig"
          (playerEvent)="eventHandler($event)" (telemetryEvent)="generateContentReadEvent($event, true)">
        </sunbird-video-player>

        <sunbird-epub-player *ngIf="playerType === 'epub-player'" [playerConfig]="playerConfig" [showFullScreen]="isFullScreenView"
        (playerEvent)="eventHandler($event)" (telemetryEvent)="generateContentReadEvent($event, true)"></sunbird-epub-player>

        <quml-main-player *ngIf="playerType === 'quml-player' && showQumlPlayer" [playerConfig]="playerConfig" (playerEvent)="eventHandler($event)" (telemetryEvent)="generateContentReadEvent($event, true)"></quml-main-player>
      </div>
</div>

<!--If Content is deleted-->
<div class="d-flex flex-dc flex-jc-center text-center flex-ai-center no-content-player" *ngIf="isContentDeleted">
  <div class="no-content-player__text"></div>
  <div>
    <img src="assets/images/shape.svg" width="90px" height="70px">
  </div>
  <div class="fnormal">{{resourceService?.messages?.stmsg?.desktop?.deleteMessage}}</div>
</div>

<div *ngIf="isMobileOrTab && showNewPlayer" class="w-100 h-100">
  <div data-ratio="16:9" class="player-thumbnail" appTelemetryInteract [telemetryInteractObject]="telemetryObject" [telemetryInteractEdata]="loadPlayerInteractEdata"
  [ngStyle]="{'background': 'url(' + playerOverlayImage + ') center/cover no-repeat '}" *ngIf="showPlayIcon" id="contentPlayer" tabindex="0" (click)="enablePlayer(false)">
  <img class="play-icon" src="assets/images/play_circle.svg">
</div>

<div id="playerFullscreen" *ngIf="!showPlayIcon" class="player-fullscreen" [ngStyle]="{'display': mobileViewDisplay}"> 
  <!-- <img *ngIf="playerType !== 'quml-player'" appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="closeButtonInteractEdata" (click)="closeFullscreen()" class="close-button" src="assets/images/close-Black.svg" alt=""> -->
  <sunbird-pdf-player *ngIf="playerType === 'pdf-player'" [playerConfig]="playerConfig"
    (playerEvent)="eventHandler($event)" (telemetryEvent)="generateContentReadEvent($event, true)"></sunbird-pdf-player>

  <sunbird-video-player *ngIf="playerType === 'video-player'" [playerConfig]="playerConfig"
    (playerEvent)="eventHandler($event)" (telemetryEvent)="generateContentReadEvent($event, true)">
  </sunbird-video-player>
  <sunbird-epub-player *ngIf="playerType === 'epub-player'" [playerConfig]="playerConfig" [showFullScreen]="isFullScreenView"
    (playerEvent)="eventHandler($event)" (telemetryEvent)="generateContentReadEvent($event, true)"></sunbird-epub-player>

    <quml-main-player *ngIf="playerType === 'quml-player' && showQumlPlayer" [playerConfig]="playerConfig" (playerEvent)="eventHandler($event)" (telemetryEvent)="generateContentReadEvent($event, true)"></quml-main-player>
</div>
</div>

    <!--Rating popup -->
<app-content-rating #modal *ngIf="contentRatingModal && playerConfig"
    [contentData]="playerConfig.metadata" (closeModal)="closeModal()"></app-content-rating>
<button *ngIf="playerType !== 'quml-player'" class="sb-btn sb-btn-primary sb-btn-normal pull-right view-fullscreen"[ngClass]="{'d-none': !viewFullscreenBtn}" tabindex="0" (click)="viewInFullscreen()" appTelemetryInteract [telemetryInteractEdata]="viewFullScreenIntractEdata" [telemetryInteractObject]="viewFullScreenIntractObject"> <i class="expand icon"></i> View Full Screen</button>