@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
@use 'components/video' as *;

.player-thumbnail {
  width: 100%;
  cursor: pointer;
  border-radius: .3125rem;
  position: relative;
  padding-bottom: 56.25%;
  border: calculateRem(1px) solid var(--black);
}

.play-icon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  height: calculateRem(80px);
  width: calculateRem(80px)
}

.overlay-image {
  width: 100%;
  height: 100%;
}



@media only screen and (max-width: 768px) {
  .play-icon {
    height: auto;
    width: auto;
  }
}


  .content-full-video{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: calculateRem(50px);
    z-index: 999999;
    align-items: center;
    .video-close-btn{
        position: fixed;
        right: calculateRem(32px);
        left: auto;
        cursor: pointer;
        background: var(--black);
        height: calculateRem(32px);
        width: calculateRem(32px);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            width: calculateRem(16px);
            height: calculateRem(16px);
        }
        html[dir="rtl"] & {
            left: calculateRem(32px);
            right: auto;
        }
    }
}

.player-fullscreen {
    position: absolute !important;
    border:none; 
    margin:0;
    padding:0; 
    overflow:hidden; 
    z-index:9999;
    // height: calc(100% - 4rem) !important;
    background:var(--white);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
} 

.contentViewerIframeShadow {
  width: 100%;
  border: 0;
  height: 100%;
  left:50%;
  top:50%;
  right:50%;
  bottom:50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: all ease .3s;
  iframe {
    height: calc(100vh - 4rem) !important;
    border:calculateRem(10px) solid var(--primary-400);
  }
} 

.close-button {
  position: absolute;
  z-index: 100;
  right: calculateRem(8px);
  top: calculateRem(8px);
  cursor: pointer;
}

::ng-deep{
  iframe {
    width: 100%;
    height: 100% !important;
  }
  .video-js{height:100% !important;}

  .video-js {
    padding-top:inherit !important;
  }
    .vjs-progress-control {
  pointer-events: none !important;
  opacity: 0.6; 
}

.vjs-playback-rate>.vjs-menu-button {
  pointer-events: none !important;
  opacity: 0.6; 
}
}

.no-content-player{
  background: var(--black);
  color: var(--white);
  width: 100%;
  height: 100%;
  &__text{
      max-width: calculateRem(300px);   
  }
}

