<a class="item" ui-sref-active="active" ui-sref="Home" href="home" translate="home" translate-default="Home">
      Home
    </a>
<a class="item" ui-sref="Learn" href="learn" translate="courses" translate-default="Courses" ng-class="courseActive">
      Courses

    </a>
<a class="item" ui-sref-active="active" ui-sref="Resource" href="resources" translate="resources" translate-default="Resources">
      Resources
    </a>
<a class="item" href="#" ui-sref-active="active" ui-sref="Community" translate="community" translate-default="Community">
      Community
    </a>
<a class="item" href="#" ui-sref-active="active" ui-sref="Profile" translate="profile" translate-default="Profile">
      Profile
    </a>