<!--poonam code changes-->
<div>
    <div class="ui fluid icon input left action" id="search-input-container">

        <div class="searchdropdown ui basic floating dropdown button" apply-script id="headerSearch">
            <div class="text"></div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item" ng-repeat="key in $root.search.searchSelectionKeys" value="{{key.id}}">{{key.name}}</div>
            </div>
        </div>

        <div class="searchfilterinput ui search">
            <div class="searchicon ui icon input ">
                <input type="text" id="keyword" name="filter_search" ng-model="$root.search.searchKeyword"  placeholder="What are you looking for?"
                  ng-keypress="($event.charCode==13)?$root.search.searchRequest():return"  title="Search" autocomplete="off" spellcheck="false" dir="auto" class="searchinput" ng-model-options="{debounce: 2000}"  ng-change="$root.search.searchRequest(true)"  />
                <i class="circular search link icon" ng-click="$root.search.searchRequest()"></i>
            </div>
            <div id="search-suggestions" ng-if="$root.search.autosuggest_data.length > 1" class="ui fluid results transition visible dropdown-menu-list">
                <div>
                    <a class="result" ng-repeat="item in $root.search.autosuggest_data" ng-click='$root.search.setSearchText(item.name)'>
                        <div class="content">
                            <div class="title">{{item.name}}</div>
                        </div>
                    </a>


                </div>
            </div>
        </div>
    </div>




</div>