<app-modal-wrapper [config]="{disableClose: true, size: 'large', panelClass: 'material-modal'}"
  (dismiss)="navigateToPreviousPage()" #modal>
  <ng-template sbModalContent>
    <div class="sb-mat__modal">
      <div mat-dialog-title class="mb-0"></div>
      <div class="sb-mat__modal__content">
        <iframe scrolling="no" [src]="discussionUrl"></iframe>
      </div>
      <mat-dialog-actions class="sb-mat__modal__actions"></mat-dialog-actions>
    </div>
  </ng-template>
</app-modal-wrapper>