<app-modal-wrapper [config]="{disableClose: true, size: 'large'}" (dismiss)="navigateToPreviousPage()" #modal>
  <ng-template sbModalContent>
    <div class="sb-modal">
      <div class="transition ui dimmer page modals active visible">
        <div class="ui modal transition active visible large">

          <div class="sb-modal-content">
            <iframe scrolling="no" [src]="discussionUrl"></iframe>
          </div>

        </div>
      </div>
    </div>
  </ng-template>
</app-modal-wrapper>