@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

::ng-deep {
  .sb-modal .ui.modal.fullscreen .sb-modal-content {
    height: 100vh;
    padding: 0;
    border-radius: 0;
    overflow: hidden;
  }

  iframe {
    width: 100%;
    height: 100vh;
    border: 0;
  }
  .sb-modal .ui.modal>.close {
    color: var(--black);
    background: var(--gray-0);
    border-radius: 100%;
    right: 1rem;
    top: 1rem;
    font-size: 1.25rem;
    &:hover {
      background: var(--black);
      color: var(--white);
    }
  }
  .o-y-auto {
    overflow-y: auto;
  }
}
