.sb-secondary-pointing-menu {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid rgba(34,36,38,.15);
    border-radius: 0;
    border: none;
    box-shadow: none;
    display:flex;
    .item {
        border-bottom-color: transparent;
        border-bottom-style: solid;
        border-radius: 0;
        -ms-flex-item-align: end;
        align-self: flex-end;
        margin: 0 0 -2px;
        padding: .85714286em 1.14285714em;
        border-bottom-width: 2px;
        -webkit-transition: color .1s ease;
        transition: color .1s ease;
        box-shadow: none;
        border: none;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        vertical-align: middle;
        line-height: 1;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-box-flex: 0;
        &.active {
            background-color: transparent;
            box-shadow: none;
            border-color: #1b1c1d;
            font-weight: 700;
            color: #024F9D;
            font-weight: bold;
            font-size: 14px;
            border-bottom: 2px solid #024F9D;
        }
        &:hover {
            border-color: #024F9D;
        }
    }

}

.sb-sidebar-menu {
    h5 {
        font-weight: $font-weight-bold;
        padding: $base-block-space*2 0;
    }
    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            padding: $base-block-space+4 $base-block-space*2;
            font-size: $font-size-sm;
            color: #333;
            cursor: pointer;
            &.active {
                background: $primary-0;
                border-left: 2px solid $primary-600;
                color: $primary-800;
                font-weight: $font-weight-bold;
            }
            &:hover{
                background: $primary-0;
                color: $primary-800;
            }
        }
    }
}
.sb-sideview-tab-container {
    padding: $base-block-space*3 $base-block-space*3;
    background: $primary-0;
}

.sb-dotmenu {
    width: $base-block-space/2;
    height: $base-block-space/2;
    border-radius: 50%;
    background-color: $gray-200;
    box-shadow: 0px -6px 0px $gray-200, 0px 6px 0px $gray-200;
    display: inline-block;
    cursor: pointer;
}

