<div 
    class="ui fluid ui action input searchbox-inner" 
    id="search-input-container" 
    [ngClass]="{'disabled': !showInput}"
    >
    <input 
        type="text" 
        id="keyword" 
        name="filter_search"
        class="searchinput"
        title="{{resourceService.frmelmnts?.lbl?.SearchIn}} {{selectedOption}}" 
        placeholder="{{resourceService.frmelmnts?.lbl?.SearchIn}} {{selectedOption}}"
        [(ngModel)]="key" 
        (keyup.enter)="onEnter(key)" 
        [disabled]="!showInput" 
    />
    <button class="ui icon button">
        <i 
            class="search blue icon" 
            [ngClass]="{'disabled': !showInput }" 
            (click)="onEnter(key)"
            title="{{resourceService.frmelmnts?.lbl?.SearchIn}} {{selectedOption}}"
            tabindex="0"
            ></i>
    </button>
</div>