@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
.sb-no-title {
    height: 3rem;
}
.sbt-page-header-content {
    padding-left: 0px;
    border-radius: 0 0 0 calculateRem(40px);
    height: calculateRem(80px);
    padding-bottom: calculateRem(8px);
  
    @include respond-above(sm) {
      align-items: flex-end;
    }
  
    html[dir="rtl"] & {
      border-radius: 0px 0px calculateRem(40px) 0px;
    }
  
    h1 {
      font-size: calculateRem(24px);
      font-weight: bold;
      position: relative;
  
      @include respond-above(sm) {
        font-size: calculateRem(40px);
      }
    }
  
    svg {
      position: absolute;
      width: calculateRem(260px);
      bottom: calculateRem(-16px);
      right: calculateRem(32px);
  
      html[dir="rtl"] & {
        left: calculateRem(32px);
        right: inherit;
      }
    }
  }