<div *ngIf="!showLoader">
    <!--CC-Player Content Header -->
    <div class="cc-player__content-header d-flex flex-ai-center relative position" *ngIf="contentData">
        <div class="ui container">
            <div class="header-info flex-basis-1">
                <div class="header-info__title">
                    <h5 class="sb-color-primary font-weight-bold">{{contentData.name}}</h5>
                </div>
                <div class="header-info__desc d-flex flex-ai-center" *ngIf="contentData">
                    <span class="fnormal" *ngIf="contentData?.subject">{{contentData?.subject}}</span>
                    <span class="dot-divider" *ngIf="contentData.gradeLevel"></span>
                    <span class="fnormal" *ngIf="contentData?.gradeLevel">{{contentData?.gradeLevel}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- CC-Player Video -->
    <div class="ui container">
        <div class="cc-player sb-g">
            <section class="sb-g-col-xs-12 sb-g-col-md-8 sb-g-col-lg-12 cc-player__video"
                [appTelemetryImpression]="telemetryImpression" *ngIf="contentData">
                <app-contentplayer-page [playerConfig]="playerConfig" [tocPage]="true" [contentDetails]="contentData"
                    [isContentPresent]="isContentPresent" [objectRollUp]="objectRollup">
                </app-contentplayer-page>
            </section>
        </div>
    </div>
    <div class="twelve wide column" *ngIf="showLoader">
        <app-loader [data]='loaderMessage'></app-loader>
    </div>
</div>