<app-landing-section [textToDisplay]="" 
[layoutConfiguration]="layoutConfiguration" [noTitle]="true"></app-landing-section>
<div class="relative9" [style.display]="!showLoader ? 'block' : 'none'" *ngIf="contentData">
    <!--CC-Player Content Header -->
    <div class="cc-player__content-header d-flex flex-ai-center relative position cc-player__border-fix" [ngClass]="{'header-block': isFullScreenView}">
        
        <div class="ui container">
            <div class="header-info flex-basis-1">
                <div class="header-info__title">
                    <h5 class="sb-color-primary font-weight-bold">{{contentData.name}}</h5>
                </div>
                <div class="header-info__desc d-flex flex-ai-center">
                    <span class="fnormal" *ngIf="contentData?.subject">{{contentData?.subject}}</span>
                    <span class="dot-divider" *ngIf="contentData.gradeLevel"></span>
                    <span class="fnormal" *ngIf="contentData?.gradeLevel">{{contentData?.gradeLevel}}</span>
                </div>
            </div>
            <div>
                <a href="javascript:void(0)" (click)="onShareLink();sharelinkModal=true;" class="cursor-pointer btn-bg d-inline-block font-weight-bold p-8 mr-16">
                    <i class="blue share alternate icon"></i>
                    {{resourceService?.frmelmnts?.lbl?.share}}
                </a>
                <span *ngIf='permissionService.permissionAvailable' appPermission [permission]="['CONTENT_CREATOR', 'CONTENT_REVIEWER']"
                    (click)="copyContent(contentData)" class="d-inline-block">
                    <a appTelemetryInteract [telemetryInteractEdata]="copyContentInteractEdata" [telemetryInteractObject]="objectInteract" class="cursor-pointer btn-bg p-8 d-inline-block font-weight-bold sb-color-primary">
                        <i class="blue clone outline icon"></i>
                        {{resourceService?.frmelmnts?.lbl?.copy}}
                    </a>
                </span> 
            </div>
        </div>
    
    </div>
    <!-- CC-Player Video -->
    <div class="sb-single-resource">
    <div class="ui container">
        <div class="cc-player sb-g">
            <section class="sb-g-col-xs-12 sb-g-col-md-8 sb-g-col-lg-12 cc-player__video"
                [appTelemetryImpression]="telemetryImpression">
                <app-contentplayer-page [playerConfig]="playerConfig" [tocPage]="true" [contentDetails]="contentData"
                    [isContentPresent]="isContentPresent" [objectRollUp]="objectRollup">
                </app-contentplayer-page>
            </section>
        </div>
    </div>
</div>
    <div class="twelve wide column" *ngIf="showLoader">
        <app-loader [data]='loaderMessage'></app-loader>
    </div>
    <app-share-link [shareLink]="shareLink" [telemetryShareData]="telemetryShareData" *ngIf="sharelinkModal" (close)="sharelinkModal = false">
    </app-share-link>
</div>