@font-face {
    font-family: 'bebas_neue';
    src: url('bebasneue_thin-webfont.eot');
    src: url('bebasneue_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebasneue_thin-webfont.woff') format('woff'),
         url('bebasneue_thin-webfont.ttf') format('truetype'),
         url('bebasneue_thin-webfont.svg#bebas_neuethin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue';
    src: url('bebasneue_regular-webfont.eot');
    src: url('bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebasneue_regular-webfont.woff') format('woff'),
         url('bebasneue_regular-webfont.ttf') format('truetype'),
         url('bebasneue_regular-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue';
    src: url('bebasneue_light-webfont.eot');
    src: url('bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebasneue_light-webfont.woff') format('woff'),
         url('bebasneue_light-webfont.ttf') format('truetype'),
         url('bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue';
    src: url('bebasneue_book-webfont.eot');
    src: url('bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebasneue_book-webfont.woff') format('woff'),
         url('bebasneue_book-webfont.ttf') format('truetype'),
         url('bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue';
    src: url('bebasneue_bold-webfont.eot');
    src: url('bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebasneue_bold-webfont.woff') format('woff'),
         url('bebasneue_bold-webfont.ttf') format('truetype'),
         url('bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: bold;
    font-style: normal;
}