@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.thumbnail-card {
  height: calculateRem(98px);
  margin-top: calculateRem(10px);
  display: inline;
  justify-content: space-around;
  align-items: center;
}

.evidence-modal {
  .content {
    height: 70vh;
    padding: calculateRem(10px);
    overflow-y: auto;
    background: var(--sb-modal-content-bg);
    border-radius: calculateRem(24px);
    label{
        color: var(--sb-prominent-filter-title);
      }
  }
}

.sbt-report-tabs-panel {
  overflow: auto;
  padding-bottom: calculateRem(2px);
  border-radius: var(--sbt-bradius-24) !important;
  background-color: var(--sb-card-bg);
}

.ui.secondary.pointing.menu .item {
  font-size: calculateRem(16px) !important;
  color: var(--gray-800);
  opacity: 0.3;
  font-weight: 600;
  overflow: hidden;
}
.ui.secondary.pointing.menu .active.item {
  color: var(--primary-color) !important;
  opacity: 1 !important;
  border-bottom-width: calculateRem(4px) !important;
  border-color: var(--primary-color) !important;
  overflow: hidden;
}
.ui.secondary.pointing.menu {
  height: calculateRem(60px) !important;
  overflow: hidden;
}
.sbt-report-btns-panel-new {
  border-radius: 0px !important;
 background-color: var(--white);
}


.report-block {
    padding-top: calculateRem(10px);
    padding-bottom: 0px;
    margin-top:calculateRem(10px) !important;
    background-color: transparent;
    color: var(--sb-text);
  }

  .item{
      margin-top: calculateRem(15px);
  }

.goback{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin: 0.7rem 0;
    cursor: pointer;
    color: var(--ck-color-button-cancel);
}


::ng-deep{
  mat-ink-bar.mat-ink-bar {
    display: none !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  .mat-tab-label-active {
    border-bottom: 2px solid var(--primary-color) !important;
  }
} 

  