@import 'variables';
@import 'mixins/mixins';

.course-list_title {
  color:var(--gray-800);
  font-size: calculateRem(18px);
  font-weight: bold;
  line-height: calculateRem(24px);
}

// content header bar
.content-header {
  &__img {
    overflow: hidden;
    img {
    width:calculateRem(48px);
  }
  }
  &__title{
    color: var(--primary-color);
    font-size: calculateRem(18px);
    font-weight: bold;
  }
  &__info {
    color:var(--gray-800);
    font-size: calculateRem(14px);
    
  }
}

.course-list-progress {
  padding:calculateRem(16px);
  &__title {
    color:var(--gray-800);
    font-size: calculateRem(12px);
  }
  &__status {
    color:var(--primary-color);
    font-size: calculateRem(14px);
    font-weight: bold;
  }
  &__barholder {
    margin:0px;
    height:calculateRem(8px);
  }
  &__info {
  color:var(--gray-800);
  font-size: calculateRem(12px);
  }
}

:host ::ng-deep {
.ui.progress .bar {
  height:calculateRem(8px) !important;
}
}

.header-shadow {
  min-height: calculateRem(80px);
  background-color: #fafafa;
  box-shadow: 0 calculateRem(10px) calculateRem(10px) calculateRem(-10px) rgba(0, 0, 0, 0.25);
  z-index: 99;
}
.chapter-box {
  border: 0.03125rem solid var(--primary-300);
  padding: calculateRem(16px);
  border-radius: calculateRem(2px);
}

