<mat-toolbar color="primary" class="toolbar-pageback">
  <div class="d-flex flex-ai-center">
    <app-back-button></app-back-button>
    <div class="toolbar-pageback__heading">
      <h1 class="mat-title mb-0" tabindex="0" role="heading" aria-level="2">{{groupData?.name}}</h1>
      <div class="toolbar-pageback__metadata mat-caption">{{resourceService?.frmelmnts?.lbl?.groupCreatedBy | interpolate:'{name}': creator}}</div>
    </div>
  </div>
  <div class="toolbar-pageback__actions">
     <!--Forum Icon-->
     <app-access-discussion [forumIds]="forumIds" [fetchForumIdReq]="fetchForumIdReq"
     (routerData)="assignForumData($event)"> </app-access-discussion>
   <div class="d-flex flex-ai-center flex-w-wrap content-header__buttons">
    <button mat-icon-button [matMenuTriggerFor]="menu" id="group-actions" tabindex="0" (click)="addTelemetry('kebab-menu')">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!-- admin -->
      <div *ngIf="groupData?.isAdmin">
        <!-- when group is active -->
        <div *ngIf="groupData?.active">
          <button mat-menu-item (click)="editGroup();addTelemetry('edit-group', '', { type: UPDATE_GROUP})" tabindex="0">{{resourceService?.frmelmnts?.lbl?.editGroup}}</button>
          <button mat-menu-item (click)="toggleModal(true, 'deActivate')" tabindex="0">{{resourceService?.frmelmnts?.btn?.deactivategrp}}</button>
          <button mat-menu-item (click)="enableDiscussionForum()" tabindex="0" *ngIf="forumIds.length === 0">{{resourceService?.frmelmnts?.lbl?.enableDiscussionForum}}</button>
          <button mat-menu-item (click)="toggleModal(true, 'disableDiscussionForum')" tabindex="0" *ngIf="forumIds.length > 0">{{resourceService?.frmelmnts?.lbl?.disableDiscussionForum}}</button>
        </div>
        <!-- when group is suspended -->
        <div *ngIf="!groupData?.active">
          <button mat-menu-item (click)="toggleModal(true, 'activate');" tabindex="0">{{resourceService?.frmelmnts.lbl.activategrp}}</button>
        </div>
      </div>
      <!-- member -->
      <div *ngIf="!groupData?.isCreator">
        <button mat-menu-item class="color-warn" (click)="showLeaveGroupModal=true;dropdownMenu()" tabindex="0">{{resourceService?.frmelmnts?.lbl?.leaveGroup}}</button>
      </div>
      <!-- creator -->
      <div *ngIf="groupData?.isCreator">
        <button mat-menu-item class="color-warn" (click)="toggleModal(true, 'delete');" tabindex="0">{{resourceService?.frmelmnts?.lbl?.deleteGroup}}</button>
      </div>
    </mat-menu>
   </div>
   </div>
</mat-toolbar>

<app-modal *ngIf="showModal" [title]="title" [msg]="msg" [name]="name" (handleEvent)="handleEvent($event)"></app-modal>
<app-member-actions *ngIf="showLeaveGroupModal" [action]="'leaveFromGroup'" [groupName]="groupData?.name"
  (modalClose)="showLeaveGroupModal=false" (actionConfirm)="leaveGroup()"></app-member-actions>

<app-loader *ngIf="showLoader" [data]="{loaderMessage: resourceService?.messages?.fmsg?.m0087}"> </app-loader>