@import"variables";
@import 'mixins/mixins';

.content-header {
    background:#FAFAFA;
    min-height: calculateRem(14px);
  
      &__content{
          display:flex;
          align-items: center;
          justify-content: space-between;
          @include respond-below(sm) {
            display: block;
          }
      }
  
      &__title {
          color: var(--primary-400);
          font-size: calculateRem(16px);
      }

    @include respond-below(sm) {
      &__buttons {
        margin-top: calculateRem(8px);
      }
    }
  }