<!--  add back button, group name, edit , show past members and delete -->

<div class="sb-bg-color-white">
    <div class="ui container py-8">
      <button type="button" class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn px-0" (click)="goBack()">
        <i class="icon-svg icon-svg--xxs icon-back mr-4"><svg class="icon icon-svg--primary">
            <use xlink:href="./assets/images/sprite.svg#arrow-long-left"></use>
          </svg></i> Back</button>
    </div>
  </div>
  
  <div class="content-header">
    <div class="ui container py-16">
      <div class="d-flex flex-ai-center flex-jc-space-between flex-w-wrap">
        <div class="flex-basis-1 mr-32">
          <div class="content-header__title font-weight-bold sb__ellipsis sb__ellipsis--one">
            <div>{{groupData?.name}}</div>
          </div>
        </div>
        <div class="d-flex flex-ai-end flex-w-wrap content-header__buttons">
          <button class="sb-btn sb-btn-outline-error sb-left-icon-btn sb-btn-normal flex-ai-jc-center mr-8" (click)="deleteGroup($event)">
            <img src="./assets/images/icon_delete.svg" class="mr-4" width="16" /> Delete</button>
          <button type="button" class="sb-btn sb-btn-outline-primary sb-left-icon-btn sb-btn-normal mr-8 flex-ai-jc-center" (click)="showPastMembers($event)">
          <img src="./assets/images/icon_members.svg" class="mr-4" width="16" /> Show Past members</button>
          <button class="sb-btn sb-btn-primary sb-btn-normal sb-left-icon-btn flex-ai-jc-center"><img  width="16"  class="mr-4" src="./assets/images/icon_edit.svg" /> Edit</button>
        </div>
      </div>
    </div>
  </div>

<app-group-actions *ngIf="showModal" [modalName]="modalName" (modalClosed)="closeModal()" [pastMembersList]="pastMembersList" [groupName]="groupData?.name"></app-group-actions>