@import 'mixins/mixins';

.content-header {
    background:var(--rc-FAFAFA);
    min-height: calculateRem(14px);
  
      &__content{
          display:flex;
          align-items: center;
          justify-content: space-between;
          @include respond-below(sm) {
            display: block;
          }
      }
      
      &__title {
          color: var(--primary-400);
          font-size: calculateRem(18px);
      }
      &__info {
        color: var(--gray-800);
        font-size: calculateRem(14px);
    }
    &__buttons {
     position: relative;
    }
    @include respond-below(sm) {
      &__buttons {
        margin-top: calculateRem(8px);
      }
    }
  }

.kabab-menu{
  color: var(--primary-400);
  width: calculateRem(30px);
  height: calculateRem(30px);
  line-height: calculateRem(28px);
  text-align: center;
  border-radius: 50%;
  padding-left: calculateRem(6px);
  &:hover{
    background: var(--gray-0);
    cursor: pointer;
  }
  &::after {
    content: '\2807';
    font-size: calculateRem(24px);
  }
}
.kabab-menu-dropdown-content {
  position: absolute;
  border-radius: calculateRem(2px);
  background-color: var(--white);
  box-shadow: 0 calculateRem(3px) calculateRem(5px) calculateRem(4px) rgba(var(--rc-rgba-black), 0.05);
  padding: calculateRem(8px);
  z-index: 1;
  text-align: left;
  right:0;
  top: 0;
  min-width: calculateRem(210px);

  .list{
    cursor: pointer;
    font-size: calculateRem(14px);
    padding: calculateRem(8px);
  
    &:hover,&:active{
      background-color: var(--primary-100);
    }

    &:last-child{
      .sb-btn-normal{
        color: var(--red-400);
      }
    }
    .sb-btn-normal{
      font-size: calculateRem(14px);
    }
  }
}
::ng-deep {
  html[dir='rtl'] .kabab-menu-dropdown-content {
    right:auto;
    left:0;
  }
}
