@import "variables";

.selection.multiselect-square-border {
  border-radius: 5px;
  border: 1px solid rgba(34,36,38,.15);
}
.ui.selection.multiselect-square-border .multi-select-dropdown.multi-select-padding {
  padding: 7px 5px !important;
}
.template-checkbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap !important;
  align-items: center;
  font-size: 12px !important;
  line-height: 1.4;
}
.ui.selection.multiselect-square-border {
  min-width: 75%;
}
.option-text {
  width: calc(100% - 30px);
  word-break: break-word;
}