// component css goes here
.ui.error.message.bulkupload-error {
    max-height: 200px;
    overflow: auto;
    .errorDiv{
        opacity: 0.00001;
        .errorTextArea{
            height:8px;
        }
    }
}
.hiddenFileInput > input{
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
}
.hiddenFileInput{
  width: 105px;
  overflow: hidden;
  cursor: pointer;
}
