<sui-modal [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'normal'"
class="sb-modal custom-sui-modal" appBodyScroll (dismissed)="redirect();modal.deny();" #modal
*ngIf="modalName === 'upload'">
<div class="sb-modal-header">
  <!-- {{resourceService?.frmelmnts?.instn?.t0016}} -->
  Upload File
</div>
<div class="sb-modal-content">
  <div class="m-0">
    <span class="m-0 mr-16">Follow the instructions to fill the CSV file</span>
    <!-- <button type="button" class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary">Download Sample
      CSV</button> -->
      <a href="/assets/SampleCsv.csv" class="float-right">Download Sample CSV</a>
  </div>

  <div class="hiddenFileInput sb-btn sb-btn-tertiary sb-btn-normal mt-8 sb-bulk-upload-btn" (click)="inputbtn.click();">
    {{resourceService?.frmelmnts?.btn?.uploadcsv}} file
    <input type="file" #inputbtn class="sb-btn-upload" name="file" accept=".csv" (change)="fileChanged($event)"/>
  </div>
  <div *ngIf="file">
    <span> {{resourceService?.frmelmnts?.lbl?.upldfile }} :</span>
    <label>{{file.name}}</label>
  </div>
  <div *ngIf="resourceService.frmelmnts && !processId && !showLoader" class="ui info message">
    <div class="header">
      {{resourceService?.frmelmnts?.scttl?.instructions}}
    </div>
    <div>{{resourceService?.frmelmnts?.instn?.t0098}}</div>
    <ol class="ui list">
      <li *ngFor="let instn of userUploadInstructions">{{instn.instructions}}
      </li>
    </ol>
    <!-- <div>{{resourceService?.frmelmnts?.instn?.t0106}}</div> -->
    <!-- <div>{{resourceService?.frmelmnts?.instn?.t0076}} <a href={{uploadUserRefLink}}
        target="_blank">{{resourceService?.frmelmnts?.instn?.t0077}}</a></div> -->
  </div>
</div>

<div class="sb-modal-actions">
  <button appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject"
  [telemetryInteractEdata]="userUploadInteractEdata" [disabled]="!activateUpload"
  class="sb-btn sb-btn-normal sb-btn-primary" (click)="uploadUsersCSV()">
Generate Certificate
</button>
</div>
</sui-modal>




<sui-modal *ngIf="modalName === 'error'" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
     [size]="'normal'" class="sb-modal sb-error" appBodyScroll  (dismissed)="redirect();modal.deny();" #errormodal>
<div class="sb-modal-header">
  File Upload Failed
</div>
<div class="sb-modal-content">
  <div class="ui error message bulkupload-error">
    <div class="header">
      {{resourceService?.frmelmnts?.scttl?.error}}
    </div>
    <div *ngFor = "let er of errors">
      <span> {{er}}</span>
    </div>
    <div id="errorDiv" class="errorDiv">
      <textarea id="errorTextArea" class="errorTextArea"></textarea>
    </div>
  </div>
  <div>
    <span> {{resourceService?.frmelmnts?.lbl?.errorMsg }}</span>
  </div>

</div>
<div class="sb-modal-actions">
  <button appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject"
  [telemetryInteractEdata]="userUploadInteractEdata" [disabled]="processId"
  class="sb-btn sb-btn-normal sb-btn-primary" (click)="copyToClipboard()">
  {{resourceService?.frmelmnts?.btn?.copytoclipboard}}
  </button>
</div>
</sui-modal>
