@import "variables";
@import "mixins/mixins";

.sbpage-title {
  min-height: 56px;
  display: flex;
  align-items: center;

  h1 {
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
  }
}

/*
ul li {		
  margin-bottom: 0px;		
  position: relative;		
}

.sb-tab-section{
  width: 100%;
}
.sb-subheader {
  background: #005da2;
  height:60px;
  background: #005da2;		
  height: 60px;		
  position: fixed;		
  top: 72px;		
  width: 100%;		
  z-index: 9;
}
.sb-two-column-table {
  table-layout: fixed;
  word-break: break-word;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.sb-two-column-table .sb-table-heading,
.sb-two-column-table .sb-table-description {
  padding: 5px 10px;
  border: 1px solid #ccc;
}
.sb-two-column-table .sb-table-heading {
  text-align: center;
}
.sb-two-column-table .first-column {
  width: 35%;
}
.sb-two-column-table .second-column {
  width: 65%;
}
.sb-two-column-table img {
  max-width: 100%;
  vertical-align: middle;
}
.sb-main-header {
  background: white;
  box-shadow: 0 2px 14px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  transition: ease-in 0.25s;
  &.fixHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
}
.nav-item {
  list-style-type: none;
}
.sb-main-header .nav-item:not(:last-child) {
  margin-right: 48px;
}
.sb-secondary-subheader {
  background: #003257;
  padding: 12px;
}
.sb-subheader-list-item {
  text-align: center;
  color: #fff;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}
.sb-subheader-list-item-link.active {
  background: #003257;
}
.sb-subheader-list-item-text {
  color: #fff;
}
.sb-subheader-list {
  margin: 0;
  padding: 0;
}
.sb-secondary-subheader-list-item {
  display: inline-block;
}
.sb-subheader-list-item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}
.sb-subheader-list-item-link .icon {
  color: #fff;
  margin-bottom: 8px;
}
.header-img {
  clear: both;
  display: block;
  overflow: hidden;
  padding: 10px 10px;
  background: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.navbar-brand {
  float: left;
  padding: 14px 15px;
  font-size: 20px;
  line-height: 22px;
}
.scrollup {
  cursor: pointer;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 2%;
  overflow: hidden;
  z-index: 999;
  width: 32px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background-color: $tertiary-100;
    -webkit-mask-image: url(/assets/images/arrow-up.svg) no-repeat 50% 50%;
    mask:url(/assets/images/arrow-up.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.sb-help-center-section {
  .img-block {
    .image {
      max-height: 350px;
    }
  }
  .full-image {
    max-height: 500px;
  }
}
.help-center-content-title {
  margin-bottom: 0px;
  font-size: 36px;
  font-weight: bold;
}
.help-center-content-paragraph {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
}
.help-center-content-subtitle {
  margin-top: 20px;
  margin-bottom: 16px;
  font-weight: bold;
}
.help-center-content-extra {
  font-weight: bold;
  margin: 10px 0;
  font-size: 16px;
}
.help-center-fixed-content {
  width: 100%;
  &.sb-help-page-title {
    position: relative;
  }
  .help-center-list {
    list-style: inherit;
    margin: 12px 0 0 0;
    padding-left: 40px;
    font-size: 14px;
    .help-center-list-content {
      margin-top: 4px;
    }
  }
}
.sb-help-page-section {
  padding-bottom: 32px;
  .help-center-image {
    max-width: 100%;
    width: 100%;
  }
  .help-center-download-steps {
    h2 {
      margin-bottom: 16px;
    }
    h3 {
      margin-bottom: 16px;
    }
    margin: 32px 0;
    // height: 100vh;
    .help-center-image-section {
      .steps-img-ct {
        width: 70%;
      }
      .steps-content-ct {
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        padding-left:16px;
        align-items: flex-start;
        .steps-info {
          width: 100%;
          border: 0px solid var(--primary-400);
          background-color: var(--primary-400);
          background-image: -moz-linear-gradient(top, var(--primary-400), var(--primary-400));
          position: relative;
          color: #ccc;
          padding: 16px;
          border-radius: 3px;
          box-shadow: 0px 0px 20px #999;
          border: 1px solid var(--primary-400);
          // box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
          margin:0px 0px 16px 16px;
          h4 {
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            padding: 0px;
            margin: 0px;
          }
          p {
            font-size: 12px;
            color: #fff;
            line-height: normal;
            margin-bottom:8px;
          }
          &::before {
            content: "";
            width: 0px;
            height: 0px;
            border: 0.8em solid transparent;
            position: absolute;
            border-right: 10px solid var(--primary-400);
          }
        }
        .steps-info-top {
          align-self: flex-start;
          &::before {
            left: -20px;
            top: 10%;
          }
        }
        .steps-info-middle {
          align-self: center;
          &::before {
            left: -20px;
            top: 10%;
          }
        }
        .steps-info-bottom {
          align-self: flex-end;
          &::before {
            left: -20px;
            top: 10%;
          }
        }
      }
    }
  }
}
.download-pdf{
  position: relative;
  .sb-btn-download-pdf{
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 9999
  }
}
@media only screen and (min-width: 1024px) {
  .help-center-fixed-content {
    max-width: 960px;
    margin: auto;
    padding-left: 70px;
    padding-right: 70px;
  }
}

  //download button animation

  .sb-btn-download {
    transition: all 1.2s ease-in-out;
    
    i::after {
      content: "\f019";
      font-size: 13px;
      color: #fff;
    }
    
    &:hover {
      animation: pulse 0.2s 2 both;
    }
    
    &.loading {
      i {
        animation: loading 2s infinite linear;
        
        &::after {
          content: "\f1ce";
        }        
      }
    }
    
    &.success {
      i::after {
        content: "\f00c";
        color: transparent;
        animation: change-icon 1s 0.6s linear both;
      }
    }
  }
  
  @keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
  }
  
  @keyframes change-icon {
    0% {
      color: transparent;
    }
    
    100% {
      color: #fff;
    }
  }
  
  @keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }

  */
