.template-items {
    border: 3px solid #fff;
    border-radius: 8px;

    &.active {
        border: 3px solid #024f9d;
    }

    .template-item-selection {
        position: absolute;
        top: 35%;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        background: #fff;
        /* height: 100%; */
        width: 24px;
        height: 24px;
        border-radius: 100%;
        font-size: 20px;

        i {
            text-align: center;
            margin: 0 auto;
        }
    }


}