@import 'variables';
@import 'mixins/mixins';

.template-items {
    border: calculateRem(3px) solid var(--white);
    border-radius: calculateRem(8px);
    box-shadow: 0 calculateRem(2px) calculateRem(7px) 0 rgba(var(--rc-rgba-black), 0.16);

    &.active {
        border: calculateRem(3px) solid var(--primary-color);
    }

    .template-item-selection {
        position: absolute;
        top: 35%;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        background: var(--white);
        /* height: 100%; */
        width: calculateRem(24px);
        height: calculateRem(24px);
        border-radius: 100%;
        font-size: calculateRem(20px);

        i {
            text-align: center;
            margin: 0 auto;
            color: var(--primary-color);
        }
    }


}

.sb-card{
    .sb-card-metas .sb-card-image {
        width: calculateRem(120px);
        height: calculateRem(96px);

        img {
            width: 100%;
            height: 100%;
        }
    }
    .sb-card-title {
        font-size: calculateRem(12px);
        color: var(--gray-800);
    }
}
