@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.entity-list{
    background: var(--sb-card-bg);
    padding: calculateRem(10px) calculateRem(24px);
    border-radius: calculateRem(30px);
    margin: calculateRem(15px) 0px;
    label{
        margin-bottom:0px;
    }
    .icon {
        color: var(--primary-400) !important;;
        }
        .icon:hover{
            cursor: pointer;
          }
}