<div class="training-info" *ngIf="courseHierarchy">
  <h3 class="font-weight-bold mat-title">{{resourceService?.frmelmnts?.lbl?.courseDetails}}</h3>
  <div class="mat-app-background mb-16 p-16 info">
    <h4 class="mt-0 mb-8">{{resourceService?.frmelmnts?.lbl?.courseRelevantFor}}</h4>
    <div class="mb-4 mat-body-1" *ngIf="courseHierarchy?.se_boards">
      <span class="color-accent">{{resourceService?.frmelmnts?.lbl?.board | transposeTerms: 'frmelmnts.lbl.board' :
        resourceService?.selectedLang}}:&nbsp;</span><span>{{ courseHierarchy?.se_boards?.join(', ')}}</span>
    </div>
    <div class="mb-4 mat-body-1" *ngIf="courseHierarchy?.se_mediums">
      <span class="color-accent">{{resourceService?.frmelmnts?.lbl?.medium | transposeTerms: 'frmelmnts.lbl.medium' :
        resourceService?.selectedLang}}:&nbsp;</span><span>{{ courseHierarchy?.se_mediums?.join(', ')}}</span>
    </div>
    <div class="mb-4 mat-body-1" *ngIf="courseHierarchy?.se_gradeLevels">
      <span class="color-accent">{{resourceService?.frmelmnts?.lbl?.class | transposeTerms: 'frmelmnts.lbl.class' :
        resourceService?.selectedLang}}:&nbsp;</span><span>{{ courseHierarchy?.se_gradeLevels?.join(', ')}}</span>
    </div>
    <!-- <div class="training-relevant__medium mb-4  mat-body-1" *ngIf="courseHierarchy?.se_subjects">
      <span>{{resourceService?.frmelmnts?.lbl?.subject}}:&nbsp;</span><span>{{ courseHierarchy?.se_subjects?.join(', ')}}</span>
    </div> -->
    <div class="mb-4 mat-body-1" *ngIf="courseHierarchy?.audience">
      <span class="color-accent">{{resourceService?.frmelmnts?.lbl?.userType}}:&nbsp;</span><span>{{ courseHierarchy?.audience?.join(',
        ')}}</span>
    </div>
    <div *ngIf="courseHierarchy?.description">
      <h4 class="my-8 color-accent">{{resourceService?.frmelmnts?.lbl?.description}}</h4>
      <p *ngIf="!readMore" class="mb-0 mat-body-1">
        {{ courseHierarchy?.description | slice:0:200 }}&nbsp;
        <span class="ui cardsKnowMore mouse-pointer"
          *ngIf="courseHierarchy?.description?.length > 200 && readMore === false" tabindex="0"
          (click)="readMore = !readMore;">{{resourceService?.frmelmnts?.lbl?.readmore}}</span>
      </p>
      <p *ngIf="readMore" class="mb-0">
        {{ courseHierarchy?.description}}&nbsp;
        <span class="mouse-pointer" tabindex="0"
          (click)="readMore = false;">{{resourceService?.frmelmnts?.lbl?.readless}}</span>
      </p>
    </div>
  </div>
</div>