<div class="m-20">
    <button class="ripple w-16 pill " (click)="Openview('list')">List
        view</button>

    <button class=" ripple w-16 ml-16 pill" (click)="Openview('calender')">Calender</button>
    <hr />
</div>
<!-- <div class="state-medium-container__medium">
    <sb-library-filters [list]="allValues" [layout]="filterLayout.SQUARE" (selectedFilter)="eventtype($event)">
    </sb-library-filters>
</div> -->
<ng-container>
<lib-event 
    [libEventConfig]="libEventConfig">
</lib-event>
<div class="ui container mt-24" *ngIf="tab == 'list'">
    <sb-event-filter (filterChangeEvent)="getFilteredData($event)" 
        *ngIf="filterConfig" 
        [filterConfig]="filterConfig"> </sb-event-filter>
        <div *ngIf="eventList?.length > 0 && eventList != 'undefined'" >
            <sb-event-list 
                [list]="eventList" 
                [myEvents]="myEvents" 
                (eventDetailData)="navToEventDetail($event)">
            </sb-event-list>
        </div>
</div>

<div class="ui container mt-24" *ngIf="tab == 'calender'">
    <sb-event-filter (filterChangeEvent)="getFilteredData($event)" 
        *ngIf="filterConfig" 
        [filterConfig]="filterConfig"> </sb-event-filter>
    <!-- <sb-event-filter *ngIf="filterConfig" [filterConfig]="filterConfig"></sb-event-filter> -->
    <lib-event-calender *ngIf="events" [events]='events'></lib-event-calender>
    <br><br><br>
</div>
</ng-container>
