.joy-theme .multi-select-container .caret-down {
  position: absolute;
  top: 3px !important;
  right: 19px;
  z-index: 0;
}

.joy-theme .list-border {
  border: 0px solid rgba(34,36,38,.15)!important;
  padding: 0.85rem 0.5rem!important;
  border-radius: 0.28571429rem;
  font-size: .785rem!important;
  font-weight: 500!important;
}

.joy-theme .vertical-view .sbt-filter-switcher {
    top: 240px !important;
}

.showDate{
  font-size: 13px !important;
}