@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.sbtoc-container {
  &--detailed {
    box-shadow: 0 calculateRem(4px) calculateRem(7px) 0 rgba(var(--rc-rgba-black), 0.1);
    background: var(--white);
  }
}
.sbchapter-open {
  border-bottom: calculateRem(1px) solid var(--gray-100);
  padding-bottom: 0.5rem;

  &__topics__title {
    margin: 0px 0px calculateRem(8px) 0px;
    padding: 0px calculateRem(16px);
  }

  &__topic {
    padding: calculateRem(8px) calculateRem(32px);
    margin: 0px;
  }

  &__topic:hover {
    background: var(--gray-0);
  }
}
