@import "variables";
@import "mixins/mixins";

.content-header {
  background: var(--gray-0);
  min-height: 80px;

  &__title {
    color: var(--primary-400);
    font-size: calculateRem(18px);
  }

  &__info {
    color: var(--gray-800);
    font-size: calculateRem(14px);
  }

  .dot-divider {
    width: ($base-block-space / 2);
    height: ($base-block-space / 2);
    border-radius: 100%;
    background-color: var(--gray-800);
    display: inline-block;
    margin: 0px $base-block-space;
  }

  @include respond-below(sm) {
    &__buttons {
      margin-top: calculateRem(8px);
    }
  }
}
