.d-inline-block{
    display: inline-block !important;
}
.d-block{
    display: block !important;
}
.d-flex{
    display: flex !important;
}
.d-inline{
    display: inline !important;
}

@media only screen and (max-width: 1100px) {
    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="computer only"]:not(.mobile),
    [class*="large screen only"]:not(.mobile),
    [class*="widescreen only"]:not(.mobile),
    [class*="or lower hidden"] {
      display: none !important;
    }
}
  
@media only screen and (min-width: 1101px) {
    [class*="mobile only"]:not(.computer),
    [class*="tablet only"]:not(.computer),
    [class*="computer hidden"],
    [class*="large screen only"]:not(.computer),
    [class*="widescreen only"]:not(.computer),
    [class*="or lower hidden"]:not(.tablet):not(.mobile) {
      display: none !important;
    }
}