.fs-0-785 {
  font-size: 0.785rem !important;  
}
.fs-0-92 {
  font-size: 0.9286rem !important;  
}
.fs-1 {
  font-size: 1rem !important;  
}
.fs-1-143 {
  font-size: 1.143rem !important;  
}
.fs-1-16 {
  font-size: 1.16rem !important;  
}
.fs-1-286 {
  font-size: 1.286rem !important;
}
.fs-1-3 {
  font-size: 1.3rem !important;
}
.fs-1-429 {
  font-size: 1.429rem !important;
}
.fs-1-5 {
  font-size: 1.5rem !important;
}
.fs-1-7 {
  font-size: 1.7rem !important;
}
.fs-2 {
  font-size: 2rem !important;
}
.fs-2-5 {
  font-size: 2.5rem !important;
} 
.fs-2-57 {
  font-size: 2.571rem !important;
}  
.fs-3 {
  font-size: 3rem !important;
}
.fs-3-5 {
  font-size: 3.5rem !important;
}