<sui-modal [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'normal'" class="sb-modal"
  appBodyScroll (dismissed)="showNormalModal = !showNormalModal" #modal>
  <div class="sb-modal-header">
    Add Chart Summary
  </div>
  <div class="sb-modal-content">
    <div class="sb-field-group">
      <label class="font-weight-normal">Chart Summary</label>
      <div class="sb-field relative">
        <textarea rows="4" name="moretext" class="sb-form-control" placeholder="Add Chart Summary"
          style="resize: none;"></textarea>
      </div>
    </div>
  </div>
  <div class="sb-modal-actions">
    <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="closeModal()">
      Submit
    </button>
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="closeModal()">
      Reset
    </button>
  </div>
</sui-modal>