<lib-event
    [libEventConfig]="libEventConfig">
</lib-event>
<div class="sbt-fluid-content-bg">
    <div class="sb-g sbt-container sbt-page-content relative9">
      <div class="relative9 sb-g-col-xs-12 sb-g-col-md-3 sb-g-col-lg-3 sb-g-col-xxxl-4">
        <app-workspacesidebar ></app-workspacesidebar>
      </div>
      <div class="w-100 sb-g-col-xs-12 sb-g-col-md-9 sb-g-col-lg-9 sb-g-col-xxxl-12" >
        <sb-event-filter (filterChangeEvent)="getFilteredData($event)"
        *ngIf="filterConfig"
        [filterConfig]="filterConfig"> </sb-event-filter>
        <!-- <sb-event-filter *ngIf="filterConfig" [filterConfig]="filterConfig"></sb-event-filter> -->
        <div *ngIf="eventList?.length > 0 && eventList != 'undefined'" >
          <sb-event-list
              [list]="eventList"
              [layoutConfig]="layoutConfiguration"
              (eventDetailData)="navToEventDetail($event)">
          </sb-event-list>
        </div>

             <div class="sb-g-col-xs-12 sb-g-col-md-0 sb-g-col-lg-12 sb-g-col-xxxl-12" *ngIf="EventListCount === 0">
        <div class="no-content-container d-flex flex-jc-center relative9">
          <div class="my-48 p-16 w-100">
            <div class="d-flex flex-dc flex-jc-center flex-ai-center text-center">
              <div>
                <img alt="{{title}}" src="./assets/images/group.svg" width="90px" height="90px">
              </div>
              <div tabindex="0" class="fmedium board-title pt-24 font-weight-bold">No Events Found</div>
              <!-- <p class="fs-0-92 mt-8 text-center board-text"></p> -->
              <div tabindex="0" *ngIf="showExploreContentButton && subTitle" class="fs-0-785 sub-title py-24">{{subTitle | interpolate:'{instance}': instance}}</div>
              <button tabindex="0" appTelemetryInteract [telemetryInteractEdata]="exploreMoreContentEdata" *ngIf="showExploreContentButton" type="button" id="browse" class="sb-btn sb-btn-primary sb-btn-normal mb-8" (click)="handleEvent()">
                Explore more content
              </button>
            </div>
          </div>
        </div>
      </div>
       </div>

    </div>
    <app-browser-compatibility [showModal]="true"></app-browser-compatibility>
  </div>
