@import "variables";
@import "mixins/mixins";
@import 'components/metadata';

.sb-table .sb-table-body td {
    padding: calculateRem(16px) calculateRem(24px);
    text-align: center;
    &:first-child {
        text-align: left;
    }
}

// ::ng-deep {
//     .ui.styled.accordion.sb-accordion .active.title {
//         i.icon {
//             transform: rotate(180deg);
//             -webkit-transform: rotate(180deg);
//         }
//     }

// }


//Chapterlist Accordion Section
.chapter-lists {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;


  &--item {
    border-bottom:calculateRem(1px) solid var(--gray-100);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding:calculateRem(8px) calculateRem(16px) calculateRem(8px) calculateRem(40px);
    border-radius: 0;
    font-size: $font-size-sm;

    &:last-child {
      border-bottom: 0px;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--primary-0);
    }
  }

  .item-name {
    margin-right: auto;
  }

}

.sb-chapterlist .ui.accordion {
  background: transparent;
}


.template-items {
  .selected-icon {
    display: none;
  }

  &.active {
    border: calculateRem(3px) solid var(--primary-color);

    .selected-icon {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: var(--white);
      border-radius: 50%;
      height: calculateRem(18px);
      width: calculateRem(18px);

      i.icon {
        color: var(--primary-color);
        font-size: calculateRem(24px);
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

      }
    }
  }
}

.sb-cbse-homepage-container {
  .chapter-dotted-menu {
    padding-bottom: calculateRem(6px);
  }

  i.circle.icon {
    height: auto;
  }

}

// Chapterlist Modal
.sb-chapterlist-modal {

  .chapter-lists--item {
    padding: 0;
    .sb-radio-btn-checkbox {
      label {
        padding: calculateRem(16px) calculateRem(16px) calculateRem(16px) calculateRem(40px);
      }
    }
  }

}


//Common contribution card section
.common-contribution-card {
  box-sizing: border-box;
  border: calculateRem(0.5px) solid rgba(var(--rc-rgba-7b86f4), 0.39);
  border-radius: calculateRem(4px);
  background-color: var(--white);
  box-shadow: none;

  .content {
    img {
      width: calculateRem(64px);
      height: calculateRem(64px);
    }

    .content-title {
      font-size: $font-size-sm;
      color: var(--gray);
      vertical-align: middle;
      line-height: calculateRem(16px);
    }

    .icon {
      display: none;
      height: calculateRem(18px);
      position: absolute;
      right: calculateRem(8px);
      top: calculateRem(8px);
      margin: 0;
      width: calculateRem(18px);
      font-size: calculateRem(18px);
      color: var(--secondary-200);
    }

    &:hover {
      .icon {
        display: block;
      }
    }
  }

  &:hover {
    cursor: pointer;
    z-index: 5;
    background: var(--white);
    transform: translateY(-3px);
    box-shadow: 0 calculateRem(2px) calculateRem(8px) 0 rgba(var(--rc-rgba-7b86f4), 0.31);
    border: calculateRem(0.5px) solid rgba(var(--rc-rgba-d0d0d0), 0.48);
  }
}

.ui.error.reject {
  background-color: var(--rc-F5F9FC);
  color: var(--gray);
  border: calculateRem(1px) dashed var(--primary-200);
  box-shadow: none !important;

  li {
    font-size: $font-size-sm;
    line-height: calculateRem(20px);
  }
}

//Meta Data
.sb-meta-data-container.sb-meta-data-column {
  width: calculateRem(330px);

  .sb-meta-data {
    padding-right: calculateRem(24px);
    flex-basis: auto;
    margin: 0;
  
    &:last-child {
      padding-right: 0;
    }
  
    dt {
      font-size: calculateRem(20px);
      color: var(--gray-800);
      // margin-bottom: $base-block-space;
    }
  
    &.active {
  
      dt,
      dd {
        color: var(--secondary-200);
      }
    }
  
    dd {
      font-size: calculateRem(10px);
    }
  }
}

.chapterlist-header {
  height: calculateRem(120px);

  &__image {
    width: calculateRem(64px);
    height: calculateRem(64px);

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.dot-separator {
  margin: 0 calculateRem(8px);
  background: var(--gray-200);
  height: calculateRem(5px);
  width: calculateRem(5px);
  border-radius: 50%;
}

.sb-textbook-allchapters {
  min-width: calculateRem(240px);
}