<link rel="stylesheet" href="/css/courseDashboard.css" type="text/css"/>
<div class="dash-heading-border" ng-if="enrolledCourses.length > 0">
    <h2 style="margin-top: 11px; margin-bottom: 5px">your progress</h2>
</div>
<div class="block-border-bottom marginBottom10" style="padding: 2px 2px 8px" ng-repeat="course in enrolledCourses">
    <div class="overflow-auto">
        <div style="display: inline-block;" class="col-md-12 noPad">
            <div class="currentcourse-block-desc col-md-10 noPad">
                <h3 class="course-intro-big"><span class="course-intro-small" ng-click="showCoursePage(course.nodeId || course.course_id)">{{course.name}}</span></h3>
            </div>
        </div>
        <div class="col-md-12 noPad">
            <div class="live-tile badge-tile" data-direction="horizontal" >
                <div class="course-box">
                    <div class="mask">
                        <span class="dashboardBadgeText">{{course.currentProgress}}%</span>
                        <div style="text-align: center">Progress</div>
                    </div>
                </div>
            </div>  
            <div class="live-tile badge-tile" data-direction="horizontal" ng-if="course.studentGrade">
                <div class="course-box">
                    <div class="mask" ng-class="{greenBadge: course.studentGrade > 80, orangeBadge: course.studentGrade > 60, redBadge: course.studentGrade <= 60}">
                        <span class="dashboardBadgeText">
                            <span ng-if="course.studentGrade > 90" style="text-align: center">A</span>
                            <span ng-if="course.studentGrade > 80 && course.studentGrade <= 90" style="text-align: center">B</span>
                            <span ng-if="course.studentGrade > 70 && course.studentGrade <= 80" style="text-align: center">C</span>
                            <span ng-if="course.studentGrade > 60 && course.studentGrade <= 70" style="text-align: center">D</span>
                            <span ng-if="course.studentGrade >= 50 && course.studentGrade <= 60" style="text-align: center">E</span>
                            <span ng-if="course.studentGrade < 50" style="text-align: center">F</span>
                        </span>
                        <div style="text-align: center">Grade</div>
                    </div>
                </div>
            </div> 
            <div class="live-tile badge-tile" ng-if="!course.studentGrade">
                <div class="course-box">
                    <div class="mask disabledBadge">
                        <span class="dashboardBadgeText">N/A</span>
                        <div style="text-align: center">Grade</div>
                    </div>
                </div>
            </div>
            <div class="live-tile badge-tile">
                <div class="course-box">
                    <div class="mask" ng-class="{greenBadge: course.completeCount >= (course.expectedCount - 5), orangeBadge: course.completeCount >= (course.expectedCount - 15), redBadge: course.completeCount < (course.expectedCount - 15)}">
                        <span class="dashboardBadgeText">{{course.completeCount}}</span>
                        <div style="text-align: center">Completion</div>
                    </div>
                </div>
            </div>
            <div class="live-tile badge-tile">
                <div class="course-box">
                    <div class="mask greenBadge">
                        <span class="dashboardBadgeText">{{course.expectedCount}}</span>
                        <div style="text-align: center">Target</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 noPad">
            <div class="dashboardLinks">
                <span class="marRight15" style="font-size: 14px;">
                    View : 
                    <span>
                        <a href="javascript:void(0)" ng-click="showStudentSummary(course.nodeId || course.course_id)">Activity</a>&nbsp;&nbsp;|&nbsp;
                    </span>
                    <span ng-if="course.studentGrade" >
                        <a href="javascript:void(0)" ng-click="showGradebook(course.course_id)" style="color: #428bca">Gradebook</a>&nbsp;&nbsp;|&nbsp;
                    </span>
                    <a href="javascript:void(0)" ng-click="showCoursePeople(course.nodeId || course.course_id)" style="color: #428bca">Community</a>
                </span>
                <span class="" ng-if="course.currentElement && course.currentElement.name" style="font-size: 14px;">
                    You are at: <span class="course-intro-small" ng-click="showCoursePage(course.nodeId || course.course_id)">{{course.currentElement.name}}</span>
                </span>
                
            </div>
        </div>
    </div>
</div>
