<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
  	<meta name="apple-touch-fullscreen" content="yes">
  	<meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.png">
	<title>SunBird</title>

	<script type="text/javascript" src="https://fast.fonts.net/jsapi/6bb78b32-9b12-4a14-9179-8de98470e4b1.js"></script>


    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css" type="text/css">
    <link rel="stylesheet" href="/css/custom.css" type="text/css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/font-style.css" type="text/css">

	<link rel="stylesheet" href="/css/MetroJs.lt.css" type="text/css"/>
	<link rel="stylesheet" href="/css/rs-carousel-min.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/sidetogglemenu.css">
	<link rel="stylesheet" media="screen" href="/css/horizontal-slide.css">
	<link rel="stylesheet" href="/css/leftNavigation.css">
	<link rel="stylesheet" href="/css/notebook.css">

	

	<!-- <link type="text/css" href="/jit/css/base.css" rel="stylesheet" />
	<link type="text/css" href="/jit/css/Hypertree.css" rel="stylesheet" /> -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="courseBrowserBody" class="module-body" ng-controller="NotesBrowserCtrl" ng-cloak class="ng-cloak">
<div class="wrapper">
<% include ../includes/header %>
<section>
	<section class="sub_section"></section>
	<div class="container">
	<div class="row">
		<div id="tocColumn" class="col-md-3 left-column-ct no-pad-right browserLeftColumn">
			<div id="tocFloatMenu">
				<div id="leftBarHeader" class="il-leftnav">
				  	<div class="il-leftnavbar">
				  		<ul class="ul-style">
				    		<li>
				    			<a class="tab_heading pull-left active" href="javascript:void(0)">
				        			<h3>Notebook</h3>
				    			</a>
				    		</li>
				   		</ul>
				  	</div>
				</div>
				<div style="border: 1px solid #ddd; border-right: 0px;">
					<div id="tocParentDiv" class="parent_name" ng-show="currentItem.parent && currentItem.parent.id">
						<a href="javascript:void(0)" ng-click="scrollSlide(currentItem.parent.level)">
							<span ng-switch on="currentItem.parent.type">
								<span class="glyph24 icon icon-course" ng-switch-when="course"></span>
								<span class="glyph24 icon icon-moduel" ng-switch-when="module"></span>
								<span class="glyph24 icon icon-lessons" ng-switch-when="lesson"></span>
							</span>&nbsp;{{currentItem.parent.name}}
						</a>
					</div>
					<div class="jcarousel tocCarousel">
						<ul class="ul-style">
							<li id="carousel0" class="il-left-content">
								<div ng-repeat="lob in courses">
									<div ng-include="'toc_template.html'"></div>
								</div>
								<div class="unit">
									<div class="row" style="margin-left: 0px; margin-right: 0px;">
									<a href="#/notes" onclick="select(this)" ng-click="selectElement('0')" >
										<span class="pull-left padRight">
											<span class="glyph24 icon icon-take-note"></span>
										</span>
										<span class="marginLeft5">Other Notes</span>
									</a>
									</div>
								</div>
							</li>
							<li id="carousel1" class="il-left-content">
								<div ng-repeat="lob in modules">
									<div ng-include="'toc_template.html'"></div>
								</div>
							</li>
							<li id="carousel2" class="il-left-content">
								<div ng-repeat="lob in lessons">
									<div ng-include="'toc_template.html'"></div>
								</div>
							</li>
							<li id="carousel3" class="il-left-content">
								<div ng-repeat="lob in lectures">
									<div ng-include="'toc_template.html'"></div>
								</div>
							</li>
						</ul>
					</div>
					<div id="paginationBtns" class="jcarousel-pagination tocPagination">
						<a id="slide0" href="javascript:void(0)" ng-click="showLevel0 ? scrollSlide(0) : void(0)" ng-class="{'disabled' : !showLevel0}"></a>&emsp;
						<a id="slide1" href="javascript:void(0)" ng-click="showLevel1 ? scrollSlide(1) : void(0)" ng-class="{'disabled' : !showLevel1}"></a>&emsp;
						<a id="slide2" href="javascript:void(0)" ng-click="showLevel2 ? scrollSlide(2) : void(0)" ng-class="{'disabled' : !showLevel2}"></a>&emsp;
						<a id="slide3" href="javascript:void(0)" ng-click="showLevel3 ? scrollSlide(3) : void(0)" ng-class="{'disabled' : !showLevel3}"></a>
					</div>
				</div>
			</div>
		</div>
		<div id="mainContentColumn" class="col-md-9 intro-container right-column-ct browserMainColumn" ng-view ng-cloak></div>
		</div>
	</div>
</section>
</div>


<div class="modal fade" id="enoteAuthModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Evernote Access</h4>
      </div>
      <div class="modal-body">
      <p>This is a one time configuration. After this setup, all your ilimi notes will be saved to your Evernote account notebook <em>ilimi_notebook</em>. Also, notes created in the Evernote notebook can be synced with ilimi.</p>
	  <p>This is an optional setup, as ilimi notes are not dependent on Evernote.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onClick="location.href='/private/v1/everNote/oauth'">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.jcarousel.min.js"></script>
<script src="/js/d3.min.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/controllers/notesController.js"></script>
<script src="/js/controllers/loginController.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/student-custom.js"></script>
<script src="/js/playerCustom.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap.file-input.js"></script>
<script src="/js/MetroJs.lt.min.js"></script>
<script src="/js/sidetogglemenu.js"></script>
<script src="/js/toggleMenu.js"></script>
<script src="/js/URI.min.js"></script>
<!-- <script src="/jit/js/jit.js"></script>
<script src="/jit/js/hypertree.js"></script> -->
<script src="/js/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="/js/jquery.watermarkinput.js"></script>
<script src="/js/textAngular-sanitize.min.js"></script>
<script src="/js/textAngular.min.js"></script>

<footer id="pageFooter">
    <% include ../includes/footer %>
</footer>

<script>

$(function() {
	adjustTOCWidth();
	adjustTOCHeight();
    $('.tocCarousel').jcarousel();

    var floatMenuTop = $('#tocFloatMenu').offset().top;
    $(window).scroll(function(){
    	var scrollTop = $(window).scrollTop();
    	var windowHeight = $(window).height();

    	var h2 = $('#tocParentDiv').height();
		var h3 = $('#paginationBtns').height();
		var h4 = $('#leftBarHeader').height();
    	var footerTop = $('#pageFooter').offset().top;
    	var pos = scrollTop + windowHeight;
    	if (pos > footerTop && scrollTop > floatMenuTop) {
    		$('#tocFloatMenu').css({position: 'fixed', top: 'auto', bottom: pos-footerTop});
    		$('.tocCarousel').height(windowHeight-h2-h3-h4-60);
    	} else {
    		if( scrollTop > floatMenuTop ) {
	            $('#tocFloatMenu').css({position: 'fixed', top: '0'});
	            $('.tocCarousel').height(windowHeight-h2-h3-h4-60);
	        } else {
				$('#tocFloatMenu').css({position: 'relative', top: '0', bottom: 'auto'});
				adjustTOCHeight();
	        }
    	}
    });
});

function setMainColMinHeight() {
	var windowHeight = $(window).height();
	$('#mainContentColumn').css({minHeight: windowHeight});
}

function adjustTOCWidth() {
	var w = $('#tocColumn').width();
	$('#tocFloatMenu').width(w);
}

function adjustTOCHeight() {
	var h = $( window ).height();
	var w = $( window ).width();
	var h1 = $('header').height();
	var h2 = $('#tocParentDiv').height();
	var h3 = $('#paginationBtns').height();
	var h4 = $('#leftBarHeader').height();
	$('.tocCarousel li').width(w/4);
	var removeHeight = h1+h2+h3+h4+60;
	$('.tocCarousel').height(h-removeHeight);
	$('.tocCarousel').css('overflow-y', 'scroll');
}

$(window).resize(function() {
	adjustTOCWidth();
	adjustTOCHeight();
	setMainColMinHeight();
});

function select(athis) {
	$('.unit').removeClass('unitActive');
	$('.unit a').removeClass('unitActive');
	$(athis).addClass('unitActive');
	$(athis).parent().parent().addClass('unitActive');
}

$("#tocFloatMenu").hover(function() {
	var val = $('body').css("overflow");
	if(val == "visible") {
		$('body').css("overflow","hidden");
	} else {
		$('body').css("overflow","visible");
	}
});

</script>

<script type="text/ng-template"  id="toc_template.html">
	<div class="unit {{lob.id == currentItem.id ? 'unitActive' : ''}} {{lob.id == tocParentId ? 'unitParent' : ''}}" ng-show="lob.level == 0 || (lob.level == 1 && lob.parentId == selectedCourse) || (lob.level == 2 && (lob.parentId == selectedModule || (lob.courseId == selectedCourse && currentItem.level == 0))) || (lob.level == 3 && (lob.parentId == selectedLesson || (lob.courseId == selectedCourse && currentItem.level == 0) || (lob.moduleId == selectedModule && currentItem.level == 1)))">
		<div class="row" style="margin-left: 0px; margin-right: 0px; width: 88%;">
		<a href="#/notes/{{lob.courseId}}/{{lob.id}}/{{lob.type}}/{{lob.parentId}}" onclick="select(this)" ng-click="selectElement(lob.id)" class="{{lob.id == currentItem.id ? 'unitActive' : ''}}">
			<span ng-include="'level0_icons_template.html'" class="pull-left padRight"></span>
			<span class="marginLeft5">{{lob.name}}</span>
		</a>
		</div>
	</div>
</script>

<script type="text/ng-template"  id="level0_icons_template.html">
	<span ng-switch on="lob.type">
		<span class="glyph24 icon icon-course" ng-switch-when="course"></span>
		<span class="glyph24 icon icon-moduel" ng-switch-when="module"></span>
		<span class="glyph24 icon icon-lessons" ng-switch-when="lesson"></span>
		<span class="glyph24 icon icon-Assignment" ng-switch-when="learningactivity"></span>
		<span class="glyph24 icon icon-ref-material" ng-switch-default></span>
	</span>
</script>
</html>
