<div class="List_view" ng-if="!isDetailView">
    <div class=" askquestionHeader">
        <div class="headerAsk col-md-12 noPad">
            <h2 class="pull-left marRight15">My Notes
                <a href="javascript:void(0);" id="notePageCreateNoteBtn" class="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add Notes" ng-click="addNewNote()"><i class="writeBlackOne createNote fa fa-edit"></i></a>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Sync Evernote" ng-click="showEverNote();"><i class="writeBlackOne evernote evernote-icon fa"></i></a>
                <span class="dropdown" style="margin-left:-10px">
                    <a href="javascript:void(0);" title="Sort" class="dropdown-toggle" aria-expanded="false"> 
                        <i class="writeBlackOne fa fa-sort-amount-asc tooltip-class" data-toggle="tooltip" data-placement="bottom" title="Sort"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="sortMenuItem" ng-class="{'active' : (sortFilter == 'updatedOn')}">
                            <a href="javascript:void(0);" ng-click="sortNotes('updatedOn')"><span class="ilauthr tooltip-class">Last Updated</span></a>
                        </li>
                        <li class="sortMenuItem" ng-class="{'active' : (sortFilter == 'title')}">
                            <a href="javascript:void(0);" ng-click="sortNotes('title')"><span class="ilauthr tooltip-class">Title</span></a>
                        </li>
                        <li class="sortMenuItem" ng-class="{'active' : (sortFilter == 'location')}">
                            <a href="javascript:void(0);" ng-click="sortNotes('location')"><span class="ilauthr tooltip-class">Lecture</span></a>
                        </li>
                    </ul>
                </span>  
            </h2>
            <a data-original-title="Advanced Search" title="" data-placement="bottom" data-toggle="tooltip" class="pull-right marginTop20" href="javascript:void(0);" ng-click="searchNoteForm();">
                <i class="searchNote advancedSearchIcon fa fa-toggle-down"></i>
            </a>
            <input type="search" ng-model="search.searchtext" class="pull-right marginTop20 form-control" style="width: 45%" placeHolder="Enter search text..." ng-enter="getSearchNotes()" />
        </div>

        <div id="noteSearchForm" class="col-md-12 noPad marginTop20" style="display:none;">
            <div class="col-md-6 noPad searchFormLeftDiv">
                <div class="form-group col-md-12 noPad">
                    <input type="text" class="form-control" ng-model="search.fromDate" placeholder="Created note after" datepicker-popup="dd/MM/yyyy" is-open="datepicker.fromOpened" ng-click="open($event, 'from')" ng-keydown="disableKeyDown($event)" ng-keypress="disableKeyDown($event)" datepicker-options="datepicker.dateOptions" />
                </div>
            </div>

            <div class="col-md-6 noPad searchFormRightDiv">
                <div class="form-group col-md-12 noPad">
                    <select ng-model="search.context" ng-options="lecture.label for lecture in  allLectures" id="lectureSelect" style="width: 100%;">
                        </select>
                </div>
                <div class="form-group col-md-12 noPad">
                    <button class="btn btn-large btn-default searchFormButton" id="searchInteractions" id="searchNoteBtn" ng-click="getSearchNotes();">Search</button>
                </div>
            </div>
        </div>

        <div class="textEditor AskQEdit noPad col-md-12 marginTop20" style="display:none;">
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Add title" ng-model="newNote.title">
            </div>
            <textarea ng-il-pagedown preview="false" placeholder="Write your notes ..." style="width: 100%; min-height: 100px;" ng-model="newNote.description"></textarea>
            <div class="save_text">
                <div class="save_btn">
                    <button class="btn btn-default" ng-click="clearNewNote()">Clear</button>
                    <button class="marginLeft10 btn btn-primary" ng-click="createNote()">Save</button>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="evernote-btns noPad col-md-12 marginTop20" style="display:none;">
            <div class="filter-tabs">
                <div class="block-border-bottom" ng-show="!evernoteAccess">
                    <p ng-show="!authorised">You have not provided Evernote access.</p>
                    <input type=button class="btn btn-success" onClick="location.href='/private/v1/everNote/oauth?enote=auth'" value='Provide Evernote Access' ng-show="!authorised">
                    <p ng-show="authorised && lastAccessedDate">You have provided Evernote access on {{lastAccessedDate | date:'dd-MM-yyyy h:mm:ss a'}}</p>
                    <p ng-show="lastSyncedDate"> Last Evernote Sync Date : {{lastSyncedDate | date:'dd-MM-yyyy h:mm:ss a'}}</p>
                    <input type=button class="btn btn-success" onClick="location.href='/private/v1/everNote/oauth?enote=revoke'" value='Revoke Evernote Auth' ng-show="authorised">
                    <input type=button class="btn btn-success" onClick="location.href='/private/v1/evernote/syncNotes'" value='Sync Evernote' ng-show="authorised">
                </div>
            </div>
        </div>

        <div class="text-center" ng-show="loadingNotes" style="margin-top: 50px">
            Loading <img src="/img/loading.gif"/>
        </div>

        <div ng-hide="loadingNotes" class="col-md-12 noPad marginTop10">
            <div class="" ng-show="!notesList || notesList.length == 0">
                <div class="alert alert-info fade in " role="alert">
                    <p>There are no notes, <a ng-click="addNewNote()" href="javascript:void(0)">would you like to take a note?</a></p>
                </div>
            </div>

            <div class="" ng-show="notesList && notesList.length > 0">
                <div class="QACol" ng-repeat="note in notesList">
                    <div class="row">
                        <div class="col-md-12 QAcontent">
                            <h5><a href="javascript:void(0);" class="ac-links il-Link-clr" ng-click="showNoteFullView(note)">{{note.title}}</a>
                            <a href="javascript:void(0)" class="marginLeft5" ng-click="confirmDeleteNote(note)">
                                <i class="glyph12 icon icon-delete-round" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete note"></i>
                            </a>
                            </h5>
                            <div class="detailsQuestion">
                                <ul>
                                    <li>
                                        <span data-livestamp="{{note.updatedOn}}"></span>
                                    </li>
                                    <li class="list-dash">|</li>
                                    <li>
                                        <span>In :</span>
                                        <a href="javascript:void(0);" ng-click="goToLob(note)" ng-show="!note.location.lecture">{{note.location.course}}</a>
                                        <a href="javascript:void(0);" ng-click="goToLob(note)" ng-show="note.location.lecture">{{note.location.lecture}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <p class="ac-contents viewCtn">
                                <span ng-show="note.content" ng-bind-html="renderHtmlTrim(note.content, 250)">
                            </p>
                        </div>
                    </div>
                    <hr/>
                </div>
                <a href="javascript:void(0)" class="col-md-12 text-center show-more" ng-if="hasMore" ng-click="getNotesList('showMore');">
                    <span ng-if="!showMoreLoading">Show More</span>
                    <span ng-if="showMoreLoading">Loading <img src="/img/loading.gif"/></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="noteDeleteModal">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content" style="margin-top: 25%">
            <div class="alert fade in" role="alert" style="margin-bottom: 0px">
                <h4>Warning!!</h4>
                <p>Are you sure you want to delete the note - {{noteToDelete.title}}?</p>
                <div class="modalActionContainer">
                    <p style="padding-top: 10px; display: inline-block;" class="pull-right">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" data-dismiss="modal" ng-click="deleteNote()" class="btn btn-sm btn-primary marginLeft10">Delete</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

