<sui-accordion class="styled fluid sb-accordion ui accordion sb-new-theme-accordion">
  <sui-accordion-panel [isOpen]="false">
    <div title class="sb-accordion-title fsmall d-flex flex-ai-center flex-jc-space-between">
      <span>Data Setting</span>
      <i class="chevron down icon"></i>
    </div>
    <div content class="sb-accordion-content sb-bg-color-white pt-0 pb-16">
      <label class="fnormal font-weight-normal">DATA SHARING IS <span >{{ consentPii ? 'ON' : 'OFF' }}</span></label>
      <p class="fsmall mb-0">You have agreed to share your profile information with the administrator of this course.</p>
      <label class="fsmall font-weight-normal data-labels">last updated on DD/MM/YY</label>
      <div class="d-flex flex-ai-end flex-jc-flex-end">
          <button class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary font-weight-bold" (click)="toggleEditSetting()">
            {{ editSetting ? 'Close' : 'Edit Settings' }}
          </button>
      </div>
      <div *ngIf="editSetting" class="sb-update-data-settings">
        <hr>
        <label class="fsmall mb-0 font-weight-bold data-labels">Update settings</label>
        <div class="d-flex py-8 flex-w-wrap">
          <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
            <input [value]="Yes" name="consentPii" type="radio" [(ngModel)]="consentPii">
            <label for="yes" class="fsmall">Share my Profile Information</label>
          </div>
          <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
            <input [value]="No"  name="consentPii" type="radio" [(ngModel)]="consentPii">
            <label for="no" class="fsmall">Do not share my Profile Information</label>
          </div>
        </div>
        <button class="sb-btn sb-btn-normal sb-btn-outline-primary w-100" (click)="showConsentPopup = true">SAVE CHANGES</button>
      </div>
      
    </div>
  </sui-accordion-panel>
</sui-accordion>

<sui-modal [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'normal'" class="sb-modal sb-modal-profile-details"
  appBodyScroll *ngIf="showConsentPopup" (dismissed)="showConsentPopup = false;">
  <!--Header-->
  <div class="sb-modal-header">
    Profile Information
  </div>
  <!--/Header-->
  <!--Content-->
  <div class="sb-modal-content d-flex flex-dc o-y-visible">
    <label class="mb-16 fnormal font-weight-normal">Name : {{userInformations.name || '-'}}</label>
    <label class="mb-16 fnormal font-weight-normal">State : {{userInformations.state || '-'}}</label>
    <label class="mb-16 fnormal font-weight-normal">User ID : {{userInformations.userid || '-'}}</label>
    <label class="mb-16 fnormal font-weight-normal">District : {{userInformations.district || '-'}}</label>
    <label class="mb-16 fnormal font-weight-normal">Block : {{userInformations.block || '-'}}</label>
    <label class="mb-16 fnormal font-weight-normal">School ID : {{userInformations.schoolId || '-'}}</label>
    <label class="mb-16 fnormal font-weight-normal">School Name : {{userInformations.schoolName || '-'}}</label>
    <label class="mb-16 fnormal font-weight-normal">Mobile Number : {{userInformations.phone || '-'}}</label>
    <label class="mb-24 fnormal font-weight-normal">Email ID : {{userInformations.emailId || '-'}}</label>
    <div class="mb-16 fnormal font-weight-normal">
      <img src="../../../../../../assets/images/info-icon.svg" width="14px" height="14px" class="mr-8">
      You can edit these details from your profile page</div>
    <p class="mb-0fnormal font-weight-normal">
      <input type="checkbox" [(ngModel)]="consentPii"  name="" id="" class="mr-8"> 
      I agree to share my profile details with the course administrator in accordance with the 
       <span class="sb-color-primary">Terms of Use</span>
    </p>
  </div>
  <!--/Content-->
  <!--Actions-->
  <div class="sb-modal-actions">
    <button type="button" class="sb-btn sb-btn-normal sb-btn-primary" (click)="saveConsent()">
      I Dont Agree
    </button>
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary " (click)="showConsentPopup = false">
      Yes I Agree
    </button>
  </div>
  <!--/Actions-->
</sui-modal>