.chart-title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem !important;
    padding-top: 0.5rem;
  }

.export-btn {
    position: absolute;
    top: 4.5rem;
    right: 1rem;
}
