 <div class="twelve wide column padding-top-none ">
    <a class="ui cursor-pointer " sb-permissions permission-only="SYSTEM_ADMINISTRATION,ORG_ADMIN" ng-click="admin.orgBulkUpload()">
        {{$root.frmelmnts.instn.t0015}}
        </a>
  </div>
  <div class="twelve wide column padding-top-none ">
    <a class="ui  cursor-pointer" sb-permissions permission-only="SYSTEM_ADMINISTRATION,ORG_ADMIN" ng-click="admin.userBulkUpload()">
            {{$root.frmelmnts.instn.t0016}}
        </a>
  </div>
  <div class="twelve wide column padding-top-none ">
    <a class="ui cursor-pointer " sb-permissions permission-only="SYSTEM_ADMINISTRATION,ORG_ADMIN" ng-click=" admin.statusBulkUpload()">
          {{$root.frmelmnts.lbl.chkuploadsts}}
        </a>
  </div>
