<div class="ui large modal" id="userBulkUpload" sb-permissions permission-only="SYSTEM_ADMINISTRATION,ORG_ADMIN" ng-if="admin.showUploadUserModal">
    <div class="header">
        <div class="ui grid">
            <div class="eleven wide column">
                <span class="ui header">{{$root.frmelmnts.instn.t0016}}</span>
            </div>
            <div class="one wide column actions">
                <h5 class="ui basic icon circular button deny" ng-click="$root.generateInteractEvent('profile','','closeUploadUser','1.0','closeUploadUser','profile-upload-users')">
                    <i class="ui remove icon"></i>
                </h5>
            </div>
        </div>
    </div>
    <div class="content">
        <div ng-if="admin.loader.showLoader">
            <app-loader data="{{admin.loader}}"></app-loader>
        </div>
        <form class="ui form" id="bulkUsers" ng-if="!admin.loader.showLoader && !admin.bulkUsersProcessId">
            <div class="ui grid" ng-if="!admin.bulkUsersProcessId">
                <div class="six wide column">
                    <div class="required field">
                        <label>{{$root.frmelmnts.lbl.provider}}</label>
                        <input type="text" placeholder="Provider" ng-model="admin.bulkUsers.provider">
                    </div>
                </div>
                <div class="six wide column">
                    <div class="required field">
                        <label>{{$root.frmelmnts.lbl.extlid}}</label>
                        <input type="text" placeholder="External Id" ng-model="admin.bulkUsers.externalid">
                    </div>
                </div>
            </div>
            <div class="ui horizontal divider margin-top-40" ng-if="!admin.bulkUsersProcessId">
                Or
            </div>
            <div class="ui grid" ng-if="!admin.bulkUsersProcessId">
                <div class="six wide column">
                    <div class="one field">
                        <div class=" required field">
                            <label>{{$root.frmelmnts.lbl.orgid}}</label>
                            <input type="text" placeholder="OrgId" ng-model="admin.bulkUsers.OrgId">
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <div class="ui negative message" ng-if="admin.bulkUploadError">
            <i class="close icon" ng-click="admin.closeBulkUploadError()"></i>
            <p>{{admin.bulkUploadErrorMessage}}</p>
        </div>
        <h5 ng-if="admin.fileName"><i class="file outline icon"></i>{{$root.frmelmnts.lbl.upldfile}}: {{admin.fileName}}</h5>
        <!-- show progress -->
        <div ng-if="admin.bulkUsersProcessId">
            <h5>{{$root.frmelmnts.lbl.processid}}: {{admin.bulkUsersProcessId}}</h5>
            <p>{{$root.frmelmnts.instn.t0012}}</p>
        </div>
        <div class="ui horizontal divider margin-top-40" ng-if="!admin.loader.showLoader && !admin.bulkUsersProcessId">

        </div>
        <div class="ui info message" ng-if="!admin.loader.showLoader && !admin.bulkUsersProcessId">
            <!-- <i class="close icon"></i> -->
            <div class="header">
                {{$root.frmelmnts.scttl.instructions}}
            </div>
            <ol class="ui list">
                <li>{{$root.frmelmnts.instn.t0013}}</li>
                <li>{{$root.frmelmnts.instn.t0001}}</li>
                <li>{{$root.frmelmnts.instn.t00102}}</li>
                <li>{{$root.frmelmnts.instn.t00103}}</li>
<!--                 <li>{{$root.frmelmnts.instn.t0033}}
                    <ol>
                        <li>{{$root.frmelmnts.instn.t0034}}</li>
                        <li>{{$root.frmelmnts.instn.t0035}}</li>
                        <li>{{$root.frmelmnts.instn.t0036}}</li>
                        <li>{{$root.frmelmnts.instn.t0037}}</li>
                    </ol>
                </li>
                <li>{{$root.frmelmnts.instn.t0038}}
                    <ol>
                        <li>{{$root.frmelmnts.instn.t0039}}</li>
                        <li>{{$root.frmelmnts.instn.t0040}}</li>
                        <li>{{$root.frmelmnts.instn.t0041}}</li>
                        <li>{{$root.frmelmnts.instn.t0042}}</li>
                        <li>{{$root.frmelmnts.instn.t0043}}</li>
                        <li>{{$root.frmelmnts.instn.t0044}}</li>
                        <li>{{$root.frmelmnts.instn.t0045}}</li>
                        <li>{{$root.frmelmnts.instn.t0046}}</li>
                        <li>{{$root.frmelmnts.instn.t0047}}</li>
                        <li>{{$root.frmelmnts.instn.t0048}}</li>

                    </ol>
                </li> -->
            </ol>
            <table class="ui celled padded table">
                <thead>
                    <tr>
                    <th>{{$root.frmelmnts.instn.t0064}}</th>
                    <th>{{$root.frmelmnts.instn.t0065}}</th>
                    <th>{{$root.frmelmnts.instn.t0066}}</th>
                    <th>{{$root.frmelmnts.instn.t0067}}</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    {{$root.frmelmnts.instn.t00104}}
                  </td>
                  <td>
                    {{$root.frmelmnts.instn.t00105}}
                  </td>
                  <td>
                    {{$root.frmelmnts.instn.t00106}}
                  </td>
                  <td>
                    Mandatory
                  </td>
                </tr>
                <tr>
                  <td>
                    {{$root.frmelmnts.instn.t00107}}
                  </td>
                  <td>
                    {{$root.frmelmnts.instn.t00108}}
                  </td>
                  <td >
                    Alphabetic Value
                  </td>
                  <td>
                    Optional
                  </td>
                </tr>
                <tr>
                  <td>
                    phone
                  </td>
                  <td>
                    User’s phone number
                  </td>
                  <td>
                    Ten digit mobile number
                  </td>
                  <td>
                    Optional
                  </td>
                </tr>
                <tr>
                  <td>
                    email
                  </td>
                  <td>
                    User’s email ID
                  </td>
                  <td>
                    Alphanumeric, standard email ID format
                  </td>
                  <td>
                    Mandatory
                  </td>
                </tr>
                <tr>
                  <td>
                    userName
                  </td>
                  <td>
                    Unique name assigned to the user by the organization
                  </td>
                  <td>
                    Alphanumeric
                  </td>
                  <td>
                    Mandatory
                  </td>
                </tr>
                <tr>
                  <td>
                    password
                  </td>
                  <td>
                    Unique/common password given by the organization
                  </td>
                  <td>
                    Alphanumeric
                  </td>
                  <td>
                    Optional
                  </td>
                </tr>
                <tr>
                  <td>
                    provider
                  </td>
                  <td>
                    Channel ID shared to the system administrator by DIKSHA
                  </td>
                  <td>
                    Alphanumeric</br>
 Note: Enter values in the providercolumn and the phoneVerifiedcolumn or keep both columns blank
                  </td>
                  <td>
                    Conditional
                  </td>
                </tr>
                <tr>
                  <td>
                    phoneVerified
                  </td>
                  <td>
                    Whether user’s phone number is verified
                  </td>
                  <td>
                    TRUE, if phone number is provided</br>
 Note: Enter values in the providercolumn and the phoneVerifiedcolumn or keep both columns blank
                  </td>
                  <td>
                    Conditional
                  </td>
                </tr>
                <tr>
                  <td>
                    emailVerified
                  </td>
                  <td>
                    Whether user’s email ID is verified
                  </td>
                  <td>
                    TRUE, if email ID is provided
                  </td>
                  <td>
                    Optional
                  </td>
                </tr>
                <tr>
                  <td>
                    roles
                  </td>
                  <td>
                    User’s role on DIKSHA
                  </td>
                  <td>
                    Select one or more of the following roles:
                    <div class="ui bulleted list">
                        <div class="item">CONTENT_CREATOR</div>
                        <div class="item">CONTENT_REVIEWER</div>
                        <div class="item">FLAG_REVIEWER</div>
                        <div class="item">COURSE_MENTOR</div>
                        <div class="item">COURSE_ADMIN</div>
                        <div class="item">ORG_ADMIN</div>
                        <div class="item">SYSTEM_ADMINISTRATION</div>
                        <div class="item">PUBLIC</div>
                    </div>
                  </td>
                  <td>
                    Optional
                  </td>
                </tr>
                <tr>
                  <td>
                    grade
                  </td>
                  <td>
                    Classes taught by the user
                  </td>
                  <td>
                    "Select one or more of the following grades:</br>
 Class 1, Class 2, Class 3, Class 4, Class 5, Class 6, Class 7, Class 8, Class 9, Class 10, Kindergarten,Other"
                  </td>
                  <td>
                    Optional
                  </td>
                </tr>
                <tr>
                  <td>
                    position
                  </td>
                  <td>
                    User’s designation in the organization
                  </td>
                  <td>
                    Alphanumeric
                  </td>
                  <td>
                    Optional
                  </td>
                </tr>
                <tr>
                  <td>
                    position
                  </td>
                  <td>
                    User’s designation in the organization
                  </td>
                  <td>
                    Alphanumeric
                  </td>
                  <td>
                    Optional
                  </td>
                </tr>
                <tr>
                  <td>
                    position
                  </td>
                  <td>
                    User’s designation in the organization
                  </td>
                  <td>
                    Alphanumeric
                  </td>
                  <td>
                    Optional
                  </td>
                </tr>
                <tr>
                  <td>
                    position
                  </td>
                  <td>
                    User’s designation in the organization
                  </td>
                  <td>
                    Alphanumeric
                  </td>
                  <td>
                    Optional
                  </td>
                </tr>
                <tr>
                  <td>
                    position
                  </td>
                  <td>
                    User’s designation in the organization
                  </td>
                  <td>
                    Alphanumeric
                  </td>
                  <td>
                    Optional
                  </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="actions">
        <div class="ui grid">
            <div class="four wide column">
                <button class="ui left floated button" ng-click="admin.downloadSample('users'); $root.generateInteractEvent('profile','','downloadSampleCSV','1.0','downloadSampleCSV','profile-upload-users')">{{$root.frmelmnts.btn.smplcsv}}</button>
            </div>
            <div class="four wide column">
            </div>
            <div class="four wide column">
                <button ng-disabled="admin.bulkUsersProcessId || admin.loader.showLoader" class="ui primary right floated button" ng-click="admin.openImageBrowser('users'); $root.generateInteractEvent('profile','','uploadUsersCsv','1.0','uploadUsersCsv','profile-upload-users')">{{$root.frmelmnts.btn.uploadusrscsv}}</button>
                <input type="file" accept=".csv" class="content-input ui small " id="uploadUsrsCSV" onchange="angular.element(this).scope().validateFile(this.files,'users');" required="" />
            </div>
        </div>
    </div>
</div>
