<div class="ui stackable grid">
  <div class="three wide column">
    <div class="sidebar py-24">
      <div class="dashboard-title m-0 mb-16">Dashboard</div>
      <a [routerLink]="['course-stats']" routerLinkActive="active" appTelemetryInteract [telemetryInteractEdata]="courseStatsEdata" >Progress</a>
      <a [routerLink]="['progress']" [class.active]="router.url.includes('/dashboard/progress')" appTelemetryInteract [telemetryInteractEdata]="courseBatchesEdata">Batches</a>
      <a [routerLink]="['certificates']" [class.active]="router.url.includes('/dashboard/certificates')" appTelemetryInteract [telemetryInteractEdata]="courseCertificatesEdata">Certificates</a>

    </div>
  </div>
  <div class="eight wide column">
    <div class="ui container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
