<div class="ui grid padding-topBottom-10 courseStructureHeader">
    <div class="one wide column"></div>
    <div class=" ten wide column">
        <div class="ui grid">
            <div class="eight wide column">
                <div class="profileheader ui link items">
                    <div class="ui grid">
                        <div class="two wide column padding-top-none">
                            <div ng-include="'views/profile/editProfile/userAvtar.html'"></div>
                        </div>
                        <div class="ten wide column profile-header-text padding-top-none">
                            <div class="content">
                                <div class="sectionHeading header">{{profileCtrl.user.firstName}} &nbsp;{{profileCtrl.user.lastName}}</div>
                                <div class="meta profileViewSubHeader padding-bottom-10">
                                    <span ng-if="profileCtrl.currentJobLocation">{{profileCtrl.currentJobLocation.orgName}}</span>
                                    <span  ng-if="profileCtrl.user.location.length && profileCtrl.currentJobLocation">,</span>
                                    <span  ng-if="profileCtrl.user.location">{{profileCtrl.user.location}}</span>
                                </div>
                                <div class="meta">
                                    <div class="ui label" ng-if="!profileCtrl.user.provider && profileCtrl.user.userName">Username: {{profileCtrl.user.userName}}
                                    </div>
                                    <div class="ui label" ng-if="profileCtrl.user.provider && profileCtrl.user.userName">Username: {{profileCtrl.user.userName}}@{{profileCtrl.user.provider}}
                                    </div>
                                    <a class="ui link label" ng-if="profileCtrl.user.rootOrg.contactDetail.length > 0 && profileCtrl.user.rootOrg.contactDetail[0].email && profileCtrl.user.rootOrg.orgName"
                                    ng-href="mailto:{{profileCtrl.user.rootOrg.contactDetail[0].email}}" title="Contact Admin">{{profileCtrl.user.rootOrg.orgName}} <i class="mail outline icon"></i>
                                    </a>
                                    </br>
                                    <div class="ui label profile-headerLabelCard" ng-if="profileCtrl.lastLoginTime"> Last login time: {{profileCtrl.lastLoginTime | date:'medium'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profilesettings four wide column" ng-if="!profileCtrl.isError && !profileCtrl.loader.showLoader" >
                <bulk-upload></bulk-upload>
            </div>
        </div>
        <div class="ui grid">
            <div class="two wide column padding-top-none">
            <div class="profileImageSizeText">Max upload size 4MB</div>
            </div>
        </div>
    </div>
    <div class="one wide column"></div>
</div>
