<div class="ui" ng-if="!profileCtrl.isError" ng-include=" 'views/profile/profileHeader.html' ">
</div>

<div class="ui grid">
    <div class="one wide column"></div>
    <div class="ten wide column">
 <div class="twelve wide column">
    <div class="ui raised segment " ng-if="profileCtrl.loader.showLoader">
        <app-loader data="{{profileCtrl.loader}}"></app-loader>
    </div>
</div>
        <div  ng-if="!profileCtrl.isError" ng-include="'views/profile/profileView.html'"></div>
           </div>
    <div class="one wide column"></div>
</div>
