<sui-modal [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'normal'" class="sb-modal"
  appBodyScroll #modal (dismissed)="closeModal('');">
  <div class="sb-modal-header">
    {{resourceService?.frmelmnts?.lbl?.profile?.yourLocation}}
  </div>


  <div class="sb-modal-content o-y-visible">
    <div class="sb-form">
      <p class="mb-8">{{resourceService?.frmelmnts?.lbl?.profile?.yourLocationHeader}} </p>
      <div class="sb-field field-focus mb-16">
          <select class="ui dropdown selection fields-dropdown" (change)="onStateChanges()" [(ngModel)]="selectedState">
              <option [ngValue]="undefined" hidden selected>{{resourceService?.frmelmnts?.lbl?.profile?.selectState}}</option>
              <option [ngValue]="state"  *ngFor="let state of stateList"> {{state.name}}</option>
            </select>
            <label>{{resourceService?.frmelmnts?.lbl?.profile?.State}} :</label>
      </div>

        <div class="sb-field field-focus mb-16">  
          <select class="ui dropdown selection fields-dropdown" (change)="onStateChanges()" [(ngModel)]="selectedDistrict">
              <option [ngValue]="undefined" hidden selected>{{resourceService?.frmelmnts?.lbl?.profile?.selectDistrict}}</option>
              <option [ngValue]="district" *ngFor="let district of districtList"> {{district?.name}}</option>
            </select>
            <label>{{resourceService?.frmelmnts?.lbl?.profile?.District}} :</label>

        </div>
    </div>
  </div>
  <div class="sb-modal-actions">
    <button type="submit" class="sb-btn sb-btn-normal sb-btn-primary" (click)="updateUserLocation()"
      appTelemetryInteract [telemetryInteractEdata]="onClickSubmit">
      {{resourceService?.frmelmnts?.btn?.submit}}
    </button>
  </div>

</sui-modal>