<app-data-driven-filter [pageId]="'view-all'" *ngIf="filterType" [filterEnv]="filterType"
    [viewAllMode]="true" [accordionDefaultOpen]=false [isShowFilterLabel]=true [hashTagId]="hashTagId"
    [formAction]="formAction" [frameworkName]="frameWorkName"></app-data-driven-filter>
<div class="ui container" [appTelemetryImpression]="telemetryImpression">
    <div class="sb-pageSection mt-24">
        <div class="sb-pageSection-header" *ngIf="!showLoader">
            <h4 class="sb-pageSection-title m-0 mr-5">{{sectionName}}</h4>
            <span  *ngIf="totalCount" class="sb-pageSection-count sb-label sb-label-xs sb-label-error">{{totalCount}}</span>
            <button appTelemetryInteract [telemetryInteractEdata]="closeIntractEdata" class="sb-btn sb-btn-normal sb-btn-error ml-auto sb-cls-btn" type="button" [routerLink]="[closeUrl]">{{resourceService?.frmelmnts?.btn?.close}} <i class="close icon"></i></button>
        </div>
    </div>
        <div class="twelve wide column" *ngIf="!showLoader && !noResult">
            <div class="masonry-grid dynamic-section-card">
                <div class="masonry-item" *ngFor="let content of searchList;let i = index;">

                    <app-card *ngIf="!isOffline" appContentDirection appTelemetryInteract [telemetryInteractEdata]="cardIntractEdata" [telemetryInteractObject]="{id:content.metaData.identifier,type:content.metaData.contentType || 'Content',ver:content.metaData.pkgVersion ? content.metaData.pkgVersion.toString():'1.0'}"
                        (clickEvent)="playContent($event)" [data]="content"></app-card>
                    
                    <app-offline-card *ngIf="isOffline" appContentDirection appTelemetryInteract [telemetryInteractEdata]="cardIntractEdata"
                        [telemetryInteractObject]="{id:content.metaData.identifier,type:content.metaData.contentType || 'Content',ver:content.metaData.pkgVersion ? content.metaData.pkgVersion.toString():'1.0'}" [telemetryInteractCdata]="[{id:content.metaData.identifier,type:content.metaData.contentType || 'Content'}]" (clickEvent)="playContent($event)" [data]="content"></app-offline-card>
                        
                </div>
            </div>
        </div>
        <div class="twelve wide column" *ngIf="noResult && !showLoader">
            <app-no-result [data]="noResultMessage"></app-no-result>
        </div>
        <div class="twelve wide column" *ngIf="showLoader">
            <app-loader [data]='loaderMessage'></app-loader>
        </div>
        <div class="twelve wide column right aligned py-0" *ngIf="searchList && totalCount > configService.appConfig.SEARCH.PAGE_LIMIT && !showLoader && !noResult && !isOffline">
            <div class="sb-pagination-container flex-jc-flex-end" *ngIf="pager.pages.length">
                <div class="sb-pagination my-0">
                <a [ngClass]="{disabled:pager.currentPage===1 }" class="sb-item " (click)="navigateToPage(1) ">&laquo;</a>
                <a [ngClass]="{disabled:pager.currentPage===1 }" class="sb-item " (click)="navigateToPage(pager.currentPage - 1)">&lt;</a>
                <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}" (click)="navigateToPage(page)"
                    class="sb-item">{{page}}</a>
                    <a [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" (click)="navigateToPage(pager.currentPage + 1)"
                    class="sb-item">&gt;</a>
                <a [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" (click)="navigateToPage(pager.totalPages)"
                    class="sb-item ">&raquo;</a>
                </div>
            </div>
          
        </div>
        <div class="twelve wide column right aligned py-0" *ngIf="searchList && totalCount > configService.appConfig.SEARCH.PAGE_LIMIT && !showLoader && !noResult && (isOffline && router.url.includes('browse'))">
            <div class="sb-pagination-container flex-jc-flex-end" *ngIf="pager.pages.length">
                <div class="sb-pagination my-0">
                <a [ngClass]="{disabled:pager.currentPage===1 }" class="sb-item " (click)="navigateToPage(1) ">&laquo;</a>
                <a [ngClass]="{disabled:pager.currentPage===1 }" class="sb-item " (click)="navigateToPage(pager.currentPage - 1)">&lt;</a>
                <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}" (click)="navigateToPage(page)"
                    class="sb-item">{{page}}</a>
                    <a [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" (click)="navigateToPage(pager.currentPage + 1)"
                    class="sb-item">&gt;</a>
                <a [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" (click)="navigateToPage(pager.totalPages)"
                    class="sb-item ">&raquo;</a>
                </div>
            </div>
          
        </div>
</div>
<sui-modal 
    [mustScroll]="true" 
    [isClosable]="true"
    [transitionDuration]="0"
    [size]="'small'"
    class="sb-modal"
    appBodyScroll
    (dismissed)="closeModal()" 
    #modal 
    *ngIf="showLoginModal">

    <!--Header-->
    <div class="sb-modal-header">
        {{resourceService?.frmelmnts?.lbl?.signinenrollTitle}}
    </div>
    <!--/Header-->
    <!--Content-->
    <div class="sb-modal-content">
        <div class="ui center aligned segment">
            <p>{{resourceService?.frmelmnts?.lbl?.signinenrollTitle}}</p>
        </div>
    </div>
    <!--/Content-->

    <!--Actions-->
    <div class="sb-modal-actions">
        <a href={{baseUrl}} class="sb-btn sb-btn-normal sb-btn-primary">
            {{resourceService.frmelmnts?.btn?.signin}}
        </a> 
    </div>
    <!--/Actions-->
</sui-modal>
<app-batch-info *ngIf="showBatchInfo" [enrolledBatchInfo]="selectedCourseBatches" (modelClose)="showBatchInfo = false"></app-batch-info>

<sui-dimmer *ngIf="isOffline" class="page offline content" [isDimmed]="showExportLoader" [isClickable]="false">
    <div class="ui active centered inline loader"></div>
    <h2 class="mt-8"> {{resourceService.frmelmnts?.lbl?.exportingContent | interpolate:'{contentName}':contentName}}
    </h2>
</sui-dimmer>
<sui-dimmer *ngIf="isOffline" class="page offline content" [isDimmed]="showDownloadLoader" [isClickable]="false">
    <div class="ui active centered inline loader"></div>
    <h2 class="mt-8"> {{resourceService.frmelmnts?.lbl?.downloadingContent | interpolate:'{contentName}':contentName}}
    </h2>
  </sui-dimmer>
