@import "variables";
@import "mixins/mixins";


.divider {
  color: var(--gray-100);

  &:hover {
    color: var(--gray-100);
  }
}

.close {
  font-size: var(--h4-font-size);
  color: var(--primary-color);
}

.ui.text.menu .active.item, .ui.text.menu .item:hover {
  color: var(--primary-color);
  outline: none;
}
.ui.menu {  
  &.text {
    .item {
      color: var(--gray-400);
      &:hover {
        color: var(--primary-color);
        outline: none;
      }

      &.active {
        font-weight: bold;
        color: var(--primary-color);

        &:hover,
        &:focus {
          opacity: 0.9;
        }
      }
    }
  }
  &.vertical {
    .active.item {
      color: var(--primary-color);
      font-weight: var(--font-weight-bold);
      background: none;
    }
  }
}

.logout-btn {
  position: fixed !important;
  bottom: 0;
  width: 100%;
  font-weight: var(--font-weight-bold) !important;
  color: var(--primary-color) !important;
  background-color: var(--white);
  border-top: calculateRem(1px) solid var(--gray-100) !important;
}

.group__type {
  margin-left: 1.5rem;
  background: var(--red-100);
  position: relative;
  height: 1.25rem;
  padding: 0 .25rem 0 0.5rem;
  color: var(--white);
  margin-right: -.5rem;
  font-size: .6875rem;
  display: flex;
  align-items: center;
  font-weight: normal;
}
.group__type:after {
  content: "";
  width: 0;
  height: 0;
  border-width: .625rem .3125rem;
  border-style: solid;
  border-color: var(--red-100) transparent var(--red-100) var(--red-100);
  position: absolute;
  right: -.625rem;
}
