@import "variables";

.divider {
  color: $gray-100;

  &:hover {
    color: $gray-100;
  }
}

.close {
  font-size: $h4-font-size;
  color: $primary-color;
}

.ui.menu {
  &.text {
    .item {
      padding: $block-padding-y-x;
      color: $gray-800;
      &:hover {
        color: $primary-color;
        outline: none;
      }

      &.active {
        font-weight: $font-weight-bold;
        color: $primary-color;

        &:hover,
        &:focus {
          opacity: 0.9;
        }
      }
    }
  }
  &.vertical {
    .active.item {
      color: $primary-color;
      font-weight: $font-weight-bold;
      background: none;
    }
  }
}

.logout-btn {
  position: fixed !important;
  bottom: 0;
  width: 100%;
  font-weight: $font-weight-bold !important;
  color: $primary-color !important;
  background-color: $white-color;
  border-top: 1px solid $gray-100 !important;
}
