@import "variables";
@import "mixins/mixins";

.divider {
  color: var(--gray-100);

  &:hover {
    color: var(--gray-100);
  }
}

.close {
  font-size: $h4-font-size;
  color: var(--primary-color);
}

.ui.menu {
  &.text {
    .item {
      // padding: $base-block-space $base-block-space*3 $base-block-space 0;
      color: var(--gray-400);
      &:hover {
        color: var(--primary-color);
        outline: none;
      }

      &.active {
        font-weight: bold;
        color: var(--primary-color);

        &:hover,
        &:focus {
          opacity: 0.9;
        }
      }
    }
  }
  &.vertical {
    .active.item {
      color: var(--primary-color);
      font-weight: $font-weight-bold;
      background: none;
    }
  }
}

.logout-btn {
  position: fixed !important;
  bottom: 0;
  width: 100%;
  font-weight: $font-weight-bold !important;
  color: var(--primary-color) !important;
  background-color: var(--white);
  border-top: calculateRem(1px) solid var(--gray-100) !important;
}

.group__type {
  margin-left: 1.5rem;
  background: var(--red-100);
  position: relative;
  height: 1.25rem;
  padding: 0 .25rem 0 0.5rem;
  color: var(--white);
  margin-right: -.5rem;
  font-size: .6875rem;
  display: flex;
  align-items: center;
  font-weight: normal;
}
.group__type:after {
  content: "";
  width: 0;
  height: 0;
  border-width: .625rem .3125rem;
  border-style: solid;
  border-color: var(--red-100) transparent var(--red-100) var(--red-100);
  position: absolute;
  right: -.625rem;
}

/* new styles */
.sb-linkmenu {
  .item {
    background: white;
    padding: 8px 16px;
    border-radius: 6px;
    box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.1);
    font-size: 12px;
    font-weight: bold;
    margin-right: 24px;
    height: 48px;
    transition: all ease .3s;
    display: flex;
    align-items: center;
    &.active, &:hover {
      color: white;
      .sb-icon {
        background-color: white;
      }
    }
    &:hover {
      text-decoration: none;
    }
    &--textbook {
      color: #E7800B;
      &:hover, &.item.active, .sb-icon__textbook {
        background-color: #E7800B;
      }
    }
    &--course {
      color: #0531FF;
      &:hover, &.item.active, .sb-icon__course {
        background-color: #0531FF;
      }
    }
    &--test {
      color: #E02020;
      &:hover, &.item.active, .sb-icon__test {
        background-color: #E02020;
      }
    }
    &--quiz {
      color: #0C989B;
      &:hover, &.item.active, .sb-icon__quiz {
        background-color: #0C989B;
      }
    }
    &--story {
      color: #0531FF;
      &:hover, &.item.active, .sb-icon__story {
        background-color: #0531FF;
      }
    }
    &--poem {
      color: #B620E0;
      &:hover, &.item.active, .sb-icon__poem {
        background-color: #B620E0;
      }
    }
  }
}
.sb-icon {
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  mask-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  &--xxs {
    width: var(--icon-svg-xxs);
    height: var(--icon-svg-xxs);
  }
  &--xs {
    width: var(--icon-svg-xs);
    height: var(--icon-svg-xs);
  }
  &--sm {
    width: var(--icon-svg-sm);
    height: var(--icon-svg-sm);
  }
  &--md {
    width: var(--icon-svg-md);
    height: var(--icon-svg-md);
  }
  &--lg {
    width: var(--icon-svg-lg);
    height: var(--icon-svg-lg);
  }
  &--xl {
    width: var(--icon-svg-xl);
    height: var(--icon-svg-xl);
  }
  &__textbook {
    -webkit-mask-image: url(../../../../../assets/images/mask-image/Textbook.svg);
  mask-image: url(../../../../../assets/images/mask-image/Textbook.svg);
  }
  &__course {
    -webkit-mask-image: url(../../../../../assets/images/mask-image/Courses.svg);
    mask-image: url(../../../../../assets/images/mask-image/Courses.svg);
  }
  &__quiz {
    -webkit-mask-image: url(../../../../../assets/images/mask-image/quiz.svg);
    mask-image: url(../../../../../assets/images/mask-image/quiz.svg);
  }
  &__test {
    -webkit-mask-image: url(../../../../../assets/images/mask-image/test.svg);
    mask-image: url(../../../../../assets/images/mask-image/test.svg);
  }
  &__story {
    -webkit-mask-image: url(../../../../../assets/images/mask-image/stories.svg);
    mask-image: url(../../../../../assets/images/mask-image/stories.svg);
  }
  &__poem {
    -webkit-mask-image: url(../../../../../assets/images/mask-image/poem.svg);
    mask-image: url(../../../../../assets/images/mask-image/poem.svg);
  }
  &__tv {
    -webkit-mask-image: url(../../../../../assets/images/mask-image/tv.svg);
    mask-image: url(../../../../../assets/images/mask-image/Textbook.svg);
  }
  &__podcasts {
    -webkit-mask-image: url(../../../../../assets/images/mask-image/podcasts.svg);
    mask-image: url(../../../../../assets/images/mask-image/podcasts.svg);
  }
}