<div class="ui secondary pointing menu" *ngIf="userService.userid">
	<a class="item" [class.active]="router.isActive('/search/All') || router.isActive('/home')" routerLink="/home">
		{{resourceService?.frmelmnts?.tab?.home}}
	</a>
	<a class="item" [class.active]="router.isActive('/search/Courses') || router.isActive('/learn')" routerLink="/learn">
		{{resourceService?.frmelmnts?.tab?.courses}}
	</a>
	<a class="item" [class.active]="router.isActive('/search/Library') || router.isActive('/resources')" routerLink="/resources">
		{{resourceService?.frmelmnts?.tab?.resources}}
	</a>

	<a class="item" mat-button [matMenuTriggerFor]="main_menu">
		Catalog
	</a>

	<extension-point name="header-menu-item"></extension-point>
</div>

<mat-menu #main_menu="matMenu">
	<button mat-menu-item routerLink="/search/catalog/1">View All Courses</button>
	<button mat-menu-item [matMenuTriggerFor]="sub_main_menu">Browse With</button>
</mat-menu>

<mat-menu #sub_main_menu="matMenu">
	<ng-container *ngFor="let category of categoryMasterList">
		<button mat-menu-item [matMenuTriggerFor]="sub_menu">{{ category?.code}}</button>
		<mat-menu #sub_menu="matMenu">
			<button *ngFor="let subItem of category?.terms" mat-menu-item (click)="filter(category?.code , subItem?.name)">{{
				subItem?.name }}</button>
		</mat-menu>
	</ng-container>
</mat-menu>