@import "variables";

.divider {
  color: #999;

  &:hover {
    color: #999;
  }
}

.close {
  font-size: 1.2rem;
  color: $link-color;
}

.ui.menu {
  &.text {
    .item {
      padding: .35714286em .86em;

      &:hover {
        color: $link-color;
      }

      &.active {
        font-weight: bold;
        color: $link-color;
      }
    }
  }
  &.vertical {
    .active.item {
      color:$link-color;
      font-weight: bold;
      background: none;
    }
  }
}

.logout-btn {
  position: fixed !important;
  bottom: 0;
  width: 100%;
  font-weight: bold !important;
  color: $link-color !important;
  background-color: #fff; 
  border-top: 1px solid rgba(34,36,38, .15) !important;
}