<div id="content-player" class="ui grid">
    <div class="one wide column"></div>
    <div class="ten wide column">
        <div class='margin-top--5 videosegment ui segment'>
            <div class='content-player-body'>
                <div *ngIf="showPlayer && contentData" class="videosegment  ui clearing segment">
                    <div [appTelemetryImpression]="telemetryImpression" class="ui grid">
                        <div class="row margin-auto">
                            <div class="twelve wide column">
                                <div class="ten wide column" id="player-auto-scroll">
                                    <span class="ui HomeAccordianHeading left floated header" *ngIf="contentData.name">
                                        {{contentData.name}}
                                    </span>
                                </div>
                                <div class="two wide column">
                                    <h5 appTelemetryInteract [telemetryInteractEdata]="closeIntractEdata" [telemetryInteractObject]="objectInteract" class="ui right floated basic icon circular button margin-auto mouse-pointer"
                                        (click)="close()">
                                        <i class="ui remove icon"></i>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="contentStatus !== 'Unlisted'" class="row margin-auto padding-top-none">
                            <div class="twelve wide column">
                                <div class="player-badge-alignment">
                                    <sui-rating [ngClass]="{'course-header-divider': badgeData}" class="courseHeader-rating ui star rating padding-top-5" [isReadonly]="true"
                                        [ngModel]="contentData.me_averageRating || 0" [maximum]="5"></sui-rating>&nbsp;&nbsp;
                                    <app-content-badge [data]="badgeData" class="margin-left-20"></app-content-badge>
                                    <span class="margin-left-auto">
                                        <!-- Temporarily disable flagging-->
                                        <!-- <a routerLink="flag" class="padding-right-10 blue-text-color-sunbird">
                                            <i class="ui large blue flag outline icon"></i>
                                            {{resourceService?.frmelmnts?.lbl?.report}}
                                        </a> -->
                                        <a href="javascript:void(0)" (click)="onShareLink();sharelinkModal=true;" class="padding-right-10 blue-text-color-sunbird">
                                            <i class="cursor-pointer large blue share alternate icon"></i>
                                            {{resourceService?.frmelmnts?.lbl?.share}}
                                        </a>
                                        <span *ngIf='permissionService.permissionAvailable' appPermission [permission]="['CONTENT_CREATOR', 'CONTENT_REVIEWER']"
                                            (click)="copyContent(contentData)" class="ui mouse-pointer content-font margin-left-10 blue-text-color-sunbird">
                                            <i class="ui large blue clone outline icon"></i>
                                            {{resourceService?.frmelmnts?.lbl?.copy}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="showPlayer && contentData" class="ui stackable twelve column grid padding-top-10">
                    <div class="ui active inverted dimmer" *ngIf="showCopyLoader">
                        <div class="ui text centered inline loader margin-top-40">{{resourceService.frmelmnts.lbl.copycontent}}</div>
                    </div>
                    <div class="ui warning message click-notify-xurl" *ngIf="showExtContentMsg">
                        <div class="column twelve wide">
                            <p>{{resourceService.messages.imsg.m0036}}</p>
                        </div>
                    </div>
                    <app-player class="content-player" [playerConfig]="playerConfig"></app-player>
                    <div class="twelve wide column contentMetaSection">
                        <div class="ui stackable grid margin-top-10">
                            <div class="row">
                                <div class="three wide column "></div>
                                <div class="six wide column center aligned">
                                    <div class="ui grid">
                                        <div class="row">
                                            <div class="four wide column "></div>
                                            <div class="four wide column ">
                                                <h2 class="ui centered aligned icon tiny header toc-note">
                                                    <a class="ui take-note-card cursor-pointer" (click)="showNoteEditor=!showNoteEditor">
                                                        <app-popup-editor *ngIf="showNoteEditor" [mode]="'create'" [ids]="{contentId:contentId}" (exitModal)="showNoteEditor=false"
                                                            (createEventEmitter)="createEventEmitter($event)"></app-popup-editor>
                                                        <img src="{{'assets/images/takenote.png' | cdnprefixurl }}">
                                                        <span>{{resourceService?.frmelmnts?.lbl?.takenote}}</span>
                                                    </a>
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="four wide column "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="three wide column "></div>
                        <div class="twelve wide column ">
                            <div class="ui divider"></div>
                        </div>
                        <div class="ui stackable grid">
                            <div class="eight wide column">
                                <div class="twelve wide column">
                                    <app-content-player-metadata [contentData]="contentData"></app-content-player-metadata>
                                </div>
                                <div class="twelve wide column margin-top-20">
                                    <!-- <app-discussions></app-discussions> -->
                                </div>
                            </div>
                            <div *ngIf="contentStatus !== 'Unlisted'" class="four wide column">
                                <app-note-card [ids]="{contentId:contentId}" [createNoteData]="createNoteData"></app-note-card>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="showError">
                    <div class="ui active dimmer inverted">
                        <div class="content">
                            <div class="center">
                                <h2 class="ui header red">
                                    {{errorMessage}}
                                </h2>
                                <span>
                                    <button class="ui button" (click)="tryAgain()">{{resourceService.frmelmnts.btn.tryagain}}</button>
                                </span>
                                <span>
                                    <button class="ui red button" (click)="close()">{{resourceService.frmelmnts.btn.close}}</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="one wide column"></div>
</div>
<app-share-link [shareLink]="shareLink" [telemetryShareData]="telemetryShareData" *ngIf="sharelinkModal" (close)="sharelinkModal = false">
</app-share-link>
<router-outlet></router-outlet>