.o-y-auto {
    overflow-y: auto !important
}
.o-y-visible {
    overflow-y: visible !important
}
.o-y-hide {
    overflow-y: hidden !important
}
.o-y-scroll {
    overflow-y: scroll !important 
}
.o-x-auto {
    overflow-x: auto !important
}
.o-y-visible {
    overflow-y: visible !important 
}
.o-x-hide {
    overflow-x: hidden !important
}
.o-x-scroll {
    overflow-x: scroll !important
}