@import "variables";
@import "mixins/mixins";

.ui.light-sea-green.button {
  background: #2ca58d;
  color: #fff;
  height: 38px !important;
}

.ui.grey.button {
  background: #9B9B9B;
  color: #fff;
  height: 38px !important;
}

.width-310 {
  width: 310px !important;
}

@include respond-below(sm) {

  ::ng-deep {

    .sb-modal-termscondition {
      &.sb-modal {
        .ui.modal.normal {
          width: 100% !important;
          margin: 0px !important;
          left: 0px !important;
          max-width: 100%;
          .sb-modal-content {
            min-height: calc(100vh - 96px);
          }
        }

        .toc-page {
          height: calc(100vh - 215px);
        }
      }
    }
  }
}
