
@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.terms-and-cond-form{
  height: calc(100vh - 21.875rem);
 iframe{
   height: 100%;
 }
}
@include respond-below(sm) {

  ::ng-deep {

    .sb-modal-termscondition {
      &.sb-modal {
        .ui.modal.normal {
          width: 100% !important;
          margin: 0px !important;
          left: 0px !important;
          max-width: 100%;
          height: 100%;
          .sb-modal-content {
            height: calc(100% - 6rem);
            max-height: 100%;
            overflow: hidden;
          }
        }
        .toc-page { 
          height: 100%;
        }
      }
    }
  }
}
