<app-modal-wrapper [config]="{disableClose: (tncUrl && !reportViewerTncVersion) ? false : true, width: '45rem', panelClass: 'material-modal'}"
  (dismiss)="(tncUrl && !reportViewerTncVersion) ? onClose() : ''">
  <ng-template sbModalContent let-data>
    <div mat-dialog-title class="flex-jc-center flex-dc mb-0">
      <button mat-mini-fab color="warn" class="ml-auto" aria-label="close dialog" mat-dialog-close 
        *ngIf="(tncUrl && !reportViewerTncVersion) ? true : false"><mat-icon>close</mat-icon>
      </button>
      <p class="mat-subheading-2 mb-0" aria-level="1">{{resourceService?.frmelmnts?.lbl?.termsAndCond}}</p>
    </div>
    <mat-dialog-content class="pb-0">
      <!--Content-->
      <div class="text-center mb-12">
        <img class="image centered" alt={{tenantName}} height="45" src="{{logo}}">
      </div>
      <div class="mat-body-1 font-weight-bold mb-16 text-center">
        {{resourceService?.frmelmnts?.lbl?.termsAndCond}}&lrm;</div>
      <app-loader *ngIf="showLoader" [data]='loaderMessage'></app-loader>
      <form class="d-flex flex-jc-center terms-and-cond-form">
        <iframe id="serviceFrameSend" [src]="tncLatestVersionUrl"
          title="{{resourceService?.frmelmnts?.lbl?.termsAndCondAgree}}"
          attr.aria-label="{{resourceService?.frmelmnts?.lbl?.termsAndCondAgree}}" width="100%" height="100%"
          frameborder="0" (load)="showLoader = false"></iframe>
      </form>
      <label *ngIf="!tncUrl || showAcceptTnc" class="d-flex flex-jc-center flex-ai-center mt-16 mb-0">
        <mat-checkbox class="mr-12" [(ngModel)]="tncChecked" value="true" tabindex="0" (click)="onClickCheckbox(tncChecked)">
          {{resourceService?.frmelmnts?.lbl?.termsAndCondAgree}}
        </mat-checkbox>
      </label>
      <!--/Content-->
    </mat-dialog-content>
     <!--Actions-->
     <mat-dialog-actions align="end" class="pt-0">
      <button mat-raised-button color="accent" class="button-rounded" [ngClass]="tncChecked ? '' : 'disabled'"
        [disabled]="!disableContinueBtn" (click)="onSubmitTnc(data?.id)" tabindex="0"
        *ngIf="!tncUrl || showAcceptTnc">
        {{resourceService?.frmelmnts?.lbl?.continue}}
      </button>
    </mat-dialog-actions>
    <!--/Actions-->
  </ng-template>
</app-modal-wrapper>