.ui.light-sea-green.button {
  background: #2ca58d;
  color: #fff;
  height: 38px !important;
}

.ui.grey.button {
  background: #9B9B9B;
  color: #fff;
  height: 38px !important;
}

.width-310 {
  width: 310px !important;
}
