<sui-accordion 
  *ngFor="let child of rootChildrens" 
  class="sb-collectionTree"
  [ngClass]="child.extraClasses"
  >
  <sui-accordion-panel 
    [ngClass]="child.extraClasses"
    (click)="!child.folder && onNodeClick(child)"
    [(isOpen)]="child.togglePanelIcon"
    [isDisabled]="(!child.children.length) || (!child.folder)"
    >
      <!--Accordion Title-->
      <div title class="sb-collectionTree-titleCover">
        <i 
          *ngIf="child.folder" 
          class="mr-16 sb-collectionTree-title-icon icon folder"
          [class.outline]="child.togglePanelIcon" 
        ></i>
        <i 
          *ngIf="!child.folder" 
          class="mr-16 sb-collectionTree-title-icon" 
          [ngClass]="child.icon"
        ></i>
        <h3 
          class="sb-collectionTree-title"
          [innerHTML]="child.title">
        </h3>
        <i 
          *ngIf="child.folder && child.children.length" 
          class="icon ml-auto mr-0 sb-collectionTree-title-toggle-icon" 
          [class.plus]="!child.togglePanelIcon" 
          [class.minus]="child.togglePanelIcon"
        ></i>
      </div>
      <!--/Accordion Title-->

      <!--Accordion Content-->
      <div 
        *ngIf="child.folder" 
        content
        class="p-0 sb-collectionTree-contentCover"
        >
        <app-fancy-tree 
          (itemSelect)="onItemSelect($event)" 
          [nodes]="child.children" 
          [rootNode]="rootNode"
          [options]="{ showConnectors: true }"
          class="sb-collectionTree-fancyTree"
        >
        </app-fancy-tree>
      </div>
      <!--/Accordion Content-->

  </sui-accordion-panel>
</sui-accordion>