<div class="headerAsk">
    <h2>SET QUESTIONS</h2>
</div>

<div class="listviewContainer" ng-show="model.interactions.length > 0">
    <div class="QACol" ng-repeat="interaction in model.interactions">
        <div class="row" ng-show="$index==0">
            <div class="listButton col-md-12">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" ng-class="{'active' : (interactionsSearch.order == sort.value), 'int-sort-filter': true}" ng-class="{'btnTop' : $index!=3}" ng-click="sort.trigger()" ng-repeat="sort in sortOptions">{{sort.name}}</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 QAcontent">
                <h5>
                    <a class="ac-links il-Link-clr" href="#/interaction/{{interaction.interactionId}}">{{interaction.title}}</a>
                </h5>
                <div style="text-overflow: ellipsis;white-space: nowrap">
                    <ul class="metadata">
                        <li><span>by&nbsp;</span>
                            <div style="display: inline" ng-community-user user-id="interaction.from" user-name="interaction.userName" context="'QA Forum'"></div> ,
                            <span data-livestamp="{{interaction.createdDate/1000}}"></span>
                        </li>
                        <li class="list-dash">|</li>
                        <li><span>Asked in : </span><a href="#" ng-click="selectElement(interaction.learningElementId);" class="btn-link" title="{{interaction.elementName}}">{{interaction.elementName}}</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="QAtags">
                    <span class="badge" ng-click="selectConcept(concept);" ng-repeat="concept in interaction.conceptNames track by $index" ng-if="concept.concept">{{concept.concept}}
                            </span>
                </div>
                <div class="padTop" ng-if="interaction.markAsAnswered">
                    <span class="label label-success community-event-status"><i class="fa fa-check"></i> Answered</span>
                </div>
            </div>
            <div class="col-md-4 QAStatus">
                <ul class="pull-right">
                    <li class="secondary">
                        <span class="number">{{interaction.commentsCount || 0}}</span> <span>Ans.</span>
                    </li>
                    <li class="secondary">
                        <span class="number">{{interaction.viewCount || 0}}</span> <span>Views</span>
                    </li>
                    <li class="secondary">
                        <span class="number votes">{{interaction.rating || 0}}</span> <span>Votes</span>
                    </li>
                    <li class="secondary">
                        <span class="number fav">{{interaction.followCount || 0}}</span> <span>Fav.</span>
                    </li>
                </ul>
            </div>
        </div>
        <hr/>
    </div>
</div>
<div class="alert alert-info fade in" role="alert" ng-if="model.interactions.length == 0" style="margin: 10px">
    <p>There are no questions in this set</a>
    </p>
</div>
