<div>

    <div class="headerAsk ng-scope">
        <h2 ng-bind-html="renderHtml(selectedInteraction.title)"></h2>
        <span class="backBtnCont">
            <a href="javascript:void(0)" class="backBtn pull-right marginTop10" ng-click="backToList();">
                <i class="fa fa-chevron-left"></i> back to list
            </a>
        </span>
    </div>

    <div class="text-center" ng-show="loadingInteraction" style="margin-top: 50px">
        Loading <img src="/img/loading.gif"/>
    </div>

    <div class="col-md-12 noPad int-question-text" ng-cloak ng-show="pageLoadComplete">

        <div class="int-question-body marginTop10">
            <div class="{{metadata.interactionType == 'TutorQA' ? 'col-md-12' : 'col-md-11'}} noPad">
                <div ng-il-post post="selectedInteraction" interaction="selectedInteraction"></div>
                <div class="col-md-12 borderBottom">
                    <div class="col-md-7 int-user pull-right">
                        <span>asked by <div style="display: inline" ng-community-user user-id="selectedInteraction.systemMetadata.from" user-name="selectedInteraction.systemMetadata.userName" context="'QA Forum'"></div>&nbsp;<span data-livestamp="{{selectedInteraction.systemMetadata.createdDate/1000}}"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 noPad borderBottom" ng-if="metadata.interactionType != 'TutorQA'">
                    <span ng-il-rating post="selectedInteraction" interaction="selectedInteraction"></span>
                    <span ng-il-follow post="selectedInteraction" interaction="selectedInteraction"></span>
                    <span ng-il-flags post="selectedInteraction" interaction="selectedInteraction"></span>
                </div>
                <div class="col-md-12 padTop" ng-il-post-comment post="selectedInteraction" interaction="selectedInteraction"></div>
                <div class="col-md-12" ng-show="selectedInteraction.postComments">
                    <div class="col-md-12 noPad int-post-comment" ng-repeat="postComment in selectedInteraction.postComments">
                        <div ng-il-flags class="commentFlag" post="postComment" interaction="selectedInteraction"></div>
                        <div ng-il-post post="postComment" interaction="selectedInteraction"></div>
                        <div class="int-comment-user pull-right">
                            <span> - <div style="display: inline" ng-community-user user-id="postComment.systemMetadata.from" user-name="postComment.systemMetadata.userName" context="'QA Forum'"></div>
                            <span data-livestamp="{{postComment.systemMetadata.createdDate/1000}}"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" ng-if="selectedInteraction.comments.length > 0">
        <div class="col-md-12 noPad borderBottom" ng-if="metadata.interactionType != 'TutorQA'">
            <h3>{{selectedInteraction.comments.length}} Answer{{selectedInteraction.comments.length > 1 ? 's':''}}</h3>
        </div>
        <div class="col-md-12 noPad borderBottom noPad" ng-if="metadata.interactionType == 'TutorQA'">
            <h3>{{selectedInteraction.comments.length}} {{selectedInteraction.comments.length > 1 ? 'Replies':'Reply'}}</h3>
        </div>
        <div class="int-comment" ng-repeat="answer in selectedInteraction.comments">
            <div class="col-md-12 int-comment-user noPad">
                <span><div ng-community-user style="display: inline" user-id="answer.systemMetadata.from" user-name="answer.systemMetadata.userName" context="'QA Forum'"></div> replied
                <span data-livestamp="{{answer.systemMetadata.createdDate/1000}}"></span>
                </span>
            </div>
            <div class="col-md-12 noPad">
                <div class="col-md-12 noPad">
                    <div ng-il-post post="answer" interaction="selectedInteraction"></div>
                    <div class="col-md-12 noPad borderBottom borderTop" ng-if="metadata.interactionType != 'TutorQA'">
                        <span ng-il-rating post="answer" interaction="selectedInteraction"></span>
                        <span ng-il-follow post="answer" interaction="selectedInteraction"></span>
                        <span ng-il-flags post="answer" interaction="selectedInteraction"></span>
                    </div>
                    <div class="col-md-12 noPad padTop" ng-il-post-comment post="answer" interaction="selectedInteraction"></div>
                    <div class="col-md-12 noPad" ng-show="answer.postComments">
                        <div class="col-md-12 noPad int-post-comment" ng-repeat="postComment in answer.postComments">
                            <div ng-il-flags class="commentFlag" post="postComment" interaction="selectedInteraction"></div>
                            <div ng-il-post post="postComment" interaction="selectedInteraction"></div>
                            <div class="int-comment-user pull-right">
                                <span> - <div style="display: inline" ng-community-user user-id="postComment.systemMetadata.from" user-name="postComment.systemMetadata.userName" context="'QA Forum'"></div>
                                <span data-livestamp="{{postComment.systemMetadata.createdDate/1000}}"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 noPad" ng-il-comment interaction="selectedInteraction" ng-if="selectedInteraction"></div>
</div>