<div class="row">
  <div class="col-md-12">
    <form>
      <fieldset>
        <div *ngIf="formFieldProperties">
          <div *ngFor="let field of filtersDetails">
            <div class="card text-white mb-3" *ngIf="field.inputType==='select' && field.code!==browsingCategory">
              <div class="card-header bg-warning">
                 <i alt="Filter" class="icon filter"></i>  &nbsp;{{field.name}} 
                 <i class="far fa-times-circle float-right" (click)="resetFilters2(field.code)"></i>
              </div>
              <div class="card-body filtersBody">
                <div class="form-group" *ngIf="field.inputType==='select'">
                  <fieldset class="form-group" *ngIf="field.inputType==='select'">
                    <div class="form-check" *ngFor="let option of field.range">
                      <label class="form-check-label">
                        <input (change)="onFilterChange($event)" name={{field.code}} class="form-check-input" type="checkbox"
                          [value]="option.name">
                       &nbsp; {{option.name}} </label>
                    </div>
                    <!-- <div class="custom-control custom-checkbox"  *ngFor="let option of field.range">
                      <input (change)="onFilterChange($event)" name={{field.code}} type="checkbox" class="custom-control-input form-check-input" id={{option.name}} [value]="option.name">
                      <label class="custom-control-label" for="customCheck2">{{option.name}}</label>
                    </div> -->
                  </fieldset>
                </div>
              </div>
            </div>

            <!-- <div *ngIf="field.code==='concepts' && showConcepts" class="field">
                <form class="conceptSelector ui form">
                  <app-concept-picker [selectedConcepts]="formInputData[field.code]" (Concepts)="concepts($event)"></app-concept-picker>
                </form>
              </div> -->
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
