.text-area{
    position: relative;
    top: 20px;
    border-color: lightgray;
  .alignleft {
      float: left;
      border-radius: 5px;
      width: 85%;
  }
  .alignright {
      float: right;
  }
  }