@import "variables";
@import "mixins/mixins";

// State Selection and Board Medium Selection CSS starts here
.state-medium-container {
  position: relative;
  height: calculateRem(64px);
  z-index: 2;
  background: var(--white);
  &__dropdown {
    z-index: 1;
    width: 100%;
    max-width: calculateRem(210px);
  }
  &__separator {
    border-left: calculateRem(1px) solid var(--gray-200);
    height: calculateRem(24px);
    margin: auto calculateRem(16px);
  }
  &__medium {
    overflow-x: auto;
    overflow-y: hidden;
    height: calculateRem(64px);
  }
}
.ui.selection.dropdown.state-selection {
  color: var(--primary-400);
  font-weight: bold;
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-400);
  &:hover {
    color: var(--primary-400);
    box-sizing: border-box;
    border-radius: calculateRem(2px);
  }
}
:host ::ng-deep {
  .state-selection {
    &.ui.selection.dropdown {
      &:hover,
      &.active {
        background-color: var(--rc-E5EDF5)
      }
      &.active .menu {
        border-color: var(--primary-400);
      }
    }
    .menu>.item {
      padding: 1em 1.5em;
    }
  }
  // &.dropdown:not(.button)>.default.text {
  //   color: var(--primary-400);
  // }
}
.sb-medium {
  width: 100%;
  &__pills-container {
    min-height: calculateRem(64px);
    .pill {
      border: calculateRem(1px) solid  var(--secondary-color);
      color:  var(--secondary-color);
      cursor: pointer;
      &:hover {
        background-color:  var(--secondary-color);
        color: var(--white);
      }
      &.active {
        background-color:  var(--secondary-color);
        color: var(--white);
        cursor: pointer;
      }
    }
  }
  &__sb-pills-content {
    display: inline-flex;
    align-items: center;
    padding: calculateRem(16px) 0;
    .pill {
      background-color: var(--white);
      white-space: nowrap;
      -webkit-appearance: none;
      text-overflow: ellipsis;
      min-height: calculateRem(32px);
      margin: 0px calculateRem(4px) 0px calculateRem(4px);
      padding: calculateRem(4px) calculateRem(8px);
      border-radius: calculateRem(2px);
      text-transform: capitalize;
      text-decoration: none;
      text-align: center;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      font-size: $font-size-sm;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
// State Selection and Board Medium Selection CSS ends here
.sb-class {
  box-shadow: 0 calculateRem(2px) calculateRem(8px) 0 rgba(var(--rc-rgba-black), 0.2);
  background-color: var(--gray-0);
  &__pills-container {
    padding: calculateRem(8px) 0;
  }
  &__pill {
    background-color: var(--white);
    white-space: nowrap;
    -webkit-appearance: none;
    text-overflow: ellipsis;
    margin-right: calculateRem(8px);
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    align-items: center;
    border-radius: calculateRem(16px);
    padding: calculateRem(4px) calculateRem(16px);
    color: var(--primary-400);
    min-height: calculateRem(32px);
    font-size:calculateRem(14px);
    cursor: pointer;
    &:hover {
      background-color: var(--primary-400);
      color: var(--white);
    }
    &.active {
      background-color: var(--primary-400);
      color: var(--white);
    }
    &[aria-selected="true"] {
      color: var(--black);
    }
  }
}
.sbgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(292px, 1fr));
  grid-gap: 1rem;
}
.sbcard {
  width: calculateRem(292px);
  max-width: 100%;
  border-radius: calculateRem(2px);
  background-color:var(--white);
  // box-shadow: 0 2px 7px 0 rgba(var(--rc-rgba-black), 0.16);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: box-shadow .3s ease-out,transform .3s ease-out,opacity .2s ease-out,-webkit-transform .3s ease-out;
  transition-delay: .1s;
  &.active {
    background: var(--primary-100);
  }
  &:hover {
    transform: translate(0,-3px);
    box-shadow: 0 calculateRem(2px) calculateRem(7px) 0 rgba(var(--rc-rgba-black), 0.16);
  }
  @include respond-above(sm) {
    border-radius: calculateRem(2px);
    // box-shadow: 0 2px 7px 0 rgba(var(--rc-rgba-black), 0.16);
    border-bottom: 0px solid $gray-0;
  }
  &__main_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: calculateRem(8px);
    height: calculateRem(88px);
  }
  .sbcard__img {  
    height: 100%;
    overflow: hidden;
    margin-right: calculateRem(8px);
    flex: 0 0 calculateRem(72px);
    img {
      width: 100%;
      height: 100%;
    }
    &--full-width {
      flex: 0 0 calculateRem(80px);
    }
  }
  &__info {}
  &__title {
    font-size: calculateRem(14px);
    margin-bottom: calculateRem(4px);
    line-height: normal;
  }
  &__meta1 {
    color:  var(--gray-800);
    font-size: calculateRem(12px);
    display: inline-flex;
    align-items: center;
  }
  .dot-divider {
    width: calculateRem(4px);
    height: calculateRem(4px);
    border-radius: 100%;
    background-color: var(--rc-d8d8d8);
    display: inline-block;
    margin: 0px calculateRem(8px);
  }
  &__moreinfo {
    border-top: calculateRem(1px) solid var(--rc-e9e5e5);
    border-radius: 0 0 calculateRem(2px) calculateRem(2px);
    background-color: var(--rc-FAFAFA);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: calculateRem(8px);
    min-height: calculateRem(56px);
  }
  &__meta2 {
    color:var(--gray-400);
    font-size: calculateRem(12px);
    line-height: calculateRem(14px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__medium {
    span {}
  }
  &__org {}
  &__tags {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__badge {
    display: flex;
    img {
      width: calculateRem(16px);
    }
  }
  &__type {
    margin-left: calculateRem(24px);
    background: var(--gray-200);
    position: relative;
    height: calculateRem(20px);
    padding: 0 calculateRem(8px) 0px calculateRem(4px);
    color: var(--white);
    margin-right: calculateRem(-8px);
    font-size: calculateRem(11px);
    display: flex;
    align-items: center;
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-width: calculateRem(10px) calculateRem(5px);
      border-style: solid;
      border-color: var(--gray-200) var(--gray-200) var(--gray-200) transparent;
      position: absolute;
      left: calculateRem(-10px);
    }
  }
}
@media screen and (max-width: 1024px) {
  .sb__DesktopOnly {
    display: none;
  }
}
// Overridden CSS
.sb-btn-white {
  box-shadow: 0 calculateRem(-1px) calculateRem(4px) 0 rgba(var(--rc-rgba-black), 0.1), 0 calculateRem(3px) calculateRem(4px) 0 rgba(var(--rc-rgba-black), 0.2);
  border: 0px solid var(--rc-dddddd);
}
.sb-pageSection-count {
  background: var(--gray-200);
}
.copy-book {
  width: calculateRem(16px);
  height: calculateRem(16px);
  img {
    width: 100%;
    height: 100%;
  }
}
.sb__ellipsis {
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  &--two {
    -webkit-line-clamp: 2;
  }
}

.selected-board {
  min-width: calculateRem(88px);
  border: calculateRem(1px) solid var(--primary-400);
  border-radius: calculateRem(3px);
  min-height: calculateRem(32px);
  color: var(--primary-400);
  font-size: calculateRem(12px);
  display: flex;
  align-items: center;
  padding: calculateRem(8px);
  cursor: pointer;
  justify-content: center;
}

:host ::ng-deep {
  .slick-track {
  padding-top: 0px !important;
 }
}