.telemetry-cont {
    display: block;
    position: fixed;
    right: 0;
    bottom: 16%;
    z-index: 999;
}

.telemetry-float-icon {
    background:#000;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 4px;
    width: 190px;
    position: fixed;
    right: -128px;
    z-index: 1000;
    font: normal normal 10px Arial;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    border-radius:24px;
    cursor:pointer;
  }
  
  .telemetry-float-icon:hover {
    right: 0;
  }
  
  .telemetry-float-icon a {
       color: #fff !important;
      text-decoration: none;
      text-align: center;
  }
  
  .float-icon {
   bottom:16%;
  }
  
  .chat-icon {
      font-size: 20px;
      color: #fff;
      padding: 10px 0;
      width: 40px;
      margin: 0 8px;
  }
  