<!-- <div class="telemetry-cont" telemetryEventsButton>
  <button id="telemetry-btn" class="sb-btn sb-btn-normal sb-btn-outline-primary mr-8 ng-star-inserted" type="button" (click)="openModal()">
    <i _ngcontent-mrt-c56="" class="blue share alternate icon"></i> Errors 
  </button>
</div> -->

<div class="telemetry-cont" telemetryEventsButton>
  <div id="telemetry-btn" class="telemetry-float-icon float-icon" (click)="openModal()">
    <img class="chat-icon" src="../../../../../assets/images/telemetry.svg" alt="telemetry events">
    <span class="telemetry-btn-label">Telemetry!</span>
  </div>
</div>

<app-modal-wrapper *ngIf="showTelemetryEventsModal" [config]="{disableClose: true, size: 'large'}" (dismiss)="closeModal()">
  <ng-template sbModalContent>
    <div class="sb-modal sb-modal-addsummary">
      <div class="transition ui dimmer page modals active visible">
        <div class="ui modal transition active visible large">
          <div mat-dialog-title class="mb-0">
            <button aria-label="close dialog" mat-dialog-close class="mat-close-btn">
              <span>&times;</span>
            </button>
          </div>
          <mat-dialog-content class="mat-dialog-content">
            <div class="sb-modal-header">
              {{input?.title}}
            </div>
            <div class="sb-modal-content o-x-hide">
              <sb-datatable [name]="'Telemetry events'" [message]="" [data]="telemetryEventsArr" [columns]="columns"
                [downloadCSV]="true" (downloadLink)="onDownloadLinkFail($event)"></sb-datatable>
            </div>
          </mat-dialog-content>
        </div>
      </div>
    </div>
  </ng-template>
</app-modal-wrapper>