@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.telemetry-cont {
    display: block;
    position: fixed;
    right: 0;
    bottom: 16%;
    z-index: 999;
}

.telemetry-float-icon {
    background: var(--primary-100);
    letter-spacing: calculateRem(3px);
    padding: calculateRem(4px);
    width: calculateRem(200px);
    position: fixed;
    right: calculateRem(-128px);
    z-index: 1000;
    transition: all 0.25s ease;
    border-radius: calculateRem(24px) 0px 0px calculateRem(24px);
    box-shadow: var(--sbt-box-shadow-6px);
    cursor: pointer;
    border: var(--primary-color) solid calculateRem(4px);
    border-right-width: 0px;
    cursor:pointer;
  }

  .telemetry-btn-label {
    color: var(--sb-linkmenu-text);
    font-weight: bold;
  }
  
  .telemetry-btn-label {
    color: var(--sb-linkmenu-text);
    font-weight: bold;
  }

  .telemetry-float-icon:hover {
    right: 0;
  }
  
  .telemetry-float-icon a {
       color: var(--white) !important;
      text-decoration: none;
      text-align: center;
  }
  
  .float-icon {
   bottom:16%;
  }
  
  .chat-icon {
      font-size: calculateRem(20px);
      color: var(--white);
      padding: calculateRem(10px) 0;
      width: calculateRem(40px);
      margin: 0 calculateRem(8px);
  }
  