<div class="content-video">
  <section class="" id="player-area-height">
    <div class="aspectratio sbt-shadow-radius" data-ratio="16:9" id="help-video-aspect-ratio" #aspectRatio [ngClass]="{'player-fullscreen': isFullScreenView}">
      <app-player class="content-player" [playerOption]="playerOption" [playerConfig]="playerConfig"
        [contentProgressEvents$]="contentProgressEvents$" (assessmentEvents)="onAssessmentEvents($event)"
        (questionScoreSubmitEvents)="onQuestionScoreSubmitEvents($event)" (questionScoreReviewEvents)="onQuestionScoreReviewEvents($event)"[isContentDeleted]="contentDeleted" ></app-player>
      
      <app-content-actions [assessmentEvents]="assessmentEvents" *ngIf="isFullScreenView" class="player-fullscreen-action-items" [isFullScreen]="true" [contentData]="contentData" [objectRollUp]="objectRollUp">
      </app-content-actions>
    </div>
    <app-content-actions [assessmentEvents]="assessmentEvents" *ngIf="contentData && !isFullScreenView" [isFullScreen]="false" (contentDownloaded)="checkContentDownloading($event)" [contentData]="contentData" [objectRollUp]="objectRollUp">
    </app-content-actions>
  </section>
</div>