
@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
@use 'components/video' as *;

.no-content-player{
    background: var(--black);
    color: var(--white);
    width: 100%;
    height: 100%;
    &__text{
        max-width: calculateRem(300px);   
    }
}
