<div *ngIf="tocPage" class="toc-content text-left" [appTelemetryImpression]="telemetryImpression">
    <!-- <app-player class="content-player" [playerOption] ="playerOption" [playerConfig]="playerConfig"></app-player> -->
    <app-content-player [playerConfig]="playerConfig" [contentData]="contentDetails" [isContentPresent]="true"
        [isContentDeleted]="isContentDeleted" [contentProgressEvents$]="contentProgressEvents$"
        (assessmentEvents)="onAssessmentEvents($event)"
        (questionScoreSubmitEvents)="onQuestionScoreSubmitEvents($event)"
        (questionScoreReviewEvents)="onQuestionScoreReviewEvents($event)" (deletedContent)="goBack()">
    </app-content-player>

    <div class="mt-8">
        <app-credits-and-licence *ngIf="contentDetails" [contentData]="contentDetails"></app-credits-and-licence>
        <mat-accordion *ngIf="collectionData" class="sb-mat-accordion mb-16">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="sb-mat-accordion__title">
                        {{resourceService?.frmelmnts?.lbl?.collectionRelevantFor}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="sb-mat-accordion__content" *ngFor="let transformCollection of transformCollectionData">
                    <div class="training-relevant__class mb-4 sb-color-gray-400 fnormal">
                        <span>{{ (resourceService?.frmelmnts?.lbl[transformCollection?.labels.toLowerCase()] | transposeTerms: resourceService?.frmelmnts?.lbl[transformCollection?.labels.toLowerCase()] : resourceService?.selectedLang) || transformCollection?.labels }}:
                            :&nbsp;</span><span>{{
                            transformCollection?.value}}</span>
                    </div>
                </div>
                    <div class="training-relevant__medium mb-4 sb-color-gray-400 fnormal"
                        *ngIf="collectionData?.audience">
                        <span>{{resourceService?.frmelmnts?.lbl?.userType}}:&nbsp;</span><span>{{
                            collectionData?.audience?.join(', ')}}</span>
                    </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>