@import "variables";
@import "mixins/mixins";
.sb-single-resource{
    width: 100%;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
}

::ng-deep{
    .toc-content{
        width: 100%;
        height: 100%;  
        app-credits-and-licence{
            sb-accordion{
                .sbaccordion__panel{
                    box-shadow: none;
                }
            }
        }
    }
}