<div *ngIf="tocPage" class="toc-content text-left contentplayer-page-component" [appTelemetryImpression]="telemetryImpression">
    <!-- <app-player class="content-player" [playerOption] ="playerOption" [playerConfig]="playerConfig"></app-player> -->
    <app-content-player [playerConfig]="playerConfig" [contentData]="contentDetails" [isContentPresent]="true"
        [isContentDeleted]="isContentDeleted" [contentProgressEvents$]="contentProgressEvents$"
        (assessmentEvents)="onAssessmentEvents($event)"
        (questionScoreSubmitEvents)="onQuestionScoreSubmitEvents($event)"
        (questionScoreReviewEvents)="onQuestionScoreReviewEvents($event)" (deletedContent)="goBack()">
    </app-content-player>

    <div class="mt-16">
        <app-credits-and-licence *ngIf="contentDetails" [contentData]="contentDetails"></app-credits-and-licence>
        <mat-accordion *ngIf="collectionData">
            <mat-expansion-panel class="mat-app-background mt-16">
                <mat-expansion-panel-header>
                    <mat-panel-title tabindex="0" title class="mat-subheading-1 mb-0">
                        {{resourceService?.frmelmnts?.lbl?.collectionRelevantFor}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="mat-body-1 mb-4" *ngIf="collectionData?.se_boards">
                        <span class="font-weight-bold">{{resourceService?.frmelmnts?.lbl?.board | transposeTerms: 'frmelmnts.lbl.board' : resourceService?.selectedLang}}:&nbsp;</span>
                        <span>{{collectionData.se_boards}}</span>
                    </div>
                    <div class="mat-body-1 mb-4" *ngIf="collectionData?.se_mediums">
                        <span class="font-weight-bold">{{resourceService?.frmelmnts?.lbl?.medium  | transposeTerms: 'frmelmnts.lbl.medium' : resourceService?.selectedLang}}:&nbsp;</span>
                        <span>{{collectionData?.se_mediums?.join(', ')}}</span>
                    </div>
                    <div class="mat-body-1 mb-4" *ngIf="collectionData?.se_gradeLevels">
                        <span class="font-weight-bold">{{resourceService?.frmelmnts?.lbl?.class | transposeTerms: 'frmelmnts.lbl.class' : resourceService?.selectedLang}}:&nbsp;</span>
                        <span>{{collectionData.se_gradeLevels}}</span>
                    </div>
                    <div class="mat-body-1 mb-4" *ngIf="collectionData?.audience">
                        <span class="font-weight-bold">{{resourceService?.frmelmnts?.lbl?.userType}}:&nbsp;</span>
                        <span>{{collectionData?.audience?.join(', ')}}</span>
                    </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>