


<!-- add create group form -->
<sui-modal 
  [mustScroll]="true" 
  [isClosable]="true" 
  [transitionDuration]="0"
  [size]="'normal'" 
  class="sb-modal" 
  appBodyScroll 
  #createGroupModal 
  [appTelemetryImpression]="telemetryImpression"
  (dismissed)="closeModal()"
  >
  <div class="sb-modal-header">{{ resourceService.frmelmnts.lbl.createGroup }}</div>
  <div class="sb-modal-content o-y-visible">
    <div class="create-group-title pb-16">{{ resourceService.frmelmnts.lbl.enterFollowingInfo }}</div>
    <form class="sb-form" [formGroup]="groupForm">
      <div class="sb-field mb-16">
        <label>{{ resourceService.frmelmnts.lbl.groupName }}</label>
        <input class="sb-form-control" type="text" placeholder="{{ resourceService.frmelmnts.lbl.enterGroupName }}" formControlName="groupName" [ngClass]="{'is-invalid' : isFieldValid('groupName')}" maxlength="50">
        <small class="mt-4 pull-right sb-color-grey fxsmall"> {{50 - groupForm?.value?.groupName?.length}} Characters remaining</small>
        <small class="message sb-color-error font-weight-bold" *ngIf="isFieldValid('groupName')">{{ resourceService.frmelmnts.lbl.groupNameRequired }}</small>
      </div>
      <div class="sb-field mb-16">
        <label>Description</label>
        <textarea class="sb-form-control" rows="5" type="text" placeholder="Description" formControlName="groupDescription" [ngClass]="{'is-invalid' : isFieldValid('groupDescription')}" maxlength="150"
        placeholder="Enter a description to help members understand the purpose of the group"
        ></textarea>
        <small class="mt-4 pull-right sb-color-grey fxsmall">{{150 - groupForm?.value?.groupDescription?.length}} Characters remaining</small>
      </div>
      <div class="sb-field mt-24 my-8">
      <label class="d-flex flex-ai-center">
        <input type="checkbox" aria-labelledby="terms and agreement" role="checkbox" class="mr-8 cursor-pointer" formControlName="groupToc"
        [ngClass]="{'is-invalid' : isFieldValid('groupToc')}">
        <span class="font-weight-normal fnormal">I Agree to the group's <a href="https://staging.ntp.net.in/term-of-use.html " target="_blank" class="sb-color-primary">terms of services</a></span>
      </label>
      <small class="d-block message sb-color-error font-weight-bold mt-8 pl-20" *ngIf="isFieldValid('groupToc')">You have to agree to group's terms of service, before you proceed</small>
    </div>
    </form>
    <div class="sb-modal-actions">
      <button class="sb-btn sb-btn-primary sb-btn-normal flex-ai-jc-center mb-8" appTelemetryInteract 
      [telemetryInteractEdata]="submitInteractEdata" [telemetryInteractObject]="telemetryInteractObject" type="button"
      [disabled]="!groupForm.valid" [ngClass]="{'sb-btn-disabled': !groupForm.valid}"
      (click)="onSubmitForm()">
       <img src="./assets/images/icon_group.svg" width="24px" height="24px" class="mr-4">
        {{ resourceService.frmelmnts.lbl.createGroup }}
      </button>
    </div>

  </div>
</sui-modal>