<ng-container *ngIf="!showLoader && editorConfig">
  <ng-container *ngIf="editorConfig.config.objectType !== 'QuestionSet'">
      <lib-editor [editorConfig]="editorConfig" (editorEmitter)="editorEventListener($event)" ></lib-editor>
  </ng-container>
  <ng-container *ngIf="editorConfig.config.objectType === 'QuestionSet'">
    <lib-questionset-editor [editorConfig]="editorConfig" (editorEmitter)="editorEventListener($event)" ></lib-questionset-editor>
  </ng-container>
</ng-container>

<sui-dimmer class="page" *ngIf="showLoader" [isDimmed]="showLoader">
  <div class="ui text loader"><h2>Loading...</h2></div>
</sui-dimmer>
