@use "@angular/material" as mat;
@use 'sass:map';
// @use './../../../../../assets/styles/mat-themes/import-component-theme-config' as ictc;

@mixin mat-spinner-card($theme) {

   // Get the color config from the theme.
   $color-config: mat.get-color-config($theme);
   // Get the primary color palette from the color-config.
   $primary: map.get($color-config, 'primary');
   $accent: map.get($color-config, 'accent');
   $warn: map.get($color-config, 'warn');
   $background: map.get($color-config, 'background');
   $foreground: map.get($color-config, 'foreground');

  .mat-card.mat-spinner-card {
    // background-color: mat.get-color-from-palette($background, background);
    background: transparent;
    box-shadow: none;
  }
  .mat-card-title {
    // color: mat.get-color-from-palette($accent);
  }

  .mat-card-subtitle {
    margin-bottom: 0;
  }
  // .mat-card-content {
  //   font-size: 0.875rem;
  // }
  
}
