<div class="ui grid">
    <div class="eight wide column">
    </div>
    <div class="four wide column padding-top-none">
        <div class="ui form">
          <div class="field">
            <select ng-options="option.value as option.name for option in batch.statusOptions" ng-model="batch.status" ng-change="batch.listBatches()" id="batchStatusOptions">
            </select>
          </div>
        </div>
    </div>
</div>
<div class="ui three stackable cards">
    <div class="link card mouse-pointer" ng-repeat="batchdata in batch.batchList track by $index">
        <div class="image imageInCardsResponsive" ng-click="batch.showUpdateBatchModal(batchdata)">
            <div class="ui top right attached black label">Batch of {{batchdata.users.length}}</div>
            <div class="ui fluid image">
                <img ng-src="../images/sunbird_logo.png">
            </div>
            <div class="cardImageText center aligned sliderCardHeading text-cencapitalize">              
                {{batchdata.name}}
            </div>
        </div>
        <div class="sliderCards content sliderCardSubDesc">
            By User Name <br/>
            {{batchdata.startdate | date: "dd MMM"}} - {{batchdata.enddate | date: "dd MMM"}}
        </div>
    </div>
</div>
<div class="ui grid padding-topBottom-35">
    <div class="four wide column">
    </div>
    <div class="three wide column ">
    </div>
    <div class="five wide column">
        <div class="ui pagination menu float-ContentRight">
            <a class="icon item">
                <i class="left arrow icon"></i>
            </a>
            <a class="active item">
            1
            </a>
            <div class="disabled item">
                ...
            </div>
            <a class="item">
            10
            </a>
            <a class="item">
            11
            </a>
            <a class="item">
            12
            </a>
            <a class="icon item">
               <i class="right arrow icon"></i>
            </a>
        </div>
    </div>
</div>