<div class="ui card">
    <div class="header batchCardAlign">
      <span class="header headerBatchCard">Batches</span>
        <a>
          <div class="ui dropdown batchCardDropDown">
            <div class="text">Ongoing</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">New</div>
              <div class="item">
                <span class="description">ctrl + o</span> Open...
              </div>
            </div>
          </div>
        </a>
    </div>
  <div class="content batchcardListContent" id="batchcardList">    
    <div class="description">
      <div class="ui divided list">
        <div class="item padding-top-10">
          <i class="write icon float-ContentRight cursor-pointer"></i>
          <i class="calendar outline icon"></i>
          <div class="content padding-bottom-15">
            <span class="header padding-bottom-5">7 Aug - 20 Aug</span>
            <div class="description">Created by Ramgopal Sharma </div>
          </div>
        </div>
        <div class="item padding-top-10">
          <i class="calendar outline icon"></i>
          <div class="content padding-bottom-15">
            <span class="header padding-bottom-5">7 Aug - 20 Aug</span>
            <div class="description">Created by Ramgopal Sharma </div>
          </div>
        </div>
        <div class="item padding-top-10">
          <i class="calendar outline icon"></i>
          <div class="content padding-bottom-15">
            <span class="header padding-bottom-5">7 Aug - 20 Aug</span>
            <div class="description">Created by Ramgopal Sharma </div>
          </div>
        </div>
        <div class="item padding-top-10">
          <i class="calendar outline icon"></i>
          <div class="content padding-bottom-15">
            <span class="header padding-bottom-5">7 Aug - 20 Aug</span>
            <div class="description">Created by Ramgopal Sharma </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui bottom attached batchCard button">
      <a><i class="add icon"></i>
      Create Batch</a>
  </div>
</div>