<div class="header padding-top-10">
  <div class="ui grid">
    <div class="one wide column"></div>
    <div class="ten wide column">
      <img class="ui tiny image centered batchHeader-logo" ng-src="{{orgLogo || '/images/sunbird_logo.png'}} ">
      <div class="actions right-float" onClick="$('#enrollToCourse').dropdown('restore defaults');$('#batchDetails').iziModal('close');">
        <h5 class="ui basic icon circular button deny">
                <i class="ui remove icon"></i>
            </h5>
      </div>
    </div>
    <div class="one wide column"></div>
  </div>
</div>
<div class="ui divider"></div>
<div class="ui grid">
  <div class="one wide column"></div>
  <div class="ten wide column">
    <div class="content">
      <div class="ui grid padding-top-20">
        <!-- <div class="one wide column"></div> -->
        <div class="two wide column ">
          <div class="ui card float right">
            <div class="ui fluid image">
              <img ng-src="../images/sunbird_logo.png">
            </div>
          </div>
        </div>
        <div class="ten wide column padding-left-25">
          <div class="ui grid">
            <div class="eight wide column">
              <h5 class="padding-top-10">Batch Name</h5>
            </div>
            <div class="four wide column">
              <div class="ui fluid blue right floated  ui button margin-top-0" id="enrollToCourse">
                <span class="text">ENROLL TO COURSE</span>
              </div>
            </div>
          </div>
          <div class="batch-des padding-top-30  ">
            <label>DESCRIPTION OF BATCH</label>
            <div class="des-content">Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus… <span class="ui cardsKnowMore mouse-pointer">Read More ...</span> </div>
          </div>
          <div class="ui grid batch-date padding-top-30">
            <div class="six wide column  start-date">
              <label>START DATE</label><span class="padding-left-10">12 July 2017</span></div>
            <div class="six wide column  end-date">
              <label>END DATE</label><span class="padding-left-10">12 August 2017</span></div>
          </div>
          <div class="member padding-top-30 ">
            <label>MEMBERS OF BATCH</label>
          </div>
          <div class="ui very relaxed list padding-top-10 batch-list-items">
            <div class="item">
              <img class="ui avatar image" src="images/user_logo.png">
              <div class="content padding-top-10">
                <div class="header">Tom</div>
                National School for children, Pune
              </div>
            </div>
            <div class="item">
              <img class="ui avatar  image" src="images/user_logo.png">
              <div class="content padding-top-10">
                <div class="header">Christian Rocha</div>
                National School for children, Pune
              </div>
            </div>
            <div class="item">
              <img class="ui avatar  image" src="images/user_logo.png">
              <div class="content padding-top-10">
                <div class="header">Matt</div>
                National School for children, Pune
              </div>
            </div>
          </div>
        </div>
       <!--  <div class="one wide column"></div> -->
      </div>
    </div>
  </div>
  <div class="one wide column"></div>
