
<div *ngFor="let field of formFieldProperties;let i = index" class="{{field.renderingHints.semanticColumnWidth || 'twelve'}} wide column py-4">
  <div *ngIf="field.inputType==='text' || field.inputType==='number'" [ngClass]="{ 'disabled':!field.editable}">
    <mat-label>{{field.label}} <span class="sb-color-red" *ngIf="(field.required == true)">*</span></mat-label>
    <mat-form-field class="w-100">
      <input matInput placeholder="{{field.label}}" name={{field.code}} type={{field.inputType}} [(ngModel)]="formInputData[field.code]" autofocus>
    </mat-form-field>
  </div>

  <div *ngIf="field.inputType==='select' && field.code!='year' && field.code!='contentType'">
    <mat-label>{{field.label}} <span class="sb-color-red" *ngIf="(field.required == true)">*</span></mat-label>
    <mat-form-field appearance="fill" class="sb-mat__dropdown w-100">
      <mat-select id={{field.code}} [disabled]="!field.editable" name={{field.code}} class="selection" [(ngModel)]="formInputData[field.code]" (ngModelChange)="updateForm({index:i, field:field, value:formInputData[field.code],formData:formInputData})"
      aria-label="{{field.label}}">
        <mat-option class="mat-dropdown__options" role="option" *ngFor="let option of categoryList[field.code]" [value]="option.name"
        attr.aria-label="{{option.name}}">{{option.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="field.inputType==='select' && field.code==='contentType'">
    <mat-label>{{field.label}} <span class="sb-color-red" *ngIf="(field.required == true)">*</span></mat-label>
    <mat-form-field appearance="fill" class="sb-mat__dropdown w-100">
      <mat-select id={{field.code}} [options]="categoryList[field.code]" [disabled]="!field.editable" name={{field.code}} class="selection" [(ngModel)]="formInputData[field.code]" (ngModelChange)="updateForm({index:i, field:field, value:formInputData[field.code],formData:formInputData})"
      aria-label="{{field.label}}">
        <mat-option class="mat-dropdown__options" role="option" *ngFor="let option of categoryList[field.code]" [value]="option"
        attr.aria-label="{{option}}">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="field.inputType==='multiSelect'" class="sb-field-group" [ngClass]="{ 'disabled':!field.editable}">
    <label>{{field.label}} <span class="sb-color-red" *ngIf="(field.required == true)">*</span></label>
    <div class="sb-field">
      <mat-form-field appearance="fill" class="sb-mat__dropdown w-100 mb-16">
        <mat-select id={{field.code}} name={{field.code}} class="selection" [(ngModel)]="formInputData[field.code]" 
        labelField="name" valueField="name"
        (ngModelChange)="updateForm({index:i, field:field, value:formInputData[field.code],formData:formInputData})"
        [options]="categoryList[field.code]" multiple>
          <mat-option *ngFor="let option of multiSelect.filteredOptions" [value]="option">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="field.code==='year'">
    <mat-label>{{field.label}} <span class="sb-color-red" *ngIf="(field.required == true)">*</span></mat-label>
    <mat-form-field appearance="fill" class="sb-mat__dropdown w-100">
      <mat-select id={{field.code}} [disabled]="!field.editable" name={{field.code}} class="selection" [(ngModel)]="formInputData[field.code]"
      aria-label="{{field.label}}">
        <mat-option class="mat-dropdown__options" role="option" *ngFor="let option of years" [value]="option"
        attr.aria-label="{{option}}">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- <div *ngIf="field.code==='concept'" class="field" [ngClass]="{ 'disabled':!field.editable}">
      <form class="conceptSelector ui form">
          <label>{{field.label}}</label>
        <app-concept-picker [selectedConcepts]="formInputData[field.code]" [conceptPickerClass]="'content-creation-concept-picker'" (Concepts)="concepts($event)"></app-concept-picker>
      </form>
    </div> -->
</div>
