<div [appTelemetryImpression]="telemetryImpression">
    <app-loader *ngIf="showLoader"></app-loader>
    <div *ngIf="!showLoader" class="d-flex flex-dc">
        <div>
            <span class="mat-body-2">{{resourceService?.frmelmnts?.lbl?.orgtypes}}</span>
            <a mat-button id="addOrgType" [routerLink]="['create']" appTelemetryInteract [telemetryInteractEdata]="addOrganizationType">
                <mat-icon>add</mat-icon>
            </a>
        </div>
        <a mat-button class="mt-5" *ngFor="let orgnisation of orgTypes;" appTelemetryInteract
                [telemetryInteractObject]="{id:orgnisation.id,type:'Organization',ver:'1.0'}"
                [telemetryInteractEdata]="updateOrganizationType">
                {{orgnisation.name}} <mat-icon [routerLink]="['update/' + orgnisation.id]">edit</mat-icon>
            </a>
    </div>
</div>

<router-outlet></router-outlet>