.ui.card{
    width: 292px;
    height:300px;
    margin: 20px 30px 0 0;
    border: 0.5px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.ui.card:hover{
    border: 0.5px solid #dedede;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.16);;
    -webkit-transform: translateY(-1px);
    transform: translateY(-2px);
}
.ui.card>.content{
    padding: 15px;
}
.ui.image {
    width: 70px;
    height: 92px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    border-radius: 4px;
    border: 0.5px solid #d0d0d0;
}
.ui.progress{
    border-radius: 0;
    background-color: #d4e4e1;
}
.ui.progress .bar{
    background-image: linear-gradient(to left, #2971a5, #0d9276);
    border-radius: 0 4px 4px 0;
    height: 4px;
}