<sui-modal class="fullpage" [size]="'fullscreen'" [isClosable]="'false'" #modal [mustScroll]="'true'">
  <div class="ui raised shadow container segment">
    <i class="close icon link" (click)="modal.deny()"></i>
    <!-- <img src="../../../../../assets/images/diksha-gov.svg" alt="diksha" height="60px" width="86px" class="mx-auto d-flex flex-jc-center mb-30"> -->
    <div class="width-300 mx-auto">
      
      <div class="fs-1 font-weight-bold mb-20 text-ac">Sign Up</div>
        <form class="ui form borderd" [formGroup]="signUpForm" autocomplete="off" id="signUpForm">
          <label class="ui basic blue error label pt-0" *ngIf="signUpForm.controls.name.touched && signUpForm.controls['name'].errors">Please enter your first and last name</label>
          <div class="required field mb-20">
            <label class="mb-10" *ngIf="!(signUpForm.controls.name.touched && signUpForm.controls['name'].errors)">Name</label>
            <input [ngClass]="{'orange-border': signUpForm.controls.name.touched && signUpForm.controls['name'].errors}" formControlName="name" type="text" name="name" placeholder="Full name">
          </div>
          <div class="required field mb-20"><label class="pt-0" *ngIf="!(signUpForm.controls.phone.touched && signUpForm.controls['phone'].errors) && !(signUpForm.controls.email.touched && signUpForm.controls['email'].errors)">Please enter Phone number or Email ID</label></div>
          <label class="ui basic blue error label pt-0" *ngIf="signUpForm.controls.phone.touched && signUpForm.controls['phone'].errors">Please enter a valid 10 digit Phone Number</label>
          <label class="ui basic blue error label pt-0" *ngIf="signUpForm.controls.email.touched && signUpForm.controls['email'].errors">Please enter a valid Email Id</label>
          <div class="inline fields mt-10 mb-10" id="Mandatory">
            <div class="field">
              <div class="ui radio checkbox" (click)="showContact='phone'">
                <input type="radio" checked="checked" value="phone" formControlName="contactType" role="phone" id="phoneNumber" aria-labelledby="Mandatory">
                <label for="phoneNumber" class="pl-20">Phone Number</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox" (click)="showContact='email'">
                <input type="radio" formControlName="contactType" value="email" role="email" id="email" aria-labelledby="Mandatory">
                <label for="email" class="pl-20">Email ID</label>
              </div>
            </div>
          </div>
          <div class="field" *ngIf="showContact === 'email'">
            <input type="email" [ngClass]="{'orange-border': signUpForm.controls.email.touched && signUpForm.controls['email'].errors}" formControlName="email" name="email" placeholder="Email id">
          </div> 
          <div class="field" *ngIf="showContact === 'phone'">
              <div class="ui left icon input">
                <input [ngClass]="{'orange-border': signUpForm.controls.phone.touched && signUpForm.controls['phone'].errors}" formControlName="phone" type="number" name="phone" placeholder="10 digit phone number">
                <i class=" icon">+91-</i>
            </div>
          </div>   
          <label class="ui basic blue error label pt-0" *ngIf="signUpForm.controls.password.touched && signUpForm.controls['password'].errors">Please enter a password</label>        
          <div class="required field mb-20">
            <label class="mb-10" *ngIf="!(signUpForm.controls.password.touched && signUpForm.controls['password'].errors)">Password</label>
            <div class="ui icon input">
                <input [ngClass]="{'orange-border': signUpForm.controls.password.touched && signUpForm.controls['password'].errors}" [type]="showPassword ? 'text' : 'password'" formControlName="password" name="password" placeholder="Use 8 or more characters">
                <i class="search link icon" (click)="displayPassword()"></i>
            </div>
          </div>
          <label class="ui basic blue error label pt-0" *ngIf="signUpForm.controls.confirmPassword.touched && signUpForm.controls['confirmPassword'].errors">Please confirm password</label> 
          <div class="required field mb-20">
            <label class="mb-10" *ngIf="!(signUpForm.controls.confirmPassword.touched && signUpForm.controls['confirmPassword'].errors)">Confirm Password</label>
            <input [ngClass]="{'orange-border': signUpForm.controls.confirmPassword.touched && signUpForm.controls['confirmPassword'].errors}" formControlName="confirmPassword" type="password" name="confirmPassword" placeholder="Re-enter the password">
          </div>
          <div class="two fields">
            <div class="field">
              <input type="text" name="cap">
            </div>
            <div class="field">
              <input type="text" name="recap">
            </div>
          </div>
        </form>
      <button [ngClass]="{'grey':disableSubmitBtn, 'light-sea-green':!disableSubmitBtn}" class="ui button width-300 mt-10" tabindex="0" (click)="onSubmitSignUpForm()">Sign Up</button>
      
      
      
      
      
      
      <!-- <div class="mt-40">
            <p class="grey text text-ac mb-50">Thank you for signing up.<br>
              You will receive an Email with the OTP for<br>
              mobile number verification.</p>
          <div class="fs-1 font-weight-bold text-ac mb-50">Enter OTP</div>
          <form class="ui form borderd mb-20">
            <div class="field">
                <input type="password" name="confirmPassword">
            </div>
          </form>       
          <div class="fs-1 text-ac blue text mb-50 cursor-pointer" role="button" tabindex="0" >Resend OTP</div>
          <button class="ui light-sea-green button width-300" tabindex="0">Submit OTP</button>
      </div>
        <div class="mt-40">
            <div class="orange text fs-1 text-ac mb-50 line-height-1-3">Unable to verify mobile number?<br> 
              Please <span class="fs-1 blue text font-weight-bold cursor-pointer" role="button" tabindex="0" >Sign Up</span> again</div>
            <div class="fs-1 font-weight-bold text-ac mb-50">Enter OTP</div>
            <form class="ui form borderd mb-20">
                <div class="field">
                    <input type="number" name="confirmPassword">
                </div>
            </form>       
              <div class="fs-1 text-ac blue text mb-50 cursor-pointer" role="button" tabindex="0" >Resend OTP</div>
              <button class="ui light-sea-green button width-300" tabindex="0">Submit OTP</button>
        </div>         
    </div>
  </div> -->
