@import 'mixins/mixins';

.content-header {
    margin-bottom: 20px;
    background: var(--groups-content-header);
    min-height: calculateRem(14px);
  
      &__content{
          display:flex;
          align-items: center;
          justify-content: space-between;
          @include respond-below(sm) {
            display: block;
          }
      }
      
      &__title {
          color: var(--primary-400);
          font-size: calculateRem(18px);
      }
      &__info {
        color: var(--gray-800);
        font-size: calculateRem(14px);
    }
    &__buttons {
     position: relative;
    }
    @include respond-below(sm) {
      &__buttons {
        margin-top: calculateRem(8px);
      }
    }
  }

  .group-name {
    font-family: Noto Sans Regular;
    line-height: 24px;
    color: #024F9D;
    font-size: 1.25rem;
  }