@import "variables";
@import "mixins/mixins";

.content-header {
  background: var(--rc-FAFAFA);
  min-height: calculateRem(14px);
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include respond-below(sm) {
      display: block;
    }
  }
  &__img {
    width: calculateRem(48px);
    height: calculateRem(48px);
    overflow: hidden;display: flex;
    align-items: center;
    justify-content: center;
    img {
      width:100%;
    }
  }
  &__title {
    color: var(--primary-400);
    font-size: calculateRem(18px);
  }
  &__info {
    color: var(--gray-800);
    font-size: calculateRem(14px);
  }
  .dot-divider {
    width: ($base-block-space / 2);
    height: ($base-block-space / 2);
    border-radius: 100%;
    background-color: var(--gray-800);
    display: inline-block;
    margin: 0px $base-block-space;
  }
}

.devided-line {
  border-bottom: calculateRem(0.5px) solid var(--gray-100);
}
.member-no-result {
  .no-result-text {
    font-size: calculateRem(14px);
  }
  .no-result-desc {
    font-size: calculateRem(12px);
    color: var(--gray-200);
  }
}

//nested group css
.nested-group-content {
  border-radius: calculateRem(8px);
  background-color: var(--white);
  box-shadow: 0 calculateRem(3px) calculateRem(5px) calculateRem(4px) rgba(0, 0, 0, 0.05);
  position: relative;
  .nested-course-area {
    border-bottom: calculateRem(1px) solid var(--gray-100);
  }
  .dropdown-content {
    position: absolute;
    z-index: 999;
    background: var(--white);
    width: 100%;
    box-shadow: 0 0.1875rem 0.3125rem 0.25rem rgba(0, 0, 0, 0.05);
    .members-group-list {
      cursor: pointer;
      width: 100%;
      span {
        font-size: calculateRem(16px);
        padding-left: calculateRem(8px);
      }
      .members-group-list-item {
        position: relative;
        .member-name {
          color: $gray-800;
          font-size: calculateRem(16px);
          letter-spacing: 0;
          line-height:normal; //20px
          flex: 1;
          text-align: left;
          margin-bottom: calculateRem(24px);
          &:last-child {
            margin-bottom:0px;
          }
        }
      }
    }
  }   
}