<div class="sbt-back-header sbt-center-container">
  <app-back-button></app-back-button>
  <div class="content-header">
    <div class="ui container pb-16">
      <div class="d-flex flex-ai-center flex-jc-space-between flex-w-wrap">
        <div class="flex-basis-1 mr-32">
          <div class="content-header__title pl-12 font-weight-bold sb__ellipsis sb__ellipsis--one d-flex">
            <div class="group-name" *ngIf="activity && activity.name">{{activity?.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui container py-16" *ngIf="isLoader">
    <app-loader [data]='loaderMessage'></app-loader>
  </div>
  <div class="ui-container" *ngIf="!isLoader && data.values && data.values.length > 0">
      <sb-dashlet [type]="'table'" [data]="data" [config]="config" #lib>
          <ng-template sbTemplateRef="header" let-config>
              <div role="alert">
                <button type="button" class="btn btn-outline-primary float-end"
                  (click)="lib?.instance?.exportAs('csv');downloadCSV()">DownloadCSV</button>
              </div>
            </ng-template>
      </sb-dashlet>
  </div>
</div>
