<div class="ui divided searchListInfo items">
    <div class="item userSearchCardHover " ng-repeat="org in admin.searchResult" ng-if="$root.search.selectedSearchKey=='Organisations'" in-view="$root.lineInView($index, $inview, org, 'Organizations')" in-view-options="{ throttle: 1000 }">
        <div class="ui tiny image userSearchImage ">
            <img ng-src="{{org.imgUrl|| '/common/images/userOrganization.png'}} ">
        </div>
        <div class="content ">
            <a class="header ">{{or.orgName}}</a>
            <div class="description ">
                <p>{{org.description}}</p>
            </div>
            <div class="extra ">
                <div ng-include=" 'views/admin/updateRoleModal.html' "></div>
                <div class="ui label " ng-if="org.orgType">Org Type:{{org.orgType}}</div>
                <div class="ui label " ng-if="org.orgCode">org code:{{org.orgCode}}</div>
                <div class="ui label " ng-if="org.isRootOrg">Root organisation</div>
                <div class="ui label " ng-if="org.status===0">{{$root.frmelmnts.lbl.inactive}}</div>
                <div class="ui label " ng-if="org.status===1">{{$root.frmelmnts.lbl.active}}</div>
                <div class="ui label " ng-if="org.status===2">{{$root.frmelmnts.lbl.blocked}}</div>
                <div class="ui label " ng-if="org.status===3">{{$root.frmelmnts.lbl.retired}}</div>
            </div>
        </div>
    </div>
</div>