@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.ui.popup::after {
   background-color: var(--rc-007AFF) !important;
   background:var(--rc-007AFF) !important
}
.gray-shade {
   margin: calculateRem(10px) calculateRem(-16px) 0px calculateRem(-16px);
   background: var(--gray-0);
   padding-left: calculateRem(16px);
   font: caption;
   font-size: calculateRem(15px);
   font-weight: bold;
   padding-top: calculateRem(5px);
   padding-bottom: calculateRem(7px);
}