.ui.popup::after {
   background-color: #007AFF !important;
   background:#007AFF !important
}
.gray-shade {
   margin: 10px -16px 0px -16px;
   background: #f2f2f2;
   padding-left: 16px;
   font: caption;
   font-size: 15px;
   font-weight: bold;
   padding-top: 5px;
   padding-bottom: 7px;
}