<app-modal-wrapper [config]="{disableClose: true, size: 'small', width: '30rem'}" (dismiss)="closeModal(contentCreditsModal)"
  #contentCreditsModal>
  <ng-template sbModalContent>
    <!--Header-->
    <div mat-dialog-title class="mb-0">
      <h2 class="mb-0">{{resourceService?.frmelmnts?.lbl?.credits | uppercase}}
      </h2>
      <button mat-mini-fab color="warn" class="ml-auto" aria-label="close dialog"
        mat-dialog-close><mat-icon>close</mat-icon></button>
    </div>
    <!--/Header-->

    <!--Content-->
    <mat-dialog-content>
      <div class="ui list">
        <div class="item mt-10" *ngIf="contentData.copyright">
          <div class="header text-gray">{{resourceService.frmelmnts.lbl.copyRight | uppercase}}</div>
          <div class="mt-5">{{contentData.copyright}}
            <span *ngIf="contentData.copyrightYear">,&nbsp;{{contentData.copyrightYear}}</span>
          </div>
        </div>
        <div class="item mt-10" *ngIf="contentCreditsData.attributions">
          <div class="header text-gray">{{resourceService?.frmelmnts?.lbl?.attributions | uppercase}}</div>
          <div class="mt-5">{{contentCreditsData.attributions}}</div>
        </div>
        <div class="item" *ngIf="contentData && contentData.originData && (contentData['contentType'] === 'Course')">
          <div class="gray-shade mt-10">
            {{resourceService.frmelmnts.lbl?.contentcopiedtitle}}
          </div>
          <div class="item mt-10">
            <div class="header text-gray">{{resourceService.frmelmnts.lbl?.contenttype | uppercase}}</div>
            <div class="mt-5">{{contentData.originData.name}}</div>
          </div>
          <div class="item mt-10" *ngIf="contentData?.originData?.author">
            <div class="header text-gray">{{resourceService.frmelmnts.lbl?.authorofsourcecontent | uppercase}}
            </div>
            <div class="mt-5">{{contentData.originData.author}}</div>
          </div>
          <div class="item mt-10">
            <div class="header text-gray">{{resourceService.frmelmnts.lbl?.licenseTerms | uppercase}}</div>
            <div class="mt-5">{{contentData.originData.license}}</div>
          </div>
          <div class="item mt-10">
            <div class="header text-gray">
              {{resourceService.frmelmnts.lbl?.publishedOnInstanceName | interpolate:'{instance}': instance |
              uppercase}}</div>
            <div class="mt-5">{{contentData.originData.organisation[0]}}</div>
          </div>
        </div>
        <!-- Reverted -->
        <!-- If content credits / originData  unavailable -->
        <!-- <div class="item mt-10" *ngIf="contentData && !contentData.originData && !contentData.copyright && !contentCreditsData.attributions">
        <div class="mt-5">{{resourceService?.frmelmnts?.lbl?.noCreditsAvailable}}</div>
      </div> -->
        <!-- If content credits / originData  unavailable -->
      </div>
    </mat-dialog-content>
    <!--/Content-->

  </ng-template>
</app-modal-wrapper>