<app-modal-wrapper [config]="{disableClose: true, width: '30rem', panelClass: 'material-modal'}" (dismiss)="closeModal(contentCreditsModal)"
  #contentCreditsModal>
  <ng-template sbModalContent>
    <!--Header-->
    <div mat-dialog-title class="mb-0">
      <h2 class="mb-0">{{resourceService?.frmelmnts?.lbl?.credits | uppercase}}
      </h2>
      <button mat-mini-fab color="warn" class="ml-auto" aria-label="close dialog"
        mat-dialog-close><mat-icon>close</mat-icon></button>
    </div>
    <!--/Header-->

    <!--Content-->
    <mat-dialog-content>
      <div class="mt-10" *ngIf="contentData.copyright">
        <div class="title mat-caption">{{resourceService.frmelmnts.lbl.copyRight | uppercase}}</div>
        <div class="mt-5">{{contentData.copyright}}
          <span *ngIf="contentData.copyrightYear">,&nbsp;{{contentData.copyrightYear}}</span>
        </div>
      </div>
      <div class="mt-10" *ngIf="contentCreditsData.attributions">
        <div class="title mat-caption">{{resourceService?.frmelmnts?.lbl?.attributions | uppercase}}</div>
        <div class="mt-5">{{contentCreditsData.attributions}}</div>
      </div>
      <div *ngIf="contentData && contentData.originData && (contentData['contentType'] === 'Course')">
        <div class="gray-shade mt-10">
          {{resourceService.frmelmnts.lbl?.contentcopiedtitle}}
        </div>
        <div class="mt-10">
          <div class="title mat-caption">{{resourceService.frmelmnts.lbl?.contenttype | uppercase}}</div>
          <div class="mt-5">{{contentData.originData.name}}</div>
        </div>
        <div class="mt-10" *ngIf="contentData?.originData?.author">
          <div class="title mat-caption">{{resourceService.frmelmnts.lbl?.authorofsourcecontent | uppercase}}
          </div>
          <div class="mt-5">{{contentData.originData.author}}</div>
        </div>
        <div class="mt-10">
          <div class="title mat-caption">{{resourceService.frmelmnts.lbl?.licenseTerms | uppercase}}</div>
          <div class="mt-5">{{contentData.originData.license}}</div>
        </div>
        <div class="mt-10">
          <div class="title mat-caption">
            {{resourceService.frmelmnts.lbl?.publishedOnInstanceName | interpolate:'{instance}': instance |
            uppercase}}</div>
          <div class="mt-5">{{contentData.originData.organisation[0]}}</div>
        </div>
      </div>
    </mat-dialog-content>
    <!--/Content-->

  </ng-template>
</app-modal-wrapper>