@import 'variables';
@import 'mixins/mixins';

.content-metadeta {
  &__content {
    border-bottom: calculateRem(1px) solid var(--gray-100);
  }

  &__title {
    color: var(--gray-200);
  }

  &__text {
    color: var(--gray-800);

    &__link:hover {
      text-decoration: underline;
    }
  }
}

:host ::ng-deep {
  .ui.styled.accordion .title {
    color: var(--primary-400) !important;
  }

  .ui.styled.accordion .active.title,
  .ui.styled.accordion .accordion .active.title {
    padding: calculateRem(16px) calculateRem(16px) calculateRem(8px) calculateRem(16px) !important;
  }

  .ui.accordion .active.title .chevron.down.icon {
    position: relative;
    top: calculateRem(8px);
  }

}

.contentdata-description {
  border-bottom: calculateRem(0.5px) solid var(--rc-979797);
}

.credits-section {
  background-color: var(--white);
  padding: calculateRem(16px);

  .title {
    color: var(--gray-200);
    font-size: calculateRem(10px);
    font-weight: bold;
    word-wrap: break-word;
  }

  .description {
    color: var(--gray-800);
    font-size: calculateRem(14px);
    word-wrap: break-word;
  }

  .sub-section {
    color: var(--primary-color);
    font-size: calculateRem(14px);
    word-wrap: break-word;
  }

  .title,
  .description,
  .sub-section {
    line-height: inherit;
  }
}
.about-content{
  background: transparent !important;
}
.content-glance{
  background: transparent;

}
.content-description{
  display: flex !important;

}
.viewer-version{
    border-radius: 10px;
    max-height: 1000px;
    // overflow-y: scroll;
    // border: 2px green solid;
    width: 100%;
    background: #925EB01F;
}
.content-description-allign{
  flex: 1;

}




.info-container {
  // padding: $size-s $size-m;
  // margin-bottom: $size-m;

  padding: 32px 64px!important;
    // border-radius: 0;
    // background: rgba(146,94,176,.12)!important;

  // .info-item {
  //   display: flex;
  //   align-items: center;
  //   padding: $size-xs 0;
  //   box-sizing: border-box;

  //   h3 {
  //     margin: 0;
  //   }

  //   .item-heading {
  //     width: 50%;
  //     min-width: 80px;
  //     max-width: 140px;
  //   }

  //   // .item-icon {
  //   //   $icon-size: 20px;
  //   //   width: $icon-size;
  //   //   height: $icon-size;
  //   //   font-size: $icon-size;
  //   //   margin-left: $size-xs;
  //   // }
  // }
}
.break-word {
  word-wrap: break-word;
  hyphens: auto;
}
.pt-40{
  padding: 31px 40px!important;
}
.w-full {
  width: 100%;
}
.font-design{
  font-family: Montserrat !important;
  font-size: 14px !important;
font-stretch: 100% !important;
font-style: normal !important;
font-weight: 300 !important;
}

.title-font{
font-weight: 700!important;
    margin: 0!important;
    font-size: 1.125rem;
    color: #925eb0!important;
}