<div class="w-full section-right pb-4 md:pb-0 atglancecard md:w-1/3">
  <mat-card
    class="viewer-version font-montserrat ws-mat-primary-lite-background-on-day info-container break-word pt-40 mat-card ng-star-inserted font-design">
    <!-- <div *ngIf="contentData.description" class="content-metadeta  mt-8 text-left">
      <div class="py-16 content-metadeta__content">
        <h2 class="font-weight-bold title-font">
          {{resourceService?.frmelmnts?.lbl?.description}}</h2>
        <p class="content-metadeta__text fnormal pt-8">
          {{contentData?.description}}
        </p>
      </div>

    </div> -->

    <div class="styled fluid sb-accordion about-content">
      <!-- <sui-accordion-panel> -->
      <h2 title class="sb-accordion-title px-4 title-font">
        {{resourceService?.frmelmnts?.lbl?.aboutTheContent}}
        <!-- <i class="chevron down icon ml-8"></i> -->
      </h2>
      <div content class="sb-accordion-content pt-0 pb-8 px-4">


        <div class="py-8 content-description" *ngIf="contentData?.author">
          <div class="fxsmall mb-4 content-description-allign font-design">
            {{resourceService?.frmelmnts?.lbl?.author}}</div>
          <div class="content-metadeta__text  fnormal content-description-allign font-design">{{contentData?.author}}
          </div>
        </div>
        <div class="py-8 content-description" *ngIf="attributions">
          <div class="fxsmall mb-4 content-description-allign font-design">
            {{resourceService?.frmelmnts?.lbl?.attributions}}</div>
          <div class="content-metadeta__text  fnormal content-description-allign font-design">{{attributions}}</div>
        </div>
        <div class="py-8 content-description" *ngIf="contentData?.license">
          <div class="fxsmall mb-4 content-description-allign font-design">
            {{resourceService?.frmelmnts?.lbl?.licenseTerms}}</div>
          <div class="content-metadeta__text  fnormal content-description-allign font-design">{{contentData.license}}
          </div>
        </div>
        <div class="py-8 content-description" *ngIf="contentData?.licenseDetails?.name">
          <div class="fxsmall mb-4 content-description-allign font-design"></div>
          <div class="content-metadeta__text  fnormal content-description-allign font-design"
            *ngIf="contentData?.licenseDetails?.name">
            {{contentData.licenseDetails['name']}} {{contentData.licenseDetails['description']}}&#x200E; <br />
            <span *ngIf="contentData.licenseDetails['url']">
              <a href="{{contentData.licenseDetails['url']}}" class="break-all"
                target="_blank">{{contentData.licenseDetails['url']}}</a>
            </span>
          </div>
        </div>
        <div class="py-8 content-description" *ngIf="contentData?.copyright">
          <div class="fxsmall mb-4 content-description-allign font-design">
            {{resourceService?.frmelmnts?.lbl?.copyRight}}</div>
          <div class="content-metadeta__text  fnormal content-description-allign font-design">
            {{contentData?.copyright}}<span
              *ngIf="contentData?.copyrightYear content-description-allign">,&nbsp;{{contentData?.copyrightYear}}</span>
          </div>
        </div>


        <div class="py-8 content-description" *ngIf="contentData?.createdOn">
          <div class="fxsmall mb-4 content-description-allign font-design">
            {{resourceService?.frmelmnts?.lbl?.createdon}}</div>
          <div class="content-metadeta__text  fnormal content-description-allign font-design">
            {{contentData?.createdOn | dateFormat}}</div>
        </div>
        <div class="py-8 content-description" *ngIf="contentData?.lastUpdatedOn">
          <div class="fxsmall mb-4 content-description-allign font-design">
            {{resourceService?.frmelmnts?.lbl?.updatedon}}</div>
          <div class="content-metadeta__text  fnormal content-description-allign font-design">
            {{contentData?.lastUpdatedOn | dateFormat}}
          </div>

        </div>


        <div class="content-description" *ngIf="contentData.originData">
          <div class="content-metadeta__text fnormal sb-color-primary-400 content-description-allign font-design"
            *ngIf="contentData?.originData">
            {{resourceService?.frmelmnts?.lbl?.contentcopiedtitle}}</div>
          <div class="py-8 content-description" *ngIf="contentData?.originData?.name">
            <div class="fxsmall mb-4 content-description-allign font-design">
              {{resourceService?.frmelmnts?.lbl?.desktop.content}}
            </div>
            <div class="content-metadeta__text  fnormal content-description-allign font-design">
              {{contentData?.originData?.name}}
            </div>
          </div>
          <div class="py-8 content-description" *ngIf="contentData?.originData?.author">
            <div class="fxsmall mb-4 content-description-allign font-design">
              {{resourceService?.frmelmnts?.lbl?.desktop.authorOfSourceContent}}</div>
            <div class="content-metadeta__text  fnormal content-description-allign font-design">
              {{contentData?.originData?.author}}
            </div>
          </div>
          <div class="py-8 content-description" *ngIf="contentData?.originData?.license">
            <div class="fxsmall mb-4 content-description-allign font-design">
              {{resourceService?.frmelmnts?.lbl?.licenseTerms}}</div>
            <div class="content-metadeta__text  fnormal content-description-allign font-design">
              {{contentData?.originData?.license}}
            </div>
          </div>




          <div class="py-8 content-description" *ngIf="contentData?.originData?.organisation">
            <div class="fxsmall mb-4 content-description-allign font-design"
              [innerHTML]="resourceService.frmelmnts.lbl?.publishedOnInstanceName | interpolate:'{instance}': instance">
            </div>
            <div class="content-metadeta__text  fnormal content-description-allign font-design"
              *ngIf="contentData?.originData?.organisation">
              {{contentData?.originData?.organisation.join(', ')}}</div>
            <a *ngIf="contentData?.orgDetails?.email"
              href="mailto:{{contentData.orgDetails?.email}}?subject={{contentData.name}}">{{contentData.orgDetails?.email}}</a>
          </div>
        </div>


      </div>
      <!-- </sui-accordion-panel> -->
    </div>
  </mat-card>
</div>