// Set basic variables
$border-width:1px;
$border-color: #CCCCCC;
//@include border(border,$border-width,$border-color);

@mixin border($var-direction: "border", $var-width: $border-width, $var-color: $border-color) {
    @if $var-direction == 'border'{
        border: $var-width solid $var-color !important;
    }
    @if $var-direction == 'border-bottom'{
        border-bottom: $var-width solid $var-color !important;
    }
    @if $var-direction == 'border-top'{
        border-top: $var-width solid $var-color !important;
    }
    @if $var-direction == 'border-right'{
        border-right: $var-width solid $var-color !important;
    }
    @if $var-direction == 'border-left'{
        border-left: $var-width solid $var-color !important;
    }
    @if $var-direction == 'border-tb'{
        border-bottom: $var-width solid $var-color !important;
        border-top:    $var-width solid $var-color !important;
    }
    @if $var-direction == 'border-lr'{
        border-left: $var-width solid $var-color !important;
        border-right: $var-width solid $var-color !important;
    }
    @if $var-direction == 'border-no-top'{
        border: $var-width solid $var-color !important;
        border-top: none;
    }
    @if $var-direction == 'border-no-bottom'{
        border:        $var-width solid $var-color !important;
        border-bottom: none !important;
    }
}