@mixin label-theme($label-color) {
	border-color:($label-color);
	background-color: $label-color;
}

@mixin label-theme-bgwhite($label-color) {
	//border-color: darken($label-color, 2%);
	border-color: $label-color;
	background-color: $white;
  color:($label-color);
}
@mixin trans($val...) {
	-webkit-transition: $val;
	-moz-transition: $val; 
	-o-transition: $val; 
	transition: $val; 
}
