<!-- Loader -->
<div class="two wide column" *ngIf="showLoader">
    <app-loader></app-loader>
</div>
<!-- /Loader-->

<div *ngIf="!showLoader">
<!-- Header -->
<div _ngcontent-lts-c70="" class="sb-bg-color-white relative position back-btn-container cc-player__btn-back relative9">
  <div _ngcontent-lts-c70="" class="ui container">
    <div _ngcontent-lts-c70="" class="py-8 d-flex flex-ai-center">
      <button _ngcontent-lts-c70=""
        class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn mr-auto" type="button" (click)="goBack()">
        <i _ngcontent-lts-c70="" class="icon-svg icon-svg--xxs icon-back mr-4">
          <svg _ngcontent-lts-c70=""
            class="icon icon-svg--primary">
            <use _ngcontent-lts-c70="" xlink:href="assets/images/sprite.svg#arrow-long-left"></use>
          </svg></i>  
          {{resourceService?.frmelmnts?.btn?.back}} 
      </button>
      <div _ngcontent-lts-c70="" class="d-flex flex-ai-center">
        <!---->
        <!---->
        <!---->
      </div>
    </div>
  </div>
</div>

<div class="textbook-container">
    <div class="ui container">
    <div class="textbook py-16 sb-g">
      <div class="sb-g-col-xs-12 sb-g-col-md-9 sb-g-col-lg-9">
        <!-- Textbook details -->
        <div class="textbook__details d-flex flex-ai-center">
            <!-- Textbook image -->
            <div class="textbook__bookimg">
              <img src="{{courseDetails?.appIcon}}" alt="textbook">
            </div>
            <div class="ml-8 textbook__heading">
              <!-- Textbook title -->
              <div class="textbook__title sb-color-primary font-weight-bold mb-0">{{courseDetails?.name}}</div>
              <div class="fs-1 pt-8">{{courseDetails?.contentType}}</div>
            </div>
          </div>
      </div>
      <div class="sb-g-col-xs-12 sb-g-col-md-3 sb-g-col-lg-3 certified-course">
        <div class="ml-auto text-right mt-8">
          <!-- <button class="sb-btn sb-btn-primary sb-btn-normal px-24">
            Save Configuration
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / Header-->

<!-- first screen -->
<div class="certificate-container py-16" *ngIf="currentState === screenStates.default">
  <div class="ui container">
    <div class="ui stackable grid m-0">
      <div class="four wide column">
        <div class="certificate-sidebar px-24">
          <div class="py-24 font-weight-bold certificates-label">Configure certificates</div>
          <div class="certificate-sbcard mb-16">
            <div class="d-flex flex-ai-center flex-jc-space-between">
              <div class="certificate-card-title">{{courseDetails?.name}}</div>
              <div class="d-flex flex-ai-center">
                <div class="certificate-card-img"> <img src="assets/images/certificate-icon.png" width="25px" height="20px" /></div>
                <div class="certificate-card-count pl-8">0</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="eight wide column">
        <div *ngIf="!(batchDetails && batchDetails?.cert_templates)" class="select-template-content p-24">
          <div class="d-flex flex-dc flex-ai-center text-center mt-32">
            <div><img src="../../assets/images/addcertificate.png"></div>
            <p class="no-template-text pt-16 pb-24 mb-0">You do not have any certificates attached yet.
              To proceed, click the <b>Add certificate</b> button</p>
            <button type="button" (click)="currentState = screenStates.certRules"
              class="sb-btn sb-btn-normal sb-btn-outline-primary sb-right-icon-btn px-32">Add
              Certificate<i class="plus icon"></i></button>
          </div>
        </div>
        <div *ngIf="(batchDetails && batchDetails?.cert_templates)" class="certificate-edit-content p-24">
            <div class="content">
              <div class="fnormal pb-16 font-weight-bold">Certificate</div>
              <div class="certificate-edit-area">
                <div class="certificate-edit-sbcard">
                  <div class="d-flex flex-ai-center flex-dc p-16 certificate-edit-sbcard-content">
                    <div class="certificate-frame">
                      <img src="assets/images/certificate-img.png"></div>
                    <div class="d-flex flex-ai-center flex-jc-space-between w-100 pt-16">
                      <div class="d-flex flex-ai-center">
                        <button type="button" (click)="showPreviewModal = !showPreviewModal"
                          class="sb-btn sb-btn-outline-primary sb-btn-normal mr-16">Preview</button>
                        <button type="button" (click)="editCertificate(batchDetails.cert_templates)" class="sb-btn sb-btn-primary sb-btn-normal">Edit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
      </div>
    </div>
  </div>
</div>

<!-- second screen -->
<div class="certificate-container py-16" *ngIf="currentState === screenStates.certRules">
  <div class="ui container">
    <div class="ui stackable grid m-0">
      <div class="eight wide column">
        <div class="certificate-content-area sb-bg-color-white p-24">
          <form [formGroup]="userPreference">
          <div class='ui stackable grid mt-0'>
            <div class="six wide column pt-0">
              <div class="pb-24 font-weight-bold certificates-label">Add Cerificate</div>
              <div class="d-flex flex-dc">
                <label class="fnormal font-weight-normal">Certificate Type</label>
                <sui-select class="selection form-control"
                    formControlName="certificateType"
                    [options]="certTypes"
                    [placeholder]="'Select certificate'"
                    labelField="name"
                    [isSearchable]="false"
                    [isDisabled]="configurationMode === 'edit'"
                    #selectCertType>
                  <sui-select-option *ngFor="let option of selectCertType.filteredOptions" [value]="option"> </sui-select-option>
                </sui-select>
              </div>
            </div>
          </div>

          <div class='ui stackable grid mt-0'>
            <div class="six wide column">
              <div class="py-16 pb-24 font-weight-bold certificates-label">Cerificate Rules</div>
              <div class="d-flex flex-dc">
                <label class="fnormal font-weight-normal">Issue Certificate to?</label>
                <sui-select class="selection form-control"
                    formControlName="issueTo"
                    [options]="issueTo"
                    [placeholder]="'Select'"
                    labelField="name" 
                    [isSearchable]="false"
                    [isDisabled]="configurationMode === 'edit'" 
                    #selectRecipient>
                  <sui-select-option *ngFor="let option of selectRecipient.filteredOptions" [value]="option"></sui-select-option>
                </sui-select>
              </div>
            </div>
          </div>
            <!-- <div class='ui stackable grid mt-0'>
              <div class="six wide column">
                <div class="pt-32">
                  <div class="d-flex flex-ai-center flex-jc-space-between">
                    <div class="fnormal font-weight-bold">Current Template</div>
                    <div class="fsmall date-text">Added : 29:07:2020</div>
                  </div>
                  <div class="d-flex flex-ai-center flex-dc py-16">
                    <div class="template-image p-16">
                      <img src="assets/images/certificate-img.png" class="template-img">
                      <div class="d-flex flex-ai-center flex-jc-flex-end pt-16">
                        <div class="remove-label fsmall font-weight-bold" (click)="showErrorModal = !showErrorModal">
                          Remove
                        </div>
                        <button type="button" (click)="showPreviewModal = !showPreviewModal"
                          class="sb-btn sb-btn-outline-primary sb-btn-normal ml-16 font-weight-bold">Preview</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
  
            <div class="sb-checkbox sb-checkbox-secondary py-32">
              <input formControlName="allowPermission" value="true" type="checkbox" id="check2" name="selected">
              <label for="check2">All the elements and attributes are throughly verified</label>
            </div>
          </form>
        </div>
      </div>
  
        <!-- Side panel of cert-templates -->
        <div class="four wide column">
          <div class="select-template-content p-24">
            <div class="fnormal pb-16 font-weight-bold">Templates</div>
            <div class="select-template-container d-flex flex-ai-center flex-jc-center flex-dc mb-16">
              <div>
              <div *ngFor="let template of certTemplateList, let i = index " class="select-template-container__content">
                <div class="template-checkbox">
                  <div class="sb-checkbox sb-checkbox-secondary py-32">
                    <input type="checkbox" id="check3" name="example">
                    <label for="check3"></label></div>
                </div>
                <div class="template-image">
                  <img src="assets/images/certificate-img.png" class="template-img"></div>
                  <div class="overlay-container">
                      <div class="overlay-buttons">
                        <button type="button" (click)="showTemplateDetectModal = !showTemplateDetectModal"
                          class="d-block sb-btn sb-btn-normal sb-btn-outline-primary sb-left-icon-btn"><i
                            class="expand icon"></i>Select</button>
                        <button type="button" (click)="showPreviewModal = !showPreviewModal"
                          class="d-block sb-btn sb-btn-normal sb-btn-outline-primary my-16">
                          preview</button>
                      </div>
                  </div>
              </div>
              
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui container" *ngIf="currentState === screenStates.certRules">
    <div class="ui stackable grid m-0">
      <div class="twelve wide column">
        <div class="d-flex flex-ai-center flex-jc-flex-end sb-bg-color-white p-24">
          <button class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="currentState = screenStates.default">Cancel</button>
          <button [ngClass]="{'sb-btn-disabled': disableAddCertificate }" [disabled]="disableAddCertificate" class="sb-btn sb-btn-normal sb-btn-primary ml-8 px-24" (click)="attachCertificateToBatch()">Add certificate</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- third screen -->
<!-- <div class="certificate-container py-16" *ngIf="showanotherscreen">
  <div class="ui stackable grid m-0">
    <div class="four wide column">
      <div class="certificate-sidebar px-24">
        <div class="py-24 font-weight-bold certificates-label">Configure certificates</div>
      </div>
    </div>
    <div class="eight wide column">
      <div class="certificate-edit-content p-24">
        <div class="content">
          <div class="fnormal pb-16 font-weight-bold">Certificate</div>
          <div class="certificate-edit-area">
            <div class="certificate-edit-sbcard">
              <div class="d-flex flex-ai-center flex-dc p-16 certificate-edit-sbcard-content">
                <div class="certificate-frame">
                  <img src="assets/images/certificate-img.png"></div>
                <div class="d-flex flex-ai-center flex-jc-space-between w-100 pt-16">
                  <div class="remove-label" (click)="showErrorModal = !showErrorModal">Remove</div>
                  <div class="d-flex flex-ai-center">
                    <button type="button" (click)="showPreviewModal = !showPreviewModal"
                      class="sb-btn sb-btn-outline-primary sb-btn-normal mr-16">Preview</button>
                    <button type="button" class="sb-btn sb-btn-primary sb-btn-normal">Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- footer certificate -->



<!-- <sui-modal *ngIf="showErrorModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'small'"
  class="sb-modal sb-error" appBodyScroll (dismissed)="showErrorModal = !showErrorModal" #modal>
  <div class="sb-modal-header">
    Remove Certificate?
  </div>
  <div class="sb-modal-content">
    <p class="pt-16 pb-24 px-16 mb-0">The configurations saved will be lost when the certificate is removed</p>
    <p class="pb-16 px-16 mb-0">Would you really want to remove this certificate?</p>
  </div>
  <div class="sb-modal-actions">
    <button class="sb-btn sb-btn-normal sb-btn-error" (click)="showErrorModal = !showErrorModal">
      Remove
    </button>
    <button class="sb-btn sb-btn-normal sb-btn-outline-error" (click)="showErrorModal = !showErrorModal">
      Cancel
    </button>
  </div>
</sui-modal> -->

<!-- <sui-modal *ngIf="showPreviewModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'large'"
  class="sb-modal" appBodyScroll (dismissed)="showPreviewModal = !showPreviewModal" #modal>
  <div class="sb-modal-header">
    Certificate Preview
  </div>
  <div class="sb-modal-content">
    <div><img src="assets/images/certificate-img.png" class="w-100"></div>
  </div>
  <div class="sb-modal-actions">
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary">
      Select template
    </button>
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary">
      Close
    </button>
  </div>
</sui-modal> -->

<!-- <sui-modal *ngIf="showTemplateDetectModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
  [size]="'normal'" class="sb-modal sb-batch-update-modal" appBodyScroll
  (dismissed)="showTemplateDetectModal = !showTemplateDetectModal" #modal>
  <div class="sb-modal-header">
    Template Change detected!
  </div>
  <div class="sb-modal-content">
    <div class="ui stackable grid mt-16 mb-8">
      <div class="two wide column p-0">
        <div class="checkbox-img"></div>
      </div>
      <div class="nine wide column p-0">
        <p class="fnormal">
          All the participants who already have recieved
          certifices with previous template will be be re-issued
          certificates this new template and old certificates will be revoked automatically</p>
        <p class="fnormal mb-0">Would you really want to change the template?</p>
      </div>
    </div>
  </div>
  <div class="sb-modal-actions">
    <button class="sb-btn sb-btn-normal sb-btn-primary">
      Yes
    </button>
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary">
      No
    </button>
  </div>
</sui-modal> -->
