@use "@project-sunbird/sb-styles/assets/mixins/mixins"as *;

.header {
  background-color: var(--sbt-body-bg);
}

.cert-sidebar-menu {
  box-shadow: var(--sbt-box-shadow-3px);
  border-radius: calculateRem(12px);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
  transition-delay: .1s;

  &:active,
  &:hover {
    color: var(--primary-color);
    font-weight: bold;

    .border-right {
      border-right: calculateRem(4px) solid var(--primary-color);
      height: calculateRem(20px);
      position: absolute;
      right: 0;
    }
  }

  .certificate-card-img {
    position: relative;
  }
}

.edit-certificate {
  border-radius: 1.5rem;

  .edit-certificate-img {
    max-width: calculateRem(480px);
    width: 100%;
    margin: 0 auto;
  }

  .certificate-frame {
    box-shadow: 0 0.125rem 0.4375rem 0 rgb(0 0 0 / 16%);

    .img {
      max-width: 100%;
    }
  }
}

.vertical-divider {
  height: calculateRem(110px);
}

.add-score {
  position: relative;

  .close-score {
    position: absolute;
    right: .5rem;
    top: .5rem;
  }
}

.select-template-container {
  height: 100%;
  position: relative;
}

.progess-add-content {
  .left-border {
    width: calculateRem(1px);
    background-color: var(--gray-100);
    height: 2.0rem;
    margin-left: 1.125rem;
  }
}
