// component css goes here
@import 'variables';
@import "./mixins/mixins";
@import 'components/metadata';

.sb-manage-section{
    .sb-manage-section-title {
        font-size: calculateRem(16.002px);
        line-height: normal;
        font-weight: 600;
    }
    .sb-multi-rows:nth-child(odd){
        background: var(--white);
        border-top: calculateRem(1px) solid var(--rc-dddddd);
        border-bottom: calculateRem(1px) solid var(--rc-dddddd);
    }

    .no-data-label{
     margin-top: calculateRem(6px);
    }

    .sb-upload-file{
        position: relative;
        overflow: hidden;
        cursor: pointer;
        display: flex;
        align-items: center;
        .sb-upload-btn {
            position: absolute;
            opacity: 0;
            left: 0;
            top: 0;
            width: 100%;
            margin: 0;
            height: 100%;
            cursor: pointer;
        }
    }

    .sb-pageSection-content{
        a{
            color: var(--primary-color);
        }
    }

    .sb-meta-data-container.sb-meta-data-column .sb-meta-data dt{
        color: var(--primary-color);
        font-size: calculateRem(16px);
    }

    .sb-user-list{
        margin-bottom: calculateRem(4px) !important;
    }
    
    .sb-manage-table-section{
        border-top: calculateRem(1px) solid var(--rc-dddddd);
    }
}

@media screen and (max-width: 1279px) and (min-width: 992px){
    .sb-manage-section {
        .sb-meta-data-container.sb-meta-data-column .sb-meta-data {
            flex-basis: 20%;
        }
    }
}

.sb-modal {
    .sb-modal-content{
      .self-users-list{
        line-height: normal;
        font-size: calculateRem(14px);
      }
      .upload-btn{
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
        width: 100%;
        margin: 0;
        height: 100%;
        cursor: pointer;
      }
    }
  }


  .sbt-user-management {
    .sb-multi-rows {
      border-radius: 24px;
      padding: 0px 16px;
      margin-top: 16px;
      background: var(--sbt-compt-bg);
    }
    .sb-manage-section .sb-multi-rows:nth-child(odd) {
        background: var(--sbt-compt-bg);
    }
  }