<div class="sb-manage-section" [appTelemetryImpression]="telemetryImpression">
    <div class="ui container sb-multi-rows">
      <h4 class="sb-manage-section-title py-16 m-0">User & Org Management</h4>
    </div>
    <div class="sb-pageSection sb-multi-rows">
      <div class="ui container py-20">
        <div class="sb-pageSection-content">
          <div class="d-inline-flex">
            <span class="sb-label-name">Geo Data:</span>
          </div>
          <div class="sb-meta-data-container pt-16 sb-meta-data-column d-flex flex-w-wrap">
            <dl class="sb-meta-data">
              <dt>{{ geoData['districts'] }}</dt>
              <dd>Districts</dd>
            </dl>
            <dl class="sb-meta-data">
              <dt>{{ geoData['blocks'] }}</dt>
              <dd>Blocks</dd>
            </dl>
            <dl class="sb-meta-data">
              <dt>{{ geoData['schools'] }}</dt>
              <dd>Schools</dd>
            </dl>
           <div class="ml-auto" *ngIf="geoSummary && geoSummary.length">
              <button class="sb-btn sb-btn-normal" [ngClass]="(geoButtonText == 'View Less') ? 'sb-btn-outline-primary' : 'sb-btn-primary'" (click)="geoTableView()" appTelemetryInteract [telemetryInteractEdata]="geoViewInteractEdata">{{geoButtonText}}</button>
              <button type="button" class="sb-btn sb-btn-secondary sb-btn-normal ml-16" (click)="downloadCSVFile(geoCSV)" appTelemetryInteract [telemetryInteractEdata]="geoDownloadInteractEdata"> {{resourceService.frmelmnts.btn.download}} </button>
           </div>
          </div>
        </div>
      </div>
      <div class="sb-manage-table-section" *ngIf="geoButtonText === resourceService.frmelmnts.btn.viewless">
        <div class="ui container">
            <div class="sb-table-responsive">
                <div class="sb-table-container">
                    <table [attr.id]="GeoTableId" class="sb-table sb-table-hover sb-table-striped sb-table-sortable br-0 width-100">
                        <thead>
                          <tr>
                            <th *ngFor="let header of geoTableHeader">{{header}}</th>
                          </tr>
                        </thead>
                    </table>
                </div>
              </div>
        </div>
     </div>
    </div>
  
    <div class="sb-pageSection sb-multi-rows">
        <div class="ui container py-20">
          <div class="sb-pageSection-content">
            <div class="d-inline-flex">
              <span class="sb-label-name">Validated State Teachers:</span>
            </div>
            <div class="sb-meta-data-container pt-16 sb-meta-data-column d-flex flex-w-wrap">
              <dl class="sb-meta-data">
                <dt>{{ validatedUser['districts'] }}</dt>
                <dd>Districts</dd>
              </dl>
              <dl class="sb-meta-data">
                <dt>{{ validatedUser['blocks'] }}</dt>
                <dd>Blocks</dd>
              </dl>
              <dl class="sb-meta-data">
                <dt>{{ validatedUser['schools'] }}</dt>
                <dd>Schools</dd>
              </dl>
              <dl class="sb-meta-data">
                  <dt>{{ validatedUser['teachers'] }}</dt>
                  <dd>Teachers</dd>
                </dl>
             <div class="ml-auto" *ngIf="validatedUserSummary && validatedUserSummary.length" >
                <button class="sb-btn sb-btn-normal" [ngClass]="(teachersButtonText == 'View Less') ? 'sb-btn-outline-primary' : 'sb-btn-primary'" (click)="teachersTableView()" appTelemetryInteract [telemetryInteractEdata]="userViewInteractEdata">{{teachersButtonText}}</button>
                <button type="button" class="sb-btn sb-btn-secondary sb-btn-normal ml-16" (click)="downloadZipFile(userZip)" appTelemetryInteract [telemetryInteractEdata]="userDownloadInteractEdata"> {{resourceService.frmelmnts.btn.download}} </button>
             </div>
            </div>
          </div>
        </div>
        <div class="sb-manage-table-section" *ngIf="teachersButtonText === resourceService.frmelmnts.btn.viewless">
           <div class="ui container">
               <div class="sb-table-responsive">
                   <div class="sb-table-container">
                      <table [attr.id]="userTableId" class="sb-table sb-table-hover sb-table-striped sb-table-sortable br-0 width-100">
                          <thead>
                            <tr>
                              <th *ngFor="let header of userTableHeader">{{header}}</th>
                            </tr>
                          </thead>
                      </table>
                   </div>
                 </div>
           </div>
        </div>
      </div>
  
    <div class="sb-pageSection sb-multi-rows" *ngIf="userProfile && userProfile['rootOrg'] && !(userProfile['rootOrg']['isSSOEnabled'])">
      <div class="ui container py-20">
        <div class="sb-pageSection-header sb-user-list">
          <h4 class="sb-pageSection-title">
            User List Upload
          </h4>
        </div>
        <div class="sb-pageSection-content">
          <div class="d-inline-flex flex-ai-center">
            <span class="sb-label-name">Upload file with list of users:</span>
            <div class="sb-btn sb-btn-outline-primary sb-btn-normal ml-8 sb-upload-file" (click)="openModal();" appTelemetryInteract [telemetryInteractEdata]="selectFileInteractEdata"> Select file </div>
          </div>
          <div class="pt-32">
            <div class="sb-label-name pb-8" *ngIf="uploadedDetails['total_uploaded'] && uploadedDetails['total_uploaded'] != 0">
              <span>Teacher Details Uploaded: {{ uploadedDetails['total_uploaded'] }}</span>
            </div>
            <div class="pt-8" *ngIf="uploadedDetails['accounts_validated'] && uploadedDetails['accounts_validated'] != 0">
            <span>Accounts Validated: {{ uploadedDetails['accounts_validated'] }}</span>
            </div>
            <div class="pt-8" *ngIf="uploadedDetails['accounts_rejected'] && uploadedDetails['accounts_rejected'] != 0">
              <span>Accounts Rejected: {{ uploadedDetails['accounts_rejected'] }}</span>
            </div>
            <div class="pt-8" *ngIf="uploadedDetails['accounts_failed'] && uploadedDetails['accounts_failed'] != 0">
              <span>Accounts Failed: {{ uploadedDetails['accounts_failed'] }}</span>
            </div>
            <div class="pt-8" *ngIf="uploadedDetails['duplicate_account'] && uploadedDetails['duplicate_account'] != 0">
              <span>Duplicate Mobile Numbers/Email Address: {{ uploadedDetails['duplicate_account'] }} entered</span>
            </div>
            <div class="pt-8" *ngIf="uploadedDetails['accounts_unclaimed'] && uploadedDetails['accounts_unclaimed'] != 0">
              <span>Unclaimed Accounts: {{ uploadedDetails['accounts_unclaimed'] }}</span>
            </div>
          </div>
        </div>
        <br />
        <button *ngIf="(uploadedDetails['total_uploaded'] && uploadedDetails['total_uploaded'] != 0) ||
        (uploadedDetails['accounts_validated'] && uploadedDetails['accounts_validated'] != 0) ||
        (uploadedDetails['accounts_rejected'] && uploadedDetails['accounts_rejected'] != 0) ||
        (uploadedDetails['accounts_failed'] && uploadedDetails['accounts_failed'] != 0) ||
        (uploadedDetails['accounts_unclaimed'] && uploadedDetails['accounts_unclaimed'] != 0) ||
        (uploadedDetails['duplicate_account'] && uploadedDetails['duplicate_account'] != 0) "
        class="sb-btn sb-btn-normal sb-btn-primary ml-auto" (click)="downloadCSVFile(userCSV)" 
        appTelemetryInteract [telemetryInteractEdata]="teacherDetailsInteractEdata"> {{resourceService.frmelmnts.btn.download}} </button>
      </div>
  
    <app-user-upload *ngIf="showModal"></app-user-upload>
  </div>

</div>


