// component css goes here
@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
// @use 'components/metadata' as *;

.upload-btn{
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  height: 100%;
  cursor: pointer;
}

  .sbt-user-management {
    .sb-multi-rows {
      border-radius: calculateRem(24px);
      padding: 0px calculateRem(16px);
      margin-top: calculateRem(16px);
      background: var(--sbt-compt-bg);
    }
    .sb-manage-section .sb-multi-rows:nth-child(odd) {
        background: var(--sbt-compt-bg);
    }
  }

  // datatable //
  ::ng-deep {
      table.dataTable tbody td,
      table.dataTable tbody th {
        padding: calculateRem(8px) calculateRem(18px);
      }
    }
  
    .mat-meta-data {
      flex-direction: column;
      margin: 0.5rem 0;
      flex-basis: 20%;
      padding-right: 1rem;
      display: flex;
      flex-flow: row wrap;
  }
  @media screen and (max-width: 1279px) and (min-width: 992px){
      .mat-meta-data {
        flex-basis: 20%;
      }
    }
    @media (min-width: 992px) and (max-width: 1279px){
      .mat-meta-data {
        flex-basis: 25%;
      }
    }
    @media (max-width: 767px){
      .mat-meta-data[_ngcontent-wuh-c51] dt[_ngcontent-wuh-c51] {
        flex-basis: 100%;
    }
    }