
<div class="mat-inside-page-container mat-app-background2 user-org-management-component">
  <div [appTelemetryImpression]="telemetryImpression">
    <div class="mat-app-background p-16 mt-16 br-24">
      <div class="d-flex flex-ai-center flex-jc-space-between flex-w-wrap">
        <div class="d-flex flex-dc mr-auto">
        <h4 class="mat-body-1 m-0 text-left">Add new user roles</h4>
        <p class="mat-small m-0 text-left">Search and add more user roles</p>
        </div>
        <button mat-raised-button class="button-rounded" color="accent" tabindex="0" type="button" (click)="assignUserRole()">Add User Role</button>
      </div>   
    </div>
    <div class="mat-app-background p-16 mt-16 br-24">
      <div class="d-flex flex-ai-center flex-jc-space-between flex-w-wrap">
        <h4 class="mat-body-1 m-0 mr-auto">
          {{resourceService.frmelmnts?.lbl?.selfDeclaredDetails}}</h4>
        <button mat-raised-button color="success" appTelemetryInteract
          [telemetryInteractEdata]="userDeclaredDetailsEdata" type="button"
          class="button-rounded" (click)="downloadFile(userDeclaredDetailsUrl)">
          {{resourceService.frmelmnts?.btn?.download}}
        </button>
      </div>
      <div class="d-flex flex-ai-center" *ngIf="!userDeclaredDetailsUrl">
        <mat-icon color="accent">info</mat-icon>
        <label class="mat-body-1 ml-4 my-4">{{resourceService.frmelmnts?.lbl?.noDataAvailable}}</label>
      </div>
      <p class="mat-small m-0 text-left">
        {{resourceService?.frmelmnts?.imsg?.admintnc | interpolate:'{instance}': instance }} 
        <button mat-button role="button" color="accent" appTelemetryInteract
          [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="adminPolicyDetailsInteractEdata"
          (click)=openAdminPolicyPopup() tabindex="0" attr.aria-label=“{{resourceService?.frmelmnts?.lnk?.adminPolicy}}”>
          {{resourceService?.frmelmnts?.lnk?.adminPolicy}}
        </button>
        </p>
    </div>

    <div class="mat-app-background p-16 mt-16 br-24">
      <div>
       <h4 class="mat-body-1 font-weight-bold text-left">User & Org Management</h4>
       <div class="d-flex">
        <div class="mat-body-1">Geo Data:</div>
        <div class="ml-auto" *ngIf="geoSummary && geoSummary.length">
          <button mat-raised-button color="accent" class="button-rounded"
            [ngClass]="(geoButtonText == 'View Less') ? 'color-accent' : ''"
            (click)="geoTableView()" appTelemetryInteract
            [telemetryInteractEdata]="geoViewInteractEdata">{{geoButtonText}}</button>
          <button mat-raised-button type="button" color="success" class="button-rounded ml-16"
            (click)="downloadCSVFile(geoCSV, '', slug + '.csv')" appTelemetryInteract
            [telemetryInteractEdata]="geoDownloadInteractEdata"> {{resourceService.frmelmnts.btn.download}}
          </button>
        </div>
      </div>
      <div class="pt-16 d-flex flex-w-wrap">
        <dl class="mat-meta-data">
          <dt class="color-accent mat-body-1 text-left w-100 font-weight-bold">{{ geoData['districts'] }}</dt>
          <dd class="mat-body-1 w-100 text-left m-0">Districts</dd>
        </dl>
        <dl class="mat-meta-data">
          <dt class="color-accent mat-body-1 text-left w-100 font-weight-bold">{{ geoData['blocks'] }}</dt>
          <dd class="mat-body-1 w-100 text-left m-0">Blocks</dd>
        </dl>
        <dl class="mat-meta-data">
          <dt class="color-accent mat-body-1 text-left w-100 font-weight-bold">{{ geoData['schools'] }}</dt>
          <dd class="mat-body-1 w-100 text-left m-0">Schools</dd>
        </dl>
      </div>
      </div>
      <div class="sb-manage-table-section" *ngIf="geoButtonText === resourceService.frmelmnts.btn.viewless">
        <div class="sb-table-responsive">
          <div class="my-16">
            <table [attr.id]="GeoTableId"
              class="sb-table sb-table-hover sb-table-striped sb-table-sortable br-0 w-100">
              <thead>
                <tr>
                  <th *ngFor="let header of geoTableHeader">{{header}}</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Upload validation status modal-->
<app-modal-wrapper  *ngIf="showUploadUserModal" [config]="{disableClose: false, width: '45rem', panelClass: 'material-modal'}"
  (dismiss)="closeUserValidationModal()" #modal>
  <ng-template sbModalContent>
    <div mat-dialog-title>
      <div class="title" tabindex="0">{{resourceService?.frmelmnts?.lbl?.uploadingValidationStatusHeader}}</div>
      <span class="example-spacer"></span>
      <button mat-mini-fab color="warn" class="ml-auto" aria-label="close dialog"
        mat-dialog-close><mat-icon>close</mat-icon></button>
    </div>
    <mat-dialog-content>
      <div class="mat-body-1 m-0">
        {{resourceService?.frmelmnts?.lbl?.uploadcsvfile}}
      </div>
      <button type="button" mat-raised-button color="accent" class="button-rounded my-8">
        {{uploadButton}}
        <input type="file" appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject"
          [telemetryInteractEdata]="selectUserValidationFileInteractEdata" class="upload-btn"
          (change)="fileChanged($event)" />
      </button>
      <div *ngIf="fileUpload">
        <span> {{resourceService?.frmelmnts?.lbl?.upldfile }} :</span>
        <label>{{fileUpload.name}}</label>
      </div>
      <div class="mat-bg-white p-16">
        <div class="color-accent mat-body-1 mb-8 font-weight-bold">
          {{resourceService?.frmelmnts?.scttl?.instructions}}
        </div>
        <ol>
          <li class="mat-body-1">{{resourceService?.frmelmnts?.instn?.t0107}} </li>
          <li class="mat-body-1">{{resourceService?.frmelmnts?.instn?.t0108}} </li>
          <li class="mat-body-1">{{resourceService?.frmelmnts?.instn?.t0109}} </li>
          <li class="mat-body-1">{{resourceService?.frmelmnts?.instn?.t0110}} </li>
          <li class="mat-body-1">{{resourceService?.frmelmnts?.instn?.t0111}} </li>
          <li class="mat-body-1">{{resourceService?.frmelmnts?.instn?.t0112}} </li>
        </ol>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button type="button" mat-raised-button color="accent" class="button-rounded" appTelemetryInteract
        [telemetryInteractObject]="telemetryInteractObject"
        [telemetryInteractEdata]="userValidationUploadInteractEdata" [ngClass]="{'disabled': !fileUpload}"
        [disabled]="disableBtn">
        {{resourceService?.frmelmnts?.btn?.uploadusrscsv}}
      </button>
    </mat-dialog-actions>
  </ng-template>
</app-modal-wrapper>

<app-tnc-popup (close)="openAdminPolicyPopup(true)" [showAcceptTnc]="showTncPopup" [adminTncVersion]="adminTncVersion"
  [tncUrl]="adminTncUrl" #termsAndCondPopUp *ngIf="showTncPopup">
</app-tnc-popup>