<h4 class="modal-title">Enhance {{currentContent.name}}</h4>repoSelectedContentId:{{interception.contentId}}
<hr/>
<div class="col-md-12 form-horizontal" style="overflow:auto;">
    <ul class="nav nav-tabs">
        <li ng-class="{active: content.addFrom=='FILE'}"><a ng-click="content.addFrom='FILE';content.formPage=1" data-toggle="tab">Create</a></li>
        <li ng-class="{active: content.addFrom=='REPO'}"><a ng-click="content.addFrom='REPO'" data-toggle="tab">Content Repository</a></li>
    </ul>
    
    <div ng-show="content.addFrom=='FILE'">
        <div ng-show="content.formPage==1" ng-include="'/templates/content/createContentForm.html'"></div>
        <div ng-show="content.formPage==2" ng-include="'/templates/content/mediaSelect.html'"></div>
    </div>
    <div ng-show="content.addFrom=='REPO'">
        <div class="browse_files row">
            <div class="ajax-file-upload-statusbar" ng-repeat="item in contentItems">
                <div class="ajax-file-upload-filename">
                    <input type="radio" name="contentSelectRadio" ng-model="$parent.interception.contentId" ng-value="item.identifier">
                     {{item.name}}
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="row col-md-12 navbar navbar-fixed-bottom">
    <button type="button" class="btn btn-sm btn-default pull-right" ng-click="">Cancel</button>
    <button id="uploadIncpMediaFiles" type="button" class="btn btn-sm btn_green" ng-click="" style="display:none;">Save</button>
    <button type="button" class="btn btn-sm btn_green" ng-click="addInterception()" ng-show="content.addFrom=='REPO' && interception.contentId">Save</button>
    
</div>
