@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.profile-telemetry-title {
  font-size: calculateRem(16px);
  font-weight: bold;
  border-bottom: calculateRem(1px) solid var(--primary-color);
}

.profile-telemetry-subtitle {
  font-size: calculateRem(14px);
}

.share-tele-btn {
  margin: 0px;
  margin-left: calculateRem(16px);
  @include respond-below(sm){
    margin-left: calculateRem(0px);
  }
}

.profile-description {
  width: 100%;
  max-width: calculateRem(160px);
}
