@import "variables";
@import "mixins/mixins";

.profile-telemetry-title {
  font-size: calculateRem(16px);
  font-weight: bold;
  border-bottom: calculateRem(1px) solid var(--primary-color);
  color: var(--primary-color);
}

.profile-telemetry-subtitle {
  font-size: calculateRem(14px);
  color: var(--primary-color) !important;
}

.share-tele-btn {
  margin: 0px;
  margin-left: calculateRem(16px);
  @include respond-below(sm){
    margin-left: calculateRem(0px);
  }
}

.sb-checkbox label,
.sb-radio-btn-checkbox label {
  color: var(--primary-color);
  font-weight: normal;
}

.profile-description {
  width: 100%;
  max-width: calculateRem(160px);
}

.profile-description-title {
  color: var(--primary-color) !important;
}

.sb-single-resource {
	width: 100%;
	height: 100%;
	max-width: calculateRem(896px);
	margin: 0 auto;
  @include respond-above(lg) {
    max-width: calculateRem(960px);
  }
  @include respond-above(xl) {
    max-width: calculateRem(1024px);
  }
  @include respond-above(xxxl) {
    max-width: calculateRem(1088px);
  }
}