<div>
  <canvas baseChart [datasets]="datasets" [labels]="chartLabels" [options]="chartOptions" [chartType]="chartType"
    [legend]="legend"></canvas>
  <!-- [colors]="chartColors" -->
  <sui-accordion class="styled fluid" [closeOthers]="false" *ngIf="showFilters">
    <sui-accordion-panel [isOpen]="true">
      <div title>
        <i class="dropdown icon"></i>
        {{resourceService?.frmelmnts?.lbl?.filters }}
      </div>
      <div content>
        <form [formGroup]="filtersFormGroup" class="ui form">
          <div class="ui three column grid container">
            <ng-container *ngFor="let filter of filters">
              <ng-container *ngIf="filter.controlType === 'multi-select'">
                <div class="column">
                  <sui-multi-select class="selection" [placeholder]="filter.displayName"
                    [formControlName]="filter.reference">
                    <sui-select-option *ngFor="let option of filter.options" [value]="option">
                    </sui-select-option>
                  </sui-multi-select>
                </div>
              </ng-container>

              <ng-container *ngIf="filter.controlType === 'select'">
                <div class="column">
                  <sui-select class="selection" [placeholder]="filter.displayName" [formControlName]="filter.reference">
                    <sui-select-option *ngFor="let option of filter.options" [value]="option">
                    </sui-select-option>
                  </sui-select>
                </div>
              </ng-container>

              <ng-container *ngIf="filter.controlType === 'date'">
                <input type="text" ngxDaterangepickerMd [showCustomRangeLabel]="true" [locale]="datePickerConfig"
                  [alwaysShowCalendars]="true" [ranges]="ranges" [linkedCalendars]="true"
                  [placeholder]="filter.displayName" [minDate]="pickerMinDate" [maxDate]="pickerMaxDate"
                  (change)="getDateRange($event,filter.reference)" />
              </ng-container>
            </ng-container>

            <div class="column" *ngIf="chartType === 'bar' || chartType === 'line'">
              <sui-select class="selection" [placeholder]="'Select ChartType'"
                (selectedOptionChange)="changeChartType($event)">
                <sui-select-option *ngFor="let option of availableChartTypeOptions" [value]="option">
                </sui-select-option>
              </sui-select>
            </div>

            <div class=" column">
              <ng-container>
                <div class="field">
                  <button class="ui small primary button" (click)="resetFilter()">
                    {{resourceService?.frmelmnts?.btn?.reset}} {{resourceService?.frmelmnts?.lbl?.filters  }}
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
        </form>
        <hr>
        {{resultStatistics | json}}
      </div>
    </sui-accordion-panel>
  </sui-accordion>
</div>