@import "variables";
@import "mixins/mixins";


.graph-statistics {
  border-bottom: calculateRem(1px) solid var(--rc-dddddd);
}

.sb-last-update-status {
  font-size: calculateRem(12px);
  font-weight: bold;
  height: 20px;
  opacity: 0.5;
  color: #333333;
  font-family: "Noto Sans";
  letter-spacing: 0;
  line-height: 20px;
}

.dashboard-graph-statistics {
  border-bottom: calculateRem(1px) solid var(--rc-dddddd);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: calculateRem(24px);
  .graph-stat-block {
    flex: 1;
    border-right: calculateRem(1px) solid var(--rc-d4d8da) !important;
    .graph-stat-label {
      font-size: calculateRem(18px);
    }
    .graph-stat-value {
      font-weight: bold;
      font-size: calculateRem(40px);
    }
    .graph-stat-info {
      color: var(--gray-200);
      font-size: calculateRem(18px);
    }
    &:nth-child(3n + 3) {
      border-right: 0px solid var(--rc-d4d8da) !important;
    }
  }
}
.dashboard-iframe {
  width: 100%;
  height: calculateRem(700px);
}


@include respond-below(md) {
  .dashboard-graph-statistics {
    border-bottom: calculateRem(1px) solid var(--rc-dddddd);
    .graph-stat-block {
      .graph-stat-label {
        font-size: calculateRem(14px);
      }
      .graph-stat-value {
        font-size: calculateRem(28px);
      }
      .graph-stat-info {
        font-size: calculateRem(14px);
      }
    }
  }
}

.pad5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.sb-modal {
  ::ng-deep {
    .ui.modal {
      background-color:#E9E8D9 !important;
    }
  }
} 
sui-select.selection.ui.dropdown {
  height: 40px;
  font-size: 14px;
  padding: 10px;
  font-family: "Noto Sans";
  color:#49B1F2 !important;
}
.filter-btn {
  min-width: 96px;
}

.sb-modal-actions {
  background-color:#E9E8D9 !important;
}
.sb-modal-content {
  background-color:#E9E8D9 !important;
  overflow-y: visible !important;
}
.sb-modal {
  background-color:#E9E8D9 !important;
}
.sb-btn-normal {
  min-width: 96px !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  padding-left: 18px !important;
  padding-right: 18px !important;

}

.sb-label-value {
  border-radius: 24px;
  padding: 7px;
  background-color: #E9E8D9 !important;
  box-shadow: 4px 4px 3px 0 #C2C2C2 !important;
  color: #333;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;

}
.chart-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px !important;
  padding-top: 5px;
}
.sb-modal-content {
  ::ng-deep {
    .sb-prominent-filter-field {
      width:40%;
    }
  
  }
}
.sb-label-name {
  font-size: 16px;
}

sui-select.selection.ui.dropdown {
  padding: 8px !important;
    padding-left: 14px !important;

}
.selection-block {
  margin-bottom: 8px;
}

 .filter-select-title{
  font-size: 20px;
  font-weight: 600;
 }


 .sb-label-primary-100 {
  padding: 7px !important;
  padding-left: 9px !important;
  padding-right: 9px !important;
  color: #333 !important;
  border-radius: 24px;
 }
 .date-range-label{
  padding: 7px !important;
  padding-left: 9px !important;
  padding-right: 9px !important;
  color: #333 !important;
  border-radius: 24px;
  background-color: #E9E8D9 !important;
 }
 