@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;


.graph-statistics {
  border-bottom: calculateRem(1px) solid var(--rc-dddddd);
}

.sb-last-update-status {
  font-size: calculateRem(12px);
  font-weight: bold;
}

.dashboard-graph-statistics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: calculateRem(24px);

  .graph-stat-block {
    flex: 1;
    border-right: calculateRem(1px) solid var(--gray-100) !important;

    &:nth-child(3n + 3) {
      border-right: 0px solid var(--gray-100) !important;
    }
  }
}

.dashboard-iframe {
  width: 100%;
  height: calculateRem(700px);
}

