@import "variables";
@import "./mixins/mixins";

.sb-prominent-filter-field {
  .form-control {
    min-width: 100%;
    width: 100%;
    height: 32px;
    font-size: 12px;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 8px;

    &:focus {
      border: 1px solid #ddd;
      border-radius: 3px;
    }

    &::placeholder {
      color: #212121;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: #212121;
    }

    &::-ms-input-placeholder {
      color: #212121;
    }
  }

  .md-drppicker .ranges ul li {
    margin-bottom: 8px;
  }

  //   ngx-daterangepicker-material{
  //     .md-drppicker.drops-down-right{
  //         .ranges{

  //         }
  //     }
  //   }
}

.graph-statistics {
  border-bottom: 1px solid #ddd;
}

.sb-prominent-filter
  .sb-prominent-filter-container
  .sb-prominent-filter-field:last-child {
  margin-left: 0;
  margin-top: 0;
  text-align: left;
}

.reset-filter-section {
  position: absolute;
  right: 0;
  top: 2px;
  align-items: center;

  .selection {
    padding: 8px;
  }
}

.sb-filter-label {
  border-bottom: 1px solid #ddd;
  width: 100%;

  .sb-label-value {
    margin-bottom: 4px;
    margin-right: 4px;
  }
}

:host ::ng-deep {
  .ui.toggle.checkbox input:checked ~ label,
  .ui.checkbox input.hidden + label {
    margin-bottom: 0px;
  }

  .ui.toggle.checkbox .box:before,
  .ui.toggle.checkbox label:before {
    background: rgba(0, 0, 0, 0.2);
  }

  .ui.toggle.checkbox .box:after,
  .ui.toggle.checkbox label:after {
    width: 1.5rem;
    height: 1.2rem;
    top: 2px;
  }

  .ui.toggle.checkbox input ~ .box:after,
  .ui.toggle.checkbox input ~ label:after {
    left: 0.1rem;
  }

  .ui.toggle.checkbox input:checked ~ .box:after,
  .ui.toggle.checkbox input:checked ~ label:after {
    left: 1.8rem;
  }

  .ui.styled.accordion,
  .ui.styled.accordion .accordion {
    box-shadow: none;
    border-bottom: 1px solid #ddd;
  }

  .graph-filters {
    .ui.form {
      min-height: 36px;
    }

    .ui.styled.accordion .accordion .title,
    .ui.styled.accordion .title {
      padding-left: 0;
      padding-right: 0;
    }

    .ui.styled.accordion .accordion .content,
    .ui.styled.accordion .content {
      padding: 0;
    }

    .ui.styled.accordion,
    .ui.styled.accordion .accordion {
      box-shadow: none;
      border-bottom: 1px solid #ddd;
    }
  }
}

.sb-prominent-filter-field {
  ::ng-deep {
    .md-drppicker {
      padding: 16px 8px;

      .ranges ul li {
        margin-bottom: 8px;
      }

      .btn {
        background-color: var(--primary-400);
        margin-right: 16px;
        line-height: 32px;
        margin-right: 16px;
      }

      .buttons {
        margin: 0;
      }
    }
  }
}

.ui.form {
  ::ng-deep {
    sui-accordion {
      sui-accordion-panel {
        .title {
          padding-top: 8px !important;
        }
      }
    }
  }
}

.sb-last-update-status {
  color: #999;
  font-size: 14px;
  font-weight: bold;
}

.dashboard-graph-statistics {
  border-bottom: 1px solid #ddd;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  .graph-stat-block {
    flex: 1;
    border-right: 1px solid #d4d8da !important;
    .graph-stat-label {
      font-size: 18px;
    }
    .graph-stat-value {
      font-weight: bold;
      font-size: 40px;
    }
    .graph-stat-info {
      color: #999999;
      font-size: 18px;
    }
    &:nth-child(3n + 3) {
      border-right: 0px solid #d4d8da !important;
    }
  }
}
.dashboard-iframe {
  width: 100%;
  height: 700px;
}

.sb-last-update-status {
  color: #999;
  font-size: 14px;
  font-weight: bold;
}

@include respond-below(md) {
  .dashboard-graph-statistics {
    border-bottom: 1px solid #ddd;
    .graph-stat-block {
      .graph-stat-label {
        font-size: 14px;
      }
      .graph-stat-value {
        font-size: 28px;
      }
      .graph-stat-info {
        font-size: 14px;
      }
    }
  }
}
