<sui-modal [isClosable]="true" (dismissed)="redirect();" #modal [appTelemetryImpression]="telemetryImpression">
    <div *ngIf="createForm" class="header">{{resourceService?.frmelmnts?.lbl?.addorgtype}}</div>
    <div *ngIf="!createForm" class="header">{{resourceService?.frmelmnts?.lbl?.updateorgtype}}</div>
    <div class="content">
        <div class="ui fluid icon input">
            <input *ngIf="createForm" class="form-control" [formControl]="orgName" type="text" placeholder="{{resourceService?.frmelmnts?.lbl?.addorgtype}}">
            <input *ngIf="!createForm" class="form-control" [formControl]="orgName" type="text" placeholder="{{resourceService?.frmelmnts?.lbl?.updateorgtype}}">
        </div>
    </div>
    <div class="actions">
        <div *ngIf="createForm" class="ui primary approve button" (click)="disableApproveBtn=true; addOrgType()" [class.disabled]="disableApproveBtn"
        appTelemetryInteract [telemetryInteractObject]="{id:'addOrgType',type:'create-org-type',ver:'1.0'}" [telemetryInteractEdata]="addOrganizationType">
         {{resourceService?.frmelmnts?.btn?.add}}</div>
        <div *ngIf="!createForm" class="ui primary approve button" (click)="disableApproveBtn=true; updateOrgType()" [class.disabled]="disableApproveBtn"
        appTelemetryInteract [telemetryInteractObject]="{id:'updateOrgType',type:'update-org-type',ver:'1.0'}" [telemetryInteractEdata]="updateOrganizationType">
         {{resourceService?.frmelmnts?.btn?.update}}</div>
        <div class="ui negative cancel button" (click)="modal.deny()"
        appTelemetryInteract [telemetryInteractObject]="{id:'cancel',type:'org-type',ver:'1.0'}" [telemetryInteractEdata]="cancelModal">
        {{resourceService?.frmelmnts?.btn?.cancel}}</div>
    </div>
</sui-modal>
