<app-modal-wrapper [config]="{disableClose: true, size: 'normal', width: '45rem', panelClass: 'material-modal'}" (dismiss)="redirect()" #modal
    [appTelemetryImpression]="telemetryImpression">
    <ng-template sbModalContent>
        <!--Header-->
        <div mat-dialog-title class="mb-0">
            <h2 class="mb-0" *ngIf="createForm">{{resourceService?.frmelmnts?.lbl?.addorgtype}}</h2>
            <h2 class="mb-0" *ngIf="!createForm">{{resourceService?.frmelmnts?.lbl?.updateorgtype}}</h2>
        </div>
        <!--/Header-->

        <!--Content-->
        <mat-dialog-content>
            <mat-form-field appearance="fill" class="w-100" *ngIf="createForm">
                <mat-label>{{resourceService?.frmelmnts?.lbl?.addorgtype}}</mat-label>
                <input matInput placeholder="{{resourceService?.frmelmnts?.lbl?.addorgtype}}" [formControl]="orgName">
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100" *ngIf="!createForm">
                <mat-label>{{resourceService?.frmelmnts?.lbl?.updateorgtype}}</mat-label>
                <input matInput placeholder="{{resourceService?.frmelmnts?.lbl?.updateorgtype}}" [formControl]="orgName">
            </mat-form-field>
        </mat-dialog-content>
        <!--/Content-->

        <!--Actions-->
        <mat-dialog-actions align="end">
            <button mat-raised-button class="button-rounded mr-8" tabindex="0" (click)="modal.deny()" appTelemetryInteract
                [telemetryInteractEdata]="cancelModal">
                {{resourceService?.frmelmnts?.btn?.cancel}}
            </button>
            <button mat-raised-button color="accent" class="button-rounded" *ngIf="createForm" tabindex="0"
                (click)="disableApproveBtn=true; addOrgType()" [class.disabled]="disabled" appTelemetryInteract
                [telemetryInteractEdata]="addOrganizationType">
                {{resourceService?.frmelmnts?.btn?.add}}
            </button>
            <button mat-raised-button color="accent" class="button-rounded" *ngIf="!createForm" tabindex="0"
                (click)="disableApproveBtn=true; updateOrgType()" [class.disabled]="disabled" appTelemetryInteract
                [telemetryInteractEdata]="updateOrganizationType">
                {{resourceService?.frmelmnts?.btn?.update}}
            </button>
        </mat-dialog-actions>
        <!--/Actions-->


    </ng-template>
</app-modal-wrapper>