<div id="lsLeftBarHeader" class="il-leftnav borderBottom">
    <ul class="ul-style">
        <li>
            <a class="tab_heading pull-left active"><span>Assessments</span></a>
        </li>
    </ul>
</div>

<div>
    <div class="as-menu-item" ng-class="{'as-menu-item-active' : (viewAssessment == 'questions')}" ng-click="listQuestions(); viewAssessment = 'questions'">Questions</div>
    <div class="as-menu-item" ng-class="{'as-menu-item-active' : (viewAssessment == 'questionSet')}" ng-click="assessmentsView(); viewAssessment = 'questionSet'">Sets</div>
    <div class="as-menu-item" ng-class="{'as-menu-item-active' : (viewAssessment == 'questionPaper')}" ng-click="listQuestionPapers(); viewAssessment = 'questionPaper'">Papers</div>
    <div class="as-menu-item">Exams</div>
</div>