<!-- <div class="col-md-12 padTop padBottom">
    <input type="text" ng-model="tocSearch" class="form-control" placeholder="search lessons..."/>
</div> -->
<div id="qaLeftBarHeader" class="il-leftnav borderBottom">
    <ul class="ul-style">
        <li>
            <a class="tab_heading pull-left active">
                <span>Q&amp;A</span>
            </a>
        </li>
    </ul>
</div>
<div class="qa-filters" id="qaFilters">
    <div class="col-md-12 noPad">
        <ul class="ul-style">
            <li>
                <div ng-class="{'unit': true, 'unitActiveRow': (interactionFilters.selectedSet == 'createSet')}" ng-click="showCreateSetForm()" ng-show="manageSets">
                    <span>Create List</span>
                </div>
                <div ng-class="{'unit': true, 'unitActiveRow': (!interactionFilters.selectedSet)}" ng-click="clearAllFilters()">
                    <div class="row toc_row">
                        <span class="spanText">All Questions</span>
                    </div>
                </div>
                <!-- Student view -->
                <div ng-hide="manageSets">
                    <div ng-class="{'unit': true, 'unitActiveRow': (set.id == interactionFilters.selectedSet.id)}" ng-repeat="set in interactionFilters.defaultSystemSet" onclick="$('html,body').scrollTop(0);" ng-click="getSet(set)">
                        <div class="row toc_row">
                            <span class="spanText">{{set.label}} ({{set.metadata.membersCount}})</span>
                            <span ng-if="set.metadata.createdBy.toLowerCase() != 'system'" class="listMetaTag">- {{set.metadata.createdUserName}}</span>
                        </div>
                    </div>

                    <div ng-class="{'unit': true, 'unitActiveRow': (set.id == interactionFilters.selectedSet.id)}" ng-repeat="set in interactionFilters.defaultOtherSet" onclick="$('html,body').scrollTop(0);" ng-click="getSet(set)">
                        <div class="row toc_row">
                            <span class="spanText">{{set.label}} ({{set.metadata.membersCount}})</span>
                            <span ng-if="set.metadata.createdBy.toLowerCase() != 'system'" class="listMetaTag">- {{set.metadata.createdUserName}}</span>
                        </div>
                    </div>
                </div>
                <div ng-show="manageSets">
                    <!-- created By Me -->
                    <div class="setListToggle" ng-click="expandUserList = !expandUserList" ng-show="manageSets">
                        <span>Lists Created By Me</span>
                        <span class="pull-right setAccordion" ng-show="expandUserList"><i class="fa fa-caret-down"></i></span>
                        <span class="pull-right setAccordion" ng-hide="expandUserList"><i class="fa fa-caret-left"></i></span>
                    </div>
                    <div ng-class="{'unit': true, 'unitActiveRow': (set.id == interactionFilters.selectedSet.id)}" ng-repeat="set in interactionFilters.createdByMe" onclick="$('html,body').scrollTop(0);" ng-click="getSet(set)" ng-show="expandUserList">
                        <div class="row toc_row">
                            <span class="spanText">{{set.label}} ({{set.metadata.membersCount || 0}})</span>
                        </div>
                    </div>

                    <!-- created By System -->
                    <div class="setListToggle" ng-click="expandSystemList = !expandSystemList" ng-show="manageSets">
                        <span>Lists Created By System</span>
                        <span class="pull-right setAccordion" ng-show="expandSystemList"><i class="fa fa-caret-down"></i></span>
                        <span class="pull-right setAccordion" ng-hide="expandSystemList"><i class="fa fa-caret-left"></i></span>
                    </div>
                    <div ng-class="{'unit': true, 'unitActiveRow': (set.id == interactionFilters.selectedSet.id)}" ng-repeat="set in interactionFilters.createdBySystem" onclick="$('html,body').scrollTop(0);" ng-click="getSet(set)" ng-show="expandSystemList">
                        <div class="row toc_row">
                            <span class="spanText">{{set.label}} ({{set.metadata.membersCount || 0}})</span>
                        </div>
                    </div>

                    <!-- created By Others -->
                    <div class="setListToggle" ng-click="expandOthersList = !expandOthersList" ng-show="manageSets">
                        <span>Lists Created By Others</span>
                        <span class="pull-right setAccordion" ng-show="expandOthersList"><i class="fa fa-caret-down"></i></span>
                        <span class="pull-right setAccordion" ng-hide="expandOthersList"><i class="fa fa-caret-left"></i></span>
                    </div>
                    <div ng-class="{'unit': true, 'unitActiveRow': (set.id == interactionFilters.selectedSet.id)}" ng-repeat="set in interactionFilters.createdByOthers" onclick="$('html,body').scrollTop(0);" ng-click="getSet(set)" ng-show="expandOthersList">
                        <div class="row toc_row">
                            <span class="spanText">{{set.label}} ({{set.metadata.membersCount || 0}})</span>
                            <span class="listMetaTag">- {{set.metadata.createdUserName}}</span>
                        </div>
                    </div>
                </div> <!-- Ends -->
            </li>
        </ul>
    </div>
</div>
