<div id="lsLeftBarHeader" class="il-leftnav borderBottom">
    <ul class="ul-style">
        <li>
            <a class="tab_heading pull-left active"><span>Learner Search</span></a>
        </li>
    </ul>
</div>

<div class="ls-filters" id="lsFilters">
    <div class="col-md-12 padTop">
        <label>Select Lesson/Lecture</label>
        <input type="text" ng-model="lsContextSearchInput" class="form-control lscontextselect" placeholder="Select Context" ng-click="clearLSContextInput()"/>
        <div class="ls-context-container">
            <ul class="lsmoduleslist">
                <li><a href="javascript:void(0)" ng-click="lsContextSearchInput=toc.name;setLSContext(toc)" class="txtDecNone ls-filter-tocname"><span class="glyph24 icon icon-course padr1"></span>{{toc.name}}</a>
                </li>
                <li ng-repeat="module in toc.modules | filter:lsContextSearchInput">
                    <ul>
                        <li>
                            <a href="javascript:void(0)" ng-click="lsContextSearchInput=module.name;setLSContext(module)" class="txtDecNone ls-filter-modules"><span class="glyph20 icon icon-moduel padr1 txtDecNone"></span> {{module.name}}</a>
                            <ul class="ls-lesson-pad">
                                <li ng-repeat="lesson in module.lessons | filter:lsContextSearchInput">
                                    <a href="javascript:void(0)" ng-click="setLSContext(lesson)" class="txtDecNone ls-filter-lessons"><span class="glyph16 icon icon-lessons padr1 txtDecNone"></span> {{lesson.name}}</a>
                                    <ul class="ls-lecture-pad">
                                        <li ng-repeat="lecture in lesson.lectures | filter:lsContextSearchInput">
                                           <a href="javascript:void(0)" ng-click="setLSContext(lecture)" class="txtDecNone ls-filter-lectures">{{lecture.name}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

<!-- | selectedContext:contextType -->
    <div class="col-md-12 padTop">
        <label>Search Filter</label>
        <select ng-model="searchQuery" ng-change="searchQueryParams(searchQuery)" class="form-control" ng-options="query.name for query in learnerSearchQueries | selectedContext : contextType">
        </select>
    </div>

    <div class="col-md-12 padTop btn-search">
        <div class="form-group col-md-6 noPad pull-right" style="margin-bottom: 9px">
            <button class="btn btn-default pull-right" id="searchLearnerBtn" ng-click="getLearners();">Search</button>
        </div>
    </div>

    <div class="col-md-12 lsPadTop">
        <label>Search all students</label>
        <div class="col-md-12" style="padding-left:0px;">
            <ul class="nav navbar-nav navbar-right noMarRight" style="text-transform: none; padding-top: 0px;">
                <li class="dropdown">
                    <div class="user-dropdown-box">
                        <span class="dropdown-toggle verAlign" data-toggle="dropdown">With Badges <span style="color:#0099ee;"> {{selectedBadge}} </span> <b class="caret"></b>
                        </span>
                        <ul class="dropdown-menu" style="max-height:300px; overflow-y:scroll;">
                            <li ng-repeat="badge in badges" class="styled-dropdown">
                                <span ng-click="getAllBadgesStudents(badge.name);">{{badge.name}}</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li style="min-width:10px;"></li>
            </ul>
        </div>

        <div class="col-md-12" style="padding-left:0px;">
            <ul class="nav navbar-nav navbar-right noMarRight" style="text-transform: none; padding-top: 0px;">
                <li class="dropdown">
                    <div class="user-dropdown-box">
                        <span class="dropdown-toggle verAlign" data-toggle="dropdown">With Tickets <span style="color:#0099ee;"> {{selectedTicket}} </span> <b class="caret"></b>
                        </span>
                        <ul class="dropdown-menu">
                            <li ng-repeat="ticket in tickets" class="styled-dropdown">
                                <span ng-click="getAllTicketsStudents(ticket.name);">{{ticket.name}}</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li style="min-width:10px;"></li>
            </ul>
        </div>

    </div>
</div>
