@import 'variables';
@import 'mixins/mixins';

.practical-appbar {
  background: var(--primary-400);
  height: ($base-block-space * 6);
  &__content {
    //     margin: 0 ($base-block-space * 8 - 4);
    //     width: 100%;
    height: 100%;
    .back-label {
      color: var(--white);
    }
  }
  &__item {
    color: var(--white);
    height: 100%;
    padding: 16px;
    &.active, &:hover {
      background: #042D55;
	}
	&:hover {
		cursor: pointer;
	}
  }
}
