<div class="ui grid mt-5">
  <div class="twelve wide column ">
    <div class="ui grid">
      <div class="three wide column" *ngIf='permissionService.permissionAvailable' appPermission
        [permission]='courseRole' [appTelemetryImpression]="telemetryImpression">
        <div class="ui link card" routerLink="course" appTelemetryInteract
          [telemetryInteractEdata]="{id:'createCourse',type:'click',pageid:'training-create-course'}">
          <div class="content">
            <div class="textcontent">
              <i class='my-icon file text outline icon'></i>
              <span class="my-text">{{resourceService?.frmelmnts?.lbl?.course}}</span>
            </div>
          </div>
        </div>
        <p class="workspaceinstuction">{{resourceService?.frmelmnts?.lbl?.coursedescription}}</p>
      </div>
      <div class="three wide column" *ngIf='permissionService.permissionAvailable' appPermission
        [permission]='lessonRole'>
        <div class="ui link card" routerLink="studymaterial" appTelemetryInteract
          [telemetryInteractEdata]="{id:'createStudyMaterial',type:'click',pageid:'training-create-study-material'}">
          <div class="content">
            <div class="textcontent">
              <i class='my-icon file text icon'></i>
              <span class="my-text">{{resourceService?.frmelmnts?.lbl?.lesson}}</span>
            </div>
          </div>
        </div>
        <p class="workspaceinstuction">{{resourceService?.frmelmnts?.lbl?.lessondescription}}</p>
      </div>
      <div class="three wide column" *ngIf='permissionService.permissionAvailable' appPermission
        [permission]='collectionRole'>
        <div class="ui link card" routerLink="collection" appTelemetryInteract
          [telemetryInteractEdata]="{id:'createColllection',type:'click',pageid:'training-create-collection'}">
          <div class="content">
            <div class="textcontent">
              <i class='my-icon folder open outline icon'></i>
              <span class="my-text">{{resourceService?.frmelmnts?.lbl?.collection}}</span>
            </div>
          </div>
        </div>
        <p class="workspaceinstuction">{{resourceService?.frmelmnts?.lbl?.collectiondescription}}</p>
      </div>
    </div>
  </div>
  <div class="twelve wide column ">
    <div class="ui grid">
      <div class="three wide column" *ngIf='permissionService.permissionAvailable' appPermission
        [permission]='contentUploadRole'>
        <div class="ui link card" routerLink="../../edit/generic/" appTelemetryInteract
          [telemetryInteractEdata]="{id:'uploadContent',type:'click',pageid:'training-upload-content'}">
          <div class="content">
            <div class="textcontent">
              <i class='my-icon upload icon'></i>
              <span class="my-text">{{resourceService?.frmelmnts?.lbl?.contentupload}}</span>
            </div>
          </div>
        </div>
        <p class="workspaceinstuction">{{resourceService?.frmelmnts?.lbl?.contentuploaddescription}}</p>
      </div>
      <!-- Assessment -->
      <div class="three wide column" *ngIf='permissionService.permissionAvailable' appPermission
        [permission]='assessmentRole'>
        <div class="ui link card" routerLink="assessment" appTelemetryInteract
          [telemetryInteractEdata]="{id:'createAssessment',type:'click',pageid:'training-create-assessment'}" [telemetryInteractCdata]="[{ id: 'user:workspace:assessment:create', type: 'Feature' }, { id: 'SB-17206', type: 'Task' }]">
          <div class="content">
            <div class="textcontent">
              <img src="./assets/images/checklist.png" width="36" class="ml-8" />
              <span class="my-text ml-12">{{resourceService?.frmelmnts?.lbl?.assessment}}</span>
            </div>
          </div>
        </div>
        <p class="workspaceinstuction">{{resourceService?.frmelmnts?.lbl?.assessmentdescription}}</p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
