<sui-modal
  [mustScroll]="true" 
  [isClosable]="true"
  [transitionDuration]="0"
  [size]="'normal'"
  class="sb-modal"
  appBodyScroll
  [ngSwitch]="batchStep" 
  *ngIf='showUpdateModal' 
  (dismissed)="redirect()"  
  [isFullScreen]="true"
  #updateBatchModal 
>
  <!--Header-->
  <div class="sb-modal-header">
    {{resourceService?.frmelmnts?.intxt?.t0007}}
  </div>
  <!--/Header-->

  <!--Content-->
  <div class="sb-modal-content" *ngIf="showLoader">
    <div class="ui grid" >
      <div class="twelve wide column">
        <app-loader [data]="loaderMessage"></app-loader>
      </div>
    </div>
  </div>
  
  <div class="sb-modal-content" *ngIf="!showLoader">
    <div *ngSwitchCase="'update'" [appTelemetryStart]="telemetryStart" [appTelemetryImpression]="telemetryImpression" class="scrolling content px-0 fullpage-top-6 pt-10">
      <h4 class="ui left floated modal-sub-header pl-25 custom-modal-subheader">Batch Detail</h4>
      <div class="ui clearing fullpage divider mb-50"></div>
      <form [formGroup]="batchUpdateForm" class="ui form batchUpdateForm px-25">
        <div class="one field" [ngClass]="batchUpdateForm.controls['name'].invalid && batchUpdateForm.controls['name'].errors.required && !batchUpdateForm.controls['name'].pristine ? 'error': ''">
          <div class="required field">
            <label>{{resourceService?.frmelmnts?.lbl?.batchname}}</label>
            <input type="text" name="name" formControlName="name" [attr.disabled]="batchDetails.status !== 0 ? true : null">
          </div>
        </div>
        <div class="mt-0 mb-10 ui pointing red basic label below" *ngIf="batchUpdateForm.controls.name.invalid && batchUpdateForm.controls['name'].errors.required && !batchUpdateForm.controls['name'].pristine">
          {{resourceService?.messages?.stmsg?.m0112}}
        </div>
        <div class="one field">
          <div class="field">
            <label>{{resourceService?.frmelmnts?.lbl?.aboutbatch}}</label>
            <input type="text" name="description" formControlName="description">
          </div>
        </div>
        <div class="four fields">
          <div class="required field" [ngClass]="batchUpdateForm.controls['startDate'].invalid && batchUpdateForm.controls['startDate'].errors.required && !batchUpdateForm.controls['startDate'].pristine ? 'error': ''">
            <label>{{resourceService?.frmelmnts?.lbl?.startdate}}</label>
            <div class="ui read-only calendar rangestartAdd mb-10" id="rangestartAdd">
              <div class="ui input left icon">
                <i class="calendar icon date-calendar"></i>
                <input [attr.disabled]="batchDetails.status !== 0 ? true : null" [pickerMinDate]='batchDetails.status !== 0 ? batchUpdateForm.controls["startDate"].value : pickerMinDate'
                  suiDatepicker formControlName="startDate" [pickerMode]="'date'">
              </div>
            </div>
            <div class="mt-0 mb-10 ui pointing red basic label below" *ngIf="batchUpdateForm.controls.startDate.invalid && batchUpdateForm.controls['startDate'].errors.required && !batchUpdateForm.controls['startDate'].pristine">
              {{resourceService?.messages?.stmsg?.m0113}}
            </div>
          </div>
          <div class="field">
            <label>{{resourceService?.frmelmnts?.lbl?.enddate}}</label>
            <div class="ui calendar rangeendAdd" id="rangeendAdd">
              <div class="ui input left icon">
                <i class="calendar icon date-calendar"></i>
                <input [attr.disabled]="batchDetails.status === 2 ? true : null" [pickerMinDate]='pickerMinDateForEndDate' suiDatepicker
                  formControlName="endDate" [pickerMode]="'date'">
              </div>
            </div>
          </div>
        </div>
        <div class="fl batch-type-heading">{{resourceService?.frmelmnts?.lbl?.natureofbatch}} :
        </div>
        <div class="inline fields fl">
          <div class="grouped fields ml-10">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="enrollmentType" value='invite-only' formControlName="enrollmentType">
                <label>{{resourceService?.frmelmnts?.lbl?.inviteonly}}</label>
              </div>
            </div>
            <div class="field mt-10" *ngIf="courseCreator">
              <div class="field">
                <div class="ui radio checkbox">
                  <input [attr.disabled]="batchDetails.status !== 0 ? true : null" type="radio" value='open' name="enrollmentType" formControlName="enrollmentType">
                  <label>{{resourceService?.frmelmnts?.lbl?.open}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div *ngSwitchCase="'addmember'" class="height-100">
      <app-add-batch-members (deleteBatchDetails)="deleteBatchDetails($event)" [batchDetails]="batchDetails"></app-add-batch-members>
    </div>
  </div>
  <!--/Content-->
  <!--Actions-->
  <div class="sb-modal-actions">
    <div *ngIf="batchUpdateForm.value.enrollmentType !== 'open'">
        <button 
        appTelemetryInteract 
        [telemetryInteractObject]="telemetryInteractObject" 
        [telemetryInteractEdata]="addmemebersInteractEdata"
        *ngSwitchCase="'update'" 
        class="sb-btn sb-btn-normal sb-btn-primary" 
        id="submitbutton" 
        [disabled]="disableSubmitBtn || batchUpdateForm.value.enrollmentType === 'open'? true:false"
        (click)="navigateToStep('addmember')"
      >
        {{resourceService?.frmelmnts?.btn?.addMembers}}
      </button>
      <button 
        appTelemetryInteract 
        [telemetryInteractObject]="telemetryInteractObject" 
        [telemetryInteractEdata]="updateBatchInteractEdata"
        *ngSwitchCase="'addmember'" 
        class="sb-btn sb-btn-normal sb-btn-primary" 
        id="submitbutton" 
        (click)="updateBatch()" 
      >
        {{resourceService?.frmelmnts?.btn?.updatebatch}}
      </button>
      <button 
        appTelemetryInteract 
        [telemetryInteractObject]="telemetryInteractObject" 
        [telemetryInteractEdata]="updateInteractEdata"
        *ngSwitchCase="'update'" 
        (click)="updateBatch()" 
        class="sb-btn sb-btn-normal sb-btn-outline-primary"  
        [disabled]="disableSubmitBtn"
      >
        {{resourceService?.frmelmnts?.btn?.update}}
      </button>
      <button 
        appTelemetryInteract 
        [telemetryInteractObject]="telemetryInteractObject" 
        [telemetryInteractEdata]="backInteractEdata"
        *ngSwitchCase="'addmember'" 
        (click)="navigateToStep('update')" 
        class="sb-btn sb-btn-normal sb-btn-outline-gray mr-auto" 
      >
        {{resourceService?.frmelmnts?.btn?.back}}
      </button>
    </div>
    <div *ngIf="batchUpdateForm.value.enrollmentType === 'open'">
      <button 
        appTelemetryInteract 
        [telemetryInteractObject]="telemetryInteractObject" 
        [telemetryInteractEdata]="updateBatchInteractEdata"
        class="sb-btn sb-btn-normal sb-btn-primary" 
        id="submitbutton" 
        (click)="updateBatch()"
      >
        {{resourceService?.frmelmnts?.btn?.updatebatch}}
      </button>
    </div>
  </div>
  <!--/Actions-->
</sui-modal>

<sui-modal
  [mustScroll]="true" 
  [isClosable]="true"
  [transitionDuration]="0"
  [size]="'small'"
  class="sb-modal sb-error"
  appBodyScroll
  *ngIf="discardModalFlag" 
  #discardModal
  (dismissed)="discardModalFlag = !discardModalFlag"
>
  <!--Header-->
  <div class="sb-modal-header">
    {{resourceService?.frmelmnts?.lbl?.discardChange}}
  </div>
  <!--/Header-->

  <!--Content-->
  <div class="sb-modal-content">
    {{resourceService?.frmelmnts?.lbl?.discardChange}}
  </div>
  <!--/Content-->

  <!--Actions-->
  <div class="sb-modal-actions">
      <button 
      appTelemetryInteract 
      [telemetryInteractObject]="telemetryInteractObject" 
      [telemetryInteractEdata]="discardInteractEdata"
      class="sb-btn sb-btn-normal sb-btn-error" 
      (click)="discardModal.deny(); redirect()"
    >
      {{resourceService?.frmelmnts?.btn?.discard}}
    </button>
    <button 
      appTelemetryInteract 
      [telemetryInteractObject]="telemetryInteractObject" 
      [telemetryInteractEdata]="cancelInteractEdata"
      class="sb-btn sb-btn-normal sb-btn-outline-error" 
      (click)="discardModalFlag = !discardModalFlag"
    >
      {{resourceService?.frmelmnts?.btn?.cancel}}
    </button>
  </div>
  <!--/Actions-->
</sui-modal>