<sui-modal *ngIf='showEnrollDetails && batchDetails' (dismissed)="redirect()" [isClosable]="true" #enrollBatch>
    <div class="header" [appTelemetryImpression]="telemetryImpression">
        <div class="ui grid">
            <div class="eleven wide column">
                <span class="ui header">{{batchDetails.name}}</span>
            </div>
        </div>
    </div>
    <div class="scrolling content">
        <div class="ui grid">
            <div class="twelve wide column">
                <div class="content">
                    <div class="ui grid padding-top-20">
                        <div class="two wide column ">
                            <div class="ui card float right">
                                <div class="ui fluid image">
                                    <img src="{{'assets/images/default.png' | cdnprefixurl}}">
                                </div>
                            </div>
                        </div>
                        <div class="ten wide column padding-left-25">
                            <div class="ui grid">
                                <div class="eight wide column batch-des">
                                    <label>{{resourceService.frmelmnts.lbl.batchdescription}}</label>
                                    <div *ngIf="batchDetails.description" class="des-content">
                                        <p *ngIf="!readMore"> {{ batchDetails.description | slice:0:120}}&nbsp;
                                            <span class="ui cardsKnowMore mouse-pointer" *ngIf="batchDetails.description && batchDetails.description.length > 120 && readMore === false"
                                                (click)="readMore = !readMore;">{{resourceService.frmelmnts.lbl.readmore}}</span>
                                        </p>
                                        <p *ngIf="readMore" class="courseStructureDesc"> {{ batchDetails.description}}&nbsp;
                                            <span class="ui cardsKnowMore mouse-pointer" (click)="readMore = false;">{{resourceService.frmelmnts.lbl.readless}}</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="four wide column">
                                    <button [disabled]="disableSubmitBtn" class="ui fluid blue right floated  ui button margin-top-0" id="enrollToCourse" (click)="enrollToCourse()">
                                        <span class="text">{{resourceService.frmelmnts.lbl.enrollcourse}}</span>
                                    </button>
                                </div>
                            </div>
                            <div class="ui grid batch-date">
                                <div class="six wide column  start-date">
                                    <label>{{resourceService.frmelmnts.lbl.startdate}}</label>
                                    <span class="padding-left-10">{{batchDetails.startDate | dateFormat}}</span>
                                </div>
                                <div class="six wide column  end-date">
                                    <label>{{resourceService.frmelmnts.lbl.enddate}}</label>
                                    <span *ngIf="batchDetails.endDate" class="padding-left-10">{{batchDetails.endDate | dateFormat}}</span>
                                </div>
                            </div>
                            <div *ngIf="batchDetails.participantDetails && batchDetails.participantDetails.length">
                                <div class="member padding-top-20">
                                    <label>{{resourceService.frmelmnts.lbl.batchmembers}}</label>
                                </div>
                                <div class="ui very relaxed list padding-top-10 batch-list-items">
                                    <div class="item" *ngFor='let user of batchDetails.participantDetails'>
                                        <img class="ui avatar  image" src="{{user.thumbnail || 'assets/images/user_logo.png' | cdnprefixurl}}">
                                        <div class="content padding-top-10">
                                            <div class="header">{{user.firstName}} {{user.lastName}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sui-modal>