@import "variables";
@import 'mixins/mixins';
@import 'components/onboarding';

:host ::ng-deep{
    .ui.multiple.search.dropdown>input .search{
        padding: 0px 0px !important;
    }
}

.ui.selection.active.fields-select-dropdown.dropdown {
    color:#0076FE;
    border-color: var(--primary-300);
     & ~ label {
      color:#0076FE !important;
      font-weight: normal;
      border:none !important;
    }
}
