@import "variables";
@import "mixins/mixins";

:host {
  // search box ui
  .sbsearchbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: ($base-block-space * 4);
    &__input-container {
      flex: 1;
      position: relative;
      .icon-close {
        position: absolute;
        right: $base-block-space;
        top: 50%;
        transform: translatey(-50%);
        html[dir="rtl"] & {
          left: $base-block-space;
          right: inherit;
        }
      }
    }

    &__input {
      width: 100%;
      font-size: $font-size-sm;
      height: ($base-block-space * 4);
      outline: 0;
      line-height: normal;
      background: var(--white);
      border: 1px solid var(--primary-200);
      border-right-width: 0px;
      padding: 4px 32px 4px 8px;
      border-radius: 4px 0px 0px 4px;
      //@debug@include bidi-style(padding-right,32px,padding-left,8px);
      html[dir="rtl"] & {
        padding: 4px 8px 4px 32px;
        border-radius: 0px 4px 4px 0px;
        border-right-width: 1px;
        unicode-bidi: bidi-override;
      }
    }
    &__input-action {
      flex: 0 0 32px;
      width: ($base-block-space * 4);
      height: ($base-block-space * 4);
      background: var(--primary-400);
      border-radius: 0 ($base-block-space / 2) ($base-block-space / 2) 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      html[dir="rtl"] & {
        border-radius: 4px 0px 0px 4px;
      }
    }
  }
}
