@import "variables";
@import "mixins/mixins";

:host {

  // menu bar
  .sb-offline-menu-container {
    min-height: calculateRem(48px);
    margin-left: 0px;
    overflow: hidden;

    @include respond-below(sm) {
      // border-bottom: calculateRem(1px) solid var(--primary-400);
      // margin-bottom: calculateRem(8px);
    }

    html[dir="rtl"] & {
      margin-right: 0px;
    }

    a {
      position: relative;
      background: var(--primary-100); //var(--primary-200);
      font-size: $font-size-sm;
      color: var(--primary-400);
      margin-right:calculateRem(4px);
      border-radius: $base-block-space $base-block-space 0 0;
      min-height: ($base-block-space * 4);
       // padding: ($base-block-space) ($base-block-space * 2);
       display: flex;
       align-items: center;
       justify-content: center;
       min-width: calculateRem(115px);
       width: 100%;

      html[dir="rtl"] & {
        margin-left: $base-block-space;
        margin-right: 0px;
      }

      &:hover,
      &.active {
        background: var(--primary-400);
        color: var(--white);
        text-decoration: none;
      }
    }
  }

  // menu bar ends
}
