@import "variables";
@import "mixins/mixins";

:host {
  //header bar

  .sb-offline-header {
    border-bottom: 1px solid var(--primary-400);
    cursor: pointer;

    .sb-header-offline-bar {
      position: relative;
      z-index: 3;
      background: #fafafa;

      .sbheader--offline {
        &>div {
          margin-bottom: $base-block-space;
        }

        // &>div:last-child {
        //   margin-bottom: 0px;
        // }

        @include respond-above(sm) {
          &>div {
            margin-bottom: 0px;
          }
        }

        display: flex;
        min-height: calculateRem(64px);
        background: #fafafa;
        padding: ($base-block-space) 0px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @include respond-below(sm) {
          align-items: flex-start;
          justify-content: space-between;
          flex-direction: column;
        }

        &__branding {
          display: flex;
          align-items: center;
          justify-content: center;
          @include respond-below(sm) {
          margin-top: $base-block-space;
          }

          .logo {
            img {
              width: calculateRem(78px);
            }
          }
        }

        &__search {
          width: 100%;
          flex: 1;
        }

        &__actions {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          @include respond-below(sm) {
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin:0.5rem 0;
          }

          @include respond-above(sm) {
            width: inherit;
          }

          &>button {
            flex: auto;
          }
        }
      }

      .sbheader-mid-container {
        display: flex;
        align-items: center;
        justify-content: center;
        
        @include respond-below(sm) {
          width: 100%;
          margin-top: $base-block-space;
        }

        @include respond-above(sm) {
          flex: 0 0 50%;
        }
      }

    }

    .sb-menubar {
      width: 100%;
      .sb-btn-load{
        span{
          position: relative;
          bottom: calculateRem(1px);
        }
      }

      @include respond-below(sm) {
        .sb-btn-load {
          margin: $base-block-space 0px;
        }
      }
    }
  }

  //header bar ends
}
