<div class="ui raised segment " ng-if="!profileCtrl.basicProfileForm">
    <div class="header announcementCard-header ">
        <span class="header cardsHeading " translate="experiance ">Additional Information</span>
        <a href="" class="addeditprofile " translate="edit " ng-click="profileCtrl.basicProfileForm=true">Edit</a>
    </div>
    <div class="profileitems ui relaxed aligned list ">

        <div class="item ">
            <div class="right floated content ">
                <span translate="edit ">{{::profileCtrl.basicProfile.email}}</span>
            </div>
            <div class="iniformationcontent content ">
                E-MAIL
            </div>
        </div>
        <div class="item ">
            <div class="right floated content ">
                <span translate="edit ">{{::profileCtrl.basicProfile.phone}}</span>
            </div>
            <div class="iniformationcontent content ">
                PHONE
            </div>
        </div>
        <div class="item ">
            <div class="right floated content ">
                <span translate="edit ">{{::profileCtrl.basicProfile.gender}}</span>
            </div>
            <div class="iniformationcontent content ">
                GENDER
            </div>
        </div>
        <div class="item ">
            <div class="right floated content ">
                <span translate="edit ">{{::profileCtrl.basicProfile.aadhar}}</span>
            </div>
            <div class="iniformationcontent content ">
                AADHAR
            </div>
        </div>
        <div class="item ">
            <div class="right floated content ">
                <span translate="edit ">{{::profileCtrl.basicProfile.dob}}</span>
            </div>
            <div class="iniformationcontent content ">
                DATE OF BIRTH
            </div>
        </div>
        <div class="item ">
            <div class="right floated content ">
                <span translate="edit "><span ng-repeat="lan in ::profileCtrl.basicProfile.language">{{::lan}}&nbsp;</span> </span>
            </div>
            <div class="iniformationcontent content ">
                LANGUAGE
            </div>
        </div>
        <div class="item ">
            <div class="right floated content ">
                <span translate="edit ">{{::profileCtrl.basicProfile.location}}</span>
            </div>
            <div class="iniformationcontent content ">
                CURRENT LOCATION
            </div>
        </div>
    </div>
</div>
<div class="ui raised segment " ng-if="profileCtrl.basicProfileForm">
    <div class="ui" ng-include=" 'views/profile/editProfile/basicInformtion.html' "></div>
</div>