<div class="ui raised segment">
    <div class="header announcementCard-header">
        <span class="header cardsHeading" translate="experiance">Address</span>
        <a href="" class="addeditprofile" ng-if="!profileCtrl.addressForm && profileCtrl.address.length" translate="edit" ng-click="profileCtrl.addressForm=true ;profileCtrl.isNewAddress=false ">Edit</a>
        <a href="" class="addeditprofile" ng-if="!profileCtrl.addressForm " ng-click="profileCtrl.addressForm=true ;profileCtrl.isNewAddress=true ;profileCtrl.newAddress={} " translate="add ">Add</a>
        <a href="" class="addeditprofile" ng-if="profileCtrl.addressForm" translate="edit" ng-click="profileCtrl.addressForm=false">close</a>
    </div>
    <div ng-if="!profileCtrl.addressForm" class="addressheader ui relaxed divided list">
        <div class="item" ng-repeat="address in profileCtrl.address">
            <div class="right floated content">
                <div class="metadata">
                    <a href="" ng-click="address.isDeleted=true;profileCtrl.deleteAddress(profileCtrl.address)"> <i class="trash outline icon trashIcon-fontSize"></i></a>
                </div>
            </div>
            <img class="ui avatar image" src="/images/user_logo.png">
            <div class="content">
                <a class=" header">{{address.addType}}</a>
                <div class="description"> {{address.addressLine1}}<span ng-if="address.addressLine2">,</span>{{address.addressLine2}}
                    <br/>
                    <p>{{address.city}}<span ng-if="address.state">,</span>{{address.state}}
                        <span ng-if="address.country">,</span>{{address.country}}
                        <span ng-if="address.zipcode">,</span>{{address.zipcode}}</p>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="profileCtrl.addressForm" class="addressheader ui relaxed divided list">
        <div class="edit-address-form" ng-if="!profileCtrl.isNewAddress ">
            <div class=" ui " ng-repeat="address in profileCtrl.address track by $index " ng-include=" 'views/profile/editProfile/address.html' "></div>
            <div class="ui button margin-top-15" ng-click="profileCtrl.editAddress(profileCtrl.address)" ;>Save profile</div>
        </div>
        <div class="add-address-form" ng-if="profileCtrl.isNewAddress ">
            <div class="ui " ng-include=" 'views/profile/editProfile/addAddress.html' "></div>
        </div>
    </div>
</div>