<div class="profilesegmentmargin ui raised segment">

    <div class="header announcementCard-header">
        <span class="header cardsHeading" translate="experiance">Education</span>
        <a class="addeditprofile" ng-if="!profileCtrl.educationForm" translate="edit" ng-click="profileCtrl.educationForm=true ;profileCtrl.neweducation=false ">Edit</a>
        <a class="addeditprofile" ng-if="!profileCtrl.educationForm " ng-click="profileCtrl.educationForm=true ;profileCtrl.neweducation=true ;profileCtrl.education={} " translate="add ">Add</a>

        <a class="addeditprofile" ng-if="profileCtrl.educationForm" translate="edit" ng-click="profileCtrl.educationForm=false">close</a>
    </div>

    <div ng-if="profileCtrl.loader.showLoader">
        <app-loader data="{{profileCtrl.loader}}"></app-loader>
    </div>
    <div ng-if="profileCtrl.error.showError">
        <error-message data="{{profileCtrl.error}}" visibility="search.error.showError"></error-message>
    </div>

    <div ng-if="!profileCtrl.educationForm" class="profileitems ui relaxed divided list">
        <div class="item" ng-repeat="education in profileCtrl.user.education">
            <div class="right floated content">
                <div class="metadata">
                    <span class="date">{{education.updatedDate|date: "dd/MM/yyyy"  }}</span>
                </div>
            </div>
            <img class="ui avatar image" src="/images/user_logo.png">
            <div class="content">

                <a class=" header">{{education.degree}}</a>
                <div class="description"> {{education.yearOfPassing}}, {{education.percentage}}<br/>
                    <p>{{education.grade}},{{education.name}},{{education.country}},{{education.boardOrUniversity}}</p>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="profileCtrl.educationForm" class="profileitems ui relaxed divided list">
        <div class="edit-education-form" ng-if="!profileCtrl.neweducation ">
            <div class=" ui " ng-repeat="education in profileCtrl.user.education track by $index " ng-include=" 'views/profile/editProfile/education.html' "></div>
            <div class="ui button margin-top-15" ng-click="profileCtrl.EditBasicProfile()" ;>Save profile</div>
        </div>
        <div class="add-education-form" ng-if="profileCtrl.neweducation ">
            <div class="ui " ng-include=" 'views/profile/editProfile/addEducation.html' "></div>
            <div class="ui button " ng-click="profileCtrl.addeducation(profileCtrl.education) ;">Save education</div>
        </div>
    </div>
</div>