@import "./mixins/mixins";
.wmd-panel
{
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	min-width:calculateRem(500px);
}

.wmd-button-bar 
{
	width: 100%;
	background-color: Silver; 
}

.wmd-input 
{ 
  height: calculateRem(300px);
  background-color: Gainsboro;
  border: calculateRem(1px) solid DarkGray;
  width: 100% !important;
}

.wmd-preview 
{ 
	background-color: #c0e0ff; 
}

.wmd-button-row 
{
	position: relative; 
	margin-left: calculateRem(5px);
	margin-right: calculateRem(5px);
	margin-bottom: calculateRem(5px);
	margin-top: calculateRem(10px);
	padding: 0px;  
	height: calculateRem(20px);
}

.wmd-spacer
{
	width: calculateRem(1px); 
	height: calculateRem(20px); 
	margin-left: calculateRem(14px);
	
	position: absolute;
	background-color: Silver;
	display: inline-block; 
	list-style: none;
}

.wmd-button {
	width: calculateRem(20px);
    height: calculateRem(20px);
    padding-left: calculateRem(2px);
    padding-right: calculateRem(3px);
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(/assets/images/wmd-buttons.png) !important;
    background-repeat: no-repeat;   
    background-position: 0px 0px;
	width: calculateRem(20px);
    height: calculateRem(20px);
    display: inline-block;
}

.wmd-spacer1
{
    left: calculateRem(50px);
}
.wmd-spacer2
{
    left: calculateRem(175px);
}
.wmd-spacer3
{
    left: calculateRem(300px);
}
.wmd-prompt-dialog
{
  border: calculateRem(1px) solid var(--gray-200);
  background-color: #F5F5F5;
}