@import "mixins/mixins";

.kabab-menu {
  color: var(--primary-400);
  width: calculateRem(30px);
  height: calculateRem(30px);
  line-height: calculateRem(28px);
  text-align: center;
  border-radius: 50%;
  padding-left: calculateRem(6px);
  &:hover {
    background: var(--gray-0);
    cursor: pointer;
  }
}
.kabab-menu::after {
  content: "\2807";
  font-size: calculateRem(24px);
}
.kabab-menu-dropdown-content {
  position: absolute;
  border-radius: calculateRem(2px);
  background-color: var(--kabab-menu-dropdown-bg);
  box-shadow: 0 calculateRem(3px) calculateRem(5px) calculateRem(4px) rgba(0, 0, 0, 0.05);
  padding: calculateRem(8px);
  z-index: 1;
  text-align: left;
  right: 0;
  top: 0;
  min-width: calculateRem(170px);

  .list {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: calculateRem(14px);
    padding: calculateRem(8px);
    &:hover,&:active{
      background-color: var(--kabab-menu-dropdown-item-active);
    }
  }
}

:host {
  .header {
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    [dir=ltr] &,
    [dir=rtl] & {
      margin: 1.5rem 0 1rem;
    }
    .title {
      font-family: inherit;
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;
      height: 1.5rem;
      color: var(--primary-color);
      font-size: 1.125rem;
      font-weight: 700;
      text-transform: capitalize;
      line-height: 1.625rem;
      display: flex;
      align-items: center;
    }
  }
}

.hideActivityType {
  display: none;
}
