<br>
<br>
<div class=" ui grid">
  <div class="one wide column">
  </div>
  <div class="ten wide column">
      <app-data-driven-filter *ngIf="filterType" [filterEnv]="filterType" [redirectUrl]="redirectUrl"
       [accordionDefaultOpen]=false [isShowFilterLabel]=true [showConceptPicker]=true></app-data-driven-filter>
    <div *ngFor="let section of caraouselData">
      <app-page-section [section]="section"></app-page-section>
    </div>
    <div class="twelve wide column" *ngIf="showLoader">
        <app-loader [data]='loaderMessage'></app-loader>
    </div>
    <div *ngIf="noResult && !showLoader">
      <app-no-result [data]="noResultMessage"></app-no-result>
    </div>
  </div>
  <div class="one wide column">
  </div>
</div>