<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style type="text/css">
    @font-face {
      font-family: 'Noto Sans';
      src: url(assets/fonts/NotoSans-Regular.woff2) format("woff2"), url(assets/fonts/NotoSans-Regular.woff) format("woff");
      font-display: swap
    }

    @font-face {
      font-family: 'Noto Sans';
      src: url(assets/fonts/NotoSans-Bold.woff2) format("woff2"), url(assets/fonts/NotoSans-Bold.woff) format("woff");
      font-display: swap;
    }
    a,
    body,
    button,
    div,
    html,
    label,
    p,
    span {
      font-family: "Noto Sans", sans-serif !important
    }
    .container{
      text-align: center;
      margin: 0 auto;
      padding: 32px 16px;
      max-width: 320px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
    .title{
        color: #024F9D;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: -0.4px;
        line-height: 19px;
        text-align: center;
        margin: 0;
        padding-top: 20px;
    }
    .sub-info{
        color: #333333;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 19px;
        text-align: center;
        margin: 0;
        padding: 36px 0 16px 0;
    }
    .sunbird-btn{
        height: 32px;
        width: 156px;
        border-radius: 2px;
        background-color: #024F9D;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
    }
    .sunbird-btn:focus{
        outline: none;
    }
    @media screen and (min-width:768px){
      .title{
        font-size: 18px;
        line-height: 24px;
      }
      .sub-info{
        font-size: 16px;
        line-height: 24px;
      }
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="">
      <img src="/assets/images/logo.png">
      <h1 class="title">Authentication is successful</h1>
      <p>You are loggedIn</p>
      <button type="button" class="sunbird-btn" onclick="gotoapplication()">Go back to application</button>
      <input type="hidden" id="hdnInput" value="<%=data%>">    
      <p class="sub-info">Close the window and go back to application</p>
    </div>
  </div>
  <script type="text/javascript">
    var customWindow;
    window.onload = (event) => {
        gotoapplication();
    };
    function gotoapplication() {
        const link = document.getElementById('hdnInput').value;
        window.location.href = link;
    };
    </script>
</body>
</html>