<span id="dashoardFiltersHolder" ng-hide="courseDashboard.showWarningMsg">
  <div class="ui grid">
    <!--<div class="five wide column left floated">
      <p class="dashboard-label ng-binding"><i class="bar chart icon"></i>&nbsp; {{courseDashboard.courseName ? courseDashboard.courseName : 'Select Course To See'}} Dashboard</p>
    </div>-->
    <div class="five wide column float-ContentLeft" ng-if="courseDashboard.dataset == 'consumption'"
      ng-show="courseDashboard.myCoursesList.length == '1' ">
      <span class="dashBoardSectionHeading"><i class="large bar chart icon"></i></span>
<span ng-if="courseDashboard.showLabelFlag" class="dashBoardSectionHeading">{{courseDashboard.courseName}}</span>
</div>

<div class="one wide column" ng-if="courseDashboard.dataset == 'consumption'" ng-hide="courseDashboard.myCoursesList.length <= '1'">
    <span class="dashBoardSectionHeading"><i class="large bar chart icon padding-top-5"></i></span>
</div>
<div class="four wide column float-ContentLeft" ng-if="courseDashboard.dataset == 'consumption'" ng-hide="courseDashboard.myCoursesList.length <= '1'">
    <div class="ui fluid search selection dropdown" id="myCoursesListFilter">
        <input type="hidden" name="course">
        <i class="dropdown icon"></i>
        <div class="default text" id="selectCourse">{{$root.frmelmnts.intxt.t0010}}</div>
        <div class="menu">
            <div class="item" ng-repeat="course in courseDashboard.myCoursesList" title="{{course.courseName}}" ng-click="courseDashboard.onAfterCourseChange(course.identifier, course.name)" data-value="{{course.identifier}}" ng-init="$last && courseDashboard.initDropdwon()">
                <img class="ui circular image mini" ng-src=" {{course.courseLogoUrl ? course.courseLogoUrl : '/common/images/default.png'}} ">{{course.name}}</div>
        </div>
    </div>
</div>

<div class="five wide column float-ContentLeft" ng-if="courseDashboard.dataset == 'progress'" ng-show="courseDashboard.myBatches.length == '1'">
    <span class="dashBoardSectionHeading"><i class="large bar chart icon"></i></span>
    <span ng-if="courseDashboard.showLabelFlag" class="dashBoardSectionHeading">{{courseDashboard.courseName}}</span>
</div>

<div class="one wide column" ng-if="courseDashboard.dataset == 'progress'" ng-hide="courseDashboard.myBatches.length <= '1'">
    <span class="dashBoardSectionHeading"><i class="large bar chart icon padding-top-5"></i></span>
</div>
<div class="four wide column float-ContentLeft" ng-if="courseDashboard.dataset == 'progress'" ng-hide="courseDashboard.myBatches.length <= '1'">
    <div class="ui fluid search selection dropdown" id="myBatchesListFilter">
        <input type="hidden" name="course">
        <i class="dropdown icon"></i>
        <div class="default text" id="selectCourse">{{$root.frmelmnts.intxt.t0010}}</div>
        <div class="menu">
            <div class="item" ng-repeat="course in courseDashboard.myBatches" title="{{course.name}}" ng-click="courseDashboard.onAfterBatchChange(course.id, course.name)" data-value="{{course.id}}" ng-init="$last && courseDashboard.initDropdwon()">{{course.name}}</div>
        </div>
    </div>
</div>
<!-- Blank six wide column-->
<div ng-if="courseDashboard.dataset == 'progress'" class="six wide column padding-top-20 ng-scope"></div>
<div class="one wide column padding-top-20 padding-right-5" ng-if="courseDashboard.dataset == 'progress' && !courseDashboard.showLoader">
    <a class="ui item basic icon circular float-ContentRight" href="Javascript:void(0);" data-tooltip="Close the dashboard">
        <i class="ui remove icon CloseButtonFont" ng-click="toc.showCourseDashboard = false;courseDashboard.resetDropdown();"></i>
    </a>
</div>
</div>
<div class="ui grid margin-top-10" ng-if="!courseDashboard.showError" ng-hide="courseDashboard.isMultipleCourses">
    <div class="six wide column">
        <div class="ui text menu float-ContentLeft padding-top-10">
            <span class="dashBoardMenuItem cursor-pointer active" data-timeperiod="7d" data-timeperiod-text="7 days" ng-class="{active:courseDashboard.filterTimePeriod === '7d'}" ng-click="courseDashboard.onAfterFilterChange($event.target)">{{$root.frmelmnts.lbl.dashboardsevendaysfilter}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="dashBoardMenuItem cursor-pointer" data-timeperiod="14d" data-timeperiod-text="14 days" ng-class="{active:courseDashboard.filterTimePeriod === '14d'}" ng-click="courseDashboard.onAfterFilterChange($event.target)">{{$root.frmelmnts.lbl.dashboardfourteendaysfilter}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="dashBoardMenuItem cursor-pointer" data-timeperiod="5w" data-timeperiod-text="5 weeks" ng-class="{active:courseDashboard.filterTimePeriod === '5w'}" ng-click="courseDashboard.onAfterFilterChange($event.target)">{{$root.frmelmnts.lbl.dashboardfiveweeksfilter}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="dashBoardMenuItem cursor-pointer" ng-hide="courseDashboard.dataset == 'consumption'" data-timeperiod="fromBegining" data-timeperiod-text="from begining" ng-class="{active:courseDashboard.filterTimePeriod === 'fromBegining'}" ng-click="courseDashboard.onAfterFilterChange($event.target)">{{$root.frmelmnts.lbl.dashboardfrombeginingfilter}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="two wide column"></div>
    <!-- Course admin filter-->
    <div class="four wide column" ng-show="courseDashboard.dataset === 'progress'">
        <div class="ui category search float-ContentRight">
            <div class="ui icon input">
                <input class="search-course-data ng-pristine ng-valid ng-empty ng-touched" type="text" placeholder="Search ..." ng-model="courseDashboard.searchUser" autocomplete="off">
                <i class="search icon"></i>
            </div>
        </div>
    </div>
</div>
</span>