<div class="ui grid">
	<div class="one wide column"></div>
	<div class="ten wide column">
		<div ng-init="courseDashboard.loadData();$root.count = 0">
			<div ng-include="'views/dashboard/course/courseConsumptionFilter.html'"></div>
	  		<div class="consumption-data-holder" ng-hide="courseDashboard.showLoader || courseDashboard.isMultipleCourses || courseDashboard.showError">
				<div class="ui four cards">
		  			<div class="card" ng-repeat="item in courseDashboard.consumptionNumericData">
						<div class="content center aligned">
			  				<div class="meta dashBoardCardText">{{item.name}}</div>
			  				<h2 class="description dashboardCardSubText">{{item.value}}</h2>
						</div>
		  			</div>
				</div>
				<div class="ui one column grid margin-top-20">
		  			<div class="column">
						<div class="regular slider padding-top-30 course-graph-holder">
			  				<div ng-repeat="graph in courseDashboard.data">
								<canvas height="{{courseDashboard.chartHeight}}" class="chart chart-line adminCanvasPadding adminCanvasBorder" chart-data="graph[2]" chart-labels="graph[1]" chart-series="graph[0]" chart-colors="graph[3]" chart-options="graph[4]" ng-if="$index == $root.count">
								</canvas>
			  				</div>
			  				<div class="corse-graph-navigation-btn" ng-if="courseDashboard.data.length-1 > 0">
								<button class="ui primary basic compact icon button" ng-click="$root.count = $root.count - 1" ng-class="{'disabled' : $root.count <= 0}"><i class="left arrow icon"></i></button>
								<button class="ui primary basic compact icon button" ng-click="$root.count = $root.count + 1" ng-class="{'disabled' : $root.count >= (courseDashboard.data.length-1)}"><i class="right arrow icon"></i></button>
			  				</div>
						</div>
		  			</div>
				</div>
	  		</div>
	  		<!-- Show loader-->
	  		<div class="tweleve wide column" ng-if="courseDashboard.showLoader">
				<app-loader></app-loader>
	  		</div>
	  		<div class="ui warning message tweleve wide column" ng-show="courseDashboard.isMultipleCourses">
				<div class="header">{{$root.frmelmnts.lbl.dashboardnocourseselected}}</div>
				{{$root.frmelmnts.lbl.dashboardnocourseselecteddesc}}
	  		</div>
	  		<div class="ui info message" ng-if="!courseDashboard.showLoader && courseDashboard.myCoursesList.length === 0">
				<div class="header">{{$root.frmelmnts.instn.t0061}}</div>
				<ul class="list">
		  			<li>{{$root.frmelmnts.instn.t0063}}</li>
				</ul>
	  		</div>
		</div>
  	</div>
</div>
