<div id="termsConModal" class="ui modal">   
    <div class="header">      
        <div class="ui grid">
            <div class="eleven wide column">
               <span class="ui header">Terms & Conditions</span>
            </div>
            <div class="one wide column actions">
                <h5 class="ui basic icon circular button deny">
                    <i class="ui remove icon"></i>
                </h5>
            </div>
        </div>
    </div>
    <div class="scrolling content">
        <p class="termsConSubHeading">Please read the following conditions and confirm to enter Dikhsha.</p>
        <p class="termsConDescrption">Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl, vitae sagittis orci. 

        Donec id dignissim nunc. Donec elit ante, eleifend a dolor et, venenatis facilisis dolor. In feugiat orci odio, sed lacinia sem elementum quis. Aliquam consectetur, eros et vulputate euismod, nunc leo tempor lacus, ac rhoncus neque eros nec lacus. Cras lobortis molestie faucibus. In feugiat orci odio, sed lacinia sem elementum quis. Aliquam consectetur, eros et vulputate euismod, nunc leo tempor lacus, ac rhoncus neque eros nec lacus. Cras lobortis molestie faucibus.
        </p>
    </div>
    <div class="actions">
        <div class="ui checkbox float-ContentLeft padding-top-10 termsConAccept">
            <input type="checkbox" name="example">
            <label>I confirm that I have read the conditions and I agree with the terms listed above.</label>
        </div>
        <div class="ui primary button" ng-click="newUser.submitForm()" ;>ACCEPT & PROCEED</div>
    </div>
</div>
