.ui.dropdown>.text {
    color: #005da2;
  }
  .ui.selection.dropdown>.dropdown.icon {
    color: #005da2;
  }
  .ui.selection.dropdown.language-selector {
    border: 1px solid #cae4f7;
    border-radius: 4px;
    min-height: 35px;
  }
  .ui.dropdown {
    ::ng-deep {
     .ui.selection.dropdown>.dropdown.icon {
       padding: .81666667em;
       font-size: 1.2rem;
       right: 0.7em;
       top: 8px;
       color:#005da2;
     }
     .ui.dropdown>.text {
       color:#005da2;
       font-size: 0.86rem;
     }
   }
  }
  @media only screen and (min-width: 768px) {
    .ui.selection.dropdown.language-selector {
      min-height: 29px;
      font-size: 0.86rem;
      padding-bottom: 5px;
      padding-top: 8px;
      color: #005da2;
    }
    .ui.dropdown {
      ::ng-deep {
       .ui.selection.dropdown>.dropdown.icon {
         top: 3px
       }
     }
   }
  
  }

  .language-selection-dropdown {
    ::ng-deep {
        .ui.dropdown:not(.button)>.default.text {
            color: #fff;
            font-size: 12px;
            font-weight: 400;
        }  

        .ui.inline.dropdown>.text {
            color: #fff;
            font-size: 0.86rem;
            font-weight: 400;
        }
        
        .ui.inline.dropdown .dropdown.icon {
            color: #fff;
            margin-left: 10px;
        }
      }
  }
  .language-selection-dropdown .text { 
    margin-right: 10px;
    font-size: 12px;
    color: #fff;
  }
