<div class="ui stackable grid landing-page-section">
    <div class="one wide column"></div>
    <div class="five wide column landing-page-image">
        <img class="ui fluid image" src="{{'assets/images/landingPage.jpg' |  cdnprefixurl}} " />
    </div>
    <div class="five wide column">
        <div class="ui left aligned container landing-page-description">
            <p>NIIT is a leading Skills and Talent Development Corporation that is building a manpower pool for global
                industry requirements. The company, which was set up in 1981 to help the nascent IT industry overcome
                its human resource challenges, today ranks among the world’s leading training companies owing to its
                vast, yet comprehensive array of talent development programs. With a footprint across 40 nations, NIIT
                offers training and development solutions to Individuals, Enterprises and Institutions.</p>
            <br />
        </div>
    </div>
    <div class="one wide column"></div>
</div>
<div class="ui stackable grid">
    <div class="one wide column"></div>
    <div class="seven wide column ">
        <div class="ui segment">
            <div class="header padding-10 segment-heading">
                <span>Key Features</span>
                <a class="expand-or-minimize right-float">View All</a>
            </div>
            <br>
            <div class="ui two stackable cards">
                <div class="ui card">
                    <div class="content">
                        <div class="description">
                            <p>Enrollment info for life skill training Enrollment info for life skill training
                                Enrollment info
                                for life skill training Enrollment info for life skill training Enrollment info for
                                life
                                skill training Enrollment info for life skill training</p>
                        </div>
                    </div>
                    <h4 class="article-header-padding">Immersive Online Sessions</h4>
                </div>
                <div class="ui card">
                    <div class="content">
                        <div class="description">
                            <p>Verified certification from globally recognized institutes</p>
                        </div>
                    </div>
                    <h4 class="article-header-padding">Top Tier Certifications</h4>
                </div>
                <div class="ui card">
                    <div class="content">
                        <div class="description">
                            <p>Faculty with deep industry experience and extensive functional expertises</p>
                        </div>
                    </div>
                    <h4 class="article-header-padding">Industry Experts & Mentors</h4>
                </div>
                <div class="ui card">
                    <div class="content">
                        <div class="description">
                            <p>Option to pay in installments. Loan facility available for select courses</p>
                        </div>
                    </div>
                    <div class="article-header-padding">Easy Payment Plans</div>
                </div>
            </div>
        </div>
    </div>
    <div class="three wide column">
        <div class="ui segment">
            <div class="content">
                <div class="header segment-heading">
                    <span>Announcements</span>
                    <a class="right-float expand-or-minimize">View All</a>
                </div>
                <div class="description margin-top-10">
                    <div class="ui relaxed divided list">
                        <div class="item">
                            <div class="content">
                                <a class="header text-decoration-underline">Exam Date Announced </a>
                                <br>
                                <div class="description">An excellent polish restaurant, quick delivery and hearty,
                                    filling meals.</div>
                            </div>
                        </div>
                        <br />
                        <div class="item">
                            <div class="content">
                                <br />
                                <a class="header text-decoration-underline">Exam Date Announced </a>
                                <br>
                                <div class="description">An excellent polish restaurant, quick delivery and hearty,
                                    filling meals.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="ui segment">
            <div class="content">
                <div class="header segment-heading">
                    <span>Calendar</span>
                    <a class="right-float expand-or-minimize">View All</a>
                </div>
            </div>
        </div>
        <button type="button" onclick="openModal()" class="ui basic fluid button margin-top--5">ORGANIZATIONS</button>
    </div>
    <div class="one wide column"></div>
</div>
<router-outlet></router-outlet>