<div class="mat-inside-page-container mat-app-background2">
    <div class="d-flex flex-ai-center">
        <div class="w-50 w-below-sm-100 text-center">
            <img src="{{'assets/images/landingPage.jpg' |  cdnprefixurl}} " />
        </div>
        <div class="w-50 w-below-sm-100 mat-body-2">
            <p class="mb-16">In 2000, ten years later, the international community met again at the World Education Forum in Dakar, Senegal, an event which drew 1100 participants.</p>
            <p class="mb-16">The forum took stock of the fact that many countries were far from having reached the goals established
                at the
                World Conference on Education for All in 1990.</p>
            <p class="mb-16">The participants agreed on the Dakar Framework for Action which re-affirmed their commitment to achieving
                Education
                for All by the year 2015, and identified six key measurable education goals which aim to meet the
                learning
                needs of all children, youth and adults by 2015.</p>
            <a mat-button href="javascript:void(0)">Read More <mat-icon>navigate_next</mat-icon></a>
        </div>
    </div>

    <div class="sb-g">
        <div class="sb-g-col-xs-12 sb-g-col-md-8 sb-g-col-lg-8 sb-g-col-xxxl-12 d-flex flex-dc">
            <div class="d-flex flex-ai-center p-10">
                <h3 class="mat-title mb-0">Featured Articles</h3>
                <a mat-button href="javascript:void(0)" class="ml-auto">View All</a>
            </div>
            <div class="sb-g" style="gap:1rem;">
                <div
                    class="sb-g-col-xs-12 sb-g-col-md-6 sb-g-col-lg-6 sb-g-col-xxxl-8 mat-bg-white p-16 d-flex flex-dc br-16">
                    <p class="mat-body-2">Enrollment info for life skill training Enrollment info for life skill
                        training Enrollment info
                        for life skill training Enrollment info for life skill training Enrollment info for life
                        skill training Enrollment info for life skill training</p>
                    <h4 class="mat-subheading-1">Enrollment info for life skill training</h4>
                </div>
                <div
                    class="sb-g-col-xs-12 sb-g-col-md-6 sb-g-col-lg-6 sb-g-col-xxxl-8 mat-bg-white p-16 d-flex flex-dc br-16">
                    <p class="mat-body-2">Polytechnics information june 2017 Polytechnics information june 2017
                        Polytechnics information
                        june 2017 Polytechnics information june 2017 Polytechnics information june 2017 Polytechnics
                        information june 2017</p>
                    <h4 class="mat-subheading-1">Polytechnics information june 2017</h4>
                </div>
                <div
                    class="sb-g-col-xs-12 sb-g-col-md-6 sb-g-col-lg-6 sb-g-col-xxxl-8 mat-bg-white p-16 d-flex flex-dc br-16">
                    <p class="mat-body-2">Academic inspection formats Academic inspection formats Academic inspection
                        formats Academic
                        inspection formats Academic inspection formats Academic inspection formats</p>
                    <h4 class="mat-subheading-1">Academic inspection formats</h4>
                </div>
                <div
                    class="sb-g-col-xs-12 sb-g-col-md-6 sb-g-col-lg-6 sb-g-col-xxxl-8 mat-bg-white p-16 d-flex flex-dc br-16">
                    <p class="mat-body-2">ABC initiatives in practice ABC initiatives in practice ABC initiatives in
                        practice ABC initiatives
                        in practice ABC initiatives in practice ABC initiatives in practice</p>
                    <h4 class="mat-subheading-1">ABC initiatives in practice</h4>
                </div>
            </div>
        </div>
        <div class="sb-g-col-xs-12 sb-g-col-md-4 sb-g-col-lg-4 sb-g-col-xxxl-4">

            <div class="mat-bg-white p-16">
                <a class="mat-subheading-1 text-underline mb-8">Exam Date Announced </a>
                <p class="mat-body-2">An excellent polish restaurant, quick delivery and hearty, filling meals.</p>
            </div>
            <div class="mat-bg-white p-16 mt-16">
                <a class="mat-subheading-1 text-underline mb-8">Exam Date Announced </a>
                <p class="mat-body-2">An excellent polish restaurant, quick delivery and hearty, filling meals.</p>
            </div>

            <div class="mat-bg-white p-16 d-flex flex-ai-center mt-16">
                <h4 class="mat-subheading-1 mb-0">Calendar</h4>
                <a mat-button href="javascript:void(0)" class="ml-auto">View All</a>
            </div>

            <button type="button" mat-raised-button color="accent" onclick="openModal()"
                class="button-rounded mt-16 w-100">ORGANIZATIONS</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>