.content-input {
    display: none;
}

.content-iframe {
    width: 100%;
    height: 700px;
}

.content-video-player-youtube-dimensions.vjs-fluid {
    padding-top: 500px;
}

.content-player-container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: @white;
}

.content-player-body {
    padding: 0;
}

.content-player {
    position: relative;
    height: 99%;
    width: 99.8%;
}

.content-player iframe {
    min-height: 500px;
}

.player-video {
    width: 100% !important;
    height: 500px !important;
    position: relative;
}

.content-player-header {
    padding: 5px 5px 5px 5px !important;
    border: gray !important;
}

.pdf-viewer {
    padding: 1%;
    position: relative;
    background-color: @white;
}

.editor textarea {
    background-color: @white;
    height: 180px !important;
    resize: none !important;
}

.pdf-editor {
    overflow: scroll !important;
    height: 500px !important;
    width: 100% !important;
}

.width-25p {
    width: 25% !important;
}

.editroIframe {
    box-shadow: 2px 2px 2px 2px rgba(1, 5, 0, 0.41);
}

.contentViewerIframeShadow {
    box-shadow:2px 2px 2px 2px rgba(1, 5, 0, 0.41);
    width: 77%;
    margin-left: 11%;
    border-radius: 1%;
}