.noResultContainer{
	margin-top: 15% !important;
}
.noresult.column img{
	width: 5em;
    height: 5em;
    display: block;
    margin: auto;
}
.noResultText
{
	text-align: center;
    padding-top: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #979797;
}
.noResultSearchText{
	text-align: center;
    padding-top: 5px;
    font-size: 13px;
    /* font-weight: 600; */
    color: #979797
}