@import "variables";
@import 'mixins/mixins';
@import 'pages/sign_in_up';

.ui.raised.shadow.container.segment {
  margin: calculateRem(20px) auto !important;
  padding: 0;
  padding: calculateRem(10px);
  width: calc(100% - 4%) !important;
  min-height: 90vh;
}

@media only screen and (min-width: 1024px) {
  .ui.raised.shadow.container.segment {
    margin: calculateRem(35px) auto !important;
    width: calculateRem(944px) !important;
    padding: calculateRem(20px);
    box-shadow: 0 calculateRem(2px) calculateRem(16px) 0 rgba(var(--rc-rgba-black), 0.2);
  }
}
@media only screen and (max-width: 767px) {
  .ui.form .fields {
    flex-wrap: nowrap;
  }
}
.ui.form.borderd input[type="text"],
.ui.form.borderd input[type="text"]:focus,
.ui.form.borderd input[type="email"],
.ui.form.borderd input[type="number"],
.ui.form.borderd input[type="tel"],
.ui.form.borderd input[type="password"],
.ui.form.borderd input[type="url"],
.ui.form.borderd input:not([type]),
.ui.form.borderd input:not([type]):focus {
  border: calculateRem(1px) solid var(--gray-300);
  padding: 0.8em 0 0.8em 1em;
  border-radius: calculateRem(4px);
}
.ui.form.borderd input:focus {
  border-color: var(--primary-400) !important;
}
.ui.light-sea-green.button {
  background: var(--secondary-400);
  color: var(--white);
  height: calculateRem(38px) !important;
}
.ui.grey.button {
  background: var(--gray-200);
  color: var(--white);
  pointer-events: none !important;
  cursor: not-allowed !important;
  height: calculateRem(38px) !important;
}
.grey.text {
  color: var(--gray-400);
}
.orange.text {
  color: var(--red-100);
}
.orange-border {
  border-color: var(--red-100) !important;
}
.blue.text {
  color: var(--primary-color);
}
.ui.basic.blue.navigation.label {
  background: var(--white) !important;
  color: var(--primary-color) !important;
  border: 0 !important;
  padding-left: 0;
  font-size: 1rem;
  font-weight: normal;
  padding: calculateRem(10px) 0;
}
.ui.basic.error.label {
  background: none !important;
  color: var(--red-100) !important;
  border: 0 !important;
  padding-left: 0;
  font-size: 1rem;
  font-weight: normal;
  padding: calculateRem(10px) 0;
}
.fullpage {
  ::ng-deep {
    .ui.fullscreen.modal > .close {
      opacity: 0;
      pointer-events: none;
    }
  }
}
i.close.icon {
  font-size: 1.5rem;
  position: absolute;
  right: calculateRem(6px);
  top: calculateRem(12px);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ui.form .field > label {
  font-size: 1rem !important;
  font-weight: normal;
}
.width-300 {
  width: calculateRem(300px) !important;
}

.ui[class*="left icon"].input > input {
  padding-left: 3.37142857em !important;
}

.ui.left.icon.input .icon {
  left: calculateRem(2px);
  top: calculateRem(11px);
  font-size: calculateRem(12px);
  font-family: inherit;
}
.opacity-1 {
  opacity: 1 !important;
}

.ui[class*="left icon"].input > input {
  padding-left: calculateRem(32px) !important;
  border: 0.0625rem solid var(--gray-200);
  height: calculateRem(32px);
}

.ui.radio.checkbox input:checked ~ label:before {
  border: 2px solid var(--primary-400);
}
.ui.radio.checkbox input:checked ~ label:after {
  background: var(--primary-400);
}
