<app-modal-wrapper #modal [config]="{disableClose: true, size: 'large', panelClass: ['material-modal', 'fullscreen-modal']}">
  <ng-template sbModalContent>

    <div [appTelemetryImpression]="telemetryImpression" class="signup-background update-contact">
      <div class="fullpage-background-image">
        <div class="container-wrapper">

          <div *ngIf="!showOtpComp">
            <div class="d-flex flex-jc-center mb-24">
              <img alt={{tenantInfo.tenantName}} height="45" src="{{tenantInfo.logo}}">
            </div>
            <p class="text-center mb-24">{{resourceService?.frmelmnts?.lbl?.mobileEmailInfoText |
                  interpolate:'{instance}': resourceService.instance}}</p>
            <form #contactDetailsForm="ngForm">

              <!-- This has been converted to Angular material & needs to be verified(working or not) -->
              <div class="d-flex flex-ai-center flex-w-wrap mb-8" id="Mandatory">
                <mat-radio-group aria-label="{{resourceService?.frmelmnts?.lbl?.phoneNumber}}" class="w-100" [(ngModel)]="contactForm.type">
                  <mat-radio-button (click)="resetForm('phone')" type="radio" [value]="'phone'">{{resourceService?.frmelmnts?.lbl?.phoneNumber}}</mat-radio-button>
                  <mat-radio-button (click)="resetForm('email')" type="radio" [value]="'email'">{{resourceService?.frmelmnts?.lbl?.phoneNumber}}</mat-radio-button>
                </mat-radio-group>
              </div>

              <!-- <div class="inline fields d-flex flex-w-wrap mb-8" id="Mandatory">
                <div class="ui radio checkbox mr-16" tabindex="0" (click)="resetForm('phone')">
                  <input type="radio" value="phone" [(ngModel)]="contactForm.type" name='type'>
                  <label for="phoneNumber">{{resourceService?.frmelmnts?.lbl?.phoneNumber}}</label>
                </div>
                <div class="ui radio checkbox" tabindex="0" (click)="resetForm('email')">
                  <input type="radio" value="email" [(ngModel)]="contactForm.type" name='type'>
                  <label for="email">{{resourceService?.frmelmnts?.lbl?.email}}</label>
                </div>
              </div> -->
              <div *ngIf="contactForm.type === 'phone'" class="ui left icon input d-flex sb-field">
                <input matInput [(ngModel)]="contactForm.value" name="value"
                  placeholder="{{ resourceService?.frmelmnts?.lbl?.tenDigitPhone }}" required>
                <!-- pattern="validationPattern.phone" -->
                <!-- <i class=" icon">+91-</i> -->
              </div>
              <label
                *ngIf="!userBlocked && !isValidIdentifier && contactForm.type === 'phone' && contactDetailsForm.controls.value && disableSubmitBtn && contactDetailsForm.controls.value.touched"
                class="color-warn mat-caption mt-8">
                {{ resourceService.frmelmnts?.lbl?.validPhone}}</label>
              <div *ngIf="contactForm.type === 'email'">
                <mat-form-field appearance="fill">
                  <input [(ngModel)]="contactForm.value" matInput name="value"
                    placeholder="{{ resourceService.frmelmnts?.lbl?.email }}" required>
                </mat-form-field>
                <!-- pattern="validationPattern.email" -->
              </div>
              <label
                *ngIf="!userBlocked && !isValidIdentifier && contactForm.type === 'email' && contactDetailsForm.controls.value && disableSubmitBtn && contactDetailsForm.controls.value.touched"
                class="color-warn mat-caption mt-8 pb-0">
                {{resourceService.frmelmnts?.lbl?.validEmail}}</label>
              <label *ngIf="disableSubmitBtn && userBlocked" class="color-warn mat-caption mt-8">
                {{resourceService.frmelmnts?.lbl?.blockedUserError}}</label>
              <label *ngIf="disableSubmitBtn && userExist" class="color-warn mat-caption mt-8">
                {{ contactForm.type === 'phone' ? resourceService.frmelmnts?.lbl?.uniquePhone :
                    resourceService.frmelmnts?.lbl?.uniqueEmail}}</label>
              <label *ngIf="disableSubmitBtn && captchaValidationFailed" class="color-warn mat-caption mt-8">
                {{resourceService.frmelmnts?.lbl?.captchaValidationFailed}}</label>

              <div class="mt-16">
                <mat-radio-group aria-label="{{resourceService?.frmelmnts?.lbl?.phoneNumber}}" class="w-100">
                  <mat-radio-button id="tncAccepted" [(ngModel)]="contactForm.tncAccepted"
                  (change)="toggleTncCheckBox($event)" class="mr-8 cursor-pointer" #tncAccepted="ngModel" [value]="'tncAccepted'">{{resourceService?.frmelmnts?.lbl?.tncLabel}}
                    <a class="text-underline fsmall" href="javascript:void(0)" tabindex="0"
                      (click)="showAndHidePopup(true)">
                      {{resourceService?.frmelmnts?.lbl?.tncLabelLink | interpolate:'{instance}': instance}}
                    </a>
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <!-- <div class="required sb-checkbox sb-checkbox-primary sb-field mt-16">
                <input type="checkbox" id="tncAccepted" role="checkbox" [(ngModel)]="contactForm.tncAccepted"
                  (change)="toggleTncCheckBox($event)" name="tncAccepted" class="mr-10 cursor-pointer" required
                  #tncAccepted="ngModel">
                <label for="tncAccepted" class="fsmall mr-0">{{resourceService?.frmelmnts?.lbl?.tncLabel}}
                  <a class="text-underline fsmall" href="javascript:void(0)" tabindex="0"
                    (click)="showAndHidePopup(true)">
                    {{resourceService?.frmelmnts?.lbl?.tncLabelLink | interpolate:'{instance}': instance}}
                  </a>
                </label>
              </div> -->
              <re-captcha *ngIf="isP1CaptchaEnabled === 'true' && googleCaptchaSiteKey" #captchaRef="reCaptcha"
                (resolved)="$event && resolved($event) && captchaRef.reset()" siteKey="{{googleCaptchaSiteKey}}"
                size="invisible"></re-captcha>
              <a tabindex="0" (click)="captchaRef.reset()" id="resetGoogleCaptcha"></a>
              <div class="text-center mt-24">
                <button [disabled]="disableSubmitBtn" mat-raised-button color="accent"
                  class="button-rounded w-100" tabindex="0"
                  (click)="submitForm()">{{resourceService.frmelmnts?.btn?.submitbtn}}</button>
              </div>
            </form>
          </div>

          <div *ngIf="showOtpComp">
            <app-otp-popup [otpData]="otpData" [redirectToLogin]="true"
              (verificationSuccess)="handleOtpValidationSuccess($event)"
              (redirectToParent)="handleOtpValidationFailed($event)">
            </app-otp-popup>
          </div>
          <div *ngIf="showMergeConfirmation">
            <app-sso-merge-confirmation [userDetails]="userDetails" [identifierType]="contactForm.type"
              [identifierValue]="contactForm.value" [isTncAccepted]="contactForm.tncAccepted"
              [tncVersionAccepted]="tncLatestVersion">
            </app-sso-merge-confirmation>
          </div>
        </div>

      </div>
    </div>
    <app-tnc-popup (close)="showAndHidePopup(false)" [tncUrl]="termsAndConditionLink" #termsAndCondPopUp
      *ngIf="showTncPopup">
    </app-tnc-popup>

  </ng-template>
</app-modal-wrapper>
