<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" ng-app="homePageApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>SunBird</title>

    <script type="text/javascript" src="https://fast.fonts.net/jsapi/6bb78b32-9b12-4a14-9179-8de98470e4b1.js"></script>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css" type="text/css">
    <link rel="stylesheet" href="/css/web.css" />
    <link rel="stylesheet" href="/css/font-style.css" />
    <link rel="stylesheet" href="/css/animate.css" />


    <!-- <link rel="stylesheet" href="/css/student.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="/css/font-awesome.min.css"> -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="home-body" id="home-body" ng-controller="HowItWorksCtrl">
    <div class="wrapper">
        <header class="nav-down">
          <% include ../includes/header %>
        </header>
        <section>
          <div class="il-explore-bg">
              <div class="container">
                  <h2 class="header-black">ABOUT SunBird</h2>
                  <div class="howitworks-headr">
                      <span class="web-header-title">Build Competencies, not just Knowledge</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">MOOC 2.0</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">Cloud Platform</span>
                  </div>
              </div>
          </div>

          <div>
              <div class="il-web-padng">
                  <div class="row container il_explore_content">
                      <div class="col-md-12">
                          <p align="center">
                          <img src="../img/90210_1.png" alt="knowledge to competency" title="knowledge to competency" style="width:851px;height:315px;">
                          </p>

<p class="explr-content">About SunBird / What do we do?</p>
<p class="explr-content">SunBird combines leading edge developments in fields such as semantic computing, predictive analytics, learning science and information technology to deliver path breaking learning solutions to enterprises, training businesses and academic institutions.</p>
<p class="explr-content">SunBird’s learning solutions help its customers achieve dramatic improvements in learning outcomes, reduction in time to competency, and superior return on training investments.</p>
<p class="explr-content">Key elements that characterize SunBird’s learning solutions include:</p>
<ul class="explr-content">
  <li>Real time analytics of learner behavior, used to personalize content and support interventions</li>
  <li>Pedagogic innovations such as resurrecting the role of personalized coaching, but delivered on internet scale through precisely targeting such support to individual learners who need it at the right time</li>
  <li>Semantic analysis that automatically discovers the true pedagogic intent of course content, and enriching the course with supplemental content to augment the learning process</li>
</ul>
<p class="explr-content">Built by passionate technologists, learning scientists and data scientists, SunBird’s solutions represent a paradigm shift in how learning will be delivered and consumed.</p>
</div>
                  </div>
              </div>

             

              
          </div>
        </section>
    </div>
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/video.js"></script>
<script src="/js/vjs.youtube.js"></script>
<script src="/js/angular-d3-min.js"></script>
<script src="/js/d3.min.js"></script>
<script src="/js/controllers/homePageController.js"></script>
<script src="/js/controllers/loginController.js"></script>
<script src="/js/sunburst-services.js"></script>
<script src="/js/sunburst-directives.js"></script>
<script src="/js/sunburst-min.js"></script>

<% include ../includes/footer %>


</html>
