<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" ng-app="homePageApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>SunBird</title>

    <script type="text/javascript" src="https://fast.fonts.net/jsapi/6bb78b32-9b12-4a14-9179-8de98470e4b1.js"></script>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css" type="text/css">
    <link rel="stylesheet" href="/css/web.css" />
    <link rel="stylesheet" href="/css/font-style.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-social.css"/>

    <!-- <link rel="stylesheet" href="/css/student.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="/css/font-awesome.min.css"> -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="home-body" id="home-body" ng-controller="HowItWorksCtrl">
    <div class="wrapper">
        <header class="nav-down">
          <% include ../includes/header %>
        </header>
        <section>
          <div class="il-explore-bg">
              <div class="container">
                  <h2 class="header-black">SunBird Analytics</h2>
                  <div class="howitworks-headr">
                      <span class="web-header-title">Rich Data</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">Features</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">Predicting Risk</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">Recommendations</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">Dashboards</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">APIs</span>
                  </div>
              </div>
          </div>

          <div class="explore_content">
              
              <div>
                  <div class="row container il_explore_content">
                      
                      <div class="col-md-12">
                        
                    <p class="explr-content">
                         SunBird uses a set of proprietary models and algorithms on structured and unstructured data to produce insights and foresights about learner performance, effectiveness of content and learning activities and how engaged learners are. There are several applications of these insights including predicting learners who are at risk of dropping out or underperforming, powering dashboards and tuning the pedagogic instruments. These insights also help measure the latent abilities of learners such as their critical thinking or problem solving abilities.</p>
                      </div>
                  </div>
              </div>
              
              <div class="il-web-padng">
                  <div class="row container il_explore_content">
                      <div class="col-md-6">
                        <img src="../img/datasources.png" alt="Explore" title="Explore"  width="540" height="425">
                      </div>
                      <div class="col-md-6">
                        <div>
                          <h2 class="explore-red">Multiple types of Data</h2>
                        </div>
                          <p class="explr-content">SunBird’s analytics engines ingest multiple types of data from a variety of different sources. The basic data stream is a user’s click stream. Every activity a user does on the SunBird site is recorded. In addition SunBird ingests data such as scores obtained, number of attempts, attendance from the individual applications like the assessment engine and from all the learning activities and content players. SunBird also uses unstructured data such as forum posts, notes learners take, comments, messages, questions and answers. </p>
                          <p class="explr-content">Text analytics algorithms operate on unstructured data and extract information relevant to analytics. This helps SunBird distinguish between a learner who is posting a genuine answer to a question versus a learner who is spamming, for example. Beyond the data generated within the SunBird platform, analytics also uses data from external sources. This includes demographic data, learner data such as academic records and past performance that are in learner management or HRIS systems.</p>
                      </div>
                  </div>
              </div>

              <div class="faculty_showcase_bg il-web-padng">
                  <div class="row container il_explore_content">
                      <div class="col-md-12">
                          <div> 
                              <h2 class="faculty-green">Learning analytics</h2>
                          </div>
                          <p class="explr-content">We have identified thousands of pedagogically significant “features” that are relevant to academic analytics. Examples of these include “time spent on watching videos”; “number of supplemental content items referred to from a learning object”; “the time taken to work on an assignment”. Features also track the transitions learners do between the various environments in SunBird. Examples include - watching a video and taking a note; asking a question and then browsing supplementary content; seeing a problem definition and querying the Q&A forums. </p>

 <p class="explr-content">Feature engineering is a continuous process in the data science team at SunBird. Observed patterns are used to identify and promote or suppress the impact of specific features in a deployment scenario. For example, if it is found out that in many non-management higher-education courses the use of forums is known to be poor, then its impact on overall learner behavior can be set lower. A faculty or course-admin can fine tune the pedagogic model with assistance from the platform.
 </p>
                      </div>
                      
                  </div>
              </div>

              <div class="il-web-padng">
                  <div class="row container il_explore_content">
                      <div class="col-md-7">
                          <img src="/img/signatures.png" alt="atrisk" title="atrisk" width="600" height="520">
                      </div>
                      <div class="col-md-5">
                          <div>
                        
                            <h2 class="il_headr_color tutoring-blue">Predicting at-risk learners</h2>
                          </div>
                          <p class="explr-content">Proactively identifying at-risk learners is key to ensuring that all learners accomplish the desired outcomes. SunBird’s risk models is based on a holistic assessment of a learner taking into consideration scores, interactions and activity during a course as well as demographic information and past performance. SunBird uses a large set of identified features to build models of learner behavior. </p>
                          <p class="explr-content">SunBird identifies discriminating signatures for various categories of learners for example based on known performance. A specific learners usage profile is compared against known signatures to predict risk. The grain of predictions can go down to individual learning object or concept levels. Once a learner is identified to be at-risk, the SunBird engine suggests a mechanism of intervention - either recommendations of content or activities or intervention by a coach. The analytics engine continues to measure learner performance and risk to gauge the effectiveness of intervention.</p>
                      </div>
                  </div>
              </div>

              <div class="faculty_showcase_bg il-web-padng">
                  <div class="row container il_explore_content">
                      <div class="col-md-12">
                          <div>
                            
                            <h2 class="showcase-red">Semantic analysis of content</h2>
                          </div>
                          <p class="explr-content">SunBird’s analytics engine uses a set of deep learning algorithms and NLP techniques to analyze textual content. They are used to both represent as well understand documents and learning objects.  SunBird’s semantic engines build rich ontologies of concepts that describe the subject being taught in course, such as Java Programming Language. The elements of the ontology are built by analyzing a large corpus of material including existing learning material. The ontology also has a rich set of relations between the concepts including co-occurrence, pre-requisites and so on. </p>
                          <p class="explr-content">In addition to representation, SunBird’s semantic engines also determine the pedagogic intent or treatment of concepts covered in content. This identification is key to enrich a content object such as a video or providing precise content recommendations either for a specific learner's need. </p>
                          <p class="explr-content">SunBird’s content recommendation algorithms use enriched ontologies and inferred document properties for providing a personalized learning experience. It also makes it possible to gain access to over a thousand concept elements and tens of thousands of content elements for a given course.</p>
                      </div>
                      
                  </div>
              </div>

              <div class="il-web-padng">
                  <div class="row container il_explore_content">
                      <div class="col-md-7">
                          <img src="/img/dashboard.png" alt="dashboard" title="dashboard" width="600" height="440">
                      </div>
                      <div class="col-md-5">
                          <div>
                              
                              <h2 class="persnl-black">Dashboards</h2>
                          </div>
                          <p class="explr-content">The features identified as part of analytics are also used to drive various dashboards that indicate learner performance,  content and intervention effectiveness. Dashboards in SunBird show a set of correlated variables or key indicators designed to address a specific purpose. </p>
                          <p class="explr-content">The SunBird learner performance dashboard indicates four key indicators for every learner - Progress, Scores, Attendance and Degree of Engagement. Progress is an indicator of how many lessons and activities are completed as per a course schedule. Degree of Engagement is a parameter used to measure how involved a learner is with the learning objects of a course. Degree of engagement combines several custom features including time spent, access patterns, quality of interactions, supplemental content accessed etc. It is computed with respect to the various pedagogic elements such as course content, assessments, forum posts, supplemental content usage, coaching activities, note taking etc. In general a student with a lower degree of engagement is at-risk and will need some intervention.</p>

                      </div>
                  </div>
              </div>
              
              
              <div class="faculty_showcase_bg il-web-padng">
                  <div class="row container il_explore_content">
                      <div class="col-md-12">
                          <div>
                            
                            <h2 class="showcase-red">APIs</h2>
                          </div>
                          <p class="explr-content">SunBird’s analytic capabilities are available through a powerful set of APIs. RDF is used as the data interchange format. The APIs can be used to either enhance existing content with additional supplementary content or to add adaptive learning/predictive analysis of students at risk to existing LMSes. </p>
                      </div>
                      
                  </div>
              </div>
          </div>
        </section>
    </div>
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/video.js"></script>
<script src="/js/vjs.youtube.js"></script>
<script src="/js/angular-d3-min.js"></script>
<script src="/js/d3.min.js"></script>
<script src="/js/controllers/homePageController.js"></script>
<script src="/js/controllers/loginController.js"></script>
<script src="/js/sunburst-services.js"></script>
<script src="/js/sunburst-directives.js"></script>
<script src="/js/sunburst-min.js"></script>
<footer>
    <% include ../includes/publicFooter %>
</footer>

</html>
