<div class="container-fluid cards-section cards-section">
    <h2>Articles</h2>
    <div class="ui link cards" ng-cloak>
        <div class="ui card" ng-repeat="article in articleData" ng-click="showModelBox(article)">
            <div class="content">
                <div class="header">{{article.title}}</div>
                <div class="meta">
                    <span>{{article.date}}</span>
                </div>
                <p>
                    {{article.discription}}
                </p>
            </div>
        </div>
    </div>
</div>
