<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" ng-app="homePageApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>SunBird</title>

    <script type="text/javascript" src="https://fast.fonts.net/jsapi/6bb78b32-9b12-4a14-9179-8de98470e4b1.js"></script>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css" type="text/css">
    <link rel="stylesheet" href="/css/web.css" />
    <link rel="stylesheet" href="/css/font-style.css" />
    <link rel="stylesheet" href="/css/animate.css" />


    <!-- <link rel="stylesheet" href="/css/student.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="/css/font-awesome.min.css"> -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="home-body" id="home-body" ng-controller="HowItWorksCtrl">
    <div class="wrapper">
        <header class="nav-down">
          <% include ../includes/header %>
        </header>
        <section>
          <div class="il-explore-bg">
              <div class="container">
                  <h2 class="header-black">CLASS ACT</h2>
                  <div class="howitworks-headr">
                      <span class="web-header-title">Student Portfolio</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">Show case</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">Projects</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">Forever</span>
                  </div>
              </div>
          </div>

          <div class="">
              <div class="il-web-padng">
                  <div class="row container il_explore_content">
                      <div class="col-md-12">
                          


<p class="explr-content"> ClassAct is a part of the ILIMI network that enables our students to showcase their achievements as learners. Think of it as a "Linked In" for lifelong learning. </p>
<p class="explr-content">
Each course in ILIMI is organised around real-world projects. For instance our students may build cloud based commerce applications or a service that analyses social data to determine sentiments about a popular product. Our students demonstrate their competencies by showcasing the work they have done rather than only relying on marks and grades. In addition, our students produce several artefacts, earn badges and other accomplishments as they complete their courses. All student achievements along with their course transcripts are published on to the ClassAct environment. </p>
<p class="explr-content">
ClassAct also integrates with other learning environments and social sites, indeed with any environment that supports the Experience API. This allows our students to have a single place where all their learning related accomplishments can be aggregated. 
<p class="explr-content">
Students creates portfolios that best showcase their work and capabilities and share these with potential and existing employers.</p>


                      </div>
                  </div>
              </div>

             

              
          </div>
        </section>
    </div>
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/video.js"></script>
<script src="/js/vjs.youtube.js"></script>
<script src="/js/angular-d3-min.js"></script>
<script src="/js/d3.min.js"></script>
<script src="/js/controllers/homePageController.js"></script>
<script src="/js/controllers/loginController.js"></script>
<script src="/js/sunburst-services.js"></script>
<script src="/js/sunburst-directives.js"></script>
<script src="/js/sunburst-min.js"></script>

<!-- Footer -->
<% include ../includes/footer %>

</html>
