<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" ng-app="homePageApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>SunBird</title>

    <script type="text/javascript" src="https://fast.fonts.net/jsapi/6bb78b32-9b12-4a14-9179-8de98470e4b1.js"></script>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css" type="text/css">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/web.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/announcement.css" />
    <link rel="stylesheet" href="/css/font-style.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/video-js.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-social.css"/>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
    .courseDescContent p.common_heading {
        font-size: 20px !important;
        font-family: 'FrutigerNeueLTW01-CnBol 774330' !important;
        padding-bottom: 0;
    }
    </style>

</head>

<body id="home-body" ng-controller="CourseAnnouncementCtrl" ng-cloak class="ng-cloak">
    <input type="hidden" id="courseId" value="<%=courseId%>" />
    <input type="hidden" id="loginFromAncmentPage" ng-model="loginFromAncmentPage"/>
        <header class="nav-down">
            <% include ../includes/header %>
        </header>
        <section class="banner-container block-pad sectionNextToHeader">
            <div class="container" style="padding-bottom: 60px;">
                <h1 class="course-level-title">{{course.name}}</h1>

                <div class="row marTop15">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="il-profile-cont">
                                    <div class="row drilling_display">
                                        <div class="col-md-6 il-data-container" ng-show="course.faculty">
                                            <div class="il-contact-data">
                                                <div class="pull-left il-contact-pic col-md-3 nopad">
                                                    <img class="small_pic" ng-src="{{course.faculty.image}}" alt="User" />
                                                </div>
                                                <div class="pull-left il-contact-info col-md-9 noPad padLeft5">
                                                    <span class="il-display metadata_text">Lead faculty</span>
                                                    <a href="/instructor/{{course.faculty.shortId}}" class="person_name">{{course.faculty.name}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 il-data-container" ng-show="course.tutors" ng-repeat="tutor in course.tutors">
                                            <div class="il-contact-data">
                                                <div class="pull-left il-contact-pic col-md-3 nopad">
                                                    <img class="small_pic" ng-src="{{tutor.image}}" alt="User" />
                                                </div>
                                                <div class="pull-left il-contact-info col-md-9 noPad padLeft5">
                                                    <span class="il-display metadata_text">Tutor</span>
                                                    <a href="/instructor/{{tutor.shortId}}" class="person_name">{{tutor.name}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="marTop15">
                            <p class="main_description">{{course.homeDescription}}</p>
                        </div>
                        <div class="row marTop15">
                            <div class="col-md-12">
                                <ul class="feature-list-glanceitems">
                                    <li ng-show="course.noOfModules">
                                        <h3>{{course.noOfModules}}</h3>
                                        <span>Modules</span>
                                    </li>
                                    <li ng-show="course.weeksDuration">
                                        <h3>{{course.weeksDuration}}</h3>
                                        <span>Weeks</span>
                                    </li>
                                    <li ng-show="course.hoursPerWeek">
                                        <h3>{{course.hoursPerWeek}}
                                            <span>hrs</span>
                                        </h3>
                                        <span>per week</span>
                                    </li>
                                    <li ng-show="course.hoursOfVideo">
                                        <h3>{{course.hoursOfVideo}}
                                            <span>hrs</span>
                                        </h3>
                                        <span>Video</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 nopad">
                        <div style="height: 330px; margin-left: 100px; margin-bottom:50px;" id="videoDiv_0"></div>
                    </div>
                </div>
            </div>


            <section class="feature-container feature-container-border nopad">
                <div class="container">
                    <div class="widget-container clearfix">
                        <a onclick="window.location='#courseDescription'" class="widget icon" ng-show="course.description">
                            <div class="search-icon-box"><i class="icon-explore-icon"></i>
                            </div>
                            <div class="explore-dexcription">
                                <h3 class="ex">About this course</h3>
                            </div>
                        </a>
                        <a onclick="window.location='#whatLearn'" class="widget icon" ng-show="course.objectives">
                            <div class="tutor-icon-box"><i class="icon-tutor"></i>
                            </div>
                            <h3 class="tu">what will you learn?</h3>
                        </a>
                        <a onclick="window.location='#showCaseProject'" class="widget icon" ng-show="course.showCaseProject">
                            <div class="showcase-icon-box"><i class="icon-showcase"></i>
                            </div>
                            <h3 class="sh">Showcase Project</h3>
                        </a>
                        <a onclick="window.location='#courseSyllabus'" class="widget icon" ng-show="course.modules.length > 0">
                            <div class="faculty-icon-box"><i class="icon-topfaculty"></i>
                            </div>
                            <h3 class="tf">Syllabus</h3>
                        </a>
                        <a onclick="window.location='#enrollCourse'" class="widget icon" ng-show="true">
                            <div class="personalize-icon-box"><i class="icon-personalization"></i>
                            </div>
                            <h3 class="pe">Enrollment</h3>
                        </a>
                    </div>
                </div>
            </section>
        </section>

        <section id="courseDescription" class="block-pad" ng-show="course.description">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 pad50">
                        <br/>
                        <img style="height: 240px; width: 400px;" ng-src="{{course.image}}" />
                    </div>
                    <div class="col-md-7 pad50">
                        <div>
                            <h1 class="ex course-anc-header">About this Course</h1>
                        </div>
                        <div class="courseDescContent main_description">
                            <span ng-bind-html="renderHtml(course.description)"></span>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="whatLearn" class="banner-container block-pad" ng-show="course.objectives">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 pad50">
                        <div>
                            <h1 class="tu course-anc-header">What will you learn?</h1>
                        </div>
                        <div class="courseDescContent main_description">
                            <span ng-bind-html="renderHtml(course.objectives)"></span>
                        </div>
                    </div>
                    <div class="col-md-6 pad50 pull-right">
                        <div class="feature-soft-cont" ng-if="showSunburst">
                            <div id="sunburst" sunburst data="data" sunburstId="sunburst" style="width: 450px;"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="feature-list-glanceitems concept-list-glanceitems">
                                        <li>
                                            <h4>Explore</h4>
                                        </li>
                                        <li>
                                            <h4 id="sunburstConceptCount" class="course-sunbcount"></h4>
                                        </li>
                                        <li>
                                            <h4 id="sunburstContentCount" class="course-sunbcount"></h4>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="feature-soft-cont" ng-if="!showSunburst">
                            <img style="width: 450px;" ng-src="{{course.conceptMapImage}}"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="showCaseProject" class="block-pad" ng-show="course.showCaseProject">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 pad50">
                        <img ng-src="{{course.projectImage}}" class="course-anc-img"></img>
                    </div>
                    <div class="col-md-6 pad50">
                        <div>
                            <h1 class="sh course-anc-header">Showcase Project</h1>
                        </div>
                        <div class="courseDescContent main_description">
                            <span ng-bind-html="renderHtml(course.showCaseProject)"></span>
                        </div>
                    </div>
                </div>
        </section>

        <section id="courseSyllabus" class="banner-container block-pad">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 pad50">
                        <div class="il-lesson-container">
                            <div ng-show="course.modules.length > 0">
                                <h1 class="tf course-anc-header">Syllabus</h1>
                                <div class="il-lesson-container">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default no-top-border" ng-repeat="child in course.modules">
                                            <div ng-include="'child_list_template.html'"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="enrollCourse" name="enrollCourse" class="block-pad" ng-show="coursePackages.length > 0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 pad50">
                        <div>
                            <h1 class="course-anc-header">Enrollment</h1>
                        </div>
                        
                        <div class="enrol_table">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="table_header">
                                        <tr>
                                            <th></th>
                                            <th ng-repeat="package in coursePackages">
                                                <h4>{{package.name}}</h4>
                                                <h1 ng-if="package.price != '0'">&#x20B9;{{addCommas(package.price)}}</h1>
                                                <h1 ng-if="package.price == '0'">Free</h1>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="courseDetails_content">
                                        <tr>
                                            <td>
                                                <span>Lecture Hours</span>
                                            </td>
                                            <td ng-class="{'basicPlan': $index%2== 0}" ng-repeat="package in coursePackages">
                                                <span ng-show="package.totalLearningTime">{{package.totalLearningTime}} Hrs.</span>
                                                <span ng-show="!package.totalLearningTime">NA</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>Tutoring Time</span>
                                            </td>
                                            <td ng-class="{'basicPlan': $index%2== 0}" ng-repeat="package in coursePackages">
                                                <span ng-if="package.tutoringHours">{{package.tutoringHours}} Hrs.</span>
                                                <span ng-if="!package.tutoringHours || package.tutoringHours == '0'">0 Hrs.</span>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="outcome in courseOutcome">
                                            <td class="OutCome">
                                                <span class="oc-header" id="OutCome_{{$index}}">{{outcome.shortDescription}}</span>
                                                <!-- <p class="oc-shortdesc">{{outcome.shortDescription}}</p> -->
                                            </td>
                                            <td ng-class="{'basicPlan': $index%2== 0}" ng-repeat="package in coursePackages">
                                                <i class="glyphicon glyphicon-remove-circle remove-icon" ng-show="package.outcome.indexOf(outcome.name) == -1"></i>
                                                <i ng-show="package.outcome.indexOf(outcome.name) > -1" class="glyphicon glyphicon-ok-circle ok-icon"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <% if(typeof user=='undefined') { %>
                                            <td colspan="{{coursePackages.length + 1}}" class="basicPlan">
                                                <div style="text-align:center;">
                                                    <h3 class="head-pkg-enroll">Signin to enroll a package</h3>
                                                    <a class="btn btn-default btn-sm enroll-btn" href="javascript:void(0);" data-toggle="modal" onclick="loadAnnoucementLogin()" data-target="#signInModal">SIGN IN</a>
                                                </div>    
                                            </td>
                                            <% } else { %>
                                            <td></td>
                                            <td ng-show="enrolledPackage.status=='NOT_ENROLLED'" ng-class="{'basicPlan': $index%2== 0}" ng-repeat="package in coursePackages">
                                                <a class="btn btn-default btn-sm enroll-btn" href="javascript:void(0);" ng-click="enrollPackage(package.identifier)">Enroll</a>
                                            </td>
                                            <td ng-show="enrolledPackage.status=='ENROLLED'" ng-class="{'basicPlan': $index%2== 0}" ng-repeat="package in coursePackages">
                                                <span ng-show="enrolledPackage.packageId==package.identifier"><b>My Current Plan</b></span>
                                                <a ng-show="enrolledPackage.packageId!=package.identifier" class="btn btn-default btn-sm enroll-btn enroll-disabled" href="javascript:void(0);">Enroll</a>
                                            </td>
                                            <% } %>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <script src="/js/jquery.min.js"></script>
        <script src="/js/underscore.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/angular.min.js"></script>
        <script src="/js/angular-route.min.js"></script>
        <script src="/js/video.js"></script>
        <script src="/js/vjs.youtube.js"></script>
        <script src="/js/angular-d3-min.js"></script>
        <script src="/js/d3.min.js"></script>
        <script src="/js/controllers/homePageController.js"></script>
        <script src="/js/controllers/loginController.js"></script>
        <script src="/js/sunburst-services.js"></script>
        <script src="/js/sunburst-directives.js"></script>
        <script src="/js/sunburst-min.js"></script>
        
        <% include ../includes/publicFooter %>


        <script type="text/ng-template" id="child_list_template.html">
            <div class="panel-heading">
                <div class="panel-icon-cont">
                    <i class="glyph24 icon icon-moduel"></i>
                </div>
                <div class="panel-header-content">
                    <h3 class="no-margin">{{child.name}}</h3>
                    <p class="common_content">
                        {{child.description | limitTo : 250}}
                        <span ng-if="child.description.length > 250">...</span>
                    </p>
                </div>
                <a class="collapse-link {{lessonCollapsed ? 'collapsed' : ''}}" ng-show="child.subChildren && child.subChildren.length > 0" ng-click="lessonCollapsed=!lessonCollapsed">
                    <i class="il-collapse"></i>
                </a>
            </div>
        </script>

        <script>

        function loadAnnoucementLogin() {
            var scope = angular.element($("#pageHeader")).scope();
            scope.cleanUp();
            scope.loginFromAncmentPage = true;
        }

        </script>

</body>

</html>