<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" ng-app="homePageApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>SunBird</title>

    <script type="text/javascript" src="https://fast.fonts.net/jsapi/6bb78b32-9b12-4a14-9179-8de98470e4b1.js"></script>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css" type="text/css">
    <link rel="stylesheet" href="/css/web.css" />
    <link rel="stylesheet" href="/css/font-style.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-social.css"/>


    <!-- <link rel="stylesheet" href="/css/student.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="/css/font-awesome.min.css"> -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="home-body" id="home-body" ng-controller="HowItWorksCtrl">
    <div class="wrapper">
        <header class="nav-down">
          <% include ../includes/header %>
        </header>
        <section>
          <div class="il-explore-bg">
              <div class="container">
                  <h2 class="header-black">Question?</h2>
                  <div class="howitworks-headr">
                      <span class="web-header-title">Offerings</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">Courses</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">Requirements</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">Partnering</span>
                  </div>
              </div>
          </div>

          <div class="">
              <div class="il-web-padng">
                  <div class="row container il_explore_content">
                      <div class="col-md-12">

                        <!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
                        <h1 class="p1">FAQs for ME[A/R] Online Program</h1>
                        <!-- <p><a href="#1">How do I enroll myself for the MEAN / MERN stack online program from SunBird?</a></p>
                        <p><a href="#2">What are the eligibility criteria to attend the MEAN / MERN online program?</a></p>
                        <p><a href="#3">How can I get more information about the online program?</a></p>
                        <p><a href="#4">Is this program only for resources in projects to attend?</a></p>
                        <p><a href="#5">How do I get my login details to online platform?</a></p>
                        <p><a href="#6">What if I forget the password or login ID?</a></p>
                        <p><a href="#7">What infra do I need to attend the online program?</a></p>
                        <p><a href="#8">Can I join the live sessions from any computer?</a></p>
                        <p><a href="#9">Can I join the online program if it has already started? Can I join late?</a></p>
                        <p><a href="#10">What is the duration of the program? How much time should I spend each week?</a></p>
                        <p><a href="#11">How may live sessions every week? Are these scheduled sessions?</a></p>
                        <p><a href="#12">Deadlines are mentioned in what time zone?</a></p>
                        <p><a href="#13">Do I need any special software to install to do the online program?</a></p>
                        <p><a href="#14">Can I do the program from Windows OR Mac OR Linux computers?</a></p>
                        <p><a href="#15">Will I get a certificate at the end of the program?</a></p>
                        <p><a href="#16">What if I miss the Live sessions?</a></p>
                        <p><a href="#17">What happens if there is some technical glitch in the platform?</a></p>
                        <p><a href="#18">What if I resign from organization while doing the program? Can I complete the program?</a></p>
                        <p><a href="#19">It appears that online platform site is having slow response? Videos are not getting loaded properly?</a></p>
                        <p><a href="#20">What is the right browser that should be used to view the online platform?</a></p>
                        <p><a href="#21">How do I get my doubts clarified?</a></p>
                        <p><a href="#22">What is SunBird program unique methodology?</a></p> -->
                        <h3 id="1" class="p1"><span class="s1">How do I enroll myself for the MEAN / MERN stack online program from SunBird?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">Glad to see you interested in digital transformation technologies. Based on JavaScript MEAN stack is hugely popular tech stack used for developing modern web applications. </span></li>
                        <li class="li7"><span class="s1">If you meet the eligibility criteria for the online program, do contact your digital team on how to enroll</span></li>
                      </ul></p>
                        <h3 id="2" class="p1"><span class="s1">What are the eligibility criteria to attend the MEAN / MERN online program?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">Developers with aptitude and attitude to learn </span></li>
                        <li class="li7"><span class="s1">Willing to plan and prioritize your work to be able to spend 12-15 hours every week on learning</span></li>
                        <li class="li7"><span class="s1">Should have at least 1 year experience </span></li>
                        <li class="li9"><span class="s1">Must know any one Object oriented programming language,<span class="Apple-converted-space">&nbsp; </span>Web fundamentals, Data Structures and source code management</span></li>
                      </ul></p>
                        <h3 id="3" class="p1"><span class="s1">How can I get more information about the online program?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">Contact your digital team to get more details about the program</span></li>
                        <li class="li9"><span class="s1">Digital team also runs regular calls to understand the program contents and methodology &hellip; you may join any such sessions</span></li>
                      </ul></p>
                        <h3 id="4" class="p1"><span class="s1">Is this program only for resources in projects to attend?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">Main purpose of the online program is to give opportunity to resources in projects to get skilled on recent digital transformation technologies</span></li>
                        <li class="li9"><span class="s1">However, program is open for anyone (meeting the eligibility criteria) who can&rsquo;t be released from projects to attend the full-time 3 months classroom immersive session on MEAN stack</span></li>
                      </ul></p>
                        <h3 id="5" class="p1"><span class="s1">How do I get my login details to online platform?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">You will be notified through Wipro email about the URL, login ID and password to connect to the online platform</span></li>
                        <li class="li9"><span class="s1">Do check and ensure you are able to connect and login prior to the first session</span></li>
                      </ul></p>
                        <h3 id="6" class="p1"><span class="s1">What if I forget the password or login ID?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">Your Wipro email ID is your login ID</span></li>
                        <li class="li7"><span class="s1">If you forget your password, you can use the platform to get the password reset</span></li>
                      </ul></p>
                        <h3 id="7" class="p1"><span class="s1">What infra do I need to attend the online program?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">Computer with Intel i5 or greater with 8 GB RAM, 50 GB hard disk available space, Individual head phones with mike</span></li>
                        <li class="li7"><span class="s1">Internet access with good bandwidth to view videos (minimum of 1 MBPS per node)</span></li>
                        <li class="li7"><span class="s1">If you want to setup the virtual development environment on the local computer, then you will need:</span></li>
                        <ul>
                        <li class="li7"><span class="s1">Admin rights to install and setup the required software</span></li>
                        <li class="li7"><span class="s1">Uncheck any proxy setting from Browser - No-proxy </span></li>
                        <li class="li7"><span class="s1">Enable Virtualization (VT) in BIOS</span></li>
                        </ul>
                      </ul></p>
                        <h3 id="8" class="p1"><span class="s1">Can I join the live sessions from any computer?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">Yes</span></li>
                        <li class="li7"><span class="s1">You will need internet connection with decent bandwidth (at least 1 MBPS)</span></li>
                        <li class="li9"><span class="s1">You will also need a good headset with mike to ensure you don&rsquo;t disturb others nearby and participate actively during the live sessions</span></li>
                      </ul></p>
                        <h3 id="9" class="p1"><span class="s1">Can I join the online program if it has already started? Can I join late?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">No. Each participant is expected to enroll before the first session</span></li>
                        <li class="li9"><span class="s1">Program is designed to be interactive right from the beginning with self-reading and assignments flow through each week. Thus each week is like a small hill that participant climbs towards conquering the full-stack developer mountain.</span></li>
                      </ul></p>
                        <h3 id="10" class="p1"><span class="s1">What is the duration of the program? How much time should I spend each week?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">Program is spread over 12 weeks duration</span></li>
                        <li class="li7"><span class="s1">Each participant to spend 12-15 hours of time each week</span></li>
                        <li class="li9"><span class="s1">We recommend and expect participants to be online each week-day as per scheduled timing (2 hour window) &ndash; this is to help plan learning schedule better</span></li>
                      </ul></p>
                        <h3 id="11" class="p1"><span class="s1">How may live sessions every week? Are these scheduled sessions?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">There will be minimum of 2 or 3 live sessions every week</span></li>
                        <li class="li7"><span class="s1">Yes, the context setting sessions and summary sessions are scheduled and run as per program schedule</span></li>
                        <li class="li9"><span class="s1">The small group tutoring sessions are scheduled as needed and informed to participants when scheduled</span></li>
                      </ul></p>
                        <h3 id="12" class="p1"><span class="s1">Deadlines are mentioned in what time zone?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li9"><span class="s1">All time zone are as per Indian Standard Time</span></li>
                      </ul></p>
                        <h3 id="13" class="p1"><span class="s1">Do I need any special software to install to do the online program?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">No special software is required to install on local computer to join the live sessions OR to login to the platform to view videos / reference materials</span></li>
                        <li class="li7"><span class="s1">To view the LIVE sessions, light client may get installed (one time setup) </span></li>
                        <li class="li7"><span class="s1">You will need specified list of the software to setup the virtual development environment for programming </span></li>
                        <li class="li9"><span class="s1">You will also need to check in your code to GIT as per instructions </span></li>
                      </ul></p>
                        <h3 id="14" class="p1"><span class="s1">Can I do the program from Windows OR Mac OR Linux computers?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">Yes. </span></li>
                        <li class="li7"><span class="s1">As long as it meets the configuration, infra and the required internet bandwidth</span></li>
                      </ul></p>
                        <h3 id="15" class="p1"><span class="s1">Will I get a certificate at the end of the program?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">Yes</span></li>
                        <li class="li7"><span class="s1">Based on your overall engagement through our program, completion of each assignment and completion of the project work &hellip; feedback summary will be shared with your digital SPOC / team</span></li>
                      </ul></p>
                        <h3 id="16" class="p1"><span class="s1">What if I miss the Live sessions?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">We recommend that you plan in advance to ensure that you don&rsquo;t miss any live sessions &hellip; </span></li>
                        <li class="li7"><span class="s1">In case you miss due to unavoidable circumstances, you can view the recorded version as soon as possible and ensure you complete the required assignments and reading BEFORE the next session</span></li>
                      </ul></p>
                        <h3 id="17" class="p1"><span class="s1">What happens if there is some technical glitch in the platform?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">We strive to ensure no technical issues with the platform hosted one of the world&rsquo;s top cloud solution provider</span></li>
                        <li class="li7"><span class="s1">However, if happens, in such cases, do report what you see clearly to mentor through collaboration tool or email</span></li>
                        <li class="li9"><span class="s1">In the event participants miss a sessions due to such problems, we will reschedule and ensure the sessions is conducted</span></li>
                      </ul></p>
                        <h3 id="18" class="p1"><span class="s1">What if I resign from organization while doing the program? Can I complete the program?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li12"><span class="s6">No</span></li>
                        <li class="li7"><span class="s1">Wipro<span class="Apple-converted-space">&nbsp; </span>is sponsoring you and investing in you to reskill on newer tech stacks, once you resign, you will be discontinued from the program with immediate effect</span></li>
                      </ul></p>
                        <h3 id="19" class="p1"><span class="s1">It appears that online platform site is having slow response? Videos are not getting loaded properly?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">Check your internet connection bandwidth, should be around 1 MBPS</span></li>
                        <li class="li7"><span class="s1">If the net connection is ok and the problem persists, please inform SunBird platform support team via collaboration toll or email</span></li>
                      </ul></p>
                        <h3 id="20" class="p1"><span class="s1">What is the right browser that should be used to view the online platform?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">We recommend that you use the latest version of the Google chrome browser </span></li>
                        <li class="li7"><span class="s1">You may also use Firefox or Safari</span></li>
                        <li class="li7"><span class="s1">If you use Internet Explorer, do ensure you use the latest version</span></li>
                      </ul></p>
                        <h3 id="21" class="p15"><span class="s1">How do I get my doubts clarified?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">You may get the doubts clarified when attending the sessions by asking questions at the right time </span></li>
                        <li class="li7"><span class="s1">You can post the question on the platform for the community to answer</span></li>
                        <li class="li7"><span class="s1">In case you want to ask the mentor, you may post the question to mentor directly on the platform</span></li>
                      </ul></p>
                        <h3 id="22" class="p15"><span class="s1">What is SunBird program unique methodology?</span></h3>
                        <p class='explr-content'><ul>
                        <li class="li7"><span class="s1">Flipped classroom model &ndash; Self-reading of curated contents followed by live video sessions</span></li>
                        <li class="li7"><span class="s1">Mentor led &ndash; Live online sessions to set the context, explain best practices, to do live demo and share learning from code reviews</span></li>
                        <li class="li7"><span class="s1">Focused small group tutoring &ndash; Mentor arranges these short sessions as needed based on the performance of participants </span></li>
                        <li class="li7"><span class="s1">Mastery Platform &ndash; With every click stream recorded, platform monitors and enables higher level of outcome based learning</span></li>
                        <li class="li7"><span class="s1">Intensive hands-on approach &ndash; Each concepts are backed with specific coding assignments that must be completed as per plan. </span></li>
                        <li class="li7"><span class="s1">Code review for continuous improvements &ndash; Code submitted goes thru automated reviews that evaluates code from different perspective. In addition mentor and peers also review the code</span></li>
                        <li class="li7"><span class="s1">Real environment &ndash; Coding is done in virtual development environment with GIT for source control</span></li>
                        <li class="li7"><span class="s1">Multi-mode communication for doubt clarification &ndash; Questions can be asked at the right time during the live sessions or can be posted for entire community to answer OR directly only to the Mentor OR can be posted on the collaboration tool</span></li>
                        <li class="li7"><span class="s1">Summative Project &ndash; Real project like assignment to be done in groups and presented at the end. Will include application of all concepts learnt and coding each layer of the full-stack</span></li>
                      </ul></p>
                      </div>
                  </div>
              </div>




          </div>
        </section>
    </div>
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/video.js"></script>
<script src="/js/vjs.youtube.js"></script>
<script src="/js/angular-d3-min.js"></script>
<script src="/js/d3.min.js"></script>
<script src="/js/controllers/homePageController.js"></script>
<script src="/js/controllers/loginController.js"></script>
<script src="/js/sunburst-services.js"></script>
<script src="/js/sunburst-directives.js"></script>
<script src="/js/sunburst-min.js"></script>

<!-- Footer -->
<% include ../includes/footer %>

</html>
