<div  class="feature-heading clearfix">
    <h2>Experience</h2>
    <div class="hrclass"></div>
    <div class="learn-container">
        <h1 class="learn-container-heading">
            <span class="red-text">Immersive</span>Learning</h1>
    </div>
</div>
<div class="row">
    <br>
    <div class="col-md-6 feature-principle">
        <div>
            <h4 class="feature-principle-head">Featured Courses</h4>
        </div>
        <div class="feature-course-principle clear-both">
            <div class="left-border-gradient feature-content-div">
                <div class="popular-header">
                    <a ng-href="/course/{{courses.featured.shortId}}"><h1>{{courses.featured.name}}</h1></a>
                    <span>By</span> <a href="/instructor/{{courses.featured.faculty.shortId}}">{{courses.featured.faculty.name}}</a>
                </div>
                <p class="feature-content">{{courses.featured.homeDescription}}</p>
                <div style="padding-top: 20px; color: #555555; display: inline-table; margin-top: 20px">
                    <div class="col-md-3 feature-content-img" style="padding-left: 0px"><img ng-src="/img/logo.png" style="max-width: 110px"></div>
                    <div class="col-md-9 feature-content-des" style="padding-right: 0px;"><p style="text-align: justify; margin-top: 0px"> {{courses.featured.faculty.description}}</p></div>
                </div>
            </div>
            <div class="list-cont list-cont-pad">
                <div class="certification-blockainer">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="feature-list-glanceitems">
                                <li ng-show="courses.featured.noOfModules">
                                    <h3>{{courses.featured.noOfModules}}</h3>
                                    <span>Modules</span>
                                </li>
                                <li ng-show="courses.featured.weeksDuration">
                                    <h3>{{courses.featured.weeksDuration}}</h3>
                                    <span>Weeks</span>
                                </li>
                                <li ng-show="courses.featured.hoursPerWeek">
                                    <h3>{{courses.featured.hoursPerWeek}}
                                        <span>hrs</span>
                                    </h3>
                                    <span>per week</span>
                                </li>
                                <li ng-show="courses.featured.hoursOfVideo">
                                    <h3>{{courses.featured.hoursOfVideo}}
                                        <span>hrs</span>
                                    </h3>
                                    <span>Video</span>
                                </li>
                                <!-- <li ng-show="false">
                                    <h3>220</h3>
                                    <span>Concepts</span>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 feature-soft-cont feature-soft">
        <div id="sunburst" class="sunburst-pad" sunburst data="data" sunburstId="sunburst" style="width: 550px;"></div>
        <div class="col-md-12">
            <!-- <h3 style="margin: 0px !important; padding-top: 10px;" id="sunburstText">Explore {{courses.featured.name}}</h3> -->
            <ul class="feature-list-glanceitems concept-list-glanceitems">
                <li>
                    <h3>Explore</h3>
                </li>
                <li>
                    <h3 id="sunburstConceptCount"></h3>
                </li>
                <li>
                    <h3 id="sunburstContentCount"></h3>
                </li>
            </ul>
        </div>
    </div>
</div>