<!DOCTYPE html>
<html lang="en" ng-app="publicApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>SunBird</title>

    <script type="text/javascript" src="https://fast.fonts.net/jsapi/6bb78b32-9b12-4a14-9179-8de98470e4b1.js"></script>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css" type="text/css">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/web.css" />
    <link rel="stylesheet" href="/css/font-style.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-social.css"/>

    <!-- <link rel="stylesheet" href="/css/student.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="/css/font-awesome.min.css"> -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-controller="ForgotPasswordCtrl" ng-cloak class="ng-cloak">
<div class="wrapper">
    <header class="nav-down">
        <% include ../includes/header %>
    </header>
    <section class="banner-container container-section sectionNextToHeader" style="margin-bottom: -70px;min-height:500px;padding-top:30px;">
        <div class="container">
		<input type="hidden" id="passwordResetToken" value="<%=token %>"/>
        <div style="margin-bottom:20px;" class="row" ng-hide="hideForgotPasswordBlock">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                You have requested to reset your password. Enter the new password below. If you believe you have not requested the password reset, please contact your administrator immediately.
            </div>
            <div class="col-md-2"></div>
      </div>
		<div class="row">
			<div id="changePwdSucAlert" class="col-md-12 alert hide" role="alert"></div>
			<div class="col-md-3"></div>
			<div class="col-md-6" ng-hide="hideForgotPasswordBlock">
				<div id="changePwdErrAlert" class="col-md-12 alert hide" role="alert"></div>
				<div class="form-group col-md-12">
					<label>New password*</label>
					<input type="password" class="form-control" ng-model="user.newPassword" />
				</div>
				<div class="form-group col-md-12">
					<label>Confirm new password*</label>
					<input type="password" class="form-control" ng-model="user.confirmNewPassword" />
				</div>
				<div class="col-md-12">
					<div class="save_btn">
						<button id="changePwd" class="btn btn-primary pull-right" ng-click="updateForgotPassword()">Change Password</button>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>

		<br/><br/>
		</div>
	</section>
</div>
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/controllers/forgotPasswordController.js"></script>
<script src="/js/controllers/loginController.js"></script>

<script>
    var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
    if(is_chrome) 
        $('.chromefix').css({ 'width' : '101%'});
    
</script>

<% include ../includes/footer %>


</html>