<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" ng-app="homePageApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>SunBird</title>

    <script type="text/javascript" src="https://fast.fonts.net/jsapi/6bb78b32-9b12-4a14-9179-8de98470e4b1.js"></script>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css" type="text/css">
    <link rel="stylesheet" href="/css/web.css" />
    <link rel="stylesheet" href="/css/font-style.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-social.css"/>


    <!-- <link rel="stylesheet" href="/css/student.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="/css/font-awesome.min.css"> -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="home-body" id="home-body" ng-controller="HowItWorksCtrl">
    <div class="wrapper">
        <header class="nav-down">
          <% include ../includes/header %>
        </header>
        <section>
          <div class="il-explore-bg">
              <div class="container">
                  <h2 class="header-black">HERE'S HOW IT WORKS</h2>
                  <div class="howitworks-headr">
                      <span class="web-header-title">Explore</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">Practitioners teach</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">Tutoring</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">Showcase</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">Personalization</span>
                  </div>
              </div>
          </div>

          <div class="explore_content">
              <div class="il-web-padng">
                  <div class="row container il_explore_content">
                      <div class="col-md-6">
                        <img src="../img/explore-img.png" alt="Explore" title="Explore" class="explre_image">
                      </div>
                      <div class="col-md-6">
                        <div>
                          <span class="pull-left"><i class="explore-icon"></i></span> 
                          <h2 class="explore-red">EXPLORE</h2>
                        </div>
                          <p class="explr-content">Learning need not be restricted to the concepts covered in a course alone. SunBird's semantic search engines assemble thousands of connected concepts, to be explored explore while learning, along with tens of thousands of relevant content videos, exercises and documents. Almost any learner need can be addressed with this content. As a learner goes through a course, SunBird's analytical engines automatically recommend content based on the learner's needs. Much like Amazon's recommendations!</p>
                      </div>
                  </div>
              </div>

              <div class="faculty_showcase_bg il-web-padng">
                  <div class="row container il_explore_content">
                      <div class="col-md-6">
                          <div>
                              <span class="pull-left"><i class="topfaculty-icon"></i></span> 
                              <h2 class="faculty-green">Practitioner FACULTY</h2>
                          </div>
                          <p class="explr-content">Corporate education increasingly demands practitioners to share their expertise as opposed to courses focused on theory alone. However practitioner do not have time to teach every student or to create complete courses. SunBird, with its semantic APIs makes it easy for practitioners to share their expertise. Practitioners focus on recording their course videos, the SunBird engines automatically enhance these videos with exercises and supplemental content to make them complete from any learner's perspective. </p>
                      </div>
                      <div class="col-md-6">
                          <img src="/img/top_faculty.png" class="il_image" alt="Top Faculty" title="Top Faculty">
                      </div>
                  </div>
              </div>

              <div class="il-web-padng">
                  <div class="row container il_explore_content">
                      <div class="col-md-6">
                          <img src="/img/tutoring.png" class="tutor_image" alt="Tutoring" title="Tutoring">
                      </div>
                      <div class="col-md-6">
                          <div>
                            <span class="pull-left"><i class="tutoring-icon"></i></span> 
                            <h2 class="il_headr_color tutoring-blue">Individual TUTORING</h2>
                          </div>
                          <p class="explr-content">In each course, learners are assigned to expert tutors who provide individual attention. SunBird uses analytics and semantic technologies to scale tutoring ratios to around 1:500 instead of 1:25. Analytics helps identify the precise intervention a learner needs. The first line of intervention is to recommend content or exercises from SunBird's massive repository. Further, groups of learners with the same needs are invited to small group online or classroom based tutoring sessions. </p>
                      </div>
                  </div>
              </div>

              <div class="faculty_showcase_bg il-web-padng">
                  <div class="row container il_explore_content">
                      <div class="col-md-6">
                          <div>
                            <span class="pull-left"><i class="showcase-icon"></i></span> 
                            <h2 class="showcase-red">Demonstrate competencies</h2>
                          </div>
                          <p class="explr-content">We believe that competency is best demonstrated by showcasing work done rather than by a certificate or scores. We recommend that courses are designed around projects that are relevant and cutting edge. Completing the project is ample evidence that the learners have achieved the required competency level. For IT courses, SunBird has a full-fledged online programming environment where projects can be developed.</p>
                      </div>
                      <div class="col-md-6">
                          <img src="/img/showcase.png" class="show_image" alt="Showcase" title="Showcase">
                      </div>
                  </div>
              </div>

              <div class="il-web-padng">
                  <div class="row container il_explore_content">
                      <div class="col-md-6">
                          <img src="/img/personaliztn.png" class="persnl_image" alt="Personalization" title="Personalization">
                      </div>
                      <div class="col-md-6">
                          <div>
                              <span class="pull-left"><i class="personalization-icon"></i></span> 
                              <h2 class="persnl-black">PERSONALIZATION</h2>
                          </div>
                          <p class="explr-content">Mastery learning where individual attention is available to every learner is core to our model. With the vast resources of content available within each course, we are always able to find specific, relevant content items suited to the specific learning needs of an individual learner.</p>

                      </div>
                  </div>
              </div>
          </div>
        </section>
    </div>
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/video.js"></script>
<script src="/js/vjs.youtube.js"></script>
<script src="/js/angular-d3-min.js"></script>
<script src="/js/d3.min.js"></script>
<script src="/js/controllers/homePageController.js"></script>
<script src="/js/controllers/loginController.js"></script>
<script src="/js/sunburst-services.js"></script>
<script src="/js/sunburst-directives.js"></script>
<script src="/js/sunburst-min.js"></script>
<footer>
    <% include ../includes/publicFooter %>
</footer>

</html>
