<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" ng-app="homePageApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>SunBird</title>

    <script type="text/javascript" src="https://fast.fonts.net/jsapi/6bb78b32-9b12-4a14-9179-8de98470e4b1.js"></script>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css" type="text/css">
    <link rel="stylesheet" href="/css/web.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/instructor.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-social.css"/>

    <link rel="stylesheet" href="/css/font-style.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="InstructorCtrl" ng-cloak class="ng-cloak">
<input type="hidden" id="instructorId" value="<%=instructorId%>" />
<div class="wrapper">
    <header class="nav-down">
        <% include ../includes/header %>
    </header>
    <section class="banner-container container-section sectionNextToHeader">
    <div class="container" ng-include="'/templates/web/instructor.html'"></div>
    </section>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/angular-d3-min.js"></script>
<script src="/js/controllers/homePageController.js"></script>
<script src="/js/controllers/loginController.js"></script>
<script src="/js/sunburst-services.js"></script>
<script src="/js/sunburst-directives.js"></script>
<script src="/js/sunburst-min.js"></script>
<footer>
    <% include ../includes/footer %>
</footer>

</body>

</html>