<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" ng-app="homePageApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>SunBird</title>

    <script type="text/javascript" src="https://fast.fonts.net/jsapi/6bb78b32-9b12-4a14-9179-8de98470e4b1.js"></script>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css" type="text/css">
    <link rel="stylesheet" href="/css/web.css" />
    <link rel="stylesheet" href="/css/font-style.css" />
    <link rel="stylesheet" href="/css/animate.css" />


    <!-- <link rel="stylesheet" href="/css/student.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="/css/font-awesome.min.css"> -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="home-body" id="home-body" ng-controller="HowItWorksCtrl">
    <div class="wrapper">
        <header class="nav-down">
          <% include ../includes/header %>
        </header>
        <section>
          <div class="il-explore-bg">
              <div class="container">
                  <h2 class="header-black">LEARNINGOBJECTS</h2>
                  <div class="howitworks-headr">
                      <span class="web-header-title">Repository</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">Learning Content</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">Participation</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">Simple</span>
                      <span class="web-header-title dot_mrgn">.</span>
                      <span class="web-header-title">Open</span>
                  </div>
              </div>
          </div>

          <div class="">
              <div class="il-web-padng">
                  <div class="row container il_explore_content">
                      <div class="col-md-6">
                        <img style="width:85%" src="../img/learning-objects.png" alt="learningobjects" title="Learning Objects" class="explre_image">
                      </div>
                      <div class="col-md-6">
                        <div>
                          <span class="pull-left"><i class="explore-icon"></i></span> 
                          <h2 class="explore-red">A Million Learning Objects</h2>
                        </div>
                          <p class="explr-content">The SunBird model makes it easy for a practitioner or an expert to record their expertise as a chunk of learning and share it with others. We call these chunks learning objects. Each is a reusable chunk of learning centered around a short video lecture. LearningObjects.in is a part of the SunBird network that serves as an open repository for learning objects. LearningObjects.in provides an open repository, a set of tools and services that enables anyone with expertise to reuse, create and contribute a nugget of learning. Our aim is to build a repository of over a million such learning objects over the next 3 years. </p>
                          
                         <p class="explr-content"> Each learning object is centered around a short-format video of around 7 minutes and focuses on a single concept. Surrounding the video is are several elements of content that assesses the learner's understanding and provides additional material to reinforce learning. The SunBird technology enables learning objects to self-adapt themselves to the pedagogic needs of different learners. </p>
                         
                         <p class="explr-content">The biggest stumbling block that prevents a practitioner from creating courses is the time commitment involved. SunBird simplifies this dramatically. Here, a practitioner has to only focus on recording their videos. SunBird's engine and community model augments the content and transforms it into a learning object. By this simplification, SunBird enables practitioners anywhere in the world to develop top quality learning objects. If you would like to contribute do <a href="mailto:info@canopusconsulting.com">reach out to us</a>.  </p>
                         
                         
                      </div>
                  </div>
              </div>

              
          </div>
        </section>
    </div>
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/video.js"></script>
<script src="/js/vjs.youtube.js"></script>
<script src="/js/angular-d3-min.js"></script>
<script src="/js/d3.min.js"></script>
<script src="/js/controllers/homePageController.js"></script>
<script src="/js/controllers/loginController.js"></script>
<script src="/js/sunburst-services.js"></script>
<script src="/js/sunburst-directives.js"></script>
<script src="/js/sunburst-min.js"></script>

<!-- Footer -->
<% include ../includes/footer %>


</html>
