<div class="container-fluid cards-section cards-section">
    <h2>Our Courses</h2>
    <div class="ui link cards" ng-cloak>
        <div class="ui card" ng-click="showModelBox(course);" ng-repeat="course in ourCourses">
            <div class="image">
                <img ng-src="{{course.image}}" style="height: 300px;">
            </div>
            <div class="content">
                <a class="header">{{course.title}}</a>
                <div class="description">
                    {{course.description | limitTo:150}}<span ng-if="course.description.length > 150">....</span>
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="fa fa-users"></i> {{course.enrollments}} Enrolled
                </a>
            </div>
        </div>
    </div>
</div>

