<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" ng-app="homePageApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>SunBird</title>

    <script type="text/javascript" src="https://fast.fonts.net/jsapi/6bb78b32-9b12-4a14-9179-8de98470e4b1.js"></script>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css" type="text/css">
    <link rel="stylesheet" href="/css/web.css" />
    <link rel="stylesheet" href="/css/font-style.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-social.css"/>


    <!-- <link rel="stylesheet" href="/css/student.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="/css/font-awesome.min.css"> -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="home-body" id="home-body" ng-controller="HowItWorksCtrl">
    <div class="wrapper">
        <header class="nav-down">
          <% include ../includes/header %>
        </header>
        <section>
          <div class="il-explore-bg">
              <div class="container">
                  <h2 class="header-black">TEAM @ ILIMI</h2>
              </div>
          </div>

<div class="explore_content marb50">
              <div>
                  <div class="row container il_explore_content">
                      <div class="col-md-3">
                        <img src="../img/pnr.png" alt="Nagaraju Pappu" title="Nagaraju Pappu" class="people-pic">
                      </div>
                      <div class="col-md-9">
                        <div>
                          <h2>Nagaraju Pappu</h2>
                          <p class="explr-content">FOUNDER & CEO</p>
                        </div>
                          <p class="explr-content">Nagaraju (Nag) is passionate about education and cultural computing. He envisions ILIMI to be a ultra-large scale platform that transforms the quality of engineering education. Nag is a technocrat, entrepreneur, solution architect and a computer scientist. He is also a teacher and is visiting faculty at IIT Kanpur and IIIT Hyderabad where he offers full semester courses in design and in software architecture. He has several patents and publications to his credit. His areas of expertise are in high performance computing, in semantic and community computing and in ultra-large scale transaction systems. Nag is also an expert on Indian literary and cultural traditions and has a deep interest in music, history and traveling. </p>
                         <p class="explr-content"> Nag is the driving force behind ILIMI with his wicked sense of humour and an absolute no-compromise attitude towards product quality.</p> 
                          
                      </div>
                  </div>
              </div>
 
 <div class="explore_content">
              <div>
                  <div class="row container il_explore_content">
                      <div class="col-md-3">
                        <img src="../img/ss.png" alt="Satish Sukumar" title="Satish Sukumar" class="people-pic">
                      </div>
                      <div class="col-md-9">
                        <div>
                          <h2>Satish Sukumar</h2>
                          <p class="explr-content">CO-FOUNDER & COO</p>
                        </div>
                          <p class="explr-content">Satish has worked with education technologies for over 7 years now. He has led the team that built EduNxt a multiple-award winning learning platform at Manipal Education.  In the past Satish was part of the founding team for Planetasia, India's first internet software company and setup Veloz Global Solution's Product Engineering and R&D center in India. Satish is a solution architect specializing in large scale content management and learning management systems. He has several publications and has spoken at several industry events.</p>
                          <p  class="explr-content"> Satish runs operations at ILIMI. He is putting together a team of the best faculty, tutors, content professionals and others to create ILIMI's products. Satish loves the outdoors, is an avid runner, has a dog and has been adopted by a cat!</p>
                        </div>
                  </div>
              </div>
              
 <div class="explore_content">
              <div>
                  <div class="row container il_explore_content">
                      <div class="col-md-3">
                        <img src="../img/fs.png" alt="Feroz Sheikh" title="Feroz Sheikh" class="people-pic">
                      </div>
                      <div class="col-md-9">
                        <div>
                          <h2>Feroz Sheikh</h2>
                           <p class="explr-content">CO-FOUNDER & Head of Engineering</p>
                        </div>
                          <p class="explr-content">With his ready smile, Feroz is our resident altruist and general problem solver. He is a polyglot programmer, technologist, architect and a very good teacher. He has a BTech from the Delhi College of Engineering and a PGCPM from IIMK. Feroz has over 14 years of work experience including a stint as the CTO for a product engineering company. Feroz has designed and developed several high performance systems including a private-cloud based core banking platform and an optimization engine. At ILIMI, Feroz works on the user experience, the architecture and design of our programming platform and also teaches the <a href ="http://beta.ilimi.in/course/learning:7924" >Java Programming for Cloud </a>course. </p>
                      </div>
                  </div>
              </div>                          
                         
<div class="explore_content">
              <div>
                  <div class="row container il_explore_content">
                      <div class="col-md-3">
                        <img src="../img/sd.png" alt="Soma Dhavala" title="Soma Dhavala" class="people-pic">
                      </div>
                      <div class="col-md-9">
                        <div>
                          <h2>Soma Dhavala</h2>
                          <p class="explr-content">Chief Data Scientist</p>
                        </div>
                          <p class="explr-content">Soma is excited enough about ILIMI and the potential it offers to travel back from the US and join our team. He has a PhD in Data Science from TAMU and an MS, from IIT Chennai. He and has 2 Patents and several publications to his credit. Prior to ILIMI, Soma worked in the fields of Network analysis and bioinformatics with a very large US corporation. He is now applying his expertise to the problem of predicting assistance students need. In addition to unravelling the mysteries in data, Soma is also an amateur film maker. </p>
                      </div>
                  </div>
              </div>
              

              
          </div>
        </section>
    </div>
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/video.js"></script>
<script src="/js/vjs.youtube.js"></script>
<script src="/js/angular-d3-min.js"></script>
<script src="/js/d3.min.js"></script>
<script src="/js/controllers/homePageController.js"></script>
<script src="/js/controllers/loginController.js"></script>
<script src="/js/sunburst-services.js"></script>
<script src="/js/sunburst-directives.js"></script>
<script src="/js/sunburst-min.js"></script>

<!-- Footer -->
<% include ../includes/publicFooter %>


</html>
