<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" ng-app="homePageApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>SunBird</title>

    <script type="text/javascript" src="https://fast.fonts.net/jsapi/6bb78b32-9b12-4a14-9179-8de98470e4b1.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css" type="text/css">
    <link rel="stylesheet" href="/css/web.css" />
    <link rel="stylesheet" href="/css/font-style.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/ilimi.css" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    body {
        font-family: "FrutigerNeueW01-Regular";
        font-size: 16px;
    }
    </style>

</head>

<body class="home-body" id="home-body" ng-controller="RegisterCtrl">
<div class="wrapper">
    <header class="nav-down">
        <% include ../includes/header %>
    </header>

    <section class="sectionNextToHeader container-section">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-9 border-bottom-1px">
                    <h3 class="section-heading" style="padding-bottom:10px;padding-top:20px;">Complete registration</h3>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row marTop20">
            <div class="col-md-1"></div>
            <div class="col-md-9 well">
                <div id="contactUsAlert" class="col-md-12 alert hide" role="alert"></div>
                <div class="col-md-12 border-bottom-1px">
                    <p style="font-family:'FrutigerSerifLTW01-Medi 722257'; font-size: 18px">Basic Profile</p>
                </div>
                <div class="form-group col-md-12 marTop20">
                    <div class="form-group col-md-6">
                        <div>First Name <span style="color: red">*</span></div>
                        <input type="text" class="form-control" ng-model="metadata.givenName" placeholder="First Name (Required)"/>
                    </div>
                    <div class="form-group col-md-6">
                        <div>MiddleName</div>
                        <input type="text" class="form-control" ng-model="metadata.middleName"/>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="form-group col-md-6">
                        <div>Last Name</div>
                        <input type="text" class="form-control" ng-model="metadata.familyName"/>
                    </div>
                    <div class="form-group col-md-6">
                        <div>Gender</div>
                        <div style="font-family: 'FrutigerSerifLTW01-Medi 722257'; font-size: 14px">
                            <input name="gender" type="radio" style="margin-right:10px;" ng-model="metadata.gender" value="M" />Male</i>&nbsp;&nbsp;&nbsp;&nbsp;
                            <input name="gender" type="radio" style="margin-right:10px;" ng-model="metadata.gender" value="F" />Female</i>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="form-group col-md-6">
                        <div>Primary Email</div>
                        <div class="input-group" style="width:100%;">
                            <div class="input-group-addon" style="width: 26px; font-size: 14px; padding: 6px 12px; text-align: center; border-radius: 4px 0px 0px 4px ! important; border: 1px solid rgb(204, 204, 204); background-color: rgb(238, 238, 238); border-right:0px;">@</div>
                            <input type="text" class="form-control" ng-model="metadata.email" placeholder="Your Primary Email" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div>Alternate Email</div>
                        <div class="input-group" style="width:100%;">
                            <div class="input-group-addon" style="width: 26px; font-size: 14px; padding: 6px 12px; text-align: center; border-radius: 4px 0px 0px 4px ! important; border: 1px solid rgb(204, 204, 204); background-color: rgb(238, 238, 238); border-right:0px;">@</div>
                            <input type="text" class="form-control" ng-model="metadata.alternateEmailId" placeholder="Your Alternative Email">
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="form-group col-md-6">
                        <div>Location</div>
                        <input type="text" class="form-control" ng-model="metadata.location" placeholder="Location">
                    </div>
                </div>
                <div class="col-md-12 border-bottom-1px">
                    <p style="font-family:'FrutigerSerifLTW01-Medi 722257'; font-size: 18px">Education Profile</p>
                </div>
                <div class="form-group col-md-12 marTop20">
                    <div class="form-group col-md-6">
                        <div>Year of graduation</div>
                        <input type="number" class="form-control" ng-model="metadata.yearOfGraduation" min="2000" max="2100"/>
                    </div>
                    <div class="form-group col-md-6">
                        <div>Degree</div>
                        <input type="text" class="form-control" ng-model="metadata.degree" placeholder="Degree (for ex: BE, B Tech)"/>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="form-group col-md-6">
                        <div>Stream</div>
                        <input type="text" class="form-control" ng-model="metadata.stream" placeholder="Stream (for ex: Computer Science, EEE, ECE)"/>
                    </div>
                    <div class="form-group col-md-6">
                        <div>College</div>
                        <input type="text" class="form-control" ng-model="metadata.college" placeholder="College"/>
                    </div>
                </div>
                <div class="col-md-12 border-bottom-1px">
                    <p style="font-family:'FrutigerSerifLTW01-Medi 722257'; font-size: 18px">Professional Profile</p>
                </div>
                <div class="form-group col-md-12 marTop20">
                    <div class="form-group col-md-6">
                        <div>Work experience</div>
                        <input type="number" class="form-control" ng-model="metadata.workExperience" placeholder="Work experience in years"/>
                    </div>
                    <div class="form-group col-md-6">
                        <div>Programming Proficiency</div>
                        <input type="text" class="form-control" min="0" max="10" maxlength="2" ng-model="metadata.programmingProficiency" placeholder="Programming Proficiency (1 to 10)">
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            </div>
            <div class="row marTop10">
                <div class="col-md-1"></div>
                <div class="col-md-9 text-right" style="padding-bottom:30px;">
                    <button id="sendMailBtn" type="submit" class="btn btn-lg btn-primary" ng-click="completeRegistration()" style="font-size: 18px !important; width: 400px">Complete Registration</button>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
</div>
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/video.js"></script>
<script src="/js/vjs.youtube.js"></script>
<script src="/js/angular-d3-min.js"></script>
<script src="/js/d3.min.js"></script>
<script src="/js/controllers/homePageController.js"></script>
<script src="/js/controllers/loginController.js"></script>
<script src="/js/sunburst-services.js"></script>
<script src="/js/sunburst-directives.js"></script>
<script src="/js/sunburst.js"></script>

<% include ../includes/footer %>


</html>
