<!DOCTYPE html>
<html>
<head>
	<title>SunBird Learning Readiness - Participant Self-Assessment</title>
	<!--<script language="JavaScript1.2" src="./js/quiz.js" type="text/javascript">
	</script>
	<link href="./css/questions.css" rel="stylesheet" type="text/css">
	-->
</head>
<body>
	<div id="container">
		<div id="Questions">
			<div id="Instructions">
				<h1><b class="readiness">Online Learning Readiness Questionnaire</b></h1><br>
				<p class="question">Before beginning with your online course, you should first assess your readiness for stepping into the online learning environment. Your answers to the following questions will help you determine what you need to do to succeed at online learning. Post-survey feedback will also provide you with information on what you can expect from an online course.</p>
				<p class="question"><b>Instructions:</b> Choose the most accurate response to each statement given below. Then click the <strong>Am I Ready?</strong> button.</p>
			</div>
			<table align="center" border="0" cellpadding="0" cellspacing="0" width="95%">
				<tbody>
					<tr>
						<th bgcolor="#6699CC" width="70%">
							<center>
								QUESTIONS
							</center>
						</th>
						<th bgcolor="#6699CC" width="10%">
							<center>
								Agree
							</center>
						</th>
						<th bgcolor="#6699CC" width="10%">
							<center>
								Somewhat Agree
							</center>
						</th>
						<th bgcolor="#6699CC" width="10%">
							<center>
								Disagree
							</center>
						</th>
					</tr>
					<tr>
						<form id="Question1" name="Question1">
						<td>1. I am good at setting goals and deadlines for myself.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr bgcolor="#EDEDED">
						<form id="Question2" name="Question2">
						<td>2. I have a really good reason for taking an online course.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr>
						<form id="Question3" name="Question3">
						<td>3. I finish the projects I start.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr bgcolor="#EDEDED">
						<form id="Question4" name="Question4">
						<td>4. I do not quit just because things get difficult.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr>
						<form id="Question5" name="Question5">
						<td>5. I can keep myself on track and on time.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr style="height:15px;">
						<td colspan="4" style="height:10px; background: #6699cc; margin:0; padding:0;">&nbsp;</td>
					</tr>
					<tr>
						<form id="Question6" name="Question6">
						<td>6. I learn fairly easily.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr>
						<form id="Question7" name="Question7">
						<td bgcolor="#EDEDED">7. I can learn from things I hear, like lectures, audio recordings, or podcasts.</td>
						<td bgcolor="#EDEDED">
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td bgcolor="#EDEDED">
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td bgcolor="#EDEDED">
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr>
						<form id="Question8" name="Question8">
						<td>8. I have to read something to learn it best.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr>
						<form id="Question9" name="Question9">
						<td bgcolor="#EDEDED">9. I have developed good ways to solve problems I run into.</td>
						<td bgcolor="#EDEDED">
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td bgcolor="#EDEDED">
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td bgcolor="#EDEDED">
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr>
						<form id="Question10" name="Question10">
						<td>10. I learn best when I figure things out for myself.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr>
						<form id="Question11" name="Question11">
						<td bgcolor="#EDEDED">11. I like to learn in a group, but I can learn on my own as well.</td>
						<td bgcolor="#EDEDED">
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td bgcolor="#EDEDED">
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td bgcolor="#EDEDED">
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr>
						<form id="Question12" name="Question12">
						<td>12. I am willing to send e-mail to or have discussions with people I might never see.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr style="height:15px;">
						<td colspan="4" style="height:10px; background: #6699cc; margin:0; padding:0;">&nbsp;</td>
					</tr>
					<tr>

							<form id="Question13" name="Question13">

						<td>13. I usually study in a place where I can read and work on assignments without distractions.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr bgcolor="#EDEDED">

							<form id="Question14" name="Question14">

						<td>14. I can ignore distractions around me when I study.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr>

							<form id="Question15" name="Question15">

						<td>15. I am willing to spend 10-20 hours each week on an online course.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr bgcolor="#EDEDED">

							<form id="Question16" name="Question16">

						<td>16. I keep a record of what my assignments are and when they are due.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr>

							<form id="Question17" name="Question17">

						<td>17. I plan my work in advance so that I can turn in my assignments on time.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr bgcolor="#EDEDED">

							<form id="Question18" name="Question18">

						<td>18. When I study, people around me will help me work and not try to distract me.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr>

							<form id="Question19" name="Question19">

						<td>19. I am willing to use e-mail and other online tools to ask my classmates and instructors questions.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr style="height:15px;">
						<td colspan="4" style="height:10px; background: #6699cc; margin:0; padding:0;">&nbsp;</td>
					</tr>
					<tr>

							<form id="Question20" name="Question20">

						<td>20. I am fairly good at using the computer.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr>

							<form id="Question21" name="Question21">

						<td bgcolor="#EDEDED">21. I am comfortable surfing the Internet.</td>
						<td bgcolor="#EDEDED">
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td bgcolor="#EDEDED">
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td bgcolor="#EDEDED">
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr>

							<form id="Question22" name="Question22">

						<td>22. I am comfortable conducting searches, setting bookmarks, and downloading files.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr>

							<form id="Question23" name="Question23">

						<td bgcolor="#EDEDED">23. I am comfortable installing software and changing configuration settings on my computer.</td>
						<td bgcolor="#EDEDED">
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td bgcolor="#EDEDED">
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td bgcolor="#EDEDED">
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr>

							<form id="Question24" name="Question24">

						<td>24. I know someone who can help me if I have computer problems.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr style="height:15px;">
						<td colspan="4" style="height:10px; background: #6699cc; margin:0; padding:0;">&nbsp;</td>
					</tr>
					<tr>

							<form id="Question25" name="Question25">

						<td>25. My computer runs reliably on Windows XP/ 7 or on Mac OS 10.6 or higher.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr bgcolor="#EDEDED">

							<form id="Question26" name="Question26">

						<td>26. I have a printer.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr>

							<form id="Question27" name="Question27">

						<td>27. I am connected to the Internet with a fairly fast, reliable connection such as DSL or cable modem.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr bgcolor="#EDEDED">

							<form id="Question28" name="Question28">

						<td>28. I have virus protection software running on my computer.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr>
						<form id="Question29" name="Question29">
						<td>29. I have headphones or speakers and a microphone to use if a class has a videoconference.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
					<tr bgcolor="#EDEDED">
						<form id="Question30" name="Question30">
						<td>30. My browser will play several common multimedia (video and audio) formats.</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio0">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio1">
							</center>
						</td>
						<td>
							<center>
								<input name="radio" type="radio" value="radio2">
							</center>
						</td>
            </form>
					</tr>
				</tbody>
			</table>
			<p></p>
			<form id="form_end" name="form_end">
				<p>After responding &nbsp;to all of the statements, click the <strong>Am I Ready?</strong> button.</p>
				<p><input name="Determine Style" id="amIReady" ng-model="amIReady" ng-click="isReady()" onclick="determineStyle()" type="button" value="Am I Ready?"></p>
			</form>
		</div>
		
		
		<a id="ShowResults" name="ShowResults"></a>
		<div id="results">
			The results of your survey will appear here.
		</div>
		<hr>
	</div>
	<!--<link href="chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/css/content.css" rel="stylesheet" type="text/css">-->
	<div id="lo-engage-ext-container">
		<div data-reactroot=""></div>
	</div>
</body>
</html>
