<div class=" askquestionHeader">
    <div class="headerAsk">
        <h2>Terms of use</h2>
    </div>
    <!--<p style="font-weight:bold;">Welcome</p>-->
    <p>Please accept the terms of use and honour code to proceed further.</p>
    <div class="il-web-padng" style="padding-top:0px;padding-bottom: 5px;">
        <div class="row container noPad il_explore_content">
            <div class="col-md-12" style="height: 350px; overflow-y: auto; display: block; opacity: 1; border: 1px solid #ededed;">
                <a id="termsofuse"></a>
                <p>SunBird (collectively, "we," "us", "SunBird") provides you access to the learning resources,
                    available at the entry-point URL http://www.SunBird.in, and to the information, services and
                    other materials available on and through the platform, (collectively with the Site, or Sites, or "Online
                    Courses"), subject to the terms and conditions described in this document (these "Terms of Use") and
                    any other guidelines, rules or licenses posted in connection with the services.</p>
                <p><strong>PLEASE READ THIS TERMS OF USE AGREEMENT (THE "TERMS OF USE") CAREFULLY BEFORE ACCESSING OR PARTICIPATING IN ANY DISCUSSIONS, USERGROUPS, NOTEBOOKS. COURSEMATERIALS, BULLETIN BOARD, MAILING LIST, WEBSITE, TRANSACTION OR OTHER ON-LINE FORUM, COURSE, OR SERVICE MADE AVAILABLE BY SunBird AT ENTRY-POINT URL (http://www.SunBird.in) AND ITS RELATED WEBSITES ("SITE" OR "SITES"). BY USING AND PARTICIPATING IN THE SITES, YOU SIGNIFY AND ACKNOWLEDGE THAT YOU HAVE READ THE TERMS OF USE AND AGREE THAT THE TERMS OF USE CONSTITUTES A BINDING LEGAL AGREEMENT BETWEEN YOU AND SunBird, AND THAT YOU AGREE TO BE BOUND BY AND COMPLY WITH THE TERMS OF USE.</strong></p>
                <p>
                    IF YOU DO NOT AGREE TO THESE TERMS OF USE, THEN YOU MAY NOT ACCESS OR USE THE CLASS SITES OR THE ONLINE COURSES. SunBird
                    Online'S ACCEPTANCE IS EXPRESSLY CONDITIONED UPON YOUR ASSENT TO ALL OF THE TERMS AND CONDITIONS OF THESE
                    TERMS OF USE, TO THE EXCLUSION OF ALL OTHER TERMS.</p>
                <p>We reserve the right to change or modify the Terms of Use at our sole discretion at any time. Any change
                    or modification to the Terms of Use will be effective immediately upon posting by us. For any material
                    changes to the Terms, we will take reasonable steps to notify you of such changes. In all cases, your
                    continued use of the Sites after publication of such modifications, with or without notification, constitutes
                    binding acceptance of these modified Terms of Use.</p>
                <p>
                    By accessing and/or using the services, you agree to be bound by these Terms of Use, whether you are:</p>
                <p>
                    "Visitor," meaning you simply browse the site, including, without limitation, through a mobile or other wireless device,
                    or otherwise use the Class Sites without being registered, or</p>
                <p>
                    a "Student," meaning that you have registered with SunBird for a User ID and User Password, will complete the homework
                    assignments and exams, and have enrolled in and paid for access to services, content, and/or certification
                    provided by SunBird or its affiliates, or</p>
                <p>
                    an "Attendee," meaning that you have registered with SunBird for a User ID and User Password and that you intend
                    to audit the Online Courses, i.e., attend or view lectures online without accessing final projects or
                    assessments required for certification, or completing the homework assignments, exams or other course
                    work related to assessments for certification, or</p>
                <p>
                    other “Entity or Person” such as, including but not limited to, an education service provider, a content creator, training
                    academy, certification agency, content reseller, publisher, among others.</p>
                <h3>Conduct Policy</h3>
                <p>You agree to use the Sites in accordance with all applicable laws. Further, you agree that you will not use
                    the Site for organized partisan political activities. You further agree that you will NOT be engaged
                    in activities such as, including but not limited to,</p>
                <ul>
                    <li>discuss illegal activities with the intent to commit such activities, or encourages others to commit
                        such activities</li>
                    <li>infringe upon or misappropriate another's intellectual property rights, including, but not limited to,
                        copyrights, trademarks or trade secrets</li>
                    <li>disclose confidential information</li>
                    <li>post/publish/refer obscene (i.e., pornographic) language or images</li>
                    <li>advertise promotional materials, or any form of commercial solicitation</li>
                    <li>harm other users or visitors to the Sites</li>
                    <li>violate any applicable local, state, national or international law.</li>
                    <li>probes, scan, or test the vulnerability of any system or network</li>
                    <li>breach or otherwise circumvents any security measures</li>
                    <li>interferes with or disrupt any user, host, or network, for example by sending a virus, overloading, flooding,
                        spamming, or mail-bombing any other user or part of the Sites</li>
                    <li>plant malware or otherwise uses the Sites to distribute malware</li>
                    <li>reproduce, duplicate, copy, sell, resell or exploit for any commercial purposes any portion of the content
                        other than as expressly allowed under these Terms of Use</li>
                    <li>use SunBird's name, trademarks, service marks, or other materials in connection with, or to
                        transmit, any unsolicited communications or emails</li>
                    <li>use any high volume, automated, or electronic means to access the Sites (including without limitation
                        robots, spiders or scripts)</li>
                    <li>frame the Sites, place pop-up windows over its pages, or otherwise affect the display of its pages;</li>
                    <li>falsely state, impersonate, or otherwise misrepresent your identity, including but not limited to the
                        use of a pseudonym or misrepresenting your affiliations with a person or entity, past or present;</li>
                    <li>force headers or otherwise manipulate identifiers in order to disguise the origin of any communication
                        transmitted through the Sites</li>
                </ul>

                <h3>Services Availability and Limitations</h3>
                You acknowledge and agree that SunBird’s services, including paid services and products, are not available at all
                times, and that certain usage limits may apply. Please refer to the FAQ for additional information about
                limitations and hours of availability. You also understand that SunBird, at its sole discretion,
                may limit, suspend, or terminate your use of all SunBird-provided services related to SunBird
                Online’s programs, such as access to SunBird Coaches, evaluation services, or certifications. You
                also understand that SunBird may modify or discontinue all services related to its programs at
                its sole discretion.
                <h3>Disclaimer of Warranties</h3>
                <p>You expressly acknowledge and agree that your use of the Sites, and all Content and services available on
                    the Sites is at your sole risk and responsibility. THE ONLINE COURSES (INCLUDING ANY CONTENT) ARE PROVIDED
                    "AS IS" AND "AS AVAILABLE" WITH NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED,
                    INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
                    AND NONINFRINGEMENT. YOU ASSUME TOTAL RESPONSIBILITY AND THE ENTIRE RISK FOR YOUR USE OF THE ONLINE COURSES
                    AND CONTENT. WITHOUT LIMITING THE FOREGOING, WE DO NOT WARRANT THAT (A) THE SITES, CONTENT, OR THE ONLINE
                    COURSES WILL MEET YOUR REQUIREMENTS OR EXPECTATIONS OR ACHIEVE THE INTENDED PURPOSES, (B) THE CLASS SITES
                    OR THE ONLINE COURSES WILL NOT EXPERIENCE OUTAGES OR OTHERWISE BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE,
                    (C) THE INFORMATION OR CONTENT OBTAINED THROUGH THE CLASS SITES OR THE ONLINE COURSES, SUCH AS CHAT ROOM
                    SERVICES, WILL BE ACCURATE, COMPLETE, CURRENT, ERROR-FREE, COMPLETELY SECURE OR RELIABLE, OR (D) THAT
                    DEFECTS IN OR ON THE CLASS SITES OR CONTENT WILL BE CORRECTED. YOU ASSUME ALL RISK OF PERSONAL INJURY,
                    INCLUDING DEATH AND DAMAGE TO PERSONAL PROPERTY, SUSTAINED FROM USE OF THE ONLINE COURSES AND CONTENT.</p>
                <p>UNDER NO CIRCUMSTANCES SHALL SunBird BE LIABLE TO THE USER OR ANY THIRD PARTY WITH RESPECT TO ANY
                    SUBJECT MATTER OF THESE TERMS OF USE (INCLUDING ANY BREACH OF SECURITY OR DATA LOSS) UNDER ANY CONTRACT,
                    NEGLIGENCE, STRICT LIABILITY OR OTHER THEORY FOR ANY INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES OR
                    LOST PROFITS, LOSS OR INACCURACY OF DATA OR DOCUMENTS OR COST OF PROCUREMENT OF SUBSTITUTE GOODS, SERVICES
                    OR TECHNOLOGY, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR WHETHER ANY REMEDY SET FORTH HEREIN
                    FAILS OF ITS ESSENTIAL PURPOSE OR OTHERWISE.</p>
                <h3>Indemnity</h3>
                <p>You agree to indemnify, defend and hold harmless SunBird and the Participating Institutions, their
                    respective subsidiaries and affiliates, and each of their respective officers, directors, agents, employees,
                    and assignees, including the instructors of the Participating Institutions, from any and all claims,
                    liabilities, expenses and damages, including reasonable attorneys’ fees and costs, made by any third
                    party relating to or arising out of (a) your use or attempted use of the Sites or Online Course in violation
                    of the Terms of Use; (b) your violation of any law or rights of any third party, or (c) information that
                    you post or otherwise make available on the Sites or through the Online Course, including without limitation
                    any claim of infringement or misappropriation of intellectual property or other proprietary rights.</p>
                <h3>SunBird's Intellectual Property Rights</h3>
                <p>The Sites are owned and operated by SunBird. SunBird reserves the right at any time and
                    from time to time to modify, discontinue, temporarily or permanently, the Sites, or any part of portion
                    thereof, with or without notice to you. You agree that SunBird shall not be liable to you or
                    to any third party for any modifications, suspensions or discontinuance of the Sites, or any portion
                    thereof. Nothing in these Terms of Use shall be construed to obligate SunBird to maintain and
                    support the Sites, or any part of portion thereof, during the term of these Terms of Use.</p>
                <p>All content or other material available on the Sites, including but not limited to on-line lectures, speeches,
                    video lessons, quizzes, presentation materials, homework assignments, programming assignments, programs,
                    code, and other images, text, layouts, arrangements, displays, illustrations, documents, materials, audio
                    and video clips, HTML and files (collectively, the "Content"), are the property of SunBird
                    and/or its affiliates or by respective licensors and are protected by copyright, patent and/or other
                    proprietary intellectual property rights under Indian and foreign law.</p>
                <p>SunBird logos, trademarks and service marks which may appear on the Class Sites ("Marks"), are
                    the property of SunBird and are protected under applicable laws. All other trademarks, service
                    marks and logos used on the Sites, with or without attribution, are the trademarks, service marks or
                    logos of their respective owners. In addition, elements of the Sites are protected by trade dress and
                    other federal and state intellectual property laws and may not be copied, reproduced, downloaded or distributed
                    in any way in whole or in part without the express written consent of SunBird.</p>
                <h3>Termination of Rights</h3>
                <p>You agree that SunBird, in its sole discretion, may deactivate your account or otherwise terminate
                    your use of the Sites or Online Courses for any reason or no reason, including, without limitation, if
                    SunBird believes that you have (a) breached these Terms of Use; (b) infringed the intellectual
                    property rights of a third party; (c) posted, uploaded or transmitted Unauthorized Content to the Class
                    Sites; or (d) violated or acted inconsistently with the letter or spirit of these Terms of Use. You agree
                    that any deactivation or termination of your access to the Class Sites or Online Courses may be effected
                    without prior notice to you and that SunBird shall not be liable to you nor any third party
                    for any termination of your account or the Online Courses. You also acknowledge that SunBird
                    may retain and store your information on SunBird’s systems notwithstanding any termination
                    of your account or the Online Courses.</p>
                <p>Any notice which may be required to be given to us under these Terms of Use may be sent to us by writing
                    or emailing to the following addresses:</p>
                <b>
SunBird<br/>
117, 1st Floor,<br/>
7th Block, Koramangala<br/>
Bengaluru, Karnataka<br/>
India
</b>

                <p>The section titles herein are displayed for convenience only and have no legal effect. Our Terms of Use were
                    last updated on February 26th, 2017.</p>
                <h3>Honor Code</h3>
                <a id="honorcode"></a>
                <p>All students participating in the class must agree to abide by the following code of conduct (in additional
                    to the conduct policy stated above):</p>
                <ul>
                    <li>I will not plagiarize</li>
                    <li>I will not falsify results, data or content</li>
                    <li>I will not commit any act of scholastic dishonesty</li>
                    <li>I will not provide false information</li>
                    <li>I will register for only one account.</li>
                    <li>I will not collude or game the system</li>
                    <li>I will not copy, steal others work (except where collaboration and sharing is permitted).</li>
                    <li>I will not make my work public unless where permitted.</li>
                </ul>
            </div>
            <label style="padding-top:10px; font-weight: normal;">
                                            <input type="checkbox" ng-model="termsofuse">
                                            &nbsp;&nbsp;I accept the <a ng-click="moveToLocation('termsofuse')">terms of use</a>.
                                        </label><br/>
            <label style="font-weight: normal;">
                                            <input type="checkbox" ng-model="honorcode">
                                            &nbsp;&nbsp;I accept the <a ng-click="moveToLocation('honorcode')">honor code</a>.
                                        </label>
            <div class="alert alert-danger" ng-show="tandcsubmitted && (!termsofuse || !honorcode)">
                <span>In order to use our services, you must agree to our terms of use and honor code.</span>
            </div>
            <div style="padding-top:10px; border-bottom: 1px solid #ededed;padding-bottom:40px">
                <button class="btn btn-primary" ng-click="accept()">Accept</button>
            </div>
            <br/>
        </div>
    </div>
</div>