@import "variables";

.ui.label {
  background: $danger-color !important;
  color: #fff;
  padding: 3px 6px !important;
}
.ui.button {
  background: $secondary-color !important;
  color: #fff;
  font-size: 0.8571rem;
  padding: 4px 10px !important;
  font-weight: 500;
  height: 25px;
  box-shadow: none !important;
  white-space: nowrap;
}
.pageSection-heading {
  font-size: 1.143rem !important;
  display: inline;
  text-transform: lowercase;
  &::first-letter{
    text-transform: uppercase;
  }
}
.ui.divider {
  border-top: 1px solid #e4e4e4 !important;
  border-bottom: 0 !important;
}

@media screen and (max-width: 768px) {
  .twelve.wide.column {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
}