<div class="ui grid pageSection" *ngIf="section.contents && section.contents.length > 0">
    <div class="ui twelve wide column">
        <div class="d-flex flex-ai-center">
            <h4 class="ui header m-0 mr-5 pageSection-heading">{{section.name}}</h4>
            <span class="ui primary label pageSection-count">{{section.count}}</span>
            <button class="sb-btn sb-btn-xs sb-btn-secondary ml-auto" *ngIf="section.contents.length >= 10 && section.name != 'My Courses' " type="button" (click)="navigateToViewAll(section)">{{ resourceService.frmelmnts.lnk.viewall}}</button>
        </div>
        <div class="pageSection-Slider">
            <ngx-slick 
                in-view-container (inview)="inview($event)" 
                [throttle]="[1000]" 
                [trigger]="section.contents" 
                (afterChange)="inviewChange(section.contents,$event)" 
                (beforeChange)="checkSlide($event)" 
                appTelemetryInteract  
                [telemetryInteractEdata]="{id: btnArrow === undefined ? 'prev-button' : btnArrow , type: 'click', pageid: pageid, extra: { section: section.name}}" 
                class="carousel" 
                #slickModal="slick-modal" 
                [config]="slideConfig">
                <div in-view-item [id]="i" [data]="content" ngxSlickItem *ngFor="let content of section.contents;let i = index; let last = last" class="pr-20">
                    <app-batch-card appTelemetryInteract 
                        [telemetryInteractEdata]="cardIntractEdata"  
                        [telemetryInteractObject]="{id:content.metaData.identifier}" 
                        *ngIf="cardType && cardType === 'batch' else contentcard" [batch]="content" 
                        (clickEvent)="playContent($event)">
                    </app-batch-card>
                    <ng-template #contentcard>
                        <app-card  appContentDirection [data]="content"
                            appTelemetryInteract 
                            [telemetryInteractEdata]="cardIntractEdata" 
                            [telemetryInteractObject]="{id:content.metaData.identifier || content.metaData.courseId,type:content.metaData.contentType || 'Course',ver:'1.0'}"
                            (clickEvent)="playContent($event)"
                            [data]="content" 
                            [customClass]="'mr-20'"
                            class="pr-20 d-block" [class.last-card]="pr-0">
                        </app-card>
                    </ng-template>

                </div>
            </ngx-slick>
        </div>
    </div>
    <div class="ui twelve wide column my-5 pageSection-Divider" *ngIf="cardType !== 'batch'">
        <div class="ui divider m-0"></div>
    </div>
</div>

