.pageSection-header{
    display: flex;
    align-items: center;
}
.pageSection-header h4{
    font-size:18px;
    font-weight:bold;
    margin: 0 5px 0 0;
}
.pageSection-header .ui.button{
    margin:0 0 0 auto;
}
.pageSection-header .ui.label{
    padding: 5px 7px;
}