<div class="sb-pageSection" *ngIf="section && section.contents && section.contents.length">
    <!--Header-->
    <div *ngIf="section.name" class="sb-pageSection-header">
        <!--Section Title-->
        <h4 class="sb-pageSection-title m-0 mr-5"> {{section.name}}</h4>
        <!--/Section Title-->
        <!--Count-->
        <span class="sb-pageSection-count sb-label sb-label-xs sb-label-error">{{section.count}}</span>
        <!--/Count-->
        <!--View all button-->
        <button class="sb-btn sb-btn-xs sb-btn-secondary ml-auto" type="button"
            *ngIf="section.contents.length >= 10 && section.name != 'My Courses'" (click)="navigateToViewAll(section)"
            appTelemetryInteract
            [telemetryInteractEdata]="{id:'viewall-button' , type:'click' ,pageid:pageid , extra : {section: section.name}}">
            {{ resourceService.frmelmnts.lnk.viewall}}
        </button>
        <!--/View all button-->
    </div>
    <!--/Header-->

    <!--Content-->
    <div *ngIf="refresh" class="sb-pageSection-content">
        <ngx-slick (afterChange)="handleAfterChange($event)" appTelemetryInteract
            [telemetryInteractEdata]="{id: 'slick-nav', type: 'click', pageid: pageid, extra: { section: section.name}}"
            class="carousel" #slickModal="slick-modal" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let content of contentList" class="mr-16">
                <!--Batch Card-->
                <app-batch-card appTelemetryInteract [telemetryInteractEdata]="cardIntractEdata"
                    [telemetryInteractObject]="{id:content.metaData.identifier}"
                    *ngIf="cardType && cardType === 'batch' else contentcard" [batch]="content"
                    (clickEvent)="playContent($event)">
                </app-batch-card>
                <!--/Batch Card-->
                <!--Course & Resourse Card-->
                <ng-template #contentcard>
                    <app-card appContentDirection [data]="content" appTelemetryInteract
                        [telemetryInteractEdata]="cardIntractEdata"
                        [telemetryInteractObject]="{id:content.metaData.identifier || content.metaData.courseId,type:content.metaData.contentType || 'Course',ver:'1.0'}"
                        (clickEvent)="playContent($event)" [data]="content" class="d-block" [class.last-card]="mr-0">
                    </app-card>
                </ng-template>
                <!--/Course & Resourse Card-->
            </div>
        </ngx-slick>
    </div>
    <!--/Content-->
    <!--Page Section Divider-->
    <!--<hr class="sb-pageSection-footer" *ngIf="cardType !== 'batch'" />-->
    <!--/Page Section Divider-->
</div>