@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
.download-mobile-app {
  border-radius: calculateRem(20px) calculateRem(20px) 0 0;
  position: absolute;
  bottom: 0px;
  padding: calculateRem(32px) calculateRem(12px) 0 calculateRem(12px);
  background: var(--gray-800);
  box-shadow: 0 calculateRem(20px) calculateRem(20px) calculateRem(10px) rgba(var(--rc-rgba-black), 0.2);
  max-width: calculateRem(250px);
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 9;
  @include respond-below(xs){
    bottom: calculateRem(121px);
  }
  .download-mobile-app-logo {
    background: var(--white);
    color: var(--black);
    border-radius: calculateRem(8px) calculateRem(8px) 0 0;
    text-align: center;
    min-height: calculateRem(148px);
    overflow-y: auto;

    .playStore-img {
      width: calculateRem(120px);
    }

    .app-download {
      &:hover {
        opacity: inherit;
      }

      line-height: 0;
    }

    p,
    label {
      font-size: var(--font-size-sm)
    }

    p {
      line-height: calculateRem(16px);
    }
  }

  .mobile-circles {
    position: absolute;
    top: calculateRem(10px);
    display: flex;
    align-items: center;
    margin: 0 calculateRem(20px);

    html[dir="rtl"] & {
      flex-direction: row-reverse;
    }

    .border-round {
      border: none;
      background: var(--gray-400);

      &:nth-child(3) {
        html[dir="rtl"] & {
          margin-left: calculateRem(20px) !important;
          margin-right: calculateRem(10px) !important;
        }
      }
    }

    .border-r50 {
      border-radius: 50%;
    }

    .big-box {
      height: calculateRem(14px);
      width: calculateRem(14px);
    }

    .oval-box {
      height: calculateRem(6px);
      width: calculateRem(76px);
      border-radius: calculateRem(3px);

      html[dir="rtl"] & {
        margin-right: 0px !important;
        margin-left: calculateRem(20px) !important;
      }
    }

    .small-box {
      height: calculateRem(8px);
      width: calculateRem(8px);
    }
  }

}

.footer {
  background: var(--primary-theme);
  color: var(--primary-theme-contrast) !important;
  padding: calculateRem(34px) 0;
  font-size: calculateRem(14px);
  position: relative;
  width: 100%;
  &.player-fullscreen-footer{
    display: none;
  }


  a {
    color: var(--primary-theme-contrast) !important;

    &:hover,
    &:active,
    &:focus {
      color: var(--primary-theme-contrast) !important;
      text-decoration: underline;
      opacity: 1;
    }
  }

}

.contantDetails,
.footerMenu {
  text-align: center;
}

@include respond-below(sm) {

  .download-mobile-app {
    box-shadow: 0 calculateRem(-5px) calculateRem(20px) calculateRem(5px) rgba(var(--rc-rgba-black), 0.2);
    height: auto;
    bottom: calculateRem(140px);

    .download-mobile-app-logo {
      height: auto;
      min-height: inherit;
    }

    .app-download {
      padding-top: calculateRem(12px);
    }

    a {
      padding-bottom: 0 !important;
    }

    p {
      display: none !important;
    }
  }

  .footer {
    max-height: calculateRem(230px);
    &.old-footer {
      min-height: calculateRem(140px);
    }

    .footerMenu {
      ul {
        margin-top: 0 !important;
        margin-bottom: 0px !important;
      }

      li {
        display: inline;
        margin-left: calculateRem(10px);
        margin-right: calculateRem(10px);
      }
    }

    .ui.container>.ui.stackable.grid>.column {
      padding: 0 !important;
    }
  }
}

@media screen and (max-width: 900px) {
  .footer {
    padding: calculateRem(20px) 0;
  }
}

::ng-deep {
  @include respond-above(sm) {
    *[dir="ltr"] {
      .footerMenu {
        text-align: left;
      }

      .contantDetails {
        text-align: right;
      }
    }

    *[dir="rtl"] {
      .footerMenu {
        text-align: right;
      }

      .contantDetails {
        text-align: left;
      }
    }

  }
}

.sb-footer-license {
  display: flex;
  margin-bottom: 0.5rem;
  font-size: calculateRem(13px);
  font-weight: normal;
  align-items: flex-start;
  justify-content: center;
}