.ui.menu.fixed {
  position: sticky;
  z-index: 999;
  border: 0;
  margin-bottom: calculateRem(-1px);

  .logo {
    img {
      height: calculateRem(56px);
      max-height: calculateRem(56px);
    }

    &:hover,
    &:focus {
      outline: none;
      opacity: 0.9;
    }
  }

  & > .container {
    @include respond-above(sm) {
      padding: $base-block-space 0;
    }
  }
  @include respond-below(sm) {
    .container {
      margin: 0 !important;
    }
  }
}

.ui.container.sb-header-ui-container {
  padding:calculateRem(16px) 0px;
  @include respond-below(sm) {
    padding:calculateRem(16px);
  }
}
.searchbox {
  width: 100%;

  @media only screen and (min-width: 1024px) {
    width: calc(100% - 284px);
    max-width: calculateRem(490px);
  }

  .ui.icon.button {
    background: var(--gray-100);
    padding: calculateRem(4px) calculateRem(7px);
  }
}

.ui.button.qr-code-btn {
  background: $white-color;
  color: $primary-color;
  border-radius: calculateRem(4px);
  font-weight: normal;
  border: calculateRem(0.5px) solid $primary-300;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.5);
  height: calculateRem(32px);
  padding: calculateRem(8px) calculateRem(16px);
  font-size: calculateRem(12px);
  line-height: 1.15;

  .qrcode {
    color: $primary-color !important;
    font-size: 1.3em;
  }
}

.search-qrcode-divider {
  height: calculateRem(24px);
  width: calculateRem(1px);
  margin: 0 calculateRem(16px);
  background: rgba(128, 167, 206, .34);
}

.ui.sidebar.right {
  &.visible.uncover {
    z-index: 4;
    border: 0;
    box-shadow: none;
    transition: none;

    & ~ .fixed,
    & ~ .pusher {
      transform: translate3d(0, 0, 0) !important;
    }
    &.animating {
      transition: none;
      visibility: visible;
    }
  }
  &.animating {
    transition: none;
  }
}

*[dir="rtl"] {
  .ui.right.sidebar {
    right: auto !important;
    left: 0 !important;
  }
  .ui.vertical.menu .item > i.icon {
    float: left;
  }
  .ui.animating.sidebar{
    visibility: hidden;
  }
  .ui.animating.sidebar.visible{
    visibility: visible;
  }
}

::ng-deep {

  .ui.menu .language-selector {
    font-size: 0.86rem;
  
    @include respond-above(md) {
      color: $white-color;
    }
  
    .ui.dropdown {
      border: calculateRem(1px) solid $gray-100;
      color: $primary-color;
      font-size: 0.86rem;
      border-radius: calculateRem(3px);
      font-weight: bold;
      padding: calculateRem(8px);
  
      & > .dropdown.icon {
        margin: 0 0 0 calculateRem(8px);
      }
  
      @media screen and (min-width: 1024px) {
        color: $white-color;
        border: 0;
        font-weight: 500;
        padding: calculateRem(8px) 0 calculateRem(8px) calculateRem(8px);
      }
  
      .menu {
        width: 100%;
        right: 0;
        left: inherit;
  
        & > .item {
          font-size: 0.86rem !important;
        }
  
        & > .active.item {
          color: $primary-color !important;
        }
      }
    }
  }
  *[dir="rtl"] {
    .ui.menu .language-selector .ui.dropdown {
      & > .dropdown.icon {
        margin: 0 $base-block-space 0 0;
      }
      @media screen and (min-width: 1024px) {
        padding: calculateRem(8px) calculateRem(8px) calculateRem(8px) 0;
      }
    }
  }
}

.profile-avtar:hover {
  opacity: 1;
}
