@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
.sbt-header {
  .sbt-container {
    padding: 0 5%;
  }
}
.sbt-header-bar {
  width: 100%;
  @include respond-above(sm) {
  height:calculateRem(80px);
  }
}
.sbt-header-tool-bar {
  background: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  // padding: 0px calculateRem(16px);
  @include respond-above(sm) {
    flex-wrap: nowrap;
    padding: 0px 0px;
    }
    .profile-avtar {
      display: none;
      @include respond-above(sm) {
        display: block;
        }
    }
}
.sbt-header-logo {
  position: relative;
  display: flex;    
  align-items: flex-start;
  padding:0px 0px;
  @include respond-above(sm) {
    min-height: calculateRem(80px);
    align-items: center;
    }
    .profile-avtar {
      @include respond-above(sm) {
        display: none;
      }
    }
}
.sbt-header-menu-bar {
  height: 5.5rem;
      background: none;
      padding: 0px;
      display: flex;
      background: var(--sbt-header-bg) !important;
      border-radius: calculateRem(24px) calculateRem(24px) 0 0;
      padding: 1rem 1rem 1rem 1rem;
      overflow: hidden;
      overflow-x: auto;
  position: relative;
  @include respond-below(sm) {
  overflow-x: auto;
  padding: 1rem 0.5rem 1rem 1rem;
  margin-top: 0.5rem;
  }

}
.sbt-header-menu-extension {
  background: var(--sbt-header-bg);
}
.sbt-header-menu {
  position: relative;
  margin:0 auto;
  @include respond-above(sm) {
  }
}
.ui.menu {
  z-index: 999;
  border: 0;
  margin-bottom: calculateRem(-1px);
  background: var(--sb-menu-bg);
  &.player-fullscreen-header{
    display: none !important;
  }
  .logo {
    img {
      height: calculateRem(56px);
      max-height: calculateRem(56px);
    }
    &:hover,
    &:focus {
      outline: none;
      opacity: 0.9;
    }
  }
  & > .container {
    @include respond-above(sm) {
      padding: var(--base-block-space) 0;
    }
  }
  @include respond-below(sm) {
    .container {
      margin: 0 !important;
    }
  }
}
.ui.container.sb-header-ui-container {
  padding:calculateRem(16px) 0px;
  @include respond-below(sm) {
    padding:calculateRem(16px);
  }
}
.searchbox {
  width: 100%;
  @media only screen and (min-width: 1024px) {
    width: calc(100% - 17.75rem);
    max-width: calculateRem(490px);
  }
  .ui.icon.button {
    background: var(--gray-100);
    padding: calculateRem(4px) calculateRem(7px);
  }
}
.ui.button.qr-code-btn {
  background: var(--sb-header-qrcode-btn-bg);;
  color: var(--primary-color);
  border-radius: calculateRem(4px);
  font-weight: normal;
  border: calculateRem(0.5px) solid var(--sb-header-qrcode-btn-border);
  box-shadow: 0 calculateRem(3px) calculateRem(4px) 0 rgba(var(--rc-rgba-black), 0.5);
  height: calculateRem(32px);
  padding: calculateRem(8px) calculateRem(16px);
  font-size: calculateRem(12px);
  line-height: 1.15;
  .qrcode {
    color: var(--primary-color) !important;
    font-size: 1.3em;
  }
}
.search-qrcode-divider {
  height: calculateRem(24px);
  width: calculateRem(1px);
  margin: 0 calculateRem(16px);
  background: var(--sb-qrcode-divider);
}
.ui.sidebar.right {
  &.visible.uncover {
    z-index: 4;
    border: 0;
    box-shadow: none;
    transition: none;
    & ~ .fixed,
    & ~ .pusher {
      transform: translate3d(0, 0, 0) !important;
    }
    &.animating {
      transition: none;
      visibility: visible;
    }
  }
  &.animating {
    transition: none;
  }
}
*[dir="rtl"] {
  .ui.right.sidebar {
    right: auto !important;
    left: 0 !important;
  }
  .ui.vertical.menu .item > i.icon {
    float: left;
  }
  .ui.animating.sidebar{
    visibility: hidden;
  }
  .ui.animating.sidebar.visible{
    visibility: visible;
  }
}
::ng-deep {
  .ui.menu .language-selector {
    font-size: 0.86rem;
    @include respond-above(md) {
      color: var(--primary-theme-contrast);
    }
    .ui.dropdown {
      border: calculateRem(1px) solid var(--gray-100);
      color: var(--primary-color);
      font-size: 0.86rem;
      border-radius: calculateRem(3px);
      font-weight: bold;
      padding: calculateRem(8px);
      & > .dropdown.icon {
        margin: 0 0 0 calculateRem(8px);
      }
      @media screen and (min-width: 1024px) {
        color: var(--primary-theme-contrast);
        border: 0;
        font-weight: 500;
        padding: calculateRem(8px) 0;
        top:calculateRem(4px);
      }
      .menu {
        width: 100%;
        right: 0;
        left: inherit;
        background: var(--sb-language-dropdown-bg);
        & > .item {
          font-size: 0.86rem !important;
          color: var(--sb-language-dropdown-item) !important;
          &:hover{
            background: var(--sb-language-dropdown-item-active) !important;
          }
        }
        & > .active.item {
          color: var(--primary-color) !important;
          background: var(--sb-language-dropdown-item-active) !important;
        }
      }
    }
  }
  *[dir="rtl"] {
    .ui.menu .language-selector .ui.dropdown {
      & > .dropdown.icon {
        margin: 0 calculateRem(8px) 0 0;
      }
      @media screen and (min-width: 1024px) {
        padding: calculateRem(8px) calculateRem(8px) calculateRem(8px) 0;
      }
    }
  }
}
.profile-avtar:hover {
  opacity: 1;
}