.ui.menu.fixed {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  z-index: 999;
  border: 0;
  margin-bottom: -1px;

  .logo {
    img {
      height: 56px;
      max-height: 56px;
    }

    &:hover,
    &:focus {
      outline: none;
      opacity: 0.9;
    }
  }

  & > .container {
    padding: $base-block-space;
    @media only screen and (min-width: 768px) {
      padding: $base-block-space 0;
    }
  }
  @include respond-below(sm) {
    .container {
      margin: 0 !important;
      padding-left: 16px !important;
      padding-right: 16px !important;
    }
  }
}

.searchbox {
  width: 100%;

  @media only screen and (min-width: 1024px) {
    width: calc(100% - 284px);
    max-width: 490px;
  }

  .ui.icon.button {
    background: $qr-btn;
    padding: 4px 7px;
  }

  .searchbox-inner {
    height: 30px;
    border: 1px solid $gray-100;
    opacity: 1;
    border-radius: 5px;
    overflow: hidden;
  }
}

.qr-code-btn {
  background: $white-color !important;
  color: $primary-color !important;
  font-size: 0.86rem !important;
  border-radius: 3px !important;
  font-weight: bold;
  border: 1px solid $gray-100 !important;
  box-shadow: none !important;
  height: 30px !important;
  padding: 8px 15px !important;
  font-size: 0.75rem !important;

  .qrcode {
    color: $primary-color !important;
    font-size: 1.3em;
  }
}

.search-qrcode-divider {
  opacity: 0.4;
  color: $white-color;
  font-size: 22px;
}

.ui.sidebar.right {
  &.visible.uncover {
    z-index: 4;
    border: 0;
    box-shadow: none;
    transition: none;

    & ~ .fixed,
    & ~ .pusher {
      transform: translate3d(0, 0, 0) !important;
    }
    &.animating {
      transition: none;
      visibility: visible;
    }
  }
  &.animating {
    transition: none;
    visibility: hidden;
  }
}

*[dir="rtl"] {
  .ui.right.sidebar {
    right: auto !important;
    left: 0 !important;
  }
  .ui.vertical.menu .item > i.icon {
    float: left;
  }
}

.ui.menu .language-selector {
  font-size: 0.86rem;

  @media screen and (min-width: 992px) {
    color: $white-color;
  }

  .ui.dropdown {
    border: 1px solid $gray-100;
    color: $primary-color;
    font-size: 0.86rem;
    border-radius: 3px;
    font-weight: bold;
    padding: $base-block-space;

    & > .dropdown.icon {
      margin: 0 0 0 $base-block-space;
    }

    @media screen and (min-width: 1024px) {
      color: $white-color;
      border: 0;
      font-weight: 500;
      padding: $base-block-space 0 $base-block-space $base-block-space;
    }

    .menu {
      width: 100%;

      & > .item {
        font-size: 0.86rem !important;
      }

      & > .active.item {
        color: $primary-color !important;
      }
    }
  }
}
*[dir="rtl"] {
  .ui.menu .language-selector .ui.dropdown {
    & > .dropdown.icon {
      padding: $base-block-space 0 $base-block-space $base-block-space;
      margin: 0 $base-block-space 0 0;
    }
    @media screen and (min-width: 1024px) {
      padding: $base-block-space $base-block-space $base-block-space 0;
    }
  }
}

.profile-avtar:hover {
  opacity: 1;
}

.sb-header {
  min-height: $base-block-space * 10;
  .ui {
    &.menu {
      padding: $base-block-space * 2 $base-block-space;
      max-width: 1140px;
      margin: 0 auto;
      border: 0 !important;
      box-shadow: none;

      .active {
        &.item {
          background: transparent;
          font-weight: $font-weight-bold;
          color: $blue;
        }
      }

      .item:hover {
        background: transparent;
        font-weight: $font-weight-bold;
        color: $blue;
      }

      .item {
        padding: 0 $base-block-space;
      }
    }
  }

  .sb-header-logo {
    img {
      height: $base-block-space * 7;
    }
  }

  .sb-header-links {
  }
}

.sb-sub-header {
  .blue-bar {
    background: $blue;
    padding: $base-block-space $base-block-space * 2;
  }
  .sb-header-links {
    color: $white;
    font-size: $font-size-sm;
  }
  .sb-sub-header-select {
    padding-left: $base-block-space;
    &.ui.dropdown:not(.button) > .default.text {
      color: $white;
    }
    &.ui.dropdown {
      .menu {
        .active {
          &.item {
            color: $blue;
          }
        }
        .item {
          font-size: $font-size-sm;
        }
      }
    }
  }
  .white-bar {
    padding: $base-block-space * 2;
    border-bottom: 1px solid $gray-100;
    .sb-header-links {
      .sb-sub-header-select {
        color: $blue;
      }
    }
  }
}

.sb-divider {
  height: $base-block-space * 3;
  width: 2px;
  margin: 0 $base-block-space * 2;
  background: rgba(255, 255, 255, 0.4);
}

.sb-toggle-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: $base-block-space * 1.5;
  color: $white-color;
  margin: 0;
  padding: $base-block-space;
  width: 160px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  img {
    transition: all 0.4s;
  }

  .sb-icon-sort {
    height: $base-block-space * 2;
    width: $base-block-space * 2;
  }

  .sb-icon-arrow-down {
    height: $base-block-space * 1.25;
    width: $base-block-space * 1.25;
  }

  &.rotate img {
    transform: rotateX(-180deg);
  }
}
