@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
@forward "./container";
@forward "./grid";

.ui.grid>.column:not(.row) {
    padding-top: calculateRem(12px);
    padding-bottom: calculateRem(12px);
}
.mg-pad {
    padding: 0 5%;
}