@import "variables";
::ng-deep .fancytree-plain span.fancytree-node span.fancytree-title {
    margin-left: 5px;
    vertical-align: middle;
}
::ng-deep span.fancytree-active span.fancytree-title {
    background-color: #007Aff;
    color: #fff;
}
::ng-deep span.fancytree-icon {
  vertical-align: middle;
  margin-left: 0;
  cursor: pointer;
}
::ng-deep span.fancytree-custom-icon {
  cursor: pointer;
}
::ng-deep span.fancytree-expander {
  vertical-align: middle;
}
::ng-deep span.fancytree-title{
  margin: 0;
}