@import "variables";
.fancytree-plain span.fancytree-node span.fancytree-title {
    margin-left: 5px;
    vertical-align: middle;
}
span.fancytree-active span.fancytree-title {
    background-color: #007Aff;
    color: #fff;
}
span.fancytree-icon {
  vertical-align: middle;
}
span.fancytree-expander {
  vertical-align: middle;
}
span.fancytree-title{
  margin: 0;
}