@import "variables";
@import 'mixins/mixins';

.sb-table .sb-table-body td {
    padding: calculateRem(16px) calculateRem(24px);
    text-align: center;
    &:first-child {
        text-align: left;
    }
  }
  
    // ::ng-deep {
    //     .ui.styled.accordion.sb-accordion .active.title {
    //         i.icon {
    //             transform: rotate(180deg);
    //             -webkit-transform: rotate(180deg);
    //         }
    //     }
  
    // }
  
  //Chapterlist Accordion Section
  .chapter-lists {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
  
  
    &--item {
      border-bottom: calculateRem(1px) solid var(--gray-100);
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: calculateRem(8px) calculateRem(16px) calculateRem(8px) calculateRem(40px);
      border-radius: 0;
      font-size: calculateRem(12px);
  
      &:last-child {
        border-bottom: 0px;
      }
  
      &:hover {
        cursor: pointer;
        background-color: var(--primary-0);
      }
    }
  
    .item-name {
      margin-right: auto;
    }
  
  }
  
  .template-items {
    .selected-icon {
      display: none;
    }
  
    &.active {
      border: calculateRem(3px) solid var(--primary-color);
  
      .selected-icon {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--white);
        border-radius: 50%;
        height: calculateRem(18px);
        width: calculateRem(18px);
  
        i.icon {
          color: var(--primary-color);
          font-size: calculateRem(24px);
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
  
        }
      }
    }
  }
  
  .sb-cbse-homepage-container {
    .chapter-dotted-menu {
      padding-bottom: calculateRem(6px);
    }
    
    i.circle.icon {
      height: auto;
    }
  
  }
  
  // Chapterlist Modal
  .sb-chapterlist-modal {
  
    .chapter-lists--item {
      padding: 0;
      .sb-radio-btn-checkbox {
        label {
          padding: calculateRem(16px) calculateRem(16px) calculateRem(16px) calculateRem(40px);
        }
      }
    }
  
  }
  
  
  //Common contribution card section
  .common-contribution-card {
    box-sizing: border-box;
    border: calculateRem(0.5px) solid rgba(var(--rc-rgba-primary), 0.39);
    border-radius: calculateRem(4px);
    background-color: var(--white);
    box-shadow: none;
  
    .content {
      img {
        width: calculateRem(64px);
        height: calculateRem(64px);
      }
  
      .content-title {
        font-size: $font-size-sm;
        color: var(--gray);
        vertical-align: middle;
        line-height: calculateRem(16px);
      }
  
      .icon {
        display: none;
        height: calculateRem(18px);
        position: absolute;
        right: calculateRem(8px);
        top: calculateRem(8px);
        margin: 0;
        width: calculateRem(20px);
        font-size: calculateRem(18px);
        color: var(--secondary-200);
        font-size:calculateRem(20px);
      }
  
    }
  
    &:hover,
    &.active {
      .content .icon {
        display: block;
      }
    }
  
    &:hover, &.active {
      cursor: pointer;
      z-index: 5;
      background: var(--white);
      transform: translateY(-3px);
      box-shadow: 0 calculateRem(2px) calculateRem(8px) 0 rgba(var(--rc-rgba-primary), 0.31);
      border: calculateRem(0.5px) solid rgba(var(--rc-rgba-primary), 0.48);
    }

    &.active {
      .content-title {
        font-weight: 700;
      }      
    }

  }
  
  .ui.error.reject {
    background-color: var(--rc-F5F9FC);
    color: var(--gray);
    border: calculateRem(1px) dashed var(--primary-200);
    box-shadow: none !important;
  
    li {
      font-size: $font-size-sm;
      line-height: calculateRem(20px);
    }
  }
  .sb-chapterlist-modal {

    .sb-checkbox label,
    .sb-radio-btn-checkbox label {
      padding-left: 0;
      padding-right: calculateRem(24px);
      margin-bottom: 0;
      &:before {
        left: unset;
        right: 0;
      }
  
      &:after {
        left: unset;
        right: calculateRem(4px);
      }
    }
  
    .sb-checkbox label:before {
      left: unset;
      right: 0;
    }
  
    .chapter-lists--item {
      .sb-radio-btn-checkbox label {
        &::before,
        &::after {
          top: 50%;
          transform: translateY(-50%);
        }
  
        &::before {
          right: calculateRem(16px);
        }
  
        &::after {
          right: calculateRem(20px);
        }
      }
    }
  }