@import "variables";
@import "mixins/mixins";

.sb-about-title {
  border-bottom: calculateRem(1px) solid var(--primary-color);
  color: var(--primary-color)
}

.sb-left-content {
  display: inline-flex;
  color: var(--gray-400);

  @include respond-below(sm) {
    display: block;
  }

  .list-value {
    margin-left: 0.5rem;
    word-break: break-all;

    @include respond-below(sm) {
      margin-left: 0rem;
    }
  }
}
.link:hover {
  text-decoration: underline;
}
.update-link {
  color: var(--blue);
}
