<div class="ui container">
  <div class="mt-24 sb-bg-color-white">
    <div class="sb-about-title">
      <div class="font-weight-bold pt-16 px-16 pb-8 fmedium">SUNBIRD Lite Desktop App</div>
    </div>

    <div class="d-flex flex-ai-center p-16">
      <div class="sb-left-container">
        <dl class="mt-8 mb-0">
          <div class="sb-left-content">
            <dt class="font-weight-bold fs-0-92">Version:</dt>
            <dd class="list-value fs-0-92">0.12.12</dd>
          </div>
        </dl>
        <dl class="mt-8 mb-0">
          <div class="sb-left-content">
            <dt class="font-weight-bold fs-0-92">Release Date:</dt>
            <dd class="list-value fs-0-92">12/12/19</dd>
          </div>
        </dl>
        <dl class="mt-8 mb-0">
          <div class="sb-left-content">
            <dt class="font-weight-bold fs-0-92">Supported Languages:</dt>
            <dd class="list-value fs-0-92">English, Hindi, Tamil, Bengali</dd>
          </div>
        </dl>
        <dl class="mt-8 mb-0">
            <div class="sb-left-content">
              <dt class="font-weight-bold fs-0-92">Device ID:</dt>
              <dd class="list-value fs-0-92">ae56gh7876578hhg78789890jjhgg3sc346</dd>
            </div>
          </dl>
      </div>
      <div class="sb-right-container ml-auto d-flex flex-dc flex-ai-end">
        <button class="sb-btn sb-btn-secondary sb-btn-normal">Update Sunbird Desktop</button>
        <a href="#" class="mt-24 text-center update-link">Update available for version 0.12.16</a>
      </div>
    </div>
  </div>
</div>
<div class="d-flex flex-jc-center my-8 fxsmall">
<a href="#" class="link">Terms of Use </a> | &#9400; 2019, DIKSHA</div>
