<div class="ui grid" ng-init="announcementInboxData.renderAnnouncementList()">
  <div class="one wide column"></div>
  <div class="ten wide column">
    <div class="ui grid">
      <div class="tweleve wide column">
        <div class="ui">
          <div class="text dashBoardSectionHeading margin-bottom-20"><i class=" arrow left icon padding-right-10"></i> {{$root.frmelmnts.lbl.anncmntall}}</div>
        </div>
        <div ng-if="announcementInboxData.showLoader">
          <app-loader></app-loader>
        </div>
        <div ng-include="'views/announcement/announcementInboxListCard.html'"></div>
      </div>
    </div>
  </div>
</div>
<div class="ui grid">
    <div class="two wide column"></div>
    <div class="nine wide column padding-top-none">
        <!-- <div class="padding-bottom-15" ng-if="!draftContent.loader.showLoader && draftContent.totalCount > draftContent.pageLimit"> -->
        <div class="padding-bottom-10">
            <div ng-init="pegination = announcementInboxData" ng-include=" 'views/common/pagination.html' "></div>
        </div>
    </div>
    <div class="one wide column"></div>
</div>
