<div ng-init="announcementOutboxData.renderAnnouncementList()">
  <div class="ui grid">
    <div class="one wide column"></div>
    <div class="ten wide column">
      <div class="ui grid">
        <div class="nine wide column">
          <div class="ui">
            <div class="text dashBoardSectionHeading padding-top-10"><i class="announcement icon padding-right-10"></i> My Announcements</div>
          </div>
        </div>
        <div class="right floated three wide column padding-right-dropdown padding-right-10">
          <div class="ui float-ContentRight" ng-controller="createAnnouncementCtrl as createAnn">
            <button class="ui primary basic button announcementButton" id="openmodal" ng-click="createAnn.createAnnouncement();"><span class="announcementButtonText">CREATE ANNOUNCEMENT</span></button>
            <div ng-include="'views/announcement/createAnnouncement.html'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui grid" ng-if="announcementOutboxData.showDataDiv">
    <div class="one wide column"></div>
    <div class="ten wide column">
      <div class="ui grid">
        <div class="eight wide column">
          <div class="ui">
            <div class="text padding-top-5 showingAllSentAnn">Showing all sent announcements</div>
          </div>
        </div>
        <div class="four wide column">
          <div class="ui float-ContentRight">
            <div class="text showingAllSentAnn"><span class="margin-right-10">Viewing {{announcementOutboxData.pager.startIndex+1}} - {{announcementOutboxData.pager.endIndex+1}}</span>
              <div class="ui small basic icon buttons">
                <button class="ui button" ng-class="{'disabled' : announcementOutboxData.pager.startIndex === 0}" ng-click="announcementOutboxData.setPage(announcementOutboxData.pager.currentPage - 1)"><i class="left chevron icon"></i></button>
                <button class="ui button" ng-class="{'disabled' : announcementOutboxData.pager.endIndex+1 === announcementOutboxData.listData.length}" ng-click="announcementOutboxData.setPage(announcementOutboxData.pager.currentPage + 1)"><i class="right chevron icon"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui grid" ng-if="announcementOutboxData.showLoader">
    <div class="one wide column"></div>
    <div class="ten wide column">
      <app-loader></app-loader>
    </div>
  </div>
  <div class="ui grid" ng-hide="announcementOutboxData.showDataDiv">
    <div class="one wide column"></div>
    <div class="ten wide column">
      <div class="ui warning message">
        <div class="header">No announcement found!</div>
        Please create announcement
      </div>
    </div>
  </div>
  <div class="margin-top-10" ng-if="announcementOutboxData.showDataDiv">
    <div class="resource-padding ui grid">
      <div class="one wide column"></div>
      <div class="ten wide column">
        <div class="ui tweleve wide column">
          <table class="ui padded table">
            <thead>
              <tr class="announcementTableHeading">
                <th>Name</th>
                <th>Published</th>
                <th>Sent</th>
                <th>Recieved <span class="announcementBlueText">*</span></th>
                <th>Seen <span class="announcementBlueText">*</span></th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in announcementOutboxData.items" class="tableListNameAnn">
                <td>{{item.details.title}}</td>
                <td>{{item.createddate | date : "dd MMM yyyy"}}</td>
                <td>N/A</td>
                <td>{{item.metrics.received ? item.metrics.received : "N/A"}}</td>
                <td>{{item.metrics.read ? item.metrics.read : "N/A"}}</td>
                <td id="actionBtn{{item.announcementId}}" class="cursor-pointer announcementRedText" ng-click="announcementOutboxData.doAction(item)"
                ng-if="item.status == 'active'"><i class="icon ban"></i>Delete</td>
                <td ng-controller="createAnnouncementCtrl as createAnn" ng-click="createAnn.getAnnouncementDetailsFromId(item.announcementId);" ng-if="item.status == 'cancelled'" class="cursor-pointer announcementBlueText" ><i class="external share icon"></i>Resend</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="ui grid" ng-if="announcementOutboxData.showDataDiv">
    <div class="one wide column"></div>
    <div class="ui grid">
      <div class="twelve wide column">
        <div class="ui">
          <div class="text announcementDataText" ng-if="announcementOutboxData.result.metricsupdateddate"> <span class="announcementBlueText">*</span> Consumption data last updated on {{announcementOutboxData.result.metricsupdateddate}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Announcement delete confirmation modal -->
<div id="announcementDeleteModal" class="ui modal">
     <i class="close icon"></i>
    <div class="content">
        <div class="ui center aligned segment">
            <div class="ui basic icon circular button deny">
                <i class="ui huge help outline icon"></i>
            </div>
            <br/><br/>
            <div class="header cardsHeading">Are you sure you want to stop showing this announcement?</div>
            <br/>
            <div class="announcement-description">
                Users will not be able to see this announcement after this action.
            </div>
            <br/><br/>
                <button type="submit" class="ui basic blue button announcementButton btn-width-26 announcementButtonText" ng-click="announcementOutboxData.deleteAnnouncement()"> YES </button>
                <button type="submit" class="ui button primary announcementButton btn-width-26 close" ng-click="announcementOutboxData.closeModal('announcementDeleteModal')"> NO </button>
        </div>
    </div>
</div>

<!-- Announcement resent success modal -->
<div class="ui modal small" id="announcementResendModal">
  <i class="close icon"></i>
  <div class=" ui segment margin-top-10">
    <div class="content">
      <div class="ui grid">
        <div class="ui centered grid">
          <div class="row">
            <i class="checkmark icon big circular createAnnGrayShade"></i>
          </div>
          <div class="row">
            <span class="dashBoardSectionHeading">Announcement Resent</span>
          </div>
          <div class="">
            <span class="createAnnGrayShade line-height-20">Your announcement has been resent to all the choosen recipients.</span>
          </div>
        </div>
        <br/>
        <div class="row ui two column centered grid margin-top-20 actions">
          <button class="ui primary basic button announcementButton btn-width-34" ng-click="announcementOutboxData.closeModal('announcementResendModal')">
            <span class="announcementButtonText">GOT IT</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>