<div class="ui modal large" ng-init="createAnn.initializeModal();" id="createAnnouncementModal">
  <i class="close icon"></i>
  <div class=" ui segment margin-top-10">
    <div class=" margin-bottom-15">
      <div class="ui grid">
        <div class="ten wide column">
          <span class="ui header">
            <span class="ui" ng-show="createAnn.stepNumber == 1">
              <span class="text announcementHeadingSection">{{$root.frmelmnts.lbl.createnewanncmnt}}</span>
              <br/>
            <span class="createAnnHeaderDesc">{{$root.frmelmnts.lbl.createnewanncmntdesc}}</span>
            </span>
            <span class="ui" ng-show="createAnn.stepNumber == 2">
              <span class="text announcementHeadingSection">{{$root.frmelmnts.lbl.selectrecipient}}</span>
              <br/>
              <span class="createAnnHeaderDesc">{{$root.frmelmnts.lbl.selectrecipientdesc}}</span>
            </span>
            <span ng-show="createAnn.stepNumber == 3">
              <span class="text announcementHeadingSection">{{$root.frmelmnts.lbl.confirmrecipient}}</span>
              <br/>
              <span class="createAnnHeaderDesc">{{$root.frmelmnts.lbl.confirmrecipientdesc}}</span>
            </span>
            <span ng-show="createAnn.stepNumber == 4">
              <span class="text announcementHeadingSection">{{$root.frmelmnts.lbl.previewanncmnt}}</span>
              <br/>
              <span class="createAnnHeaderDesc">{{$root.frmelmnts.lbl.previewanncmntdesc}}</span>
            </span>
          </span>
        </div>
        <div class="two wide column">
          <div class="createAnnStepsIndicator">
            <h6 class="createAnnMargin5 createAnnGrayShade">{{$root.frmelmnts.lbl.anncmntstep}}</h6> &nbsp
            <span id="announcementSteps createAnnMargin4">{{createAnn.stepNumber}}</span><span class="createAnnGrayShade"> / 4</span>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <form class="ui form announcementForm" ng-init="createAnn.data = {}" name="announcementForm">
        <div class="ui grid" ng-show="createAnn.stepNumber == 1">
          <div class="eight wide column">
            <div class="field createAnnFormScroller">
              <div class="padding-right-25">
                <div class="field required">
                  <label>{{$root.frmelmnts.lbl.anncmnttitle}}</label>
                  <div class="field form-group dropdown-margin-left" ng-required="true">
                    <input type="text" name="title" id="announcementTitle" placeholder="{{$root.frmelmnts.instn.t0049}}" ng-model="createAnn.data.title" ng-maxlength="100" ng-change="createAnn.detectChange()">
                    <section ng-if="createAnn.data.title.length" class="float-ContentRight">{{createAnn.data.title.length}} / 100</section>
                    <p ng-show="announcementForm.title.$error.maxlength" class="createAnnErrorMsg">Title is too long</p>
                  </div>
                </div>
                <div class="field required dropdown-margin-left">
                  <label>{{$root.frmelmnts.lbl.anncmntfrom}}</label>
                  <select name="board" class="ui fluid dropdown" id="orgDropdown" ng-options=" board for board in createAnn.org" ng-model="createAnn.data.from" ng-change="createAnn.detectDropdownChange(createAnn.data.from)">
                    <option value="">{{$root.frmelmnts.instn.t0050}}</option>
                  </select>
                </div>
                <div class="field required dropdown-margin-left">
                  <label>{{$root.frmelmnts.lbl.anncmnttype}}</label>
                  <select name="medium" class="ui fluid dropdown" id="announcementType" ng-options=" audience for audience in createAnn.announcementType" ng-model="createAnn.data.announcementType" ng-change="createAnn.detectDropdownChange(createAnn.data.announcementType)">
                    <option value="">{{$root.frmelmnts.instn.t0051}}</option>
                  </select>
                </div>
                <div class="field dropdown-margin-left">
                  <label>{{$root.frmelmnts.lbl.anncmntdesc}}</label>
                  <div class="field">
                    <input type="text" name="description" placeholder="{{$root.frmelmnts.instn.t0052}}" ng-model="createAnn.data.description" ng-maxlength="1200" ng-change="createAnn.detectChange()">
                    <section ng-if="createAnn.data.description.length" class="float-ContentRight">{{createAnn.data.description.length}} / 1200</section>
                    <p class="createAnnErrorMsg" ng-show='announcementForm.description.$error.maxlength'>Description is too long.
                    </p>
                  </div>
                </div>
                <div class="field form-group dropdown-margin-left" ng-if="createAnn.showUrlField">
                  <label>{{$root.frmelmnts.lbl.anncmntlink}}</label>
                  <div class="field" data-ng-repeat="weblink in createAnn.repeatableWebLinks">
                    <div class="ui action input">
                      <input type="url" ng-model="createAnn.data.link[$index]" name="link_{{$index}}" placeholder="{{$root.frmelmnts.instn.t0053}}" ng-change="createAnn.detectChange()">
                      <i class="trash icon createAnnBlueClass" ng-click="createAnn.removeLink($index)"></i>
                    </div>
                    <section ng-show="announcementForm['link_' + $index].$error.url" class="createAnnErrorMsg">Not a valid URL</section>
                  </div>
                </div>
                <div class="field">
                  <span ng-click="createAnn.addNewLink()">
                        <i class="plus icon createAnnBlueClass cursor-pointer"></i>
                        <span ng-if="!createAnn.showUrlField">
                          <span class="cursor-pointer createAnnBlueClass">{{$root.frmelmnts.lbl.anncmntaddlink}}</span><span>{{$root.frmelmnts.lbl.anncmntaddlinkdesc}}</span>
                  </span>
                  <span ng-if="createAnn.showUrlField">
                          <span class="cursor-pointer createAnnBlueClass">{{$root.frmelmnts.lbl.anncmntaddmorelink}}</span>
                  </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="four wide column createAnnAttchementHolder" ng-init="createAnn.initializeFileUploader()">
            <div class="field">
              <label>{{$root.frmelmnts.lbl.anncmntuploadfile}}</label>
              <div fine-uploader></div>
            </div>
          </div>
        </div>
        <div ng-show="createAnn.stepNumber == 2">
          <div class="ui info message">
            <i class="close icon"></i>
            <div class="header">
              Announcement Recipients coming soon...
            </div>
            <ul class="list">
              <li>Recipients 1</li>
              <li>Recipients 2</li>
              <li>Recipients 3</li>
              <li>Recipients 4</li>
            </ul>
          </div>
        </div>
        <div ng-show="createAnn.stepNumber == 3" class="ui list ui grid">
          <div class="eight wide column">
            <div class="ui message">
              <i class="close icon"></i>
              <span class="createAnnSelectedRecepient">Recipients 1</span>
            </div>
            <div class="ui message fon">
              <i class="close icon"></i>
              <span class="createAnnSelectedRecepient">Recipients 2</span>
            </div>
            <div class="ui message">
              <i class="close icon"></i>
              <span class="createAnnSelectedRecepient">Recipients 3</span>
            </div>
          </div>
        </div>
        <div ng-show="createAnn.stepNumber == 4" class="ui grid">
          <div class="box width-100 eight wide column" style="margin-left: 17px;">
            <announcement-details-directive announcement-details="createAnn.previewData"></announcement-details-directive>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="actions">
    <button class="ui primary basic button announcementButton createAnnBackBtnWidth float-ContentLeft" id="annBackBtn" ng-hide="createAnn.stepNumber == 1" ng-click="createAnn.previousStep();" data-current-state="{{createAnn.stepNumber}}">
      <span class="announcementButtonText">{{$root.frmelmnts.btn.back}}</span>
    </button>
    <div class="ui primary button" ng-if="createAnn.stepNumber == 2" ng-click="createAnn.confirmRecipients();createAnn.stepNumber = 3">{{$root.frmelmnts.btn.anncmntconfirmrecipients}}</div>
    <div class="ui primary button" ng-if="createAnn.stepNumber == 3" ng-click="createAnn.previewAnn();createAnn.stepNumber = 4;">{{$root.frmelmnts.btn.anncmntpreview}}</div>
    <div class="ui primary button" ng-if="createAnn.stepNumber == 4" id="sendAnnouncement">{{$root.frmelmnts.btn.anncmntsendanncmnt}}</div>
    <div ng-if="createAnn.stepNumber == 1" class="ui primary button" ng-class="{'disabled': createAnn.disableBtn === true || announcementForm.$invalid}" ng-click="createAnn.selectRecipients();createAnn.stepNumber = 2;">{{$root.frmelmnts.btn.anncmntselectrecipients}}</div>
  </div>
</div>
<!-- Announcement created success modal -->
<div class="ui modal small" id="announcementSuccessModal">
  <i class="close icon"></i>
  <div class=" ui segment margin-top-10">
    <div class="content">
      <div class="ui grid">
        <div class="ui centered grid">
          <div class="row">
            <i class="checkmark icon big circular createAnnGrayShade"></i>
          </div>
          <div class="row">
            <span class="dashBoardSectionHeading">{{$root.frmelmnts.lbl.anncmntsent}}</span>
          </div>
          <div class="">
            <span class="createAnnGrayShade line-height-20">{{$root.frmelmnts.lbl.anncmntsentdesc}}</span>
          </div>
        </div>
        <br/>
        <div class="row ui two column centered grid margin-top-20 actions">
          <button class="ui primary basic button announcementButton btn-width-34">
            <span class="announcementButtonText">{{$root.frmelmnts.btn.anncmntgotit}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
