  <div class="ui modal large" ng-init="announcement.initializeModal();" id="createTextBookModal">
    <i class="close icon"></i>
      <div class=" ui segment margin-top-10">
        <div class=" margin-bottom-15">
            <div class="ui grid">
                <div class="ten wide column">
                    <span class="ui header">
                        Create New Announcement<br/>
                        <span class="createAnnHeaderDesc">
                            Fill in all the required fields to create the announcement.
                        </span>
                    </span>
                </div>
                <div class="two wide column">
                    <div class="createAnnStepsIndicator">
                      <h6 class="createAnnMargin5">STEP</h6>
                      <span id="announcementSteps createAnnMargin4">1</span><span>/ 4</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
          <form class="ui form" ng-init="announcement.data = {}" name="announcementForm" >
            <div class="ui grid">
              <div class="eight wide column">
                <div class="field createAnnFormScroller">
                  <div class="padding-right-25">
                    <div class="field required">
                      <label>TITLE</label>
                      <div class="field form-group" ng-required="true">
                        <input type="text" name="title" id="announcementTitle"
                          ng-pattern="/^[ A-Za-z0-9_~`!$%*()=?/><.,|@./&+-]*$/"
                          placeholder="Please enter relevant title for this announcement (Max: 100 chars)"
                          ng-model="announcement.data.title" ng-maxlength="100" ng-change="announcement.detectChange()">
                          <section ng-if="announcement.data.title.length" class="float-ContentRight">{{announcement.data.title.length}} / 100</section>
                          <p ng-show="announcementForm.title.$error.maxlength" class="createAnnErrorMsg">Title is too long</p>
                          <p ng-show="announcementForm.title.$error.pattern" class="createAnnErrorMsg">Title cannot contain the following characters '^#'</p>
                      </div>
                    </div>
                    <div class="field required">
                        <label>FROM</label>
                        <select name="board" class="ui fluid dropdown" id="orgDropdown" ng-options=" board for board in announcement.org" ng-model="announcement.data.from" ng-change="announcement.detectDropdownChange(announcement.data.from)">
                            <option value="">Select organization/department that has sent the announcement</option>
                        </select>
                    </div>
                    <div class="field required">
                        <label>ANNOUNCEMENT TYPE</label>
                        <select name="medium" class="ui fluid dropdown" id="announcementType" ng-options=" audience for audience in announcement.announcementType" ng-model="announcement.data.announcementType" ng-change="announcement.detectDropdownChange(announcement.data.announcementType)">
                            <option value="">Announcement type</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>
                            DESCRIPTION (OPTIONAL)
                        </label>
                        <div class="field">
                            <input type="text" name="description" placeholder="Please enter description for this announcement (Max: 1200 chars)" ng-model="announcement.data.description" ng-maxlength="1200" ng-change="announcement.detectChange()">
                            <section ng-if="announcement.data.description.length" class="float-ContentRight">{{announcement.data.description.length}} / 1200</section>
                            <p class="createAnnErrorMsg"
                              ng-show='announcementForm.description.$error.maxlength'>Description is too long.
                            </p>
                        </div>
                    </div>

                    <div class="field form-group" ng-if="showUrlField">
                        <label>URL / WEB LINK</label>
                        <div class="field"  data-ng-repeat="choice in choices">
                          <div class="ui action input">
                            <input type="url" ng-model="announcement.data.link[$index]" name="link" placeholder="Enter web url">
                            <i class="trash icon" ng-click="removeChoice()"></i>
                          </div>
                          <section ng-show="announcementForm.link.$error.url" class="createAnnErrorMsg">Not a valid URL</section>
                        </div>
                    </div>

                    <div class="field">
                      <span ng-click="addNewChoice()">
                        <i class="plus icon createAnnBlueClass"></i>
                        <span ng-if="!showUrlField">
                          <span class="cursor-pointer createAnnBlueClass">Add URL/web link</span><span> (For example, you can link a Google Form)</span>
                        </span>
                        <span ng-if="showUrlField">
                          <span class="cursor-pointer createAnnBlueClass">Add Another URL/web link</span>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="four wide column createAnnAttchementHolder"
                ng-init="announcement.initializeFileUploader()">
                <div class="field">
                  <label>UPLOAD ATTACHMENT</label>
                  <div fine-uploader></div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    <div class="actions">
      <div class="ui primary button {{announcement.desableBtn}}"
       ng-click="announcement.saveMetaData(announcement.data);">SELECT RECIPIENTS</div>
    </div>
  </div>

    <style>
    .ui.modal .ui.form input.ng-invalid {
      border-color: red !important;
    }

    </style>