<div class="no-content-container d-flex flex-jc-center mt-48" *ngIf="!isBrowsePage()">
  <div class="d-flex flex-dc flex-jc-center flex-ai-center">
    <div>
      <img src="../../../../../assets/images/no-text.svg" width="101px" height="124px">
    </div>
    <div class="mt-8">{{resourceService?.messages?.stmsg?.m0030}}</div>
    <button type="button" class="sb-btn sb-btn-secondary sb-btn-normal mt-16 mb-8"(click)="handleModal()">{{resourceService?.frmelmnts?.btn?.loadContent}}</button>
    <div class="fs-0-785">{{resourceService?.messages?.imsg?.m0050}}</div>
  </div>
</div>

<app-load-content *ngIf="showModal" (close)="handleModal()"></app-load-content>

<div class="no-content-container  d-flex flex-jc-center mt-48" *ngIf="!isConnected && isBrowsePage()">
    <div class="d-flex flex-dc flex-jc-center flex-ai-center">
      <div>
        <img src="../../../../../assets/images/offline-icon.svg" width="90px" height="90px">
      </div>
      <div class="fs-1-16 font-weight-bold">{{resourceService?.frmelmnts?.lbl?.offline}}</div>
      <p class="fs-1 mt-8">{{resourceService?.messages?.imsg?.m0048}}</p>
      <p  class="fs-1 mt-16 mb-8">{{resourceService?.messages?.imsg?.m0049}}</p>
      <button type="button" class="sb-btn sb-btn-secondary sb-btn-normal mb-8" (click)="openImportContentDialog()">{{resourceService?.frmelmnts?.btn?.loadContent}}</button>
      <div class="fs-0-785">{{resourceService?.messages?.imsg?.m0050}}</div>
    </div>
  </div>
