<div class="no-content-container d-flex flex-jc-center sb-bg-color-primary-0">
  <div class="d-flex flex-dc flex-jc-center flex-ai-center p-24">
    <div>
      <img src="../../assets/images/no-text.svg" width="101px" height="124px">
    </div>
    <div class="mt-8">No Textbooks Available</div>
    <button type="button" class="sb-btn sb-btn-secondary sb-btn-normal my-24">Load Content</button>
    <div class="fs-0-785">Load Textbooks to your library for offline usage</div>
  </div>
</div>

<div class="no-content-container  d-flex flex-jc-center  sb-bg-color-gray-0">
    <div class="d-flex flex-dc flex-jc-center flex-ai-center p-24">
      <div>
        <img src="../../assets/images/offline-icon.svg" width="90px" height="90px">
      </div>
      <div class="fs-1-16 font-weight-bold">You are offline</div>
      <p class="fs-1 mt-8">Please connect to the internet to view content</p>
      <p  class="fs-1 my-16">Have a textbook downloaded on your system/ pendrive? Click below link to upload</p>
      <button type="button" class="sb-btn sb-btn-secondary sb-btn-normal mb-8">
        Load Content</button>
      <div class="fs-0-785">Load Textbooks to your library for offline usage</div>
    </div>
  </div>
