<div *ngIf="allBadgeList && allBadgeList.length > 0">
    <span class="mat-body-2">{{resourceService?.frmelmnts?.lbl?.markas}}:</span>
    <button mat-raised-button color="accent" class="button-rounded ml-8 mt-8" appTelemetryInteract [telemetryInteractObject]="{id:badge.badgeId,type:'Badge',ver:'1.0'}"
      [telemetryInteractEdata]="badgeInteractEdata" tabindex="0" *ngFor="let badge of allBadgeList"
      (click)="setBadge(badge);showBadgeAssingModel=true;">{{badge.name | uppercase}}</button>
  </div>
<app-modal-wrapper *ngIf="showBadgeAssingModel"
  [config]="{disableClose: true, size: 'small', width: '30rem', panelClass: 'material-modal'}" (dismiss)="showBadgeAssingModel=false"
  #modal>
  <ng-template sbModalContent>

    <!--Header-->
    <div mat-dialog-title class="mb-0">
      <h2 class="mb-0">{{resourceService?.frmelmnts?.lbl?.markas}} '{{badge.name | uppercase}}'</h2>
    </div>
    <!--/Header-->

    <!--Content-->
    <mat-dialog-content>
      {{resourceService?.frmelmnts?.lbl?.badgeassignconfirmation}}
    </mat-dialog-content>
    <!--/Content-->

    <!--Actions-->
    <mat-dialog-actions align="end">
      <button tabindex="0" appTelemetryInteract [telemetryInteractObject]="{id:badge.badgeId,type:'Badge',ver:'1.0'}"
        [telemetryInteractEdata]="cancelBadgeInteractEdata" mat-raised-button class="button-rounded mr-8"
        (click)="showBadgeAssingModel=false;">
        {{resourceService?.frmelmnts?.btn?.cancel}}
      </button>
      <button appTelemetryInteract [telemetryInteractObject]="{id:badge.badgeId,type:'Badge',ver:'1.0'}"
        [telemetryInteractEdata]="assignBadgeInteractEdata" mat-raised-button color="accent" class="button-rounded"
        (click)="assignBadge(badge)" tabindex="0">
        {{resourceService?.frmelmnts?.btn?.yesiamsure}}
      </button>
    </mat-dialog-actions>
    <!--/Actions-->

  </ng-template>
</app-modal-wrapper>