<div *ngIf="OnboardingFormConfig.length">
  <app-modal-wrapper #modal
    [config]="{disableClose: false, size: 'small', panelClass: ['material-modal' , 'modal-stepper']}">
    <ng-template sbModalContent>
      <div class="sb-mat__modal">
        <div mat-dialog-title class="flex-dc mb-0 pt-24 pb-16">
          <img height="40" src="https://staging.sunbirded.org/assets/images/sunbird_logo.png" alt="Welcome to sunbird">
          <h1 class="mb-0 stepper-logo">Welcome to sunbird </h1>
        </div>
        <div class="sb-mat__modal__content content py-0 px-24">
          <mat-horizontal-stepper style="background: var(--sbt-body-bg);" [linear]="true" #stepper
            labelPosition="bottom">

            <ng-container *ngFor="let configData of OnboardingFormConfig | sortBy:'sequence':'asc'">
              <h3>Your preferences</h3>

              <!-- component -->
              <mat-step
                *ngIf="configData?.isEnabled && [onboardingScreenType.HTML, onboardingScreenType.URL,onboardingScreenType.VIDEO,onboardingScreenType.PDF,onboardingScreenType.COMPONENT ].includes(configData?.renderOptions?.type)">
                <ng-template matStepLabel>{{configData?.stepLabel}}</ng-template>
                <!-- <mat-label *ngIf="configData?.description">{{configData?.description}}</mat-label> -->


                <!-- #1 userType -->
                <app-onboarding-user-selection *ngIf="configData?.renderOptions?.name === onboardingScreenType.USERTYPE"
                  [tenantInfo]="tenantInfo" [isStepper]="true" (userSelect)="userTypeSubmit(stepper)">
                </app-onboarding-user-selection>

                <!-- #2 Location -->
                <app-location-selection *ngIf="configData?.renderOptions?.name === onboardingScreenType.LOCATION"
                  [deviceProfile]="deviceProfile" [isClosable]="false" [isStepper]="true"
                  (close)="locationSubmit(stepper)">
                  <img [src]="tenantInfo?.logo" class="b\rand-logo" height="40"
                    alt="{{resourceService?.frmelmnts?.lbl?.welcomeToInstance | interpolate:'{instance}': tenantInfo?.titleName}}" />
                  <h1 class="mb-0 header-text">{{resourceService?.frmelmnts?.lbl?.welcomeToInstance |
                                interpolate:'{instance}': tenantInfo?.titleName}}</h1>
                </app-location-selection>

                <!-- #3 BMGS -->
                <app-popup *ngIf="configData?.renderOptions?.name === onboardingScreenType.BMGS" [dialogProps]="data"
                  [buttonLabel]="resourceService?.frmelmnts?.btn?.submit" [isGuestUser]="isGuestUser" [isStepper]="true"
                  (submit)="updateFrameWork(stepper)">
                </app-popup>

                <div class="stepper-screen">
                  <!-- html code snippits -->
                  <div *ngIf="configData?.renderOptions?.type === onboardingScreenType.HTML"
                    [innerHTML]="configData?.renderOptions?.content">
                  </div>

                  <!-- url based screen -->
                  <div *ngIf="configData?.renderOptions?.type === onboardingScreenType.URL">
                    <iframe width="580" height="330" frameborder="0" class="dashboard-iframe"
                      [src]="getSanitizedURL(configData?.url)">
                    </iframe>
                  </div>

                  <!-- SunBird video Player -->
                  <div *ngIf="configData?.renderOptions?.type === onboardingScreenType.VIDEO" class="aspectratio"
                    data-ratio="16:9" id="help-video-aspect-ratio" #aspectRatio>
                    <sunbird-video-player [playerConfig]="configData?.renderOptions?.videoPlayerConfig">
                    </sunbird-video-player>
                  </div>

                  <!-- SunBird pdf Player -->
                  <div *ngIf="configData?.renderOptions?.type === onboardingScreenType.PDF" class="aspectratio"
                    data-ratio="16:9" id="help-video-aspect-ratio" #aspectRatio>
                    <sunbird-pdf-player [playerConfig]="configData?.renderOptions?.pdfPlayerConfig">
                    </sunbird-pdf-player>
                  </div>
                </div>

                <!-- action button show this buttons only for video, pdf and url screens-->
                <div class="stepper-btns d-flex">
                  <div *ngIf="isPreview">
                    <button *ngIf="configData?.sequence != 1"
                      class="sb-btn sb-btn-normal sb-btn-outline-primary sb-left-icon-btn text-uppercase mx-8"
                      matStepperPrevious><i class="icon-svg icon-svg--xxs icon-back mr-4">
                        <svg class="icon icon-svg--primary">
                          <use xlink:href="assets/images/sprite.svg#arrow-long-left"></use>
                        </svg></i> Back</button>
                  </div>
                  <button *ngIf="!configData?.isMandatory"
                    class="sb-btn sb-btn-normal sb-btn-primary text-uppercase stepper-next-btn" (click)="onClickNext()"
                    matStepperNext>Next
                    <span class="arrow-icon"><em class="icon-svg icon-svg--xxs icon-back"><svg
                          class="icon icon-svg--white">
                          <use xlink:href="assets/images/sprite.svg#arrow-long-right"></use>
                        </svg></em></span>
                  </button>
                </div>
              </mat-step>
            </ng-container>

            <!-- by default preview screen -->
            <mat-step *ngIf="isPreview">
              <ng-template matStepLabel>Preview</ng-template>
              <div class="preview-content">
                <p class="my-24 subtitle" *ngIf="!isSkipped">You have selected these below data in previous section !!
                </p>
                <p class="my-24 subtitle" *ngIf="isSkipped">You have skipped all previous sections !!</p>
                <div *ngIf="!isSkipped" class="user-detail-container p-24 my-16" role="list">
                  <div class="user-detail-list" role="listitem" tabindex="0"
                    attr.aria-label="Name:{{guestUserStoredData?.formatedName}}"
                    *ngIf="guestUserStoredData && guestUserStoredData?.formatedName">
                    <label class="label-names fnormal font-weight-normal pr-8" role="heading">Name:</label>
                    <label class="label-values fnormal font-weight-bold">{{guestUserStoredData?.formatedName}}</label>
                  </div>
                  <div class="user-detail-list" role="listitem" tabindex="1"
                    attr.aria-label="Role:{{userTypeStoredData}}" *ngIf="userTypeStoredData">
                    <label class="label-names fnormal font-weight-normal pr-8" role="heading">Role:</label>
                    <label class="label-values fnormal font-weight-bold">{{userTypeStoredData}}</label>
                  </div>
                  <div class="user-detail-list" role="listitem" tabindex="0"
                    attr.aria-label="Board:{{guestUserStoredData?.framework?.board}}"
                    *ngIf="guestUserStoredData && guestUserStoredData?.framework?.board">
                    <label class="label-names fnormal font-weight-normal pr-8" role="heading">Board:</label>
                    <label
                      class="label-values fnormal font-weight-bold">{{guestUserStoredData?.framework?.board}}</label>
                  </div>
                  <div class="user-detail-list" role="listitem" tabindex="0"
                    attr.aria-label="Medium:{{guestUserStoredData?.framework?.medium}}"
                    *ngIf="guestUserStoredData && guestUserStoredData?.framework?.medium">
                    <label class="label-names fnormal font-weight-normal pr-8" role="heading">Medium:</label>
                    <label
                      class="label-values fnormal font-weight-bold">{{guestUserStoredData?.framework?.medium}}</label>
                  </div>
                  <div class="user-detail-list" role="listitem" tabindex="0"
                    attr.aria-label="Grade:{{guestUserStoredData?.framework?.gradeLevel}}"
                    *ngIf="guestUserStoredData && guestUserStoredData?.framework?.gradeLevel">
                    <label class="label-names fnormal font-weight-normal pr-8" role="heading">Grade:</label>
                    <label
                      class="label-values fnormal font-weight-bold">{{guestUserStoredData?.framework?.gradeLevel}}</label>
                  </div>
                  <div class="user-detail-list" role="listitem" tabindex="0"
                    attr.aria-label="District:{{deviceProfile?.userDeclaredLocation?.district}}"
                    *ngIf="deviceProfile && deviceProfile?.userDeclaredLocation?.district">
                    <label class="label-names fnormal font-weight-normal pr-8" role="heading">District:</label>
                    <label
                      class="label-values fnormal font-weight-bold">{{deviceProfile?.userDeclaredLocation?.district}}</label>
                  </div>
                  <div class="user-detail-list" role="listitem" tabindex="0"
                    attr.aria-label="State:{{deviceProfile?.userDeclaredLocation?.state}}"
                    *ngIf="deviceProfile && deviceProfile?.userDeclaredLocation?.state">
                    <label class="label-names fnormal font-weight-normal pr-8" role="heading">State:</label>
                    <label
                      class="label-values fnormal font-weight-bold">{{deviceProfile?.userDeclaredLocation?.state}}</label>
                  </div>
                </div>
                <div class="stepper-btns d-flex">
                  <button *ngIf="configData?.sequence != 1"
                    class="sb-btn sb-btn-normal sb-btn-outline-primary sb-left-icon-btn text-uppercase mx-8"
                    matStepperPrevious> <i class="icon-svg icon-svg--xxs icon-back mr-4">
                      <svg class="icon icon-svg--primary">
                        <use xlink:href="assets/images/sprite.svg#arrow-long-left"></use>
                      </svg></i>Back</button>
                  <button class="sb-btn sb-btn-normal sb-btn-primary text-uppercase stepper-done-btn"
                    (click)="onProcessComplete()">Done</button>
                </div>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </div>
    </ng-template>
  </app-modal-wrapper>
</div>
