@use "~@project-sunbird/sb-styles/assets/mixins/mixins"as *;
@use "components/video"as *;

.stepper-logo {
  color: var(--primary-400);
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2rem;
  text-align: center;
}

// .stepper-logo-btn {
//   position: relative;
//   bottom: 1.5rem;
//   right:1.5rem;
// }

.stepper-btns {
  position: absolute;
  bottom: 2.5rem;
  right: 1.5rem;
  justify-content: flex-end;

  .stepper-done-btn , .stepper-next-btn{
    width: 10.5rem;
  }
}

.stepper-screen{
  height: 100vh;
  max-height: 65vh;
  position: relative;
}

.preview-content {
  height: 100vh;
}

// user-details gray box new design css
.user-detail-container {
  overflow-y: auto;
  max-height: 12.8rem;
  border-radius: 1.5rem;
  background: var(--gray-0);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  text-transform: capitalize;
  width: 100%;
  max-width: 36rem;
  margin: 1rem auto;
  padding: 1rem;
  min-width: 100%;

  .user-detail-list {
    display: flex;

    @include respond-below(sm) {
      flex-direction: column;
    }

    .label-values {
      word-break: break-word;
    }
  }

  .user-detail-list:nth-child(1) {
    order: 1;
  }

  .user-detail-list:nth-child(2) {
    order: 2;
  }

  .user-detail-list:nth-child(3) {
    order: 3;
  }

  .user-detail-list:nth-child(4) {
    order: 4;
  }

  .user-detail-list:nth-child(5) {
    order: 1;
  }

  .user-detail-list:nth-child(6) {
    order: 2;
  }

  .user-detail-list:nth-child(7) {
    order: 3;
  }
}

@include respond-below(sm) {
  .user-detail-container {
    grid-template-columns: 1fr;
    border-radius: 0;

    .user-detail-list:nth-child(1) {
      order: 1;
    }

    .user-detail-list:nth-child(2) {
      order: 2;
    }

    .user-detail-list:nth-child(3) {
      order: 3;
    }

    .user-detail-list:nth-child(4) {
      order: 4;
    }

    .user-detail-list:nth-child(5) {
      order: 5;
    }

    .user-detail-list:nth-child(6) {
      order: 6;
    }

    .user-detail-list:nth-child(7) {
      order: 7;
    }

  }
}

::ng-deep {
  .cdk-overlay-pane.modal-stepper .mat-dialog-container .sb-mat__modal {
    height: 36rem;
    position: relative;

    & .mat-dialog-title {
      padding: 0 0 1rem 0;
    }

    & .sb-mat__modal__content {
      max-height: 28rem;
      border-bottom-left-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
      overflow: hidden;
    }
  }

  .cdk-overlay-pane.material-modal .mat-dialog-container .sb-mat__modal {
    & .sb-mat__modal__content {
      padding: 0;
    }

    & .mat-dialog-content {
      padding: 0;
      max-height: 50vh;
    }
  }

  .cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.material-modal .mat-dialog-container .sb-mat__modal .mat-dialog-title {
    text-align: center;
    padding: 0 0 1rem 0;
  }

  .cdk-overlay-container .cdk-global-overlay-wrapper .mat-dialog-container .sb-mat__modal__actions{
   padding: 0.5rem;
  }

  .mat-horizontal-stepper-header {
    pointer-events: none;
  }

  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header,
  .mat-vertical-stepper-header {
    padding: 1rem;
  }

  .mat-step-header .mat-step-icon.mat-step-icon-selected,
  .mat-step-header .mat-step-icon.mat-step-icon-state-edit {
    border: 0.0625rem solid var(--primary-color);
    color: var(--primary-color);
    background: var(--white);
  }

  .mat-step-header .mat-step-icon.mat-step-icon-state-done {
    background-color: var(--primary-color);
    color: var(--white);
    border: 0.0625rem solid var(--primary-color);
  }

  .mat-step-header .mat-step-icon {
    border: 0.0625rem solid var(--gray-800);
    color: var(--gray-800);
    background: none;
    height: 2rem;
    width: 2rem;
  }

  .mat-step-header .mat-step-label.mat-step-label-active {
    color: var(--primary-color);
    font-weight: 700;
  }

  .mat-stepper-horizontal.mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label {
    padding: 0.25rem 0 0 0;
  }

  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header,
  .mat-vertical-stepper-header {
    padding: 0.25rem;
  }

  .sb-mat__modal__content .mat-stepper-horizontal .mat-horizontal-content-container {
    padding: 0;
  }

  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header::after,
  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header::before {
    top: 1.25rem;

    &:focus-visible{
      border: 0.0625rem solid var(--primary-color);
    }
  }

  .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
    top: 1.25rem;

    // &:focus-visible {
    //   border: 0.0625rem solid var(--primary-color);
    // }
  }

  .mat-stepper-horizontal-line:focus-within{
    border: 1px solid red;
  }

  .mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover {
    background: none;
 }

 *:focus-visible {
   border: none !important;
 }
}

