@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
.load-content-section{
    border-radius: calculateRem(24px);
    background-color: var(--sbt-filter-bar-bg);
    position: relative;
    z-index: 9;
    .load-content-title{
      font-size: calculateRem(14px);
    }
}
.sb-offline-load-content-btn{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}