<!DOCTYPE html>

<head>
  <title>Sunbird</title>
  <link href="styles/style.css" rel="stylesheet">

    
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <script src="/program/cbse/script.js"></script>
  <div class="program-cbse-login-section">
    <div class="program-cbse-navbar">
      <div class="navbar-image">
        <div class="img">
          <img src="assets/logos.svg" alt="diksha-logo">
        </div>
      </div>
    </div>
    <div class="program-cbse-body">
      <div class="cbse-body-row">
        <div class="cbse-body-column">
          <h1 class="head-tag">DIKSHA</h1>
        </div>
        <div class="cbse-body-column">
          <p class="des-tag-digital">Digital Infrastructure for Knowledge Sharing</p>
          <p class="des-tag-national">National Platform for Our Teachers, Our Heroes</p>
        </div>
      </div>
      <div class="login-button-container">
        <a class="login-button" href=/workspace/program/<%=programId%>>Login</a> 
      </div> 
    </div> 
  </div> 
</body> 
</html>
