<div class="center aligned twelve column row padding-top-2rem">
    <div class="two wide column">
        <a href="/">
            <img class="ui tiny circular image centered" src="/images/sunbird_logo.png">
        </a>
    </div>
    <div class="one wide column"></div>
    <div class="six wide column padding-top-1rem">
        <div class="ui fluid icon input left action">
            <select class="ui compact selection dropdown" id="headerSearchdd" apply-script>
                <option value="all">All</option>
                <option selected="" value="articles">Courses</option>
                <option value="products">Products</option>
            </select>
            <input type="text" placeholder="What are you looking for?">
            <i class="search link icon"></i>
        </div>
    </div>
    <div class="one wide column"></div>
    <div class="one wide column padding-top-1rem padding-top-header-large-icons">
        <i class="alarm icon large"></i>
    </div>
    <div class="one wide column">
        <div class="ui floating dropdown right top pointing 
               header-user-container padding-top-circular-human-icon" id="dropdown-menu-list-header">
            <img ng-src="{{userProfilePic}}" class="ui circular image logged-in-user" ng-if="isUserProfilePic">
            <button class="circular ui icon button" ng-if="!isUserProfilePic">
                <i class="user icon"></i>
            </button>
            <div class="menu">
                <a class="item">Profile</a>
                <a class="item" ng-click=" auth.logout() ">Logout</a>
            </div>
        </div>
    </div>
</div>
