.player-thumbnail {
    width: 100%;
    cursor: pointer;
    border-radius: .3125rem;
    border-color: 2px black;
    position: relative;
    padding-bottom: 56.25%;
  }

  .play-icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    height: 80px;
    width: 80px
  }
  
  .overlay-image {
    width: 100%;
    height: 100%;
  }

  @media only screen and (max-width: 768px) {
    .play-icon {
      height: auto;
      width: auto;
    }  
  }

  .content-player-landscape {
    position: absolute;
  }

  .close-button {
    position: absolute;
    z-index: 100;
    right: 30px;
    top: 32px;
  }