  <div class="ui modal" id="deleteUserConfirmation">
        <div class="header">{{$root.frmelmnts.scttl.blkuser}}</div>
        <div class="content">
          <p> {{$root.frmelmnts.lbl.confirmblock}}  {{admin.deletingUserFullName}}?</p>
        </div>
        <div class="actions">
          <div class="ui primary approve button" 
           ng-click="admin.deleteUser(admin.deletingIdentifier)">{{$root.frmelmnts.btn.yes}}
          </div>
          <div class="ui negative cancel button">{{$root.frmelmnts.btn.no}}</div>
        </div>
      </div>
