<!-- download -->
<div class="ui grid">
  <div class="ten wide column">
  </div>
  <div class="two wide column actions margin-bottom-10">
    <div  class="ui right floated primary button"
     ng-click="admin.downloadUsers($root.search.selectedSearchKey,admin.searchResult)">
       {{$root.frmelmnts.btn.download}}
    </div>
    </div>
</div>
  <!-- search results -->
<div ng-if="!$root.search.loader.showLoader">
   <!-- user Search Result -->
   <div ng-include=" 'views/admin/userSearch.html' "></div>  
  <!-- org search result -->
   <div ng-include=" 'views/admin/orgSearch.html' "></div>  
</div>



