<div class="ui" ng-if="toc.courseHierarchy">
  <div class="ui grid margin-top-4rem courseStructureHeader">
    <div class="one wide column"></div>
    <div class="ten wide column padding-top-none">
      <div class="ui grid">
        <div class="eight wide column padding-top-none">
          <div class="courseStructureHeaderText courseStructureSectionHeading">{{toc.courseHierarchy.name}}</div>
          <br>
          <span apply-script class="courseHeader-rating ui star rating course-header-divider" data-rating="{{toc.courseHierarchy.me_averageRating |number:0}}" data-max-rating="5"></span>&nbsp;&nbsp;
          <content-share type=" 'course' " id="toc.courseId"></content-share>&nbsp;
          <content-flag type=" 'course' " ng-if="toc.courseType === 'ENROLLED_COURSE'" contentid="toc.courseId" contentname="toc.courseHierarchy.name" versionkey="toc.courseHierarchy.versionKey" redirect=" 'Courses' "></content-flag>
          <h6 class="ui small negative message" ng-if="toc.courseHierarchy.status === 'Flagged'">{{$root.messages.imsg.m0001}}</h6>
        </div>
        <div class="four wide column margin-top-Negative30" ng-if="toc.courseType === 'ENROLLED_COURSE'">
          <span ng-if="toc.courseTotal"><p class="text-align-center">Your Progress {{(toc.courseProgress * 100 / toc.courseTotal)| number: 0 || 0}}%</p></span>
          <button ng-if="toc.courseContents.length > 0 && toc.playContent" class="fluid blue right floated  ui button courseHeaderButton margin-top-0" ng-click="toc.resumeCourse();toc.generateInteractEvent('course',toc.courseId,'course',toc.version,'resume-course', 'course-read', toc.objRollup)">
            RESUME COURSE <i class="caret right icon"></i>
          </button>
        </div>
        <div class="four wide column margin-top-Negative30" ng-if="toc.isCourseMentor">
          <button class="blue right floated  ui button courseHeaderButton margin-top-0" ng-click="toc.showCourseDashboard = 'true'">VIEW COURSE STATS</button>
        </div>
      </div>
    </div>
    <div class="one wide column "></div>
  </div>
</div>
<div class="ui grid margin-bottom-20 " ng-if="toc.courseHierarchy ">
  <div class="row ">
    <div class="twelve wide column padding-none ">
      <div ng-if="toc.courseTotal && toc.courseProgress> 0">
        <div id="tocProgress" class="ui tiny progress course-progress orange" ng-init="toc.updateCourseProgress()">
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </div>
</div>
