<div class="rightSideSectionCards ui card">
    <div class="content">
        <div class="header">Faculty</div>
        <div class="description">
            <div class="ui middle aligned selection list">
                <div class="item">
                    <img class="ui avatar image" ng-src="/common/images/user_logo.png">
                    <div class="content">
                        <div class="header">Helen</div>
                    </div>
                </div>
                <div class="item">
                    <img class="ui avatar image" ng-src="/common/images/user_logo.png">
                    <div class="content">
                        <div class="header">Christian</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>