<sui-modal 
  [mustScroll]="true" 
  [isClosable]="true"
  [transitionDuration]="0"
  [size]="'small'"
  class="sb-modal"
  appBodyScroll
  (dismissed)="redirect()" 
  #modal
  >

  <!--Header-->
  <div class="sb-modal-header">
    {{resourceService.frmelmnts?.scttl?.blkuser}}
  </div>
  <!--/Header-->

  <!--Content-->
  <div class="sb-modal-content">
    <p>{{resourceService.frmelmnts?.lbl?.confirmblock}} {{userDetails.firstName}} {{userDetails.lastName}}</p>
  </div>
  <!--/Content-->

  <!--Actions-->
  <div class="sb-modal-actions">
    <button 
      class="ui secondary button" 
      (click)="modal.deny(); redirect();"
    >
      {{resourceService.frmelmnts?.btn?.no}}
    </button>
    <button 
      class="ui primary button" 
      (click)="modal.approve('done'); deleteUser()"
    >
      {{resourceService.frmelmnts?.btn?.yes}}
    </button>
  </div>
  <!--/Actions-->
</sui-modal>