<sui-modal
  [mustScroll]="true" 
  [isClosable]="true"
  [transitionDuration]="0"
  [size]="'normal'"
  class="sb-modal sb-error"
  appBodyScroll
  (dismissed)="redirect()" 
  #modal
>
  <!--Header-->
  <div class="sb-modal-header">
    {{resourceService?.frmelmnts?.lbl?.anncmntcancelconfirm}}
  </div>
  <!--/Header-->
  <!--Content-->
  <div class="sb-modal-content text-center">
    <div class="ui basic icon circular button">
      <i class="ui huge help icon sb-color-error"></i>
    </div>
    <h4>{{resourceService?.frmelmnts?.lbl?.anncmntcancelconfirm}}</h4>
    <p>{{resourceService?.frmelmnts?.lbl?.anncmntcancelconfirmdescrption}}</p>
  </div>
  <!--/Content-->
  <!--Actions-->
  <div class="sb-modal-actions">
    <button 
      appTelemetryInteract 
      [telemetryInteractObject]="{id:announcementId,type:'announcement',ver:'1.0'}" 
      [telemetryInteractEdata]="{id:'delete-announcement-yes',type:'click',pageid:'delete-announcement'}" 
      class="sb-btn sb-btn-normal sb-btn-error" 
      (click)="disableApproveBtn=true; deleteAnnouncement();" 
      [disabled]="disableApproveBtn"
    >
      {{resourceService?.frmelmnts?.btn?.yes}}
    </button>
    <button 
      appTelemetryInteract 
      [telemetryInteractObject]="{id:announcementId,type:'announcement',ver:'1.0'}" 
      [telemetryInteractEdata]="{id:'delete-announcement-no',type:'click',pageid:'delete-announcement'}" 
      class="sb-btn sb-btn-normal sb-btn-outline-error" 
      (click)="modal.deny(); redirect();"
    >
      {{resourceService?.frmelmnts?.btn?.no}}
    </button>
  </div>
  <!--/Actions-->
</sui-modal>