<!-- This is a section for view all batches -->
<section class="all-batches-section container-fluid">
    <mat-tab-group>
        <mat-tab label="Ongoing Batches">
            <mat-grid-list cols="3">
            <mat-grid-tile *ngFor="let upcoming of upcomingBatches">
                <div class="wrapper">
                    <mat-card class="styleClass">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{upcoming?.name}}</mat-card-title>
                            <mat-card-subtitle>{{upcoming?.enrollmentType}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Description :{{upcoming?.description}}
                            </p>
                            <p>
                                Start Date : {{upcoming?.startDate|date}}
                            </p>
                            <p>
                                End Date : {{upcoming?.endDate|date}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions class="align-content">
                            <button mat-button *ngIf="upcoming.enrollmentType==='open' && !(upcoming?.participant.hasOwnProperty(userId))"
                                (click)="openEnrollDetailsDialog(upcoming)">Enroll</button>
                            <button mat-button *ngIf="upcoming.enrollmentType==='invite-only'" (click)="openContactDetailsDialog(upcoming)">Contact</button>
                            <button mat-button *ngIf="upcoming?.participant && upcoming?.participant.hasOwnProperty(userId)" (click)="unEnroll(upcoming?.id)">UnEnroll</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-grid-tile>
            </mat-grid-list>

        </mat-tab>
        <mat-tab label="Upcoming Batches">
            <mat-grid-list cols="3">
            <mat-grid-tile *ngFor="let ongoing of ongoingBatches">
                <div class="wrapper ">
                    <mat-card class="styleClass">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{ongoing?.name}}</mat-card-title>
                            <mat-card-subtitle>{{ongoing?.enrollmentType}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Description :{{ongoing?.description}}
                            </p>
                            <p>
                                Start Date : {{ongoing?.startDate|date}}
                            </p>
                            <p>
                                End Date : {{ongoing?.endDate|date}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions class="align-content">
                            <button class="btn" mat-button *ngIf="ongoing.enrollmentType==='open' && !(ongoing?.participant.hasOwnProperty(userId))"
                                (click)="openEnrollDetailsDialog(ongoing)">Enroll</button>
                            <button class="btn" mat-button *ngIf="ongoing?.enrollmentType==='invite-only'" (click)="openContactDetailsDialog(ongoing)">Contact</button>
                            <button mat-button *ngIf="ongoing?.participant && ongoing?.participant.hasOwnProperty(userId)" (click)="unEnroll(ongoing?.id)">UnEnroll</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
    </mat-tab-group>
</section>