.all-batches-section{
    padding:0 10vw;
}
.wrapper {
    width: 300px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 3px 10px 0px rgb(39, 39, 39);
}

.example-header-image{
    background-image: url('https://i.pinimg.com/736x/2f/8c/43/2f8c431cc7e7ef1dda2f2deebbcff3af--pastel-color-background-pastel-background-iphone.jpg');
    background-size: cover;
}
.align-content{
    text-align: center;
}


