@use './breakpoints' as *;

$displays: none, block, inline, inline-block, flex, inline-flex;
@each $display in $displays {
    .d-#{$display} {
        display: $display !important;
    }

    @each $name,
    $breakpoint in $breakpoints {
        @media(min-width: $breakpoint) {

            .d-#{$name}-#{$display} {
                display: #{$display} !important;
            }

        }
    }
}

.show {
    @extend .d-block;
  }
  
  .hide {
    @extend .d-none;
  }