<div [appTelemetryImpression]="telemetryImpression" id="content-player" class="ui stackable grid">
  <div class="one wide column"></div>
  <div class="ten wide column">
    <div class='margin-top--5 videosegment ui segment'>
      <div class='content-player-body'>
        <div *ngIf="showPlayer && contentData" class="videosegment  ui clearing segment">
          <div class="ui grid">
            <div class="row margin-auto">
              <div class="twelve wide column">
                <div class="ten wide column" id="player-auto-scroll">
                  <span class="ui HomeAccordianHeading left floated header" *ngIf="contentData.name">
                    {{contentData.name}}
                  </span>
                </div>
                <div class="two wide column">
                    <h5 class="ui right floated basic icon circular button margin-auto mouse-pointer" (click)="close()">
                        <i class="ui remove icon"></i>
                    </h5>
                </div>
              </div>
            </div>
            <div class="row padding-top-none" *ngIf="showPlayer">
              <div  class="twelve wide column">
                <div class="player-badge-alignment">
                  <app-content-badge [data]="badgeData" ></app-content-badge>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showPlayer && contentData" class="ui stackable twelve column grid padding-top-10">
          <div class="ui warning message click-notify-xurl" *ngIf="showExtContentMsg">
            <div class="column twelve wide">
              <p>{{resourceService.messages.imsg.m0036}}</p>
            </div>
          </div>
          <app-player class="content-player" [playerConfig]="playerConfig"></app-player>

          <div class="twelve wide column contentMetaSection">
            <div class="ui grid margin-top-10">
              <div class="row">
                <div class="three wide column "></div>
                <div class="six wide column center aligned">
                  <div class="ui grid">
                    <div class="row">
                      <div class="four wide column "></div>
                      <div class="four wide column ">
                        <h2 class="ui centered aligned icon tiny header toc-note"></h2>
                      </div>
                    </div>
                    <div class="four wide column"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="three wide column"></div>
            <div class="twelve wide column">
              <div class="ui divider"></div>
            </div>
            <div class="ui stackable grid">
              <div class="eight wide column">
                <div class="row">
                  <div class="twelve wide column">
                    <app-content-player-metadata [contentData]="contentData"></app-content-player-metadata>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showError">
          <div class="ui active dimmer inverted">
            <div class="content">
              <div class="center">
                <h2 class="ui header red">
                  {{errorMessage}}
                </h2>
                <span>
                  <button class="ui button" (click)="tryAgain()">{{resourceService.frmelmnts.btn.tryagain}}</button>
                </span>
                <span>
                  <button class="ui red button" (click)="close()">{{resourceService.frmelmnts.btn.close}}</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="one wide column"></div>
</div>
<app-public-footer *ngIf="showFooter"></app-public-footer>
