<sui-modal [isClosable]="false" class="fullpage" [size]="'fullscreen'" [isClosable]="'false'" #modal [mustScroll]="'true'">
  <div [appTelemetryImpression]="telemetryImpression" class="signup-background">
    <div class="ui raised shadow container segment">
      <div *ngIf="!showOtpComp">
        <div class="d-flex flex-jc-center mb-30">
          <img class="image centered" alt={{tenantInfo.tenantName}} height="45" src="{{tenantInfo.logo}}">
        </div>
        <div class="width-300 mx-auto mt-60">
          <div class="line-height-1-3 font-w-bold text-center mb-50 mt-60 mb-50">{{resourceService.frmelmnts.lbl.mobileNumberInfoText}}</div>
          <form #contactDetailsForm="ngForm">
            <div class="inline fields mt-10 mb-10" id="Mandatory">
              <div class="field">
                <div class="ui radio checkbox" (click)="resetForm('phone')">
                  <input type="radio" value="phone" [(ngModel)]="contactForm.type" name='type'>
                  <label for="phoneNumber" class="pl-20">{{resourceService.frmelmnts.lbl.phoneNumber}}</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox" (click)="resetForm('email')">
                  <input type="radio" value="email" [(ngModel)]="contactForm.type" name='type'>
                  <label for="email">{{resourceService.frmelmnts.lbl.email}}</label>
                </div>
              </div>
            </div>
            <div *ngIf="contactForm.type === 'phone'" class="ui left icon input d-flex">
              <input [(ngModel)]="contactForm.value" name="value"
              placeholder="{{ resourceService?.frmelmnts?.lbl?.tenDigitPhone }}" required>
              <!-- pattern="validationPattern.phone" -->
              <i class=" icon">+91-</i>
            </div>
            <label *ngIf="!userBlocked && contactForm.type === 'phone' && contactDetailsForm.controls.value && disableSubmitBtn && contactDetailsForm.controls.value.touched" class="ui basic blue error label pt-0" >
                {{ resourceService.frmelmnts.lbl.validPhone}}</label>
            <div *ngIf="contactForm.type === 'email'" class="ui left icon input d-flex">
              <input [(ngModel)]="contactForm.value" name="value"
              placeholder="{{ resourceService.frmelmnts.lbl.email }}" required>
              <!-- pattern="validationPattern.email" -->
            </div>
            <label *ngIf="!userBlocked && contactForm.type === 'email' && contactDetailsForm.controls.value && disableSubmitBtn && contactDetailsForm.controls.value.touched" class="ui basic blue error label pt-0" >
                {{resourceService.frmelmnts.lbl.validEmail}}</label>
            <label *ngIf="disableSubmitBtn && userBlocked" class="ui basic blue error label pt-0" >
              {{resourceService.frmelmnts.lbl.blockedUserError}}</label>
            <button [disabled]="disableSubmitBtn" appTelemetryInteract [telemetryInteractEdata]="submitPhoneInteractEdata" appTelemetryInteract
            [telemetryInteractEdata]="submitPhoneInteractEdata" [ngClass]="{'grey':disableSubmitBtn, 'light-sea-green':!disableSubmitBtn}"
            class="ui button width-300 mt-60" tabindex="0" (click)="handleSubmitEvent()">{{resourceService.frmelmnts.btn.submitbtn}}</button>
          </form>
        </div>
      </div>
      <div *ngIf="showOtpComp">
        <app-otp-popup [otpData]="otpData" (verificationSuccess)="handleOtpValidationSuccess($event)" (redirectToParent)="handleOtpValidationFailed($event)">
        </app-otp-popup>
      </div>
    </div>
  </div>
</sui-modal> 