@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.join-batch {
    &__heading, &__body {
      display: flex;
      align-items: center;
      div {
        flex-basis: 45%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: normal;
      }
      button {
        flex-basis: auto;
      }
    }
    &__heading {
      font-size: calculateRem(12px);
      margin-bottom: calculateRem(16px);
      font-weight: bold;
      padding: 0 calculateRem(16px);
    }
    &__body {
      padding: calculateRem(8px) calculateRem(8px) calculateRem(8px) calculateRem(16px);
      border: calculateRem(1px) solid var(--gray-100);
      font-size: calculateRem(14px);
      margin-bottom: calculateRem(16px);
    }
  }

  ::ng-deep {
  .ui.accordion .active.title .chevron.down.icon {
      margin-top:calculateRem(6px);
  }
  .ui.accordion .title .chevron.down.icon {
    margin-top:calculateRem(-6px);
  }
  .mat-expansion-panel {
    overflow: inherit;
	}
}
ul {
  list-style-type: none;
  padding:0px;margin:0px;
}
li {
  display: grid;
  grid-template-columns: calculateRem(20px) auto;
  justify-content: start;
  align-items: center;
  margin-bottom:1rem
}
li::before {
  content: ">";
  font-size: calculateRem(12px);
  color: var(--gray-200);
  font-weight:bold;
}