@import "mixins/mixins";

.join-batch {
    &__heading, &__body {
      display: flex;
      align-items: center;
      div {
        flex-basis: 45%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      button {
        flex-basis: 10%;
      }
    }
    &__heading {
      font-size: calculateRem(12px);
      margin-bottom: calculateRem(16px);
      font-weight: bold;
      padding: 0 calculateRem(16px);
    }
    &__body {
      padding: calculateRem(8px) calculateRem(8px) calculateRem(8px) calculateRem(16px);
      border: 1px solid var(--gray-100);
      font-size: calculateRem(14px);
      margin-bottom: calculateRem(16px);
    }
  }