<div *ngIf="!enrolledCourse" class="rightSideSectionCards ui card">
    <div class="header batchCardAlign">
      <span class="header headerBatchCard">{{resourceService.frmelmnts.lbl.batches}}</span>
      <a>
        <sui-select  (selectedOptionChange)= "fetchBatchList()" class="batchCardDropDown" 
        [(ngModel)]="batchStatus" [options]="statusOptions" valueField ="value" labelField="name" #batchStatusSelect>
          <sui-select-option *ngFor="let option of batchStatusSelect.filteredOptions" [value]="option">
          </sui-select-option>
        </sui-select>
      </a>
    </div>
    <div class="content batchcardListContent" id="batchcardList">
      <div class="description annannouncement-description">
          <div class="ui divided list">
              <div class="item padding-top-10" *ngFor="let batch of batchList">
                  <i class="write icon float-ContentRight cursor-pointer" (click)="batchUpdate(batch)" *ngIf="courseMentor"></i>
                  <button class="ui right floated blue basic button enrollBtn" (click)="batchDetails(batch)" *ngIf="!courseMentor">{{resourceService.frmelmnts.btn.enroll}}</button>
                  <i class="calendar outline icon"></i>
                  <div class="content padding-bottom-15">
                      <span class="header padding-bottom-5">
                          {{batch.startDate}} - {{batch.endDate}}
                      </span>
                      <div class="description">Created by {{userNames[batch.createdBy].firstName}} {{userNames[batch.createdBy].lastName}}</div>
                  </div>
              </div>
              <div *ngIf="batchList.length <= 0">
                  <div class="ui success message">
                      <div class="header">{{resourceService.messages.stmsg.m0081}}</div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- <div class="ui bottom attached batchCard button" ui-sref="CreateBatch({courseId: batch.courseId, coursecreatedby: batch.coursecreatedby})" ng-show="batch.isMentor" ng-click="resourceService.generateInteractEvent('batch',batch.courseId,'create-batch','1.0','add-batch','batch-add')">
      <a><i class="add icon"></i>{{resourceService.frmelmnts.lbl.createbatch}}</a>
    </div> -->
  </div>
  <!-- <batch-details></batch-details> -->