<div class="notes-card-section ui card margin-bottom-15 width-100"  *ngIf="notesList.length > 0">
    <div class="content">
        <div class="header">
            <span>{{resourceService?.frmelmnts?.lbl?.mynotebook}}</span>
            <a class="ui right floated font-dark-blue" (click)="viewAllNotes()">{{resourceService?.frmelmnts?.lnk?.viewall}}</a>
        </div>
        <div class="description">
            <div class="ui list" *ngFor="let note of notesList | orderBy:'updatedDate':true; let i=index">
                <div class="item" *ngIf="i < 2">
                    <div class="content">
                        <span class="ui tiny header">
                            <span class="notes-card-heading mouse-pointer" (click)="setSelectedNote(note,i); showUpdateEditor = !showUpdateEditor">
                                {{ note.title | slice:0:15 }}
                                <i *ngIf="note.title.length > 15" class="ellipsis horizontal icon popup-button"></i>
                            </span>
                            <span class="note-card-time-stamp right floated">{{note.updatedDate | timeAgo}}</span>
                        </span>
                        <div class="description margin-top-0 notedec">
                            <span Markdown content="noteData">{{ note.note | slice:0:15 }}</span>
                        </div>
                    </div>
                    <div *ngIf="notesList.length>1 && i===0" class="ui clearing divider"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showCreateEditor">
    <app-popup-editor [mode]="'create'" (exitModal)="showCreateEditor=false" (createEventEmitter)="createEventEmitter($event)"></app-popup-editor>
</div>
<div *ngIf="showUpdateEditor">
    <app-popup-editor [mode]="'update'" [selectedNote]="selectedNote" (exitModal)="showUpdateEditor=false" (updateEventEmitter)="updateEventEmitter($event)"></app-popup-editor>
</div>