<p *ngIf="mode === 'phone' && !showSignUpLink" class="line-height-1-3 grey text text-center mb-50">{{resourceService.frmelmnts.instn.t0081 | interpolate:'{instance}': instance}}</p>
<p *ngIf="mode === 'email' && !showSignUpLink" class="line-height-1-3 grey text text-center mb-50">{{resourceService.frmelmnts.instn.t0082 | interpolate:'{instance}': instance}}</p>
<div *ngIf="showSignUpLink" class="orange text fs-1 text-center mb-50 line-height-1-3">{{unabletoVerifyErrorMessage}}<br>  Please
  <span (click)="redirectToSignUp()" class="fs-1 blue text font-weight-bold cursor-pointer" role="button" tabindex="0">{{resourceService.frmelmnts.lbl.signUp}}</span>
  again</div>
<div class="fs-1 font-weight-bold text-center mb-30">{{resourceService.frmelmnts.lbl.enterOTP}}</div>
<form class="ui form borderd mb-20" [formGroup]="otpForm">
  <label *ngIf="errorMessage" class="ui basic label text-center error d-inline-block line-height-1-3">{{errorMessage}}</label>
  <label *ngIf="infoMessage" class="text-center mb-10 d-inline-block line-height-1-3">{{infoMessage}}</label>
  <div class="field">
    <input [ngClass]="{'orange-border': errorMessage}" formControlName="otp" type="text" name="otp">
  </div>
</form>
<div appTelemetryInteract [telemetryInteractEdata]="submitResendOtpInteractEdata"  [telemetryInteractCdata]="telemetryCdata" *ngIf="!disableResendButton" [ngClass]="{'grey': disableResendButton}" (click)="resendOTP(); disableResendButton = true;" class="fs-1 text-center blue text mb-50 cursor-pointer"
  role="button" tabindex="0">{{resourceService.frmelmnts.lbl.resendOTP}}</div>
<button appTelemetryInteract [telemetryInteractEdata]="submitOtpInteractEdata"  [telemetryInteractCdata]="telemetryCdata" [ngClass]="{'grey':disableSubmitBtn, 'light-sea-green':!disableSubmitBtn}" class="ui button width-300" tabindex="0"
  (click)="verifyOTP()">{{resourceService.frmelmnts.lbl.submitOTP}}</button>
