<!-- <p *ngIf="mode === 'phone' && !showSignUpLink" class="line-height-1-3 grey text text-center mb-50">{{resourceService.frmelmnts.instn.t0081 | interpolate:'{instance}': instance}}</p>
<p *ngIf="mode === 'email' && !showSignUpLink" class="line-height-1-3 grey text text-center mb-50">{{resourceService.frmelmnts.instn.t0082 | interpolate:'{instance}': instance}}</p> -->



<!-- <div class="grey text text-center pt-16">{{resourceService.frmelmnts.lbl.OTPhasbeensent}} {{resourceService.frmelmnts.lbl.toYourEmailPhone}}</div>-->


<div class="grey text text-center otp-label">
  <span *ngIf="emailAddress">{{resourceService.frmelmnts.lbl.OTPhasbeensentToEmail}}:<br>{{emailAddress}} </span>
  <span *ngIf="phoneNumber">{{resourceService.frmelmnts.lbl.OTPhasbeensentToPhone}}:<br>{{phoneNumber}} </span>
</div>
<div class="grey text text-center mt-16 grey-text">{{resourceService.frmelmnts.lbl.OTPvalid}}</div>

<div *ngIf="showSignUpLink" class="orange text fs-1 text-center mb-50 line-height-1-3">{{unabletoVerifyErrorMessage}}<br>  Please
  <span (click)="redirectToSignUp()" class="fs-1 blue text font-weight-bold cursor-pointer" role="button" tabindex="0">{{resourceService.frmelmnts.lbl.signUp}}</span>
  again</div>
  <div class="fs-1 text-left mb-8 mt-24 font-weight-bold">{{resourceService.frmelmnts.lbl.oneTimePassword}}</div>
<form class="sb-form borderd mb-20" [formGroup]="otpForm">
  <div class="sb-field-group mb-16 text-left">
      <label *ngIf="errorMessage" class="ui basic label text-center error d-inline-block line-height-1-3">{{errorMessage}}</label>
      <label *ngIf="infoMessage" class="text-center mb-10 d-inline-block line-height-1-3">{{infoMessage}}</label>
      <div class="sb-field">
        <input class="sb-form-control" [ngClass]="{'orange-border': errorMessage}" formControlName="otp" type="text" name="otp"  placeholder="{{resourceService.frmelmnts.lbl.enterOTP}}">
      </div>
  </div>
  <div class="assessment-action-buttons mt-8 d-flex flex-jc-center flex-ai-center">
      <button appTelemetryInteract [telemetryInteractEdata]="submitResendOtpInteractEdata"  [telemetryInteractCdata]="telemetryCdata"
      *ngIf="!disableResendButton" class="sb-btn sb-btn-normal button sb-btn-outline-primary mr-8 w-50" tabindex="0"
      [ngClass]="{'grey': disableResendButton}" (click)="resendOTP(); disableResendButton = true;"> {{resourceService.frmelmnts.lbl.resendOTP}}</button>
      <button  appTelemetryInteract [telemetryInteractEdata]="submitOtpInteractEdata" [telemetryInteractCdata]="telemetryCdata"
       class="ui button w-50" [ngClass]="{'grey':disableSubmitBtn, 'sb-btn-primary':!disableSubmitBtn}"  tabindex="0"  (click)="verifyOTP()"> {{ resourceService.frmelmnts.lbl.submit }} </button>
    </div>
</form>
<!-- <div appTelemetryInteract [telemetryInteractEdata]="submitResendOtpInteractEdata"  [telemetryInteractCdata]="telemetryCdata" *ngIf="!disableResendButton" [ngClass]="{'grey': disableResendButton}" (click)="resendOTP(); disableResendButton = true;" class="fs-1 text-center blue text mb-50 cursor-pointer"
  role="button" tabindex="0">{{resourceService.frmelmnts.lbl.resendOTP}}</div>
<button appTelemetryInteract [telemetryInteractEdata]="submitOtpInteractEdata"  [telemetryInteractCdata]="telemetryCdata" [ngClass]="{'grey':disableSubmitBtn, 'light-sea-green':!disableSubmitBtn}" class="ui button width-300" tabindex="0"
  (click)="verifyOTP()">{{resourceService.frmelmnts.lbl.submitOTP}}</button> -->
