@use "@project-sunbird/sb-styles/assets/mixins/mixins"as *;

.no-cursor {
  pointer-events: none !important;
  cursor: not-allowed !important;
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


// user-details gray box new design css
.user-detail-container {
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  text-transform: capitalize;
  width: 100%;
  max-width: 36rem;
  margin: 1rem auto;

  .user-detail-list {
    display: flex;

    @include respond-below(sm) {
      flex-direction: column;
    }

    .label-values {
      word-break: break-word;
    }
  }

  .user-detail-list:nth-child(1) {
    order: 1;
  }

  .user-detail-list:nth-child(2) {
    order: 2;
  }

  .user-detail-list:nth-child(3) {
    order: 3;
  }

  .user-detail-list:nth-child(4) {
    order: 4;
  }

  .user-detail-list:nth-child(5) {
    order: 1;
  }

  .user-detail-list:nth-child(6) {
    order: 2;
  }

  .user-detail-list:nth-child(7) {
    order: 3;
  }
}

@include respond-below(sm) {
  .user-detail-container {
    grid-template-columns: 1fr;
    border-radius: 0;

    .user-detail-list:nth-child(1) {
      order: 1;
    }

    .user-detail-list:nth-child(2) {
      order: 2;
    }

    .user-detail-list:nth-child(3) {
      order: 3;
    }

    .user-detail-list:nth-child(4) {
      order: 4;
    }

    .user-detail-list:nth-child(5) {
      order: 5;
    }

    .user-detail-list:nth-child(6) {
      order: 6;
    }

    .user-detail-list:nth-child(7) {
      order: 7;
    }

  }
}

.signup-form-content {
  max-width: calculateRem(360px);
  margin: 0 auto;
}

:host::ng-deep {
  .terms-checkbox {
    .mat-checkbox-layout {
      white-space: unset;
    }
    .mat-checkbox-label {
      line-height: normal;
    }
    label {
      font-weight: inherit;
      font-size: inherit;
    }
  }
}
.line-height-1-3 {
  line-height: 1.3em !important;
}