@import "variables";
@import 'mixins/mixins';

.ui.raised.shadow.container.segment {
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0;
    width: calc(100% - 4%) !important;
}

@media only screen and (min-width: 1024px) {
    .ui.raised.shadow.container.segment {
        margin: calculateRem(50px) auto !important;
        width: calculateRem(944px) !important;
        padding: calculateRem(20px);
        box-shadow: 0 calculateRem(2px) calculateRem(16px) 0 rgba(var(--rc-rgba-black), 0.2);
    }
}
@media only screen and (max-width: 767px) {
    .ui.form .fields {
        flex-wrap: nowrap;
    }
}
.ui.form.borderd input[type=text],
.ui.form.borderd input[type=text]:focus,
.ui.form.borderd input[type=email],
.ui.form.borderd input[type=number],
.ui.form.borderd input[type=tel],
.ui.form.borderd input[type=password],
.ui.form.borderd input[type=url],
.ui.form.borderd input:not([type]),
.ui.form.borderd input:not([type]):focus {
    border: calculateRem(1px) solid var(--gray-300);
    padding: 0.8em 0 0.8em 1em;
    border-radius: calculateRem(4px);
}
.ui.form.borderd input:focus {
    border-color: var(--primary-400) !important;
}
.ui.light-sea-green.button {
    background: var(--secondary-400);
    color: var(--white);
}
.ui.grey.button {
    background: var(--gray-200);
    color: var(--white);
    pointer-events: none !important;
    cursor: not-allowed !important; 
    font-size: var(--font-size-sm);
    height: calculateRem(32px);
}
.ui.button.sb-btn-primary{
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white);
    height: calculateRem(32px);
    font-size: var(--font-size-sm);
}
.grey-text{
    color: var(--gray-300) !important;
    font-size: calculateRem(12px) !important;
}
.grey.text {
    color: var(--black);
    pointer-events: none !important;
    cursor: not-allowed !important;
    font-size: calculateRem(14px);
}
.orange.text {
    color: var(--red-100);
}
.orange-border {
    border-color: var(--red-100) !important;
}
.blue.text {
    color: var(--primary-color);
}
.ui.basic.blue.navigation.label {
    background: var(--white) !important;
    color: var(--primary-color) !important;
    border: 0  !important;
    padding-left: 0;
    font-size: 1rem;
    font-weight: normal;
    padding: calculateRem(10px) 0;
}
.ui.basic.error.label {
    background: none !important;
    color: var(--red-100) !important;
    border: 0 !important;
    padding-left: 0;
    font-size: 1rem;
    font-weight: normal;
    padding: calculateRem(10px) 0;
}
.fullpage {
    ::ng-deep {
        .ui.fullscreen.modal>.close {
            opacity: 0;
            pointer-events: none;
        }        
    }
}
i.close.icon {
    font-size: 1.5rem;
    position: absolute;
    right: calculateRem(6px);
    top: calculateRem(12px);
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.ui.form .field>label {
    font-size: 1rem !important;
    font-weight: normal;
}
.width-300 {
    width: calculateRem(300px) !important;
}
.ui.form.borderd [type="radio"]:checked + label:before,
.ui.form.borderd [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: calculateRem(16px);
    height: calculateRem(16px);
    border: calculateRem(2px) solid var(--gray-300) !important;
    border-radius: 100%;
    background: var(--white);
}
.ui.form.borderd [type="radio"]:checked + label:before {
    border: calculateRem(2px) solid var(--primary-400) !important;
}
.ui.form.borderd [type="radio"]:checked + label:after,
.ui.form.borderd [type="radio"]:not(:checked) + label:after {
    content: '';
    width: calculateRem(8px);
    height: calculateRem(8px);
    background: var(--primary-400) !important;
    position: absolute;
    top: calculateRem(4px);
    left: calculateRem(4px);
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.ui.form.borderd [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.ui.form.borderd [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.ui[class*="left icon"].input>input {
    padding-left: 3.37142857em !important;
}

.ui.left.icon.input .icon {
    left: calculateRem(11px);
    top: calculateRem(14px);
    font-size: 1rem;
    font-family: inherit;
}
.opacity-1 {
    opacity: 1 !important;
}
.ctct-inline-form .g-recaptcha {
    display: none !important
}
.otp-label{
    line-height: 1.8;
}
.resend-disable {
    background-color: var(--gray-100) !important;
    color: var(--gray-200) !important;
}
