@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.sb-mat__dropdown.sb-mat__dropdown--autocmp {
  border: calculateRem(1px) solid var(--gray-200);
  border-radius: calculateRem(24px);
}

::ng-deep {
    html[layout=joy] .sb-form-control {
        min-height: 2.5rem !important;
        border-radius: calculateRem(40px) !important;
    }
  html[layout="joy"] .sb-form-control:hover {
    border: 0.0625rem solid var(--gray-200);
  }
  span.arrow-icon.pl-8 {
    float: right;
  }

}

input {
  // width: 300px !important;
  // border-radius: 8px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

input:focus {
  border-color: #85b7d9 !important;
}

label {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 14px !important;
  // margin-bottom: 0.3em !important;
}

::placeholder {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: rgba(0, 0, 0, 0.4) !important;
}

.mat-input-element {
  border: 0px !important;
}
