<div id="batchDetails" class="ui modal" style="top: 72px !important">
    <div class="header">
        <div class="ui grid">
            <div class="eleven wide column">
                <span class="ui header">{{batch.batchInfo.name}}</span>
            </div>
            <div class="one wide column actions">
                <h5 class="ui basic icon circular button deny">
                    <i class="ui remove icon"></i>
                </h5>
            </div>
        </div>
    </div>
    <div class="scrolling content">
        <div class="ui grid">
            <div class="twelve wide column">
                <div class="content">
                    <div class="ui grid padding-top-20">
                        <div class="two wide column ">
                            <div class="ui card float right">
                                <div class="ui fluid image">
                                    <img ng-src="/common/images/default.png">
                                </div>
                            </div>
                        </div>
                        <div class="ten wide column padding-left-25">
                            <div class="ui grid">
                                <div class="eight wide column batch-des">
                                    <label>{{$root.frmelmnts.lbl.batchdescription}}</label>
                                    <div class="des-content" ng-if="!batch.readMore">
                                        <p>
                                            {{ batch.batchInfo.description | limitTo: 200 }}&nbsp;
                                            <span class="ui cardsKnowMore mouse-pointer" ng-if="batch.batchInfo.description.length > 200 && batch.readMore === false" ng-click="batch.readMore = !batch.readMore;">{{$root.frmelmnts.lbl.readmore}}</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="four wide column" ng-show="batch.showEnroll">
                                    <div class="ui fluid blue right floated  ui button margin-top-0" id="enrollToCourse" ng-click="batch.enrollUserToCourse(batch.batchInfo.id)">
                                        <span class="text">{{$root.frmelmnts.lbl.enrollcourse}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ui grid batch-date">
                                <div class="six wide column  start-date">
                                    <label>{{$root.frmelmnts.lbl.startdate}}</label><span class="padding-left-10">{{batch.batchInfo.startDate | date: "dd MMM yyyy"}}</span>
                                </div>
                                <div class="six wide column  end-date">
                                    <label>{{$root.frmelmnts.lbl.enddate}}</label><span class="padding-left-10">{{batch.batchInfo.endDate | date: "dd MMM yyyy"}}</span>
                                </div>
                            </div>
                            <div>
                                <div class="member padding-top-20">
                                    <label>{{$root.frmelmnts.lbl.batchmembers}}</label>
                                </div>
                                <div class="ui very relaxed list padding-top-10 batch-list-items">
                                    <div class="item" ng-repeat='user in batch.batchInfo.userList'>
                                        <img class="ui avatar  image" ng-src="{{user.thumbnail || '/common/images/user_logo.png'}}">
                                        <div class="content padding-top-10">
                                            <div class="header">{{user.firstName}} {{user.lastName}}</div>
                                            <!-- National School for children, Pune -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>