<div class="rightSideSectionCards ui card">
  <div class="header batchCardAlign">
    <span class="header headerBatchCard">Batches</span>
    <a>
      <div class="ui dropdown batchCardDropDown">
        <div class="text">Ongoing</div>
        <i class="dropdown icon"></i>
        <select ng-options="option.value as option.name for option in batch.statusOptions" ng-model="batch.status" ng-change="batch.getCouserBatchesList()" id="batchStatusOptions">
        </select>
      </div>
    </a>
  </div>
  <div class="content batchcardListContent" id="batchcardList">
    <div class="description annannouncement-description">
        <div class="ui divided list">
            <div class="item padding-top-10" ng-repeat="batchdata in batch.batchList track by $index">
                <i class="write icon float-ContentRight cursor-pointer" ng-click="batch.showUpdateBatchModal(batchdata, batch.coursecreatedby)" ng-show="batch.isMentor"></i>
                <button class="ui right floated blue basic button enrollBtn" ng-click="batch.showBatchDetails(batchdata)" ng-show="!batch.isMentor">Enroll</button>
                <i class="calendar outline icon"></i>
                <div class="content padding-bottom-15">
                    <span class="header padding-bottom-5">
                        {{batchdata.startDate | date: "dd MMM"}} - {{batchdata.endDate | date: "dd MMM"}}
                    </span>
                    <div class="description">Created by {{batch.userNames[batchdata.createdBy].firstName}} {{batch.userNames[batchdata.createdBy].lastName}}</div>
                </div>
            </div>
            <div ng-show="batch.batchList.length <= 0">
                <div class="ui success message">
                    <div class="header">{{$root.messages.stmsg.m0081}}</div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="ui bottom attached batchCard button" ui-sref="CreateBatch({courseId: batch.courseId, coursecreatedby: batch.coursecreatedby})" ng-show="batch.isMentor" ng-click="$root.generateInteractEvent('batch',batch.courseId,'create-batch','1.0','add-batch','batch-add')">
    <a><i class="add icon"></i>Create Batch</a>
  </div>
</div>
<batch-details></batch-details>
<!-- sb-permissions permission-only="COURSE_MENTER" -->