<sui-modal 
    [mustScroll]="true" 
    [isClosable]="false" 
    [transitionDuration]="0" 
    [size]="'normal'" 
    class="sb-modal " 
    [ngClass]="{'sb-error': extIdFailed, 'sb-success' : extIdVerified }" 
    #createValidateModal
    *ngIf="!isOffline"
    [appTelemetryImpression]="telemetryImpressionData">
    
  <!--Header-->
  <div class="sb-modal-header">
    {{labels?.popupHeaderLabel}}
  </div>
  <!--/Header-->

  <!--modal content-->
  <div class="sb-modal-content">
    <div *ngIf="!processValidation">
      {{labels?.headerLabel}}  
    </div>
    <form class="sb-form" [formGroup]="userDetailsForm">
      <div *ngIf="processValidation && !(extIdVerified || extIdFailed)" class="sb-field-group mb-16 text-left">
        <div class="sb-field" *ngIf="showStateDropdown">
            <label>{{resourceService?.frmelmnts?.lbl?.state}}</label>
          <sui-select id="stateField" [isSearchable]="false" class="selection" [options]="options" formControlName="state">
            <sui-select-option *ngFor="let option of channelData" [value]="option"></sui-select-option>
          </sui-select>
        </div>
        <div class="sb-field">
          <label class="required">{{labels?.fieldLabel}}</label>
          <input #extIdInputField type="text" required name="extId"
          placeholder="For example, ER12345" class="sb-form-control" formControlName="extId"/>
          <span *ngIf="showError" class="sb-color-error fxsmall mt-8">
            {{labels?.incorrectIDLabel}}
          </span>
        </div>
      </div>
    </form>
      <!-- Success / error field  -->
    <div *ngIf="extIdVerified" class="text-center my-24">
      {{labels?.verificationSuccessfulLabel}}
    </div>

    <div *ngIf="extIdFailed" class="text-center my-24">
      {{labels?.verficationFailureLabel}}
    </div>
  </div>
<!--modal content-->

<!--action buttons-->

  <div class="sb-modal-actions">
    <div class="action-btns" *ngIf="!processValidation">
      <button appTelemetryInteract [telemetryInteractEdata]="{id:'ext-user-verify-reject' , type:'click' , pageid: pageId }"
      [telemetryInteractCdata]="telemetryCdata" [telemetryInteractObject]="telemetryInteractObject" type="button" class="sb-btn sb-btn-normal sb-btn-outline-primary mr-8" (click)="verifyExtId('reject'); closeModal()">
        {{resourceService?.frmelmnts?.btn?.no}}
      </button>
      <button appTelemetryInteract [telemetryInteractEdata]="{id:'ext-user-verify-confirm' , type:'click' , pageid: pageId }"
      [telemetryInteractCdata]="telemetryCdata" [telemetryInteractObject]="telemetryInteractObject" 
      type="button" class="sb-btn sb-btn-normal sb-btn-primary" (click)="navigateToValidateId()">
        {{resourceService?.frmelmnts?.btn?.yes}}
      </button>
    </div>
    <button appTelemetryInteract [telemetryInteractEdata]="{id:'ext-user-verify-submit' , type:'click' , pageid: pageId }"
    [telemetryInteractCdata]="telemetryCdata" [telemetryInteractObject]="telemetryInteractObject" [disabled]="!enableSubmitButton" *ngIf="processValidation && !(extIdVerified || extIdFailed)" type="submit" class="sb-btn sb-btn-normal sb-btn-primary" (click)="verifyExtId('accept')" >
      {{resourceService?.frmelmnts?.btn?.submit}}
    </button>
    <button appTelemetryInteract [telemetryInteractEdata]="closeInteractEdata" [telemetryInteractCdata]="telemetryCdata" [telemetryInteractObject]="telemetryInteractObject" 
    *ngIf="extIdVerified || extIdFailed" [ngClass]="{'sb-btn-error' : extIdFailed, 'sb-btn-success' : extIdVerified }" type="button" class="sb-btn sb-btn-normal" (click)="closeModal()">  <!--sb-btn-success-->
      {{resourceService?.frmelmnts?.btn?.ok}}
    </button>
  </div>
  <!--action buttons-->
</sui-modal>
