@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.submissions {
    .evidences-list {
        margin: calculateRem(5px) 0px;
        background: var(--white) !important;
        border-radius: var(--sbt-bradius-24);
        padding: calculateRem(8px) calculateRem(24px);
    }
}

.content-submission {
    background: var(--sb-card-bg) !important;
    padding: 1rem 1.5rem !important;
    border-radius: var(--sbt-bradius-24);

    .txt-transform {
        text-transform: capitalize !important;
    }
}

.icon {
    color: var(--primary-400) !important;
    padding-left: calculateRem(15px);
}

.center-align {
    align-self: center;
    justify-self: center;
    padding: calculateRem(5px) 0;
}

.white-space-wrap {
    text-overflow: ellipsis;
}