@use "@project-sunbird/sb-styles/assets/mixins/mixins"as *;
@use 'pages/content-header'as *;

.header-block {
  display: none !important;
}

.toolbar-pageback {
  @include respond-below(sm) {
    .w-50 {
      width: 100%;
      max-width: 100%;
    }
  }
}
