@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
@use 'pages/content-header' as *;
.sb-single-resource {
	width: 100%;
	height: 100%;
	max-width: calculateRem(896px);
	margin: 0 auto;
  @include respond-above(lg) {
    max-width: calculateRem(960px);
  }
  @include respond-above(xl) {
    max-width: calculateRem(1024px);
  }
  @include respond-above(xxxl) {
    max-width: calculateRem(1088px);
  }
  }

.cc-player {
	&__btn-back {
		z-index: 100;
	}
}

.content-header {
  min-height: calculateRem(80px);
  background-color: var(--gray-0);
  box-shadow: 0 0 calculateRem(10px) 0 rgba(var(--rc-rgba-black), 0.25);
  z-index: 99; 
    &__info {
      max-height: calculateRem(48px);
      overflow-y: auto;
    }
}

@include respond-below(sm) {
	.ui.container.sb-toc-view-container {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
}

.content-player-landscape {
  position: absolute;
}

.header-block {
	display: none !important;
  }