<mat-toolbar color="primary" class="toolbar-pageback">
  <div class="d-flex flex-ai-center  w-below-sm-100 w-above-sm-60" [ngClass]="{'header-block': isFullScreenView}" *ngIf="contentData">
    <button mat-mini-fab color="accent" type="button" (click)="goBack()" class="button-rounded" tabindex="0"
      attr.aria-label="{{resourceService?.frmelmnts?.btn?.back}}">
      <mat-icon aria-hidden="false" aria-label="Back icon" fontIcon="arrow_back"></mat-icon>
    </button>
    <div class="toolbar-pageback__heading">
      <h1 class="mat-title mb-4 sb__ellipsis" tabindex="0" role="heading" aria-level="2">{{contentData.name}}</h1>
      <div class="toolbar-pageback__metadata">
        <div class="sub-title mat-body-1 mt-4 d-flex flex-ai-center">
          <span class="mat-body-1" *ngIf="contentData?.subject">{{contentData?.subject}}</span>
          <span class="dot-divider" *ngIf="contentData.gradeLevel"></span>
          <span class="mat-body-1 sb__ellipsis whitespace-initial" *ngIf="contentData?.gradeLevel">{{contentData?.gradeLevel}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="toolbar-pageback__actions">

    <a href="javascript:void(0)" tabindex="0" (click)="onShareLink();sharelinkModal=true;" mat-raised-button
      class="button-rounded mr-8">
      <mat-icon aria-hidden="false" aria-label="Share icon" fontIcon="share"></mat-icon>
      {{resourceService?.frmelmnts?.lbl?.share}}
    </a>

    <button type="button" *ngIf='!isDesktopApp && permissionService?.permissionAvailable ' appPermission
      [permission]="['CONTENT_CREATOR', 'CONTENT_REVIEWER']" tabindex="0" (click)="copyContent(contentData)"
      appTelemetryInteract [telemetryInteractEdata]="copyContentInteractEdata"
      [telemetryInteractObject]="objectInteract" mat-raised-button class="button-rounded mr-8">
      <mat-icon aria-hidden="false" aria-label="Copy icon" fontIcon="content_copy"></mat-icon>
      {{resourceService?.frmelmnts?.lbl?.copy}}
    </button>

    <div class="certified-course__btn" *ngIf="isGroupAdmin">
      <button mat-raised-button color="success" class="button-rounded mr-8 ml-auto textbook__addbtn" appAddToGroup
        [identifier]="contentData?.identifier" [pageId]="contentData?.primaryCategory.toLowerCase()">
        {{resourceService?.frmelmnts?.lbl?.AddtoGroup}}</button>
    </div>
  </div>

</mat-toolbar>

<div class="mat-inside-page-container mat-app-background2 content-player-component">
  <div [style.display]="!showLoader ? 'block' : 'none'" *ngIf="contentData">
    <!-- CC-Player Video -->

    <div class="sb-g sb-single-resource">
      <section class="sb-g-col-xs-12 sb-g-col-md-12 sb-g-col-lg-12 sb-g-col-xxxl-16 cc-player__video"
        [appTelemetryImpression]="telemetryImpression">
        <app-contentplayer-page [playerConfig]="playerConfig" [tocPage]="true" [contentDetails]="contentData"
          [isContentPresent]="isContentPresent" [objectRollUp]="objectRollup">
        </app-contentplayer-page>
      </section>
    </div>

    <div class="w-100" *ngIf="showLoader">
      <app-loader [data]='loaderMessage'></app-loader>
    </div>

    <app-modal-wrapper *ngIf="sharelinkModal" [config]="{disableClose: false, panelClass: 'material-modal'}"
      (dismiss)="sharelinkModal = false">
      <ng-template sbModalContent>
        <app-share-link [shareLink]="shareLink" [telemetryShareData]="telemetryShareData">
        </app-share-link>
      </ng-template>
    </app-modal-wrapper>
  </div>
</div>