@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
:host {
  .page {
    background: rgba(var(--rc-rgba-black), 0.6);
    h6 {
      color: var(--gray-0);
      font-weight: normal;
    }
  }
  .page-container {
    margin: calculateRem(16px) calculateRem(32px);
  }

  .header {
    display: flex;
    flex-direction: row;
    margin: calculateRem(24px) 0 calculateRem(16px) 0;
    align-items: center;
    .title {
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;
      height: calculateRem(24px);
      color: var(--primary-color);
      font-size: calculateRem(16px);
      font-weight: bold;
      text-transform: capitalize;
      line-height: calculateRem(24px);
      display: flex;
      align-items: center;
    }
  }

  .sbcardwidth {
    width: calculateRem(292px) !important;
    padding: 0px 0px calculateRem(4px) 0px;
  }
  [dir="rtl"] .sbcardwidth:first-child {
    margin-right: 0px !important;
  }
}

.ui.dimmer .ui.loader:before {
  border-color: rgba(var(--rc-rgba-white), 0.01);
}
.ui.dimmer .ui.loader:after {
  border-color: var(--primary-200) transparent transparent;
}

// sb grid template css
.sbgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(291.98px, 1fr));
  grid-gap: 1rem;
  grid-row-gap: 1.5rem;
}

/* sb-card styles getting overriden by _cards.scss */
:host ::ng-deep {
  .slick-slider .slick-track {
    // width: auto !important;
    padding-top: 0px;
  }
  [dir="ltr"].slick-slider .slick-prev,
  [dir="rtl"].slick-slider .slick-next {
    left: calculateRem(-16px) !important;
    right: auto !important;
  }
  [dir="rtl"].slick-slider .slick-prev,
  [dir="ltr"].slick-slider .slick-next {
    right: calculateRem(-8px) !important;
    left: auto !important;
  }
}
.sb--card:hover {
  transform: none !important;
}