@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
:host {
  .page {
    background: rgba(var(--rc-rgba-black), 0.6);
    h6 {
      color: var(--gray-0);
      font-weight: normal;
    }
  }
  .page-container {
    margin: calculateRem(16px) calculateRem(32px);
  }

  .header {
    display: flex;
    flex-direction: row;
    margin: calculateRem(24px) 0 calculateRem(16px) 0;
    align-items: center;
    .title {
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;
      height: calculateRem(24px);
      color: var(--color-accent-500);
      font-size: calculateRem(16px);
      font-weight: bold;
      text-transform: capitalize;
      line-height: calculateRem(24px);
      display: flex;
      align-items: center;
    }
  }
}

