@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
:host {
  .page {
    background: rgba(var(--rc-rgba-black), 0.6);
    h6 {
      color: var(--gray-0);
      font-weight: normal;
    }
  }
  .page-container {
    margin: calculateRem(16px) calculateRem(32px);
  }

  .header {
    display: flex;
    flex-direction: row;
    margin: calculateRem(24px) 0 calculateRem(16px) 0;
    align-items: center;
    .title {
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;
      height: calculateRem(24px);
      color: var(--primary-color);
      font-size: calculateRem(16px);
      font-weight: bold;
      text-transform: capitalize;
      line-height: calculateRem(24px);
      display: flex;
      align-items: center;
    }
  }
}

.ui.dimmer .ui.loader:before {
  border-color: rgba(var(--rc-rgba-white), 0.01);
}
.ui.dimmer .ui.loader:after {
  border-color: var(--primary-200) transparent transparent;
}

// sb grid template css
.sbgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(291.98px, 1fr));
  grid-gap: 1rem;
  grid-row-gap: 1.5rem;
}

.sb--card:hover {
  transform: none !important;
}