<div ng-controller="CreateSlideShowController as createSlideShow" ng-init="createSlideShow.initilizeView()">

    <div ng-show="createSlideShow.showCreateSlideShowModal">
        <div class="ui long modal scrolling" id="createSlideShowModal">
            <div class=" ui segment margin-top-10" ng-if="!createSlideShow.createApi.loader.showLoader && !createSlideShow.createApi.error.showError">
                <div class=" margin-bottom-15">
                    <div class="ui grid">
                        <div class="eleven wide column">
                            <span class="ui header">Create SlideShow</span>
                        </div>
                        <div class="one wide column actions">
                            <h5 class="ui basic icon circular button deny" ng-click="createSlideShow.createApi.error.showError = false;">
                                <i class="ui remove icon"></i>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="two wide column">
                            <div class="ui basic massive icon button" ng-click="createSlideShow.openImageBrowser()" ng-if="!createSlideShow.iconImage">
                                <i class="ui image icon"></i>
                            </div>
                            <input type="file" accept="image/x-png,image/gif,image/jpeg" class="content-input" id="SlideShowIconInput" onchange="angular.element(this).scope().updateIcon(this.files);" required="" />
                            <img ng-if="createSlideShow.iconImage" class="ui small link image height-150" ng-src="{{createSlideShow.iconImage}}" id="image" alt="icon" ng-click="createSlideShow.openImageBrowser()" tabindex="3">

                        </div>
                        <div class="ten wide column">
                            <form class="ui form" novalidate="" ng-init="createSlideShow.data = {}">
                                <div class="field">
                                    <label>Title</label>
                                    <div class="field">
                                        <input type="text" name="title" placeholder="Name this lesson" ng-model="createSlideShow.data.name" required="">
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Write short description of your lesson</label>
                                    <textarea rows="2" name="description" placeholder="Description for the lesson" ng-model="createSlideShow.data.description" required=""></textarea>
                                </div>
                                <div class="two fields">
                                    <div class="field">
                                        <label>Lesson type</label>
                                        <select  class="ui fluid dropdown singleSelectDropDown"
                                                 ng-options=" lesson for lesson in createSlideShow.lessonTypes" ng-model="createSlideShow.data.contentType">
                                            <option value="">Choose lesson type</option>
                                        </select>
                                    </div>
                                    <div class="field">
                                        <label>Audience</label>
                                        <select name="audience" class="ui fluid dropdown singleSelectDropDown"
                                                ng-options=" audience for audience in createSlideShow.audiences" ng-model="createSlideShow.data.audience">
                                            <option value="" translate="languages">Choose audience</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="field">
                                        <label>Language</label>
                                        <select name="language" class="ui fluid dropdown singleSelectDropDown"
                                                ng-options=" language for language in createSlideShow.languages" ng-model="createSlideShow.data.language">
                                            <option value="" translate="languages">Choose language</option>
                                        </select>
                                    </div>
                                    <div class="field">
                                        <label>Domain</label>
                                        <select class="ui fluid dropdown">
                                            <option value="">Numeracy</option>
                                            <option value="AL">Alabama</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="field">
                                        <label>Grade</label>
                                        <select name="grades" multiple="" class="ui fluid dropdown multiSelectDropDown" 
                                                ng-options=" grade for grade in createSlideShow.grades" ng-model="createSlideShow.data.gradeLevel"s>
                                            <option value="">Choose grades</option>
                                        </select>
                                    </div>
                                    <div class="field">
                                        <label>Age Group</label>
                                        <select name="ageGroup" multiple="" class="ui fluid dropdown multiSelectDropDown"  
                                                ng-options=" ageGroup for ageGroup in createSlideShow.ageGroup" ng-model="createSlideShow.data.ageGroup">
                                            <option value="" translate="agegroup">Choose age Group</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="field">
                                        <label>Medium</label>
                                        <select name="medium" multiple="" class="ui fluid dropdown multiSelectDropDown" 
                                                ng-options=" medium for medium in createSlideShow.medium" ng-model="createSlideShow.data.medium">
                                            <option value="" medium="medium">Choose medium</option>
                                        </select>
                                    </div>
                                    <div class="field">
                                        <label>Subject</label>
                                        <select name="subject" multiple="" class="ui fluid dropdown multiSelectDropDown"
                                                ng-options=" subject for subject in createSlideShow.subjects" ng-model="createSlideShow.data.subject">
                                            <option value="" translate="ageGroup">Choose subject</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Medium</label>
                                    <select name="medium" multiple="" class="ui fluid dropdown multiSelectDropDown" 
                                            ng-options=" medium for medium in createSlideShow.medium" ng-model="createSlideShow.data.medium">
                                        <option value="" medium="medium">Choose medium</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label>Subject</label>
                                    <select name="subject" multiple="" class="ui fluid dropdown multiSelectDropDown"
                                            ng-options=" subject for subject in createSlideShow.subjects" ng-model="createSlideShow.data.subject">
                                        <option value="" translate="ageGroup">Choose subject</option>
                                    </select>
                                </div>
                                <div class="two fields">
                                    <div class="field">
                                        <label>Author</label>
                                        <input type="text" name="author" placeholder="author" ng-model="createSlideShow.data.author" required="">
                                    </div>
                                    <div class="field">
                                        <label>Methods</label>
                                        <div class="ui fluid multiple search selection dropdown">
                                            <input type="hidden" name="receipt">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">Type and select methods here</div>
                                            <div class="menu">
                                                <div class="item" data-value="justen" data-text="Justen">
                                                    rusten Kit
                                                </div>
                                                <div class="item" data-value="justen" data-text="Justen">
                                                    Justen Kitsune
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <button class="ui primary right floated button margin-bottom-15 margin-top-10 " type="submit" ng-click="createSlideShow.saveMetaData(createSlideShow.data)">Save</button>
                <button class="ui secondary right floated button margin-bottom-15 margin-top-10" type="submit" ng-click="createSlideShow.clearCreateSlideShowData()">Clear</button>
            </div>
        </div>
        <div class=" ui segment margin-top-10" ng-if="createSlideShow.createApi.loader.showLoader">
            <app-loader data="{{createSlideShow.createApi.loader}}"></app-loader>
        </div>
        <div class=" ui segment margin-top-10" ng-if="createSlideShow.createApi.error.showError">
            <error-message data="{{createSlideShow.createApi.error}}" visibility="createSlideShow.createApi.error.showError"></error-message>
        </div>
    </div>
</div>
<div class="ui grid" ng-if="createSlideShow.ekURL">
    <div class="one wide column"></div>
    <div class="ten wide column">
        <div class='content-player-body videosegment  ui clearing segment'>
            <h5 class="ui right floated basic icon circular button" ng-click="createSlideShow.closeContentEditor()">
                <i class="ui remove icon"></i>
            </h5>
        </div>
        <iframe ng-if="createSlideShow.ekURL" ng-src="{{createSlideShow.ekURL}}" class="content-iframe"></iframe>
    </div>
    <div class="one wide column"></div>
</div>
</div>