<div [appTelemetryImpression]="telemetryImpression" *ngIf="showLoader">
  <div class="ui grid">
    <div class="one wide column"></div>
    <div class="ten wide column">
      <app-loader></app-loader>
    </div>
    <div class="one wide column"></div>
  </div>
</div>
<!-- header -->
<div class="ui grid py-10 courseStructureHeader" *ngIf="!showLoader && !showError">
  <div class="one wide column"></div>
  <div class=" ten wide column">
    <div class="ui grid">
      <div class="eight wide column">
        <div class="profileheader ui link items">
          <div class="ui grid">
            <div class="two wide column pt-0">
              <div class="userAvtarWrap field link ui small circular image header-image-profile">
                <img class="ui small circular image header-image-profile" [src]="userDetails.avatar || 'assets/images/user_logo.png' | cdnprefixurl" alt="avatar image">
              </div>
            </div>
            <div class="ten wide column profile-header-text pt-0">
              <div class="content pt-10">
                <div class="sectionHeading header">{{userDetails.firstName}} &nbsp;{{userDetails.lastName}}</div>
                <div class="meta profileViewSubHeader pb-10">
                  <span *ngIf="userDetails.location">{{userDetails.location}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="profilesettings four wide column">
        <h5 class="ui right floated basic icon circular button" [queryParams]="queryParams" [routerLink]="['../../']">
          <i class="ui remove icon"></i>
        </h5>
      </div>
    </div>
  </div>
  <div class="one wide column"></div>
</div>

<!-- description of profile -->
<div class="ui grid" *ngIf="!showLoader && !showError">
  <div class="one wide column"></div>
  <div class="ten wide column">
    <div class="ui grid">
      <!--Profile summary-->
      <div class="twelve wide column" *ngIf="userDetails.profileSummary">
        <div class="mt-20 ui raised segment">
          <div class="header">
            <span class="segment-heading"> {{resourceService.frmelmnts?.lbl?.summary | translate}} </span>
          </div>
          <div class="description pt-10">
            <div *ngIf="descriptionReadMore && userDetails.profileSummary.length > 120">
              <span class="overflow-word-wrap">{{userDetails.profileSummary | slice:0:120 }}&nbsp;</span>
              <span class="ui expand-or-minimize" tabindex="0" (click)="descriptionReadMore = false;">{{resourceService.frmelmnts?.lbl?.readmore | translate}}</span>
            </div>
            <div class="overflow-word-wrap" *ngIf="!descriptionReadMore && userDetails.profileSummary.length > 120"> {{userDetails.profileSummary}}&nbsp;
              <span class="ui expand-or-minimize" tabindex="0" (click)="descriptionReadMore = true;">{{resourceService.frmelmnts?.lbl?.readless | translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <!--Address-->
      <div class="twelve wide column">
        <div class="ui raised segment">
          <div class="header announcementCard-header">
            <span class="header cardsHeading">{{resourceService.frmelmnts?.lbl?.address | translate}}</span>
          </div>
          <div class="profileitems ui relaxed divided items">
            <div class="item" *ngFor="let address of userDetails.address">
              <img class="ui avatar image" src="{{'assets/images/location.png' | cdnprefixurl}}">
              <div class="content">
                <p class=" header">{{address.addType}}</p>
                <div class="description"> {{address.addressLine1}}
                  <span *ngIf="address.addressLine2"> , </span>{{address.addressLine2}}

                  <p>{{address.city}}
                    <span *ngIf="address.state"> , </span>{{address.state}}
                    <span *ngIf="address.country">, </span>{{address.country}}
                    <span *ngIf="address.zipcode">, </span>{{address.zipcode}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- experience -->
      <div class="twelve wide column">
        <div class="ui raised segment">
          <div class="header announcementCard-header">
            <span class="header cardsHeading">{{resourceService.frmelmnts?.lbl?.experience | translate}}</span>
          </div>
          <div class="profileitems ui relaxed divided items ">
            <div class="item" *ngFor="let experience of userDetails.jobProfile">
              <img class="ui avatar image" src="{{'assets/images/businessman.png' | cdnprefixurl}}">
              <div class="content ">
                <a class=" header ">{{experience.jobName}}</a>
                <div class="description ">{{experience.role}}
                  <span *ngIf="experience.role">&nbsp;,&nbsp;</span>{{experience.orgName}}
                  <p class="mb-0 " *ngIf="experience.subject.length ">{{resourceService.frmelmnts?.lbl?.subjectstaught | transposeTerms: 'frmelmnts.lbl.subjectstaught': resourceService?.selectedLang | translate}} :
                    <span>
                      <span *ngFor="let sub of experience.subject; let last = last;">{{sub}}
                        <span *ngIf="!last ">, </span>
                      </span>
                    </span>
                  </p>
                  <p *ngIf="experience.joiningDate ">{{resourceService.frmelmnts?.lbl?.tcfrom | translate}} : {{experience.joiningDate}} &nbsp;
                    <span *ngIf="experience.endDate ">, &nbsp;{{resourceService.frmelmnts?.lbl?.tcto | translate}} : {{experience.endDate}}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- education -->
      <div class="twelve wide column">
        <div class="ui raised segment">
          <div class="header announcementCard-header">
            <span class="header cardsHeading">{{resourceService.frmelmnts?.lbl?.education | translate}}</span>
          </div>
          <div class="profileitems ui relaxed divided items ">
            <div class="item" *ngFor="let education of userDetails.education">

              <img class="ui avatar image" src="{{'assets/images/businessman.png' | cdnprefixurl}}">
              <div class="content">
                <a class=" header">{{education.degree}}</a>
                <div class="description"> {{education.yearOfPassing}}
                  <span *ngIf="education.percentage">,&nbsp;</span>{{education.percentage}}
                  <br/>
                  <p>{{education.grade}}
                    <span *ngIf="education.name && education.grade">, &nbsp;</span>{{education.name}}
                    <span *ngIf="education.boardOrUniversity">,&nbsp;</span>{{education.boardOrUniversity}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- skills -->
      <div class="twelve wide column">
        <div class="ui raised segment mb-0">
          <div class="header announcementCard-header ">
            <span class="header cardsHeading">{{resourceService?.frmelmnts?.lbl?.skillTags | translate}}</span>
          </div>
          <div class="profileitems profile-des ui relaxed aligned list">
            <div class="item " *ngFor="let skill of userDetails.skills | slice:0:skillLimit">
              <div class="ui label">
                {{skill.skillName}} {{skill.endorsementCount}}
                <div class="detail">
                  <span *ngIf="skill.endorsementCount !== 0">|&nbsp;</span>
                  <span *ngIf="skill.endorsementCount !== 0">{{skill.endorsementCount}}</span>
                </div>
              </div>
              <div *ngIf="!skill.isEndorsable" class="ui circular labels float-ContentRight ">
                <a class="ui basic label" tabindex="0" (click)="submitEndorsement(skill.skillName)" [ngClass]="{'not-active': disableEndorsementButton }">
                  +1 </a>
              </div>
            </div>
          </div>
        </div>
        <div class="ui bottom attached tabular menu  expand-or-minimize-btn ng-scope " *ngIf="userDetails.skills.length > defaultLimit">
          <div class="active item  expand-or-minimize-btn-pad">
            <a tabindex="0" (click)="toggle(true); skillLimit = userDetails.skills.length" *ngIf="skillViewMore">
              <span class="cursor-pointer">
                {{resourceService?.frmelmnts?.btn?.viewmore | translate}}
                <i class="chevron down icon"></i>
              </span>
            </a>
            <a tabindex="0" (click)="toggle(false)" *ngIf="!skillViewMore">
              <span class="cursor-pointer">
                {{resourceService?.frmelmnts?.btn?.viewless | translate}}
                <i class="chevron up icon"></i>
              </span>
            </a>
          </div>
        </div>
      </div>

      <!--Badge-->
      <div class="twelve wide column" *ngIf="userDetails.badgeArray && userDetails.badgeArray.length > 0">
        <div class="ui raised segment mb-0">
          <div class="header announcementCard-header">
            <span class="header cardsHeading">{{resourceService?.frmelmnts?.lbl?.certificationAward | translate}}</span>
          </div>
          <div class="ui items mt-10">
            <div class="item" *ngFor="let badge of userDetails.badgeArray | slice:0:badgeLimit">
              <img class="ui avatar image" [src]="badge.image || badge.badgeClassImage">
              <div class="middle aligned content pl-10">
                <div class="ui huge sub header secondary-text-color-sunbird">{{badge.badgeClassName}}</div>
                <div class="description">
                  <div class="secondary-text-color-sunbird">{{badge.description | slice:0:70 }}
                    <i *ngIf="badge.description && badge.description.length > 70" class="ellipsis horizontal icon" title="{{badge.description}}">
                    </i>
                  </div>
                </div>
              </div>
              <div *ngIf="badge.createdTS || badge.createdTs" class="meta">{{badge.createdTS || badge.createdTs | dateFormat: 'MMM YYYY'}}</div>
            </div>
          </div>
        </div>
        <div class="ui bottom attached tabular menu expand-or-minimize-btn" *ngIf="userDetails.badgeArray.length > badgeDefaultLimit">
          <div class="active item expand-or-minimize-btn-pad">
            <a tabindex="0" (click)="badgeToggle(true)" *ngIf="badgeViewMore">
              <span class="cursor-pointer">
                {{resourceService?.frmelmnts?.btn?.viewmore | translate}}
                <i class="chevron down icon"></i>
              </span>
            </a>
            <a tabindex="0" (click)="badgeToggle(false)" *ngIf="!badgeViewMore">
              <span class="cursor-pointer">
                {{resourceService?.frmelmnts?.btn?.viewless | translate}}
                <i class="chevron up icon"></i>
              </span>
            </a>
          </div>
        </div>
      </div>

      <!-- aditional information -->
      <div class="twelve wide column">
        <div class="ui raised segment ">
          <div class="header announcementCard-header ">
            <span class="header cardsHeading ">{{resourceService?.frmelmnts?.lbl?.addlInfo | translate}}</span>
          </div>
          <div class="profileitems profile-des ui relaxed aligned list ">
            <div class="item ">
              <div class="right floated content ">
                <span>{{userDetails.location}}</span>
              </div>
              <div class="iniformationcontent content ">
                {{resourceService.frmelmnts?.lbl?.currentlocation | translate}}
              </div>
            </div>
            <div class="item ">
              <div class="right floated content ">
                <span *ngFor="let grade of userDetails.grade; let last = last">
                  <span>{{grade}}
                    <span *ngIf=!last>,</span>
                  </span>
                </span>
              </div>
              <div class="iniformationcontent content ">
                {{resourceService.frmelmnts?.lbl?.grades | transposeTerms: 'frmelmnts.lbl.grades': resourceService?.selectedLang | translate}}
              </div>
            </div>
            <div class="item ">
              <div class="right floated content ">
                <span>{{userDetails.gender}}</span>
              </div>
              <div class="iniformationcontent content ">
                {{resourceService.frmelmnts?.lbl?.gender | translate}}
              </div>
            </div>
            <div class="item ">
              <div class="right floated content ">
                <span>{{userDetails.dob | date : "dd/MM/y"}}</span>
              </div>
              <div class="iniformationcontent content ">
                {{resourceService.frmelmnts?.lbl?.birthdate | translate}}
              </div>
            </div>
            <div class="item ">
              <div class="right floated content" *ngIf="userDetails.subject">
                {{userDetails.subject.join(', ')}}
              </div>
              <div class="iniformationcontent content ">
                {{resourceService.frmelmnts?.lbl?.subjects | transposeTerms: 'frmelmnts.lbl.subjects': resourceService?.selectedLang | translate}}
              </div>
            </div>
            <div class="item ">
              <div class="right floated content" *ngIf="userDetails.language">
                {{userDetails.language.join(', ')}}
              </div>
              <div class="iniformationcontent content ">
                {{resourceService.frmelmnts?.lbl?.language | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="one wide column"></div>
</div>