body {
    margin: 0;
  }
  .program-cbse-login-section {
    background-image: url('../assets/program_cbse_login.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .program-cbse-login-section .program-cbse-navbar {
    width: 100%;
    position: absolute;
    z-index: 99;
    background: transparent;
    padding-left: 48px;

  }

  .program-cbse-login-section .program-cbse-navbar .navbar-image {
    background: white;
    padding: 8px 16px;
    display: inline-block;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .program-cbse-login-section .program-cbse-body {
    padding-top: 80px;
    color: white;
  }

  .program-cbse-login-section .program-cbse-body p {
    line-height: 28px;
    margin-bottom: 0;
  }

  .program-cbse-login-section .program-cbse-body .login-button-container {
    width: 124px;
    margin: 0 auto;
  }

  .program-cbse-login-section .program-cbse-body .login-button {
    margin-top: 40px;
    padding: 14px 40px;
    position: absolute;
    bottom: 15%;
    border-color: #024f9d;
    background-color: #024f9d;
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    color: #ffffff;
    cursor: pointer;
    min-width: 64px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-transform: capitalize;
    
  }

  .cbse-body-column {
    text-align: center;
    width: 100%
  }

  .cbse-body-column .head-tag, .des-tag-national, .des-tag-national {
    margin: 0;
    letter-spacing: 1px;
  }
  .cbse-body-column .head-tag, .des-tag-national {
    font-weight: 700;
  }

  .des-tag-national {
    font-size: 24px;
  }