@use "~@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.observation-detail-box{
    display: inline-flex;
    max-width: 100%;
    min-width: 100%;
    margin: calculateRem(15px) 0px;
}
.submissions{
    h5{
        font-weight: 600;
    }
    .evidences-list{
        margin: calculateRem(5px) 0px;
        background:  var(--sb-card-bg) !important;
        border-radius: var(--sbt-bradius-24);
        padding: calculateRem(8px) calculateRem(24px);
    }
}
.icon-svg{
    background: none;
    box-shadow: none;
  }
  .sbaccordion__panel-header__title{
    color: var(--gray-400);
  }
  .margin-btm{
    margin-bottom: 2rem;
  }
  :host ::ng-deep { 
 .ui.dropdown .menu>.item{
    color: var(--sb-linkmenu-text);
 }
 .ui.dropdown .menu{
    background: var(--sb-card-bg);
 }
}
.icon{
  color: var(--primary-400) !important;
}
.txt-transform {
  text-transform: capitalize !important;
}
.center-align {
  align-self: center;
  justify-self: center;
  padding: calculateRem(5px) 0;
}
.white-space-wrap {
  text-overflow: ellipsis;
}
.close-btn{
  cursor: pointer;
}
::ng-deep{
  .profile-field-label{
    width: 10rem !important;
  }
  .sb-mat-accordion__title span{
    line-break: anywhere;
  }
  
  .sb-mat-accordion__title div{
    display: flex;
    align-items: inherit;
  }

  html[data-mode="darkmode"] .customBackBtnBar{
    color:var(--gray-800);
  }
}