.m-0 {
  @include margin(0);
}
.m-5 {
  @include margin(5px);
}
.m-10 {
  @include margin(10px);
}
.m-15 {
  @include margin(15px);
}
.m-20 {
  @include margin(20px);
}

.mt-auto {
  @include margin(auto null null null);
}
.mt-0 {
  @include margin(0 null null null);
}
.mt-3 {
  @include margin(3px null null null);
}
.mt-5 {
  @include margin(5px null null null);
}
.mt-10 {
  @include margin(10px null null null);
}
.mt-15 {
  @include margin(15px null null null);
}
.mt-20 {
  @include margin(20px null null null);
}
.mt-30 {
  @include margin(20px null null null);
}
.mt-90 {
  @include margin(90px null null null);
}
.mt-190 {
  @include margin(190px null null null);
}

.mr-auto {
  @include margin(null auto null null);
}
.mr-0 {
  @include margin(null 0 null null);
}
.mr-5 {
  @include margin(null 5px null null);
}
.mr-10 {
  @include margin(null 10px null null);
}
.mr-12 {
  @include margin(null 12px null null);
}
.mr-15 {
  @include margin(null 15px null null);
}
.mr-20 {
  @include margin(null 20px null null);
}
.mr-30 {
  @include margin(null 30px null null);
}
.mr-40 {
  @include margin(null 40px null null);
}
.mr-100 {
  @include margin(null 100px null null);
}

.mb-auto {
  @include margin(null null auto null);
}
.mb-0 {
  @include margin(null null 0 null);
}
.mb-5 {
  @include margin(null null 5px null);
}
.mb-10 {
  @include margin(null null 10px null);
}
.mb-15 {
  @include margin(null null 15px null);
}
.mb-20 {
  @include margin(null null 20px null);
}
.mb-50 {
  @include margin(null null 50px null);
}

.ml-auto {
  @include margin(null null null auto);
}
.ml-0 {
  @include margin(null null null 0);
}
.ml-5 {
  @include margin(null null null 5px);
}
.ml-10 {
  @include margin(null null null 10px);
}
.ml-15 {
  @include margin(null null null 15px);
}
.ml-20 {
  @include margin(null null null 20px);
}

.mx-auto {
  @include margin(null auto);
}
.mx-0 {
  @include margin(null 0);
}
.mx-5 {
  @include margin(null 5px);
}
.mx-10 {
  @include margin(null 10px);
}
.mx-15 {
  @include margin(null 15px);
}
.mx-20 {
  @include margin(null 20px);
}

.my-auto {
  @include margin(auto null);
}
.my-0 {
  @include margin(0 null);
}
.my-5 {
  @include margin(5px null);
}
.my-10 {
  @include margin(10px null);
}
.my-15 {
  @include margin(15px null);
}
.my-20 {
  @include margin(20px null);
}
