.relative {
    position: relative !important;
}
.absolute {
    position: absolute !important;
}


*[dir="ltr"]{
    .right-0 {
        right: 0 !important;
    }
    .left-0 {
        left: 0 !important; 
    }
}

*[dir="rtl"]{
    .right-0 {
        left: 0 !important;
    }
    .left-0 {
        right: 0 !important; 
    }
}


.top-50 {
    top: 50% !important;
    transform: translateY(-50%);
}