@font-face {
  font-family: 'icomoon';
  src: url('./fonts/sb-icons/icomoon.eot?q5fmh5');
  src:  url('./fonts/sb-icons/icomoon.eot?q5fmh5#iefix') format('embedded-opentype'),
    url('./fonts/sb-icons/icomoon.ttf?q5fmh5') format('truetype'),
    url('./fonts/sb-icons/icomoon.woff?q5fmh5') format('woff'),
    url('./fonts/sb-icons/icomoon.svg?q5fmh5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sb-icon-"], [class*=" sb-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 18px;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.sb-icon-preview:before {
  content: "\e909";
}
.sb-icon-refresh:before {
  content: "\e90c";
}
.sb-icon-reviewer:before {
  content: "\e90a";
}
.sb-icon-folder:before {
  content: "\e902";
}
.sb-icon-comment:before {
  content: "\e908";
}
.sb-icon-send:before {
  content: "\e90b";
}
.sb-icon-book:before {
  content: "\e900";
}
.sb-icon-content:before {
  content: "\e901";
}
.sb-icon-collection:before {
  content: "\e903";
}
.sb-icon-doc:before {
  content: "\e904";
}
.sb-icon-mp3:before {
  content: "\e905";
}
.sb-icon-open-book:before {
  content: "\e906";
}
.sb-icon-video:before {
  content: "\e907";
}