<br/>
<br/>
<div class="ui grid">
  <div class="one wide column"></div>
  <div class="ten wide column">
    <div class="ui segments">
      <div class="ui segment margin-auto padding-left-right-0 padding-top-bottom-0 ">
        <div class="ui grid margin-top-0 margin-left-right-0 margin-bottom-0 height-100" id="notesList">
          <div class="twelve wide column">
            <div class="ui container container-with-button padding-left-right-0">
              <span class="ui header">{{resourceService?.frmelmnts?.lbl?.mynotes}}</span>
              <i class=" circular icon margin-left-right-10 link plus" [routerLink]="['editor/' + 'create']">
              </i>
              <div class="notesearch right-floated">
                <div class="ui icon input">
                  <input [(ngModel)]="searchData" type="text" placeholder={{resourceService?.frmelmnts?.intxt?.t0001}} title={{resourceService?.frmelmnts?.lbl?.search}}
                  />
                  <i class="circular search link icon"></i>
                </div>
                <h5 class="ui right floated basic icon circular button">
                  <i class="ui remove icon"></i>
                </h5>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="noteListSegment ui secondary segment" *ngIf="notesList.length > 0">
        <div class="twelve wide column">
          <div class="ui grid">
            <div class="four wide column padding-topBottomNone">
              <div class="notelistscroll">
                <div class="profileitems ui relaxed divided items ">
                  <div class="item padding-topBottomNone notelistfocus" *ngFor="let note of notesList | orderBy:'updatedDate':true | filter : searchData; let a = index">
                    <div class="content padding-all-10 contentnotelist" [ngClass]="{'notelistborder': a === selectedIndex }" (click)="showNoteList(note,a)">
                      <a class="header">{{ note.title }}</a>
                      <i *ngIf="note.title.length > 15" class="ellipsis horizontal icon popup-button"></i>
                      <div class="description margin-top-0">

                        <span Markdown content="noteData">{{ note.note }}</span>
                        <i *ngIf="note.note.length > 15" class="ellipsis horizontal icon popup-button"></i>
                      </div>
                      <div class="meta ">
                        <span class="note-card-timeStamp">{{ note.updatedDate | date }}</span>
                      </div>
                    </div>
                    <div class="ui clearing divider"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" eight wide column padding-topBottomNone">
              <div class="ui items ">
                <div class="content notelistrightscroll padding-top-10">
                  <div class="ui row margin-right-15">
                    <div class="right-floated padding-top-10">
                      <i class="large edit icon cursor-pointer" title={{resourceService?.frmelmnts?.lbl?.edit}} [routerLink]="['editor/' + 'update']"
                        (click)="noteService.selectedNote = selectedNote;"></i>
                      <i class="right-floated large trash outline icon cursor-pointer" title={{resourceService?.frmelmnts?.lbl?.delete}} [routerLink]="['remove']"></i>
                    </div>

                    <span class="ui small header notedecheader mouse-pointer">
                      {{ selectedNote.title }}
                    </span>
                    <div class="description padding-top-10">
                      <span class="notedec">
                        <markdown [data]="selectedNote.note"></markdown>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="eight wide column padding-right-28">
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
    </div>
    <!-- <div ng-if="notesList.length === 0">
      <div class="ui huge positive message">
      </div>
    </div> -->
  </div>
  <div class="one wide column"></div>
</div>
      
