<div ng-if="!search.loader.showLoader && !search.error.showError">
    <div class="ui clearing segment content-player-header search-content-header">
        <div class="ui  left floated header margin-auto">
            <p class="serch-allresult">Showing results {{search.searchQuery ? 'for ': ''}}<span class="lower-case">{{search.searchQuery? '"'+search.searchQuery+'"': ''}}  in "{{search.searchType }}"</span></p>
        </div>
        <h5 class="ui right floated basic icon circular button" ng-click="search.close()">
            <i class="ui remove icon"></i>
        </h5>
    </div>
    <div class=" ui stackable four column grid dynamic-section-card ">
        <div class="column " ng-repeat="item in search.searchResult track by $index ">
            <div class="slider link " ng-include=" 'views/common/ratingCard.html' " ng-click="search.playContent(item)"></div>
        </div>
    </div>
</div>

<div ng-if="search.loader.showLoader">
    <app-loader data="{{search.loader}}"></app-loader>
</div>
<div ng-if="search.error.showError">
    <error-message data="{{search.error}}" visibility="search.error.showError"></error-message>
</div>