<div ng-controller="SearchCtrl as search" class="ui grid " ng-init="search.initSearch()">
    <div class=" one wide column "></div>
    <div class="ten wide column ">

        <div ng-if="$root.search.selectedSearchKey=='Resources'" ng-include=" 'views/search/contentSearch.html' ">
        </div>
        <div ng-if="$root.search.selectedSearchKey=='Courses'" ng-include="'views/search/courseSearch.html'">
        </div>
        <div ng-if="$root.search.selectedSearchKey=='All'" ng-include="'views/search/allSearch.html'">
        </div>
        <div ng-if="$root.search.selectedSearchKey=='Users' || $root.search.selectedSearchKey=='Organisations'" ng-include="'views/admin/admin.html'">
        </div>
    </div>
    <div class="one wide column "></div>
</div>
