<app-full-page-modal>
  <div class="sb-account-recover-page relative flex-dc d-flex text-center recover-account-component">
    <div class="sb-account-recoverpage-header">
      <img *ngIf="recoverAccountService.tenantInfo" class="sb-account-recoverpage-logo"
        alt={{recoverAccountService.tenantInfo.tenantName}} src="{{recoverAccountService.tenantInfo.logo}}">
      <div class="mat-title mt-24 font-weight-bold mb-0">{{resourceService?.frmelmnts?.lbl?.recoverAccount}}</div>
    </div>
    <router-outlet></router-outlet>
  </div>
</app-full-page-modal>
