@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.sb-account-recover-page {
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
  
    @include respond-above(xs) {
      max-width: calculateRem(320px);
      min-height: calculateRem(540px);
    }
    .sb-account-recoverpage-logo {
      height: calculateRem(56px);
    }
  }