<div class="ui grid">
    <div class="one wide column"></div>
    <div class="ten wide column popular-page">
        <div class="ui link cards popular-section" ng-repeat=" section in learn.page ">
            <h4 class="ui header card-section-header ">{{section.display.title.en}}
                <a class="ui red circular inline label">{{section.count}}</a></h4>

            <div class="regular slider " ng-if="section.course.length> 0">
                <div apply-script ng-click="learn.openCourseView(item.identifier, 'OTHER_COURSE')" ng-repeat=" item in section.course track by $index" add-slick>
                    <div ng-include=" 'views/common/ratingCard.html' "></div>

                </div>

                <div ng-if="learn.error.isError ">
                    <error-message data={{learn.error}}></error-message>
                </div>
                <div class="ui inverted dimmer margin-top-20 " ng-class="{true: 'active', false: 'disabled'}[loading] ">
                    <div class="ui text loader ">Featching enrolled courses</div>
                </div>


            </div>
            <br>
        </div>
        <div class="one wide column"></div>
    </div>

</div>
