@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
@use "pages/course-player" as *;
@use 'pages/content-header' as *;

.course-list_title {
  color: var(--gray-800);
  font-size: calculateRem(14px);
  font-weight: bold;
  line-height: calculateRem(24px);
}
.course-list-progress {
  padding: calculateRem(16px);
  &__title {
    color: var(--gray-800);
    font-size: calculateRem(12px);
  }
  &__status {
    color: var(--primary-color);
    font-size: calculateRem(14px);
    font-weight: bold;
  }
  &__barholder {
    margin: 0px;
    height: calculateRem(8px);
  }
  &__info {
    color: var(--gray-800);
    font-size: calculateRem(12px);
  }
}

:host ::ng-deep {
  .ui.progress .bar {
    height: calculateRem(8px) !important;
  }
}

.header-shadow {
  min-height: calculateRem(80px);
  background-color: var(--gray-0);
  box-shadow: 0 calculateRem(10px) calculateRem(10px) calculateRem(-10px) rgba(var(--rc-rgba-black), 0.025);
  z-index: 99;
}

.chapter-box {
  border-bottom: .0625rem solid var(--gray-100);
  border-radius: calculateRem(2px);
  &:last-child{
    border-bottom: 0px solid var(--gray-100);
    padding-bottom:0px;
  }
}

.certified-course__certificate {
  background-color: var(--rc-E0F1FD);
}