<div *ngIf="!loader">
  <div class="ui container" [appTelemetryImpression]="telemetryCourseImpression">
    <div class="sb-course-details sb-g sb-g--gap24 text-left course-consumption-container">
      <div class="sb-course-details__training sb-g-col-xs-12 sb-g-col-md-9 sb-g-col-lg-9 sb-g-col-xxxl-12">
        <!-- Course details -->
        <div class="training-info" *ngIf="courseHierarchy">
          <h4 class="font-weight-bold">{{generaliseLabelService?.frmelmnts?.lbl?.courseDetails}}</h4>
          <div class="training-relevant mb-16">
            <h6 class="mt-0 mb-8 fsmall training-relevant__heading">
              {{generaliseLabelService?.frmelmnts?.lbl?.courseRelevantFor}}</h6>
            
              <div class="training-relevant__class mb-4 sb-color-gray-400 fnormal" *ngFor="let transformCourse of transformCourseHierarchy" >
                <span>{{ (resourceService?.frmelmnts?.lbl[transformCourse?.labels.toLowerCase()] | transposeTerms: resourceService?.frmelmnts?.lbl[transformCourse?.labels.toLowerCase()] : resourceService?.selectedLang) || transformCourse?.labels }}:
                  &nbsp;</span><span>{{transformCourse?.value}}</span>
              </div>
              <div class="training-relevant__medium mb-4 sb-color-gray-400 fnormal" *ngIf="courseHierarchy?.audience">
                <span>{{resourceService?.frmelmnts?.lbl?.userType}}:&nbsp;</span><span>{{ courseHierarchy?.audience?.join(', ')}}</span>
              </div>
            <div *ngIf="courseHierarchy?.description">
              <label class="fsmall mt-16 mb-8">{{resourceService?.frmelmnts?.lbl?.description}}</label>
              <p *ngIf="!readMore" class="traning-relevant__description sb-color-gray-400 fnormal">
                {{ courseHierarchy?.description | slice:0:200 }}&nbsp;
                <span class="ui cardsKnowMore mouse-pointer"
                  *ngIf="courseHierarchy?.description?.length > 200 && readMore === false"
                  tabindex="0" (click)="readMore = !readMore;">{{resourceService?.frmelmnts?.lbl?.readmore}}</span>
              </p>
              <p *ngIf="readMore" class="traning-relevant__description sb-color-gray-400">
                {{ courseHierarchy?.description}}&nbsp;
                <span class="ui cardsKnowMore mouse-pointer"
                  tabindex="0" (click)="readMore = false;">{{resourceService?.frmelmnts?.lbl?.readless}}</span>
              </p>
            </div>
          </div>
        </div>

        <div class="training-modules my-16">
          <div class="training-modules__title d-flex flex-ai-center mb-16">
            <h4 class="sb-pageSection-title sb-pageSection-title-light">
              {{generaliseLabelService?.frmelmnts?.lbl?.coursestructure}}</h4>
            <button *ngIf="!isExpandedAll"
              class="sb-btn sb-btn-normal sb-btn-outline-primary ml-auto d-flex flex-ai-center" tabindex="0"
              tabindex="0" (click)="isExpandedAll = true; logTelemetry('expand-all', courseHierarchy);"><img
                src="assets/images/plus.png" class="mr-8" alt=""
                width="12px">{{resourceService?.frmelmnts?.lbl?.expandAll}}</button>
            <button *ngIf="isExpandedAll"
              class="sb-btn sb-btn-normal sb-btn-outline-primary ml-auto d-flex flex-ai-center" tabindex="0"
              tabindex="0" (click)="isExpandedAll = false; logTelemetry('collapse-all', courseHierarchy);"><img
                src="assets/images/collapse.png" class="mr-8" alt=""
                width="12px">{{resourceService?.frmelmnts?.lbl?.collapseAll}}</button>
          </div>

          <div class="course-consumption-modules-container" *ngFor="let item of courseHierarchy?.children; let index = index">
            <sb-accordion [multi]="false">
              <sb-accordion-item [expanded]="isExpanded(index)">
                <sb-accordion-header class="sb-bg-color-gray-0">
                  <i class="icon-svg icon-svg--sm icon-tick mr-8"
                    *ngIf="enrolledCourse && item?.consumedContent === item?.contentCount">
                    <svg class="icon">
                      <use xlink:href="./assets/images/sprite.svg#circle-with-check-symbol"></use>
                    </svg>
                  </i>
                  {{item?.name}}
                </sb-accordion-header>
                <sb-accordion-body>
                  <div class="chapter-box sb-g">
                    <section class="sb-g-col-xs-12 sb-g-col-md-12 sb-g-col-lg-12 sb-g-col-xxxl-16">
                      <div *ngIf="item;else noContent">
                        <div
                          *ngIf="item?.mimeType !== 'application/vnd.ekstep.content-collection' && !item?.children?.length">
                          <div class="child-content-padding">
                            <sb-toc-card [content]="item" (tocCardClick)="navigateToContent($event, 'toc-card')"
                              [type]="cardType">
                            </sb-toc-card>
                          </div>
                        </div>
                        <div *ngIf="item?.children?.length">
                          <div *ngFor="let child of item?.children">
                            <div>
                              <sb-toc-child-item [childData]="child"
                                (tocCardClick)="navigateToContent($event, 'child-item')" [type]="cardType" class="sb-toc-child-item">
                              </sb-toc-child-item>
                            </div>
                          </div>
                        </div>
                      </div>
                      <ng-template #noContent>
                        <div class="heading">{{noContentMessage}}</div>
                      </ng-template>
                    </section>
                  </div>
                </sb-accordion-body>
              </sb-accordion-item>
            </sb-accordion>
          </div>
        </div>
      </div>
      <div class="sb-course-details__info sb-g-col-xs-12 sb-g-col-md-3 sb-g-col-lg-3 sb-g-col-xxxl-4">

        <app-public-batch-details [courseId]="courseId" [courseHierarchy]="courseHierarchy"
          (allBatchDetails)="getAllBatchDetails($event)">
        </app-public-batch-details>

        <!-- Credits & License information -->
        <div class="course-player--metadata text-left">
          <app-course-info [courseHierarchy]="courseHierarchy"></app-course-info>
        </div>

      </div>
    </div>
  </div>
</div>

<div *ngIf="loader">
  <app-loader [data]="loaderMessage"></app-loader>
</div>

  <app-modal-wrapper *ngIf="showJoinTrainingModal" [config]="{disableClose: true, size: 'small', panelClass: 'material-modal'}"
    (dismiss)="showJoinTrainingModal = false; logTelemetry('join-training-popup-close')" #joinTrainingModal>
    <ng-template sbModalContent>
      <div class="sb-mat__modal sb-mat__modal--small">
        <div mat-dialog-title class="mb-0">
          <div class="title">{{generaliseLabelService?.frmelmnts?.btn?.enroll}}</div>
          <button aria-label="close dialog" mat-dialog-close class="close-btn"></button>
        </div>

        <div class="sb-mat__modal__content d-flex flex-ai-center flex-jc-center">
          <div>
            <p>{{generaliseLabelService?.frmelmnts?.lbl?.accessToLogin}}</p>
          </div>
        </div>

        <div class="sb-mat__modal__actions"></div>
      </div>
    </ng-template>
  </app-modal-wrapper>

<app-modal-wrapper *ngIf="shareLinkModal" [config]="{disableClose: false, panelClass: 'material-modal'}"
  (dismiss)="closeSharePopup('close-share-link-popup')">
  <ng-template sbModalContent>
    <app-share-link [shareLink]="shareLink" [telemetryShareData]="telemetryShareData">
    </app-share-link>
  </ng-template>
</app-modal-wrapper>