<div>
  <div class="twelve wide column pt-0 pb-15">
    <a class="ui cursor-pointer m-responsive-p-header-fl" routerLink="/profile/bulkUpload/organizationUpload">
      {{resourceService?.frmelmnts?.instn?.t0015}}
    </a>
  </div>
  <div class="twelve wide column pt-0 pb-15">
    <a class="ui cursor-pointer m-responsive-p-header-fl" routerLink="/profile/bulkUpload/userUpload">
      {{resourceService?.frmelmnts?.instn?.t0016}}
    </a>
  </div>
  <div class="twelve wide column pt-0 pb-15">
    <a class="ui cursor-pointer m-responsive-p-header-fl" routerLink="/profile/bulkUpload/checkStatus">
      {{resourceService?.frmelmnts?.lbl?.chkuploadsts}}
    </a>
  </div>
</div>
