@import './variables';

.sb-explore-qr-page-cover {
  //background: $white;
  padding: ($base-block-space * 4) 0 0 0;
  min-height: calc(100vh - 230px);
}

/*get dial code page responsive css*/
.ui.footer.segment {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 989898;
}
.bars.icon.tablet.sunbird-hamburger-menu {
    cursor: pointer;
    position: absolute;
    margin: 0;
    padding-top: 0.5em;
    opacity: .7;
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
}
.get-page-background {
  background: linear-gradient(-90deg, #5C8DB7, #91AECC);
  height: 100vh;
}
.dailcode-page-background {
  background: #f9f9f9;
  height: 100vh;
}
.bars.icon.mobile.sunbird-hamburger-menu {
    cursor: pointer;
    position: absolute;
    margin: 0;
    padding-top: 1.5em; 
}
.dial-section-header {
  //margin-top: 3em;
}
.dial-section-seperater{
  position: absolute;
  height: 70vh;
  border-left: 1px solid #CCCCCC;
  left: 50%;
}
.dail-section-meta {
  color: white;
}
.ui.header.dial-section-header-text {
  //color:#fff;
  font-weight: bold !important;
  font-size: 16px !important;
}
.ui.header .sub.header.dial-section-subheader-text {
  //color: #fff;
  font-size: 14px;
}
.dial-section-input {
  margin-top: 11em;
}
@media screen and  (min-width: 240px) and (max-width: 768px) {
  .dial-section-input {
    margin-top: 3em;
  }
}
@media screen and  (min-width: 320px) and (max-width: 768px) {
  .ui.header.dial-section-header-text {
    padding-top: 4em !important;
  }
}
.dial-code-section-bg {
  //background: #fff;
}
@media only screen and (max-width: 767px) {
  .ui.container.public-responvive-container {    
    margin-right: 0 !important; 
  } 
  .dial-section-seperater{
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .closeBtn-dial-code {
    float:right;
  }
}
@media screen and  (min-width: 320px) and (max-width: 768px) {
  .ui.small.header.popUp-dial-code-header {
    font-size: 1.2em;
  }
}
.menu-public-header{
  border-top: 2px solid rgba(134, 106, 106, 0.13);
}


.sb-explore-qr-container {
  justify-content: center;
  align-items: stretch;
  align-content: space-between;

  .dial-section-column {
    border-right:1px solid rgba(51, 51, 51,0.1);
    flex:50%;
    padding-left: 0;
    h1 {
      color: $gray-800;	font-size: $font-size-md;	
    }
    p {
      color: $gray-800;font-size: $font-size-normal;
    }
  }
  .dial-scan-column {
    flex:50%;
h5 {
  margin-top:40px;
}
  }
}
.pr-60{
  padding-right: 60px !important;
}
