@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.sb-explore-qr-page-cover {
  padding: calculateRem(32px) 0 0 0;
  min-height: calc(100vh - 14.375rem);
}

/*get dial code page responsive css*/

.dial-section-input {
  margin-top: 11em;
}
@media screen and  (min-width: 240px) and (max-width: 768px) {
  .dial-section-input {
    margin-top: 3em;
  }
}

.sb-explore-qr-container {
  justify-content: center;
  align-items: stretch;
  align-content: space-between;

  .dial-section-column {
    border-right:calculateRem(1px) solid rgba(var(--rc-rgba-gray), 0.1);
    flex:50%;
    padding-left: 0;
    h1 {
      color: var(--gray-800);	font-size: var(--h5-font-size);	
    }
    p {
      color: var(--gray-800);font-size: var(--font-size-base);
    }
  }
  .dial-scan-column {
    flex:50%;
h5 {
  margin-top:calculateRem(40px);
}
  }
}
.pr-60{
  padding-right: calculateRem(60px) !important;
}
