@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
@use 'pages/content-header' as *;
.sbgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(291.98px, 1fr));
    grid-gap: 1rem;
    grid-row-gap: 1.5rem;
}
.header-shadow {
    min-height: calculateRem(80px);
    background-color: var(--gray-0);
    box-shadow: 0 calculateRem(10px) calculateRem(10px) calculateRem(-10px) rgba(var(--rc-rgba-black), 0.25);
    z-index: 99;
  }