<div class="ui grid">
    <div class="one wide column"></div>
    <div class="ten wide column">
        <div class="ui grid">
            <div class="three wide column">
                <span class="dashBoardSectionHeading"><i class="bar chart icon"></i> &nbsp;  Admin Dashboard</span></div>
            <div class="right floated six wide column"></div>
            <div class="right floated three wide column padding-right-dropdown">
                <div class="ui dropdown float-ContentRight">
                    <div class="text dashBoardSectionHeading">Creation</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="active item" ng-click="dashboardData.onAfterDatasetChange('creation')" data-dataset="creation">Creation</div>
					    <div class="item" ng-click="dashboardData.onAfterDatasetChange('consumption')" data-dataset="consumption">Consumption</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="one wide column"></div>
</div>

<div>
	<div class="resource-padding ui grid padding-top-10" ng-if="dashboardData.showLoader">
		<div class="one wide column"></div>
		<div class="ten wide column">
			<app-loader></app-loader>
		</div>
	</div>
</div>

<div id="orgCreationDiv" ng-hide="dashboardData.showLoader" class="margin-top-30">
	<div class="resource-padding ui grid">
		<div class="one wide column"></div>
		<div class="ten wide column">
			<div class="ui grid column margin-bottom-10">
				<span class="dashBoardMenuItem cursor-pointer" ng-click="dashboardData.onAfterFilterChange('14d')" id="14d">LAST 14 DAYS</span>
				<span class="dashBoardMenuItem cursor-pointer active" ng-click="dashboardData.onAfterFilterChange('7d')" id="7d">LAST 7 DAYS</span>
				<span class="dashBoardMenuItem cursor-pointer" ng-click="dashboardData.onAfterFilterChange('5w')" id="5w">LAST 5 WEEKS</span>
			</div>

			<div class="ui three cards">
				<div class="card" ng-repeat="item in dashboardData.numericStatArray">
					<div class="content center aligned">
						<div class="meta dashBoardCardText">{{item.name}}</div>
						<h2 class="description dashboardCardSubText">{{item.value}}</h2>
					</div>
				</div>
			</div>

			<div class="ui one column grid">
				<div class="column">
					<canvas id="bar" class="chart chart-line padding-all-10"
					chart-data="dashboardData.data" chart-labels="dashboardData.labels" chart-series="dashboardData.series" chart-colors="dashboardData.colors" chart-options="dashboardData.options" style="background-color:white; border: 1px solid #D4D4D5; border-radius: 5px;">
					</canvas>
				</div>
			</div>
		</div>
	</div>
</div>
