<form class="ui form  addressForm" id="addressForm">
    <div class="ui dividing header margin-top-15 "></div>
    <div apply-script class="inline  fields" ng-init="profileCtrl.newAddress.addType = profileCtrl.ischekedCurrent === true ? 'current' : 'permanent' ">
        <label for="address" class="required">{{$root.frmelmnts.lbl.seladdresstype}}</label>
        <div class="field">
            <div class="ui radio checkbox">
                <input ng-disabled="profileCtrl.disabledPermanent" type="radio" id="addressTypePermanent" name="addressType" value='permanent' ng-checked="!profileCtrl.ischekedCurrent" ng-model="profileCtrl.newAddress.addType">
                <label>{{$root.frmelmnts.lbl.permanent}}</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input ng-disabled="profileCtrl.disabledCurrent " type="radio" id= "addressTypeCurrent" name="addressType" value='current' ng-checked="profileCtrl.ischekedCurrent" ng-model="profileCtrl.newAddress.addType">
                <label>{{$root.frmelmnts.lbl.current}}</label>
            </div>
        </div>
    </div>

    <div class="two fields">
        <div class="field required">
            <label>{{$root.frmelmnts.lbl.addressline1}}</label>
            <input type="text" name="addLine1" ng-model="profileCtrl.newAddress.addressLine1">
        </div>
        <div class="field">
            <label>{{$root.frmelmnts.lbl.addressline2}}</label>
            <input type="text" name="addLine2" ng-model="profileCtrl.newAddress.addressLine2">
        </div>
    </div>
    <div class="two fields">
        <div class=" required field">
            <label>{{$root.frmelmnts.lbl.city}}</label>
            <input type="text" name="city" ng-model="profileCtrl.newAddress.city">
        </div>
        <div class="field">
            <label>{{$root.frmelmnts.lbl.state}}</label>
            <input type="text" name="state" ng-model="profileCtrl.newAddress.state">
        </div>
    </div>
    <div class="two fields">
        <div class=" field">
            <label>{{$root.frmelmnts.lbl.country}}</label>
            <input type="text" name="country" ng-model="profileCtrl.newAddress.country">
        </div>
        <div class="field">
            <label>{{$root.frmelmnts.lbl.pincode}}</label>
            <input type="text" name="pinCode" ng-model="profileCtrl.newAddress.zipCode">
        </div>
    </div>
    <div class="ui error message">
    </div>
    <button class="ui primary button " ng-class="{ 'disabled' : profileCtrl.disableSave}" ng-click="profileCtrl.addAddress(profileCtrl.newAddress); profileCtrl.generateInteractEvent('address')">{{$root.frmelmnts.btn.save}}</button>

</form>
