<form class="ui form jobProfileForm" id="jobProfileForm">
    <div class="ui dividing header margin-top-15 "></div>
    <div class="two fields">

        <div class="  required field">
            <label>{{$root.frmelmnts.lbl.worktitle}}</label>
            <input type="text" name="jobName" ng-model="profileCtrl.newExperience.jobName">
        </div>
        <div class=" field">
            <label>{{$root.frmelmnts.lbl.designation}}</label>
            <input type="text" name="designation" ng-model="profileCtrl.newExperience.role">
        </div>


    </div>
    <div class="two fields">
        <div class="required  field">
            <label>{{$root.frmelmnts.lbl.organization}}</label>
            <input type="text" name="org" ng-model="profileCtrl.newExperience.orgName">
        </div>
        <div class=" field">
            <label>{{$root.frmelmnts.lbl.subjectstaught}}</label>
            <div class="field">
                <select name="subjectstaught" apply-script class="ui fluid dropdown signupMultiple" multiple="" ng-model="profileCtrl.newExperience.subject" ng-value="option.value" ng-options=" subject for subject in ::profileCtrl.subjects">
            </select>
            </div>
        </div>
    </div>

    <div class="inline fields">
        <label for="address">{{$root.frmelmnts.lbl.iscurrentjob}}</label>
        <div class="field">
            <div class="ui radio checkbox ">
                <input type="radio" name="radio" ng-value='true' ng-model="profileCtrl.newExperience.isCurrentJob">
                <label>{{$root.frmelmnts.lbl.tcyes}}</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox ">
                <input type="radio" name="radio" ng-value='false' ng-model="profileCtrl.newExperience.isCurrentJob">
                <label>{{$root.frmelmnts.lbl.tcno}}</label>
            </div>
        </div>
    </div>
    <div class="two fields" ng-init="profileCtrl.getDate()">
        <div apply-script class="field">
            <label>{{$root.frmelmnts.lbl.tcfrom}}</label>
            <div class="ui calendar" id="rangestartAdd">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" name="joiningDate" ng-model="newExperience.joiningDate">
                </div>
            </div>
        </div>

        <div class="field" ng-if="!profileCtrl.newExperience.isCurrentJob">
            <label>{{$root.frmelmnts.lbl.tcto}}</label>
            <div apply-script class="ui calendar" id="rangeendAdd">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" name="endDate" ng-model="newExperience.endDate">
                </div>
            </div>
        </div>
    </div>
    <div class="ui error message">
    </div>
    <button class="ui primary button" ng-class="{ 'disabled' : profileCtrl.disableSave}" ng-click="profileCtrl.addExperience(profileCtrl.newExperience); profileCtrl.generateInteractEvent('experience')">{{$root.frmelmnts.btn.save}}</button>

</form>
