<div class="two fields">
    <div class=" field">
        <label>{{$root.frmelmnts.lbl.facebook}}</label>
        <input type="text" name="fb" ng-model="profileCtrl.user.socialMedia.fb.url">
    </div>
    <div class="field">
        <label>{{$root.frmelmnts.lbl.twitter}}</label>
        <input type="text" name="twitter" ng-model="profileCtrl.user.socialMedia.twitter.url">
    </div>
</div>
<div class="two fields">
<div class="field">
    <label>{{$root.frmelmnts.lbl.linkedIn}}</label>
    <input type="text" name="in" ng-model="profileCtrl.user.socialMedia.in.url">
</div>
<div class="field">
    <label>{{$root.frmelmnts.lbl.blog}}</label>
    <input type="text" name="blog" ng-model="profileCtrl.user.socialMedia.blog.url">
</div>
</div>
