
<div class="ui segment br-0 p-0 prominent-filter" *ngIf="showFilters">
  <div class="ui container">
    <div class="ui grid stackable m-0">
      <div class="twelve wide column p-0" *ngIf="refresh">
        <div class="ui accordion">
          <div class="width-100 mt-16">
            <label class="prominent-filter-heading">
              {{resourceService.frmelmnts?.lbl?.explorecontentfrom}}
            </label>
            <i class="mobile only large angle down icon link right-floated pl-15" 
              [ngStyle]="{'transform': collapse === true ? 'rotate(0deg)' : 'rotate(180deg)'}"
              (click)="collapse = !collapse"
              title="{{collapse==true?'Expand':'Collapse'}}" popupInverted
              >
            </i>
          </div>
          <div class="ui active width-100" [suiCollapse]="collapse">
            <form class="ui form">
              <div class="ui grid stackable top aligned my-0">
                <div class="twelve wide tablet twelve wide computer column pb-0">
                  <div class="sb-prominent-filter-container" *ngIf="formFieldProperties">
                    <ng-container *ngIf="formFieldProperties.length <= 4">
                      <div class="sb-prominent-filter-field" *ngFor="let field of formFieldProperties">
                          <label class="mb-10">{{field.label}}</label>
                          <ng-container *ngIf="field.inputType==='select' || field.inputType==='multi-select'">
                              <app-custom-multi-select [inputData]="formInputData[field.code]" [field]="field" (selectedValue)="selectedValue($event, field.code);setFilterInteractData()"></app-custom-multi-select>
                          </ng-container>
                          <ng-container *ngIf="field.code==='topic'">
                            <app-topic-picker [selectedTopics]="formInputData[field.code]" [formTopic]="field" (topicChange)="handleTopicChange($event);setFilterInteractData()"></app-topic-picker>
                          </ng-container>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="formFieldProperties.length > 4">
                      <div class="sb-prominent-filter-field" *ngFor="let field of formFieldProperties">
                          <label class="mb-10">{{field.label}}</label>
                          <ng-container *ngIf="field.inputType==='select' || field.inputType==='multi-select'">
                            <app-custom-multi-select [inputData]="formInputData[field.code]" [field]="field" (selectedValue)="selectedValue($event, field.code);setFilterInteractData()"></app-custom-multi-select>
                          </ng-container>
                          <ng-container *ngIf="field.code==='topic'">
                            <app-topic-picker [selectedTopics]="formInputData[field.code]" [formTopic]="field" (topicChange)="handleTopicChange($event);setFilterInteractData()"></app-topic-picker>
                          </ng-container>
                      </div>
                    </ng-container>
                    <div class="sb-prominent-filter-field">
                      <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="applyFilters()" appTelemetryInteract [telemetryInteractEdata]="applyFilterInteractEdata">
                        {{resourceService.frmelmnts?.btn?.submit}}
                      </button>
                      <button appTelemetryInteract [telemetryInteractEdata]="resetFilterInteractEdata" 
                      class="sb-btn sb-btn-normal sb-btn-outline-primary ml-10 mr-0" (click)="resetFilters()">
                        {{resourceService.frmelmnts?.btn?.reset}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>