<div class="ui segment br-0 p-0 prominent-filter" *ngIf="showFilters">
  <div class="ui container">
    <div class="ui grid stackable">
      <div class="twelve wide column" *ngIf="refresh">
        <div class="ui accordion">
          <div class="width-100 mt-15">
            <label class="prominent-filter-heading">
              {{resourceService.frmelmnts?.lbl?.explorecontentfrom}}
            </label>
            <i class="mobile only large angle down icon link right-floated" 
              [ngStyle]="{'transform': collapse === true ? 'rotate(0deg)' : 'rotate(180deg)'}"
              (click)="collapse = !collapse"
              title="{{collapse==true?'Expand':'Collapse'}}" popupInverted
              >
            </i>
          </div>
          <div class="ui active width-100" [suiCollapse]="collapse">
            <form class="ui form">
              <div class="ui grid stackable top aligned my-0">
                <div class="twelve wide tablet ten wide computer column mobile-p-0">
                  <div class="ui grid" *ngIf="formFieldProperties">
                    <ng-container *ngIf="formFieldProperties.length <= 4">
                      <div class="six wide mobile three wide tablet three wide computer column" *ngFor="let field of formFieldProperties">
                        <div class="field">
                          <label class="mb-10">{{field.label}}</label>
                          <ng-container *ngIf="field.inputType==='select' || field.inputType==='multi-select'">
                              <app-custom-multi-select [inputData]="formInputData[field.code]" [field]="field" (selectedValue)="selectedValue($event, field.code)"></app-custom-multi-select>
                          </ng-container>
                          <ng-container *ngIf="field.code==='topic'">
                            <app-topic-picker [selectedTopics]="formInputData[field.code]" [formTopic]="field" (topicChange)="handleTopicChange($event)"></app-topic-picker>
                          </ng-container>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="formFieldProperties.length > 4">
                      <div class="six wide mobile four wide tablet four wide computer column" *ngFor="let field of formFieldProperties">
                        <div class="field large">
                          <label class="mb-10">{{field.label}}</label>
                          <ng-container *ngIf="field.inputType==='select' || field.inputType==='multi-select'">
                            <app-custom-multi-select [inputData]="formInputData[field.code]" [field]="field" (selectedValue)="selectedValue($event, field.code)"></app-custom-multi-select>
                          </ng-container>
                          <ng-container *ngIf="field.code==='topic'">
                            <app-topic-picker [selectedTopics]="formInputData[field.code]" [formTopic]="field" (topicChange)="handleTopicChange($event)"></app-topic-picker>
                          </ng-container>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="twelve wide tablet two wide computer right aligned top aligned column filter-button">
                  <label class="computer-only mb-5">&nbsp;</label>
                  <a class="searchfilterbutton ui blue tiny button" (click)="applyFilters()" appTelemetryInteract [telemetryInteractEdata]="submitInteractEdata">
                    {{resourceService.frmelmnts?.btn?.submit}}
                  </a>
                  <a class="ml-10 searchfilterbutton ui primary tiny basic button" (click)="resetFilters()">
                    {{resourceService.frmelmnts?.btn?.reset}}
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>