{
    "extends": "standard",
    "globals": {
        "angular": true,
        "_": true
    },
    "rules": {
        "quotes": ["error", "single"],
        "max-len": ["error", 120, 4, {"ignoreUrls": true}]
    }
}
