{
    "extends": "standard",
    "globals": {
        "angular": true,
        "_": true,
        "$": true,
        "moment": true,
        "iziToast": true,
        "org": true,
        "alasql": true
    },
    "rules": {
        "quotes": ["error", "single"],
        "max-len": ["error", 120, 4, {"ignoreUrls": true}]
    }
}
