{
    "extends": "standard",
    "globals": {
        "_": true,
        "$": true,
        "angular": true,
        "alasql": true,
        "iziToast": true,
        "md5": true,
        "moment": true,
        "org": true,
        "qq": true,
        "testData": true,
        "EkTelemetry": true,
        "inject": true,
        "setFixtures": true
    },
    "rules": {
        "indent": ["error", 2],
        "max-len": ["error", 120, 2, {"ignoreUrls": true, "ignoreComments": true}],
        "quotes": ["error", "single"]
    }
}
