.ui.image {
    height: 150px;
    overflow:hidden;
}
.card-component-description {
    color: #7c7b7b;
    font-family: 'sunbirdregularfont';
    font-size: 1em;
    height: 2.8em;
    max-height: 2.8em;
    overflow: hidden;   
    overflow-wrap: break-word;
}

.ui.cards>.card.workspace-card {
    width: 240px;
}