@import "variables";
.sbCard {
  width: 100%;
  border-radius: 4px;
  border: 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  cursor: pointer;
  border: .5px solid #dedede;
  border-bottom: 0;
  &:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);;
    transform: translateY(-2px);
  }
  &:focus {
    outline: $primary-color auto 1px;
  }
  .image {
    width: 70px;
    height: 92px;
    border: $primary-border;
    overflow: hidden;
    display: flex;
    align-items: center;
    min-width: 70px;
    max-width: 70px;
    background-color: $primary-background;
    img {
      object-fit: cover;
      width: 70px;
      height: 92px;
      max-width: 100%;
    }
  }
  .header {
    display: flex;
    align-items: flex-end;
  }
  .meta {
    font-size: 0.8571rem;
    color: $text-lightDark;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 92px;
    overflow: hidden;
    width: calc(100% - 70px);
  }

  &.course {
    justify-content: flex-start;
  }

  &.non-course {
    justify-content: flex-end;
  }

  .topic,
  .subtopic {
    line-height: 1.417em;
    max-height: 2.84em;
    overflow: hidden;
  }

  .avatar {
    height: 30px;
    width: 30px;
    object-fit: cover;
  }

  .ui.label {
    font-size: 0.7857rem;
    padding: 4px 10px;
    border-radius: 4px;
    border: 0.5px solid $card-label-border-color;
    color: $primary-color;
    font-weight: 500;
    width: auto;
    align-self: flex-start;
    background: transparent;
  }

  .sub-header {
    padding: 10px 15px;
  }

  .title {
    font-size: 1rem;
    line-height: 1.429em;
    height: 2.857em;
    margin: 0;
    overflow: hidden;
    padding: 0;
    border: 0;
    font-weight: bold;
    color: $primary-color !important;
  }

  .creator {
    font-size: 1rem;
    height: 1.5em;
    margin-top: 0.5em;
    color: $text-gray;
  }

  .description {
    font-size: 1rem;
    line-height: 1.25em;
    height: 6em;
    color: $text-lightDark;
    padding: 8px 1rem;
    overflow: hidden;
    word-break: break-word;
  }
}

*[lang="hi"] .sbCard .meta {
  line-height: 1.6em;
}