<div ng-init="collection.initilizeView()">
    <div class="ui modal" id="createSlideShowModal" ng-if="collection.showCreateSlideShowModal">
        <div class=" ui segment margin-top-10" ng-show="!collection.createApi.loader.showLoader && !collection.createApi.error.showError">
            <div class=" margin-bottom-15">
                <div class="ui grid">
                    <div class="eleven wide column">
                        <span class="ui header">{{$root.labels.WORKSPACE.createCollection.createCollectionText}}</span>
                    </div>
                    <div class="one wide column actions">
                        <h5 class="ui basic icon circular button deny" ng-click="collection.hideCreateSlideShowModal();">
                            <i class="ui remove icon"></i>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="content">
                <form class="ui form" ng-init="collection.data = {}">
                    <div class="field">
                        <label>{{$root.labels.WORKSPACE.common.title}}</label>
                        <div class="field">
                            <input type="text" name="title" placeholder={{$root.labels.WORKSPACE.createCollection.collectionTitle}} ng-model="collection.data.name">
                        </div>
                    </div>
                    <div class="field">
                        <div class="field">
                            <label>{{$root.labels.WORKSPACE.common.description}}</label>
                            <div class="field">
                                <textarea name="description" name="title" placeholder={{$root.labels.WORKSPACE.createCollection.description}} ng-model="collection.data.description"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="actions margin-top-10">
                <p class="text-align-center padding-top-20">
                    <button class="ui primary text-align-center icon button" ng-click="collection.saveMetaData(collection.data)">
                        {{$root.labels.WORKSPACE.common.startCreating}}
                    </button>
                </p>
                <h4 class="text-align-center">{{$root.labels.WORKSPACE.common.youCanFillThisDL}}</h4>
                <div>
                    <label>
                        <p class="text-align-center">{{$root.labels.WORKSPACE.common.byProceedYouAgreedCollection}}</p>
                    </label>
                </div>
            </div>
        </div>
        <div class=" ui segment margin-top-10" ng-if="collection.createApi.loader.showLoader">
            <app-loader data="{{collection.createApi.loader}}"></app-loader>
        </div>
        <div class=" ui segment margin-top-10" ng-if="collection.createApi.error.showError">
            <error-message data="{{collection.createApi.error}}" visibility="collection.createApi.error.showError"></error-message>
        </div>
    </div>
</div>
