<div class="ui grid">
    <div class="one wide column"></div>
    <div class="ten wide column">
        <div class="row" ng-if="previewContent.loader.showLoader">
            <app-loader data="{{previewContent.loader}}"></app-loader>
        </div>
        <div class="row margin-top-10">
            <div class='videosegment ui segment'>
                <div class='content-player-body'>
                    <div class="videosegment  ui clearing segment">
                        <h1 class="ui HomeAccordianHeading left floated header margin-auto">
                            {{previewContent.contentData.name}}
                        </h1>
                        <h5 class="ui right floated basic icon circular button" ng-click="previewContent.closePreview()">
                            <i class="ui remove icon"></i>
                        </h5>
                    </div>
                    <div class="ui stackable twelve column grid">
                        <div class="twelve wide column">
                            <div class="content-player" ng-if="(previewContent.contentData.mimeType === 'application/vnd.ekstep.ecml-archive' || previewContent.contentData.mimeType === 'application/vnd.ekstep.html-archive') && previewContent.showIFrameContent">
                                <iframe id="contentViewerIframe" class="contentViewerIframeShadow" height='100%' width='100%'></iframe>
                            </div>
                            <div apply-script id="content-video-player-holder" class="content-player" videosrc="{{previewContent.contentData.artifactUrl}}" videotype="{{previewContent.contentData.mimeType}}" ng-if="previewContent.contentData.mimeType !== 'video/youtube' && previewContent.contentData.mimeType.indexOf('video') > -1">
                                <video height='100%' width='100%' id="content-video-player" class="video-js vjs-default-skin player-video" controls preload="auto" data-setup='{"controls":true}'>
                                    <source src="{{previewContent.contentData.artifactUrl}}" type='{{previewContent.contentData.mimeType}}' />

                                </video>
                            </div>
                            <div class="content-player" ng-if="previewContent.contentData.mimeType === 'video/youtube'" apply-script id="content-video-player-youtube-holder" videosrc="{{previewContent.contentData.artifactUrl}}">

                                <video height='100%' width='100%' id="content-video-player-youtube" class="video-js vjs-default-skin player-video" controls data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": ""}] }'></video>
                            </div>
                            <div ng-if="previewContent.contentData.mimeType === 'application/pdf'" class="pdf-editor content-player">
                                <div class="ui segment margin-auto pdf-toolbar-padding" ng-init="previewContent.getTotalPage();">
                                    <span class="ui six wide column">

                                        <i class="large arrow left icon link" ng-click="previewContent.previous()"></i>
                                        <i class="large arrow right icon link" ng-click="previewContent.next()"></i>
                                        <i class="large plus icon link" ng-click="previewContent.zoomIn()"></i>
                                        <i class="large minus icon link" ng-click="previewContent.zoomOut()"></i>
                                        <i class="large repeat icon link" ng-click="previewContent.rotate()"></i>
                                    </span>
                                    <span class="right-float">
                                        {{$root.labels.WORKSPACE.previewContent.page}}
                                        <input type="number" min="1" max="{{previewContent.totalPageNumber}}" ng-value="previewContent.getCurrentPage" ng-model="previewContent.inputPageNumber" class="ui input" ng-change="previewContent.goToPage(inputPageNumber)"> Of {{previewContent.totalPageNumber}}
                                    </span>
                                </div>
                                <pdf-viewer delegate-handle="content-player" url="previewContent.contentData.artifactUrl" scale="1.5" show-toolbar="false"></pdf-viewer>
                            </div>
                            <div class="content-player" ng-if="previewContent.contentData.mimeType.indexOf('image') > -1">
                                <img height='100%' width='100%' ng-src="{{previewContent.contentData.artifactUrl}}" />
                            </div>
                            <div class="videosegment  ui clearing segment" ng-if="previewContent.contentData.status === 'Review' && previewContent.isShowPublishRejectButton">
                                <button sb-permissions permission-only="CONTENT_REVIEWER" ng-if="previewContent.isShowPublishRejectButton" ng-disabled="previewContent.loader.showLoader" class="ui right floated primary button mouse-pointer" ng-click="previewContent.publishContent()">
                                    {{$root.labels.WORKSPACE.previewContent.publish}}
                                </button>
                                <button sb-permissions permission-only="CONTENT_REVIEWER" ng-if="previewContent.isShowPublishRejectButton" ng-disabled="previewContent.loader.showLoader" class="ui right floated primary button mouse-pointer" ng-click="previewContent.rejectContent()">
                                    {{$root.labels.WORKSPACE.previewContent.reject}}
                                </button>
                            </div>
                            <div class="videosegment  ui clearing segment" ng-if="previewContent.contentData.status === 'Flagged' && previewContent.isShowFlagActionButton">
                                <button sb-permissions permission-only="FLAG_REVIEWER" ng-if="previewContent.isShowFlagActionButton" ng-disabled="previewContent.loader.showLoader" class="ui right floated primary button mouse-pointer" ng-click="previewContent.deleteContent()">
                                    {{$root.labels.WORKSPACE.previewContent.delete}}
                                </button>
                                <button sb-permissions permission-only="FLAG_REVIEWER" ng-if="previewContent.isShowFlagActionButton" ng-disabled="previewContent.loader.showLoader" class="ui right floated primary button mouse-pointer" ng-click="previewContent.acceptContentFlag(previewContent.contentData)">
                                    {{$root.labels.WORKSPACE.previewContent.accept}}
                                </button>
                                <button sb-permissions permission-only="FLAG_REVIEWER" ng-if="previewContent.isShowFlagActionButton" ng-disabled="previewContent.loader.showLoader" class="ui right floated primary button mouse-pointer" ng-click="previewContent.discardContentFlag(previewContent.contentData)">
                                    {{$root.labels.WORKSPACE.previewContent.discard}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="previewContent.errorObject.showError">
                        <div class="ui active dimmer inverted">
                            <div class="content">
                                <div class="ui center aligned header" ng-if="!previewContent.errorObject.showMetaLoader">
                                    <h2 class="ui header {{previewContent.errorObject.messageClass}}">
                                        {{previewContent.errorObject.message}}
                                    </h2>
                                    <button class="ui button margin-bottom-15" ng-if="previewContent.errorObject.showTryAgainButton" ng-click="previewContent.tryAgain()">{{$root.labels.WORKSPACE.previewContent.tryAgain}}</button>
                                    <button class="ui red button margin-bottom-15" ng-if="previewContent.errorObject.showCloseButton" ng-click="previewContent.closePreview()">{{$root.labels.WORKSPACE.previewContent.close}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top-15" ng-if="!previewContent.errorObject.showError">
            <h2 class="ui header" title="Description">
                {{previewContent.contentData.description}}
            </h2>
            <div class="ui clearing divider"></div>
            <div class="ui grid margin-top-15">
                <div class="row">
                    <div class="three wide column">
                        <div class="ui list">
                            <div class="item">
                                <div class="content">
                                    <div class="header">{{$root.labels.WORKSPACE.previewContent.author}}</div>
                                    <div class="description padding-top-1rem">{{previewContent.contentData.author}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="three wide column">
                        <div class="ui list">
                            <div class="item">
                                <div class="content">
                                    <div class="header">{{$root.labels.WORKSPACE.previewContent.language}}</div>
                                    <div class="description padding-top-1rem">{{previewContent.contentData.language.toString()}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="three wide column">
                        <div class="ui list">
                            <div class="item">
                                <div class="content">
                                    <div class="header">{{$root.labels.WORKSPACE.previewContent.grades}}</div>
                                    <div class="description padding-top-1rem">{{previewContent.contentData.gradeLevel.toString()}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="three wide column">
                        <div class="ui list">
                            <div class="item">
                                <div class="content">
                                    <div class="header">{{$root.labels.WORKSPACE.previewContent.subject}}</div>
                                    <div class="description padding-top-1rem">{{previewContent.contentData.subject}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="three wide column">
                        <div class="ui list">
                            <div class="item">
                                <div class="content">
                                    <div class="header">{{$root.labels.WORKSPACE.previewContent.lastUpdate}}</div>
                                    <div class="description padding-top-1rem">{{previewContent.contentData.lastUpdatedOn| dateFilterWithMDY}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="three wide column">
                        <div class="ui list">
                            <div class="item">
                                <div class="content">
                                    <div class="header">{{$root.labels.WORKSPACE.previewContent.createdOn}}</div>
                                    <div class="description padding-top-1rem">{{previewContent.contentData.createdOn| dateFilterWithMDY}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="three wide column">
                        <div class="ui list">
                            <div class="item">
                                <div class="content">
                                    <div class="header">{{$root.labels.WORKSPACE.previewContent.status}}</div>
                                    <div class="description padding-top-1rem">{{previewContent.contentData.status}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="three wide column">
                        <div class="ui list">
                            <div class="item">
                                <div class="content">
                                    <div class="header">{{$root.labels.WORKSPACE.previewContent.medium}}</div>
                                    <div class="description padding-top-1rem">{{previewContent.contentData.medium}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="three wide column" ng-if="previewContent.contentData.concepts">
                        <div class="ui list">
                            <div class="item">
                                <div class="content">
                                    <div class="header">{{$root.labels.WORKSPACE.common.concept}}</div>
                                    <div class="description padding-top-1rem">{{previewContent.getConceptsNames(previewContent.contentData.concepts)}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="three wide column" ng-if="previewContent.contentData.status === 'Flagged'">
                        <div class="ui list">
                            <div class="item">
                                <div class="content">
                                    <div class="header">{{$root.labels.WORKSPACE.previewContent.flaggedReasons}}</div>
                                    <div class="description padding-top-1rem">{{previewContent.contentData.flagReasons.toString()}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="three wide column" ng-if="previewContent.contentData.status === 'Flagged'">
                        <div class="ui list">
                            <div class="item">
                                <div class="content">
                                    <div class="header">{{$root.labels.WORKSPACE.previewContent.flaggedBy}}</div>
                                    <div class="description padding-top-1rem">{{previewContent.contentData.flaggedBy.toString()}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="previewContent.contentData.status === 'Flagged' && previewContent.contentData.flags">
                    <div class="twelve wide column">
                        <div class="ui list">
                            <div class="item">
                                <div class="content">
                                    <div class="header">{{$root.labels.WORKSPACE.previewContent.flaggedDescription}}</div>
                                    <div class="description padding-top-1rem">{{previewContent.contentData.flags.toString()}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" one wide column "></div>
    </div>
</div>