<div ng-init="upForReviewContent.getUpForReviewContent()">
    <div ng-if="!upForReviewContent.loader.showLoader">
        <div class="ui three stackable cards" ng-if="upForReviewContent.upForReviewContentData.length > 0">
            <div class="link card mouse-pointer" ng-repeat="item in upForReviewContent.upForReviewContentData track by $index" ng-click="upForReviewContent.openContentPlayer(item)">
                <div class="image imageInCardsResponsive">
                    <div class="ui fluid image">
                        <a class="ui black right ribbon label">{{item.contentType}}</a>
                        <img ng-src=" {{item.appIcon ? item.appIcon : '../images/sunbird_logo.png'}} ">
                    </div>
                    <div class="cardImageText center aligned ">
                        <span class="sliderCardHeading text-cencapitalize">
                            {{ item.name | limitTo: 15 }}&nbsp;<i ng-show="item.name.length >= 15" class="ellipsis horizontal icon popup-button link" data-content="{{item.name}}" data-variation="wide"></i>
                        </span>
                    </div>
                </div>
                <div class="sliderCards content">
                    <span class="sliderCardSubDesc">
                        <span>
                            {{ item.description | limitTo: 70 }}&nbsp;<i ng-show="item.description.length >= 70" class="ellipsis horizontal icon popup-button link" data-content="{{item.description}}" data-variation="wide"></i>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="ui huge positive message" ng-if="upForReviewContent.upForReviewContentData.length === 0">
            <p>{{$root.errorMessages.WORKSPACE.UP_FOR_REVIEW.NO_CONTENT}}</p>
        </div>
    </div>
    <div class="twelve wide column" ng-if="upForReviewContent.loader.showLoader">
        <app-loader data="{{upForReviewContent.loader}}"></app-loader>
    </div>
</div>