<h4 class="workspaceicon ui header sectionHeading margin-top-20"><i class="database icon"></i>
    <span>
        {{$root.labels.WORKSPACE.myWorkSpaceText}}
    </span>
</h4>
<div class="publicmenusection ui secondary vertical menu">
    <a class="item" ui-sref="WorkSpace.ContentCreation" ui-sref-active="active" sb-permissions permission-only="CONTENT_CREATOR,CONTENT_CREATION,CONTENT_REVIEWER,CONTENT_REVIEW">
        {{$root.labels.WORKSPACE.start}}
    </a>
    <a class="item" ui-sref="WorkSpace.DraftContent" ui-sref-active="active" sb-permissions permission-only="CONTENT_CREATOR,CONTENT_CREATION,CONTENT_REVIEWER,CONTENT_REVIEW">
        {{$root.labels.WORKSPACE.drafts}}
    </a>
    <a class="item" ui-sref="WorkSpace.ReviewContent" ui-sref-active="active" sb-permissions permission-only="CONTENT_CREATOR,CONTENT_CREATION,CONTENT_REVIEWER,CONTENT_REVIEW">
        {{$root.labels.WORKSPACE.inReview}}
    </a>
    <a class="item" ui-sref="WorkSpace.PublishedContent" ui-sref-active="active" sb-permissions permission-only="CONTENT_CREATOR,CONTENT_CREATION,CONTENT_REVIEWER,CONTENT_REVIEW">
        {{$root.labels.WORKSPACE.published}}
    </a>
    <a class="item" ui-sref="WorkSpace.AllUploadedContent" ui-sref-active="active" sb-permissions permission-only="CONTENT_CREATOR,CONTENT_CREATION,CONTENT_REVIEWER,CONTENT_REVIEW">
        {{$root.labels.WORKSPACE.allUploads}}
    </a>
    <a class="item" ui-sref="WorkSpace.UpForReviewContent" ui-sref-active="active" sb-permissions permission-only="CONTENT_REVIEWER,CONTENT_REVIEW">
        {{$root.labels.WORKSPACE.upForReview}}
    </a>
    <a class="item" ui-sref="WorkSpace.FlaggedContent" ui-sref-active="active" sb-permissions permission-only="FLAG_REVIEWER">
        {{$root.labels.WORKSPACE.flagged}}
    </a>
</div>