@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
@use "components/tabs" as *;

.font-size-inherit {
  font-size: inherit !important;
}

@include respond-below(sm) {
  .activity-search{
    margin: 0 !important;
    @include respond-below(sm){
      html[dir='rtl'] .activity-search {
        margin-left: 0 !important;
      }
    }
  }
}