@import "components/tabs";
@import "mixins/mixins";
.section-header {
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
  &__title {
    font-family: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    height: calculateRem(24px);
    color: var(--primary-color);
    font-size: calculateRem(18px);
    font-weight: 700;
    text-transform: capitalize;
    line-height: calculateRem(26px);
    display: flex;
    align-items: center;
    .badge {
      display: inline-block;
      background: var(--sbt-badge-bg);
    color: var(--sbt-badge-text);
      text-align: center;
      padding: 0 calculateRem(12px);
      border-radius: calculateRem(4px);
      height: calculateRem(24px);
      line-height: calculateRem(24px);
      font-size: calculateRem(16px);
      font-weight: 400;
      margin-left: calculateRem(8px);
      html[dir="rtl"] & {
        margin-right: calculateRem(8px);
        margin-left: inherit;
      }
    }
  }
}

.dropdown-menu-content {
  position: absolute;
  border-radius: calculateRem(2px);
  background-color: var(--white);
  box-shadow: 0 calculateRem(3px) calculateRem(5px) calculateRem(4px) rgba(var(--rc-rgba-black), 0.05);
  padding: calculateRem(16px);
  z-index: 1;
  text-align: left;
  right: calculateRem(10px);
  top: calculateRem(10px);
  .list {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:first-child {
      margin-bottom: calculateRem(8px);
      &:hover {
        span {
          color: var(--primary-color);
        }
      }
    }
    &:hover {
      span {
        color: var(--red-400);
      }
    }
    span {
      font-size: calculateRem(14px);
      padding-left: calculateRem(8px);
    }
  }
}

.content-header {
  background: var(--groups-content-header);
  min-height: calculateRem(14px);
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include respond-below(sm) {
      display: block;
    }
  }

  &__title {
    color: var(--primary-400);
    font-size: calculateRem(18px);
  }
  &__info {
    color: var(--gray-800);
    font-size: calculateRem(14px);
    align-items: center;
    @include respond-below(sm) {
      flex-direction: column;
      margin-top: calculateRem(8px) !important;
      align-items: flex-start;
      button{
        margin-top: calculateRem(8px);
      }
    }
  }
}
.sb-pagesection-activity {
  font-size: calculateRem(18px);
}
.sb-pageSection-activity-title {
  color: var(--primary-400);
}

@include respond-below(sm) {
  .sb-filter-btn{
    margin-top: calculateRem(16px);
  }
  .activity-search{
    margin: 0 !important;
  }
}
::ng-deep {
  @include respond-below(sm){
    html[dir='rtl'] .activity-search {
      margin-left: 0 !important;
    }
  }
}