@import "../../../../../../node_modules/@project-sunbird/sb-styles/assets/mixins/mixins";
@import "../../../../../../node_modules/@project-sunbird/sb-styles/assets/mixins/custom-mixins";

.question-card {
  border-radius: 28px;
  padding: 50px;
  width: 100%;
  margin-bottom: 50px;
}

.question-card:last-child {
  margin-bottom: 50px;
}

:host {
  .question-card.sb--card,
  .sb-radio-btn-checkbox {
    width: 100%;
    background-color: var(--sb-card-bg);
    color: var(--primary-color);
  }
  label {
    color: var(--body-color);
  }
}

:host ::ng-deep {
  .question-card {
    .sb-checkbox label,
    .sb-radio-btn-checkbox label {
      color: var(--body-color);
      font-weight: normal;
    }

    #range {
      background-color: var(--sb-card-bg);
    }

    .student-card {
      background-color: var(--sb-card-bg);
    }
    .question-date-input {
      background: var(--cc-sbcard-data1-bg);
    }
  }
}

.remarks{
  margin-top: 15px;
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
}