<div class="ui container">
  <div class="ui grid stackable mt-20">
    <div class="row">
      <div class="twelve wide column">
        <div *ngIf="toDoList.length > 0 && !showLoader" class="ui styled accordion p-15 width-100">
          <span class="todo-heading">{{resourceService.frmelmnts?.scttl?.todo}}</span>
          <span class="ui red d-inline label small ml-5 py-3">{{toDoList.length}}</span>
          <span title="{{collapse==true?'Expand':'Collapse'}}"
            popupInverted>
            <i 
              class="large angle down icon pt-5 right-float link" 
              [ngStyle]="{'transform': collapse === true ? 'rotate(0deg)' : 'rotate(180deg)'}"
              (click)="collapse = !collapse">
            </i>
          </span>
          <div class="ui active mt-20" [suiCollapse]="collapse" [appTelemetryImpression]="telemetryImpression">
            <ngx-slick in-view-container (inview)="inview($event)" [throttle]="[1000]" [trigger]="toDoList" class="carousel" #slickModal="slick-modal"
              [config]="slideConfig" (afterChange)="inviewChange(toDoList,$event)" (beforeChange)="checkSlide($event)" appTelemetryInteract  [telemetryInteractEdata]="{id: btnArrow, type: 'click', pageid: 'home', extra: { section: 'ToDo'}}">
              <div in-view-item ngxSlickItem *ngFor="let item of toDoList; trackBy: trackByFn;let i = index" class="slide" [id]="i" [data]="item">
                <div *ngIf=" item.type !== 'profile'">
                  <app-card appContentDirection [data]="item" (clickEvent)="playContent($event)" [customClass]="'pr-20'" class="pr-20 d-block"></app-card>
                </div>
              </div>
            </ngx-slick>
          </div>
        </div>
      </div>
      <div class="twelve wide column mt-20" *ngIf="showLoader">
        <app-loader [data]='loaderMessage'></app-loader>
      </div>
      <div class="eight wide column">
        <app-home-announcement class="d-block mt-20" (inviewEvent)="anouncementInview($event)"></app-home-announcement>
        <app-home-feed-card class="d-block mt-20"></app-home-feed-card>
      </div>
      <div class="four wide column">
        <app-notification class="d-block mt-20"></app-notification>
        <app-home-calendar-card class="d-block mt-20"></app-home-calendar-card>
      </div>
    </div>
  </div>
  <app-browser-compatibility></app-browser-compatibility>
</div>