<div class="il-sc-container">
    <div class="il-sc-header">
        <h2>Concepts Covered</h2>
    </div>
    <div class="concept_box">
        <div class="conceptLayout">
            <div ng-repeat="concept in coveredConcpets">
                <div ng-click="selectCoveredConcept(concept)" class="conceptDiv" ng-class="{'activeConceptDiv' : concept.title == selectedCoveredConcept}">
                    <span class="coveredConcept">{{concept.title}}</span>
                    <br>
                    <p class="child_description">
                        {{concept.description | limitTo:100}}
                        <span ng-if="concept.description.length > 200">...</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="coveredCCLayout">
            <div class="loadingDiv" ng-show="conceptBrowserShowLoadingImge">
                <img src="/img/loading.gif">
            </div>
            <div class="list-unstyled" id="conceptBrowserContentsDiv">
                <li class="padTop padBottom borderBottom" ng-repeat="content in conceptBrowserContents">
                    <div class="row contentRow" ng-mouseover="contentMouseOver($event)" ng-mouseleave="contentMouseLeave($event)">
                        <div class="col-md-10" style="padding-left: 10px">
                            <span class="sup_name">
                                <span ng-switch on="content.mediaType">
                                    <span class="glyph16 icon icon-video-file" ng-switch-when="video"></span>
                                    <span class="glyph16 icon icon-audio" ng-switch-when="audio"></span>
                                    <span class="glyph16 icon icon-images" ng-switch-when="image"></span>
                                    <span class="glyph16 icon icon-preview" ng-switch-when="text"></span>
                                    <span class="glyph16 icon icon-richtext-html" ng-switch-when="richtext"></span>
                                    <span class="glyph16 icon icon-slideshow1" ng-switch-when="slides"></span>
                                    <span class="glyph16 icon icon-pdf" ng-switch-when="document"></span>
                                    <span class="glyph16 icon icon-url" ng-switch-when="url"></span>
                                    <span class="glyph16 icon icon-mcq" ng-switch-when="mcq"></span>
                                    <span class="glyph16 icon icon-mcq" ng-switch-when="test"></span>
                                    <span class="glyph16 icon icon-video-file" ng-switch-default></span>
                                </span>
                                &nbsp;<span class="child_links">{{content.name}}</span>
                            </span>
                        </div>
                        <div class="col-md-2 playButton hide">
                            <a href="#/playCategory/{{content.mainCategory}}/{{selectedCoveredConceptShotId}}/{{content.shortId}}" ng-click="setConceptPath(selectedCoveredConceptShotId)" class="pull-right">
                                <img class="img24" src="/img/circle_play.png" />
                            </a>
                        </div>
                        <div class="col-md-12" style="padding-left: 10px">
                            <span class="common_content">
                                {{content.description | limitTo:200}}
                                <span ng-if="content.description.length > 200">...</span>
                            </span>
                            <span class="label label-warning marginRight5 categoryLabel" ng-repeat="label in content.categories">{{label}}</span>
                        </div>
                    </div>
                </li>
                <li class="padTop padBottom borderBottom" ng-if="conceptBrowserContents.length == 0">
                    <div class="row contentRow">
                        <div class="col-md-12" style="padding-left: 10px">
                            <span class="sup_name">
                                No content found for the select concept -
                                <span style="text-transform:capitalize;">{{selectedCoveredConcept}}</span>
                            </span>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
    <div>