@import "mixins/mixins";

.devided-line {
    border-bottom: calculateRem(0.5px) solid var(--gray-100);
}
.member-no-result {
    .no-result-text {
        font-size: calculateRem(14px);
    }
    .no-result-desc {
        font-size: calculateRem(12px);
        color: var(--gray-200);
    }
}

.kabab-menu{
    color: var(--primary-400);
    width: calculateRem(30px);
    height: calculateRem(30px);
    line-height: calculateRem(28px);
    text-align: center;
    border-radius: 50%;
    padding-left: calculateRem(6px);
    &:hover{
      background: var(--gray-0);
      cursor: pointer;
    }
    &::after {
      content: '\2807';
      font-size: calculateRem(24px);
    }
  }
  
.kabab-menu-dropdown-content {
    position: absolute;
    border-radius: calculateRem(2px);
    background-color: var(--kabab-menu-dropdown-bg);
    box-shadow: 0 calculateRem(3px) calculateRem(5px) calculateRem(4px) rgba(var(--rc-rgba-black), 0.05);
    padding: calculateRem(8px);
    z-index: 1;
    text-align: left;
    right: 0;
    top: 0;
    min-width: calculateRem(170px);

    .list {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: calculateRem(14px);
        padding: calculateRem(8px);
        &:hover {
            color: var(--primary-400);
            background-color: var(--kabab-menu-dropdown-item-active);
          }
    }
}
::ng-deep {
  html[dir='rtl'] .kabab-menu-dropdown-content {
    right:auto;
    left:0;
  }
}

.icon-input-close {
	position: absolute;
	top: calculateRem(4px);
	right: calculateRem(4px);
	cursor: pointer;
	width: calculateRem(24px);
	height: calculateRem(24px);

	html[dir="rtl"] & {
		left: calculateRem(8px);
		right: inherit;
	}
}