<div class="flex-dc d-flex p-16 py-24 mat-app-background br-24 group-members-component">
  <div class="mat-subheading-1 font-weight-bold mb-8 px-8 text-left">
    {{resourceService?.frmelmnts?.lbl?.members}} <span *ngIf="config?.showMemberCount"
      class="badge">{{groupData?.members?.length}}</span>
  </div>

  <span *ngIf="config?.showSearchBox">
    <mat-form-field class="w-100 sb-mat-form-field-custom border-radius mb-16" appearance="fill">
      <mat-icon matPrefix aria-hidden="true">search</mat-icon>
      <mat-label for="search-within-group">{{resourceService?.frmelmnts?.lbl?.searchWithinGroup}}</mat-label>
      <input matInput id="search-within-group" type="text" #searchInputBox (input)="search(searchInputBox.value)"
        [placeholder]="resourceService?.frmelmnts?.lbl?.searchWithinGroup">
      <button matSuffix mat-icon-button aria-label="Clear" (click)="resetValue();">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- <div class="sb-search-box no-btn mb-16">
      <div class="input-div relative">
        <i class="search icon" aria-hidden="true"></i>
        <label for="search-within-group" class="hide">{{resourceService?.frmelmnts?.lbl?.searchWithinGroup}}</label>
        <input class="sb-search-input" id="search-within-group" type="text" #searchInputBox (input)="search(searchInputBox.value)"
          [placeholder]="resourceService?.frmelmnts?.lbl?.searchWithinGroup"/>
          <i class="icon close mt-4" (click)="resetValue();"></i>
      </div>
      <button class="sb-btn sb-btn-normal">{{resourceService?.frmelmnts?.lbl?.search}}</button>
    </div> -->
  </span>
  <button mat-button color="accent" *ngIf="showAddMember()" tabindex="0"
    (click)="addMember();addTelemetry('add-member-btn', '', { type: ADD_MEMBER})"><mat-icon>person_add</mat-icon>
    {{resourceService?.frmelmnts?.lbl?.addMember}}</button>
  <mat-divider class="my-8"></mat-divider>
  <span *ngIf="memberListToShow?.length && !showLoader">
  <div *ngFor="let member of memberListToShow">
    <sb-member-card [title]="member?.title" [identifier]="member?.identifier" [config]="memberCardConfig"
      [isAdmin]="member?.isAdmin" [isMenu]="member?.isMenu && groupData?.active" [indexOfMember]="member?.indexOfMember"
      [initial]="member?.initial" (menuClick)="getMenuData($event, member)">
    </sb-member-card>
    <div class="kabab-menu-dropdown-content" *ngIf="showKebabMenu && selectedMember?.identifier === member?.identifier">
      <div class="list mb-8" tabindex="0" (click)="openModal('promoteAsAdmin')" *ngIf="!member?.isAdmin">
        <span>{{resourceService?.frmelmnts?.btn?.makeAdmin}}</span>
      </div>
      <div class="list mb-8" tabindex="0" (click)="openModal('dismissAsAdmin')"
        *ngIf="member?.isAdmin && !member?.isCreator">
        <span>{{resourceService?.frmelmnts?.btn?.dismissAdmin}}</span>
      </div>
      <div class="list sb-color-error" tabindex="0" (click)="openModal('removeFromGroup')" *ngIf="!member?.isCreator">
        <span>{{resourceService?.frmelmnts?.btn?.removeMember}}</span>
      </div>
    </div>
  </div>
</span>
  <div class="d-flex flex-dc" *ngIf="showLoader"><!--showLoader && !memberListToShow?.length -->
    <sb-member-card *ngFor="let item of [0,1,2,3]" [isLoading]="true" [config]="memberCardConfig"></sb-member-card>
  </div>
  <!--No search results -->
  <div class="d-flex flex-dc flex-jc-center flex-ai-center text-center my-24"
    *ngIf="memberListToShow?.length < 2 && !showSearchResults">
    <img width="197" alt="" src="./assets/images/add-member@2x.svg">
  </div>
  <div class="pt-32" *ngIf="showSearchResults && !memberListToShow?.length">
    <div class="d-flex flex-dc flex-jc-center flex-ai-center text-center">
      <img alt="" height="165" width="206" src="./assets/images/group-search-empty.svg">
      <div class="mt-16 mat-body-2">
        {{resourceService?.frmelmnts?.lbl?.NoSerchGroupMemberResults}}
      </div>
      <div class="my-8 mat-body-2 hide">
        <div>{{resourceService?.frmelmnts?.lbl?.checkYourSpelling}}</div>
        <div>{{resourceService?.frmelmnts?.lbl?.similarButDiffName}}</div>
      </div>
    </div>
  </div>
</div>

<app-member-actions *ngIf="showModal" [action]="memberAction" [member]="selectedMember" (modalClose)="onModalClose()"
  (actionConfirm)="onActionConfirm($event)"></app-member-actions>