@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
@use "pages/kabab-menu" as *;
.devided-line {
    border-bottom: calculateRem(0.5px) solid var(--gray-100);
}
.member-no-result {
    .no-result-text {
        font-size: calculateRem(14px);
    }
    .no-result-desc {
        font-size: calculateRem(12px);
        color: var(--gray-200);
    }
}
