@import "variables";
@import "mixins/mixins";

.help-faq__report {
  width: 100%;
  padding: 32px;
  min-height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--white) !important;
  &_text {
    font-weight: bold;
  }
}

.help-faq__text {
  font-size: $font-size-md;
  font-weight: $font-weight-bold;
  text-align: center;
  color: var(--gray-800);
}

.sb-report-content {
  .sb-icon {
    padding: ($base-block-space * 2) 0px ($base-block-space);
    & img {
      width: ($base-block-space * 4);
      height: ($base-block-space * 4);
    }
  }
  .sb-success-text {
    margin: calculateRem(12px) auto ($base-block-space * 3);
    color: var(--primary-400);
  }
  .sb-success-para {
    margin: calculateRem(12px) auto ($base-block-space * 5);
    opacity: 0.8;
  }
}
