<div class="courseStructureHeader mt-10">
    <div class="ui container">
        <div class="ui stackable padded grid m-responsive-cp-nmt-50">
            <div class="row">
            <div class="twelve wide column px-0">
                <div class="ui stackable grid">
                    <div class="nine wide column">
                        <h1 class="ui header small">
                            {{courseHierarchy.name}}
                        </h1>
                        <sui-rating *ngIf="courseHierarchy.status !== 'Unlisted'" class="courseHeader-rating ui star rating course-header-divider" [isReadonly]="true"
                            [ngModel]="courseHierarchy.me_averageRating || 0" [maximum]="5"></sui-rating>
                        &nbsp;&nbsp;
                        <a (click)="onShareLink();sharelinkModal=true;">
                            <i class="cursor-pointer large blue share alternate icon"></i>
                        </a>
                        <h6 class="ui small negative message" *ngIf="courseHierarchy.status === 'Flagged'">{{resourceService?.messages?.imsg?.m0001}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<app-share-link [shareLink]="shareLink" [telemetryShareData]="telemetryShareData" *ngIf="sharelinkModal" (close)="sharelinkModal = false">
</app-share-link>