@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.btn-div .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border-bottom-right-radius: calculateRem(4px);
    border-bottom-left-radius: calculateRem(4px);
    outline: none;
    width: 100%;
    font-size: calculateRem(12px);
   }
   .btn-div .button .icon {
    line-height: normal;
    font-size: calculateRem(20px);
    margin-right: calculateRem(8px) !important;
    opacity: 1 !important;
    padding-left: calculateRem(3px);
   }
   .play-btn{
    height: calculateRem(32px);
    line-height: calculateRem(32px);
    font-size: calculateRem(14px);
   
    .sb-btn{
        font-weight: 700;
        text-transform: uppercase;
        line-height: inherit;
         width: 100%;
        .caret{
         height: calculateRem(16px);
         width: calculateRem(16px);
         background: var(--white);
         color: var(--secondary-100);
         border-radius: 50%;
         font-size: calculateRem(14px);
         margin-right: calculateRem(8px);
         padding-left: calculateRem(2px);
         line-height: calculateRem(16px);
        }
    }
}
.sb-card-secrtion{
    padding: 0.45rem 1rem;
    background: var(--gray-0);
    border-top: calculateRem(1px) solid var(--rc-e2e3e5);
    .sb-label-value{
        font-weight: bold;
        word-break: break-all;
    }
}