.btn-div .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
    width: 100%;
    font-size: 12px;
   }
   .btn-div .button .icon {
    line-height: normal;
    font-size: 20px;
    margin-right: 8px !important;
    opacity: 1 !important;
    padding-left: 3px;
   }
   .play-btn{
    height: 32px;
    line-height: 32px;
    font-size: 14px;
   
    .sb-btn{
        font-weight: 700;
        text-transform: uppercase;
        line-height: inherit;
         width: 100%;
        .caret{
         height: 16px;
         width: 16px;
         background: #fff;
         color: #00c786;
         border-radius: 50%;
         font-size: 14px;
         margin-right: 8px;
         padding-left: 2px;
         line-height: 16px;
        }
    }
}
.sb-card-secrtion{
    padding: 0.45rem 1rem;
    background: #FAFAFA;
    border-top: 1px solid #dedede;
    .sb-label-value{
        font-weight: bold;
        word-break: break-all;
    }
}