.small_pic {
    width: 40px;
    height: 40px;
}
.il-introContent h3 {
    color:#666666;
    margin-bottom:0px;
    margin-top: 0px;
    font-family:'FrutigerNeueLTW01-CnLt';
}
.il-introContent h1 {
    margin-top:0px;
}
.il-profile-cont {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: flex;
}
.il-contact-pic {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    overflow: hidden;
}
.il-data-container {
    padding-left: 0px;
    padding-right: 0px;
}
.il-contact-data {
    padding: 10px 0px 15px 10px;
    overflow: auto;
}
.drilling_display {
    width: 100%;
}
.padLeft5 {
    padding-left: 5px;
}
.metadata_text {
    font-family:'FrutigerSerifLTW01-Ital';
    font-size: 14px;
    color: #777;
    text-transform: capitalize
}
.person_name {
    font-family:'FrutigerSerifLTW01-Bold 722227';
    font-size: 14px;
}
.person_name a {
    color: #428BCA;
    text-decoration: none;
}
.marTop15 {
	margin-top: 15px;
}
.tutor_desc {
	border-left: 2px solid #ddd;
    padding: 10px;
}
.common_heading {
    font-family:'FrutigerNeueLTW01-CnLt';
    font-size: 30px;
    //font-weight: bold;
    display:inline-block;
    padding: 10px;
}
.inlineDisplay {
    display: inline;
}
.common_content {
    font-family:'Frutiger Serif LT W01';
    font-size: 16px !important;
    font-style: normal !important;
    line-height: 1.8em;
    clear: both;
}
.common_content a {
    color: #428BCA;
    font-size: 18px !important;
}
.child_description {
    font-family:'Frutiger Serif LT W01';
    font-size: 16px !important;
    line-height: 1.5;
    font-style: normal !important;
    clear: both;
}
.ul-style {
    list-style: none;
    padding: 0;
    margin: 0;
}
/** IntroData Right Styling starts here**/
 .il-aside {
    float: right;
    width: 30%;
    margin: 0px 0px 10px 20px;
}
.il-dt-atglance {
    border:1px solid #e7e7e7;
    background-color:#fbfbfb;
    border-radius:15px;
    margin-top:100px;
    overflow:hidden;
    position:relative;
    z-index:1;
}
.il-dt-right {
    border-right:1px solid #e7e7e7;
}
.il-dt-right h1 span {
	font-size: 18px;
}

.il-dt-atglance ul {
    border-bottom:1px solid #e7e7e7;
}
.il-dt-atglance ul li {
    padding-left:0px;
    padding-right:0px;
    border-bottom:1px solid #e7e7e7;
    padding:0px 3px;
}
.il-dt-atglance ul li.noborder-btm {
    border-bottom:0px;
}
.il-dt-atglance ul li p {
    font-size:18px;
    //font-style:italic;
}
.il-dt-atglance h1 {
    margin-bottom:1px;
}
.il-imgBoxshadow {
    width: 88%;
    margin-top: -2px;
    margin-left: 18px;
    position: relative;
    right: 2px;
    z-index: -2;
}
/** IntroData Right Styling ends here**/
.no-top-border {
    border-top:0;
}
.il-lesson-container .panel-group .panel {
    border-radius:0;
    border-right:0;
    border-left:0;
    box-shadow:none;
    position:relative;
}
.il-lesson-container .panel-group .panel .panel-heading {
    background-color:transparent;
}
.panel-icon-cont {
    display: inline-block;
    vertical-align: top;
    width: 4%;
}
.panel-header-content {
    display: inline-block;
    width: 93%;
}
.glyph24 {
    font-size: 24px;
}
.no-margin {
    margin: 0px;
}
.li-ancImageBoxshadow {
    float: right;
    margin-left: 111px;
    margin-top: -2px;
    position: relative;
    right: 10px;
    width: 47%;
    z-index: -2;
}
.li-anc-atglance {
    background-color: #fbfbfb;
    border: 1px solid #e7e7e7;
    border-radius: 15px;
    float: right;
    margin-top :10px;
    overflow: hidden;
    position: relative;
    width: 25%;
    z-index: 1;
}
.il-anc-aside {
    float: right;
    margin: 0 0 10px 20px;
    width: 50%;
}
.li-anc-atglance ul li {
    border-bottom: 1px solid #e7e7e7;
    padding: 0 3px;
}
.marLeft15 {
    margin-left: 15px;
}
.marRight15 {
    margin-right: 15px;
}
.border-bottom {
    border-bottom: 1px solid #ddd;
}
a.icon, a.icon:hover {
    text-decoration:none;
}
.feature-container-border {
    border-bottom: 1px solid #ddd;
    margin-bottom: -10px;
}
.courseDescContent ul li {
    list-style: disc !important;
    margin-left: 15px !important;
}