
/**Only Icon Styling**/
.module-body .login_header{
	display: none;
}
.icon-moduel, .icon-proficiency, .icon-discussion, .icon-reading-list {
	font-size: 18px;
	vertical-align: text-bottom;
}
.icon-sourceby {
	font-size:38px;
}
.icon-video-icon-big {
	font-size:30px;
}
.lectures-container .icon-video-icon-big{font-size:20px;}
.icon-video-small {
	font-size: 20px;
}
.icon-rating, .icon-notes,.video-view-details .icon-video-icon-big {
	font-size: 16px;
margin-right: 5px;
margin-left: 5px;color: #999999;
}
.icon-Assignment {
	font-size:24px;}
.panel-icon-cont .icon-Assignment {
	font-size:30px;
	color: #333;
}
.icon-reference {
}
.icon-drillodwn {
	font-size: 20px;
	margin-right: 10px;
}
.reference-action-links .icon-play-small, .reference-action-links .icon-addtoplan, .reference-action-links .icon-reading-list, .il-pp-tabContainer .icon-play-small {
	font-size: 18px;
	margin-right: 5px;
	color:#999999;
	vertical-align: middle;
}

.icon-org-chartview {
	font-size: 26px;
}
.icon-popout {
	margin-top:25px;
	font-size:20px;
}
.icon-ask-tutor, .icon-annotation {
	color:#fff;
	font-size:20px;
	margin: 0px 4px;
}
.icon-social-youtube,.icon-social-facebook,.icon-social-twitter,.icon-social-google,.icon-social-linked,.icon-social-blogs{font-size:30px;color:#666666;}
.icon-slider-down{
	font-size:30px;
	color:#0099cc;
	}
.collapsed .icon-plus:before {
	content: "\e66b" ;
}
.icon-plus:before {
	content: "\e66c" ;
}
.icon-20 {font-size:20px;vertical-align:middle;}
.collapsed i.icon-slider-down {color:#666;}

/**LEFT NAV STYLING STARTS HERE**/

.il-leftnav {
	border-left: 1px solid #ddd;
	font-family: 'FrutigerNeueLTW01-CnLt' !important;
	font-size: 18px;
}
.il-leftnavbar {
	background: none repeat scroll 0 0 #f4f2ef;
	position: relative;
	border-bottom: 1px solid #f0f0f0;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.il-leftnavbar ul li {
	float: left;
	padding: 5px 25px;
}
.il-leftnavbar ul li:nth-child(odd) {
	border-right:0px solid #dedede;
}
.il-leftnavbar ul li:nth-child(even) {
	border-left: 1px solid #fff;
}
.il-leftnavbar ul li a {
	color:#888;
	text-decoration:none;
}
.il-leftnavbar ul li a.active {
	color:#0099cc;
}
.il-leftnavbar ul li a:hover {
	color: #555;
}
.il-leftnavbar ul li h3 {
	margin:10px 0px;
}
.il-left-content {
	height: 450px;
	overflow-y: hidden;
	overflow-x:hidden;
	position:relative;
	top:-5px;

}

.il-left-content .bx-viewport{
	padding-top:5px;
	background:none;
	padding-bottom:5px;
}

.il-left-content ul li span, .il-left-suggest ul li span {
	font-size: 17px;
}
.il-left-content #module-view ul li>a, .il-left-content #lesson-view ul li>a,
.il-left-content #lecture-view ul li>a, .il-left-suggest ul li a{
	display:block;
	padding:15px 25px;
	text-decoration:none;
	border-bottom:1px solid #999;
	position:relative;
	}
.il-left-content #module-view ul li a.active, .il-left-content #module-view ul li a:hover {
	background: #0099cc;
	color:#fff;
}
.il-left-content #lesson-view  ul li a.active, .il-left-content #lesson-view ul li a:hover {
	background: #00bb8d;
	color:#fff;
}
.il-left-content #lecture-view ul li a.active, .il-left-content #lecture-view ul li a:hover {
	background: #766b9f;
	color:#fff;
}
.il-left-content #lesson-view ul li>a , .il-left-content #lecture-view ul li>a{
	padding-left:50px;
}

/** css for nav li curved border 
#module-view li a.active:before, #module-view li a.active:after, #module-view li a:hover:before, #module-view li a.hover:after ,
#lesson-view li a.active:before, #lesson-view li a.active:after, #lesson-view li a:hover:before, #lesson-view li a.hover:after, 
#lecture-view li a.active:before, #lecture-view li a.active:after, #lecture-view li a:hover:before, #lecture-view li a.hover:after{
	content: '';
  	position: absolute;
   	right: 0%;
   	margin-right: -7px;
   	width: 8px;
    height: 8px;
    webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
#module-view li a.active:before, #module-view li a.active:after, #module-view li a:hover:before, #module-view li a.hover:after {
 border-right: 8px solid #0099cc;
}
#module-view li a.active:before, #module-view li a:hover:before{
       top:-8px;
      	border-bottom:8px solid #0099cc;
		border-bottom-right-radius:16px;
}
#module-view li a.active:after, #module-view li a:hover:after{
       	bottom:-8px;
      	border-top:8px solid #0099cc;
		border-top-right-radius:16px;
}	

#lesson-view li a.active:before, #lesson-view li a.active:after, #lesson-view li a:hover:before, #lesson-view li a.hover:after {
 border-right: 8px solid #00bb8d;
}
#lesson-view li a.active:before, #lesson-view li a:hover:before{
       top:-8px;
      	border-bottom:8px solid #00bb8d;
		border-bottom-right-radius:16px;
}
#lesson-view li a.active:after, #lesson-view li a:hover:after{
       	bottom:-8px;
      	border-top:8px solid #00bb8d;
		border-top-right-radius:16px;
}
#lecture-view li a.active:before, #lecture-view li a.active:after, #lecture-view li a:hover:before, #lecture-view li a.hover:after {
 border-right: 8px solid #766b9f;
}
#lecture-view li a.active:before, #lecture-view li a:hover:before{
       top:-8px;
      	border-bottom:8px solid #766b9f;
		border-bottom-right-radius:16px;
}
#lecture-view li a.active:after, #lecture-view li a:hover:after{
       	bottom:-8px;
      	border-top:8px solid #766b9f;
		border-top-right-radius:16px;
}	

**/	
.il-leftTitle{
	padding: 15px 25px;
	border-bottom: 2px solid #0099cc;
	margin: 0px;
	background:	#e7e7e7;
	text-tranform:uppercase;
	}	
#lecture-view .il-leftTitle{
	border-bottom: 2px solid #00bb8d;
	}	
.il-left-footer {
	background-color: #333333;
	height: 45px;
	text-align: center;
}
.il-carouselIcon {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #888;
	margin: 20px 5px;
}
/* bx slider overwtite */
.bx-wrapper .bx-viewport {

}

/**/
#dot1.active .il-carouselIcon{
	background:#0099cc;
	}
#dot2.active .il-carouselIcon{
	background:#00bb8d;
	}
#dot3.active .il-carouselIcon{
	background:#766b9f;
	}
#dot1 div.tooltip .tooltip-inner {background:#0099cc;}
#dot1 div.tooltip .tooltip-arrow {border-top-color: #0099cc;}	
#dot2 div.tooltip .tooltip-inner {background:#00bb8d;}
#dot2 div.tooltip .tooltip-arrow {border-top-color: #0099cc;}
#dot3 div.tooltip .tooltip-inner{background:#766b9f;}
#dot3 div.tooltip .tooltip-arrow {border-top-color: #766b9f;}

/**needed for LEFT NAV special view **/
.il-left-content #special-view ul li{
	padding:0px;
	border-bottom:none;
	}			
.module-level-li a{
	display:block;
	padding:15px 25px;
	}
.module-level-li>a{	
	border-bottom:2px solid #0099cc;}
.module-level-li>a .leftBar, .lesson-level-li>a .leftBar, .lecture-level-li>a .leftBar{
	padding-top:10px;
	padding-bottom:10px;
	padding-right:5px;
	}
.module-level-li>a .leftBar{
	border-left:5px solid #0099cc;
	}
.lesson-level-li>a .leftBar{
	border-left:5px solid #00bb8d;
	}
.lecture-level-li>a .leftBar{
	border-left:5px solid #766b9f;
	}				
.lesson-level-li>a{
	padding-left:50px;	
	border-bottom:2px solid #00bb8d;}		
.lecture-level-li>a{
	padding-left:80px;
	border-bottom:2px solid #766b9f;}
.module-body .il-left-content .module-level-ul li:hover a{
	color:#333;
	text-decoration:none;
	}
/**needed for LEFT NAV special view **/			
/**LEFT NAV ENDS HERE**/

/**RIGHT SIDE STYLING starts here **/
.pos-rel {
	position:relative;
}
.right-column-ct {
	border-right:1px solid #ddd;
	padding: 20px 20px 20px 20px;
	position:relative;background:#fff;
	font-family: 'FrutigerNeueLTW01-CnLt' !important;
}

.right-column-ct {
	padding-right: 0px;
}

.right-column-ct-row {
	margin-left:0px;
	margin-right:0px;
}
.right-column-ct .tooltip-inner {
	color: #333;
	background-color: #fff;
	border:1px solid #cccccc;
	box-shadow:2px 5px 5px #cccccc;
	font-style:normal;
}
.right-column-ct .tooltip .tooltip-arrow {
	border-bottom-color: #ccc;
}

/** INTROCONTENT starts here **/
.il-introCcontent h3 {
	color:#666666;
	margin-bottom:0px;
}
.il-introCcontent h1 {
	margin-top:0px;
}
.il-profile-cont {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	display: flex;
	}
.il-profile-cont {
	display: inline-block\9;
	width: 65%\IE9;
	}	
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari 5+ ONLY */
    ::i-block-chrome, .il-profile-cont  {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	display: inline-block;
	width:65%;
    }
}

.drilling_display{
	width:100%;
	}
.il-contact-pic {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	overflow: hidden;
	margin-right: 5px;
}
.il-data-container {
	padding-left: 0px;
	padding-right: 0px;
}
.il-aside{
    float: right;
    width: 30%;
    margin: 0px 0px 10px 20px;
}
.il-contact-info a{
	text-decoration:none;
	}
.il-contact-data {
	padding: 10px 0px 15px 20px;
	overflow: auto;
}
.il-icon-owned {
	width: 30px;
	height: 40px;
	margin-right: 0px;
}
.main_description {
	line-height: 1.5em;
	color:#191818;
	font-size:18px;
    clear: both;
    display: inline;

}
.il-info-text {
	color: #0099cc;
	border-bottom: 1px dotted #0099cc;
}
/** IntroData Right Styling starts here**/
.il-dt-atglance {
	border:1px solid #e7e7e7;
	background-color:#fbfbfb;
	border-radius:15px;
	margin-top:75px;
	overflow:hidden;
	position:relative;
	z-index:1;
}
.il-dt-right {
	border-left:1px solid #e7e7e7;
}
.il-dt-atglance ul li {
	padding-left:0px;
	padding-right:0px;
	border-bottom:1px solid #e7e7e7;
	padding:0px 3px;
}
.il-dt-atglance ul li.noborder-btm {
	border-bottom:0px;
}
.il-dt-atglance ul li p {
	font-size:18px;
	font-style:italic;
}
.il-dt-atglance h1 {
	margin-bottom:1px;
}
/** IntroData Right Styling ends here**/

/**video section starts**/
.il-vd-container {
	margin: 40px 0px;
}
.il-vd-container iframe {
	width: 100%;
}
/**video section ends**/

/**Lessons Styling start**/
h3.panel-title {
	font-size:24px;
	display:inline-block;
	margin-bottom: 15px;
	margin-top: 2px;
}
.panel-title>a.active {
	color:#0099cc;
}
.video-view-details {
	display:inline-block;
	margin-left: 15px;
}
.panel-icon-cont{
	display: inline-block;
	width: 6%;
	vertical-align: top;
}
.panel-header-content {
	display: inline-block;
	width: 93%;
}
.panel-header-content p.lecture-description {
	font-size:18px;
	font-style:italic;
}
.lectures-container ul li a.lecture-title {
	font-size:18px;
}
.lectures-container ul li span.lecture-time {
	font-size:12px;
	font-style:italic;
	margin-left:15px;
	display:inline-block;
	color:#999999;
}
.panel-body ul {
	//padding-left:50px;
}
.panel-body ul li {
	border-bottom:1px solid #ddd;
	padding: 10px 0;
}
.il-lesson-container .panel-body {
	padding:0;
}
.il-lesson-container .panel-group .panel {
	border-radius:0;
	border-right:0;
	border-left:0;
	box-shadow:none;
	position:relative;
}
.il-lesson-container .panel-group .panel .panel-heading {
	background-color:transparent;
}
.panel-body ul li.last-li {
	border-bottom:0;
	padding-bottom:20px;
}

.collapse-link {
	position:absolute;
	bottom:-8px;
	left:47%;
}
.italic {
	font-style:italic;
	color:#a7a7a7;
	font-size: 11px;
}
.no-top-border {
	border-top:0;
}

/**Lessons Styling end**/
/**common section**/
.il-sc-container {
	border:1px solid #ededed;
	margin-top:30px;
	margin-bottom:20px;
	padding:0px 10px;
	box-shadow:1px 5px 5px #ededed;
	position:relative;
}
.il-sc-header {
	display: inline-block;
	border-top: 5px solid #0099cc;
	padding: 0px 10px;
	min-width:150px;
}
.il-sc-header i {margin-right: 5px;}
.il-sc-header h2,.disp-inline-blk {
	display:inline-block;
}
.module-body .il-lesson-container .tooltip-inner ,.module-body .il-rf-accordion .tooltip-inner{
	color: #333;
	background-color: #fff;
	border:1px solid #ddd;
}
.il-sc-container a:hover{
	text-decoration:none;
	}

/**common section**/
/**concepts covered starts**/
.il-cc-concepts {
	padding:10px 10px 25px 10px;
}
.il-cc-concepts .label {
	font-size:1.1em;
	font-weight:normal;
}
/**concepts covered ends**/
/**reference sections starts**/
.il-dd-header {
	border-top:5px solid #019967;
}
.il-ch-header {
	border-top:5px solid #ff6600;
}
.il-rf-accordion {
	margin:0 5px;
}
.il-rf-accordion .panel {
	border:0;
	border-bottom:1px solid #e7e7e7;
	box-shadow:none;
}
.il-rf-accordion .panel-heading {
	background-color:#fff;
	padding:15px;
}
.il-rf-accordion .panel-body {
	border-top:none;
	font-size:18px;
	padding:20px 50px;
	font-style:italic;
}
.il-rf-accordion .panel-title {
	font-size:18px;
}
.il-rf-accordion .panel-title small a {
	text-decoration:underline;
	color:#333;
}
.il-rf-accordion .glyphicon {
	font-size:14px;
}
.il-iconBox {
	margin-right:20px;
}
.reference-action-links {
	padding-bottom:20px;
	padding-top: 20px;
}
.il-rf-accordion .glyphicon-plus:before {
	content: "\2212";
}
.il-rf-accordion .collapsed .glyphicon-plus:before {
	content: "\2b";
}
/**reference sections end**/
	
/**relative content starts**/
.il-rel-container {
	border-top:2px dotted #b1b1b1;
	margin:20px 0px;
}
/**relative content starts**/
/**category 101 starts**/
.il-ct-header {
	border-top: 5px solid #fc0046;
}
.il-ct-body {
	padding:5px 5px 15px 45px;
	font-size:18px;
}
/**category 101 ends**/

/**programming paradigm Start**/	
.il-vidIcon {
	background-image: url(../img/icon-video-m.png);
	height: 32px;
	width: 32px;
	margin-right: 10px;
}
.il-pp-tabContainer {
	margin:25px 0px;
}
.il-pp-tabRow {
	border: 0;
	border-bottom: 1px solid #e7e7e7;
	box-shadow: none;
	padding:10px 15px;
	margin-top:5px;
}
.il-pp-tabTitle {
	width:55%;
	font-size:14px;
	font-weight:700;
	display:inline-block;
}
.il-roundplusIcon {
	background-image: url(../img/icon-roundplus.png);
	margin:5px 0px;
}
.il-pp-btn {
	color:#fff;
	background-color:#f0ad4d;
	margin-top:5px;
	padding:1px 2px;
}
.il-rf-accordion .border-top{border-top:1px solid #ddd;}
/**programming paradigm ends**/	


/** CHANGES FROM HERE **/

.il-sideHelpBox {
	position: fixed;
	right: 0px;
	top: 20%;
	color: #fff;
	z-index:9999;
}
.il-sideTagMedium {
	overflow:hidden;
	padding-top:5px;
	padding-left:8px;
	height: 35px;
	background: #333333;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-bottom:10px;
	cursor:pointer;
	width: 37px;
	display: block;
	white-space: nowrap;
	-webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
	-moz-transition: width 1s;
	-o-transition: width 1s;
	transition: width 1s;
}
.help_two{
	position:absolute;
	right:0px;
}
.help_one:hover, .help_two:hover {
	width:110px;
}
.il-imgBoxshadow {
	width: 88%;
margin-top: -2px;
margin-left: 18px;
}
a:focus{
	outline:none;
}

/* DASHBOARD STYLING */
/* dashboard left nav */
.dash-imgBox{
	width:100%;
	height:150px;
	background:#2c3e50;
	text-align:center;
	padding:10px 0px;
	}
.dashImg{
	display:inline-block;
	background-image:url(../img/userImgBig.jpg);
	background-repeat:no-repeat;
	height:120px;
	width:120px;
	border-radius:120px;
	background-size:100%;
	position:relative;
	}
.dashEdit{
	position:absolute;
	bottom:-15px;
	left:36px;
	color: #fff;
	background-color: #2c3e50;
	padding: 2px 10px;
	text-transform:uppercase;
	}
.dashImg a:hover{
	color:#fff;
	text-decoration:none;
	}
.dashTitle{
	background-color: #cdcdcd;
	padding: 10px 25px;
	color: #2c3e50;
	font-weight: normal;
	margin-top: 0px;
	border-bottom: 2px solid #b8bec3;
}
.dashLeftUL li a {
	padding: 15px 20px;
	display: block;
	border-bottom: 1px solid #d0d0d0;
	text-decoration: none;
	font-size:16px;
}

.dashLeftUL li a.disabled {
	opacity: 0.65;
	cursor: not-allowed;
	text-decoration: none;
}

.dashLeftUL li a.disabled:hover {
	opacity: 0.65;
	color: #333 !important;
}

.dashLeftIcon{
	width: 6%;
	display: inline-block;
	vertical-align: top;
	padding-top: 5px;
	font-size:25px;
	}
.dashLeftDesc{
	display: inline-block;
	width: 92%;
	padding-left: 10px;
	padding-top: 8px;
}
#dashboardLeft ul{
	background-color:#f5f5f5;
	}
#dashboardLeft li a{
	font-size:16px;
	}
#dashboardLeft li a i{
	margin-right:10px;
	font-size:24px;
	vertical-align:top;
	}
#dashLeftCourses .progress{
	overflow: hidden;
	height: 6px;
	margin-bottom: 0px;
	background-color: #2c3e50;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	margin-top: 20px;
	}		
		
/* DASHBOARD STYLING ends */
/**Dashboard Page CSS Start**/

.hidden-fields,.save{display:none;}
.save.show{display:inline-block !important;}
.profile-edit .glyphicon.glyphicon-edit{margin-right:5px;}
.name-field{display:block;
font-size: 18px;
color:#3399cc;}
.dash-heading-border
{ border-bottom:1px dashed #333;
overflow:auto;}
.dash-heading-border h1{margin-top:30px; }
.profile-header{margin-top:20px !important;}
.profile-edit
{margin-top:30px;cursor:pointer;}
.block-border-bottom
{border-bottom:1px solid #ddd;
padding: 0px 0px 10px 0px;}
.block-border-bottom label h4
{margin-bottom:0;
color:#324b66;
}
.block-border-bottom form .form-group{margin-bottom:0;}
.dash-social-icons{overflow:auto;font-size:18px;}
.dash-social-icons li{margin-right: 20px;}
.dash-social-icons li i{margin-right: 5px;
vertical-align: bottom;}
.dash-social-icons li a:hover span{text-decoration:underline;}
.evernote-icon{background:url(../img/evernote.png) no-repeat;
width:33px;
height:33px;
display:inline-block;
vertical-align: bottom;
margin-right:10px;}
.currentcourse-block-icon{width:15%;}
.currentcourse-block-desc {
	line-height: 22px;
	padding-top: 10px;
	padding-left: 20px;
}
.currentcourse-block-desc.tutorPage {
	width:85% !important;
}
.currentcourse-block-desc:hover {
	//color: #428bca;
}
.currentcourse-icon{background:url(../img/course.png) no-repeat;
width:33px;
height:33px;
display:inline-block;
vertical-align: text-top;
margin-right:10px;}
.overflow-auto{overflow: auto;}
.course-intro-small{
	font-size: 14px;
	cursor: pointer;
	color: #428bca;
}
.course-intro-small:hover {
	//text-decoration: underline !important;
	color: #428bca;
}
.course-intro-big{
margin-top: 0px;
line-height: 1;
display: block;}
.course-intro-big span, .course-intro-small span {
	font-family: 'FrutigerNeueW01-Regular';
	font-size: 20px;
}
.last-visit{font-size:14px;
color:#666666;}
.activity-viewall{
	/*margin-top:15px;*/
	margin-top:35px;
margin-left: 15px;
font-style: italic;
color:#b2b2b2;
text-decoration:underline;}
.course-accordian .panel-default{border:0;}
.course-accordian .panel-default .panel-heading{background:none;border:0; padding-top:20px;
padding-bottom:10px;}
.course-accordian .panel-default .panel-heading h1{font-size:36px;}
.course-accordian .panel-collapse .panel-body{border-top:0;}
.activity-collapse{display:none;}
.activity-collapse-container .activity-close-icon{color:#666666;position:absolute;
right:0;bottom: 0%;
top: auto;
height: 24px;}
.activity-collapse-container{position:relative;}
.carousel-indicators li{background:#acacac;margin-right:15px;}
.carousel-indicators li.active{background:#2c3e50;margin-right:15px;}
.suggest-slides-container .item{padding-top:25px;}
.suggest-slides-container .thumbnail{background: #eaeaea;
padding: 0px 0px 25px 0px;
border-radius: 0;
border: 1px solid #ddd;
min-height: 335px;}
.suggest-slides-container .thumbnail .caption{padding:5px 15px;}
.suggest-slides-container .thumbnail .caption h3{font-size:26px;}
.enroll{padding:15px 15px 0px 15px;}
.suggest-slides-container .thumbnail .caption p{font-size: 16px;line-height: 20px;}
.enroll-amount{font-size:18px;}
.mainsuggest-slider-container .carousel-indicators{/*top: 8%;
bottom: 100%;*/
bottom: 81%;
left: 97%;}
.activity-close-icon:hover{text-decoration:none;}
/**Dashboard Page CSS End**/


/** COURSE DETAIL styling starts here **/
/* style for  course left nav */
#course-detail .il-leftnav{
	border-top:4px solid #43e16b;
	}
.courseBookImg{
	width:100%;
	height:auto;
	overflow:hidden;
	}
#courseDetailLeft .dashTitle{
	margin-bottom:0px;
	}
#courseDetailLeft ul {
	background:#f8f7f7;
	}	
#courseDetailLeft ul li{
	border-bottom:1px solid #d2d1d1;
	}
#courseFaculty .il-contact-data{
	padding-top:20px;
	}		
#courseFaculty .icon-mail, #courseFaculty .icon-comments{
	font-size:18px;
	margin-right:20px;
	color:#2c3e50;
	}	
#courseFaculty .il-contact-pic{
	margin-right:10px;
	width:45px;
	height:45px;
	border-radius:45px;
	border:3px solid #666666;
	}
#courseFaculty .tutorPic{
	border:3px solid #43e16b;
	}
#courseDetailLeft .il-dt-atglance ul li{
	padding-bottom:8px;
}
#courseDetailLeft .il-dt-atglance ul li p{
	color:#666666;
	margin-top:-5px;
	}
.topMar5{
	margin-top:5px;
	}
.glanceTitle{
	padding-left:10px;
	color:#2c3e50;
	}
.leftGlance{
	padding:0px 15px;
	padding-bottom:25px;
	}
.leftGlance	.il-dt-atglance{
	margin-top:20px;
	border-bottom:0px;
	background:none;
	}
.glanceSideText{
	font-family: 'ptf';
	font-size: 18px;
	font-style: italic;
	margin-left: 5px;
	color:#666666;
}
.color666{
	color:#666;
	}					

	
	
	
	
	
	

.il-profile-cont.course_descp{
	border-top: 1px solid #ddd;
border-bottom: 0px solid #ddd;
display: block;
}
.il-profile-cont.course_descp h3{
	margin-bottom: -20px !important;
}
.course-data{
	font-size: 18px;
font-style: italic;
}
.enrol_table{
	/*border-top: 1px solid #ddd;*/
}
hr.enrollment{
	margin-top: 18px;
margin-bottom: 18px;
border: 0;
border-top: 1px solid #ddd;
}
.table_header{
	background: #339966;
color: #fff;
}
.table>thead.table_header>tr>th {
border-bottom: 0px solid #ddd;
}
.table_header h1{
	margin-top: 0px;
}
.basicPlan{
	background: #f1f1f1;
}
.enrol_table .table>thead.table_header>tr>th, .enrol_table .table>tbody>tr>td	{
	text-align: center;
}
.enrol_table tbody tr td:first-of-type {
     text-align: initial !important;
 }
tbody.courseDetails_content{
	font-size: 18px;
}
.enroll-btn	{
	padding:5px 13px;
	font-size:14px;
	background: #428bca;
color: #fff;
border-color: #428bca;
}
.btn-default.enroll-btn:hover, .btn-default.enroll-btn:focus, .btn-default.enroll-btn:active, .btn-default.active, .open .dropdown-toggle.btn-default{
		background: #428bca;
color: #fff;
border-color: #428bca;
}
.ok-icon{
	color: #339966;
}
.remove-icon{
color: #ff3333;
}
.label-default.concept-name{
	font-size: 1.1em;
font-weight: normal;
background-color: #999;
}
.syllabus-time{
margin-right: 10px;
}
.syllabusPanel .panel-heading, .syllabusPanel .panel-body{
	padding-bottom:30px;	
	}
.syllabusPanel .icon-moduel{
	font-size: 22px;
	vertical-align: middle;
	line-height: 32px;
	color:#666;
}
.syllabusPanel .icon-video-icon-big, .syllabusPanel .icon-Assignment{
	color:#999;
	}
.syllabusPanel .panel-icon-cont{
	width:4%;
	}	
.syllabusPanel .panel-body ul li{
	padding:15px 0px;
	}
.enrol_table .table_header h4{
	margin-bottom:0px;}
#courseMainContent .il-aside{
	margin-left:50px;
	}	
/* end of COURSE-INTRO styles */

.studentMiniProfile span {
	display: block;
	font-size: 14px;
}

.progress-dl {
	font-family: 'FrutigerNeueLTW01-CnLt' !important;
	font-size: 16px;
}

.progress-dl dt {
	width: 100px;
	text-transform: capitalize;
}

.progress-dl dd {
	margin-left: 120px;
}

.tab_heading span {
	font-family: 'bebas_neue_bold';
    font-size: 22px;
}

.il-leftnavbar ul li {
    color: #fff;
}

.unit, .unit > a {
	padding: 0px;
    color: #333;
    font-family: 'FrutigerNeueLTW01-CnLt' !important;
    font-size: 18px;
}

.social_icons {
	font-size: 27px;
	color: #888;
}

.social-icons span {
	color: #888;
}

.block-border-bottom-blue {
	border-bottom:1px solid #0099cc;
	padding: 20px 0px 20px 0px;
}

.social_icon_active i {
	color: #0099cc;
}

.social_icon_active span {
	color: #333;
}

.edit_profile_icon {
	padding-left: 10px;
	cursor: pointer;
	font-size: 14px;
}

a.enroll-disabled, a.enroll-disabled:hover {
	opacity: 0.65;
	color: #000 !important;
	background-color: #DDD !important;
	cursor: not-allowed;
	border-color: #ddd !important;
}
.event-block{
	width: 53%;
	margin: 0 auto;
	background: #ddd;
	border-radius: 10px;
	text-align: center;
	padding: 25px;
}
.event-block-btn{
	margin-right: 15px;
}
.event-block-heading{
	font-size: 25px;
}
.session-block{
	display: inline-block;
	width: 100%;
	background: #F9F9F9;
	padding-left: 30px;
}
.session-block:hover{
	background: #F2F1F1;
}
.session-block-heading{
	font-size: 20px
}
.session-heading{
	font-size: 26px;
	margin-bottom: 5px;
}
.session-block-concepts span.label{
	margin-right: 3px;
	font-size: 80%;
	font-weight: normal;
}

.session-title{
	display: inline-block;
	padding: 5px 0 0 0 !important;
}
.session-meta{
	padding-top: 5px !important;
}