/* CSS Document */
@font-face {
	font-family: 'ptf';
	src: url(/fonts/ptf/PTSerif-Regular.eot); /* IE9 Compat Modes */
	src: url(/fonts/ptf/PTSerif-Regular.woff) format('woff'), /* Modern Browsers */ url(/fonts/ptf/PTF55F.ttf) format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'bebasNeue';
    src: url('../fonts/bebas-neue/bebasneue_regular-webfont.eot');
    src: url('../fonts/bebas-neue/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bebas-neue/bebasneue_regular-webfont.woff') format('woff'), url('../fonts/bebas-neue/bebasneue_regular-webfont.ttf') format('truetype'), url('../fonts/bebas-neue/bebasneue_regular-webfont.svg#bebas_neuebold') format('svg')
}
@font-face {
    font-family: 'bebas_neue_thin';
    src: url('/fonts/bebas-neue/bebasneue_thin-webfont.eot');
    src: url('/fonts/bebas-neue/bebasneue_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bebas-neue/bebasneue_thin-webfont.woff') format('woff'),
         url('/fonts/bebas-neue/bebasneue_thin-webfont.ttf') format('truetype'),
         url('/fonts/bebas-neue/bebasneue_thin-webfont.svg#bebas_neuethin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue_regular';
    src: url('/fonts/bebas-neue/bebasneue_regular-webfont.eot');
    src: url('/fonts/bebas-neue/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bebas-neue/bebasneue_regular-webfont.woff') format('woff'),
         url('/fonts/bebas-neue/bebasneue_regular-webfont.ttf') format('truetype'),
         url('/fonts/bebas-neue/bebasneue_regular-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue_light';
    src: url('/fonts/bebas-neue/bebasneue_light-webfont.eot');
    src: url('/fonts/bebas-neue/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bebas-neue/bebasneue_light-webfont.woff') format('woff'),
         url('/fonts/bebas-neue/bebasneue_light-webfont.ttf') format('truetype'),
         url('/fonts/bebas-neue/bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue_book';
    src: url('/fonts/bebas-neue/bebasneue_book-webfont.eot');
    src: url('/fonts/bebas-neue/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bebas-neue/bebasneue_book-webfont.woff') format('woff'),
         url('/fonts/bebas-neue/bebasneue_book-webfont.ttf') format('truetype'),
         url('/fonts/bebas-neue/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue_bold';
    src: url('/fonts/bebas-neue/bebasneue_bold-webfont.eot');
    src: url('/fonts/bebas-neue/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bebas-neue/bebasneue_bold-webfont.woff') format('woff'),
         url('/fonts/bebas-neue/bebasneue_bold-webfont.ttf') format('truetype'),
         url('/fonts/bebas-neue/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: bold;
    font-style: normal;
}


body {
	font-family: 'Frutiger Serif LT W01';
}
a {
	cursor:pointer;
	color:#333;
}
a:hover {
	color:#0099cc;
	text-decoration:underline;
}
p {
    margin-top: 10px;
}
p, span, a {
	font-family: 'Frutiger Serif LT W01';
	//text-shadow: 0 0 1px rgba(155,155,155,0.3);
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'bebasNeue';
}
ul.top-nav-bar li a h3,.block-border-bottom label h4 {font-family: 'bebas_neue_regular';}
.il-textdefault {
	color:#333333;
}
/**Icon Styling End**/
.social-icons li a:hover,.il-pp-tabRow span a{text-decoration:none;}
/* header banner style pattern */
.cust-header-banner {
	/*background:#0099CC url("../img/texture.png") repeat 0px 0px; */
	background:#2c3e50;
}
.module-body .cust-header-banner .nav.top-nav-bar>li>a:hover, .module-body .cust-header-banner .nav.top-nav-bar>li>a:focus {
	background:none;
	color:#33ff66;
/*	color:#fff; */
}
.cust-header-banner .nav li a {
	color:#f2f2f2;
}
.module-body .web-logo-icon{display:none;}

/* header banner style pattern ends */
/**HEADER STYLING**/
.nopad {
	padding:0px 0px 0px 0px !important;
}
.verAlign{
	vertical-align:middle;
	padding-right: 2px !important;
	}
.no-pad-right {
	padding-right:0px;
}
/*Sticky Affix fields*/
#pageHeader > header {
	border-bottom: 3px solid #0099cc;
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 1001;
}

#pageHeader ~ section{
	position: relative;
	top: 68px;	
}

.modal-content{
	top: 68px;
}

footer{
	position: relative;
	top: 68px;
}

.affix#tocFloatMenu{
	top: 68px;
}

.affix-bottom#tocFloatMenu{
	position: absolute;
}


/*.il-introContent{
	position: relative;
	top: 40px;
}*/

/*Sticky Affix fields*/

/*courseBrowser Footer*/
#tocFloatMenu{
	width: 100%;
}

.cb-footer {
	font-family: 'Frutiger Serif LT W01';
	margin-bottom: 80px;
    margin-top: 100px;
    display: inline-block;
    width: 100%;
}

/*courseBrowser Footer*/

.navbar {
	/*border-bottom: 2px solid #0099cc;*/
	min-height: 65px;
	margin-bottom: 0px !important;
	box-shadow:0px 0px 3px 0px #999;
}
.nav {
	/*padding-top: 20px;*/
	font-size: 16px;
	text-transform: uppercase;
}
.nav li a {
	color: #333;
}
.il-userImg {
	display: inline-block;
	max-width: 42px;
	max-height: 42px;
	border-radius: 42px;
	border: 2px solid #DDD;
	overflow: hidden;
	vertical-align: middle;
	cursor: pointer;
}
.nav a.dropdown-toggle {
	display: inline-block;
	padding-left: 0px;
	text-transform: capitalize;
	color: #666666;
}
.nav>li>a.dropdown-toggle {
	background-color: #fff;
}
.nav>li>a.dropdown-toggle:hover {
	background-color: #eee;
	text-transform: capitalize;
}
.il-display {
	display: block;
}
.module-body .nav.top-nav-bar>li>a:hover, .module-body .nav.top-nav-bar>li>a:focus {
	/*background-color: #fff;
	color:#ff0033;*/
}
.user-profile {
	margin-top:10px;
}
.user-profile li ul.dropdown-menu {
	text-transform:capitalize;
}

.header2 .nav>li>a.dropdown-toggle:hover, .header2 .nav>li>a.dropdown-toggle:focus, .header2 .nav .open>a.dropdown-toggle, .header2 .nav .open>a.dropdown-toggle:hover, .header2 .nav .open>a.dropdown-toggle:focus{
	background:#2c3e50;
	/* background:#0099CC url("../img/texture.png") repeat 0px 0px; */
	color:#fff;
	}
		
.header2 .navbar-brand{
	color:#fff;
	}
.header2 .user-profile .dropdown-menu li a{
	color:#333;
	}
	
/**Footer Styling Start**/
.il-org-border, .il-green-border, .il-blue-border, .il-red-border, .il-purple-border {
	padding-left: 15px;
	min-height: 160px;
}
.il-org-border {
	border-left:3px solid #ff6600;
}
.il-green-border {
	border-left:3px solid #009966;
}
.il-blue-border {
	border-left:3px solid #0099cc;
}
.il-red-border {
	border-left:3px solid #fc0046;
}
.il-purple-border {
	border-left:3px solid #982ecd;
}
.il-org-border h3, .il-green-border h3, .il-blue-border h3, .il-red-border h3, .il-purple-border h3 {
	text-transform:uppercase;
	margin-bottom:0;
}
.il-org-border li, .il-green-border li, .il-blue-border li, .il-red-border li, .il-purple-border li {
	margin-bottom:5px;
}
.footer-container, .footer-container a {
	color:#cccccc;
}
.footer-container {
	background:#272a30;
	margin-bottom: 20px;
	padding: 20px 0 30px 0;
}
.il-contact-details {
	padding-left:0;
}
.il-address {
	padding-top:5px;
}
.il-phone-detail {
	padding-top:10px;
}
.il-contact-details h3 {
	margin-bottom:5px;
}
.copyright-cont {
	min-height: 65px;
}
.social-icons li {
	float:left;
	margin-right:10px;
}
.il-youtube, .il-fb, .il-twitter, .il-gplus, .il-linked, .il-blogger {
	width:25px;
	height:25px;
	display:inline-block;
}
.il-youtube {
	background:url(../img/youtube.png) no-repeat;
}
.il-fb {
	background:url(../img/fb.png) no-repeat;
}
.il-twitter {
	background:url(../img/twitt.png) no-repeat;
}
.il-gplus {
	background:url(../img/gplus.png) no-repeat;
}
.il-linked {
	background:url(../img/ln.png) no-repeat;
}
.il-blogger {
	background:url(../img/blogger.png) no-repeat;
}
.back-to-top {
			position: fixed;
			bottom: 1em;
			right: 10px;
			text-decoration: none;
			color: #666;
			/*background-color: rgba(235, 235, 235, 0.80);*/
			font-size:24px;
			display: none;
			font-weight:normal;
		}

		.back-to-top:hover {	
			/*background-color: rgba(135, 135, 135, 0.50);*/
		}	
/**Footer Styling End**/

/* begin of NEW STYLES */
.module_header{
	margin-left: 0px;
}
/* end of NEW STYLES */


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


/* begin of MEDIA QUERIES */

/* FOOTER MEDIA QUERIES */

@media(max-width: 990px){
.footer-container .row .col-md-2{width:50%;
float:left;}

}
@media (min-width: 768px) and (max-width: 979px) { 
/*.il-org-border, .il-green-border, .il-blue-border, .il-red-border, .il-purple-border {
border-left: 0px !important;
width: 106px !important;
margin-left: 45% !important;
min-height: 0px;
}
.il-org-border {
border-bottom: 3px solid #ff6600;
}
.il-green-border {
border-bottom: 3px solid #009966;
}
.il-blue-border {
border-bottom: 3px solid #0099cc;
}
.il-red-border {
border-bottom: 3px solid #fc0046;
}
.il-purple-border{
	border-bottom: 3px solid #982ecd;
}
.il-contact-details {
padding-left: 0;
margin-left: 45%;
}*/

}

@media (max-width: 767px) {
/*.il-org-border {
border-bottom: 3px solid #ff6600;
}
.il-green-border {
border-bottom: 3px solid #009966;
}
.il-blue-border {
border-bottom: 3px solid #0099cc;
}
.il-red-border {
border-bottom: 3px solid #fc0046;
}
.il-purple-border{
	border-bottom: 3px solid #982ecd;
}
.il-org-border, .il-green-border, .il-blue-border, .il-red-border, .il-purple-border {
border-left: 0px !important;
width: 106px !important;
margin-left: 45% !important;
min-height: 0px;
}
.il-contact-details {
padding-left: 0;
margin-left: 45%;
} */
}

@media (max-width: 480px) {
	.footer-container .row .col-md-2{width:100%;
float:none;}
.il-org-border {
border-bottom: 3px solid #ff6600;
}
.il-green-border {
border-bottom: 3px solid #009966;
}
.il-blue-border {
border-bottom: 3px solid #0099cc;
}
.il-red-border {
border-bottom: 3px solid #fc0046;
}
.il-purple-border{
	border-bottom: 3px solid #982ecd;
}
.il-org-border, .il-green-border, .il-blue-border, .il-red-border, .il-purple-border {
border-left: 0px !important;
width: 106px !important;
margin-left: 32% !important;
min-height: 0px;
}
.il-contact-details {
padding-left: 0;
margin-left: 30%;
}
}
@media (min-width: 768px){
.navbar-nav>li>a {
padding-top: 8px;
padding-bottom: 10px;
}
}
/* end of MEDIA QUERIES */
.ul-style {
    list-style: none;
    padding: 0;
    margin: 0;
}
.box_shadow {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}
.person_name:hover {
	color: #000;
	text-decoration: none;
}
.header-user-name {
	text-transform: capitalize; 
	padding-right: 20px !important; 
	padding-bottom: 20px !important;
	display: inline !important;
}

.header-user-name:hover, .header-user-name:focus {
	background-color: #FFF !important;
	text-decoration: underline !important;
}

.noMarRight {
	margin-right: 0px !important;
}

.header_menu > li > a:hover, .header_menu > li > a:focus {
	background: none !important;
	color: #ff6600;
}
.header_menu .active a{
	color:#ff0033;
}

.marTop20 {
	margin-top: 20px;
}

.marTop50 {
	margin-top: 50px;
}

.marTop10 {
	margin-top: 10px;
}

.marTop5 {
	margin-top: 5px;
}

/*.nav .dropdown > a, .nav .dropdown > a:hover, .nav .dropdown > a:focus {
	background: none !important;
	border: 0px !important;
}*/
.dropdown-menu {
    min-width: 130px;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: none;
    margin-left: 10px;
}

.dropdown-menu > li > a {
    padding: 5px 10px !important;
    font-size: 14px;
}
.dropdown-menu .divider {
	margin: 0px;
}
.user-dropdown-box {
	padding:2px;
}
.user-dropdown-box:hover, .verAlign:hover, .verAlign:focus {
	background-color: #eee !important;
	border-radius: 3px;
	cursor: pointer;
}
.caret {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
}
#supConTag, #tutoringTag, #outcomeTag, #moduleTag, #lessonTag, #lrTag, #laTag {
	cursor: pointer;
}
.head-pkg-enroll {
	margin-right: 15px;
	font-family:'FrutigerSerifLTW01-Bold 722227';
}
.outcome-header {
	font-family:'FrutigerSerifLTW01-Bold 722227';
}
.oc-shortdesc {
	color: #999;
    font-family: 'FrutigerSerifLTW01-Ital';
    font-size: 12px;
    margin: 0;
}
.OutCome > .popover {
    font-size: 12px;
}
.btn-cc {
	margin-right: 5px;
    margin-top: 10px;
    text-transform: capitalize;
    position: relative;
}

.evernote-icon{background:url(../img/evernote.png) no-repeat;
width:33px;
height:33px;
display:inline-block;
vertical-align: bottom;
margin-right:-5px;}

.comma:after {content: ",\00a0 ";}
.left{float:left;}
.main-my-courses {
	padding: 10px 40px !important; 
}

img.headrUserImg {
    width: 32px;
    height: 32px;
    border-radius: 49%;
}

footer {
	/*padding: 20px 20px;*/
	background: #fff;
	border-top: 1px solid #cccccc;
	overflow: hidden;
}

ul.social-icons li a .fa {
    color: rgb(139, 135, 135);
    padding: 0px 8px;
}
ul.social-icons li a .fa:hover {
    color: rgb(85, 84, 84);
    padding: 0px 8px;
}

.copyright-cont div a {
    font-size: 14px;
    color: #333;
}
.copyright-cont div a:hover {
    color: #0099cc;
}
.copyright-cont .pull-left {
    font-size: 12px;
    margin-top: 5px;
}
ul.social-icons li {
	display: inline-block;
	font-size: 25px;
}
span.divider {
    display: inline-block;
    margin: 0 5px;
    width: 1px;
    background-color: #ccc;
}
header {
    position: fixed;
    width: 100%;
    z-index: 99999999;
    top: 0px;
}
.headerContainer {
    border-bottom: 2px solid #0099cc;
    height: 62px;
    background: #fff;
}
.logoBlock {
	padding-left: 0px;
	width: 12%;
	padding-top: 5px;
}
.logoBlock img {
    padding: 2px 5px;
    width: 70px;
    height: 54px;
}
.titleBlock {
    color: #09c;
    font-size: 18px;
    line-height: 65px;
    padding-right: 0;
    text-align: center;
    text-transform: uppercase;
    width: 60%;
}
.titleBlock a {
    color: #333;
    font-family: "bebasNeue";
    font-size: 20px;
}
.searchLogBlock {
	padding-right: 0px !important;
}
.user-menu {
    font-size: 18px;
    margin-top: 10px;
}
.signin-text {
    color: #333;
    font-family: "bebasNeue";
    font-size: 20px;
    margin-top: 18px;
}
.navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
}
.nav > li a:hover {
    background: #0099cc !important;
    color: #fff;
    border: 0px solid red;
}
.nav > li a:hover i.fa {
    color: #fff;
}
.nav > li a:focus {
    background: none;
    border: 0px solid red;
}
.headrNotnMneu > ul.nav.navbar-nav a:hover, .headrNotnMneu > ul.nav.navbar-nav a:focus {
    color: #428bca;
    background: #0099cc;
}
.searchLogBlock .fa {
    font-size: 20px;
    color: #999999;
    padding: 6px;
}
.sectionNextToHeader{
	margin-top: 50px;
}
.cards-section{
    padding: 10px 10px 10px 30px;
}
.ul-line-height{
    line-height: 30px;
}