.cscontextselect{
    height : 35px !important;
}
.cs-context-container{
   background: none repeat scroll 0 0 #fff;
    border: 1px solid #999;
    height: 300px;
    margin-top: -1px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    width: 400px;
    z-index: 10000 !important;
    display: none;
}

 .cs-context-container-hover {
    display: inline;
    height: 300px;
    width: 400px;
}

.cs-lesson-pad{
    padding-left: 15px !important;
}
.cs-lecture-pad{
    padding-left: 25px !important;  
}
.csPadTop{
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    padding-top: 15px
}

.cs-filters {
    overflow-x: hidden;
    overflow-y: scroll;
}

.cs-error {
    border: 1px solid red;
}

.cs-selected-context{
    color: #0099cc;
}
.cs-filter-lectures{
    font-family: arial !important;
    font-size: 16px !important;
    padding : 1px;
}

.cs-filter-lessons{
    font-family: arial !important;
    font-size: 17px !important;
}
.cs-filter-modules{
    font-family: arial !important;
    font-size: 18px !important;
}
.cs-filter-tocname{
    font-family: arial !important;
    font-size: 19px !important;
}

ul.csmoduleslist{
    line-height: 1.6;
    padding-left: 12px;
    padding-top: 16px;
    background: #fbfbfb;
}

.learner-block-view {    
border: 5px solid #fff;
margin-right: 20px;
line-height: 12px;
margin-bottom: 10px;
display: inline-block;
border-radius: 5px;
background: #e5e5e5;
color:#000;
}

.learner-block-view:hover {
border: 5px solid #A4A4A4;    
margin-right: 20px;
line-height: 12px;
margin-bottom: 10px;
display: inline-block;
border-radius: 5px;
cursor:pointer;
color:#000;
}

.m-selected {
    background: #0099cc;
    color: #fff;
    /*border: 1px solid #A4A4A4!important; */
}

.styled-dropdown {
display: block;
clear: both;
font-weight: 400;
line-height: 1.42857143;
color: #333;
white-space: nowrap;
padding: 5px 10px !important;
font-size: 14px;
cursor: pointer;
}

.styled-dropdown:hover {
background: #e5e5e5;
}    

.btn-search {
    background: none repeat scroll 0 0 #555;
    margin-top: 20px;
}

.page-link {
    color: #0099cc;
    cursor: pointer;
}

.wrap-content {
    word-break:break-all;
    word-wrap: break-word;
}

.message-text {
    font-family: "Frutiger Serif LT W01";
    font-size: 18px;
}

.binder-tags div.label {
    font-size: 80%;
    font-weight: normal;
    margin-right: 3px;
}

.addBinders {
    color: #0099cc;
    font-size: 15px;
    position: relative;
}

.binder-item {
    background: none repeat scroll 0 0 #f9f9f9;
    display: inline-block;
    width: 100%;
}

.binder-item:hover {
    background: #F2F1F1;
}

.binder-content-title-text > .binder-content-title > span {
    font-size: 22px;
}

.binder-content-title {
    display: inline-block;
    padding: 5px 0 0 0;
}

.binder-content-title span {
    font-size: 18px;
}

.has-error {
   border: 1px solid red;
}