	.ngPinnedIcon, .ngUnPinnedIcon{
    	display: none;
	}

	.gridStyle {
		border: 1px solid #eee;
	}

	.ngViewport.ng-scope{
	    height: auto !important;
	    overflow-y: hidden;
	}

	.ngFooterPanel {
		height: 50px !important;
		background-color: #ffffff !important;
	}

	.engagementSpan {
		position: relative;
		top: 2px;
	}

	.triangleAttend {
	    -ms-transform: rotate(28deg); /* IE 9 */
    	-webkit-transform: rotate(28deg); /* Chrome, Safari, Opera */
    	transform: rotate(28deg);
	}

	.legend {
		color: #53a2d4 !important;
	}

	.verticalAlignBottom {
		vertical-align: bottom;
	}

	.ngRow.even {
		background-color: #FFFFFF !important;
	}

	.ngRow.odd {
		background-color: #EFEFEF !important;
	}

	.ngVerticalBarVisible {
		display: none !important;
	}

	.center-align {
    	//margin-left: auto;
    	//margin-right: auto;
    	//width: 50%;
    	text-align: center;
	}

	.envCellData {
		font-size: 10px !important;
	}

	.ngTopPanel {
		background-color: #DFEFFF !important;
	}
	
	.lectureProgress {
		height: 10px !important;
		margin-top: 5px !important;
	}

	list-inline {
		margin-left: 0px;
	}

	li.linemapTwo {
    	background: none repeat scroll 0 0 #53a2d4;
    	height: 10px;
    	padding-left: 0;
    	width: 7px;
    	margin-right: 5px;
    	border-bottom: 1px solid #53a2d4;
	}

	.lastLoginText {
		font-size: 12px;
		margin-top: 2px;
	}

	.gradeText {
		font-weight: bold;
	}

	.green {
		color: green;
	}

	.orange {
		color: orange;
	}

	.red {
		color: red;
	}

	.redCell {
		background-color: #fbd5d4 !important;
		height: 100%;
		width: 100%
	}

	.whiteCell {
		background-color: #ffffff !important;
		height: 100%;
		width: 100%
	}

	.midHeader {
		text-align: center;
	}

	.cellToolTip {
    	overflow: visible;
	}

	.tooltip {
		//top: 0 !important;
	}

	div.bullet-graph {
		position: relative;
		width: 90%;
		height: 5em;
	}

	div.bullet-graph div.graph {
		position: relative;
		width: 100%;
		height: 1em;
		top: 2px;
	}

	div.bullet-graph div.graph div[class^='region-'],
	div.bullet-graph div.graph div[class*=' region-'] {
		float: left;
		height: 100%;
	}

	div.bullet-graph div.region-1 { background-color: #b0e2ff; }

	div.bullet-graph div.measure {
		position: absolute;
		height: 30%;
		top: 35%;
		background-color: #53a2d4;
	}

	.gradeBadge {
        font-size: 48px; 
        color: #fff;
        border-radius: 0px !important;
    }

    .gradeBookBadge {
        font-size: 24px; 
        color: #fff;
        border-radius: 0px !important;
        padding: 8px 10px !important;
        font-family: 'FrutigerSerifLTW01-Medi 722257' !important;
    }

    .weekBadge {
        font-size: 14px !important;    
        background-color: #428bca !important;
        position: relative;
        top: -15px;
    }

    .greenBackground {
        background-color: green !important; 
    }

    .redBackground {
        background-color: red !important; 
    }

    .orangeBackground {
        background-color: orange !important; 
    }

    .progress {
        border-radius: 0px !important;
    }

    .studentSummary {
        font-family: "FrutigerSerifLTW01-Bold 722227";
        font-size: 14px;
    }

    .gridSortBtn {
    	left: auto !important;
    	top: 12px !important;
    	right: 0px !important;
    }

    .ilSortableCol {
    	left: auto;
    	margin-left: auto;
    	margin-right: auto;
    	position: absolute;
    	right: 6px;
    	top: 7px;
    	width: 0;
    	font-size: 10px;
    	color: gray;
	}

	.textCapitalize {
		text-transform: capitalize !important;
	}

	.dashboardText {
		font-size: 15px !important;
		font-family: 'Frutiger Serif LT W01';
	}

	.ngHeaderContainer {
		font-weight: normal;
		font-family: 'FrutigerNeueW01-Regular';
	}

	.ngCellText span {
		font-family: 'FrutigerSerifLTW01-Medi 722257';
	}

	.gradeCardMetadata {
		font-family: 'FrutigerSerifLTW01-Medi 722257';
		font-size: 14px;	
		position: relative;
    	top: -5px;
	}

	.studentName {
		font-family: 'FrutigerSerifLTW01-Medi 722257';
		font-size: 16px;	
	}

