/**Left Styling**/
 .il-leftnav {
    border-right: 0px;
    border-top: 0px;
    display: inline-block;
    width: 100%;
    margin-bottom: -6px;
    background: #f4f2ef;
}
.il-leftnavbar {
    display: inline-block;
    background: #f4f2ef;
}
.il-leftnav ul li {
    float: left;
    padding: 5px 0px;
    text-align: left;
}

.discover-dropdown ul li {
    padding: 0px;
    width: 100%;
}

.il-leftnavbar ul li:nth-child(odd) {
    /*border-right: 1px solid #ddd;*/
}
.il-leftnavbar ul li:last-child {
    border-right: 0px solid #ddd !important;
}
.il-leftnavbar ul li:nth-child(even) {
    border-left: 1px solid #ddd;
}
.il-leftnav ul li a {
    color:#888;
    text-decoration:none;
}
.il-leftnavbar ul li a span {
    font-family: 'bebas_neue_bold';
    font-size: 22px;
}
.il-leftnav ul li a.active {
    color:#0099cc;
}
.il-leftnav ul li a.discover_active {
    color:#f39c12;
}
/*.il-leftnavbar ul li a:hover {
    color: #0099cc;
}*/
.il-leftnavbar ul li h3 {
    margin:0px 0px;
}
.il-left-content {
    height: 450px;
    overflow-y: auto;
    overflow-x:hidden;
}
.il-left-content ul li span, .il-left-suggest ul li span {
    font-size: 17px;
}
.il-module-icon {
    background: url('../img/module-icon.png') no-repeat;
}
.module-body .il-left-content .active {
    color: #fff !important;
    background: #0099cc !important;
}
.module-body .il-left-content li:hover a {
    color:#fff;
}
.il-left-content .active .il-module-icon {
    background-image: url('../img/module-iconW.png');
}
.il-module-icon, .il-proficiency-icon, .il-discussion-icon, .il-reading-icon {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    display: inline-block;
}
.il-proficiency-icon, .il-discussion-icon, .il-reading-icon {
    margin-right:10px;
}
.il-proficiency-icon {
    background: url('../img/icon-proficiency.png') no-repeat;
    height: 25px;
}
.il-discussion-icon {
    background: url('../img/icon-discussion.png') no-repeat;
}
.il-reading-icon {
    background: url('../img/icon-reading.png') no-repeat;
}
.il-left-footer {
    background-color: #333333;
    height: 45px;
    text-align: center;
}
.il-carouselIcon {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #888;
    margin: 20px 5px;
}
.module-body .tooltip-inner {
    color: #fff;
    background-color: #0099cc;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #0099cc;
}
.il-left-footer .active {
    background-color: #0099cc;
}
/**Left Styling End**/

/**Right Styling **/
 .pos-rel {
    position:relative;
}
.intro-container {
}

.cb-left-column {
    width: 3%;
    top: 108px;
    padding-left: 20px;
    position: fixed;
    z-index: 998;
}

.cb-content-column {
    padding: 20px 50px 20px 90px;
    position:relative;
    width: 100%;
    min-height: 600px;
}

.right-column-ct {
    border-right:1px solid #ddd;
    padding: 20px 70px 20px 40px;
    border-left: 4px solid #0099cc;
    border-left: 1px solid #ddd;
    position:relative;
}
.right-column-ct-row {
    margin-left:0px;
    margin-right:0px;
}
.il-introContent h3 {
    color:#666666;
    margin-bottom:0px;
    font-family:'FrutigerNeueLTW01-CnLt';
}
.il-introContent h1 {
    margin-top:0px;
}
.il-profile-cont {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: flex;
}
.il-contact-pic {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    overflow: hidden;
}
.il-data-container {
    padding-left: 0px;
    padding-right: 0px;
}
.il-contact-data {
    padding: 10px 0px 15px 10px;
    overflow: auto;
}
.il-icon-owned {
    width: 30px;
    height: 40px;
}
.il-notes {
    line-height: 1.5em;
    color:#191818;
    font-family:'Frutiger Serif LT W01';
}
.il-info-text {
    color: #0099cc;
    border-bottom: 1px dotted #0099cc;
}
.il-notes .tooltip-inner {
    color: #000;
    background-color: #fff;
    border: 2px solid #ccc;
    box-shadow: 0px 3px 3px #cccccc;
    font-style: normal;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #ccc;
}
/**Right Styling End**/

/** IntroData Right Styling starts here**/
 .il-aside {
    float: right;
    width: 25%;
    margin: 0px 0px 10px 20px;
}
.il-dt-atglance {
    border:1px solid #e7e7e7;
    background-color:#fbfbfb;
    border-radius:15px;
    margin-top:78px;
    overflow:hidden;
    position:relative;
    z-index:1;
}
.il-dt-right {
    border-right:1px solid #e7e7e7;
}
.il-dt-atglance ul {
    border-bottom:1px solid #e7e7e7;
}
.il-dt-atglance ul li {
    padding-left:0px;
    padding-right:0px;
    border-bottom:1px solid #e7e7e7;
    padding:0px 3px;
}
.il-dt-atglance ul li.noborder-btm {
    border-bottom:0px;
}
.il-dt-atglance ul li p {
    font-size:15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.il-dt-atglance h1 {
    margin-bottom:1px;
}
/** IntroData Right Styling ends here**/

/**video section starts**/
 .il-vd-container {
    margin: 40px 0px;
}
.il-vd-container iframe {
    width: 100%;
    box-shadow: 5px 5px 10px #888888;
}
/**video section ends**/

/**Lessons Styling start**/
 .il-video-icon {
    background: url(../img/video.png) no-repeat;
    width: 42px;
    height: 20px;
    display: inline-block;
    margin-top: 1px;
}
h3.panel-title {
    font-size:24px;
    display:inline-block;
    margin-bottom: 15px;
}
.il-video-view, .il-video-rating, .il-video-share {
    width:20px;
    height:18px;
    display:inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 10px;
}
.il-video-view {
    background:url(../img/video-view.png) no-repeat;
    background-position: 0 1px;
}
.il-video-rating {
    background:url(../img/video-rating.png) no-repeat;
}
.il-video-share {
    background:url(../img/video-share.png) no-repeat;
}
.il-htmlform {
    background:url(../img/html-form.png) no-repeat;
    width:20px;
    height:28px;
    display:inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 10px;
}
.video-view-details {
    display:inline-block;
    margin-left: 15px;
}
.panel-icon-cont {
    display: inline-block;
    width: 4%;
    vertical-align: top;
}
.panel-header-content {
    display: inline-block;
    width: 93%;
}
.panel-header-content p.lecture-description {
    font-size:18px;
    //font-style:italic;
}
.lectures-container ul li a.lecture-title {
    font-size:18px;
}
.lectures-container ul li span.lecture-time {
    font-size:12px;
    //font-style:italic;
    margin-left:15px;
    display:inline-block;
    color:#999999;
}
.panel-body ul {
    padding-left:60px;
}
.panel-body ul li {
    border-bottom:1px solid #ddd;
    padding: 10px 0;
}
.il-lesson-container .panel-body {
    padding:0;
}
.il-lesson-container .panel-group .panel {
    border-radius:0;
    border-right:0;
    border-left:0;
    box-shadow:none;
    position:relative;
}
.il-lesson-container .panel-group .panel .panel-heading {
    background-color:transparent;
}
.panel-body ul li.last-li {
    border-bottom:0;
    padding-bottom:20px;
}
.il-collapse, .collapsed .il-collapse {
    width:49px;
    height:16px;
    display:inline-block;
}
.il-collapse {
    background:url(../img/collapse-active.png) no-repeat;
}
.collapsed .il-collapse {
    background:url(../img/collapse-icon.png) no-repeat;
}
.collapse-link {
    position: absolute;
    bottom: -5px;
    left: 47%;
}
.italic {
    font-style:italic;
    color:#a7a7a7;
    font-size: 11px;
}
.no-top-border {
    border-top:0;
}
/**Lessons Styling end**/

/**common section**/
 .il-sc-container {
    border:1px solid #ededed;
    margin-top:30px;
    margin-bottom:20px;
    padding:0px 10px;
    box-shadow:1px 5px 5px #ededed;
    position:relative;
}
.il-sc-header {
    display: inline-block;
    border-top: 5px solid #0099cc;
    padding: 0px 10px;
    min-width:150px;
}
.il-sc-header h2 {
    display:inline-block;
}
.il-sc-smallIcon {
    background-position: left;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    margin: 5px 7px;
    vertical-align: middle;
}
/**common section**/

/**concepts covered starts**/
 .il-cc-concepts {
    padding:10px 10px 25px 10px;
    display: table;
}
.il-cc-concepts .label {
    font-size:1.1em;
    font-weight:normal;
}
/**concepts covered ends**/

/**reference sections starts**/
 .il-rf-icon {
    width:25px;
    height:20px;
    margin:0 3px;
    background-image:url(../img/reference-icon.png);
    background-repeat:no-repeat;
    display:inline-block;
}
.il-rf-accordion {
    margin:0 5px;
}
.il-rf-accordion .panel {
    border:0;
    border-bottom:1px solid #e7e7e7;
    box-shadow:none;
}
.il-rf-accordion .panel-heading {
    background-color:#fff;
    padding:15px;
}
.il-rf-accordion .content_body {
    border-top:none;
    border-bottom:none !important;
    font-size:18px;
    padding:5px 50px;
    //font-style:italic;
}
.il-rf-accordion .panel-title {
    font-size:18px;
}
.il-rf-accordion .panel-title small a {
    text-decoration:underline;
    color:#333;
}
.il-rf-accordion .panel-body {
    padding: 0px;
}
.il-rf-accordion .glyphicon {
    font-size:14px;
}
.il-rf-accordion .border-top {
    border-bottom: 1px solid #DDDDDD;
}
.il-iconBox {
    margin-RIGHT:20px;
}
.il-playIcon {
    background-image: url(../img/icon-play.png);
}
.il-addIcon {
    background-image: url(../img/icon-add.png);
}
.il-readIcon {
    background-image: url(../img/icon-reading.png);
}
.reference-action-links {
    padding-bottom:20px;
    padding-top: 20px;
}
.il-rf-accordion .glyphicon-plus:before {
    content:"\2212";
}
.il-rf-accordion .collapsed .glyphicon-plus:before {
    content:"\2b";
}
/**reference sections end**/

/**relative content starts**/
 .il-rel-container {
    border-top:2px dotted #b1b1b1;
    margin:20px 0px;
}
/**relative content starts**/

/**category 101 starts**/
 .il-ct-header {
    border-top: 5px solid #fc0046;
}
.il-ct-body {
    padding:5px 5px 15px 45px;
    font-size:18px;
}
/**category 101 ends**/

/**programming paradigm Start**/
 .il-vidIcon {
    background-image: url(../img/icon-video-m.png);
    height:34px;
    width:34px;
}
.il-pp-tabContainer {
    margin:25px 0px;
}
.il-pp-tabRow {
    border: 0;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: none;
    padding:10px 15px;
    margin-top:5px;
}
.il-pp-tabTitle {
    width:55%;
    font-size:14px;
    font-weight:700;
    display:inline-block;
}
.il-roundplusIcon {
    background-image: url(../img/icon-roundplus.png);
    margin:5px 0px;
}
.il-pp-btn {
    color:#fff;
    background-color:#f0ad4d;
    margin-top:5px;
    padding:1px 2px;
}
/**programming paradigm ends**/

/**Media Screen**/
@media all and (min-width: 1280px) {
    .container {
        width:100%;
    }
}
@media all and (max-width: 1280px) and (min-width: 900px) {
    .container {
        width:100%;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right:10px !important;
    }
}
@media all and (max-width: 1000px) {
    .browserLeftColumn {
        float: left;
        width: 25%;
    }
    .browserMainColumn {
        float: left;
        width: 75%;
    }
}
@media all and (max-width: 910px) {
    .header_menu {
        display: none;
    }
}
/** BISU CHANGES FROM HERE **/
 .il-fileIcon {
    background:url(../img/icon-file.png) no-repeat;
}
.il-dd-header {
    border-top:5px solid #019967;
}
.il-videoIcon {
    background:url(../img/icon-video.png) no-repeat;
}
.il-ch-header {
    border-top:5px solid #ff6600;
}
.il-ex-header {
    border-top:5px solid #fc0046;
}
.il-sideHelpBox {
    position: absolute;
    right: -39px;
    top: 20px;
    color: #fff;
}
.il-sideTagMedium {
    padding-top:5px;
    height: 35px;
    background: #333333;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom:10px;
    cursor:pointer;
}
.il-sideTagMedium span {
    display:none;
}
.il-sideTagSmall {
    padding:5px 10px;
}
.il-challengeIcon {
    background:url(../img/icon-challenge.png) no-repeat;
    height:24px;
}
.il-paradigmIcon {
    background:url(../img/icon-paradigm.png) no-repeat;
}
.il-iconUp {
    background:url(../img/icon-fileUp.png) no-repeat;
    margin-top:25px;
}
.il-imgBoxshadow {
    width: 88%;
    margin-top: -2px;
    margin-left: 18px;
    position: relative;
    right: 2px;
    z-index: -2;
}
.unit, .unit > a {
    font-family:'FrutigerNeueLTW01-CnLt' !important;
    font-size:18px;
    color: #555555;
}
.unit {
    background:#ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom:1px solid #999;
    cursor: pointer;
    font-size: 1.7rem;
}

div.unitActiveRow {
    color: #0099cc !important;
    border-left:3px solid #0099cc;
    font-weight: bold;
}
div.unit:hover {
    background: #ddd;
}
.unitActiveRow, .unit:hover a {
    /*color: #fff !important;*/
}
.unitParent {
    background: #ddd;
    font-weight: bold;
}
.unit {
    vertical-align: middle;
}
.marginLeft5 {
    margin-left: 5px;
}

.marginLeft10 {
    margin-left: 10px;
}

.marginLeft30 {
    margin-left: 30px;    
}
.parent_name {
    color: #444444;
    font-family:'FrutigerSerifLTW01-Cn';
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    border-bottom:1px solid #DDD;
}
.parent_name a, .parent_name a:hover {
    text-decoration: none;
}
.small_pic {
    width: 40px;
    height: 40px;
}
.capitalize {
    text-transform: capitalize;
}
.concept_box {
    border:1px solid #ddd;
    border-left: 0;
    border-right: 0;
    overflow:auto;
}
.repository_browser_box {
    border:1px solid #ddd;
    border-left: 0;
    border-right: 0;
}
.concept {
    border-bottom:1px solid #ddd;
    overflow:auto;
    padding:10px;
}
.conceptLayout {
    float: left;
    min-height: 300px;
    width: 36%;
    border-right: 1px solid #DDDDDD;
}
.coveredCCLayout {
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    width: 64%;
}
.coveredCCLayout h4 {
    padding: 10px;
    text-transform: capitalize;
}
.coveredCCLayout hr {
    border: 1px solid #DDDDDD !important;
    margin-left: 0;
}
.coveredConcept {
    display: inline-block;
    font-family:'FrutigerNeueLTW01-CnBol 774330';
    text-transform: capitalize;
    font-size: 16px;
    padding:5px;
    //font-weight:bold;
    cursor: pointer;
}
.conceptDiv {
    border-bottom: 1px solid #DDDDDD !important;
    margin-left: 0;
    padding: 10px;
}
.activeConceptDiv {
    background: #428BCA;
    color: #FFF;
}
.contentRow {
    margin-left: 0px;
    margin-right: 0px;
    width: 98%;
    position: relative;
}
.sup_name {
    font-size:14px;
    //font-weight: bold;
    display:block;
    font-family:'Frutiger Serif LT W01';
}
.sup_details {
    font-size:12px;
    //font-style:italic;
    display:block;
}
.sup_content {
    margin-top:20px;
    text-align:center;
}
.sup_content img {
    margin-bottom:5px;
}
.sup_content .col-md-2 {
    margin-right:20px;
}
.padTop {
    padding-top: 10px;
}
.padBottom {
    padding-bottom: 10px !important;
}
.padTop15 {
    padding-top: 15px;
}
.padBottom15 {
    padding-bottom: 15px;
}
.padLeft15 {
    padding-left: 15px;
}
.padRight {
    padding-right: 10px;
}
.pad10 {
    padding: 10px;
}
.borderBottom {
    border-bottom: 1px solid #DDDDDD;
}
.img24 {
    width: 24px;
    height: 24px;
}
.playButton {
    position: absolute;
    right: 0;
    top: 0;
}
.marginRight5 {
    margin-right: 5px;
}
.glance_header {
    font-family:'FrutigerNeueLTW01-CnRg';
    text-align: center;
    width: 100%;
    font-size: 20px;
    //font-weight: bold;
    border-bottom: 1px solid #ddd;
    display:inline-block;
}
.count_section {
    width:50%;
    float: left;
    text-align: center;
}
.borderRight {
    border-right: 1px solid #ddd;
}
.metadata_number {
    font-family:'FrutigerNeueLTW01-CnRg';
    color: #777;
    font-size: 24px
}
.metadata_text {
    font-family:'FrutigerSerifLTW01-Ital';
    font-size: 14px;
    color: #777;
    text-transform: capitalize
}
.person_name {
    font-family:'FrutigerSerifLTW01-Bold 722227';
    font-size: 14px;
}
.person_name a {
    color: #428BCA;
    text-decoration: none;
}
.person_name:hover {
    color: #000;
    text-decoration: none;
}
.content_name {
    font-family:'FrutigerNeueLTW01-CnLt';
    color: #428BCA;
}
.contentActive {
    color:#0099cc;
}
.common_heading {
    font-family:'FrutigerNeueLTW01-CnLt';
    font-size: 30px;
    //font-weight: bold;
    display:inline-block;
    padding: 10px;
}
.inlineDisplay {
    display: inline;
}
.common_content {
    font-family:'Frutiger Serif LT W01';
    font-size: 18px !important;
    line-height: 1.5;
    font-style: normal !important;
    clear: both;
}
.common_content a {
    color: #428BCA;
    font-size: 18px !important;
}
.child_description {
    font-family:'Frutiger Serif LT W01';
    font-size: 16px !important;
    line-height: 1.5;
    font-style: normal !important;
    clear: both;
}
.borderTop {
    border-top: 1px solid #ddd;
}
.border_up_down {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    margin-left: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.faculty .name {
    font-size:13px;
    color:#333;
}
.faculty .profile {
    color:#666666;
    //font-style:italic;
}
.faculty li {
    margin-left:-10px;
}
.faculty li:last-child {
    margin-left:-30px;
}
.martop2 {
    margin-top:2px;
}
.font30 {
    font-size:30px;
}
.content_title {
    font-family:'FrutigerNeueLTW01-CnLt' !important;
    font-size: 24px !important;
}
.content_title a {
    color: #428BCA !important;
    font-size: 24px !important;
}
.child_links {
    font-family:'FrutigerNeueLTW01-CnLt' !important;
    font-size: 20px !important;
}
.child_links a {
    color: #428BCA;
    font-size: 20px !important;
}
.acc_title {
    cursor: pointer;
    text-transform: capitalize;
}
.acc_title a {
    color: #428BCA;
}
.acc_title span {
    //font-weight:bold;
    margin-left: 6px;
    font-size:14px;
}
.acc_title:hover {
    text-decoration:none;
}
.margin10 {
    margin : 10px;
}
.margin20 {
    margin : 20px;
}
.gadgetDiv {
    position: fixed;
    right: -20px;
    bottom: 100px;
    padding:6px 8px;
    border-radius: 4px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #555;
    font-size: 14px;
    font-weight: 400;
    color:#fff;
    z-index: 500000;
   
}
.gadgetDiv a {
    padding: 0em;
    position: relative;
    width:125px;
    color: #fff;
}
.gadgetDiv a.active {
    color: #fff;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -khtml-border-top-left-radius: 0;
    -khtml-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 9999;
}
div.action-icon-div-ct {
    padding-top: 1em;
    display: none;
    z-index: 9999;
}
div.action-icon-div-ct .content {
    height:200px;
    background-color: #fff;
    border:1px solid #555;
    border-right:1px solid #555;
    padding: 1em;
    box-shadow: rgb(155, 155, 155) -5px 5px 0px 0px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.mediaFrame {
    height:auto;
    margin-top: 10px;
}
.padLeft {
    padding-left: 10px;
}
.live-tile.flip.ha, .flip-list.ha {
    position: relative;
}
.live-tile.course-tile {
    margin: 15px;
    height: 340px;
    width: 250px;
    float: left;
}
.live-tile, .list-tile, .copy-tile {
    position: relative;
    z-index: 20;
}
.tile-strip, .live-tile, .list-tile, .copy-tile, .slide {
    float: left;
}
.live-tile, .list-tile, .copy-tile, .tile-strip .flip-list > li {
    height: 150px;
    margin: 5px;
    outline: 1px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    width: 150px;
}
#myCourses div:first-child {
    margin-top: 0;
}
.course-box .mask {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C6C6C6;
    border-radius: 3px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    color: #353535;
    display: block;
    font-size: small;
    height: 100%;
    overflow: hidden;
    transition: box-shadow 0.2s ease 0s;
    width: 250px;
}
.course-box {
    float: left;
}
.course-thumb.img {
    padding: 0;
}
.course-thumb {
    background: linear-gradient(to bottom, #4F85BB 0%, #36567F 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    font-size: 2.4em;
    height: 150px;
    line-height: 1.1em;
    padding: 20px;
    text-decoration: none;
    width: 100%;
}
.course-box .mask .title {
    display: block;
    font-size: 16px;
    line-height: 1;
    min-height: 30px;
    overflow: hidden;
    padding: 10px;
    //font-weight: bold;
    border-top: #ccc 1px solid;
}
.course-box .mask .author {
    border-top: 1px solid #eee;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding: 10px;
}
.course-box .details2 {
    border-top: 1px solid #EEEEEE;
    color: #9B9B9B;
    display: block;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 10px;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
}
.course-box .mask .tutor {
    border-top: 1px solid #EEEEEE;
    display: block;
    font-size: 14px;
    margin: 0 10px;
    overflow: hidden;
    padding: 10px 0;
}
.tutor_pic, .tutor_pic_back {
    width:40px;
    height: 40px;
}
.noPad {
    padding: 0px;
}
.noMargin {
    margin: 0px;
}
.padLeft5 {
    padding-left: 5px;
}
.drilling_display {
    width: 100%;
}
/* Category Colors */

.pagination-101 a.active {
    background: #FC0046 !important;
    -webkit-box-shadow: 0 0 2px #FC0046 !important;
    -moz-box-shadow: 0 0 2px #FC0046 !important;
    box-shadow: 0 0 2px #FC0046 !important;
}

.pagination-explore a.active {
    background: #FC0046 !important;
    -webkit-box-shadow: 0 0 2px #FC0046 !important;
    -moz-box-shadow: 0 0 2px #FC0046 !important;
    box-shadow: 0 0 2px #FC0046 !important;
}

.pagination-references a.active {
    background: #982ECD !important;
    -webkit-box-shadow: 0 0 2px #982ECD !important;
    -moz-box-shadow: 0 0 2px #982ECD !important;
    box-shadow: 0 0 2px #982ECD !important;
}

.pagination-drilldown a.active {
    background: #019967 !important;
    -webkit-box-shadow: 0 0 2px #019967 !important;
    -moz-box-shadow: 0 0 2px #019967 !important;
    box-shadow: 0 0 2px #019967 !important;
}

.pagination-pre-requisites a.active {
    background: #0099CC !important;
    -webkit-box-shadow: 0 0 2px #0099CC !important;
    -moz-box-shadow: 0 0 2px #0099CC !important;
    box-shadow: 0 0 2px #0099CC !important;
}

.pagination-challenge a.active {
    background: #FF6600 !important;
    -webkit-box-shadow: 0 0 2px #FF6600 !important;
    -moz-box-shadow: 0 0 2px #FF6600 !important;
    box-shadow: 0 0 2px #FF6600 !important;
}

.pagination-tutorials a.active {
    background: #ff6600 !important;
    -webkit-box-shadow: 0 0 2px #ff6600 !important;
    -moz-box-shadow: 0 0 2px #ff6600 !important;
    box-shadow: 0 0 2px #ff6600 !important;
}


.il-header-101 ul li a.active {
    color:#FC0046;
}

.il-header-explore ul li a.active {
    color:#FC0046;
}

.il-header-references ul li a.active {
    color:#982ECD;
}

.il-header-drilldown ul li a.active {
    color:#019967;
}

.il-header-pre-requisites ul li a.active {
    color:#0099CC;
}

.il-header-challenge ul li a.active {
    color:#FF6600;
}

.il-header-tutorials ul li a.active {
    color:#ff6600;
}


.leftnavbar-border-101 {
    border-top: 3px solid #FC0046;
}

.leftnavbar-border-explore {
    border-top: 3px solid #FC0046;
}

.leftnavbar-border-references {
    border-top: 3px solid #982ECD;
}

.leftnavbar-border-drilldown {
    border-top: 3px solid #019967;
}

.leftnavbar-border-pre-requisites {
    border-top: 3px solid #0099CC;
}

.leftnavbar-border-challenge {
    border-top: 3px solid #FF6600;
}

.leftnavbar-border-tutorials {
    border-top: 3px solid #ff6600;
}


/*.border-color-101 {
    border-left-color: #FC0046 !important;
}
.border-color-explore {
    border-left-color: #FC0046 !important;
}
.border-color-references {
    border-left-color: #982ECD !important;
}
.border-color-drilldown {
    border-left-color: #019967 !important;
}
.border-color-challenge {
    border-left-color: #FF6600 !important;
}
.border-color-pre-requisites {
    border-left-color: #0099CC !important;
}
.border-color-tutorials {
    border-left-color: #ff6600 !important;
}*/
.unit101, .unit101 > a, .unitexplore, .unitexplore > a, .unitreferences, .unitreferences > a, .unitdrilldown, .unitdrilldown > a, .unitpre-requisites, .unitpre-requisites > a, .unitchallenge, .unitchallenge > a, .unitrecommendedcontent, .unitrecommendedcontent > a, .unittutorials, .unittutorials > a, .unitprerequisites, .unitprerequisites > a {
    font-family:'FrutigerNeueLTW01-CnLt' !important;
    font-size:18px;
    color:#777777;
    cursor: pointer;
}
.unit101, .unitexplore, .unitreferences, .unitdrilldown, .unitpre-requisites, .unitprerequisites, .unitchallenge, .unitrecommendedcontent, .unittutorials {
    background:#ffffff;
    padding: 10px 10px 5px 10px;
    border-bottom:1px solid #DDD;
    vertical-align: middle;
}
/*.unit101Active, .unit101:hover, .unitexploreActive, .unitexplore:hover, .unitreferencesActive, .unitreferences:hover, .unitdrilldownActive, .unitdrilldown:hover, .unitpre-requisitesActive, .unitpre-requisites:hover, .unitprerequisitesActive, .unitprerequisites:hover, .unitchallengeActive, .unitchallenge:hover, .unitrecommendedcontent:hover, .unitrecommendedcontentActive, .unittutorials:hover, .unittutorialsActive {
    color: #fff !important;
}*/
.unit101Active, .unitexploreActive, .unitreferencesActive, .unitdrilldownActive, .unitpre-requisitesActive, .unitprerequisitesActive, .unitchallengeActive, .unitrecommendedcontentActive, .unittutorialsActive {
    color: #000 !important;
}
/*.unit101Active {
    background: #FC0046 !important;
}
.unitexploreActive, .unitexplore:hover {
    background: #FC0046 !important;
}.unitreferencesActive, .unitreferences:hover {
    background: #982ECD !important;
}.unitdrilldownActive, .unitdrilldown:hover {
    background: #019967 !important;
}
.unitchallengeActive, .unitchallenge:hover {
    background: #FF6600 !important;
}
*/
.unit101Active {
    border-left: 3px solid #FC0046;
    color: #FC0046 !important;
}
.unitexploreActive {
    border-left: 3px solid #FC0046;
    color: #FC0046 !important;
}
.unitreferencesActive {
    border-left: 3px solid #982ECD;
    color: #982ECD !important;
}
.unit101:hover, .unitreferences:hover, .unitexplore:hover, .unitdrilldown:hover, .unitchallenge:hover, .unitpre-requisites:hover, .unitprerequisites:hover, .unitrecommendedcontent:hover, .unittutorials:hover {
    background: rgb(221, 221, 221);
}
.unitdrilldownActive {
    border-left: 3px solid #019967;
    color: #019967 !important;
}
/*.unitpre-requisitesActive, .unitpre-requisites:hover, .unitprerequisitesActive, .unitprerequisites:hover {
    background: #0099CC !important;
}*/
.unitpre-requisitesActive, .unitprerequisitesActive {
    border-left: 3px solid #0099CC;
    color: #0099CC !important;
}
.unitchallengeActive {
    border-left: 3px solid #FF6600;
    color: #FF6600 !important;
}
/*.unitrecommendedcontentActive, .unitrecommendedcontent:hover {
    background: #0099cc !important;
}
.unittutorialsActive, .unittutorials:hover {
    background: #ff6600 !important;
}*/
.unitrecommendedcontentActive {
    border-left: 3px solid #0099cc;
}
.unittutorialsActive, .unittutorials:hover {
    border-left: 3px solid #ff6600;
    color: #ff6600 !important;
}
.text_border {
    font-size: 16px;
    font-family: 'FrutigerNeueLTW01-CnBol 774330';
    height: 30px;
    border:2px solid #ddd;
    background-color: #EFEFEF;
}
.text_area_border {
    font-family:'Frutiger Serif LT W01';
    font-size: 16px;
    background-color: #EFEFEF;
    border:2px solid #ddd;
    border-radius: 1%;
}
.logout_header {
    margin-top : 25px;
}
a.login_orange, .nav > li > a.login_orange:hover, .nav > li > a.login_orange:focus {
    background-color: #0099cc;
    border-color: #0099cc;
}
.navbar-nav > li > a.login_black, .navbar-nav > li > a.login_orange, .nav > li > a.login_black:hover, .nav > li > a.login_orange:focus {
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    padding: 8px 15px;
}
.marginTop5 {
    margin-top: 5px;
}
.marginTop25 {
    margin-top: 25px;
}
.categoryLabel {
    text-transform: capitalize;
    font-size: 10px;
    background-color: #f39c12;
}
.right-menu-header {
    background-color: #ddd;
    color: #555;
    padding-bottom: 1px;
    padding-left: 25px;
    padding-top: 1px;
}
.right-menu-item {
    border-bottom: 1px solid #555;
    height: 35px;
    padding-left: 25px;
    padding-top: 10px;
}
.right-menu-item > span {
    font-family:'FrutigerNeueLTW01-CnLt' !important;
    font-size: 16px;
}
.atglance-time span {
    font-family: 'FrutigerSerifLTW01-CnLt';
    font-size: 18px;
}

.animatedDiv {
    -webkit-transition: all 05s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.content_row {
    width: 100%;
    float: left;
    display: block;
}

.toc_row {
    margin-left: 0px;
    margin-right: 0px;
    width: 95%;
}

.toc_row div.progress {
    margin-bottom: 5px;
}

.unit:hover {
    /*color: #FFFFFF;*/
}

.toc_row .spanImage{
    display: block;
    float: left;
    width: 7%;
}

.toc_row .spanText{
    display: block;
    float: left;
    width: 93%;
    font-size: 1.7rem;
}

.il-student-pic {
    border-radius: 175px;
    height: 175px;
    margin-right: 25px;
    overflow: hidden;
    width: 175px;
    //border: 2px solid #ffd700;
    //box-shadow: 4px 2px 8px 1px;
    border: 1px solid #333;
    float: left;
}

.large_pic {
    width: 175px;
    height: 175px
}

.videoFrame {
    border: #707070 1px solid;
}

.vjs-big-play-button {
    top: 42% !important;
    left: 45% !important;
    z-index: 1000 !important;
    cursor: pointer !important;
}

.myStuffLink.disabled {
    opacity: 0.65;
    cursor: not-allowed;
    text-decoration: none;
}

.myStuffLink:hover {
    opacity: 0.65;
    color: #333 !important;
    text-decoration: none;
}


div.tooltip-inner {
    max-width: 500px;
    font-size:14px !important;
    color: #000 !important;
    background-color: #fff !important;
    text-align:left;
    font-family: 'FrutigerNeueLTW01-CnLt';
}

.rotateNote{
    -ms-transform: rotate(270deg); /* IE 9 */
   // -ms-transform-origin: 0% 50%; /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    //-webkit-transform-origin:0% 50%; /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    //transform-origin: 50px -15px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px
    
}

.il-gadget-header {
    background: #555;
    overflow: auto;
    color: #fff;
    text-align: center;
    width: 40%;
    display: inline-block;
    position: fixed;
    z-index: 9999;
}

.il-gadget-body{
    position: relative;
    top: 50px;
}
.slideButton {
    background: none repeat scroll 0 0 #555;
    border-color: #555 !important;
    color: #fff !important;
    margin-left: -47px;
    padding: 3px !important;
    position: absolute;
    top: 40%;
    right: 88.5%;
    width: 150px;
}

.side-panel-body {
    height: 100%;
    overflow: auto;
    display: inline-block;
    width: 100%;
    border: 1px solid #cccccc;
    /*border-bottom: 2px solid #555;*/
    border-bottom: none;
   }

.marginTop10 {
    margin-top: 10px;
}

.note-container {
    border-bottom: 1px solid #ddd;
}

.note-div {
    display: inline-block;
    width: 100%;
}

.note-title {
    font-weight: bold;
    display: inline-block;
    width: 100%;
}

.note-desc {
    display: inline-flex;
    width: 100%;
}

.note-desc-text {
    padding-left: 5px;
    font-size: 0.9em;
}

.note-update-actions {
    display: inline-block;
    width: 100%;
}

.side-panel {
    position: fixed;
    right: -25%; /*left or right and the width of your navigation panel*/
    width: 25%; /*should match the above value*/
    margin-top: 67px;
    z-index: 999;
    background-color: #fff;
}

.wrap {
    position: relative;
}

.wrap-fixed {
    position: absolute !important;
    width: 78%;
    height: 100%;
    left: 22%;
    /*overflow-x: hidden;*/
}

.curs-pointer {
    cursor: pointer;
}

/*commented to make affix*/
/*.content-loaded {
    display: none;
}*/
.background-101 {
    background: #FC0046 !important;
}

.background-explore, .background-Explore {
    background: #FC0046 !important;
}

.background-references, .background-References {
    background: #982ECD !important;
}

.background-drilldown, .background-Drilldown {
    background: #019967 !important;
}

.background-pre-requisites, .background-Pre-requisites {
    background: #0099CC !important;
}

.background-challenge, .background-Challenge {
    background: #FF6600 !important;
}

.background-tutorials, .background-Tutorials {
    background: #ff6600 !important;
}
.bookmarkedStar:hover, .bookmarkedStar{
    color: #999 !important;
}

.star{
    font-size:  23px !important;
    color: #999;
    top : 5px;
}

.read_mode {
    margin-top: -1px;
    margin-left: 2px;
}
.toc-addedbyme {
    color: #000;
    font-family: 'FrutigerSerifLTW01-Cn';
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
    border-bottom: 1px solid #DDD;
}
.toc-bookmark {
    font-size: 25px;
    padding-right: 5px;
}
.am-meta-value {
    font-family: "Frutiger Serif LT W01";
    font-size: 14px;
    font-style: initial;

}

.dotted-brd-btm {
    border-bottom: 3px dashed #333;
}

.toc-lob-name {
    margin-left: 15px;
    margin-top: 3px;
    margin-bottom: -3px;
}

.userimport{
    margin-bottom: 4%;
}
.csv-type-select{
    width: 41% !important;
}
.user-import-warning{
    margin: 2% 0% 0% 33% !important;    
}
.import-btn{
    margin-right: 6px;
}
.download-btn{
   padding-left: 1% !important;
}
.export-select{
    margin-right: 1%;
    margin-left: 1%;
}
.browserLeftColumn {
    min-height: 400px;
}

.modal-dialog-center {
    margin-top: 15%;
}

/*Fixed article header*/
    
.il-introContent .stickyHeader { 
    /*background: #fff;
    display: block;
    position: relative;*/
    top: 0px;
    /*bottom: auto;
    width: 861px;*/
 }

.fixed {
    position: fixed !important;
    z-index: 9999;
    margin-top: 20px !important;
    width: 90%;
    text-align: center;
}
.sidePanelOpen{
    left: 0;
}

.gridStyle{
    border: 1px solid rgb(212,212,212);
    width: 100% !important;
    height: 500px;
}

#importTableGridId .ngCellText{
  height: auto !important;
  white-space: normal;
  overflow:visible;
}

.fixed.sidePanelOpen,.fixed.readModeOpen{
    left: 18%;
}

.marginTop30 {
    margin-top: 30px;
}

.marginTop60 {
    margin-top: 60px;
}

.left-side-menu {
    position: fixed;
    left: -22%; /*left or right and the width of your navigation panel*/
    width: 22%; /*should match the above value*/
    margin-top: 67px;
    z-index: 999;
    background-color: #fff;
    border-right: 1px solid #ddd;
    overflow-x: auto;
    transition: transform 0.3s cubic-bezier(0.41, 1.34, 0.51, 1.01) 0s;
    height: 100%;
}

.cb-right-column {
    display: inline-block;
    width: 0%;
}

.cb-center-width {
    width: 78%;
}

.cb-dummy-width {
    width: 25%;
}

.left-side-menu li {
    //border-bottom: 1px solid #ddd;
}

.left-side-menu li a {
    padding: 2px 10px;
    display: inline-block;
    width: 100%;
}

.left-side-menu li a.selected {
    color: #0099cc !important;
    border-left:3px solid #0099cc;
    font-weight: bold;
}

.lesson-pad {
    padding-left: 30px !important;
}

.lecture-pad {
    padding-left: 50px !important;
}

.left-side-menu li .active.fold-icon {
    transform: rotate(-90deg);
    transition: transform 0.3s cubic-bezier(0.41, 1.34, 0.51, 1.01) 0s;
}

.left-side-menu a, .left-side-menu i {
    font-size: 18px;
}

.slideIcon {
    background: none repeat scroll 0 0 #222;
    color: #fff;
    cursor: pointer;
    height: 3em;
    position: relative;
    width: 3em;
    display: inline-block;
    margin-bottom: 10px;
}

.slideIcon i {
    font-size: 1.5em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0px);
    z-index: 1000;
}

.slideIcon i.fa-qa {
    font-size: 1em;
    left: 38%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0px);
    font-weight: bold;
}

.slideIcon:hover, .slideIcon:focus {
    background-color: #0099cc !important;
    color: #fff !important;
}

.slideIcon.active {
    background-color: #0099cc;
}

.marginBottom10 {
    margin-bottom: 10px;
}

.marginTop20 {
    margin-top: 20px;
}

.marginBottom30 {
    margin-bottom: 30px;
}

.marginTop0 {
    margin-top: 0px;
}

.bottom-search {
    position: absolute;
    bottom: 67px;
    background: none repeat scroll 0 0 #555;
}
.ask-qus-block-content{
    cursor: pointer;
    font-size: 14px;
    margin-right: 50px;
    margin-top: 72px;
    position: absolute;
    right: 0;
}
.qa-filters {
    overflow-x: hidden;
    overflow-y: scroll;
}
.fixed-left-open{
    position: fixed !important;
    z-index: 9999;
    margin-top: 20px !important;
    text-align: center;
    width: 47%;
}
.fixed-left-close{
    width: 89% !important;
}

.video-js {
    border: 1px solid #707070;
}

.addOrRemoveInteraction{
    display: inline-block;
    float: right;
    position: relative;
    top: 5px
}

.addOrRemoveInteraction > span{    
    cursor: pointer;
    font-size: 12px !important;
    color: #0099cc !important;
    padding: 10px 20px;
}

.addOrRemoveInteraction > span{
    margin: 0 2px;
    cursor: pointer;
    font-size: 20px;
}

.setTitle{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.setTitle > label{
    font-size: 30px;
}


.addDeleteLabelContainer {
    font-size: 15px;    
    position: relative;
    top: 10px;
}

.addDeleteLabelContainer > a{
    color: #0099cc !important;
}

.addQuestions {
    font-size: 15px;
    color: #0099cc;
    position: relative;
    top: 18px;
}

.setAccordion{
    margin-right: 8px;
}

.listMetaTag{
    color: #777;
    font-size: 12px;
    font-family: 'FrutigerSerifLTW01-Ital' !important;
    display: inline-block;
    float: right;
}

.setListToggle{
    background:#f4f2ef;
    font-family: 'Frutiger Serif LT W01';
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom:1px solid #999;
    cursor: pointer;
    font-size: 1.7rem;
}

.setListToggle > span{
    font-family: 'bebas_neue_bold';
}


.createErrorMsgContainer{
    margin: 10px 0;
    padding: 10px;
}

