.user-type {
    color: #757575;
    text-transform: capitalize
}
.display-inline {
    display: inline
}
.full-width {
    display: block;
    width: 100%
}
.user-prof-span .label {
    font-size: 14px;
    font-weight: normal;
    margin-left: 5px
}
.user-prof-span {
    color: #999;
    font-family: "FrutigerSerifLTW01-Medi 722257";
    font-size: 14px;
    margin-bottom: 1px;
}
.user-prof-span i {
    font-size: 16px
}
.marginTop10 {
    margin-top: 10px
}
.marginTop20 {
    margin-top: 20px
}
.community-replies {
    display: inline-block;
    width: 100%;
    //margin-top: 5px
}
.community-reply {
    background: none repeat scroll 0 0 #fafafa;
    border-bottom: medium none;
    //border-left: 10px solid #f1f1f1;
    margin-top: 5px;
    padding: 5px 0 5px 10px;
    display: inline-block;
    width: 100%
}
.community-reply>.reply-body {
    margin-left: 35px
}
.community-reply>.reply-body>.user {
    padding-right: 5px;
    font-size: 14px
}
.community-reply>.reply-body>.user>.ac-contents, .community-reply>.reply-body>.SocialNet {
    font-size: 14px
}
.community-reply>.reply-body {
    padding-left: 5px
}
.noPad {
    padding-left: 0;
    padding-right: 0
}
.confirm-post dt {
    width: 100px !important;
    margin-bottom: 5px
}
.confirm-post dd {
    margin-left: 120px !important;
    margin-bottom: 5px
}
.community-event-status {
    font-size: 100%;
    color: #fff !important
}
.col-md-1-5 {
    width: 12.333%
}
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100px !important
}
.textEditor.comment-editor {
    display: inline-block;
    padding: 15px 0 !important;
    width: 100% !important
}
.comment-editor.ng-hide-add.ng-hide-add-active, .comment-editor.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear .5s !important;
    transition: all linear .5s !important
}
.show-more {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    background: none repeat scroll 0 0 #999;
    color: #fff
}
.show-more:hover {
    text-decoration: none
}
.show-more:focus {
    background: none repeat scroll 0 0 #999;
    color: #fff;
    margin-bottom: 5px;
    text-decoration: none
}
.group-add-round {
    width: 120px;
    height: 120px;
    background: #0492c8;
    text-align: center;
    border-radius: 49%;
    position: relative;
    border: 10px solid #ddd;
    -webkit-box-shadow: 0 0 10px 0 rgba(133, 133, 133, 0.95);
    -moz-box-shadow: 0 0 10px 0 rgba(133, 133, 133, 0.95);
    box-shadow: none;
    margin-top: 30px;
    margin-left: 10px;
}
.groupcontentnumber {
    display: inline-block;
    font-size: 36px;
    color: #fff;
    text-align: center;
    width: 70px;
    margin-top: 0
}
.group-add-round:hover {
    background: #096 !important;
    z-index: 555
}
.groupName {
    color: #333;
    background: #fff;
    padding: 2px 2px;
    font-size: 16px;
    font-family: "FrutigerSerifLTW01-Medi 722257";
    text-align: center;
    margin: 10px 15px 0 0;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(207, 206, 206, 1);
    -moz-box-shadow: 3px 3px 5px 0 rgba(207, 206, 206, 1);
    box-shadow: none;
    border: 1px solid #ddd;
    white-space: nowrap
}
.groupName:hover {
    background-color: #096
}
.group_number {
    display: block;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    transition: all .5s ease-in;
    font-family: "FrutigerSerifLTW01-Medi 722257" !important;
    font-size: 36px;
    margin-top: 26px;
}
.groupAddround:hover .group_number {
    margin-top: 16px
}
.profile-anchor {
    padding: 10px 10px;
    font-family: bebasNeue;
    font-size: 18px;
}
.profile-anchor.active,.profile-anchor:hover {
    border-bottom: 3px solid #09c;
    text-decoration:none;
    font-family: bebasNeue;
    font-size: 18px;
}
.downdownhor .select2-choice, .downdownhor .select2-choices {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.as-menu-item {
    border-bottom: 1px solid #999;
    padding: 15px;
    cursor: pointer
}
.as-menu-item:hover {
    background-color: #ddd
}
.as-menu-item-active {
    color: #09c !important;
    border-left: 3px solid #09c;
    font-weight: bold
}
.as-block-title {
    background-color: #f4f2ef;
    border: 1px solid #ddd;
    margin-bottom: 0;
    padding: 10px
}
.as-block-body {
    border: 1px solid #ddd;
    border-top: 0;
    min-height: 20px
}
.marginLR30 {
    margin-left: 30px;
    margin-right: 30px
}
.pad15 {
    padding: 15px
}
.ques-res-item {
    padding: 15px;
    margin-left: 0
}
.qasetcontextselect, .questionpaper-context-select {
    height: 35px !important
}
.qaset-context-container, .qcontext-list-container, .questionpaper-context-container {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #999;
    height: 300px;
    margin-top: -1px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    z-index: 10000 !important;
    display: none
}
.qaset-context-container-hover, .qcontext-list-container-hover, .questionpaper-context-container-hover {
    display: inline;
    height: 400px;
    width: 500px;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}
.showchild {
    margin-left: 10px;
    font-size: 10px
}
.asPreviewItem {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px
}
.manage-qustionset-link {
    font-size: 1em;
    text-decoration: underline;
    top: 35px;
    width: 105px
}
.questionpaper-module-pad {
    padding-left: 15px !important
}
.questionpaper-lesson-pad {
    padding-left: 30px !important
}
.questionpaper-lecture-pad {
    padding-left: 45px !important
}
.save-questionpaper-title {
    font-size: 21px;
    text-transform: capitalize;
    font-weight: bold
}
.qp-preview-item {
    border: 1px solid #ddd;
    padding: 10px 10px 10px 10px
}
li.icon-error-list:before {
    content: '\f05a';
    font-family: 'FontAwesome';
    float: left;
    font-size: 1.1em;
    margin-left: -1.5em;
    color: red
}
li.icon-info-list:before {
    content: '\f05a';
    font-family: 'FontAwesome';
    float: left;
    font-size: 1.1em;
    margin-left: -1.5em;
    color: #0074d9
}
.evernote-icon {
    background: url(../img/evernote.png) no-repeat;
    display: inline-block;
    vertical-align: bottom;
    background-size: 70% 65%;
    margin: 0 0 -8px 10px !important;
}
.delete-icon {
    color: #000
}
.padL25 {
    padding-left: 25px
}
.evernote-btns {
    //padding: 17px 0 0 36px
}
.vjs-big-play-button {
    top: 40% !important;
    left: 42% !important;
    z-index: 1000 !important;
    cursor: pointer !important
}
.common_content {
    font-size: 18px !important;
    line-height: 1.5;
    font-style: normal !important;
    clear: both;
}
.common_content ul {padding-left:3em;}
.common_content a {
    color: #428bca;
    font-size: 18px !important
}
.padL10 {
    padding-left: 10px
}
.padT5 {
    padding-top: 5px
}
.inlineBlock {
    display: inline-block
}
.marginBottom50 {
    margin-bottom: 50px
}
.marginBottom10 {
    margin-bottom: 10px
}
.marginBottom15 {
    margin-bottom: 15px
}
.marginBottom20 {
    margin-bottom: 20px
}
.marginBottom25 {
    margin-bottom: 25px
}
.bdr {
    border: 1px solid #000
}
.video-content {
    display: inline-block;
    width: 100%;
    position: relative
}
.collapse-Note-link {
    bottom: 5px;
    left: 47%;
    position: relative
}
.collapse-Additional-link {
    bottom: 5px;
    left: 47%;
    position: relative
}
.media-dropdown-menu {
    overflow-y: none;
    width: 180px !important;
    left: -160px !important
}
.MediaTypeContent span {
    color: #757575;
    text-transform: capitalize
}
.additionalMaterialIconSet {
    display: inline-block
}
.panel-heading>.panel-title {
    font-size: 16px !important
}
.removeBookMark {
    color: green !important
}
.removeBookMark>span {
    color: green !important
}
.playAdditionalMaterial {
    cursor: pointer !important;
    color: #09c !important
}
.scribdCollapseClass {
    bottom: -16px !important;
    z-index: 9999
}
.il-dd-header {
    border-top: 3px solid #019967 !important
}
.il-ex-header {
    border-top: 3px solid green !important
}
.il-ct-header {
    border-top: 3px solid #fc0046 !important
}
.il-sc-container .panel-title .removeBookMark span.fa {
    display: block !important
}
.menuOne {
    padding: 10px 0
}
.menuOne>li {
    float: none !important;
    min-width: 135px;
    padding: 0 10px
}
.menuOne .divider {
    height: 1px;
    overflow: hidden;
    background-color: #e5e5e5
}
.ref-links {
    margin-right: 10px
}
.int-question {
    display: inline-block;
    width: 100%;
    background: #f9f9f9
}
.int-question:hover {
    background: #f2f1f1
}
.int-question-text {
    display: inline-block;
    width: 100%
}
.int-question-body {
    display: inline-block;
    width: 100%;
    position: relative;
    top: 10px
}
.int-ques {
    display: inline-block;
    padding: 5px 0 0 0
}
.int-list-body>.int-ques>span {
    cursor: pointer
}
.int-list-body>.int-ques:hover {
    text-decoration: underline
}
.int-comment {
    padding-top: 10px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ddd
}
.int-ques span {
    font-size: 18px
}
.int-metadata {
    padding-top: 5px
}
.int-summaries {
}
.int-user {
    color: #777;
    font-size: 12px
}
.int-icon-grey {
    color: #777;
    cursor: default !important
}
.int-user span {
    display: inline-block;
    float: right
}
.int-user a {
}
.int-comment-user span {
    display: inline-block;
    color: #757575
}
.int-comment-user a {
    text-decoration: underline;
    color: #3276b1
}
.int-list-container {
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0
}
.int-block {
    //display: inline-block;
    //width: 100%;
    text-align: center;
}
.int-follow {
    color: #666;
    //display: block !important;
    font-size: 16px;
    margin-top: -12px
}
.int-icon.following {
    color: #428bca
}
.int-icon.disabled {
    color: #777
}
.int-vote {
    font-size: 20px;
    text-align: center;
}
.int-icon {
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
}
.int-answer {
    color: #aaa
}
.int-answered {
    font-size: 20px;
    color: green;
    text-align: center
}
.int-list-votes {
    padding-top: 0;
    padding-right: 0;
    padding-left: 10px;
    position: relative
}
.int-post-comment {
    font-size: 13px;
    padding: 10px 10px 0 25px;
    border: 1px solid #ccc;
    margin: 2px 0;
    border-radius: 2px
}
.int-post-comment .commentFlag {
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 10px
}
.int-post-comment .commentFlag .int-block {
    font-size: 17px
}
.int-post-comment>.int-comment-user span {
    font-size: 13px
}
.int-sort-filter {
    font-size: 15px;
    text-transform: none !important
}
.int-sort-filter>a {
    padding: 5px 15px !important
}
.ask-question-link {
    position: relative;
    top: 35px;
    width: 105px;
    font-size: 1.4em;
    text-decoration: underline
}
.ask-question-link:hover {
    text-decoration: none
}
.int-full-icon {
    cursor: pointer;
    position: absolute;
    right: 0;
    font-size: 26px
}
.ask-qus-block {
    cursor: pointer;
    font-size: 14px;
    margin-right: 7.27%;
    margin-top: 25px;
    position: absolute;
    right: 0;
    margin-top: 50px
}
.ask-qus-block-slider-open {
    margin-right: 8.27% !important
}
.marRight50 {
    margin-right: 50px
}
.marRight30 {
    margin-right: 30px
}
.qacontextselect {
    height: 35px !important
}
.qa-context-container {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #999;
    height: 300px;
    margin-top: -1px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    z-index: 10 !important;
    display: none;
    border-top: 0;
    width: 326px
}
.qa-context-container-hover {
    display: inline;
    height: 400px;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}
.width48p {
    width: 48% !important
}
.qa-lesson-pad {
    padding-left: 15px !important
}
.qa-lecture-pad {
    padding-left: 25px !important
}
.qaPadTop {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    padding-top: 15px
}
.qaheader-text-left-open {
    margin-top: -6% !important;
    position: fixed !important;
    text-align: center;
    width: 47%;
    z-index: 9999
}
.qaheader-text-left-close {
    width: 89% !important
}
.uploadFileBrowse {
    padding-bottom: 10px
}
.uploadFilePreview {
    border: 1px dotted #ccc;
    padding: 10px
}
.previewFileName {
    margin-left: 5px
}
.uploadBtnContainer {
    position: relative;
    top: 20px
}
.uploadIconCont {
    margin-left: 5px
}
.uploadIcon {
    font-size: 15px
}
.txtDecNone:hover {
    text-decoration: none
}
.backBtnCont {
    padding: 0
}
.padr1 {
    padding-right: 1px
}
.padr5 {
    padding-right: 5px
}
.int-tags span.label {
    margin-right: 3px;
    font-size: 80%;
    font-weight: normal
}
.int-icon {
    cursor: pointer;
    font-size: 24px;
    text-align: center
}
.int-comment {
    border-bottom: 1px solid #ddd;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%
}
.int-question-body {
    display: inline-block;
    position: relative;
    top: 10px;
    width: 100%
}
.border-bottom-2px {
    border-bottom: 2px solid #ddd
}
.border-bottom-1px {
    border-bottom: 1px solid #ddd
}
.int-ques {
    display: inline-block;
    padding: 5px 0 0
}
.int-comment-user a {
    color: #3276b1;
    text-decoration: underline
}
.borderBottom {
    border-bottom: 1px solid #ddd
}
.borderTop {
    border-top: 1px solid #ddd
}
.int-user span {
    display: inline-block;
    float: right;
}
.padTop {
    padding-top: 10px
}
.padBottom {
    padding-bottom: 10px
}
.padBottom-5px {
    padding-bottom: 5px
}
.padding-30px {
    padding: 30px 30px 0 30px
}
.int-icon.following {
    color: #428bca
}
.int-icon-grey {
    color: #777;
    cursor: default !important
}
.backBtnCont {
    float: right;
    padding-top: 10px;
}
.padBottom-30px {
    padding-bottom: 30px
}
.padBottom-20px {
    padding-bottom: 20px
}
.padTop-30px {
    padding-top: 30px
}
.int-question-text>.int-ques>span {
    font-size: 22px
}
.qa-selected-context {
    color: #09c
}
.qa-filter-lectures {
    font-size: 16px !important;
    padding: 1px
}
.qa-filter-lessons {
    font-size: 17px !important
}
.qa-filter-modules {
    font-size: 18px !important
}
.qa-filter-tocname {
    font-size: 19px !important
}
ul.qamoduleslist {
    line-height: 1.6;
    background: #fbfbfb;
    padding-top: 10px;
    padding-left: 10px
}
ul.qamoduleslist a {
    color: #333
}
ul.qamoduleslist a:hover {
    color: #09c
}
.qa-filter-tags {
    background: silver;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: 10px
}
.qa-filter-tags:hover {
    color: #000
}
.qa-filter-clear {
    font-size: 13px !important;
    margin-left: 8px
}
.cursorPointer {
    cursor: pointer
}
.qaSelectedContext {
    color: #09c !important;
    border-left: 3px solid #09c
}
.border-bottom-2px {
    border-bottom: 2px solid #ddd
}
.metadata {
    text-overflow: ellipsis;
    overflow: hidden
}
.metadata li {
    display: inline
}
#primaryDiv {
    margin-top: 5px;
}
#primaryContentDiv {
    border: 1px solid #ddd;
}
.event-block {
    margin: 0 auto 25px;
    background: #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 20px
}
.event-block-btn {
    margin-right: 15px
}
.event-block-heading {
    font-size: 25px
}
.marginLeft10 {
    margin-left: 10px
}
.marginLeft5 {
    margin-left: 5px
}
.noMarginLeftRight {
    margin-left: 0;
    margin-top: 0
}
.nextBtn {
    color: #09c;
    cursor: pointer
}
.sb-dropdown {
    position: relative
}
.NavLeftContainer .sb-dropdown .dropdown-toggle {
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    text-align: center;
    padding: 15px;
    z-index: 1024
}
.NavLeftContainer li.sb-dropdown.active.common_box.open, .NavLeftContainer li.sb-dropdown.common_box.open {
    background: #333
}
.sb-dropdown.courseTab.open .dropdown-toggle .courseImg, .sb-dropdown.courseTab.common_box.open .courseImg, .NavLeftContainer .sb-dropdown .dropdown-toggle:hover .courseImg, .sb-dropdown .courseTab .active .common_box, .NavLeftContainer li.sb-dropdown.courseTab.active.common_box .courseImg {
    background-image: url("../img/courseAct.png")
}
.NavLeftContainer li.sb-dropdown.courseTab.active.common_box .lefttab {
    color: #09c
}
li.sb-dropdown.courseTab.active.common_box {
    background: white;
    background: #fff;
    margin-right: -1px;
    z-index: 1024
}
li.sb-dropdown.courseTab.common_box.open, .NavLeftContainer li.sb-dropdown.courseTab.active.common_box {
    border: 1px solid #e4eaf0;
    border-right: 0;
    -webkit-box-shadow: -3px 0 4px 0 rgba(0, 0, 0, .175);
    box-shadow: -3px 0 4px 0 rgba(0, 0, 0, .175)
}
.sb-dropdown.forumsTab.open .dropdown-toggle .exploreImg, .sb-dropdown.exploreTab.common_box.open .exploreImg, .NavLeftContainer .sb-dropdown .dropdown-toggle:hover .exploreImg {
    background-image: url("../img/exploreAct.png")
}
li.sb-dropdown.exploreTab.common_box.open {
    border: 1px solid #e4eaf0;
    border-right: 0;
    -webkit-box-shadow: -3px 0 4px 0 rgba(0, 0, 0, .175);
    box-shadow: -3px 0 4px 0 rgba(0, 0, 0, .175)
}
.sb-dropdown.communityTab.open .dropdown-toggle .communityImg, .sb-dropdown.communityTab.common_box.open .communityImg, .NavLeftContainer .sb-dropdown .dropdown-toggle:hover .communityImg, .sb-dropdown .communityTab .active .common_box, .NavLeftContainer li.sb-dropdown.communityTab.active.common_box .communityImg {
    background-image: url("../img/comunityAct.png")
}
li.sb-dropdown.communityTab.common_box.open, .NavLeftContainer li.sb-dropdown.communityTab.active.common_box {
    border: 1px solid #e4eaf0;
    border-right: 0;
    -webkit-box-shadow: -3px 0 4px 0 rgba(0, 0, 0, .175);
    box-shadow: -3px 0 4px 0 rgba(0, 0, 0, .175)
}
.NavLeftContainer li.sb-dropdown.communityTab.active.common_box .lefttab {
    color: #09c
}
li.sb-dropdown.communityTab.active.common_box {
    background: white
}
.sb-dropdown.forumsTab.open .dropdown-toggle .forumsImg, .sb-dropdown.forumsTab.common_box.open .forumsImg, .NavLeftContainer .sb-dropdown .dropdown-toggle:hover .forumsImg, .sb-dropdown .forumsTab .active .common_box, .NavLeftContainer li.sb-dropdown.forumsTab.active.common_box .forumsImg {
    background-image: url("../img/forumsAct.png")
}
li.sb-dropdown.forumsTab.common_box.open, .NavLeftContainer li.sb-dropdown.forumsTab.active.common_box {
    border: 1px solid #e4eaf0;
    -webkit-box-shadow: -3px 0 4px 0 rgba(0, 0, 0, .175);
    box-shadow: -3px 0 4px 0 rgba(0, 0, 0, .175)
}
.NavLeftContainer li.sb-dropdown.forumsTab.active.common_box .lefttab {
    color: #09c
}
li.sb-dropdown.forumsTab.active.common_box {
    background: white
}
li.sb-dropdown.communityTab.active.common_box {
    background: #fff;
    margin-right: -1px;
    z-index: 99
}
li.sb-dropdown.forumsTab.active.common_box {
    background: #fff;
    margin-right: -1px;
    z-index: 99
}
li.sb-dropdown.coachingTab.active.common_box {
    background: #fff;
    margin-right: -1px;
    z-index: 99
}
.sb-dropdown.coachingTab.open .dropdown-toggle .coachingImg, .sb-dropdown.coachingTab.common_box.open .coachingImg, .NavLeftContainer .sb-dropdown .dropdown-toggle:hover .coachingImg, .sb-dropdown .coachingTab .active .common_box, .NavLeftContainer li.sb-dropdown.coachingTab.active.common_box .coachingImg {
    background-image: url("../img/coachingAct.png")
}
li.sb-dropdown.coachingTab.common_box.open, .NavLeftContainer li.sb-dropdown.coachingTab.active.common_box {
    border: 1px solid #e4eaf0;
    border-right: 0;
    -webkit-box-shadow: -3px 0 4px 0 rgba(0, 0, 0, .175);
    box-shadow: -3px 0 4px 0 rgba(0, 0, 0, .175)
}
.NavLeftContainer li.sb-dropdown.coachingTab.active.common_box .lefttab {
    color: #09c
}
.classroomDiv {
    display: inline-block
}
.marRight5 {
    margin-right: 5px
}
.marRight10 {
    margin-right: 10px
}
.marRight15 {
    margin-right: 15px
}
.classroomAlert {
    margin-bottom: 10px !important
}
#questionContainer {padding:0px 0px 0px 0px !important;}
#popupQuestionContainer .formElementHolder {
    height: 24px;
    width: 24px;
    display: inline-block;
    position: relative;
    top: 7px;
    left: -10px;
    background: url('../quiz/images/form_elements/sprite.png') no-repeat
}
#popupQuestionContainer .radioOn {
    background-position: -3px -212px
}
#popupQuestionContainer .radioOff {
    background-position: -3px -123px
}
#popupQuestionContainer .choiceWGQuestionContainer {
    padding: 0;
    font-size: 1.5em
}
#popupQuestionContainer .choicePanel {
    margin: 7px 0;
    font-size: 1.1em
}
#popupQuestionContainer .choiceWGPromtContainer {
    display: none
}
.marginTop8 {
    margin-top: 8px
}
.marginTop5 {
    margin-top: 5px
}
.as-menu-item {
    border-bottom: 1px solid #999;
    padding: 15px;
    cursor: pointer
}
.as-menu-item:hover {
    background-color: #ddd
}
.as-menu-item-active {
    color: #09c !important;
    border-left: 3px solid #09c;
    font-weight: bold
}
.as-block-title {
    background-color: #f4f2ef;
    border: 1px solid #ddd;
    margin-bottom: 0;
    padding: 10px
}
.as-block-body {
    border: 1px solid #ddd;
    border-top: 0;
    min-height: 20px
}
.marginLR30 {
    margin-left: 30px;
    margin-right: 30px
}
.pad15 {
    padding: 15px
}
.pad10 {
    padding: 10px
}
.ques-res-item {
    padding: 15px;
    margin-left: 0
}
.qasetcontextselect, .questionpaper-context-select {
    height: 35px !important
}
.qaset-context-container, .qcontext-list-container, .questionpaper-context-container {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #999;
    height: 300px;
    margin-top: -1px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    width: 400px;
    z-index: 10000 !important;
    display: none
}
.qaset-context-container-hover, .qcontext-list-container-hover, .questionpaper-context-container-hover {
    display: inline;
    height: 400px;
    width: 500px;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}
.showchild {
    margin-left: 10px;
    font-size: 10px
}
.asPreviewItem {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px
}
.manage-qustionset-link {
    font-size: 1em;
    text-decoration: underline;
    top: 35px;
    width: 105px
}
.questionpaper-module-pad {
    padding-left: 15px !important
}
.questionpaper-lesson-pad {
    padding-left: 30px !important
}
.questionpaper-lecture-pad {
    padding-left: 45px !important
}
.save-questionpaper-title {
    font-size: 21px;
    text-transform: capitalize;
    font-weight: bold
}
.qp-preview-item {
    border: 1px solid #ddd;
    padding: 10px 10px 10px 10px
}
li.icon-error-list:before {
    content: '\f05a';
    font-family: 'FontAwesome';
    float: left;
    font-size: 1.1em;
    margin-left: -1.5em;
    color: red
}
li.icon-info-list:before {
    content: '\f05a';
    font-family: 'FontAwesome';
    float: left;
    font-size: 1.1em;
    margin-left: -1.5em;
    color: #0074d9
}
.padLeft25 {
    padding-left: 25px
}
.padLeft10 {
    padding-left: 10px
}
.qp-validation {
    color: #000
}
.container-gap {
    height: 5px
}
div.upload {
    padding: 0 30px
}
div.pagedown-preview {
    border-style: dashed
}
div.pagedown-bootstrap-editor {
    
}
div.media-entry {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px 0
}
.top20 {
    top: 20px
}
.margin-top15 {
    margin-top: 15px
}
.large_pic {
    width: 150px;
    height: 150px;
    border: 1px solid #333;
    display: inline-block
}
.profile-follow-btn {
    position: absolute;
    right: 10px;
    bottom: 10px
}
.arrowIcn-right, .arrowIcn-left {
    cursor: pointer;
    z-index: 9999;
}
.il-cc-concepts em {
    margin: 2px;
    display: inline-block
}
.treeContainer {
}
.concept-tree {
    width: 64%;
    height: 650px;
    float: left
}
.treeLayout {
    width: 100%;
    height: 586px;
    float: left;
    overflow: hidden;
    border: 1px solid #ddd;
    font-family: 'FrutigerSerifLTW01-Medi 722257' !important;
}
.concept-tree-btns {
    float: left;
    padding-left: 20px;
    height: 62px;
    display: inline-block;
    border-bottom: 2px solid #ddd;
    width: 100%
}
.contentLayout {
    width: 36%;
    float: left;
    height: 650px;
    border-left: 1px solid #ddd
}
.contentsList {
    height: 530px;
    overflow: auto;
    opacity: 1;
    width: 100%;
    word-wrap: break-word
}
.contentLayout h4 {
    text-transform: capitalize;
    padding: 10px
}
.contentLayout hr {
    border: 1px solid #ddd !important;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0
}
.selectedText {
    font-size: 16px;
    font-weight: bold;
    fill: steelblue !important
}
.node {
    cursor: pointer;
    text-transform: capitalize
}
.overlay {
    margin-top: 0
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px
}
.node circle:hover {
    stroke: red;
    stroke-width: 3px
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px
}
.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px
}
.ghostCircle.show {
    display: block
}
.ghostCircle, .activeDrag .ghostCircle {
    display: none
}
.nodeText:hover {
    text-decoration: underline;
    fill: steelblue !important
}
.simple_overlay {
    display: none;
    position: absolute;
    left: 20%;
    z-index: 10000;
    background-color: #fff;
    width: 500px;
    height: 500px;
    overflow: auto;
    border: 1px solid #666;
    -moz-box-shadow: 0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000
}
.simple_overlay .close {
    background-image: url(/img/close.png);
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 35px;
    width: 35px
}
.popover {
    max-width: 350px !important
}
.popover-title {
    text-transform: capitalize;
    font-weight: bold
}
#notesAlert {
    margin-top: 10px
}
.scribdUploadBtnContainer {
    margin-top: 10px
}
.scribdUploadBtnContainer>span {
    display: block;
    margin: 5px 0
}
.closeMenuDropDown {
    color: #666;
    margin: 20px 15px 0 0;
    cursor: pointer
}
#mainNavMenu [role='presentation'] a.active {
    background: #121927;
    color: #c3c3c3
}
.NavContentz {
    z-index: 1000 !important
}
.modalActionContainer {
    overflow: auto
}
.commonCreateMsg {
    padding-top: 15px
}
.form-group .required .control-label:after {
    content: "*";
    color: red
}
.selectBox {
    width: 100%
}
.RightsideContainer h3 {
    text-transform: capitalize;
    font-family: 'bebasNeue' !important;
    font-size: 22px;
}
.embed-responsive-16by9 .embed-responsive-item, .embed-responsive-4by3 .embed-responsive-item {
    position: relative
}
.embed-responsive.embed-responsive-16by9, .embed-responsive.embed-responsive-4by3 {
    padding-bottom: 0 !important
}
.leaderBoardGradeTxt {
    margin-top: 2px;
    margin-left: 5px;
    color: #666;
    font-size: 10px;
}
.leaderBoardGrade {
    margin-left: 2px
}
.tocEvent {
    font-size: 16px;
    font-family: "FrutigerSerifLTW01-Medi 722257";
}
ul.metadata li a, .detailsQuestion ul li a {
    font-size: 10px;
}
.dashboardLinks a {
    color: #428bca;
    font-family: "FrutigerNeueW01-Regular";
    font-size: 14px;
}
.btn-link.disabled {
    opacity: .5
}

/*
    New UI related changes
*/
.gradeCardBox {
    background-color: #f4f4f4;
    margin-top: 10px;
    margin-bottom: 10px
}
.gradeCardName {
    font-size: 18px
}
.gradeCardLabel {
    font-size: 12px
}
.progress {
    margin-bottom: 15px !important;
}
input, button, select, textarea {
    font-family: 'Frutiger Serif LT W01';
    font-size: 14px;
}

.RightsideContainer .metadata {
    top: -5px;
    position: relative;
}

.metadata span, .metadata a {
    font-size: 10px !important;
}

.panel_leftR {
    margin-left: 30px;
}

.il-vd-container iframe {
    border-style: none !important;
    border-width: 0px !important;
}

.sup_details {
    font-family: 'Frutiger Serif LT W01' !important;
    font-size: 14px !important;   
}

.searchFormLeftDiv {
    padding-right: 15px !important; 
    border-right: 1px dashed #333;
}
.searchFormRightDiv {
    padding-left: 15px !important; 
}
.searchFormButton {
    width: 100% !important; 
    background-color: #f2f2f2 !important; 
    font-size: 24px !important; 
    padding: 0px !important; 
    color: #999 !important; 
    text-transform: uppercase;
}
.padR2 {
    padding-right: 2px !important;
}
.padL2 {
    padding-left: 2px !important;
}
.answeredFlag {
    font-size: 12px !important; 
    padding: 0.2em 0.3em !important;
}
.moveTop5 {
    top: -5px; 
    position: relative;
}
.moveTop10 {
    top: -10px; 
    position: relative;
}
.moveTop18 {
    top: -18px; 
    position: relative;   
}
.moveDown5 {
    top: 5px; 
    position: relative;   
}
.moveDown10 {
    top: 10px; 
    position: relative;   
}
.hrMarginBottom5 {
    margin-bottom: 5px !important; 
    margin-top: 15px !important;
}
.pad0 {
    padding: 0px !important;
}
.sideBarImage {
    width: 20px;
    height: 20px;
    border-radius: 10px; 
    float: left; 
    margin-right: 5px;
}
.topStudentDetails {
    display: inline; 
    margin-left: 25px;
}
.intro-section-headers {
    padding-top: 10px; padding-left: 0px; padding-right: 0px;
}
.intro-about-header {
    border-top: 5px solid #ff6600 !important;
}
.intro-learn-header {
    border-top: 5px solid #0099cc !important;
}
.intro-project-header {
    border-top: 5px solid #fc0046 !important;
}
.intro-syllabus-header {
    border-top: 5px solid #009966 !important;
}
.wallText {
    font-family: 'Frutiger Serif LT W01' !important;
}
.groupMemberName {
    font-family: 'FrutigerSerifLTW01-Medi 722257' !important;   
    font-size: 18px !important;
}
.userNameText {
    font-family: 'Frutiger Serif LT W01' !important;
}
.profileEdit .form-group {
    margin-bottom: 5px !important;
}
.headerAsk .form-control {
    height: 32px !important;
    border-radius: 5px !important;
}
.advancedSearchIcon {
    color: #999;
    font-size: 16px;
    margin-left: 2px;
    margin-top: 16px;
}
li.sortMenuItem a {
    font-family: 'FrutigerSerifLTW01-Medi 722257' !important;
    color: #09c;
}
.questionTitle p {
    float: left !important;    
}
.redBadge {
    background-color: #fc0046 !important;
}
.orangeBadge {
    background-color: #ff6600 !important;
}
.greenBadge {
    background-color: #009966 !important;
}
.disabledBadge {
    background-color: #999 !important;
}

.la-btn-block {
    padding-top: 0px; 
    border-bottom: 1px solid #ededed;
    margin-bottom: 5px;
}
