/*learning objects styles begin*/
.orange
{
	color:#ff9900 !important;
}
.purple
{
	color:#955ba5 !important;
}
.icon-list-book, .icon-video
{
	top:0px;
}
.green
{
	color:#34af38;
}
/*learning objects styles end*/

/*media styles begin*/
.main .title
{
	color:#34af38;
	font-weight:bold;
	padding-bottom:0px;
}
.main .sub_title
{
	color:#333;
	font-weight:bold;
	padding: 15px 0px 10px 0px;
}
.main .desc
{
	color:#666666;
	font-weight:normal;
}
.video img
{
	width:100%;
}
.change_text, .change_text:hover
{
	font-size:12px;
	color:#999999;
	margin-left:10px;
	text-decoration:underline;
}
.align_left
{
	text-align:left !important;
}
.icon-list-book, .icon-video
{
	top:0px;
}
.green
{
	color:#34af38;
}

ul.sequences {
	margin: 0px;
	margin-right: 10px;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	overflow-y: scroll;
}

ul.sequences > li:hover {
	cursor: move;
}

.lob_action_btn {
	margin-left: 10px;
	margin-bottom: 10px;
}

.buttons-panel {
	margin-top: 12px;
}

.add_item {
	margin-right: 10px;
}

.save_lob {
	left: 33%;
    position: absolute;
    top: 15%;
}
/*media styles end*/