/*media management styles begin*/
.main .title
{
	color:#34af38;	
	font-weight:bold;
	padding-bottom:15px;
}
.main .sub_title
{
	color:#333;
	font-weight:bold;
	padding: 15px 0px 10px 0px;
}
.main p.desc
{
	color:#666666;
}
.video img
{
	width:100%;
}
.change_text, .change_text:hover
{
	font-size:12px;
	color:#999999;
	margin-left:10px;
	text-decoration:underline;
}
.align_left
{
	text-align:left !important;
}
.icon-list-book, .icon-video
{
	top:0px;
}
.green
{
	color:#34af38;
}
/*media management styles end*/