/*header styles begin*/

/*header styles end*/

/*sprite styles begin*/
 .calendar, .timer, .envelope_dark, .envelope_light, .grad_cap, .ques, .video, .spectacles {
    background: url(../img/course_icons.png) no-repeat;
    display:inline-block;
}
.calendar {
    background-position: -2px -1px;
    width: 21px;
    height: 23px;
}
.timer {
    background-position: -29px -1px;
    width: 19px;
    height: 20px;
}
.envelope_dark {
    background-position: -4px -30px;
    width: 16px;
    height: 11px;
}
.envelope_light {
    background-position: -32px -30px;
    width: 16px;
    height: 11px;
}
.grad_cap {
    background-position: -52px -5px;
    width: 20px;
    height: 11px;
}
.spectacles {
    background-position: -80px -6px;
    width: 20px;
    height: 10px;
}
.video {
    background-position: -56px -29px;
    width: 16px;
    height: 12px;
}
.ques {
    background-position: -81px -27px;
    width: 16px;
    height: 16px;
}
/*sprite stykes end*/

/*left panel styles begin*/
.left_panel {
    background:#f9f9f9;
}
.title_section {
    border-bottom:1px solid #ddd;
    overflow: auto;
}
.btn_switch a {
    font-size:12px;
}
.btn_switch {
    margin:5px;
    margin-right:10px;
}
.course_summary {
    padding-left:0px;
    padding-right:0px;
    background: #f9f9f9;
    border-left:1px solid #ddd;
}
.course_details {
    border-right:1px solid #ddd;
    border-left:5px solid #428bca;
}
.unit, .unit > a {
    font-family: 'FrutigerNeueLTW01-CnLt';
    font-size:16px;
    font-weight:bold;
    color:#777777;
}

.unit {
    background:#ffffff;
    padding: 15px 25px;
    border-bottom:1px solid #DDD;
}

.unit:hover {
    
}

.childBackground {
    font-size: 15px !important;
    /*background: #F4F9FB !important;*/
}

.subChildBackground {
    font-size: 15px !important;
    /*background: #E6F4FA !important;*/
}

.topic_listing > li > a {
    margin-left:20px;
    position:relative;
}
.lesson_details {
    padding-top: 15px;
    border-right:0px solid #ddd;
    border-left:5px solid #428bca;
}
.lesson_link {
    float:right;
}
.lesson_link.col-md-10 {
    width:77.333333%;
    padding-left:0px;
    padding-right:0px;
}
/*left panel styles end*/

/*middle panel styles begin*/
 .media_container {
    height:400px;
    background:#000;
    margin-left:12px;
}
.discussion_box {
    padding: 20px 15px;
    margin-bottom: 50px;
}
.action_box {
    border: 1px solid #ededed;
    padding: 7px 15px 7px 8px;
    margin-top: 5px;
    position:relative;
}
.action_box .progress-border {
    position: relative;
    display: inline-block;
    left: 5px;
    top: 0px;
    vertical-align: middle;
}
.action_box .video {
    vertical-align:middle;
    margin-right:5px;
}
.action_box .time {
    margin-left:5px;
}
.comment_section .action {
    margin-right:10px;
}
.comment_section .action .glyphicon {
    margin-right:5px;
}
.comment_box, .comment_box_open {
    margin-top:10px;
}
.comment_box a, .comment_box_open a {
    margin-top:10px;
    margin-left:10px;
}
.marTop25 {
    margin-top:25px;
}
hr {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:10px;
}
/*middle panel styles end*/

/*right panel styles begin*/
 .introduction {
    overflow:auto;
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
}
.section_head {
    margin-top:10px;
}
.more_link {
    color:#428bca;
}
.concept_box {
    border:1px solid #ddd;
    border-radius:6px;
    margin-left: 10px;
    overflow:auto;
}
.concept {
    border-bottom:1px solid #ddd;
    overflow:auto;
    padding:10px;
}
.concept .number {
    font-style:italic;
}
.concept div {
    padding-left:0px;
    padding-right:0px;
}
.bold {
    font-weight:bold;
}
.green {
    color:#56aa54;
}
.blue {
    color:#3399cc;
}
.underline {
    text-decoration:underline;
}
#accordion {
    margin-left:10px;
}
.actions {
    background:#ffffff;
    5/6/2014 border-left:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
.panel-title {
    padding-top:15px;
}
.expand, .expand:hover {
    padding-left:15px;
    padding-top:15px;
    text-decoration:none;
}
.acc_heading {
    padding-bottom: 15px;
    overflow:auto;
    position: relative;
}
.panel-group .acc_panel {
    background:#fcfcfc !important;
    border-radius:0px;
    margin-bottom: 15px;
    overflow:auto;
}
.panel-default>.panel-heading.acc_heading {
    background-color:#fcfcfc !important;
}
.acc_panel.active {
    border-left: 3px solid #ffcc00;
    box-shadow: -1px -2px 3px 0px #ededed;
}
.acc_sub_text {
    color:#777777;
    padding-left:42px;
    padding-right: 40px;
}
.acc_links {
    margin-left:40px;
    margin-top:10px;
    float:left;
}
.acc_links a {
    font-size:12px;
    display:inline-block;
}
.btn_blue, .btn_blue:hover {
    background:#04aeda;
    border-color:#04aeda;
    color:#fff;
    border-radius:0px;
    padding:3px 10px;
    margin-right:15px;
}
.sup_name {
    font-size:13px;
    font-weight: bold;
    display:block;
}
.sup_details {
    font-size:12px;
    font-style:italic;
    display:block;
}
.sup_content {
    margin-top:20px;
    text-align:center;
}
.sup_content img {
    margin-bottom:5px;
}
.sup_content .col-md-2 {
    margin-right:20px;
}
.label_tutoring {
    margin-left:10px;
    font-size:9px;
}
.exercise_section {
    border:1px solid #ddd;
    border-top:3px solid #df83a2;
    background:#fcfcfc;
    overflow:auto;
    margin-left:10px;
    margin-bottom:50px;
}
.exercise_section .divider {
    border-top:1px solid #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pink {
    color:#cc3366;
}
.ques_num {
    border:1px solid #d7d7d7;
    margin:10px;
    padding:10px;
    border-radius:6px;
}
.ques_num li {
    margin-bottom:8px;
    font-size:13px;
}
.padBot0 {
    padding-bottom:0px !important;
}
.action_box {
    position:absolute;
    background:#fff;
    border-left:1px solid #ddd;
    border-bottom:1px solid #ddd;
    right: 0px;
    top: 0px;
    padding:5px;
}
.action_box .progress-border {
    position: relative;
    display: inline-block;
    left: 0px;
    top: 0px;
    vertical-align: middle;
}
.action_box .ques, .action_box .video {
    vertical-align:middle;
}
.action_box img {
    margin-left:8px;
    vertical-align: middle;
}
.action_box .time {
    vertical-align: middle;
    margin-left: -5px;
}
.expand_plus {
    background: url("../img/expand.png") no-repeat;
    display: inline-block;
    height: 20px;
    width: 18px;
    vertical-align: middle;
}
.collapse_minus {
    background: url("../img/collapse.png") no-repeat;
    display: inline-block;
    height: 20px;
    width: 18px;
    vertical-align: middle;
}
.study_material {
    margin-top:60px;
}
.study_material.col-md-2 {
    padding-left:0px;
}
.material_box {
    border:1px solid #ddd;
    border-radius:6px;
    position:relative;
    margin-top: 20px;
}
.open_box {
    /*position: absolute;*/
    border: 1px solid #428bca;
    border-right: 6px solid #428bca;
    border-radius: 4px;
    height: 450px;
    width: 800px;
    background: #fff;
    right: 302px;
    top: 0px;
}
.material_box .popover {
    border: 1px solid #428bca;
    border-right: 6px solid #428bca;
    border-radius: 4px;
    height: 450px;
    width: 800px;
    background: #fff;
    right: 302px;
    top: 0px !important;
    left: -790px !important;
}
.material_box .popover.left>.arrow {
    display:none;
}
.btn_cross {
    margin-right:10px;
    margin-top:10px;
}
.material_box li {
    padding:5px 10px;
}
.material_box li a {
    font-size:13px;
    margin-left:5px;
}
.material_box li.active, .material_box li:hover {
    background:#428bca;
    color:#fff;
}
.material_box li.active a, .material_box li:hover a {
    color:#fff;
    text-decoration:none;
}
.blue {
    color:#3399cc;
}
.supp_content {
    margin-top:10px;
}
.supp_details li {
    border:1px solid #ddd;
    overflow:auto;
    padding: 10px 5px 5px 5px;
    margin-top: 5px;
}
.supp_details .col-md-2 {
    padding-left:0px;
    padding-right:0px;
}
.supp_details .col-md-2 img {
    margin-left:5px;
}
.supp_details .col-md-9 {
    padding-left:15px;
    padding-right:0px;
}
/*right panel styles end*/

/*media queries begin*/
 @media(min-width:992px) {
    .lesson_link.col-md-10 {
        width: 69.333333%;
    }
    .topic_listing > li {
        overflow:auto;
    }
}
@media(max-width:1280px) {
    .reference_links li:first-child a {
        padding-left:0px;
    }
    .reference_links li:last-child a {
        padding-right:0px;
    }
}
@media (min-width:1024px) and (max-width:1280px) {
    .lesson_link.col-md-10 {
        width: 62.333333%;
    }
}
@media (max-width:1024px) {
    .rel_links .info {
        margin-left:2px;
    }
    .details.container {
        width:100%;
        padding-left:0px;
        padding-right:0px;
    }
    .topic_listing > li {
        padding:6px;
        overflow:auto;
    }
    .lesson_link.col-md-10 {
        width: 63.333333%;
    }
    .open_box {
        right: 150px;
        width:600px;
    }
}
/*media queries end*/

/* Custom CSS */
.marginRight5 {
	margin-right: 5px;
}

.playButton {
	position: absolute;
    right: 0;
    top: 0;
}

.contentRow {
	margin-left: 0px;
	margin-right: 0px;
	width: 98%;
	position: relative;
}

.loadingDiv img {
    position: absolute;
    top: 40%;
    right: 20%;
}

.categoryLabel {
    text-transform: capitalize;
    font-size: 10px;
}

.selected-unit {
    border-left:5px solid #428BCA;
}