/*create course section styles begin*/
 body {
    background:#f3f3f3;
}
.create_course_container {
    background:#f3f3f3;
    padding-top: 20px;
}
.desc_area {
    height:109px !important;
}
.pedagogy_title {
    color:#4cc0da;
    margin-left: 20px;
}
.pedagogy {
    border:1px solid #cccccc;
    background:#fff;
    box-shadow:1px 1px 8px 0px #cccccc;
    overflow:auto;
}
.pedagogy .title {
    border-bottom:1px solid #cccccc;
    padding: 10px 20px 5px 20px;
    color:#333;
    font-size: 14px;
}
.pedagogy_conatiner {
    text-align:center;
    height: 350px;
}
.para_container {
    text-align:left !important;
    margin:20px;
    height: 310px !important;
}
.actions {
    padding: 20px;
    margin-bottom: 30px;
}
.actions a:focus {
    background:#999999;
}
.actions .more {
    color:#4cc0da;
}
.custom_actions {
    text-align:center;
}
.btn_grey, .btn_grey:hover {
    background:#999999;
    color:#fff;
}
.offset_left {
    left:42%;
}
/*create course section styles end*/

/*select course styles begin*/
 .select_course_container {
    background:#f3f3f3;
    padding-top:20px;
}
.subject_details {
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    box-shadow: 0px 1px 3px 2px #e4e4e4;
    margin-bottom: 20px;
    margin-left: 16px;
    margin-right: 16px;
    overflow: auto;
    padding: 10px;
}
.border_full {
    border: 1px solid #f0f0f0;
    box-shadow: 0px 1px 3px 2px #e4e4e4;
    background-color: #fff;
}
.border_full.active {
    border:1px solid #60b760;
    box-shadow: 0px 1px 6px 0px #60b760;
}
.border_full:hover {
    border:1px solid #60b760;
    box-shadow: 0px 1px 6px 0px #60b760;
}
.border_bottom_first {
    border-bottom:1px solid #E4E4E4;
    padding: 12px 0px !important;
}
.div_border_begin {
    border: 1px solid #E2E2E2;
    padding: 11px 0px;
    margin: 20px 21px;
    background-color: #f4f4f4;
}
.text_decor, .text_decor:hover {
    color: #979797;
    text-decoration: none;
}
.btn_start_green, .btn_start_green:hover {
    color:#fff;
    background:#60b760;
    width: 86px;
    /* margin-left: 164px;*/
}
.btn_start_padding_first {
    padding: 14px;
    margin: 5px 134px;
}
.btn_start_padding_2 {
    padding: 14px;
    margin: 5px 134px;
}
.btn_start_padding_3 {
    padding: 22px;
    margin: -5px 134px;
}
.btn_start_padding_4 {
    padding: 14px;
    margin: 5px 134px;
}
.btn_first {
    margin-top: 36px;
}
.btn_secnd {
    margin-top: 61px;
}
.btn_third {
    margin-top: 61px;
}
.btn_last {
    margin-top: 199px;
}
.div_header_style {
    margin-left: 17px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.create_padding20 {
    padding: 0px 12px;
}
ul.create_padding20 {
    margin-bottom: 5px;
}
.margin_left20 {
    margin-left: 28px !important;
}
.margin_right10 {
    margin-right: 27px;
    color: #009933;
    font-size: 16px;
    font-weight: bold;
}
.title_header {
    font-family: sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #999999;
}
.advn_header {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;
}
.lecture_margin_top {
    margin-top: 14px !important;
}
.list_style15 {
    font-family: sans-serif;
    font-size: 14px;
    color: #000;
    margin-left: 10px;
}
.topic_margin {
    margin-top: 10px;
}
/*select course styles end*/

/*learning objects styles begin*/
 .orange {
    color:#ff9900 !important;
}
.purple {
    color:#955ba5 !important;
}
.icon-list-book, .icon-video {
    top:0px;
}
.green {
    color:#34af38;
}
/*learning objects styles end*/

/*media styles begin*/
 .main .title {
    padding-bottom:5px;
    border-bottom: #eee 1px solid;
    margin-bottom: 10px;
    text-transform: none;
    font-size: 1.2em;
    color: #428bca;
}
.main .sub_title {
    color:#333;
    font-weight:bold;
    padding: 10px 0px 10px 0px;
}
.main p.desc {
    color:#666666;
}
.video img {
    width:100%;
}
.change_text, .change_text:hover {
    font-size:12px;
    color:#999999;
    margin-left:10px;
    text-decoration:underline;
}
.align_left {
    text-align:left !important;
}
.icon-list-book, .icon-video {
    top:0px;
}
/*media styles end*/

/*tutoring styles begin*/
 .red {
    color:#ff3232 !important;
}
.icon-list-book, .icon-video {
    top:0px;
}
.green {
    color:#34af38;
}
.heightForTree {
    min-height:500px !important;
    max-height:500px !important;
}
.greyBack {
    background:#f5f5f5;
    padding-left:10px;
}
.profiles {
    margin-left:10px;
    margin-top:10px;
}
/*tutoring styles end*/

/*Media queries begin*/
 @media (max-width:1024px) {
    .create_course_container {
        padding-bottom:100px;
    }
    .pedagogy_conatiner img {
        width:270px;
    }
    .div_header_style {
        margin-left: 17px;
        font-family: sans-serif;
        font-size: 12px;
        font-weight: bold;
    }
    .list_style15 {
        font-family: sans-serif;
        font-size: 12px;
        color: #000;
        margin-left: 0;
    }
    .margin_left20 {
        margin-left: 18px !important;
    }
    .margin_right10 {
        margin-right: -3px;
        color: #009933;
        font-size: 16px;
        font-weight: bold;
    }
    .btn_first {
        margin-top: 70px;
    }
    .btn_secnd {
        margin-top: 55px;
    }
    .btn_third {
        margin-top: 13px;
    }
    .btn_last {
        margin-top: 191px;
    }
    .btn_start_padding_first {
        padding: 14px;
        margin: 5px 48px;
    }
    .btn_start_padding_2 {
        padding: 14px;
        margin: 5px 52px;
    }
    .btn_start_padding_3 {
        padding: 22px;
        margin: -5px 41px;
    }
    .btn_start_padding_4 {
        padding: 14px;
        margin: 5px 50px;
    }
}
@media (max-width: 768px) {
    .column2_margin_top {
        margin-top: 15px;
    }
    .btn_first {
        margin-top: 24px;
    }
    .btn_secnd {
        margin-top: 31px;
    }
    .btn_last {
        margin-top: 33px;
    }
}
/*media queries end*/
