/*tutoring styles begin*/
.red
{
	color:#ff3232 !important;
}
.icon-list-book, .icon-video
{
	top:0px;
}
.green
{
	color:#34af38;
}
.heightForTree
{
	min-height:500px !important;
	max-height:500px !important;
}
.greyBack
{
	background:#f5f5f5;
	padding-left:10px;
}
.profiles
{
	margin-left:10px;
	margin-top:10px;
}
/*tutoring styles end*/