.home-body .app-logo-icon, .home-body .user-profile {
	display:none;
}

.banner-container {
	background:#f4f2ef;
	padding-top: 60px;
}
.banner-container .carousel-control.left, .banner-container .carousel-control.right {
	background-image:none;
}
.image-cont {
	float:right;
}
.btn-primary i {
	vertical-align:middle;
}
.banner-container .carousel-caption {
	color:#333;
	margin-top: 70px;
	top: 0%;
	text-align:left;
	left: 2%;
	width: 45%;
}
.banner-container .carousel-control {
	width: 0%;
}
/*.banner-container .carousel-control .glyphicon-chevron-left {
	left:-110px;
}
.banner-container .carousel-control .glyphicon-chevron-right {
	width: 0px;
}*/
.feature-container {
	background:#fff;
	z-index: 99;
	position: relative;
}
.feature-container .widget {
	width:20%;
	float:left;
	text-align:center;
	padding: 0 1%;
}
.faculty-icon-box, .search-icon-box, .tutor-icon-box, .personalize-icon-box, .showcase-icon-box {
	width:128px;
	height: 128px;
	border-radius: 64px;
	text-align: center;
	border: 5px solid #fff;
	font-size:64px;
	color:#fff;
	margin: 0 auto;
	padding: 4px 0px 0px 0px;
}
.faculty-icon-box i, .search-icon-box i, .tutor-icon-box i, .personalize-icon-box i, .showcase-icon-box i {
	vertical-align:middle;
}
.search-icon-box {
	background: #ff6600;
}
.faculty-icon-box {
	background:#009966;
}
.tutor-icon-box {
	background:#0099cc;
}
.showcase-icon-box {
	background:#fc0046;
}
.personalize-icon-box {
	background:#333333;
}
.search-icon-box .glyphicon.glyphicon-search, .tutor-icon-box .icon-ask-tutor {
	color:#fff;
	font-size: 44px;
	margin-top: 20px;
}
.widget-container {
	margin-top: -50px;
}
.explore-dexcription {
	padding: 0 15px 15px 15px;
}
.feature-course-container {
	background:#f4f2ef;
	padding: 60px 0 40px 0;
}
.feature-soft-cont {
	background:#fafafa;
	padding:10px;
	text-align:center;
	box-shadow: 6px 3px 6px #eaeaea;
	border: 2px solid #e7e7e7;
}
.feature-heading h2 {
	margin-top:0;
	font-size:42px;
	color:#666666;
	letter-spacing:10px;
	letter-spacing:2px;
}
.feature-heading h1 {
	background: #f4f2ef;
	width: 43%;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: -16px;
	font-size:72px;
}
.learn-container {
	position: relative;
	margin-bottom: 75px;
	z-index: 999;
}
.feature-heading {
	text-align:center;
	position:relative;
}
.feature-course-principle {
	background: #f4f2ef;
	margin-top: -5px;
	border-top-left-radius: 8px;
	z-index: 999;
position: relative;
}
.list-cont {
	padding: 0 30px 10px 16px;
}
.left-border-gradient {
	padding: 17px 30px 10px 16px;
	border-width: 1px 0 1px 1px;
	border-style: solid;
	-webkit-border-image:  -webkit-gradient(linear, 0 0, 0 100%, from(#0099cc), to(rgba(0, 0, 0, 0))) 1 100%;
	-webkit-border-image:  -webkit-linear-gradient(#0099cc, rgba(0, 0, 0, 0)) 1 100%;
	-moz-border-image: -moz-linear-gradient(#0099cc, rgba(0, 0, 0, 0)) 1 100%;
	-o-border-image: -o-linear-gradient(#0099cc, rgba(0, 0, 0, 0)) 1 100%;
	border-image: linear-gradient(to bottom, #0099cc, rgba(0, 0, 0, 0)) 1 100%;
}
.clear-both {
	clear:both;
}
.feature-principle-head {
	margin:0;
	background: #0099cc;
	padding: 17px 20px;
	color: #fff;
	border-top-left-radius: 8px;
	/*overflow:auto;
	width: 161px;*/
	display: inline-block;
position: relative;
}
.feature-principle-head:after {
	content: "";
	border-left: 19px solid #0099cc;
	border-top: 25px solid transparent;
	border-bottom: 27px solid transparent;
	width: 0;
	height: 0;
	position: absolute;
	left: 100%;
	top: 0;
}
.popular-course-border-style{margin-top: -5px;
border-top-left-radius: 8px;
position: relative;
z-index: 999999999;
background: #fff;}
.feature-course-principle h1 {
	margin-top:0;
	margin-bottom: -3px;
}

.feature-list {
	margin:0;
	padding:0;
	list-style:none;
	border-top:1px dashed #b7b7b7;
	border-bottom:1px dashed #b7b7b7;
	overflow: auto;
}
.feature-list li {
	float:left;
	width:20%;
	border-right:1px solid #fefefe;
	padding: 11px 15px;
	text-align: center;
}
.feature-list li h3 {
	margin:0px 0px -2px 0px;
}
.feature-list li:last-child {
	border-right:0;
}
.disp-block {
	display:block;
}
.red-text {
	color:#ff6600;
	font-family: BEBAS_NEUE_BOLD;
	text-transform:uppercase;
}
.popular-course-container {
	background:#ffffff;
	padding: 60px 0 0px 0;
}
.hrclass {
	background: #666;
	height: 6px;
	position: absolute;
	bottom: -30px;
	z-index: 10;
	width: 100%;
}

.feature-content-div {
	padding: 30px 30px 10px 60px;
	height: 500px;
}

.feature-content {
	margin-top:10px;
	font-size: 18px;
}
.feature-list-glanceitems {
	margin:0;
	padding:0;
	list-style:none;
	border-top:1px dashed #b7b7b7;
	border-bottom:1px dashed #b7b7b7;
	overflow: auto;
	font-family: bebasNeue;
    font-size: 18px;
}
.feature-list-glanceitems li {
	float:left;
	width:25%;
	border-right:1px solid #fefefe;
	padding: 11px 15px;
	text-align: center;
}
.feature-list-glanceitems li h3 {
	margin:0px 0px -2px 0px;
	font-size:30px;
}
.concept-list-glanceitems li {
    width: auto !important;
}
.carousel-indicators{bottom:15px;}
.carousel-indicators .active {
background-color: #0099cc;
}
.carousel-indicators li {
border: 1px solid #0099cc;
}
.feature-list-glanceitems li h3 span:first-child {
	display:inline-block;
	font-size:18px;
}
.certification-blockainer .start-btn {
	margin-top: 10px;
}
.feature-list-glanceitems li:last-child {
	border-right:0;
}

.popular-course-flag {
	margin:0;
	background: #009966;
	padding: 17px 20px;
	color: #fff;
	border-top-left-radius: 8px;
	display: inline-block;
position: relative;
}

.popular-course-flag:after {
	content: "";
	border-left: 19px solid #009966;
	border-top: 25px solid transparent;
	border-bottom: 27px solid transparent;
	width: 0;
	height: 0;
	position: absolute;
left: 100%;
top: 0;
}
.main-popular-div {
	position:relative;
}
.main-popular-div .left-border-gradient {
	border-image: linear-gradient(to bottom, #009966, rgba(0, 0, 0, 0)) 1 100%;
}
.popular-content-div {
	padding: 10px 30px 10px 60px;
}
.certification-block,.certification-blockainer {
	padding: 0 30px 10px 60px;
}
.certification-block h3 {
	margin-top:0;
}
.certification-block a {
	color:#0099cc;
	font-size: 18px;
}
.popular-video-container {
	padding: 40px 0px 20px 0px;
}
.popular-video-container iframe {
	width:100%;
}
.popular-content-div h1 {
	margin-bottom:-5px;
}
.popular-header span, .popular-header a {
	font-size:18px;
}
.popular-header {
	margin-bottom: 30px;
}
.popular-content {
	margin-bottom:10px;
	font-size:18px;
}
.popular-list-container .feature-list {
	background:#f5f5f5;
}
.no-padd-col, .start-btn {
	padding-left:0;
	padding-right:0;
}
.border-bottom {
	border-bottom:1px solid #ddd;
	padding-bottom: 50px;
	margin-bottom: 50px;
}
/* begin of HOW IT WORKS css */
.il-explore-bg {
	background-color: #4c4c4c;
	height: auto;
	color: #fff;
	padding-bottom: 18px;
	padding-top: 60px;
}
.faculty_showcase_bg {
	background-color: #F8F8F8;
}
.row.il_explore_content {
	margin-left: auto;
	margin-right: auto;
}
.explore_content {
	margin-top: 50px;
}
.il-web-padng {
	/*margin-bottom: 60px;*/
	padding-top: 50px;
	padding-bottom: 60px;
}
.explore-red {
	color: #ff6600;
}
.faculty-green {
	color: #006666;
}
.tutoring-blue {
	color: #0099cc;
}
.showcase-red {
	color: #fc0046;
}
.persnl-black {
	color: #333333;
}
.header-black, .explore-red, .faculty-green, .tutoring-blue, .showcase-red, .persnl-black {
	font-size: 48px;
}
h2.header-black {
	margin-top: 30px;
	margin-bottom: 0px;
}
.web-header-title {
	font-size: 20px;
}
.dot_mrgn {
	margin: 0px 10px 0px 10px;
}
.explr-content {
	font-size: 18px;
	color: #666666;
	text-align: justify;
}
.il_image {
	margin-top: 14px;
	width: 335px;
}
.explre_image {
	width: 335px;
}
.show_image {
	margin-left: 15%;
	width: 335px;
}
.tutor_image {
	width: 335px;
}
.persnl_image {
	width: 335px;	
}
.web_homepage .user-profile {
	display: none;
}
.login_header {
	margin-top: 20px;
	float:right;
}
.navbar-nav>li>a.login_black, .navbar-nav>li>a.login_orange, .nav>li>a.login_black:hover, .nav>li>a.login_orange:focus {
	padding: 8px 15px 8px 15px;
	font-size: 14px;
	color: #fff;
	border-radius: 6px;cursor:pointer;
	margin-right: 10px;
}
.login_black {
	background-color: #0099cc;
}
.login_header li:first-child{margin-right:8px;}
.nav>li>a.login_black:hover{background-color: #0099cc;}
.login_orange {
	background-color: #0099cc;
    border-color: #0099cc;
}
.nav>li>a.login_orange:hover{background-color: #0099cc;color:#fff;}
.glyphicon-chevron-right,.glyphicon-chevron-left{color:#666;}
.glyphicon-chevron-right:hover,.glyphicon-chevron-left:hover{color:#0099cc;}

/* end of HOW IT WORKS css */

/* begin of Modal View */
.login-body .modal-body {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.il-modalbody-divider {
	position:relative;
	border:1px solid #666666;
}
.il-modalbody-divider span {
	position: absolute;
	top: -26px;
	background: #FFFFFF;
	left: 46%;
	text-transform: uppercase;
	padding: 15px;
}
.il-login-modal {
	margin-top: 10px;
}
.il-login-modal ul {
	list-style:none;
	margin: 0;
	padding: 0 0 10px 0;
}
.il-login-modal ul li {
	display:inline-block;
}
.text-center {
	text-align: center;
}
.il-modal-header {
	background: #0099cc !important;
}
#signInModal .modal-header, #enrollModal .modal-header {
	color: #FFFFFF;
	padding: 15px 15px;
}
#signInModal .modal-header .close {
	color: #ffffff;
	text-shadow: none;
	opacity: 1;
}
#signInModal h3 {
	font-size: 27px;
	font-weight: normal;
	text-transform: capitalize;
}
#signInModal .modal-body {
	position: relative;
	max-height: 400px;
	padding: 15px;
	overflow: hidden;
	overflow-y:auto;
}
.signUp-header {
	background: #b94a48 !important;
}
#signUpModal .modal-header {
	color: #FFFFFF;
	padding: 15px 15px;
}
#signUpModal .modal-header .close {
	color: #ffffff;
	text-shadow: none;
	opacity: 1;
}
#signUpModal h3 {
	font-size: 27px;
	font-weight: normal;
	text-transform: capitalize;
}
#signUpModal .modal-body {
	position: relative;
	max-height: 400px;
	padding: 15px;
	overflow-y: auto;
}
/* end of Modal View */
.bannerTitle {
	font-size: 43px;
	text-shadow:none;
	text-shadow: none !important;
	font-family: bebasNeue;
}
.banDescription {
	font-size: 24px;
	padding-bottom:10px;
	text-shadow: none !important;
}
.feaDescription {
	font-size:16px;
	color:#666666;
	line-height: 16px;
	font-family: 'FrutigerSerifLTW01-Ital';
}
.explore-dexcription, .ex {
	//color:#ff6600;
}
.widget, .tf {
	//color:#009966;
}
.widget, .tu {
	//color:#0099cc;
}
.widget, .sh {
	//color:#fc0046;
}
.widget .pe {
	color:#333333;
}
div#page {
			max-width: 900px;
			margin-left: auto;
			margin-right: auto;
			padding: 20px;
		}
.signIn {
	font-size: 16px !important;
	color: #fff;
}
.signInLabel {
	font-size: 18px !important;
	font-weight: normal !important;
	font-family: 'FrutigerSerifLTW01-Cn' !important;
	margin-top: -4px !important;
}

.pad50 {
	padding: 50px;
}

.course-sunbcount span {
	font-size: 14px;
}

.course-anc-header {
	padding-left:0px;
	margin-top:0px;
}
.course-anc-img {
	max-height:550px; 
	max-width:500px;
}
.block-pad {
    padding-top: 10px;
    padding-bottom: 10px; 
}
.upcoming-color {
	background: #ff6600;
}
.upcoming-color:after {
	border-left: 19px solid #ff6600;
}
.upcoming-left-border {
	padding: 17px 30px 10px 16px;
	border-width: 1px 0 1px 1px;
	border-style: solid;
	-webkit-border-image:  -webkit-gradient(linear, 0 0, 0 100%, from(#ff6600), to(rgba(0, 0, 0, 0))) 1 100%;
	-webkit-border-image:  -webkit-linear-gradient(#ff6600, rgba(0, 0, 0, 0)) 1 100%;
	-moz-border-image: -moz-linear-gradient(#ff6600, rgba(0, 0, 0, 0)) 1 100%;
	-o-border-image: -o-linear-gradient(#ff6600, rgba(0, 0, 0, 0)) 1 100%;
	border-image: linear-gradient(to bottom, #ff6600, rgba(0, 0, 0, 0)) 1 100%;
}

.explore-icon, .topfaculty-icon, .tutoring-icon,
.showcase-icon, .personalization-icon, .social-learning-icon{
	width:75px;
	height:72px;
	display:inline-block;
}	
.explore-icon{
	background:url(../img/explore-icon.png) no-repeat;
}
.topfaculty-icon{
	background:url(../img/topfaculty-icon.png) no-repeat;
}
.tutoring-icon{
	background:url(../img/tutoring-icon.png) no-repeat;
}
.showcase-icon{
	background:url(../img/showcase-icon.png) no-repeat;
}
.personalization-icon{
	background:url(../img/personalization-icon.png) no-repeat;
}
.social-learning-icon {
	background:url(../img/social_learning.png) no-repeat;	
}
.widgetChg{
	width:33% !important;
	margin-bottom:30px;
	margin-top:20px;
}
.explore_content .explore-icon, .explore_content .topfaculty-icon, .explore_content .tutoring-icon,
.explore_content .showcase-icon, .explore_content .personalization-icon{
	width: 55px;
	height: 50px;
	background-size: 50px;
	margin-left: -10px;
}
.explore-dexcription {
	padding: 0 15px 15px 15px;
}
.feaContent{
	width:75%;
	padding:0px 15px 15px 0px;
	text-align:left;
	margin-top:-10px;
}
.know-mar{
	margin-top:50px;
}
.knowLink {
	text-decoration: none;
	color:#333333;
	font-size:18px;
	font-family:'Frutiger Neue W01 Bd It';
}
.knowLink:hover{
	text-decoration:underline;
	color:#333333;
}


/**Media Screen**/

@media all and (max-width: 1024px) {
    .feature-principle {
        float: left;
        width: 45% !important;
    }
    .feature-soft {
        float: left;
        width: 55% !important;
    }
    .list-cont-pad{
    	padding-top: 215px !important;
    }
    .feature-content-img{
    	width: 33.33333333% !important;
    }
    .feature-content-des{
    	width: 66.66666667% !important;
    }
    .chromefix{
    	width: 95% !important;
    }
    .sunburst-pad{
    	margin: 3% 3% 3% -4%;
    }
    .learn-container-heading{
    	font-size: 60px !important;
    }
}
@media all and (max-width: 910px) {
    .header_menu {
        display: none;
    }
}

.people-pic{
	width: 184px;
	height: 171px;
	margin-top: 25px;
}
.marb50{
	margin-bottom : 50px;
}

.forgotPwdLink {
	font-size: 13px;
	float: right;
}

.forgotPwdLink:hover {
    text-decoration: none;
}

.forgotPwdBlock {
	text-align: left;
	border-top: 1px solid #ededed;
	padding-top:10px;
	margin-top: 10px;
}

/*contact us start*/
section#contact {
background-color: #222;
background-image: url(../img/map-image.png);
background-position: center;
background-repeat: no-repeat;
}
section#contact .form-group textarea.form-control {
height: 190px;
}
.send-mesg {margin-top:30px;}
.contact-nos {font-size:24px;}
.contact-nos span.small {font-size:16px;}
section#contact .form-group input, section#contact .form-group textarea {
padding: 20px;
}
section#contact .section-heading {
color: #fff;
}
p.section-subheading a {
color: #fff;
text-decoration: underline;
}
p.section-subheading a:hover {
color: #0492d0;
text-decoration: underline;
}
section#contact {
padding: 70px 0px;
}
section#testmonial {
padding: 80px 0px;
}
section#contact .form-group {
margin-bottom: 25px;
}
section h2.section-heading {
margin-top: 0;
margin-bottom: 4px;
font-size: 40px;
}
.corparteImg{
width: 100px;
}
h3.h-slim {
padding-top: 0;
margin-top: 0;
}
ul.list-unstyled.cusfaculty.newbottom li {
padding: 10px 0px;
border-bottom: 1px solid rgb(235, 233, 233);
}
.reviewContainer p {
margin-bottom: 0;
font-size: 14px;
}
table.table.cuspricing tr td i.fa.fa-inr {
  border:0px;
  border-radius: none;
    vertical-align: text-top;
}
table.table.cuspricing.table-bordered.text-center thead {
background: #069665;
color: #fff;
font-weight: bold;
text-transform: uppercase;
}
.custutor.col-md-11 span {
font-size: 14px;
}
p.reviewName {
font-weight: bold;
}
.cuscoursepostion.reviewContainer p {
padding: 0px;
}
ul.list-unstyled.cusfaculty.newbottom i{
font-size: 16px;
font-style: normal;
font-weight: bold;
display: inline-block;
padding: 6px 10px;
}
.courseDetailsContainer {
background: #fff;
}
ul.feature-list-glanceitems.ul-style.headClsModule li {
width: 14%;
}
table.table.cuspricing tr td i {
border: 3px solid;
border-radius: 50%;
padding: 3px;
}
.relatedCourseContainer.bg-light-gray {
padding: 50px 0px;
}
.leftcourse ul {
background: #fff;
padding: 10px;
border-radius: 5px;
margin-top: 12px;
}
.leftcourse.leftcourse_absolute{position: relative;top:0px;webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}

.leftcourse ul li{
padding: 8px 0px;
border-bottom: 1px solid rgb(226, 226, 226);
}
.headClsModule {
margin-bottom: 30px!important;
}
table.table.cuspricing tr td:first-child{
  text-align: left;
}
table.table.cuspricing tr td i.fa.fa-check{
  color: green;
}
table.table.cuspricing tr td i.fa.fa-times{
  color: red;
  padding: 3px 5px;
}
.StartLearn a {
padding: 10px;
background: #f70041;
display: block;
text-transform: uppercase;
color: #fff;
font-weight: bold;
}
.custutor {
display: inline-block;
vertical-align: middle;
}
.custutor span {
color: #969696;
font-size: 18px;
line-height: 0px;
}
li.badge.btn.btn-primary {
border-radius: 5px;
vertical-align: text-top;
padding: 3px 6px;
background: #B2B2B2!important;
}
.revieContentCont {
margin-bottom: 15px;
margin-top: 25px;
}
.contactilimi h4 {
  margin-top:0px;
}
.contactilimi {
background: #F2F2F2;
padding: 20px;
border-radius: 5px;
margin-top: 12px;
display: block;
margin-bottom: 25px;
margin-top: 25px;
}
#carouselThird p span, #carouselFour p span {
color: #949090;
font-size: 14px;
line-height: 0px;
font-style: italic;
}
#carouselThird p, #carouselFour p{
    line-height: 20px;
}
div#carouselThird, div#carouselFour {
height: 375px!important;
}
div#carouselThird a.left.carousel-control, div#carouselThird a.right.carousel-control, div#carouselFour a.left.carousel-control, div#carouselFour a.right.carousel-control{
  display: none;
}
.contactilimi p {
padding: 5px 0px;
margin: 0;
}
.cusfaculty {
margin: 0px 0px;
padding: 15px 0px;
}
.reviewRightContainer {
margin-top: -6px;
}
.cusfaculty li i {
background: rgb(126, 120, 120);
padding: 10px 12px;
color: #fff;
border-radius: 50%;
margin-right: 8px;
}
.col-xs-10.reviewRightContainer p {
padding: 2px 0px;
}
.cuscoursepostion {
padding-top: 20px;
}
.switch-list-tabs {clear:both;padding-right: 15px;}
.cuscoursepostion div.col-xs-12 {padding-left:0px;}
.customVideoP {
margin-right: 20px;
padding: 5px 4px;
border-radius: 50%;
text-indent: 3px;
background: rgb(94, 89, 89);
color: #fff;
}
a:hover {
text-decoration: none;
webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
.cusCourseRight {
  padding-top: 20px;
  padding-bottom: 20px;
}
#grid-gallery {overflow:hidden;clear:both;}
.courseAllList {
padding: 20px 0px;
}
.cusCourseLeft ul li a:hover, .cusCourseLeft ul li a:active, .cusCourseLeft ul li a.active {
background-color: #ebebeb !important;
outline: hidden;
color: #1a1a1a;
text-decoration: none;
}
.form-wrap h1 {
margin-top: 0;
}
.cusCourseLeft ul li a {
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
margin-top: 0px;
margin-left: 0;
display: block;
padding: 8px 8px;
color:#333;
}

.form-wrap {
border: 1px solid #ddd;
padding: 10px;
margin-top: 30px;
border-radius: 7px;
}
.revieContentCont img {
width: 65px;
border-radius: 50%;
}
ol.breadcrumb {
background: none;
margin-bottom: 0px;
padding: 0;
margin-bottom: -20px;
}
.cusCourseLeft ul li + li {
margin-left: 0;
margin-top: -1px;
}
.rightSideDetails h1 {
margin-bottom: 15px;font-size:24px;
}
.cusCourseLeft ul li a {
  border-radius: 0px;

background: #fff;
}
.courseDetailsContainer img {
margin: 10px auto;


}
.row.cuscoursepostion h3 {
font-size: 20px;
}
p.courseHint {
font-size: 14px;
text-align: justify;
line-height: 18px;
color: #786C6C;
padding: 20px 0;
margin-bottom: 0;
}
.HeaderBanner a {
color: #fff;
}
.courseContainerz {
background: #fff;margin-bottom: 20px;
}
.footer-container .col-md-2 {
width: 20%;
}
.footer-container a:hover {
color: rgb(30, 168, 182);
text-decoration: underline;
}
.footer-container ul.list-unstyled li h3 {margin-bottom: 10px;}
.HeaderBanner  {
  background: #49668f;
}
.HeaderBannerz {
 background: url(../img/course/Python-For-Big-Data-Analytics.png) top 37px right no-repeat;
padding: 50px 0px;
margin-top: 57px;
text-align: left;
width: 100%;
color: #FFF;
}
.HeaderBannerA {
 
padding: 50px 0px;
margin-top: 75px;
text-align: left;
width: 100%;
color: #FFF;
}
section#testmonial {
background: #fff;
}
img.img-responsive.testImg {
margin: 0 auto;
width: 115px;
border-radius: 50%;
border: 5px solid rgb(219, 219, 219);
}
.carousel.slide.cusTestmonial {
max-height: 370px;
}
section h3.section-subheading {
margin-bottom: 75px;
text-transform: none;
font-size: 16px;
font-style: italic;
font-weight: 400;
}
p.section-subheading {
color: #fff;
font-weight: 500;
}
section#contact .form-group input.form-control {
height: auto;
}
section#contact .form-group input, section#contact .form-group textarea {
padding: 12px;
}
.text-muted {
color: #777;
}
/*contact us end*/

.marRight50 {
	margin-right: 50px;
}

.marLeft20 {
	margin-left: 20px;
}

.noPad {
    padding-left: 0;
    padding-right: 0
}

.headrNotnMneu {
    list-style: outside none none;
}

.hr-with-words {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #dcdcdc;
    clear: both;
    height: 1.25em;
    line-height: 2.5em;
    margin: 0 10px 1.25em;
    overflow: visible;
    position: relative;
    text-align: center;
}

.hr-with-words > span {
    background: none repeat scroll 0 0 #fff;
    color: #999;
    display: inline-block;
    font-style: italic;
    padding: 0 0.75em;
}

.modal-header .modal-title {
	color: #333;
	font-size: 24px;
	font-family: "FrutigerSerifLTW01-Medi 722257";
}

.border-bottom-1px {
    border-bottom: 1px solid #ddd;
}

.padLeft10 {
	padding-left: 10px;
}