/* CSS Document */
@media (min-width: 1200px) {
}
@media (min-width: 980px) and (max-width:1199px) {
.home-body .navbar .col-md-4 {
	width:20%;
}
.login_header {
	margin-left: 20px;
}
.home-body .navbar .col-md-8 {
	width:80%;
}
.container {
	width:100%;
}
}
@media (max-width: 1024px) {
.login_header {
	margin: 25px 15px 10px 0px;
	float: right;
}
.explore_content {
	margin-top: 0px;
}
.show_image {
	margin-left: 0;
}
/* HOMEPAGE */
/* end of HOMEPAGE */
}
 @media (min-width: 768px) and (max-width: 979px) {
.login_header {
	margin: 25px 15px 10px 0px;
	float: right;
}
.explore_content {
	margin-top: 0px;
}
.show_image {
	margin-left: 0;
}
.container {
	width: 100%;
}
.login_header {
	margin-left: -5px;
}
.nav>li>a {
	padding: 10px 5px;
}
/* HOMEPAGE */
.banner-container .carousel-caption {
	color: #333;
	margin-top: 202px;
	top: 0%;
	text-align: left;
	left: 0%;
	width: 100%;
}
.nav>li>a>h3 {
	font-size:20px;
}
.navbar-nav>li>a.login_black, .navbar-nav>li>a.login_orange, .navbar-nav>li>a.login_black:hover, .navbar-nav>li>a.login_orange:hover {
	padding: 5px 10px;
}
.navbar-brand {
	padding: 15px 5px;
}
.banDescription {
	font-size: 20px;
	padding-bottom: 0;
}
.feature-container {
	background: #fff;
	padding-bottom: 25px;
	z-index: 99;
	position: relative;
}
.feature-course-container {
	background: #f4f2ef;
	padding: 20px 0 40px 0;
}
.learn-container {
	position: relative;
	margin-bottom: 120px;
	z-index: 999;
}
.software_archi {
	position: absolute;
	margin-top: -30px;
}
.popular-course-container {
	background: #ffffff;
	padding: 20px 0 60px 0;
}
.border-bottom {
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}
/* end of HOMEPAGE */
}
 @media (max-width: 767px) {
.home-body .navbar-collapse.bs-navbar-collapse.collapse.in
{background: #fff;
margin-top: 15px;}
.login_header {
	margin: 0px 15px 10px 15px;
	float: right;
}
.explore_content {
	margin-top: 0px;
}
.show_image {
	margin-left: 0;
}
.dot_mrgn {
	margin: 0px 5px 0px 5px;
}
.navbar-toggle {
	background-color: black;
	margin-top: 25px;
}
/* HOMEPAGE */
/*.banner-container .carousel-caption {
	color: #333;
	margin-top: 200px;
	top: 0%;
	bottom:8%;
	text-align: left;
	left: 0%;
	width: 100%;
}*/
.banner-container .carousel-caption {
	position: static;
	clear:both;
	margin-bottom: 45px;
	padding-top:0;
	width: 100%;
}
.carousel-indicators{bottom:35px;}
.bannerTitle{margin-bottom:0;}
.navbar-toggle .icon-bar {
	background: #fff;
}
.learn-container {
	margin-bottom: 140px;
}
.learn-container h1{width:51%;}
.feature-soft-cont {
	overflow:auto;
}
.banDescription {
	font-size: 20px;
	padding-bottom: 0;
}
.feature-container {
	background: #fff;
	padding-bottom: 25px;
	z-index: 99;
	position: relative;
}
.feature-course-container {
	background: #f4f2ef;
	padding: 20px 0 40px 0;
}
.learn-container {
	position: relative;
	margin-bottom: 140px;
	z-index: 999;
}
.software_archi {
	position: initial;
	margin-top: -30px;
}
.popular-course-container {
	background: #ffffff;
	padding: 20px 0 60px 0;
}
.border-bottom {
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}
.feature-container .widget {
width: 50%;
margin-bottom: 30px;
min-height: 260px;
}
.nav li a {
padding-top:0;
}
.nav li a h3{margin:0;}
.module_header{margin-top:20px;margin-bottom: 0;}
.login_header li{display:inline-block;}
.login_header{float: left;}
.clr-both-res{clear:both;}
/* end of HOMEPAGE */
}
 @media (max-width: 610px) {
/*.banner-container .carousel-caption {
	color: #333;
	margin-top: 245px;
	top: 0%;
	bottom:8%;
	text-align: left;
	left: 0%;
	width: 100%;
}*/

.feature-principle-head {
	margin-top: 12px;
	background: #0099cc;
	padding: 15px 20px;
	color: #fff;
	border-top-left-radius: 8px;
	/*overflow: auto;
	width: 160px;*/
}
.explore-dexcription .ex {
	color: #ff6600;
	font-size: 21px;
}
.widget .tf {
	color: #009966;
	font-size: 21px;
}
.widget .tu {
	color: #0099cc;
	font-size: 21px;
}
.widget .sh {
	color: #fc0046;
	font-size: 21px;
}
.widget .pe {
	color: #333333;
	font-size: 20px;
}
.feaDescription {
	font-size: 16px;
	color: #666666;
}
.image-cont img {
	width: 100%;
}
.bannerTitle {
	font-size: 40px;
}
.banDescription {
	font-size: 18px;
	padding-bottom: 0;
}
.feature-soft-cont {
	background: #fafafa;
	padding: 10px 10px 0px 10px;
	text-align: center;
	box-shadow: 6px 3px 6px #eaeaea;
	border: 2px solid #e7e7e7;
}
.feature-soft-cont .pull-left {
	float: none !important;
}
.software_archi {
	position: initial;
	margin-top: 5px;
}
.banDescription{line-height:18px;}
.carousel-caption .btn-lg{padding: 5px 15px;}
.bannerTitle{font-size:30px;}
.banner-container .carousel-control .glyphicon-chevron-left {
left: -12px;
color:#000;
}
.feature-principle-head:after {
border-top: 22px solid transparent;
}
}

 @media (max-width: 480px) {
.dot_mrgn {
	margin: 0px 5px 0px 5px;
}
.explre_image {
	margin-top: 0;
	width: 100%;
}
.il_image {
	margin-top: 10px;
	width: 100%;
}
.tutor_image {
	margin-left: 0;
	width: 100%;
}
.show_image {
	margin-left: 0;
	width: 100%;
}
.persnl_image {
	width: 100%;
}
.il-web-padng {
	padding-top: 35px;
	padding-bottom: 40px;
}
.header-black, .explore-red, .faculty-green, .tutoring-blue, .showcase-red, .persnl-black {
	font-size: 42px;
}
.web-header-title {
	font-size: 18px;
}
.feature-container .widget {
width: 100%;
min-height:inherit;
margin-bottom:35px;
}
/*.feature-principle-head{width:161px;}*/
.feature-heading h1{font-size: 57px;
line-height: 52px;}
.hrclass{bottom: -22px;}
.certification-blockainer{padding: 0;}
.feature-list-glanceitems li{padding: 11px 9px;}
.popular-video-container {
padding: 40px 10px 20px 10px;
}
 .start-btn {
padding-left: 30px;}
.banner-container .carousel-control .glyphicon-chevron-left {
left: -12px;
color:#000;
}
.carousel-control .glyphicon-chevron-right{right:50%;
color:#000;}
.banner-container .carousel-caption {
	position: static;
	clear:both;
	margin-bottom: 45px;
	padding-top:0;
}
.carousel-indicators{bottom:35px;}
.popular-content-div,.certification-block, .certification-blockainer {
padding: 10px 30px;
}
/* HOMEPAGE */
/* end of HOMEPAGE */
}
 @media (max-width: 360px) {
.explre_image {
	margin-top: 0;
	width: 100%;
}
.il_image {
	margin-top: 10px;
	width: 100%;
}
.tutor_image {
	margin-left: 0;
	width: 100%;
}
.show_image {
	margin-left: 0;
	width: 100%;
}
.persnl_image {
	width: 100%;
}
.il-web-padng {
	padding-top: 35px;
	padding-bottom: 40px;
}
.header-black, .explore-red, .faculty-green, .tutoring-blue, .showcase-red, .persnl-black {
	font-size: 42px;
}
.web-header-title {
	font-size: 18px;
}
.feature-container .widget {
width: 100%;
}
.widget-container {
margin-top: 0;
}
.banDescription {
font-size: 16px;}
.bannerTitle {
font-size: 26px;
}
.carousel-indicators{bottom:-15px;}
.banner-container .carousel-caption{bottom:4%;position: static;
	clear:both;}
.carousel-indicators li,.carousel-indicators li.active{margin-right:10px;}
.feature-heading h1 {
font-size: 42px;
line-height: 39px;
}
.feature-heading h2{font-size:28px;}
.hrclass {
bottom: -14px;
}
.learn-container {
margin-bottom: 70px;
}
.certification-block{
padding: 0 20px 10px 20px;
}
.certification-blockainer{padding: 0;}
.feature-list-glanceitems li{padding: 11px 0px;}
.popular-video-container {
padding: 40px 10px 20px 10px;
}
 .start-btn {
padding-left: 25px;}
.feature-image img{width:100%;}
.popular-content-div {
padding: 5px 20px 10px 20px;
}
.feature-content-div {
padding: 20px 20px 10px 20px;
}
.banner-container .carousel-control .glyphicon-chevron-left {
left: -12px;
color:#000;
}
.carousel-control .glyphicon-chevron-right{right:50%;
color:#000;}

/* HOMEPAGE */
/* end of HOMEPAGE */
}
 @media (max-width: 320px) {
.explre_image {
	margin-top: 0;
	width: 100%;
}
.il_image {
	margin-top: 10px;
	width: 100%;
}
.tutor_image {
	margin-left: 0;
	width: 100%;
}
.show_image {
	margin-left: 0;
	width: 100%;
}
.persnl_image {
	width: 100%;
}
.il-web-padng {
	padding-top: 35px;
	padding-bottom: 40px;
}
.header-black, .explore-red, .faculty-green, .tutoring-blue, .showcase-red, .persnl-black {
	font-size: 42px;
}
.web-header-title {
	font-size: 18px;
}
.feature-container .widget {
width: 100%;
}
.widget-container {
margin-top: 0;
}
.banDescription {
font-size: 16px;}
.bannerTitle {
font-size: 26px;
}
.carousel-indicators {
bottom: -15px;
}
.banner-container .carousel-caption{bottom:4%;position: static;
	clear:both;}
.carousel-indicators li,.carousel-indicators li.active{margin-right:10px;}
.feature-heading h1 {
font-size: 42px;
line-height: 39px;
width: 48%;
}
.feature-heading h2{font-size:28px;}
.hrclass {
bottom: -14px;
}
.learn-container {
margin-bottom: 70px;
}
.certification-block{
padding: 0 20px 10px 20px;
}
.certification-blockainer{padding: 0;}
.feature-list-glanceitems li{padding: 11px 0px;}
.popular-video-container {
padding: 40px 10px 20px 10px;
}
 .start-btn {
padding-left: 25px;}
.feature-image img{width:100%;}
.popular-content-div {
padding: 5px 20px 10px 20px;
}
.feature-content-div {
padding: 20px 20px 10px 20px;
}
.banner-container .carousel-control .glyphicon-chevron-left {
left: -12px;
color:#000;
}
.carousel-control .glyphicon-chevron-right{right:50%;
color:#000;}
.feature-principle-head:after {
border-left: 15px solid #0099cc;
border-top: 16px solid transparent;
border-bottom: 20px solid transparent;
}
.list-cont {
padding: 0 0px 10px 0px;
}
.copyright-cont .pull-right{float:none !important;}
/* HOMEPAGE */
/* end of HOMEPAGE */
}
