<div class="List_view" ng-if="showBinderDetail && previewContent">
    <div ng-show="updateSetErrorMsg" class="alert-danger">Server Error</div>
    <div class=" askquestionHeader">
        <div class="headerAsk col-md-12 noPad">
            <h2>{{selectedBinder.binder.name}}</h2>
            <!-- <button class="btn btn-default btn-sm pull-right back-to-list margin-top15 marginLeft10" ng-click="backToBinders();">
                <i class="fa fa-chevron-left"></i> back to binders
            </button> -->
            <a href="javascript:void(0);" ng-click="backToBinders();" class="marginTop20 pull-right commonBackToList"><i class="fa fa-chevron-left"></i> Back to Study Material</a>
        </div>
        <div class="col-md-12 noPad">
            <div class="row">
                <div class="col-md-12">
                    <p class="ac-contents viewCtn noMarginLeftRight col-md-12 noPad">
                        <span ng-show="selectedBinder.binder.description" ng-bind-html="selectedBinder.binder.description">
                    </p>
                    <div class="pull-right" ng-if="showReleaseBinderBtn">
                        <button class="btn btn-primary pull-right back-to-list margin-top15" ng-click="createBinderEvent(selectedBinder.binder.identifier);">Release Study Material</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="QAtags">
                        <span class="badge" ng-repeat="concept in selectedBinder.binder.concepts" ng-click="getFilterSeacrchContent(concept);">{{concept.conceptTitle}}</span>
                    </div>
                    <a class="pull-right back-to-list marginLeft10" style="cursor: pointer" ng-click="showBinderSearchTab()" ng-show="showBinderDetail">
                        Add Content item to Study Material</a>
                </div>
            </div>
            <div class="col-md-12 noPad" style="margin-top:10px;" ng-hide="showCreateBinder">
                <div class="form-group col-md-12 noPad" ng-hide="showBinderFilters">
                    <div class="col-md-6 noPad searchFormLeftDiv">
                        <div class="form-group col-md-12 noPad">
                            <input type="text" ng-model="searchtext" class="form-control" placeHolder="Enter search text..." ng-enter="getSearchContent();" />
                        </div>
                        <div class="form-group col-md-12 noPad">
                            <select ng-il-multiselect='{"placeholder":"Select Concepts..."}' multiple="true" ng-model="contentSearchFilters.addedToSelectedConcepts" ng-options="object.concept for object in getCSConceptTitleList(conceptTitleMap)" style="width: 100%;"></select>
                        </div>
                        <div class="form-group col-md-12 noPad">
                            <div ng-dropdown-multiselect="" options="mediaTypeData" selected-model="mediaTypeModel" class=""></div>
                        </div>
                    </div>
                    <div class="col-md-6 noPad searchFormRightDiv">
                        <div class="form-group col-md-12 noPad">
                            <div ng-dropdown-multiselect="" options="diffLevelData" selected-model="diffLevelModel" class=""></div>
                        </div>
                        <div class="form-group col-md-12 noPad">
                            <div ng-dropdown-multiselect="" options="bloomsTaxonomyData" selected-model="bloomsTaxonomyModel" class=""></div>
                        </div>
                        <div class="form-group col-md-12 noPad">
                            <button class="btn btn-large btn-default searchFormButton" id="searchContentBtn" id="searchNoteBtn" ng-click="getSearchContent();">Search</button>
                        </div>
                    </div>
                </div>

                <div class="int-tags" ng-show="showNoneMsg" style="display:inline-block; padding-bottom:5px;">
                    <span>Filters Applied:</span>
                    <span class="QAtags">
                        <span class="label label-default" ng-repeat="concept in contentSearchFilters.addedToSelectedConcepts" style="display:inline-block; margin-left:5px;">Concept: {{concept.concept}}
                            <a href="" ng-click="removeAppliedFilters('concept',concept);">x</a>
                        </span>

                        <span class="label label-default" ng-repeat="diff in diffLevelModel" style="display:inline-block; margin-left:5px;">Difficulty Level: {{diff.id}}
                            <a href="" ng-click="removeAppliedFilters('difficulty',diff);">x</a>
                        </span>

                        <span class="label label-default" ng-repeat="media in mediaTypeModel" style="display:inline-block; margin-left:5px;">Media Type: {{media.id}}
                            <a href="" ng-click="removeAppliedFilters('media',media);">x</a>
                        </span>


                        <span class="label label-default" ng-repeat="blooms in bloomsTaxonomyModel" style="display:inline-block;  margin-left:5px;">Blooms Taxonomy: {{blooms.id}}
                            <a href="" ng-click="removeAppliedFilters('blooms',blooms);">x</a>
                        </span>
                    </span>
                    
               
                </div>

            </div>

            <div class="col-md-12 noPad" ng-hide="showCreateBinder">
                <div id="conformMessage" class="alert  hide" ></div>
                <div style="height:1px; background:#e5e5e5; margin-bottom:10px;" class="col-md-12 noPad"></div>
                <div ng-hide="showListMsg" style="">
                    <div class="QACol" ng-repeat="item in contentItems">
                        <div class="row">
                            <div class="col-md-12 QAcontent">
                                <h5><a href="" class="ac-links il-Link-clr" onclick="$('html,body').scrollTop(0);" ng-click="showContentPreview(item);">{{item.name}}</a>
                                    <span ng-show="!contentItemExistsInBinder(item.identifier)" ng-click="addContentItemToBinder(item);" class="marginLeft5"><a href="javascript:void(0);">
                                        <i class="glyph16 icon icon-plus" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add to Study Material"></i>
                                    </a></span>
                                    <span ng-show="contentItemExistsInBinder(item.identifier)" ng-click="removeContentItemToBinder(item);" class="marginLeft5"><a href="javascript:void(0);">
                                        <i class="glyph16 icon icon-delete-round" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Remove from Study Material"></i>
                                    </a></span>

                                </h5>
                                <div class="detailsQuestion">
                                    <ul>
                                        <li ng-if="showDiffLevel(item.metadata.difficultyLevel)">
                                            <span>Difficulty Level : {{item.metadata.difficultyLevel}}</span>
                                        </li>
                                        <li class="list-dash" ng-if="showDiffLevel(item.metadata.difficultyLevel) && showMediaType(item.media)">|</li>
                                        <li ng-if="showMediaType(item.media)">
                                            <span>Media Type : 
                                                <span class="" ng-repeat="media in item.media">{{media.mediaType}}<span ng-if="(item.media.length)-1 > $index">,</span> </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="ac-contents viewCtn noMarginLeftRight">
                                    <span ng-show="item.description">{{item.description | limitTo:200}}</span>
                                </p>
                                 <div class="QAtags">
                                    <span class="badge" ng-repeat="concept in item.concepts" ng-click="getFilterSeacrchContent(concept);">{{concept.conceptTitle}}</span>
                                </div>
                            </div>
                        </div>
                        <hr/>
                    </div>

                    <!-- <div class="nextBtn pull-right" ng-click="triggerAjaxCall();" ng-show="showNextLink">Next Page</div> -->
                    <a href="javascript:void(0)" class="col-md-12 text-center show-more" ng-if="hasMore" ng-click="getSearchContent('showMore');">
                        <span ng-if="!showMoreLoading">Show More</span>
                        <span ng-if="showMoreLoading">Loading <img src="/img/loading.gif"/></span>
                    </a>
                </div>
                <div class="alert alert-info fade in col-md-12" ng-show="showListMsg">
                    <p>No content items are added to this Study Material. <a href="javascript:void(0)" ng-click="showBinderSearchTab()" class="btn-link">Click here to add content items</a></p>
                </div>
                <div class="alert alert-info fade in col-md-12" role="alert" ng-show="setNoContentFoundMsg">
                    <p>There are no content item matching with your search</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-hide="previewContent" class="col-md-12 noPad">
    <div ng-include="'/templates/player/contentPreview.html'" class=""></div>
</div>
