<div ng-show="showCreateSessionForm">
    <!-- START : List of session -->
    <div class="List_view" ng-if="!showSessionDetail">
        <div class="askquestionHeader">
            <div class="col-md-12 noPad headerAsk">
                <h2>COACHING SESSIONS
                    <a href="javascript:void(0);" class="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Create New Coaching Session" ng-click="createLR()"><i class="writeBlackOne createBinderBtn fa fa-edit" id="writeIcon"></i></a>
                </h2>
            </div>

            <div class="col-md-12 noPad form-group commonCreateMsg" ng-show="coachingSessionList.length == 0">
                <div class="alert alert-info fade in col-md-12 padL10">
                    <p>There are no Coaching Session. <a href="javascript:void(0)" ng-click="createLR()" class="btn-link">Click here to create a new coaching session</a>
                    </p>
                </div>
            </div>

            <div class="col-md-12 noPad" ng-show="coachingSessionList && coachingSessionList.length > 0">
                <div class="QACol" ng-repeat="sessionList in coachingSessionList">
                    <div class="row">
                        <div class="col-md-9 noPad QAcontent">
                            <div class="col-md-12">
                                <h5><a href="javascript:void(0);" class="ac-links il-Link-clr" ng-click="showSessionDetailedView(sessionList.sessions.identifier);" onclick="$('html,body').scrollTop(0);">{{sessionList.sessions.name}}</a></h5>
                            </div>
                            <div class="col-md-12">
                                <p class="ac-contents viewCtn noMarginLeftRight">
                                    <p class="common_content col-md-12 noPad" ng-bind-html="renderHtmlTrim(sessionList.sessions.metadata.description, 250)"></p>
                                </p>
                                <div class="QAtags">
                                    <span class="badge" ng-repeat="sessionConcept in sessionList.sessions.metadata.concepts">{{sessionConcept.name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 QAStatus">
                            <ul class="pull-right">
                                <li class="secondary">
                                    <span class="number">{{sessionList.sessionEvents.length}}</span> <span>Events.</span>
                                </li>
                                <li class="secondary" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Supplementary Material">
                                    <span class="number">{{sessionList.sessions.supplementary_content.length}}</span> <span>Supp.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>

        </div>
    </div>
    <!-- END : List of session -->
</div>

<!-- START : Create Coaching Session -->
<div id="createSessionForm" class="marginTop5" ng-include="'/templates/content/contentCreation.html'" style="display:none;"></div>
<!-- END : Create Coaching Session -->
