::ng-deep {
  app-user-filter .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field .sb-mat__dropdown label {
    margin-top: -0.5em;
  }
}
::ng-deep {

  .my-avatar .sb-members-list-item--medium .sb-member__img {
      width: 5rem !important;
      height: 5rem !important;
      font-size: 3.125rem !important
    }

    .sb-members-list-item .sb-member .sb-member__name {
      display: none
    }

     .my-avatar .sb-members-list-item .sb-member__img {
      box-shadow: var(--sbt-box-shadow-6px) !important;
    }

    .sb-members-list-item .sb-member {
      padding: 0px
    }

}