@import "variables";

.ui {
  &.bulleted.list {

    .list>.item:before,
    >.item:before {
      font-size: $font-size-lg;
      color: $text-gray;
    }
  }

  &.items>.item .extra>* {
    margin: 0;
  }

  &.segment.content-player-header {
    border: none;
    box-shadow: none;
  }

  &.selection.bordered.dropdown {
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 5px;
  }

  &.items>.item>.image+.content {
    padding-left: $h3-font-size;
  }

  &.horizontal.list>.item {
    color: $primary-color;
    font-size: 12px;
  }

  &.items>.item>.content>.header:not(.ui) {
    font-size: $h5-font-size;
  }
  &.floated.header {
    margin-left: 0 !important
  }
}

.sunbird-portal-icon {
  -webkit-mask-size: contain;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: 50% 50%;
  mask-repeat: no-repeat;
  background: $primary-color;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.edit-user-icon {
  -webkit-mask-image: url(../../../../../assets/images/edit-icon.svg);
  mask-image: url(../../../../../assets/images/edit-icon.svg);
}

.location-outline-icon {
  -webkit-mask-image: url(../../../../../assets/images/outline-location_on-24px.svg);
  mask-image: url(../../../../../assets/images/outline-location_on-24px.svg);
  height: 14px;
  width: 14px;
}

.delete-user-icon {
  -webkit-mask-image: url(../../../../../assets/images/delete-icon.svg);
  mask-image: url(../../../../../assets/images/delete-icon.svg);
}