@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;
@use 'pages/content-header' as *;

.member-no-result {
  .no-result-text {
    font-size: calculateRem(14px);
  }
  .no-result-desc {
    font-size: calculateRem(12px);
    color: var(--gray-200);
  }
}

//nested group css
.nested-group-content {
  border-radius: calculateRem(8px);
  position: relative;
  .nested-course-area {
    border-bottom: calculateRem(1px) solid var(--gray-100);
    color: var(--white);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }
  .dropdown-content {
    position: absolute;
    z-index: 999;
    background: var(--white);
    width: 100%;
    box-shadow: 0 0.1875rem 0.3125rem 0.25rem rgba(0, 0, 0, 0.05);
    .members-group-list {
      cursor: pointer;
      width: 100%;
      span {
        font-size: calculateRem(16px);
        padding-left: calculateRem(8px);
      }
      .members-group-list-item {
        position: relative;
        .member-name {
          color: var(--gray-800);
          font-size: calculateRem(16px);
          letter-spacing: 0;
          line-height:normal; //20px
          flex: 1;
          text-align: left;
          margin-bottom: calculateRem(24px);
          &:last-child {
            margin-bottom:0px;
          }
        }
      }
    }
  } 
}
.open {
 img {
   transform: rotate(180deg);
 }
}

.btn-border{
  border-radius:calculateRem(24px);
}

.note-color {
  color:var(--red-100);
}

.download-text{
  font-size:calculateRem(12px);
  color:var(--primary-400);
  font-weight: bold;
}

.dt-disabled-btn:disabled, .disabled[disabled]{
  background-color: var(--gray-100)!important;
  border: .0625rem solid!important;
  color: var(--gray-300);
  pointer-events: none !important;
  opacity: 0.95 !important;
}
