<div>
  <div class="sb-modal-header">
    {{resourceService?.frmelmnts?.lbl?.selectActivity}}
  </div>

  <div class="sb-modal-content">
    <div class="sb-radio-btn-checkbox sb-radio-btn-primary mb-16" *ngFor="let item of activityTypes">
      <input type="radio" [id]="item?.title" name="group-activity" [value]="item" [(ngModel)]="selectedActivity"
        [attr.disabled]="!item?.isEnabled ? 'disabled' : null">
      <label for="item?.title">{{item?.title}}</label> 
  </div>
</div>

<div class="sb-modal-actions">
  <button class="sb-btn sb-btn-normal sb-btn-primary" type="submit" (click)="next()">
    {{resourceService?.frmelmnts?.lbl?.next}}
  </button>
</div>
</div>