@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.table-headerDashboard{
    width:calculateRem(200px);
    color: var(--primary-color);
  font-weight: bold;
}

.us-report-grid {
    grid-gap: 0;

    .item {
        cursor: pointer;
        padding: .75rem 1rem;
        transition: all ease-in .3s;
        &.active, &:hover {
            background: var(--sbt-body-bg);
            border-left: 4px solid var(--primary-color);
        }
    }

    .data-chart-container {
        border-radius: 1.5rem;
        box-shadow: 0 0.125rem 0.4375rem 0 rgb(0 0 0 / 16%);
    }
}