@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.sb-graph-section{
    border: calculateRem(1px) solid var(--rc-dddddd);
    padding: calculateRem(24px);
    margin-top: calculateRem(24px);
    background: var(--sb-graph-section-bg);
    box-shadow: 0 calculateRem(2px) calculateRem(7px) 0 rgba(var(--rc-rgba-black), 0.16);
    border-radius: calculateRem(4px);
    .sb-table-fixed .sb-table tbody td, .sb-table-fixed .sb-table-body td {
        text-overflow: initial;
        overflow: initial;
        white-space: unset;
    }
}
.sb-btn-normal i::after {
    content: "\f019";
    font-size: calculateRem(13px);
}
.no-bg {
    background:none;
}

.dashboard-body-scroll{
    display: flex;
    align-items: flex-start;
}

.sb-sidebar-menu{
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 0;
}
.table-headerDashboard{
    width:calculateRem(200px);
    color: var(--primary-color);
  font-weight: bold;
}
.sb-workspace-bg{
    position: relative;
    height: auto;
  }