<sui-modal [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'normal'" class="sb-modal custom-sui-modal" appBodyScroll (dismissed)="redirect(); modal.deny();" #modal *ngIf="modalName === 'upload'">
  <div class="sb-modal-header">
    {{resourceService?.frmelmnts?.instn?.t0016}}
  </div>
  <div class="sb-modal-content">
    <div class="m-0">
      <span class="m-0 mr-16">{{resourceService?.frmelmnts?.lbl?.uploadmsg}}</span>
      <!-- <button type="button" class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary">Download Sample
      CSV</button> -->
      <a href="/assets/SampleUserCsv.csv">{{resourceService?.frmelmnts?.btn?.smplcsv}}</a>
    </div>
    <div class="sb-btn sb-btn-tertiary sb-btn-normal mt-8 sb-bulk-upload-btn">
      {{resourceService?.frmelmnts?.lbl?.uploadcsvfile}}
      <input type="file" #inputbtn class="sb-btn-upload" name="file" accept=".csv" (change)="fileChanged($event)" />
    </div>
    <div *ngIf="file">
      <span> {{resourceService?.frmelmnts?.lbl?.upldfile }} :</span>
      <label>{{file.name}}</label>
    </div>
    <div *ngIf="resourceService.frmelmnts && !processId && !showLoader" class="ui info message">
      <div class="header">
        {{resourceService?.frmelmnts?.scttl?.instructions}}
      </div>
      <div>{{resourceService?.frmelmnts?.instn?.t0098}}</div>
      <ol class="ui list">
        <li *ngFor="let instn of userUploadInstructions">{{instn.instructions | interpolate:'{instance}': resourceService?.instance}}
        </li>
      </ol>
      <div>{{resourceService?.frmelmnts?.instn?.t0106}}</div>
      <!-- <div>{{resourceService?.frmelmnts?.instn?.t0076}} <a href={{uploadUserRefLink}}
        target="_blank">{{resourceService?.frmelmnts?.instn?.t0077}}</a></div> -->
    </div>
  </div>
  <div class="sb-modal-actions">
    <button appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="userUploadInteractEdata" [disabled]="!activateUpload" class="sb-btn sb-btn-normal sb-btn-primary" (click)="uploadUsersCSV()">
      {{resourceService?.frmelmnts?.btn?.uploadusrscsv}}
    </button>
  </div>
</sui-modal>

<sui-modal *ngIf="modalName === 'error'" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'normal'" class="sb-modal sb-error" appBodyScroll (dismissed)="redirect(); modal.deny();" #errormodal>
  <div class="sb-modal-header">
    {{resourceService?.frmelmnts?.lbl?.errorinupload}}
  </div>
  <div class="sb-modal-content">
    <div class="ui error message bulkupload-error">
      <div class="header">
        {{resourceService?.frmelmnts?.scttl?.error}}
      </div>
      <div *ngFor="let er of errors">
        <span> {{er}}</span>
      </div>
      <div id="errorDiv" class="errorDiv">
        <textarea id="errorTextArea" class="errorTextArea"></textarea>
      </div>
    </div>
    <div>
      <span> {{resourceService?.frmelmnts?.lbl?.errorMsg }}</span>
    </div>
  </div>
  <div class="sb-modal-actions">
    <button appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="userErrorInteractEdata" [disabled]="processId" class="sb-btn sb-btn-normal sb-btn-primary" (click)="copyToClipboard()">
      {{resourceService?.frmelmnts?.btn?.copytoclipboard}}
    </button>
  </div>
</sui-modal>
