@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.info-container{
    width: 100%;
    padding:1.5rem ;
    box-shadow: 0px calculateRem(5px) calculateRem(10px) 0px rgba(var(--rc-rgba-black), 0.12);

    &__label{
        &:hover{
            text-decoration: underline;
        }   
    }
}
