<div apply-script class="sliderCards ui link card margin-left-right-10 margin-top-15 link">
   <div class="ui image rounded">
        <div class="ui tiny  progress course-progress" data-value="{{enrolledCourse.progress}}" data-total="{{enrolledCourse.noOfLecture}}" ng-class="{orange:(enrolledCourse.noOfLecture - enrolledCourse.progress) < (enrolledCourse.noOfLecture / 2),red:(enrolledCourse.noOfLecture - enrolledCourse.progress) > (enrolledCourse.noOfLecture / 2)}">
            <div class="bar"></div>
        </div>
        <img ng-src=" {{item.appIcon ? item.appIcon : '../images/sunbird_logo.png'}} ">
        <div class="cardImageText center aligned "> 
            <span class="text-cencapitalize">Organic chemistry</span>
        </div>
    </div>
    <div class="sliderCards content">        
        <div class="description">
            100% complete 2hrs remaining 
        </div>
        <div apply-script class="courseHeader-rating ui mini star rating" data-rating="3"></div> 
    </div>     
</div>