<div class="ui visible left vertical inverted sticky thin sidebar menu top-inherit" ng-if="isLoggedIn ">
    <div class="item">
        <ol class="ui list">
            <!--dont remove value -->
            <li value="">Signing Up</li>
            <li value="">User</li>
            <li value="">User Types
                <ol>
                    <li value="">Admin</li>
                    <li value="">Regular User</li>
                </ol>
            </li>
            <li value="">Account</li>
               <li value=""><a href="/course"> Courses</a></li>
        </ol>
    </div>
</div>