  <div class="ui visible left vertical inverted sticky thin sidebar menu">
    <div class="item">
      <div class="header">Introduction</div>
      <div class="menu">        
          <a class="item" href="">
            Integrations
          </a>        
          <a class="item" href="">
            Build Tools
          </a>        
          <a class="item" href="">
            Recipes
          </a>        
          <a class="item" href="">
            Glossary
          </a>    
      </div>
    </div>
  </div>