<div class="ui secondary pointing menu">
    <div class="left menu ">
        <a href="/">
            <img class="ui tiny circular image" src="/images/sunbird_logo.png">
        </a>
    </div>
    <a class="item " ui-sref-active="active" ui-sref="Search" href="search">
    Home
  </a>
    <a class="item " ui-sref-active="active" ui-sref="UserContent" href="userContent">
    Learn
  </a>
    <a class="item" href="#">
   Resources
  </a>
    <a class="item" href="#">
   Community
  </a>
    <a class="item" href="#">
   Assess
  </a>
    <div class="right menu" ng-controller="AuthCtrl as auth" ng-include="'views/common/headerRightMenu.html '"></div>
</div>