@import "variables"; 
@import "mixins/mixins";



.player-information{
 position: relative;
 z-index: 1;
 .side-toc-content{
    overflow-y: auto;
    height: calc(100vh - 280px);
    @include respond-below(sm) {
        height:auto;
        margin: calculateRem(16px) 0;
    }
}
}