<!DOCTYPE html>
<html lang="en" ng-app="courseApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SunBird</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/coursestructure.css" rel="stylesheet">
    <script src="/js/angular.min.js"></script>
    <script src="/js/controllers/courseController.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<script type="text/ng-template"  id="course_structure.html">
		<span class="modulename-title">
		<i class="icon-minus  exp-col-tree-act" id="icon-{{data.identifier}}" ng-click="treeIconClick($event)"></i>
		<span class="title-txt" ng-click="selectLOB(data.taxonomyId, data.identifier, data.name)">{{data.name}}</span>
	</span>
	<span class="dropdown tree-more-dropdown" style="display: none">
	  	<a data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-cog tree-more-icon"></i></a>
	  	<div class="dropdown-menu" role="menu" aria-labelledby="dLabel" ng-show="data.relations.length > 0 && !data.isFinest">
	   		<a href="javascript:void(0)" ng-repeat="relation in data.relations" ng-click="showAddLOB(data, relation.toNodeSet, relation.toNodeSetId, relation.relationName)" ng-if="relation.nodeSetClass == 'LearningObject'">
	   			<i class="glyphicon glyphicon-plus"></i> Add {{relation.toNodeSet}}
	   		</a>
			<div class="divider"></div>
			<a href="javascript:void(0)" ng-click="deleteLOB(data.identifier)"><i class="glyphicon glyphicon-trash"></i> Delete</a>
	  	</div>
	  	<div class="dropdown-menu" role="menu" aria-labelledby="dLabel" ng-show="data.relations.length == 0 || data.isFinest">
	  		<a href="javascript:void(0)" ng-click="deleteLOB(data.identifier)"><i class="glyphicon glyphicon-trash"></i> Delete</a>
	  	</div>
	</span>
    <ul ng-show="data.children.length > 0">
        <li ng-repeat="data in data.children" ng-include="'course_structure.html'" class="parent_li"></li>
    </ul>
</script>
<body ng-controller="CourseStructureCtrl">
	<% include ../includes/header %>
    <% include ../includes/courseNav %>
    <input type="hidden" id="courseId" value="<%=courseId %>"/>

    <section>
        <div class="parent_container">
            <div class="col-md-9 main_container">
                <div class="main">
                    <div class="">
                        <div class="alert alert-danger alert-dismissable hide" id="errorDiv">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Error!</strong>{{errorText}}
                        </div>
                        <span class="title pull-left">Syllabus</span>
                        <input type="file" title="Upload" class="btn btn-info pull-right"></input>
                        <div class="tree">
                            <ul class="list-unstyled">
                                <li class="parent_li">
                                    <span class="coursename-title">
                                        <i class="icon-minus exp-col-tree-act" id="icon-{{courseStructure.identifier}}" ng-click="treeIconClick($event)"></i>
                                        <span class="title-txt list-active" ng-click="selectCourse(courseStructure)">
                                            <i class="icon-level1">&nbsp;</i>{{courseStructure.name}}
                                        </span>
                                    </span>
                                    <span class="dropdown tree-more-dropdown">
                                        <a data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-cog tree-more-icon"></i></a>
                                        <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <a href="javascript:void(0)" ng-repeat="relation in courseStructure.relations" ng-click="showAddLOB(courseStructure, relation.toNodeSet, relation.toNodeSetId, relation.relationName, 'Course')" ng-if="relation.nodeSetClass == 'LearningObject'">
                                                <i class="glyphicon glyphicon-plus"></i> Add {{relation.toNodeSet}}
                                            </a>
                                        </div>
                                    </span>
                                    <ul class="ul-style">
                                        <li ng-repeat="data in courseStructure.children" ng-include="'course_structure.html'" class="parent_li"></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- end tree -->
                    </div>
                    <!-- end yscroll -->
                </div>
                <!-- end main -->
                <div class="working_area_actions">
                    <div class="pull-right">
                        <a href="javascript:void(0);" class="btn btn-sm btn_green" ng-click="save()">Save</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-default">Reset</a>
                    </div>
                </div>
            </div>
            <!-- end main_container -->
            <div class="col-md-3 actions">
                <div class="action_title">
                    <span>{{currentSelected}}</span>
                </div>
                <ul class="list-unstyled actions_list">
                    <li class="active">
                        <img class="pull-left" src="/img/meta_data_icon.png" />
                        <a href="javascript:void(0);" class="name red">Meta Data</a>
                        <br/>
                    </li>
                </ul>
                <div class="form_right" role="form">
                    <div class="form-group" ng-repeat="field in taxonomy.metadata">
                        <label>{{field.label}}</label>
                        <input class="form-control" ng-model="currentMetadata[field.propertyName]">
                    </div>
                    <div>
                        <button type="button" ng-click="addMetadata()" class="btn btn-sm btn_green">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="addLOB">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add {{lobNodeSet}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>{{lobNodeSet}}</label>
                        <input class="form-control" ng-model="lobName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-sm btn_green" ng-click="addLOB()">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.file-input.js"></script>
    <script src="/js/custom.js"></script>
    <script>
    $(document).ready(function() {
        $('input[type=file]').bootstrapFileInput();
    });
    </script>
</body>

</html>
