<script type="text/ng-template"  id="status_cell_template.html">
	<div class="ngCellText center-align">
		<i class="fa fa-circle" ng-class="{green: (row.getProperty('targetLectures') - row.getProperty('completedLectures')) < 5, orange: (row.getProperty('targetLectures') - row.getProperty('completedLectures')) >= 5, red: (row.getProperty('targetLectures') - row.getProperty('completedLectures')) > 10}"></i>&emsp;
		<i class="fa fa-square" ng-if="row.getProperty('grade')" ng-class="{green: row.getProperty('grade') > 80, orange: row.getProperty('grade') <= 80, red: row.getProperty('grade') < 50}"></i>
		<span ng-if="!row.getProperty('grade')">
			<i class="fa fa-minus"></i>
		</span>&emsp;
		<span class="engagementSpan" ng-if="row.getProperty('engagementIndex')">
			<i class="fa fa-play triangleAttend" ng-class="{green: row.getProperty('engagementIndex') > 0.6, orange: row.getProperty('engagementIndex') <= 0.6, red: row.getProperty('engagementIndex') < 0.4}"></i>
		</span>
		<span ng-if="!row.getProperty('engagementIndex')">
			<i class="fa fa-minus"></i>
		</span>
	</div>
</script>

<script type="text/ng-template"  id="student_cell_template.html">
	<div class="ngCellText">
		<a href="javascript:void(0)" class="textCapitalize" ng-click="showStudentSummaryData(row.getProperty('studentId'))">
		{{row.getProperty('studentName') | characters:12 :true}}
		</a>
	</div>
</script>

<script type="text/ng-template"  id="period_cell_template.html">
	<div class="ngCellText">
		<span>
			{{course.timeUnit}} {{row.getProperty('offsetIndex')}}
		</span>
	</div>
</script>

<script type="text/ng-template"  id="lectures_cell_template.html">
	<div class="ngCellText">
		<div class="bullet-graph" title="{{row.getProperty('completedLectures')}}/{{row.getProperty('targetLectures')}} Lectures">
			<div class="graph">
				<div class="region-1" style="width: {{row.getProperty('targetPercent')}}%;"></div>
			  	<div class="measure" style="width: {{row.getProperty('completePercent')}}%;"</div>
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template"  id="lastLogin_cell_template.html">
	<div class="ngCellText lastLoginText">
		<span ng-if="row.getProperty('lastActivityTimestamp')" data-livestamp="{{row.getProperty('lastActivityTimestamp')}}"></span>
	</div>
</script>

<script type="text/ng-template"  id="week_cell_template.html">
	<div class="ngCellText center-align">
		{{row.getProperty('offsetIndex')}}
	</div>
</script>

<script type="text/ng-template"  id="practices_cell_template.html">
	<div class="ngCellText">
		<span ng-repeat="exam in row.getProperty('practiceTests') | limitTo: 5">
			<span ng-if="exam.grade > 90" class="green">A</span>
			<span ng-if="exam.grade > 80 && exam.grade <= 90" class="green">B</span>
			<span ng-if="exam.grade > 70 && exam.grade <= 80" class="orange">C</span>
			<span ng-if="exam.grade > 60 && exam.grade <= 70" class="orange">D</span>
			<span ng-if="exam.grade >= 50 && exam.grade <= 60" class="orange">E</span>
			<span ng-if="exam.grade < 50" class="red">F</span>
		</span>
	</div>
</script>

<script type="text/ng-template"  id="exams_cell_template.html">
	<div class="ngCellText">
		<span ng-repeat="exam in row.getProperty('recentExams') | limitTo: 5">
			<span ng-if="exam.grade > 90" class="green">A</span>
			<span ng-if="exam.grade > 80 && exam.grade <= 90" class="green">B</span>
			<span ng-if="exam.grade > 70 && exam.grade <= 80" class="orange">C</span>
			<span ng-if="exam.grade > 60 && exam.grade <= 70" class="orange">D</span>
			<span ng-if="exam.grade >= 50 && exam.grade <= 60" class="orange">E</span>
			<span ng-if="exam.grade < 50" class="red">F</span>
		</span>
	</div>
</script>

<script type="text/ng-template"  id="grade_cell_template.html">
	<div class="ngCellText center-align gradeText" ng-if="!row.getProperty('grade')">
		<i class="fa fa-minus"></i>
	</div>
	<div class="ngCellText center-align gradeText" ng-if="row.getProperty('grade')">
		<span ng-if="row.getProperty('grade') > 90" class="green">A</span>
		<span ng-if="row.getProperty('grade') > 80 && row.getProperty('grade') <= 90" class="green">B</span>
		<span ng-if="row.getProperty('grade') > 70 && row.getProperty('grade') <= 80" class="orange">C</span>
		<span ng-if="row.getProperty('grade') > 60 && row.getProperty('grade') <= 70" class="orange">D</span>
		<span ng-if="row.getProperty('grade') >= 50 && row.getProperty('grade') <= 60" class="orange">E</span>
		<span ng-if="row.getProperty('grade') < 50" class="red">F</span>
	</div>
</script>

<script type="text/ng-template"  id="tickets_cell_template.html">
	<div class="ngCellText">
		<span ng-repeat="ticket in row.getProperty('tickets') | limitTo: 5">
			<span ng-if="ticket.elementType == 'Exam'" data-toggle="tooltip" data-placement="right" title="Missed Exam">x </span>
			<span ng-if="ticket.elementType == 'coachingSession'" data-toggle="tooltip" data-placement="right" title="Missed Coaching Session">o </span>
		</span>
	</div>
</script>

<script type="text/ng-template" id="env_cell_template.html">
	<div class="ngCellText center-align envCellData" ng-if="!(row.getProperty('timeSpent')[col.field] >= timeThreshold*row.getProperty('offsetIndex'))">
		<i class="fa fa-circle red"></i>
	</div>
	<div class="ngCellText center-align envCellData" ng-if="(row.getProperty('timeSpent')[col.field] >= timeThreshold*row.getProperty('offsetIndex'))">
		<i class="fa fa-circle green"></i>
	</div>
</script>

<script type="text/ng-template" id="week_env_cell_template.html">
	<div class="ngCellText center-align envCellData" ng-if="!(row.getProperty('timeSpent')[col.field] >= timeThreshold)">
		<i class="fa fa-circle red"></i>
	</div>
	<div class="ngCellText center-align envCellData" ng-if="(row.getProperty('timeSpent')[col.field] >= timeThreshold)">
		<i class="fa fa-circle green"></i>
	</div>
</script>

<script type="text/ng-template"  id="grid_legend_template.html">
	<div class="row">
		<div class="legend col-md-12 pull-right" ng-init="showLegend=true;">
			<a href="javascript:void(0);" class="pull-right hideLinkId" onclick="toggleLegend();">Hide Legend</a>
			<a href="javascript:void(0);" class="pull-right showLinkId" style="display:none;" onclick="toggleLegend();">Show Legend</a>
		</div>
	</div>
	<div class="row legendContentRow">
		<div class="legend col-md-3">
			<i class="fa fa-circle"></i>&nbsp;&nbsp;Attendance<br>
			<i class="fa fa-square"></i>&nbsp;&nbsp;Performance<br>
			<i class="fa fa-play triangleAttend verticalAlignBottom" style="padding-left: 2px;"></i>&nbsp;&nbsp;Engagement
		</div>
		<div class="legend col-md-5">
			<div style="height: 3px; background-color: #53a2d4;width: 30%;float:left;margin-top:10px"></div>&nbsp;&nbsp;Progress<br>
			<div style="height: 12px; background-color: #b0e2ff;width: 30%;float:left;margin-top:3px"></div>&nbsp;&nbsp;Benchmark
 		</div>
		<div class="legend col-md-4">
			<div>x&nbsp;&nbsp;Missed Exam</div>
			<div>o&nbsp;&nbsp;Missed Coaching Session</div>
 		</div>
 	</div>
</script>

<script type="text/ng-template"  id="activity_name_template.html">
	<div class="ngCellText">
		<a href="javascript:void(0)" ng-click="goToLecture(row.getProperty('activityId'))">
		{{row.getProperty('activityName')}}
		</a>
	</div>
</script>

<script type="text/ng-template"  id="score_cell_template.html">
	<div class="ngCellText" ng-if="row.getProperty('score')">
		{{row.getProperty('score')}}/{{row.getProperty('maxScore')}}
	</div>
</script>

<script type="text/ng-template"  id="text_cell_template.html">
	<div class="ngCellText">
		{{row.getProperty(col.field)}}
	</div>
</script>

<script type="text/ng-template"  id="grid_custom_header_template.html">
	<div class="ngHeaderSortColumn {{col.headerClass}}" ng-style="{'cursor': col.cursor}" ng-class="{ 'ngSorted': !noSortVisible }">
		<div ng-click="col.sort($event)" ng-class="'colt' + col.index" class="ngHeaderText">
			{{col.displayName}}
		</div>
		<div ng-class="{ ngPinnedIcon: col.pinned, ngUnPinnedIcon: !col.pinned }" ng-click="togglePin(col)" ng-show="col.pinnable">
		</div>
	</div>
	<div class="ilSortableCol" ng-show="col.sortable && (!col.showSortButtonDown() && !col.showSortButtonUp())">
		<i class="fa fa-sort"></i>
	</div>
	<div class="ngSortButtonDown gridSortBtn" ng-show="col.showSortButtonDown()"></div>
	<div class="ngSortButtonUp gridSortBtn" ng-show="col.showSortButtonUp()"></div>
	<div class="ngSortPriority">{{col.sortPriority}}</div>
	<div ng-show="col.resizable" class="ngHeaderGrip" ng-click="col.gripClick($event)" ng-mousedown="col.gripOnMouseDown($event)">
</div>
</script>


<script type="text/ng-template"  id="engg_cols_header_template.html">
	<div style="overflow: visible;" class="ngHeaderSortColumn {{col.headerClass}}" ng-style="{'cursor': col.cursor}" ng-class="{ 'ngSorted': !noSortVisible }">
		<div ng-click="col.sort($event)" ng-class="'colt' + col.index" class="ngHeaderText">
			<span data-toggle="tooltip" data-placement="left" title="{{col.field}}">{{col.displayName}}</span>
		</div>
	</div>
</div>
</script>

<script type="text/ng-template"  id="student_details_cell_template.html">
	<div class="ngCellText">
		{{row.getProperty('studentDTO')[col.field]}}
	</div>
</script>

<script type="text/javascript">

function toggleLegend() {
    $(".hideLinkId").toggle();
    $(".showLinkId").toggle();
    $(".legendContentRow").slideToggle('slow');
}
</script>

