<a href="javascript:void(0)" ng-click="courseBrowserView();slideLeftMenu('cb');" class="slideIcon" ng-class="{'active': (ViewContext == 'cb')}">
    <i class="fa fa-bars fa-fw"></i>
</a>
<!-- <a href="javascript:void(0)" ng-click="slideLeftMenu();" class="slideIcon" style="padding-top: 30px; display:inline-block;"><img src="/img/dashboard(32x32).png"/></a>
<a href="javascript:void(0)" ng-click="slideLeftMenu();" class="slideIcon" style="padding-top: 30px; display:inline-block;"><img src="/img/group(32x32).png"/></a> -->

<a href="javascript:void(0)" ng-click="interactionsView();slideLeftMenu('qa');" class="slideIcon" ng-class="{'active': (ViewContext == 'qa')}"><i class="fa fa-fw fa-qa">Q&amp;A</i></a>

<!--
<% if(user.roles.indexOf('tutor') > -1 ) { %>
<a href="javascript:void(0)" ng-click="learnerSearchView();slideLeftMenu('ls');" class="slideIcon" ng-class="{'active': (ViewContext == 'ls')}"><i class="fa fa-users fa-fw"></i></a>
<% } %>-->

<% if(user.roles.indexOf('admin') > -1) { %>
<a href="javascript:void(0)" ng-click="assessmentsView();slideLeftMenu('questionSets');" class="slideIcon"  ng-class="{'active': (ViewContext == 'questionSets')}">
<i class="fa fa-file-text fa-fw"></i></a>
<% } %>

<% if(user.roles.indexOf('tutor') > -1 ) { %>
<a href="javascript:void(0)" ng-click="contentSearchView();slideLeftMenu('cs');" class="slideIcon" ng-class="{'active': (ViewContext == 'cs')}"><i class="fa fa-search fa-fw"></i></a>
<% } %>

<a href="javascript:void(0)" ng-click="classRoomView();slideLeftMenu('classroom');" class="slideIcon" ng-class="{'active': (ViewContext == 'classroom')}"><i class="fa fa-group fa-fw"></i></a>

<!--
<a href="javascript:void(0)" ng-click="TOCView();slideLeftMenu('toc');" class="slideIcon" ng-class="{'active': (ViewContext == 'toc')}"><i class="fa fa-book fa-fw"></i></a>-->

