<div class="il-gadget-header">
	<h4>My Notes</h4>
</div>
<div class="il-gadget-body"  >
	<div class="col-md-12 padBottom borderBottom">
		<div class="col-md-9 noPad">
			<input type="text" placeholder="Search Notes" ng-model="searchNote" class="form-control input-sm"/>
		</div>
		<div class="col-md-3"><button class="btn btn-primary btn-sm" ng-click="showAddNote = true">Add Note</button></div>
	</div>
	<div class="col-md-12 padTop" ng-show="showAddNote">
		<input type="text" placeholder="Untitled Note" class="form-control" ng-model="noteTitle"/>
		<br/>
		<text-angular ta-toolbar="[['h3','h4','p','bold','italics','underline','ul','ol','insertLink']]" ng-model="noteDesc" ta-toolbar-button-class="btn btn-default btn-sm" placeholder="Add your note here"></text-angular>
		<div class="pull-right padTop">
			<button class="btn btn-primary btn-sm" ng-click="saveNote()">Save</button>
			<button class="btn btn-default btn-sm marginLeft5" ng-click="showAddNote = false">Cancel</button>
		</div>
	</div>
	<div class="col-md-12 padTop note-container"  ng-hide="showAddNote">
		<div class="note-div" ng-repeat="note in notes | filter:searchNote" ng-mouseover="noteMouseOver($event)" ng-mouseleave="noteMouseLeave($event)">
	        <div class="note-title">
	        	<span ng-show="editNoteId != note.identifier" class="col-md-10 noPad">
	        		<a href="javascript:void(0)" ng-click="displayNote(note.identifier)"><span style = "color: #428bca">{{note.title}}</span></a>
	        	</span>
	        	<div ng-show="editNoteId != note.identifier" class="col-md-2 noPad hide note-edit-actions">
	        		<span  class="glyph16 icon icon-edit curs-pointer" ng-show="editNoteId != note.identifier" ng-click="editNoteId = note.identifier;scrollToBottom()"></span>
		    		<span class="glyph16 icon icon-delete-round curs-pointer padLeft5" ng-show="editNoteId != note.identifier" ng-click="deleteNote(note.identifier)"></span>
	        	</div>
	        	<input type="text" class="form-control" ng-model="note.title" ng-show="editNoteId == note.identifier"/>
	        </div>
	    	<div class="note-desc">
	    		<span ng-show="editNoteId != note.identifier && clickedNote != note.identifier" ng-bind-html="renderHtmlTrim(note.content, 250)" class="note-desc-text">
	    		</span>
		    	<span ng-show="editNoteId != note.identifier && clickedNote == note.identifier" ng-bind-html="renderHtmlTrim(note.content, note.content.length)">
				</span >
	    		<text-angular ng-show="editNoteId == note.identifier" ta-toolbar="[['h3','h4','p','bold','italics','underline','ul','ol','insertLink']]" ng-model="note.content" ta-toolbar-button-class="btn btn-default btn-sm" placeholder="Add your note here"></text-angular>
	        </div>
		    <div class="note-update-actions">
		    	<div class="pull-right">
		    		<button ng-show="editNoteId == note.identifier" class="btn btn-primary btn-sm" ng-click="editNoteId = '';updateNote(note)">Update</button>
		    		<button ng-show="editNoteId == note.identifier" ng-click="editNoteId = ''" class="btn btn-default btn-sm marginLeft5">Cancel</button>
		    	</div>
		    </div>
		</div>
	</div>
</div>