// buttons
// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

// base button styles
a.sb-btn,
.sb-btn {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    outline: 0;
    display: inline-block;
    border: 1px solid;
    color:#fff;
    cursor:pointer;
    min-width:($base-block-space * 8);
    text: {
        transform: capitalize;
        decoration: none;
    }
    &:hover {
        opacity: 1;
    }
    &.disabled,
    &.disabled:hover,
    &:disabled,
    &:disabled:hover {
        background-color: $gray-100;
        color:$gray-200;
        border:1px solid $gray-100;
        cursor: not-allowed;
    }
    &+.sb-btn {
        margin:0 $base-block-space 0 0;
    }
}

[dir="rtl"] .sb-btn+.sb-btn {
    margin:0 0 0 $base-block-space;
}
// button link
.sb-btn-link {
    background:none;
    border:0;
    text-decoration: underline;
    &:hover {
        font-weight:$font-weight-bold;
    }
    
}
// button sizes
.sb-btn-small {
    height:$base-btn-small-height;
    padding: ($base-block-space * .5) ($base-block-space * 2);
    font-size:$font-size-xs;
    @include border-radius(2px);
}
.sb-btn-normal {
    height:$base-btn-normal-height;
    padding: $block-padding-y-x;
    font-size:$font-size-sm;
    @include border-radius(4px);
}
.sb-btn-big {
  height:$base-btn-big-height;
  padding: $block-padding-y-x;
  font-size:$font-size-normal;
  @include border-radius(6px);
}
// disabled button
a.sb-btn-disabled,
.sb-btn-disabled {
    background-color: $gray-100;
    color:$gray-200;
    border:1px solid $gray-100;
    cursor: not-allowed;
}

a.sb-btn-outline-disabled,
.sb-btn-outline-disabled {
    background-color: $white-color;
    color:$gray-100;
    border:1px solid $gray-100;
    cursor: not-allowed;
}
// default outline colored btns

a.sb-btn-outline-primary,
.sb-btn-outline-primary {
    @include btn-theme-bgwhite($primary-color);
}

a.sb-btn-outline-secondary,
.sb-btn-outline-secondary {
    @include btn-theme-bgwhite($secondary-color);
}

a.sb-btn-outline-tertiary,
.sb-btn-outline-tertiary {
    @include btn-theme-bgwhite($tertiary-color);
}
// status outline buttons

a.sb-btn-outline-info,
.sb-btn-outline-info {
    @include btn-theme-bgwhite($primary-color);
}

a.sb-btn-outline-success,
.sb-btn-outline-success {
    @include btn-theme-bgwhite($secondary-color);
}

a.sb-btn-outline-warning,
.sb-btn-outline-warning {
    @include btn-theme-bgwhite($tertiary-color);
}

a.sb-btn-outline-error,
.sb-btn-outline-error {
    @include btn-theme-bgwhite($red);
}

a.sb-btn-outline-gray,
.sb-btn-outline-gray {
    @include btn-theme-bgwhite($gray-800);
} 
// default colored btns
a.sb-btn-primary,
.sb-btn-primary {
    @include btn-theme($primary-color);
}

a.sb-btn-secondary,
.sb-btn-secondary {
    @include btn-theme($secondary-color);
}

a.sb-btn-tertiary,
.sb-btn-tertiary {
    @include btn-theme($tertiary-color);
}

a.sb-btn-success,
.sb-btn-success {
    @include btn-theme($success-color);
} 

a.sb-btn-info,
.sb-btn-info {
    @include btn-theme($info-color);
}

a.sb-btn-warning,
.sb-btn-warning {
    @include btn-theme($warning-color);
}

a.sb-btn-error,
.sb-btn-error {
    @include btn-theme($danger-color);
}