.sb-card {
  width: $sb-card-width;
  max-width: $sb-card-width;
  height: $sb-card-height;
  background-color: $sb-card-bg-color;
  border: $sb-card-border;
  border-radius: $sb-card-border-radius;
  cursor: pointer;
  overflow: hidden;
  margin-top: $sb-card-hover-movement;
  &:hover {
    transform: translateY(-$sb-card-hover-movement);
    box-shadow: $sb-card-box-shadow;
  }
  .sb-card-body {
    height: $sb-card-body-height;
    padding: $sb-card-padding;
    overflow: hidden;
  }
  .sb-card-metas {
    display: flex;
    align-items: flex-end;
  }
  .sb-card-image {
    width: $sb-card-image-width;
    height: $sb-card-image-height;
    border: $sb-card-image-border;
    background-color: $sb-card-image-bg-color;
    border-radius: $sb-card-image-border-radius;
    box-sizing: border-box;
    overflow: hidden;
    img {
      width: $sb-card-image-width;
      height: $sb-card-image-height;
      object-fit: cover;
    }
  }
  .sb-card-meta {
    height: $sb-card-image-height;
    width: $sb-card-meta-width;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
  }
  .sb-card-label {
    color: $sb-card-label-color;
    font-size: $sb-card-label-font-size;
    border: $sb-card-label-border;
    border-radius: $sb-card-label-border-radius;
    padding: $sb-card-label-padding;
    height: $sb-card-label-height;
  }
  .sb-card-badge {
    height: $sb-card-badge-height;
    width: $sb-card-badge-width;
    object-fit: contain;
  }
  .sb-card-meta-item {
    font-size: $sb-card-meta-font-size;
    color: $sb-card-meta-color;
    width: $sb-card-meta-width;
    line-height: $sb-card-meta-line-height;
  }
  .sb-card-title {
    color: $sb-card-title-color;
    font-size: $sb-card-title-font-size;
    line-height: $sb-card-title-line-height;
    font-weight: $sb-card-title-font-weight;
    height: $sb-card-title-height;
    margin: $sb-card-title-spacing;
    overflow: hidden;
  }
  .sb-card-org {
    font-size: $sb-card-meta-org-font-size;
    color: $sb-card-meta-color;
  }
  .sb-card-progressbar {
    height: $sb-card-progressbar-height;
    .ui.progress .bar {
      border-radius: $sb-card-progressbar-border-radius;
    }
  }
}
app-card[lang="ta"] {
  .sb-card {
    .sb-card-label  {
      font-size: $sb-card-label-font-size-ta;
    }
    .sb-card-meta-item {
      font-size: $sb-card-meta-font-size-ta;
    }
    .sb-card-title {
      font-size: $sb-card-title-font-size-ta;
    }
    .sb-card-org {
      font-size: $sb-card-meta-org-font-size-ta;
    }
  }
}

app-card[lang="ur"] {
  .sb-card {
    .sb-card-label  {
      font-size: $sb-card-label-font-size-ur;
    }
    .sb-card-meta-item {
      font-size: $sb-card-meta-font-size-ur;
    }
    .sb-card-title {
      font-size: $sb-card-title-font-size-ur;
    }
    .sb-card-org {
      font-size: $sb-card-meta-org-font-size-ur;
    }
    
  }
}
