.sb-card {
    width: $sb-card-width;
    height: $sb-card-height;
    background-color: $sb-card-bg-color;
    box-shadow: $sb-card-box-shadow;
    border: $sb-card-border;
    border-radius: $sb-card-border-radius;
    cursor: pointer;
    overflow: hidden;
    // Card body
    .sb-card-body {
      height: $sb-card-body-height;
      padding: $sb-card-padding;
      overflow: hidden;
    }
    .sb-card-metas {
      display: flex;
    }
    // Card image
    .sb-card-image {
      width: $sb-card-image-width;
      height: $sb-card-image-height;
      border: $sb-card-image-border;
      background-color: $sb-card-image-bg-color;
      border-radius: $sb-card-image-border-radius;
      overflow: hidden;
      display: inline-block;
      margin: $sb-card-image-meta-space;
      img {
        object-fit: cover;
        width: $sb-card-image-width;
        height: $sb-card-image-height;
      }
    }
    .sb-card-meta {
      display: inline-block;
    }
    .sb-card-label {
      color: $sb-card-label-color;
      font-size: $sb-card-label-font-size;
      border: $sb-card-label-border;
      border-radius: $sb-card-label-border-radius;
      padding: $sb-card-label-padding;
    }
    .sb-card-meta-item {
      font-size: $sb-card-meta-font-size;
      color: $sb-card-meta-color;
    }
    .sb-card-title {
      color: $sb-card-title-color;
      font-size: $sb-card-title-font-size;
      font-weight: $sb-card-title-font-weight;
      margin: $sb-card-title-spacing;
    }
    .sb-card-org {
      font-size: $sb-card-meta-org-font-size;
      color: $sb-card-meta-color;
    }
    .sb-card-progressbar {
      height: $sb-card-progressbar-height;
    }

  }

.sb-card,
.profileCard {
  .ui.progress,
  &.blue {
    margin: 0;
    .bar {
      border-radius: 0 4px 4px 4px;
    }
  }
}