
.sb-card {
  max-width: $sb-card-width;
  // max-width: $sb-card-width;
  background-color: $sb-card-bg-color;
  border: $sb-card-border;
  border-radius: $sb-card-border-radius;
  transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
  transition-delay: .1s;
  cursor: pointer;
  overflow: hidden;
  @media screen and (min-width: 340px) {
    max-width: $sb-card-width;
  margin-top: $sb-card-hover-movement;
  &:hover {
    transform: translate(0, -$sb-card-hover-movement);
    box-shadow: $sb-card-box-shadow;
  }
  .sb-card-body {
    height: $sb-card-body-height;
    padding: $sb-card-padding;
    overflow: hidden;
  }
  .sb-card-metas {
    display: flex;
    align-items: flex-end;
  }
  .sb-card-image {
    width: $sb-card-image-width;
    height: $sb-card-image-height;
    border: $sb-card-image-border;
    background-color: $sb-card-image-bg-color;
    border-radius: $sb-card-image-border-radius;
    box-sizing: border-box;
    overflow: hidden;
    img {
      width: $sb-card-image-width;
      height: $sb-card-image-height;
      object-fit: cover;
    }
  }
  .sb-card-meta {
    height: $sb-card-image-height;
    width: $sb-card-meta-width;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
  }
  .sb-card-label {
    color: $sb-card-label-color;
    font-size: $sb-card-label-font-size;
    border: $sb-card-label-border;
    border-radius: $sb-card-label-border-radius;
    padding: $sb-card-label-padding;
    height: $sb-card-label-height;
  }
  .sb-card-badge {
    height: $sb-card-badge-height;
    width: $sb-card-badge-width;
    object-fit: contain;
  }
  .sb-card-meta-item {
    font-size: $sb-card-meta-font-size;
    color: $sb-card-meta-color;
    width: $sb-card-meta-width;
    line-height: $sb-card-meta-line-height;
  }
  .sb-card-title {
    color: $sb-card-title-color;
    font-size: $sb-card-title-font-size;
    line-height: $sb-card-title-line-height;
    font-weight: $sb-card-title-font-weight;
    height: $sb-card-title-height;
    margin: $sb-card-title-spacing;
    overflow: hidden;
  }
  .sb-card-org {
    font-size: $sb-card-meta-org-font-size;
    color: $sb-card-meta-color;
  }
  .sb-card-progressbar {
    height: $sb-card-progressbar-height;
    .ui.progress .bar {
      border-radius: $sb-card-progressbar-border-radius;
    }
  }

  .sb-card-hover {
    position: absolute;
    top:0;
    max-width:292px;
    width: 100%;
    height: 100%;
    background-color: rgba(2,79,157,0.85);
    display: none;
    .sb-card-hover-content {
      display:flex;
      align-items: center;
      height: 100%;
      justify-content: center;  
    }
  }
  &:hover {
    .sb-card-hover {
      display: block;
    }
  box-shadow: $sb-card-box-shadow;
  }
}
app-card[lang="ta"] {
  .sb-card {
    .sb-card-label  {
      font-size: $sb-card-label-font-size-ta;
    }
    .sb-card-meta-item {
      font-size: $sb-card-meta-font-size-ta;
    }
    .sb-card-title {
      font-size: $sb-card-title-font-size-ta;
    }
    .sb-card-org {
      font-size: $sb-card-meta-org-font-size-ta;
    }
  }
}

app-card[lang="ur"] {
  .sb-card {
    .sb-card-label  {
      font-size: $sb-card-label-font-size-ur;
    }
    .sb-card-meta-item {
      font-size: $sb-card-meta-font-size-ur;
    }
    .sb-card-title {
      font-size: $sb-card-title-font-size-ur;
    }
    .sb-card-org {
      font-size: $sb-card-meta-org-font-size-ur;
    }
  }
}

// workspace cards

.sb-wspace-card {
  height: $base-block-space*16;
  max-width: $sb-card-width;
  @include border(border,0.5px,$gray-0);
  @include border(border-left,4px,$white);
  border-radius: $base-block-space/2;
  background: $white;
  padding: $base-block-space*2 $base-block-space*3;
  margin: 0px 24px 24px 0px;
  .sb-wspace-title {
    margin-bottom: $base-block-space;
    font-size: $h5-font-size;
    font-weight: $font-weight-bold;
  }
  
  .sb-wspace-description {
    font-size: $font-size-sm;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  
  &:hover,&.active {
    .sb-wspace-title {
      color: $blue;
    }
  @include border(border-left,4px,$secondary-200);
    cursor: pointer;
    box-shadow: 2px 5px 7px 0 rgba(0, 0, 0, 0.2);
  }
}

// QR Card

.sb-card-qr {
  .sb-btn {
  border: 1px solid #dedede !important;
  // margin-bottom: ($base-block-space * 2);
  height: auto;
  .sb-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    width:100%;
  }
  &:hover {
    .sb-btn {
      background:$secondary-400;
    }
  }
}