.sb-prominent-filter {
  background: $sb-prominent-filter-background-color;
  padding: $sb-prominent-filter-padding;

  .sb-prominent-filter-header {
    font-weight: $sb-prominent-filter-header-font-weight;
    margin: $sb-prominent-filter-header-margin;
  }

  .sb-data-driven-filter-header {
    font-weight: $sb-prominent-filter-header-font-weight;
    color: $sb-prominent-filter-header-color;
  }

  .sb-prominent-filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .sb-prominent-filter-field {
      margin: $sb-prominent-filter-field-margin;
      padding: $sb-prominent-filter-field-padding;
      width: $sb-prominent-filter-field-width;

      &:last-child {
        margin-top: auto;
        margin-left: auto;
        text-align: right;
        padding-right: 0;
      }

      label {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-weight: $sb-prominent-filter-field-label-font-weight;
        color: $sb-prominent-filter-field-label-color;
        font-size: $sb-prominent-filter-field-label-font-size;
        margin: $sb-prominent-filter-field-label-margin;
      }

      .topic-picker-selector {
        font-size: $sb-prominent-filter-field-font-size !important;
        color: $sb-prominent-filter-field-color !important;
        border: $sb-prominent-filter-field-border !important;
        border-radius: $sb-prominent-filter-field-border-radius !important;
        width: $sb-prominent-filter-field-width;
        height: $sb-prominent-filter-field-height;
        padding: $sb-prominent-filter-topic-picker-padding;
      }

      .ui.selection.dropdown {
        min-width: $sb-prominent-filter-field-width;
        width: $sb-prominent-filter-field-width;
        height: $sb-prominent-filter-field-height;
        font-size: $sb-prominent-filter-field-font-size;
        border: $sb-prominent-filter-field-border;
        border-radius: $sb-prominent-filter-field-border-radius;
        padding: 0;
        
        .item {
          padding: 12px !important;
          color: $sb-prominent-filter-field-color !important;
          font-size: $sb-prominent-filter-field-font-size !important;
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;

          &.header {
            font-weight: 500;
            margin: 0;
          }

          &.active {
            color: $primary-color !important;
            font-weight: 700;
          }
        }

        &.multiple {
          .text {
            text-transform: lowercase;
            text-overflow: ellipsis;
            overflow: hidden;
            color: $sb-prominent-filter-field-color !important;
            margin: 0;
            padding: 10px;
            &::first-letter {
              text-transform: uppercase;
            }
          }
        }

      }

    }
  }
}

// responsive

@include respond-above(lg) {
  .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field {
    width: 20%;

    &:nth-child(5n+5) {
      padding-right: 0;
    }
  }

  *[dir="rtl"] {
    .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field{
      &:nth-child(5n+5) {
        padding-right: 16px;
      }
      &:nth-child(5n+1) {
        padding-right: 0;
      }
      &:last-child {
        padding-right: 16px;
        margin-right: auto;
        margin-left: 0;
        text-align: left;
      }
    }
  }
}

@include respond-between(md, lg) {
  .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field {
    width: 25%;

    &:nth-child(4n+4) {
      padding-right: 0;
    }
  }

  *[dir="rtl"] {
    .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field {
      &:nth-child(4n+4) {
        padding-right: 16px;
      }
      &:nth-child(4n+1) {
        padding-right: 0;
      }
      &:last-child {
        padding-right: 16px;
        margin-right: auto;
        margin-left: 0;
        text-align: left;
      }
    }
  }
}

@include respond-between(sm, md) {
  .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field {
    width: 33.3333%;

    &:nth-child(3n+3) {
      padding-right: 0;
    }
  }

  *[dir="rtl"] {
    .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field {
      &:nth-child(3n+3) {
        padding-right: 16px;
      }
      &:nth-child(3n+1) {
        padding-right: 0;
      }
      &:last-child {
        padding-right: 16px;
        margin-right: auto;
        margin-left: 0;
        text-align: left;
      }
    }
  }
}

@include respond-below(sm) {
  .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field {
    width: 50%;

    &:nth-child(2n+2) {
      padding-right: 0;
    }
  }

  *[dir="rtl"] {
    .sb-prominent-filter .sb-prominent-filter-container .sb-prominent-filter-field {
      &:nth-child(2n+2) {
        padding-right: 16px;
      }
      &:nth-child(2n+1) {
        padding-right: 0;
      }
      &:last-child {
        padding-right: 16px;
        margin-right: auto;
        margin-left: 0;
        text-align: left;
      }
    }
  }
}