.sb-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    &:after {
      content: '';
      width: $base-block-space * 4;
      height: $base-block-space * 4;
      border-radius: 50%;
      border: 2px solid;
      border-color: $teal $teal transparent;
      animation: loader 0.5s infinite;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    &.dimmer {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      z-index: 9999;
    }
}

@keyframes loader {
0% {
    transform: rotate(0deg);
}

100% {
    transform: rotate(360deg);
}
}