// modal
.sb-modal{

  .ui.modal {
    margin: 0 auto;
    left: 0;
    right: 0;
    @include size(100%,auto); //bourbon
  
    .sb-modal-header {
      background-color: $primary-color;
      color: $white-color;
      font-weight: $font-weight-bold;
      font-size: $h6-font-size;
      padding: $block-padding-x-y;
      border-bottom: 0 solid $gray-100;
      @include size(auto,2.5rem); //bourbon
    }
  
    .sb-modal-content {
      min-height: 100px;
      padding: $block-padding-xy;
    }

    .sb-modal-actions {
      padding: $block-padding-x-y;
      background: $white-color;
      border-top: 1px solid $gray-100;
      text-align: right;
    }
  
    &>.close {
      color: $white-color;
      top: 10px;
      right: 0;
      font-size: $font-size-base;
      padding: 0;
      margin: 0;
    }

    .small {
      color: $text-lightDark;
    }
  
  
    &.small {
      max-width: 300px;
    }
  
    &.normal {
      max-width: 720px;
      .content {
        max-height: 380px;
      }
    }
  
    &.large {
      max-width: 100%;
      top: 0 !important;
  
      .content {
        height: calc(100vh - 100px);
      }
    }
  }
}

.modals.dimmer .ui.scrolling.modal {
  position: absolute!important;
  margin: 0!important;
}