.sb-search-box {
    display: flex;
    align-items: center;
    border: 1px solid $primary-300;
    border-radius: 3px;
    &.large {
      max-width: 492px;
    }
  
    &.medium {
      max-width: 392px;
    }
  
    &.small {
      max-width: 282px;
    }
  
    &:focus-within {
      box-shadow: 0px 0px 2px 1px $primary-300;
    }
  
    &.no-btn {
      .input-div {
        width: 100%;
      }
      .sb-search-input {
        border-radius: 3px;
        border: 0;
      }
      .sb-btn {
          display: none;
      }
    }
  
    &.disabled {
        opacity: 0.3;
        cursor: not-allowed;
        button, input, .icon {
            pointer-events: none;
        }
    }
  
    .input-div {
      width: 90%;
    }
  
    .sb-search-input {
      width: 100%;
      font-size: $font-size-sm;
      min-height: $base-block-space * 4;
      border: 0;
      border-right: 0.5px solid $primary-300;
      outline: 0;
      border-radius: 0px;
      padding: $base-block-space $base-block-space * 6 $base-block-space $base-block-space * 4;
      border-radius: 3px 0 0 3px;
    }
  
    .sb-btn {
      background: $primary-100;
      border: 0;
      width: $base-block-space * 9;
      border-radius: 0 3px 3px 0 !important;
      color: $blue;
      font-size: $font-size-sm;
      font-weight: bold;
      margin: 0 !important;
    }
  
    .icon {
      position: absolute;
      margin: 0;
      height: $base-block-space * 2;
      width: $base-block-space * 2;
      line-height: normal;
  
      &.search {
        top: $base-block-space;
        left: $base-block-space;
      }
  
      &.close {
        top: $base-block-space;
        right: $base-block-space;
        cursor: pointer;
        background: $blue;
        color: $white;
        border-radius: 50%;
        font-size: $font-size-sm;
        padding: 2px 0 0 1px;
      }
    }
  
    .sb-loader {
      position: absolute;
      top: $base-block-space;
      right: $base-block-space * 4;
      left: unset;
      transform: none;
      width: $base-block-space * 2;
      height: $base-block-space * 2;
  
      &:after {
        top: unset;
        left: unset;
        transform: none;
        width: $base-block-space * 2;
        height: $base-block-space * 2;
      }
    }
  }
