.sb-data-table-container {

    .ui.table {
      thead tr th {
        padding: 8px 16px 8px 32px;
        background-color: $white-color;
        border-bottom: 1px solid rgba(34, 36, 38, 0.1);
        background-repeat: no-repeat;
        background-position: center right;
        max-width: 176px;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 16px;
      }
    
      td {
        padding: 8px 16px 8px 32px;
        max-width: 176px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    
    .dataTables_wrapper {
      .dataTables_paginate .paginate_button {
        &.current {
          color: #333333;
          background: rgba(0, 0, 0, 0.05);
          border: 0.5px solid #979797;
    
          &:hover {
            color: #333333;
            background-color: rgba(0, 0, 0, 0.05);
            border: 0.5px solid #979797;
          }
        }
    
        border: 0.5px solid #979797;
        margin-left: -1px;
    
        &.disabled {
          border: 0.5px solid #979797;
          border: 0.5px solid #979797;
    
          &:hover,
          &:active {
            border: 0.5px solid #979797;
          }
        }
    
        &:hover {
          border: 0.5px solid #979797;
          background: rgba(0, 0, 0, 0.03);
          color: rgba(0, 0, 0, 0.95) !important;
        }
    
        &:active {
          box-shadow: unset;
        }
      }
    
      .dataTables_filter {
        float: left;
        text-align: left;
        position: relative;
        bottom: 40px;
        margin: 0 16px;
        height: 20px;
        input {
          height: 30px;
          width: 300px;
          border: 0.5px solid #979797;
          border-radius: 4px;
          background-color: #FFFFFF;
          padding: 0 32px 0 16px;
          background-image: url('https://png.icons8.com/search/96');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 96%;
          background-size: 16px;
        }
      }
      .dataTables_length label {
          display: none;
      }
    }
    
      table.dataTable.no-footer {
        border-bottom: 1px solid rgba(34,36,38,.15);
      }
    
    *[dir="rtl"] {
        .dataTables_wrapper .dataTables_filter {
            float: right;
            text-align: right;
        }
        .dataTables_filter input {
            padding: 0 16px 0 32px;
            background-position: 4%;
        }
        .ui.table {
            thead tr th {
                background-position: center left;
            }
        }
        .ui.celled.table tr td:first-child {
            border-left: 1px solid rgba(34,36,38,.1);
        }
        .ui.celled.table tr td:last-child {
            border-left: none;
        }
        .ui.celled.table tr th:first-child {
            border-left: 1px solid rgba(34,36,38,.1);
        }
        .ui.celled.table tr th:last-child {
            border-left: none;
        }
    }
    
}

