.ui {
  &.popup {
    background: $tooltip-bg;
    color: $tooltip-color;
    border: 1px solid $tooltip-bg;

    .content {
      font-size: $tooltip-content-font-size;
      color: $tooltip-content-color;
    }

    .header {
      font-size: $tooltip-header-font-size;
    }

    .arrow {
      background: $tooltip-bg;

    }
  }
}
