.sb-treePicker {
    display: flex;
    flex-wrap: wrap;

    .sb-treePicker-selectionSection {
        width: 424px;
        padding: 16px;
        border-width: 0 1px 0 0;
        border-style: solid;
        border-color: #ccc;

        .sb-search-box {
            max-width: 392px;
            width: 100%;

            .sb-search-input {
                border: 0.5px solid #7AB4EE;
            }
            
            .search {
                color: #aaa;
            }
        }
    }

    .sb-treePicker-selectedSection {
        width: calc(100% - 424px);
        padding: 16px;
        .list {
            .node {
                display: none;
                &.picked {
                    display: block;
                }
            }
        }
    }

    .count {
        color: #00C786;
    }

    .tree,
    .list {
        .node {
            margin: 0 0 8px 0;

            .head {
                display: flex;
                align-items: center;
            }

            .icon {
                margin: 0 8px 0 0;
            }

            .icon,
            .name {
                cursor: pointer;
                vertical-align: middle;
            }

            .add.icon:before,
            .minus.icon:before,
            .checkmark:before {
                font-size: 10px;
                line-height: 11px;
                border-radius: 4px;
                border: 1px solid ;
                height: 15px;
                width: 15px;
                padding: 1px 2px;
                color: $primary-200;
                border-color: $primary-200;
                display: inline-block;
            }

            .checkmark:before {
                color: $white-color;
                background: #00C786 !important;
                border-color: #00C786;
            }

            .square{
                vertical-align: middle;
                color: $primary-200;
                font-size: 15px;
            }

            .square,
            .minus,
            .checkmark {
                display: none;
            }

            &.opened>.head{

                .name {
                    color: #333;
                }

                .add {
                    display: none;
                }

                .minus {
                    display: inline-block;
                }
            }

            &.childless {
                .head {
                    .square {
                        display: inline-block;
                    }
                    .add {
                        display: none;
                    }
                }
                .content{
                    .add,
                    .minus {
                        display: none;
                    }
                }
            }

            &.picked {
                .checkmark {
                    display: inline-block;
                    height: 15px;
                    margin: 0 9px 0 0;
                }
                .head .square {
                    display: none;
                }
            }

            .name {
                color: #666666;
                cursor: pointer;
            }

            .content {
                display: none;
                border-left: 1px dotted #ccc;
                margin: 8px;
                padding: 8px;
            }

            .disabled {
                opacity: 0.3;
            }

            .search-query {
                background: $yellow;
            }
        }
    }
    .tree {
        .picked {
            .name {
                color: #00C786;
            }
        }
    }
}

@include respond-below(sm) {
    .sb-treePicker {
        .sb-treePicker-selectionSection {
            width: 100%;
            border-width: 0 0 1px 0;
        }
        .sb-treePicker-selectedSection {
            width: 100%;
        }
    }
}