<app-modal-wrapper
    [config]="{disableClose: true,size: 'normal', width: '45rem', panelClass: ['overflow-visible', 'material-modal']}"
    (dismiss)="showDownloadSuccessModal = false" #modal>
    <ng-template sbModalContent>

        <div mat-dialog-title class="mb-0">
            <h2 class="mb-0">{{resourceService.frmelmnts?.btn?.addEntity}}</h2>
            <button mat-mini-fab color="warn" class="ml-auto" aria-label="close dialog" (click)="closeModal()"
                mat-dialog-close><mat-icon>close</mat-icon></button>
        </div>
        <!-- This needs to be verified as 2 mat-dialog-content has been written -->
        <mat-dialog-content>
            <div class="sbt-search-box search-box">
                <div class="input-div relative" id="search-input-container">
                    <img src="assets/images/search-icon.svg" class="search icon" alt="Search Icon">
                    <input type="text" name="filter_search" class="sb-search-input" [(ngModel)]="searchQuery"
                        placeholder="{{resourceService?.frmelmnts.lbl.search}}" (ngModelChange)="searchEntity()" />
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-content>
            <div class="content search-results">
                <div *ngIf="entities?.length">
                    <div *ngFor="let entity of entities">
                        <div class="sb-checkbox sb-checkbox-secondary pt-24 ui checkbox">
                            <input value="{{entity._id}}" type="checkbox" id="{{entity._id}}"
                                [ngClass]="{'disabled-checkbox' :entity.isSelected}" (change)="selectEntity(entity)"
                                [disabled]="entity.isSelected"
                                [checked]="entity.selected || selectedEntities?.includes(entity._id)">
                            <label for="{{entity._id}}" class="text-left fsmall">{{entity.name}}</label>
                        </div>
                    </div>
                </div>
                <div class="w-100" *ngIf="showLoaderBox">
                    <app-loader [data]='loaderMessage'></app-loader>
                </div>
                <div class="w-100" *ngIf="!showLoaderBox && entities?.length === 0">
                    <app-no-result [data]="noResultMessage"></app-no-result>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="center">
            <button type="button" mat-raised-button class="button-rounded mr-8" type="submit"
                tabindex="0" (click)="closeModal()">
                {{resourceService.frmelmnts?.btn?.close}}
            </button>
            <div class="w-10"></div>
            <button type="button" mat-raised-button color="accent" class="button-rounded" type="submit"
                tabindex="0" (click)="submit()" [disabled]="selectedListCount == 0"
                [ngClass]="{'sb-btn-disabled' : selectedListCount == 0}">
                {{resourceService.frmelmnts?.btn?.submit}}
            </button>
        </mat-dialog-actions>
    </ng-template>
</app-modal-wrapper>