<div ng-controller="createContentCtrl">
    <script type="text/ng-template" id="saveMediaButtonGroup">
        <div class="ui big right floated button" tabindex="0" ng-click="closeEditor();">Skip</div>
        <div class="ui big right floated primary button" tabindex="0" ng-class="(content.file || content.url) ? '':'disabled'" ng-click="updateMediaContent(0)">Save</div>
        <div class="ui big right floated primary button" tabindex="0" ng-class="(content.file || content.url) ? '':'disabled'" ng-click="updateMediaContent(1)">Save &#38; Next</div>
    </script>
    <div ng-if="showContentEditor">
        <div class="meta-form" ng-if="formStep == 0;">
            <div class="ui segment">
                <div class="ui  grid">
                    <div class="ui twelve wide column">
                        <form class="ui big form">
                            <h1 class="ui dividing header" ng-if="!contentId">Create Content</h1>
                            <h1 class="ui dividing header" ng-if="contentId">Edit Content</h1>
                            <div class="field">
                                <label>Name
                                    <i class="ui tiny star red icon"></i>
                                </label>
                                <input type="text" name="name" placeholder="Name" ng-model="meta.name">
                            </div>
                            <div class="field">
                                <label>Description
                                    <i class="ui tiny star red icon"></i>
                                </label>
                                <textarea rows="2" ng-model="meta.description"></textarea>
                            </div>
                            <div class="field">
                                <label>Type<i class="ui tiny star red icon"></i></label>
                                <select class="ui dropdown" ng-model="meta.type" id="contenttype" ng-class="contentId ? 'disabled':''">
                                    <option value="application/vnd.ekstep.ecml-archive">ECML</option>
                                    <option value="application/vnd.ekstep.html-archive">HTML</option>
                                    <option value="video/youtube">Youtube</option>
                                    <option value="video/mp4">MP4</option>
                                    <option value="application/pdf">PDF</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>
                                    Icon
                                </label>
                                <div class="ui basic massive icon button" ng-click="openImageBrowser()" ng-if="!iconImage">
                                    <i class="ui image icon"></i>
                                </div>
                                <input type="file" accept="image/x-png,image/gif,image/jpeg" style="display: none;" id="iconImageInput" onchange="angular.element(this).scope().updateIcon(this.files);" required="" />
                                <img ng-if="iconImage" class="ui small link image height-150" ng-src="{{iconImage}}" id="image" alt="icon" ng-click="openImageBrowser()" tabindex="3">
                            </div>
                            <div class="ui big right floated button" tabindex="0" ng-click="closeEditor();">Skip</div>
                            <div class="ui big right floated primary button" tabindex="0" ng-class="
                    !(meta.name && meta.description) ? 'disabled':''" ng-click="saveMetaContent(0)">Save</div>
                            <div class="ui big right floated primary button" tabindex="0" ng-class="
                    !(meta.name && meta.description) ? 'disabled':''" ng-click="saveMetaContent(1)">Save &#38; Next</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-form" ng-if="formStep == 1;">
            <h1 class="ui dividing header">Edit Content</h1>
            <div class="ui huge segment">
                <div class="ui grid">
                    <div class="ui twelve wide column">
                        <div ng-switch on="meta.type">
                            <div ng-switch-when="application/vnd.ekstep.ecml-archive">
                                <iframe ng-if="ekURL" ng-src="{{ekURL}}" style="width: 100%; height: 700px;"></iframe>
                                <form class="ui form big">
                                    <div class="field">
                                        <div class="ui big right floated button" tabindex="0" ng-click="closeEditor();">Skip</div>
                                        <div class="ui big right floated primary button" tabindex="0" ng-click="showContentFinalView()">Next</div>
                                    </div>
                                </form>
                            </div>
                            <div ng-switch-when="html">
                                <iframe ng-if="ekURL" ng-src="{{ekURL}}" style="width: 100%; height: 700px;"></iframe>
                                <form class="ui form big">
                                    <div class="field">
                                        <div class="ui big right floated button" tabindex="0" ng-click="closeEditor();">Skip</div>
                                        <div class="ui big right floated primary button" tabindex="0" ng-click="showContentFinalView()">Next</div>
                                    </div>
                                </form>
                            </div>
                            <div ng-switch-when="video/youtube">
                                <form class="ui big form">
                                    <div class="field">
                                        <label>Youtube Url</label>
                                        <input type="url" placeholder="Enter Url" ng-model="content.url" />
                                    </div>
                                    <div class="field">
                                        <div ng-include src="'saveMediaButtonGroup'" include-replace></div>
                                    </div>
                                </form>
                            </div>
                            <div ng-switch-when="video/mp4">
                                <form class="ui big form">
                                    <div class="field">
                                        <label>Video Url</label>
                                        <input type="url" placeholder="Enter Url" ng-model="content.url" ng-disabled="content.file" />
                                    </div>
                                    <h4 class="ui horizontal divider header">OR</h4>
                                    <div class="field">
                                        <label>Video File</label>
                                        <input type="file" accept="video/mp4" fileread="content.file" ng-disabled="content.url" />
                                    </div>
                                    <div class="field">
                                        <div ng-include src="'saveMediaButtonGroup'" include-replace></div>
                                    </div>
                                </form>
                            </div>
                            <div ng-switch-when="application/pdf">
                                <form class="ui big form">
                                    <div class="field">
                                        <label>PDF Url</label>
                                        <input type="url" placeholder="Enter Url" ng-model="content.url" ng-disabled="content.file" />
                                    </div>
                                    <h4 class="ui horizontal divider header">OR</h4>
                                    <div class="field">
                                        <label>PDF File</label>
                                        <input type="file" accept="application/pdf" ng-disabled="content.url" fileread="content.file" />
                                    </div>
                                    <div class="field">
                                        <div ng-include src="'saveMediaButtonGroup'" include-replace></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-form" ng-if="formStep == 2;">
            <h1 class="ui dividing header">Preview Content</h1>
            <content-player visibility="contentPlayer.isContentPlayerEnabled" id="contentPlayer.contentId" isshowmetaview="true"></content-player>

            <div class="ui big right floated button" tabindex="0" ng-click="closeEditor();">Skip</div>
            <div class="ui big right floated primary button" tabindex="0" ng-click="publishContent();">Publish</div>
            <div class="ui big right floated primary button" tabindex="0" ng-click="reviewContent();">Send for Review</div>

        </div>
    </div>
    <div class="ui dimmer inverted" ng-class="showDimmer ? 'active':''">
        <div class="content">
            <span ng-if="showMetaLoader">
                                <div class="ui text loader">
                                    <div class="ui mini header" ng-if="message">{{message}}</div>
                                </div>
                            </span>
            <div class="center">
                <h2 class="ui header {{messageClass}}" ng-if="!showMetaLoader">
                                  {{message}}
                                </h2>
            </div>
        </div>
    </div>
</div>
