
    <div class="ui one column stackable center aligned page grid">
        
        <div class="ui column twelve wide stacked segment">
            <div class="ui fluid icon input">
                <input type="text" id="keyword" name="filter_search" ng-model="content.keyword" placeholder="Search for keyword" value="" title="Search" autocomplete="off" spellcheck="false" dir="auto" />
                <i class="circular search link icon" ng-click="content.searchContent()"></i>
            </div>
        </div>
    </div>

