<div class="ui segment">
    <div class="ui category search">
        <div class="ui fluid icon input" id="search-input-container">
            <input type="text" id="keyword" name="filter_search" ng-model="content.keyword"  ng-change="content.searchContent('$event')"
                  ng-keypress="($event.which === 13)?content.searchContent():0"  ng-model-options="{debounce: 1000}" placeholder="Search for keyword"  title="Search" autocomplete="off" spellcheck="false" dir="auto" />
            <i class="circular search link icon"  ng-click="content.searchContent()"></i>
        </div>
        <div id="search-suggestions" ng-if="content.autosuggest_data.content.length > 0" class="ui fluid results transition visible" style="display: block !important;">
            <div >
                <a class="result" ng-repeat="item in content.autosuggest_data.content" ng-click='content.setSearchText(item.name)'><div class="content"><div class="title">{{item.name}}</div></div></a>
            </div>
        </div>
    </div>
    <div ng-include="'views/content/searchFilters.html'"></div>
</div>
