<div class="ui fluid container">
    <div ng-include="'views/content/createContent.html'"></div>
    <div ng-if="!hideUserContent">
        <div class="ui grid">
            <div class="ui eight wide column left floated">
                <h1 class="ui header">Contents</h1>
            </div>
            <div class="ui four wide column right floated right aligned">
                <div class="ui circular basic black icon button" ng-click="editContent();">
                    <i class="ui add icon large black link"></i>
                </div>
            </div>
        </div>
        <div class="ui clearing divider" ng-if="publishedContent.length"></div>
        <h3 class="ui header" ng-if="publishedContent.length">Published Contents</h3>
        <div class="ui cards">
            <div class="ui link raised card" ng-include="'views/content/contentCard.html'" ng-repeat="item in publishedContent track by $index" ng-init="$last && loadRating()">
            </div>
        </div>
        <div class="ui clearing divider" ng-if="draftContent.length"></div>
        <h3 class="ui header" ng-if="draftContent.length">Draft Contents</h3>
        <div class="ui cards">
            <div class="ui link raised card" ng-click="editContent(item);" ng-include="'views/content/contentCard.html'" ng-repeat="item in draftContent track by $index" ng-init="$last && loadRating()">
            </div>
        </div>
    </div>
</div>
