@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.group-name {
  font-family: Noto Sans Regular;
  line-height: 1.5rem;
  color: var(--primary-color);
  font-size: 1.25rem;
}

::ng-deep {
  .sb-table-responsive-div {
    width: 100%;
    overflow-x: auto;
  }

  .ngx-datatable {
    display: block;
    width: 100%;
    white-space: nowrap;
    background: var(--white);
    border: calculateRem(1px) solid var(--rc-dddddd);
    box-shadow: 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.06);
    font-size: 0.95rem;
  }

  .ngx-datatable .datatable-header-cell {
    padding: 0.5rem;
    text-align: left;
    font-weight: 600;
    background: var(--white);
    position: relative;
    width: 1.0rem
  }

  .ngx-datatable .datatable-header-cell .datatable-header-cell-label {
    padding-left: 1.5rem !important;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ngx-datatable .datatable-header-cell.sortable .sort-btn {
    background-image: url(../../../../../assets/images/sort.svg);
    background-repeat: no-repeat !important;
    background-size: 1.2rem 0.9rem;
    width: 1.0rem;
    height: 1rem;
    position: absolute;
    left: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
  }


  .ngx-datatable .datatable-body-cell {
    padding: 0.5rem 0.5rem !important;
    border-top: none !important;
    font-size: 0.9rem;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


  }

  .ngx-datatable .datatable-body-row:nth-child(odd) {
    background-color: var(--gray-0);
  }

  .ngx-datatable .datatable-body {
    margin-right: calculateRem(6px);

    &:hover {
      background-color: var(--white);
    }
  }

  @media (max-width: 720px) {
    .ngx-datatable .datatable-header-cell .datatable-header-cell-label {
      padding-left: 1.6rem !important;
      font-size: 0.9rem;
    }

    .ngx-datatable .datatable-body-cell {
      padding: 0.4rem 0.6rem !important;
      font-size: 0.82rem;
    }
  }
}

.datatable-update {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;

  .last-update-label {
    font-size: 0.87rem;
    color: var(--gray-300);
    margin-bottom: 0;
  }

  .download-csv {
    color: var(--primary-color);
    font-size: 0.87rem;
    font-weight: bold;
    border: none;
    background: transparent;
    outline: none !important;
    cursor: pointer;

    .download-icon {
      margin: 0 0.5rem;
      width: 1rem;
      height: 1rem;
    }
  }
}