<sb-dashlet [type]="'table'" [data]="DashletRowData" [config]="columnConfig" #lib>
  <ng-template sbTemplateRef="header" let-config>
    <div role="alert" class="datatable-update">
      <div *ngIf="lastUpdatedOn">
        <label class="last-update-label px-8">
          {{ resourceService?.frmelmnts?.lbl?.lastupdate}} : {{lastUpdatedOn | date:'MMM d, y, h:mm a'}}
        </label>
      </div>
      <button class="download-csv" (click)="downloadCSV($event)">
        {{ resourceService?.frmelmnts?.lbl?.downloadAsCSV }}<img src="assets/images/download-icon.svg"
          class="download-icon"></button>
    </div>
  </ng-template>
</sb-dashlet>