@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

.group-name {
  font-family: Noto Sans Regular;
  line-height: 1.5rem;
  color: var(--primary-color);
  font-size: 1.25rem;
}

::ng-deep {

  .ngx-datatable.material {
    // Adapter for: table.dataTable.no-footer
    box-shadow: 0.375rem 0.375rem 0.125rem 0 rgb(0 0 0 / 10%);
    border: calculateRem(1px) solid var(--rc-dddddd);
    background: var(--white);
    font-size: .875rem;
    border-radius: 1.5rem;
    // overflow: hidden;
    width: 100%;
    display: block;

    .datatable-header {
      border-bottom: 0px !important;

      .datatable-header-cell {
        text-align: left;
        background: var(--white);
        font-weight: bold;
        border-bottom: none !important;

        .datatable-header-cell-template-wrap {
          display: flex;
          align-items: center;
          width: 100%;

          .datatable-header-cell-label {
            order: 2;
          }

          .sort-btn {
            order: 1;
            margin-right: calculateRem(8px);
            margin-left: 0;
            background-image: url(../../../../../assets/images/sort.svg) !important;
            background-size: 1.5rem 1rem;
            background-repeat: no-repeat !important;
            background-position: center !important;
            width: 1.5rem !important;
            height: 1rem !important;
            flex-shrink: 0;
            display: inline-block !important; // Ensure it behaves like a block for dimensions
          }
        }
      }
    }

    // Body Styles
    .datatable-body {

      .datatable-body-row {
        &.datatable-row-even {
          background-color: var(--gray-0) !important;
        }

        .datatable-body-cell {
          text-align: left;
          padding: 0.5rem 1.5rem !important;
          border-top: none !important;

          display: flex;
          align-items: center;
          justify-content: flex-start;

        }
      }
    }

    .datatable-footer {
      border-top: none;
    }
  }
}

.datatable-update {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0rem;

  .last-update-label {
    font-size: 0.87rem;
    color: var(--gray-300);
    margin-bottom: 0;
  }

  .download-csv {
    color: var(--primary-color);
    font-size: 0.87rem;
    font-weight: bold;
    border: none;
    background: transparent;
    outline: none !important;
    cursor: pointer;

    .download-icon {
      margin: 0 0.5rem;
      width: 1rem;
      height: 1rem;
    }
  }
}