<div class="dashboard-datatable">
  <div class="datatable-update">
    <div *ngIf="lastUpdatedOn">
      <label class="last-update-label px-8"> {{ resourceService?.frmelmnts?.lbl?.lastupdate }} : {{ lastUpdatedOn |
        date:'MMM d, y, h:mm a' }}
      </label>
    </div>
    <button class="download-csv" (click)="downloadCSV()">
      {{ resourceService?.frmelmnts?.lbl?.downloadAsCSV }}
      <img src="assets/images/download-icon.svg" class="download-icon">
    </button>
  </div>

  <div class="sb-table-responsive-div">
    <ngx-datatable class="material1 striped" [rows]="rows" [columns]="ngxColumns" [columnMode]="'force'"
      [scrollbarV]="false" [scrollbarH]="false">
    </ngx-datatable>
  </div>

</div>