// Base
//
//Base contains fonts, variables etc .
//
// Weight: -1
//
// Style guide: Base
@import 'base/fonts.less';

// Reuseable
//
// Reusable components that can be used across the site.
//
// Style guide: Reuseable
@import 'reuseable/reUseable.less';

// Modules
//
// Covers styles used for card, header, etc.
//
//
// Style guide: Modules
@import 'modules/header.less';



/*use percentage for images*/
/*use em for fonts*/
/*12 column grid is used instead of 16 column*/
/*pixel to em conversition*/

/*
1 px    0.0625 em
2 px    0.125 em
3 px    0.1875 em
4 px    0.25 em
5 px    0.3125 em
6 px    0.375 em
7 px    0.4375 em
8 px    0.5 em
9 px    0.5625 em
10 px   0.625 em
11 px   0.6875 em
12 px   0.75 em
13 px   0.8125 em
14 px   0.875 em
15 px   0.9375 em
16 px   1 em
17 px   1.0625 em
18 px   1.125 em
19 px   1.1875 em
20 px   1.25 em
21 px   1.313em
22 px   1.375em
23 px   1.438em
24 px   1.500em
25 px   1.5625 em
30 px   1.875 em
40 px   2.5 em
50 px   3.125 em

*/

// ----------------------------------------------------------------------
  // Base
// ---

@import 'base/normalize';
@import 'base/fonts';
@import 'base/variables';



// ----------------------------------------------------------------------
  // Modules
// ----------------------------------------------------------------------

@import 'modules/header';
@import 'modules/card';
@import 'modules/contentplayer';
@import 'modules/slickerSearch';
@import 'modules/profilePic.less';
@import 'modules/flagModal.less';
@import 'modules/overrideModal.less';
@import 'modules/error.less';
@import 'modules/profileCardImg';
@import 'modules/profileUpdateCard';
@import 'modules/logo';
@import 'modules/announcementCard';
@import 'modules/geo';
@import 'modules/upForReviewTable';
@import 'modules/fileUploader';


// ----------------------------------------------------------------------
  // views
// ----------------------------------------------------------------------

@import 'views/courseStructure';
@import 'views/learn';
@import 'views/toc';
@import 'views/home';
@import 'views/landingPage';
@import 'views/searchResult';
@import 'views/filter';
@import 'views/resource';
@import 'views/courses';
@import 'views/profileHeader';
@import 'views/profileView';
@import 'views/workspace';
@import 'views/note';
@import 'views/searchUser';
@import 'views/batches';
@import 'views/adminDashboard';
@import 'views/courseDashboard';
@import 'views/semanticClassOverride';
@import 'views/createAnnouncement';

// ----------------------------------------------------------------------
  // reUseable
// ----------------------------------------------------------------------

@import 'reuseable/reUseable';


body {
    position: relative;    
    background: @secondary-color; 

}

html {
    height: 100%;
}
























