.announcementBlueText {
  color: #0076FE;
}

.announcementRedText {
  color: #fc002e;
}

.announcementCustomside {
  min-width: 0em !important;
  height: 4em !important;
  padding: 1em !important;
}

.announcementCardLeftBorder {
    border-radius: 10px !important; 
    border-left-color: #007AFF !important;
    border-left-width: 11px !important;
}

.announcement-description{
    font-family: 'sunbirdregularfont' !important;
    font-size: 1em !important;
    color: #8b8b8c !important;
}

.showingAllSentAnn {      color: #4A4A4A ;    font-family: "Open Sans";    font-size: 17px;    line-height: 19px;};

.announcementHeading {color: #9b9b9b  !important;    font-family: "Open Sans" !important;    font-size: 16px !important;    line-height: 19px !important;}

.tableListNameAnn {color: #4A4A4A ;    font-family: "Open Sans";    font-size: 16px;    line-height: 19px;}

.announcementDataText {color: #4A4A4A ;    font-family: "Open Sans";    font-size: 17px;    line-height: 19px;}

.announcementButton {border: 1px solid #007aff !important; border-radius: 4px !important;}

.announcementButtonText {color: #007AFF !important; font-family: 'sunbirdboldfont' !important; font-size: 1em !important; line-height: 17px;}

.announcementSeeAllBtn { padding:8px;}

.annMarginBottom {    margin-bottom: -1.2em !important;}

.annAttText { color: #4a4a4a !important;  padding: -7px !important; font-size: 0.9em !important; }

.annMediumText { font-size: 1em !important;    font-weight: 600 !important;    font-family: sunbirdmediumfont !important;}

.annSmallText { font-size: 0.8em !important;}

.annGridPadding { padding: 0.9em !important;}

.gray-full-width{
  background-color: #F5F5F5;
  padding: 15px 20px;
  margin: 10px -20px;
}
.box{
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}
.ui.modal .ui.input input.gray-background{
  background-color: #F5F5F5 !important;
  box-shadow: 1 1px 2px 0 rgba(34,36,38,.15) !important;
  border: 1px solid #EEE!important;
  border-radius: 0!important;
  padding: 10px !important;
}
.margin-bottom-0{
  margin-bottom: -25px !important;
}
.width-100{
  width:100%;
}
.borderBottom {
	border-bottom: 1px solid #CCCCCC !important;
	padding-bottom: 15px !important;
}
.borderBottom:last-child {
	border-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.announcementDetailsModal{
  margin-top: -260px !important;
}

.annDetailsFormScroller{
    max-height: 80vh; 
    overflow-y: auto;
}
