.announcementBlueText {
  color: #0076FE;
}

.announcementRedText {
  color: #fc002e;
}

.announcementCustomside {
  min-width: 0em !important;
  height: 7em !important;
}

.announcementCardLeftBorder {
    border-radius: 10px !important; 
    border-left-color: #007AFF !important;
    border-left-width: 11px !important;
}