name: Docker Build and Push Image

on:
  push:
    branches:
      - '*'

jobs:
  image-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Run build script
        run: |
          chmod +x build.sh
          ./build.sh ${{ github.ref_name }}_$(echo $GITHUB_SHA | cut -c1-7) true false
          echo "Build completed successfully."

      - name: Determine registry and login
        run: |
            IMAGE_TAG="${{ github.ref_name }}_$(echo $GITHUB_SHA | cut -c1-7)"

            if [[ -n "${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}" ]]; then
            echo "Using Google Container Registry"
            echo "${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}" | base64 --decode > $HOME/gcloud-key.json
            gcloud auth activate-service-account --key-file=$HOME/gcloud-key.json
            gcloud auth configure-docker ${{ secrets.REGISTRY_NAME }}
            REGISTRY_URL="${{ secrets.REGISTRY_NAME }}/sunbird-morocco-sandbox-434709/sunbird-morocco-artifact-dev"

            elif [[ -n "${{ secrets.REGISTRY_USERNAME }}" || -n "${{ secrets.REGISTRY_PASSWORD }}" ]]; then
            if [[ -z "${{ secrets.REGISTRY_USERNAME }}" || -z "${{ secrets.REGISTRY_PASSWORD }}" ]]; then
                echo "Error: Incomplete Docker/ACR credentials provided."
                exit 1
            fi

            echo "Logging in to custom registry: ${{ secrets.REGISTRY_NAME }}"
            echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login ${{ secrets.REGISTRY_NAME }} \
                --username ${{ secrets.REGISTRY_USERNAME }} --password-stdin || {
                echo "Docker login failed. Check your credentials."
                exit 1
            }

            if [[ "${{ secrets.REGISTRY_NAME }}" == *"azurecr.io" ]]; then
               REGISTRY_URL="${{ secrets.REGISTRY_NAME }}"
            elif [[ "${{ secrets.REGISTRY_NAME }}" == "docker.io" || "${{ secrets.REGISTRY_NAME }}" == *"docker.com" ]]; then
               REGISTRY_URL="docker.io/${{ secrets.REGISTRY_USERNAME }}"
            else
               echo "Not defined registry type, using the provided registry name."
            fi

            else
            echo "No external registry configured, using GitHub Container Registry (GHCR)"
            echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin || {
                echo "GitHub Container Registry login failed."
                exit 1
            }
            REGISTRY_URL="ghcr.io/${{ github.repository_owner }}"
            fi

            echo "REGISTRY_URL=${REGISTRY_URL}" >> $GITHUB_ENV
            echo "IMAGE_TAG=${IMAGE_TAG}" >> $GITHUB_ENV

      - name: Push Docker image
        run: |
          IMAGE_TAG="${{ github.ref_name }}_$(echo $GITHUB_SHA | cut -c1-7)"
          docker tag player:$IMAGE_TAG $REGISTRY_URL/player:$IMAGE_TAG
          docker push $REGISTRY_URL/player:$IMAGE_TAG