<div type="text/template" id="qq-template-manual-trigger" [hidden]="true">
  <div class="qq-uploader-selector qq-uploader padding-bottom-5 margin-top-10"
    qq-drop-area-text="">
    <div id="hide-section-with-button">
      <ul class="qq-upload-list-selector qq-upload-list ann-fileupload-list" aria-live="polite"
        aria-relevant="additions removals">
        <li class="qq-file-id-0 qq-upload-retryable w3-container w3-border w3-round-xlarge" qq-file-id="0">
          <i class="qq-upload-cancel-selector cursor-pointer remove icon right-float" id="qq-upload-cancel-manually" onclick=cancelUploadFile()></i>
          <span class="qq-upload-file-selector qq-upload-file" title=""></span>
          <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
        </li>
      </ul>
      <div class="qq-upload-drop-area-selector qq-upload-drop-area uploadicon twelve wide column" qq-hide-dropzone>
        <span class="qq-upload-drop-area-text-selector"></span>
      </div>
      <div class="ui grid">
        <div class="twelve wide column text-align-center">
          <p class="ann-fileupload-meta-data">
            <span class="description">Drop relevant attachment here </span>
            <br>
            <span class="ann-fileupload-extra"> (Format: .pdf, .png, .jpg. File Limit: 1MB)</span>
          </p>
        </div>
      </div>
      <p class="ann-fileupload-or-text">or</p>
      <div class="ui grid">
        <div class="twelve wide center aligned column">
          <label class="qq-upload-button-selector ui primary basic button ann-upload-attachment">
             <span class="ann-upload-attachment-text">UPLOAD ATTACHMENT</span>
            <input qq-button-id="abe6b3ad-947a-4bae-bd34-f51ab331a6bc" title="UPLOAD ATTACHMENT" multiple="" type="file" name="qqfile"
              class="ann-fileupload-input-field">
          </label>
        </div>
        <div class="one wide column"></div>
      </div>
    </div>
    <dialog class="qq-alert-dialog-selector">
      <div class="qq-dialog-message-selector"></div>
      <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">Close</button>
      </div>
    </dialog>
    <dialog class="qq-confirm-dialog-selector">
      <div class="qq-dialog-message-selector"></div>
      <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">No</button>
        <button type="button" class="qq-ok-button-selector">Yes</button>
      </div>
    </dialog>
    <dialog class="qq-prompt-dialog-selector">
      <div class="qq-dialog-message-selector"></div>
      <input type="text">
      <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">Cancel</button>
        <button type="button" class="qq-ok-button-selector">Ok</button>
      </div>
    </dialog>
  </div>
</div>