@import "variables";
@import "mixins/mixins";
.content-header {
  background: var(--rc-FAFAFA);
  min-height: calculateRem(14px);
    &__content{
        display:flex;
        align-items: center;
        justify-content: space-between;
        @include respond-below(sm) {
          display: block;
        }
    }
    &__title {
        color: var(--primary-400);
        font-size: calculateRem(18px);
    }
    
    &__info {
        color: var(--gray-800);
        font-size: calculateRem(14px);
    }
    
    .dot-divider {
        width: ($base-block-space / 2);
        height: ($base-block-space / 2);
        border-radius: 100%;
        background-color: var(--gray-800);
        display: inline-block;
        margin: 0px $base-block-space;
    }
  
  @include respond-below(sm) {
    &__buttons {
      margin-top: calculateRem(8px);
    }
  }
}

:host {

  @include respond-below(sm) {
    .ui.container.sb-toc-view-container {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  }

  .main-side-toc-content {
    overflow-y: auto;
    // max-height: calc(100vh - 265px);
    // height: auto;

    @include respond-below(sm) {
      height: auto;
      max-height: 100%;
    }
  }
}


@media screen and (min-width: 240px) and (max-width: 767px) {
  .toggleInMobile {
    display: none;
  }
}

::ng-deep {
  .sb-toc-items {
    sb-accordion {
      .sbaccordion__panel-content {
        overflow: inherit;
        max-height: 100%;
        border-top: 0px;
        background-color: var(--white);
      }
    }
  }
}
