@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;


:host {

  @include respond-below(sm) {
    .ui.container.sb-toc-view-container {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  }

  .main-side-toc-content {
    overflow-y: auto;
    @include respond-below(sm) {
      height: auto;
      max-height: 100%;
    }
  }
}


@media screen and (min-width: 240px) and (max-width: 767px) {
  .toggleInMobile {
    display: none;
  }
}

::ng-deep {
  .sb-toc-items {
    sb-accordion {
      .sbaccordion__panel-content {
        overflow: inherit;
        max-height: 100%;
        border-top: 0px;
        background-color: var(--white);
      }
    }
  }
  .main-side-toc-content{
    sb-toc-item{
      .sb-card-swap{
        flex-direction: unset;
      }
    }
  }
}

.toolbar-backbtn {
  @include respond-below(sm) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .course-header {
    display: flex;
    align-items: center;
    width: 100%;
  
    &__info {
      display: flex;
      align-items: center;
    }
    &__content {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: calc(100% - 3.5rem);
      margin-left: 1rem;
      // @include respond-below(sm) {
      //   flex-direction: column;
      // }
    }
    &__metadata {
      flex: 1;
      min-width: 0;

      @include respond-below(sm) {
        flex: auto;
        // width: 70%;
        // text-align: left;
        // display: flex;
        // flex-wrap: wrap;
        // align-items: flex-end;
        // margin-right: auto;
      }
    }
    &__title, &__sub-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__actions {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      // white-space: nowrap;
      // margin-left: auto;

      @include respond-below(sm) {
        // margin: 0;
        // width: 100%;
        margin-top: .5rem;
      }
    }
  
  }
}



