<app-modal-wrapper *ngIf="showCreateModal"
  [config]="{disableClose: true, size: 'normal', panelClass: ['overflow-visible', 'material-modal']}" (dismiss)="redirect()"
  #createBatchModel>
  <ng-template sbModalContent>
    <div class="sb-mat__modal">

      <!--Header-->
      <div mat-dialog-title class="mb-0">
        <div class="title">
          {{resourceService?.frmelmnts.lbl.createnewbatch}}
        </div>
        <button aria-label="close dialog" mat-dialog-close class="close-btn"></button>
      </div>
      <!--/Header-->

      <!--Content-->
      <div class="sb-mat__modal__content" [appTelemetryImpression]="telemetryImpression">
        <form [formGroup]="createBatchForm" class="sb-form batchAddUserForm pt-8 px-8">
          <div class="sb-color-primary font-weight-bold pb-24">Batch Details</div>
          <div class="ui stackable grid">
            <div class="eight wide column">
              <div class="sb-field-group"
                [ngClass]="createBatchForm.controls['name'].invalid && createBatchForm.controls['name'].errors.required && !createBatchForm.controls['name'].pristine ? 'error': ''">
                <label class="required">{{resourceService?.frmelmnts?.lbl?.batchname}}</label>
                <div class="sb-field">
                  <input type="text" name="name" formControlName="name" class="sb-form-control" autofocus>
                </div>
                <div class="mt-0 mb-8 ui pointing red basic label below"
                  *ngIf="createBatchForm.controls.name.invalid && createBatchForm.controls['name'].errors.required && !createBatchForm.controls['name'].pristine">
                  {{resourceService?.messages?.stmsg?.m0114}}
                </div>
              </div>
            </div>
            <div class="sb-field-group">
              <div class="four wide column">
                <div>
                  <label class="required">{{resourceService?.frmelmnts?.cert?.lbl?.issueCertificate}}</label>
                  <div class="d-flex py-8 flex-w-wrap">
                    <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
                      <input (change)="handleInputChange('issue-certificate-yes', undefined)"
                        formControlName="issueCertificate" value="yes" type="radio" id="yes">
                      <label for="yes">{{resourceService?.frmelmnts?.btn?.yes}}</label>
                    </div>
                    <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
                      <input (change)="handleInputChange('issue-certificate-no', undefined)"
                        formControlName="issueCertificate" value="no" type="radio" id="no">
                      <label for="no">{{resourceService?.frmelmnts?.btn?.no}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="ui stackable grid mt-0">
            <div class="eight wide column">
              <div class="sb-field-group">
                <div class="sb-field">
                  <label>{{resourceService?.frmelmnts?.lbl?.aboutbatch}}</label>
                  <textarea rows="4" name="description" formControlName="description"
                    class="sb-form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div *ngIf="showDiscussionForum === 'Yes'">
                <label>{{resourceService?.frmelmnts?.lbl?.enableDiscussions}}</label>
                <div class="d-flex py-8 flex-w-wrap">
                  <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
                    <input formControlName="enableDiscussions" type="radio" id="true" value="true">
                    <label for="true">{{resourceService?.frmelmnts?.btn?.yes}}</label>
                  </div>
                  <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
                    <input formControlName="enableDiscussions" type="radio" id="false" value="false">
                    <label for="false">{{resourceService?.frmelmnts?.btn?.no}}</label>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-dc flex-w-wrap" *ngIf="courseCreator">
                <div class="mr-8">
                  <label for="Enrollment Type">{{resourceService?.frmelmnts?.lbl?.natureofbatch}}</label>
                </div>
                <div class="sb-radio-btn-checkbox sb-radio-btn-primary py-8">
                  <input id="create-open" type="radio" value='open' name="enrollmentType"
                    formControlName="enrollmentType">
                  <label for="create-open">{{resourceService?.frmelmnts?.lbl?.open}}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex flex-w-wrap my-16">
            <div class="sb-field-group pr-8"
              [ngClass]="createBatchForm.controls['startDate'].invalid && createBatchForm.controls['startDate'].errors.required && !createBatchForm.controls['startDate'].pristine ? 'error': ''">
              <label class="required">{{resourceService?.frmelmnts?.lbl?.startdate}}</label>
              <div class="ui read-only calendar rangestartAdd" id="rangestartAdd">
                <mat-form-field appearance="fill" class="sb-mat__datepicker">
                  <input matInput [matDatepicker]="startPicker" formControlName="startDate" [min]="pickerMinDate">
                  <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                  <mat-datepicker #startPicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="mt-0 mb-8 ui pointing red basic label below"
                *ngIf="createBatchForm.controls.startDate.invalid && createBatchForm.controls['startDate'].errors.required && !createBatchForm.controls['startDate'].pristine">
                {{resourceService?.messages?.stmsg?.m0113}}
              </div>
            </div>
            <div class="sb-field-group">
              <label>{{resourceService?.frmelmnts?.lbl?.enddate}}</label>
              <div apply-script class="ui calendar rangeendAdd" id="rangeendAdd">
                <mat-form-field appearance="fill" class="sb-mat__datepicker">
                  <input matInput [matDatepicker]="endDatePicker" formControlName="endDate"
                    [min]="getPickerMinDateForEndDate()">
                  <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #endDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="sb-field-group pl-8" *ngIf="createBatchForm.value.enrollmentType === 'open'"
              [ngClass]="(createBatchForm.controls['enrollmentEndDate'].invalid && !createBatchForm.controls['enrollmentEndDate'].pristine) ? 'error': ''">
              <label>{{resourceService?.frmelmnts?.lbl?.enrollmentenddate | uppercase}}</label>
              <div class="ui read-only calendar rangeenrollMentEnd" id="rangeenrollMentEnd">
                <mat-form-field appearance="fill" class="sb-mat__datepicker" [ngClass]="{'disabled': !createBatchForm.value.startDate}"
                  (click)="setTelemetryCData([{id:'course:enrollment:endDate',type:'Feature'},{id:'SB-13073',type:'Task'}])">
                  <input matInput [matDatepicker]="enrollmentEndDatePicker" formControlName="enrollmentEndDate"
                    [min]="createBatchForm.value.startDate" [max]="createBatchForm.value.endDate">
                  <mat-datepicker-toggle matSuffix [for]="enrollmentEndDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #enrollmentEndDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="mt-0 mb-8 ui pointing red basic label below"
                *ngIf="createBatchForm.controls['enrollmentEndDate'].invalid && !createBatchForm.controls['enrollmentEndDate'].pristine? 'error': ''">
                {{resourceService?.messages?.stmsg?.m0135}}
              </div>
            </div>
          </div>
          <div class="sb-field-group mb-8">
            <label>{{resourceService?.frmelmnts?.lbl?.batchmentors}}</label>
            <mat-form-field appearance="fill" class="sb-mat__dropdown w-100 mb-16">
              <mat-select formControlName="mentors" role="listbox" multiple aria-label="mentor list"
                class="selection" (selectionChange)="selectedMultiValues($event, 'mentors')">
                <mat-select-trigger>
                  <span>{{selectedMentorList ? selectedMentorList[0] : ''}} </span>
                  <span *ngIf="selectedMentorList?.length >= 2" class="example-additional-selection">
                    (+{{selectedMentorList.length - 1}} {{selectedMentorList?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option class="mat-dropdown__options" role="option" *ngFor="let mentor of mentorList" [value]="mentor.id"
                attr.aria-label="{{mentor.name}}">
                  <img class="ui mini avatar image"
                      src="{{mentor.avatar || 'assets/images/user_logo.png' | cdnprefixurl}}" alt="avatar image">
                  {{mentor.name}}{{mentor.otherDetail}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="sb-field-group " *ngIf="createBatchForm.value.enrollmentType !== 'open'">
            <label>{{resourceService?.frmelmnts?.lbl?.bacthmembers}}</label>
            <mat-form-field appearance="fill" class="sb-mat__dropdown w-100 mb-16">
              <mat-select formControlName="users" role="listbox" multiple aria-label="participant list"
                class="selection" (selectionChange)="selectedMultiValues($event, 'participant')">
                <mat-select-trigger>
                  <span>{{selectedParticipantList ? selectedParticipantList[0] : ''}} </span>
                  <span *ngIf="selectedParticipantList?.length >= 2" class="example-additional-selection">
                    (+{{selectedParticipantList.length - 1}} {{selectedParticipantList?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option class="mat-dropdown__options" role="option" *ngFor="let participant of participantList" [value]="participant.id"
                attr.aria-label="{{participant.name}}">
                  <img class="ui mini avatar image"
                      src="{{mentor.avatar || 'assets/images/user_logo.png' | cdnprefixurl}}" alt="avatar image">
                  {{participant.name}}{{participant.otherDetail}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <div class="createbatchdropdown ui fluid multiple search selection dropdown" id="participants">
              <input id="userSelList">
              <i class="dropdown icon"></i>
              <div class="default text">{{resourceService?.frmelmnts?.intxt?.t0006}}</div>
              <div class="menu">
                <div class="item" *ngFor="let user of participantList" [attr.data-value]="user.id">
                  <img class="ui mini avatar image"
                    src="{{user.avatar || 'assets/images/user_logo.png' | cdnprefixurl}}" alt="avatar image">
                  {{user.name}}{{user.otherDetail}}
                </div>
              </div>
            </div>
          </div>

          <div class="sb-field mt-24 mb-8">
            <label class="d-flex flex-ai-center">
              <input type="checkbox" formControlName="tncCheck" role="checkbox" class="mr-8 cursor-pointer">
              <span class="font-weight-normal fnormal">
                {{resourceService?.frmelmnts?.lbl?.agreeCourseToc | interpolate:'{instance}': instance }} <a
                  href="{{url}}/term-of-use.html#courseGuidelines" target="_blank"
                  class="sb-color-primary">{{resourceService?.frmelmnts?.lbl?.courseGuidelines}}</a></span>
            </label>
            <small class="line-height-normal d-block message sb-color-error font-weight-bold mt-8 pl-20"
              *ngIf="!createBatchForm.get('tncCheck').valid && this.createBatchForm.get('tncCheck').dirty">{{resourceService?.frmelmnts?.lbl?.courseToc}}</small>
          </div>

        </form>
      </div>
      <!--/Content-->

      <!--Actions-->
      <div class="sb-mat__modal__actions">

        <button appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" tabindex="0"
          [telemetryInteractEdata]="clearButtonInteractEdata" [telemetryInteractCdata]="telemetryCdata"
          class="sb-btn sb-btn-normal sb-btn-outline-primary mr-8" (click)="createBatchForm.reset()">
          {{resourceService?.frmelmnts?.btn?.clear}}
        </button>

        <button class="sb-btn sb-btn-normal sb-btn-primary" tabindex="0"
          [ngClass]="{'sb-btn-disabled': !createBatchForm.valid || disableSubmitBtn}" id="submitbutton"
          [disabled]="!createBatchForm.valid || disableSubmitBtn" (click)="createBatch()" appTelemetryInteract
          [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="createBatchInteractEdata"
          [telemetryInteractCdata]="telemetryCdata">
          {{resourceService?.frmelmnts?.btn?.create}}
        </button>

      </div>
      <!--/Actions-->

    </div>
  </ng-template>
</app-modal-wrapper>