<app-modal-wrapper *ngIf="showCreateModal"
  [config]="{disableClose: true, size: 'normal', width: '45rem', panelClass: ['overflow-visible', 'material-modal']}"
  (dismiss)="redirect()" #createBatchModel>
  <ng-template sbModalContent>

    <!--Header-->
    <div mat-dialog-title class="mb-0">
      <h2 class="mb-0" tabindex="0">{{resourceService?.frmelmnts.lbl.createnewbatch}}</h2>
      <button mat-mini-fab color="warn" mat-dialog-close aria-label="close dialog" class="ml-auto">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <!--/Header-->

    <!--Content-->
    <div mat-dialog-content [appTelemetryImpression]="telemetryImpression" class="create-batch-component">
      <form [formGroup]="createBatchForm" class="batchAddUserForm">
        <h3 class="color-accent font-weight-bold" tabindex="0">Batch Details</h3>
        <div class="sb-g mb-16">
          <div class="sb-g-col-xs-12 sb-g-col-md-8 sb-g-col-lg-8 sb-g-col-xxxl-8">
            <div
              [ngClass]="createBatchForm.controls['name'].invalid && createBatchForm.controls['name'].errors.required && !createBatchForm.controls['name'].pristine ? 'error': ''">
              <!-- This form field converted to angular material form field for now keeping the previous code if any error happens we can modify/revert it -->
              <!-- <label class="required">{{resourceService?.frmelmnts?.lbl?.batchname}}</label>
              <div class="sb-field">
                <input type="text" name="name" formControlName="name" class="sb-form-control" autofocus>
              </div>
              <div class="mt-0 mb-8 ui pointing red basic label below"
                *ngIf="createBatchForm.controls.name.invalid && createBatchForm.controls['name'].errors.required && !createBatchForm.controls['name'].pristine">
                {{resourceService?.messages?.stmsg?.m0114}}
              </div> -->
              <mat-form-field color="accent" class="w-100" appearance="fill">
                <mat-label>{{resourceService?.frmelmnts?.lbl?.batchname}}</mat-label>
                <input type="text" name="name" formControlName="name" aria-label="name of batch" matInput autofocus>
                <mat-error
                  *ngIf="createBatchForm.controls.name.invalid && createBatchForm.controls['name'].errors.required && !createBatchForm.controls['name'].pristine">{{resourceService?.messages?.stmsg?.m0114}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="sb-g-col-xs-12 sb-g-col-md-4 sb-g-col-lg-4 sb-g-col-xxxl-4">

            <!-- This form field converted to angular material form field for now keeping the previous code if any error happens we can modify/revert it -->
            <!-- <label class="required">{{resourceService?.frmelmnts?.cert?.lbl?.issueCertificate}}</label>
                <div class="d-flex py-8 flex-w-wrap">
                  <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
                    <input (change)="handleInputChange('issue-certificate-yes', undefined)"
                      formControlName="issueCertificate" value="yes" type="radio" id="yes">
                    <label for="yes">{{resourceService?.frmelmnts?.btn?.yes}}</label>
                  </div>
                  <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
                    <input (change)="handleInputChange('issue-certificate-no', undefined)"
                      formControlName="issueCertificate" value="no" type="radio" id="no">
                    <label for="no">{{resourceService?.frmelmnts?.btn?.no}}</label>
                  </div>
                </div> -->

            <div class="font-weight-bold mat-body-1 mb-8" tabindex="0">{{resourceService?.frmelmnts?.cert?.lbl?.issueCertificate}}</div>
            <mat-radio-group aria-label="{{resourceService?.frmelmnts?.cert?.lbl?.issueCertificate}}">
              <mat-radio-button class="mr-16" (change)="handleInputChange('issue-certificate-yes', undefined)"
                formControlName="issueCertificate" type="radio" id="yes"
                [value]="'yes'">{{resourceService?.frmelmnts?.btn?.yes}}</mat-radio-button>
              <mat-radio-button (change)="handleInputChange('issue-certificate-no', undefined)"
                formControlName="issueCertificate" type="radio" id="no"
                [value]="'no'">{{resourceService?.frmelmnts?.btn?.no}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="sb-g">
          <div class="sb-g-col-xs-12 sb-g-col-md-8 sb-g-col-lg-8 sb-g-col-xxxl-8">
            <!-- This form field converted to angular material form field for now keeping the previous code if any error happens we can modify/revert it -->
            <!-- <div class="sb-field-group">
              <div class="sb-field">
                <label>{{resourceService?.frmelmnts?.lbl?.aboutbatch}}</label>
                <textarea rows="4" name="description" formControlName="description" class="sb-form-control"></textarea>
              </div>
            </div> -->
            <mat-form-field color="accent" appearance="fill" class="w-100">
              <mat-label>{{resourceService?.frmelmnts?.lbl?.aboutbatch}}</mat-label>
              <textarea matInput rows="4" name="description" formControlName="description"
                aria-label="batch description" type="text"></textarea>
            </mat-form-field>
          </div>
          <div class="sb-g-col-xs-12 sb-g-col-md-4 sb-g-col-lg-4 sb-g-col-xxxl-4">
            <div class="mb-8" *ngIf="showDiscussionForum === 'Yes'">
              <!-- This form field converted to angular material form field for now keeping the previous code if any error happens we can modify/revert it -->
              <!-- <label>{{resourceService?.frmelmnts?.lbl?.enableDiscussions}}</label>
              <div class="d-flex py-8 flex-w-wrap">
                <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
                  <input formControlName="enableDiscussions" type="radio" id="true" value="true">
                  <label for="true">{{resourceService?.frmelmnts?.btn?.yes}}</label>
                </div>
                <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
                  <input formControlName="enableDiscussions" type="radio" id="false" value="false">
                  <label for="false">{{resourceService?.frmelmnts?.btn?.no}}</label>
                </div>
              </div> -->
              <div class="font-weight-bold mat-body-1 mb-8" tabindex="0">{{resourceService?.frmelmnts?.lbl?.enableDiscussions}}</div>
              <mat-radio-group aria-label="{{resourceService?.frmelmnts?.lbl?.enableDiscussions}}">
                <mat-radio-button class="mr-16" formControlName="enableDiscussions" type="radio" id="true"
                  [value]="true">{{resourceService?.frmelmnts?.btn?.yes}}</mat-radio-button>
                <mat-radio-button formControlName="enableDiscussions" type="radio" id="false"
                  [value]="false">{{resourceService?.frmelmnts?.btn?.no}}</mat-radio-button>
              </mat-radio-group>
            </div>
            <div>
              <div class="font-weight-bold mat-body-1 mb-8" for="Enrollment Type" tabindex="0">{{resourceService?.frmelmnts?.lbl?.natureofbatch}}</div>
              <mat-radio-group aria-label="{{resourceService?.frmelmnts?.lbl?.natureofbatch}}">
                <mat-radio-button formControlName="enrollmentType" type="radio" id="create-open"
                  [value]="'open'">{{resourceService?.frmelmnts?.lbl?.open}}</mat-radio-button>
              </mat-radio-group>
            </div>
            <!-- This form field converted to angular material form field for now keeping the previous code if any error happens we can modify/revert it -->
            <!-- <div class="d-flex flex-dc flex-w-wrap" *ngIf="courseCreator">
              <div class="mr-8">
                <label for="Enrollment Type">{{resourceService?.frmelmnts?.lbl?.natureofbatch}}</label>
              </div>
              <div class="sb-radio-btn-checkbox sb-radio-btn-primary py-8">
                <input id="create-open" type="radio" value='open' name="enrollmentType"
                  formControlName="enrollmentType">
                <label for="create-open">{{resourceService?.frmelmnts?.lbl?.open}}</label>
              </div>
            </div> -->
          </div>
        </div>


        <div class="d-flex flex-ai-center my-16"
          [ngClass]="createBatchForm.controls['startDate'].invalid && createBatchForm.controls['startDate'].errors.required && !createBatchForm.controls['startDate'].pristine ? 'error': ''">
          <div class="mr-16">
            <!-- <label class="required">{{resourceService?.frmelmnts?.lbl?.startdate}}</label> -->
            <div id="rangestartAdd">
              <mat-form-field color="accent" appearance="fill" class="mat-datepicker">
                <mat-label>{{resourceService?.frmelmnts?.lbl?.startdate}}</mat-label>
                <input matInput [matDatepicker]="startPicker" formControlName="startDate" [min]="pickerMinDate">
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
                <mat-error
                  *ngIf="createBatchForm.controls.startDate.invalid && createBatchForm.controls['startDate'].errors.required && !createBatchForm.controls['startDate'].pristine">{{resourceService?.messages?.stmsg?.m0113}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="mr-16">
            <!-- <label>{{resourceService?.frmelmnts?.lbl?.enddate}}</label> -->
            <div apply-script id="rangeendAdd">
              <mat-form-field color="accent" appearance="fill" class="mat-datepicker">
                <mat-label>{{resourceService?.frmelmnts?.lbl?.enddate}}</mat-label>
                <input matInput [matDatepicker]="endDatePicker" formControlName="endDate"
                  [min]="getPickerMinDateForEndDate()">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="createBatchForm.value.enrollmentType === 'open'"
            [ngClass]="(createBatchForm.controls['enrollmentEndDate'].invalid && !createBatchForm.controls['enrollmentEndDate'].pristine) ? 'error': ''">
            <!-- <label>{{resourceService?.frmelmnts?.lbl?.enrollmentenddate | uppercase}}</label> -->
            <div id="rangeenrollMentEnd">
              <mat-form-field color="accent" appearance="fill" class="mat-datepicker"
                [ngClass]="{'disabled': !createBatchForm.value.startDate}"
                (click)="setTelemetryCData([{id:'course:enrollment:endDate',type:'Feature'},{id:'SB-13073',type:'Task'}])">
                <mat-label>{{resourceService?.frmelmnts?.lbl?.enrollmentenddate}}</mat-label>
                <input matInput [matDatepicker]="enrollmentEndDatePicker" formControlName="enrollmentEndDate"
                  [min]="createBatchForm.value.startDate" [max]="createBatchForm.value.endDate">
                <mat-datepicker-toggle matSuffix [for]="enrollmentEndDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #enrollmentEndDatePicker></mat-datepicker>
                <mat-error
                  *ngIf="createBatchForm.controls['enrollmentEndDate'].invalid && !createBatchForm.controls['enrollmentEndDate'].pristine? 'error': ''">{{resourceService?.messages?.stmsg?.m0135}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>


        <div>
          <div class="font-weight-bold mat-body-1 mb-8" tabindex="0">{{resourceService?.frmelmnts?.lbl?.batchmentors}}</div>
          <mat-form-field color="accent" appearance="fill" class="w-100">
            <mat-select formControlName="mentors" role="listbox" multiple aria-label="mentor list" class="selection"
              (selectionChange)="selectedMultiValues($event, 'mentors')">
              <mat-select-trigger>
                <span>{{selectedMentorList ? selectedMentorList[0] : ''}} </span>
                <span *ngIf="selectedMentorList?.length >= 2" class="example-additional-selection">
                  (+{{selectedMentorList.length - 1}} {{selectedMentorList?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option role="option" *ngFor="let mentor of mentorList" [value]="mentor.id"
                attr.aria-label="{{mentor.name}}">
                <img width="32" src="{{mentor.avatar || 'assets/images/user_logo.png' | cdnprefixurl}}"
                  alt="avatar image">
                {{mentor.name}}{{mentor.otherDetail}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="mt-16" *ngIf="createBatchForm.value.enrollmentType !== 'open'">
          <div class="font-weight-bold mat-body-1 mb-8" tabindex="0">{{resourceService?.frmelmnts?.lbl?.bacthmembers}}</div>
          <mat-form-field color="accent" appearance="fill" class="w-100">
            <mat-select formControlName="users" role="listbox" multiple aria-label="participant list" class="selection"
              (selectionChange)="selectedMultiValues($event, 'participant')">
              <mat-select-trigger>
                <span>{{selectedParticipantList ? selectedParticipantList[0] : ''}} </span>
                <span *ngIf="selectedParticipantList?.length >= 2" class="example-additional-selection">
                  (+{{selectedParticipantList.length - 1}} {{selectedParticipantList?.length === 2 ? 'other' :
                  'others'}})
                </span>
              </mat-select-trigger>
              <mat-option role="option" *ngFor="let participant of participantList" [value]="participant.id"
                attr.aria-label="{{participant.name}}">
                <img width="32" src="{{mentor.avatar || 'assets/images/user_logo.png' | cdnprefixurl}}"
                  alt="avatar image">
                {{participant.name}}{{participant.otherDetail}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- This form field needs to be converted to angular material form field -->
          <div class="createbatchdropdown" id="participants">
            <input id="userSelList">
            <i class="dropdown icon"></i>
            <div class="default text">{{resourceService?.frmelmnts?.intxt?.t0006}}</div>
            <div class="menu">
              <div class="item" *ngFor="let user of participantList" [attr.data-value]="user.id">
                <img width="32" src="{{user.avatar || 'assets/images/user_logo.png' | cdnprefixurl}}"
                  alt="avatar image">
                {{user.name}}{{user.otherDetail}}
              </div>
            </div>
          </div>
        </div>

        <div class="mt-16">
          <!-- This form field needs to be converted to angular material form field -->
          <!-- <label class="d-flex flex-ai-center">
            <input type="checkbox" formControlName="tncCheck" role="checkbox" class="mr-8 cursor-pointer">
            <span class="font-weight-normal fnormal">
              {{resourceService?.frmelmnts?.lbl?.agreeCourseToc | interpolate:'{instance}': instance }} <a
                href="{{url}}/term-of-use.html#courseGuidelines" target="_blank"
                class="sb-color-primary">{{resourceService?.frmelmnts?.lbl?.courseGuidelines}}</a></span>
          </label>
          <small class="line-height-normal d-block message sb-color-error font-weight-bold mt-8 pl-20"
            *ngIf="!createBatchForm.get('tncCheck').valid && this.createBatchForm.get('tncCheck').dirty">{{resourceService?.frmelmnts?.lbl?.courseToc}}</small> -->

          <mat-checkbox color="accent" formControlName="tncCheck">
            {{resourceService?.frmelmnts?.lbl?.agreeCourseToc | interpolate:'{instance}': instance }} <a
              href="{{url}}/term-of-use.html#courseGuidelines" target="_blank"
              class="color-accent">{{resourceService?.frmelmnts?.lbl?.courseGuidelines}}</a>
          </mat-checkbox>
          <p class="color-warn mat-caption font-weight-bold mb-0 pl-24"
            *ngIf="!createBatchForm.get('tncCheck').valid && this.createBatchForm.get('tncCheck').dirty">
            {{resourceService?.frmelmnts?.lbl?.courseToc}}</p>
        </div>

      </form>
    </div>
    <!--/Content-->

    <!--Actions-->
    <mat-dialog-actions align="end">

      <button appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" tabindex="0"
        [telemetryInteractEdata]="clearButtonInteractEdata" [telemetryInteractCdata]="telemetryCdata" mat-raised-button
        class="button-rounded" (click)="createBatchForm.reset()">
        {{resourceService?.frmelmnts?.btn?.clear}}
      </button>

      <button mat-raised-button color="accent" class="button-rounded" tabindex="0" id="submitbutton"
        [disabled]="!createBatchForm.valid || disableSubmitBtn" (click)="createBatch()" appTelemetryInteract
        [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="createBatchInteractEdata"
        [telemetryInteractCdata]="telemetryCdata">
        {{resourceService?.frmelmnts?.btn?.create}}
      </button>

    </mat-dialog-actions>
    <!--/Actions-->

  </ng-template>
</app-modal-wrapper>